﻿@model HeaderLinksModel
@using Nop.Web.Models.Common;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Services.Customers;
@using Nop.Core.Domain.Customers;

@{
    var isVFMember = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.MemId;
    if (isVFMember == null || isVFMember == -1)
    {
        isVFMember = null;
    }
    var IsGuest = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.IsGuest();
    var IsMember = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.MemId;
    if (IsMember == null || IsMember == -1)
    {
        IsMember = null;
    }
}

@*Region for manual Display Screen*@
<div class="header-links" id="divShowOnManual">
    <ul>
        @Html.Widget("header_links_before")
        @if (Model.AllowPrivateMessages)
        {
            <li>
                <a href="@Url.RouteUrl("PrivateMessages", new { tab = "" })" class="ico-inbox">
                    <span class="inbox-label">@T("PrivateMessages.Inbox")</span>
                    <span class="inbox-unread">@Model.UnreadPrivateMessages</span>
                </a>
            </li>
        }
        @if (Model.ShoppingCartEnabled)
        {
            if (IsGuest || IsMember != null)
            {
                <li id="topcartlink">

                    <a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart">
                        <span class="cart-label">@T("ShoppingCart")</span>
                        <span class="cart-qty">@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</span>
                    </a>
                    @Html.Action("FlyoutShoppingCart", "ShoppingCart")

                </li>
            }
        }
        @if (Model.WishlistEnabled)
        {
            if (IsGuest || IsMember != null)
            {

                <li>
                    <a href="@Url.RouteUrl("Wishlist")" class="ico-wishlist">
                        <span class="wishlist-label">@T("Wishlist") @T("Wishlist.HeaderQuantity", Model.WishlistItems)</span>
                        @*<span class="wishlist-qty"></span>*@
                    </a>
                </li>
            }
        }

        @if (Model.IsAuthenticated)
        {
            <li id="categoryMenuLink">
                @if (!String.IsNullOrEmpty(Model.ProfilePictureUrl))
                {
                    <a href="@Url.RouteUrl("CustomerInfo")"><img src="@(Model.ProfilePictureUrl)" alt="Profile Picture" id="PofileImage" class="ProfileImage" /></a>
                }
            </li>
        }
        else
        {

        }
        @Html.Widget("header_links_after")
    </ul>

    <div id="categoryMenu-panle" class="categoryMenu-panle">
        <div class="mini-shopping-cart">
            <div class="menucount">
                @if (Model.IsAuthenticated)
                {

                    <div class="picture">
                        <img src="~/Themes/Lavella/Content/img/m-icon-account.png" alt="Profile Picture" />
                    </div>
                    <div class="Product">
                        <a href="@Url.RouteUrl("CustomerInfo")" title="@Model.CustomerEmailUsername" class="ico-account">@Model.CustomerEmailUsername</a>
                        @if (isVFMember != null && Model.Status == "In-Active")
                        {
                            <span style="color:red">@T("Customer.Status", Model.Status)</span>
                        }
                    </div>

                }
            </div>

            @if (Model.IsAuthenticated)
            {
                if (isVFMember != null)
                {
                    <div class="menucount">
                        <div class="picture">
                            <img src="~/Themes/Lavella/Content/img/desktop-icon.png" alt="Profile Picture" />
                        </div>
                        <div class="Product">
                            <a href="@Url.RouteUrl("Dashboard")" title="@T("Dashboard.Title.MyDesktop")" class="ico-Desktop">@T("Dashboard.Title.MyDesktop")</a>
                        </div>
                    </div>
                }
            }
            @if (Model.IsAuthenticated)
            {
                <div class="menucount">
                    <div class="picture">
                        <img src="~/Themes/Lavella/Content/img/icon-notice1.png" alt="Profile Picture" />
                    </div>
                    <div class="Product">
                        <a href="@Url.RouteUrl("CustomerNotifications")" class="ico-Notification" title="@T("Notifications")">
                            <span class="cart-label">@T("Notifications") (@Model.NotificationsCount)</span>
                            @*<span class="cart-qty">@T("Notifications.Count", </span>*@
                        </a>
                    </div>
                </div>
            }


            @if (Model.IsAuthenticated)
            {

                <div class="menucount">
                    <div class="picture">
                        <img src="~/Themes/Lavella/Content/img/m-icon-logout.png" alt="Profile Picture" />
                    </div>
                    <div class="Product">
                        <a href="@Url.RouteUrl("Logout")" title="@T("Account.Logout")" class="ico-logout">@T("Account.Logout")</a>
                    </div>
                </div>
            }

        </div>
    </div>


    @if (Model.AllowPrivateMessages && !string.IsNullOrEmpty(Model.AlertMessage))
    {
        //new private message notification
        <script type="text/javascript">
            $(document).ready(function () {
                displayPopupNotification('@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.AlertMessage))', 'success', false);
            });
        </script>
    }
    @if (Model.ShoppingCartEnabled)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $('.header').on('mouseenter', '#topcartlink', function () {
                    $('#flyout-cart').addClass('active');
                });
                $('.header').on('mouseleave', '#topcartlink', function () {
                    $('#flyout-cart').removeClass('active');
                });
                $('.header').on('mouseenter', '#flyout-cart', function () {
                    $('#flyout-cart').addClass('active');
                });
                $('.header').on('mouseleave', '#flyout-cart', function () {
                    $('#flyout-cart').removeClass('active');
                });

                $('.header').on('mouseenter', '#categoryMenuLink', function () {
                    $('#categoryMenu-panle').addClass('active');
                });
                $('.header').on('mouseleave', '#categoryMenuLink', function () {
                    $('#categoryMenu-panle').removeClass('active');
                });
                $('.header').on('mouseenter', '#categoryMenu-panle', function () {
                    $('#categoryMenu-panle').addClass('active');
                });
                $('.header').on('mouseleave', '#categoryMenu-panle', function () {
                    $('#categoryMenu-panle').removeClass('active');
                });
            });
        </script>
    }
    <script type="text/javascript">
        $(document).ready(function () {
            //calculate shoppingcart,wishlist,notificationcount
            var ShoppingCartItems = '@Model.ShoppingCartItems';
            var WishlistItems = '@Model.WishlistItems';
            var NotificationsCount = '@Model.NotificationsCount';
            var CustomerName = '@Model.CustomerName';
            if (ShoppingCartItems != '') {
                $("#ShoppingcartCount").html(@Model.ShoppingCartItems);
                $(".ShoppingcartCountResponsive").html(ShoppingCartItems);
                $(".ShoppingwishlistResponsive").html(WishlistItems);
                $(".ShoppingNotificationsCountResponsive").html(NotificationsCount);
                $(".CustomerNameForResponsive").html(CustomerName);
                $("#PofileImageResponsive").prop("src", "@Model.ProfilePictureUrl");
            }

            $('.header').on('mouseenter', '#notificationlink', function () {
                $('#notification-list').addClass('active');
            });
            $('.header').on('mouseleave', '#notificationlink', function () {
                $('#notification-list').removeClass('active');
            });
            $('.header').on('mouseenter', '#notification-list', function () {
                $('#notification-list').addClass('active');
            });
            $('.header').on('mouseleave', '#notification-list', function () {
                $('#notification-list').removeClass('active');
            });
        });
    </script>



</div>
@*END Region for Manual Display Screen*@

@*Region for Responsive Display Screen*@
<div class="header-links" id="divShowOnResponsive">
    <ul>
        <li class="menu-title">

        </li>
        <li class="shopping-cart-link" onclick="setLocation('@Url.RouteUrl("ShoppingCart")')">
            <span class="ShoppingcartCountResponsive"></span>

        </li>
        @if (Model.WishlistEnabled)
            {
                if (IsGuest || IsMember != null)
                {
                <li class="ico-wishlist" onclick="setLocation('@Url.RouteUrl("Wishlist")')">
                    <span class="ShoppingwishlistResponsive"></span>

                </li>
            }
        }
        <li class="ico-Notification" onclick="setLocation('@Url.RouteUrl("CustomerNotifications")')">
            <span class="ShoppingNotificationsCountResponsive"></span>

        </li>
        @if (Model.IsAuthenticated)
            {
                if (isVFMember != null)
                {
                <li class="ico-Desktop" onclick="setLocation('@Url.RouteUrl("Dashboard")')">
                </li>
            }
        }
    </ul>
</div>
@*END Region for Responsive Display Screen*@