﻿@model LogoModel
@using Nop.Web.Models.Common;
@{
    var lavellaLogo = @Html.Widget("lavella_theme_logo");
}

@*<div class="header-logo">*@
    <a href="@Url.RouteUrl("homepage")" class="logo">
        @*@if (!MvcHtmlString.IsNullOrEmpty(lavellaLogo))
        {
            @lavellaLogo
        }
        else
        {*@
            <img title="" alt="@Model.StoreName" src="@Model.LogoPath">
        @*}*@
    </a>
@*</div>*@