﻿.center-1 .social-feed {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.social-feed .title {
    padding: 10px;
    margin: 0 0 45px;
    font-size: 22px;
    border-bottom: 1px solid #f1f1f1;
    text-align: center;
}
.social-feed .title span {
    font-weight: normal;
    color: #4d4d4d;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.home-page-blog-social-wrapper .social-feed {
    padding: 0 0 15px;
    position: relative;
}
.side-2 .social-feed .title {
    padding: 7px 0;
    margin: 0 0 20px;
    border-bottom: 4px double #f1f1f1;
    text-align: inherit;
}
.side-2 .social-feed .title span {
    font-weight: normal;
    display: block;
    color: #4d4d4d;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal !important;
    text-transform: uppercase;
    letter-spacing: initial;
}
.social-feed .post-buttons {
    display: none;
}

.footer-upper .social-feed {
    border: 4px double #f1f1f1;
}
.footer-upper .social-feed .title {
    margin: 45px 30px 20px;
    overflow: hidden;
    padding: 0;
    border: none;
    font-size: 18px;
}
.footer-upper .social-feed .title span {
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.social-feed img {
    max-width: 100%;
}
.social-feed .sub-title {
    margin: 0 20px 40px;
    font-size: 15px;
    font-style: italic;
    font-family: 'Droid Serif', serif;
    color: #909090;
    font-weight: normal;
    text-align: center;
}
.social-feed .sub-title a {
    color: #e56363;
}
.social-feed .sub-title a:hover {
    text-decoration: underline;
}

.instagram-feed .post-list {
    font-size: 0;
    margin: 0 6px 40px;
    text-align: center;
}
.instagram-feed .post-list li {
    display: inline-block;
    width: 108px;
    height: 108px;
    font-size: initial;
    margin: 0 4px 8px;
}
.instagram-feed .post-list a {
    display: block;
}
.instagram-feed .post-list li img {
    max-width: 100%;
    max-height: 100%;
}
.side-2 .instagram-feed .post-list {
    margin: 0 0 30px;
}

.twitter-feed,
.facebook-feed,
.google-feed,
.pinterest-feed {
    max-width: 590px;
}
.post-item {
    position: relative;
    margin: 0 0 50px;
}
.twitter-feed .post-item:last-child {
    margin-bottom: 0;
}
.post-head {
    overflow: hidden;
    padding: 0 90px 0 0;
    margin: 0 0 15px;
    position: relative;
}
.author-date-wrap {
    overflow: hidden;
    margin: 0 0 0 65px;
}
.social-feed .avatar-wrap {
    display: block;
    width: 48px;
    height: 48px;
    float: left;
}
.social-feed .avatar-link {
    display: block;
}
.google-feed .avatar-img {
    border-radius: 50%;
}

.social-feed .author-name a {
    display: block;
    padding: 6px 0;
    font-size: 14px;
    text-align: left;
    -webkit-transition: all .20s ease-in-out;
    -moz-transition: all .20s ease-in-out;
    transition: all .20s ease-in-out;
}
.social-feed .author-name a:hover {
    color: #e56363;
}
.post-date-wrap {
    position: absolute;
    top: 6px;
    right: 0;
}
.twitter-feed .post-body {
    font-size: 14px;
    line-height: 20px;
    color: #909090;
    margin: 0;
    text-align: left;
}
.post-img-link {
    display: block;
    position: relative;
    line-height: 0;
    font-size: 0;
}
/*.youtube-video:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3) url('../../../Images/video.png') no-repeat center;
    z-index: 2;
}*/
.twitter-feed .post-body a {
    color: #e56363;
    -webkit-transition: all .20s ease-in-out;
    -moz-transition: all .20s ease-in-out;
    transition: all .20s ease-in-out;
}
.twitter-feed .post-body a:hover {
    text-decoration: underline;
}
.twitter-feed .post-body img {
    margin: 10px 0;
}

.home-page-blog-social-wrapper .post-list-wrap {
    max-height: 560px;
    position: relative;
}
.home-page-blog-social-wrapper .facebook-feed .feed-body,
.home-page-blog-social-wrapper .google-feed .feed-body {
    border-top: 10px solid #f1f1f1;
    border-bottom: 10px solid #f1f1f1;
 }
.home-page-blog-social-wrapper .facebook-feed .post-item,
.home-page-blog-social-wrapper .google-feed .post-item {
    border: 10px solid #f1f1f1;
    border-top: none;
    padding: 10px 10px 0;
    margin: 0;
}
.home-page-blog-social-wrapper .facebook-feed .post-item .post-body,
.home-page-blog-social-wrapper .google-feed .post-item .post-body {
    margin: 0 0 10px;
} 
.home-page-blog-social-wrapper .facebook-feed .post-item:last-child,
.home-page-blog-social-wrapper .google-feed .post-item:last-child {
    border-bottom: none;
    padding-bottom: 1px;
}
.home-page-blog-social-wrapper .ss-container {
    padding: 0 20px 0 0;
}
.home-page-blog-social-wrapper .facebook-feed .ss-container,
.home-page-blog-social-wrapper .google-feed .ss-container,
.home-page-blog-social-wrapper .pinterest-feed .ss-container  {
    padding: 0;
}
.home-page-blog-social-wrapper .sub-title {
    display: none;
}
/*.home-page-blog-social-wrapper .social-feed {
    width: 100%;
}*/
.home-page-blog-social-wrapper .pinterest-feed .post-item {
    margin: 0 10px 10px 0;
    background: #fff;
}
.home-page-blog-social-wrapper .pinterest-feed .feed-body {
    padding: 10px 0 10px 10px;
    background: #f1f1f1;
}

.footer-upper .twitter-feed .post-list,
.footer-upper .facebook-feed .post-list,
.footer-upper .google-feed .post-list  {
    padding: 0 30px;
    max-height: 209px;
    overflow: hidden;
    overflow-y: auto;
    margin: 0 0 30px;
}

.pinterest-feed .post-info-wrap {
    overflow: hidden;
    margin: 5px 0 0;
    padding: 0 5px 5px;
}
.pinterest-feed .avatar-img {
    border-radius: 50%;
}
.pinterest-feed .author-board-wrap {
    margin: 0 0 0 55px;
    text-align: left;
}


.home-page-blog-social-wrapper{
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.ss-wrapper {
  overflow : hidden;
  height   : 100%;
  position : relative;
  z-index  : 1;
}
.ss-content {
    height: 100%;
    position: absolute;
    overflow: auto;
    left: 0;
    right: -17px;
}

.ss-scroll {
    position: absolute;
    right: 1px !important;
    width: 9px;
    background: #999;
    border-radius: 4px;
    top: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}
.ss-scroll {
    opacity: 1;
}
.ss-container:hover .ss-scroll,
.ss-container:active .ss-scroll {
    opacity: 1;
}
.ss-hidden {
    display: none;
}

@media all and (min-width: 481px) {

    .home-page-blog-social-wrapper .pinterest-feed .post-item {
        width: calc(50% - 10px);
    }
    .pinterest-feed .post-item {
        width: calc(50% - 30px);
        margin: 0 10px 20px;
    }
}

@media all and (min-width: 1001px) {

    .center-1 .social-feed {
        width: 1000px;
    }
    .instagram-feed .post-list {
        margin: 0 12px 45px;
    }
    .instagram-feed .post-list li {
        display: inline-block;
        width: 128px;
        height: 128px;
    }

    .ss-container:after {
        content: '';
        position: absolute;
        top: 0;
        right: 1px;
        bottom: 0;
        width: 9px;
        border-radius: 4px;
        background: #ececec;
    }

}
@media all and (min-width: 1281px) {

    .center-1 .social-feed {
        width: 1200px;
    }


}



/***************************

    SOCIAL FEED PAGE CSS
    
***************************/

/* LOADER */

.feed-loader-wrapper {
    display: none;
}

.feeds-page img {
    max-width: 100%;
}

.feeds-page .page-title {
    position: static;
    margin: 0;
    border: none;
    padding: 10px 10px 20px;
}
.social-feed-all-body .master-column-wrapper {
    padding: 0;
}

@media all and (max-width: 1000px) {

    .feeds-nav {
        display: none;
    }
    .mobile-feeds-nav {
        max-width: 360px;
        margin: 25px auto;
    }
    .mobile-feeds-nav select,
    .mobile-feeds-nav .custom-select {
        width: 100%;
    }

}

.feeds-page .page-body {
    padding: 30px 20px;
    background: #f8f8f8;
}
    .feeds-page .page-body.no-feeds {
        background: none;
        padding: 0 30px;
    }
    .feeds-page .no-active-feeds {
        text-align: center;
        font-size: 16px;
    }
.feeds-page .feeds-post-item {
    width: 100%;
    background: #fff;
    overflow: hidden;
    padding: 12px;
    margin: 20px 0 0;
    opacity: 0;
    box-shadow: 0px 0px 25px rgba(150, 150, 150,0.2);
    -webkit-transition: opacity .3s ease-in-out, box-shadow .3s ease-in-out;
    transition: opacity .3s ease-in-out, box-shadow .3s ease-in-out;
}
    .feeds-page .feeds-post-item.shown {
        opacity: 1;
    }
    .feeds-page .feeds-post-item:first-child {
        margin-top: 0;
    }
.feeds-page .post-head {
    font-size: 0;
    padding: 0;
}
.feeds-page .author-avatar {
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    overflow: hidden;
}
.feeds-page .author-avatar-link {
    overflow: hidden;
    display: block;
}
.feeds-page .googleplus-item .author-avatar-img,
.feeds-page .pinterest-item .author-avatar-img {
    border-radius: 50%;
}
.feeds-page .author-info {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 57px);
    margin-left: 12px;
}
.feeds-page .author-name {
    font-size: 13px;
    font-weight: 700;
    color: #6f6f6f;
}
.feeds-page .post-date-wrap {
    position: static;
    margin: 5px 0 0;
    font-size: 12px;
}
.feeds-page .post-body {
    text-align: left;
}
.feeds-page .instagram-item .post-body {
    margin: 0;
}
.feeds-page .instagram-item .instagram-img-wrap {
    text-align: center;
}
.feeds-page .instagram-item .instagram-link {
    display: block;
}
.feeds-page .post-head + .post-body {
    margin: 12px 0 0;
}
.feeds-page .attachment-title {
    font-size: 13px;
    color: #6f6f6f;
    padding: 0 5px;
}
.feeds-page .attachment-img-wrap + .attachment-title {
    margin-top: 18px;
}
.feeds-page .post-attachment-description {
    font-size: 13px;
    line-height: 1.4;
    padding: 0 5px;
}
.feeds-page .attachment-img-wrap + .post-attachment-description, 
.feeds-page .attachment-title + .post-attachment-description {
    margin: 10px 0 0;
}
.feeds-page .post-text {
    font-size: 13px;
    line-height: 1.4;
    padding: 0 5px;
    overflow: hidden;Q
}
.feeds-page .post-text a {
    color: #e56363;
}
.feeds-page .post-attachment + .post-text {
    margin: 10px 0 0;
}
.feeds-page .post-buttons {
    position: relative;
    height: 34px;
    margin: 12px -12px -12px;
}
.feeds-page .post-buttons a {
    display: block;
    height: 34px;
    padding: 0 35px 0 20px;
    background: url('images/feeds-page-sprite.png') no-repeat top right;
    line-height: 34px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
}

.feeds-page .facebook-item .post-buttons a {
    background-color: #3b5998;
    background-position: top -58px right 6px;
}
.feeds-page .twitter-item .post-buttons a {
    background-color: #55acee;
    background-position: top 10px right 10px;
}
.feeds-page .instagram-item .post-buttons a {
    background-color: #125688;
    background-position: top -25px right 10px;
}
.feeds-page .pinterest-item .post-buttons a {
    background-color: #cb2027;
    background-position: top -125px right 8px;
}
.feeds-page .googleplus-item .post-buttons a {
    background-color: #dd4b39;
    background-position: top -92px right 10px;
}


@media all and (min-width: 481px) {

    .feeds-page .page-body {
    }
    .feeds-page .feeds-post-item-sizer {
        width: 50%;
    }
    .feeds-page .feeds-post-item {
        width: calc(50% - 20px);
        margin: 0 10px 30px;
    }

}

@media all and (min-width: 769px) {


    .feeds-page .page-body {
    }
    .feeds-page .feeds-post-item-sizer {
        width: 33.33%;
    }
    .feeds-page .feeds-post-item {
        width: calc(33.33% - 20px);
    }

}

/* desktop */

    .desktop .feeds-page {
        min-height: 500px;
    }

@media all and (min-width: 1001px) {

    .mobile-feeds-nav {
        display: none !important;
    }
    .feeds-page .feeds-nav {
        font-size: 0;
        padding: 3px 0 0;
        text-align: center;
        position: relative;
    }
    .feeds-page .feeds-nav:before {
        content: '';
        display: block;
        height: 4px;
        border-top: 4px double #f1f1f1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
    .feeds-page .feeds-nav-item {
        display: inline-block;
        min-width: 100px;
        max-width: 100%;
        font-size: 14px;
        text-transform: uppercase;
        padding: 19px;
        border-top: 1px solid #f1f1f1;
        cursor: pointer;
        -webkit-transition: color .15s ease-in-out;
        transition: color .15s ease-in-out;
    }
    .feeds-page .feeds-nav-item.active {
        border-color: #e56363;
    }

}

@media all and (min-width: 1281px) {

    .feeds-page .feeds-post-item-sizer {
        width: 25%;
    }
    .feeds-page .feeds-post-item {
        width: calc(25% - 20px);
    }

    .feeds-page .feeds-nav-item {
        padding: 19px 30px;
    }

}