﻿@using Nop.Admin.Models.Blogs;

@model BlogPostModel

@{
    //page title
    ViewBag.Title = T("Admin.ContentManagement.Blog.BlogPosts.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Blog posts");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.ContentManagement.Blog.BlogPosts.AddNew")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.ContentManagement.Blog.BlogPosts.BackToList").Text, "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" id="btnSave" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" id="btnSaveContinew" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>

    </div>

    @Html.Partial("~/Plugins/SevenSpikes.Nop.Plugins.RichBlog/Views/BlogAdmin/_CreateOrUpdate.cshtml", Model)
    <script type="text/javascript">
        $("#validationMessages").hide();
        $('#btnSave').click(function () {



            $('#validationMessages').html('');
            $("#validationMessages").hide();
            var validationDivs = '';
            var flag = true;
            var StartDate = new Date(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));/// value on EnteredDate CreatedOnFrom

            var EndDate = new Date(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime")); /// value on EnteredFromdate CreatedOnTo

            var StartDate = new Date(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));/// value on EnteredDate CreatedOnFrom

            var EndDate = new Date(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime")); /// value on EnteredFromdate CreatedOnTo

            if (StartDate == 'Invalid Date') {
                validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterStartDate")</div>';
                flag = false;
            }
            if (EndDate == 'Invalid Date') {
                validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterEndDate")</div>';
                flag = false;
            }
            if (EndDate < StartDate) {
                validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                flag = false;
            }


            if (flag) {

                $("#HStartDate").val(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                $("#HEndDate").val(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                $("#validationMessages").hide();
                $('#validationMessages').html('');
            } else {
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
                return false;
            }
        });
        $("#validationMessages").hide();
        $('#btnSaveContinew').click(function () {
            $('#validationMessages').html('');
            $("#validationMessages").hide();
            var validationDivs = '';
            var flag = true;
            var StartDate = new Date(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));/// value on EnteredDate CreatedOnFrom

            var EndDate = new Date(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime")); /// value on EnteredFromdate CreatedOnTo

            var StartDate = new Date(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));/// value on EnteredDate CreatedOnFrom

            var EndDate = new Date(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime")); /// value on EnteredFromdate CreatedOnTo

            if (StartDate == 'Invalid Date') {
                validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterStartDate")</div>';
                flag = false;
            }
            if (EndDate == 'Invalid Date') {
                validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterEndDate")</div>';
                flag = false;
            }
            if (EndDate < StartDate) {
                validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                flag = false;
            }

            if (flag) {

                $("#HStartDate").val(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                $("#HEndDate").val(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                $("#validationMessages").hide();
                $('#validationMessages').html('');
            } else {
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
                return false;
            }
        });
    </script>

}