﻿@using Nop.Plugin.Api.Constants
@using Nop.Web.Framework
@using Nop.Plugin.Api.Models
@using Nop.Web.Framework.UI
@{
    <script type="text/javascript">
    var bt = '@Nop.Plugin.Api.Classes.CommonFunctions.TokenHeaderValue()'; apiPath = '@Url.Content("~")api';
    </script>


    Html.AppendCssFileParts("~/Plugins/Nop.Plugin.Api/Content/common.min.css");
    Html.AppendCssFileParts("~/Plugins/Nop.Plugin.Api/Content/module.min.css");

    Html.AddScriptParts("~/Plugins/Nop.Plugin.Api/Scripts/module.min.js");
    //Html.AddScriptParts("~/Plugins/Nop.Plugin.Api/Scripts/common.min.js");
    Layout = "~/Plugins/Nop.Plugin.Api/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Cash Deposit Confirmation";
    ViewBag.PageTitle = "Cash Deposit Confirmation";
    ViewBag.Breadcrumb_L1 = "Cash Deposit Confirmation";
    ViewBag.Breadcrumb_L2 = "";
    ViewBag.Breadcrumb_L3 = "";

}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet box red-thunderbird">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-search no-margin-tb"></i>Search
                    </div>
                    <div class="tools">
                        <a class="expand" href="javascript:;" data-original-title="" title=""></a>
                    </div>
                </div>
                <div class="portlet-body" style="display: none;">
                    @using (Html.BeginForm("CashDepositConfirmation", "AdminRecharge", FormMethod.Get, new { @id = "frmCashDepositConfirmation", @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <select id="selSearchOpt" name="selSearchOpt" class="pull-right col-sm-4 col-xs-12">
                                    <option value="1">Member Name</option>
                                    <option value="2">Member ID</option>
                                    <option value="3">Mobile No</option>
                                    <option value="4">Code</option>
                                </select>
                            </div>
                            <div class="clearfix margin-bottom-5 hidden-sm hidden-md hidden-lg"></div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <input type="text" id="SearchText" name="SearchText" class="form-control col-sm-6 col-xs-12" placeholder="Enter Search text...">
                            </div>
                            <div class="clearfix margin-bottom-5"></div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="Status" class="col-sm-6 control-label"><span class="text-red">*&nbsp;</span>Status</label>
                                <div class="col-sm-6 col-xs-12">
                                    <select id="selStatus" name="selStatus" class="width-100p">
                                        <option value="3">All Record(s)</option>
                                        <option value="0">Initiated</option>
                                        <option value="1">Approved</option>
                                        <option value="2">Rejected</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="FromDate" class="col-sm-6 control-label"><span class="text-red">*&nbsp;</span>Period</label>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="col-md-4 col-sm-4 col-xs-11 pull-left no-padding" id="FromDt">
                                        <input type="text" id="FromDate" name="FromDate" class="form-control" placeholder="" />
                                    </div>
                                    <div class="pull-left"><label class="control-label">&nbsp;to&nbsp;</label></div>
                                    <div class="clearfix margin-bottom-5"></div>
                                    <div class="col-md-4 col-sm-4 col-xs-11 pull-left no-padding" id="ToDt">
                                        <input type="text" id="ToDate" name="ToDate" class="form-control" placeholder="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">
                                <button id="btnSearch" name="btnSearch" type="submit" class="btn green lighten-1 pull-right" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>&nbsp;Please wait...">Search</button>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <button id="clearFilter" name="clearFilter" type="button" class="btn pull-left">Clear</button>
                            </div>
                            <div class="clearfix margin-bottom-5"></div>
                        </div>
                    }
                </div>
            </div>
        </div>
        @using (Html.BeginForm("CashDepositConfirmation", "AdminRecharge", FormMethod.Get, new { @id = "frmCashDepositChangeStatus", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title pull-left">Results</h4>
                        <a class="btn btn-sm btn-neutral text-warning no-padding-tb" href="#" id="refresh-adminusers" title="Reload">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-refresh fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </div>
                    <div class="content viewuser-content">
                        <table id="tableResults" class="table table-striped table-bordered display responsive nowrap" border="0" cellpadding="6"></table>
                        <br />
                        <br />
                        <div class="col-xs-12 col-sm-7 col-md-5 no-float center-block">
                            <div class="form-group">
                                <label for="Remarks" class="col-sm-6 control-label"><span class="text-red">*&nbsp;</span>Remarks</label>
                                <div class="col-sm-6 col-xs-12">
                                    <textarea id="Remarks" name="Remarks" class="form-control col-sm-6 col-xs-12 character-counter" placeholder="Enter remarks..." maxlength="500"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="no-float center-block text-center approve-reject-buttons" style="display:none">
                <button id="btnApprove" type="submit" name="btnApprove" class="btn blue" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>&nbsp;Please wait...">
                    <span class="btn-label">
                        <i class="fa fa-check"></i>
                    </span>
                    Approve
                </button>
                <button id="btnReject" type="submit" name="btnReject" class="btn btn-danger" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>&nbsp;Please wait...">
                    <span class="btn-label">
                        <i class="fa fa-times"></i>
                    </span>
                    Reject
                </button>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
        var $btn = null,
            sblbtn = null,
            obj = '#tableResults',
            formId = '#frmCashDepositConfirmation',
            actionFormId = '#frmCashDepositChangeStatus',
            startTime = null,
            infoSeperator = '<span class="span-seperator">&nbsp;|&nbsp;</span><span class="span-break"><br /></span>',
            ApproveFlag = false;

        $(document).ready(function (e) {
            sblbtn = $("#btnSearch");
            debugger;
            $(".dt-export-info").hide();
            $('#FromDate, #ToDate').datetimepicker({ format: 'DD/MM/YYYY' });

            var dtResultsTable = {
                dt: null,
                init: function () {
                    dt = $(obj).on('error.dt', function (e, settings, techNote, message) {
                        bootalert(dataTablesErrorMessage, 'error');
                        //console.log('message - ' + message);
                        $(obj).find('tbody').html('<tr class="odd"><td valign="top" colspan="' + $(obj).find('thead').find('th').length + '" class="dataTables_empty"><span class="text-red"><i class="fa fa-frown-o"></i>&nbsp;No records to display.</span></td></tr>');
                    }).on('init.dt', function () {
                        //console.log('Table initialisation complete: ' + new Date().getTime());
                        $(obj).find('th').eq(0).removeClass("sorting_asc");
                    }).on('draw.dt', function () {
                        //console.log('Table draw complete: ' + new Date().getTime());
                        $(obj).find('th').eq(0).removeClass("sorting_asc");
                        if ($("input.chkrow").length <= 0) {
                            $("#chkSelAll").hide();
                            $(".approve-reject-buttons").hide();
                        }
                        else {
                            $("#chkSelAll").show();
                            $(".approve-reject-buttons").show();
                        }
                    }).DataTable({
                        bSort: false,
                        fnServerParams: function (aoData) {
                            aoData.search.value = '';
                            var searchCondition = $("#selSearchOpt :selected").val();
                            var searchText = $('#SearchText').val().trim();
                            aoData.search.value = searchCondition + "|" + searchText + "|" + $("#selStatus :selected").val() + "|" + $("#FromDate").val().trim() + "#" + $("#ToDate").val().trim();
                            //alert(aoData.search.value);
                        },
                        ajax: {
                            url: "GetCashDepositConfirmationListJson",
                            type: "POST",
                            beforeSend: function (xhr) {
                                startTime = new Date().getTime();
                                //console.log('beforesend startTime - ' + startTime);
                                DatatablesAjaxBeforeSend(sblbtn, obj, 'div.viewuser-content');
                                $btn = sblbtn.button('loading');
                            },
                            complete: function (xhr) {
                                DatatablesAjaxComplete(startTime, sblbtn, obj, infoSeperator, 'div.viewuser-content');
                                $btn.button('reset');
                            }
                        },
                        columns: [
                            {
                                //checkbox column
                                title: "<input id='chkSelAll' name='chkSelAll' value='1' type='checkbox' style='display:none'>",
                                name: "",
                                data: null,
                                className: 'text-center no-export',
                            },
                            {
                                title: "Code",
                                name: "Code",
                                data: "TxnCode",
                                className: 'text-center',
                            },
                            {
                                title: "Date-time",
                                name: "Date-time",
                                className: 'text-center no-export',
                                "render": function (data, type, row, meta) {
                                    return ConvertDateFromJson(row.ApplicationDtm, 'date');
                                }
                            },
                            {
                                title: "Name",
                                name: "Name",
                                data: "CustomerName",
                                className: 'no-export',
                                "render": function (data, type, row, meta) {
                                    var s = '';
                                    s = row.CustomerName + '<br /><span class="text-warning">Member ID</span>: ' + (row.MemNo == null ? "-" : row.MemNo) + '<br /><span class="text-warning">Mobile No</span>: ' + (row.Mobile_No == null ? "-" : row.Mobile_No);
                                    return s;
                                }
                            },
                            {
                                title: "Amount(s)",
                                name: "Amount(s)",
                                data: "RequestedAmount",
                                className: 'no-export',
                                "render": function (data, type, row, meta) {
                                    var s = '';
                                    s = '<span class="text-warning">Requested Amount</span>: Rs.' + row.RequestedAmount + '/-<br /><span class="text-warning">Approved Amount</span>: ' + (row.ApprovedAmount == 0 ? '-' : '<span class="text-danger">Rs.' + row.ApprovedAmount + '/-</span>');
                                    return s;
                                }
                            },
                            {
                                title: "Details",
                                name: "Details",
                                data: "State",
                                className: 'no-export',
                                "render": function (data, type, row, meta) {
                                    var s = '';
                                    s = '<span class="text-warning">Bank Name</span>: ' + (row.BankName == null ? '-' : row.BankName) + '<br /><span class="text-warning">Branch</span>: ' + (row.BranchName == null ? '-' : row.BranchName) + '<br /><span class="text-warning">IFSC Code</span>: ' + (row.IfscCode == null ? '-' : row.IfscCode) + '<br /><span class="text-warning">Proof</span>: ' + (row.AttachmentPath == null ? '-' : '<a href="' + virtualPath + row.AttachmentPath + '" class="text-danger" target="_blank">View</a>');
                                    return s;
                                }
                            },
                            {
                                title: "Status",
                                name: "Status",
                                data: "StatusName",
                                className: 'text-center',
                                "render": function (data, type, row, meta) {
                                    return row.Status == 0 ? row.StatusName : (row.Status == 1 ? '<span class="text-success">' + row.StatusName + '</span>' : '<span class="text-danger">' + row.StatusName + '</span>');
                                }
                            },
                            {
                                title: "Amount to Approve",
                                name: "Amount to Approve",
                                data: null,
                                className: 'text-center',
                                "render": function (data, type, row, meta) {
                                    var s = '<input type="text" id="txt_' + meta.row + '" name="txt_' + meta.row + '" data-id="' + row.Id + '" data-txncode="' + row.TxnCode + '" class="amount-to-approve" value="' + row.RequestedAmount + '" maxlength="10" style="width:100px" />';
                                    if (row.Status != 0)
                                        s = 'Remark(s)</br /><textarea class="form-control" readonly col=30 rows=4>' + row.Remarks + '</textarea>';
                                    return s;
                                }
                            },
                        ],
                        columnDefs: [{
                            orderable: false,
                            searchable: false,
                            className: 'no-export text-center',
                            targets: 0,
                            render: function (data, type, row, meta) {
                                var chk = '<input class="chkrow" type="checkbox" data-id="' + row.Id + '" />';
                                if (row.Status != 0)
                                    chk = "";
                                return chk;
                            },
                        }],
                        //buttons: [
                        //    {
                        //        extend: 'excel',
                        //        title: 'Member List',
                        //        filename: 'Member_list_' + GetCurrentTimeStamp(),
                        //        action: function (e, dt, node, config) {
                        //            ExportDatatablesData(dt, 'div.viewuser-content', config);
                        //        }
                        //    },
                        //],
                        fnRowCallback: function (nRow, aData, iDisplayIndex) {
                            // Get row ID
                            var rowId = aData[0];

                            // If row ID is in the list of selected row IDs
                            DataTablesCheckboxIsSelected(rowId, rows_selected, nRow);

                            //var oSettings = (this.fnSettings) ? this.fnSettings() : this;
                            //$("td:first", nRow).html(oSettings._iDisplayStart + iDisplayIndex + 1);
                            //return nRow;
                        },
                        fnInfoCallback: function (oSettings, iStart, iEnd, iMax, iTotal, sPre) {
                            return DatatablesInfoCallback(obj, infoSeperator, oSettings, iStart, iEnd, iMax, iTotal, sPre);
                        },
                        language: {
                            searchPlaceholder: 'Search by Name, Status',
                        },
                    });
                },
                refresh: function () {
                    dt.ajax.reload();
                }
            }

            $('#refresh-adminusers').on("click", dtResultsTable.refresh);

            // Array holding selected row IDs
            var rows_selected = [];

            /////////////////////////////////////////////////////////////////
            // Let's kick it all off
            dtResultsTable.init();

            DataTablesCustomClasses(obj);

            // Handle click on checkbox
            DataTablesHandleEachCheckboxClick("tableResults", rows_selected, "chkSelAll", dt);

            // Handle click on table cells with checkboxes
            //DataTablesHandleCheckboxTableCellClick('tableResults');

            // Handle click on "Select all" control
            DataTablesHandleSelectAllClick('tableResults', "chkSelAll", dt);

            // Handle form submission event
            $(formId).on('submit', function (e) {
                var isvalidate = $(this).valid();
                if (isvalidate) {
                    $(obj).dataTable().fnDraw();

                    $(obj).DataTable()
                        .columns.adjust()
                        .responsive.recalc();

                    return false;
                }
            });

            $('#selSearchOpt').on('change', function (e) {
                var val = parseInt($(this).val());
                $('#SearchText').val('');
            });

            $(formId).validate({
                rules: {
                    SearchText: {
                        required: {
                            depends: function () {
                                $(this).val($(this).val().trim());
                                //if (document.getElementById("selSearchOpt").value == 1 || document.getElementById("selSearchOpt").value == 3)
                                //    return true;
                                //else
                                return false;
                            }
                        },
                        regex: /^[a-zA-Z0-9\.\s\(\)]+$/,
                        rangelength: [2, 100]
                    },
                    FromDate: {
                        required: {
                            depends: function () {
                                if ($("#ToDate").val().trim() != '')
                                    return true;
                                else
                                    return false;
                            }
                        },
                        regex: /^[0-9\/]+$/,
                        rangelength: [10, 10]
                    },
                    ToDate: {
                        required: {
                            depends: function () {
                                if ($("#FromDate").val().trim() != '')
                                    return true;
                                else
                                    return false;
                            }
                        },
                        regex: /^[0-9\/]+$/,
                        rangelength: [10, 10]
                    },
                },
                messages: {
                    SearchText: {
                        required: "Enter your text to search.",
                        //regex: "Only alphabets (a-z) and numbers (0-9) are allowed.",
                        rangelength: "Search text should be {0}-{1} characters."
                    },
                    FromDate: {
                        required: "Enter From date.",
                    },
                    ToDate: {
                        required: "Enter To date.",
                    },
                }
            });

            $('#clearFilter').on('click', function (e) {
                window.location = '@Request.Url';
            });

            window.ReloadDataGrid = function () {
                ReloadDataTable(obj);
            }

            $('#btnApprove').on('click', function (e) {
                ApproveFlag = true;
                sblbtn = $('#btnApprove');
                $(actionFormId).submit();
                e.preventDefault();
            });

            $('#btnReject').on('click', function (e) {
                ApproveFlag = false;
                sblbtn = $('#btnReject');
                $(actionFormId).submit();
                e.preventDefault();
            });

            // Handle form submission event
            $(actionFormId).on('submit', function (e) {
                var isvalidate = false;
                var counter = 0;
                var amtcounter = 0;
                var allVals = [];
                var allAmts = [];

                $("#tableResults input[class*='chkrow']:checkbox").each(function (index) {
                    var _this = this;
                    if ($(_this).prop('checked')) {
                        counter++;
                        allVals.push($(_this).data("id"));
                        if ($(_this).closest('tr').find('input.amount-to-approve').length > 0 && ApproveFlag) {
                            var val = $(_this).closest('tr').find('input.amount-to-approve').val();
                            if (val != '' && val != '0' && !isNaN(val)) {
                                amtcounter++;
                                allAmts.push(val);
                            }
                        }
                        else
                            allAmts.push(0);
                    }
                });

                if (counter > 0)
                    isvalidate = true;
                else {
                    alert("Select at least one checkbox.");
                    isvalidate = false;
                }
                if (isvalidate) {
                    if (amtcounter == counter)
                        isvalidate = true;
                    else if (ApproveFlag) {
                        alert("Enter valid Amount for selected record(s).");
                        isvalidate = false;
                    }
                }
                if (isvalidate) {
                    if ($("#Remarks").val().trim() == '') {
                        alert("Enter Remarks.");
                        isvalidate = false;
                    }
                    else if ($("#Remarks").val().trim().length > 500) {
                        alert("Remarks should be less than or equal to 500 characters.");
                        isvalidate = false;
                    }
                }
                //alert('ApproveFlag = ' + ApproveFlag + '  ,  DeviatonFlag = ' + DeviatonFlag + '  ,  RejectFlag = ' + RejectFlag);
                //isvalidate = false;
                if (isvalidate) {
                    var obj = new Object();
                    obj.s = allVals.toString() + "|" + allAmts.toString();
                    obj.returnJSON = ApproveFlag;
                    //alert(JSON.stringify(obj))
                    obj.s = StringEncryption(obj.s);
                    obj.r = StringEncryption($("#Remarks").val().trim());

                    //return false;
                    //e.preventDefault();

                    var $btn = sblbtn.button('loading');
                    sblbtn.prop("disabled", true);

                    $.ajax({
                        url: "api/UpdateCashDepositRequestStatus",
                        type: "POST",
                        data: obj,
                        success: function (data, textStatus, xhr) {
                            $btn.button('reset')
                            sblbtn.prop("disabled", false);
                            bootalert('Request status updated successfully.', 'success');
                            setTimeout(function () {
                                window.location = '@Request.Url';
                            }, 2000);
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            if (errorThrown == '')
                                errorThrown = 'Connection is not available.';
                            $btn.button('reset')
                            sblbtn.prop("disabled", false);
                            bootalert(errorThrown, 'error');
                        }
                    });
                }
                e.preventDefault();
            });
        });

</script>
@*@section scripts {
    
}*@
