﻿@model Nop.Plugin.Api.Models.Recharge.CashDepositConfirm
@using Nop.Plugin.Api.Constants
@using Nop.Web.Framework
@using Nop.Plugin.Api.Models
@using Nop.Web.Framework.UI
@using Nop.Core.Infrastructure
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    Layout = "~/Plugins/Nop.Plugin.Api/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Cash Deposit Confirmation";
    ViewBag.PageTitle = "Cash Deposit Confirmation";
    ViewBag.Breadcrumb_L1 = "Cash Deposit Confirmation";
    ViewBag.Breadcrumb_L2 = "";
    ViewBag.Breadcrumb_L3 = "";

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.SelectedValues)
    @Html.HiddenFor(m => m.selectedIds)
    @Html.HiddenFor(m => m.EwalletList)

    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.MemberReport.CashDepositConfirmation")
        </h1>
        <div class="pull-right">
            <div class="btn-group">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            @Html.NopDropDownList("ddlChoice", new List<SelectListItem>
                                      {
                                          new SelectListItem{Text="Member Name",Value="1"},
                                          new SelectListItem{Text="Member ID",Value="2"},
                                           new SelectListItem{Text="Mobile No",Value="3"},
                                          new SelectListItem{Text="Code",Value="4"},

                                      })
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <input type="text" id="SearchText" name="SearchText" class="form-control col-sm-6 col-xs-12" placeholder="Enter Search text...">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            @Html.NopLabelFor(model => model.StatusChoice)
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            @Html.NopDropDownList("StatusChoice", new List<SelectListItem>
                                      {
                                          new SelectListItem{Text="All Record(s)",Value="3"},
                                          new SelectListItem{Text="Initiated",Value="0"},
                                          new SelectListItem{Text="Approved",Value="1"},
                                          new SelectListItem{Text="Rejected",Value="2"},
                                      })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group" id="trStartDate">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            @Html.NopLabelFor(model => model.StartDate)
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            @Html.NopEditorFor(model => model.StartDate)
                                            @Html.ValidationMessageFor(model => model.StartDate)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group" id="trEndDate">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            @Html.NopLabelFor(model => model.EndDate)
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            @Html.NopEditorFor(model => model.EndDate)
                                            @Html.ValidationMessageFor(model => model.EndDate)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group" id="trEndDate">
                                        <div class="col-xs-12 col-sm-6 col-md-6">

                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <button type="button" name="search" id="search-cashdeposit" class="btn bg-blue">
                                                <i class="fa fa-search"></i>
                                                @T("Admin.Common.Search")
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="panel panel-default" id="divShowHide">
                    <div class="panel-body">
                        <h3>@T("Admin.Customer.SearchResult")</h3>
                        <div id="cashdeposit-grid"></div>

                        <script>
                            var pvcode="";
                            $(document).ready(function () {

                                $('#cashdeposit-grid').hide();
                                $('#tableUpgradePackageDetails').hide();
                                $('#divShowHide').hide();

                                $("#cashdeposit-grid").kendoGrid({
                                    autoBind: false,
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("CashDepositConfirmGrid", "AdminRecharge"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: true,
                                    columns: [{
                                        field: "Id",
                                        headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        //template: "<input type='checkbox'  id='#=Id#' value='#=Id# #=RequestedAmount#' class='checkboxGroups'/>",
                                        template:"#=getCheckbox(Id,StatusName,RequestedAmount)#",
                                        width: 50,
                                    },{
                                        field: "TxnCode",
                                        title: "TransCode",
                                        //"@T("Admin.CustomerReport.SrNo")",
                                        width: 100,
                                        //hidden:true
                                    },{
                                        field: "CustomerName",
                                        title: "Customer Details",
                                        // "@T("Admin.CustomerReport.Name")",
                                        width: 150,
                                        encoded: false,
                                    },{
                                        field: "RequestedAmount",
                                        title: "RequestedAmount",
                                        //"@T("Admin.CustomerReport.DOJ")",
                                        width: 100,
                                        hidden:true
                                    }, {
                                        field: "amtDeatils",
                                        title: "Amount(s)",
                                        //"@T("Admin.CustomerReport.DOJ")",
                                        width: 100,
                                        encoded: false,
                                    },{
                                        field: "BankName",
                                        title:  "Details",
                                        //"@T("Admin.CustomerReport.Reqdt")",
                                        width: 150,
                                        encoded: false,
                                    },{
                                        field: "StatusName",
                                        title:  "Status",
                                        //"@T("Admin.CustomerReport.StatusName")",
                                        width: 100,
                                    }@*,{
                                        field: "ApprovedAmount",
                                        title:  "ApprovedAmount",
                                        template: "<input type='number' id='txt#=Id#' value='#=RequestedAmount#'  class='checkboxGroups' onkeypress='return isNumber(event)' onchange='CheckAmount(this,#=RequestedAmount#)'/>",
                                        //"@T("Admin.CustomerReport.Upgpacname")",
                                        width: 100,
                                    }*@,{
                                        field: "ApplicationDtm_ddMMyyyy",
                                        title: "Date",
                                        //"@T("Admin.CustomerReport.Datetime")",
                                        width: 150,
                                    }]
                                });
                            });

                        </script>

                        <script type="text/javascript">

                            $(document).ready(function () {

                                $('#cashdeposit-grid').on('change', 'input[id=mastercheckbox]', function (e) {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#cashdeposit-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                    //debugger;
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                        $("#SelectedValues").val(selectedIds);
                                    }
                                    else {
                                        // debugger;
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function (item, index) {
                                                return item != $check.val();
                                            });
                                            $("#SelectedValues").val(selectedIds);
                                        }
                                    }
                                    updateMasterCheckbox();
                                });

                                $('#mastercheckbox').click(function () {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                function CheckAmount(elem,reqamt){
                                    // debugger;
                                    var validationDivs='';
                                    var elemVal=$(elem).val();

                                    $('#validationMessages').html('');
                                    $("#validationMessages").hide();
                                    $(".alert.alert-success.alert-dismissable").hide();

                                    if(parseInt(elemVal) <= 0 )
                                    {
                                        validationDivs='<div>@T("admin.Ewallet.enteramountGraterThanZero")</div>';
                                        $("#validationMessages").show();
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }

                                    if(parseInt(elemVal) > parseInt(reqamt))
                                    {
                                        $('#validationMessages').html('');
                                        validationDivs='<div>@T("Admin.Ewallet.AmountShouldBeLessThanrequestedAmount")</div>';
                                        $("#validationMessages").show();
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                }
                                $('#save-chagePackageDetails').click(function() {

                                    if(selectedIds=='' || selectedIds.length<=0)
                                    {
                                        $('#validationMessages').html('');
                                        $('#validationMessages').show();
                                        $("#validationMessages").html("@T("Admin.Validation.SelectAtLeastOneRecord")");
                                        return false;
                                    }

                                    var exist=true;
                                    var selectedMemId=new Array();

                                    $.each( changedDropdowns, function( index, value ) {
                                        selectedMemId.push(value.MemId);
                                    });
                                    $('#selectedIds').val('');
                                    $.each( selectedIds, function( index, value ) {
                                        var something=value.split(' ')[0];
                                        var found = $.inArray(something, selectedMemId) ;
                                        if(found<0)
                                        {
                                            exist=false;
                                        }
                                        else
                                        {
                                            var someone=$('#selectedIds').val();
                                            if(someone!='')
                                            {
                                                someone=someone+',';
                                            }
                                            someone =someone+something+' '+value.split(' ')[1]+' '+changedDropdowns[found].newPvCode;
                                            $('#selectedIds').val(someone);
                                        }
                                    });

                                    if(!exist)
                                    {
                                        // alert('Kindly select the appropriate value from the dropdown of the checkbox selected ');
                                        $('#validationMessages').html('');
                                        $('#validationMessages').show();
                                        $("#validationMessages").html("@T("Admin.MemberTransaction.Kindlyselecttheappropriatevaluefromdropdown")");
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.StartDate)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-cashdeposit").click();
                                        return false;
                                    }
                                });


                                $("#@Html.FieldIdFor(model => model.EndDate)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-cashdeposit").click();
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.MemId)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-cashdeposit").click();
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.ddlChoice)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-cashdeposit").click();
                                        return false;
                                    }
                                });

                            });

                            function onDataBound(e) {
                                $('#cashdeposit-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });
                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#cashdeposit-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#cashdeposit-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }

                            function additionalData() {
                                var data = {
                                    SelectedValues: $('#@Html.FieldIdFor(model => model.SelectedValues)').val(),
                                    SearchText : $('#SearchText').val().trim(),
                                    ddlChoice: $('#@Html.FieldIdFor(model => model.ddlChoice)').val(),
                                    StatusChoice: $('#@Html.FieldIdFor(model => model.StatusChoice)').val(),
                                    StartDate: getDate($("#StartDate").data("kendoDatePicker").value()),
                                    EndDate:getDate($("#EndDate").data("kendoDatePicker").value()),
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>
                    </div>
                </div>
                <div class="panel panel-default" id="tableUpgradePackageDetails">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">

                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        @Html.NopLabelFor(model => model.Remark)
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        @Html.NopTextAreaFor(model => model.Remark)
                                        @Html.ValidationMessageFor(model => model.Remark)
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <button type="submit" id="sendCash" name="sendCash" class="btn bg-green">
                                                @T("Admin.Ewallet.SendMoney")
                                            </button>
                                            <button type="submit" id="RejectCash" name="RejectCash" class="btn bg-red" value="@T("Admin.Ewallet.RejectMoney")">
                                                @T("Admin.Ewallet.RejectMoney")
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        $("#reset-chagePackageDetails").click(function (){
            $("#ddlChoice").val("1");
            $("#MemId").val("");
            $("#SearchFirstName").val("");
            $("#StartDate").val("");
            $("#EndDate").val("");
            $('#trMemName').hide();
            $("#trEndDate").show();
            $("#trStartDate").show();
            $('#cashdeposit-grid').hide();
            $('#divShowHide').hide();
            $('#tableUpgradePackageDetails').hide();
            $('#validationMessages').html('');
            $("#validationMessages").hide();
        });
        function  getCheckbox(Id,StatusName,RequestedAmount){
            // debugger;
            var str
            if(StatusName=='Initiated')
            {
               
                str= "<input type='checkbox' id='"+Id+"'   value='"+Id+" "+RequestedAmount+"' class='checkboxGroups'/>";
               
            }
            else
            {
                //str= "<input type='checkbox' id='"+Id+"'   value='"+Id+" "+RequestedAmount+"' disabled='disabled'  class='checkboxGroups'/>";
                str= "";
            }

            return str;
        }

        var selectedIds = [];

        $(document).ready(function () {
            $("#StartDate").keyup(function(){
                $(this).val('');
            });
            $("#EndDate").keyup(function(){
                $(this).val('');
            });

            $('#trMemName').hide();
            $('#trPackage').hide();
            $("#validationMessages").hide();



        });
       
        $("#search-cashdeposit").click(function() {

            $('#validationMessages').html('');
            $("#validationMessages").hide();
            $(".alert.alert-success.alert-dismissable").hide();
            $(".alert.alert-danger.alert-dismissable").hide();
            var remark= $('#Remark').val();
            var validationDivs1='';

           
            var Choice = $("#ddlChoice").val();
            var SearchFirstName =  $("#SearchFirstName").val();
            var MemId =  $("#MemId").val();
            var StartDate =  $("#StartDate").val();
            var EndDate =  $("#EndDate").val();
            var validationDivs='';
            $('#validationMessages').html('');
            $('#cashdeposit-grid').hide();
            $('#divShowHide').hide();
            $('#tableUpgradePackageDetails').hide();
            $("#validationMessages").hide();
            $(".alert.alert-success.alert-dismissable").hide();
            $(".alert.alert-danger.alert-dismissable").hide();

            var flag=true;
            var SearchText =  $("#SearchText").val();
            if (SearchText == '' )
            {
                validationDivs=validationDivs+'<div>Enter your text to search.</div>';
                flag=false;
            }
            if (Choice == 0 )
            {
                if (SearchFirstName == '' )
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.IdNameRequired")</div>';
                    flag=false;
                }
                if(SearchFirstName != "" && MemId == '')
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                    flag=false;
                }
            }

            if (Choice == 1)
            {
                if(StartDate != '' && EndDate == '')
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                    flag=false;
                }

                if(EndDate != '' && StartDate == '')
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                    flag=false;
                }

                var EnteredDate = getDate($("#StartDate").data("kendoDatePicker").value());
                var EnteredFromdate=getDate($("#EndDate").data("kendoDatePicker").value());

                var myDate = new Date(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                var myFromDate = new Date(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                var today = new Date();
                var start_time=$("#DatewiseFrom").val();
                var end_time=$("#DatewiseTo").val();

                if (myFromDate > today) {

                    validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    flag=false;
                }
                if (myFromDate < myDate) {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    flag=false;
                }
            }

            if(flag){

                var data = {

                    SearchText : $('#SearchText').val().trim(),
                    ddlChoice: $('#@Html.FieldIdFor(model => model.ddlChoice)').val(),
                    StatusChoice: $('#@Html.FieldIdFor(model => model.StatusChoice)').val(),
                    StartDate: getDate($("#StartDate").data("kendoDatePicker").value()),
                    EndDate:getDate($("#EndDate").data("kendoDatePicker").value()),
                }

                addAntiForgeryToken(data);

                $("#sucessMessages").html(@ViewBag.returnMessage);

                $.ajax({

                    url: "@Html.Raw(Url.Action("CashDepositConfirmGrid", "AdminRecharge"))",
                    type: "POST",
                    dataType: "json",
                    data:data  , success: function(result){

                        if(result == "norecords" )
                        {
                            $("#validationMessages").show();
                            $("#validationMessages").html("No Record(s) found !!!");
                            $('#cashdeposit-grid').hide();
                            $('#divShowHide').hide();
                            $('#tableUpgradePackageDetails').hide();
                            return;
                        }

                        if(result!="norecords" )
                        {
                            var grid = $('#cashdeposit-grid').data('kendoGrid');
                            grid.dataSource.page(1); //new search. Set page size to 1
                            //grid.dataSource.read(); we already loaded the grid above using "page" function
                            //clear selected checkboxes
                            $('.checkboxGroups').attr('checked', false).change();
                            selectedIds = [];
                            $('#cashdeposit-grid').show();
                            $('#divShowHide').show();
                            $('#tableUpgradePackageDetails').show();
                            return false;
                        }
                    }
                });
            }
            else{
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
            }
        });

        $('#sendCash').click(function(e) {
        //debugger;
        $('#validationMessages').html('');
        $("#validationMessages").hide();
        $(".alert.alert-success.alert-dismissable").hide();
        $(".alert.alert-danger.alert-dismissable").hide();
        var remark= $('#Remark').val();
        var validationDivs1='';

        if(remark == "" || remark == null)
        {
            validationDivs1=validationDivs1+'<div>@T("Admin.Validation.EnterRemark")</div>';
            $("#validationMessages").show();
            $('#validationMessages').append(validationDivs1);
            return false;
        }

        if(selectedIds=='' || selectedIds.length<=0)
        {
            // alert("Select At Least One Record");
            validationDivs1=validationDivs1+'<div>@T("Admin.Validation.SelectAtLeastOneRecord")</div>';
            $("#validationMessages").show();
            $('#validationMessages').append(validationDivs1);
            return false;
        }
            var ewalletList=[];
            $.each(selectedIds,function(i,val){

                ewalletList.push($('#txt'+val.split(' ')[1]).val());
            });
            $("#EwalletList").val(ewalletList);
    });

        $('#RejectCash').click(function(e) {
        // debugger;
        $('#validationMessages').html('');
        $("#validationMessages").hide();
        $(".alert.alert-success.alert-dismissable").hide();
        $(".alert.alert-danger.alert-dismissable").hide();
        var remark= $('#Remark').val();
        var validationDivs1='';

        if(remark == "" || remark == null)
        {
            validationDivs1=validationDivs1+'<div>@T("Admin.Validation.EnterRemark")</div>';
            $("#validationMessages").show();
            $('#validationMessages').append(validationDivs1);
            return false;
        }

        if(selectedIds=='' || selectedIds.length<=0)
        {
            // alert("Select At Least One Record");
            validationDivs1=validationDivs1+'<div>@T("Admin.Validation.SelectAtLeastOneRecord")</div>';
            $("#validationMessages").show();
            $('#validationMessages').append(validationDivs1);
            return false;
        }
    });

        $('#reset-UpgradePackageDetails').click(function(e) {
            $("#ddlChoice").val("1");
            $("#MemId").val("");
            $("#SearchFirstName").val("");
            $("#StartDate").val("");
            $("#EndDate").val("");
            $('#trMemName').hide();
            $("#trEndDate").show();
            $("#trStartDate").show();
            $('#cashdeposit-grid').hide();
            $('#divShowHide').hide();
            $('#tableUpgradePackageDetails').hide();
            $('#validationMessages').html('');
            $('#validationMessages').hide();
        });
        // Handle form submission event
        $('#AproveCash').click(function(e) {
            var isvalidate = false;
            var counter = 0;
            var amtcounter = 0;
            var allVals = [];
            var allAmts = [];

            $('#validationMessages').html('');
            $("#validationMessages").hide();
            $(".alert.alert-success.alert-dismissable").hide();
            $(".alert.alert-danger.alert-dismissable").hide();
            var remark= $('#Remark').val();
            var validationDivs1='';

            if(remark == "" || remark == null)
            {
                validationDivs1=validationDivs1+'<div>@T("Admin.Validation.EnterRemark")</div>';
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs1);
                return false;
            }

            if(selectedIds=='' || selectedIds.length<=0)
            {
                // alert("Select At Least One Record");
                validationDivs1=validationDivs1+'<div>@T("Admin.Validation.SelectAtLeastOneRecord")</div>';
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs1);
                return false;
            }


            //if (isvalidate) {
            //    if (amtcounter == counter)
            //        isvalidate = true;
            //    else if (ApproveFlag) {
            //        alert("Enter valid Amount for selected record(s).");
            //        isvalidate = false;
            //    }
            //}

            //alert('ApproveFlag = ' + ApproveFlag + '  ,  DeviatonFlag = ' + DeviatonFlag + '  ,  RejectFlag = ' + RejectFlag);
            //isvalidate = false;
            isvalidate = true;
            if (isvalidate) {
                var obj = new Object();
                obj.s = allVals.toString() + "|" + allAmts.toString();
                obj.returnJSON = ApproveFlag;
                //alert(JSON.stringify(obj))
                obj.s = StringEncryption(obj.s);
                obj.r = StringEncryption($("#Remarks").val().trim());

                //return false;
                //e.preventDefault();

                var $btn = sblbtn.button('loading');
                sblbtn.prop("disabled", true);

                $.ajax({
                    url: "api/UpdateCashDepositRequestStatus",
                    type: "POST",
                    data: obj,
                    success: function (data, textStatus, xhr) {
                        $btn.button('reset')
                        sblbtn.prop("disabled", false);
                        bootalert('Request status updated successfully.', 'success');
                        setTimeout(function () {
                            window.location = '@Request.Url';
                        }, 2000);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        if (errorThrown == '')
                            errorThrown = 'Connection is not available.';
                        $btn.button('reset')
                        sblbtn.prop("disabled", false);
                        bootalert(errorThrown, 'error');
                    }
                });
            }
            e.preventDefault();
        });
    </script>
}

