﻿@{
    ViewBag.Title = "Credit Reversal Report";
    ViewBag.PageTitle = "Credit Reversal Report";
    ViewBag.Breadcrumb_L1 = "Credit Reversal Report";
    ViewBag.Breadcrumb_L2 = "";
    ViewBag.Breadcrumb_L3 = "";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet box red-thunderbird">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-search no-margin-tb"></i>Search
                    </div>
                    <div class="tools">
                        <a class="expand" href="javascript:;" data-original-title="" title=""></a>
                    </div>
                </div>
                <div class="portlet-body" style="display:none">
                    @using (Html.BeginForm("CreditReversalReport", "Admin", FormMethod.Get, new { @id = "frmCreditReversalReport", @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="form-group">
                                <label for="selTxnType" class="col-sm-6 control-label"><span class="text-red">*&nbsp;</span>Type</label>
                                <div class="col-sm-6 col-xs-12">
                                    <select id="selTxnType" name="selTxnType" class="width-100p">
                                        <option value="0">All Record(s)</option>
                                        <option value="1">Recharge</option>
                                        <option value="2">Flight</option>
                                        <option value="3">Bus</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="SearchText" class="col-sm-6 control-label">@*<span class="text-red">*&nbsp;</span>*@Member Name/ID/Mobile No</label>
                                <div class="col-sm-6 col-xs-12">
                                    <input type="text" id="SearchText" name="SearchText" class="form-control col-sm-6 col-xs-12" placeholder="Enter Search text...">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="UniqueId" class="col-sm-6 control-label">@*<span class="text-red">*&nbsp;</span>*@Transaction Id</label>
                                <div class="col-sm-6 col-xs-12">
                                    <input type="text" id="UniqueId" name="UniqueId" class="form-control col-sm-6 col-xs-12" placeholder="Enter Transaction Id...">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="FromDate" class="col-sm-6 control-label"><span class="text-red">*&nbsp;</span>Period</label>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="col-md-4 col-sm-4 col-xs-11 pull-left no-padding" id="FromDt">
                                        <input type="text" id="FromDate" name="FromDate" class="form-control" placeholder="" />
                                    </div>
                                    <div class="pull-left"><label class="control-label">&nbsp;to&nbsp;</label></div>
                                    <div class="clearfix margin-bottom-5"></div>
                                    <div class="col-md-4 col-sm-4 col-xs-11 pull-left no-padding" id="ToDt">
                                        <input type="text" id="ToDate" name="ToDate" class="form-control" placeholder="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">
                                <button id="btnSearch" name="btnSearch" type="submit" class="btn green lighten-1 pull-right" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>&nbsp;Please wait...">Search</button>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <button id="clearFilter" name="clearFilter" type="button" class="btn pull-left">Clear</button>
                            </div>
                            <div class="clearfix margin-bottom-5"></div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h4 class="title pull-left">Results</h4>
                    <a class="btn btn-sm btn-neutral text-warning no-padding-tb" href="#" id="refresh-adminusers" title="Reload">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-refresh fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </div>
                <div class="content viewuser-content">
                    <table id="tableResults" class="table table-striped table-bordered display responsive nowrap" border="0" cellpadding="6"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        var $btn = null,
            sblbtn = null,
            obj = '#tableResults',
            formId = '#frmCreditReversalReport',
            startTime = null,
            infoSeperator = '<span class="span-seperator">&nbsp;|&nbsp;</span><span class="span-break"><br /></span>',
            ApproveFlag = false;

        $(document).ready(function (e) {
            sblbtn = $("#btnSearch");

            $(".dt-export-info").hide();
            $('#FromDate, #ToDate').datetimepicker({ format: 'DD/MM/YYYY' });

            var dtResultsTable = {
                dt: null,
                init: function () {
                    dt = $(obj).on('error.dt', function (e, settings, techNote, message) {
                        bootalert(dataTablesErrorMessage, 'error');
                        //console.log('message - ' + message);
                        $(obj).find('tbody').html('<tr class="odd"><td valign="top" colspan="' + $(obj).find('thead').find('th').length + '" class="dataTables_empty"><span class="text-red"><i class="fa fa-frown-o"></i>&nbsp;No records to display.</span></td></tr>');
                    }).on('init.dt', function () {
                        //console.log('Table initialisation complete: ' + new Date().getTime());
                        $(obj).find('th').eq(0).removeClass("sorting_asc");
                    }).on('draw.dt', function () {
                        //console.log('Table draw complete: ' + new Date().getTime());
                        $(obj).find('th').eq(0).removeClass("sorting_asc");
                    }).DataTable({
                        bSort: false,
                        fnServerParams: function (aoData) {
                            aoData.search.value = '';
                            aoData.search.value = $('#selTxnType :selected').val().trim() + "|" + $('#SearchText').val().trim() + "|" + $('#UniqueId').val().trim() + "|" + $("#FromDate").val().trim() + "#" + $("#ToDate").val().trim();
                            //alert(aoData.search.value);
                        },
                        ajax: {
                            url: virtualPath + "Admin/GetCreditReversalReportListJson",
                            type: "POST",
                            beforeSend: function (xhr) {
                                startTime = new Date().getTime();
                                //console.log('beforesend startTime - ' + startTime);
                                DatatablesAjaxBeforeSend(sblbtn, obj, 'div.viewuser-content');
                                $btn = sblbtn.button('loading');
                            },
                            complete: function (xhr) {
                                DatatablesAjaxComplete(startTime, sblbtn, obj, infoSeperator, 'div.viewuser-content');
                                $btn.button('reset');
                            }
                        },
                        columns: [
                            {
                                title: "Sr. No.",
                                name: "Sr. No.",
                                data: null,
                                className: 'text-center no-export',
                            },
                            {
                                title: "Transaction ID",
                                name: "Transaction ID",
                                data: "UniqueId",
                                className: 'no-export',
                                "render": function (data, type, row, meta) {
                                    return '<b>' + row.UniqueId + '</b><br /><span class="text-warning">Date-time</span>: ' + ConvertDateFromJson(row.TxnDtm, 'date');
                                },
                            },
                            {
                                title: "Member Details",
                                name: "Member Details",
                                data: null,
                                className: 'no-export',
                                "render": function (data, type, row, meta) {
                                    return '<b>' + row.CustomerName + '</b><br /><span class="text-warning">Member ID</span>: ' + (row.MemNo == null ? "-" : row.MemNo) + '<br /><span class="text-warning">Mobile No</span>: ' + (row.Mobile_No == null ? "-" : row.Mobile_No);
                                }
                            },
                            {
                                title: "Date-time",
                                name: "Date-time",
                                data: null,
                                className: 'text-center no-export',
                                "render": function (data, type, row, meta) {
                                    return ConvertDateFromJson(row.ApplicationDtm, 'date');
                                }
                            },
                            {
                                title: "Type",
                                name: "Type",
                                data: "TxnName",
                                className: 'text-center',
                            },
                            {
                                title: "Amount (In Rs.)",
                                name: "Amount (In Rs.)",
                                data: null,
                                className: 'text-right no-export',
                                "render": function (data, type, row, meta) {
                                    var s = '';
                                    s += '<div class="container">';

                                    if (row.EwAmount > 0) {
                                        s += '<div class="row">';
                                        s += '<div class="pull-left">';
                                        s += '<span class="text-warning">Wallet:</span>';
                                        s += '</div>';
                                        s += '<div class="pull-right text-right">';
                                        s += row.EwAmount + '/-';
                                        s += '</div>';
                                        s += '</div>';
                                    }

                                    if (row.PgAmount > 0) {
                                        s += '<div class="row">';
                                        s += '<div class="pull-left">';
                                        s += '<span class="text-warning">Online Payment:</span>';
                                        s += '</div>';
                                        s += '<div class="pull-right text-right">';
                                        s += row.PgAmount + '/-';
                                        s += '</div>';
                                        s += '</div>';
                                        s += '<div class="clearfix">';
                                        s += '</div>';
                                    }

                                    s += '</div>';

                                    return s;
                                }
                            },
                        ],
                        //columnDefs: [{
                        //    orderable: false,
                        //    searchable: false,
                        //    className: 'no-export text-center',
                        //    targets: 0,
                        //    render: function (data, type, row, meta) {
                        //        var chk = '<input class="chkrow" type="checkbox" data-id="' + row.Id + '" />';
                        //        if (row.Type != 0)
                        //            chk = "";
                        //        return chk;
                        //    },
                        //}],
                        buttons: [
                            {
                                extend: 'excel',
                                title: 'Credit Reversal Report List',
                                filename: 'Credit_Reversal_Report_list_' + GetCurrentTimeStamp(),
                                action: function (e, dt, node, config) {
                                    ExportDatatablesData(dt, 'div.viewuser-content', config);
                                }
                            },
                        ],
                        fnRowCallback: function (nRow, aData, iDisplayIndex) {
                            // Get row ID
                            //var rowId = aData[0];

                            // If row ID is in the list of selected row IDs
                            //DataTablesCheckboxIsSelected(rowId, rows_selected, nRow);

                            var oSettings = (this.fnSettings) ? this.fnSettings() : this;
                            $("td:first", nRow).html(oSettings._iDisplayStart + iDisplayIndex + 1);
                            return nRow;
                        },
                        fnInfoCallback: function (oSettings, iStart, iEnd, iMax, iTotal, sPre) {
                            return DatatablesInfoCallback(obj, infoSeperator, oSettings, iStart, iEnd, iMax, iTotal, sPre);
                        },
                        language: {
                            searchPlaceholder: 'Search by Name',
                        },
                    });
                },
                refresh: function () {
                    dt.ajax.reload();
                }
            }


            $('#refresh-adminusers').on("click", dtResultsTable.refresh);

            // Array holding selected row IDs
            //var rows_selected = [];

            /////////////////////////////////////////////////////////////////
            // Let's kick it all off
            dtResultsTable.init();

            DataTablesCustomClasses(obj);

            // Handle click on checkbox
            //DataTablesHandleEachCheckboxClick("tableResults", rows_selected, "chkSelAll", dt);

            // Handle click on table cells with checkboxes
            //DataTablesHandleCheckboxTableCellClick('tableResults');

            // Handle click on "Select all" control
            //DataTablesHandleSelectAllClick('tableResults', "chkSelAll", dt);

            // Handle form submission event
            $(formId).on('submit', function (e) {
                var isvalidate = $(this).valid();
                if (isvalidate) {
                    $(obj).dataTable().fnDraw();

                    $(obj).DataTable()
                        .columns.adjust()
                        .responsive.recalc();

                    return false;
                }
            });

            $('#selSearchOpt').on('change', function (e) {
                var val = parseInt($(this).val());
                $('#SearchText').val('');
            });

            $(formId).validate({
                rules: {
                    SearchText: {
                        required: {
                            depends: function () {
                                $(this).val($(this).val().trim());
                                return false;
                            }
                        },
                        regex: /^[a-zA-Z0-9\.\s\(\)]+$/,
                        rangelength: [2, 100]
                    },
                    UniqueId: {
                        required: {
                            depends: function () {
                                $(this).val($(this).val().trim());
                                return false;
                            }
                        },
                        regex: /^[a-zA-Z0-9]+$/,
                        rangelength: [2, 100]
                    },
                    FromDate: {
                        required: {
                            depends: function () {
                                if ($("#ToDate").val().trim() != '')
                                    return true;
                                else
                                    return false;
                            }
                        },
                        regex: /^[0-9\/]+$/,
                        rangelength: [10, 10]
                    },
                    ToDate: {
                        required: {
                            depends: function () {
                                if ($("#FromDate").val().trim() != '')
                                    return true;
                                else
                                    return false;
                            }
                        },
                        regex: /^[0-9\/]+$/,
                        rangelength: [10, 10]
                    },
                },
                messages: {
                    SearchText: {
                        required: "Enter your text to search.",
                        //regex: "Only alphabets (a-z) and numbers (0-9) are allowed.",
                        rangelength: "Search text should be {0}-{1} characters."
                    },
                    UniqueId: {
                        required: "Enter Transaction Id to search.",
                        regex: "Only alphabets (a-z) and numbers (0-9) are allowed.",
                        rangelength: "Search text should be {0}-{1} characters."
                    },
                    FromDate: {
                        required: "Enter From date.",
                    },
                    ToDate: {
                        required: "Enter To date.",
                    },
                }
            });

            $('#clearFilter').on('click', function (e) {
                window.location = '@Request.Url';
            });

            window.ReloadDataGrid = function () {
                ReloadDataTable(obj);
            }
        });

    </script>
}
