﻿@{
    Layout = "";
}
@using (Html.BeginForm())
{
    <div class="page">      
        <div class="page-body">
            <div class="fieldset">  
                    <div class="inputs">
                        <label>@T("Account.Fields.txtAccHolder") </label>
                        @Html.TextBox("txtAccHolder")
                        @Html.RequiredHint()
                        <div class="inputs field-validation-error" id="validationMessagestxtAccHolder" style="text-align:center"></div>
                     </div>
                    <div class="inputs">
                        <label>@T("Account.Fields.txtPassword") </label>
                        @Html.Password("txtPassword")
                        @Html.RequiredHint()
                        <div class="inputs field-validation-error" id="validationMessagestxtPassword" style="text-align:center"></div>
                    </div>
                </div>
            </div>       
    </div>
}
<script>
    $("#validationMessagestxtPassword").html("");
  
    $('#txtAccHolder').attr('readonly', true);

    $("#txtPassword").change(function () {   
        if ($("#txtPassword").val()=="")
        {          
            $("#validationMessagestxtPassword").html("@T("Admin.Customers.Customers.List.EnterPassword")");
        }
        else
        {
            $("#validationMessagestxtPassword").html("");
        }
    });


    $("#txtAccHolder").change(function () {
        //post data to the controller
        debugger;
        $("#validationMessagestxtAccHolder").html("");
      
           var postData = {
               memno: $("#txtAccHolder").val()
           };
           addAntiForgeryToken(postData);

           $.ajax({
               type: "POST",
               url: "@(Url.Action("BindSponsorName", "Customer"))",
               data: postData,
           success: function (data) {
               if (data == 1) {
                   $("#validationMessagestxtAccHolder").html(" @T("web.register.ewalletIDError")");
                   $("#txtAccHolder").val('');
                   $("#txtAccHolder").focus();
               }
               else if (data == 2) {
                   $("#validationMessagestxtAccHolder").show();
                   $("#validationMessagestxtAccHolder").html("@T("Admin.registration.blockedEwalletId")");
                   //  alert("Enter Valid Sponsor ID");
                   $("#SponsorName").hide();
                   $("#txtAccHolder").val('');
                   $("#txtAccHolder").focus();
                   return;
               }
               else {                  
                   $("#validationMessagestxtAccHolder").html("");
               }
           },
           error: function (xhr, ajaxOptions, thrownError) {
               alert(thrownError);
           },
           traditional: true
       });
    return false;
    });
</script>