﻿@{
    ViewBag.Title = "Bus Ticket";
    ViewBag.PageTitle = "Bus Ticket";
    ViewBag.Breadcrumb_L1 = "Bus Ticket";
    ViewBag.Breadcrumb_L2 = "";
    ViewBag.Breadcrumb_L3 = "";
    string queryString = "";
    if (ViewData["QueryString"] != null)
    {
        queryString = ViewData["QueryString"].ToString();
    }
}

@Html.Partial("_BusTicketView", new ViewDataDictionary { { "admin", false } })

@section scripts {
    <script>
        var page_query_string = trimString('@queryString'), page_query_string_object = [], a = false;

        if (page_query_string != '') {
            if (page_query_string.indexOf('|') != -1) {
                page_query_string_object = page_query_string.split('|');
            }
            else {
                page_query_string_object = (page_query_string + '|').split('|');
            }
        }
    </script>
    <script src="@Url.Content("~/assets/js/account/BusTicketView.js")"></script>
}