﻿@{
    ViewBag.Title = "Flight Search Results";
    ViewBag.PageTitle = "Flight Search Results";
    ViewBag.Breadcrumb_L1 = "Flight Search Results";
    ViewBag.Breadcrumb_L2 = "";
    ViewBag.Breadcrumb_L3 = "";
}

@*<div class="search-flight height-100p"></div>
    <div class="search-flight-overlay no-bg">
        <nav class="navbar-fixed-top scrolling-navbar navbar navbar-dark double-nav header-nav-bar no-shadow no-padding bg-black-fade-08 no-border-radius">
            <div class="container-fluid no-padding">
                <div class="pull-left position-relative padding-5" style="width:45px;z-index:2">
                    <a href="#" class="goto-flight-booking center-block position-relative width-100p" style="height:40px"><i class="fa fa-angle-left text-white header-nav-icon"></i></a>
                </div>
                <div class="position-relative" style="width:auto;overflow:hidden;height:50px;z-index:2">
                    <div class="pull-right" style="width:45px">
                        <a href="#" class="goto-dashboard center-block" style="line-height:50px"><i class="fa fa-home fa-2x text-white" style="line-height:50px"></i></a>
                    </div>
                    <div class="page-title text-white flight-page-title" style="width:calc(100%-45px);overflow:hidden"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid search-flight-form padding-10" style="overflow-x:hidden">*@
<form id="frmflightsearchresults" name="frmflightsearchresults" class="height-100p position-relative">
    <div id="onward_flight_list" class="card no-shadow no-margin no-bg height-100p position-absolute">
        <div class="card-content no-padding height-100p">
            <span class="onward-title center-block" style="line-height:30px"></span>
            <div class="bg-white card_content_shadow">
                <div id="onwardlistloadingFSR" style="background-color:#EBEDEF">
                    <img src="@Url.Content("~/img/globeandplanes.gif")" class="center-block max-width-50p" />
                    <h5 class="center-block no-margin text-gray">Searching Flights...</h5>
                </div>
                <div id="onwardlistemptyFSR" style="display:none">
                    <img src="@Url.Content("~/img/icons/empty-state.jpg")" class="center-block max-width-25p" />
                    <h5 class="center-block text-black flight-search-error-message">No flights available for selected Date</h5>
                    <a href="#" class="goto-flight-booking center-block">&laquo;&nbsp;Try Again</a>
                </div>
                <div id="onward_flight_list_header" class="three" style="display:none">
                    <a class="logo text-center airlinecode bold" style="width:18%">Airline&nbsp;<i class="fa fa-angle-up text-danger" style="opacity:0"></i></a>
                    <a class="details text-center departuretime bold" style="width:calc(100% - 63%)">Departure Time&nbsp;<i class="fa fa-angle-up text-danger" style="opacity:0"></i></a>
                    <a class="details text-center duration bold" style="width:22%">Duration&nbsp;<i class="fa fa-angle-up text-danger" style="opacity:0"></i></a>
                    <a class="amount text-center totalfare bold" style="width:19%">Price&nbsp;<i class="fa fa-angle-up text-danger"></i></a>
                </div>
                <ul id="ul_onward_flight_list" class="item-list list" style="display:none"></ul>
                <br />
                <br />
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div id="return_flight_list" class="card no-shadow no-margin no-bg height-100p position-absolute" style="display:none">
        <div class="card-content no-padding height-100p">
            <div class="center-block" style="line-height:30px">
                <span class="bold">DEPARTURE</span>&nbsp;<span class="onward-details"></span>&nbsp;(<a href="#" class="goto-onward text-danger" style="line-height:30px">Edit</a>)
            </div>
            <span class="return-title center-block" style="line-height:30px"></span>
            <div class="bg-white card_content_shadow">
                <div id="returnlistemptyFSR">
                    <img src="@Url.Content("~/img/icons/empty-state.jpg")" class="center-block max-width-75p" />
                    <h5 class="center-block text-black flight-search-error-message">No Return flights available for selected route.</h5>
                    <a href="#" class="goto-flight-booking center-block">&laquo;&nbsp;Change Date</a>
                </div>
                <div id="return_flight_list_header" class="three" style="display:none">
                    <a class="logo text-center airlinecode bold" style="width:18%">Airline&nbsp;<i class="fa fa-angle-up text-danger" style="opacity:0"></i></a>
                    <a class="details text-center arrivaltime bold" style="width:calc(100% - 63%)">Departure Time&nbsp;<i class="fa fa-angle-up text-danger" style="opacity:0"></i></a>
                    <a class="details text-center duration bold" style="width:22%">Duration&nbsp;<i class="fa fa-angle-up text-danger" style="opacity:0"></i></a>
                    <a class="amount text-center totalfare bold" style="width:19%">Price&nbsp;<i class="fa fa-angle-up text-danger"></i></a>
                </div>
                <ul id="ul_return_flight_list" class="item-list list" style="display:none"></ul>
                <br />
                <br />
            </div>
        </div>
    </div>
    <div id="flight_booking" class="card no-shadow no-margin no-bg height-100p position-absolute" style="display:none">
        <div class="card-content no-padding height-100p">
            <div class="bg-white card_content_shadow padding-10 onward-information">
                <h4 id="onward_flight_title" class="text-left no-margin" style="line-height:30px">
                    <span>
                        <span class="bold from" style="margin-right:10px"></span><i class="fa fa-plane" aria-hidden="true" style="transform:rotate(45deg);color:#aaa"></i><span class="bold to" style="margin-left:12px"></span>&nbsp;&nbsp;|&nbsp;&nbsp;<span id="onward_flight_code" style="white-space: nowrap"></span>&nbsp;<img id="onward_airlinecode" src="@Url.Content("~/img/blank.gif")" style="max-width:30px" />
                    </span>
                    <span class="pull-right">
                        <a href="#" class="edit-onward text-danger" style="line-height:30px">Edit</a>
                    </span>
                    <span class="clearfix"></span>
                </h4>
                <span id="onward_flight_more_info" class="text-light-gray" style="line-height:30px"></span>
                <div>
                    <div id="onward_stop_details"></div>
                    <hr style="margin:5px 0" />
                    <div class="clearfix"></div>
                    <small class="text-black">Check in baggage - <span id="onward_baggage"></span></small>
                    <span id="onward_total_fare" class="pull-right bold"><i class="fa fa-rupee"></i><span></span></span>
                    <div class="clearfix"></div>
                    <hr style="margin:5px 0" />
                    <div id="divonwardcashback" style="display:none">
                        <span id="onward_cashback_code" class="text-warning">Earn eCash upto</span>
                        <span id="onward_cashback" class="pull-right bold text-warning"><i class="fa fa-rupee"></i> <span></span></span>
                        <small id="onward_cashback_description" class="display-block"></small>
                        <div class="clearfix"></div>
                        <hr style="margin:5px 0" />
                    </div>
                    <div class="panel panel-default no-margin">
                        <div class="panel-heading no-padding-top" role="tab" id="onward_fare_rules_heading">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#onward_fare_rules_body" aria-expanded="false" aria-controls="collapseTwo">
                                <h4 class="panel-title text-info">
                                    Fare Rules
                                    <i class="fa fa-angle-down"></i>
                                </h4>
                            </a>
                        </div>
                        <div id="onward_fare_rules_body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="onward_fare_rules_heading">
                            <div class="panel-body">
                                <div>
                                    <span class="pull-left bold">Fare Type</span>
                                    <span id="onward_fare_type" class="pull-right"></span>
                                    <div class="clearfix"></div>
                                    <hr style="margin:5px" />
                                </div>
                                <div style="display:none">
                                    <span class="pull-left bold">Date Change Fee</span>
                                    <span id="onward_reschedule_charges" class="pull-right"></span>
                                    <div class="clearfix"></div>
                                    <small class="pull-left"><i>Per person/pax per segment/sector</i></small>
                                    <div class="clearfix"></div>
                                    <hr style="margin:5px" />
                                </div>
                                <div>
                                    <span class="pull-left bold">Cancellation Fee</span>
                                    <span id="onward_cancellation_charges" class="pull-right"></span>
                                    <small class="clear-left pull-left"><i>Per person/pax per segment/sector</i></small>
                                    <div class="clearfix"></div>
                                    <hr style="margin:5px 0" />
                                </div>
                                <div>
                                    <span class="display-block bold">Cancellation Terms</span>
                                    <small id="onward_cancellation_slab"></small>
                                    <div class="clearfix"></div>
                                    <hr style="margin:5px" />
                                </div>
                                <span class="display-block bold">Remarks</span>
                                <small id="onward_remarks"></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="height-5"></div>
            <div class="bg-white card_content_shadow padding-10 return-information" style="display:none">
                <h4 id="return_flight_title" class="text-left no-margin" style="line-height:30px">
                    <span>
                        <span class="bold from" style="margin-right:10px"></span><i class="fa fa-plane" aria-hidden="true" style="transform:rotate(45deg);color:#aaa"></i><span class="bold to" style="margin-left:12px"></span>&nbsp;&nbsp;|&nbsp;&nbsp;<span id="return_flight_code" style="white-space: nowrap"></span>&nbsp;<img id="return_airlinecode" src="@Url.Content("~/img/blank.gif")" style="max-width:30px" />
                    </span>
                    <span class="pull-right">
                        <a href="#" class="edit-return text-danger" style="line-height:30px">Edit</a>
                    </span>
                    <span class="clearfix"></span>
                </h4>
                <span id="return_flight_more_info" class="text-light-gray" style="line-height:30px"></span>
                <div>
                    <div id="return_stop_details"></div>
                    <hr style="margin:5px 0" />
                    <div class="clearfix"></div>
                    <small class="text-black">Check in baggage - <span id="return_baggage"></span></small>
                    <span id="return_total_fare" class="pull-right bold"><i class="fa fa-rupee"></i><span></span></span>
                    <div class="clearfix"></div>
                    <hr style="margin:5px 0" />
                    <div id="divreturncashback" style="display:none">
                        <span id="return_cashback_code" class="text-warning">Earn eCash upto</span>
                        <span id="return_cashback" class="pull-right bold text-warning"><i class="fa fa-rupee"></i> <span></span></span>
                        <small id="return_cashback_description" class="display-block"></small>
                        <div class="clearfix"></div>
                        <hr style="margin:5px 0" />
                    </div>
                    <div class="panel panel-default no-margin">
                        <div class="panel-heading no-padding-top" role="tab" id="return_fare_rules_heading">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#return_fare_rules_body" aria-expanded="false" aria-controls="collapseTwo">
                                <h4 class="panel-title text-info">
                                    Fare Rules
                                    <i class="fa fa-angle-down"></i>
                                </h4>
                            </a>
                        </div>
                        <div id="return_fare_rules_body" class="panel-collapse collapse" role="tabpanel" aria-labelledby="return_fare_rules_heading">
                            <div class="panel-body">
                                <div>
                                    <span class="pull-left bold">Fare Type</span>
                                    <span id="return_fare_type" class="pull-right"></span>
                                    <div class="clearfix"></div>
                                    <hr style="margin:5px" />
                                </div>
                                <div style="display:none">
                                    <span class="pull-left bold">Date Change Fee</span>
                                    <span id="return_reschedule_charges" class="pull-right"></span>
                                    <div class="clearfix"></div>
                                    <small class="pull-left"><i>Per person/pax per segment/sector</i></small>
                                    <div class="clearfix"></div>
                                    <hr style="margin:5px" />
                                </div>
                                <div>
                                    <span class="pull-left bold">Cancellation Fee</span>
                                    <span id="return_cancellation_charges" class="pull-right"></span>
                                    <small class="clear-left pull-left"><i>Per person/pax per segment/sector</i></small>
                                    <div class="clearfix"></div>
                                    <hr style="margin:5px 0" />
                                </div>
                                <div>
                                    <span class="display-block bold">Cancellation Terms</span>
                                    <small id="return_cancellation_slab"></small>
                                    <div class="clearfix"></div>
                                    <hr style="margin:5px" />
                                </div>
                                <span class="display-block bold">Remarks</span>
                                <small id="return_remarks"></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="return-height-5 height-5" style="display:none"></div>
            <div class="bg-white card_content_shadow padding-10 fare-breakup">
                <h4>
                    <span class="pull-left bold">FARE BREAKUP</span>
                    <span class="pull-right">
                        <small id="total_travellers"></small>
                    </span>
                    <span class="clearfix"></span>
                </h4>
                <hr style="margin:5px 0" />
                <div>
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8">
                            Base fare (Adult x <span id="adult_count"></span>)
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 text-right">
                            <i class="fa fa-rupee"></i>&nbsp;<span id="adult_base_fare">0</span>
                        </div>
                    </div>
                    <div id="child_fare" class="row" style="display:none">
                        <div class="col-xs-8 col-sm-8 col-md-8">
                            Base fare (Child x <span id="child_count"></span>)
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 text-right">
                            <i class="fa fa-rupee"></i>&nbsp;<span id="child_base_fare">0</span>
                        </div>
                    </div>
                    <div id="infant_fare" class="row" style="display:none">
                        <div class="col-xs-8 col-sm-8 col-md-8">
                            Base fare (Infant x <span id="infant_count"></span>)
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 text-right">
                            <i class="fa fa-rupee"></i>&nbsp;<span id="infant_base_fare">0</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8">
                            Fee and surcharges
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 text-right">
                            <i class="fa fa-rupee"></i>&nbsp;<span id="fees_surcharges">0</span>
                        </div>
                    </div>
                    <hr style="margin:5px 0" />
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8 text-lg text-danger">
                            Total Amount
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 text-right text-lg text-danger">
                            <i class="fa fa-rupee"></i>&nbsp;<span id="total_charges">0</span>
                        </div>
                    </div>
                    <div id="divtotalcashback" style="display:none">
                        <hr style="margin:5px 0" />
                        <div class="row">
                            <div class="col-xs-8 col-sm-8 col-md-8 text-lg">
                                You Earn (eCash)
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 text-right text-lg">
                                <i class="fa fa-rupee"></i>&nbsp;<span id="total_cashback_amount">0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="height-5"></div>
            <div class="clearfix"></div>
            <div style="width:100%;height:60px;background:#333">
                <div class="pull-left col-xs-6 col-sm-6 col-md-6">
                    <span class="center-block text-info">Total Amount</span>
                    <h3 class="payment-amount no-margin center-block text-danger"><i class="fa fa-rupee"></i><span></span></h3>
                </div>
                <div class="pull-right col-xs-6 col-sm-6 col-md-6">
                    <button type="submit" class="btn btn-success text-white waves-effect col-xs-12 col-sm-12 col-md-12 no-float center-block submit-button">
                        <span>Proceed&nbsp;&raquo;</span>
                        <div class="ripple-container"></div>
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <br />
        </div>
    </div>
    <br />
</form>
@*</div>*@

@section scripts {
    <script src="@Url.Content("~/assets/js/account/flightsearchresults.js")"></script>
}