﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_HeadTagPartial", new ViewDataDictionary { { "stylebundle", "~/accountcss" }, { "pagetitle", ViewBag.Title } })
</head>
<body>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="col-xs-11 col-sm-7 col-md-7 no-float center-block no-padding">
        <div class="card card-profile no-margin">
            <div class="card-avatar bg-white no-shadow" style="border:1px solid #eee">
                <a href="#">
                    <img class="img" src="@Url.Content("~/img/company-icon.png")" />
                </a>
            </div>
            <div class="card-content no-margin">
                <h3 class="text-center no-margin">Reset Password</h3>
                <form id="frmforgotpassword" name="frmforgotpassword" class="form">
                    <div class="form-group">
                        <input type="text" id="loginidFP" name="loginidFP" class="form-control" maxlength="100" placeholder="Your Username">
                    </div>
                    <div class="text-xs-center">
                        <button type="submit" class="btn brown darken-4 text-white waves-effect col-xs-12 col-sm-12 col-md-12 no-float center-block submit-button">
                            <span>Recover&nbsp;<i class="fa fa-angle-right"></i></span>
                            <div class="ripple-container"></div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <p class="no-margin">&nbsp;</p>
    <p class="text-center no-margin">Already have an account?&nbsp;<a id="signmeinFP" href="#" class="text-danger">SignIn</a></p>
    <div style="height:5px"></div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 no-padding-right">
            <a id="facebookloginFP" name="facebookloginFP" href="#" class="btn btn-social btn-fill btn-facebook col-xs-10 col-sm-10 col-md-10 no-float center-block"><i class="fa fa-facebook-square pull-left"></i>&nbsp;Facebook</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 no-padding-left">
            <a id="gplusloginFP" name="gplusloginFP" href="#" class="btn btn-social btn-fill btn-google col-xs-10 col-sm-10 col-md-10 no-float center-block"><i class="fa fa-google-plus pull-left"></i>&nbsp;Google</a>
        </div>
    </div>
    <div style="height:5px"></div>
    <p class="text-center no-margin">Don't have an account?&nbsp;<a id="signmeupFP" name="signmeupFP" href="#" class="text-danger">Signup</a></p>
    @Html.Partial("_FooterPartial")
    <!-- Javascript -->
    @Html.Partial("_ScriptInclude")
    @Scripts.Render("~/accountjs")
</body>
</html>
