﻿@{

    //Layout = "~/Plugins/Nop.Plugin.Api/Themes/Vnext/Views/Shared/_MemberLayout.cshtml";
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
    ViewBag.Title = "Account Ledger";
    ViewBag.PageTitle = "Account Ledger";
    ViewBag.Breadcrumb_L1 = "Wallet Ledger";
    ViewBag.Breadcrumb_L2 = "";
    ViewBag.Breadcrumb_L3 = "";
}
<br />

<form id="formWAL" name="formWAL" class="form">
    
    <div class="sparkline16-list shadow-reset">
        <div class="sparkline16-hd">
            <div class="main-sparkline16-hd">
                <h1>Recharge Wallet Details</h1>
            </div>
        </div>
        <div class="sparkline16-graph">
            <h4 class="center-block no-margin-top bold">Wallet balance:&nbsp;<i class="fa fa-rupee"></i>&nbsp;<span class="wallet-balance">0</span></h4>
            <div class="tabs-wrapper box-shadow" style="margin-bottom:5px">
                <ul class="nav classic-tabs white slide-tabs" role="tablist">
                    <li class="nav-item active col-xs-4 col-sm-4 col-md-4">
                        <a class="nav-link waves-light text-center" data-toggle="tab" href="#walTab1" role="tab">All</a>
                    </li>
                    <li class="nav-item col-xs-4 col-sm-4 col-md-4">
                        <a class="nav-link waves-light text-center" data-toggle="tab" href="#walTab2" role="tab">Credit</a>
                    </li>
                    <li class="nav-item col-xs-4 col-sm-4 col-md-4">
                        <a class="nav-link waves-light text-center" data-toggle="tab" href="#walTab3" role="tab">Debit</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content card no-shadow no-margin height-100p no-bg">
                <div class="tab-pane fade in active" id="walTab1" role="tabpanel">
                    <ul class="item-list notifications-list all-transactions"></ul>
                    <button type="button" class="btn btn-danger waves-effect col-xs-12 col-sm-12 col-md-12 no-float center-block load-more-all">
                        Load more...
                        <div class="ripple-container"></div>
                    </button>
                </div>
                <div class="tab-pane fade" id="walTab2" role="tabpanel">
                    <ul class="item-list notifications-list credit-transactions"></ul>
                    <button type="button" class="btn btn-danger waves-effect col-xs-12 col-sm-12 col-md-12 no-float center-block load-more-credit">
                        Load more...
                        <div class="ripple-container"></div>
                    </button>
                </div>
                <div class="tab-pane fade" id="walTab3" role="tabpanel">
                    <ul class="item-list notifications-list debit-transactions"></ul>
                    <button type="button" class="btn btn-danger waves-effect col-xs-12 col-sm-12 col-md-12 no-float center-block load-more-debit">
                        Load more...
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </div>
        </div>
        <br />
        <br />
    </div>
    @section scripts{
        <script src="@Url.Content("~/Plugins/Nop.Plugin.Api/Themes/Vnext/assets/js/account/walletledger.js")"></script>
    }
</form>
