﻿@model Nop.Admin.Models.CompanyGst.CompanyGstModel
@using Nop.Admin.Models.CompanyGst;
@using Nop.Core.Domain.CompanyGst;


<script>
    $(document).ready(function () {
        bindBootstrapTabSelectEvent('product-attribute-edit');
    });
</script>

<div class="content">
    <div class="form-horizontal">
        <div id="blog-post-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-info", @T("Admin.Catalog.Attributes.ProductAttributes.Info"), true)

            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)

            </div>
        </div>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "product-attribute-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@*save selected tab name*@
<input type="hidden" id="selected-tab-name" name="selected-tab-name" value="@(Html.GetSelectedTabName())">

@{
    //resources for product tags input
    Html.AppendCssFileParts("~/Administration/Content/tagEditor/jquery.tag-editor.css");
    Html.AppendScriptParts("~/Administration/Scripts/tagEditor/jquery.tag-editor.min.js");
    Html.AppendScriptParts("~/Administration/Scripts/tagEditor/jquery.caret.min.js");
}

@helper TabInfo()
{
    var Usertype = new List<SelectListItem>
            {
            new SelectListItem { Text = "Company", Value="1" , Selected=true },
            new SelectListItem { Text = "Trader", Value="2" }

            };

            @Html.HiddenFor(model => model.Id)
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Usertype)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDropDownListFor(model => model.Usertype, Usertype)
                                @Html.HiddenFor(model => model.Usertype, Usertype)
                                @Html.ValidationMessageFor(model => model.Usertype)
                            </div>
                        </div>
                        <div class="form-group" id="divTrader">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Traderid)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.traderName)
                                @Html.HiddenFor(model => model.Traderid)
                                <div id="divfirstname" class="inputs">
                                </div>
                                @Html.ValidationMessageFor(model => model.Traderid)
                            </div>
                        </div>
                        <div class="form-group" id="divTraderComapny">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.TraderComapnyName)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.TraderComapnyName)
                                @Html.HiddenFor(model => model.TraderComapnyName)
                                @Html.ValidationMessageFor(model => model.TraderComapnyName)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.CompanyType)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDropDownListFor(model => model.CompanyType, ((CompanyType)Model.CompanyType).ToSelectListBind())
                                @Html.HiddenFor(model => model.CompanyType, ((CompanyType)Model.CompanyType).ToSelectListBind())
                                @*@Html.HiddenFor(model => model.CompanyType)*@
                                @Html.ValidationMessageFor(model => model.CompanyType)

                                <input type="submit" id="btnAddNewRelatedProduct" value="Preview @T("Admin.CompanyGst.Registered")" onclick="javascript:OpenWindow(' @(Url.Action("PreviewImage", "ComapnyGstMaster", new { @CompanyType = Model.CompanyType })) ', 800, 800, true); return false;" class="btn bg-blue" />
                                <input type="submit" id="btnAddNewcomposite" value="Preview @T(" admin.companygst.composite")" onclick="javascript:OpenWindow('@(Url.Action("PreviewImage", "ComapnyGstMaster", new { @CompanyType = Model.CompanyType }))    ', 800, 800, true); return false;" class="btn bg-blue" />
                                <input type="submit" id="btnAddNewUnregister" value="Preview @T(" admin.companygst.unregister")" onclick="javascript:OpenWindow('@(Url.Action("PreviewImage", "ComapnyGstMaster", new { @CompanyType = Model.CompanyType }))    ', 800, 800, true); return false;" class="btn bg-blue" />

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.CountryId)
                            </div>
                            <div class="col-md-9">
                                @*@Html.DropDownList("CountryId", Model.AvailableCountries)*@
                                @Html.NopEditorFor(model => model.CountryName)
                                @Html.HiddenFor(model => model.CountryId)
                                @Html.ValidationMessageFor(model => model.CountryId)
                                <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.StateProvinceId)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.StateName)
                                @Html.HiddenFor(model => model.StateProvinceId)
                                @Html.ValidationMessageFor(model => model.StateProvinceId)
                                <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                <div class="alert alert-danger alert-dismissable" id="ValideMessageState">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.StateCode)
                            </div>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.StateCode, new { htmlAttributes = new { @maxlength = "10" }, id = "StateCode" })

                                @*// @Html.RequiredHint()*@
                                @Html.ValidationMessageFor(model => model.StateCode)
                            </div>
                        </div>
                        <div class="form-group" id="duvGstCode">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.GstCode)
                            </div>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.GstCode, new { htmlAttributes = new { @maxlength = "15" } })
                                @*@Html.RequiredHint()*@
                                @Html.ValidationMessageFor(model => model.GstCode)
                                <div class="alert alert-danger alert-dismissable" id="ValideMessageGst">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.CompanyAddress)
                            </div>
                            <div class="col-md-9">
                                @Html.NopTextAreaFor(model => model.CompanyAddress, new { maxlength = 150, style = "Width: 250px; Height: 150px;" })
                                @Html.ValidationMessageFor(model => model.CompanyAddress)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.GstCodeActive)
                            </div>
                            <div class="col-md-9">
                                <div class="gender">
                                    @Html.RadioButtonFor(model => model.GstCodeActive, true, Model.GstCodeActive)
                                    <label class="forcheckbox">@T("Admin.Supplier.ActiveState")</label>
                                </div>
                                <div class="gender">
                                    @Html.RadioButtonFor(model => model.GstCodeActive, false, Model.GstCodeActive)
                                    <label class="forcheckbox">@T("Admin.Supplier.InActiveState")</label>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
}

