﻿@model Nop.Admin.Models.CompanyGst.CompanyGstModel

@{
    //page title
    ViewBag.Title = T("Admin.CompanyGst.EditCompanyGstDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("GST Master");
}
@{

    var Usertype = new List<SelectListItem>
            {
            new SelectListItem { Text = "Company", Value="1" , Selected=true },
            new SelectListItem { Text = "Trader", Value="2" }

            };
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.CompanyGst.EditCompanyGstDetails")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.CompanyGst.BackToList").Text, "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" id="btnSave" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" id="btnSaveContinew" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>            
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
    
    <script type="text/javascript">
    $('#StateCode').attr('readonly', 'readonly')
    $('#StateName').attr('readonly', 'readonly')
    $('#CountryName').attr('readonly', 'readonly')
    $('#CountryId').attr("disabled", true);
    $('#StateProvinceId').attr('disabled', 'readonly')
    $('#Usertype').attr('disabled', 'readonly')
    $('#traderName').attr('readonly', 'readonly')

    //$('#CountryId').attr('readonly', 'readonly')
    //$('#StateProvinceId').attr('readonly', 'readonly')
    $("#validationMessages").hide();
    $(document).ready(function () {
        $("#btnAddNewcomposite").hide();
        $("#btnAddNewUnregister").hide();
       
        $('#Usertype').attr("disabled", true);

        CompanyType = $("#CompanyType").val()
        if (CompanyType == 3) {
            // $("#StateCode").hide();
            $("#duvGstCode").hide();
        }
        else {
            // $("#StateCode").show();
            $("#duvGstCode").show();
        }
        if (CompanyType == 1) {

            $('#CompanyType').attr('disabled', 'readonly')

        }
        else {
            $('#CompanyType').removeAttr("readonly");
        }
        Usertype = $("#Usertype").val()
        // alert(CompanyType)

        if (Usertype == 2) {
            $("#divTrader").show();
            $("#divTraderComapny").show();
        }
        else {
            $("#divTrader").hide();
            $("#divTraderComapny").hide();
        }

        if ($('#CompanyType').val() == "2") {
            $("#CompanyType option[value='3']").remove();
        }

    });
    $("#ValideMessageState").hide();
    $("#ValideMessageGst").hide();
    $("#validationMessages").hide();

    @*$(function () {
            $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
              //  
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "CountryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });*@

    $(function () {
        @*$("#@Html.FieldIdFor(model => model.StateProvinceId)").change(function () {
                //  
                // alert("called")
                var validationDivs = '';
                StateProvinceId = $("#StateProvinceId").val()
                Usertype = $("#Usertype").val()
                $.get("@(Url.Action("ValidateState", "ComapnyGstMaster"))", { StateProvinceId: StateProvinceId, Usertype: Usertype }, function (response) {

                    // alert(response)
                    var validationDivs = '';
                    var checkresponce = response.split(",")
                    //alert(checkresponce[1]);
                    if (checkresponce[0] == "Success") {
                        $("#StateCode").val(checkresponce[1]);
                        $('#validationMessages').html('');
                        $("#validationMessages").show();
                        validationDivs = validationDivs + '<div>@T("Admin.CompanyGst.CheckGstexist")</div>';
                        $('#validationMessages').append(validationDivs);
                       // Value = '<option value="0" text="Select state">Select state</option>';
                        var Value = checkresponce[2];
                      //  alert(Value)
                        $("#StateProvinceId").val(Value);
                       // $('#StateProvinceId').find('option[value="'+ Value +'"]').attr('selected', 'selected');
                        //$("#StateProvinceId").append(Value);
                        return false;
                    }
                    else {
                        $("#StateCode").val('');
                        $("#StateCode").val(checkresponce[1]);
                        $('#ValideMessageState').html('');
                        $("#ValideMessageState").hide();


                    }
                });
            });*@
    });

    $(function () {
        $("#@Html.FieldIdFor(model => model.CompanyType)").change(function () {
            //  
            // alert("called")

            if ($("#CompanyType").val() == 1) {

                $("#btnAddNewRelatedProduct").show();
                $("#btnAddNewcomposite").hide();
                $("#btnAddNewUnregister").hide();

            }
            if ($("#CompanyType").val() == 2) {

                $("#btnAddNewRelatedProduct").hide();
                $("#btnAddNewcomposite").show();
                $("#btnAddNewUnregister").hide();

            }
            if ($("#CompanyType").val() == 3) {
                $("#btnAddNewRelatedProduct").hide();
                $("#btnAddNewcomposite").hide();
                $("#btnAddNewUnregister").show();
            }

            var validationDivs = '';
            CompanyType = $("#CompanyType").val()

            if (CompanyType == 3) {
                // $("#StateCode").hide();
                $("#duvGstCode").hide();
            }
            else {
                // $("#StateCode").show();
                $("#duvGstCode").show();

            }
            //if (CompanyType == 1) {

            //    $('#CompanyType').attr('disabled', 'readonly')

            //}
            //else {
            //    $('#CompanyType').removeAttr("readonly");
            //}

            //if (CompanyType == 1) {
            //   // $('#CompanyType').attr('readonly', 'readonly')
            //    $('#CompanyType').attr('disabled', 'readonly')
            //}
            //else {
            //    $('#CompanyType').removeAttr("readonly");
            //}
            // alert(CompanyType)
            $.get("@(Url.Action("GetComapnyid", "ComapnyGstMaster"))", { CompanyType: CompanyType }, function (response) {

                //alert(response)


            });
        });
    });

    $(function () {
        $("#@Html.FieldIdFor(model => model.Usertype)").change(function () {
            //  
            // alert("called")
            var validationDivs = '';
            Usertype = $("#Usertype").val()
            // alert(CompanyType)

            if (Usertype == 2) {
                $("#divTrader").show();
                $("#divTraderComapny").show();
            }
            else {
                $("#divTrader").hide();
                $("#divTraderComapny").hide();
            }

            //alert(response)


        });
    });

    $(function () {
        $("#GstCode").keydown(function (event) {
            //  
            // alert("called")
            if (event.keyCode == 13 || event.keyCode == 9) {
                //alert("called")
                var validationDivs = '';
                GstCode = $("#GstCode").val()
                $.get("@(Url.Action("CheckDuplicateGstCode", "ComapnyGstMaster"))", { GstCode: GstCode }, function (response) {

                    //alert(response)
                    var validationDivs = '';
                    if (response == "Success") {
                        $('#validationMessages').html('');

                        validationDivs = validationDivs + '<div>@T("Admin.CompanyGst.GSTCodeduplicate")</div>';
                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs);
                        $("#GstCode").val('');
                        return false;
                    }
                    else {
                        $('#ValideMessageGst').html('');
                        $("#ValideMessageGst").hide();

                    }

                });
                event.preventDefault();
                return false;
            }
        });
    });


    $(function () {
        $("#traderName").on("change  copy cut paste", function (event) {
            //  
            // alert("called")
            if (event.keyCode == 13 || event.keyCode == 9) {
                event.preventDefault();
                return false;
            }
            //alert("called")
            var validationDivs = '';
            Traderid = $("#Traderid").val()
            $.get("@(Url.Action("GetTraderDetails", "ComapnyGstMaster"))", { Traderid: Traderid }, function (response) {

                //alert(response)
                var validationDivs = '';
                var checkresponce = response.split(",")
                if (checkresponce[0] == "Success") {
                    $("#CompanyType").val(checkresponce[1]);

                    if ($("#CompanyType").val() == "3") {
                        $("#duvGstCode").hide();
                    }
                    //$('#CompanyType').attr("disabled", true);
                    $('#CompanyType').attr('readonly', 'readonly')
                    $("#CountryName").val('');
                    $("#CountryName").val(checkresponce[3]);
                    $("#StateName").val('');
                    $("#StateName").val(checkresponce[2]);
                    $("#StateCode").val('');
                    $("#StateCode").val(checkresponce[4]);
                    //alert(checkresponce[2])
                    //$("#StateProvinceId").val(checkresponce[2])

                    // $("#GstCode").val('');

                    if ($("#CompanyType").val() == 1) {

                        $("#btnAddNewRelatedProduct").show();
                        $("#btnAddNewcomposite").hide();
                        $("#btnAddNewUnregister").hide();
                    }
                    if ($("#CompanyType").val() == 2) {

                        $("#btnAddNewRelatedProduct").hide();
                        $("#btnAddNewcomposite").show();
                        $("#btnAddNewUnregister").hide();
                    }
                    if ($("#CompanyType").val() == 3) {
                        $("#btnAddNewRelatedProduct").hide();
                        $("#btnAddNewcomposite").hide();
                        $("#btnAddNewUnregister").show();
                    }

                    return false;
                }
                else {


                }

            });

        });
    });

    $('#traderName').autocomplete({
        delay: 500,
        minLength: 1,
        source: '@(Url.Action("SearchTermAutoCompleteTrader", "ComapnyGstMaster"))',
        appendTo: '.search-box',
        select: function (event, ui) {
            $("#Traderid").val(ui.item.Id);
            $("#traderName").val(ui.item.label);
            $("#divfirstname").show();
            return false;
        }
    }).data("ui-autocomplete")._renderItem = function (ul, item) {

        var t = item.label;

        //html encode
        t = $('<div/>').text(t).html();
        return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a><span>" + t + "</span></a>")
            .appendTo(ul);
    };
    $("#CompanyAddress").keyup(function (event) {


        var validationDivs = '';
        $('#validationMessages').hide();
        //   $(".message-box.message-box-error").hide();
        var key = event.which;

        //all keys including return.0
        if (key >= 33 || key == 13 || key == 32) {
            var maxLength = $(this).attr("CompanyAddress");

            var length = $("#CompanyAddress").val().length;
            if (length >= maxLength) {
                event.preventDefault();
                $('#validationMessages').html('');
                validationDivs = validationDivs + '<div>@T("Publicstore.CommunicationCenter.MessageMaxLength")</div>';

                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
                return false;
            }
        }
    });
    </script>
    <style>
        .required {
            color: red;
        }
    </style>
}

