﻿@** Copyright 2016 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
    * http://www.nop-templates.com/t/licensinginfo
*@

@using SevenSpikes.Nop.Plugins.MegaMenu
@using SevenSpikes.Nop.Plugins.MegaMenu.Domain.Enums
@using SevenSpikes.Nop.Plugins.MegaMenu.Models
@using Nop.Core.Infrastructure;
@using Nop.Services.Customers;
@using Nop.Core.Domain.Customers;
@using Nop.Core;

@model MegaMenuWidgetModel

@{
    Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.MegaMenu/Themes/" + Model.Theme + "/Content/MegaMenu.css");

    var supportRtl = ShouldUseRtlTheme();
    if (supportRtl)
    {
        Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.MegaMenu/Themes/" + Model.Theme + "/Content/MegaMenu.rtl.css");
    }

    Html.AddScriptParts("~/Plugins/SevenSpikes.Core/Scripts/SevenSpikesExtensions.min.js");
    Html.AddScriptParts("~/Plugins/SevenSpikes.Nop.Plugins.MegaMenu/Scripts/MegaMenu.min.js");
}

@helper BuildMenuItem(MenuItemModel item)
{
    var hasSublist = item.SubItems.Count > 0;
    var hasSublistClass = hasSublist ? "has-sublist" : string.Empty;
    var withSubcategoriesClass = hasSublist ? "with-subcategories" : string.Empty;
    var itemUrl = Constants.PredefinedPageTypes.Contains(item.Type) ? Url.RouteUrl(item.Type.ToString()) : item.Url;

    <li class="@item.CssClass @hasSublistClass">
        <a href="@itemUrl" class="@withSubcategoriesClass" title="@item.Title" @if (item.OpenInNewWindow) { <text> target="_blank" </text>          }><span> @item.Title</span></a>

        @if (hasSublist)
        {
            <div class="plus-button"></div>
            <div class="sublist-wrap">
                <ul class="sublist">
                    <li class="back-button">
                        <span>@T("SevenSpikes.MegaMenu.ResponsiveBackButton")</span>
                    </li>
                    @foreach (var subItem in item.SubItems)
                    {
                        @BuildMenuItem(subItem)
                    }
                </ul>
            </div>
        }
    </li>
}

@foreach (var menu in Model.MegaMenus)
{
    List<MvcHtmlString> responsiveMenuItems = new List<MvcHtmlString>();
    var isVFMember = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.MemId;
    if (isVFMember == null || isVFMember == -1)
    {
        isVFMember = null;
    }
    var controllerName = System.Web.HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("controller").ToString().ToLower();
    var IsGuest = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.IsGuest();
    <ul class="mega-menu @menu.CssClass"
        data-isrtlenabled="@supportRtl.ToString().ToLowerInvariant()"
        data-enableclickfordropdown="@menu.ShowDropdownsOnClick.ToString().ToLowerInvariant()">
        @foreach (var item in menu.Items)
        {
            var shouldUseCatalogTemplate = (item.Type == MenuItemType.Categories && item.CatalogTemplate != CatalogTemplate.Simple);
            var shouldUseManufacturerTemplate = (item.Type == MenuItemType.Manufacturers && item.MaximumNumberOfEntities > 0 && item.CatalogTemplate != CatalogTemplate.Simple);
            var shouldUseVendorTemplate = (item.Type == MenuItemType.Vendors && item.MaximumNumberOfEntities > 0 && item.CatalogTemplate != CatalogTemplate.Simple);
            var shouldUseTopicTemplate = (item.Type == MenuItemType.Topics && item.MaximumNumberOfEntities > 0 && item.EntityId == 0);
            var shouldUseProductTagsTemplate = (item.Type == MenuItemType.ProductTags && item.MaximumNumberOfEntities > 0 && item.EntityId == 0);

            if (shouldUseCatalogTemplate)
            {
                if (isVFMember != null && (controllerName == "home" || controllerName == "gallerypublicinfo" || controllerName == "product" || controllerName == "boards" || controllerName == "common" || controllerName == "news" || controllerName == "blog" || controllerName == "topic" || controllerName == "catalog" || controllerName == "imagegallery" || controllerName == "videogallery" || controllerName == "eventmodule"))
                {
                    MvcHtmlString menuItemHtml = Html.Action("GetCategoryTemplate", "MegaMenuCatalog", new { menuItem = item });

                    @menuItemHtml

                    var responsiveMenu = menuItemHtml;

                    if (item.CatalogTemplate == CatalogTemplate.WithPictures)
                    {
                        MenuItemModel responsiveMenuItem = (MenuItemModel)item.Clone();

                        responsiveMenuItem.CatalogTemplate = CatalogTemplate.List;

                        responsiveMenu = Html.Action("GetCategoryTemplate", "MegaMenuCatalog", new { menuItem = responsiveMenuItem, isResponsive = true });
                    }

                    responsiveMenuItems.Add(responsiveMenu);
                }
                else
                {
                    MvcHtmlString menuItemHtml = Html.Action("GetCategoryTemplate", "MegaMenuCatalog", new { menuItem = item });

                    @menuItemHtml

                    var responsiveMenu = menuItemHtml;

                    if (item.CatalogTemplate == CatalogTemplate.WithPictures)
                    {
                        MenuItemModel responsiveMenuItem = (MenuItemModel)item.Clone();

                        responsiveMenuItem.CatalogTemplate = CatalogTemplate.List;

                        responsiveMenu = Html.Action("GetCategoryTemplate", "MegaMenuCatalog", new { menuItem = responsiveMenuItem, isResponsive = true });
                    }

                    responsiveMenuItems.Add(responsiveMenu);
                }
            }
            else if (shouldUseManufacturerTemplate)
            {
                if (isVFMember != null && (controllerName == "home" || controllerName == "gallerypublicinfo" || controllerName == "product" || controllerName == "boards" || controllerName == "common" || controllerName == "news" || controllerName == "blog" || controllerName == "topic" || controllerName == "catalog" || controllerName == "imagegallery" || controllerName == "videogallery" || controllerName == "eventmodule"))
                {
                    MvcHtmlString menuItemHtml = Html.Action("GetManufacturerTemplate", "MegaMenuCatalog", new { menuItem = item });

                    @menuItemHtml

                    var responsiveMenu = menuItemHtml;

                    if (item.CatalogTemplate == CatalogTemplate.WithPictures)
                    {
                        MenuItemModel responsiveMenuItem = (MenuItemModel)item.Clone();

                        responsiveMenuItem.CatalogTemplate = CatalogTemplate.List;

                        responsiveMenu = Html.Action("GetManufacturerTemplate", "MegaMenuCatalog", new { menuItem = responsiveMenuItem });
                    }

                    responsiveMenuItems.Add(responsiveMenu);
                }
            }
            else if (shouldUseVendorTemplate)
            {
                if (isVFMember != null && (controllerName == "home" || controllerName == "gallerypublicinfo" || controllerName == "product" || controllerName == "boards" || controllerName == "common" || controllerName == "news" || controllerName == "blog" || controllerName == "topic" || controllerName == "catalog" || controllerName == "imagegallery" || controllerName == "videogallery" || controllerName == "eventmodule"))
                {
                    MvcHtmlString menuItemHtml = Html.Action("GetVendorTemplate", "MegaMenuCatalog", new { menuItem = item });

                    @menuItemHtml

                    var responsiveMenu = menuItemHtml;

                    if (item.CatalogTemplate == CatalogTemplate.WithPictures)
                    {
                        MenuItemModel responsiveMenuItem = (MenuItemModel)item.Clone();

                        responsiveMenuItem.CatalogTemplate = CatalogTemplate.List;

                        responsiveMenu = Html.Action("GetVendorTemplate", "MegaMenuCatalog", new { menuItem = responsiveMenuItem });
                    }

                    responsiveMenuItems.Add(responsiveMenu);
                }
            }
            else if (shouldUseTopicTemplate)
            {
                if (isVFMember != null && (controllerName == "home" || controllerName == "gallerypublicinfo" || controllerName == "product" || controllerName == "boards" || controllerName == "common" || controllerName == "news" || controllerName == "blog" || controllerName == "topic" || controllerName == "catalog" || controllerName == "imagegallery" || controllerName == "videogallery" || controllerName == "eventmodule"))
                {
                    MvcHtmlString menuItemHtml = Html.Action("GetTopicTemplate", "MegaMenuCatalog", new { menuItem = item });
                    responsiveMenuItems.Add(menuItemHtml);

                    @menuItemHtml
                }
                else if ((IsGuest || isVFMember == null))
                {
                    MvcHtmlString menuItemHtml = Html.Action("GetTopicTemplate", "MegaMenuCatalog", new { menuItem = item });
                    responsiveMenuItems.Add(menuItemHtml);

                    @menuItemHtml
                }
            }
            else if (shouldUseProductTagsTemplate)
            {
                if (isVFMember != null && (controllerName == "home" || controllerName == "gallerypublicinfo" || controllerName == "product" || controllerName == "boards" || controllerName == "common" || controllerName == "news" || controllerName == "blog" || controllerName == "topic" || controllerName == "catalog" || controllerName == "imagegallery" || controllerName == "videogallery" || controllerName == "eventmodule"))
                {
                MvcHtmlString menuItemHtml = Html.Action("GetProductTagsTemplate", "MegaMenuCatalog", new { menuItem = item });
                responsiveMenuItems.Add(menuItemHtml);

                @menuItemHtml
                }
                else if ((IsGuest || isVFMember == null))
                {
                    MvcHtmlString menuItemHtml = Html.Action("GetProductTagsTemplate", "MegaMenuCatalog", new { menuItem = item });
                    responsiveMenuItems.Add(menuItemHtml);

                    @menuItemHtml
                }
            }
            else
            {
                if (isVFMember != null && (controllerName == "home" || controllerName == "gallerypublicinfo" || controllerName == "product" || controllerName == "boards" || controllerName == "common" || controllerName == "news" || controllerName == "blog" || controllerName == "topic" || controllerName == "catalog" || controllerName == "imagegallery" || controllerName == "videogallery" || controllerName == "eventmodule"))
                {
                    //if (isVFMember != null && (controllerName != "vfdashboard" && controllerName != "mynetwork" && controllerName != "mycommission" && controllerName != "payoutreports" && controllerName != "achivement" && controllerName != "customer" && controllerName != "order" && controllerName != "mydetails" && controllerName != "epin" && controllerName != "ewallet" && controllerName != "communicationcenter" && controllerName != "widgetsticketMyAccount" && controllerName != "Widgetsticketmyaccount" && controllerName != "midcard" && controllerName != "returnrequest"))

                    var menuHelperResult = BuildMenuItem(item);
                    MvcHtmlString menuItemHtml = MvcHtmlString.Create(menuHelperResult.ToHtmlString());
                    responsiveMenuItems.Add(menuItemHtml);

                    @menuItemHtml

                }
                else if ((IsGuest || isVFMember == null))
                {
                    var menuHelperResult = BuildMenuItem(item);
                    MvcHtmlString menuItemHtml = MvcHtmlString.Create(menuHelperResult.ToHtmlString());
                    responsiveMenuItems.Add(menuItemHtml);

                    @menuItemHtml
                }
            }
        }
        @if (isVFMember != null && (controllerName != "boards" && controllerName != "common" && controllerName != "news" && controllerName != "blog" && controllerName != "home" && controllerName != "topic" && controllerName != "gallerypublicinfo" && controllerName != "customernotification" && controllerName != "product" && controllerName != "catalog" && controllerName != "imagegallery" && controllerName != "videogallery" && controllerName != "eventmodule"))
        {

            //if (isVFMember != null && (controllerName != "vfdashboard" || controllerName != "mynetwork" || controllerName != "mycommission" || controllerName != "payoutreports" || controllerName != "achivement" || controllerName != "customer" || controllerName != "order" || controllerName != "mydetails" || controllerName != "epin" || controllerName != "ewallet" || controllerName != "communicationcenter" || controllerName != "widgetsticketMyAccount" || controllerName != "Widgetsticketmyaccount" || controllerName != "midcard" || controllerName != "returnrequest"))
            //{
            MvcHtmlString menuItemHtml = Html.Action("GetMegaMenu", "VFCatalog", new { });
            responsiveMenuItems.Add(menuItemHtml);

            @menuItemHtml
            //}
        }
        @if (isVFMember != null && (controllerName == "home" || controllerName == "gallerypublicinfo" || controllerName == "product" || controllerName == "boards" || controllerName == "common" || controllerName == "news" || controllerName == "blog" || controllerName == "topic" || controllerName == "catalog" || controllerName == "imagegallery" || controllerName == "videogallery" || controllerName == "eventmodule"))
        {
            @Html.Widget("header_menu_after")
            @Html.Widget("home_page_ImageGallery")
            @Html.Widget("home_page_VideoGallery")
            @Html.Widget("home_page_EventModule")
        }
    </ul>

    <div class="menu-title"><span>@T("SevenSpikes.MegaMenu.ResponsiveMenuTitle")</span></div>
    <ul class="mega-menu-responsive @menu.CssClass">
        @foreach (var responsiveMenuItem in responsiveMenuItems)
        {
            @responsiveMenuItem
        }

        @if (isVFMember != null && (controllerName == "home" || controllerName == "gallerypublicinfo" || controllerName == "product" || controllerName == "boards" || controllerName == "common" || controllerName == "news" || controllerName == "blog" || controllerName == "topic" || controllerName == "catalog" || controllerName == "imagegallery" || controllerName == "videogallery" || controllerName == "eventmodule"))
        {
            @Html.Widget("header_menu_after")
            @Html.Widget("home_page_ImageGallery")
            @Html.Widget("home_page_VideoGallery")
            @Html.Widget("home_page_EventModule")
        }
    </ul>
}

<script type="text/javascript">


    $(document).ready(function () {
        // We need to trigger an event, in order for the lazy loading to work. The default event is scroll, which is not useful in this case
        $(".category-navigation-list").on("mouseenter", function () {
            $("img.lazy").each(function () {
                var that = $(this);

                that.attr('src', that.attr('data-original'));
            });
        });
    });

</script>