﻿@model Nop.Admin.Models.Couriers.CourierModel
@using Nop.Admin.WebServices;
@using Nop.Core;


<script>
    $(document).ready(function () {
        bindBootstrapTabSelectEvent('product-attribute-edit');
    });
</script>

<div class="content">
    <div class="form-horizontal">
        <div id="product-attribute-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-info", @T("Admin.Catalog.Attributes.ProductAttributes.Info"), true)
            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="selected-tab-name" name="selected-tab-name" value="@(Html.GetSelectedTabName())">
@helper TabInfo()
{

    var validationSummary = Html.ValidationSummary(true);
    List<SelectListItem> selectType = new List<SelectListItem>{
    new SelectListItem{ Text="Courier",Value="Courier", Selected =true},
     new SelectListItem{ Text="Transporter",Value="Transporter"}
    };


    if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
    {
        <div class="message-error">@validationSummary</div>
    }


    @Html.HiddenFor(model => model.Id)

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.DeliveryType)
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group input-group-required">
                                            @Html.NopDropDownListFor(model => model.DeliveryType, selectType, new { Id = "selectOption" })
                                            @Html.ValidationMessageFor(model => model.DeliveryType)
                                            <div style="visibility:hidden" class="input-group-btn">
                                                @Html.RequiredHint()
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Name)
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group input-group-required">
                                            @Html.NopEditorFor(model => model.Name)
                                            @*new { @id = "CTname" }*@

                                            @Html.ValidationMessageFor(model => model.Name)
                                            <div class="input-group-btn">
                                                @Html.RequiredHint()
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                               

                                @*<tr>
                                        <td class="adminTitle">
                                            @Html.NopLabelFor(model => model.Code):
                                        </td>
                                        <td class="adminData">
                                            @Html.EditorFor(model => model.Code)
                                            @Html.ValidationMessageFor(model => model.Code)
                                        </td>
                                    </tr>*@
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Address)
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group input-group-required">
                                            @Html.NopTextAreaFor(model => model.Address)
                                            @Html.ValidationMessageFor(model => model.Address)
                                            <div class="input-group-btn">
                                                @Html.RequiredHint()
                                            </div>
                                        </div>
                                        </div>
                                  
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.CountryId)
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group input-group-required">
                                            @Html.NopDropDownListFor(model => model.CountryId, Model.AvailableCountries)
                                            @Html.ValidationMessageFor(model => model.CountryId)
                                            <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                            <div style="visibility:hidden" class="input-group-btn">
                                                @Html.RequiredHint()
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.StateProvinceId)
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group input-group-required">
                                            @Html.NopDropDownListFor(model => model.StateProvinceId, Model.AvailableStates)
                                            @Html.ValidationMessageFor(model => model.StateProvinceId)
                                            <div style="visibility:hidden" class="input-group-btn">
                                                @Html.RequiredHint()
                                            </div>
                                        </div>
                                        <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.City)
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group input-group-required">
                                            @Html.NopEditorFor(x => x.City)
                                            @Html.ValidationMessageFor(model => model.City)
                                            <div style="visibility:hidden" class="input-group-btn">
                                                @Html.RequiredHint()
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ZipCode)
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group input-group-required">
                                            @Html.NopEditorFor(x => x.ZipCode)
                                            @Html.ValidationMessageFor(model => model.ZipCode)
                                            <div class="input-group-btn">
                                                @Html.RequiredHint()
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>

                                @*<tr>
                                        <td class="adminTitle">
                                            @Html.NopLabelFor(model => model.TinNo):
                                        </td>
                                        <td class="adminData">
                                            @Html.EditorFor(x => x.TinNo)
                                            @Html.ValidationMessageFor(model => model.TinNo)
                                        </td>
                                    </tr>*@
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.MobileNo)
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group input-group-required">
                                            @Html.NopEditorFor(x => x.MobileNo)
                                            @Html.ValidationMessageFor(model => model.MobileNo)
                                            <div class="input-group-btn">
                                                @Html.RequiredHint()
                                            </div>
                                        </div>
                                        </div>
                                  
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Email)
                                    </div>
                                    <div class="col-md-8">
                                         <div class="input-group input-group-required">
                                        @Html.NopEditorFor(x => x.Email)
                                        @Html.ValidationMessageFor(model => model.Email)
                                        <div style="visibility:hidden" class="input-group-btn">
                                            @Html.RequiredHint()
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ContactPerson)
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group input-group-required">
                                            @Html.NopEditorFor(x => x.ContactPerson)
                                            @Html.ValidationMessageFor(model => model.ContactPerson)
                                            <div class="input-group-btn">
                                                @Html.RequiredHint()
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Status)
                                    </div>
                                    <div class="col-md-8">
                                        <div class="col-md-6">
                                            <div class="gender">
                                                @Html.RadioButtonFor(model => model.Status, true, Model.Status)
                                                <label class="forcheckbox">@T("Admin.Supplier.ActiveState")</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="gender">
                                                @Html.RadioButtonFor(model => model.Status, false, Model.Status)
                                                <label class="forcheckbox">@T("Admin.Supplier.InActiveState")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

 


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
    @*}*@


    <script type="text/javascript">
        // $("#validationMessages").hide();
        $(function () {
            $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
                //alert();
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
        $("#@Html.FieldIdFor(model => model.AmtWithinProvince)").keyup(function () {
            //
            $("#validationMessagesstockIn").hide();
            var val1 = ($(this).val().length);
            if (val1 > 10) {
                $("#validationMessagesstockIn").show();
                $("#validationMessagesstockIn").html("@T("Admin.Courier.AmountRange")");
                return false;
            }

        });
        $("#@Html.FieldIdFor(model => model.AmtOutOfProvince)").keyup(function () {
            // 
            $("#validationMessagesstockIn").hide();
            var val1 = ($(this).val().length);
            if (val1 > 10) {
                $("#validationMessagesstockIn").show();
                $("#validationMessagesstockIn").html("@T("Admin.Courier.AmountRange")");
                return false;
            }
        });
        $("#@Html.FieldIdFor(model => model.AmtOutOfProvincePerGm)").keyup(function () {
            //
            $("#validationMessagesstockIn").hide();
            var val1 = ($(this).val().length);
            if (val1 > 10) {
                $("#validationMessagesstockIn").show();
                $("#validationMessagesstockIn").html("@T("Admin.Courier.AmountRange")");
                return false;
            }
        });
        $("#@Html.FieldIdFor(model => model.AmtOutOfProvincePerKg)").keyup(function () {
            // 
            $("#validationMessagesstockIn").hide();
            var val1 = ($(this).val().length);
            if (val1 > 10) {
                $("#validationMessagesstockIn").show();
                $("#validationMessagesstockIn").html("@T("Admin.Courier.AmountRange")");
                return false;
            }
        });
        $("#@Html.FieldIdFor(model => model.AmtOutOfProvincePerPiece)").keyup(function () {
            //
            $("#validationMessagesstockIn").hide();
            var val1 = ($(this).val().length);
            if (val1 > 10) {
                $("#validationMessagesstockIn").show();
                $("#validationMessagesstockIn").html("@T("Admin.Courier.AmountRange")");
                return false;
            }
        });
        $("#@Html.FieldIdFor(model => model.AmtWithinProvincePerGm)").keyup(function () {
            // 
            var val1 = ($(this).val().length);
            if (val1 > 10) {
                $("#validationMessagesstockIn").show();
                $("#validationMessagesstockIn").html("@T("Admin.Courier.AmountRange")");
                return false;
            }
        });
        $("#@Html.FieldIdFor(model => model.AmtWithinProvincePerPiece)").keyup(function () {
            // 
            $("#validationMessagesstockIn").hide();
            var val1 = ($(this).val().length);
            if (val1 > 10) {
                $("#validationMessagesstockIn").show();
                $("#validationMessagesstockIn").html("@T("Admin.Courier.AmountRange")");
                return false;
            }
        });
        $("#@Html.FieldIdFor(model => model.AmtWithinProvincePerKg)").keyup(function () {
            //
            $("#validationMessagesstockIn").hide();
            var val1 = ($(this).val().length);
            if (val1.length > 10)
                $("#validationMessagesstockIn").show();
            $("#validationMessagesstockIn").html("@T("Admin.Courier.AmountRange")");
            return false;
            // alert("Enter Number Within range");
        });
        //$('AmtWithinProvince').keyup(function () {
        //    var val1=($(this).val().length);
        //    alert("hello"+ val1);
        //});
        var amountwithinProvince = $("#AmtWithinProvince").val();
        var amountOutOfProvince = $("#AmtOutOfProvince").val();

        var amtWithinProvincePerPiece = $("#AmtWithinProvincePerPiece").val();
        var amtWithinProvincePerGm = $("#AmtWithinProvincePerGm").val();
        var amtWithinProvincePerKg = $("#AmtWithinProvincePerKg").val();
        var amtOutOfProvincePerPiece = $("#AmtOutOfProvincePerPiece").val();
        var amtOutOfProvincePerGm = $("#AmtOutOfProvincePerGm").val();
        var amtOutOfProvincePerKg = $("#AmtOutOfProvincePerKg").val();
        //  $("#DivTransport").hide();
        //$("#AmtOutOfProvincePerGm").attr("disabled", true)
        //$("#AmtOutOfProvincePerKg").attr("disabled", true)
        //$("#AmtWithinProvincePerGm").attr("disabled", true)
        //$("#AmtWithinProvincePerKg").attr("disabled", true)

        //$("#AmtWithinProvincePerGm").val("0");
        //$("#AmtWithinProvincePerKg").val("0");
        //$("#AmtOutOfProvincePerGm").val("0");
        //$("#AmtOutOfProvincePerKg").val("0");
        var check, uncheck, isSelect;
        var checktwithin, withinuncheck;
        $("#@Html.FieldIdFor(model => model.WithinProvince)").on("click", function () {
            //  alert();

            check = $("#@Html.FieldIdFor(model => model.WithinProvince)").is(":checked");
            if (check) {

                $("#AmtWithinProvince").removeAttr("disabled")
                $("#AmtWithinProvince").val(amountwithinProvince);

            }
            uncheck = $("#@Html.FieldIdFor(model => model.WithinProvince)").is(":unchecked");
            if (uncheck) {

                $("#AmtWithinProvince").attr("disabled", true)
                $("#AmtWithinProvince").val("0");
            }
        });

        $("#@Html.FieldIdFor(model => model.OutOfProvince)").on("click", function () {

            // alert();

            check = $("#@Html.FieldIdFor(model => model.OutOfProvince)").is(":checked");
            if (check) {

                $("#AmtOutOfProvince").removeAttr("disabled")
                $("#AmtOutOfProvince").val(amountOutOfProvince);


            }
            uncheck = $("#@Html.FieldIdFor(model => model.OutOfProvince)").is(":unchecked");
            if (uncheck) {
                $("#AmtOutOfProvince").attr("disabled", true)
                $("#AmtOutOfProvince").val("0");

            }
        });
        $('#selectOption').change(function () {

            var value = $(this).val();
            //  alert(value);
            if (value == 'Courier') {

                $(".cname").show();
                $(".tname").hide();
                $("#DivTransport").hide();
                $("#divCourier").show();
            }
            else {
                $(".cname").hide();
                $(".tname").show();
                $("#DivTransport").show();
                $("#divCourier").hide();
                $("#DivTransport").show();
            }

        })



        if ('@Model.DeliveryType' == 'Courier') {
            $(".tname").hide();
            $(".cname").show();
            $("#DivTransport").hide();
            $("#divCourier").show();

        }
        else {
            $(".tname").show();
            $(".cname").hide();
            $("#DivTransport").show();
            $("#divCourier").hide();
            $("#DivTransport").show();

        }
        // default wtihn state
        if ('@Model.TransWithPorvinceCheck' == 'WithinPiece') {
            $("#AmtWithinProvincePerPiece").removeAttr("disabled")
            $("#AmtWithinProvincePerPiece").val(amtWithinProvincePerPiece);
            $("#AmtWithinProvincePerGm").attr("disabled", true)
            $("#AmtWithinProvincePerKg").attr("disabled", true)
            $("#AmtWithinProvincePerGm").val("0");
            $("#AmtWithinProvincePerKg").val("0");
        }
        else if ('@Model.TransWithPorvinceCheck' == 'WithinGm') {
            $("#AmtWithinProvincePerGm").removeAttr("disabled")
            $("#AmtWithinProvincePerGm").val(amtWithinProvincePerGm);
            $("#AmtWithinProvincePerPiece").attr("disabled", true)
            $("#AmtWithinProvincePerKg").attr("disabled", true)
            $("#AmtWithinProvincePerPiece").val("0");
            $("#AmtWithinProvincePerKg").val("0");
        } else {
            $("#AmtWithinProvincePerKg").removeAttr("disabled")
            $("#AmtWithinProvincePerKg").val(amtWithinProvincePerKg);
            $("#AmtWithinProvincePerPiece").attr("disabled", true)
            $("#AmtWithinProvincePerGm").attr("disabled", true)
            $("#AmtWithinProvincePerPiece").val("0");
            $("#AmtWithinProvincePerGm").val("0");
        }

        //default out of state

        if ('@Model.TransOutProvinceCheck' == 'OutPiece') {
            $("#AmtOutOfProvincePerPiece").removeAttr("disabled")
            $("#AmtOutOfProvincePerPiece").val(amtOutOfProvincePerPiece);
            $("#AmtOutOfProvincePerGm").attr("disabled", true)
            $("#AmtOutOfProvincePerKg").attr("disabled", true)
            $("#AmtOutOfProvincePerGm").val("0");
            $("#AmtOutOfProvincePerKg").val("0");
        }
        else if ('@Model.TransOutProvinceCheck' == 'OutGm') {
            $("#AmtOutOfProvincePerGm").removeAttr("disabled")
            $("#AmtOutOfProvincePerGm").val(amtOutOfProvincePerGm);
            $("#AmtOutOfProvincePerPiece").attr("disabled", true)
            $("#AmtOutOfProvincePerKg").attr("disabled", true)
            $("#AmtOutOfProvincePerPiece").val("0");
            $("#AmtOutOfProvincePerKg").val("0");
        } else {

            $("#AmtOutOfProvincePerKg").removeAttr("disabled")
            $("#AmtOutOfProvincePerKg").val(amtOutOfProvincePerKg);
            $("#AmtOutOfProvincePerPiece").attr("disabled", true)
            $("#AmtOutOfProvincePerGm").attr("disabled", true)
            $("#AmtOutOfProvincePerPiece").val("0");
            $("#AmtOutOfProvincePerGm").val("0");
        }
        // transfer within state


        $("#@Html.FieldIdFor(model => model.TransWithinProvince)").on("click", function () {
            // alert();
            // $("#AmtOutOfProvince").removeAttr("disabled")
            checktwithin = $("#@Html.FieldIdFor(model => model.TransWithinProvince)").is(":checked");
            if (checktwithin) {
                //alert("Checkbox is checked.");
                //  

                //alert();
                $("#AmtWithinProvincePerPiece").removeAttr("disabled")
                $("#AmtWithinProvincePerGm").removeAttr("disabled")
                $("#AmtWithinProvincePerKg").removeAttr("disabled")
                $("#AmtWithinProvincePerPiece").val(amtWithinProvincePerPiece);
                $("#AmtWithinProvincePerKg").val(amtWithinProvincePerKg);
                $("#AmtWithinProvincePerGm").val(amtWithinProvincePerGm);

            }
            withinuncheck = $("#@Html.FieldIdFor(model => model.TransWithinProvince)").is(":unchecked");
            if (withinuncheck) {

                $("#AmtWithinProvincePerPiece").attr("disabled", true)
                $("#AmtWithinProvincePerGm").attr("disabled", true)
                $("#AmtWithinProvincePerKg").attr("disabled", true)

                $("#AmtWithinProvincePerPiece").val("0");
                $("#AmtWithinProvincePerGm").val("0");
                $("#AmtWithinProvincePerKg").val("0");

            }
        });


        /// transfer out of state

        $("#@Html.FieldIdFor(model => model.TransOutOfProvince)").on("click", function () {
            // alert();
            // $("#AmtOutOfProvince").removeAttr("disabled")
            check = $("#@Html.FieldIdFor(model => model.TransOutOfProvince)").is(":checked");
            if (check) {

                $("#AmtOutOfProvincePerPiece").removeAttr("disabled")
                $("#AmtOutOfProvincePerGm").removeAttr("disabled")
                $("#AmtOutOfProvincePerKg").removeAttr("disabled")

                $("#AmtOutOfProvincePerPiece").val(amtOutOfProvincePerPiece);
                $("#AmtOutOfProvincePerGm").val(amtOutOfProvincePerGm);
                $("#AmtOutOfProvincePerKg").val(amtOutOfProvincePerKg);
            }
            uncheck = $("#@Html.FieldIdFor(model => model.TransOutOfProvince)").is(":unchecked");
            if (uncheck) {

                $("#AmtOutOfProvincePerPiece").attr("disabled", true)
                $("#AmtOutOfProvincePerGm").attr("disabled", true)
                $("#AmtOutOfProvincePerKg").attr("disabled", true)

                $("#AmtOutOfProvincePerPiece").val("0");
                $("#AmtOutOfProvincePerGm").val("0");
                $("#AmtOutOfProvincePerKg").val("0");

            }
        });



        $(document).ready(function () {
            @*$("#validationMessages").hide();
        var suppcname = $("#CTname").val();
        //alert();
        // btnSave
        //
        $("#btnSave").click(function () {
            
            if ('@Model.Name' == '')
            {
                if ('@Model.DeliveryType' == 'Courier') {

                    $("#validationMessages").show();
                    $("#validationMessages").html("@T("Admin.Courier/Transport.RequiredName")");
                } else {
                    $("#validationMessages").hide();
                    $("#validationMessages").show();
                    $("#validationMessages").html("@T("Admin.Transport.RequiredName")");}

            }

        })*@
            $("#validationMessagesstockIn").hide();
            $('input[type="radio"]').click(function () {
                if ($(this).attr('id') == 'WithinPiece') {

                    $("#AmtWithinProvincePerPiece").removeAttr("disabled")
                    $("#AmtWithinProvincePerPiece").val(amtWithinProvincePerPiece);
                    $("#AmtWithinProvincePerGm").attr("disabled", true)
                    $("#AmtWithinProvincePerKg").attr("disabled", true)
                    $("#AmtWithinProvincePerGm").val("0");
                    $("#AmtWithinProvincePerKg").val("0");

                } else {


                }


            });

            $('input[type="radio"]').click(function () {
                if ($(this).attr('id') == 'WithinGm') {

                    $("#AmtWithinProvincePerGm").removeAttr("disabled")
                    $("#AmtWithinProvincePerGm").val(amtWithinProvincePerGm);
                    $("#AmtWithinProvincePerPiece").attr("disabled", true)
                    $("#AmtWithinProvincePerKg").attr("disabled", true)
                    $("#AmtWithinProvincePerPiece").val("0");
                    $("#AmtWithinProvincePerKg").val("0");
                }

                else {

                }
            });

            $('input[type="radio"]').click(function () {
                if ($(this).attr('id') == 'WithinKg') {

                    $("#AmtWithinProvincePerKg").removeAttr("disabled")
                    $("#AmtWithinProvincePerKg").val(amtWithinProvincePerKg);
                    $("#AmtWithinProvincePerPiece").attr("disabled", true)
                    $("#AmtWithinProvincePerGm").attr("disabled", true)
                    $("#AmtWithinProvincePerPiece").val("0");
                    $("#AmtWithinProvincePerGm").val("0");
                }

                else {

                }
            });

            // out of satate

            $('input[type="radio"]').click(function () {
                if ($(this).attr('id') == 'OutPiece') {

                    $("#AmtOutOfProvincePerPiece").removeAttr("disabled")
                    $("#AmtOutOfProvincePerPiece").val(amtOutOfProvincePerPiece);
                    $("#AmtOutOfProvincePerGm").attr("disabled", true)
                    $("#AmtOutOfProvincePerKg").attr("disabled", true)
                    $("#AmtOutOfProvincePerGm").val("0");
                    $("#AmtOutOfProvincePerKg").val("0");
                }

                else {

                }
            });

            $('input[type="radio"]').click(function () {
                if ($(this).attr('id') == 'OutGm') {

                    $("#AmtOutOfProvincePerGm").removeAttr("disabled")
                    $("#AmtOutOfProvincePerGm").val(amtOutOfProvincePerGm);
                    $("#AmtOutOfProvincePerPiece").attr("disabled", true)
                    $("#AmtOutOfProvincePerKg").attr("disabled", true)
                    $("#AmtOutOfProvincePerPiece").val("0");
                    $("#AmtOutOfProvincePerKg").val("0");
                }

                else {

                }
            });
            $('input[type="radio"]').click(function () {
                if ($(this).attr('id') == 'OutKg') {
                    //  alert('hi')
                    $("#AmtOutOfProvincePerKg").removeAttr("disabled")
                    $("#AmtOutOfProvincePerKg").val(amtOutOfProvincePerKg);
                    $("#AmtOutOfProvincePerPiece").attr("disabled", true)
                    $("#AmtOutOfProvincePerGm").attr("disabled", true)
                    $("#AmtOutOfProvincePerPiece").val("0");
                    $("#AmtOutOfProvincePerGm").val("0");
                }

                else {

                }
            });
        });


    </script>
}

<script>
    window.onbeforeunload = function () {
        var buttons = document.getElementsByTagName("BUTTON");
        for (var i in buttons) {
            if (buttons[i].type == "button" || buttons[i].type == "submit") {
                buttons[i].disabled = true;
            }
        }
    };
</script>