﻿@model Nop.Core.Domain.Customers.Customer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Memeberdesk</title>
</head>
<body>
    <div>
        <form id="notice" action="@Html.Action("","")" method="post">
            @Html.HiddenFor(model => model.Username)
            @Html.HiddenFor(model => model.Password)
        </form>
    </div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        var frm = document.getElementById("notice");
        frm.submit();
    });

</script>