﻿@{
    ViewBag.Title = "Grpl Cash Ledger";
    ViewBag.PageTitle = "Grpl Cash Ledger";
    ViewBag.Breadcrumb_L1 = "Grpl Cash Ledger";
    ViewBag.Breadcrumb_L2 = "";
    ViewBag.Breadcrumb_L3 = "";
}

<form id="formWAL" name="formWAL" class="form">
    <h4 class="center-block no-margin-top bold">GRPL Cash balance:&nbsp;<i class="fa fa-rupee"></i>&nbsp;<span class="wallet-balance">0</span></h4>
    <div class="tabs-wrapper" style="margin-bottom:5px">
        <ul class="nav classic-tabs white slide-tabs" role="tablist">
            <li class="nav-item active col-xs-4 col-sm-4 col-md-4">
                <a class="nav-link waves-light text-center" data-toggle="tab" href="#walTab1" role="tab">All</a>
            </li>
            <li class="nav-item col-xs-4 col-sm-4 col-md-4">
                <a class="nav-link waves-light text-center" data-toggle="tab" href="#walTab2" role="tab">Credit</a>
            </li>
            <li class="nav-item col-xs-4 col-sm-4 col-md-4">
                <a class="nav-link waves-light text-center" data-toggle="tab" href="#walTab3" role="tab">Debit</a>
            </li>
        </ul>
    </div>
    <div class="tab-content card no-shadow no-margin height-100p no-bg">
        <div class="tab-pane fade in active" id="walTab1" role="tabpanel">
            <ul class="item-list notifications-list all-transactions"></ul>
            <button type="button" class="btn btn-danger waves-effect col-xs-12 col-sm-12 col-md-12 no-float center-block load-more-credit">
                Load more...
                <div class="ripple-container"></div>
            </button>
        </div>
        <div class="tab-pane fade" id="walTab2" role="tabpanel">
            <ul class="item-list notifications-list credit-transactions"></ul>
            <button type="button" class="btn btn-danger waves-effect col-xs-12 col-sm-12 col-md-12 no-float center-block load-more-credit">
                Load more...
                <div class="ripple-container"></div>
            </button>
        </div>
        <div class="tab-pane fade" id="walTab3" role="tabpanel">
            <ul class="item-list notifications-list debit-transactions"></ul>
            <button type="button" class="btn btn-danger waves-effect col-xs-12 col-sm-12 col-md-12 no-float center-block load-more-debit">
                Load more...
                <div class="ripple-container"></div>
            </button>
        </div>
    </div>
    <br />
    <br />
</form>

@section scripts {
    <script src="@Url.Content("~/assets/js/account/GrplcashLedger.js")"></script>
}