﻿@{
    ViewBag.Title = "My Profile";
    ViewBag.PageTitle = "My Profile";
    ViewBag.Breadcrumb_L1 = "My Profile";
    ViewBag.Breadcrumb_L2 = "";
    ViewBag.Breadcrumb_L3 = "";
}

<h4 id="formLoadingProfile" class="text-center">
    <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
    <span style="display:inline-block;height:45px;vertical-align:middle">Loading, please wait...</span>
</h4>
<form id="frmmyprofile" name="frmmyprofile" class="form" style="display:none">
    <div class="card no-margin">
        <div class="card-content">
            <h4 class="text-center bold">Personal Info</h4>
            <div class="row">
                <div class="form-group col-xs-12 no-padding">
                    <span class="text-center" style="color:#aaa">Pick your Title</span>
                    <div class="gender row no-margin">
                        <div class="col-xs-4 col-sm-4 col-md-4 padding-5 text-center">
                            <input type="radio" name="genderPUF" id="malePUF" value="Mr"><label for="malePUF"><img src="@Url.Content("~/img/icons/male.png")" class="max-width-50p" /><span class="text-center">Mr</span></label>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 padding-5 text-center">
                            <input type="radio" name="genderPUF" id="femalePUF" value="Ms"><label for="femalePUF"><img src="@Url.Content("~/img/icons/female.png")" class="max-width-50p" /><span class="text-center">Ms</span></label>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 padding-5 text-center">
                            <input type="radio" name="genderPUF" id="companyPUF" value="M/S"><label for="companyPUF"><img src="@Url.Content("~/img/icons/company.png")" class="max-width-50p" /><span class="text-center">Company</span></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group label-floating">
                <label for="firstnamePUF" class="control-label">First Name</label>
                <input type="text" id="firstnamePUF" name="firstnamePUF" class="form-control" maxlength="35">
            </div>
            <div class="form-group label-floating">
                <label for="lastnamePUF" class="control-label">Last Name</label>
                <input type="text" id="lastnamePUF" name="lastnamePUF" class="form-control" maxlength="35">
            </div>
        </div>
    </div>
    <div class="height-5"></div>
    <div class="card no-margin">
        <div class="card-content">
            <h4 class="text-center bold">Contact Info</h4>
            <div class="row" id="divmobilenoPUF">
                <div class="col-xs-1 col-sm-1 col-md-1 height-100p no-float no-padding display-inline-block">
                    <b>+91</b>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 no-float no-padding display-inline-block">
                    <div class="form-group label-floating">
                        <label for="mobilenoPUF" class="control-label text-left">Mobile Number <small></small></label>
                        <input type="number" id="mobilenoPUF" name="mobilenoPUF" class="form-control" maxlength="10">
                        <input type="number" id="oldmobilenoPUF" name="oldmobilenoPUF" class="display-none" maxlength="10">
                    </div>
                </div>
            </div>
            <div id="divotpPUF" class="form-group label-floating" style="display:none">
                <label for="otpPUF" class="control-label">OTP</label>
                <input type="number" id="otpPUF" name="otpPUF" class="form-control" maxlength="4">
            </div>
            <div class="form-group label-floating">
                <label for="emailidPUF" class="control-label">Email</label>
                <input type="text" id="emailidPUF" name="emailidPUF" class="form-control" maxlength="100">
            </div>
            <div class="form-group label-floating">
                <label for="addressPUF" class="control-label">Address</label>
                <textarea id="addressPUF" name="addressPUF" class="form-control" rows="5" maxlength="300"></textarea>
            </div>
            <div class="form-group label-floating">
                <label for="pincodePUF" class="control-label">Pincode</label>
                <input type="text" id="pincodePUF" name="pincodePUF" class="form-control" maxlength="6">
            </div>
            <div class="form-group select">
                <label for="statePUF" class="control-label">State</label>
                <select id="statePUF" name="statePUF" class="selectpicker" title="Select State"></select>
            </div>
            <div class="form-group select">
                <label for="cityPUF" class="control-label">City</label>
                <select id="cityPUF" name="cityPUF" class="selectpicker" title="Select City"></select>
            </div>
        </div>
    </div>
    <button type="submit" class="btn brown darken-4 text-white waves-effect col-xs-12 col-sm-12 col-md-12 no-float center-block submit-button">
        <span>Update Profile</span>
        <div class="ripple-container"></div>
    </button>
    <br />
</form>

@section scripts {
    <script src="@Url.Content("~/assets/js/account/myprofile.js")"></script>
}