﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Payment Success</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>
<body>
    <div>
        @{
            if (ViewData["ErrorMessage"] != null)
            {
                <h3 style="font-weight:bold;color:red;text-align:center">@ViewData["ErrorMessage"].ToString()</h3>
                <script>
                    localStorage.setItem('reqstatus', '@(Nop.Plugin.Api.Classes.MlmAESEncrytionDecryption.StringEncryption("error|" + ViewData["ErrorMessage"].ToString()))');
                </script>
            }
            else
            {
                <h4 style="margin-top:40%;text-align:center">
                    <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                    <span style="display:inline-block;height:45px;vertical-align:middle;font-family: 'Roboto', sans-serif;line-height: 1.55em;font-size: 1.2em;font-weight: 300">Please wait...</span>
                </h4>
                if (ViewData["GatewayStatus"] != null)
                {
                    <script>
                        localStorage.setItem('reqstatus', '@(ViewData["GatewayStatus"].ToString())');
                    </script>
                    if (ViewData["webredirecturl"] != null)
                    {
                        Response.Redirect(ViewData["webredirecturl"].ToString());
                    }
                }
                else
                {
                    <script>
                        localStorage.removeItem('reqstatus');
                        localStorage.setItem('prereqstatus', '@(Nop.Plugin.Api.Classes.MlmAESEncrytionDecryption.StringEncryption("other|No Response"))');
                    </script>
                }
            }
        }
    </div>
</body>
</html>
