﻿@model Nop.Admin.ViewModel.ChqPrintTrnVM
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    ViewBag.Title = T("Admin.Customers.ChequePrint").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("ChequePrint");
}

@using (Html.BeginForm())
{
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Customers.ChequePrint")
        </h1>

    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" id="pnlOption">
                                    @Html.HiddenFor(model => model.HiddenSearchddlTransaction)
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.ddlchqoption)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopDropDownList("ddlchqoption", new List<SelectListItem>()
           {
               new SelectListItem { Text = "Commission Cheque Printing", Value = "1" }
               //new SelectListItem { Text = "E-Wallet Cheque Printing", Value = "0" }
           })

                                    </div>
                                </div>
                                <div class="form-group" id="pnlChoice">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.ddlChoice)

                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopDropDownList("ddlChoice", new List<SelectListItem>()
           {
               new SelectListItem { Text = "Cheque Printing", Value = "1" },
               new SelectListItem { Text = "Edit Cheque Details", Value = "0" }
           })

                                    </div>
                                </div>
                                <div class="form-group" id="pnlTransaction">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.ddlTransaction)

                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopDropDownListFor(model => model.ddlTransaction, Model.transactionList)

                                    </div>
                                </div>
                                <div class="form-group" id="pnlPrint">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.ddlChqPrintConf)

                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopDropDownList("ddlChqPrintConf", new List<SelectListItem>()
           {
               new SelectListItem { Text = "Select Option", Value = "0" },
               new SelectListItem { Text = "Print Cheque(s)", Value = "1" },
               new SelectListItem { Text = "Confirm Printing", Value = "2" }
           })

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-3">
                                        <button type="submit" id="Search" name="Command" class="btn btn-primary btn-search"><i class="fa fa-search"></i>@T("Admin.Common.Search")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" id="checkprint">
                    <div class="panel-body">
                        <div id="customers-grid"></div>
                        <script>
                            $(document).ready(function () {
                                $('#validationMessages').hide();

                               
                                $('#Search').click(function () {
                                    var validationDivs='';
                                    $('#validationMessages').html('');

                                    if ($("#ddlchqoption").val() == 1 && $("#ddlChoice").val() == 1) {
                                        if ($("#ddlTransaction").val()==999 && $("#ddlChqPrintConf").val()==999) {
                                            // var msg = "Select Transaction Code";
                                            // var finalmsg = msg + "\n Select Option";
                                            // alert(finalmsg);
                                            $('#validationMessages').show();
                                            validationDivs=validationDivs+'<div>@T("Account.Fields.ddlTrnCode")</div>' +"\n"+ '<div>@T("Admin.Validation.SelectPaymode")</div>';
                                            $('#validationMessages').append(validationDivs);
                                            return false;
                                        }
                                        else if ($("#ddlTransaction").val() == 999) {
                                            //   alert("Select Transaction Code.");
                                            $('#validationMessages').show();
                                            validationDivs=validationDivs+'<div>@T("Account.Fields.ddlTrnCode")</div>';
                                            $('#validationMessages').append(validationDivs);
                                            return false;
                                        }
                                        else if ($("#ddlChqPrintConf").val() == 0) {
                                            // alert("Select Option.");
                                            $('#validationMessages').show();
                                            validationDivs=validationDivs+'<div>@T("Admin.Ewallet.SelectOption")</div>';
                                            $('#validationMessages').append(validationDivs);
                                            return false;
                                        }
                                    }
                                    if ($("#ddlchqoption").val() == 1 && $("#ddlChoice").val() == 0) {
                                        if ($("#ddlTransaction").val() == 999) {
                                            //alert("Select Transaction Code.");
                                            $('#validationMessages').show();
                                            validationDivs=validationDivs+'<div>@T("Account.Fields.ddlTrnCode")</div>';
                                            $('#validationMessages').append(validationDivs);
                                            return false;
                                        }
                                    }
                                    if ($("#ddlchqoption").val() == 0 && $("#ddlChoice").val() == 1) {
                                        if ($("#ddlChqPrintConf").val() == 0) {
                                            // alert("Select Option.");
                                            $('#validationMessages').show();
                                            validationDivs=validationDivs+'<div>@T("Admin.Ewallet.SelectOption")</div>';
                                            $('#validationMessages').append(validationDivs);
                                            return false;
                                        }
                                    }

                                    $("#customers-grid").kendoGrid({
                                        dataSource: {
                                            type: "json",
                                            transport: {
                                                read: {
                                                    url: '@Html.Raw(Url.Action("ChequePrint", "MakePayment"))',
                                                    type: "POST",
                                                    dataType: "json",
                                                    data: additionalData
                                                }
                                            },
                                            schema: {
                                                data: "Data",
                                                total: "Total",
                                                errors: "Errors"
                                            },
                                            error: function (e) {
                                                display_kendoui_grid_error(e);
                                                // Cancel the changes
                                                this.cancelChanges();
                                            },
                                            pageSize: @(defaultGridPageSize),
                                            serverPaging: true,
                                            serverFiltering: true,
                                            serverSorting: true
                                        },
                                        pageable: {
                                            refresh: true,
                                            pageSizes: [@(gridPageSizes)]
                                        },
                                        scrollable: false,
                                        columns: [{
                                            field: "Id",
                                            headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: "<input type='checkbox' value='#=CPD_ID#'  class='checkboxGroups'/>",
                                            width: 50
                                        },
                                          {
                                              field: "MJD_MemNo",
                                              title: '@T("Admin.Customers.Customers.Fields.MJD_MemNo")',
                                              width:100
                                          }, {
                                              field: "Name",
                                              title: '@T("Admin.Customers.Customers.Fields.Name")',
                                              width:100
                                          }, {
                                              field: "Amount",
                                              title: '@T("Admin.Customers.Customers.Fields.Amount")',
                                              width:100
                                          }, {
                                              field: "Bank",
                                              title: '@T("Admin.Customers.Customers.Fields.Bank")',
                                          width:100
                                          },  {
                                              field: "txtChqNo",
                                              title: '@T("Admin.Customers.Customers.Fields.txtChqNo")',
                                              template: "<input type='number'  id='chqno#=CPD_ID#' value='#=txtChqNo#' />",
                                              width:100
                                          }, {
                                              field: "txtChqDate",
                                              title: '@T("Admin.Customers.Customers.Fields.txtChqDate")',
                                              template: "<lable  id='chqDate#=CPD_ID#'>#=kendo.toString(kendo.parseDate(txtChqDate, 'yyyy-MM-dd'), 'dd/MM/yyyy')# </lable>",
                                              width:100
                                              //  template: "<input type='date' readonly=readonly id='chqDate#=CPD_ID#' value='#=kendo.toString(kendo.parseDate(txtChqDate, 'yyyy-MM-dd'), 'MM/dd/yyyy')#' />"
                                              //  template: "#= kendo.toString(kendo.parseDate(txtChqDate, 'yyyy-MM-dd'), 'MM/dd/yyyy') #"
                                          },{
                                              field: "PlanType",
                                              title: '@T("Admin.ContentManagement.Forums.ForumGroup.Fields.PlanType")',
                                              width:100
                                          },  {
                                              field: "MemID",
                                              title: '@T("Admin.Customers.Customers.Fields.MemID")',
                                              template: "<input type='text'  id='Memid#=CPD_ID#' value='#=MemID#' />",
                                              hidden:true,
                                              width:100
                                          },{
                                              field: "CPD_ID",
                                              title: '@T("Admin.Customers.Customers.Fields.CPD_ID")',
                                              hidden: true,
                                              width:100
                                          }, {
                                              field: "ChqNo",
                                              title: '@T("Admin.Customers.Customers.Fields.ChqNo")',
                                              hidden: true,
                                              width:100
                                          }, {
                                              field: "ChqDate",
                                              title: '@T("Admin.Customers.Customers.Fields.ChqDate")',
                                              hidden: true
                                          },{
                                              field: "CPD_EndDateCode",
                                              title: '@T("Admin.Customers.Customers.Fields.CPD_EndDateCode")',
                                              hidden: true,
                                              width:100
                                          }, {
                                              field: "StartDate",
                                              title: '@T("Admin.ContentManagement.Forums.ForumGroup.Fields.StartDate")',
                                              width:100
                                          }, {
                                              field: "EndDate",
                                              title: '@T("Admin.ContentManagement.Forums.ForumGroup.Fields.EndDate")',
                                              width:100
                                          }, {
                                              field: "PrintCount",
                                              title: '@T("Admin.Customers.Customers.Fields.PrintCount")',
                                          }, {
                                              field: "CPH_ID",
                                              title: '@T("Admin.Customers.Customers.Fields.CPH_ID")',
                                              hidden: true,
                                              width:100
                                          }, {
                                              field: "GroupID",
                                              title: '@T("Admin.Customers.Customers.Fields.GroupID")',
                                              hidden:true,
                                              width:100
                                          },  ]
                                    });
                                });
                            });
                        </script>
                        <script>
                            var selectedIds = [];

                            var Selectedchqno = [];
                            var Selectedchqdate = [];
                            var SelectedMemid = [];
                            var SelectedRemark;
                            $('#ddlchqoption').live('keypress',function(e){
                                //
                                if(e.keyCode === 13) {
                                    $('#Search').click()
                                    return false;
                                }
                            });

                            $('#ddlChoice').live('keypress',function(e){
                                // 
                                if(e.keyCode === 13) {
                                    $('#Search').click()
                                    return false;
                                }
                            });

                            $('#ddlTransaction').live('keypress',function(e){
                                // 
                                if(e.keyCode === 13) {
                                    $('#Search').click()
                                    return false;
                                }
                            });

                            $('#ddlChqPrintConf').live('keypress',function(e){
                                // 
                                if(e.keyCode === 13) {
                                    $('#Search').click()
                                    return false;
                                }
                            });

                            $(document).ready(function () {
                                $("#btnProceed").hide();
                                $("#lnkbtnConfirm").hide();
                                $("#customers-grid").hide();
                               
                                $("#pnlRemark").hide();
                                $("#pnlNote").hide();
                                var valChoice=$("#ddlChoice").val();

                                if(valChoice==1)
                                {
                                    $('#customers-grid table tbody tr').each(function (index, tr) {
                                        $(this).find('td:eq(5)').find('input').prop('readonly','readonly');
                                    });
                                    //   $("#pnlRemark").hide();

                                } else
                                {
                                    $('#customers-grid table tbody tr').each(function (index, tr) {
                                        $(this).find('td:eq(5)').find('input').removeAttr('readonly');
                                    });
                                }

                                $('#Search').click(function () {
                                  
                                    if ($("#ddlchqoption").val() == 1 && $("#ddlChoice").val() == 1) {
                                        if ($("#ddlTransaction").val()==999 && $("#ddlChqPrintConf").val()==999) {
                                            return false;
                                        }
                                        else if ($("#ddlTransaction").val() == 999) {
                                            return false;
                                        }
                                        else if ($("#ddlChqPrintConf").val() == 0) {
                                            return false;
                                        }
                                    }
                                    if ($("#ddlchqoption").val() == 1 && $("#ddlChoice").val() == 0) {
                                        if ($("#ddlTransaction").val() == 999) {
                                            return false;
                                        }
                                    }
                                    if ($("#ddlchqoption").val() == 0 && $("#ddlChoice").val() == 1) {
                                        if ($("#ddlChqPrintConf").val() == 0) {
                                            return false;
                                        }
                                    }

                                    //search
                                    if ($("#ddlChoice").val() == 1)
                                    {
                                        $('#validationMessages').hide();
                                        $("#lnkbtnConfirm").show();
                                        $("#btnProceed").hide();
                                    }
                                    else
                                    {
                                        $("#lnkbtnConfirm").hide();
                                        $("#btnProceed").show();
                                    }

                                    if ($("#ddlChqPrintConf").val() == 2 || $("#ddlChoice").val() == 0 )
                                    {
                                        $('#validationMessages').hide();
                                        $("#pnlRemark").show();
                                    }
                                    else
                                    {
                                        $("#pnlRemark").hide();
                                    }

                                    $("#pnlNote").show();
                                    $("#customers-grid").show();
                                    $('#checkprint').show();
                                    $("#checkprintdetail").show();
                                    var grid = $('#customers-grid').data('kendoGrid');
                                    //grid.dataSource.page(1); //new search. Set page size to 1
                                    //grid.dataSource.read();
                                    grid.dataSource.read();
                                    var count = grid.dataSource.total();

                                    var valChoice=$("#ddlChoice").val();

                                    if(valChoice==1)
                                    {
                                        $('#customers-grid table tbody tr').each(function (index, tr) {
                                            $(this).find('td:eq(5)').find('input').prop('readonly','readonly');
                                        });
                                        //  $("#pnlRemark").hide();
                                    } else
                                    {
                                        $('#customers-grid table tbody tr').each(function (index, tr) {
                                            $(this).find('td:eq(5)').find('input').removeAttr('readonly');
                                        });
                                    }

                                    if (count > 0) {
                                        $("#btnProceed").show();
                                        $("#customers-grid").show();
                                    }

                                    $('.checkboxGroups').attr('checked', false).change();
                                    selectedIds = [];
                                    return false;
                                });

                                $("#ddlChqPrintConf").change(function(){
                                    $("#customers-grid").hide(); $("#pnlNote").hide(); $("#btnProceed").hide(); $("#lnkbtnConfirm").hide();
                                    var valChoice=$("#ddlChoice").val();
                                    $("#pnlRemark").hide();
                                    if(valChoice==1)
                                    {
                                        $('#customers-grid table tbody tr').each(function (index, tr) {
                                            $(this).find('td:eq(5)').find('input').prop('readonly','readonly');
                                        });
                                    }
                                    else
                                    {
                                        $('#customers-grid table tbody tr').each(function (index, tr) {
                                            $(this).find('td:eq(5)').find('input').removeAttr('readonly');
                                        });
                                    }
                                });
                                $("#ddlChoice").change(function(){
                                    var valChoice=$(this).val();

                                    $("#customers-grid").hide(); $("#pnlNote").hide(); $("#btnProceed").hide();$("#lnkbtnConfirm").hide();
                                    $("#pnlRemark").hide();

                                    if(valChoice==1)
                                    {
                                        $('#customers-grid table tbody tr').each(function (index, tr) {
                                            $(this).find('td:eq(5)').find('input').prop('readonly','readonly');
                                        });
                                    }
                                    else
                                    {
                                        $('#customers-grid table tbody tr').each(function (index, tr) {
                                            $(this).find('td:eq(5)').find('input').removeAttr('readonly');
                                        });
                                    }
                                });

                                $('#customers-grid').on('mouseover',function(){
                                    var valChoice=$("#ddlChoice").val();

                                    if(valChoice==1)
                                    {
                                        $('#customers-grid table tbody tr').each(function (index, tr) {
                                            $(this).find('td:eq(5)').find('input').prop('readonly','readonly');
                                        });
                                        //   $("#pnlRemark").hide();
                                    }
                                    else
                                    {
                                        $('#customers-grid table tbody tr').each(function (index, tr) {
                                            $(this).find('td:eq(5)').find('input').removeAttr('readonly');
                                        });
                                        // $("#pnlRemark").show();
                                        $("#btnProceed").show();
                                    }
                                });

                                $('#customers-grid').on('click', '#mastercheckbox', function (e) {
                                    //alert("master");
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                    // alert("check");
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                        $("#SelectedValues").val(selectedIds);
                                    }
                                    else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function (item, index) {
                                                return item != $check.val();
                                            });
                                            $("#SelectedValues").val(selectedIds);
                                        }
                                    }
                                    updateMasterCheckbox();
                                });

                                //post data to the controller
                                $('#btnProceed').click(function(e) {
                                    var validationDivs='';
                                    $('#validationMessages').html('');

                                    if (selectedIds.length <= 0)
                                    {
                                        // alert("Select At Least one Record")
                                        $('#validationMessages').show();
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAtLeastOneRecord")</div>';
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                    else
                                    {
                                        e.preventDefault();
                                        $.each(selectedIds, function (i, val) {
                                            Selectedchqno.push($('#chqno' + val).val());
                                            Selectedchqdate.push($('#chqDate' + val).text());
                                            //  Selectedchqdate.push($('#txtChqDate').val());

                                        });
                                        var postData = {
                                            selectedIds: selectedIds,
                                            Selectedchqno: Selectedchqno,
                                            Selectedchqdate: Selectedchqdate,
                                            txtRemark: $("#txtRemark").val(),
                                            dsCount: $("#dsCount").val(),
                                            ddlchqoption: $("#ddlchqoption").val()
                                        };
                                        addAntiForgeryToken(postData);

                                        $.ajax({
                                            cache: false,
                                            type: "POST",
                                            url: '@(Url.Action("SaveChequePrint", "MakePayment"))',
                                            data: postData,
                                            success: function (data) {
                                                //alert("Royalty Defined Successfully");
                                                var newUrl="";
                                                if(data==1)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 1 })';
                                                }
                                                if(data==2)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 2 })';
                                                }
                                                if(data==3)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 3 })';
                                                }
                                                if(data==4)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 4 })';
                                                }
                                                if(data==5)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 5 })';
                                                }
                                                if(data==6)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 6 })';
                                                }
                                                if(data==7)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 7 })';
                                                }
                                                if(data==8)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 8 })';
                                                }
                                                if(data==9)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 9 })';
                                                }
                                                if(data==10)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 10 })';
                                                }
                                                if(data==11)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 11 })';
                                                }
                                                if(data==12)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 12 })';
                                                }
                                                if(data==13)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 13 })';
                                                }
                                                if(data==14)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 14 })';
                                                }
                                                window.location.href = newUrl;
                                            },
                                            error: function(xhr, ajaxOptions, thrownError) {
                                                alert(thrownError);
                                            },
                                            traditional: true
                                        });
                                        return false;
                                    }
                                });


                                //post data to the controller
                                $('#lnkbtnConfirm').click(function (e) {
                                    var validationDivs='';
                                    $('#validationMessages').html('');

                                    if (selectedIds.length <= 0) {
                                        //alert("Select At Least one Record")
                                        $('#validationMessages').show();
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAtLeastOneRecord")</div>';
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                    else {
                                        var selTypeText= $("#ddlTransaction option:selected").text();
                                        $("#HiddenSearchddlTransaction").val(selTypeText);

                                        e.preventDefault();
                                        $.each(selectedIds, function (i, val) {
                                            SelectedMemid.push($('#Memid' + val).val());
                                        });
                                        var postData = {
                                            selectedIds: selectedIds,
                                            txtRemark: $("#txtRemark").val(),
                                            dsCount: $("#dsCount").val(),
                                            ddlchqoption: $("#ddlchqoption").val(),
                                            ddlTransaction: $("#ddlTransaction").val(),
                                            ddlChqPrintConf: $("#ddlChqPrintConf").val(),
                                            HiddenSearchddlTransaction:$("#HiddenSearchddlTransaction").val(),
                                            SelectedMemid:SelectedMemid
                                        };
                                        addAntiForgeryToken(postData);

                                        $.ajax({
                                            cache: false,
                                            type: "POST",
                                            url: '@(Url.Action("PrintConfirm", "MakePayment"))',
                                            data: postData,
                                            success: function (data) {
                                                var newUrl="";
                                                if(data==1)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 1 })';
                                                }
                                                if(data==2)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 2 })';
                                                }
                                                if(data==3)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 3 })';
                                                }
                                                if(data==4)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 4 })';
                                                }
                                                if(data==5)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 5 })';
                                                }
                                                if(data==6)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 6 })';
                                                }
                                                if(data==7)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 7 })';
                                                }
                                                if(data==8)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 8 })';
                                                }
                                                if(data==9)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 9 })';
                                                }
                                                if(data==10)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 10 })';
                                                }
                                                if(data==11)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 11 })';
                                                }
                                                if(data==12)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 12 })';
                                                }
                                                if(data==13)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 13 })';
                                                }
                                                if(data==14)
                                                {
                                                    var newUrl= '@Url.Action("ChequePrint", "MakePayment", new { suc = 14 })';
                                                }
                                                window.location.href = newUrl;
                                            },
                                            error: function (xhr, ajaxOptions, thrownError) {
                                                alert(thrownError);
                                            },
                                            traditional: true
                                        });
                                        return false;
                                    }
                                });
                            });

                            function onDataBound(e) {
                                $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });

                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }

                            function additionalData() {
                                var customerRoleIds = [];
                                $('[name=SearchCustomerRoleIds]:checked').each(function () {
                                    customerRoleIds.push($(this).val());
                                });

                                var data = {
                                    Searchddlchqoption: $('#@Html.FieldIdFor(model => model.ddlchqoption)').val(),
                                    SearchddlChoice: $('#@Html.FieldIdFor(model => model.ddlChoice)').val(),
                                    SearchddlTransaction: $('#@Html.FieldIdFor(model => model.ddlTransaction)').val(),
                                    SearchddlChqPrintConf: $('#@Html.FieldIdFor(model => model.ddlChqPrintConf)').val(),
                                    HiddenSearchddlTransaction: $('#@Html.FieldIdFor(model => model.HiddenSearchddlTransaction)').val()
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>



                    </div>
                </div>
                <div class="panel panel-default panel-search" id="checkprintdetail">

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" id="pnlNote">
                                    <div class="col-md-8 col-md-offset-4">
                                        @Html.LabelFor(model => model.Note1)
                                    </div>
                                    <div class="col-md-8 col-md-offset-4">
                                        @Html.LabelFor(model => model.Note2)
                                    </div>
                                </div>
                                <div class="form-group" id="pnlRemark">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.txtRemark)

                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.txtRemark)

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-1">

                                        <button type="submit" id="btnProceed" name="Command" class="btn bg-blue"><i class="fa fa-floppy-o"></i>@T("Admin.Common.update")</button>
                                        <button type="submit" id="lnkbtnConfirm" name="Command" class="btn bg-blue"><i class="fa fa-floppy-o"></i>@T("Admin.Common.Confirm")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#checkprint").hide();
            $("#checkprintdetail").hide();
            var ddlchqoption = $('select[name="ddlchqoption"]');
            ddlchqoption.find('option:eq(0)').prop('selected', true);

            var ddlChoice = $('select[name="ddlChoice"]');
            ddlChoice.find('option:eq(0)').prop('selected', true);

            $("#pnlTransaction").show();
            $("#pnlPrint").show();

            if ($("#ddlchqoption").val() == 0) {
                $("#pnlTransaction").hide();
            }

            if ($("#ddlChoice").val() == 0) {
                $("#pnlPrint").hide();
            }
        });

        $("#btnreset").click(function(){
            $("#customers-grid").hide();
            $("#pnlNote").hide();
            $("#lnkbtnConfirm").hide();
            $("#pnlPrint").hide();
            $("#pnlRemark").hide();
            $("#btnProceed").hide();
            $("#ddlchqoption").val("1") ;
            $("#ddlChoice").val("1");
            $("#pnlPrint").show();
            $("#pnlTransaction").show();
            $("#ddlChqPrintConf").val("0");
            $("#ddlTransaction").val("999");


        });

        $("#ddlchqoption").change(function () {
            $("#pnlTransaction").show();
            $("#customers-grid").hide();
            $("#pnlRemark").hide();
            $("#btnProceed").hide(); $("#pnlNote").hide();

            $("#lnkbtnConfirm").hide();

            if ($("#ddlchqoption").val() == 0) {
                $("#pnlTransaction").hide();
            }
        });

        $("#ddlChoice").change(function () {
            //$("#customers-grid").toggle();
            $("#pnlPrint").show();
            if ($("#ddlChoice").val() == 0) {
                $("#pnlPrint").hide();
            }
        });

        //$("#ddlTransaction").change(function () {
        //    $("#customers-grid").toggle();
        //});

        //$("#ddlChqPrintConf").change(function () {
        //    $("#customers-grid").toggle();
        //});
    </script>


}
