﻿@model Nop.Admin.ViewModel.ChequePrintReportVM
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    ViewBag.Title = T("Admin.Customers.EwalletChequePrintReport").Text;
}
@using (Html.BeginForm())
{
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Customers.EwalletChequePrintReport")
        </h1>
        <div class="pull-right">

            <div class="btn-group">
                <button type="submit" name="exportexcel-all" class="btn btn-success">
                    <i class="fa fa-download"></i>
                    @T("Admin.Common.Export")
                </button>

            </div>

        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ddlchqorcoption)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownList("ddlchqorcoption", new List<SelectListItem>()
           {
               new SelectListItem { Text = "All Record(s)", Value = "0" },
                new SelectListItem { Text = "Confirmed ", Value = "1" },
               new SelectListItem { Text = "Printed ", Value = "2" }

           })

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <button type="submit" id="Search" name="Command" class="btn btn-primary btn-search"><i class="fa fa-search"></i>@T("Admin.Common.Search")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="customers-grid"></div>
                        <script>
                            $(document).ready(function () {

                                $("#btnreset").click(function(){
                                    $('#ddlchqorcoption').val("0");
                                    $("#customers-grid").hide();
                                    $('#validationMessages').hide();
                                });

                                $('#Search').click(function () {
                                    var validationDivs='';
                                    $('#validationMessages').html('');



                                    $("#customers-grid").kendoGrid({
                                        dataSource: {
                                            type: "json",
                                            transport: {
                                                read: {
                                                    url: '@Html.Raw(Url.Action("EwalletChequePrintReportGrid", "MakePayment"))',
                                                    type: "POST",
                                                    dataType: "json",
                                                    async: false,
                                                    data: additionalData
                                                }
                                            },
                                            schema: {
                                                data: "Data",
                                                total: "Total",
                                                errors: "Errors"
                                            },
                                            error: function (e) {
                                                display_kendoui_grid_error(e);
                                                // Cancel the changes
                                                this.cancelChanges();
                                            },
                                            pageSize: @(defaultGridPageSize),
                                            serverPaging: true,
                                            serverFiltering: true,
                                            serverSorting: true
                                        },
                                        pageable: {
                                            refresh: true,
                                            pageSizes: [@(gridPageSizes)]
                                        },
                                        scrollable: false,
                                        columns: [ {
                                            field: "srNo",
                                            title: '@T("Admin.ContentManagement.Forums.ForumGroup.Fields.srNo")',
                                            width:100
                                        },
                                          @*{
                                      field: "ID",
                                      title: '@T("Admin.Customers.Customers.Fields.ID")'
                                  },*@
                            {
                                field: "NAME",
                                title: '@T("Admin.Customers.Customers.Fields.NAME")',
                                width:100
                            }, {
                                field: "Bank",
                                title: '@T("Admin.Customers.Customers.Fields.Bank")',
                                width:100
                            }, {
                                field: "Amount",
                                title: '@T("Admin.Customers.Customers.Fields.Amount")',
                                width:100
                            }, {
                                field: "ChqNo",
                                title: '@T("Admin.Customers.Customers.Fields.ChqNo")',
                                width:100
                            },  {
                                field: "chqDate",
                                title: '@T("Admin.Customers.Customers.Fields.chqDate")',
                                type: "date",
                                format: "{0:d}",
                                width:100
                            }, {
                                field: "PrintCount",
                                title: '@T("Admin.Customers.Customers.Fields.PrintCount")',
                                width:100
                            }, {
                                field: "status",
                                title: '@T("Admin.Customers.Customers.Fields.status")',
                                width:100
                            },{
                                field: "remark",
                                title: '@T("Admin.Customers.Customers.Fields.remark")',
                                width:100
                            }]
                                    });
                                });
                            });
                        </script>
                        <script>

                            $('#ddlchqorcoption').live('keypress',function(e){
                                // 
                                if(e.keyCode === 13) {
                                    $('#Search').click()
                                    return false;
                                }
                            });




                            $(document).ready(function () {
                                $('#validationMessages').hide();
                                $('#Search').click(function () {

                                    //search
                                    $('#validationMessages').hide();
                                    $("#customers-grid").show();
                                    var grid = $('#customers-grid').data('kendoGrid');
                                    grid.dataSource.page(1); //new search. Set page size to 1
                                    //grid.dataSource.read(); we already loaded the grid above using "page" function
                                    //clear selected checkboxes
                                    return false;
                                });
                            });
                            function additionalData() {
                                var customerRoleIds = [];
                                $('[name=SearchCustomerRoleIds]:checked').each(function () {
                                    customerRoleIds.push($(this).val());
                                });

                                var data = {
                                    Searchddlchqorcoption: $('#@Html.FieldIdFor(model => model.ddlchqorcoption)').val()
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>


                    </div>
                </div>
            </div>
        </div>
    </div>



}