﻿@model Nop.Admin.ViewModel.MakePaymentVM
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    ViewBag.Title = T("Admin.Customers.Issuepayment").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("IssuePayment");
}


@using (Html.BeginForm("", "", FormMethod.Post, new { id = "MakePaymentForm" }))
{
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Customers.Issuepayment")
        </h1>
        <div class="pull-right">
            <div class="btn-group">
                <button type="submit" id="exportexcel" name="exportexcel" class="btn btn-success">
                    <i class="fa fa-file-excel-o"></i>
                    @T("Admin.Common.Export")
                </button>
            </div>
        </div>
    </div>
    @*@Html.HiddenFor(model => model.TransactionCode)*@
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ddlTrnCode)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.ddlTrnCode, Model.transactionList)

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ddlPayMode)

                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.ddlPayMode, Model.paymodeList)

                                    </div>
                                </div>
                                <div class="form-group" id="pnlBank">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ddlBank)

                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.ddlBank, Model.bankList)

                                    </div>
                                </div>
                                <div class="form-group" id="pnlChequeNO">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.txtChequeNo)

                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.txtChequeNo)

                                    </div>
                                </div>
                                <div class="form-group" id="pnlChequeDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.txtChequeDate)

                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.txtChequeDate)

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <button type="submit" id="Search" name="Command" class="btn bg-blue"><i class="fa fa-search"></i>@T("Admin.Common.Search")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" id="makepayment">
                    <div class="panel-body">
                        <div id="BankTransfercustomers-grid"></div>


                        <div id="customers-grid"></div>
                        <div id="customers-grid1"></div>
                       
                        <script>
                            var selectedIds = [];

                            $(document).ready(function () {
                                $('#validationMessages').hide();



                                $('#makepayment').hide();

                                $('#ddlTrnCode').live('keypress',function(e){
                                    if(e.keyCode === 13) {
                                        $('#Search').click()
                                        return false;
                                    }
                                });

                                $('#ddlPayMode').live('keypress',function(e){
                                    if(e.keyCode === 13) {
                                        $('#Search').click()
                                        return false;
                                    }
                                });

                                $('#ddlBank').live('keypress',function(e){
                                    if(e.keyCode === 13) {
                                        $('#Search').click()
                                        return false;
                                    }
                                });

                                $("#txtChequeNo").keydown(function(e){
                                    if(e.which === 13 ){

                                        $('#Search').click()
                                        return false;
                                    }
                                });

                                $('#txtChequeDate').keydown(keyDownHandler); // use appropriate selector for the keydown handler

                                function keyDownHandler(e) {
                                    if(e.keyCode === 13) {
                                        e.stopPropagation();
                                        e.preventDefault();
                                        $('#Search').click()
                                        return false;

                                    }
                                }

                                $("#txtChequeDate").keyup(function(e){
                                    
                                    if(e.keyCode === 13) {

                                        $('#Search').click()
                                        return false;


                                    }
                                    else{
                                        $(this).val('');
                                    }

                                });
                                function isInteger(x) {
                                    return x % 1 === 0;
                                }
                                $('#exportexcel').click(function () {
                                   $('#makepayment').show();
                                    var validationDivs = '';
                                    $('#validationMessages').html('');

                                    var validationDivs='';
                                    $('#validationMessages').html('');

                                    if ($("#ddlTrnCode").val() == "999" && $("#ddlPayMode").val() == "999")
                                    {
                                        //var msg = "Select Transaction Code";
                                        // var finalmsg = msg + "\nSelect Paymode";
                                        //  alert(finalmsg);
                                        $('#validationMessages').show();
                                        validationDivs=validationDivs+'<div>@T("Account.Fields.ddlTrnCode")</div>' +"\n"+ '<div>@T("Admin.Validation.SelectPaymode")</div>';
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                    else if ($("#ddlTrnCode").val() == "999")
                                    {
                                        // alert("Select Transaction Code");
                                        $('#validationMessages').show();
                                        validationDivs=validationDivs+'<div>@T("Account.Fields.ddlTrnCode")</div>';
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                    else if ($("#ddlTrnCode").val() == "999")
                                    {
                                        // alert("Select Paymode");
                                        $('#validationMessages').show();
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectPaymode")</div>';
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                    $('#validationMessages').hide();
                                    var myLength = $("#txtChequeNo").val().length;
                                    if(myLength >15)
                                    {
                                        $('#validationMessages').show();
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.CheckNoLessThanFifteenNumber")</div>';
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                    if ($("#ddlPayMode").val() == "Payments.CheckMoneyOrder")
                                    {
                                        var ChequeNo = $("#txtChequeNo").val()
                                        if(ChequeNo.length<=0)
                                        {
                                            $('#validationMessages').show();
                                            $('#validationMessages').append('Enter proper start cheque No.');
                                            flag=false;
                                            return false;
                                        }
                                        if(!isInteger(ChequeNo))
                                        {
                                            $('#validationMessages').show();
                                            $('#validationMessages').append('Enter proper start cheque No.');
                                            flag=false;
                                            return false;
                                        }
                                    }
                                    var data = {
                                        SearchddlTrnCode: $('#@Html.FieldIdFor(model => model.ddlTrnCode)').val(),
                                        SearchddlPayMode: $('#@Html.FieldIdFor(model => model.ddlPayMode)').val(),
                                        SearchddlBank: $('#@Html.FieldIdFor(model => model.ddlBank)').val(),
                                        SearchtxtChequeNo: $('#@Html.FieldIdFor(model => model.txtChequeNo)').val(),
                                        SearchtxtChequeDate: $('#@Html.FieldIdFor(model => model.txtChequeDate)').val()
                                    };

                                    addAntiForgeryToken(data);
                                        $.ajax({
                                            url: "@Html.Raw(Url.Action("MakePaymentExportToExcel", "MakePayment"))",
                                            type: "POST",
                                        dataType: "json",
                                        data: data,
                                        success: function (result) {
                                            if (result.success) {
                                                if (result.fullFileName != null && result.fullFileName != "") {
                                                    window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                                                }
                                                else {

                                                    var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                                                    $("#validationMessages").show();
                                                    $('#validationMessages').append(validationDivs1);
                                                }
                                            }
                                            else {
                                                var validationDivs1 = '<div>' + result.fullFileName + '</div>';
                                                $("#validationMessages").show();
                                                $('#validationMessages').append(validationDivs1);
                                            }
                                        },
                                        error: function (result) {
                                            //alert(result);
                                            //alert('hi');
                                        }
                                    });




                                });

                                $('#Search').click(function () {
                                    $(".alert.alert-success.alert-dismissable").hide();
                                    $('#makepayment').show();
                                    var validationDivs = '';
                                    $('#validationMessages').html('');

                                    var validationDivs='';
                                    $('#validationMessages').html('');

                                    if ($("#ddlTrnCode").val() == "999" && $("#ddlPayMode").val() == "999")
                                    {
                                        //var msg = "Select Transaction Code";
                                        // var finalmsg = msg + "\nSelect Paymode";
                                        //  alert(finalmsg);
                                        $('#validationMessages').show();
                                        validationDivs=validationDivs+'<div>@T("Account.Fields.ddlTrnCode")</div>' +"\n"+ '<div>@T("Admin.Validation.SelectPaymode")</div>';
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                    else if ($("#ddlTrnCode").val() == "999")
                                    {
                                        // alert("Select Transaction Code");
                                        $('#validationMessages').show();
                                        validationDivs=validationDivs+'<div>@T("Account.Fields.ddlTrnCode")</div>';
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                    else if ($("#ddlTrnCode").val() == "999")
                                    {
                                        // alert("Select Paymode");
                                        $('#validationMessages').show();
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectPaymode")</div>';
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                    $('#validationMessages').hide();
                                    var myLength = $("#txtChequeNo").val().length;
                                    if(myLength >15)
                                    {
                                        $('#validationMessages').show();
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.CheckNoLessThanFifteenNumber")</div>';
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                    if ($("#ddlPayMode").val() == "Payments.CheckMoneyOrder")
                                    {
                                        var ChequeNo = $("#txtChequeNo").val()
                                        if(ChequeNo.length<=0)
                                        {
                                            $('#validationMessages').show();
                                            $('#validationMessages').append('Enter proper start cheque No.');
                                            flag=false;
                                            return false;
                                        }
                                        if(!isInteger(ChequeNo))
                                        {
                                            $('#validationMessages').show();
                                            $('#validationMessages').append('Enter proper start cheque No.');
                                            flag=false;
                                            return false;
                                        }
                                    }

                                    if ($("#ddlPayMode").val() == "Payments.CheckMoneyOrder")
                                    {

                                        $("#customers-grid").show();
                                        $("#customers-grid").kendoGrid({
                                            dataSource: {
                                                type: "json",
                                                transport: {
                                                    read: {
                                                        url: '@Html.Raw(Url.Action("MakePayment", "MakePayment"))',
                                                        type: "POST",
                                                        dataType: "json",
                                                        data: additionalData
                                                    }
                                                },
                                                schema: {
                                                    data: "Data",
                                                    total: "Total",
                                                    errors: "Errors"
                                                },
                                                error: function (e) {
                                                    display_kendoui_grid_error(e);
                                                    // Cancel the changes
                                                    this.cancelChanges();
                                                },
                                                pageSize: @(defaultGridPageSize),
                                                serverPaging: true,
                                                serverFiltering: true,
                                                serverSorting: true
                                            },
                                            pageable: {
                                                refresh: true,
                                                pageSizes: [@(gridPageSizes)]
                                            },
                                            scrollable: false,
                                            autoBind: false,
                                            columns: [{
                                                field: "MemberID",
                                                headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                                headerAttributes: { style: "text-align:center" },
                                                attributes: { style: "text-align:center" },
                                                //template: "<input type='hidden' id='MemberID' value='#=MemberID#' name='MemId'  class='checkboxGroups'/>",
                                                template: "<input type='checkbox' value='#=MemberID#' name='MemId'  class='checkboxGroups'/>",
                                                width: 50
                                            },
                                            {
                                                   field: "nameid",
                                                   title: '@T("admin.customers.customers.fields.namegrid")',
                                                   
                                               },
                                               {
                                                   field: "MemNo",
                                                   title: '@T("Admin.Customers.Customers.Fields.MemNo")',
                                                   
                                               },

                                            {
                                                field: "Amount",
                                                title: '@T("Admin.Customers.Customers.Fields.Amount")'
                                            },

                                            {
                                                field: "ChequeNo",
                                                title: '@T("Admin.Customers.Customers.Fields.ChequeNo")'
                                            },

                                            {
                                                field: "ChequeDate",
                                                title: '@T("Admin.Customers.Customers.Fields.ChequeDate")'


                                            }]
                                        });
                                    }
                                   else if ($("#ddlPayMode").val() == "Payments.BankTransfer")
                                    {
                                        $("#BankTransfercustomers-grid").show();
                                        $("#customers-grid").hide();
                                        $("#BankTransfercustomers-grid").kendoGrid({
                                            dataSource: {
                                                type: "json",
                                                transport: {
                                                    read: {
                                                        url: '@Html.Raw(Url.Action("MakePayment", "MakePayment"))',
                                                        type: "POST",
                                                        dataType: "json",
                                                        data: additionalData
                                                    }
                                                },
                                                schema: {
                                                    data: "Data",
                                                    total: "Total",
                                                    errors: "Errors"
                                                },
                                                error: function (e) {
                                                    display_kendoui_grid_error(e);
                                                    // Cancel the changes
                                                    this.cancelChanges();
                                                },
                                                pageSize: @(defaultGridPageSize),
                                                serverPaging: true,
                                                serverFiltering: true,
                                                serverSorting: true
                                            },
                                            pageable: {
                                                refresh: true,
                                                pageSizes: [@(gridPageSizes)]
                                            },
                                            scrollable: true,
                                            columns: [{
                                                     field: "MemberID",
                                                     headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                                     headerAttributes: { style: "text-align:center" },
                                                     attributes: { style: "text-align:center" },
                                                     //template: "<input type='hidden' id='MemberID' value='#=MemberID#' name='MemId'  class='checkboxGroups'/>",
                                                     template: "<input type='checkbox' value='#=MemberID#' name='MemId'  class='checkboxGroups'/>",
                                                     width: 50
                                                 },{
                                                   field: "nameid",
                                                   title: '@T("admin.customers.customers.fields.namegrid")',
                                                     width: 100,
                                               },{
                                                   field: "MemNo",
                                                   title: '@T("Admin.Customers.Customers.Fields.MemNo")',
                                                   width: 100,
                                               },{
                                                   field: "IFSCCode",
                                                   title:  "@T("Account.Fields.MPD_IFSDCode")",
                                                   width: 100,
                                                },{
                                                    field: "Amount",
                                                    title: '@T("Admin.Customers.Customers.Fields.Amount")',
                                                    width: 100,
                                                }, {
                                                    field: "MobileNo",
                                                    title:  "@T("admin.customerreport.mobileno")",
                                                    width: 100,

                                                },{
                                                    field: "AccountNo",
                                                    title: "@T("Dashboard.Mynetwork.Mydirect.AccountNo")",
                                                    width: 100,
                                                },{
                                                    field: "AccountType",
                                                    title: "@T("Account.Fields.MPD_BankAccountType")",
                                                    width: 100,
                                                },{
                                                    field: "BankName",
                                                    title: "@T("admin.customers.customers.fields.bankname")",
                                                    width: 100,

                                                }, {
                                                    field: "BranchName",
                                                    title:  "@T("Account.Fields.MPD_Branch")",
                                                    width: 100,
                                                },{
                                                    field: "TransactionCode",
                                                    title:  "@T("Admin.Customers.Customers.Fields.TransactionID")",
                                                    width: 200,
                                                    template: "<input type='text' name='TransactionCode'  id='TransactionCode#=MemberID#' />",
                                                }  ]
                                        });
                                   }
                                    else
                                    {

                                        $("#customers-grid1").show();
                                        $("#customers-grid1").kendoGrid({
                                            dataSource: {
                                                type: "json",
                                                transport: {
                                                    read: {
                                                        url: '@Html.Raw(Url.Action("MakePayment", "MakePayment"))',
                                                        type: "POST",
                                                        dataType: "json",
                                                        data: additionalData
                                                    }
                                                },
                                                schema: {
                                                    data: "Data",
                                                    total: "Total",
                                                    errors: "Errors"
                                                },
                                                error: function (e) {
                                                    display_kendoui_grid_error(e);
                                                    // Cancel the changes
                                                    this.cancelChanges();
                                                },
                                                pageSize: @(defaultGridPageSize),
                                                serverPaging: true,
                                                serverFiltering: true,
                                                serverSorting: true
                                            },
                                            pageable: {
                                                refresh: true,
                                                pageSizes: [@(gridPageSizes)]
                                            },
                                            scrollable: true,
                                            autoBind: false,
                                            columns: [{
                                                field: "MemberID",
                                                headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                                headerAttributes: { style: "text-align:center" },
                                                attributes: { style: "text-align:center" },
                                                //template: "<input type='hidden' id='MemberID' value='#=MemberID#' name='MemId'  class='checkboxGroups'/>",
                                                template: "<input type='checkbox' value='#=MemberID#' name='MemId'  class='checkboxGroups'/>",
                                                width: 50
                                            }, {
                                                   field: "nameid",
                                                   title: '@T("admin.customers.customers.fields.namegrid")',
                                                width: 100
                                                   
                                               },
                                               {
                                                   field: "MemNo",
                                                   title: '@T("Admin.Customers.Customers.Fields.MemNo")',
                                                   width: 100
                                                   
                                               },
                                            {
                                                field: "Amount",
                                                title: '@T("Admin.Customers.Customers.Fields.Amount")',
                                                width: 100
                                            }]
                                        });
                                    }

                                    if ($("#ddlPayMode").val() == "Payments.BankTransfer")
                                    {
                                        var grid = $('#BankTransfercustomers-grid').data('kendoGrid');
                                        grid.dataSource.page(1);
                                        var count = grid.dataSource.total();
                                        // alert(count)
                                        //if (count > 0)
                                        //{
                                        $("#btnProceed").show();
                                        //}
                                        $("#customers-grid1").hide();
                                        $("#BankTransfercustomers-grid").show();
                                        $("#customers-grid").hide();

                                    }
                                    else  if ($("#ddlPayMode").val() == "Payments.CheckMoneyOrder")
                                    {
                                        var grid = $('#customers-grid').data('kendoGrid');
                                        grid.dataSource.page(1);
                                        $("#customers-grid").show();
                                        $("#customers-grid1").hide();
                                        $("#BankTransfercustomers-grid").hide();
                                        $("#btnProceed").show();
                                    }
                                    else
                                    {
                                        var grid = $('#customers-grid1').data('kendoGrid');
                                        grid.dataSource.page(1);
                                        $("#customers-grid1").show();
                                        $("#customers-grid").hide();
                                        $("#BankTransfercustomers-grid").hide();
                                        $("#btnProceed").show();
                                    }
                                });
                               

                               
                            });
                            
                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#BankTransfercustomers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#BankTransfercustomers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }
                            function updateMasterCheckbox0() {
                                var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }
                            function updateMasterCheckbox1() {
                                var numChkBoxes = $('#customers-grid1 input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#customers-grid1 input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }
                        </script>
                        
                        <script>

                            $(document).ready(function () {
                                $('#validationMessages').hide();
                                $("#btnProceed").hide();
                                $("#customers-grid").hide();
                                $("#BankTransfercustomers-grid").hide();
                                $("#customers-grid1").hide();
                                //post data to the controller
                                var selectedMemid = [];
                                var selectedTansationId = [];
                                $('#btnProceed').click(function (e) {
                                    $(".alert.alert-success.alert-dismissable").hide();
                                    e.preventDefault();
                                    $('#validationMessages').hide();
                                    $('#validationMessages').html('');
                                    
                                    var flag=true;
                                    if(selectedIds=='' || selectedIds.length<=0)
                                    {
                                        // alert("Select At Least One Record");
                                          $('#validationMessages').show();
                                            $('#validationMessages').append('@T("Admin.Validation.SelectAtLeastOneRecord")');
                                        return false;
                                    }
                                    else
                                    {
                                        if ($("#ddlPayMode").val() == "Payments.BankTransfer")
                                        {
                                            $.each(selectedIds,function(i,val)
                                            {
                                                //
                                                var obj=new Object();
                                                var arr = val.split(' ');
                                                val=arr[0];
                                                obj.selectedId=val;
                                                obj.TtansactionCode=$("#TransactionCode"+val).val();
                                                if(obj.TtansactionCode.length<=0)
                                                {

                                                    $('#validationMessages').show();
                                                    $('#validationMessages').append('Enter Transaction Code For Selected ID');
                                                    flag=false;
                                                    return false;
                                                }
                                            });
                                        }


                                    }
                                    if(flag==true)
                                    {
                                        var formData = $('form').serialize();
                                        var arr = formData.split('&');
                                        for(var i=0;i<arr.length;i++){

                                            if(arr[i].includes("MemId")){
                                                selectedMemid.push(arr[i].split("=")[1]);
                                            }
                                        }
                                        for(var i=0;i<arr.length;i++){

                                            if(arr[i].includes("TransactionCode")){
                                                selectedTansationId.push(arr[i].split("=")[1]);
                                            }
                                        }
                                        var j=0;
                                        for(var i=0;i<selectedTansationId.length;i++){

                                            if(selectedTansationId[i]=="")
                                            {
                                                selectedTansationId.splice(i, 1);
                                                i--;
                                                j++;
                                            }
                                        }
                                        @*if(selectedTansationId.length!=0)
                                    {
                                        if(j==selectedTansationId.length)
                                        {
                                            $('#validationMessages').show();
                                            $('#validationMessages').append('@T("Admin.Validation.SelectAtLeastOneRecord")');
                                            selectedMemid = [];
                                            selectedTansationId = [];
                                            return false;
                                        }
                                    }*@
                                        var postData = {
                                            ddlTrnCode: $("#ddlTrnCode").val(),
                                            ddlPayMode: $("#ddlPayMode").val(),
                                            ddlBank: $("#ddlBank").val(),
                                            txtChequeNo: $("#txtChequeNo").val(),
                                            txtChequeDate: $("#txtChequeDate").val(),
                                            selectedTrnText: $("#ddlTrnCode option:selected").text(),
                                            selectedPaymode: $("#ddlPayMode option:selected").text(),
                                            TransactionCode:selectedTansationId,
                                            MemID:selectedMemid,
                                            SearchddlPayMode: $('#@Html.FieldIdFor(model => model.ddlPayMode)').val(),
                                        };
                                        addAntiForgeryToken(postData);

                                        $.ajax({
                                            cache: false,
                                            type: "POST",
                                            url: '@(Url.Action("SaveMakePayment", "MakePayment"))',
                                            data: postData,
                                            success: function (data) {
                                                var newUrl="";
                                                if(data==1)
                                                {
                                                    var newUrl= '@Url.Action("MakePayment", "MakePayment", new { suc = 1 })';
                                                }
                                                if(data==2)
                                                {
                                                    var newUrl= '@Url.Action("MakePayment", "MakePayment", new { suc = 2 })';
                                                }
                                                if(data==3)
                                                {
                                                    var newUrl= '@Url.Action("MakePayment", "MakePayment", new { suc = 3 })';
                                                }
                                                if(data==4)
                                                {
                                                    var newUrl= '@Url.Action("MakePayment", "MakePayment", new { suc = 4 })';
                                                }
                                                if(data==5)
                                                {
                                                    var newUrl= '@Url.Action("MakePayment", "MakePayment", new { suc = 5 })';
                                                }
                                                if(data==6)
                                                {
                                                    var newUrl= '@Url.Action("MakePayment", "MakePayment", new { suc = 6 })';
                                                }
                                                if(data!=7)
                                                {
                                                    window.location.href = newUrl;
                                                }
                                                if(data==7)
                                                {
                                                    $("#validationMessages").html('');
                                                    $('#validationMessages').show();
                                                    $('#validationMessages').append('@T("Admin.Validation.TransationCodeNumeric")');
                                                    selectedMemid = [];
                                                    selectedTansationId = [];
                                                    $(".alert.alert-success.alert-dismissable").hide();
                                                }

                                            },
                                            error: function (xhr, ajaxOptions, thrownError) {
                                                selectedMemid = [];
                                                selectedTansationId = [];

                                            },
                                            traditional: true
                                        });
                                        return false;
                                    }
                                    else
                                    {
                                        return false;
                                    }

                                });

                                //wire up checkboxes.
                                $('#BankTransfercustomers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                    }
                                    else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function (item, index) {
                                                return item != $check.val();
                                            });
                                        }
                                    }
                                    updateMasterCheckbox();
                                });

                                $('#BankTransfercustomers-grid').on('change', 'input[id=mastercheckbox]', function (e) {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                $('#customers-grid1').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                    }
                                    else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function (item, index) {
                                                return item != $check.val();
                                            });
                                        }
                                    }
                                    updateMasterCheckbox1();
                                });

                                $('#customers-grid1').on('change', 'input[id=mastercheckbox]', function (e) {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                    }
                                    else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function (item, index) {
                                                return item != $check.val();
                                            });
                                        }
                                    }
                                    updateMasterCheckbox0();
                                });

                                $('#customers-grid').on('change', 'input[id=mastercheckbox]', function (e) {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });
                            });

                            function additionalData() {
                                var customerRoleIds = [];
                                $('[name=SearchCustomerRoleIds]:checked').each(function () {
                                    customerRoleIds.push($(this).val());
                                });

                                var data = {
                                    SearchddlTrnCode: $('#@Html.FieldIdFor(model => model.ddlTrnCode)').val(),
                                    SearchddlPayMode: $('#@Html.FieldIdFor(model => model.ddlPayMode)').val(),
                                    SearchddlBank: $('#@Html.FieldIdFor(model => model.ddlBank)').val(),
                                    SearchtxtChequeNo: $('#@Html.FieldIdFor(model => model.txtChequeNo)').val(),
                                    SearchtxtChequeDate: $('#@Html.FieldIdFor(model => model.txtChequeDate)').val()
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }

                        </script>



                    </div>

                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4">
                            <button type="submit" id="btnProceed" name="Command" class="btn bg-blue"><i class="fa fa-floppy-o"></i>@T("Admin.Common.processpayment")</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#pnlBank").hide();
            $("#pnlChequeNO").hide();
            $("#pnlChequeDate").hide();
            $("#ddlTrnCode").change(function () {
                //  BindDropDownList();
            });
           
            if ($("#ddlPayMode").val() == "Payments.CheckMoneyOrder") {
                $("#pnlBank").show();
                $("#pnlChequeNO").show();
                $("#pnlChequeDate").show();
            }

            $("#ddlPayMode").change(function () {
                $("#pnlBank").hide();
                $("#pnlChequeNO").hide();
                $("#pnlChequeDate").hide();
                $("#customers-grid").hide();
                $("#BankTransfercustomers-grid").hide();
                $("#btnProceed").hide();
                if ($("#ddlPayMode").val() == "Payments.CheckMoneyOrder") {
                    $("#pnlBank").show();
                    $("#pnlChequeNO").show();
                    $("#pnlChequeDate").show();
                }
            });

            $("#btnreset").click(function () {
                $("#pnlBank").hide();
                $("#pnlChequeNO").hide();
                $("#pnlChequeDate").hide();
                $("#ddlTrnCode").val(999);
                $("#ddlPayMode").val(999);
                $("#customers-grid").hide();
                $("#btnProceed").hide();

            });

        });

        function BindDropDownList() {
            //post data to the controller
            var postData = {
                selectedIds: $("#ddlTrnCode").val()
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: '@(Url.Action("BindDropdown", "MakePayment"))',
                data: postData,
                success: function (data) {
                    $("#ddlPayMode").html("");
                    $.each(data.paymodeList, function (i, plan) {
                        $("#ddlPayMode").append($('<option></option>').val(plan.Value).html(plan.Text))
                    })
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                },
                traditional: true
            });
        }
    </script>


}

