﻿@model Nop.Admin.ViewModel.AccountLedgerVM
@{
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    ViewBag.Title = T("Admin.Customers.Transaction").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Customers.Transaction")
        </h1>
        <div class="pull-right">

            <div class="btn-group">
                <button type="submit" class="btn btn-success" name="exportexcel-all">
                    <i class="fa fa-download"></i>
                    @T("Admin.Common.Export")
                </button>

            </div>

        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">


                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="customers-grid"></div>
                        <script>
                            $(document).ready(function () {
                                $("#customers-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("TransactionLedgerGrid", "MakePayment"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: addAntiForgeryToken
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: false,
                                    columns: [
                                      {
                                          field: "nameid",
                                          title: "@T("admin.customers.customers.fields.namegrid")",
                                          width:100
                                      },
                                       {
                                           field: "MemNo",
                                           title: "@T("Account.Fields.MemID")",
                                           width:100
                                       },

                                    {
                                        field: "Amount",
                                        title: "@T("Admin.Customers.Customers.Fields.Amount")",
                                        width:100
                                    },

                        {
                            field: "PayDate",
                            title: "@T("Admin.Customers.Customers.Fields.PayDate")",
                            width:100
                        },

                        {
                            field: "Paymode",
                            title: "@T("Admin.Customers.Customers.Fields.Paymode")",
                            width:100
                        },

                        {
                            field: "acno",
                            title: "@T("Admin.Customers.Customers.Fields.acno")",
                            width:100
                        },
                         {
                             field: "AccType",
                             title: "@T("Account.Fields.MPD_BankAccountType")",
                             width:100
                         },
                        {
                            field: "Bank",
                            title: "@T("Admin.Customers.Customers.Fields.Bank")",
                            width:100
                        },

                        {
                            field: "Branch",
                            title: "@T("Admin.Customers.Customers.Fields.Branch")",
                            width:100
                        },

                        {
                            field: "IFSDCode",
                            title: "@T("Admin.Customers.Customers.Fields.IFSDCode")",
                            width:100
                        },
                                                  {
                                                      field: "TransactionId",
                                                      title: "@T("Admin.Customers.Customers.Fields.TransactionID")",
                                                      width:100
                                                  }
                                    ]
                                });

                            });
                        </script>


                    </div>
                </div>
            </div>
        </div>
    </div>


}