﻿@{
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";
}


@model Nop.Admin.ViewModel.ProcessPaymentVM
@{

    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>
    ().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>
        ().GridPageSizes;
    ViewBag.Title = T("Admin.Customers.ProcessPayment").Text;

}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="alert alert-danger alert-dismissable" id="validationMessages">

    </div>

    <div class="section-header">
        <div class="title" id="PayoutTitle">
            <img src="@Url.Content("~/Administration/Content/images/ico-sales.png")" alt="" />
           
        </div>

    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
           
        </h1>
        
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">


                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="customers-grid"></div>
                        <script>
                            $(document).ready(function () {
                                //  $('#search-customers').click(function () {
                                $("#customers-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("ViewPayoutProcessPayment", "MakePayment"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        requestEnd: function (e) {
                                            if (e.type == "read") {
                                                var response = e.response;
                                                if (response) {
                                                    //store extra data
                                                    reportAggregates = e.response["ExtraData"];

                                                }
                                            }
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true,
                                        selectable:true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: false,
                                    dataBound: onDataBound,
                                    autoBind: false,
                                    columns: [
                                        {
                                            field: "SrNo",
                                            title:"@T("admin.customerreport.srno")",
                                            width: 90
                                        },

                                      {
                                          field: "MemberNameCode",
                                          title:"@T("admin.customers.customers.fields.name")",
                                          width: 90
                                      },

                                        {
                                            field: "NetAmt",
                                            title:"@T("Dashboard.MyCommission.CommissionPlantype.NetAmount")",
                                            width: 90
                                        },

                                    ]
                                });
                            });
                            // });
                        </script>
                        


                    </div>
                </div>
            </div>
        </div>
    </div>
   


    <script type="text/javascript">


        //  $("#sucessMessages").hide();

        $("#validationMessages").hide();


        Hidesearch();
        function Hidesearch() {

            // $("#sucessMessages").hide();

            $("#validationMessages").hide()
            // $("#customers-grid").hide();

        }





        function additionalData() {
            //var customerRoleIds = [];
            //$('[name=SearchCustomerRoleIds]:checked').each(function () {
            //    customerRoleIds.push($(this).val());
            //});

            var data = {


                Value:$('#@Html.FieldIdFor(model => model.Value)').val()


            };
            addAntiForgeryToken(data);
            return data;
        }
        function onDataBound(e) {

            // alert(reportAggregates['Tilte'])
            var check=(reportAggregates['Tilte']);
            if (check != 0) {

                var validationDivs='';
                $('#PayoutTitle').html('');
                validationDivs=validationDivs+'<div> '+ (reportAggregates['Tilte']) +'</div>';
                $("#PayoutTitle").show();
                $('#PayoutTitle').append(validationDivs);
            }
            var grid = $("#customers-grid").data("kendoGrid");
            var data = grid.dataSource.data();
        }


        $(document).ready(function () {

            $('#validationMessages').html('');
            $(".message-box.message-box-error").hide();

            var grid = $('#customers-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            //clear selected checkboxes


            //return false;




            //wire up checkboxes.

        });







    </script>

}
