﻿@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>
    ().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>
        ().GridPageSizes;
    //page title
    ViewBag.Title = T("Admin.MemberReport.CountDetails").Text;
}

@model Nop.Admin.ViewModel.CountDetailsReport

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="message-box message-box-error" id="validationMessages">
    </div>
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content(" ~ />Administration/Content/images/ico-sales.png")" alt="" />
            @T("Admin.MemberReport.CountDetails")
        </div>
        <div class="options">
            <input type="submit" name="exportexcel-all" id="exportexcel-all" class="k-button" value="@T(" admin.common.exporttoexcel.all")" />
            @*<input type="submit" id="exportxml-all" name="exportxml-all" class="k-button" value="@T(" admin.common.exporttoxml.all")" />*@
        </div>
    </div>
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ddlMemOption):
            </td>
            <td class="adminData">
                @Html.DropDownList("ddlMemOption", new List<SelectListItem>
                        {
                        new SelectListItem{Text="All Record(s)",Value="0"},
                        new SelectListItem{Text="ID/Name-wise",Value="1"},
                        })
            </td>
        </tr>
        <tr id="trCustomerName">
            <td class="adminTitle">
                @*@Html.NopLabelFor(model => model.ddlMemIDName):
                    @Html.DropDownList("ddlMemIDName", new List<selectlistitem>
                        {
                        new SelectListItem{Text="Enter an ID/Name",Value="0"},
                        })*@
                @Html.NopLabelFor(model => model.Memid):
            </td>
            <td class="adminData">
                @*@Html.EditorFor(model => model.Memid)*@
                <input type="text" id="SearchFirstName" value="" name="" />
                @Html.HiddenFor(model => model.Memid)
                <div id="divfirstname" class="inputs">
                </div>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ddlOption):
            </td>
            <td class="adminData">
                @Html.DropDownList("ddlOption", new List<SelectListItem>
                        {
                        new SelectListItem{Text="All Record(s)",Value="0"},
                        new SelectListItem{Text="Period-wise",Value="1"},
                        new SelectListItem{Text="Payout-wise",Value="2"}
                        })
            </td>
        </tr>
        <tr id="trStartDate">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.StartDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.StartDate)
                @Html.ValidationMessageFor(model => model.StartDate)
            </td>
        </tr>
        <tr id="trEndDate">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EndDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EndDate)
                @Html.ValidationMessageFor(model => model.EndDate)
            </td>
        </tr>
        <tr id="trPlanType">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PM_ID):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.PM_ID, Model.PlanTypeList, new { style = "Width: 165px;", autocomplete = "off", maxlength = 22, Id = "ddlPlanType" })
            </td>
        </tr>
        <tr id="trPayoutNoList">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PN_ID):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.PN_ID, Model.PayoutNoList, new { style = "Width: 165px;", ocomplete = "off", maxlength = 22, Id = "ddlPayoutFrom" })
            </td>
        </tr>
        <tr id="trPayoutStartDate">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PayoutStartDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.PayoutStartDate, new { @readonly = "readonly" })
                @*@Html.DropDownListFor(model => model.PayoutStartDate, Model.PayoutStartDateList, new { style = "Width: 165px;", autocomplete = "off", maxlength = 22 })*@
            </td>
        </tr>
        <tr id="trPayoutEndDate">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PayoutEndDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.PayoutEndDate, new { @readonly = "readonly" })
                @*@Html.DropDownListFor(model => model.PayoutEndDate, Model.PayoutEndDateList, new { style = "Width: 165px;", autocomplete = "off", maxlength = 22 })*@
            </td>
        </tr>
        <tr id="trDdlGroupBy">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ddlGroupBy):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.FM_FHID, Model.ddlGroupByList, new { style = "Width: 165px;", autocomplete = "off", maxlength = 22, Id = "ddlGroupBy" })
            </td>
        </tr>
        <tr id="trddlCountWise">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ddlCountWiseLabel)
                @Html.DropDownList("ddlCountWiseLabel", new List<SelectListItem>
                        {
                        new SelectListItem{Text="Total",Value="0"},
                        new SelectListItem{Text="Confirm",Value="1"},
                        })
                @Html.HiddenFor(model => model.ddlCountWise)
            </td>
            <td class="adminData">
                @Html.NopLabelFor(model => model.LeftCnt)  >=
                @Html.EditorFor(model => model.LeftCnt)
            </td>
        </tr>
        <tr id="trRightCnt">
            <td class="adminTitle"></td>
            <td class="adminData">
                @Html.NopLabelFor(model => model.RightCnt)  >=
                @Html.EditorFor(model => model.RightCnt)
                @*, new { @onchange = "fntxtRCountWise();" })*@
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" name="search" id="search-generationCountdetails" class="k-button" value="@T(" admin.common.search")" />
                @*<input type="reset" id="reset-generationCountdetails" class="k-button" value="@T(" admin.common.reset")" />*@
                <input type="submit" name="CountRefresh" id="btnRefresh" class="k-button" value="@T("Admin.Common.Refresh")" />
            </td>
        </tr>
        <tr id="searchResult">
            <td>
                <br />
                <h3>@T("Admin.Customer.SearchResult")</h3>
                <br />
            </td>
        </tr>
    </table>
    @*<div>
            Search By Customer/Company/Contact Name:
            <input class=k-textbox type=text id="txtSearchString" placeholder="enter search text..." />
            <button id="btnSearch">Search</button>
        </div>*@
    <script>



        $("#reset-generationCountdetails").click(function (){
            //$("#ddlOption").val("0");
            //$('#ddlMemOption').val("0");
            //$("#Memid").val("");
            //$("#SearchFirstName").val("");
            //$('#ddlPlanType').val("0");
            //$('#LeftCnt').val("0");
            //$('#RightCnt').val("0");
            //$("#StartDate").val("");
            //$("#EndDate").val("");
            //$("#ddlGroupBy").val("50");
            $('#trCustomerName').hide();
            $('#trStartDate').hide();
            $('#trEndDate').hide();
            $("#trPlanType").hide();
            $('#trPayoutNoList').hide();
            $('#trPayoutStartDate').hide();
            $('#trPayoutEndDate').hide();
            $('#trddlCountWise').show();
            $('#trRightCnt').show();
            $('#generationCountdetails-grid').hide();
            $('#validationMessages').html('');
            $("#validationMessages").hide();
            //$('#ddlCountWise').val("0");
            $('#searchResult').hide();
        });

        $('#SearchFirstName').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("SearchTermAutoCompleteGeneration", "MemberReports"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                $("#Memid").val(ui.item.MJD_MemID);
                $("#SearchFirstName").val(ui.item.label);
                $("#divfirstname").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };

        var objArray=new Array();
        $(document).ready(function () {

            //$("#StartDate").keyup(function(){
            //    $(this).val('');
            //});
            //$("#EndDate").keyup(function(){
            //    $(this).val('');
            //});

            $('#trCustomerName').hide();
            $('#trStartDate').hide();
            $('#trEndDate').hide();
            $("#trPlanType").hide();
            $('#trPayoutNoList').hide();
            $('#trPayoutStartDate').hide();
            $('#trPayoutEndDate').hide();
            $('#trddlCountWise').show();
            $('#ddlCountWise').val("0");
            $('#trRightCnt').show();
            $("#validationMessages").hide();
            // $('#exportexcel-all').hide();
            $('#searchResult').show();

            $('#ddlCountWiseLabel').change(function () {
                //
                var value = $(this).val();
                if(value == 0)
                {
                    $("#ddlCountWise").val("0");
                }
                else if(value == 1){
                    $("#ddlCountWise").val("1");
                }
            });

            $('#ddlMemOption').change(function () {
                var value = $(this).val();
                if (value == 1) {
                    $('#trCustomerName').show();
                    $('#trddlCountWise').hide();
                    $('#trRightCnt').hide();
                    $('#validationMessages').html('');
                    $('#generationCountdetails-grid').hide();
                    //   $("#ddlOption").val("0");
                    $("#Memid").val("");
                    $("#SearchFirstName").val("");
                    $('#ddlPlanType').val("0");
                    $('#LeftCnt').val("0");
                    $('#RightCnt').val("0");
                    $("#StartDate").val("");
                    $("#EndDate").val("");
                    $('#ddlCountWise').val("0");
                    $("#validationMessages").hide();
                    //  $('#exportexcel-all').hide();
                    $('#searchResult').hide();
                }
                else if(value == 0)
                {
                    $('#trCustomerName').hide();
                    $('#validationMessages').html('');
                    $('#generationCountdetails-grid').hide();
                    $('#trddlCountWise').show();
                    $('#trRightCnt').show();
                    // $("#ddlOption").val("0");
                    $("#Memid").val("");
                    $("#SearchFirstName").val("");
                    $('#ddlPlanType').val("0");
                    $('#LeftCnt').val("0");
                    $('#RightCnt').val("0");
                    $("#StartDate").val("");
                    $("#EndDate").val("");
                    $('#ddlCountWise').val("0");
                    $("#validationMessages").hide();
                    // $('#exportexcel-all').hide();
                    $('#searchResult').hide();
                }
                else{
                    $('#trCustomerName').hide();
                    $('#validationMessages').html('');
                    $('#generationCountdetails-grid').hide();
                    $('#trddlCountWise').show();
                    $('#trRightCnt').show();
                    //  $("#ddlOption").val("0");
                    $("#Memid").val("");
                    $("#SearchFirstName").val("");
                    $('#ddlPlanType').val("0");
                    $('#LeftCnt').val("0");
                    $('#RightCnt').val("0");
                    $("#StartDate").val("");
                    $("#EndDate").val("");
                    $('#ddlCountWise').val("0");
                    $("#validationMessages").hide();
                    // $('#exportexcel-all').hide();
                    $('#searchResult').hide();
                }
            });

            $('#ddlGroupBy').change(function(){
                var value=$(this).val();
                var ddlMemOption=$("#ddlMemOption").val();
                if(ddlMemOption != 1)
                {
                    if(value != 50)
                    {
                        $('#trddlCountWise').hide();
                        $('#trRightCnt').hide();
                        $('#LeftCnt').val("0");
                        $('#RightCnt').val("0");
                        $("#validationMessages").hide();
                        // $('#exportexcel-all').hide();
                        $("#generationCountdetails-grid").hide();
                        $('#searchResult').hide();
                    }
                    else{
                        $('#trddlCountWise').show();
                        $('#trRightCnt').show();
                        $('#LeftCnt').val("0");
                        $('#RightCnt').val("0");
                        $("#validationMessages").hide();
                        // $('#exportexcel-all').hide();
                        $("#generationCountdetails-grid").hide();
                        $('#searchResult').hide();
                    }
                }
            });

            $('#ddlOption').change(function () {
                var value = $(this).val();
                if (value == 1) {
                    $('#trStartDate').show();
                    $('#trEndDate').show();
                    $("#trPlanType").hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                    $('#trPayoutNoList').hide();
                    $('#validationMessages').html('');
                    $('#generationCountdetails-grid').hide();
                    //  $("#ddlOption").val("0");
                    $('#ddlPlanType').val("0");
                    $('#LeftCnt').val("0");
                    $('#RightCnt').val("0");
                    $("#StartDate").val("");
                    $("#EndDate").val("");
                    $('#ddlCountWise').val("0");
                    $("#validationMessages").hide();
                    $('#trddlCountWise').hide();
                    $('#trRightCnt').hide();
                    $('#ddlPlanType').val("0");
                    // $('#exportexcel-all').hide();
                    $('#searchResult').hide();
                }
                else if(value == 2)
                {
                    $("#trPlanType").show();
                    $('#trPayoutNoList').hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                    $('#trStartDate').hide();
                    $('#trEndDate').hide();
                    $('#validationMessages').html('');
                    $('#generationCountdetails-grid').hide();
                    //  $("#ddlOption").val("0");
                    $('#ddlPlanType').val("0");
                    $('#LeftCnt').val("0");
                    $('#RightCnt').val("0");
                    $("#StartDate").val("");
                    $("#EndDate").val("");
                    $('#ddlCountWise').val("0");
                    $("#validationMessages").hide();
                    $('#trddlCountWise').hide();
                    $('#trRightCnt').hide();
                    $('#ddlPlanType').val("0");
                    // $('#exportexcel-all').hide();
                    $('#searchResult').hide();
                }
                else {
                    $('#trStartDate').hide();
                    $('#trEndDate').hide();
                    $("#trPlanType").hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                    $('#trPayoutNoList').hide();
                    $('#validationMessages').html('');
                    $('#generationCountdetails-grid').hide();
                    $('#trddlCountWise').show();
                    $('#trRightCnt').show();
                    $("#ddlOption").val("0");
                    $('#ddlPlanType').val("0");
                    $('#LeftCnt').val("0");
                    $('#RightCnt').val("0");
                    $("#StartDate").val("");
                    $("#EndDate").val("");
                    $('#ddlCountWise').val("0");
                    $("#validationMessages").hide();
                    $('#trddlCountWise').show();
                    $('#trRightCnt').show();
                    $('#ddlPlanType').val("0");
                    //$('#exportexcel-all').hide();
                    $('#searchResult').hide();
                }
            });

            $('#ddlPlanType').change(function (){
                $('#trPayoutNoList').show();
                $('#trPayoutStartDate').show();
                $('#trPayoutEndDate').show();
                $('#validationMessages').html('');
                $("#validationMessages").hide();
                $('#generationCountdetails-grid').hide();
                var value = $(this).val();
                var startDate='';
                if (value != null && value != 0) {
                    $.get("@(Url.Action("LoadDropDown", "MemberReports"))", {typeId:value,flag:0}, function (response){
                        $("#ddlPayoutFrom").html('');
                        $("#PayoutStartDate").html('');
                        $("#PayoutEndDate").html('');
                        var PayoutNoListStr='';
                        var PayoutStartDate='';
                        var PayoutEndDate='';
                        if(response.PayoutNoList.length>0 ){
                            for(var i=0;i<response.PayoutNoList.length;i++){

                                PayoutNoListStr=PayoutNoListStr+'<option value="'+response.PayoutNoList[i].Value+'">'+response.PayoutNoList[i].Text+'</option>';
                                var obj=new Object()
                                obj.pn=response.PayoutNoList[i].Value;
                                obj.sd=response.PayoutStartDateList [i].Value;
                                obj.ed=response.PayoutEndDateList [i].Value;

                                objArray.push(obj);
                            }
                        }
                        else{

                            PayoutNoListStr= '<option value="0">No Payout(s) available.</option>';
                            $('#trPayoutStartDate').hide();
                            $('#trPayoutEndDate').hide();
                        }
                        $("#ddlPayoutFrom").append(PayoutNoListStr);
                        if(objArray.length > 0)
                        {
                            $("#PayoutStartDate").val(objArray[0].sd);
                            $("#PayoutEndDate").val(objArray[0].ed);
                        }
                    });
                }
                if($('#ddlPlanType').val() == 0)
                {
                    $('#trPayoutNoList').hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                }
            });

            $('#ddlPayoutFrom').change(function(){
                var value = $(this).val();
                for(var i=0;i<objArray.length;i++)
                {
                    if(objArray[i].pn==value){
                        $("#PayoutStartDate").val(objArray[i].sd);
                        $("#PayoutEndDate").val(objArray[i].ed);
                    }
                }
            });
        });

        $("#search-generationCountdetails").click(function() {
            var Choice = $("#ddlOption").val();
            var ddlMemOption=$("#ddlMemOption").val();
            var vFromDt =  $("#StartDate").val();
            var vToDt =  $("#EndDate").val();
            var PlanType =  $("#ddlPlanType").val();
            var SearchFirstName=$('#SearchFirstName').val();
            var Memid=$('#Memid').val();
            var ddlGroupBy =  $('#ddlGroupBy').val();
            var ddlPayoutFrom=$('#ddlPayoutFrom').val();
            $("#generationCountdetails-grid").hide();
            $("#validationMessages").hide();
            var validationDivs='';
            $('#validationMessages').html('');

            var flag=true;
            if(ddlMemOption==1)
            {
                if(SearchFirstName == '')
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.IdNameRequired")</div>';
                    flag=false;
                }

                if(SearchFirstName !='' && Memid == '')
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                    flag=false;
                }
            }

            if ((ddlGroupBy == 50) && (ddlMemOption == 0) && (Choice == 0)) {
                var RightCnt=$('#RightCnt').val();
                var LeftCnt=$('#LeftCnt').val();
                if (RightCnt == '') {
                    validationDivs=validationDivs+'<div>@T("admin.Validation.EnterRightCounts")</div>';
                    flag=false;
                }
                if (LeftCnt == '') {
                    validationDivs=validationDivs+'<div>@T("admin.Validation.EnterLeftCounts")</div>';
                    flag=false;
                }
                if (LeftCnt < 0) {
                    validationDivs=validationDivs+ '<div>@T("admin.Validation.LeftCountGraterThanZero")</div>';
                    flag = false;
                }
                if (RightCnt < 0) {
                    validationDivs=validationDivs+ '<div>@T("admin.Validation.RightCountGraterThanZero")</div>';
                    flag = false;
                }
            }
            if (Choice == 1 )
            {
                if (vFromDt == '' )
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                    flag=false;
                }
                if (vToDt == '' )
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                    flag=false;
                }

                var EnteredDate = $("#EndDate").val(); // For JQuery
                var EnteredFromdate = $("#StartDate").val();

                var str = EnteredDate;
                var res = str.split("/");

                var date =res[1];
                var month=res[0];
                var year =res[2];

                var str1 = EnteredFromdate;
                var res1 = str1.split("/");

                var Fromdate =res1[1];
                var Frommonth=res1[0];
                var Fromyear =res1[2];

                var myDate = new Date(year, month - 1, date);

                var myFromDate = new Date(Fromyear, Frommonth - 1, Fromdate);

                var today = new Date();

                if (myDate > today) {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    flag=false;
                }

                if (myFromDate > myDate) {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    flag=false;
                }
            }

            if ((Choice) == 3 )
            {
                if (vFromDt == '' )
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                    flag=false;
                }
                if (vToDt == '' )
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                    flag=false;
                }

                var EnteredDate = $("#EndDate").val(); // For JQuery
                var EnteredFromdate = $("#StartDate").val();

                var str = EnteredDate;
                var res = str.split("/");

                var date =res[1];
                var month=res[0];
                var year =res[2];

                var str1 = EnteredFromdate;
                var res1 = str1.split("/");

                var Fromdate =res1[1];
                var Frommonth=res1[0];
                var Fromyear =res1[2];

                var myDate = new Date(year, month - 1, date);

                var myFromDate = new Date(Fromyear, Frommonth - 1, Fromdate);

                var today = new Date();

                if (myDate > today) {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    flag=false;
                }

                if (myFromDate > myDate) {
                    validationDivs=validationDivs+'<div>@T("dmin.Validation.StartDateLessThanEndDate")</div>';
                    flag=false;
                }
            }

            if ((+Choice) == 2  )
            {
                if ((PlanType == 0) )
                {
                    validationDivs=validationDivs+'<div>@T("admin.Validation.Enterplantype")</div>';
                    flag=false;
                }
                if (PlanType == null )
                {
                    validationDivs=validationDivs+'<div>@T("admin.Validation.Enterplantype")</div>';
                    flag=false;
                }
                if ((PlanType != 0 || PlanType == null) && ddlPayoutFrom == 0)
                {
                    validationDivs=validationDivs+'<div>@T("admin.Validation.NoPayoutavailable")</div>';
                    flag=false;
                }
            }

            if(flag){
                @*var data = {
                    ddlOption : $('#ddlOption').val(),
                    StartDate: $('#StartDate').val(),
                    EndDate: $('#EndDate').val(),
                    ddlGroupBy: $('#ddlGroupBy').val(),
                    ddlMemOption: $('#ddlMemOption').val(),
                    ddlCountWise: $('#ddlCountWise').val(),
                    PayoutStartDate: $('#PayoutStartDate').val(),
                    PayoutEndDate: $('#PayoutEndDate').val(),
                    LeftCnt: $('#LeftCnt').val(),
                    RightCnt: $('#RightCnt').val(),
                    Memid: $('#Memid').val(),
                }

                addAntiForgeryToken(data);

                $("#sucessMessages").html(@ViewBag.returnMessage);

                $.ajax({  url: "@Html.Raw(Url.Action("CountDetailsGrid", "MemberReports"))",
                    type: "POST",
                    dataType: "json",
                    data:data  , success: function(result){

                        if(result == "norecords" )
                        {
                            $("#validationMessages").show();
                            $("#validationMessages").html("No Record(s) found !!!");
                            $('#generationCountdetails-grid').hide();
                            return;
                        }
                        if(result == "invalidId" )
                        {
                            $("#validationMessages").show();
                            $("#validationMessages").html("Enter valid id.");
                            $('#generationCountdetails-grid').hide();
                            return;
                        }

                        if(result!="norecords" && result!="invalidId" )
                        {*@
                refreshFlag=true;
                var grid = $('#generationCountdetails-grid').data('kendoGrid');
                grid.dataSource.page(1); //new search. Set page size to 1
                //grid.dataSource.read(); we already loaded the grid above using "page" function
                $('#generationCountdetails-grid').show();
                $("#validationMessages").hide();
                //  $('#exportexcel-all').show();
                $('#searchResult').show();

                if(ddlGroupBy=='50')
                {
                    grid.hideColumn("DOJ");

                } else
                {
                    grid.showColumn("DOJ");
                }

                return false;
                //}
                // }
                // });
            }
            else{
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
                return false;
            }
        });


        $("#btnRefresh").click(function() {
            var Choice = $("#ddlOption").val();
            var ddlMemOption=$("#ddlMemOption").val();
            var vFromDt =  $("#StartDate").val();
            var vToDt =  $("#EndDate").val();
            var PlanType =  $("#ddlPlanType").val();
            var SearchFirstName=$('#SearchFirstName').val();
            var Memid=$('#Memid').val();
            var ddlGroupBy =  $('#ddlGroupBy').val();
            var ddlPayoutFrom=$('#ddlPayoutFrom').val();
            $("#generationCountdetails-grid").hide();
            $("#validationMessages").hide();
            var validationDivs='';
            $('#validationMessages').html('');

            var flag=true;
            if(ddlMemOption==1)
            {
                if(SearchFirstName == '')
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.IdNameRequired")</div>';
                    flag=false;
                }

                if(SearchFirstName !='' && Memid == '')
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                    flag=false;
                }
            }

            if ((ddlGroupBy == 50) && (ddlMemOption == 0) && (Choice == 0)) {
                var RightCnt=$('#RightCnt').val();
                var LeftCnt=$('#LeftCnt').val();
                if (RightCnt == '') {
                    validationDivs=validationDivs+'<div>@T("admin.Validation.EnterRightCounts")</div>';
                    flag=false;
                }
                if (LeftCnt == '') {
                    validationDivs=validationDivs+'<div>@T("admin.Validation.EnterLeftCounts")</div>';
                    flag=false;
                }
                if (LeftCnt < 0) {
                    validationDivs=validationDivs+ '<div>@T("admin.Validation.LeftCountGraterThanZero")</div>';
                    flag = false;
                }
                if (RightCnt < 0) {
                    validationDivs=validationDivs+ '<div>@T("admin.Validation.RightCountGraterThanZero")</div>';
                    flag = false;
                }
            }
            if (Choice == 1 )
            {
                if (vFromDt == '' )
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                    flag=false;
                }
                if (vToDt == '' )
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                    flag=false;
                }

                var EnteredDate = $("#EndDate").val(); // For JQuery
                var EnteredFromdate = $("#StartDate").val();

                var str = EnteredDate;
                var res = str.split("/");

                var date =res[1];
                var month=res[0];
                var year =res[2];

                var str1 = EnteredFromdate;
                var res1 = str1.split("/");

                var Fromdate =res1[1];
                var Frommonth=res1[0];
                var Fromyear =res1[2];

                var myDate = new Date(year, month - 1, date);

                var myFromDate = new Date(Fromyear, Frommonth - 1, Fromdate);

                var today = new Date();

                if (myDate > today) {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    flag=false;
                }

                if (myFromDate > myDate) {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    flag=false;
                }
            }

            if ((Choice) == 3 )
            {
                if (vFromDt == '' )
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                    flag=false;
                }
                if (vToDt == '' )
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                    flag=false;
                }

                var EnteredDate = $("#EndDate").val(); // For JQuery
                var EnteredFromdate = $("#StartDate").val();

                var str = EnteredDate;
                var res = str.split("/");

                var date =res[1];
                var month=res[0];
                var year =res[2];

                var str1 = EnteredFromdate;
                var res1 = str1.split("/");

                var Fromdate =res1[1];
                var Frommonth=res1[0];
                var Fromyear =res1[2];

                var myDate = new Date(year, month - 1, date);

                var myFromDate = new Date(Fromyear, Frommonth - 1, Fromdate);

                var today = new Date();

                if (myDate > today) {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    flag=false;
                }

                if (myFromDate > myDate) {
                    validationDivs=validationDivs+'<div>@T("dmin.Validation.StartDateLessThanEndDate")</div>';
                    flag=false;
                }
            }

            if ((+Choice) == 2  )
            {
                if ((PlanType == 0) )
                {
                    validationDivs=validationDivs+'<div>@T("admin.Validation.Enterplantype")</div>';
                    flag=false;
                }
                if (PlanType == null )
                {
                    validationDivs=validationDivs+'<div>@T("admin.Validation.Enterplantype")</div>';
                    flag=false;
                }
                if ((PlanType != 0 || PlanType == null) && ddlPayoutFrom == 0)
                {
                    validationDivs=validationDivs+'<div>@T("admin.Validation.NoPayoutavailable")</div>';
                    flag=false;
                }
            }

            if(flag){
                @*var data = {
                    ddlOption : $('#ddlOption').val(),
                    StartDate: $('#StartDate').val(),
                    EndDate: $('#EndDate').val(),
                    ddlGroupBy: $('#ddlGroupBy').val(),
                    ddlMemOption: $('#ddlMemOption').val(),
                    ddlCountWise: $('#ddlCountWise').val(),
                    PayoutStartDate: $('#PayoutStartDate').val(),
                    PayoutEndDate: $('#PayoutEndDate').val(),
                    LeftCnt: $('#LeftCnt').val(),
                    RightCnt: $('#RightCnt').val(),
                    Memid: $('#Memid').val(),
                }

                addAntiForgeryToken(data);

                $("#sucessMessages").html(@ViewBag.returnMessage);

                $.ajax({  url: "@Html.Raw(Url.Action("CountDetailsGrid", "MemberReports"))",
                    type: "POST",
                dataType: "json",
                data:data  , success: function(result){

                    if(result == "norecords" )
                    {
                        $("#validationMessages").show();
                        $("#validationMessages").html("No Record(s) found !!!");
                        $('#generationCountdetails-grid').hide();
                        return;
                    }
                    if(result == "invalidId" )
                    {
                        $("#validationMessages").show();
                        $("#validationMessages").html("Enter valid id.");
                        $('#generationCountdetails-grid').hide();
                        return;
                    }

                    if(result!="norecords" && result!="invalidId" )
                    {*@
                refreshFlag=false;
                var grid = $('#generationCountdetails-grid').data('kendoGrid');
                grid.dataSource.page(1); //new search. Set page size to 1
                //grid.dataSource.read(); we already loaded the grid above using "page" function
                $('#generationCountdetails-grid').show();
                $("#validationMessages").hide();
                //  $('#exportexcel-all').show();
                $('#searchResult').show();

                if(ddlGroupBy=='50')
                {
                    grid.hideColumn("DOJ");

                } else
                {
                    grid.showColumn("DOJ");
                }

                return false;
                //}
                // }
                // });
            }
            else{
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
                return false;
            }
        });


        $("#SearchFirstName").keydown(function(e){
            if((e.which === 13 || e.which === 9) && $('#Memid').val()!=" "){

                $('#search-generationCountdetails').click()
                return false;
            }
        });

        $('#StartDate').keydown(keyDownHandler); // use appropriate selector for the keydown handler

        function keyDownHandler(e) {
            if(e.keyCode === 13) {
                e.stopPropagation();
                e.preventDefault();
                $('#search-generationCountdetails').click()
                return false;
            }
        }

        $('#StartDate').keydown(keyDownHandler1); // use appropriate selector for the keydown handler

        function keyDownHandler1(e) {
            if(e.keyCode === 13) {
                e.stopPropagation();
                e.preventDefault();
                $('#search-generationCountdetails').click()
                return false;
            }
        }

        $("#EndDate").keyup(function(e){
            //
            if(e.keyCode === 13) {
                if($('#EndDate').val()!='')
                {
                    $('#search-generationCountdetails').click()
                    return false;
                }
                else{
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                    flag=false;
                }

            }
            else{
                $(this).val('');
            }

        });
        $("#StartDate").keyup(function(e){
            // 
            if(e.keyCode === 13) {
                if($('#StartDate').val()!='')
                {
                    $('#search-generationCountdetails').click()
                    return false;
                }
                else{
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                    flag=false;
                }

            }
            else{
                $(this).val('');
            }
        });

        $('#ddlPayoutFrom').live('keypress',function(e){
            if(e.keyCode === 13) {
                $('#search-generationCountdetails').click()
                return false;
            }
        });

        $('#ddlGroupBy').live('keypress',function(e){
            if(e.keyCode === 13) {
                $('#search-generationCountdetails').click()
                return false;
            }
        });

        $('#ddlCountWiseLabel').live('keypress',function(e){
            if(e.keyCode === 13) {
                $('#search-generationCountdetails').click()
                return false;
            }
        });



    </script>
}
<table class="adminContent">
    <tr>
        <td>
            <br />
            <div id="generationCountdetails-grid" ></div>
            <script>
                $(document).ready(function () {
                    //$("#generationCountdetails-grid").hide();
                    $("#btnSearch").kendoButton({
                        click:onSearch
                    })

                    function onSearch()
                    {
                        var q = $("#txtSearchString").val();
                        alert(q);
                        var grid = $("#reset-generationCountdetails").data("kendoGrid");
                        //if (q) {
                        grid.dataSource.filter({ field: "MemName", operator: "contains", value: q });
                        //} else {
                        //    grid.dataSource.filter({});
                        //}
                    }
                    $("#generationCountdetails-grid").kendoGrid({
                        // autoBind: false,
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("CountDetailsGrid", "MemberReports"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)]
                        },
                        scrollable: false,
                        columns: [{
                            field: "SrNo",
                            title: "@T("Admin.CustomerReport.SrNo")",
                            //  width: 30,
                            hidden:true
                        },{
                            field: "MemNo",
                            title: "@T("Admin.CustomerReport.MemNoGrid")",
                        },{
                            field: "MemName",
                            title: "@T("Admin.CustomerReport.MemName")",
                        },{
                            field: "DOJ",
                            title: "@T("Admin.CustomerReport.DOJ")",
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                        },{
                            field: "LeftCnt",
                            title: "@T("Admin.CustomerReport.LeftCnt")",
                            //  width: 40,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                        }, {
                            field: "RightCnt",
                            title:  "@T("Admin.CustomerReport.RightCnt")",
                            //  width: 40,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                        }, {
                            field: "TotalCount",
                            title:  "@T("Admin.CustomerReport.TotalCount")",
                            //  width: 50,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                        }, {
                            field: "ConfirmLeftCount",
                            title:  "@T("Admin.CustomerReport.ConfirmLeftCount")",
                            // width: 50,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },

                        },{
                            field: "ConfirmRightCount",
                            title: "@T("Admin.CustomerReport.ConfirmRightCount")",
                            //width: 40,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                        }, {
                            field: "ConfirmTotalCount",
                            title:  "@T("Admin.CustomerReport.ConfirmTotalCount")",
                            //width: 40,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                        } ,{
                            field: "LeftPV",
                            title:  "@T("Admin.CustomerReport.LeftPV")",
                            // width: 50,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                        }, {
                            field: "RightPV",
                            title:  "@T("Admin.CustomerReport.RightPV")",
                            // width: 50,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" }
                        },{
                            field: "TotalPV",
                            title: "@T("Admin.CustomerReport.TotalPV ")",
                            // width: 40,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" }
                        }, {
                            field: "ConfirmLeftPV",
                            title:  "@T("Admin.CustomerReport.ConfirmLeftPV")",
                            // width: 50,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                        }, {
                            field: "ConfirmRightPV",
                            title:  "@T("Admin.CustomerReport.ConfirmRightPV")",
                            //width: 50,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                        }, {
                            field: "ConfirmTotalPV",
                            title:  "@T("Admin.CustomerReport.ConfirmTotalPV")",
                            //width: 50,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" }
                        }]
                    });

                    var ddlGroupBy=$('#ddlGroupBy').val();
                    var grid1 = $('#generationCountdetails-grid').data('kendoGrid');
                    if(ddlGroupBy=='50')
                    {
                        grid1.hideColumn("DOJ");

                    } else
                    {
                        grid1.showColumn("DOJ");
                    }

                });
            </script>

            <script type="text/javascript">
                var refreshFlag=false;
                $(document).ready(function () {

                    $("#@Html.FieldIdFor(model => model.StartDate)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#search-generationCountdetails").click();
                            return false;
                        }
                    });

                    $("#@Html.FieldIdFor(model => model.EndDate)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#search-generationCountdetails").click();
                            return false;
                        }
                    });

                    $("#@Html.FieldIdFor(model => model.PayoutStartDate)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#search-joiningdetails").click();
                            return false;
                        }
                    });

                    $("#@Html.FieldIdFor(model => model.PayoutEndDate)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#search-joiningdetails").click();
                            return false;
                        }
                    });

                    $("#@Html.FieldIdFor(model => model.LeftCnt)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#search-joiningdetails").click();
                            return false;
                        }
                    });

                    $("#@Html.FieldIdFor(model => model.RightCnt)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#search-joiningdetails").click();
                            return false;
                        }
                    });

                    $("#@Html.FieldIdFor(model => model.Memid)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#search-joiningdetails").click();
                            return false;
                        }
                    });
                });

                function additionalData() {
                    var data = {
                        ddlOption: $('#@Html.FieldIdFor(model => model.ddlOption)').val(),
                        StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                        EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                        ddlGroupBy: $('#@Html.FieldIdFor(model => model.ddlGroupBy)').val(),
                        ddlMemOption: $('#@Html.FieldIdFor(model => model.ddlMemOption)').val(),
                        ddlCountWise:  $('#@Html.FieldIdFor(model => model.ddlCountWise)').val(),
                        PayoutStartDate: $('#@Html.FieldIdFor(model => model.PayoutStartDate)').val(),
                        PayoutEndDate: $('#@Html.FieldIdFor(model => model.PayoutEndDate)').val(),
                        LeftCnt: $('#@Html.FieldIdFor(model => model.LeftCnt)').val(),
                        RightCnt: $('#@Html.FieldIdFor(model => model.RightCnt)').val(),
                        Memid: $('#@Html.FieldIdFor(model => model.Memid)').val(),
                        ddlCountWiseLabel: $('#@Html.FieldIdFor(model => model.ddlCountWiseLabel)').val(),
                        refreshFlag:refreshFlag
                    };
                    addAntiForgeryToken(data);
                    return data;
                }
            </script>

        </td>
    </tr>
</table>
