﻿@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //page title
    ViewBag.Title = T("Admin.Reports.DownlineDetails").Text;
}

@model Nop.Admin.ViewModel.DownlineDetailsReport
@using Nop.Web.Framework;
@using Nop.Core.Infrastructure

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="message-box message-box-error" id="validationMessages">
    </div>
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-sales.png")" alt="" />
            @T("Admin.Reports.DownlineDetails")
        </div>
        <div class="options">
            <input type="submit" name="exportexcel-all" id="exportexcel-all" class="k-button" value="@T(" admin.common.exporttoexcel.all")" />
            @*<input type="submit" id="exportxml-all" name="exportxml-all" class="k-button" value="@T(" admin.common.exporttoxml.all")" />*@
        </div>
    </div>
    <table>
        <tr>
            <td class="adminTitle">@Html.NopLabelFor(model => model.columnSelection)</td>
        </tr>
        <tr>
            <td rowspan="4">@Html.ListBoxFor(x => x.LeftSelectedField, Model.LeftFieldList, new { id = "LeftListBox", @style = "width: 200px;height:120px" })</td>
            <td><input type="submit" value=">" id="SingleRight" style="font-size : 12px; width: 100%;" name="move-listItem" /></td>
            <td rowspan="4">@Html.ListBoxFor(x => x.RightSelectedField, Model.RightFieldList, new { id = "RightListBox", @style = "width: 200px;height:120px" })</td>
        </tr>
        <tr>
            <td><input type="submit" value=">>" id="AllRight" style="font-size : 12px; width: 100%;" name=" move-listitem" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="<" id="SingleLeft" style="font-size : 12px; width: 100%;" name="move-listItem" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="<<" id="AllLeft" style="font-size : 12px; width: 100%;" name="move-listItem" /></td>
        </tr>
    </table>
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.MemId)
            </td>
            <td class="adminData">
                @*<input type="text" id="SearchFirstName" value="" name="" />*@
                @Html.EditorFor(model => model.SearchFirstName)
                @Html.HiddenFor(model => model.MemId)
                <div id="divfirstname" class="inputs">
                </div>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ddlOption):
            </td>
            <td class="adminData">
                @Html.DropDownList("ddlOption", new List<SelectListItem>
                        {
                        new SelectListItem{Text="All Record(s)",Value="0"},
                        new SelectListItem{Text="Period-wise",Value="1"},
                        new SelectListItem{Text="Payout-wise",Value="2"}
                        })
            </td>
        </tr>
        <tr id="trStartDate">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.StartDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.StartDate)
                @Html.ValidationMessageFor(model => model.StartDate)
            </td>
        </tr>
        <tr id="trEndDate">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EndDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EndDate)
                @Html.ValidationMessageFor(model => model.EndDate)
            </td>
        </tr>
        <tr id="trPlanType">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PM_ID):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.PM_ID, Model.PlanTypeList, new { style = "Width: 165px;", autocomplete = "off", maxlength = 22, Id = "ddlPlanType" })
            </td>
        </tr>
        <tr id="trPayoutNoList">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PN_ID):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.PN_ID, Model.PayoutNoList, new { style = "Width: 165px;", autocomplete = "off", maxlength = 22, Id = "ddlPayoutFrom" })
            </td>
        </tr>
        <tr id="trPayoutStartDate">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PayoutStartDate):
            </td>
            <td class="adminData">
                @Html.TextBoxFor(model => model.PayoutStartDate, new { @readonly = "readonly" })
                @*@Html.DropDownListFor(model => model.PayoutStartDate, Model.PayoutStartDateList, new { style = "Width: 165px;", autocomplete = "off", maxlength = 22 })*@
            </td>
        </tr>
        <tr id="trPayoutEndDate">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PayoutEndDate):
            </td>
            <td class="adminData">
                @Html.TextBoxFor(model => model.PayoutEndDate, new { @readonly = "readonly" })
                @*@Html.DropDownListFor(model => model.PayoutEndDate, Model.PayoutEndDateList, new { style = "Width: 165px;", autocomplete = "off", maxlength = 22 })*@
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" name="search" id="search-downlinedetails" class="k-button" value="@T(" admin.common.search")" />
                @*<input type="reset" name="reset" id="reset-downlinedetails" class="k-button" value="@T(" admin.common.reset")" />*@
                <input type="submit" name="Refresh" id="btnRefresh" class="k-button" value="@T("Admin.Common.Refresh")" />
            </td>
        </tr>
        <tr id="searchResult">
            <td>
                <br />
                <h3>@T("Admin.Customer.SearchResult")</h3>
            </td>
        </tr>
    </table>

    <script type="text/javascript">

    $('#SearchFirstName').autocomplete({
        delay: 500,
        minLength: 1,
        @*source: '@(Url.Action("SearchTermAutoCompleteDownline", "MemberReports"))',*@
            source: '@(Url.Action("SearchTermAutoComplete", "Common"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                $("#MemId").val(ui.item.Id);
                $("#SearchFirstName").val(ui.item.label);
                $("#divfirstname").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };

        var objArray=new Array();

        $(document).ready(function () {
            //$("#StartDate").keyup(function(){
            //    $(this).val('');
            //});
            //$("#EndDate").keyup(function(){
            //    $(this).val('');
            //});

            $("#searchResult").hide();

            function selectItem()
            {
                $('#LeftListBox option').prop("selected","selected");
                $('#RightListBox option').prop("selected","selected")
            }
            $('#SingleRight').click(function(){
                var validationDivs='';
                $('#validationMessages').html('');
                if(($('#RightListBox option').size() + $("#LeftListBox :selected").length)>7)
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.ListBoxLength")</div>';
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
                return false;
            }
            else{
                $('#LeftListBox option:selected').appendTo('#RightListBox');
                selectItem();
            }

        });
        //$('#AllRight').click(function(){

        //    $('#LeftListBox option').appendTo('#RightListBox');
        //    selectItem();
        //});

        $('#AllRight').click(function(e) {
            // 
            var selectedOpts = $('#LeftListBox option');
            var validationDivs='';
            $('#validationMessages').html('');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }
            if((($('#RightListBox option').size())+($('#LeftListBox option').size()))>7)
            {
                validationDivs=validationDivs+'<div>@T("Admin.Validation.ListBoxLength")</div>';
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
                return false;
            }
            else
            {
                $('#RightListBox').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                selectItem();
            }
        });

        $('#SingleLeft').click(function(){
            $('#RightListBox option:selected').appendTo('#LeftListBox');
            selectItem();
            @*var validationDivs='';
                $('#validationMessages').html('');
                if(($('#RightListBox option').size() + $("#LeftListBox :selected").length)>7)
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.ListBoxLength")</div>';
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                    return false;
                }
                else{
                    $('#LeftListBox option:selected').appendTo('#RightListBox');
                    selectItem();
                }*@
        });

        $('#AllLeft').click(function(){
            $('#RightListBox option').appendTo('#LeftListBox');
            selectItem();
        });

        $('#trStartDate').hide();
        $('#trEndDate').hide();
        $("#trPlanType").hide();
        $('#trPayoutNoList').hide();
        $('#trPayoutStartDate').hide();
        $('#trPayoutEndDate').hide();
        $('#trPayoutNoList').hide();
        $("#validationMessages").hide();
        //  $('#exportexcel-all').hide();

        $('#ddlOption').change(function () {
            var value = $(this).val();
            $("#searchResult").hide();
            if (value == 1) {
                $('#trStartDate').show();
                $('#trEndDate').show();
                $("#trPlanType").hide();
                $('#trPayoutStartDate').hide();
                $('#trPayoutEndDate').hide();
                $('#trPayoutNoList').hide();
                $('#validationMessages').html('');
                $("#validationMessages").hide();
                $('#downlinedetails-grid').hide();
                $('#ddlPlanType').val("0");
                // $('#exportexcel-all').hide();
            }
            else if (value == 2) {
                $("#trPlanType").show();
                $('#trPayoutNoList').hide();
                $('#trPayoutStartDate').hide();
                $('#trPayoutEndDate').hide();
                $('#trStartDate').hide();
                $('#trEndDate').hide();
                $('#validationMessages').html('');
                $("#validationMessages").hide();
                $('#downlinedetails-grid').hide();
                $('#ddlPlanType').val("0");
                // $('#exportexcel-all').hide();
            }
            else {
                $('#trStartDate').hide();
                $('#trEndDate').hide();
                $("#trPlanType").hide();
                $('#trPayoutStartDate').hide();
                $('#trPayoutEndDate').hide();
                $('#trPayoutNoList').hide();
                $('#validationMessages').html('');
                $("#validationMessages").hide();
                $('#downlinedetails-grid').hide();
                $('#ddlPlanType').val("0");
                // $('#exportexcel-all').hide();
            }
        });

        $('#ddlPlanType').change(function (){
            $('#trPayoutNoList').show();
            $('#trPayoutStartDate').show();
            $('#trPayoutEndDate').show();
            $("#ddlPayoutFrom").html('');
            $('#validationMessages').html('');
            $("#validationMessages").hide();
            $('#downlinedetails-grid').hide();
            $("#searchResult").hide();
            var value = $(this).val();
            var startDate='';
            if (value != null && value != 0) {
                ///MemberReports/LoadDropDown
                $.get("@(Url.Action("LoadDropDown", "MemberReports"))", {typeId:value,flag:0}, function (response) {

                    $("#PayoutNoList").html('');
                    $("#PayoutStartDate").html('');
                    $("#PayoutEndDate").html('');
                    var PayoutNoListStr='';
                    var PayoutStartDate='';
                    var PayoutEndDate='';
                    if(response.PayoutNoList.length>0 ){
                        for(var i=0;i<response.PayoutNoList.length;i++){

                            PayoutNoListStr=PayoutNoListStr+'<option value="'+response.PayoutNoList[i].Value+'">'+response.PayoutNoList[i].Text+'</option>';
                            var obj=new Object()
                            obj.pn=response.PayoutNoList[i].Value;
                            obj.sd=response.PayoutStartDateList [i].Value;
                            obj.ed=response.PayoutEndDateList [i].Value;

                            objArray.push(obj);
                        }
                    }
                    else{
                        PayoutNoListStr= '<option value="0">No Payout(s) available.</option>';
                        $('#trPayoutStartDate').hide();
                        $('#trPayoutEndDate').hide();
                    }
                    $("#ddlPayoutFrom").append(PayoutNoListStr);
                    if(objArray.length > 0)
                    {
                        $("#PayoutStartDate").val(objArray[0].sd);
                        $("#PayoutEndDate").val(objArray[0].ed);
                    }
                });
            }
            if($('#ddlPlanType').val() == 0)
            {
                $('#trPayoutNoList').hide();
                $('#trPayoutStartDate').hide();
                $('#trPayoutEndDate').hide();
            }
        });

        $('#ddlPayoutFrom').change(function(){
            $("#searchResult").hide();
            $('#downlinedetails-grid').hide();
            var value = $(this).val();
            for(var i=0;i<objArray.length;i++)
            {
                if(objArray[i].pn==value){
                    $("#PayoutStartDate").val(objArray[i].sd);
                    $("#PayoutEndDate").val(objArray[i].ed);
                }
            }
        });
    });

    $("#exportexcel-all").click(function() {
        //
        var SearchFirstName=$("#SearchFirstName").val();
        $("#validationMessages").html('');
        var validationDivs='';
        if (SearchFirstName == '')
        {
            validationDivs=validationDivs+'<div>@T("Admin.Validation.IdNameRequired")</div>';
            $("#validationMessages").show();
            $('#validationMessages').append(validationDivs);
            return false;
        }
    });

    $("#exportxml-all").click(function() {
        // 
        var SearchFirstName=$("#SearchFirstName").val();
        var validationDivs='';
        if (SearchFirstName == '')
        {
            validationDivs=validationDivs+'<div>@T("Admin.Validation.IdNameRequired")</div>';
            $("#validationMessages").show();
            $('#validationMessages').append(validationDivs);
            return false;
        }
    });

    $("#search-downlinedetails").click(function() {
        $("#searchResult").hide();
        var Choice = $("#ddlOption").val();
        var vFromDt =  $("#StartDate").val();
        var vToDt =  $("#EndDate").val();
        var PlanType =  $("#ddlPlanType").val();
        var SearchFirstName=$("#SearchFirstName").val();
        var MemId=$("#MemId").val();
        var ddlPayoutFrom =  $("#ddlPayoutFrom").val();
        var validationDivs='';
        $('#downlinedetails-grid').hide();
        $('#validationMessages').html('');
        $("#validationMessages").hide();
        var flag=true;

        if($('#RightListBox option').size()>7)
        {
            validationDivs=validationDivs+'<div>@T("Admin.Validation.ListBoxLength")</div>';
            flag=false;
        }
        else if($('#RightListBox option').size()<=0)
        {
            validationDivs=validationDivs+'<div>@T("admin.common.minimumOneField")</div>';
            flag=false;
        }
        //

        if (SearchFirstName == '')
        {
            validationDivs=validationDivs+'<div>@T("Admin.Validation.IdNameRequired")</div>';
            flag=false;
        }
        if(SearchFirstName !='' && MemId == '')
        {
            validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
            flag=false;
        }

        if ((Choice) == 1 )
        {
            if (vFromDt == '' )
            {
                validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                flag=false;
            }
            if (vToDt == '' )
            {
                validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                flag=false;
            }

            var EnteredDate = $("#EndDate").val(); // For JQuery
            var EnteredFromdate = $("#StartDate").val();

            var str = EnteredDate;
            var res = str.split("/");

            var date =res[1];
            var month=res[0];
            var year =res[2];

            var str1 = EnteredFromdate;
            var res1 = str1.split("/");

            var Fromdate =res1[1];
            var Frommonth=res1[0];
            var Fromyear =res1[2];

            var myDate = new Date(year, month - 1, date);

            var myFromDate = new Date(Fromyear, Frommonth - 1, Fromdate);

            var today = new Date();

            if (myDate > today) {
                validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                flag=false;
            }

            if (myFromDate > myDate) {
                validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                flag=false;
            }
        }

        if ((Choice) == 3 )
        {
            if (vFromDt == '' )
            {
                validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                flag=false;
            }
            if (vToDt == '' )
            {
                validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                flag=false;
            }

            var EnteredDate = $("#EndDate").val(); // For JQuery
            var EnteredFromdate = $("#StartDate").val();

            var str = EnteredDate;
            var res = str.split("/");

            var date =res[1];
            var month=res[0];
            var year =res[2];

            var str1 = EnteredFromdate;
            var res1 = str1.split("/");

            var Fromdate =res1[1];
            var Frommonth=res1[0];
            var Fromyear =res1[2];

            var myDate = new Date(year, month - 1, date);

            var myFromDate = new Date(Fromyear, Frommonth - 1, Fromdate);

            var today = new Date();

            if (myDate > today) {
                validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                flag=false;
            }

            if (myFromDate > myDate) {
                validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                flag=false;
            }
        }

        if (Choice == 2  )
        {
            if ((PlanType == 0) )
            {
                validationDivs=validationDivs+'<div>@T("admin.Validation.Enterplantype")</div>';
                flag=false;
            }
            if (PlanType == null )
            {
                validationDivs=validationDivs+'<div>@T("admin.Validation.Enterplantype")</div>';
                flag=false;
            }
            if((PlanType != 0 || PlanType == null) && ddlPayoutFrom == 0)
            {
                validationDivs=validationDivs+'<div>@T("admin.Validation.NoPayoutavailable")</div>';
                flag=false;
            }
        }

        if(flag){

            @*var data = {
                    ddlOption : $('#ddlOption').val(),
                    StartDate: $('#StartDate').val(),
                    EndDate: $('#EndDate').val(),
                    MemId: $('#MemId').val(),
                    PayoutStartDate: $('#PayoutStartDate').val(),
                    PayoutEndDate: $('#PayoutEndDate').val(),
                }

                addAntiForgeryToken(data);

                $("#sucessMessages").html(@ViewBag.returnMessage);*@

            @*$.ajax({  url: "@Html.Raw(Url.Action("DownlineDetailsGrid", "MemberReports"))",
                    type: "POST",
                    dataType: "json",
                    data:data  , success: function(result){
                        
                        if(result == "norecords" )
                        {
                            $("#validationMessages").show();
                            $("#validationMessages").html("No Record(s) found !!!");
                            $('#downlinedetails-grid').hide();
                            return;
                        }

                        if(result!="norecords" )
                        {*@
            //search
            // refreshFlag=false;
            var grid = $('#downlinedetails-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            $('#downlinedetails-grid').show();
            $("#searchResult").show();
            // $('#exportexcel-all').show();
            return false;
            //        }
            //    }
            //});
        }
        else{
            $("#validationMessages").show();
            $('#validationMessages').append(validationDivs);
            //return false;
        }

    });

    $("#btnRefresh").click(function() {
        $("#searchResult").hide();
        var Choice = $("#ddlOption").val();
        var vFromDt =  $("#StartDate").val();
        var vToDt =  $("#EndDate").val();
        var PlanType =  $("#ddlPlanType").val();
        var SearchFirstName=$("#SearchFirstName").val();
        var MemId=$("#MemId").val();
        var ddlPayoutFrom =  $("#ddlPayoutFrom").val();
        var validationDivs='';
        $('#downlinedetails-grid').hide();
        $('#validationMessages').html('');
        $("#validationMessages").hide();
        var flag=true;
        var refreshFlag=true;
        if($('#RightListBox option').size()>7)
        {
            validationDivs=validationDivs+'<div>@T("Admin.Validation.ListBoxLength")</div>';
            flag=false;
        }
        else if($('#RightListBox option').size()<=0)
        {
            validationDivs=validationDivs+'<div>@T("admin.common.minimumOneField")</div>';
            flag=false;
        }
        //

        if (SearchFirstName == '')
        {
            validationDivs=validationDivs+'<div>@T("Admin.Validation.IdNameRequired")</div>';
            flag=false;
        }
        if(SearchFirstName !='' && MemId == '')
        {
            validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
            flag=false;
        }

        if ((Choice) == 1 )
        {
            if (vFromDt == '' )
            {
                validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                flag=false;
            }
            if (vToDt == '' )
            {
                validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                flag=false;
            }

            var EnteredDate = $("#EndDate").val(); // For JQuery
            var EnteredFromdate = $("#StartDate").val();

            var str = EnteredDate;
            var res = str.split("/");

            var date =res[1];
            var month=res[0];
            var year =res[2];

            var str1 = EnteredFromdate;
            var res1 = str1.split("/");

            var Fromdate =res1[1];
            var Frommonth=res1[0];
            var Fromyear =res1[2];

            var myDate = new Date(year, month - 1, date);

            var myFromDate = new Date(Fromyear, Frommonth - 1, Fromdate);

            var today = new Date();

            if (myDate > today) {
                validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                flag=false;
            }

            if (myFromDate > myDate) {
                validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                flag=false;
            }
        }

        if ((Choice) == 3 )
        {
            if (vFromDt == '' )
            {
                validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                flag=false;
            }
            if (vToDt == '' )
            {
                validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                flag=false;
            }

            var EnteredDate = $("#EndDate").val(); // For JQuery
            var EnteredFromdate = $("#StartDate").val();

            var str = EnteredDate;
            var res = str.split("/");

            var date =res[1];
            var month=res[0];
            var year =res[2];

            var str1 = EnteredFromdate;
            var res1 = str1.split("/");

            var Fromdate =res1[1];
            var Frommonth=res1[0];
            var Fromyear =res1[2];

            var myDate = new Date(year, month - 1, date);

            var myFromDate = new Date(Fromyear, Frommonth - 1, Fromdate);

            var today = new Date();

            if (myDate > today) {
                validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                flag=false;
            }

            if (myFromDate > myDate) {
                validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                flag=false;
            }
        }

        if (Choice == 2  )
        {
            if ((PlanType == 0) )
            {
                validationDivs=validationDivs+'<div>@T("admin.Validation.Enterplantype")</div>';
                flag=false;
            }
            if (PlanType == null )
            {
                validationDivs=validationDivs+'<div>@T("admin.Validation.Enterplantype")</div>';
                flag=false;
            }
            if((PlanType != 0 || PlanType == null) && ddlPayoutFrom == 0)
            {
                validationDivs=validationDivs+'<div>@T("admin.Validation.NoPayoutavailable")</div>';
                flag=false;
            }
        }

        if(flag){

            @*var data = {
                    ddlOption : $('#ddlOption').val(),
                    StartDate: $('#StartDate').val(),
                    EndDate: $('#EndDate').val(),
                    MemId: $('#MemId').val(),
                    PayoutStartDate: $('#PayoutStartDate').val(),
                    PayoutEndDate: $('#PayoutEndDate').val(),
                }

                addAntiForgeryToken(data);

                $("#sucessMessages").html(@ViewBag.returnMessage);*@

            @*$.ajax({  url: "@Html.Raw(Url.Action("DownlineDetailsGrid", "MemberReports"))",
                    type: "POST",
                dataType: "json",
                data:data  , success: function(result){
                    
                    if(result == "norecords" )
                    {
                        $("#validationMessages").show();
                        $("#validationMessages").html("No Record(s) found !!!");
                        $('#downlinedetails-grid').hide();
                        return;
                    }

                    if(result!="norecords" )
                    {*@
            //search
            //
            var grid = $('#downlinedetails-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            $('#downlinedetails-grid').show();
            $("#searchResult").show();
            // $('#exportexcel-all').show();
            return false;
            //        }
            //    }
            //});
        }
        else{
            $("#validationMessages").show();
            $('#validationMessages').append(validationDivs);
            //return false;
        }

    });


    $("#SearchFirstName").keydown(function(evt) {
        var charCode = (evt.charCode) ? evt.charCode : ((evt.which) ? evt.which : evt.keyCode);
        if (charCode != 13 && charCode != 9)
        {
            $("#MemId").val("");
        }
    });

    $("#SearchFirstName").keydown(function(e){
        //
        if((e.which === 13 || e.which === 9) && $('#Memid').val()!=" "){

            $('#search-downlinedetails').click()
            return false;
        }
    });

    $('#StartDate').keydown(keyDownHandler); // use appropriate selector for the keydown handler

    function keyDownHandler(e) {
        if(e.keyCode === 13) {
            e.stopPropagation();
            e.preventDefault();
            $('#search-downlinedetails').click()
            return false;
        }
    }

    $('#StartDate').keydown(keyDownHandler1); // use appropriate selector for the keydown handler

    function keyDownHandler1(e) {
        if(e.keyCode === 13) {
            e.stopPropagation();
            e.preventDefault();
            $('#search-downlinedetails').click()
            return false;
        }
    }

    $("#EndDate").keyup(function(e){
        //
        if(e.keyCode === 13) {
            if($('#EndDate').val()!='')
            {
                $('#search-downlinedetails').click()
                return false;
            }
            else{
                validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                flag=false;
            }
        }
        else{
            $(this).val('');
        }

    });
    $("#StartDate").keyup(function(e){
        //
        if(e.keyCode === 13) {
            if($('#StartDate').val()!='')
            {
                $('#search-downlinedetails').click()
                return false;
            }
            else{
                validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                flag=false;
            }
        }
        else{
            $(this).val('');
        }
    });

    $('#ddlPayoutFrom').live('keypress',function(e){
        if(e.keyCode === 13) {
            $('#search-downlinedetails').click()
            return false;
        }
    });

    $("#reset-downlinedetails").click(function (){
        $("#trPlanType").hide();
        $('#trPayoutNoList').hide();
        $('#trPayoutStartDate').hide();
        $('#trPayoutEndDate').hide();
        $('#downlinedetails-grid').hide();
        $('#validationMessages').html('');
        $("#validationMessages").hide();
        $("#searchResult").hide();
        //$("#ddlOption").val("0");
        //$("#MemId").val("");
        //$("#SearchFirstName").val("");
        //$('#ddlPlanType').val("0");
        //$('#trStartDate').hide();
        //$('#trEndDate').hide();
        //$("#StartDate").val("");
        //$("#EndDate").val("");
        // $('#exportexcel-all').hide();
    });
    </script>
}
<table class="adminContent">
    <tr>
        <td>
            <div id="downlinedetails-grid"></div>
            <script>
                $(document).ready(function () {
                    $('#downlinedetails-grid').hide();

                    $("#downlinedetails-grid").kendoGrid({
                        autoBind: false,
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("DownlineDetailsGrid", "MemberReports"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)]
                        },
                        scrollable: false,
                        columns: [
               //col1
                            @if (Model.KendoFieldList.Contains("ID"))
                        {
                             <text>{
                                field: "Id",
                                title: "@T("admin.notification.fields.id")",
                                // width: 30
                            },</text>
                    }
              //col2
                            @if (Model.KendoFieldList.Contains("Name"))
                {
                             <text>{
                                field: "Name",
                                title: "@T("admin.notification.fields.name")",
                                // width: 30
                            },</text>
                }
                //col3
                             @if (Model.KendoFieldList.Contains("CurrentStatus"))
                             {
                                 <text>{
                                 field: "CurrentStatus",
                                 title: "@T("admin.customerreport.currentstatus")",
                                 // width: 30
                             },</text>

                }
                 //col3
                             @if (Model.KendoFieldList.Contains("Status"))
                        {
                                 <text>{
                                 field: "Status",
                                 title: "@T("Account.Fields.VatNumber.Status")",
                                 // width: 30
                             },</text>

                    }
                //col4
                            @if (Model.KendoFieldList.Contains("ConfirmationDate"))
                            {
                                <text>{
                                field: "ConfirmationDate",
                                title: "@T("Admin.JoiningDetailsReport.ConfirmDate")",
                                // width: 30
                            },</text>
                }
                //col5
                          @if (Model.KendoFieldList.Contains("TotalLeftCount"))
                          {
                              <text>{
                              field: "TotalLeftCount",
                              title: "@T("Dashboard.BinaryDownline.totalLeftcount")",
                              // width: 30
                          },</text>
                }
                //col6
                          @if (Model.KendoFieldList.Contains("ConfirmLeftCount"))
                          {
                              <text>{
                              field: "ConfirmLeftCount",
                              title: "@T("Dashboard.Downline.confirmedLeftcount")",
                              // width: 30
                          },</text>
                }
               //col7
                          @if (Model.KendoFieldList.Contains("TotalRightCount"))
                        {
                              <text>{
                              field: "TotalRightCount",
                              title: "@T("Dashboard.BinaryDownline.totalRightcount")",
                              // width: 30
                          },</text>
                    }
              //col8
                          @if (Model.KendoFieldList.Contains("ConfirmRightCount"))
                        {
                              <text>{
                              field: "ConfirmRightCount",
                              title: "@T("Dashboard.BinaryDownline.confirmedRightcount")",
                              // width: 30
                          },</text>
                    }
              //col9
                          @if (Model.KendoFieldList.Contains("TotalLeftPV"))
                        {
                              <text>{
                              field: "TotalLeftPV",
                              title: "@T("Dashboard.BinaryDownline.totalLeftPV")",
                              // width: 30
                          },</text>
                    }
              //col10
                                      @if (Model.KendoFieldList.Contains("ConfirmedLeftPV"))
                        {
                              <text>{
                                          field: "ConfirmedLeftPV",
                                          title: "@T("admin.customerreport.confirmleftpv")",
                                          // width: 30
                                      },</text>
                    }
               //col11
                                      @if (Model.KendoFieldList.Contains("TotalRightPV"))
            {
                              <text>{
                                          field: "TotalRightPV",
                                          title: "@T("Dashboard.BinaryDownline.totalRightPV")",
                                          // width: 30
                                      },</text>
        }
            //col11
                                      @if (Model.KendoFieldList.Contains("ConfirmedRightPV"))
                        {
                              <text>{
                                          field: "ConfirmedRightPV",
                                          title: "@T("admin.customerreport.confirmrightpv")",
                                          // width: 30
                                      },</text>
                    }
               //col12
                                      @if (Model.KendoFieldList.Contains("DOJ"))
                        {
                              <text>{
                                          field: "DOJ",
                                          title: "@T("Admin.JoiningDetailsReport.DOJ")",
                                          // width: 30
                                      },</text>
                    }
                    //col12
                                      @if (Model.KendoFieldList.Contains("AdjustedToID"))
                        {
                              <text>{
                                          field: "AdjustedToID",
                                          title: "@T("Admin.JoiningDetailsReport.SpillAdjustedToID")",
                                          // width: 30
                                      },</text>
                    }
                    //col12
                                      @if (Model.KendoFieldList.Contains("AdjustedToName"))
                        {
                              <text>{
                                          field: "AdjustedToName",
                                          title: "@T("Dashboard.Mynetwork.Mydirect.AdjustedToName")",
                                          // width: 30
                                      },</text>
                    }
                    //col12
                                      @if (Model.KendoFieldList.Contains("SponsorName"))
                        {
                              <text>{
                                          field: "SponsorName",
                                          title: "@T("Account.Fields.lblsponname")",
                                          // width: 30
                                      },</text>
                    }//col12
                                                  @if (Model.KendoFieldList.Contains("PositionwrtAdjustedToID"))
                        {
                              <text>{
                                                      field: "PositionwrtAdjustedToID",
                                                      title: "@T("Admin.JoiningDetailsReport.Position AdjustedToID")",
                                                      // width: 30
                                                  },</text>
                    }
                //col13
                           @if (Model.KendoFieldList.Contains("Title"))
                           {
                               <text>{
                               field: "Title",
                               title: "@T("Admin.JoiningDetailsReport.MPDTitle")",
                               // width: 30
                           },</text>
                }
                //col14
                          @if (Model.KendoFieldList.Contains("CompanyType"))
                          {
                              <text>{
                              field: "CompanyType",
                              title: "@T("Admin.JoiningDetailsReport.MPDFirmType")",
                              // width: 30
                          },</text>
                }
                //col15
                          @if (Model.KendoFieldList.Contains("PackageName"))
                        {
                              <text>{
                              field: "PackageName",
                              title: "@T("Registration.info.Packagename")",
                              // width: 30
                          },</text>
                    }
                    //col16
                          @if (Model.KendoFieldList.Contains("PackageAmount"))
                        {
                              <text>{
                              field: "PackageAmount",
                              title: "@T("admin.customers.customers.fields.packageamt")",
                              // width: 30
                          },</text>
                    }
                //col17
                           @if (Model.KendoFieldList.Contains("MaritalStatus"))
                           {
                               <text>{
                               field: "MaritalStatus",
                               title: "@T("Dashboard.Mynetwork.Mydirect.MaritalStatus")",
                               // width: 30
                           },</text>
                }
                //col18
                           @if (Model.KendoFieldList.Contains("DateofBirth"))
                        {
                               <text>{
                               field: "DateofBirth",
                               title: "@T("Admin.JoiningDetailsReport.DOB")",
                               // width: 30
                           },</text>
                    }

                //col19
                         @if (Model.KendoFieldList.Contains("Gender"))
                         {
                             <text>{
                             field: "Gender",
                             title: "@T("Admin.JoiningDetailsReport.Gender")",
                             // width: 30
                         },</text>
                }
                //col20
                         @if (Model.KendoFieldList.Contains("PancardNo"))
                         {
                             <text>{
                             field: "PancardNo",
                             title: "@T("Admin.JoiningDetailsReport.PanCardNo")",
                             // width: 30
                         },</text>
                }
                //col21
                          @if (Model.KendoFieldList.Contains("MotherName"))
                          {
                              <text>{
                              field: "MotherName",
                              title: "@T("Admin.JoiningDetailsReport.Mother")",
                              // width: 30
                          },</text>
                }
                //col22
                         @if (Model.KendoFieldList.Contains("Address"))
                         {
                             <text>{
                             field: "Address",
                             title: "@T("Admin.JoiningDetailsReport.Address")",
                             // width: 30
                         },</text>
                }
                //col23
                        @if (Model.KendoFieldList.Contains("Landmark"))
                        {
                            <text>{
                            field: "Landmark",
                            title: "@T("Admin.JoiningDetailsReport.LandMark")",
                            // width: 30
                        },</text>
                }
                //col24
                        @if (Model.KendoFieldList.Contains("State"))
                        {
                            <text>{
                            field: "State",
                            title: "@T("Admin.JoiningDetailsReport.State")",
                            // width: 30
                        },</text>
                }
                 @if (Model.KendoFieldList.Contains("City"))
                        {
                                       <text>{
                     field: "City",
                     title: "@T("Account.Fields.City")",
                     // width: 30
                 },</text>
                    }
                //col25
                       @if (Model.KendoFieldList.Contains("Country"))
                       {
                           <text>{
                           field: "Country",
                           title: "@T("Admin.JoiningDetailsReport.Country")",
                           // width: 30
                       },</text>
                }
                //col26
                       @if (Model.KendoFieldList.Contains("PinCode"))
                       {
                           <text>{
                           field: "PinCode",
                           title: "@T("Admin.JoiningDetailsReport.PinCode")",
                           // width: 30
                       },</text>
                }
                //col27
                        @if (Model.KendoFieldList.Contains("ShippingAddress"))
                        {
                            <text>{
                            field: "ShippingAddress",
                            title: "@T("Admin.JoiningDetailsReport.ShpAddress")",
                            // width: 30
                        },</text>
                }
                //col28
                       @if (Model.KendoFieldList.Contains("MobileNo"))
                       {
                           <text>{
                           field: "MobileNo",
                           title: "@T("Admin.JoiningDetailsReport.Mobile")",
                           // width: 30
                       },</text>
                }
                //col29
                       @if (Model.KendoFieldList.Contains("ResidencePhone"))
                       {
                           <text>{
                           field: "ResidencePhone",
                           title: "@T("Admin.JoiningDetailsReport.ResPhone")",
                           // width: 30
                       },</text>
                }
                //col30
                       @if (Model.KendoFieldList.Contains("EmailID"))
                       {
                           <text>{
                           field: "EmailID",
                           title: "@T("Admin.JoiningDetailsReport.EmailID")",
                           // width: 30
                       },</text>
                }
                //col31
                       @if (Model.KendoFieldList.Contains("NomineeName"))
                       {
                           <text>{
                           field: "NomineeName",
                           title: "@T("Admin.JoiningDetailsReport.nomName")",
                           // width: 30
                       },</text>
                }
                //col32
                       @if (Model.KendoFieldList.Contains("NomineeRelationwithApplicant"))
                       {
                           <text>{
                           field: "NomineeRelationwithApplicant",
                           title: "@T("Admin.JoiningDetailsReport.nomRel")",
                           // width: 30
                       },</text>
                }
                //col33
                       @if (Model.KendoFieldList.Contains("NomineesDOB"))
                       {
                           <text>{
                           field: "NomineesDOB",
                           title: "@T("Admin.JoiningDetailsReport.nomBdate")",
                           // width: 30
                       },</text>
                }
                //col34
                        @if (Model.KendoFieldList.Contains("Paymode"))
                        {
                            <text>{
                            field: "Paymode",
                            title: "@T("Dashboard.Mynetwork.Mydirect.Paymode")",
                            // width: 30
                        },</text>
                }

                //col35
                       @if (Model.KendoFieldList.Contains("HintQuestion"))
                       {
                           <text>{
                           field: "HintQuestion",
                           title: "@T("Admin.JoiningDetailsReport.HQuestion")",
                           // width: 30
                       },</text>
                }
                //col36
                       @if (Model.KendoFieldList.Contains("HintAnswer"))
                       {
                           <text>{
                           field: "HintAnswer",
                           title: "@T("Admin.JoiningDetailsReport.HAnswer")",
                           // width: 30
                       },</text>
                }
                //col37
                       @if (Model.KendoFieldList.Contains("PaymentRecieveMode"))
                       {
                           <text>{
                           field: "PaymentRecieveMode",
                           title: "@T("Admin.JoiningDetailsReport.PaymentRecieveMode")",
                           // width: 30
                       },</text>
                }
                 //col38
                       @if (Model.KendoFieldList.Contains("SponsorID"))
                        {
                           <text>{
                           field: "SponsorID",
                           title: "@T("Account.Fields.MJD_Introducer")",
                           //  width: 50,
                       },</text>
                    }
                //col39
                       @*@if (Model.KendoFieldList.Contains("MPDName"))
                       {
                           <text>{
                           field: "MPDName ",
                           title: "@T("Admin.CustomerReport.MemName")",
                           // width: 30,
                       },</text>
                }*@

                    //col40
                        @if (Model.KendoFieldList.Contains("AccountHolderName"))
                        {
                                   <text> {
                            field: "AccountHolderName",
                            title:  "@T("Admin.CustomerReport.AccountHolderName")",
                            // width: 50,
                        },</text>
                    }

              //col41
               @if (Model.KendoFieldList.Contains("AccountNumber"))
                {
                                   <text> {
                   field: "AccountNumber",
                   title:  "@T("Admin.CustomerReport.AccountNumber")",
                   // width: 50,
               },</text>
                }

                //col42
               @if (Model.KendoFieldList.Contains("BankName"))
               {
                   <text> {
                   field: "BankName",
                   title:  "@T("Admin.CustomerReport.BankName")",
                   // width: 50,
               },</text>
                }

                //col43
               @if (Model.KendoFieldList.Contains("BranchName"))
               {
                   <text> {
                   field: "BranchName",
                   title:  "@T("Admin.CustomerReport.BranchName")",
                   // width: 50,
               },</text>
                }


                //col44
               @if (Model.KendoFieldList.Contains("BankAddress"))
               {
                   <text> {
                   field: "BankAddress",
                   title:  "@T("Admin.CustomerReport.BankAddress")",
                   // width: 50,
               },</text>
                }

                //col45
               @if (Model.KendoFieldList.Contains("IFSCCode"))
               {
                   <text> {
                   field: "IFSCCode",
                   title:  "@T("Admin.CustomerReport.IFSCCode")",
                   // width: 50,
               },</text>
                }

                //col46
               @if (Model.KendoFieldList.Contains("AadharCardNo"))
               {
                   <text> {
                   field: "AadharCardNo",
                   title:  "@T("Admin.CustomerReport.AadharCardNo")",
                   // width: 50,
               },</text>
                }
                        ]
                    });
                });
            </script>

            <script type="text/javascript">

                var refreshFlag=false;
                $(document).ready(function () {

                    $("#@Html.FieldIdFor(model => model.StartDate)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#search-downlinedetails").click();
                            return false;
                        }
                    });

                    $("#@Html.FieldIdFor(model => model.EndDate)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#search-downlinedetails").click();
                            return false;
                        }
                    });

                    $("#@Html.FieldIdFor(model => model.PayoutStartDate)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#search-downlinedetails").click();
                            return false;
                        }
                    });

                    $("#@Html.FieldIdFor(model => model.PayoutEndDate)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#search-downlinedetails").click();
                            return false;
                        }
                    });

                    $("#@Html.FieldIdFor(model => model.MemId)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#search-downlinedetails").click();
                            return false;
                        }
                    });
                });

                function additionalData() {
                    var data = {
                        ddlOption: $('#@Html.FieldIdFor(model => model.ddlOption)').val(),
                        StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                        EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                        MemId: $('#@Html.FieldIdFor(model => model.MemId)').val(),
                        PayoutStartDate: $('#@Html.FieldIdFor(model => model.PayoutStartDate)').val(),
                        PayoutEndDate: $('#@Html.FieldIdFor(model => model.PayoutEndDate)').val(),
                        refreshFlag:refreshFlag
                    };
                    addAntiForgeryToken(data);
                    return data;
                }
            </script>
        </td>
    </tr>
</table>
