﻿@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //page title
    ViewBag.Title = T("Admin.Reports.GenerationCountDetails").Text;
}

@model Nop.Admin.ViewModel.GenerationCountReport

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="alert alert-success alert-dismissable" id="validationMessages">
    </div>
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-sales.png")" alt="" />
            @T("Admin.Reports.GenerationCountDetails")
        </div>
        <div class="options">
            <input type="submit" name="exportexcel-all" id="exportexcel-all" class="k-button" value="@T("Admin.Common.ExportToExcel")" />
        </div>
    </div>
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ddlMemOption):
            </td>
            <td class="adminData">
                @Html.DropDownList("ddlMemOption", new List<SelectListItem>
                {
                    new SelectListItem{Text="All Record(s)",Value="0"},
                    new SelectListItem{Text="ID/Name-wise",Value="1"},
                })
            </td>
        </tr>
        <tr id="trCustomerName">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ddlMemIDName):
                @*@Html.DropDownList("ddlMemIDName", new List<SelectListItem>
                    {
                        new SelectListItem{Text="Enter an ID/Name",Value="0"},
                    })*@
            </td>
            <td class="adminData">
                @*@Html.EditorFor(model => model.MemNo)*@
                @*<input type="text" id="SearchFirstName" value="" name="" />*@
                @Html.EditorFor(model => model.CustomerName)
                @Html.HiddenFor(model => model.MemNo)
                @Html.HiddenFor(model => model.MemIDs)
                <div id="divfirstname" class="inputs">
                </div>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ddlOption):
            </td>
            <td class="adminData">
                @Html.DropDownList("ddlOption", new List<SelectListItem>
                {
                    new SelectListItem{Text="All Record(s)",Value="0"},
                    new SelectListItem{Text="Period-wise",Value="1"},
                    new SelectListItem{Text="Payout-wise",Value="2"}
                })
            </td>
        </tr>
        <tr id="trStartDate">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.StartDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.StartDate)
                @Html.ValidationMessageFor(model => model.StartDate)
            </td>
        </tr>
        <tr id="trEndDate">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EndDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EndDate)
                @Html.ValidationMessageFor(model => model.EndDate)
            </td>
        </tr>
        <tr id="trPlanType">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PM_ID):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.PM_ID, Model.PlanTypeList, new { style = "Width: 165px;", autocomplete = "off", maxlength = 22, Id = "ddlPlanType" })
            </td>
        </tr>
        <tr id="trPayoutNoList">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PN_ID):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.PN_ID, Model.PayoutNoList, new { style = "Width: 165px;", ocomplete = "off", maxlength = 22, Id = "ddlPayoutFrom" })
            </td>
        </tr>
        <tr id="trPayoutStartDate">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PayoutStartDate):
            </td>
            <td class="adminData">
                @Html.TextBoxFor(model => model.PayoutStartDate, new { @readonly = "readonly" })
                @*@Html.DropDownListFor(model => model.PayoutStartDate, Model.PayoutStartDateList, new { style = "Width: 165px;", autocomplete = "off", maxlength = 22 })*@
            </td>
        </tr>
        <tr id="trPayoutEndDate">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PayoutEndDate):
            </td>
            <td class="adminData">
                @Html.TextBoxFor(model => model.PayoutEndDate, new { @readonly = "readonly" })
                @*@Html.DropDownListFor(model => model.PayoutEndDate, Model.PayoutEndDateList, new { style = "Width: 165px;", autocomplete = "off", maxlength = 22 })*@
            </td>
        </tr>
        <tr id="trddlCountWise">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ddlCountWise):
            </td>
            <td class="adminData">
                @Html.DropDownList("ddlCountWise", new List<SelectListItem>
                {
                    new SelectListItem{Text="Total",Value="0"},
                    new SelectListItem{Text="Confirm",Value="1"},
                })
            </td>
        </tr>
        <tr id="trDdlGroupBy">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ddlGroupBy):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.FM_FHID, Model.ddlGroupByList, new { style = "Width: 165px;", autocomplete = "off", maxlength = 22, Id = "ddlGroupBy" })
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" name="search" id="search-generationCountdetails" class="k-button" value="@T("Admin.Common.Search")" />
                @*<input type="button" name="reset" id="reset-generationCountdetails" class="k-button" value="@T("Admin.Common.Reset")" />*@
                <input type="submit" name="Refresh" id="btnRefresh" class="k-button" value="@T("Admin.Common.Refresh")" />
            </td>
        </tr>
    </table>
    <script>

        $("#reset-generationCountdetails").click(function (){
            $("#ddlMemOption").val("0");
            $('#ddlOption').val("0");
            $('#ddlPlanType').val("Select");
            $('#trStartDate').hide();
            $('#trEndDate').hide();
            $("#trPlanType").hide();
            $('#trPayoutNoList').hide();
            $('#trPayoutStartDate').hide();
            $('#trPayoutEndDate').hide();
            $('#trTotalDirects').hide();
            $('#trddlSearchBy').hide();
            $('#trddlRptType').hide();
            $("#generationCountdetails-grid").hide();
            $('#validationMessages').html('');
            $("#StartDate").val("");
            $("#EndDate").val("");
            $("#CustomerName").val("");
            $("#MemNo").val("");
            $('#ddlGroupBy').val("50");
            $('#trCustomerName').hide();
            $("#validationMessages").hide();
            // $('#exportexcel-all').hide();
        });

        $('#CustomerName').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("SearchTermAutoCompleteGeneration", "MemberReports"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                $("#MemNo").val(ui.item.MJD_MemID);
                $("#CustomerName").val(ui.item.label);
                $("#MemIDs").val(ui.item.MJD_MemNo);
                $("#divfirstname").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };

        var objArray=new Array();
        $(document).ready(function () {
            $("#StartDate").keyup(function(){
                $(this).val('');
            });
            $("#EndDate").keyup(function(){
                $(this).val('');
            });

            $('#trCustomerName').hide();
            $('#trStartDate').hide();
            $('#trEndDate').hide();
            $("#trPlanType").hide();
            $('#trPayoutNoList').hide();
            $('#trPayoutStartDate').hide();
            $('#trPayoutEndDate').hide();
            $('#trddlCountWise').hide();
            $("#validationMessages").hide();
            // $('#exportexcel-all').hide();

            $('#ddlMemOption').change(function () {
                var value = $(this).val();
                $("#MemIDs").val('')
                if (value == 1) {
                    $('#trCustomerName').show();
                    $('#validationMessages').html('');
                    $("#generationCountdetails-grid").hide();
                    $("#validationMessages").hide();
                    $("#generationCountdetails-grid").hide();
                    $('#validationMessages').html('');
                    //  $("#StartDate").val("");
                    //  $("#EndDate").val("");
                    $("#CustomerName").val("");
                    $("#MemNo").val("");
                    $('#ddlGroupBy').val("50");
                    //  $('#ddlOption').val("0");
                    // $('#exportexcel-all').hide();
                }
                else{
                    $('#trCustomerName').hide();
                    $('#validationMessages').html('');
                    $("#generationCountdetails-grid").hide();
                    $("#validationMessages").hide();
                    //   $("#StartDate").val("");
                    // $("#EndDate").val("");
                    $("#CustomerName").val("");
                    $("#MemNo").val("");
                    // $('#exportexcel-all').hide();
                    $('#ddlGroupBy').val("50");
                    //    $('#ddlOption').val("0");
                    //   $('#trStartDate').hide();
                    //  $('#trEndDate').hide();
                    // $("#trPlanType").hide();
                    //  $('#trPayoutNoList').hide();
                    //   $('#trPayoutStartDate').hide();
                    //   $('#trPayoutEndDate').hide();
                    //   $('#trddlCountWise').hide();
                    $("#validationMessages").hide();
                }
            });

            $('#ddlOption').change(function () {
                var value = $(this).val();
                if (value == 1) {
                    $('#trStartDate').show();
                    $('#trEndDate').show();
                    $("#trPlanType").hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                    $('#trPayoutNoList').hide();
                    $('#validationMessages').html('');
                    $("#generationCountdetails-grid").hide();
                    $("#validationMessages").hide();
                    $("#StartDate").val("");
                    $("#EndDate").val("");
                    //  $("#CustomerName").val("");
                    // $("#MemNo").val("");
                    $('#ddlGroupBy').val("50");
                    $('#ddlPlanType').val("0");
                    //  $('#exportexcel-all').hide();

                }
                else if (value == 3) {
                    $('#trStartDate').show();
                    $('#trEndDate').show();
                    $("#trPlanType").hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                    $('#trPayoutNoList').hide();
                    $('#validationMessages').html('');
                    $("#generationCountdetails-grid").hide();
                    $("#validationMessages").hide();
                    $("#StartDate").val("");
                    $("#EndDate").val("");
                    //   $("#CustomerName").val("");
                    //  $("#MemNo").val("");
                    $('#ddlGroupBy').val("50");
                    $('#ddlPlanType').val("0");
                    //  $('#exportexcel-all').hide();

                }
                else if(value == 2)
                {
                    $("#trPlanType").show();
                    $('#trPayoutNoList').hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                    $('#trStartDate').hide();
                    $('#trEndDate').hide();
                    $('#trPayoutNoList').hide();
                    $('#validationMessages').html('');
                    $("#validationMessages").hide();
                    $("#generationCountdetails-grid").hide();
                    $("#StartDate").val("");
                    $("#EndDate").val("");
                    //  $("#CustomerName").val("");
                    // $("#MemNo").val("");
                    $('#ddlGroupBy').val("50");
                    $('#ddlPlanType').val("0");
                    //  $('#exportexcel-all').hide();
                }
                else {
                    $('#trStartDate').hide();
                    $('#trEndDate').hide();
                    $("#trPlanType").hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                    $('#trPayoutNoList').hide();
                    $('#validationMessages').html('');
                    $("#generationCountdetails-grid").hide();
                    $("#validationMessages").hide();
                    $("#StartDate").val("");
                    $("#EndDate").val("");
                    //  $("#CustomerName").val("");
                    // $("#MemNo").val("");
                    $('#ddlGroupBy').val("50");
                    $('#ddlPlanType').val("0");
                    //$('#exportexcel-all').hide();
                }
            });

            $('#ddlPlanType').change(function (){
                $('#trPayoutNoList').show();
                $('#trPayoutStartDate').show();
                $('#trPayoutEndDate').show();
                $('#validationMessages').html('');
                $("#validationMessages").hide();
                $("#generationCountdetails-grid").hide();
                var value = $(this).val();
                if (value != null && value != 0) {
                    $.get("@(Url.Action("LoadDropDown", "MemberReports"))", {typeId:value,flag:0}, function (response) {
                        $("#ddlPayoutFrom").html('');
                        $("#PayoutStartDate").html('');
                        $("#PayoutEndDate").html('');
                        var PayoutNoListStr='';
                        var PayoutStartDate='';
                        var PayoutEndDate='';
                        if(response.PayoutNoList.length>0 ){
                            for(var i=0;i<response.PayoutNoList.length;i++){

                                PayoutNoListStr=PayoutNoListStr+'<option value="'+response.PayoutNoList[i].Value+'">'+response.PayoutNoList[i].Text+'</option>';
                                var obj=new Object()
                                obj.pn=response.PayoutNoList[i].Value;
                                obj.sd=response.PayoutStartDateList [i].Value;
                                obj.ed=response.PayoutEndDateList [i].Value;

                                objArray.push(obj);
                            }
                        }
                        else{

                            PayoutNoListStr= '<option value="0">No Payout(s) available.</option>';
                            $('#trPayoutStartDate').hide();
                            $('#trPayoutEndDate').hide();
                        }
                        $("#ddlPayoutFrom").append(PayoutNoListStr);
                        if(objArray.length > 0)
                        {
                            $("#PayoutStartDate").val(objArray[0].sd);
                            $("#PayoutEndDate").val(objArray[0].ed);
                        }
                    });
                }
                if($('#ddlPlanType').val() == 0)
                {
                    $('#trPayoutNoList').hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                }
            });

            $('#ddlPayoutFrom').change(function(){
                var value = $(this).val();
                for(var i=0;i<objArray.length;i++)
                {
                    if(objArray[i].pn==value){
                        $("#PayoutStartDate").val(objArray[i].sd);
                        $("#PayoutEndDate").val(objArray[i].ed);
                    }
                }
            });

            $("#search-generationCountdetails").click(function() {
                var Choice = $("#ddlMemOption").val();
                var vFromDt =  $("#StartDate").val();
                var vToDt =  $("#EndDate").val();
                var ddlOption=$("#ddlOption").val();
                var PlanType =  $("#ddlPlanType").val();
                var CustomerName=$("#CustomerName").val();
                var MemNo=$("#MemNo").val();
                var ddlPayoutFrom=$("#ddlPayoutFrom").val();
                var validationDivs='';
                $('#validationMessages').html('');
                $("#validationMessages").hide();
                $("#generationCountdetails-grid").hide();
                var flag=true;
              //  
                var ddlGroupBy=$('#ddlGroupBy').val();

                if(Choice ==1)
                {
                    if (CustomerName == '')
                    {
                        validationDivs=validationDivs+'<div>@T("Admin.Validation.IdNameRequired")</div>';
                        flag=false;
                    }
                    if(CustomerName !='' && MemNo == '')
                    {
                        validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                        flag=false;
                    }
                }

                if (ddlOption == 1 )
                {
                    if (vFromDt == '' )
                    {
                        validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                        flag=false;
                    }
                    if (vToDt == '' )
                    {
                        validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                        flag=false;
                    }

                    var EnteredDate = $("#EndDate").val();
                    var EnteredFromdate = $("#StartDate").val();

                    var str = EnteredDate;
                    var res = str.split("/");

                    var date =res[1];
                    var month=res[0];
                    var year =res[2];

                    var str1 = EnteredFromdate;
                    var res1 = str1.split("/");

                    var Fromdate =res1[1];
                    var Frommonth=res1[0];
                    var Fromyear =res1[2];

                    var myDate = new Date(year, month - 1, date);

                    var myFromDate = new Date(Fromyear, Frommonth - 1, Fromdate);

                    var today = new Date();

                    if (myDate > today) {
                        validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                        flag=false;
                    }

                    if (myFromDate > myDate) {
                        validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                        flag=false;
                    }
                }

                if (ddlOption == 2  )
                {
                    if ((PlanType == 0) )
                    {
                        // alert("Enter City.");
                        validationDivs=validationDivs+'<div>@T("admin.Validation.Enterplantype")</div>';
                        flag=false;
                    }
                    if (PlanType == null )
                    {
                        validationDivs=validationDivs+'<div>@T("admin.Validation.Enterplantype")</div>';
                        flag=false;
                    }
                    //
                    if((PlanType != 0 ) && ddlPayoutFrom == 0)
                    {
                        validationDivs=validationDivs+'<div>@T("admin.Validation.NoPayoutavailable")</div>';
                        flag=false;
                    }
                }

                if(flag){
                    @*var data = {
                        MemNo : $('#MemNo').val(),
                        MemIDs :$('#MemIDs').val(),
                        ddlOption : $('#ddlOption').val(),
                        StartDate : $('#StartDate').val(),
                        EndDate : $('#EndDate').val(),
                        ddlGroupBy : $('#ddlGroupBy').val(),
                        ddlMemOption : $('#ddlMemOption').val(),
                        ddlCountWise : $('#ddlCountWise').val(),
                        PayoutStartDate : $('#PayoutStartDate').val(),
                        PayoutEndDate : $('#PayoutEndDate').val(),
                        ddlMemIDName : $('#ddlMemIDName').val(),
                        CustomerName : $('#CustomerName').val(),
                    }

                    addAntiForgeryToken(data);

                    $("#sucessMessages").html(@ViewBag.returnMessage);

                    $.ajax({  url: "@Html.Raw(Url.Action("GenerationCountDetailsGrid", "MemberReports"))",
                        type: "POST",
                        dataType: "json",
                        data:data  , success: function(result){
                            //
                            if(result == "norecords" )
                            {
                                $("#validationMessages").show();
                                $("#validationMessages").html("No Record(s) found !!!");
                                $('#joiningdetails-grid').hide();
                                return;
                            }

                            if(result!="norecords" && result!="invalidId" )
                            {*@
                    //search
                    refreshFlag=false;
                    var grid = $('#generationCountdetails-grid').data('kendoGrid');
                    grid.dataSource.page(1); //new search. Set page size to 1
                    $('#generationCountdetails-grid').show();
                    $("#validationMessages").hide();
                    //$('#exportexcel-all').show();
                   // 
                    if(ddlGroupBy=='50')
                    {
                        grid.hideColumn("JoiningDate");
                    } else
                    {
                        grid.showColumn("JoiningDate");
                    }

                    return false;
                    //        }
                    //    }
                    //});
                }
                else{
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                }
            });

            $("#btnRefresh").click(function() {
                var Choice = $("#ddlMemOption").val();
                var vFromDt =  $("#StartDate").val();
                var vToDt =  $("#EndDate").val();
                var ddlOption=$("#ddlOption").val();
                var PlanType =  $("#ddlPlanType").val();
                var CustomerName=$("#CustomerName").val();
                var MemNo=$("#MemNo").val();
                var ddlPayoutFrom=$("#ddlPayoutFrom").val();
                var validationDivs='';
                $('#validationMessages').html('');
                $("#validationMessages").hide();
                $("#generationCountdetails-grid").hide();
                var flag=true;
              //  
                var ddlGroupBy=$('#ddlGroupBy').val();

                if(Choice ==1)
                {
                    if (CustomerName == '')
                    {
                        validationDivs=validationDivs+'<div>@T("Admin.Validation.IdNameRequired")</div>';
                        flag=false;
                    }
                    if(CustomerName !='' && MemNo == '')
                    {
                        validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                        flag=false;
                    }
                }

                if (ddlOption == 1 )
                {
                    if (vFromDt == '' )
                    {
                        validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                        flag=false;
                    }
                    if (vToDt == '' )
                    {
                        validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                        flag=false;
                    }

                    var EnteredDate = $("#EndDate").val();
                    var EnteredFromdate = $("#StartDate").val();

                    var str = EnteredDate;
                    var res = str.split("/");

                    var date =res[1];
                    var month=res[0];
                    var year =res[2];

                    var str1 = EnteredFromdate;
                    var res1 = str1.split("/");

                    var Fromdate =res1[1];
                    var Frommonth=res1[0];
                    var Fromyear =res1[2];

                    var myDate = new Date(year, month - 1, date);

                    var myFromDate = new Date(Fromyear, Frommonth - 1, Fromdate);

                    var today = new Date();

                    if (myDate > today) {
                        validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                        flag=false;
                    }

                    if (myFromDate > myDate) {
                        validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                        flag=false;
                    }
                }

                if (ddlOption == 2  )
                {
                    if ((PlanType == 0) )
                    {
                        // alert("Enter City.");
                        validationDivs=validationDivs+'<div>@T("admin.Validation.Enterplantype")</div>';
                        flag=false;
                    }
                    if (PlanType == null )
                    {
                        validationDivs=validationDivs+'<div>@T("admin.Validation.Enterplantype")</div>';
                        flag=false;
                    }
                    //
                    if((PlanType != 0 ) && ddlPayoutFrom == 0)
                    {
                        validationDivs=validationDivs+'<div>@T("admin.Validation.NoPayoutavailable")</div>';
                        flag=false;
                    }
                }

                if(flag){
                    @*var data = {
                        MemNo : $('#MemNo').val(),
                        MemIDs :$('#MemIDs').val(),
                        ddlOption : $('#ddlOption').val(),
                        StartDate : $('#StartDate').val(),
                        EndDate : $('#EndDate').val(),
                        ddlGroupBy : $('#ddlGroupBy').val(),
                        ddlMemOption : $('#ddlMemOption').val(),
                        ddlCountWise : $('#ddlCountWise').val(),
                        PayoutStartDate : $('#PayoutStartDate').val(),
                        PayoutEndDate : $('#PayoutEndDate').val(),
                        ddlMemIDName : $('#ddlMemIDName').val(),
                        CustomerName : $('#CustomerName').val(),
                    }

                    addAntiForgeryToken(data);

                    $("#sucessMessages").html(@ViewBag.returnMessage);

                    $.ajax({  url: "@Html.Raw(Url.Action("GenerationCountDetailsGrid", "MemberReports"))",
                        type: "POST",
                    dataType: "json",
                    data:data  , success: function(result){
                        //
                        if(result == "norecords" )
                        {
                            $("#validationMessages").show();
                            $("#validationMessages").html("No Record(s) found !!!");
                            $('#joiningdetails-grid').hide();
                            return;
                        }

                        if(result!="norecords" && result!="invalidId" )
                        {*@
                    //search
                    refreshFlag=true;
                    var grid = $('#generationCountdetails-grid').data('kendoGrid');
                    grid.dataSource.page(1); //new search. Set page size to 1
                    $('#generationCountdetails-grid').show();
                    $("#validationMessages").hide();
                    //$('#exportexcel-all').show();
                 //   
                    if(ddlGroupBy=='50')
                    {
                        grid.hideColumn("JoiningDate");
                    } else
                    {
                        grid.showColumn("JoiningDate");
                    }

                    return false;
                    //        }
                    //    }
                    //});
                }
                else{
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                }
            });

        });

        $("#CustomerName").keydown(function(evt) {
            var charCode = (evt.charCode) ? evt.charCode : ((evt.which) ? evt.which : evt.keyCode);
            if (charCode != 13 && charCode != 9)
            {
                $("#MemNo").val("");
            }
        });
    </script>
}
<table class="adminContent">
    <tr>
        <td>
            <div id="generationCountdetails-grid"></div>
            <script>
                $(document).ready(function () {
                    $("#generationCountdetails-grid").hide();

                    $("#generationCountdetails-grid").kendoGrid({
                        autoBind: false,
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("GenerationCountDetailsGrid", "MemberReports"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)]
                        },
                        scrollable: false,
                        columns: [{
                            field: "SrNo",
                            title: "@T("Admin.CustomerReport.SrNo")",
                            hidden:true,                           
                        },{
                            field: "MemNo",
                            title: "@T("Admin.CustomerReport.MemNoGrid")",                          
                        },{
                            field: "MemName",
                            title: "@T("Admin.CustomerReport.MemName")",                           
                        },{
                            field: "JoiningDate",
                            title: "@T("Admin.CustomerReport.JoiningDate")",                           
                        },{
                            field: "TotalCount",
                            title: "@T("Admin.CustomerReport.TotalCount")",                         
                        }, {
                            field: "ConfirmTotalCount",
                            title: "@T("Admin.CustomerReport.ConfirmTotalCount")",                           
                        }, {
                            field: "TotalPV",
                            title: "@T("Admin.CustomerReport.TotalPV")",                           
                        }, {
                            field: "ConfirmTotalPV",
                            title: "@T("Admin.CustomerReport.ConfirmTotalPV")",                           
                        }]
                    });
                });
            </script>

            <script type="text/javascript">               
                var refreshFlag=false;

                $(document).ready(function () {                    

                    $("#@Html.FieldIdFor(model => model.StartDate)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#search-generationCountdetails").click();
                            return false;
                        }
                    });

                    $("#@Html.FieldIdFor(model => model.EndDate)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#search-generationCountdetails").click();
                            return false;
                        }
                    });

                    $("#@Html.FieldIdFor(model => model.PayoutStartDate)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#search-joiningdetails").click();
                            return false;
                        }
                    });

                    $("#@Html.FieldIdFor(model => model.PayoutEndDate)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#search-joiningdetails").click();
                            return false;
                        }
                    });
                });

                function additionalData() {
                    var data = {
                        MemNo: $('#@Html.FieldIdFor(model => model.MemNo)').val(),
                        MemIDs: $('#@Html.FieldIdFor(model => model.MemIDs)').val(),
                        ddlOption: $('#@Html.FieldIdFor(model => model.ddlOption)').val(),
                        StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                        EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                        ddlGroupBy: $('#@Html.FieldIdFor(model => model.ddlGroupBy)').val(),
                        ddlMemOption: $('#@Html.FieldIdFor(model => model.ddlMemOption)').val(),
                        ddlCountWise:  $('#@Html.FieldIdFor(model => model.ddlCountWise)').val(),
                        PayoutStartDate: $('#@Html.FieldIdFor(model => model.PayoutStartDate)').val(),
                        PayoutEndDate: $('#@Html.FieldIdFor(model => model.PayoutEndDate)').val(),
                        ddlMemIDName: $('#@Html.FieldIdFor(model => model.ddlMemIDName)').val(),
                        CustomerName: $('#@Html.FieldIdFor(model => model.CustomerName)').val(),
                        refreshFlag:refreshFlag
                    };
                    addAntiForgeryToken(data);
                    return data;
                }
            </script>
        </td>
    </tr>
</table>
