﻿@model Nop.Admin.Models.MemberReports.LevelwiseCount
@{
    ViewBag.Title = T("Admin.MemberReports.GenerationLevelwiseCount").Text;
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Generation Tree");

}
@{

    var ddselectOptions = new List<SelectListItem>
    {
          new SelectListItem { Text = "All", Value="3" , Selected=true },
          new SelectListItem { Text = "ID/Name-wise", Value="0" }

    };
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.searchId)
    @Html.HiddenFor(model => model.memNumber)
    <div class="message-box message-box-error" id="validationMessages">

    </div>
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-sales.png")" alt="" />
            @T("Admin.MemberReports.GenerationLevelwiseCount")
        </div>
        <div class="options">
            <div id="showButtons">
                @*<input type="submit" id="exportxmlGeneLevelCountDetailsReportall" name="exportxmlGeneLevelCountDetailsReportall" class="k-button" value="@T("Admin.Common.ExportToXml.All")" />*@
                <input type="submit" id="exportexcelGeneLevelCountDetailsReportall" name="exportexcelGeneLevelCountDetailsReportall" class="k-button" value="@T("Admin.Common.ExportToExcel")" />
            </div>
        </div>
    </div>

    <table style="text-align:left;" class="adminContent">
        <tr>
            <td colspan="2">
                <br />
                <h3>@T("Admin.Customer.SearchOption")</h3>
                <br />
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.selectOption):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.selectOption, ddselectOptions)
                @Html.ValidationMessageFor(model => model.selectOption)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="divIDwise">
                    <table class="adminContent">
                        <tr>
                            <td class="adminTitle" style="width: 192px;">
                                @Html.NopLabelFor(model => model.memberID):
                            </td>
                            <td class="adminData">
                                @Html.EditorFor(model => model.memberID)
                                <div id="divfirstname" class="inputs">
                                </div>
                                @Html.ValidationMessageFor(model => model.memberID)
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DatewiseFrom):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DatewiseFrom)
                @Html.ValidationMessageFor(model => model.DatewiseFrom)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DatewiseTo):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DatewiseTo)
                @Html.ValidationMessageFor(model => model.DatewiseTo)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br />
                @T(" Admin.MemberReports.LevelwiseCount.note")
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" id="searchlevelReport" name="searchlevelReport" class="k-button" value="@T("Admin.Customers.Pancard.ViewReport")" />
                @*<input type="reset" id="btnReset" class="k-button" value="@T("Admin.Customers.Pancard.Reset")" />*@
                <input type="submit" name="Refresh" id="btnRefresh" class="k-button" value="@T("Admin.Common.Refresh")" />
            </td>
            <td></td>
        </tr>
    </table>
    <script>
        $(document).ready(function () {
            $('#selectOption').val("3");

            $('#searchResult').hide();
            $("#divIDwise").hide();
            $("#validationMessages").hide();
            $("#DatewiseFrom").keyup(function(){
                $(this).val('');
            });

            $("#DatewiseTo").keyup(function(){
                $(this).val('');
            });

            $("#selectOption").change(function(){
                $("#showButtons").hide();
                $('#searchResult').hide();
                $("#LevelReport-grid").hide();
                $("#validationMessages").hide();
                $("#sucessMessages").hide();
            });


            $("#btnReset").click(function () {
                $("#divIDwise").hide();
                $("#selectOption").val("3");
                $("#LevelReport-grid").hide();
                $("#validationMessages").hide();
                $("#sucessMessages").hide();
                $("#showButtons").hide();
                $('#searchResult').hide();
            });

        });
    </script>
    <table class="adminContent">
        <tr>
            <td>
                <div id="searchResult">
                    <br />
                    <h3>@T("Admin.Customer.SearchResult")</h3>
                    <br />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                @*<div class="message-box message-box-success" id="sucessMessages">
                    </div>*@
                <br />
                <div id="LevelReport-grid">
                </div>
                <script>

                    function getfillGrid(){
                        $("#LevelReport-grid").show();   $('#searchResult').show();
                        $("#showButtons").show();

                        $("#LevelReport-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("GenerationLevelWiseCountDetailsGrid", "MemberReports"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalData
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function (e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();

                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            scrollable: false,
                            columns: [{
                                field: "srNo",
                                title: "@T("Admin.MemberReports.LevelwiseCount.SrNo")",
                                width: 10,
                                hidden:true
                            },{
                                field: "ID",
                                title: "@T("Admin.MemberReports.LevelwiseCount.ID")",
                                width: 30
                            }, {
                                field: "Name",
                                title:  "@T("Admin.MemberReports.LevelwiseCount.Name")",
                                width: 40

                            },{
                                field: "Level",
                                title: "@T("Admin.MemberReports.LevelwiseCount.Level")",
                                width: 30,
                            },{
                                field: "TotalCount",
                                title: "@T("Admin.MemberReports.LevelwiseCount.TotalCount")",
                                width: 30,
                            },{
                                field: "ConfirmedCount",
                                title: "@T("Admin.MemberReports.LevelwiseCount.ConfirmedCount")",
                                width: 30,
                            }]
                        });
                    }
                </script>

                <script type="text/javascript">
                    //search button
                    $('#memberID').autocomplete({
                        delay: 500,
                        minLength: 1,
                        source: '@(Url.Action("SearchTermAutoComplete", "MemberReports"))',
                        appendTo: '.search-box',
                        select: function (event, ui) {
                            $("#searchId").val(ui.item.MJD_MemID);
                            $("#memberID").val(ui.item.label);
                            $("#memNumber").val(ui.item.MJD_MemNo);
                            $("#divfirstname").show();

                            //  return false;
                        }
                    }).data("ui-autocomplete")._renderItem = function (ul, item) {
                        var t = item.label;
                        //html encode
                        t = $('<div/>').text(t).html();
                        return $("<li></li>")
                            .data("item.autocomplete", item)
                            .append("<a><span>" + t + "</span></a>")
                            .appendTo(ul);
                    };
                    $(document).ready(function () {

                        $("#LevelReport-grid").hide();
                        $("#validationMessages").hide();
                        $("#sucessMessages").hide();
                        $("#showButtons").hide();

                        $('#selectOption').change(function () {
                            var value = $(this).val();
                            if (value ==0) {
                                $("#divIDwise").show();
                                $("#validationMessages").hide();
                                $("#sucessMessages").hide();
                                $("#memberID").val("");$("#memberID").focus();

                            }
                            else {
                                $("#divIDwise").hide();
                                $("#searchId").val("");
                                $("#validationMessages").hide();
                                $("#sucessMessages").hide();

                            }
                        });

                        $('#searchlevelReport').click(function () {

                            var start_time=$("#DatewiseFrom").val();
                            var end_time=$("#DatewiseTo").val();
                            var selectVal=$("#selectOption").val();
                            if(selectVal=="0")
                            {
                                if($("#memberID").val()=="")
                                {  $("#validationMessages").show();
                                    $("#validationMessages").html("@T("admin.customerreport.memid")");
                                    return;
                                }
                            }
                            if(new Date(start_time) > new Date(end_time))
                            {
                                $("#validationMessages").show();
                                $("#validationMessages").html("@T("Admin.MemberReports.datediffeenceError")");

                                return;
                            }
                            if(start_time=="" && end_time!="" )
                            {
                                $("#validationMessages").show();
                                $("#validationMessages").html("@T("Admin.MemberReports.enterfromdate")");
                                return;
                            }
                            if(start_time!="" && end_time=="" )
                            {
                                $("#validationMessages").show();
                                $("#validationMessages").html("@T("Admin.MemberReports.entertodate")");
                                return;
                            }
                            //  else
                            //  {
                            @*var data = {
                                selectOption:$('#selectOption').val(),
                                DatewiseFrom: $('#DatewiseFrom').val(),
                                DatewiseTo: $('#DatewiseTo').val(),
                                memberID: $('#memberID').val(),
                                searchId:$('#searchId').val()
                            }

                            addAntiForgeryToken(data);


                            $.ajax({  url: "@Html.Raw(Url.Action("GenerationLevelWiseCountDetailsGrid", "MemberReports"))",
                                type: "POST",
                                dataType: "json",
                                data:data  , success: function(result){


                                    if(result=="norecord")
                                    {
                                        $("#validationMessages").show();
                                        $("#validationMessages").html("@T("Dashboard.MyNetwork.SearchResult.NotFound")");
                                        $("#LevelReport-grid").hide();
                                        $("#sucessMessages").hide();
                                        $("#showButtons").hide();
                                        $('#searchResult').hide();
                                        return;
                                    }*@

                            $("#sucessMessages").show();
                            $("#validationMessages").hide();

                            refreshFlag=false;
                            getfillGrid();
                            // var grid = $('#LevelReport-grid').data('kendoGrid');
                            //   grid.dataSource.page(1); //new search. Set page size to 1
                            //grid.dataSource.read(); we already loaded the grid above using "page" function

                            var selValue= $('#selectOption option:selected').val();
                            var stDate=$("#DatewiseFrom").val(),endDate=$("#DatewiseTo").val();
                            var seltype="All Records ";
                            $("#sucessMessages").html(seltype);
                            if(selValue==0)
                                seltype="ID"+$("#memberID").val();
                            if(stDate!="" && endDate!="" )
                                $("#sucessMessages").html(seltype+" For Period "+stDate+" To "+endDate);

                            //    }
                            //});
                            ////}
                        });


                        $('#btnRefresh').click(function () {

                            var start_time=$("#DatewiseFrom").val();
                            var end_time=$("#DatewiseTo").val();
                            var selectVal=$("#selectOption").val();
                            if(selectVal=="0")
                            {
                                if($("#memberID").val()=="")
                                {  $("#validationMessages").show();
                                    $("#validationMessages").html("@T("admin.customerreport.memid")");
                                    return;
                                }
                            }
                            if(new Date(start_time) > new Date(end_time))
                            {
                                $("#validationMessages").show();
                                $("#validationMessages").html("@T("Admin.MemberReports.datediffeenceError")");

                                return;
                            }
                            if(start_time=="" && end_time!="" )
                            {
                                $("#validationMessages").show();
                                $("#validationMessages").html("@T("Admin.MemberReports.enterfromdate")");
                                return;
                            }
                            if(start_time!="" && end_time=="" )
                            {
                                $("#validationMessages").show();
                                $("#validationMessages").html("@T("Admin.MemberReports.entertodate")");
                                return;
                            }
                            //  else
                            //  {
                            @*var data = {
                                selectOption:$('#selectOption').val(),
                                DatewiseFrom: $('#DatewiseFrom').val(),
                                DatewiseTo: $('#DatewiseTo').val(),
                                memberID: $('#memberID').val(),
                                searchId:$('#searchId').val()
                            }

                            addAntiForgeryToken(data);


                            $.ajax({  url: "@Html.Raw(Url.Action("GenerationLevelWiseCountDetailsGrid", "MemberReports"))",
                                type: "POST",
                            dataType: "json",
                            data:data  , success: function(result){


                                if(result=="norecord")
                                {
                                    $("#validationMessages").show();
                                    $("#validationMessages").html("@T("Dashboard.MyNetwork.SearchResult.NotFound")");
                                    $("#LevelReport-grid").hide();
                                    $("#sucessMessages").hide();
                                    $("#showButtons").hide();
                                    $('#searchResult').hide();
                                    return;
                                }*@

                            $("#sucessMessages").show();
                            $("#validationMessages").hide();

                            refreshFlag=true;
                            getfillGrid();
                            // var grid = $('#LevelReport-grid').data('kendoGrid');
                            //   grid.dataSource.page(1); //new search. Set page size to 1
                            //grid.dataSource.read(); we already loaded the grid above using "page" function

                            var selValue= $('#selectOption option:selected').val();
                            var stDate=$("#DatewiseFrom").val(),endDate=$("#DatewiseTo").val();
                            var seltype="All Records ";
                            $("#sucessMessages").html(seltype);
                            if(selValue==0)
                                seltype="ID"+$("#memberID").val();
                            if(stDate!="" && endDate!="" )
                                $("#sucessMessages").html(seltype+" For Period "+stDate+" To "+endDate);
                            return false;
                            //    }
                            //});
                            ////}
                        });

                        $("#@Html.FieldIdFor(model => model.DatewiseFrom)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#searchlevelReport").click();
                                return false;
                            }
                        });

                        $("#@Html.FieldIdFor(model => model.DatewiseTo)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#searchlevelReport").click();
                                return false;
                            }
                        });


                        $("#@Html.FieldIdFor(model => model.selectOption)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#searchlevelReport").click();
                                return false;
                            }
                        });

                        $("#@Html.FieldIdFor(model => model.memberID)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#searchlevelReport").click();
                                return false;
                            }
                        });

                    });

                    function additionalData() {
                        var data = {
                            selectOption:$('#@Html.FieldIdFor(model => model.selectOption)').val(),
                            DatewiseFrom: $('#@Html.FieldIdFor(model => model.DatewiseFrom)').val(),
                            DatewiseTo: $('#@Html.FieldIdFor(model => model.DatewiseTo)').val(),
                            memberID:$('#@Html.FieldIdFor(model => model.memberID)').val(),
                            searchId:$('#@Html.FieldIdFor(model => model.searchId)').val(),
                            refreshFlag:refreshFlag
                        };
                        addAntiForgeryToken(data);
                        return data;
                    }
                </script>
            </td>
        </tr>
    </table>
}