﻿@model Nop.Admin.ViewModel.JoiningDetailsReport

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //page title
    ViewBag.Title = T("Admin.Reports.JoiningDetails").Text; 
}

@using (Html.BeginForm("JoiningDetails", "MemberReports", new { id = "JoiningDetails" }))
{
    @Html.AntiForgeryToken()

    @*<div class="message-box message-box-error" id="validationMessages">
    </div>*@

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Customers.Customers")
        </h1>
        <div class="pull-right">
            <a href="@Url.Action("Create")" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
            <div class="btn-group">
                <button type="button" class="btn btn-success">
                    <i class="fa fa-download"></i>
                    @T("Admin.Common.Export")
                </button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">&nbsp;</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <button type="submit" name="exportxml-all">
                            <i class="fa fa-file-code-o"></i>
                            @T("Admin.Common.ExportToXml.All")
                        </button>
                    </li>
                    <li>
                        <button type="button" id="exportxml-selected">
                            <i class="fa fa-file-code-o"></i>
                            @T("Admin.Common.ExportToXml.Selected")
                        </button>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <button type="submit" name="exportexcel-all">
                            <i class="fa fa-file-excel-o"></i>
                            @T("Admin.Common.ExportToExcel.All")
                        </button>
                    </li>
                    <li>
                        <button type="button" id="exportexcel-selected">
                            <i class="fa fa-file-excel-o"></i>
                            @T("Admin.Common.ExportToExcel.Selected")
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.MemberReport.JoiningDetails")
        </h1>
        @*<div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-success">
                    <i class="fa fa-download"></i>
                    @T("Admin.Common.Export")
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <button type="submit" name="exportxml-all">
                            <i class="fa fa-file-code-o"></i>
                            @T("Admin.Common.ExportToXml.All")
                        </button>
                    </li>
                </ul>
            </div>
        </div>*@
        @*<div class="options">
                <input type="submit" name="exportexcel-all" id="exportexcel-all" class="k-button" value="@T("Admin.Common.ExportToExcel")" />
                @* <input type="submit" name="exportxml-all" id="exportxml-all" class="k-button" value="@T("Admin.Common.ExportToXml.All")" />
            </div>*@
    </div>
    <table>
        <tr>
            <td class="adminTitle">@Html.NopLabelFor(model => model.columnSelection)</td>
        </tr>
        <tr>
            <td rowspan="4">@Html.ListBoxFor(x => x.LeftSelectedField, Model.LeftFieldList, new { id = "LeftListBox", @style = "width: 200px;height:120px" })</td>
            <td><input type="submit" value=">" id="SingleRight" style="font-size : 12px; width: 100%;" name="move-listItem" /></td>
            <td rowspan="4">@Html.ListBoxFor(x => x.RightSelectedField, Model.RightFieldList, new { id = "RightListBox", @style = "width: 200px;height:120px" })</td>
        </tr>
        <tr>
            <td><input type="submit" value=">>" id="AllRight" style="font-size : 12px; width: 100%;" name="move-listitem" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="<" id="SingleLeft" style="font-size : 12px; width: 100%;" name="move-listItem" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="<<" id="AllLeft" style="font-size : 12px; width: 100%;" name="move-listItem" /></td>
        </tr>

    </table>
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ddlOption):
            </td>
            <td class="adminData">
                @Html.DropDownList("ddlOption", new List<SelectListItem>
                {
                    new SelectListItem{Text="All Record(s)",Value="0"},
                    new SelectListItem{Text="Joining Date-wise",Value="1"},
                    new SelectListItem{Text="Confirmation Date-wise",Value="3"},
                    new SelectListItem{Text="Payout-wise",Value="2"}
                })
            </td>
        </tr>
        <tr id="trStartDate">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.StartDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.StartDate)
                @Html.ValidationMessageFor(model => model.StartDate)
            </td>
        </tr>
        <tr id="trEndDate">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EndDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EndDate)
                @Html.ValidationMessageFor(model => model.EndDate)
            </td>
        </tr>
        <tr id="trPlanType">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PM_ID):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.PM_ID, Model.PlanTypeList, new { style = "Width: 165px;", autocomplete = "off", maxlength = 22, Id = "ddlPlanType" })
            </td>
        </tr>
        <tr id="trPayoutNoList">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PN_ID):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.PN_ID, Model.PayoutNoList, new { style = "Width: 165px;", ocomplete = "off", maxlength = 22, Id = "ddlPayoutFrom" })
            </td>
        </tr>
        <tr id="trPayoutStartDate">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PayoutStartDate):
            </td>
            <td class="adminData">
                @Html.TextBoxFor(model => model.PayoutStartDate, new { @readonly = "readonly" })
                @*@Html.DropDownListFor(model => model.PayoutStartDate, Model.PayoutStartDateList, new { style = "Width: 165px;", autocomplete = "off", maxlength = 22 })*@
            </td>
        </tr>
        <tr id="trPayoutEndDate">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PayoutEndDate):
            </td>
            <td class="adminData">
                @Html.TextBoxFor(model => model.PayoutEndDate, new { @readonly = "readonly" })
                @*@Html.DropDownListFor(model => model.PayoutEndDate, Model.PayoutEndDateList, new { style = "Width: 165px;", autocomplete = "off", maxlength = 22 })*@
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" name="JoiningDetails-Post" id="search-joiningdetails" class="k-button" value="@T("Admin.Common.Search")" />
                @*<input type="button" name="reset" id="reset-joiningdetails" class="k-button" value="@T("Admin.Common.Reset")" />*@
                <input type="submit" name="Refresh" id="btnRefresh" class="k-button" value="@T("Admin.Common.Refresh")" />
            </td>
        </tr>
        <tr id="searchResult">
            <td>
                <br />
                <h3>@T("Admin.Customer.SearchResult")</h3>
                <br />
            </td>
        </tr>
    </table>

    <script>

        function selectItem()
        {
            
            $('#LeftListBox option').prop("selected","selected");
            $('#RightListBox option').prop("selected","selected")

        }
        $('#SingleRight').click(function(){
            
            var values = "";
            //var listBox = document.getElementById('#LeftListBox');
            //for (var i = 0; i < listBox.options.length; i++) {
            //    if (listBox.options[i].selected) {
            //        values += listBox.options[i].innerHTML + " " + listBox.options[i].value + "\n";
            //    }
            //}
            //alert(values);
            //return false;
            var validationDivs='';
            $('#validationMessages').html('');
            if(($('#RightListBox option').size() + $("#LeftListBox :selected").length)>7)
            {
                validationDivs=validationDivs+'<div>@T("Admin.Validation.ListBoxLength")</div>';
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
                return false;
            }
            else{
                $('#LeftListBox option:selected').appendTo('#RightListBox');
                selectItem();
            }
        });
        //$('#AllRight').click(function(){
        //    $('#LeftListBox option').appendTo('#RightListBox');
        //    selectItem();
        //});

        $('#AllRight').click(function(e) {
            // 
            var selectedOpts = $('#LeftListBox option');
            var validationDivs='';
            $('#validationMessages').html('');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }
            if((($('#RightListBox option').size())+($('#LeftListBox option').size()))>7)
            {
                validationDivs=validationDivs+'<div>@T("Admin.Validation.ListBoxLength")</div>';
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
                return false;
            }
            else
            {
                $('#RightListBox').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                selectItem();
            }
        });

        $('#SingleLeft').click(function(){
            
            $('#RightListBox option:selected').appendTo('#LeftListBox');
            selectItem();


        });
        $('#AllLeft').click(function(){
            $('#RightListBox option').appendTo('#LeftListBox');
            selectItem();
        });

        //$('#LeftListBox :first-child').attr('selected',true);
        var objArray=new Array();
        $(document).ready(function () {
            //
            $("#LeftListBox option:selected").prop("selected", false);
            $("#LeftListBox option:selected").prop("selected", false);
            $("#StartDate").keyup(function(){
                $(this).val('');
            });
            $("#EndDate").keyup(function(){
                $(this).val('');
            });
            if($('#RightListBox option').size()>7)
            {
                $('#joiningdetails-grid').hide();
            }

            $('#trStartDate').hide();
            $('#trEndDate').hide();
            $("#trPlanType").hide();
            $('#trPayoutNoList').hide();
            $('#trPayoutStartDate').hide();
            $('#trPayoutEndDate').hide();
            $("#validationMessages").hide();
            //  $('#exportexcel-all').hide();
            $('#searchResult').show();

            $('#ddlOption').change(function () {
                var value = $(this).val();
                //  $('#searchResult').hide();
                if (value == 1) {
                    $('#trStartDate').show();
                    $('#trEndDate').show();
                    $('#StartDate').val("");
                    $('#EndDate').val("");
                    $("#trPlanType").hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                    $('#trPayoutNoList').hide();
                    $('#validationMessages').html('');
                    $("#validationMessages").hide();
                    // $('#joiningdetails-grid').hide();
                    $('#ddlPlanType').val("0");
                    // $('#exportexcel-all').hide();

                }
                else if (value == 3) {
                    $('#trStartDate').show();
                    $('#trEndDate').show();
                    $("#trPlanType").hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                    $('#trPayoutNoList').hide();
                    $('#validationMessages').html('');
                    $("#validationMessages").hide();
                    //  $('#joiningdetails-grid').hide();
                    $('#StartDate').val("");
                    $('#EndDate').val("");
                    $('#ddlPlanType').val("0");
                    // $('#exportexcel-all').hide();

                }
                else if(value == 2)
                {
                    $("#trPlanType").show();
                    $('#trPayoutNoList').hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                    $('#trStartDate').hide();
                    $('#trEndDate').hide();
                    $('#validationMessages').html('');
                    $("#validationMessages").hide();
                    //  $('#joiningdetails-grid').hide();
                    $('#StartDate').val("");
                    $('#EndDate').val("");
                    $('#ddlPlanType').val("0");
                    // $('#exportexcel-all').hide();

                }
                else {
                    $('#trStartDate').hide();
                    $('#trEndDate').hide();
                    $("#trPlanType").hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                    $('#trPayoutNoList').hide();
                    $('#validationMessages').html('');
                    $("#validationMessages").hide();
                    //  $('#joiningdetails-grid').hide();
                    $('#StartDate').val("");
                    $('#EndDate').val("");
                    $('#ddlPlanType').val("0");
                    //$('#exportexcel-all').hide();
                }
            });

            $('#ddlPlanType').change(function (){
                $('#ddlPayoutFrom').show();
                $('#trPayoutNoList').show();
                $('#searchResult').hide();
                // $('#trPayoutStartDate').show();
                //  $('#trPayoutEndDate').show();
                $('#validationMessages').html('');
                $("#validationMessages").hide();
                $('#joiningdetails-grid').hide();
                var value = $(this).val();
                var startDate='';

                if (value != null && value != 0) {
                    $.get("@(Url.Action("LoadDropDown", "MemberReports"))", {typeId:value,flag:0}, function (response) {
                        $("#ddlPayoutFrom").html('');
                        $("#PayoutStartDate").html('');
                        $("#PayoutEndDate").html('');
                        var PayoutNoListStr='';
                        var PayoutStartDate='';
                        var PayoutEndDate='';
                        if(response.PayoutNoList.length>0 ){
                            for(var i=0;i<response.PayoutNoList.length;i++){

                                PayoutNoListStr=PayoutNoListStr+'<option value="'+ response.PayoutNoList[i].Value +'">'+ response.PayoutNoList[i].Text +'</option>';
                                var obj=new Object()
                                obj.pn=response.PayoutNoList[i].Value;
                                obj.sd=response.PayoutStartDateList [i].Value;
                                obj.ed=response.PayoutEndDateList [i].Value;

                                objArray.push(obj);
                                $('#trPayoutStartDate').show();
                                $('#trPayoutEndDate').show();
                            }
                        }
                        else{
                            PayoutNoListStr= '<option value="0">No Payout(s) available.</option>';
                            $('#trPayoutStartDate').hide();
                            $('#trPayoutEndDate').hide();
                        }
                        $("#ddlPayoutFrom").append(PayoutNoListStr);
                        if(objArray.length > 0)
                        {
                            $("#PayoutStartDate").val(objArray[0].sd);
                            $("#PayoutEndDate").val(objArray[0].ed);
                        }
                    });
                }

                if($('#ddlPlanType').val() == 0)
                {
                    $('#trPayoutNoList').hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                }

            });

            $('#ddlPayoutFrom').change(function(){
                var value = $(this).val();
                for(var i=0;i<objArray.length;i++)
                {
                    if(objArray[i].pn==value){
                        $("#PayoutStartDate").val(objArray[i].sd);
                        $("#PayoutEndDate").val(objArray[i].ed);
                    }
                }
            });
        });

        $("#search-joiningdetails").click(function() {
            // 
            var Choice = $("#ddlOption").val();
            var vFromDt =  $("#StartDate").val();
            var vToDt =  $("#EndDate").val();
            var PlanType =  $("#ddlPlanType").val();
            var ddlPayoutFrom =  $("#ddlPayoutFrom").val();
            var validationDivs='';
            $('#validationMessages').html('');
            $("#validationMessages").hide();
            $('#joiningdetails-grid').hide();

            var flag=true;
            // 
            if($('#RightListBox option').size()>7)
            {
                validationDivs=validationDivs+'<div>@T("Admin.Validation.ListBoxLength")</div>';
                flag=false;
            }
            else if($('#RightListBox option').size()<=0)
            {
                validationDivs=validationDivs+'<div>@T("admin.common.minimumOneField")</div>';
                flag=false;
            }
            if ((Choice) == 1 )
            {
                
                if (vFromDt == '' )
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                    flag=false;
                }
                if (vToDt == '' )
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                    flag=false;
                }

                var EnteredDate = $("#EndDate").val();
                var EnteredFromdate = $("#StartDate").val();

                var str = EnteredDate;
                var res = str.split("/");

                var date =res[1];
                var month=res[0];
                var year =res[2];

                var str1 = EnteredFromdate;
                var res1 = str1.split("/");

                var Fromdate =res1[1];
                var Frommonth=res1[0];
                var Fromyear =res1[2];

                var myDate = new Date(year, month - 1, date);
                var myFromDate = new Date(Fromyear, Frommonth - 1, Fromdate);
                //
                var today = new Date();

                if (myDate > today) {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    flag=false;
                }

                if (myFromDate > myDate) {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    flag=false;
                }
            }

            if ((Choice) == 3 )
            {
                if (vFromDt == '' )
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                    flag=false;
                }
                if (vToDt == '' )
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                    flag=false;
                }

                var EnteredDate = $("#EndDate").val();
                var EnteredFromdate = $("#StartDate").val();

                var str = EnteredDate;
                var res = str.split("/");

                var date =res[1];
                var month=res[0];
                var year =res[2];

                var str1 = EnteredFromdate;
                var res1 = str1.split("/");

                var Fromdate =res1[1];
                var Frommonth=res1[0];
                var Fromyear =res1[2];

                var myDate = new Date(year, month - 1, date);

                var myFromDate = new Date(Fromyear, Frommonth - 1, Fromdate);

                var today = new Date();

                if (myDate > today) {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    flag=false;
                }

                if (myFromDate > myDate) {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    flag=false;
                }
            }

            if ((+Choice) == 2  )
            {
                if ((PlanType == 0) )
                {
                    validationDivs=validationDivs+'<div>@T("admin.Validation.Enterplantype")</div>';
                    flag=false;

                }
                if (PlanType == null )
                {
                    validationDivs=validationDivs+'<div>@T("admin.Validation.Enterplantype")</div>';
                    flag=false;
                }
                if (PlanType != 0 && ddlPayoutFrom == 0 )
                {
                    validationDivs=validationDivs+'<div>@T("admin.Validation.NoPayoutavailable")</div>';
                    flag=false;

                }
            }

            if(flag){

                @*var data = {
                    ddlOption  : $('#ddlOption').val(),
                    StartDate  : $('#StartDate').val(),
                    EndDate  : $('#EndDate').val(),
                    PayoutStartDate : $('#PayoutStartDate').val(),
                    PayoutEndDate : $('#PayoutEndDate').val(),
                    LeftSelectedField:$('#LeftListBox').val(),
                    RightSelectedField:$('#RightListBox').val(),
                }

                addAntiForgeryToken(data);

                $.ajax({  url: "@Html.Raw(Url.Action("JoiningDetailsGrid", "MemberReports"))",
                    type: "POST",
                    dataType: "json",
                    data:data  , success: function(result){

                        if(result == "norecords" )
                        {
                            $("#validationMessages").show();
                            $("#validationMessages").html("No Record(s) found !!!");
                            $('#joiningdetails-grid').hide();
                            return false;
                        }

                        if(result!="norecords" )
                        {*@
                refreshFlag=false;
                var grid = $('#joiningdetails-grid').data('kendoGrid');
                grid.dataSource.page(1);
                $('#joiningdetails-grid').show();
                // $('#exportexcel-all').show();
                $('#searchResult').show();
                return false;
                //        }
                //    }
                //});
            }
            else{
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
            }
        });

        $("#btnRefresh").click(function() {
            // 
            var Choice = $("#ddlOption").val();
            var vFromDt =  $("#StartDate").val();
            var vToDt =  $("#EndDate").val();
            var PlanType =  $("#ddlPlanType").val();
            var ddlPayoutFrom =  $("#ddlPayoutFrom").val();
            var validationDivs='';
            $('#validationMessages').html('');
            $("#validationMessages").hide();
            $('#joiningdetails-grid').hide();

            var flag=true;
            // 
            if($('#RightListBox option').size()>7)
            {
                validationDivs=validationDivs+'<div>@T("Admin.Validation.ListBoxLength")</div>';
                flag=false;
            }
            else if($('#RightListBox option').size()<=0)
            {
                validationDivs=validationDivs+'<div>@T("admin.common.minimumOneField")</div>';
                flag=false;
            }
            if ((Choice) == 1 )
            {
                
                if (vFromDt == '' )
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                    flag=false;
                }
                if (vToDt == '' )
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                    flag=false;
                }

                var EnteredDate = $("#EndDate").val(); // For JQuery
                var EnteredFromdate = $("#StartDate").val();

                var str = EnteredDate;
                var res = str.split("/");

                var date =res[1];
                var month=res[0];
                var year =res[2];

                var str1 = EnteredFromdate;
                var res1 = str1.split("/");

                var Fromdate =res1[1];
                var Frommonth=res1[0];
                var Fromyear =res1[2];

                var myDate = new Date(year, month - 1, date);
                var myFromDate = new Date(Fromyear, Frommonth - 1, Fromdate);
                //
                var today = new Date();

                if (myDate > today) {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    flag=false;
                }

                if (myFromDate > myDate) {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    flag=false;
                }
            }

            if ((Choice) == 3 )
            {
                if (vFromDt == '' )
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                    flag=false;
                }
                if (vToDt == '' )
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                    flag=false;
                }

                var EnteredDate = $("#EndDate").val(); // For JQuery
                var EnteredFromdate = $("#StartDate").val();

                var str = EnteredDate;
                var res = str.split("/");

                var date =res[1];
                var month=res[0];
                var year =res[2];

                var str1 = EnteredFromdate;
                var res1 = str1.split("/");

                var Fromdate =res1[1];
                var Frommonth=res1[0];
                var Fromyear =res1[2];

                var myDate = new Date(year, month - 1, date);

                var myFromDate = new Date(Fromyear, Frommonth - 1, Fromdate);

                var today = new Date();

                if (myDate > today) {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    flag=false;
                }

                if (myFromDate > myDate) {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    flag=false;
                }
            }

            if ((+Choice) == 2  )
            {
                if ((PlanType == 0) )
                {
                    validationDivs=validationDivs+'<div>@T("admin.Validation.Enterplantype")</div>';
                    flag=false;

                }
                if (PlanType == null )
                {
                    validationDivs=validationDivs+'<div>@T("admin.Validation.Enterplantype")</div>';
                    flag=false;
                }
                if (PlanType != 0 && ddlPayoutFrom == 0 )
                {
                    validationDivs=validationDivs+'<div>@T("admin.Validation.NoPayoutavailable")</div>';
                    flag=false;

                }
            }

            if(flag){

                @*var data = {
                    ddlOption  : $('#ddlOption').val(),
                    StartDate  : $('#StartDate').val(),
                    EndDate  : $('#EndDate').val(),
                    PayoutStartDate : $('#PayoutStartDate').val(),
                    PayoutEndDate : $('#PayoutEndDate').val(),
                    LeftSelectedField:$('#LeftListBox').val(),
                    RightSelectedField:$('#RightListBox').val(),
                }

                addAntiForgeryToken(data);

                $.ajax({  url: "@Html.Raw(Url.Action("JoiningDetailsGrid", "MemberReports"))",
                    type: "POST",
                dataType: "json",
                data:data  , success: function(result){

                    if(result == "norecords" )
                    {
                        $("#validationMessages").show();
                        $("#validationMessages").html("No Record(s) found !!!");
                        $('#joiningdetails-grid').hide();
                        return false;
                    }

                    if(result!="norecords" )
                    {*@
                refreshFlag=true;
                var grid = $('#joiningdetails-grid').data('kendoGrid');
                grid.dataSource.page(1);
                $('#joiningdetails-grid').show();
                // $('#exportexcel-all').show();
                $('#searchResult').show();
                return false;
                //        }
                //    }
                //});
            }
            else{
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
            }

        });

        $("#reset-joiningdetails").click(function (){
            $("#ddlOption").val("0");
            $('#ddlPlanType').val("0");
            $('#trStartDate').hide();
            $('#trEndDate').hide();
            $("#StartDate").val("");
            $("#EndDate").val("");
            $("#trPlanType").hide();
            $('#trPayoutNoList').hide();
            $('#trPayoutStartDate').hide();
            $('#trPayoutEndDate').hide();
            $('#joiningdetails-grid').hide();
            $('#validationMessages').html('');
            $("#validationMessages").hide();
            //$('#exportexcel-all').hide();
            $('#searchResult').hide();
        });
    </script>
}
<table class="adminContent">
    <tr>
        <td>
            <br />
            <div id="joiningdetails-grid"></div>
            <script>
                $(document).ready(function () {
                    //  $('#joiningdetails-grid').hide();
                    selectItem();
                    $("#joiningdetails-grid").kendoGrid({
                        autoBind: false,
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("JoiningDetailsGrid", "MemberReports"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)]
                        },
                        scrollable: false,
                        columns: [
                 //col1


                            @*@if (Model.KendoFieldList.Contains("AdjustedToName"))
                            {
                             <text>{
                                field: "AdjustedToName",
                                title: "@T("Admin.JoiningDetailsReport.AdjustedToName")",
                                // width: 30
                            },</text>
                            }*@
                             //col1
                            @if (Model.KendoFieldList.Contains("POSNwrtSPON"))
                            {
                             <text>{
                                field: "POSNwrtSPON",
                                title: "@T("Admin.JoiningDetailsReport.POSNwrtAdjTo")",
                                // width: 30
                            },</text>
                            }
                  //col2
                             @if (Model.KendoFieldList.Contains("PV"))
                            {
                             <text>{
                                 field: "PV",
                                 title: "@T("Admin.JoiningDetailsReport.PVPts")",
                                 // width: 30
                             },</text>
                            }
                  //col3
                            @if (Model.KendoFieldList.Contains("ID"))
                            {
                             <text>{
                                field: "Id",
                                title: "@T("Admin.Catalog.Products.Fields.ID")",
                                // width: 30
                            },</text>
                            }
                 //col4
                          @if (Model.KendoFieldList.Contains("AdjustedToID"))
                          {
                            <text>{
                              field: "AdjustedToID",
                              title: "@T("Admin.JoiningDetailsReport.SpillAdjustedToID")",
                              // width: 30
                          },</text>
                          }
               //col5
                                      @if (Model.KendoFieldList.Contains("PositionwrtAdjustedTo"))
                              {
                                          <text>{
                                          field: "PositionwrtAdjustedTo",
                                          title: "@T("Admin.JoiningDetailsReport.POSNwrtAdjTo")",
                                          // width: 30
                                      },</text>
                          }
                 //col6
                           @if (Model.KendoFieldList.Contains("Title"))
                              {
                                          <text>{
                               field: "Title",
                               title: "@T("Admin.JoiningDetailsReport.MPDTitle")",
                               // width: 30
                           },</text>
                          }
                 //col7
                          @if (Model.KendoFieldList.Contains("CompanyType"))
                              {
                                          <text>{
                              field: "CompanyType",
                              title: "@T("Dashboard.Mynetwork.Mydirect.CompanyType")",
                              // width: 30
                          },</text>
                          }
               //col8
                           @if (Model.KendoFieldList.Contains("DateofBirth"))
                              {
                                          <text>{
                               field: "DateofBirth",
                               title: "@T("Admin.JoiningDetailsReport.DOB")",
                               // width: 30
                           },</text>
                          }
              //col9
                          @if (Model.KendoFieldList.Contains("MaritalStatus"))
                             {
                                         <text>{
                              field: "MaritalStatus",
                              title: "@T("Admin.JoiningDetailsReport.MaritalStatus")",
                              // width: 30
                          },</text>
                         }
             //col10
                         @if (Model.KendoFieldList.Contains("Gender"))
                             {
                                         <text>{
                             field: "Gender",
                             title: "@T("Admin.JoiningDetailsReport.Gender")",
                             // width: 30
                         },</text>
                         }
            //col11
                         @if (Model.KendoFieldList.Contains("PancardNo"))
                             {
                                         <text>{
                             field: "PancardNo",
                             title: "@T("Admin.JoiningDetailsReport.PanCardNo")",
                             // width: 30
                         },</text>
                         }
            //col12
                          @if (Model.KendoFieldList.Contains("MothersName"))
                             {
                                         <text>{
                              field: "MothersName",
                              title: "@T("Dashboard.Mynetwork.Mydirect.MotherName")",
                              // width: 30
                          },</text>
                         }
            //col13
                         @if (Model.KendoFieldList.Contains("PostalAddress"))
                            {
                                        <text>{
                             field: "PostalAddress",
                             title: "@T("Admin.JoiningDetailsReport.Address")",
                             // width: 30
                         },</text>
                        }
            //col14
                        @if (Model.KendoFieldList.Contains("Landmark"))
                            {
                                        <text>{
                            field: "Landmark",
                            title: "@T("Admin.JoiningDetailsReport.LandMark")",
                            // width: 30
                        },</text>
                        }
            //col15
                        @if (Model.KendoFieldList.Contains("State"))
                           {
                                       <text>{
                            field: "State",
                            title: "@T("Admin.JoiningDetailsReport.State")",
                            // width: 30
                        },</text>
                       }
                         @if (Model.KendoFieldList.Contains("City"))
                        {
                                       <text>{
                             field: "City",
                             title: "@T("Account.Fields.City")",
                             // width: 30
                         },</text>
                    }
            //col16
                       @if (Model.KendoFieldList.Contains("Country"))
                           {
                                       <text>{
                           field: "Country",
                           title: "@T("Admin.JoiningDetailsReport.Country")",
                           // width: 30
                       },</text>
                       }
            //col17
                       @if (Model.KendoFieldList.Contains("PinCode"))
                           {
                                       <text>{
                           field: "PinCode",
                           title: "@T("Admin.JoiningDetailsReport.PinCode")",
                           // width: 30
                       },</text>
                       }
            //col18
                        @if (Model.KendoFieldList.Contains("ShippingAddress"))
                           {
                                       <text>{
                            field: "ShippingAddress",
                            title: "@T("Admin.JoiningDetailsReport.ShpAddress")",
                            // width: 30
                        },</text>
                       }
            //col19
                       @if (Model.KendoFieldList.Contains("MobileNo"))
                           {
                                       <text>{
                           field: "MobileNo",
                           title: "@T("Admin.JoiningDetailsReport.Mobile")",
                           // width: 30
                       },</text>
                       }
            //col20
                       @if (Model.KendoFieldList.Contains("ResidencePhone"))
                           {
                                       <text>{
                           field: "ResidencePhone",
                           title: "@T("Admin.JoiningDetailsReport.ResPhone")",
                           // width: 30
                       },</text>
                       }
            //col21
                       @if (Model.KendoFieldList.Contains("EmailID"))
                           {
                                       <text>{
                           field: "EmailID",
                           title: "@T("Admin.JoiningDetailsReport.EmailID")",
                           // width: 30
                       },</text>
                       }
            //col22
                       @if (Model.KendoFieldList.Contains("NomineeName"))
                           {
                                       <text>{
                           field: "NomineeName",
                           title: "@T("Admin.JoiningDetailsReport.nomName")",
                           // width: 30
                       },</text>
                       }
            //col23
                       @if (Model.KendoFieldList.Contains("NomineeRelationwithApplicant"))
                           {
                                       <text>{
                           field: "NomineeRelationwithApplicant",
                           title: "@T("Admin.JoiningDetailsReport.nomRel")",
                           // width: 30
                       },</text>
                       }
            //col24
                       @if (Model.KendoFieldList.Contains("NomineesDOB"))
                           {
                                       <text>{
                           field: "NomineesDOB",
                           title: "@T("Admin.JoiningDetailsReport.nomBdate")",
                           // width: 30
                       },</text>
                       }
            //col25
                        @if (Model.KendoFieldList.Contains("Paymode"))
                           {
                                       <text>{
                            field: "Paymode",
                            title: "@T("admin.customers.customers.fields.paymode")",
                            // width: 30
                        },</text>
                       }
            //col25
                       @if (Model.KendoFieldList.Contains("PackageAmount"))
                           {
                                       <text>{
                           field: "PackageAmount",
                           title: "@T("admin.customers.customers.fields.packageamt")",
                           // width: 30
                       },</text>
                       }
            //col27
                       @if (Model.KendoFieldList.Contains("EPinSerialNo"))
                           {
                                       <text>{
                           field: "EPinSerialNo",
                           title: "@T("Admin.JoiningDetailsReport.PinSrNo")",
                           // width: 30
                       },</text>
                       }
            //col28
                       @if (Model.KendoFieldList.Contains("HintQuestion"))
                           {
                                       <text>{
                           field: "HintQuestion",
                           title: "@T("Admin.JoiningDetailsReport.HQuestion")",
                           // width: 30
                       },</text>
                       }
                        //col1
                       @if (Model.KendoFieldList.Contains("HintAnswer"))
                           {
                                       <text>{
                           field: "HintAnswer",
                           title: "@T("Admin.JoiningDetailsReport.HAnswer")",
                           // width: 30
                       },</text>
                       }
                      //col29
                                   @if (Model.KendoFieldList.Contains("PaymentReceiveMode"))
                           {
                                       <text>{
                                       field: "PaymentReceiveMode",
                                       title: "@T("Admin.Paymentreceiptmode")",
                                       // width: 30
                                   },</text>
                       }

            //col36
                       @if (Model.KendoFieldList.Contains("Status"))
                        {
                                   <text>{
                           field: "Status",
                           title:  "@T("Admin.JoiningDetailsReport.MemStatus")",
                           // width: 50,
                       },</text>
                    }
            //col30
                       @if (Model.KendoFieldList.Contains("Name"))
                       {
                                   <text>{
                           field: "Name",
                           title: "@T("Admin.JoiningDetailsReport.Name")",
                           // width: 30,
                       },</text>
                       }
            //col31
                       @if (Model.KendoFieldList.Contains("SponsorID"))
                       {
                                   <text>{
                           field: "SponsorID",
                           title: "@T("Admin.CustomerReport.sponsorid")",
                           //  width: 50,
                       },</text>
                       }
            //col32
                                   @if (Model.KendoFieldList.Contains("SponsorName"))
                       {
                                   <text>{
                                       field: "SponsorName",
                                       title: "@T("Admin.CustomerReport.SponsorName")",
                                       //  width: 40,
                                   }, </text>
                       }
            //col33
                       @if (Model.KendoFieldList.Contains("DOJ"))
                       {
                                   <text>{
                           field: "DOJ",
                           title:  "@T("Admin.CustomerReport.DOJ")",
                           //  width: 40,
                           // type: "date",
                           // format: "{0:G}"
                       },</text>
                       }
            //col34
                       @if (Model.KendoFieldList.Contains("PackageName"))
                       {
                                   <text> {
                           field: "PackageName",
                           title:  "@T("Admin.CustomerReport.PackageName")",
                           // width: 50,
                       },</text>
                       }
            //col35
                       @if (Model.KendoFieldList.Contains("ConfirmDate"))
                       {
                                   <text> {
                           field: "confirmdate",
                           title:  "@T("Admin.CustomerReport.ConfirmationDate")",
                           // width: 40,
                           // type: "date",
                           // format: "{0:G}"
                       },</text>
                       }

               //col36
                        @if (Model.KendoFieldList.Contains("AccountHolderName"))
                        {
                                   <text> {
                            field: "AccountHolderName",
                            title:  "@T("Admin.CustomerReport.AccountHolderName")",
                            // width: 50,
                        },</text>
                       }

              //col37
               @if (Model.KendoFieldList.Contains("AccountNumber"))
                        {
                                   <text> {
                   field: "AccountNumber",
                   title:  "@T("Admin.CustomerReport.AccountNumber")",
                   // width: 50,
               },</text>
                    }

                //col38
               @if (Model.KendoFieldList.Contains("BankName"))
                        {
                                   <text> {
                   field: "BankName",
                   title:  "@T("Admin.CustomerReport.BankName")",
                   // width: 50,
               },</text>
                    }

               //col39
               @if (Model.KendoFieldList.Contains("BranchName"))
                        {
                                   <text> {
                   field: "BranchName",
                   title:  "@T("Admin.CustomerReport.BranchName")",
                   // width: 50,
               },</text>
                    }


               //col40
               @if (Model.KendoFieldList.Contains("BankAddress"))
                        {
                                   <text> {
                   field: "BankAddress",
                   title:  "@T("Admin.CustomerReport.BankAddress")",
                   // width: 50,
               },</text>
                    }

               //col41
               @if (Model.KendoFieldList.Contains("IFSCCode"))
                        {
                                   <text> {
                   field: "IFSCCode",
                   title:  "@T("Admin.CustomerReport.IFSCCode")",
                   // width: 50,
               },</text>
                    }

                //col42
               @if (Model.KendoFieldList.Contains("AadharCardNo"))
                        {
                                   <text> {
                   field: "AadharCardNo",
                   title:  "@T("Admin.CustomerReport.AadharCardNo")",
                   // width: 50,
               },</text>
                    }

                      //col43
               @if (Model.KendoFieldList.Contains("Username"))
                        {
                                   <text> {
                   field: "UserName",
                   title:  "@T("Admin.CustomerReport.UserName")",
                   // width: 50,
               },</text>
                    }
                        ]
                    });
                });
            </script>

            <script type="text/javascript">
                var refreshFlag=false;
                $(document).ready(function () {

                    $("#@Html.FieldIdFor(model => model.StartDate)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#search-joiningdetails").click();
                            return false;
                        }
                    });


                    $("#@Html.FieldIdFor(model => model.EndDate)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#search-joiningdetails").click();
                            return false;
                        }
                    });

                    $("#@Html.FieldIdFor(model => model.PayoutStartDate)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#search-joiningdetails").click();
                            return false;
                        }
                    });

                    $("#@Html.FieldIdFor(model => model.PayoutEndDate)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#search-joiningdetails").click();
                            return false;
                        }
                    });
                });

                function additionalData() {
                    var data = {
                        ddlOption: $('#@Html.FieldIdFor(model => model.ddlOption)').val(),
                        StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                        EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                        PayoutStartDate: $('#@Html.FieldIdFor(model => model.PayoutStartDate)').val(),
                        PayoutEndDate: $('#@Html.FieldIdFor(model => model.PayoutEndDate)').val(),
                        //LeftSelectedField: $('#@Html.FieldIdFor(model => model.LeftSelectedField)').val(),
                        refreshFlag:refreshFlag
                    };
                    addAntiForgeryToken(data);
                    return data;
                }
            </script>

        </td>
    </tr>
</table>
