﻿@model Nop.Admin.ViewModel.MemberPaidIdDetailsReport

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //page title
    ViewBag.Title = T("Admin.MemberReport.MemberPaidId").Text;

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Paid Id Report");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.MemberReport.MemberPaidId")
        </h1>
        <div class="pull-right">
            <div class="btn-group">
                <button type="submit" class="btn btn-success" name="exportexcel-all" id="exportexcel-all">
                    <i class="fa fa-file-excel-o"></i>
                    @T("Admin.Common.ExportToExcel")
                </button>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ddlChoice)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownList("ddlChoice", new List<SelectListItem>
                                      {
                                          new SelectListItem{Text="All Record(s)",Value="1"},
                                          new SelectListItem{Text="ID/Name-Wise",Value="0"},
                                      })
                                    </div>
                                </div>
                                <div class="form-group" id="trMemName">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.MemId)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.SearchFirstName)
                                        @*<input type="text" id="SearchFirstName" value="" name="" />*@
                                        @Html.HiddenFor(model => model.MemId)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="trStartDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.EndDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.StartDate)
                                        @Html.HiddenFor(model => model.HStartDate)
                                        @Html.ValidationMessageFor(model => model.StartDate)
                                    </div>
                                </div>
                                <div class="form-group" id="trEndDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.EndDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.EndDate)
                                        @Html.HiddenFor(model => model.HEndDate)
                                        @Html.ValidationMessageFor(model => model.EndDate)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-1">
                                <button type="button" name="search" id="search-paidIdDetails" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="searchResult">
                    <div class="panel-body">
                        <h3>@T("Admin.Customer.SearchResult")</h3>

                        <div id="paidIdDetails-grid"></div>
                        <script>
                            //  $(document).ready(function () {
                            // $("#paidIdDetails-grid").hide();
                            $("#search-paidIdDetails").click(function() {
                                $("#paidIdDetails-grid").kendoGrid({
                                    autoBind: false,
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("MemberPaidIdDetailsGrid", "MemberReports"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: true,
                                    columns: [{
                                        field: "SrNo",
                                        title: "@T("Admin.CustomerReport.SrNo")",
                                        width: 150,
                                        hidden:true
                                    },{
                                        field: "MemId",
                                        title: "@T("Admin.CustomerReport.MemNoGrid")",
                                        width: 150,
                                    },{
                                        field: "MemName",
                                        title: "@T("Admin.CustomerReport.MemName")",
                                        width: 200,
                                    },{
                                        field: "JoiningPackage",
                                        title: "@T("Admin.CustomerReport.JoiningPackage")",

                                    }, {
                                        field: "DOJ",
                                        title:  "@T("Admin.CustomerReport.DOJ")",
                                        width: 150
                                        // type: "date",
                                        // format: "{0:G}"
                                    },{
                                        field: "PaidDate",
                                        title: "@T("Admin.CustomerReport.PaidDate")",
                                        width: 150
                                        // type: "date",
                                        // format: "{0:G}"
                                    }, {
                                        field: "Remark",
                                        title:  "@T("Admin.CustomerReport.Remark")",
                                        width: 150
                                    }, {
                                        field: "PVsIncreased",
                                        title:  "@T("Admin.CustomerReport.PVsIncreased")",
                                        width: 150
                                    }]
                                });
                            });
                        </script>

                        <script type="text/javascript">
                            //  var selectedIds = [];
                            $(document).ready(function () {
                                //search button
                                //$('#search-paidIdDetails').click(function () {
                                //    var grid = $('#paidIdDetails-grid').data('kendoGrid');
                                //    grid.dataSource.page(1); //new search. Set page size to 1
                                //    //grid.dataSource.read(); we already loaded the grid above using "page" function

                                //});

                                $("#@Html.FieldIdFor(model => model.StartDate)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-paidIdDetails").click();
                                        return false;
                                    }
                                });


                                $("#@Html.FieldIdFor(model => model.EndDate)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-paidIdDetails").click();
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.MemId)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-paidIdDetails").click();
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.ddlChoice)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-paidIdDetails").click();
                                        return false;
                                    }
                                });
                            });

                            function additionalData() {
                                var Choice = $("#ddlChoice").val();
                                var StartDate =  $("#StartDate").val();
                                var EndDate =  $("#EndDate").val();
                                var startDate =null;
                                var endDate=null;
                                if(Choice!='0')
                                {
                                    if(StartDate!="")
                                        startDate=getDate($("#StartDate").data("kendoDatePicker").value());
                                    if(EndDate!="")
                                        endDate=getDate($("#EndDate").data("kendoDatePicker").value());
                                }
                                var data = {
                                    MemId: $('#@Html.FieldIdFor(model => model.MemId)').val(),
                                    ddlChoice: $('#@Html.FieldIdFor(model => model.ddlChoice)').val(),
                                    HStartDate:startDate,
                                    HEndDate:endDate
                                    @*StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                        EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),*@
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                            $("#exportexcel-all").click(function() {
                                //
                                var StartDate=$("#StartDate").val();
                                var EndDate=$("#EndDate").val();
                                var startDate =null;
                                var endDate=null;
                                if(StartDate!=" ")
                                {
                                    $("#HStartDate").val(getDate($("#StartDate").data("kendoDatePicker").value()));
                                }else
                                {
                                    $("#HStartDate").val(startDate)
                                }
                                if(EndDate!=" ")
                                {
                                    $("#HEndDate").val(getDate($("#EndDate").data("kendoDatePicker").value()));
                                }
                                else{
                                    $("#HEndDate").val(endDate)
                                }
                                var t=$("#HFromDate").val();
                            });
                        </script>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#reset-paidIdDetails").click(function (){
            $("#ddlChoice").val("1");
            $("#MemId").val("");
            $("#SearchFirstName").val("");
            $("#StartDate").val("");
            $("#EndDate").val("");
            $('#trMemName').hide();
            $("#trEndDate").show();
            $("#trStartDate").show();
            $("#paidIdDetails-grid").hide();
            $('#validationMessages').html('');
            $("#validationMessages").hide();
            // $('#exportexcel-all').hide();
            $('#searchResult').hide();
        });

        $('#SearchFirstName').autocomplete({
            delay: 500,
            minLength: 1,
            @*ource: '@(Url.Action("SearchTermAutoCompleteDownline", "MemberReports"))',*@
            source: '@(Url.Action("SearchTermAutoCompleteDownline", "Common"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                $("#MemId").val(ui.item.Id);
                $("#SearchFirstName").val(ui.item.label);
                $("#divfirstname").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };

        $(document).ready(function () {
            $("#StartDate").keyup(function(){
                $(this).val('');
            });
            $("#EndDate").keyup(function(){
                $(this).val('');
            });

            $('#trMemName').hide();
            $("#validationMessages").hide();
            //  $('#exportexcel-all').hide();
            $('#searchResult').hide();

            $('#ddlChoice').change(function () {
                var value = $(this).val();
                if (value == 0) {
                    $('#trMemName').show();
                    $('#trStartDate').hide();
                    $('#trEndDate').hide();
                    $('#paidIdDetails-grid').hide();
                    $('#validationMessages').html('');
                    $("#validationMessages").hide();
                    //  $('#exportexcel-all').hide();
                    $('#searchResult').hide();
                    $('#SearchFirstName').val("");
                    $('#MemId').val("");
                    $('#StartDate').val("");
                    $('#EndDate').val("");
                }
                else {
                    $('#trMemName').hide();
                    $('#trStartDate').show();
                    $('#trEndDate').show();
                    $('#paidIdDetails-grid').hide();
                    $('#validationMessages').html('');
                    $("#validationMessages").hide();
                    // $('#exportexcel-all').hide();
                    $('#searchResult').hide();
                    $('#SearchFirstName').val("");
                    $('#MemId').val("");
                    $('#StartDate').val("");
                    $('#EndDate').val("");
                }
            });
        });

        $("#search-paidIdDetails").click(function() {
            var Choice = $("#ddlChoice").val();
            var StartDate =  $("#StartDate").val();
            var EndDate =  $("#EndDate").val();
            var SearchFirstName=$("#SearchFirstName").val();
            var MemId=$("#MemId").val();
            var validationDivs='';
            $('#validationMessages').html('');
            $("#paidIdDetails-grid").hide();
            $("#validationMessages").hide();
            $('#searchResult').hide();
            var flag=true;

            if(Choice == 0)
            {
                if (SearchFirstName == '')
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.IdNameRequired")</div>';
                    flag=false;
                }
                if(SearchFirstName !='' && MemId == '')
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                    flag=false;
                }
            }

            if(StartDate != '' || EndDate != '')
            {
                if(StartDate != '' && EndDate == '')
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                    flag=false;
                }

                if(EndDate != '' && StartDate == '')
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                    flag=false;
                }

                var EnteredDate = getDate($("#StartDate").data("kendoDatePicker").value());
                var EnteredFromdate=getDate($("#EndDate").data("kendoDatePicker").value());

                var myDate = new Date(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                var myFromDate = new Date(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                var today = new Date();
                var start_time=$("#DatewiseFrom").val();
                var end_time=$("#DatewiseTo").val();

                if (myFromDate > today) {

                    validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    flag=false;
                }
                if (myFromDate < myDate) {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    flag=false;
                }
            }
            if(flag){
                var Choice = $("#ddlChoice").val();
                var StartDate =  $("#StartDate").val();
                var EndDate =  $("#EndDate").val();
                var startDate =null;
                var endDate=null;
                if(Choice!='0')
                {
                    if(StartDate!="")
                        startDate=getDate($("#StartDate").data("kendoDatePicker").value());
                    if(EndDate!="")
                        endDate=getDate($("#EndDate").data("kendoDatePicker").value());
                }
                var data = {
                    MemId: $('#MemId').val(),
                    ddlChoice: $('#ddlChoice').val(),
                    //StartDate: $('#StartDate').val(),
                    //EndDate: $('#EndDate').val(),
                    HStartDate: startDate,
                    HEndDate:endDate,
                }

                addAntiForgeryToken(data);

                $("#sucessMessages").html(@ViewBag.returnMessage);

                $.ajax({  url: "@Html.Raw(Url.Action("MemberPaidIdDetailsGrid", "MemberReports"))",
                    type: "POST",
                    dataType: "json",
                    data:data  , success: function(result){

                        if(result == "norecords" )
                        {
                            $("#validationMessages").show();
                            $("#validationMessages").html("No Record(s) found !!!");
                            $('#paidIdDetails-grid').hide();
                            return;
                        }

                        if(result!="norecords" )
                        {
                            //search
                            var grid = $('#paidIdDetails-grid').data('kendoGrid');
                            grid.dataSource.page(1); //new search. Set page size to 1
                            //grid.dataSource.read(); we already loaded the grid above using "page" function
                            $('#paidIdDetails-grid').show();
                            // $('#exportexcel-all').show();
                            $('#searchResult').show();
                            return false;
                        }
                    }
                });

            }
            else{
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
            }

        });

        $("#SearchFirstName").keydown(function(evt) {
            var charCode = (evt.charCode) ? evt.charCode : ((evt.which) ? evt.which : evt.keyCode);
            if (charCode != 13 && charCode != 9)
            {
                $("#MemId").val("");
            }
        });
    </script>
}

