﻿@model Nop.Admin.Models.MemberReports.TreeviewModel
@{
    ViewBag.Title = T("Admin.MemberReport.MultiBinaryTreeView").Text;

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("MultiBinary Tree");
}

<style>
    .no-border {
        border: 0;
        border-style: none;
    }

    .genealogy-img {
        height: 32px;
        width: 32px;
    }

    .txtwide {
        width: 100%;
    }

    .fields {
        background-color: rgb(173,223,255);
        font-family: Tahoma,Arial,Helvetica,Verdana,sans-serif;
        font-size: 11px;
        vertical-align: top;
        background-repeat: no-repeat;
        padding: 4px;
        color: #545454;
        text-align: left;
    }

    .values {
        background-color: rgb(238,247,250);
        font-family: Tahoma,Arial,Helvetica,Verdana,sans-serif;
        font-size: 11px;
        vertical-align: top;
        background-repeat: no-repeat;
        padding: 4px;
        color: #000;
        text-align: left;
        font-weight: bold;
    }

    #container {
        padding-top: 2em;
    }

    .resetKButton {
        padding-bottom: .37em;
        padding-top: .37em;
    }
</style>
<style>
    @@media screen and (max-width: 768px) {
        #pnltree {
            width: 193%;
        }
    }

    @@media screen and (max-width: 720px) {
        #pnltree {
            width: 220%;
        }
    }

    @@media screen and (max-width: 360px) {
        #pnltree {
            width: 350%;
        }
    }
</style>
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.currentMemId)
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.MemberReport.MultiBinaryTreeView")
        </h1>
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-success">
                    <i class="fa fa-download"></i>
                    @T("Admin.Common.Export")
                </button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">&nbsp;</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <button type="submit" name="ExporttoExcelGeneologyBinaryIncome" id="ExporttoExcelGeneologyBinaryIncome">
                            <i class="fa fa-file-excel-o"></i>
                            @T("Admin.Common.GeneologyDetailsExport")
                        </button>
                    </li>
                    <li>
                        <button type="submit" name="ExporttoExcelVaccantPlaceBinaryIncome" id="ExporttoExcelVaccantPlaceBinaryIncome">
                            <i class="fa fa-file-excel-o"></i>
                            @T("Admin.Common.VancantPlacesExport")
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                @if (Model.TreeViewStatus.Contains("1"))
                                {
                                    <div class="col-md-2">
                                        <img src=@Model.BinaryIncomeImageUrl1 />
                                        @Model.BinaryIncome1

                                    </div>
                                }
                                @if (Model.TreeViewStatus.Contains("2"))
                                {
                                    <div class="col-md-2">
                                        <img src=@Model.BinaryIncomeImageUrl2 />
                                        @Model.BinaryIncome2
                                    </div>
                                }
                                @if (Model.TreeViewStatus.Contains("3"))
                                {
                                    <div class="col-md-2">
                                        <img src=@Model.BinaryIncomeImageUrl3 />
                                        @Model.BinaryIncome3
                                    </div>
                                }
                                @if (Model.TreeViewStatus.Contains("4"))
                                {
                                    <div class="col-md-2">
                                        <img src=@Model.BinaryIncomeImageUrl4 />

                                        @Model.BinaryIncome4

                                    </div>
                                }
                                @if (Model.TreeViewStatus.Contains("5"))
                                {
                                    <div class="col-md-2">
                                        <img src=@Model.BinaryIncomeImageUrl5 />
                                        @Model.BinaryIncome5
                                    </div>

                                }
                                @if (Model.TreeViewStatus.Contains("6"))
                                {
                                    <div class="col-md-2">
                                        <img src=@Model.BinaryIncomeImageUrl6 />
                                        @Model.BinaryIncome6
                                    </div>

                                }
                                @if (Model.TreeViewStatus.Contains("7"))
                                {
                                    <div class="col-md-2">
                                        <img src=@Model.BinaryIncomeImageUrl7 />
                                        @Model.BinaryIncome7
                                    </div>

                                }
                                @if (Model.TreeViewStatus.Contains("8"))
                                {
                                    <div class="col-md-2">
                                        <img src=@Model.BinaryIncomeImageUrl8 />
                                        @Model.BinaryIncome8
                                    </div>

                                }
                                @if (Model.TreeViewStatus.Contains("9"))
                                {
                                    <div class="col-md-2">
                                        <img src=@Model.BinaryIncomeImageUrl9 />
                                        @Model.BinaryIncome9
                                    </div>

                                }
                                @if (Model.TreeViewStatus.Contains("10"))
                                {
                                    <div class="col-md-2">
                                        <img src=@Model.BinaryIncomeImageUrl10 />
                                        @Model.BinaryIncome10
                                    </div>

                                }
                                @if (Model.TreeViewStatus.Contains("11"))
                                {
                                    <div class="col-md-2">
                                        <img src=@Model.BinaryIncomeImageUrl11 />
                                        @Model.BinaryIncome11
                                    </div>
                                }
                                @if (Model.TreeViewStatus.Contains("11"))
                                {
                                    <div class="col-md-2">
                                        <img src=@Model.BinaryIncomeImageUrl11 />
                                        @Model.BinaryIncome11
                                    </div>
                                }
                                @if (Model.TreeViewStatus1.Contains("0"))
                                {
                                    <div class="col-md-2">
                                        <img src=@Model.AvailableIconUrl />
                                        @T("Tree.Status.Available")
                                    </div>
                                }
                                @if (Model.TreeViewStatus1.Contains("1"))
                                {
                                    <div class="col-md-2">
                                        <img src=@Model.PaidIconUrl />
                                        @T("Tree.Status.Paid")
                                    </div>
                                }
                                @if (Model.TreeViewStatus1.Contains("2"))
                                {
                                    <div class="col-md-2">
                                        <img src=@Model.creditIconUrl />
                                        @T("Tree.Status.Credit")
                                    </div>
                                }
                                @if (Model.TreeViewStatus1.Contains("3"))
                                {
                                    <div class="col-md-2">
                                        <img src=@Model.redIconUrl />
                                        @T("Tree.Status.Unpaid")
                                    </div>
                                }

                                @if (Model.TreeViewStatus1.Contains("5"))
                                {
                                    <div class="col-md-2">
                                        <img src=@Model.FreeIconUrl />
                                        @T("Tree.Status.Free")
                                    </div>

                                }
                                @if (Model.TreeViewStatus1.Contains("6"))
                                {
                                    <div class="col-md-2">
                                        <img src=@Model.BlockedIconUrl />
                                        @T("Tree.Status.Blocked")
                                    </div>

                                }
                            </div>
                            <br />
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-8">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.SearchFirstName)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.SearchFirstName, new { @class = "txtwide" })
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                        @Html.HiddenFor(model => model.memNumber)
                                        @Html.HiddenFor(model => model.searchId)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-2">
                                <button type="button" name="search" id="search" class="btn btn-primary">
                                    <i class="fa fa-search"></i>
                                    @T("Tree.Search.Button")
                                </button>
                                <a href="@Url.Action("TreeViewForBinaryIncome", new { id=0})" class="btn btn-primary">@T("Admin.Common.Reset")</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel panel-default" id="divShowHide">
                    <div class="panel-body">
                        <div class="showNoteonlyMobileview" style="text-align: center">
                            <b style="color:red;font-weight:bold ;"> @T("Admin.Note.Note") </b> @T("Admin.MemberReport.TreeView.NoteForMobileRespinsive")
                        </div>
                        <div id="upPosstion">
                            <input type="button" id="searchUpTree" class="btn btn-primary" value="@T("Tree.Search.UpTree")" tabindex="1" />
                        </div>
                        <div id="ScrollableDiv" style="margin-top:2%;overflow-x:auto;">

                            <div class="col-md-12 col-sm-12">
                                <div id="container">
                                    <div class="row col-md-offset-1">
                                        <div id="pnltree">
                                            <table cellpadding="0" cellspacing="1" borderwidth="0" width="100%">
                                                <tr>
                                                    <td style="text-align:center" id="tdGetTree">
                                                        @if (Model.getTreestring != null)
                                                        {
                                                            @Html.Raw(Model.getTreestring)
                                                        }
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/content/treeview/wz_tooltip.js"></script>
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $("#validationMessages").hide();
        });
        $("#SearchFirstName").keydown(function (e) {
            if (e.which === 13) {

                $('#search').click()
                return false;
            }
        });

        function donothing() {
        }
        function fnSetText(NoF, fld1, fld2, fld3, fld4, fld5, fld6, fld7, fld8, fld9, fld10, fld11, fld12, fld13, fld14, fld15, fld16, fld17, fld18, fld19, fld20, fld21, fld22, fld23, fld24, fld25, fld26, fld27, fld28, fld29, fld30, fld31, fld32, exp1, exp2, exp3, exp4, exp5, exp6, exp7, exp8, exp9, exp10, exp11, exp12, exp13, exp14, exp15, exp16, exp17, exp18, exp19, exp20, exp21, exp22, exp23, exp24, exp25, exp26, exp27, exp28, exp29, exp30, exp31, exp32) {

            var Identity = '<%Response.Write((HttpContext.Application["MemberConvention"] != null ? HttpContext.Application["MemberConvention"].ToString : HttpContext.Application["Get_Inc"].ToString))%>';
            var n = +NoF;


            exp1 = exp1.trim();
            exp2 = exp2.trim();
            exp3 = exp3.trim();
            exp4 = exp4.trim();
            exp32 = exp32.trim();
            exp5 = exp5.trim();
            exp6 = exp6.trim();
            exp8 = exp8.trim();
            exp9 = exp9.trim();
            exp10 = exp10.trim();
            exp11 = exp11.trim();
            exp12 = exp12.trim();
            exp13 = exp13.trim();
            exp14 = exp14.trim();
            exp15 = exp15.trim();
            exp16 = exp16.trim();
            exp17 = exp17.trim();
            exp18 = exp18.trim();
            exp19 = exp19.trim();
            exp20 = exp20.trim();
            exp21 = exp21.trim();
            exp22 = exp22.trim();
            exp23 = exp23.trim();
            exp24 = exp24.trim();
            exp25 = exp25.trim();
            exp26 = exp26.trim();
            exp27 = exp27.trim();
            exp28 = exp28.trim();
            exp29 = exp29.trim();
            exp30 = exp30.trim();
            exp31 = exp31.trim();


            varString = "<table border='0' celpadding='1' cellspacing='0' >";

            if (exp1 != "") {
                varString += "<tr><td width='180' class='fields'>" + fld1 + "</td><td width='175' class='values'>&nbsp;" + exp1 + "</td></tr>";
            }

            if (exp2 != "") {
                varString += "<tr><td class='fields'>" + fld2 + "</td><td class='values'>&nbsp;" + exp2 + "</td></tr>";
            }

            if (exp3 != "") {
                varString += "<tr><td class='fields'>" + fld3 + "</b></td><td class='values'>&nbsp;" + exp3 + "</td></tr>";
            }

            if (exp4 != "") {
                varString += "<tr><td class='fields'>" + fld4 + "</b></td><td class='values'>&nbsp;" + exp4 + "</td></tr>";
            }

            if (exp32 != "") {
                varString += "<tr><td class='fields'>" + fld32 + "</b></td><td class='values'>&nbsp;" + exp32 + "</td></tr>";
            }

            if (exp5 != "") {
                varString += "<tr><td class='fields'>" + fld5 + "</b></td><td class='values'>&nbsp;" + exp5 + "</td></tr>";
            }

            if (exp6 != "") {
                varString += "<tr><td class='fields'>" + fld6 + "</b></td><td class='values'>&nbsp;" + exp6 + "</td></tr>";

            }

            if (exp7 != "") {
                varString += "<tr><td class='fields'>" + fld7 + "</b></td><td class='values'>&nbsp;" + exp7 + "</td></tr>";
            }
            if (exp8 != "") {
                varString += "<tr><td class='fields'>" + fld8 + "</b></td><td class='values'>&nbsp;" + exp8 + "</td></tr>";
            }
            if (exp9 != "") {
                varString += "<tr><td class='fields'>" + fld9 + "</b></td><td class='values'>&nbsp;" + exp9 + "</td></tr>";
            }
            if (exp10 != "") {
                varString += "<tr><td class='fields'>" + fld10 + "</b></td><td class='values'>&nbsp;" + exp10 + "</td></tr>";
            }
            if (exp11 != "") {
                varString += "<tr><td class='fields'>" + fld11 + "</b></td><td class='values'>&nbsp;" + exp11 + "</td></tr>";
            }
            if (exp12 != "") {
                varString += "<tr><td class='fields'>" + fld12 + "</b></td><td class='values'>&nbsp;" + exp12 + "</td></tr>";
            }
            if (exp13 != "") {
                varString += "<tr><td class='fields'>" + fld13 + "</b></td><td class='values'>&nbsp;" + exp13 + "</td></tr>";
            }
            if (exp14 != "") {
                varString += "<tr><td class='fields'>" + fld14 + "</b></td><td class='values'>&nbsp;" + exp14 + "</td></tr>";
            }
            if (exp15 != "") {
                varString += "<tr><td class='fields'>" + fld15 + "</b></td><td class='values'>&nbsp;" + exp15 + "</td></tr>";
            }
            if (exp16 != "") {
                varString += "<tr><td class='fields'>" + fld16 + "</b></td><td class='values'>&nbsp;" + exp16 + "</td></tr>";
            }
            if (exp17 != "") {
                varString += "<tr><td class='fields'>" + fld17 + "</b></td><td class='values'>&nbsp;" + exp17 + "</td></tr>";
            }
            if (exp18 != "") {
                varString += "<tr><td class='fields'>" + fld18 + "</b></td><td class='values'>&nbsp;" + exp18 + "</td></tr>";
            }
            if (exp19 != "") {
                varString += "<tr><td class='fields'>" + fld19 + "</b></td><td class='values'>&nbsp;" + exp19 + "</td></tr>";
            }
            if (exp20 != "") {
                varString += "<tr><td class='fields'>" + fld20 + "</b></td><td class='values'>&nbsp;" + exp20 + "</td></tr>";
            }
            if (exp21 != "") {
                varString += "<tr><td class='fields'>" + fld21 + "</b></td><td class='values'>&nbsp;" + exp21 + "</td></tr>";
            }
            if (exp22 != "") {
                varString += "<tr><td class='fields'>" + fld22 + "</b></td><td class='values'>&nbsp;" + exp22 + "</td></tr>";
            }
            if (exp23 != "") {
                varString += "<tr><td class='fields'>" + fld23 + "</b></td><td class='values'>&nbsp;" + exp23 + "</td></tr>";
            }
            if (exp24 != "") {
                varString += "<tr><td class='fields'>" + fld24 + "</b></td><td class='values'>&nbsp;" + exp24 + "</td></tr>";
            }
            if (exp25 != "") {
                varString += "<tr><td class='fields'>" + fld25 + "</b></td><td class='values'>&nbsp;" + exp25 + "</td></tr>";
            }
            if (exp26 != "") {
                varString += "<tr><td class='fields'>" + fld26 + "</b></td><td class='values'>&nbsp;" + exp26 + "</td></tr>";
            }
            if (exp27 != "") {
                varString += "<tr><td class='fields'>" + fld27 + "</b></td><td class='values'>&nbsp;" + exp27 + "</td></tr>";
            }
            if (exp28 != "") {
                varString += "<tr><td class='fields'>" + fld28 + "</b></td><td class='values'>&nbsp;" + exp28 + "</td></tr>";
            }
            if (exp29 != "") {
                varString += "<tr><td class='fields'>" + fld29 + "</b></td><td class='values'>&nbsp;" + exp29 + "</td></tr>";
            }
            if (exp30 != "") {
                varString += "<tr><td class='fields'>" + fld30 + "</b></td><td class='values'>&nbsp;" + exp30 + "</td></tr>";
            }
            if (exp31 != "") {
                varString += "<tr><td class='fields'>" + fld31 + "</b></td><td class='values'>&nbsp;" + exp31 + "</td></tr>";
            }

            varString += "</table>";
            Tip(varString);
            //		    alert(varString);

        }

        //  $(".message-box-error").hide();


        $('#SearchFirstName').autocomplete({
            delay: 500,
            minLength: 1,
            @*source: '@(Url.Action("SearchTermAutoComplete","MemberReports"))',*@
            source: '@(Url.Action("SearchTermAutoCompleteDownline", "Common"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                $("#searchId").val(ui.item.Id);
                $("#SearchFirstName").val(ui.item.label);
                $("#memNumber").val(ui.item.MJD_MemNo);

                $("#divfirstname").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };

        $('#search').on('click', (function () {
            $('#validationMessages').html('');

            var validationDivs = '';
            if ($("#SearchFirstName").val() == "") {
                //  alert("Enter Valid ID/Name");"
                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("Admin.TreeView.IDName")</div>';
                $('#validationMessages').append(validationDivs);
                return;

            }
            else {
                $("#validationMessages").hide();
            }

            var id = $("#searchId").val();
            var SearchFirstName = $("#SearchFirstName").val();
            var data = { searchId: id, SearchFirstName: SearchFirstName };

            addAntiForgeryToken(data);
            $.ajax({
                type: "POST",
                data: data,
                dataType: "json",
                url: '@(Url.Action("TreeViewShowBinaryIncome", "MemberReports"))',
                success: function (d) {

                    if (d.CurrentMemNo == d.memnos) {
                        $('#upPosstion').hide();
                        $('#currentMemId').val(d.CurrentMemNo);
                    }
                    else {
                        $('#upPosstion').show();
                        $('#currentMemId').val(d.CurrentMemNo);
                    }
                    if (d == "validID") {
                        //  alert("Enter Valid ID");
                        $('#validationMessages').show();
                        validationDivs = validationDivs + '<div>@T("Admin.TreeView.IDName")</div>';
                        $('#validationMessages').append(validationDivs);
                        $("#SearchFirstName").val("");
                        $("#SearchFirstName").focus();

                        return;
                    }
                    if (d == "invalidID") {
                        //  alert("Enter Valid ID");
                        $('#validationMessages').show();
                        validationDivs = validationDivs + '<div>@T("Admin.TreeView.InvalidIDName")</div>';
                        $('#validationMessages').append(validationDivs);
                        $("#SearchFirstName").val("");
                        $("#SearchFirstName").focus();

                        return;
                    }

                    $("#tdGetTree").html(d.getTreestring);

                },
                error: function (xhr, ajaxOptions, thrownError) {

                }
            });
        }));

        $('#tbTree').attr('cellspacing', "1");
        if ($('#currentMemId').val() == $('#position0').text()) {

            $('#upPosstion').hide();
        }
        else {
            $('#upPosstion').show();
        }

        $(document).ready(function () {
            if ($('#currentMemId').val() == $('#position0').text()) {

                $('#upPosstion').hide();
            }
            else {
                $('#upPosstion').show();
            }
        });
        $('#searchUpTree').on('click', (function () {
            
            var id = $("#searchId").val();
            var SearchFirstName = $('#position0').text();
            var data = { searchId: id, SearchFirstName: SearchFirstName };
            addAntiForgeryToken(data);
            $.ajax({
                type: "POST",
                data: data,
                dataType: "json",
                url: '@(Url.Action("TreeViewShowBinaryIncomeOnUpPossition", "MemberReports"))',
                success: function (d) {

                    if ($('#currentMemId').val() == d.memnos) {
                        $('#upPosstion').hide();
                    }
                    else {
                        $('#upPosstion').show();
                    }

                   if (d == "validID") {
                        //  alert("Enter Valid ID");
                        $('#validationMessages').show();
                        validationDivs = validationDivs + '<div>@T("Admin.TreeView.IDName")</div>';
                        $('#validationMessages').append(validationDivs);
                        $("#SearchFirstName").val("");
                        $("#SearchFirstName").focus();

                        return;
                    }
                    if (d == "invalidID") {
                        //  alert("Enter Valid ID");
                        $('#validationMessages').show();
                        validationDivs = validationDivs + '<div>@T("Admin.TreeView.InvalidIDName")</div>';
                        $('#validationMessages').append(validationDivs);
                        $("#SearchFirstName").val("");
                        $("#SearchFirstName").focus();

                        return;
                    }

                    $("#tdGetTree").html(d.getTreestring);

                },
                error: function (xhr, ajaxOptions, thrownError) {

                }
            });
        }));
    </script>
}

@*// $("table td .box")
        //$(".cssMemberClick").click(function () {
        //        var getId = $(this).data("id");

        //        console.log(getId);
        //        cssMemberclick(getId)
    $('.cssMemberRgister').attr('href', "@(Url.Action("TreeView", "MemberReports"))" + "/?getIDPosition=" + getId);
        //});
    $(".cssMemberRgister").on("click", function (e) {
            e.preventDefault();
            var getPosition = $(this).data("position");
            var getId = $(this).data("id") + "/" + getPosition; alert(getId);

            $('.cssMemberRgister').attr('href', function () {

                return "@(Url.Action("TreeView", "MemberReports"))" + "/?getIDPosition=" + getId;


            });


        });
        //$(".cssMemberClick").click(function () {
        //    var getId = $(this).data("id");
        //    cssMemberclick(getId);

        //})*@
