﻿@model Nop.Admin.ViewModel.UpgradePackageReport
    @{
        ViewBag.Title = "ViewImage";
        Layout = null;
    }

    <div style="width:100%;height:100%">
        <img src="@Model.PictureThumbnailUrl" height="100%" width="100%" />
    </div>