﻿@using GetThis.Models
@model CashBackMasterView
@{
    Layout = null;
    ViewBag.Title = "Add CashBack";
    bool masterscreen = false;
    string CardTitle = "", buttonclass = "";

    if (Model.Id == 0) { masterscreen = true; }

    if (masterscreen)
    {
        CardTitle = "Add New";
        buttonclass = "col-xs-9 col-sm-4 col-md-4";
    }
    else
    {
        CardTitle = "Edit";
        buttonclass = "col-xs-9 col-sm-4 col-md-4";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_HeadTagPartial", new ViewDataDictionary { { "stylebundle", "" }, { "pagetitle", ViewBag.Title } })
</head>
<body>
    <div class="container modal-content-area">
        <br />
        @using (Html.BeginForm("AddCashBack", "Admin", FormMethod.Get, new { @id = "AddCashBack", @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <div class="card">
                <div class="header red">
                    <h4 class="title text-white">@CardTitle</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-10 col-sm-10 col-xs-12 no-float center-block">
                            <div class="form-group">
                                <label for="Code" class="col-sm-5 control-label"><span class="text-red">*&nbsp;</span>Unique Code</label>
                                <div class="col-sm-7 col-xs-12">
                                    @Html.TextBoxFor(m => m.Code, new { @type = "text", @class = "form-control", @placeholder = "Enter a Code", @maxlength = "6" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="selTransaction" class="col-sm-5 control-label"><span class="text-red">*&nbsp;</span>Transaction</label>
                                <div class="col-sm-7 col-xs-12">
                                    <select id="selTransaction" name="selTransaction" class="width-100p">
                                        <option value="">Select Option</option>
                                        @if (ViewData["AppTransactionMaster"] != null)
                                        {
                                            foreach (var item in ViewData["AppTransactionMaster"] as List<AppTransactionMasterView>)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div id="divRechargeOperator" style="display:none">
                                <div class="form-group">
                                    <label for="selRechargeOperator" class="col-sm-5 control-label"><span class="text-red">*&nbsp;</span>Operator</label>
                                    <div class="col-sm-7 col-xs-12">
                                        <select id="selRechargeOperator" name="selRechargeOperator" class="width-100p">
                                            <option value="">Select Option</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="divFlightType" style="display:none">
                                <div class="form-group">
                                    <label for="selFlightType" class="col-sm-5 control-label"><span class="text-red">*&nbsp;</span>Flight Type</label>
                                    <div class="col-sm-7 col-xs-12">
                                        <select id="selFlightType" name="selFlightType" class="width-100p">
                                            <option value="">Select Option</option>
                                            <option value="1">Domestic</option>
                                            <option value="2">International</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="divAirline" style="display:none">
                                <div class="form-group">
                                    <label for="selAirline" class="col-sm-5 control-label"><span class="text-red">*&nbsp;</span>Operator</label>
                                    <div class="col-sm-7 col-xs-12">
                                        <select id="selAirline" name="selAirline" class="width-100p">
                                            <option value="">Select Option</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="divPercentage" class="form-group">
                                <label for="Percentage" class="col-sm-5 control-label"><span class="text-red">*&nbsp;</span>Percentage (%)</label>
                                <div class="col-sm-7 col-xs-12">
                                    @Html.TextBoxFor(m => m.Percentage, new { @type = "text", @class = "form-control", @placeholder = "Enter a Percentage", @maxlength = "3" })
                                </div>
                            </div>
                            <div id="divMaxAmount" class="form-group">
                                <label for="MaxAmount" class="col-sm-5 control-label"><span class="text-red">*&nbsp;</span>Max. Cashback Amount (In <i class="fa fa-rupee"></i>)</label>
                                <div class="col-sm-7 col-xs-12">
                                    @Html.TextBoxFor(m => m.MaxAmount, new { @type = "text", @class = "form-control", @placeholder = "Enter an Amount", @maxlength = "4" })
                                </div>
                            </div>
                            <div id="divReferrerAmt" class="form-group" style="display:none">
                                <label for="ReferrerAmt" class="col-sm-5 control-label"><span class="text-red">*&nbsp;</span>Member Earn (Referrer) (In <i class="fa fa-rupee"></i>)</label>
                                <div class="col-sm-7 col-xs-12">
                                    @Html.TextBoxFor(m => m.ReferrerAmt, new { @type = "text", @class = "form-control", @placeholder = "Enter an Amount", @maxlength = "5" })
                                </div>
                            </div>
                            <div id="divReferredAmt" class="form-group" style="display:none">
                                <label for="ReferredAmt" class="col-sm-5 control-label"><span class="text-red">*&nbsp;</span>Friend Earns (Referred) (In <i class="fa fa-rupee"></i>)</label>
                                <div class="col-sm-7 col-xs-12">
                                    @Html.TextBoxFor(m => m.ReferredAmt, new { @type = "text", @class = "form-control", @placeholder = "Enter an Amount", @maxlength = "5" })
                                </div>
                            </div>
                            <div id="divExpiryDays" class="form-group">
                                <label for="ExpiryDays" class="col-sm-5 control-label"><span class="text-red">*&nbsp;</span>Expiry (No. of Days)</label>
                                <div class="col-sm-7 col-xs-12">
                                    @Html.TextBoxFor(m => m.ExpiryDays, new { @type = "text", @class = "form-control", @placeholder = "Enter No. of Days", @maxlength = "3" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label"><span class="text-red">*&nbsp;</span>Status</label>
                                <div class="col-sm-7 col-xs-12">
                                    <label for="StatusActive" class="radio-inline">
                                        <input type="radio" id="StatusActive" name="Status" value="1" /><span>Active</span>
                                    </label>
                                    <label for="StatusInActive" class="radio-inline">
                                        <input type="radio" id="StatusInActive" name="Status" value="0" /><span>In-Active</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Description" class="col-sm-5 control-label"><span class="text-red">*&nbsp;</span>Description</label>
                                <div class="col-sm-7 col-xs-12">
                                    @Html.TextAreaFor(m => m.Description, new { @type = "text", @class = "form-control", @placeholder = "Enter a Description", @maxlength = "300" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 col-xs-12">
                                    <ul>
                                        <b style="margin-left: -11px"><span class="text-red">* </span>Note:</b>
                                        <li><u><%referral-code%></u> - variable to use in description to display dynamic value of <b>Unique Code</b></li>
                                        <li><u><%cb-percentage%></u> - variable to use in description to display dynamic value of <b>Percentage</b></li>
                                        <li><u><%cb-maxamount%></u> - variable to use in description to display dynamic value of <b>Max. Cashback Amount</b></li>
                                        <li><u><%your-amount%></u> - variable to use in description to display dynamic value of <b>Member Earn (Referrer)</b></li>
                                        <li><u><%friend-amount%></u> - variable to use in description to display dynamic value of <b>Friend Earns (Referred)</b></li>
                                        <li><u><%expiry-days%></u> - variable to use in description to display dynamic value of <b>Expiry (No. of Days)</b></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="@buttonclass no-float center-block">
                <button id="btnSave" type="submit" name="btnSave" class="btn green lighten-1" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>&nbsp;Please wait...">
                    <span class="btn-label">
                        <i class="fa fa-check"></i>
                    </span>
                    @if (masterscreen)
                    {
                        <span>Save</span>
                    }
                    else
                    {
                        <span>Update</span>
                    }
                </button>

                <button id="btnReset" type="reset" name="btnReset" class="btn">
                    <span class="btn-label">
                        <i class="fa fa-times"></i>
                    </span>
                    Reset
                </button>
            </div>
            <br />
        }
    </div>
    @Html.Partial("_ScriptInclude")
    @Scripts.Render("~/adminjs")
    <script type="text/javascript">
        var sblbtn = $("#btnSave"), formId = "#AddCashBack", rechargeOperator = [],
            flightOperator = [],
            ro = {};

        @if(ViewData["RechargeOperatorMaster"] != null)
        {
            foreach (var item in ViewData["RechargeOperatorMaster"] as List<RechargeOperatorMasterView>)
            {
                @:ro = {};
                                @:ro.Id = @item.Id;
                                @:ro.TypeId = @item.TypeId;
                                @:ro.Name = '@item.Name';
                                @:rechargeOperator.push(ro);
                            }
        }
        //console.log(rechargeOperator);

        @if(ViewData["AirlineMaster"] != null)
        {
            foreach (var item in ViewData["AirlineMaster"] as List<AirlineMasterView>)
            {
                @:ro = {};
                                @:ro.Id = @item.Id;
                                @:ro.Code = '@item.Code';
                                @:ro.Name = '@item.Name';
                                @:ro.IsDomestic = ('@item.IsDomestic').toLowerCase() == 'true' ? true : false;
                                @:flightOperator.push(ro);
                            }
        }
        $(document).ready(function () {
            var modelId = parseInt('@Model.Id');
            $("#btnReset").on('click', function (e) {
                window.location = '@Request.Url';
            });
            $("#Code").on('keyup', function (e) {
                $(this).val($(this).val().trim().toUpperCase());
            });
            $('#selTransaction').on('change', function (e) {
                var val = $(this).val();
                if (val == '') {
                    $("#divRechargeOperator").slideUp();
                    $("#divFlightType").slideUp();
                    $("#divAirline").slideUp();

                    $("#divReferrerAmt").slideUp();
                    $("#divReferredAmt").slideUp();

                    $("#divPercentage").slideDown();
                    $("#divMaxAmount").slideDown();
                }

                if (val != '') {
                    $("#divFlightType").slideUp();
                    if(modelId == 0){
                        $('#selFlightType').val('').trigger('change');
                        $('#selAirline').val('').trigger('change');
                        $('#ReferrerAmt').val('');
                        $('#ReferredAmt').val('');
                    }
                    if (parseInt(val) > 7){
                        $("#divRechargeOperator").slideUp();
                        if(modelId == 0)
                            $('#selRechargeOperator').val('').trigger('change');
                    }

                    if (parseInt(val) <= 7) {
                        $("#divRechargeOperator").slideDown();
                        $("#selRechargeOperator").empty();
                        var opr = $.grep(rechargeOperator, function (e) { return e.TypeId == parseInt(val); });
                        //console.log(opr.length);
                        if (opr.length > 0) {
                            $("#selRechargeOperator").append('<option value="">Select Option</option>');
                            for (var i = 0; i < opr.length; i++) {
                                $("#selRechargeOperator").append('<option value="' + opr[i].Id + '">' + opr[i].Name + '</option>');
                            }
                        }
                    }
                    if (parseInt(val) == 8)
                        $("#divFlightType").slideDown();

                    if (parseInt(val) == 11) {
                        $("#divReferrerAmt").slideDown();
                        $("#divReferredAmt").slideDown();

                        $("#divPercentage").slideUp();
                        $("#divMaxAmount").slideUp();

                        if(modelId == 0){
                            $('#Percentage').val('');
                            $('#MaxAmount').val('');
                        }
                    }
                    else {
                        $("#divPercentage").slideDown();
                        $("#divMaxAmount").slideDown();

                        $("#divReferrerAmt").slideUp();
                        $("#divReferredAmt").slideUp();

                        if(modelId == 0){
                            $('#ReferrerAmt').val('');
                            $('#ReferredAmt').val('');
                        }
                    }
                }
            });
            $('#selFlightType').on('change', function (e) {
                var val = $(this).val();
                if (val == '')
                    $("#divAirline").slideUp();
                if(modelId == 0)
                    $('#selAirline').val('').trigger('change');
                if (val != '') {
                    $("#divAirline").slideDown();
                    $("#selAirline").empty();
                    var opr = $.grep(flightOperator, function (e) { return e.IsDomestic == (parseInt(val) == 1 ? true : false); });
                    //console.log(opr.length);
                    if (opr.length > 0) {
                        $("#selAirline").append('<option value="">Select Option</option>');
                        for (var i = 0; i < opr.length; i++) {
                            $("#selAirline").append('<option value="' + opr[i].Id + '">' + opr[i].Name + '</option>');
                        }
                    }
                }
            });
            if (modelId > 0) {
                var transId = parseInt('@Model.TransactionId');
                if (transId > 0)
                    $("#selTransaction").val(transId).trigger('change');
                var fTypeId = parseInt('@(Model.FlightType == null ? 0 : Model.FlightType )');
                if (fTypeId > 0)
                    $("#selFlightType").val(fTypeId).trigger('change');
                var operatorId = parseInt('@(Model.OperatorId == null ? 0 : Model.OperatorId )');
                if (operatorId > 0){
                    if (transId <= 7)
                        $("#selRechargeOperator").val(operatorId).trigger('change');
                    if (transId == 8)
                        $("#selAirline").val(operatorId).trigger('change');
                }
                var status = (('@Model.Status').toLowerCase() === "true");
                if (status)
                    $('input:radio[name=Status]')[0].checked = true;
                else
                    $('input:radio[name=Status]')[1].checked = true;
                $("#Percentage").val($("#Percentage").val().replace('.00', ''));
                $("#MaxAmount").val($("#MaxAmount").val().replace('.00', ''));
                $("#ReferrerAmt").val($("#ReferrerAmt").val().replace('.00', ''));
                $("#ReferredAmt").val($("#ReferredAmt").val().replace('.00', ''));
            }
            $(formId).validate({
                rules: {
                    Code: {
                        required: {
                            depends: function (e) {
                                $(this).val($(this).val().trim().toUpperCase());
                                return true;
                            }
                        },
                        regex: /^[A-Za-z0-9]+$/,
                        rangelength: [6, 6]
                    },
                    selTransaction: {required: true},
                    selFlightType: {
                        required: {
                            depends: function () {
                                return document.getElementById("selTransaction").value == '8';
                            }
                        },
                    },
                    Description: {
                        required: {
                            depends: function (e) {
                                $(this).val($(this).val().trim());
                                return true;
                            }
                        },
                        regex: /^[A-Za-z0-9\s\.\,\(\)\<\>\%\&\*\@@\/\-\?\:\"\'\;\[\]\+\_\#\!]+$/,
                        rangelength: [2, 300]
                    },
                    Percentage: {
                        required: {
                            depends: function (e) {
                                $(this).val($(this).val().trim());
                                return document.getElementById("selTransaction").value != '' && parseInt(document.getElementById("selTransaction").value) <= 10;
                            }
                        },
                        regex: /^[0-9\.]+$/,
                        min: {
                            depends: function (element) {
                                if(document.getElementById("selTransaction").value != '' && parseInt(document.getElementById("selTransaction").value) <= 10)
                                    return 1;
                                else
                                    return 0;
                            }
                        },
                        max: 100,
                    },
                    MaxAmount: {
                        required: {
                            depends: function (e) {
                                $(this).val($(this).val().trim());
                                return document.getElementById("selTransaction").value != '' && parseInt(document.getElementById("selTransaction").value) <= 10;
                            }
                        },
                        regex: /^[0-9]+$/,
                        min: {
                            depends: function (element) {
                                if(document.getElementById("selTransaction").value != '' && parseInt(document.getElementById("selTransaction").value) <= 10)
                                    return 1;
                                else
                                    return 0;
                            }
                        },
                    },
                    ReferrerAmt: {
                        required: {
                            depends: function (e) {
                                $(this).val($(this).val().trim());
                                return document.getElementById("selTransaction").value != '' && parseInt(document.getElementById("selTransaction").value) == 11;
                            }
                        },
                        regex: /^[0-9]+$/,
                        min: {
                            depends: function (element) {
                                if(document.getElementById("selTransaction").value != '' && parseInt(document.getElementById("selTransaction").value) == 11)
                                    return 1;
                                else
                                    return 0;
                            }
                        },
                    },
                    ReferredAmt: {
                        required: {
                            depends: function (e) {
                                $(this).val($(this).val().trim());
                                return document.getElementById("selTransaction").value != '' && parseInt(document.getElementById("selTransaction").value) == 11;
                            }
                        },
                        regex: /^[0-9]+$/,
                        min: {
                            depends: function (element) {
                                if(document.getElementById("selTransaction").value != '' && parseInt(document.getElementById("selTransaction").value) == 11)
                                    return 1;
                                else
                                    return 0;
                            }
                        },
                    },
                    ExpiryDays: {
                        required: {
                            depends: function (e) {
                                return document.getElementById("selTransaction").value != '' && parseInt(document.getElementById("selTransaction").value) <= 11;
                            }
                        },
                        regex: /^[0-9]+$/,
                    },
                    Status: { required: true },
                },
                messages: {
                    Code: { required: "Enter a Unique Code" },
                    selTransaction: { required: "Select a Transaction" },
                    selFlightType: { required: "Select Flight Type" },
                    Percentage: { required: "Enter a number between 1 to 100" },
                    MaxAmount: { required: "Enter an Amount" },
                    ExpiryDays: { required: "Enter No. of days" },
                    ReferrerAmt: { required: "Enter an Amount" },
                    ReferredAmt: { required: "Enter an Amount" },
                    Status: { required: "Select Status" },
                    Description: { required: "Enter a Description" },
                }
            });

            $(formId).on('submit', function (e) {
                var isvalidate = $(this).valid();
                if (isvalidate) {
                    //debugger;
                    var obj = new Object();
                    obj.Id = $("#Id").val().trim();
                    obj.Code = $("#Code").val().trim();
                    obj.TransactionId = $("#selTransaction :selected").val();
                    obj.FlightType = $("#selFlightType :selected").val() == '' ? null : $("#selFlightType :selected").val();
                    obj.OperatorId = null;
                    if(parseInt(obj.TransactionId) <= 7)
                        obj.OperatorId = $("#selRechargeOperator :selected").val() == '' ? null : $("#selRechargeOperator :selected").val();
                    if(parseInt(obj.TransactionId) == 8)
                        obj.OperatorId = $("#selAirline :selected").val() == '' ? null : $("#selAirline :selected").val();
                    obj.Description = $("#Description").val().trim();
                    obj.Percentage = $("#Percentage").val().trim() == '' ? '0' : $("#Percentage").val().trim();
                    obj.MaxAmount = $("#MaxAmount").val().trim() == '' ? '0' : $("#MaxAmount").val().trim();
                    obj.ReferrerAmt = $("#ReferrerAmt").val().trim() == '' ? '0' : $("#ReferrerAmt").val().trim();
                    obj.ReferredAmt = $("#ReferredAmt").val().trim() == '' ? '0' : $("#ReferredAmt").val().trim();
                    obj.ExpiryDays = $("#ExpiryDays").val().trim() == '' ? '0' : $("#ExpiryDays").val().trim();
                    obj.Status = $('input:radio[name=Status]:checked').val() == 1 ? true : false;

                    //alert(JSON.stringify(obj))
                    //console.log(JSON.stringify(obj));
                    //return false;

                    var $btn = sblbtn.button('loading');
                    sblbtn.prop("disabled", true);

                    $.ajax({
                        url: apiPath + "/AddCashBack",
                        type: "POST",
                        dataType: "JSON",
                        data: JSON.stringify(obj),
                        //data: data,
                        contentType: "application/json",
                        success: function (data, textStatus, xhr) {
                            $btn.button('reset')
                            sblbtn.attr("disabled", false);
                            if (data != '') {
                                bootalert(data, 'error');
                            }
                            else {
                                window.parent.ReloadDataGrid();
                                if (obj.Id > 0) {
                                    bootalert('Offer details updated successfully.', 'success');
                                }
                                else {
                                    bootalert('Offer created successfully.', 'success');
                                }
                                setTimeout(function () {
                                    parent.CloseiFrameModal();
                                }, 2000);
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            if (errorThrown == '')
                                errorThrown = 'Connection is not available.';
                            $btn.button('reset')
                            sblbtn.prop("disabled", false);
                            bootalert(errorThrown, 'error');
                        }
                    });
                }
                e.preventDefault();
            });

            function ResetThisForm(formId) {
                ResetForm(formId);
            }
        });
    </script>
</body>
</html>
