﻿@using GetThis.Models
@{
    ViewBag.Title = "Deduction Master";
    ViewBag.PageTitle = "Deduction Master";
    ViewBag.Breadcrumb_L1 = "Deduction Master";
    ViewBag.Breadcrumb_L2 = "";
    ViewBag.Breadcrumb_L3 = "";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    List<RechargeChargesMasterView> rcm = null;
    if (ViewData["RechargeChargesMaster"] != null)
    {
        rcm = ViewData["RechargeChargesMaster"] as List<RechargeChargesMasterView>;
    }

    List<RechargeOperatorMasterView> romv = null;
    if (ViewData["RechargeOperatorMaster"] != null)
    {
        romv = ViewData["RechargeOperatorMaster"] as List<RechargeOperatorMasterView>;
    }

    List<RechargeChargesDetailsView> rcdv = null;
    if (ViewData["RechargeChargesDetails"] != null)
    {
        rcdv = ViewData["RechargeChargesDetails"] as List<RechargeChargesDetailsView>;
    }

    List<AirlineMasterView> amv = null;
    if (ViewData["AirlineMaster"] != null)
    {
        amv = ViewData["AirlineMaster"] as List<AirlineMasterView>;
    }

    List<FlightChargesDetailsView> fcdv = null;
    if (ViewData["FlightChargesDetails"] != null)
    {
        fcdv = ViewData["FlightChargesDetails"] as List<FlightChargesDetailsView>;
    }

    List<BusChargesDetailsView> bcdv = null;
    if (ViewData["BusChargesDetails"] != null)
    {
        bcdv = ViewData["BusChargesDetails"] as List<BusChargesDetailsView>;
    }
}
@using (Html.BeginForm("ChargesMaster", "Admin", FormMethod.Get, new { @id = "frmChargesMaster", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="hdn100" name="hdn100" value="100" />
    <input type="hidden" id="transType" name="transType" value="1" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-10 no-float center-block">
                <ul class="nav nav-tabs slide-tabs center-block no-margin-bottom" role="tablist">
                    <li class="active" style="width:33.33%">
                        <a class="nav-link waves-light" data-toggle="tab" href="#Recharge" role="tab">Recharge</a>
                    </li>
                    <li style="width:33.33%">
                        <a class="nav-link waves-light" data-toggle="tab" href="#Flight" role="tab">Flight</a>
                    </li>
                    <li style="width:33.33%">
                        <a class="nav-link waves-light" data-toggle="tab" href="#Bus" role="tab">Bus</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <br />
                    <div class="tab-pane fade in active" id="Recharge" role="tabpanel">
                        <table id="tableResults" class="table table-striped table-bordered display responsive nowrap" border="0" cellpadding="6" style="width:80%;margin:0 auto">
                            <thead class="red text-white">
                                <tr>
                                    <th class="text-center">Sr. No.</th>
                                    <th>Operator Name</th>
                                    @foreach (var masters in rcm)
                                    {
                                        <th class="text-center">@masters.Name @masters.IsAmountName</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 0, j = 1;
                                    decimal val = 0;
                                    foreach (var operators in romv)
                                    {
                                        if (i == 0)
                                        {
                                            <tr>
                                                <th colspan="4">@operators.TypeName</th>
                                            </tr>
                                        }
                                        else if (operators.TypeName != romv[i - 1].TypeName)
                                        {
                                            j = 1;
                                            <tr>
                                                <th colspan="4">@operators.TypeName</th>
                                            </tr>
                                        }
                                        <tr>
                                            <td class="text-center">@(j)</td>
                                            <td>@operators.Name</td>
                                            @foreach (var masters in rcm)
                                            {
                                                val = 0;
                                                RechargeChargesDetailsView rcdva = null;
                                                if (rcdv != null)
                                                {
                                                    rcdva = rcdv.Where(x => x.ChargeId == masters.Id && x.TypeId == operators.TypeId && x.OperatorId == operators.Id).FirstOrDefault<RechargeChargesDetailsView>();
                                                }
                                                if (rcdva != null)
                                                {
                                                    val = rcdva.Value;
                                                }
                                                <td class="text-center">
                                                    <input type="text" data-chargeid="@masters.Id" data-isamount="@(masters.IsAmount ? "1" : "0")" data-typeid="@operators.TypeId" data-operatorid="@operators.Id" id="txt_@(masters.Id)_@(operators.TypeId)_@(operators.Id)" name="txt_@(masters.Id)_@(operators.TypeId)_@(operators.Id)" class="@(masters.IsAmount ? "recharge_amount" : "recharge_percentage") text-right charge-type-operator-value @(val > 0 ? "bg-danger-dark-1" : "")" value="@(val == 0 ? "0.00" : val.ToString())" maxlength="6" style="width:60px @(val > 0 ? ";padding:2px;border:1px solid #a9a9a9" : "")" />
                                                </td>
                                            }
                                        </tr>
                                        i++;
                                        j++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="Flight" role="tabpanel">
                        <table id="tableResultsFlight" class="table table-striped table-bordered display responsive nowrap" border="0" cellpadding="6" style="width:80%;margin:0 auto">
                            <thead class="red text-white">
                                <tr>
                                    <th class="text-center">Sr. No.</th>
                                    <th>Operator Name</th>
                                    <th>(In %)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    i = 0; j = 1; val = 0;
                                    foreach (var operators in amv)
                                    {
                                        if (i == 0)
                                        {
                                            <tr>
                                                <th colspan="4">@operators.IsDomesticName Flight operator</th>
                                            </tr>
                                        }
                                        else if (operators.IsDomesticName != amv[i - 1].IsDomesticName)
                                        {
                                            j = 1;
                                            <tr>
                                                <th colspan="4">@operators.IsDomesticName Flight operator</th>
                                            </tr>
                                        }
                                        <tr>
                                            <td class="text-center">@(j)</td>
                                            <td>@operators.Name</td>
                                            @{
                                                val = 0;
                                                FlightChargesDetailsView fcdva = null;
                                                if (fcdv != null)
                                                {
                                                    fcdva = fcdv.Where(x => x.TypeId == (operators.IsDomestic == true ? 1 : 2) && x.OperatorId == operators.Id).FirstOrDefault<FlightChargesDetailsView>();
                                                }
                                                if (fcdva != null)
                                                {
                                                    val = fcdva.Value;
                                                }
                                                <td class="text-center">
                                                    <input type="text" data-typeid="@(operators.IsDomestic == true ? 1 : 2)" data-operatorid="@operators.Id" id="txtF_@(operators.IsDomestic == true ? 1 : 2)_@(operators.Id)" name="txtF_@(operators.IsDomestic == true ? 1 : 2)_@(operators.Id)" class="flight_percentage text-right type-operator-value @(val > 0 ? "bg-danger-dark-1" : "")" value="@(val == 0 ? "0.00" : val.ToString())" maxlength="6" style="width:60px @(val > 0 ? ";padding:2px;border:1px solid #a9a9a9" : "")" />
                                                </td>
                                            }
                                        </tr>
                                        i++;
                                        j++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="Bus" role="tabpanel">
                        <table id="tableResultsBus" class="table table-striped table-bordered display responsive nowrap" border="0" cellpadding="6" style="width:80%;margin:0 auto">
                            <thead class="red text-white">
                                <tr>
                                    <th class="text-center">Sr. No.</th>
                                    <th>(In %)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">1</td>
                                    @{
                                        val = 0;
                                        if (bcdv != null)
                                        {
                                            val = bcdv[0].Value;
                                        }
                                        <td class="text-center">
                                            <input type="text" id="txtB" name="txtB" class="bus_percentage text-right value @(val > 0 ? "bg-danger-dark-1" : "")" value="@(val == 0 ? "0.00" : val.ToString())" maxlength="6" style="width:60px @(val > 0 ? ";padding:2px;border:1px solid #a9a9a9" : "")" />
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <br />
        <br />
        <div class="no-float center-block text-center">
            <button id="btnSave" type="submit" name="btnSave" class="btn blue" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>&nbsp;Please wait...">
                <span class="btn-label">
                    <i class="fa fa-check"></i>
                </span>
                Save
            </button>
            <button id="btnReset" type="button" name="btnReset" class="btn btn-danger">
                <span class="btn-label">
                    <i class="fa fa-times"></i>
                </span>
                Reset
            </button>
        </div>
        <br />
    </div>
    @section scripts{
        <script>
            var obj = "#tableResults", sblbtn = null, formId = null;
            $(document).ready(function (e) {
                var $btn;
                sblbtn = $("#btnSave"), formId = '#' + $('form').prop('id');

                $("#btnReset").on('click', function (e) {
                    window.location = '@Request.Url';
                });

                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    $("#transType").val($(e.target).closest('li').index() + 1);
                });

                jQuery.validator.addClassRules({
                    recharge_amount: {
                        required: {
                            depends: function (e) {
                                $(this).val($(this).val().trim());
                                return parseInt($("#transType").val()) == 1;
                            }
                        },
                        regex: /^[0-9\.]+$/,
                    },
                    recharge_percentage: {
                        required: {
                            depends: function (e) {
                                $(this).val($(this).val().trim());
                                return parseInt($("#transType").val()) == 1;
                            }
                        },
                        regex: /^[0-9\.]+$/,
                        lessThanEqualTo: ["#hdn100", "100"],
                    },
                    flight_percentage: {
                        required: {
                            depends: function (e) {
                                $(this).val($(this).val().trim());
                                return parseInt($("#transType").val()) == 2;
                            }
                        },
                        regex: /^[0-9\.]+$/,
                        lessThanEqualTo: ["#hdn100", "100"],
                    },
                    bus_percentage: {
                        required: {
                            depends: function (e) {
                                $(this).val($(this).val().trim());
                                return parseInt($("#transType").val()) == 3;
                            }
                        },
                        regex: /^[0-9\.]+$/,
                        lessThanEqualTo: ["#hdn100", "100"],
                    },
                });

                $(formId).validate();

                $(formId).on('submit', function (e) {
                    var isvalidate = $(this).valid();
                    if (isvalidate) {
                        //debugger;
                        var obj = {};
                        obj.s = "";
                        obj.o = parseInt($("#transType").val());
                        switch (parseInt(obj.o)) {
                            case 1:
                                $("input.charge-type-operator-value").each(function (i, v) {
                                    //console.log("id= " + $(this).prop('id') + "  ,  chargeid = " + $(this).data('chargeid') + "  ,  isamount = " + $(this).data('isamount') + "  ,  operatorid = " + $(this).data('operatorid') + "  ,  value = " + $(this).val().trim());
                                    if (obj.s == '')
                                        obj.s = $(this).data('chargeid') + '#' + $(this).data('typeid') + '#' + $(this).data('operatorid') + '#' + $(this).val();
                                    else
                                        obj.s = obj.s + '|' + $(this).data('chargeid') + '#' + $(this).data('typeid') + '#' + $(this).data('operatorid') + '#' + $(this).val();
                                });
                                break;

                            case 2:
                                $("input.type-operator-value").each(function (i, v) {
                                    //console.log("id= " + $(this).prop('id') + "  ,  isamount = " + $(this).data('isamount') + "  ,  operatorid = " + $(this).data('operatorid') + "  ,  value = " + $(this).val().trim());
                                    if (obj.s == '')
                                        obj.s = '2' + '#' + $(this).data('typeid') + '#' + $(this).data('operatorid') + '#' + $(this).val();
                                    else
                                        obj.s = obj.s + '|' + '2' + '#' + $(this).data('typeid') + '#' + $(this).data('operatorid') + '#' + $(this).val();
                                });
                                break;

                            case 3:
                                obj.s = '2' + '#' + '0' + '#' + '0' + '#' + $("#txtB").val();
                                break;

                            default:
                                break;
                        }
                        //console.log(JSON.stringify(obj));
                        obj.s = StringEncryption(obj.s);
                        obj.o = StringEncryption(obj.o);
                        //console.log(JSON.stringify(obj));
                        //return false;
                        $.ajax({
                            url: apiPath + "/ChargesMaster",
                            type: "POST",
                            data: obj,
                            beforeSend: function (xhr, opts) {
                                $btn = sblbtn.button('loading');
                                sblbtn.prop("disabled", true);
                            },
                            success: function (data, textStatus, xhr) {
                                bootalert('Details updated successfully.', 'success');
                                setTimeout(function () {
                                    window.location = '@Request.Url';
                                }, 2000);
                            },
                            error: function (xhr, textStatus, errorThrown) {
                                if (errorThrown == '')
                                    errorThrown = 'Connection is not available.';
                                bootalert(errorThrown, 'error');
                            },
                            complete: function (a) {
                                $btn.button('reset')
                                sblbtn.prop("disabled", false);
                            }
                        });
                    }
                    e.preventDefault();
                });
            });
        </script>
    }
}
