﻿@model Nop.Plugin.Api.Models.Recharge.CreditDebitMaster
@using Nop.Plugin.Api.Constants
@using Nop.Web.Framework
@using Nop.Plugin.Api.Models
@using Nop.Web.Framework.UI
@using Nop.Core.Infrastructure
@{


    Layout = "~/Plugins/Nop.Plugin.Api/Views/Shared/_AdminLayout.cshtml";

    ViewBag.Title = "Credit/Debit Master";
    ViewBag.PageTitle = "Credit/Debit Master";
    ViewBag.Breadcrumb_L1 = "Credit/Debit Master";
    ViewBag.Breadcrumb_L2 = "";
    ViewBag.Breadcrumb_L3 = "";

}
@using (Html.BeginForm())
{
<div class="alert alert-danger alert-dismissable" id="validationMessages">
</div>
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.MemberReport.CreditDebitMaster")
    </h1>
    <div class="pull-right">
        <div class="btn-group">
        </div>
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">

                            <div class="form-group" id="tblMember">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    @Html.NopLabelFor(model => model.ETmemberNo)
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    @Html.NopEditorFor(model => model.txtMember)
                                    <input type="hidden" name="hiddenSearchMemno" id="hiddenSearchMemno" value="" />
                                    <div id="divfirstname" class="inputs">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        @Html.NopLabelFor(model => model.TypeChoice)
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        @Html.NopDropDownList("TypeChoice", new List<SelectListItem>
                                      {
                                          new SelectListItem{Text="Credit",Value="0"},
                                          new SelectListItem{Text="Debit",Value="1"},
                                      })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    @Html.NopLabelFor(model => model.ETEnterAmount)
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    @Html.NopEditorFor(model => model.txtAmt)
                                    @Html.ValidationMessageFor(model => model.txtAmt)
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        @Html.NopLabelFor(model => model.Remark)
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        @Html.NopTextAreaFor(model => model.Remark)
                                        @Html.ValidationMessageFor(model => model.Remark)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <button type="submit" id="sendCash" name="sendCash" class="btn bg-green">                                            
                                            Submit
                                        </button>
                                        <button id="btnReset" type="button" name="btnReset" class="btn btn-danger reset-button">
                                            <span class="btn-label">
                                                <i class="fa fa-times"></i>
                                            </span>
                                            Reset
                                        </button>
                                    </div>    
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



    <script>
        $(document).ready(function () {
            $("#validationMessages").hide();
            $('#txtMember').autocomplete({
                delay: 500,
                minLength: 1,
                @*source: '@(Url.Action("SearchTermAutoCompleteMember", "AdminEwallet"))', *@
                source: '@(Url.Action("SearchTermAutoCompleteMemberRecords", "AdminEwallet"))',
                appendTo: '.search-box',
                select: function (event, ui) {

                    //$("#hiddenSearchMemno").val(ui.item.MJD_MemID);
                    //$("#txtMember").val(ui.item.label);

                    $("#hiddenSearchMemno").val(ui.item.MJD_MemID);
                    $("#txtMember").val(ui.item.label);
                    $("#divfirstname").show();
                    return false;
                }
            }).data("ui-autocomplete")._renderItem = function (ul, item) {

                var t = item.label;

                //html encode
                t = $('<div/>').text(t).html();
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a><span>" + t + "</span></a>")
                    .appendTo(ul);
            };

            $("#btnReset").click(function () {

                $('#validationMessages').html('');
                $('#Remark').val('');
                $('#txtMember').val('');
                $('#txtAmt').val('');
            });

            $('#sendCash').click(function (e) {

                var data = {

                    SearchText: $('#SearchText').val().trim(),

                }

                //debugger;
                $('#validationMessages').html('');
                $("#validationMessages").hide();
                $(".alert.alert-success.alert-dismissable").hide();
                $(".alert.alert-danger.alert-dismissable").hide();
                var remark = $('#Remark').val();
                var amount = $('#txtAmt').val();
                var validationDivs1 = '';
                if (amount <= 0)
                {
                    validationDivs1 = validationDivs1 + '<div>"Amount should be greater than zero"</div>';
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs1);
                    return false;
                }
                if (remark == "" || remark == null) {
                    validationDivs1 = validationDivs1 + '<div>@T("Admin.Validation.EnterRemark")</div>';
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs1);
                    return false;
                }


            });




        });
    </script>
}
