﻿@using Nop.Plugin.Api.Classes;
@using Nop.Plugin.Api.Controllers;
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework.Localization;
@using Nop.Services.Localization;
@using Nop.Core;
@{


    Layout = "~/Plugins/Nop.Plugin.Api/Views/Shared/_AdminLayout.cshtml";
    Html.AppendCssFileParts("~/Plugins/Nop.Plugin.Api/Content/module.min.css");
    Html.AppendCssFileParts("~/Plugins/Nop.Plugin.Api/Content/common.min.css");
    Html.AddScriptParts("~/Plugins/Nop.Plugin.Api/Scripts/app.core.min.js");
    Html.AddScriptParts("~/Plugins/Nop.Plugin.Api/Scripts/common.min.js");
    Html.AddScriptParts("~/Plugins/Nop.Plugin.Api/Scripts/module.min.js");


    ViewBag.Title = "Credit/Debit Master";
    ViewBag.PageTitle = "Credit/Debit Master";
    ViewBag.Breadcrumb_L1 = "Credit/Debit Master";
    ViewBag.Breadcrumb_L2 = "";
    ViewBag.Breadcrumb_L3 = "";

}
@Html.Partial("~/Plugins/Nop.Plugin.Api/Views/Shared/_ScriptInclude.cshtml");
@using (Html.BeginForm("CreditDebitMaster", "AdminRecharge", FormMethod.Get, new { @id = "frmCreditDebitMaster", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="portlet box red-thunderbird">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-key no-margin-tb"></i>Credit/Debit Master
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="form-group">
                                <label for="SearchText" class="col-sm-5 control-label hidden-xs">Member Username/ID/Name/Mobile No</label>
                                <div class="col-sm-7 col-xs-12">
                                    <input id="SearchText" name="SearchText" type="text" value="" placeholder="Enter search text..." class="form-control autocomplete typeahead" maxlength="100" autocomplete="off" disabled><span id="autoloading"><i class='fa fa-spinner fa-spin'></i> Loading Customers...</span>
                                    <input type="hidden" id="hdnId" name="hdnId" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="selType" class="col-sm-5 control-label hidden-xs">Transaction Type</label>
                                <div class="col-sm-7 col-xs-12">
                                    <select id="selType" name="selType" class="width-100p">
                                        <option value="0">Credit</option>
                                        <option value="1">Debit</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label for="TransactionDate" class="col-sm-5 control-label hidden-xs">Transaction Date</label>
                                <div class="col-sm-7 col-xs-12">
                                    <input id="TransactionDate" name="TransactionDate" type="text" value="" placeholder="Enter Date" class="form-control" maxlength="10">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Amount" class="col-sm-5 control-label hidden-xs">Amount</label>
                                <div class="col-sm-7 col-xs-12">
                                    <input id="Amount" name="Amount" type="text" value="" placeholder="Enter Amount" class="form-control" maxlength="10">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Remarks" class="col-sm-5 control-label"><span class="text-red">*&nbsp;</span>Remarks</label>
                                <div class="col-sm-7 col-xs-12">
                                    <textarea id="Remarks" name="Remarks" class="form-control col-sm-6 col-xs-12 character-counter" placeholder="Enter remarks..." maxlength="500"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-7 col-sm-3 col-md-3 col-lg-3 no-float center-block">
            <div class="form-group">
                <button id="btnSubmit" type="submit" class="btn green lighten-1" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>&nbsp;Please wait...">
                    <span class="btn-label">
                        <i class="fa fa-check"></i>
                    </span>
                    Submit
                </button>
                <button id="btnReset" type="button" name="btnReset" class="btn btn-danger reset-button">
                    <span class="btn-label">
                        <i class="fa fa-times"></i>
                    </span>
                    Reset
                </button>
            </div>
        </div>
    </div>
}

<script type="text/javascript" src="@Url.Content("~/Plugins/Nop.Plugin.Api/assets/plugins/typeahead/bootstrap-typeahead.js")"></script>
    <script>
        $(document).ready(function () {
            var sblbtn = $("#btnSubmit");
            var formId = "#frmCreditDebitMaster";
            $('#TransactionDate').datetimepicker({ format: 'DD/MM/YYYY' });
            var typeaheadSource = [], selectedCustId;
            $.when($.post('GetCustomers', { s: $("#SearchText").val().trim() }, function (result) { }, 'json')).then(function (data, textStatus, jqXHR) {
                var jsonObj = data.result;
                //console.log(jsonObj);
                for (var i = 0; i < jsonObj.length; i++) {
                    typeaheadSource.push(jsonObj[i].text);
                }
                //console.log(typeaheadSource);
                $("#SearchText").removeProp("disabled");
                $("#autoloading").slideUp('fast', function (e) {
                    $(this).remove();
                });
                $('input.typeahead').typeahead({
                    onSelect: function (item) {
                        //console.log(item);
                        if (item.text != "Result not Found") {
                            var jsonItem = $.grep(jsonObj, function (e) { return e.text == item.text; });
                            //console.log(jsonItem);
                            if (jsonItem.length > 0) {
                                $("#hdnId").val(jsonItem[0].value);
                            }
                            $("#SearchText").val(item.text);
                        }
                        else {
                            $("#hdnId").val('');
                            $("#SearchText").val('');
                        }
                        //console.log('ToId = ' + $("#ToId").val());
                        //console.log('ToIds = ' + $("#ToIds").val());
                    },
                    source: typeaheadSource,
                });
            });

            $('input.typeahead').on('keyup', function (e) {
                // 46 = delete
                // 8 = backspace
                // 16 = shift
                // 36 = home
                // 35 = end
                // 32 = spacebar
                //console.log($("#ToIds").val().length);
                if (e.which == 46 || e.which == 8 || (e.which == 32 && $("#SearchText").val() == " ") || $("#SearchText").val().length <= 1)
                    $("#hdnId").val('');

                if ($("#SearchText").val() == 'Result not Found')
                    $("#SearchText").val('');
            });

            $(formId).validate({
                rules: {
                    SearchText: {
                        required: {
                            depends: function () {
                                $(this).val($.trim($(this).val()));
                                return ($("#hdnId").val() == '' || $("#hdnId").val() == '0');
                            }
                        },
                        regex: /^[a-zA-Z0-9\.\s\(\)\[\]\:\,\-\@@\_]+$/,
                        rangelength: [2, 100]
                    },
                    TransactionDate: {
                        required: {
                            depends: function () {
                                $(this).val($.trim($(this).val()));
                                return false;
                            }
                        },
                        regex: /^[0-9\/]+$/,
                        rangelength: [10, 10],
                    },
                    Amount: {
                        required: {
                            depends: function () {
                                $(this).val($.trim($(this).val()));
                                return true;
                            }
                        },
                        regex: /^[0-9]\d*(\.\d+)?$/,
                        rangelength: [1, 15],
                    },
                    Remarks: {
                        required: {
                            depends: function () {
                                $(this).val($.trim($(this).val()));
                                return true;
                            }
                        },
                        regex: /^[a-zA-Z0-9\.\s\(\)\[\]\{\}\:\,\-\@@\_]+$/,
                        rangelength: [2, 500],
                    }
                },
                messages: {
                }
            });

            $(formId).on('submit', function (e) {
                e.preventDefault();
                var isvalidate = $(this).valid();
                if (isvalidate) {
                    var obj = new Object();
                    obj.s = $("#hdnId").val().trim() + "|" + $("#selType :selected").val().trim() + "|" + $("#TransactionDate").val().trim() + "|" + $("#Amount").val().trim() + "|" + $("#Remarks").val().trim();
                    //console.log(obj.s);
                    //return false;

                    //obj.s = StringEncryption(obj.s);

                    var $btn = sblbtn.button('loading');
                    sblbtn.prop("disabled", true);
                    $.ajax({
                        url: "CreditDebitMaster",
                        type: "POST",
                        data: obj,
                        success: function (data, textStatus, xhr) {
                            bootalert('Transaction submitted successfully.', 'success');
                            setTimeout(function () {
                                window.location = '@Request.Url';
                            }, 2000);
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            if (errorThrown == '')
                                errorThrown = 'Connection is not available.';
                            $btn.button('reset')
                            sblbtn.prop("disabled", false);
                            bootalert(errorThrown, 'error');
                        }
                    });
                }
            });
        });
    </script>
