﻿
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    ViewBag.Title = "Credit Reversal";
    ViewBag.PageTitle = "Credit Reversal";
    ViewBag.Breadcrumb_L1 = "Credit Reversal";
    ViewBag.Breadcrumb_L2 = "";
    ViewBag.Breadcrumb_L3 = "";
}
@using (Html.BeginForm("CreditReversal", "Admin", FormMethod.Get, new { @id = "frmCreditReversal", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="txnType" name="txnType" value="1" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 no-float center-block">
                <ul class="nav nav-tabs slide-tabs center-block no-margin-bottom" role="tablist">
                    <li class="active" style="width:33.33%">
                        <a class="nav-link waves-light" data-toggle="tab" href="#Recharge" role="tab">Recharge</a>
                    </li>
                    <li style="width:33.33%">
                        <a class="nav-link waves-light" data-toggle="tab" href="#Flight" role="tab">Flight</a>
                    </li>
                    <li style="width:33.33%">
                        <a class="nav-link waves-light" data-toggle="tab" href="#Bus" role="tab">Bus</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="Recharge" role="tabpanel">
                        <table id="tableResultsRecharge" class="table table-striped table-bordered display responsive nowrap" border="0" cellpadding="6"></table>
                    </div>
                    <div class="tab-pane fade" id="Flight" role="tabpanel">
                        <table id="tableResultsFlight" class="table table-striped table-bordered display responsive nowrap" border="0" cellpadding="6"></table>
                    </div>
                    <div class="tab-pane fade" id="Bus" role="tabpanel">
                        <table id="tableResultsBus" class="table table-striped table-bordered display responsive nowrap" border="0" cellpadding="6"></table>
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <br />
        <br />
        <div class="no-float center-block text-center save-reset-buttons">
            <button id="btnSave" type="submit" name="btnSave" class="btn blue" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>&nbsp;Please wait...">
                <span class="btn-label">
                    <i class="fa fa-check"></i>
                </span>
                Save
            </button>
            <button id="btnReset" type="button" name="btnReset" class="btn btn-danger">
                <span class="btn-label">
                    <i class="fa fa-times"></i>
                </span>
                Reset
            </button>
        </div>
        <br />
    </div>
}
@section scripts {
    <script type="text/javascript">
        var $btn = null,
            sblbtn = null,
            formId = null,
            objR = '#tableResultsRecharge',
            objF = '#tableResultsFlight',
            objB = '#tableResultsBus',
            startTime = null,
            infoSeperator = '<span class="span-seperator">&nbsp;|&nbsp;</span><span class="span-break"><br /></span>',
            ApproveFlag = false;

        $(document).ready(function (e) {
            sblbtn = $("#btnSave"), formId = '#' + $('form').prop('id');

            $("#btnReset").on('click', function (e) {
                window.location = '@Request.Url';
            });

            function CheckboxShowHide(id) {
                switch (id) {
                    case 1:
                        if ($("input.chkrowR").length <= 0) {
                            $("#chkSelAllR").hide();
                            $(".save-reset-buttons").hide();
                        }
                        else {
                            $("#chkSelAllR").show();
                            $(".save-reset-buttons").show();
                        }
                        break;

                    case 2:
                        if ($("input.chkrowF").length <= 0) {
                            $("#chkSelAllF").hide();
                            $(".save-reset-buttons").hide();
                        }
                        else {
                            $("#chkSelAllF").show();
                            $(".save-reset-buttons").show();
                        }
                        break;

                    case 3:
                        if ($("input.chkrowB").length <= 0) {
                            $("#chkSelAllB").hide();
                            $(".save-reset-buttons").hide();
                        }
                        else {
                            $("#chkSelAllB").show();
                            $(".save-reset-buttons").show();
                        }
                        break;

                    default:
                        break;
                }
            }

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var id = $(e.target).closest('li').index() + 1;
                $("#txnType").val(id);
                CheckboxShowHide(id)
            });


            /***************************************************************************************************************************************/


            var dtRechargeTable = {
                dtR: null,
                init: function () {
                    dtR = $(objR).on('error.dt', function (e, settings, techNote, message) {
                        bootalert(dataTablesErrorMessage, 'error');
                        //console.log('message - ' + message);
                        $(objR).find('tbody').html('<tr class="odd"><td valign="top" colspan="' + $(objR).find('thead').find('th').length + '" class="dataTables_empty"><span class="text-red"><i class="fa fa-frown-o"></i>&nbsp;No records to display.</span></td></tr>');
                    }).on('init.dt', function () {
                        //console.log('Table initialisation complete: ' + new Date().getTime());
                        $(objR).find('th').eq(0).removeClass("sorting_asc");
                    }).on('draw.dt', function () {
                        //console.log('Table draw complete: ' + new Date().getTime());
                        $(objR).find('th').eq(0).removeClass("sorting_asc");
                        CheckboxShowHide(1);
                    }).DataTable({
                        bSort: false,
                        paging: false,
                        responsive: false,
                        fnServerParams: function (aoData) {
                            aoData.search.value = '';
                            //alert(aoData.search.value);
                        },
                        ajax: {
                            url: virtualPath + "Admin/GetRechargeCreditReversalListJson",
                            type: "POST",
                            beforeSend: function (xhr) {
                                startTime = new Date().getTime();
                                //console.log('beforesend startTime - ' + startTime);
                                DatatablesAjaxBeforeSend(sblbtn, objR, 'div.viewuser-content');
                                $btn = sblbtn.button('loading');
                            },
                            complete: function (xhr) {
                                DatatablesAjaxComplete(startTime, sblbtn, objR, infoSeperator, 'div.viewuser-content');
                                $btn.button('reset');
                            }
                        },
                        columns: [
                            {
                                //checkbox column
                                //title: "<input id='chkSelAllR' name='chkSelAllR' value='1' type='checkbox' style='display:none'>",
                                title: "",
                                name: "",
                                data: null,
                                className: 'text-center no-export',
                            },
                            {
                                title: "Transaction ID",
                                name: "Transaction ID",
                                data: "UniqueId",
                                className: 'no-export',
                                "render": function (data, type, row, meta) {
                                    return row.UniqueId + '<br />(' + row.TxnName + ')';
                                }
                            },
                            {
                                title: "Member Details",
                                name: "Member Details",
                                data: null,
                                className: 'no-export',
                                "render": function (data, type, row, meta) {
                                    return '<b>' + row.CustomerName + '</b><br /><span class="text-warning">Member ID</span>: ' + (row.MemNo == null ? "-" : row.MemNo) + '<br /><span class="text-warning">Mobile No</span>: ' + (row.Mobile_No == null ? "-" : row.Mobile_No);
                                }
                            },
                            {
                                title: "Date-time",
                                name: "Date-time",
                                data: null,
                                className: 'text-center no-export',
                                "render": function (data, type, row, meta) {
                                    return ConvertDateFromJson(row.ApplicationDtm, 'date');
                                }
                            },
                            {
                                title: "Payment Mode",
                                name: "Payment Mode",
                                data: "PaymodeName",
                                className: 'text-center',
                            },
                            {
                                title: "Amount (In Rs.)",
                                name: "Amount (In Rs.)",
                                data: null,
                                className: 'no-export',
                                "render": function (data, type, row, meta) {
                                    var s = '';
                                    s += '<div class="container">';
                                    s += '<div class="row">';
                                    s += '<div class="pull-left">';
                                    s += '<b><span>Total</span></b>';
                                    s += '</div>';
                                    s += '<div class="pull-right text-right">';
                                    s += row.TotalAmount + '/-';
                                    s += '</div>';
                                    s += '</div>';

                                    if (row.EwAmount > 0) {
                                        s += '<div class="row">';
                                        s += '<div class="pull-left">';
                                        s += '<span class="text-warning">Wallet:</span>';
                                        s += '</div>';
                                        s += '<div class="pull-right text-right">';
                                        s += row.EwAmount + '/-';
                                        s += '</div>';
                                        s += '</div>';
                                    }

                                    if (row.PgAmount > 0) {
                                        s += '<div class="row">';
                                        s += '<div class="pull-left">';
                                        s += '<span class="text-warning">Online Payment:</span>';
                                        s += '</div>';
                                        s += '<div class="pull-right text-right">';
                                        s += row.PgAmount + '/-';
                                        s += '</div>';
                                        s += '</div>';
                                        s += '<div class="clearfix">';
                                        s += '</div>';
                                    }
                                    return s;
                                }
                            },
                            {
                                title: "Status",
                                name: "Status",
                                data: null,
                                className: 'no-export',
                                "render": function (data, type, row, meta) {
                                    var s = '';
                                    switch (row.Status) {
                                        case 1:
                                            s = '<span class="text-success">' + row.StatusName + '</span>';
                                            break;

                                        case 2:
                                            s = '<span class="text-warning">' + row.StatusName + '</span>';
                                            break;

                                        case 3:
                                            s = '<span class="text-danger">' + row.StatusName + '</span>';
                                            break;

                                        default:
                                            if (row.PgAmount > 0) {
                                                //console.log(row.UniqueId + '  -  ' + row.GatewayStatus);
                                                switch (row.GatewayStatus) {
                                                    case 1:
                                                        s = '<span class="text-success"> Online payment ' + row.GatewayStatusName + '</span>';
                                                        break;

                                                    case 2:
                                                        s = '<span class="text-warning"> Online payment ' + row.GatewayStatusName + '</span>';
                                                        break;

                                                    case 3:
                                                        s = '<span class="text-danger"> Online payment ' + row.GatewayStatusName + '</span>';
                                                        break;

                                                    default:
                                                        s = row.GatewayStatusName;
                                                        break;
                                                }
                                            }
                                            else if (row.EwAmount > 0) {
                                                //console.log(row.UniqueId + '  -  ' + row.WalletStatus);
                                                switch (row.WalletStatus) {
                                                    case 1:
                                                        s = '<span class="text-success"> Wallet payment ' + row.WalletStatusName + '</span>';
                                                        break;

                                                    case 2:
                                                        s = '<span class="text-warning"> Wallet payment ' + row.WalletStatusName + '</span>';
                                                        break;

                                                    case 3:
                                                        s = '<span class="text-danger"> Wallet payment ' + row.WalletStatusName + '</span>';
                                                        break;

                                                    default:
                                                        s = row.WalletStatusName;
                                                        break;
                                                }
                                            }
                                            break;
                                    }
                                    var t = '';
                                    if (row.ExceptionMessage != null && row.ExceptionMessage != '')
                                        t = row.ExceptionMessage;
                                    else if (row.RechargeStatus > 1 && row.RechargeResponse != null && row.RechargeResponse != '')
                                        t = JSON.parse(row.RechargeResponse).message;
                                    else if (row.GatewayStatus > 1 && row.GatewayResponse != null && row.GatewayResponse != '') {
                                        //console.log(row.GatewayResponse);
                                        var arr = row.GatewayResponse.split('|');
                                        t = arr[arr.length - 8].split('~')[1];
                                    }
                                    if (t != '') {
                                        s = s + '<div style="max-width:250px;white-space:initial">' + t + '</div>';
                                    }
                                    return s;
                                }
                            },
                        ],
                        columnDefs: [{
                            orderable: false,
                            searchable: false,
                            className: 'no-export text-center',
                            targets: 0,
                            render: function (data, type, row, meta) {
                                var chk = '<input class="chkrowR" type="checkbox" data-id="' + row.Id + '" data-uniqueid="' + row.UniqueId + '" data-ewamount="' + row.EwAmount + '" data-pgamount="' + row.PgAmount + '" />';
                                return chk;
                            },
                        }],
                        //buttons: [
                        //    {
                        //        extend: 'excel',
                        //        title: 'Credit Reversal List',
                        //        filename: 'Credit_Reversal_list_' + GetCurrentTimeStamp(),
                        //        action: function (e, dt, node, config) {
                        //            ExportDatatablesData(dt, 'div.viewuser-content', config);
                        //        }
                        //    },
                        //],
                        fnRowCallback: function (nRow, aData, iDisplayIndex) {
                            // Get row ID
                            var rowId = aData[0];

                            // If row ID is in the list of selected row IDs
                            DataTablesCheckboxIsSelected(rowId, rows_selected_Recharge, nRow);

                            //var oSettings = (this.fnSettings) ? this.fnSettings() : this;
                            //$("td:first", nRow).html(oSettings._iDisplayStart + iDisplayIndex + 1);
                            //return nRow;
                        },
                        fnInfoCallback: function (oSettings, iStart, iEnd, iMax, iTotal, sPre) {
                            return DatatablesInfoCallback(objR, infoSeperator, oSettings, iStart, iEnd, iMax, iTotal, sPre);
                        },
                        language: {
                            searchPlaceholder: 'Search by Name',
                        },
                    });
                },
                refresh: function () {
                    dtR.ajax.reload();
                }
            }


            //$('#refresh-adminusers').on("click", dtRechargeTable.refresh);

            // Array holding selected row IDs
            var rows_selected_Recharge = [];

            /////////////////////////////////////////////////////////////////
            // Let's kick it all off
            dtRechargeTable.init();

            DataTablesCustomClasses(objR);

            // Handle click on checkbox
            DataTablesHandleEachCheckboxClick(objR.replace('#'), rows_selected_Recharge, "chkSelAllR", dtR);

            //// Handle click on table cells with checkboxes
            //DataTablesHandleCheckboxTableCellClick(objR.replace('#'));

            // Handle click on "Select all" control
            DataTablesHandleSelectAllClick(objR.replace('#'), "chkSelAllR", dtR);


            /***************************************************************************************************************************************/


            var dtFlightTable = {
                dtF: null,
                init: function () {
                    dtF = $(objF).on('error.dt', function (e, settings, techNote, message) {
                        bootalert(dataTablesErrorMessage, 'error');
                        //console.log('message - ' + message);
                        $(objF).find('tbody').html('<tr class="odd"><td valign="top" colspan="' + $(objF).find('thead').find('th').length + '" class="dataTables_empty"><span class="text-red"><i class="fa fa-frown-o"></i>&nbsp;No records to display.</span></td></tr>');
                    }).on('init.dt', function () {
                        //console.log('Table initialisation complete: ' + new Date().getTime());
                        $(objF).find('th').eq(0).removeClass("sorting_asc");
                    }).on('draw.dt', function () {
                        //console.log('Table draw complete: ' + new Date().getTime());
                        $(objF).find('th').eq(0).removeClass("sorting_asc");
                        CheckboxShowHide(1);
                    }).DataTable({
                        bSort: false,
                        paging: false,
                        responsive: false,
                        fnServerParams: function (aoData) {
                            aoData.search.value = '';
                            //alert(aoData.search.value);
                        },
                        ajax: {
                            url: virtualPath + "Admin/GetFlightCreditReversalListJson",
                            type: "POST",
                            beforeSend: function (xhr) {
                                startTime = new Date().getTime();
                                //console.log('beforesend startTime - ' + startTime);
                                DatatablesAjaxBeforeSend(sblbtn, objF, 'div.viewuser-content');
                                $btn = sblbtn.button('loading');
                            },
                            complete: function (xhr) {
                                DatatablesAjaxComplete(startTime, sblbtn, objF, infoSeperator, 'div.viewuser-content');
                                $btn.button('reset');
                            }
                        },
                        columns: [
                            {
                                //checkbox column
                                //title: "<input id='chkSelAllF' name='chkSelAllF' value='1' type='checkbox' style='display:none'>",
                                title: "",
                                name: "",
                                data: null,
                                className: 'text-center no-export',
                            },
                            {
                                title: "Transaction ID",
                                name: "Transaction ID",
                                data: "UniqueId",
                                //className: 'text-center',
                                "render": function (data, type, row, meta) {
                                    return '<b>' + row.UniqueId + '</b><br /><span class="text-warning">From</span>: ' + row.OriginAirport + ' (' + row.Origin + ')<br /><span class="text-warning">To</span>: ' + row.DestinationAirport + ' (' + row.Destination + ')';
                                }
                            },
                            {
                                title: "Member Details",
                                name: "Member Details",
                                data: null,
                                className: 'no-export',
                                "render": function (data, type, row, meta) {
                                    return '<b>' + row.CustomerName + '</b><br /><span class="text-warning">Member ID</span>: ' + (row.MemNo == null ? "-" : row.MemNo) + '<br /><span class="text-warning">Mobile No</span>: ' + (row.CustomerMobileNo == null ? "-" : row.CustomerMobileNo);
                                }
                            },
                            {
                                title: "Date-time",
                                name: "Date-time",
                                data: null,
                                className: 'text-center no-export',
                                "render": function (data, type, row, meta) {
                                    return ConvertDateFromJson(row.ApplicationDtm, 'date');
                                }
                            },
                            {
                                title: "Flight Type",
                                name: "Flight Type",
                                data: "FlightType",
                                className: 'text-center no-export',
                                "render": function (data, type, row, meta) {
                                    return row.FlightType + '<br />' + '(' + (row.IsRoundTrip ? 'Round Trip' : 'One way') + ')';
                                }
                            },
                            {
                                title: "Payment Mode",
                                name: "Payment Mode",
                                data: "PaymodeName",
                                className: 'text-center',
                            },
                            {
                                title: "Amount (In Rs.)",
                                name: "Amount (In Rs.)",
                                data: null,
                                className: 'text-right no-export',
                                "render": function (data, type, row, meta) {
                                    var s = '';
                                    s += '<div class="container">';
                                    s += '<div class="row">';
                                    s += '<div class="pull-left">';
                                    s += '<b><span>Total</span></b>';
                                    s += '</div>';
                                    s += '<div class="pull-right text-right">';
                                    s += row.TotalAmount + '/-';
                                    s += '</div>';
                                    s += '</div>';

                                    if (row.EwAmount > 0) {
                                        s += '<div class="row">';
                                        s += '<div class="pull-left">';
                                        s += '<span class="text-warning">Wallet:</span>';
                                        s += '</div>';
                                        s += '<div class="pull-right text-right">';
                                        s += row.EwAmount + '/-';
                                        s += '</div>';
                                        s += '</div>';
                                    }

                                    if (row.PgAmount > 0) {
                                        s += '<div class="row">';
                                        s += '<div class="pull-left">';
                                        s += '<span class="text-warning">Online Payment:</span>';
                                        s += '</div>';
                                        s += '<div class="pull-right text-right">';
                                        s += row.PgAmount + '/-';
                                        s += '</div>';
                                        s += '</div>';
                                        s += '<div class="clearfix">';
                                        s += '</div>';
                                    }

                                    if (row.GrplCashAmount > 0) {
                                        s += '<div class="row">';
                                        s += '<div class="pull-left">';
                                        s += '<span class="text-warning">GRPL Cash:</span>';
                                        s += '</div>';
                                        s += '<div class="pull-right text-right">';
                                        s += row.GrplCashAmount + '/-';
                                        s += '</div>';
                                        s += '</div>';
                                        s += '<div class="clearfix">';
                                        s += '</div>';
                                    }
                                    return s;
                                }
                            },
                            {
                                title: "Status",
                                name: "Status",
                                data: null,
                                className: 'no-export',
                                "render": function (data, type, row, meta) {
                                    var s = '';
                                    switch (row.Status) {
                                        case 1:
                                            s = '<span class="text-success">' + row.StatusName + '</span>';
                                            break;

                                        case 2:
                                            s = '<span class="text-warning">' + row.StatusName + '</span>';
                                            break;

                                        case 3:
                                            s = '<span class="text-danger">' + row.StatusName + '</span>';
                                            break;

                                        default:
                                            if (row.PgAmount > 0) {
                                                switch (row.GatewayStatus) {
                                                    case 1:
                                                        s = '<span class="text-success"> Online payment ' + row.GatewayStatusName + '</span>';
                                                        break;

                                                    case 2:
                                                        s = '<span class="text-warning"> Online payment ' + row.GatewayStatusName + '</span>';
                                                        break;

                                                    case 3:
                                                        s = '<span class="text-danger"> Online payment ' + row.GatewayStatusName + '</span>';
                                                        break;

                                                    default:
                                                        s = row.GatewayStatusName;
                                                        break;
                                                }
                                            }
                                            else if (row.EwAmount > 0) {
                                                //console.log(row.UniqueId + '  -  ' + row.WalletStatus);
                                                switch (row.WalletStatus) {
                                                    case 1:
                                                        s = '<span class="text-success"> Wallet payment ' + row.WalletStatusName + '</span>';
                                                        break;

                                                    case 2:
                                                        s = '<span class="text-warning"> Wallet payment ' + row.WalletStatusName + '</span>';
                                                        break;

                                                    case 3:
                                                        s = '<span class="text-danger"> Wallet payment ' + row.WalletStatusName + '</span>';
                                                        break;

                                                    default:
                                                        s = row.WalletStatusName;
                                                        break;
                                                }
                                            }
                                            break;
                                    }
                                    var t = '';
                                    if (row.ExceptionMessage != null && row.ExceptionMessage != '')
                                        t = row.ExceptionMessage;
                                    else if (row.FlightStatus > 1 && row.FlightResponse != null && row.FlightResponse != '')
                                        t = JSON.parse(row.FlightResponse).message;
                                    else if (row.GatewayStatus > 1 && row.GatewayResponse != null && row.GatewayResponse != '') {
                                        //console.log(row.GatewayResponse);
                                        var arr = row.GatewayResponse.split('|');
                                        t = arr[arr.length - 8].split('~')[1];
                                    }
                                    if (t != '') {
                                        s = s + '<div style="max-width:250px;white-space:initial">' + t + '</div>';
                                    }
                                    return s;
                                }
                            },
                        ],
                        columnDefs: [{
                            orderable: false,
                            searchable: false,
                            className: 'no-export text-center',
                            targets: 0,
                            render: function (data, type, row, meta) {
                                var chk = '<input class="chkrowF" type="checkbox" data-id="' + row.Id + '" data-uniqueid="' + row.UniqueId + '" data-ewamount="' + row.EwAmount + '" data-pgamount="' + row.PgAmount + '" />';
                                return chk;
                            },
                        }],
                        //buttons: [
                        //    {
                        //        extend: 'excel',
                        //        title: 'Credit Reversal List',
                        //        filename: 'Credit_Reversal_list_' + GetCurrentTimeStamp(),
                        //        action: function (e, dt, node, config) {
                        //            ExportDatatablesData(dt, 'div.viewuser-content', config);
                        //        }
                        //    },
                        //],
                        fnRowCallback: function (nRow, aData, iDisplayIndex) {
                            // Get row ID
                            var rowId = aData[0];

                            // If row ID is in the list of selected row IDs
                            DataTablesCheckboxIsSelected(rowId, rows_selected_Flight, nRow);

                            //var oSettings = (this.fnSettings) ? this.fnSettings() : this;
                            //$("td:first", nRow).html(oSettings._iDisplayStart + iDisplayIndex + 1);
                            //return nRow;
                        },
                        fnInfoCallback: function (oSettings, iStart, iEnd, iMax, iTotal, sPre) {
                            return DatatablesInfoCallback(objF, infoSeperator, oSettings, iStart, iEnd, iMax, iTotal, sPre);
                        },
                        language: {
                            searchPlaceholder: 'Search by Name',
                        },
                    });
                },
                refresh: function () {
                    dtF.ajax.reload();
                }
            }


            //$('#refresh-adminusers').on("click", dtFlightTable.refresh);

            // Array holding selected row IDs
            var rows_selected_Flight = [];

            /////////////////////////////////////////////////////////////////
            // Let's kick it all off
            dtFlightTable.init();

            DataTablesCustomClasses(objF);

            // Handle click on checkbox
            DataTablesHandleEachCheckboxClick(objF.replace('#'), rows_selected_Flight, "chkSelAllF", dtF);

            //// Handle click on table cells with checkboxes
            //DataTablesHandleCheckboxTableCellClick(objF.replace('#'));

            // Handle click on "Select all" control
            DataTablesHandleSelectAllClick(objF.replace('#'), "chkSelAllF", dtF);


            /***************************************************************************************************************************************/


            var dtBusTable = {
                dtB: null,
                init: function () {
                    dtB = $(objB).on('error.dt', function (e, settings, techNote, message) {
                        bootalert(dataTablesErrorMessage, 'error');
                        //console.log('message - ' + message);
                        $(objB).find('tbody').html('<tr class="odd"><td valign="top" colspan="' + $(objB).find('thead').find('th').length + '" class="dataTables_empty"><span class="text-red"><i class="fa fa-frown-o"></i>&nbsp;No records to display.</span></td></tr>');
                    }).on('init.dt', function () {
                        //console.log('Table initialisation complete: ' + new Date().getTime());
                        $(objB).find('th').eq(0).removeClass("sorting_asc");
                    }).on('draw.dt', function () {
                        //console.log('Table draw complete: ' + new Date().getTime());
                        $(objB).find('th').eq(0).removeClass("sorting_asc");
                        CheckboxShowHide(1);
                    }).DataTable({
                        bSort: false,
                        paging: false,
                        responsive: false,
                        fnServerParams: function (aoData) {
                            aoData.search.value = '';
                            //alert(aoData.search.value);
                        },
                        ajax: {
                            url: virtualPath + "Admin/GetBusCreditReversalListJson",
                            type: "POST",
                            beforeSend: function (xhr) {
                                startTime = new Date().getTime();
                                //console.log('beforesend startTime - ' + startTime);
                                DatatablesAjaxBeforeSend(sblbtn, objB, 'div.viewuser-content');
                                $btn = sblbtn.button('loading');
                            },
                            complete: function (xhr) {
                                DatatablesAjaxComplete(startTime, sblbtn, objB, infoSeperator, 'div.viewuser-content');
                                $btn.button('reset');
                            }
                        },
                        columns: [
                            {
                                //checkbox column
                                //title: "<input id='chkSelAllB' name='chkSelAllB' value='1' type='checkbox' style='display:none'>",
                                title: "",
                                name: "",
                                data: null,
                                className: 'text-center no-export',
                            },
                            {
                                title: "Transaction ID",
                                name: "Transaction ID",
                                data: "UniqueId",
                                //className: 'text-center',
                                "render": function (data, type, row, meta) {
                                    return row.UniqueId + '<br /><span class="text-warning">From</span>: ' + row.OriginStation + '<br /><span class="text-warning">To</span>: ' + row.DestinationStation;
                                }
                            },
                            {
                                title: "Member Details",
                                name: "Member Details",
                                data: null,
                                className: 'no-export',
                                "render": function (data, type, row, meta) {
                                    return '<b>' + row.CustomerName + '</b><br /><span class="text-warning">Member ID</span>: ' + (row.MemNo == null ? "-" : row.MemNo) + '<br /><span class="text-warning">Mobile No</span>: ' + (row.CustomerMobileNo == null ? "-" : row.CustomerMobileNo);
                                }
                            },
                            {
                                title: "Date-time",
                                name: "Date-time",
                                data: null,
                                className: 'text-center no-export',
                                "render": function (data, type, row, meta) {
                                    return ConvertDateFromJson(row.ApplicationDtm, 'date');
                                }
                            },
                            {
                                title: "Payment Mode",
                                name: "Payment Mode",
                                data: "PaymodeName",
                                className: 'text-center',
                            },
                            {
                                title: "Amount (In Rs.)",
                                name: "Amount (In Rs.)",
                                data: null,
                                className: 'text-right no-export',
                                "render": function (data, type, row, meta) {
                                    var s = '';
                                    s += '<div class="container">';
                                    s += '<div class="row">';
                                    s += '<div class="pull-left">';
                                    s += '<b><span>Total</span></b>';
                                    s += '</div>';
                                    s += '<div class="pull-right text-right">';
                                    s += row.TotalAmount + '/-';
                                    s += '</div>';
                                    s += '</div>';

                                    if (row.EwAmount > 0) {
                                        s += '<div class="row">';
                                        s += '<div class="pull-left">';
                                        s += '<span class="text-warning">Wallet:</span>';
                                        s += '</div>';
                                        s += '<div class="pull-right text-right">';
                                        s += row.EwAmount + '/-';
                                        s += '</div>';
                                        s += '</div>';
                                    }

                                    if (row.PgAmount > 0) {
                                        s += '<div class="row">';
                                        s += '<div class="pull-left">';
                                        s += '<span class="text-warning">Online Payment:</span>';
                                        s += '</div>';
                                        s += '<div class="pull-right text-right">';
                                        s += row.PgAmount + '/-';
                                        s += '</div>';
                                        s += '</div>';
                                        s += '<div class="clearfix"></div>';
                                    }

                                    if (row.GrplCashAmount > 0) {
                                        s += '<div class="row">';
                                        s += '<div class="pull-left">';
                                        s += '<span class="text-warning">GRPL Cash:</span>';
                                        s += '</div>';
                                        s += '<div class="pull-right text-right">';
                                        s += row.GrplCashAmount + '/-';
                                        s += '</div>';
                                        s += '</div>';
                                        s += '<div class="clearfix"></div>';
                                    }

                                    s += '</div>';
                                    return s;
                                }
                            },
                            {
                                title: "Status",
                                name: "Status",
                                data: null,
                                className: 'no-export',
                                "render": function (data, type, row, meta) {
                                    var s = '';
                                    switch (row.Status) {
                                        case 1:
                                            s = '<span class="text-success">' + row.StatusName + '</span>';
                                            break;

                                        case 2:
                                            s = '<span class="text-warning">' + row.StatusName + '</span>';
                                            break;

                                        case 3:
                                            s = '<span class="text-danger">' + row.StatusName + '</span>';
                                            break;

                                        default:
                                            if (row.PgAmount > 0) {
                                                switch (row.GatewayStatus) {
                                                    case 1:
                                                        s = '<span class="text-success"> Online payment ' + row.GatewayStatusName + '</span>';
                                                        break;

                                                    case 2:
                                                        s = '<span class="text-warning"> Online payment ' + row.GatewayStatusName + '</span>';
                                                        break;

                                                    case 3:
                                                        s = '<span class="text-danger"> Online payment ' + row.GatewayStatusName + '</span>';
                                                        break;

                                                    default:
                                                        s = row.GatewayStatusName;
                                                        break;
                                                }
                                            }
                                            else if (row.EwAmount > 0) {
                                                //console.log(row.UniqueId + '  -  ' + row.WalletStatus);
                                                switch (row.WalletStatus) {
                                                    case 1:
                                                        s = '<span class="text-success"> Wallet payment ' + row.WalletStatusName + '</span>';
                                                        break;

                                                    case 2:
                                                        s = '<span class="text-warning"> Wallet payment ' + row.WalletStatusName + '</span>';
                                                        break;

                                                    case 3:
                                                        s = '<span class="text-danger"> Wallet payment ' + row.WalletStatusName + '</span>';
                                                        break;

                                                    default:
                                                        s = row.WalletStatusName;
                                                        break;
                                                }
                                            }
                                            break;
                                    }
                                    var t = '';
                                    if (row.ExceptionMessage != null && row.ExceptionMessage != '')
                                        t = row.ExceptionMessage;
                                    else if (row.BusStatus > 1 && row.BusResponse != null && row.BusResponse != '')
                                        t = JSON.parse(row.BusResponse).message;
                                    else if (row.GatewayStatus > 1 && row.GatewayResponse != null && row.GatewayResponse != '') {
                                        //console.log(row.GatewayResponse);
                                        var arr = row.GatewayResponse.split('|');
                                        t = arr[arr.length - 8].split('~')[1];
                                    }
                                    if (t != '') {
                                        s = s + '<div style="max-width:250px;white-space:initial">' + t + '</div>';
                                    }
                                    return s;
                                }
                            },
                        ],
                        columnDefs: [{
                            orderable: false,
                            searchable: false,
                            className: 'no-export text-center',
                            targets: 0,
                            render: function (data, type, row, meta) {
                                var chk = '<input class="chkrowB" type="checkbox" data-id="' + row.Id + '" data-uniqueid="' + row.UniqueId + '" data-ewamount="' + row.EwAmount + '" data-pgamount="' + row.PgAmount + '" />';
                                return chk;
                            },
                        }],
                        //buttons: [
                        //    {
                        //        extend: 'excel',
                        //        title: 'Credit Reversal List',
                        //        filename: 'Credit_Reversal_list_' + GetCurrentTimeStamp(),
                        //        action: function (e, dt, node, config) {
                        //            ExportDatatablesData(dt, 'div.viewuser-content', config);
                        //        }
                        //    },
                        //],
                        fnRowCallback: function (nRow, aData, iDisplayIndex) {
                            // Get row ID
                            var rowId = aData[0];

                            // If row ID is in the list of selected row IDs
                            DataTablesCheckboxIsSelected(rowId, rows_selected_Bus, nRow);

                            //var oSettings = (this.fnSettings) ? this.fnSettings() : this;
                            //$("td:first", nRow).html(oSettings._iDisplayStart + iDisplayIndex + 1);
                            //return nRow;
                        },
                        fnInfoCallback: function (oSettings, iStart, iEnd, iMax, iTotal, sPre) {
                            return DatatablesInfoCallback(objB, infoSeperator, oSettings, iStart, iEnd, iMax, iTotal, sPre);
                        },
                        language: {
                            searchPlaceholder: 'Search by Name',
                        },
                    });
                },
                refresh: function () {
                    dtB.ajax.reload();
                }
            }


            //$('#refresh-adminusers').on("click", dtBusTable.refresh);

            // Array holding selected row IDs
            var rows_selected_Bus = [];

            /////////////////////////////////////////////////////////////////
            // Let's kick it all off
            dtBusTable.init();

            DataTablesCustomClasses(objB);

            // Handle click on checkbox
            DataTablesHandleEachCheckboxClick(objB.replace('#'), rows_selected_Bus, "chkSelAllB", dtB);

            //// Handle click on table cells with checkboxes
            //DataTablesHandleCheckboxTableCellClick(objB.replace('#'));

            // Handle click on "Select all" control
            DataTablesHandleSelectAllClick(objB.replace('#'), "chkSelAllB", dtB);


            /***************************************************************************************************************************************/



            // Handle form submission event
            $(formId).on('submit', function (e) {
                var isvalidate = $(this).valid(), counter = 0, arrIds = [], arrUids = [], arrEwAmts = [], arrPgAmts = [];
                var id = parseInt($("#txnType").val());
                if (isvalidate) {
                    switch (id) {
                        case 1:
                            $(objR + " input[class*='chkrowR']:checkbox").each(function (index) {
                                var _this = this;
                                if ($(_this).prop('checked')) {
                                    counter++;
                                    arrIds.push($(_this).data("id"));
                                    arrUids.push($(_this).data("uniqueid"));
                                    arrEwAmts.push($(_this).data("ewamount"));
                                    arrPgAmts.push($(_this).data("pgamount"));
                                }
                            });
                            break;

                        case 2:
                            $(objF + " input[class*='chkrowF']:checkbox").each(function (index) {
                                var _this = this;
                                if ($(_this).prop('checked')) {
                                    counter++;
                                    arrIds.push($(_this).data("id"));
                                    arrUids.push($(_this).data("uniqueid"));
                                    arrEwAmts.push($(_this).data("ewamount"));
                                    arrPgAmts.push($(_this).data("pgamount"));
                                }
                            });
                            break;

                        case 3:
                            $(objB + " input[class*='chkrowB']:checkbox").each(function (index) {
                                var _this = this;
                                if ($(_this).prop('checked')) {
                                    counter++;
                                    arrIds.push($(_this).data("id"));
                                    arrUids.push($(_this).data("uniqueid"));
                                    arrEwAmts.push($(_this).data("ewamount"));
                                    arrPgAmts.push($(_this).data("pgamount"));
                                }
                            });
                            break;

                        default:
                            break;
                    }
                    if (counter == 0) {
                        bootalert('Select a checkbox to continue.');
                        isvalidate = false;
                    }
                }

                if (isvalidate) {
                    var obj = new Object();
                    console.log('id = ' + id);
                    obj.i = StringEncryption(id);
                    console.log('arrIds = ' + arrIds.toString());
                    obj.s = StringEncryption(arrIds.toString());
                    console.log('arrUids = ' + arrUids.toString());
                    obj.o = StringEncryption(arrUids.toString());
                    console.log('arrEwAmts = ' + arrEwAmts.toString());
                    obj.a = StringEncryption(arrEwAmts.toString());
                    console.log('arrPgAmts = ' + arrPgAmts.toString());
                    obj.c = StringEncryption(arrPgAmts.toString());

                    console.log(JSON.stringify(obj))
                    //return false;
                    //e.preventDefault();

                    var $btn = sblbtn.button('loading');
                    sblbtn.prop("disabled", true);

                    $.ajax({
                        url: apiPath + "/CreditReversal",
                        type: "POST",
                        data: obj,
                        success: function (data, textStatus, xhr) {
                            $btn.button('reset')
                            sblbtn.prop("disabled", false);
                            bootalert('Request status updated successfully.', 'success');
                            setTimeout(function () {
                                window.location = '@Request.Url';
                            }, 2000);
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            if (errorThrown == '')
                                errorThrown = 'Connection is not available.';
                            $btn.button('reset')
                            sblbtn.prop("disabled", false);
                            bootalert(errorThrown, 'error');
                        }
                    });



                    switch (id) {
                        case 1:
                            $(objR).dataTable().fnDraw();

                            $(objR).DataTable()
                                .columns.adjust()
                                .responsive.recalc();
                            break;

                        case 2:
                            $(objF).dataTable().fnDraw();

                            $(objF).DataTable()
                                .columns.adjust()
                                .responsive.recalc();
                            break;

                        case 3:
                            $(objB).dataTable().fnDraw();

                            $(objB).DataTable()
                                .columns.adjust()
                                .responsive.recalc();
                            break;

                        default:
                            break;
                    }
                    if (counter == 0) {
                        bootalert('Select a checkbox to continue.');
                        isvalidate = false;
                    }
                }
                e.preventDefault();
            });
        });
    </script>
}
