﻿@model Nop.Plugin.Api.Models.Recharge.RechargeRpt
@using Nop.Plugin.Api.Constants
@using Nop.Web.Framework
@using Nop.Plugin.Api.Models
@using Nop.Web.Framework.UI
@using Nop.Core.Infrastructure
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    ViewBag.Title = "Recharge/Payment Report";
    ViewBag.PageTitle = "Recharge/Payment Report";
    ViewBag.Breadcrumb_L1 = "Recharge/Payment Report";
    ViewBag.Breadcrumb_L2 = "";
    ViewBag.Breadcrumb_L3 = "";
    Layout = "~/Plugins/Nop.Plugin.Api/Views/Shared/_AdminLayout.cshtml";


}
<div class="alert alert-danger alert-dismissable" id="validationMessages">
</div>
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.MemberReport.RechargeReport")
    </h1>
    <div class="pull-right">
        <div class="btn-group">
        </div>
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="form-group">
                                    <label for="SearchText" class="col-sm-6 control-label">@*<span class="text-red">*&nbsp;</span>*@Member Name/ID/Mobile No</label>
                                    <div class="col-sm-6 col-xs-12">
                                        <input type="text" id="SearchText" name="SearchText" class="form-control col-sm-6 col-xs-12" placeholder="Enter Search text...">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        @Html.NopLabelFor(model => model.Service_ID)
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        @Html.NopDropDownListFor(model => model.Service_ID, Model.Servicelist)

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        @Html.NopLabelFor(model => model.paymentChoice)
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        @Html.NopDropDownList("paymentChoice", new List<SelectListItem>
                                                  {
                                                      new SelectListItem{Text="All Record(s)",Value="0"},
                                                      new SelectListItem{Text="E-Wallet",Value="5"},
                                                      new SelectListItem{Text="Pay U",Value="6"},
                                                  })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        @Html.NopLabelFor(model => model.StatusChoice)
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        @Html.NopDropDownList("StatusChoice", new List<SelectListItem>
                                      {
                                          new SelectListItem{Text="All Record(s)",Value="4"},
                                          new SelectListItem{Text="Initiated",Value="0"},
                                          new SelectListItem{Text="Approved",Value="1"},
                                          new SelectListItem{Text="Pending",Value="2"},
                                          new SelectListItem{Text="Failed",Value="3"},
                                      })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group" id="trStartDate">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        @Html.NopLabelFor(model => model.StartDate)
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        @Html.NopEditorFor(model => model.StartDate)
                                        @Html.ValidationMessageFor(model => model.StartDate)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group" id="trEndDate">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        @Html.NopLabelFor(model => model.EndDate)
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        @Html.NopEditorFor(model => model.EndDate)
                                        @Html.ValidationMessageFor(model => model.EndDate)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group" id="trEndDate">
                                    <div class="col-xs-12 col-sm-6 col-md-6">

                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <button type="button" name="search" id="search-Recharge" class="btn bg-blue">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                  
                </div>
            </div>

            <div class="panel panel-default" id="divShowHide">
                <div class="panel-body">
                    <h3>@T("Admin.Customer.SearchResult")</h3>
                    <div id="Recharge-grid"></div>
                    <script>
                            var pvcode="";
                            $(document).ready(function () {

                                $('#Recharge-grid').hide();
                                $('#tableUpgradePackageDetails').hide();
                                $('#divShowHide').hide();

                                $("#Recharge-grid").kendoGrid({
                                    autoBind: false,
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("RechargeRptGrid", "AdminRecharge"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: true,
                                    columns: [@*{
                                        field: "SrNo",
                                        title: "Sr. No.",
                                        //"@T("Admin.CustomerReport.SrNo")",
                                        width: 100,
                                        //hidden:true
                                    },*@{
                                        field: "UniqueId",
                                        title: "Transaction ID",
                                        // "@T("Admin.CustomerReport.Name")",
                                        width: 250,
                                    },{
                                        field: "CustomerName",
                                        title: "Member Details",
                                        // "@T("Admin.CustomerReport.Name")",
                                        width: 150,
                                        encoded: false,
                                    },{
                                        field: "NumberToRecharge",
                                        title: "Number To Recharge",
                                        // "@T("Admin.CustomerReport.Name")",
                                        width: 150,
                                    },{
                                        field: "TxnName",
                                        title: "Service",
                                        // "@T("Admin.CustomerReport.Name")",
                                        width: 100,
                                    },{
                                        field: "Operator",
                                        title: "Operator",
                                        //"@T("Admin.CustomerReport.DOJ")",
                                        width: 100,
                                    },{
                                        field: "TotalAmount",
                                        title: "Amount (In Rs.)",
                                        //"@T("Admin.CustomerReport.DOJ")",
                                        width: 100,
                                    },{
                                        field: "Paymode",
                                        title: "Payment Mode",
                                        //"@T("Admin.CustomerReport.DOJ")",
                                        width: 100,
                                    },{
                                        field: "StatusName",
                                        title: "Status",
                                        // "@T("Admin.CustomerReport.Name")",
                                        width: 100,
                                    },{
                                        field: "ApplicationDtm_ddMMyyyy",
                                        title: "Date",
                                        // "@T("Admin.CustomerReport.Name")",
                                        width: 100,
                                    }]
                                });
                            });

                    </script>
                    <script type="text/javascript">
        $("#reset-chagePackageDetails").click(function (){
            $("#ddlChoice").val("1");
            $("#MemId").val("");
            $("#SearchFirstName").val("");
            $("#StartDate").val("");
            $("#EndDate").val("");
            $('#trMemName').hide();
            $("#trEndDate").show();
            $("#trStartDate").show();
            $('#Recharge-grid').hide();
            $('#divShowHide').hide();
            $('#tableUpgradePackageDetails').hide();
            $('#validationMessages').html('');
            $("#validationMessages").hide();
        });
        function additionalData() {
            var data = {
                SearchText : $('#SearchText').val().trim(),
                    Service_ID :$('#@Html.FieldIdFor(model => model.Service_ID)').val(),
                    paymentChoice: $('#@Html.FieldIdFor(model => model.paymentChoice)').val(),
                    StatusChoice: $('#@Html.FieldIdFor(model => model.StatusChoice)').val(),
                StartDate: getDate($("#StartDate").data("kendoDatePicker").value()),
                EndDate:getDate($("#EndDate").data("kendoDatePicker").value()),
            };
            addAntiForgeryToken(data);
            return data;
        }

        var selectedIds = [];

        $(document).ready(function () {
            $("#StartDate").keyup(function(){
                $(this).val('');
            });
            $("#EndDate").keyup(function(){
                $(this).val('');
            });

            $('#trMemName').hide();
            $('#trPackage').hide();
            $("#validationMessages").hide();



        });

        $("#search-Recharge").click(function() {

            $('#validationMessages').html('');
            $("#validationMessages").hide();
            $(".alert.alert-success.alert-dismissable").hide();
            $(".alert.alert-danger.alert-dismissable").hide();
            var remark= $('#Remark').val();
            var validationDivs1='';


            var Choice = $("#ddlChoice").val();
            var SearchFirstName =  $("#SearchFirstName").val();
            var SearchText =  $("#SearchText").val();
            var MemId =  $("#MemId").val();
            var StartDate =  $("#StartDate").val();
            var EndDate =  $("#EndDate").val();
            var validationDivs='';
            $('#validationMessages').html('');
            $('#Recharge-grid').hide();
            $('#divShowHide').hide();
            $('#tableUpgradePackageDetails').hide();
            $("#validationMessages").hide();
            $(".alert.alert-success.alert-dismissable").hide();
            $(".alert.alert-danger.alert-dismissable").hide();

            var flag=true;
            var SearchText =  $("#SearchText").val();
            if (SearchText == '' )
            {
                validationDivs=validationDivs+'<div>Enter your text to search.</div>';
                flag=false;
            }
            if (Choice == 0 )
            {
                if (SearchFirstName == '' )
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.IdNameRequired")</div>';
                    flag=false;
                }
                if(SearchFirstName != "" && MemId == '')
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                    flag=false;
                }
            }

            if (Choice == 1)
            {
                if(StartDate != '' && EndDate == '')
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                    flag=false;
                }

                if(EndDate != '' && StartDate == '')
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                    flag=false;
                }

                var EnteredDate = getDate($("#StartDate").data("kendoDatePicker").value());
                var EnteredFromdate=getDate($("#EndDate").data("kendoDatePicker").value());

                var myDate = new Date(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                var myFromDate = new Date(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                var today = new Date();
                var start_time=$("#DatewiseFrom").val();
                var end_time=$("#DatewiseTo").val();

                if (myFromDate > today) {

                    validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    flag=false;
                }
                if (myFromDate < myDate) {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    flag=false;
                }
            }

            if(flag){

                var data = {
                    SearchText : $('#SearchText').val().trim(),
                    Service_ID :$('#@Html.FieldIdFor(model => model.Service_ID)').val(),
                    paymentChoice: $('#@Html.FieldIdFor(model => model.paymentChoice)').val(),
                    StatusChoice: $('#@Html.FieldIdFor(model => model.StatusChoice)').val(),
                    StartDate: getDate($("#StartDate").data("kendoDatePicker").value()),
                    EndDate:getDate($("#EndDate").data("kendoDatePicker").value()),
                }

                addAntiForgeryToken(data);

                $("#sucessMessages").html(@ViewBag.returnMessage);

                $.ajax({

                    url: "@Html.Raw(Url.Action("RechargeRptGrid", "AdminRecharge"))",
                    type: "POST",
                    dataType: "json",
                    data:data  , success: function(result){

                        if(result == "norecords" )
                        {
                            $("#validationMessages").show();
                            $("#validationMessages").html("No Record(s) found !!!");
                            $('#Recharge-grid').hide();
                            $('#divShowHide').hide();
                            $('#tableUpgradePackageDetails').hide();
                            return;
                        }

                        if(result!="norecords" )
                        {
                            var grid = $('#Recharge-grid').data('kendoGrid');
                            grid.dataSource.page(1); //new search. Set page size to 1
                            //grid.dataSource.read(); we already loaded the grid above using "page" function
                            //clear selected checkboxes
                            $('.checkboxGroups').attr('checked', false).change();
                            selectedIds = [];
                            $('#Recharge-grid').show();
                            $('#divShowHide').show();
                            $('#tableUpgradePackageDetails').show();
                            return false;
                        }
                    }
                });
            }
            else{
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
            }
        });

                    </script>
                </div>
            </div>
        </div>
    </div>
</div>


