﻿@using Nop.Plugin.Api.Constants
@using Nop.Web.Framework
@using Nop.Plugin.Api.Models
@using Nop.Web.Framework.UI
@{
    ViewBag.Title = "Recharge/Payment Report";
    ViewBag.PageTitle = "Recharge/Payment Report";
    ViewBag.Breadcrumb_L1 = "Recharge/Payment Report";
    ViewBag.Breadcrumb_L2 = "";
    ViewBag.Breadcrumb_L3 = "";
    Layout = "~/Plugins/Nop.Plugin.Api/Views/Shared/_AdminLayout.cshtml";

    //Html.AppendCssFileParts("~/Plugins/Nop.Plugin.Api/Content/common.min.css");
    Html.AppendCssFileParts("~/Plugins/Nop.Plugin.Api/Content/module.min.css");
    Html.AppendCssFileParts("~/Plugins/Nop.Plugin.Api/Content/app.core.min.css");

    Html.AddScriptParts("~/Plugins/Nop.Plugin.Api/Scripts/module.min.js");
    //Html.AddScriptParts("~/Plugins/Nop.Plugin.Api/Scripts/common.min.js");
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet box red-thunderbird">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-search no-margin-tb"></i>Search
                    </div>
                    <div class="tools">
                        <a class="expand" href="javascript:;" data-original-title="" title=""></a>
                    </div>
                </div>
                <div class="portlet-body" style="display:none">
                    @using (Html.BeginForm("RechargeReport", "AdminRecharge", FormMethod.Get, new { @id = "frmRechargeReport", @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="form-group">
                                <label for="SearchText" class="col-sm-6 control-label">@*<span class="text-red">*&nbsp;</span>*@Member Name/ID/Mobile No</label>
                                <div class="col-sm-6 col-xs-12">
                                    <input type="text" id="SearchText" name="SearchText" class="form-control col-sm-6 col-xs-12" placeholder="Enter Search text...">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="RechargeType" class="col-sm-6 control-label"><span class="text-red">*&nbsp;</span>Service</label>
                                <div class="col-sm-6 col-xs-12">
                                    <select id="RechargeType" name="RechargeType" class="width-100p">
                                        <option value="">All Record(s)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="selStatus" class="col-sm-6 control-label"><span class="text-red">*&nbsp;</span>Status</label>
                                <div class="col-sm-6 col-xs-12">
                                    <select id="selStatus" name="selStatus" class="width-100p">
                                        <option value="4">All Record(s)</option>
                                        <option value="0">Initiated</option>
                                        <option value="1">Approved</option>
                                        <option value="2">Pending</option>
                                        <option value="3">Rejected</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="selPaymode" class="col-sm-6 control-label"><span class="text-red">*&nbsp;</span>Payment Mode</label>
                                <div class="col-sm-6 col-xs-12">
                                    <select id="selPaymode" name="selPaymode" class="width-100p">
                                        <option value="0">All Record(s)</option>
                                        <option value="5">E-Wallet</option>
                                        <option value="6">Pay U</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="FromDate" class="col-sm-6 control-label"><span class="text-red">*&nbsp;</span>Period</label>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="col-md-4 col-sm-4 col-xs-11 pull-left no-padding" id="FromDt">
                                        <input type="text" id="FromDate" name="FromDate" class="form-control" placeholder="" />
                                    </div>
                                    <div class="pull-left"><label class="control-label">&nbsp;to&nbsp;</label></div>
                                    <div class="clearfix margin-bottom-5"></div>
                                    <div class="col-md-4 col-sm-4 col-xs-11 pull-left no-padding" id="ToDt">
                                        <input type="text" id="ToDate" name="ToDate" class="form-control" placeholder="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">
                                <button id="btnSearch" name="btnSearch" type="submit" class="btn green lighten-1 pull-right" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>&nbsp;Please wait...">Search</button>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <button id="clearFilter" name="clearFilter" type="button" class="btn pull-left">Clear</button>
                            </div>
                            <div class="clearfix margin-bottom-5"></div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h4 class="title pull-left">Results</h4>
                    <a class="btn btn-sm btn-neutral text-warning no-padding-tb" href="#" id="refresh-adminusers" title="Reload">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-refresh fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </div>
                <div class="content viewuser-content">
                    <table id="tableResults" class="table table-striped table-bordered display responsive nowrap" border="0" cellpadding="6"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        var $btn = null,
            sblbtn = null,
            obj = '#tableResults',
            formId = '#frmRechargeReport',
            startTime = null,
            infoSeperator = '<span class="span-seperator">&nbsp;|&nbsp;</span><span class="span-break"><br /></span>',
            ApproveFlag = false;

        $(document).ready(function (e) {
            sblbtn = $("#btnSearch");

            $(".dt-export-info").hide();
            $('#FromDate, #ToDate').datetimepicker({ format: 'DD/MM/YYYY' });

            FetchRechargeTypeList("RechargeType", null, null);

            var dtResultsTable = {
                dt: null,
                init: function () {
                    dt = $(obj).on('error.dt', function (e, settings, techNote, message) {
                        bootalert(dataTablesErrorMessage, 'error');
                        //console.log('message - ' + message);
                        $(obj).find('tbody').html('<tr class="odd"><td valign="top" colspan="' + $(obj).find('thead').find('th').length + '" class="dataTables_empty"><span class="text-red"><i class="fa fa-frown-o"></i>&nbsp;No records to display.</span></td></tr>');
                    }).on('init.dt', function () {
                        //console.log('Table initialisation complete: ' + new Date().getTime());
                        $(obj).find('th').eq(0).removeClass("sorting_asc");
                    }).on('draw.dt', function () {
                        //console.log('Table draw complete: ' + new Date().getTime());
                        $(obj).find('th').eq(0).removeClass("sorting_asc");
                    }).DataTable({
                        bSort: false,
                        fnServerParams: function (aoData) {
                            aoData.search.value = '';
                            aoData.search.value = $('#SearchText').val().trim() + "|" + $("#RechargeType :selected").val() + "|" + $("#selStatus :selected").val() + "|" + $("#selPaymode :selected").val() + "|" + $("#FromDate").val().trim() + "#" + $("#ToDate").val().trim();
                            //alert(aoData.search.value);
                        },
                        ajax: {
                            url: "GetRechargeReportListJson",
                            type: "POST",
                            beforeSend: function (xhr) {
                                startTime = new Date().getTime();
                                //console.log('beforesend startTime - ' + startTime);
                                DatatablesAjaxBeforeSend(sblbtn, obj, 'div.viewuser-content');
                                $btn = sblbtn.button('loading');
                            },
                            complete: function (xhr) {
                                DatatablesAjaxComplete(startTime, sblbtn, obj, infoSeperator, 'div.viewuser-content');
                                $btn.button('reset');
                            }
                        },
                        columns: [
                            {
                                title: "Sr. No.",
                                name: "Sr. No.",
                                data: null,
                                className: 'text-center no-export',
                            },
                            {
                                title: "Transaction ID",
                                name: "Transaction ID",
                                data: "UniqueId",
                                className: 'text-center',
                            },
                            {
                                title: "Member Name",
                                name: "Member Name",
                                data: "CustomerName",
                                visible: false,
                            },
                            {
                                title: "Member ID",
                                name: "Member ID",
                                data: "MemNo",
                                visible: false,
                            },
                            {
                                title: "Mobile No",
                                name: "Mobile No",
                                data: "Mobile_No",
                                visible: false,
                            },
                            {
                                title: "Member Details",
                                name: "Member Details",
                                data: null,
                                className: 'no-export',
                                "render": function (data, type, row, meta) {
                                    return '<b>' + row.CustomerName + '</b><br /><span class="text-warning">Member ID</span>: ' + (row.MemNo == null ? "-" : row.MemNo) + '<br /><span class="text-warning">Mobile No</span>: ' + (row.Mobile_No == null ? "-" : row.Mobile_No);
                                }
                            },
                            {
                                title: "Date",
                                name: "Date",
                                data: "ApplicationDtm_ddMMyyyy",
                                visible: false,
                            },
                            {
                                title: "Date-time",
                                name: "Date-time",
                                data: null,
                                className: 'text-center no-export',
                                "render": function (data, type, row, meta) {
                                    return ConvertDateFromJson(row.ApplicationDtm, 'date');
                                }
                            },
                            {
                                title: "Service",
                                name: "Service",
                                data: "TxnName",
                                className: 'text-center',
                            },
                            {
                                title: "Operator",
                                name: "Operator",
                                data: "Operator",
                                className: 'text-center',
                            },
                            {
                                title: "Payment Mode",
                                name: "Payment Mode",
                                data: "Paymode",
                                className: 'text-center',
                            },
                            {
                                title: "Number To Recharge",
                                name: "Number To Recharge",
                                data: "NumberToRecharge",
                                visible: false,
                            },
                            {
                                title: "Circle",
                                name: "Circle",
                                data: "Circle",
                                visible: false,
                            },
                            {
                                title: "Account Number",
                                name: "Account Number",
                                data: "AccountNumber",
                                visible: false,
                            },
                            {
                                title: "Cycle",
                                name: "Cycle",
                                data: "Cycle",
                                visible: false,
                            },
                            {
                                title: "Sub-Division",
                                name: "Sub-Division",
                                data: "SubDivision",
                                visible: false,
                            },
                            {
                                title: "Date Of Birth",
                                name: "Date Of Birth",
                                data: "DateOfBirth_ddMMyyyy",
                                visible: false,
                            },
                            {
                                title: "Unit",
                                name: "Unit",
                                data: "Unit",
                                visible: false,
                            },
                            {
                                title: "City",
                                name: "City",
                                data: "City",
                                visible: false,
                            },
                            {
                                title: "Recharge/Payment Amount",
                                name: "Recharge/Payment Amount",
                                data: "TxnAmount",
                                visible: false,
                            },
                            {
                                title: "Tax",
                                name: "Tax",
                                data: "TaxAmount",
                                visible: false,
                            },
                            {
                                title: "Total Amount",
                                name: "Total Amount",
                                data: "TotalAmount",
                                visible: false,
                            },
                            {
                                title: "TxnAmount",
                                name: "TxnAmount",
                                data: "TxnAmount",
                                visible: false,
                            },
                            {
                                title: "Status",
                                name: "Status",
                                data: "StatusName",
                                visible: false,
                            },
                            {
                                title: "Amount (In Rs.)",
                                name: "Amount (In Rs.)",
                                data: null,
                                className: 'text-right no-export',
                                "render": function (data, type, row, meta) {
                                    return '<a href="#" class="view-transaction-details" data-txnname="' + row.TxnName + '" data-number="' + row.NumberToRecharge + '" data-operator="' + row.Operator + '" data-circle="' + (row.Circle == null ? 0 : row.Circle) + '" data-accno="' + (row.AccountNumber == null ? 0 : row.AccountNumber) + '" data-cycle="' + (row.Cycle == null ? 0 : row.Cycle) + '" data-subdiv="' + (row.SubDivision == null ? "" : row.SubDivision) + '" data-dob="' + (row.DateOfBirth == null ? "" : ConvertDateFromJson(row.DateOfBirth, 'ddmmyyyy')) + '" data-unit="' + (row.Unit == null ? 0 : row.Unit) + '" data-city="' + (row.City == null ? "" : row.City) + '" data-txnamount="' + row.TxnAmount + '" data-taxamount="' + row.TaxAmount + '" data-totalamount="' + row.TotalAmount + '" data-ewamount="' + row.EwAmount + '" data-pgamount="' + row.PgAmount + '" data-taxdetails="' + row.TaxDetails + '">' + row.TotalAmount + '/-</a>';
                                }
                            },
                            {
                                title: "Status",
                                name: "Status",
                                data: null,
                                className: 'no-export',
                                "render": function (data, type, row, meta) {
                                    var s = '';
                                    switch (row.Status) {
                                        case 1:
                                            s = '<span class="text-success">' + row.StatusName + '</span>';
                                            break;

                                        case 2:
                                            s = '<span class="text-warning">' + row.StatusName + '</span>';
                                            break;

                                        case 3:
                                            s = '<span class="text-danger">' + row.StatusName + '</span>';
                                            break;

                                        default:
                                            if (row.PgAmount > 0) {
                                                switch (row.GatewayStatus) {
                                                    case 1:
                                                        s = '<span class="text-success"> Online payment ' + row.GatewayStatusName + '</span>';
                                                        break;

                                                    case 2:
                                                        s = '<span class="text-warning"> Online payment ' + row.GatewayStatusName + '</span>';
                                                        break;

                                                    case 3:
                                                        s = '<span class="text-danger"> Online payment ' + row.GatewayStatusName + '</span>';
                                                        break;

                                                    default:
                                                        s = row.GatewayStatusName;
                                                        break;
                                                }
                                            }
                                            else if (row.EwAmount > 0) {
                                                //console.log(row.UniqueId + '  -  ' + row.WalletStatus);
                                                switch (row.WalletStatus) {
                                                    case 1:
                                                        s = '<span class="text-success"> Wallet payment ' + row.WalletStatusName + '</span>';
                                                        break;

                                                    case 2:
                                                        s = '<span class="text-warning"> Wallet payment ' + row.WalletStatusName + '</span>';
                                                        break;

                                                    case 3:
                                                        s = '<span class="text-danger"> Wallet payment ' + row.WalletStatusName + '</span>';
                                                        break;

                                                    default:
                                                        s = row.WalletStatusName;
                                                        break;
                                                }
                                            }
                                            break;
                                    }
                                    var t = '';
                                    if (row.ExceptionMessage != null && row.ExceptionMessage != '')
                                        t = row.ExceptionMessage;
                                    else if (row.BusStatus > 1 && row.BusResponse != null && row.BusResponse != '')
                                        t = JSON.parse(row.BusResponse).message;
                                    else if (row.GatewayStatus > 1 && row.GatewayResponse != null && row.GatewayResponse != '') {
                                        //console.log(row.GatewayResponse);
                                        var arr = row.GatewayResponse.split('|');
                                        t = arr[arr.length - 8].split('~')[1];
                                    }
                                    if (t != '') {
                                        s = s + '<div style="max-width:250px;white-space:initial">' + t + '</div>';
                                    }
                                    return s;
                                }
                            },
                        ],
                        //columnDefs: [{
                        //    orderable: false,
                        //    searchable: false,
                        //    className: 'no-export text-center',
                        //    targets: 0,
                        //    render: function (data, type, row, meta) {
                        //        var chk = '<input class="chkrow" type="checkbox" data-id="' + row.Id + '" />';
                        //        if (row.Type != 0)
                        //            chk = "";
                        //        return chk;
                        //    },
                        //}],
                        buttons: [
                            {
                                extend: 'excel',
                                title: 'Recharge/Payment Report List',
                                filename: 'Recharge_Payment_Report_list_' + GetCurrentTimeStamp(),
                                action: function (e, dt, node, config) {
                                    ExportDatatablesData(dt, 'div.viewuser-content', config);
                                }
                            },
                        ],
                        fnRowCallback: function (nRow, aData, iDisplayIndex) {
                            // Get row ID
                            //var rowId = aData[0];

                            // If row ID is in the list of selected row IDs
                            //DataTablesCheckboxIsSelected(rowId, rows_selected, nRow);

                            var oSettings = (this.fnSettings) ? this.fnSettings() : this;
                            $("td:first", nRow).html(oSettings._iDisplayStart + iDisplayIndex + 1);
                            return nRow;
                        },
                        fnInfoCallback: function (oSettings, iStart, iEnd, iMax, iTotal, sPre) {
                            return DatatablesInfoCallback(obj, infoSeperator, oSettings, iStart, iEnd, iMax, iTotal, sPre);
                        },
                        language: {
                            searchPlaceholder: 'Search by Name',
                        },
                    });
                },
                refresh: function () {
                    dt.ajax.reload();
                }
            }

            $(document).on('click', 'a.view-transaction-details', function (e) {
                try {
                    var content = "<h4 class='bold'>" + $(this).data('txnname') + "</h4>";
                    content += '<b>Number:</b> ' + $(this).data('number') + '<br />';
                    content += '<b>Service Provider:</b> ' + $(this).data('operator');
                    if ($(this).data('circle') != null && $(this).data('circle') != '' && $(this).data('circle') != '0')
                        content += " - " + $(this).data('circle') + '<br />';
                    else
                        content += '<br />';
                    if ($(this).data('accno') != null && $(this).data('accno') != '' && $(this).data('accno') != '0')
                        content += '<b>Account Number:</b> ' + $(this).data('accno') + '<br />';
                    if ($(this).data('cycle') != null && $(this).data('cycle') != '' && $(this).data('cycle') != '0')
                        content += '<b>Cycle:</b> ' + $(this).data('cycle') + '<br />';
                    if ($(this).data('subdiv') != null && $(this).data('subdiv') != '' && $(this).data('subdiv') != '0')
                        content += '<b>Sub-division:</b> ' + $(this).data('subdiv') + '<br />';
                    if ($(this).data('dob') != null && $(this).data('dob') != '' && $(this).data('dob') != '0')
                        content += '<b>Date of Birth:</b> ' + $(this).data('dob') + '<br />';
                    if ($(this).data('unit') != null && $(this).data('unit') != '' && $(this).data('unit') != '0')
                        content += '<b>Unit:</b> ' + $(this).data('unit') + '<br />';
                    content += '<b>Recharge/Payment Amount:</b> Rs.' + $(this).data('txnamount') + '/-<br />';
                    if ($(this).data('taxamount') != null && $(this).data('taxamount') != '' && $(this).data('taxamount') != '0') {
                        content += "<hr class='margin-5' />";
                        var tax = [];
                        if ($(this).data('taxdetails') != null && $(this).data('taxdetails') != '') {
                            if ($(this).data('taxdetails').indexOf("#") != -1)
                                tax = $(this).data('taxdetails').split("#");
                            else
                                tax[0] = $(this).data('taxdetails');
                            //console.log(tax);
                            var taxdtls = '', txxx = '';
                            for (var i = 0; i < tax.length; i++) {
                                var tx = tax[i].split("~");
                                taxdtls = "<b>" + tx[2] + (tx[3] == 'true' ? "" : tx[4]) + ":</b> Rs." + (tx[3] == true ? tx[9] : (parseFloat($(this).data('txnamount')) * parseFloat(tx[9]) / 100).toString()) + "/-";
                                if (txxx == '') {
                                    txxx = taxdtls;
                                }
                                else {
                                    txxx = txxx + "<br />" + taxdtls;
                                }
                            }
                        }
                        content += txxx + "<br />";
                        //content += '<b>Tax Amount:</b> ' + $(this).data('taxamount') + '<br />';
                        content += "<hr class='margin-5' />";
                        content += '<b>Total Amount: Rs.' + $(this).data('totalamount') + '/-</b><br />';
                    }
                    bootbox.alert(content);
                    e.preventDefault();
                } catch (e) {
                    alertException(e, current_page_id, '');
                }
            });

            $('#refresh-adminusers').on("click", dtResultsTable.refresh);

            // Array holding selected row IDs
            //var rows_selected = [];

            /////////////////////////////////////////////////////////////////
            // Let's kick it all off
            dtResultsTable.init();

            DataTablesCustomClasses(obj);

            // Handle click on checkbox
            //DataTablesHandleEachCheckboxClick("tableResults", rows_selected, "chkSelAll", dt);

            // Handle click on table cells with checkboxes
            //DataTablesHandleCheckboxTableCellClick('tableResults');

            // Handle click on "Select all" control
            //DataTablesHandleSelectAllClick('tableResults', "chkSelAll", dt);

            // Handle form submission event
            $(formId).on('submit', function (e) {
                var isvalidate = $(this).valid();
                if (isvalidate) {
                    $(obj).dataTable().fnDraw();

                    $(obj).DataTable()
                        .columns.adjust()
                        .responsive.recalc();

                    return false;
                }
            });

            $('#selSearchOpt').on('change', function (e) {
                var val = parseInt($(this).val());
                $('#SearchText').val('');
            });

            $(formId).validate({
                rules: {
                    SearchText: {
                        required: {
                            depends: function () {
                                $(this).val($(this).val().trim());
                                //if (document.getElementById("selSearchOpt").value == 1 || document.getElementById("selSearchOpt").value == 3)
                                //    return true;
                                //else
                                return false;
                            }
                        },
                        regex: /^[a-zA-Z0-9\.\s\(\)]+$/,
                        rangelength: [2, 100]
                    },
                    FromDate: {
                        required: {
                            depends: function () {
                                if ($("#ToDate").val().trim() != '')
                                    return true;
                                else
                                    return false;
                            }
                        },
                        regex: /^[0-9\/]+$/,
                        rangelength: [10, 10]
                    },
                    ToDate: {
                        required: {
                            depends: function () {
                                if ($("#FromDate").val().trim() != '')
                                    return true;
                                else
                                    return false;
                            }
                        },
                        regex: /^[0-9\/]+$/,
                        rangelength: [10, 10]
                    },
                },
                messages: {
                    SearchText: {
                        required: "Enter your text to search.",
                        //regex: "Only alphabets (a-z) and numbers (0-9) are allowed.",
                        rangelength: "Search text should be {0}-{1} characters."
                    },
                    FromDate: {
                        required: "Enter From date.",
                    },
                    ToDate: {
                        required: "Enter To date.",
                    },
                }
            });

            $('#clearFilter').on('click', function (e) {
                window.location = '@Request.Url';
            });

            window.ReloadDataGrid = function () {
                ReloadDataTable(obj);
            }
        });

    </script>

