﻿@{
    ViewBag.Title = "Wallet Login";
    ViewBag.PageTitle = "Wallet Login";
    ViewBag.Breadcrumb_L1 = "Wallet Login";
    ViewBag.Breadcrumb_L2 = "";
    ViewBag.Breadcrumb_L3 = "";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 no-float center-block">
            @using (Html.BeginForm("WalletLogin", "Admin", FormMethod.Get, new { @id = "frmWalletLogin", @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption width-100p">
                            <i class="fa fa-wallet no-margin-tb"></i>Wallet Login
                            <a class="forgot-password pull-right text-info">Forgot Password?</a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="card">
                            <div class="content">
                                <div class="form-group">
                                    <label for="EwPassword" class="col-sm-5 control-label"><span class="text-red">*&nbsp;</span>Enter Password</label>
                                    <div class="col-sm-7 col-xs-12">
                                        <input type="text" id="EwPassword" name="EwPassword" class="form-control" placeholder="Enter Password" value="" maxlength="20" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-sm-8 col-md-6 no-float center-block text-center">
                    <button id="btnSave" type="submit" name="btnSave" class="btn blue" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>&nbsp;Please wait...">
                        <span class="btn-label">
                            <i class="fa fa-check"></i>
                        </span>
                        Save
                    </button>
                    <button id="btnReset" type="button" name="btnReset" class="btn btn-danger">
                        <span class="btn-label">
                            <i class="fa fa-times"></i>
                        </span>
                        Reset
                    </button>
                </div>
            }
            @using (Html.BeginForm("WalletLogin", "Admin", FormMethod.Get, new { @id = "frmWalletRecoverPwd", @class = "form-horizontal", role = "form", @style = "display:none" }))
            {
                @Html.AntiForgeryToken()
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption width-100p">
                            <i class="fa fa-wallet no-margin-tb"></i>Wallet Password Recovery
                            <a class="wallet-signin pull-right text-info">Wallet Sign-In</a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="card">
                            <div class="content">
                                <div class="form-group">
                                    <label for="EwEmail" class="col-sm-5 control-label"><span class="text-red">*&nbsp;</span>Enter Email Id</label>
                                    <div class="col-sm-7 col-xs-12">
                                        <input type="text" id="EwEmail" name="EwEmail" class="form-control" placeholder="Enter Email Id" value="" maxlength="100" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-sm-8 col-md-6 no-float center-block text-center">
                    <button id="btnRecover" type="submit" name="btnRecover" class="btn blue" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>&nbsp;Please wait...">
                        <span class="btn-label">
                            <i class="fa fa-check"></i>
                        </span>
                        Update
                    </button>
                    <button id="btnRecReset" type="button" name="btnRecReset" class="btn btn-danger reset-button">
                        <span class="btn-label">
                            <i class="fa fa-times"></i>
                        </span>
                        Reset
                    </button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function (e) {
            var sblbtn = $("#btnSave"), formId = "#frmWalletLogin", formRecId = "#frmWalletRecoverPwd", redirectToUrl = virtualPath + '/Admin/' + '@(ViewData["RedirectToPage"] == null ? "AccountLedger" : ViewData["RedirectToPage"].ToString())';

            $("button.reset-button").on('click', function (e) {
                ResetForm(formId);
                ResetForm(formRecId);
            });

            $("a.forgot-password").on('click', function (e) {
                $(formId).fadeOut('fast', function (e) {
                    $(formRecId).fadeIn();
                });
            });

            $("a.wallet-signin").on('click', function (e) {
                $(formRecId).fadeOut('fast', function (e) {
                    $(formId).fadeIn();
                });
            });

            $(formId).validate({
                rules: {
                    EwPassword: {
                        required: {
                            depends: function (e) {
                                $(this).val($(this).val().trim());
                                return true;
                            }
                        },
                        rangelength: [4, 20]
                    },
                },
                messages: {
                    EwPassword: { required: "Enter a Password" },
                },
            });

            $(formRecId).validate({
                rules: {
                    EwEmail: {
                        required: {
                            depends: function (e) {
                                $(this).val($(this).val().trim());
                                return true;
                            }
                        },
                        rangelength: [4, 20]
                    },
                },
                messages: {
                    EwEmail: { required: "Enter an Email Id" },
                },
            });

            $(formId).on('submit', function (e) {
                var isvalidate = $(this).valid();
                if (isvalidate) {
                    var obj = new Object();
                    obj.s = $("#EwPassword").val().trim();
                    obj.s = StringEncryption(obj.s);

                    //console.log(JSON.stringify(obj));
                    //return false;

                    var $btn = sblbtn.button('loading');
                    sblbtn.prop("disabled", true);
                    window.location = redirectToUrl;
                    /*$.ajax({
                        url: apiPath + "/WalletLogin",
                        type: "POST",
                        dataType: "JSON",
                        data: JSON.stringify(obj),
                        //data: data,
                        contentType: "application/json",
                        success: function (data, textStatus, xhr) {
                            $btn.button('reset')
                            sblbtn.attr("disabled", false);
                            if (data != '') {
                                bootalert(data, 'error');
                            }
                            else {
                                window.location = redirectToUrl;
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            if (errorThrown == '')
                                errorThrown = 'Connection is not available.';
                            bootalert(errorThrown, 'error');
                        },
                        complete: function (a) {
                            $btn.button('reset')
                            sblbtn.prop("disabled", false);
                        }
                    });*/
                }
                e.preventDefault();
            });
        });
    </script>
}

