﻿@using Kendo.Mvc.UI
@model Nop.Admin.Models.PayoutReports.TDSclubDetails
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //page title
    ViewBag.Title = T("Admin.Reports.CommissionDetail").Text;
}

<style>
    .k-grid-content {
        height: auto !important;
    }
</style>

@(Html.Kendo().Grid<dynamic>()
                .Name("TDSclubDetails-grid1")
                       .Columns(columns =>
                       {
                           if (Model != null)
                           {
                               //foreach (System.Data.DataColumn column in Model.Columns)
                               foreach (System.Data.DataColumn column in Model.dataTable.Columns)
                               {
                                   if (!Model.columnsToExclude.Contains(column.ColumnName))
                                   {
                                       if (column.Caption.ToLower().Contains("doj") || column.Caption.ToLower().Contains("date") || column.Caption.ToLower().Contains("dob") || column.Caption.ToLower().Contains("date of birth"))
                                       {
                                           var b = columns.Bound(column.ColumnName).Title(column.Caption).ClientTemplate("#= " + column.ColumnName + " ? kendo.toString(kendo.parseDate(" + column.ColumnName + "), 'MM/dd/yyyy') : '' #").Width(80);

                                       }
                                       else
                                       {
                                           var boundColumn = columns.Bound(column.ColumnName).Title(column.Caption);
                                           if (column.ColumnName != "Column1" && column.ColumnName != "Column2")
                                           {
                                               boundColumn.FooterTemplate("<div style='text-align:right;' id=\"" + column.ColumnName + "\"><strong></strong></div>").Width(80);
                                           }
                                       }
                                   }
                               }
                           }

                       })
       .Pageable(pager => pager.PageSizes(new int[] { 10, 15, 20, 50, 100 }))
     .Pageable(pager => pager.Refresh(true))
    .Sortable()
    .Scrollable(s => s.Enabled(true))
    // .Filterable()
    //.Groupable()
    .DataSource(dataSource => dataSource
        .Ajax()
               .Model(model =>
               {
                   if (Model != null)
                   {
                       foreach (System.Data.DataColumn column in Model.dataTable.Columns)
                       {

                           model.Field(column.ColumnName, column.DataType);
                       }
                   }
               })

                                                         //.Aggregates(a =>
                                                         //{
                                                         //    // a.Add("MPD_MemId", typeof(decimal?)).Sum();
                                                         //})
                                                         //        .Read(read => read.Action("JoiningDetailsGrid", "ReportDemo"))
                                                         .Read(read => read.Action("TDSClubDetailsGrid", "PayoutReportWithDt").Data("additionalData"))
              .PageSize(@defaultGridPageSize)
          .Events(e => e.RequestEnd("aggregates"))
    )
)



