﻿@model Nop.Admin.Models.PayoutReports.FundQualifiactionReport
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    ViewBag.Title = T("Admin.PayoutReports.FundQualification").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Fund Qualification Report");
}

@{
    var ddselectOptions = new List<SelectListItem>
    {
          new SelectListItem { Text = "All Records", Value="0" , Selected=true },
          new SelectListItem { Text = "ID-wise", Value="1" }
    };
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.PlanType)

    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.PayoutReports.FundQualification")
        </h1>
        <div class="pull-right">
            <button type="button" id="exportexceFundQualificationall" name="exportexceFundQualificationall" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                @T("Admin.Common.ExportToExcel")
            </button>
        </div>
        <div class="options">
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" id="divDatewise">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.selectOption)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopDropDownListFor(model => model.selectOption, ddselectOptions)
                                        @Html.ValidationMessageFor(model => model.selectOption)
                                    </div>
                                </div>
                                <div class="form-group" id="divIDwise">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.memberID)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopEditorFor(model => model.memberID)
                                        @Html.HiddenFor(model => model.memNumber)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                        @Html.ValidationMessageFor(model => model.memberID)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.FundName)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopDropDownListFor(model => model.FundName, Model.FundBonusList)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.PayoutNo)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopDropDownListFor(model => model.PayoutNo, Model.PayoutNoList)
                                        @Html.ValidationMessageFor(model => model.PayoutNo)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.PayoutStartDate)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopDropDownListFor(model => model.PayoutStartDate, Model.PayoutStartDateList, new { disabled = "disabled" })
                                        @Html.ValidationMessageFor(model => model.PayoutStartDate)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.PayoutEndDate)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopDropDownListFor(model => model.PayoutEndDate, Model.PayoutEndDateList, new { disabled = "disabled" })
                                        @Html.ValidationMessageFor(model => model.PayoutEndDate)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-md-offset-2">
                                <button type="button" id="searchReport" name="searchReport" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Customers.Pancard.ViewReport")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="searchResult">
                    <div class="panel-body">
                        <h3>@T("Admin.Customer.SearchResult")</h3>

                        <div id="FundBonusReconcilationReport-grid">
                        </div>
                        <script>

                            $(document).ready(function () {

                                var PayoutNoListStr = "",
                                PayoutStartDate = "",
                                PayoutEndDate = "";

                                $("#PayoutNo option[value='0']").remove();

                                $('#PayoutNo').change(function () {
                                    $("#showPayoutAnalysisreport").hide();
                                    var payoutNumber = $(this).val();
                                    var plantype = $('#PlanType').val();
                                    if (payoutNumber != null) {
                                        $.get("@(Url.Action("loadDropdownPayoutDatesNoCommissionStatement", "PayoutReports"))", { planType: plantype, dtCode: payoutNumber }, function (response) {
                                            //  $("#PayoutNo").empty();
                                            $("#PayoutStartDate").empty();
                                            $("#PayoutEndDate").empty();
                                            console.log(response.PayoutNoList);
                                            if (response.PayoutNoList.length > 0) {
                                                for (var i = 0; i < response.PayoutNoList.length; i++) {

                                                    // PayoutNoListStr = PayoutNoListStr + '<option value="' + response.PayoutNoList[i].Value + '">' + response.PayoutNoList[i].Text + '</option>';
                                                    PayoutStartDate = PayoutStartDate + '<option value="' + response.PayoutStartDateList[i].Value + '">' + response.PayoutStartDateList[i].Text + '</option>';
                                                    PayoutEndDate = PayoutEndDate + '<option value="' + response.PayoutEndDateList[i].Value + '">' + response.PayoutEndDateList[i].Text + '</option>';
                                                }
                                            }
                                            else {
                                                // PayoutNoListStr = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                                PayoutStartDate = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                                PayoutEndDate = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                            }
                                            //   $('#PayoutNo').append(PayoutNoListStr);
                                            $("#PayoutStartDate").append(PayoutStartDate);
                                            $("#PayoutEndDate").append(PayoutEndDate);
                                            PayoutNoListStr = '';
                                            PayoutStartDate = '';
                                            PayoutEndDate = '';
                                        });
                                    }
                                });

                                $('#selectOption').val("0");
                                $('#searchResult').hide();
                                $("#FundBonusReconcilationReport-grid").hide();
                                $("#validationMessages").hide();
                                $("#sucessMessages").hide();
                                $("#divIDwise").hide();

                                $('#selectOption').change(function () {
                                    var value = $(this).val();

                                    $("#memNumber").val("");
                                    $("#memberID").val("");
                                    $("#FundName").val("");
                                    $('#searchResult').hide();
                                    $("#FundBonusReconcilationReport-grid").hide();
                                    $("#validationMessages").hide();
                                    $("#sucessMessages").hide();

                                    if (value == 1) {
                                        $("#divIDwise").show();
                                        $("#validationMessages").hide();
                                        $("#sucessMessages").hide();
                                        $("#memberID").val(""); $("#memberID").focus();
                                    }
                                    else {
                                        $("#divIDwise").hide();
                                        $("#validationMessages").hide();
                                        $("#sucessMessages").hide();
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var refreshFlag = false;

        $('#memberID').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("SearchTermAutoCompletePayout", "PayoutReports"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                //$("#searchId").val(ui.item.MJD_MemNo);
                $("#memberID").val(ui.item.label);
                $("#memNumber").val(ui.item.MJD_MemID);
                $("#divfirstname").show();
                //  return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };

        $(document).ready(function () {
            $("#validationMessages").hide();
            var PayoutNoListStr = '';
            var PayoutStartDate = '';
            var PayoutEndDate = '';
            $('#searchResult').hide();

            $("#exportexceFundQualificationall").click(function () {

                var selectVal = $("#selectOption").val();
                var getMemid = $("#memberID").val();
                var validationDivs = '';
                $('#validationMessages').html('');
                $("#validationMessages").hide();
                //   
                if (selectVal == 1) {
                    if (getMemid == "") {
                        $("#validationMessages").show();
                        $("#validationMessages").html("@T("Admin.PayoutReports.ReconcilationReport.memberID")");
                        return;
                    }
                }

                refreshFlag = false;

                var FromDate = $("#PayoutStartDate option:selected").text();
              
                var ToDate = $("#PayoutEndDate option:selected").text();

                var data = {
                    memNumber: $('#@Html.FieldIdFor(model => model.memNumber)').val(),
                    selectOption: $('#@Html.FieldIdFor(model => model.selectOption)').val(),
                    PayoutNo: $('#@Html.FieldIdFor(model => model.PayoutNo)').val(),

                    @*PayoutEndDate: getDateFromString($("#PayoutEndDate option:selected").text(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"),
                    PayoutStartDate: getDateFromString($("#PayoutStartDate option:selected").text(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"),*@
                    PayoutEndDate: $('#@Html.FieldIdFor(model => model.PayoutEndDate)').val(),
                    PayoutStartDate: $('#@Html.FieldIdFor(model => model.PayoutStartDate)').val(),
                    FundName: $('#@Html.FieldIdFor(model => model.FundName)').val(),
                    refreshFlag: refreshFlag
                };
                addAntiForgeryToken(data);

                $.ajax({
                    url: "@Html.Raw(Url.Action("FundBonusReportExportToExcel", "PayoutReportWithDt"))",
                    type: "POST",
                    dataType: "json",
                    data: data,
                    success: function (result) {
                        
                        if (result.success) {
                            /// 
                            if (result.fullFileName != null && result.fullFileName != "") {
                                window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                            }
                            else {
                                var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                                $("#validationMessages").show();
                                $('#validationMessages').append(validationDivs1);
                            }
                        }
                        else {
                            var validationDivs1 = '<div>' + result.fullFileName + '</div>';
                            $("#validationMessages").show();
                            $('#validationMessages').append(validationDivs1);
                        }
                    },
                    error: function (result) {
                        $("#validationMessages").show();
                        $('#validationMessages').append(result);
                    }
                });
            });

            $("#validationMessages").hide();
            $("#sucessMessages").hide();

            $("#searchReport").click(function () {
                var selectVal = $("#selectOption").val();
                var getMemid = $("#memberID").val();

                if (selectVal == 1) {
                    if (getMemid == "") {
                        $("#validationMessages").show();
                        $("#validationMessages").html("@T("Admin.PayoutReports.CommissionDetail.memberID")");
                        return;
                    }
                } @*if(selectVal=="1"   )   {
                    $("#validationMessages").show();
                    $("#validationMessages").html("@T("Admin.Common.NorecordFoundError")");
                    return;
                }*@

                var flag = true;
                if (flag) {

                    refreshFlag = false;
                    var FromDate = $("#PayoutStartDate option:selected").text();
                  
                    var ToDate = $("#PayoutEndDate option:selected").text();
                    var data = {
                        memNumber: $('#@Html.FieldIdFor(model => model.memNumber)').val(),
                        selectOption: $('#@Html.FieldIdFor(model => model.selectOption)').val(),
                        PayoutNo: $('#@Html.FieldIdFor(model => model.PayoutNo)').val(),
                        PayoutEndDate: $('#@Html.FieldIdFor(model => model.PayoutEndDate)').val(),
                        PayoutStartDate: $('#@Html.FieldIdFor(model => model.PayoutStartDate)').val(),

                        @*PayoutEndDate: getDateFromString($("#PayoutEndDate option:selected").text(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"),
                        PayoutStartDate: getDateFromString($("#PayoutStartDate option:selected").text(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"),*@
                        FundName: $('#@Html.FieldIdFor(model => model.FundName)').val(),
                        refreshFlag: refreshFlag
                    };
                    addAntiForgeryToken(data);
                    // 
                    $.ajax({
                        url: "@Html.Raw(Url.Action("FundBonusReportpost", "PayoutReportWithDt"))",
                        type: "POST",
                        dataType: "html",
                        data: data,
                        success: function (result) {
                            $('#FundBonusReconcilationReport-grid').html(result);
                        },
                        error: function (xhr, textStatus, exceptionThrown) {
                            //alert('hi');
                            $("#validationMessages").html("");
                            $("#validationMessages").show();
                            $("#validationMessages").html("@T("CommissionDetails.Kendo.Error")");
                        }
                    });
                    $('#FundBonusReconcilationReport-grid').show();
                    $('#searchResult').show();
                    return false;
                }
                else {
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                }
            });
        });

        function additionalData() {
            var FromDate = $("#PayoutStartDate option:selected").text();
           
            var ToDate = $("#PayoutEndDate option:selected").text();
            var data = {
                selectOption: $('#@Html.FieldIdFor(model => model.selectOption)').val(),
                memNumber: $('#@Html.FieldIdFor(model => model.memNumber)').val(),
                FundName: $('#@Html.FieldIdFor(model => model.FundName)').val(),
                PayoutStartDate: $('#@Html.FieldIdFor(model => model.PayoutStartDate)').val(),
                PayoutEndDate: $('#@Html.FieldIdFor(model => model.PayoutEndDate)').val(),

                @*PayoutEndDate: getDateFromString($("#PayoutEndDate option:selected").text(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"),
                PayoutStartDate: getDateFromString($("#PayoutStartDate option:selected").text(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"),*@
                PayoutNo: $('#@Html.FieldIdFor(model => model.PayoutNo)').val(),
                FundName: $('#@Html.FieldIdFor(model => model.FundName)').val()
            };
            addAntiForgeryToken(data);
            return data;
        }
    </script>
}
