﻿@model Nop.Admin.Models.PayoutReports.RankQualifiers
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.RankQualifers").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Rank Qualifers");
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.RankQualifers")
        </h1>
        <div class="pull-right">
            <button type="button" name="exportexcel-all" id="exportexcelRankQualifiers" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                @T("Admin.Common.ExportToExcel")
            </button>
        </div>
        <div class="options">
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.ddlChoice)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopDropDownListFor(model => model.ddlChoice, new List<SelectListItem>()
           {
               new SelectListItem(){Text="All Record(s)", Value="1"},
               new SelectListItem(){Text="ID/Name-Wise",Value="0"}
           }, new { @onchange = "ChangeField(this.value)" })
                                    </div>
                                </div>
                                <div class="form-group" id="tblaward">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.RankName)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopDropDownListFor(model => model.RankName, Model.RankList)
                                    </div>
                                </div>
                                <div class="form-group" id="tblMember">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.txtMember)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopEditorFor(model => model.txtMember)
                                        @Html.HiddenFor(model => model.hiddenSearchMemno)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group display-none" id="tbltransaction">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.ddlrpttype)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopDropDownListFor(model => model.ddlrpttype, new List<SelectListItem>()
           {
               new SelectListItem(){Text="All", Value="2"},
               new SelectListItem(){Text="Auto Qualifiers",Value="1"},
               new SelectListItem(){Text="Forceful Qualifiers",Value="0"}
           }, new { })
                                    </div>
                                </div>
                                <div class="form-group" id="tblFromDate">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.FromDate)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopEditorFor(model => model.FromDate)
                                        @Html.HiddenFor(model => model.HFromDate)
                                    </div>
                                </div>
                                <div class="form-group" id="tblToDate">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.ToDate)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopEditorFor(model => model.ToDate)
                                        @Html.HiddenFor(model => model.HToDate)
                                    </div>
                                </div>
                                <div class="form-group" id="trAwardNote">
                                    <div class="col-md-5">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-7">
                                        <b id="MessageNote"> @T("Admin.Note.Note") </b> @T("Admin.Note.QualificationDate")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-md-offset-2">
                                <button type="button" id="ViewReport" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.ViewReport")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="searchResult">
                    <div class="panel-body">
                        <h3>@T("Admin.Customer.SearchResult")</h3>
                        <div id="customers-grid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var selectedIds = [];
        $('#ddlChoice').live('keypress', function (e) {
            if (e.keyCode === 13) {
                $('#ViewReport').click()
                return false;
            }
        });

        $('#RankName').live('keypress', function (e) {
            if (e.keyCode === 13) {
                $('#ViewReport').click()
                return false;
            }
        });

        $('#ddlrpttype').live('keypress', function (e) {
            if (e.keyCode === 13) {
                $('#ViewReport').click()
                return false;
            }
        });

        $("#txtMember").keydown(function (e) {
            if ((e.which === 13 || e.which === 9) && $('#hiddenSearchMemno').val() != "") {
                //  
                var a = $('#hiddenSearchMemno').val();
                $('#ViewReport').click()
                return false;
            }
        });

        $('#FromDate').keydown(keyDownHandler); // use appropriate selector for the keydown handler

        function keyDownHandler(e) {
            if (e.keyCode === 13) {
                e.stopPropagation();
                e.preventDefault();
                $('#ViewReport').click()
                return false;
            }
        }

        $('#ToDate').keydown(keyDownHandler1); // use appropriate selector for the keydown handler

        function keyDownHandler1(e) {
            if (e.keyCode === 13) {
                e.stopPropagation();
                e.preventDefault();
                $('#ViewReport').click()
                return false;
            }
        }

        $("#reset").click(function () {
            $("#ddlChoice").val("1");
            $("#RankName").val("");
            $("#txtMember").val("");
            $('#hiddenSearchMemno').val("");
            $("#ddlrpttype").val("2");
            $("#FromDate").val("");
            $('#ToDate').val("");
            $('#tblaward').show();
            $('#tblFromDate').show();
            $('#tblToDate').show();
            $('#tbltransaction').hide();
            $('#trAwardNote').show();
            $("#customers-grid").hide();
            $('#validationMessages').html('');
            $("#validationMessages").hide();
            //  $('#exportexcel-all').hide();
            $('#searchResult').hide();
            $('#tblMember').hide();
        });

        $(document).ready(function () {
            $("#FromDate").keyup(function (e) {
                // 
                if (e.keyCode === 13) {
                    if ($('#ToDate').val() != '') {
                        $('#ViewReport').click()
                        return false;
                    }
                    else {
                        validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterEndDate")</div>';
                        flag = false;
                    }
                }
                else {
                    $(this).val('');
                }
            });

            $("#ToDate").keyup(function (e) {
                //  
                if (e.keyCode === 13) {
                    if ($('#FromDate').val() != '') {
                        $('#ViewReport').click()
                        return false;
                    }
                    else {
                        validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterStartDate")</div>';
                        flag = false;
                    }
                }
                else {
                    $(this).val('');
                }
            });

            $('#ViewReport').click(function () {
                // 
                var ddlChoice = $("#ddlChoice").val();
                var vFromDt = $("#FromDate").val();
                var vToDt = $("#ToDate").val();
                var txtMember = $("#txtMember").val();
                var hiddenSearchMemno = $("#hiddenSearchMemno").val();
                var validationDivs = '';
                $('#validationMessages').html('');
                $("#customers-grid").hide();
                $("#validationMessages").hide();
                $('#searchResult').hide();
                var flag = true;

                if (ddlChoice == 0) {
                    if (txtMember == '') {
                        validationDivs = validationDivs + '<div>@T("Admin.Validation.IdNameRequired")</div>';
                        flag = false;
                    }
                }

                if (ddlChoice == 1) {
                    // 
                    if (vFromDt == '' && vToDt != '') {
                        validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterStartDate")</div>';
                        flag = false;
                    }
                    if (vToDt == '' && vFromDt != '') {
                        validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterEndDate")</div>';
                        flag = false;
                    }

                    var EnteredDate = getDate($("#FromDate").data("kendoDatePicker").value());
                    var EnteredFromdate = getDate($("#ToDate").data("kendoDatePicker").value());

                    var myDate = new Date(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                    var myFromDate = new Date(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                    var today = new Date();
                    var start_time = $("#DatewiseFrom").val();
                    var end_time = $("#DatewiseTo").val();

                    if (myFromDate > today) {

                        validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                        flag = false;
                    }
                    if (myFromDate < myDate) {
                        validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                        flag = false;
                    }
                }

                if (flag) {
                    refreshFlag = false;
                    var StartDate = $("#FromDate").val();
                    var EndDate = $("#ToDate").val();

                    var startDate = null;
                    var endDate = null;

                    if (StartDate != "")
                        startDate = getDate($("#FromDate").data("kendoDatePicker").value());
                    if (EndDate != "")
                        endDate = getDate($("#ToDate").data("kendoDatePicker").value());

                    var data = {
                        ddlChoice: $('#@Html.FieldIdFor(model => model.ddlChoice)').val(),
                        RankName: $('#@Html.FieldIdFor(model => model.RankName)').val(),
                        txtMember: $('#@Html.FieldIdFor(model => model.txtMember)').val(),
                        hiddenSearchMemno: $('#@Html.FieldIdFor(model => model.hiddenSearchMemno)').val(),
                        ddlrpttype: $('#@Html.FieldIdFor(model => model.ddlrpttype)').val(),
                        FromDate: $('#@Html.FieldIdFor(model => model.FromDate)').val(),
                        ToDate: $('#@Html.FieldIdFor(model => model.ToDate)').val(),
                        HFromDate:startDate,
                        HToDate: endDate,
                        refreshFlag: refreshFlag
                    };
                    
                    addAntiForgeryToken(data);
                    // 
                    $.ajax({
                        url: "@Html.Raw(Url.Action("RankQualifiersReportpost", "PayoutReportWithDt"))",
                        type: "POST",
                        dataType: "html",
                        data: data,
                        success: function (result) {
                            $('#customers-grid').html(result);
                        },
                        error: function (xhr, textStatus, exceptionThrown) {
                            //alert('hi');
                            $("#validationMessages").html("");
                            $("#validationMessages").show();
                            $("#validationMessages").html("@T("CommissionDetails.Kendo.Error")");
                        }
                    });
                    $('#customers-grid').show();
                    $('#searchResult').show();
                    return false;
                }
                else {
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                    return false;
                }
            });


            $('#exportexcelRankQualifiers').click(function () {

                var ddlChoice = $("#ddlChoice").val();
                var vFromDt = $("#FromDate").val();
                var vToDt = $("#ToDate").val();
                var txtMember = $("#txtMember").val();
                var hiddenSearchMemno = $("#hiddenSearchMemno").val();
                var validationDivs = '';
                $('#validationMessages').html('');
                $("#validationMessages").hide();
                var flag = true;

                if (ddlChoice == 0) {
                    if (txtMember == '') {
                        validationDivs = validationDivs + '<div>@T("Admin.Validation.IdNameRequired")</div>';
                        flag = false;
                    }
                }

                if (ddlChoice == 1) {
                    // 
                    if (vFromDt == '' && vToDt != '') {
                        validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterStartDate")</div>';
                        flag = false;
                    }
                    if (vToDt == '' && vFromDt != '') {
                        validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterEndDate")</div>';
                        flag = false;
                    }

                    var EnteredDate = getDate($("#FromDate").data("kendoDatePicker").value());
                    var EnteredFromdate = getDate($("#ToDate").data("kendoDatePicker").value());

                    var myDate = new Date(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                    var myFromDate = new Date(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                    var today = new Date();
                    var start_time = $("#DatewiseFrom").val();
                    var end_time = $("#DatewiseTo").val();

                    if (myFromDate > today) {

                        validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                        flag = false;
                    }
                    if (myFromDate < myDate) {
                        validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                        flag = false;
                    }
                }

                if (flag) {
                    var refreshFlag = true;
                    var StartDate = $("#FromDate").val();
                    var EndDate = $("#ToDate").val();

                    var startDate = null;
                    var endDate = null;

                    if (StartDate != "")
                        startDate = getDate($("#FromDate").data("kendoDatePicker").value());
                    if (EndDate != "")
                        endDate = getDate($("#ToDate").data("kendoDatePicker").value());

                    var data = {
                        ddlChoice: $('#@Html.FieldIdFor(model => model.ddlChoice)').val(),
                        RankName: $('#@Html.FieldIdFor(model => model.RankName)').val(),
                        txtMember: $('#@Html.FieldIdFor(model => model.txtMember)').val(),
                        hiddenSearchMemno: $('#@Html.FieldIdFor(model => model.hiddenSearchMemno)').val(),
                        ddlrpttype: $('#@Html.FieldIdFor(model => model.ddlrpttype)').val(),
                        FromDate: $('#@Html.FieldIdFor(model => model.FromDate)').val(),
                        ToDate: $('#@Html.FieldIdFor(model => model.ToDate)').val(),
                        HFromDate: startDate,
                        HToDate: endDate,
                        refreshFlag: refreshFlag
                    };
                    addAntiForgeryToken(data);

                    $.ajax({
                        url: "@Html.Raw(Url.Action("RankQualifiersReportExportToExcel", "PayoutReportWithDt"))",
                        type: "POST",
                        dataType: "json",
                        data: data,
                        success: function (result) {
                            //   
                            if (result.success) {
                                
                                if (result.fullFileName != null && result.fullFileName != "") {
                                    window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                                }
                                else {

                                    var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                                    $("#validationMessages").show();
                                    $('#validationMessages').append(validationDivs1);
                                }
                            }
                            else {
                                var validationDivs1 = '<div>' + result.fullFileName + '</div>';
                                $("#validationMessages").show();
                                $('#validationMessages').append(validationDivs1);
                            }
                        },
                        error: function (result) {
                            $("#validationMessages").show();
                            $('#validationMessages').append(result);
                        }
                    });
                }
            });

            $('#mastercheckbox').click(function () {
                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
            });

            //wire up checkboxes.
            $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                var $check = $(this);
                if ($check.is(":checked") == true) {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked == -1) {
                        //add id to selectedIds.
                        selectedIds.push($check.val());
                    }
                    $("#SelectedValues").val(selectedIds);
                }
                else {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked > -1) {
                        //remove id from selectedIds.
                        selectedIds = $.grep(selectedIds, function (item, index) {
                            return item != $check.val();
                        });
                        $("#SelectedValues").val(selectedIds);
                    }
                }
                updateMasterCheckbox();
            });
        });

        function onDataBound(e) {

            $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                var currentId = $(this).val();
                var checked = jQuery.inArray(currentId, selectedIds);
                //set checked based on if current checkbox's value is in selectedIds.
                $(this).attr('checked', checked > -1);
            });
            updateMasterCheckbox();
        }

        function updateMasterCheckbox() {
            var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
            var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
        }

        function additionalData() {
            var customerRoleIds = [];
            $('[name=SearchCustomerRoleIds]:checked').each(function () {
                customerRoleIds.push($(this).val());
            });
            var StartDate = $("#FromDate").val();
            var EndDate = $("#ToDate").val();

            var startDate = null;
            var endDate = null;

            if (StartDate != "")
                startDate = getDate($("#FromDate").data("kendoDatePicker").value());
            if (EndDate != "")
                endDate = getDate($("#ToDate").data("kendoDatePicker").value());

            var data = {
                ddlChoice: $('#@Html.FieldIdFor(model => model.ddlChoice)').val(),
                RankName: $('#@Html.FieldIdFor(model => model.RankName)').val(),
                txtMember: $('#@Html.FieldIdFor(model => model.txtMember)').val(),
                hiddenSearchMemno: $('#@Html.FieldIdFor(model => model.hiddenSearchMemno)').val(),
                ddlrpttype: $('#@Html.FieldIdFor(model => model.ddlrpttype)').val(),
                FromDate: $('#@Html.FieldIdFor(model => model.FromDate)').val(),
                ToDate: $('#@Html.FieldIdFor(model => model.ToDate)').val(),
                HFromDate: startDate,
                HToDate: endDate,
            };
            addAntiForgeryToken(data);
            return data;
        }

        $(document).ready(function () {
            $("#FromDate").keyup(function () {
                $(this).val('');
            });

            $("#ToDate").keyup(function () {
                $(this).val('');
            });

            $('#validationMessages').hide();
            $("#tblMember").hide();
            $('#searchResult').hide();
            $('#tbltransaction').hide();
        });

        function ChangeField(selectedValue) {

            if (selectedValue == 1) {

                $("#tbltransaction").hide();
                $("#tblMember").hide();
                $("#tblaward").show();
                $("#tblFromDate").show();
                $("#tblToDate").show();
                $("#txtMember").val("");
                $("#hiddenSearchMemno").val("");
                $("#RankName").val("");
                $("#ddlrpttype").val("2");
                $('#trAwardNote').show();
            }
            else if (selectedValue == 0) {

                $("#tbltransaction").hide();
                $("#tblMember").show();
                $("#tblaward").hide();
                $("#tblFromDate").hide();
                $("#tblToDate").hide();
                $("#txtMember").val("");
                $("#hiddenSearchMemno").val("");
                $('#trAwardNote').hide();
            }
        }

        $('#txtMember').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("SearchTermmember","Scheme"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                // 
                $("#hiddenSearchMemno").val(ui.item.MJD_MemID);
                $("#txtMember").val(ui.item.label);
                $("#divfirstname").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };
    </script>
}
