﻿@model Nop.Admin.Models.PayoutReports.TDSclubDetails
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    ViewBag.Title = T("Admin.PayoutReports.TDSclubDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("TDSClubDetails");
}
@{
    List<SelectListItem> ddselectOptions = new List<SelectListItem>();
    ddselectOptions.Add(new SelectListItem
    {
        Text = "Payout-wise",
        Value = "1",
        Selected = true
    });
    ddselectOptions.Add(new SelectListItem
    {
        Text = "Member-wise",
        Value = "2"
    });
}

@using (Html.BeginForm())
{
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>

    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.searchId)
    @Html.HiddenFor(model => model.searchMessage)
    @Html.HiddenFor(model => model.DailyBinaryFlag)

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.PayoutReports.TDSclubDetails")
        </h1>
        <div class="pull-right">
            <button type="button" id="exportexcelTDSCluball" name="exportexcelTDSCluball" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                @T("Admin.Common.ExportToExcel")
            </button>
        </div>
        <div class="options">
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                @*<div>
                                        <div>
                                            <h3>@T("Admin.Customer.SearchOption")</h3>
                                        </div>
                                    </div>*@

                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.ddlOption)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopDropDownListFor(model => model.ddlOption, ddselectOptions)
                                        @Html.ValidationMessageFor(model => model.ddlOption)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.PN_ID)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopDropDownListFor(model => model.PN_ID, Model.PlanTypeList)
                                        @Html.ValidationMessageFor(model => model.PN_ID)
                                    </div>
                                </div>
                                <div id="divPayoutwise">
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            @Html.NopLabelFor(model => model.PayoutNoFrom)
                                        </div>
                                        <div class="col-md-7">
                                            @Html.NopDropDownListFor(model => model.PayoutNoFrom, Model.PayoutNoListFrom)
                                            @Html.ValidationMessageFor(model => model.PayoutNoFrom)
                                        </div>
                                    </div>
                                    @if (Model.DailyBinaryFlag)
                                    {
                                        <div class="form-group" id="trDailyBinaryFlag">
                                            <div class="col-md-5">
                                                @Html.NopLabelFor(model => model.PayoutCycle)
                                            </div>
                                            <div class="col-md-7">
                                                @*@Html.DisplayFor(model => model.PayoutCycle)*@
                                                <label class="control-label" id="DPayoutCycle" title=""></label>
                                                @Html.HiddenFor(model => model.PayoutCycle)
                                            </div>
                                        </div>
                                    }
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            @Html.NopLabelFor(model => model.PayoutNoTo)
                                        </div>
                                        <div class="col-md-7">
                                            @Html.NopDropDownListFor(model => model.PayoutNoTo, Model.PayoutNoListTo)
                                            @Html.ValidationMessageFor(model => model.PayoutNoTo)
                                        </div>
                                    </div>

                                    @if (Model.DailyBinaryFlag)
                                    {
                                        <div class="form-group" id="trDailyBinary">
                                            <div class="col-md-5">
                                                @Html.NopLabelFor(model => model.PayoutCycle)
                                            </div>
                                            <div class="col-md-7">
                                                @*@Html.DisplayFor(model => model.PayoutCycle)*@
                                                <label class="control-label" id="DPayoutCycle1" title=""></label>
                                                @Html.HiddenFor(model => model.PayoutCycle1)
                                            </div>
                                        </div>
                                    }
                                    @*<div class="form-group">
                                            <div class="col-md-5">
                                                @Html.NopLabelFor(model => model.PayoutNoTo)
                                            </div>
                                            <div class="col-md-7">
                                                @Html.NopDropDownListFor(model => model.PayoutNoTo, Model.PayoutNoListTo)
                                                @Html.ValidationMessageFor(model => model.PayoutNoTo)
                                            </div>
                                        </div>*@
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            @Html.NopLabelFor(model => model.PayoutStartDate)
                                        </div>
                                        <div class="col-md-7">
                                            @Html.NopDropDownListFor(model => model.PayoutStartDate, Model.PayoutStartDateList)
                                            @Html.ValidationMessageFor(model => model.PayoutStartDate)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            @Html.NopLabelFor(model => model.PayoutEndDate)
                                        </div>
                                        <div class="col-md-7">
                                            @Html.NopDropDownListFor(model => model.PayoutEndDate, Model.PayoutEndDateList)
                                            @Html.ValidationMessageFor(model => model.PayoutEndDate)


                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="divIDwise">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.memberID)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopEditorFor(model => model.memberID)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                        @Html.ValidationMessageFor(model => model.memberID)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-1">
                                <button type="button" id="searchTDSclubDetails" name="searchTDSclubDetails" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("admin.customers.pancard.viewreport")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="TDscludDetail">
                    <div class="panel-body">
                        <div id="TDSclubDetails-grid"></div>
                        <script>
                            var refreshFlag = false;
                            debugger;
                            function onDataBound(e) {

                                if (reportAggregates != "") {
                                    for (var key in reportAggregates) {
                                        // 
                                        $('#aggregategrossamt').html(reportAggregates['aggregatorgrossamt']);
                                        $('#aggregateTDSAmount').html(reportAggregates['aggregatorTDSAmount']);
                                        $('#aggregateotherded').html(reportAggregates['aggregatorotherded']);
                                        $('#aggregateChequeAmt').html(reportAggregates['aggregatorChequeAmt']);
                                    }
                                }
                            }

                            function disableDropdown() {
                                $("#PayoutNoFrom").prop("disabled", true);
                                $("#PayoutNoTo").prop("disabled", true);
                                $("#PayoutStartDate").prop("disabled", true);
                                $("#PayoutEndDate").prop("disabled", true);

                            }                    
                           

                            $("#divIDwise").hide(); $('#searchResult').hide();
                            //$("#showButtons").hide();
                            $('#memberID').autocomplete({
                                delay: 500,
                                minLength: 1,
                                @*source: '@(Url.Action("SearchTermAutoCompletePayout", "PayoutReports"))',*@
                                source: '@(Url.Action("SearchTermAutoCompleteDownline", "Common"))',
                                appendTo: '.search-box',
                                select: function (event, ui) {
                                    $("#searchId").val(ui.item.Id);
                                    $("#memberID").val(ui.item.label);
                                    $("#divfirstname").show();

                                    //  return false;
                                }
                            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                                var t = item.label;
                                //html encode
                                t = $('<div/>').text(t).html();
                                return $("<li></li>")
                                    .data("item.autocomplete", item)
                                    .append("<a><span>" + t + "</span></a>")
                                    .appendTo(ul);
                            };

                            $(document).ready(function () {
                                if ($('#DailyBinaryFlag').val() == 'True') {
                                    $('#trDailyBinaryFlag').hide();
                                    $('#trDailyBinary').hide();
                                }



                                $("#TDscludDetail").hide();
                                $("#validationMessages").hide();
                                var objArray = new Array();
                                var PayoutNoListStr = '';
                                var PayoutStartDate = '';
                                var PayoutEndDate = '';
                                $('#ddlOption').val("1"); $('#searchResult').hide();

                                @*$.get("@(Url.Action("LoadDropDownPayoutdetails", "PayoutReportWithDt"))", { typeId: 1, flag: 0 }, function (response) {
                                    $("#PayoutNoFrom").empty();
                                    $("#PayoutNoTo").empty();
                                    $("#PayoutStartDate").empty();
                                    $("#PayoutEndDate").empty();
                                    $("#PayoutNoFrom").prop("disabled", false);
                                    $("#PayoutNoTo").prop("disabled", false);
                                    $("#PayoutStartDate").prop("disabled", false);
                                    $("#PayoutEndDate").prop("disabled", false);

                                    if (response.PayoutNoListFrom.length > 0) {
                                        for (var i = 0; i < response.PayoutNoListFrom.length; i++) {

                                            PayoutNoListStr = PayoutNoListStr + '<option value="' + response.PayoutNoListFrom[i].Value + '">' + response.PayoutNoListFrom[i].Text + '</option>';
                                            PayoutStartDate = PayoutStartDate + '<option value="' + response.PayoutStartDateList[i].Value + '">' + response.PayoutStartDateList[i].Text + '</option>';
                                            PayoutEndDate = PayoutEndDate + '<option value="' + response.PayoutEndDateList[i].Value + '">' + response.PayoutEndDateList[i].Text + '</option>';

                                            var obj = new Object()
                                            obj.pn = response.PayoutNoListFrom[i].Value;
                                            obj.to = response.PayoutNoListTo[i].Value;
                                            obj.sd = response.PayoutStartDateList[i].Value;
                                            obj.ed = response.PayoutEndDateList[i].Value;
                                            objArray.push(obj);
                                        }

                                    }
                                    else {

                                        PayoutNoListStr = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                        PayoutStartDate = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                        PayoutEndDate = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';

                                        disableDropdown();
                                    }
                                    $("#PayoutNoFrom").append(PayoutNoListStr);
                                    $("#PayoutNoTo").append(PayoutNoListStr);
                                    $("#PayoutStartDate").append(PayoutStartDate);
                                    $("#PayoutEndDate").append(PayoutEndDate);
                                    PayoutNoListStr = '';
                                    PayoutStartDate = '';
                                    PayoutEndDate = '';


                                    if ($('#DailyBinaryFlag').val() == 'True') {


                                        if ($('#PayoutNoFrom').val() == "0") {
                                            $('#trDailyBinaryFlag').hide();
                                        }
                                        else {
                                            var value = $('#PayoutNoFrom').val();

                                            if ($('#DailyBinaryFlag').val() == 'True') {
                                                $.get("@(Url.Action("GetPayoutCycle", "Common"))", { payoutNo: value }, function (response) {


                                                    $('#trDailyBinaryFlag').show();
                                                    $("#DPayoutCycle").html('');
                                                    $("#DPayoutCycle").append(response.paycoutCycle);
                                                    $("#PayoutCycle").val(response.paycoutCycle);
                                                });
                                            }
                                        }
                                        if ($('#PayoutNoTo').val() == "0") {
                                            $('#trDailyBinary').hide();
                                        }
                                        else {
                                            var value1 = $('#PayoutNoTo').val();

                                            if ($('#DailyBinaryFlag').val() == 'True') {
                                                $.get("@(Url.Action("GetPayoutCycle", "Common"))", { payoutNo: value1 }, function (response) {


                                                    $('#trDailyBinary').show();
                                                    $("#DPayoutCycle1").html('');
                                                    $("#DPayoutCycle1").append(response.paycoutCycle);
                                                    $("#PayoutCycle1").val(response.paycoutCycle);
                                                });
                                            }
                                        }
                                    }
                                });*@


                                $('#ddlOption').change(function () {
                                    
                                    var value = $(this).val();
                                    //$("#showButtons").hide();
                                    $("#searchResult").hide();
                                    $("#TDSclubDetails-grid").hide();
                                    $("#validationMessages").hide();
                                    $("#sucessMessages").hide();

                                    $("#PN_ID").val($("#PN_ID option:first").val());
                                    var valuePNvalues = $('#PN_ID').val();

                                    if (value == 2) {
                                        $("#divIDwise").show();
                                        $("#divPayoutwise").hide();
                                        $("#TDSclubDetails-grid").hide();
                                        $("#validationMessages").hide();
                                        $("#sucessMessages").hide();
                                        $("#memberID").val("");
                                        $("#memberID").focus();
                                        //$("#PN_ID").val("0");
                                    }
                                    else {
                                        $("#divPayoutwise").show();
                                        $("#divIDwise").hide();
                                        $("#searchId").val("");
                                        $("#TDSclubDetails-grid").hide();
                                        $("#validationMessages").hide();
                                        $("#sucessMessages").hide();
                                    }

                                    if (valuePNvalues != null) {

                                        $.get("@(Url.Action("LoadDropDownPayoutdetails", "PayoutReports"))", { typeId: value, flag: 0 }, function (response) {
                                            $("#PayoutNoFrom").empty();
                                            $("#PayoutNoTo").empty();
                                            $("#PayoutStartDate").empty();
                                            $("#PayoutEndDate").empty();
                                            $("#PayoutNoFrom").prop("disabled", false);
                                            $("#PayoutNoTo").prop("disabled", false);
                                            $("#PayoutStartDate").prop("disabled", false);
                                            $("#PayoutEndDate").prop("disabled", false);

                                            if (response.PayoutNoListFrom.length > 0) {
                                                for (var i = 0; i < response.PayoutNoListFrom.length; i++) {

                                                    PayoutNoListStr = PayoutNoListStr + '<option value="' + response.PayoutNoListFrom[i].Value + '">' + response.PayoutNoListFrom[i].Text + '</option>';
                                                    PayoutStartDate = PayoutStartDate + '<option value="' + response.PayoutStartDateList[i].Value + '">' + response.PayoutStartDateList[i].Text + '</option>';
                                                    PayoutEndDate = PayoutEndDate + '<option value="' + response.PayoutEndDateList[i].Value + '">' + response.PayoutEndDateList[i].Text + '</option>';

                                                    var obj = new Object()
                                                    obj.pn = response.PayoutNoListFrom[i].Value;
                                                    obj.to = response.PayoutNoListTo[i].Value;
                                                    obj.sd = response.PayoutStartDateList[i].Value;
                                                    obj.ed = response.PayoutEndDateList[i].Value;
                                                    objArray.push(obj);
                                                }

                                            }
                                            else {

                                                PayoutNoListStr = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                                PayoutStartDate = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                                PayoutEndDate = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';

                                                disableDropdown();
                                            }
                                            $("#PayoutNoFrom").append(PayoutNoListStr);
                                            $("#PayoutNoTo").append(PayoutNoListStr);
                                            $("#PayoutStartDate").append(PayoutStartDate);
                                            $("#PayoutEndDate").append(PayoutEndDate);
                                            PayoutNoListStr = '';
                                            PayoutStartDate = '';
                                            PayoutEndDate = '';
                                        });
                                    }

                                });

                                $("#btnReset").click(function () {
                                    $("#divPayoutwise").show();
                                    $("#divIDwise").hide();
                                    $("#searchId").val("");
                                    $("#TDSclubDetails-grid").hide();
                                    $("#validationMessages").hide();
                                    $("#sucessMessages").hide();
                                    //$("#showButtons").hide();
                                    $('#searchResult').hide();
                                    disableDropdown();
                                });

                                disableDropdown();
                                $('#PN_ID').change(function () {
                                    debugger;
                                    var value = $(this).val();
                                    //$("#showButtons").hide();

                                    if ($('#PN_ID').val() == 1) {
                                        $("#trDailyBinary").show();
                                        $("#trDailyBinaryFlag").show();

                                    }
                                    else {
                                        $("#trDailyBinary").hide();
                                        $("#trDailyBinaryFlag").hide();

                                    }


                                    $("#searchResult").hide();
                                    $("#TDSclubDetails-grid").hide();
                                    $("#validationMessages").hide();
                                    $("#sucessMessages").hide();
                                    if (value != null) {

                                        $.get("@(Url.Action("LoadDropDownPayoutdetails", "PayoutReports"))", { typeId: value, flag: 0 }, function (response) {
                                            $("#PayoutNoFrom").empty();
                                            $("#PayoutNoTo").empty();
                                            $("#PayoutStartDate").empty();
                                            $("#PayoutEndDate").empty();
                                            $("#PayoutNoFrom").prop("disabled", false);
                                            $("#PayoutNoTo").prop("disabled", false);
                                            $("#PayoutStartDate").prop("disabled", false);
                                            $("#PayoutEndDate").prop("disabled", false);

                                            if (response.PayoutNoListFrom.length > 0) {
                                                for (var i = 0; i < response.PayoutNoListFrom.length; i++) {

                                                    PayoutNoListStr = PayoutNoListStr + '<option value="' + response.PayoutNoListFrom[i].Value + '">' + response.PayoutNoListFrom[i].Text + '</option>';
                                                    PayoutStartDate = PayoutStartDate + '<option value="' + response.PayoutStartDateList[i].Value + '">' + response.PayoutStartDateList[i].Text + '</option>';
                                                    PayoutEndDate = PayoutEndDate + '<option value="' + response.PayoutEndDateList[i].Value + '">' + response.PayoutEndDateList[i].Text + '</option>';

                                                    var obj = new Object()
                                                    obj.pn = response.PayoutNoListFrom[i].Value;
                                                    obj.to = response.PayoutNoListTo[i].Value;
                                                    obj.sd = response.PayoutStartDateList[i].Value;
                                                    obj.ed = response.PayoutEndDateList[i].Value;
                                                    objArray.push(obj);
                                                }
                                            }
                                            else {

                                                PayoutNoListStr = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                                PayoutStartDate = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                                PayoutEndDate = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';

                                                disableDropdown();
                                            }
                                            $("#PayoutNoFrom").append(PayoutNoListStr);
                                            $("#PayoutNoTo").append(PayoutNoListStr);
                                            $("#PayoutStartDate").append(PayoutStartDate);
                                            $("#PayoutEndDate").append(PayoutEndDate);
                                            PayoutNoListStr = '';
                                            PayoutStartDate = '';
                                            PayoutEndDate = '';


                                            
                                            if ($('#DailyBinaryFlag').val() == 'True') {


                                                if ($('#PayoutNoFrom').val() == "0") {
                                                    $('#trDailyBinaryFlag').hide();
                                                }
                                                else {
                                                    var value = $('#PayoutNoFrom').val();

                                                    if ($('#DailyBinaryFlag').val() == 'True') {
                                                        $.get("@(Url.Action("GetPayoutCycle", "Common"))", { payoutNo: value }, function (response) {


                                                            $('#trDailyBinaryFlag').show();
                                                            $("#DPayoutCycle").html('');
                                                            $("#DPayoutCycle").append(response.paycoutCycle);
                                                            $("#PayoutCycle").val(response.paycoutCycle);
                                                        });
                                                    }
                                                }
                                                if ($('#PayoutNoTo').val() == "0") {
                                                    $('#trDailyBinary').hide();
                                                }
                                                else {
                                                    var value1 = $('#PayoutNoTo').val();

                                                    if ($('#DailyBinaryFlag').val() == 'True') {
                                                        $.get("@(Url.Action("GetPayoutCycle", "Common"))", { payoutNo: value1 }, function (response) {


                                                            $('#trDailyBinary').show();
                                                            $("#DPayoutCycle1").html('');
                                                            $("#DPayoutCycle1").append(response.paycoutCycle);
                                                            $("#PayoutCycle1").val(response.paycoutCycle);
                                                        });
                                                    }
                                                }
                                            }

                                        });
                                    }
                                });

                                $('#PayoutNoFrom').change(function () {
                                    
                                    var valueTo = $('#PayoutNoTo').val();
                                    var value = $(this).val();
                                    if (value > valueTo) {
                                        $("#validationMessages").show();
                                        $("#validationMessages").html("@T("Admin.payout.TDSClubdetailsPayoutNoError")");
                                        return;
                                    }
                                    else if ($('#DailyBinaryFlag').val() == 'True') {
                                        $.get("@(Url.Action("GetPayoutCycle", "Common"))", { payoutNo: value }, function (response) {

                                            $("#PayoutEndDate").prop("disabled", true);
                                            $('#trDailyBinaryFlag').show();
                                            $("#DPayoutCycle").html('');
                                            $("#DPayoutCycle").append(response.paycoutCycle);
                                            $("#PayoutCycle").val(response.paycoutCycle);
                                        });
                                    }


                                    //$("#showButtons").hide();
                                    $("#searchResult").hide();
                                    $("#TDSclubDetails-grid").hide();
                                    $("#validationMessages").hide();
                                    $("#sucessMessages").hide();
                                    for (var i = 0; i < objArray.length; i++) {
                                        if (objArray[i].pn == value) {
                                            $("#PayoutStartDate").val(objArray[i].sd);
                                            //$("#PayoutEndDate").val(objArray[i].ed);
                                        }
                                    }
                                    for (var i = 0; i < objArray.length; i++) {
                                        if (objArray[i].pn == valueTo) {
                                            $("#PayoutEndDate").val(objArray[i].ed);
                                        }
                                    }



                                });

                                $('#PayoutNoTo').change(function () {
                                    
                                    var valuefrom = parseInt($('#PayoutNoFrom').val());
                                    var value = parseInt($(this).val());
                                    //$("#showButtons").hide();
                                    if (valuefrom > value) {
                                        $("#validationMessages").show();
                                        $("#validationMessages").html("@T("Admin.payout.TDSClubdetailsPayoutNoError")");
                                        return;
                                    }
                                    else if ($('#DailyBinaryFlag').val() == 'True') {
                                        $.get("@(Url.Action("GetPayoutCycle", "Common"))", { payoutNo: value }, function (response) {

                                            $("#PayoutStartDate").prop("disabled", true);
                                            $('#trDailyBinary').show();
                                            $("#DPayoutCycle1").html('');
                                            $("#DPayoutCycle1").append(response.paycoutCycle);
                                            $("#PayoutCycle1").val(response.paycoutCycle);
                                        });
                                    }

                                    $("#searchResult").hide();
                                    $("#TDSclubDetails-grid").hide();
                                    $("#validationMessages").hide();
                                    $("#sucessMessages").hide();
                                    for (var i = 0; i < objArray.length; i++) {
                                        if (objArray[i].pn == valuefrom) {
                                            $("#PayoutStartDate").val(objArray[i].sd);
                                        }
                                    }
                                    for (var i = 0; i < objArray.length; i++) {
                                        if (objArray[i].pn == value) {
                                            // $("#PayoutStartDate").val(objArray[i].sd);
                                            $("#PayoutEndDate").val(objArray[i].ed);
                                        }
                                    }

                                });

                                $("#TDSclubDetails-grid").hide();
                                $("#validationMessages").hide();
                                $("#sucessMessages").hide();
                                //$("#showButtons").hide();
                                $('#searchTDSclubDetails').click(function () {
                                    var validationDivs = '';
                                    $('#validationMessages').html('');

                                    var selVal = $('#PN_ID').val();
                                    var SearchFirstName = $("#memberID").val(), MemId = $("#searchId").val();
                                    if (selVal == "0" || selVal == null) {
                                        //  alert('Select Plantype');
                                        $('#validationMessages').show();
                                        validationDivs = validationDivs + '<div>@T("Admin.PayoutReports.CommissionDetail.selectplantypeMessage")</div>';
                                        $('#validationMessages').append(validationDivs);
                                        return;
                                    }
                                    else if (SearchFirstName == '' && $('#ddlOption').val() == "2") {
                                        // alert('Enter ID/Name');
                                        $('#validationMessages').show();
                                        validationDivs = validationDivs + '<div>@T("admin.customerreport.memid")</div>';
                                        $('#validationMessages').append(validationDivs);
                                        return;
                                    }
                                    else {
                                        
                                        var data = {
                                            memberID: $('#memberID').val(),
                                            ddlOption: $('#ddlOption').val(),
                                            PN_ID: $('#PN_ID').val(),
                                            PayoutStartDate: $('#PayoutStartDate').val(),
                                            PayoutEndDate: $('#PayoutEndDate').val(),
                                            PayoutNoFrom: $('#PayoutNoFrom').val(),
                                            PayoutNoTo: $('#PayoutNoTo').val(),
                                            searchId: $('#searchId').val(),
                                            refreshFlag: true
                                        }
                                        addAntiForgeryToken(data);
                                        $.ajax({
                                            url: "@Html.Raw(Url.Action("TDSClubDetailsPost", "PayoutReportWithDt"))",
                                            type: "POST",
                                            dataType: "html",
                                            data: data,
                                            success: function (result) {
                                                $('#TDSclubDetails-grid').html(result);
                                            },
                                            error: function (xhr, textStatus, exceptionThrown) {

                                                $("#validationMessages").html("");
                                                $("#validationMessages").show();
                                                $("#validationMessages").html("@T("CommissionDetails.Kendo.Error")");
                                            }
                                        });
                                        $("#TDSclubDetails-grid").show();
                                        $("#TDscludDetail").show();
                                    }
                                });



                                $('#exportexcelTDSCluball').click(function () {
                                    var selValue = $('#ddlOption').val(),
                                        plantype = $('#PN_ID option:selected').text();
                                    if (selValue == 2) {
                                        $("#searchMessage").val("For ID/Name: " + $("#memberID").val() + " Plan Type : " + plantype);
                                    }
                                    if (selValue == 1) {
                                        var payoutfrom = $('#PayoutStartDate option:selected').text(),
                                            payoutTo = $('#PayoutEndDate option:selected').text(),
                                            payoutNoStart = $('#PayoutNoFrom option:selected').text(),
                                            payoutNoend = $('#PayoutNoTo option:selected').text();
                                        var selProduct = $('#PN_ID').val();
                                        if (selProduct != "0" && !$('#PayoutStartDate').is(':disabled') && !$('#PayoutNoFrom').is(':disabled'))
                                            $("#searchMessage").val("For All Record(s) For Plan :" + plantype + " For " + payoutNoStart + " To " + payoutNoend + "  For Period " + payoutfrom + " To " + payoutTo);
                                    }

                                    var data = {
                                        memberID: $('#memberID').val(),
                                        ddlOption: $('#ddlOption').val(),
                                        PN_ID: $('#PN_ID').val(),
                                        PayoutStartDate: $('#PayoutStartDate').val(),
                                        PayoutEndDate: $('#PayoutEndDate').val(),
                                        PayoutNoFrom: $('#PayoutNoFrom').val(),
                                        PayoutNoTo: $('#PayoutNoTo').val(),
                                        searchId: $('#searchId').val(),
                                        refreshFlag: true
                                    }
                                    addAntiForgeryToken(data);

                                    $.ajax({
                                        url: "@Html.Raw(Url.Action("TDSClubDetailsExportToExcel", "PayoutReportWithDt"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: data,
                                        success: function (result) {
                                            if (result.success) {
                                                if (result.fullFileName != null && result.fullFileName != "") {
                                                    window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                                                }
                                                else {

                                                    var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                                                    $("#validationMessages").show();
                                                    $('#validationMessages').append(validationDivs1);
                                                }
                                            }
                                            else {
                                                var validationDivs1 = '<div>' + result.fullFileName + '</div>';
                                                $("#validationMessages").show();
                                                $('#validationMessages').append(validationDivs1);
                                            }
                                        },
                                        error: function (result) {
                                            //alert(result);
                                            //alert('hi');
                                        }
                                    });

                                });

                                $("#@Html.FieldIdFor(model => model.PayoutNoFrom)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#searchTDSclubDetails").click();
                                        return false;
                                    }
                                });
                                $("#@Html.FieldIdFor(model => model.PayoutNoTo)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#searchTDSclubDetails").click();
                                        return false;
                                    }
                                });
                                $("#@Html.FieldIdFor(model => model.PN_ID)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#searchTDSclubDetails").click();
                                        return false;
                                    }
                                });
                                $("#@Html.FieldIdFor(model => model.PayoutStartDate)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#searchTDSclubDetails").click();
                                        return false;
                                    }
                                });


                                $("#@Html.FieldIdFor(model => model.PayoutEndDate)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#searchTDSclubDetails").click();
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.memberID)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#searchTDSclubDetails").click();
                                        return false;
                                    }
                                });
                            });

                            function additionalData() {
                                var data = {
                                    memberID: $('#@Html.FieldIdFor(model => model.memberID)').val(),
                                    ddlOption: $('#@Html.FieldIdFor(model => model.ddlOption)').val(),
                                    PN_ID: $('#@Html.FieldIdFor(model => model.PN_ID)').val(),
                                    PayoutStartDate: $('#@Html.FieldIdFor(model => model.PayoutStartDate)').val(),
                                    PayoutEndDate: $('#@Html.FieldIdFor(model => model.PayoutEndDate)').val(),
                                    PayoutNoFrom: $('#@Html.FieldIdFor(model => model.PayoutNoFrom)').val(),
                                    PayoutNoTo: $('#@Html.FieldIdFor(model => model.PayoutNoTo)').val(),
                                    searchId: $('#@Html.FieldIdFor(model => model.searchId)').val(),
                                    refreshFlag: refreshFlag
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }

                            function aggregates(e) {
                                
                                if (e.type == "read") {

                                    var response = e.response;
                                    if (response) {

                                        var reportAggregates = e.response["ExtraData"];
                                        if (reportAggregates != "") {
                                            for (var key in reportAggregates) {
                                                var shashi = reportAggregates[key];
                                                $('#' + key + '').html(reportAggregates[key]);
                                            }
                                        }

                                    }
                                }
                            }

                        </script>
                        @*<script>
                            var value = $('#PN_ID').val();
                            if (value == 0) {
                                alert("hii");
                                $("#trDailyBinary").hide();
                                $("#trDailyBinaryFlag").hide();
                                disableDropdown();
                                //$("#PN_ID").val("0");
                            }
                        </script>*@
                    </div>

                    <div>
                        <div class="adminData"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}




