﻿@model Nop.Web.ViewModel.EpinChangePasswordVM
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_ColumnVF.cshtml";
    //title
    Html.AddTitleParts(T("Account.EpinChangePassword").Text);
    //register URL with return URL (if specified)
}
<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="page account-page return-request-list-page ">

        <div class="page-title">
            <h1>@T("Account.EpinChangePassword")</h1>
        </div>
        <div class="page registration-result-page">
            <div class="page-body">
                <div class="panel-body">
                    <div class="result" style="text-align:center;">
                        @Model.Result
                    </div>
                    @{
                        var validationSummary = Html.ValidationSummary(true);
                    }
                    @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                    {
                    <div class="message-error">@validationSummary</div>
                    }

                    <div class="panel panel-default">
                        <div class="customer-blocks">
                            <div class="returning-wrapper fieldset">
                                <div class="form-fields">
                                    <div class="inputs">
                                        @Html.LabelFor(m => m.OldPassword)
                                        @Html.PasswordFor(m => m.txtOldPassword)
                                        @Html.RequiredHint()
                                        @Html.ValidationMessageFor(m => m.txtOldPassword)
                                    </div>
                                    <div class="inputs">
                                        @Html.LabelFor(m => m.Hint)
                                        @*<b style="color: cornflowerblue"> @Html.ActionLink("Tip to Create Strong Password", "Strongpwdtip", "Epin") </b>*@
                                        <a title="@T("Account.Password.StrongPassword.title")" href="@Url.Action("Strongpwdtip")"><b style="color: cornflowerblue">@T("Account.Password.StrongPassword.TipToCreateStrongPassword")</b> </a>
                                    </div>
                                    <div class="inputs">
                                        @Html.LabelFor(m => m.NewPassword)
                                        @Html.PasswordFor(m => m.txtNewPassword)
                                        @Html.RequiredHint()
                                        @Html.ValidationMessageFor(m => m.txtNewPassword)
                                    </div>
                                    <div class="inputs">
                                        @Html.LabelFor(m => m.ConfirmPassword)
                                        @Html.PasswordFor(m => m.txtConfirmPassword)
                                        @Html.RequiredHint()
                                        @Html.ValidationMessageFor(m => m.txtConfirmPassword)
                                    </div>
                                    <div class="inputs">
                                        <div class="buttons">
                                            <input type="submit" id="Save" class="button-1 register-next-step-button" value="@T("Account.Save.Button")" name="Save" />
                                            <input type="button" id="btnreset" class="button-1" value="@T("Tree.Reset.Button")" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
                        if (Model.ExternalAuthenticationflg)
                        {
                            <div class="page account-page return-request-list-page ">

                                <div class="page-title">
                                    <h1>@T("Reset.External.Authentication")</h1>
                                </div>
                                <div class="page registration-result-page">
                                    <div class="page-body">
                                        <div class="panel-body">
                                            <div class="result" style="text-align:center;">
                                                @Model.ResultGoogle
                                            </div>
                                            @{
                                                var validationSummaryGoogleAuth = Html.ValidationSummary(true);
                                            }
                                            @if (!MvcHtmlString.IsNullOrEmpty(validationSummaryGoogleAuth))
                    {
                                            <div class="message-error">@validationSummaryGoogleAuth</div>
                                            }

                                            <div class="panel panel-default">
                                                <div class="customer-blocks">
                                                    <div class="returning-wrapper fieldset">
                                                        <div class="form-fields">

                                                            <div class="inputs">
                                                                <div class="buttons">
                                                                    <input type="submit" id="Save" class="button-1" value="@T("Reset.Google.Authentication")" name="ResetGoogleAuth" />
                                                                    <input type="submit" id="Save" name="ResetFacebookAuth" class="button-1" value="@T("Reset.Facebook.Authentication")" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                                                }





                                                <script>
                                                    $(document).ready(function () {

                                                        var ResultGoogle = "@Model.ResultGoogle";
                                                        if (ResultGoogle != "") {
                                                            $('#GoogleUserName').val('');
                                                        }

                                                        var ResultFacebook = "@Model.ResultFacebook";
                                                        if (ResultFacebook != "") {
                                                            $('#FacebookUserName').val('');
                                                        }
                                                    });
                                                </script>
                                                <script>
                                                    $(function () {
                                                        $("#Save").click(function () {
                                                            $('.loader').show();
                                                        });
                                                    });

                                                    $('#btnreset').on('click', (function () {
                                                        $('.loader').show();
                                                        document.location = "@(Url.Action("EPinChangePassword", "Epin"))";
                                                    }));
                                                </script>
                                                }
