﻿@{
    Layout = "";
}
@model Nop.Web.Framework.Models.RegisterModel

@*@using (Html.BeginForm())
{*@
    @Html.HiddenFor(model => model.PackageAmount, new { @class = "pkcgAmt" })
    @Html.HiddenFor(model => model.PartialPaymentDeductionType)
    <div class="page">
        <div class="page-body">
            <div class="fieldset">
                <div class="inputs">
                    <label>@T("Account.Fields.txtAccHolder") </label>
                    @Html.TextBox("txtAccHolder")
                    @Html.RequiredHint()
                    <div class="inputs field-validation-error" id="validationMessagestxtAccHolder" style="text-align:center"></div>
                </div>
                <div class="inputs">
                    <label>@T("Account.Fields.txtPassword") </label>
                    @Html.Password("txtPassword")
                    @Html.RequiredHint()
                    <div class="inputs field-validation-error" id="validationMessagestxtPassword" style="text-align:center"></div>
                </div>
                <div id="ShowOnWalletPasswordConformation">
                    @if (Model.PartialPaymentRegistraton)
                    {
                        if (Model.PartialPaymodeEwallet)
                        {
                            <div class="inputs">
                                <label>@T("Account.Fields.PaymentDeductionTypeEwalletCurrentBal") </label>
                                @Html.TextBoxFor(model => model.EwalletAmount, new { @readonly = "readonly" })
                            </div>

                            if (Model.PartialPaymentDeductionType == 1)
                            {
                                <div class="inputs">
                                    <label>@T("Account.Fields.PaymentDeductionTypeAmount") </label>
                                    @Html.TextBoxFor(model => model.PaymentDeductionTypeManualAmt, new { @onkeypress = "return isNumberKey(event)" })
                                    <div class="inputs field-validation-error" id="validationMessagesEwalletRemainingAmtForManual" style="text-align:center"></div>
                                </div>
                                <div class="inputs">
                                    <label>@T("Account.Fields.PaymentDeductionTypeRemainingAmt") </label>
                                    @Html.TextBoxFor(model => model.EwalletRemainingAmtForManual, new { @readonly = "readonly" })


                                </div>

                            }
                            else if (Model.PartialPaymentDeductionType == 2 || Model.PartialPaymentDeductionType == 3)
                            {

                                <div class="inputs">
                                    <label>@T("Account.Fields.PaymentDeductionTypeAmount") </label>
                                    @Html.TextBoxFor(model => model.PaymentDeductionTypeAmtPer, new { @readonly = "readonly" })
                                </div>

                                <div class="inputs">
                                    <label>@T("Account.Fields.PaymentDeductionTypeRemainingAmt") </label>
                                    @Html.TextBoxFor(model => model.EwalletRemainingAmount, new { @readonly = "readonly" })
                                </div>

                            }
                            <div class="inputs" id="PartialSecondaryPaymodeListDiv">
                                <label>@T("Account.Fields.PartialPayment") </label>
                                @Html.DropDownListFor(model => model.ddlPartialSecondaryPaymode, Model.PartialSecondaryPaymodeList)
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
@*}*@
<script>
    $("#validationMessagestxtPassword").html("");

    $('#txtAccHolder').attr('readonly', true);

    $("#txtPassword").focusout(function () {
       
        if ($("#txtPassword").val() == "") {
            $("#validationMessagestxtPassword").html("@T("Admin.Customers.Customers.List.EnterPassword")");
        }
        else {
            if ('@Model.PartialPaymentRegistraton' =='True')
            {
                var postData = {
                    WalletPassword: $('#txtPassword').val()
                };

                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("checkWalletPassword", "Customer"))",
                    data: postData,
                    success: function (data) {
                        $("#validationMessagestxtPassword").html("");
                        if (data.ValidPassword == 1) {
                            $('#ShowOnWalletPasswordConformation').show();
                        }
                        else
                        {
                            $('#ShowOnWalletPasswordConformation').hide();
                            $("#validationMessagestxtPassword").html("@T("Registration.InvalidEwalletPassword")");
                        }
                    }
                });
            }else{
                $("#validationMessagestxtPassword").html("");
            }

        }
    });


    $('#PaymentDeductionTypeManualAmt').focusout(function () {
        
        var DeductionManualAmtHighThanPackage = 0;
        var DeductionManualAmtHighThanEwallateAmt = 0;
        var DeductionManualZeroAmt = 0;
        $("#validationMessagesEwalletRemainingAmtForManual").hide();

        if (parseFloat($('#PaymentDeductionTypeManualAmt').val()) <= 0) {
            $('#PaymentDeductionTypeManualAmt').val('0');
            DeductionManualZeroAmt = 1;
        }

        if (parseFloat($('#PaymentDeductionTypeManualAmt').val()) > parseFloat($('#PackageAmount').val())) {
            $('#PaymentDeductionTypeManualAmt').val('0');
            DeductionManualAmtHighThanPackage = 1;

        }
        if (parseFloat($('#PaymentDeductionTypeManualAmt').val()) > parseFloat($('#EwalletAmount').val())) {

            $('#PaymentDeductionTypeManualAmt').val('0');
            DeductionManualAmtHighThanEwallateAmt = 1;
        }

        if (parseFloat($('#PaymentDeductionTypeManualAmt').val()) <= parseFloat($('#EwalletAmount').val())) {

            var postData = {
                Packageamt: $('#PackageAmount').val(),
                DeductionAmt: $('#PaymentDeductionTypeManualAmt').val()
            };
            addAntiForgeryToken(postData);
            $.ajax({
                type: "POST",
                url: "@(Url.Action("BindDeductionRemainingAmt", "Customer"))",
                data: postData,
                success: function (data) {
                    $('#EwalletRemainingAmtForManual').val(data.currencyRemAmt);
                    
                    if (data.currencyRemAmt == 0) {
                        $('#PartialSecondaryPaymodeListDiv').hide();
                    } else {
                        $('#PartialSecondaryPaymodeListDiv').show();
                    }

                    if (DeductionManualZeroAmt == 1) {
                        $("#validationMessagesEwalletRemainingAmtForManual").show();
                        $("#validationMessagesEwalletRemainingAmtForManual").html("@T("admin.customer.paymentdeductiontypemanualamtgreaterthanzero")");
                    }

                    if (DeductionManualAmtHighThanEwallateAmt == 1) {
                        $("#validationMessagesEwalletRemainingAmtForManual").show();
                        $("#validationMessagesEwalletRemainingAmtForManual").html("@T("Admin.Customer.ManualAmtLessThnEqualToEwallet")");
                        DeductionManualAmtHighThanEwallateAmt = 0;
                    }

                    if (DeductionManualAmtHighThanPackage == 1) {
                        $("#validationMessagesEwalletRemainingAmtForManual").show();
                        $("#validationMessagesEwalletRemainingAmtForManual").html("@T("Admin.Customer.ManualAmtLessThnEqualToPkgAmt")");
                        DeductionManualAmtHighThanPackage = 0;
                    }
                }
            });

        }
        if (parseFloat($('#PaymentDeductionTypeManualAmt').val()) > parseFloat($('#PackageAmount').val())) {
            $("#validationMessagesEwalletRemainingAmtForManual").show();
            $("#validationMessagesEwalletRemainingAmtForManual").html("@T("Admin.Customer.ManualAmtLessThnEqualToPkgAmt")");

        }
        if (parseFloat($('#PaymentDeductionTypeManualAmt').val()) > parseFloat($('#EwalletAmount').val())) {
            $("#validationMessagesEwalletRemainingAmtForManual").show();
            $("#validationMessagesEwalletRemainingAmtForManual").html("@T("Admin.Customer.ManualAmtLessThnEqualToEwallet")");
        }
    });


    $("#txtAccHolder").change(function () {
        //post data to the controller
        
        $("#validationMessagestxtAccHolder").html("");

        var postData = {
            memno: $("#txtAccHolder").val()
        };
        addAntiForgeryToken(postData);

        $.ajax({
            type: "POST",
            url: "@(Url.Action("BindSponsorName", "Customer"))",
            data: postData,
            success: function (data) {
                if (data == 1) {
                    $("#validationMessagestxtAccHolder").html(" @T("web.register.ewalletIDError")");
                    $("#txtAccHolder").val('');
                    $("#txtAccHolder").focus();
                }
                else if (data == 2) {
                    $("#validationMessagestxtAccHolder").show();
                    $("#validationMessagestxtAccHolder").html("@T("Admin.registration.blockedEwalletId")");
                    //  alert("Enter Valid Sponsor ID");
                    $("#SponsorName").hide();
                    $("#txtAccHolder").val('');
                    $("#txtAccHolder").focus();
                    return;
                }
                else {
                    $("#validationMessagestxtAccHolder").html("");
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            },
            traditional: true
        });
        return false;
    });

    $(document).ready(function () {
        $('#ShowOnWalletPasswordConformation').hide();
        $('#EwalletRemainingAmtForManual').val(@Model.PackageAmount);

        if ((@Model.PartialPaymentDeductionType == 2 || @Model.PartialPaymentDeductionType == 3))
        {
            $('#EwalletRemainingAmount').val(@Model.EwalletRemainingAmount);
            $('#PaymentDeductionTypeAmtPer').val(@Model.PaymentDeductionTypeAmtPer);
        }
        $('.pkcgAmt').val(@Model.PackageAmount);
        $('#PaymentDeductionTypeManualAmt').val('0');
        
        if (@Model.PartialPaymentDeductionType == 1 &&  parseFloat($('#EwalletRemainingAmtForManual').val())==0)
        {
            $('#PartialSecondaryPaymodeListDiv').hide();
        }
        else
        {
            $('#PartialSecondaryPaymodeListDiv').show();
        }

        if ( (@Model.PartialPaymentDeductionType == 2 || @Model.PartialPaymentDeductionType == 3) && parseFloat($('#EwalletRemainingAmount').val())==0)
        {
            $('#PartialSecondaryPaymodeListDiv').hide();
        }
        else
        {
            $('#PartialSecondaryPaymodeListDiv').show();
        }
    });
</script>