﻿@model Nop.Web.Framework.Models.Epin.EpinRequestModel

@using Nop.Core;
@using Nop.Core.Infrastructure;

@{
    Layout = "~/Views/Shared/_ColumnVF.cshtml";
    //title
    Html.AddTitleParts(T("Admin.DispatchEpinReport").Text);
    //register URL with return URL (if specified)
}
<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />

<style>
    .Transtionactive {
        background-color: #0bab3d !important;
    }

    .Excel {
        background-color: #0bab3d !important;
    }

    #mainPanle {
        margin-left: 20%;
    }

    .page {
        text-align: left !important;
    }

    @@media only screen and (min-width: 501px) and (max-width:600px) {
        #mainPanle {
            margin-left: 0% !important;
        }

        .inputs {
            margin: 0 0 0px !important;
        }

        #divRequestNo, #divTraderName {
            margin-left: 18px !important;
            width: 93% !important;
            margin-bottom: 6% !important;
            margin-top: -4% !important;
        }
    }

    @@media only screen and (min-width: 480px) and (max-width:500px) {
        #mainPanle {
            margin-left: 0% !important;
        }

        .inputs {
            margin: 0 0 0px !important;
        }

        #divRequestNo, #divTraderName {
            margin-left: 13px !important;
            width: 93% !important;
            margin-bottom: 9% !important;
            margin-top: -4% !important;
        }
    }

    @@media only screen and (min-width: 330px) and (max-width:360px) {
        #mainPanle {
            margin-left: 0% !important;
        }

        .inputs {
            margin: 0 0 0px !important;
        }

        #divRequestNo, #divTraderName {
            margin-left: 13px !important;
            width: 90% !important;
            margin-bottom: 12% !important;
            margin-top: -6% !important;
        }
    }

    @@media only screen and (max-width:320px) {
        #mainPanle {
            margin-left: -13% !important;
        }

        .inputs {
            margin: 0 0 0px !important;
        }

        #divRequestNo, #divTraderName {
            margin-left: 13px !important;
            width: 90% !important;
            margin-bottom: 12% !important;
            margin-top: -6% !important;
        }
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="page account-page return-request-list-page ">
        <div class="page-title">
            <h1>@T("Dashboard.Epin.EpinDetailsOfRequestNo")</h1>
        </div>
        <div class="page registration-result-page">
            <div class="page-body">
                @{
                    var validationSummary = Html.ValidationSummary(true);
                }
                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="message-error error" id="validationMessages"></div>
                        <div class="panel-body">
                            <div class="panel-group">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <strong>@T("Dashboard.MyNetwork.SearchOption")</strong>
                                        </h4>
                                    </div>
                                    <div>
                                      
                                        <div id="btnstatusall" style="float: right;margin-right: 1%;">
                                            <input type="button" id="btnback"class="button-1" value="@T("Epin.RequestDetails.Back")" onclick="setLocation('@Url.RouteUrl("", new { controller = "Epin", action = "IssueEpinDetails" })')"/>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="panel-body" id="mainPanle">
                                            <div class="col-lg-12">
                                                <div class="all-form-element-inner">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                @Html.LabelFor(model => model.RequestNo)
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.NopDisplayFor(model => model.RequestNo)
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                @Html.LabelFor(model => model.NetAmount)
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.NopDisplayFor(model => model.NetAmount)
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                @Html.LabelFor(model => model.VoucherWiseTotalDiscount)
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.NopDisplayFor(model => model.VoucherWiseTotalDiscount)
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                @Html.LabelFor(model => model.OrderTotalDiscount)
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.NopDisplayFor(model => model.OrderTotalDiscount)
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                @Html.LabelFor(model => model.PaybleAmount)
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.NopDisplayFor(model => model.PaybleAmount)
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                @Html.LabelFor(model => model.RequestDateTime)
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.NopDisplayFor(model => model.PinRequestDateTime)
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                @Html.LabelFor(model => model.Status)
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.NopDisplayFor(model => model.RequestStatus)
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                @Html.LabelFor(model => model.Remark)
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.NopDisplayFor(model => model.Remark)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6" id="dvPaymodeDetails">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                @Html.LabelFor(model => model.Paymode)
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.NopDisplayFor(model => model.Paymode)
                                                            </div>
                                                        </div>

                                                        @if (Model.ChequeNo != null && Model.txtChequeDate != null && Model.ChequeBank != null && Model.ChequeBranch != null)
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    @Html.LabelFor(model => model.ChequeNo)
                                                                </div>
                                                                <div class="col-md-6">
                                                                    @Html.NopDisplayFor(model => model.ChequeNo)
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    @Html.LabelFor(model => model.ChequeDate)
                                                                </div>
                                                                <div class="col-md-6">
                                                                    @Html.NopDisplayFor(model => model.txtChequeDate)
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    @Html.LabelFor(model => model.ChequeBank)
                                                                </div>
                                                                <div class="col-md-6">
                                                                    @Html.NopDisplayFor(model => model.ChequeBank)
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    @Html.LabelFor(model => model.ChequeBranch)
                                                                </div>
                                                                <div class="col-md-6">
                                                                    @Html.NopDisplayFor(model => model.ChequeBranch)
                                                                </div>
                                                            </div>

                                                        }

                                                        @if (Model.ImageUrl != null)
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    @Html.LabelFor(model => model.Recipt)
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <a href="@Url.Action("Download","Epin", new { RequestNo = Model.RequestNo })">
                                                                        <img src="@Url.Content(Model.ImageUrl)" alt="IMAGES" style="width: 100px; margin-left: 0%; margin-top: 0%;" />
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <b style="color:red;font-weight:bold ;"> @T("Admin.Note.Note") </b> @T("Admin.Download.DownloadUploadedFileOnImageClick")
                                                                </div>
                                                            </div>

                                                        }
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content table-wrapper" id="ScrollableDiv">
                                        @Html.Partial("_CommanServerSideKendoGrid", Model.dataTable)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var rowCount = $("#EpinReport td").closest("tr").length;

        $(document).ready(function () {
            getData();
        });

        function getData(){
            var RequestNo="@Model.RequestNo";
            var data = {
                RequestNo:RequestNo
            };
            addAntiForgeryToken(data);

            $('#mydirectDataTable').DataTable({
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [

                    ]
                },
                processing: true,
                oLanguage: {sProcessing: "<div class='loader'></div>"},
                columns:@Html.Raw(@Model.columns),
                bServerSide: true,
                destroy: true,
                "ajax": {
                    'type': 'POST',
                    'url':  "@Html.Raw(Url.Action("IssueEpinRequestDetailsList", "Epin"))",
                    'data': data,
                    pagingType: "full_numbers",
                    iDisplayLength: 10,
                }
            });
        }
    </script>


                    }
