﻿@model Nop.Web.Framework.Models.Epin.EpinRequestModel

@using Nop.Core;
@using Nop.Core.Infrastructure;

@{
    Layout = "~/Views/Shared/_ColumnVF.cshtml";
    //title
    Html.AddTitleParts(T("Admin.DispatchEpinReport").Text);
    //register URL with return URL (if specified)
}
<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="page account-page return-request-list-page ">
        <div class="page-title">
            <h1>@T("Admin.EpinOrderDetails")</h1>
        </div>
        <div class="page registration-result-page">
            <div class="page-body">
                @{
                    var validationSummary = Html.ValidationSummary(true);
                }
                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }
                <div class="panel-body" id="mainDivSection">
                    <div class="panel panel-default">
                        <div class="message-error error" id="validationMessages"></div>
                        <div class="panel-body">
                            <div class="panel-group">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <strong>@T("Dashboard.MyNetwork.SearchOption")</strong>
                                        </h4>
                                    </div>
                                    <div>
                                        <div id="btnstatusall" style="float: right;margin-right: 1%;">
                                            <input type="button" id="btnPending" name="btnPending" class="PinRequestStatus button-1" value="@T("Member.Epin.IssuEpunStatus.Pending")" />
                                            <input type="button" id="btnComplite" name="btnComplite" class="PinRequestStatus button-1" value="@T("Member.Epin.IssuEpunStatus.Complite")" />
                                            <input type="button" id="btnRejected" name="btnRejected" class="PinRequestStatus button-1" value="@T("Member.Epin.IssuEpunStatus.Rejected")" />
                                            <input type="button" id="btnAutoExpired" name="btnAutoExpired" class="PinRequestStatus button-1" value="@T("Member.Epin.IssuEpunStatus.AutoExpired")" />
                                        </div>
                                        <br />
                                        <br />
                                        <div class="panel-body">
                                            <div class="col-md-12" id="mainPanle">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="inputs">
                                                            @Html.DropDownList("SelectReqNoTraderNameId", new List<SelectListItem>
                                                    {
                                                    new SelectListItem{Text="Request No",Value="0"},
                                                    new SelectListItem{Text="Trader Name / ID",Value="1"},
                                                     new SelectListItem{Text="Order period",Value="2"}
                                                    })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="inputs">
                                                            <div id="divRequestNo">
                                                                @Html.TextBoxFor(model => model.RequestNo, new { placeholder = "Request No" })
                                                                @Html.ValidationMessageFor(model => model.RequestNo)
                                                            </div>
                                                            <div id="divTraderName">
                                                                @Html.TextBoxFor(model => model.TraderName, new { placeholder = "Trader Name / ID" })
                                                                @Html.HiddenFor(model => model.TraderId)
                                                                <div id="divTradername" class="inputs">
                                                                </div>
                                                            </div>
                                                            <div id="divOrderperiod">
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        @Html.EditorFor(model => model.OrderPlaceFromDate)
                                                                        @Html.HiddenFor(model => model.HFromDate)
                                                                        @Html.ValidationMessageFor(model => model.OrderPlaceFromDate)
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        @Html.EditorFor(model => model.OrderPlaceToDate)
                                                                        @Html.HiddenFor(model => model.HToDate)
                                                                        @Html.ValidationMessageFor(model => model.OrderPlaceToDate)
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-1">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="inputs">
                                                            <b style="color:red;font-weight:bold ;"> @T("Admin.Note.Note") </b> @T("Epin.Filter.OrderDate")
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="buttons">
                                                            <input type="button" id="btnSearch" name="btnSearch" class="button-1" value="@T("Tree.Search.Button")" />
                                                            <input type="button" id="btnreset" class="button-1" value="@T("Tree.Reset.Button")" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div id="ShowOnlyActiveBlockExpire" style="float:right">
                                    <input type="button" id="ExportAllRecord" name="ExportAllRecord" class="button-1 Excel" value="Export To Excel" />
                                </div>
                                <div class="x_panel">
                                    <div class="x_title">
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content" id="ScrollableDiv">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        var data;
        var id = "btnPending";

        function setData() {

            var validationDivs = '';
            $('#validationMessages').html('');

            if ($("#OrderPlaceFromDate").val() == "" && $("#OrderPlaceToDate").val() != "") {
                $("#validationMessages").html('');
                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("admin.customer.pancardconfirmation.datewisefrom")</div>';
                $('#validationMessages').html(validationDivs);
                return false;
            }
            if ($("#OrderPlaceFromDate").val() != "" && $("#OrderPlaceToDate").val() == "") {
                $("#validationMessages").html('');
                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("admin.customer.pancardconfirmation.datewiseto")</div>';
                $('#validationMessages').html(validationDivs);
                return false;
            }

            var myDate = new Date(getDateFromString($("#OrderPlaceFromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
            var myFromDate = new Date(getDateFromString($("#OrderPlaceToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));

            var today = new Date();
            var start_time = $("#DatewiseFrom").val();
            var end_time = $("#DatewiseTo").val();

            var SearchFirstName = $("#memberID").val(), MemId = $("#searchId").val();


            if (myFromDate > today) {

                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                $('#validationMessages').html(validationDivs);
                return false;
            }

            if (myFromDate < myDate) {
                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                $('#validationMessages').html(validationDivs);
                return false;
            }

            if ($('#SelectReqNoTraderNameId').val() == '1') {


                if ($('#TraderName').val() == "") {
                    $('#TraderId').val("");
                }

                if ($('#TraderId').val() == "") {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.TraderIdNameRequired")</div>';
                    $('#validationMessages').html(validationDivs);
                    return false;
                }

                if ($('#TraderId').val() == "" && $('#TraderName').val() != "") {

                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                    $('#validationMessages').html(validationDivs);

                    return false;
                }

            }

            if (id == "btnPending") {
                id = "Pending";
            }
            else if (id == "btnComplite") {
                id = "Complete";
            }
            else if (id == "btnRejected") {
                id = "Rejected";
            }
            else if (id == "btnAutoExpired") {
                id = "AutoExpired";
            }


            $("#HFromDate").val(getDateFromString($("#OrderPlaceFromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
            $("#HToDate").val(getDateFromString($("#OrderPlaceToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));

            data = {
                HFromDate: getDateFromString($("#OrderPlaceFromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                HToDate: getDateFromString($("#OrderPlaceToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                SelectReqNoTraderNameId: $('#SelectReqNoTraderNameId').val(),
                RequestNo: $('#RequestNo').val(),
                TraderId: $('#TraderId').val(),
                RequestStatus: id
            };

            addAntiForgeryToken(data);
        }

        $("#OrderPlaceFromDate").keyup(function () {
            $(this).val('');
        });

        $("#OrderPlaceToDate").keyup(function () {
            $(this).val('');
        });


        $(document).ready(function () {

            $("#validationMessages").hide();

            $('#divTraderName').hide();
            $('#divOrderperiod').hide();
            $('#NoteFordata').hide();


            if ($('#SelectReqNoTraderNameId').val() == "0") {
                $('#divRequestNo').show();
                $('#divTraderName').hide();
                $('#divOrderperiod').hide();
                $('#NoteFordata').hide();
            } else if ($('#SelectReqNoTraderNameId').val() == "1") {
                $('#divTraderName').show();
                $('#divRequestNo').hide();
                $('#divOrderperiod').show();
                $('#NoteFordata').show();

            }
            else if ($('#SelectReqNoTraderNameId').val() == "2") {
                $('#divOrderperiod').show();
                $('#divTraderName').hide();
                $('#divRequestNo').hide();
                $('#NoteFordata').show();
            }

            $("#btnPending").addClass('Transtionactive');

            setData();          

            $('#btnPending').prop('disabled', false);
            $('#btnComplite').prop('disabled', false);
            $('#btnRejected').prop('disabled', false);
            $('#btnAutoExpired').prop('disabled', false);

            $.ajax({
                url: "@Html.Raw(Url.Action("GetColumnList", "Epin"))",
                type: "POST",
                dataType: "html",
                data: data,
                success: function (result) {
                 
                    $('#ScrollableDiv').html("");
                    $('#ScrollableDiv').html(result);
                    $('.loader').hide();

                  
                },
                error: function (result) {
                    $('.loader').hide();

                  
                }
            });

            //auto complete for trader name
            $('#TraderName').autocomplete({
                delay: 500,
                minLength: 1,
                source: '@(Url.Action("SearchTermAutoCompleteTrader", "Epin"))',
                appendTo: '.search-box',
                select: function (event, ui) {
                    $("#TraderId").val(ui.item.Id);
                    $("#TraderName").val(ui.item.label);
                    $("#divTradername").show();
                    return false;
                },
                search: function () { $('.loader').show(); },
                open: function () { $('.loader').hide() },
            }).data("ui-autocomplete")._renderItem = function (ul, item) {

                var t = item.label;

                //html encode
                t = $('<div/>').text(t).html();
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a><span>" + t + "</span></a>")
                    .appendTo(ul);
            };
        });

        $('#SelectReqNoTraderNameId').change(function () {

            if ($(this).val() == "0") {
                $('#divRequestNo').show();
                $('#divTraderName').hide();
                $('#divOrderperiod').hide();
                $('#NoteFordata').hide();
                $('#OrderPlaceFromDate').val('');
                $('#OrderPlaceToDate').val('');
                $('#TraderName').val('');
                $('#RequestNo').val('');
                $('#validationMessages').html('');

            } else if ($(this).val() == "1") {
                $('#divTraderName').show();
                $('#divRequestNo').hide();
                $('#divOrderperiod').show();
                $('#NoteFordata').show();
                $('#OrderPlaceFromDate').val('');
                $('#OrderPlaceToDate').val('');
                $('#TraderName').val('');
                $('#RequestNo').val('');
                $('#validationMessages').html('');
            }
            else if ($(this).val() == "2") {
                $('#divOrderperiod').show();
                $('#NoteFordata').show();
                $('#divTraderName').hide();
                $('#divRequestNo').hide();
                $('#OrderPlaceFromDate').val('');
                $('#OrderPlaceToDate').val('');
                $('#TraderName').val('');
                $('#RequestNo').val('');
                $('#validationMessages').html('');
            }
        });


        $('#btnSearch').click(function () {

            setData();

            if ($('#SelectReqNoTraderNameId').val() == '1' && $('#TraderId').val() == "") {
                return false;
            }
            var error = $.trim($("#validationMessages").html());
            if (error != "") {
                return false;
            }

            $('#btnPending').prop('disabled', false);
            $('#btnComplite').prop('disabled', false);
            $('#btnRejected').prop('disabled', false);
            $('#btnAutoExpired').prop('disabled', false);

            $.ajax({
                url: "@Html.Raw(Url.Action("GetColumnList", "Epin"))",
                type: "POST",
                dataType: "html",
                data: data,
                success: function (result) {
                    $('.loader').hide();

                    $('#ScrollableDiv').html("");
                    $('#ScrollableDiv').html(result);

                   
                },
                error: function (result) {
                    $('.loader').hide();

                  

                }
            });
        });


        $('.PinRequestStatus').click(function () {

            $('#validationMessages').html('');

            $('.PinRequestStatus').removeClass('Transtionactive');

            $("#" + this.id).addClass('Transtionactive');

            id = this.id;

            $('#btnPending').prop('disabled', true);
            $('#btnComplite').prop('disabled', true);
            $('#btnRejected').prop('disabled', true);
            $('#btnAutoExpired').prop('disabled', true);

            setData();

            $('#btnPending').prop('disabled', false);
            $('#btnComplite').prop('disabled', false);
            $('#btnRejected').prop('disabled', false);
            $('#btnAutoExpired').prop('disabled', false);

            $.ajax({
                url: "@Html.Raw(Url.Action("GetColumnList", "Epin"))",
                type: "POST",
                dataType: "html",
                data: data,
                success: function (result) {
                    $('.loader').hide();

                    $('#ScrollableDiv').html("");
                    $('#ScrollableDiv').html(result);

                
                },
                error: function (result) {
                    $('.loader').hide();

                   
                }
            });
        });



        $('#btnreset').on('click', (function () {
            $('.loader').show();
            document.location = "@(Url.Action("IssueEpinDetails", "Epin"))";
        }));

        function getRow(tableId, propName, propValue) {

            var oTable = $('#' + tableId).DataTable(),
                           data = oTable.rows().data(),
                          row, i, l = data.length;

            for (i = 0; i < l; i++) {
                row = data[i];
                if (row["RequestNo"] == propValue) {
                    return row['HRequestNo'];
                }
            }
            return false;
        }

        function RequestDetails(RequestNo) {

            var row = getRow('mydirectDataTable', 'HRequestNo', RequestNo);
            var ReqNo = row;


            window.location = "@Url.Action("IssueEpinRequestDetails", "Epin")/?RequestNo=" + ReqNo;
        };
        $('#ExportAllRecord').on('click', (function () {
            $('.loader').show();
            var data = {

            };
            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("IssueEpinDetailsExportToExcel", "Epin"))",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (result) {
                    $('.loader').hide();
                    if (result.fullFileName) {
                        if (result.fullFileName != null && result.fullFileName != "") {
                            window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                        }

                    }
                    else if (result.fullFileName == null) {
                        $("#validationMessages").html('');
                        var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';

                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs1);
                    }
                    else {
                        var validationDivs1 = '<div>' + result.fullFileName + '</div>';

                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs1);
                    }
                },
                error: function (result) {
                    $('.loader').hide();
                }
            });

        }));

    </script>


                    }
