﻿@model Nop.Web.Framework.Models.MemberEpinTransferModel
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_ColumnVF.cshtml";
    //title
    Html.AddTitleParts(T("Account.Request.TransferEpin").Text);
    //register URL with return URL (if specified)
}

<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.SelectedEpins)
    @Html.HiddenFor(m => m.CurrentcustomerId)


    <div class="page account-page return-request-list-page " id="divTrasferForm">
        <div class="page-title">
            <h1>@T("Account.Request.TransferEpin")</h1>
        </div>
        <div class="page registration-result-page">
            <div class="page-body">
                <input type="hidden" name="SelectedMessages" id="SelectedMessages" />             
                <div class="message-error error" id="validationMessages"></div>
                <div class="result" style="text-align:center;">
                    @if (TempData["EpinTransfer"] != null)
                    {
                        @TempData["EpinTransfer"].ToString()
                    }
                </div>

                @{
                    var validationSummary = Html.ValidationSummary(true);
                }
                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }

                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="panel-group" id="accordion">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <strong>@T("Dashboard.MyNetwork.SearchOption")</strong>
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <span style="float:right" id="btnplusminus" class="glyphicon glyphicon-plus"></span></a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="inputs">
                                            @Html.LabelFor(model => model.VoucherListName)
                                            @Html.DropDownListFor(model => model.VoucherListName, Model.VoucherList)
                                        </div>
                                        <div class="inputs">
                                            @Html.LabelFor(model => model.PintypeId)
                                            @Html.DropDownListFor(model => model.PintypeId, Model.Pintypes)
                                        </div>
                                        <div class="inputs">
                                            @Html.LabelFor(model => model.FromDate)
                                            @Html.EditorFor(model => model.FromDate)
                                            @Html.HiddenFor(model => model.HFromDate)
                                            @Html.ValidationMessageFor(model => model.FromDate)
                                        </div>
                                        <div class="inputs">
                                            @Html.LabelFor(model => model.ToDate)
                                            @Html.EditorFor(model => model.ToDate)
                                            @Html.HiddenFor(model => model.HToDate)
                                            @Html.ValidationMessageFor(model => model.ToDate)
                                        </div>
                                        <div class="inputs">
                                            <div class="buttons">
                                                <input type="button" id="Search-EpinTransferGrid" name="Search-EpinTransferGrid" class="button-1" value="@T("Tree.Search.Button")" />
                                                <input type="button" id="btnreset" class="button-1" value="@T("Tree.Reset.Button")" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="customer-blocks">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content table-wrapper" id="ScrollableDiv">
                                        <br />
                                        <table id="mydirectDataTable" class="display stripe cart" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th><input name="select_all" value="1" id="example-select-all" type="checkbox"></th>
                                                    <th>@T("admin.customers.customers.fields.pdm_srno")</th>
                                                    <th>@T("admin.customers.customers.fields.vouchernamestatus")</th>
                                                    <th>@T("admin.customers.customers.fields.ptm_name")</th>
                                                    <th>@T("admin.customerreport.amount")</th>
                                                    <th>@T("admin.customers.customers.fields.receiveddate")</th>
                                                </tr>
                                            </thead>
                                        </table>

                                    </div>
                                    @if (!Model.IsHideMemberSide)
                                    {
                                        <div class="form-fields">
                                            <div class="inputs" style="text-align: center;">
                                                @Html.TextBoxFor(model => model.SearchFirstName)
                                                @Html.ValidationMessageFor(model => model.SearchFirstName)
                                                @Html.HiddenFor(model => model.MemId)
                                                @Html.HiddenFor(model => model.OriginalMemberName)
                                                <div id="divfirstname" class="inputs">
                                                </div>
                                            </div>
                                            @if (Model.OtpEnabled)
                                            {
                                                <div id="IssueEpinBlock">
                                                    <div id="divEnterOTPButtons">
                                                        <div style="margin-right: 10%;" class="buttons">
                                                            <input type="button" id="OTPSend-button" class="btn btn-custon-four btn-primary" value="@T(" account.register.sendotpbutton")" name="GenerateOTP" />
                                                        </div>
                                                        <div class="row">
                                                            <div id="OtpResult" style="text-align:center;margin-right:10%;color:green;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="inputs" id="divEnterOTP">
                                                        @Html.LabelFor(model => model.GeneratedOtp)
                                                        <div class="row">
                                                            <div id="OtpSMSSentResult" style="text-align:center;color:green;">
                                                            </div>
                                                            <br />

                                                            <div id="OtpError" style="text-align:center;margin-right:10%;color:red;">
                                                            </div>

                                                            @Html.HiddenFor(model => model.OtpVerified)
                                                            @Html.HiddenFor(model => model.OtpEnabled)

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="buttons" id="divVerifyOTP">
                                                    <input style="" type="button" id="OTPVerify-button" class="btn btn-custon-four btn-primary" value="@T(" account.register.verifyotpbutton")" name="GenerateOTP" />
                                                </div>

                                            }
                                            <div class="inputs" id="SaveEpinTransfer">
                                                <div class="buttons">
                                                    <input type="submit" id="Save-EpinTransfer" name="Save-EpinTransfer" class="button-1" value="@T("Tree.Send.Button")" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(function () {
            $("#Save-EpinTransfer").click(function () {
                $('.loader').show();
            });
        });

        window.onbeforeunload = function () {
            $("input[type=button], input[type=submit]").attr("disabled", "disabled");
        };

        var rowCount = $("#EpinReport td").closest("tr").length;
        //alert('Rows ' + rowCount + ' are selected');

        $(document).ready(function () {

            $(".collapse.in").each(function () {
                $("#btnplusminus").siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
            });
            $(".collapse").on('show.bs.collapse', function () {
                $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
            }).on('hide.bs.collapse', function () {
                $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
            });

            $('#SelectedEpins').val("");

            $("#divseachById").slideUp();
            $("#divHeadingSearch").click(function () {
                $("#divseachById").slideToggle();
            });

            $("#divfirstname").hide();
            $('#SearchFirstName').autocomplete({
                delay: 300,
                minLength: 1,
                source: '@(Url.Action("SearchTermAutoComplete","Epin"))',
                appendTo: '.search-box',
                select: function (event, ui) {
                    $("#MemId").val(ui.item.Id);
                    $("#SearchFirstName").val(ui.item.label);
                    $("#CurrentcustomerId").val(ui.item.Id);
                    $("#divfirstname").show();
                    return false;
                } ,
                change: function (event, ui) {
                    //alert("hii");
                    if (ui.item == null) {
                        $("#MemId").val("");
                        $("#SearchFirstName").focus();
                    }
                },
                search: function () { $('.loader').show(); },
                open: function () { $('.loader').hide() },
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                var t = item.label;
                //html encode
                t = $('<div/>').text(t).html();
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a><span>" + t + "</span></a>")
                    .appendTo(ul);
            };

            // Handle click on "Select all" control

        });
    </script>


    <script>
        var selectedCheckbox = null;

        $(document).ready(function () {
            $('#validationMessages').hide();
            $('.result').hide();
            getdata();
        });

        function getdata(){
            var data1 = {
                VoucherListName:$('#VoucherListName').val(),
                Fromdate : $("#HFromDate").val(),
                Todate :$("#HToDate").val(),
                PintypeId:$("#PintypeId").val(),
            };

            addAntiForgeryToken(data1);

            $('#mydirectDataTable').DataTable({
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },

                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [
                    ]
                },
                columns:@Html.Raw(@Model.columns),
                'columnDefs': [{
                    'targets': 0,
                    'searchable': false,
                    'orderable': false,
                    'width': '1%',
                    'className': 'dt-body-center',
                    'render': function (data, type, full, meta){
                        return '<input type="checkbox" id="CheckBox" class="chkPassport" name="id['+data+']"  value="'
                         + data + '">';

                    }
                }],
                bServerSide: true,
                processing: true,
                oLanguage: {sProcessing: "<div class='loader'></div>"},
                destroy: true,
                "ajax": {
                    'type': 'POST',
                    'url':  "@Html.Raw(Url.Action("MemberEpinTansferGrid", "Epin"))",
                    'data': data1,
                    //success:function(){alert('hi')}
                    pagingType: "full_numbers",
                    iDisplayLength: 10

                }
            });
        }

        $('#example-select-all').on('click', function () {

            selectedCheckbox=null;

            var table = $('#mydirectDataTable').DataTable();
            var rows = table.rows({ 'search': 'applied' }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked);

            if ($(this).prop('checked') == true) {

                var allData = table.rows().data();
                //  var i;
                //var i = allData.length;
                // var i = $('select[name=FoldersReport_length]').val();
                var i = allData.length;
                for (var j = 0; j < i; j++) {

                    var checkBox = allData[j];

                    //$("input[type='checkbox'][value=" + checkBox + "]").prop('checked', this.checked);

                    if (selectedCheckbox == null) {
                        selectedCheckbox = checkBox["Id"];
                    } else {
                        selectedCheckbox = selectedCheckbox + ',' + checkBox["Id"];
                    }
                    $('#SelectedEpins').val(selectedCheckbox);
                }
            }
            else {
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
                $('#SelectedEpins').val(selectedCheckbox);
            }
        });



        $(document).on('click', '#mydirectDataTable input[type="checkbox"][id="CheckBox"]', function () {
            var value = this.value;
            if (value != "") {
                if ($(this).prop('checked') == true) {

                    if (selectedCheckbox == null) {
                        selectedCheckbox = value;
                    } else {
                        selectedCheckbox = selectedCheckbox + ',' + value;
                    }
                    $('#SelectedEpins').val(selectedCheckbox);

                }
                else {
                    var serialNo = $('#SelectedEpins').val();
                    selectedCheckbox = serialNo.replace(value, '');
                    $('#SelectedEpins').val(selectedCheckbox);
                }
            }
        });

        $('#Search-EpinTransferGrid').click(function (e) {

            var validationDivs = '';
            $('#validationMessages').html('');

            var myDate = new Date(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
            var myFromDate = new Date(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));

            var today = new Date();
            var start_time=$("#FromDate").val();
            var end_time=$("#ToDate").val();

            var SearchFirstName = $("#memberID").val(), MemId = $("#searchId").val();

            if (myFromDate > today) {

                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                $('#validationMessages').html(validationDivs);
                $('#searchResult').hide();
                return false;
            }

            if (myFromDate < myDate) {
                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                //flag=false;
                $('#validationMessages').html(validationDivs);

                $('#searchResult').hide();
                return false;
            }

            var datefrom =$("#FromDate").val();
            var dateto=$("#ToDate").val();

            if (datefrom != '' && dateto == '' )
            {

                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterEndDate")</div>';
                $('#validationMessages').html(validationDivs);
                $('#searchResult').hide();
                return false;

            }

            if (dateto != '' && datefrom == '')
            {
                $("#validationMessages").show();
                validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                $('#validationMessages').html(validationDivs);
                $('#searchResult').hide();
                return false;
            }

            $('.loader').show();
            $("#HFromDate").val(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
            $("#HToDate").val(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));

            getdata();

            $("#collapseOne").removeClass("panel-collapse collapse in");
            $("#collapseOne").addClass("panel-collapse collapse");

            $("#btnplusminus").removeClass("glyphicon glyphicon-minus");
            $("#btnplusminus").addClass("glyphicon glyphicon-plus");
        });

        $('#btnreset').on('click', (function () {
            $('.loader').show();
            document.location = "@(Url.Action("MemberEpinTransfer", "Epin"))" ;
        }));

        window.onbeforeunload = function () {
            var buttons = document.getElementsByTagName("BUTTON");
            for (var i in buttons) {
                if (buttons[i].type == "button" || buttons[i].type == "submit") {
                    buttons[i].disabled = true;
                }
            }
        };

        $('#Save-EpinTransfer').click(function (e) {
            var validationDivs='';
            var txtMemid=$('#SearchFirstName').val();
            var hiddenSearchMemno=$('#MemId').val();

            $('.result').hide();

            if(txtMemid == '')
            {
                $("#validationMessages").show();
                validationDivs=validationDivs+'<div>@T("Admin.Validation.IdNameRequired")</div>';
                $('#validationMessages').html(validationDivs);
                return false;
            }
           
            if(txtMemid !='' && hiddenSearchMemno =='')
            {
                $("#validationMessages").show();
                validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                $('#validationMessages').html(validationDivs);
                return false;
            }

            var OtpEnabled = $("#OtpEnabled").val();
            if (OtpEnabled == "True") {
                var isCheckedOtpVerified = $("#OtpVerified").val();
                if (isCheckedOtpVerified != "true") {
                    $("#validationMessages").show();
                    validationDivs=validationDivs+'<div>OTP not verified</div>';
                    $('#validationMessages').html(validationDivs);
                    return false;
                }
            }
        });
    </script>

    <script>
        $("#divVerifyOTP").hide();
        $("#divEnterOTP").hide();
        $('#OTPSend-button').show();
        $("#OtpSMSSentResult").hide();
        $('#OTPSend-Emailbutton').show();
        $("#divVerifyEmailOTP").hide();
        $("#divEnterEmailOTP").hide();
        $("#OtpEmailSentResult").hide();

        $('#OTPSend-button').click(function (e) {

            $("#OtpError").hide();
            $("#OtpResult").hide();
            $("#EnterSMSOTP").val('');

            $.ajax({
                cache: false,
                type: "Get",
                url: "@(Url.Action("GenerateOTP", "Epin"))",
                success: function (data) {
                    if (data == 1) {
                        $("#divVerifyOTP").show();
                        $("#divEnterOTP").show();
                        $("#OtpSMSSentResult").show();
                        $("#OtpSMSSentResult").html("OTP sent on mobile");
                        $("#OTPSend-button").prop('value', 'Resend OTP');
                    }
                    else  if (data == 2) {
                        $("#divVerifyOTP").show();
                        $("#divEnterOTP").show();
                        $("#OtpSMSSentResult").show();
                        $("#OtpSMSSentResult").html("OTP sent on email");
                        $("#OTPSend-button").prop('value', 'Resend OTP');
                    }
                    else  if (data == 3) {
                        $("#divVerifyOTP").show();
                        $("#divEnterOTP").show();
                        $("#OtpSMSSentResult").show();
                        $("#OtpSMSSentResult").html("OTP sent on email and mobile");
                        $("#OTPSend-button").prop('value', 'Resend OTP');
                    }
                    else  if (data == 4) {
                        $("#OtpError").show();
                        $("#OtpError").val("Mobile number not registered");
                        $("#OtpError").html("Mobile number not registered");
                    }
                    else  if (data == 5) {
                        $("#OtpError").show();
                        $("#OtpError").val("Email id not registered");
                        $("#OtpError").html("Mobile number not registered");
                    }
                    else  if (data == 6) {
                        //alert("asda");
                        $("#divVerifyOTP").show();
                        $("#divEnterOTP").show();
                        $("#OtpError").show();
                        $("#OtpError").val("Email id and mobile number not registered");
                        $("#OtpError").html("Email id and mobile number not registered");
                    }

                },
            });
            return false;
        });


        $('#OTPVerify-button').click(function (e) {

            $("#OtpSMSSentResult").hide();
            var EnterSMSOTP = $("#GeneratedOtp").val();

            if (EnterSMSOTP == "") {
                $("#OtpError").show();
                $("#OtpError").val("@T("Account.Register.Errors.EnterOTP")");
                $("#OtpError").html("@T("Account.Register.Errors.EnterOTP")");
                return false;
            }
            EnterSMSOTP=EnterSMSOTP.trim();
            $.ajax({
                cache: false,
                type: "Get",
                url: "@(Url.Action("VerifySMSOTP", "Epin"))",
                data: {EnterSMSOTP:EnterSMSOTP},
                success: function (data) {

                    if (data == "1") {
                        $("#divVerifyOTP").hide();
                        $("#divEnterOTP").hide();
                        $("#OTPSend-button").prop('value', 'Resend OTP');
                        $("#OtpError").hide();
                        $("#OtpResult").show();
                        $("#OtpResult").val("@T("Account.Register.Errors.OTPVerified")");
                        $("#OtpResult").html("@T("Account.Register.Errors.OTPVerified")");
                        $("#OtpVerified").attr('value','true');
                    }
                    if (data == "2") {
                        $("#divVerifyOTP").show();
                        $("#divEnterOTP").show();
                        $("#OtpError").show();
                        $("#OtpResult").hide();
                        $("#OtpError").val("@T("Account.Register.Errors.EnteredwrongOTP")");
                        $("#OtpError").html("@T("Account.Register.Errors.EnteredwrongOTP")");
                        $("#OtpVerified").attr('value','false');
                    }

                    if (data == "3") {
                        $("#divVerifyOTP").show();
                        $("#divEnterOTP").show();
                        $("#OtpError").show();
                        $("#OtpResult").hide();
                        $("#OtpError").val("@T("Account.Register.Errors.ResendOTP")");
                        $("#OtpError").html("@T("Account.Register.Errors.ResendOTP")");
                        $("#OtpVerified").attr('value','false');
                    }
                },
            });
            return false;
        });

    </script>
                    if (Model.OtpVerified == true)
                    {
                        <script>
                            $("#divVerifyOTP").hide();
                            $("#divEnterOTP").hide();
                            $("#OTPSend-button").prop('value', 'Resend OTP');
                            $("#OtpError").hide();
                            $("#OtpResult").show();
                            $("#OtpResult").val("@T("Account.Register.Errors.OTPVerified")");
                            $("#OtpResult").html("@T("Account.Register.Errors.OTPVerified")");
                            $("#OtpVerified").attr('value','true');
                        </script>
                        }
                    }
