﻿@model Nop.Web.Framework.Models.Epin.MemberEpinGridModel

@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_ColumnVF.cshtml";
    //title
    Html.AddTitleParts(T("Account.Epin.RequestDetails").Text);
    //register URL with return URL (if specified)
}
<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="page account-page return-request-list-page ">
        <div class="page-title">
            <h1>@T("Account.Epin.RequestDetails")</h1>
        </div>
        <div class="page registration-result-page">
            <div class="page-body">
                <div class="result" style="text-align:center;">
                    @if (ViewBag.Msg != null)
                    {
                        @ViewBag.Msg
                    }
                </div>
                @{
                    var validationSummary = Html.ValidationSummary(true);
                }
                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }
                <div class="panel panel-default">
                    <div class="message-error error" id="validationMessages"></div>
                    <div class="panel-body">

                        <div class="panel-group" id="accordion">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <strong>@T("Dashboard.MyNetwork.SearchOption")</strong>
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <span style="float:right" id="btnplusminus" class="glyphicon glyphicon-plus"></span></a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="inputs" id="divVoucherList">
                                            @Html.LabelFor(model => model.ReportType)
                                            <div class="gender">
                                                <span class="male">
                                                    @Html.RadioButtonFor(model => model.ReportType, "0")
                                                    <label class="forcheckbox" for="gender-male">@T("Dashboard.EpinRequestDetails.Summary")</label>

                                                </span>
                                                <span class="female">
                                                    @Html.RadioButtonFor(model => model.ReportType, "1")
                                                    <label class="forcheckbox" for="gender-female">@T("Dashboard.EpinRequestDetails.Details")</label>
                                                </span>

                                            </div>
                                        </div>
                                        <div class="inputs">
                                            @Html.LabelFor(model => model.RequestNo)

                                            @Html.TextBoxFor(model => model.RequestNo)
                                            @Html.ValidationMessageFor(model => model.RequestNo)
                                        </div>
                                        <div class="inputs">
                                            @Html.LabelFor(model => model.FromDate)

                                            @Html.EditorFor(model => model.FromDate)
                                            @Html.HiddenFor(model => model.HFromDate)
                                            @Html.ValidationMessageFor(model => model.FromDate)
                                        </div>
                                        <div class="inputs">
                                            @Html.LabelFor(model => model.ToDate)

                                            @Html.EditorFor(model => model.ToDate)
                                            @Html.HiddenFor(model => model.HToDate)
                                            @Html.ValidationMessageFor(model => model.ToDate)
                                        </div>
                                        <div class="inputs">
                                            @Html.LabelFor(model => model.VoucherListName)
                                            @Html.DropDownListFor(model => model.VoucherListName, Model.VoucherList)
                                        </div>
                                        <div class="inputs">
                                            @Html.LabelFor(model => model.SelectStatus)

                                            @Html.DropDownList("SelectStatus", new List<SelectListItem>
                                            {
                                            new SelectListItem{Text="All Record(s)",Value="4"},
                                            new SelectListItem{Text="Pending",Value="0"},
                                            new SelectListItem{Text="In-Complete",Value="1"},
                                            new SelectListItem{Text="Complete",Value="2"},
                                            new SelectListItem{Text="Rejected",Value="3"},
                                            })
                                        </div>
                                        <div class="inputs" id="divRequestTo">
                                            @Html.LabelFor(model => model.RequestTo)
                                            @Html.DropDownListFor(model => model.RequestTo, Model.RequestToList)
                                        </div>
                                        <div class="inputs" id="divTraderName">
                                            @Html.LabelFor(model => model.TraderName)
                                            @Html.EditorFor(model => model.TraderName)
                                            @Html.HiddenFor(model => model.TraderId)
                                            <div id="divTradername" class="inputs">
                                            </div>
                                        </div>
                                        <div class="inputs">
                                            <div class="buttons">
                                                <input type="submit" id="btnSearch" class="button-1" value="@T(" Tree.Search.Button")" />
                                                <input type="button" id="btnreset" class="button-1" value="@T("Tree.Reset.Button")" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">

                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content" id="ScrollableDiv">

                                    @Html.Partial("_CommanServerSideKendoGrid", Model.dataTable)

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var rowCount = $("#EpinReport td").closest("tr").length;
        var rowCount = $("#EpinReport td").closest("tr").length;
        $('#ReportType0').click(function() {
            var selValue = $('input[name=ReportType]:checked').val();
            $.ajax({
                url: "@Html.Raw(Url.Action("RequestDetails", "Epin"))?ReportType="+selValue,
                type: "GET",
                dataType: "json",
                success: function (result) {

                },
                error: function (result) {
                }
            });
        });

        $('#ReportType1').click(function() {

            var selValue = $('input[name=ReportType]:checked').val();
            $.ajax({
                url: "@Html.Raw(Url.Action("RequestDetails", "Epin"))?ReportType="+selValue,
                type: "GET",
                dataType: "json",
                success: function (result) {

                },
                error: function (result) {
                }
            });
        });

        $(document).ready(function () {
            $("#validationMessages").hide();
            getData();

            $('#divTraderName').hide();

            if ($('#RequestTo') .val() =="2") {
                $('#divTraderName').show();
            }else
            {
                $('#divTraderName').hide();
            }

            $('#RequestNo').autocomplete({
                delay: 500,
                minLength: 1,
                source: '@(Url.Action("SearchTermAutoCompleteRequestNo", "Epin"))',
                appendTo: '.search-box',
                select: function (event, ui) {
                    $("#RequestNo").val(ui.item.label);
                    $("#divfirstname").show();
                    return false;
                }              
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                var t = item.label;
                //html encode
                t = $('<div/>').text(t).html();
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a><span>" + t + "</span></a>")
                    .appendTo(ul);
            };

            $("#reset").click(function () {
                window.location.reload();
            });

            $("#divseachById").slideUp();
            $("#divHeadingSearch").click(function () {
                $("#divseachById").slideToggle();
            });

            $(function () {
                $('a.dialog').click(function () {
                    var url = $(this).attr('href');
                    var dialog = $('<div style="display:none"></div>').appendTo('body');
                    dialog.load(url, {},
                        function (responseText, textStatus, XMLHttpRequest) {
                            dialog.dialog({
                                close: function (event, ui) {
                                    dialog.remove();
                                }
                            });
                        });

                    return false;
                });
            });

            $('#ToDate').datepicker({
                changeMonth: true,
                changeYear: true,
            });

            $('#FromDate').datepicker({
                changeMonth: true,
                changeYear: true,
            });


            if (@Model.epinDataTableModelforrecived.Count() > 10) {

                $("#EpinReport_length").show();
            }
            else { $("#EpinReport_length").hide(); }
            //search

            function getData(){
                var validationDivs = '';
                $('#validationMessages').html('');

                var myDate = new Date(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
                var myFromDate = new Date(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));

                var today = new Date();
                var start_time=$("#DatewiseFrom").val();
                var end_time=$("#DatewiseTo").val();

                var SearchFirstName = $("#memberID").val(), MemId = $("#searchId").val();

                if (myFromDate > today) {

                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    $('#validationMessages').html(validationDivs);
                    return false;
                }
                if (myFromDate < myDate) {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    $('#validationMessages').html(validationDivs);
                    return false;
                }

                if ($('#RequestTo').val() == '2') {

                    if($('#TraderName').val()=="")
                    {
                        $('#TraderId').val("");
                    }
                    if ($('#TraderId').val() == "") {
                        $("#validationMessages").show();
                        validationDivs = validationDivs + '<div>@T("Admin.Validation.TraderIdNameRequired")</div>';
                        $('#validationMessages').html(validationDivs);
                        return false;
                    }

                    if ($('#TraderId').val() == "" && $('#TraderName').val() != "") {

                        $("#validationMessages").show();
                        validationDivs = validationDivs + '<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                        $('#validationMessages').html(validationDivs);
                        return false;
                    }
                }

                $("#HFromDate").val(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
                $("#HToDate").val(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));

                var data = {
                    HFromDate:getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                    HToDate:getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                    SelectStatus: $('#SelectStatus').val(),
                    VoucherListName: $('#VoucherListName').val(),
                    RequestNo: $('#RequestNo').val(),
                    ReportType: $('#ReportType').val(),
                    RequestTo: $('#RequestTo').val(),
                    TraderId: $('#TraderId').val(),
                };

                addAntiForgeryToken(data);

                $('#mydirectDataTable').DataTable({
                    dom: 'T<"clear">lfrtip',
                    "oLanguage": {
                        "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                    },
                    tableTools: {
                        "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                        "sRowSelect": "multi",
                        "aButtons": [
                           'xls'
                        ]
                    },
                    columns:@Html.Raw(@Model.columns),
                    bServerSide: true ,
                    processing: true,
                    oLanguage: { sProcessing: "<div class='loader'></div>" },
                    destroy: true,
                    "ajax": {
                        'type': 'POST',
                        'url':  "@Html.Raw(Url.Action("EpinRequestDetails", "Epin"))",
                        'data': data,
                        //success:function(){alert('hi')}
                        pagingType: "full_numbers",
                        iDisplayLength: 10,
                    }
                });

            }

            $('#btnSearch').click(function (e) {
                var validationDivs = '';
                $('#validationMessages').html('');

                var myDate = new Date(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
                var myFromDate = new Date(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));

                var today = new Date();
                var start_time=$("#DatewiseFrom").val();
                var end_time=$("#DatewiseTo").val();

                var SearchFirstName = $("#memberID").val(), MemId = $("#searchId").val();

                if (myFromDate > today) {

                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    $('#validationMessages').html(validationDivs);
                    return false;
                }
                if (myFromDate < myDate) {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    $('#validationMessages').html(validationDivs);
                    return false;
                }

                if ($('#RequestTo').val() == '2') {

                    if($('#TraderName').val()=="")
                    {
                        $('#TraderId').val("");
                    }
                    if ($('#TraderId').val() == "") {
                        $("#validationMessages").show();
                        validationDivs = validationDivs + '<div>@T("Admin.Validation.TraderIdNameRequired")</div>';
                        $('#validationMessages').html(validationDivs);
                        return false;
                    }

                    if ($('#TraderId').val() == "" && $('#TraderName').val() != "") {

                        $("#validationMessages").show();
                        validationDivs = validationDivs + '<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                        $('#validationMessages').html(validationDivs);
                        return false;
                    }
                }
                $('.loader').show();

                $("#HFromDate").val(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
                $("#HToDate").val(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));

            });

            $(".collapse.in").each(function () {
                $("#btnplusminus").siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
            });

            $(".collapse").on('show.bs.collapse', function () {
                $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
            }).on('hide.bs.collapse', function () {
                $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
            });

            //auto complete for trader name
            $('#TraderName').autocomplete({
                delay: 500,
                minLength: 1,
                source: '@(Url.Action("SearchTermAutoCompleteTrader", "Epin"))',
                appendTo: '.search-box',
                select: function (event, ui) {
                    $("#TraderId").val(ui.item.Id);
                    $("#TraderName").val(ui.item.label);
                    $("#divTradername").show();
                    return false;
                },
                search: function () { $('.loader').show(); },
                open: function () { $('.loader').hide() },
            }).data("ui-autocomplete")._renderItem = function (ul, item) {

                var t = item.label;

                //html encode
                t = $('<div/>').text(t).html();
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a><span>" + t + "</span></a>")
                    .appendTo(ul);
            };

        });

        function getRow(tableId, propName, propValue) {
            var oTable = $('#' + tableId).DataTable(),
                data = oTable.rows().data(),
                row, i, l = data.length;

            for ( i = 0; i < l; i++ ) {
                row = data[i];
                if (row[propName] == propValue) {
                    return row;
                }
            }
            return false;
        }
        function Click(Id){

            var row = getRow('mydirectDataTable', 'PRH_ID', Id);
            var isshow=row["PaymentProof"];
            if(isshow=="view"){
                OpenWindow('@Url.Content("../Epin/ViewImage")?Id='+Id+'', 500, 500, true);
                return false;
            }

        };

        function myExcel()
        {

            $("#HFromDate").val(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
            $("#HToDate").val(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
            $('.loader').show();
            var data = {
                VoucherListName: $('#@Html.FieldIdFor(model => model.VoucherListName)').val(),
                RequestNo: $('#@Html.FieldIdFor(model => model.RequestNo)').val(),
                HFromDate: getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                HToDate:getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                SelectStatus: $('#SelectStatus').val(),
                ReportType: $('#ReportType').val(),
                RequestTo: $('#RequestTo').val(),
                TraderId: $('#TraderId').val(),


            };
            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("EpinRequestDetailsExportToExcel", "Epin"))",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (result) {
                    $('.loader').hide();
                    if (result.fullFileName) {
                        if (result.fullFileName != null && result.fullFileName != "") {
                            window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                        }
                    }
                    else  if(result.fullFileName==null){
                        $("#validationMessages").html('');
                        var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs1);
                    }
                    else {
                        var validationDivs1 = '<div>' + result.fullFileName + '</div>';
                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs1);
                    }
                },
                error: function (result) {
                    $('.loader').hide();
                }
            });

        }
        $('#RequestTo').change(function () {
            if ($(this).val() == "1" || $(this).val() == "0")
                $('#divTraderName').hide();
            else
                $('#divTraderName').show();
        });



        function RequestDetails(parentPartId){
            var row = getRow('mydirectDataTable', 'PRH_ID', parentPartId);
            var ReqNo=row["RequestNo"];
            var url='../Epin/DetailsReportRequestDetails?parentPartId='+ReqNo;
            window.location.href = url;

        };

        $('#btnreset').on('click', (function () {
            $('.loader').show();
            document.location = "@(Url.Action("RequestDetails", "Epin"))" ;
        }));
    </script>

                    }