﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
@model Nop.Plugin.Payments.EWallet.Models.FundTransferSettingModel
@using Nop.Web.Framework;



<div class="spikes-admin-wrapper">


    <div class="seven-spikes-menus">
        @Html.Action("_PartialMenu", "PaymentEwallet")

        @*<ul id="Admin7Spikes" data-role="menu" class="k-widget k-reset k-header k-menu k-menu-vertical" tabindex="0" role="menubar">

                <li class="k-item k-state-default k-first" role="menuitem" style="z-index: auto;">
                    <a href="http://localhost:15536/admin/NopAjaxCartAdmin/Settings" class="k-link">Nop Ajax Cart<span class="k-icon k-i-arrow-e"></span></a>

                    <div class="k-animation-container" style="width: 73px; height: 31px; margin-left: -2px; padding-left: 2px; padding-right: 2px; padding-bottom: 4px; overflow: hidden; display: none; position: absolute; z-index: 10002; top: 0px; left: 198px;">
                        <ul class="k-group k-popup k-reset" role="menu" data-role="popup" style="display: none; font-size: 12px; font-family: arial, verdana, helvetica, sans-serif; font-stretch: 100%; font-style: normal; font-weight: 400; line-height: normal; position: absolute; transform: translateX(-73px);">
                            <li class="k-item k-state-default k-first k-last" role="menuitem">
                                <a href="http://localhost:15536/admin/NopAjaxCartAdmin/Settings" class="k-link">Settings</a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>*@
    </div>
    <div class="seven-spikes-settings">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "CustomEwalletForm" }))
        {
            <div class="message-box message-box-error" id="validationMessages">
            </div>
            @Html.AntiForgeryToken()

            <div class="section-header">
                <div class="title">
                    <img src="@Url.Content("~/Administration/Content/images/inventory.png")" alt="" />
                    @T("admin.CustomEwalletTransaction")

                </div>
                <div class="options">
                    <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />

                </div>
            </div>

            <table class="adminContent">
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.customEwalletId):
                    </td>
                    <td class="adminData">
                        @Html.DropDownListFor(model => model.customEwalletId, Model.EwalletList)

                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <div id="customers-grid"></div>
                    </td>
                </tr>
            </table>

            <table>
                @*@for (int i = 0; i < Model.customList.Count(); i++)
                                                            {
                    <tr>
                        <td>
                            @Model.customList[i].nameid

                        </td>
                        <td>
                            <input type='text' name='TransactionPercentage' />
                        </td>
                    </tr>
                            }*@
            </table>

            <script>
                $(document).ready(function () {
                    $('#validationMessages').hide();
                    $("#customers-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: '@Html.Raw(Url.Action("BindFundTransferSetting", "PaymentEwallet"))',
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },

                            @*pageSize: @(defaultGridPageSize),*@
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            @*pageSizes: [@(gridPageSizes)]*@
                        },

                        scrollable: false,
                        autoBind: false,
                        columns: [
                             {
                                 field: "EwalletTypeID",
                                 attributes: { style: "display:display-none" },
                                 template: "<input type='hidden' id='#=EwalletTypeID#' value='#=EwalletTypeID#' name='EwalletTypeIDList'  class='checkboxGroups'/>",
                                 width: 50,
                                 hidden: true,
                             },
                        {
                            field: "EwalletName",
                            title: '@T("Admin.Customers.Customers.Fields.nameid")',
                            width: 20
                        },

                {
                    field: "EwalletTypeID",
                    title: "@T("Admin.CustomEwalletTransaction.CustomEwalletWiseIncome")",
                    width: 10,
                    template: "<input type='checkbox'   id='#=EwalletTypeID#' value='#=EwalletTypeID#'  name='EwalletTypeSelfIDList' />",
                },
                  {
                      field: "EncashmentFlag",
                      title: "@T("Admin.CustomEwalletTransaction.CustomEwalletWiseIncome")",
                      width: 10,
                      template: "<input type='checkbox' id='#=EwalletTypeID#' value='#=EwalletTypeID#'  name='EwalletTypeMemberIDList' />",
                  }
                        ]
                    });




                    $("#customers-grid").hide();

                });


            </script>
        }








    </div>
    <script type="text/javascript">
        function additionalData() {


            var data = {


                customEwalletId: $('#@Html.FieldIdFor(model => model.customEwalletId)').val(),


            };
            addAntiForgeryToken(data);
            return data;
        }

        $('#customEwalletId').change(function () {

            var data1 = {

                customEwalletId: $('#@Html.FieldIdFor(model => model.customEwalletId)').val(),

            }

            addAntiForgeryToken(data1);
            //        alert("work1")
            $.ajax({
                url: '@Html.Raw(Url.Action("BindFundTransferSetting", "PaymentEwallet"))',
                //url: "/Message/MessageDetailgetGrid",
                type: "POST",
                dataType: "json",
                data: data1, success: function (result) {
                    // alert(result);
                    $("#customers-grid").show();


                    var grid = $('#customers-grid').data('kendoGrid');
                    grid.dataSource.page(1);



                    //}
                }




            });
        });
    </script>
