﻿.ajaxCart {
    padding: 0 10px 10px !important;
}

    .ajaxCart .k-window-titlebar.k-header {
        border-bottom: 1px dashed #e6e6e6;
        background: none;
        padding: 13px;
    }
    .productAddedToCartWindowTitle {
        font-size: 24px;
        padding: 15px;
        text-align: center;
        right: 0;
    }

.ajaxCart .k-window-titlebar.k-header .k-window-actions {
    top: 10px;
    right: 10px;
}
    .ajaxCart .k-window-titlebar.k-header .k-window-actions a {
        border: none;
        background: url(img/icon-close.png) no-repeat center !important;
        box-shadow: none;
    }

/*** QUANTITY BOX & BUY BUTTON ***/


.ajax-cart-button-wrapper {
    display: inline-block;
}

.ajax-cart-button-wrapper input[type="text"],
.ajax-cart-button-wrapper select {
    text-align: center;
    width: 31px;
    height: 31px;
    margin-top: 3px;
    margin-right: -1px;
    border-color: #969696;
}
.ajax-cart-button-wrapper select {
    vertical-align: top;
    min-width: inherit;
    width: auto;
}
.ajax-cart-button-wrapper input[type="button"] {
}


/*** SINGLE PRODUCT WINDOW ***/


.productAddedToCartWindow, .miniProductDetailsView {
    padding: 10px 0 0;
    background: none;
    min-width: 420px;
}
.productAddedToCartWindowImage,
.productAddedToCartWindowDescription {
    margin-bottom: 10px;
}
.productAddedToCartWindowImage {
    width: auto;
}
    .productAddedToCartWindowImage a {
        width: 160px;
        position: relative;
    }
        .productAddedToCartWindowImage a:before {
            content: " ";
            display: block;
            padding-top: 100%;
        }
    .productAddedToCartWindowImage img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 100%;
        margin: auto;
    }
.productAddedToCartWindowDescription {
    width: 245px;
}
.productAddedToCartWindowDescription h1 a {
    color: #555;
    font-size: 20px;
    font-weight: normal;
}
.productAddedToCartWindowDescription strong {
    font-size: 20px;
    font-weight: bold;
    color: #d6a985;
}
.productAddedToCartWindowDescription span {
    color: #555;
    font-size: 18px;
}

.productAddedToCartWindowSummary {
    border-top: 1px dashed #e6e6e6;
}
.productAddedToCartWindowSummary a {
    display: inline-block;
    font-size: 18px;
    text-transform: none;
}
    .productAddedToCartWindowSummary a:hover,
    .productAddedToCartWindowDescription h1 a:hover {
        text-decoration: underline;
    }
.ajaxCart .productAddedToCartWindowCheckout {
    border: 0;
    background: 0;
    background-image: url(img/bg-button-small.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    padding: 10px 20px;
    font: normal 20px/1 "Open Sans Condensed", Arial, sans-serif;
    text-transform: uppercase;
}


/*** GROPED PRODUCTS WINDOW ***/


.miniProductDetailsView .product-essential {
	background: #fff;
}
.miniProductDetailsView .gallery {
	display: block; /*Cloud Zoom css override*/
}
.miniProductDetailsView .gallery .picture {
    margin: 0;
    width: 160px !important;
    border: 0;
}
.miniProductDetailsView .overview {
    width: auto;
    margin: 0 0 0 180px;
    max-width: 400px;
}
.miniProductDetailsView .product-name {
    top: 0;
    left: 10px;
    right: 10px;
    font-size: 24px;
    padding: 15px;
    height: auto;
    text-align: center;
    font-weight: normal;
    margin: 0;
    width: auto;
}
.miniProductDetailsView h1 {
    color: #555;
    font-size: 20px;
    font-weight: normal;
}
.miniProductDetailsView .short-description {
    width: auto;
    color: #333;
}
.miniProductDetailsView .attributes {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.miniProductDetailsView .attributes select {
	max-width: 190px;
}
.miniProductDetailsView .cart-info {
    overflow: visible;
    min-width: 260px;
}
.miniProductDetailsView .prices {
}
.miniProductDetailsView .prices .rental-price,
.miniProductDetailsView .prices .product-price{
    margin:0 0 5px 0;
}
.miniProductDetailsView .add-to-cart {
    overflow: hidden;
    margin: 0;
}
.miniProductDetailsView .add-to-cart > *,
.miniProductDetailsView .add-button-wrap {
    float:left;
}
.miniProductDetailsView .qty-input {
}

/* VARIANTS */

.ajaxCart .product-overview-line {
    border-bottom: 1px dashed #e6e6e6;
    padding: 0 0 5px;
    margin: 0 0 15px;
}
.ajaxCart #product-details-form .product-overview-line:last-child {
    border-bottom: 0;
    margin: 0;
}

/* RELATED AND CROSS SELL */

.ajaxCart .product-grid {
    width: 420px;
    margin: 15px auto 0;
}
.ajaxCart .product-grid .title {
    padding: 0;
    margin: 0 0 5px;
}
.ajaxCart .product-grid .title strong {
    padding: 0;
    display: block;
    font-size: 22px;
    line-height: normal;
}

.ajaxCart .product-grid > .title strong:after, 
.ajaxCart .product-grid > .title strong:before {
    display: none;
}

.ajaxCart .item-grid {
    overflow: hidden;
    padding: 10px 45px 0;
    background: #ececec;
}
.ajaxCart .product-grid .item-box {
    width: 100px;
    margin: 0 5px 10px;
    overflow: hidden;
}
.ajaxCart .product-grid.cross-sells .item-box:nth-child(4n+1) {
    clear: none;
}
.ajaxCart .product-grid .item-box .picture,
.ajaxCart .product-grid .item-box .picture a {
	width: 100%;
    height: auto;
}
.ajaxCart .description-wrapper {
    display: none !important;
}
.ajaxCart .item-box .details {
    height: 32px;
    overflow: hidden;
}
.ajaxCart .product-grid .item-box .product-title {
    height: 32px;
}
.ajaxCart .product-grid .item-box .product-title a {
    display: block;
    line-height: 1.2;
    font-size: 14px;
    height: 32px;
    color: #555;
}

.ajaxCart .item-box .quick-view-button {
    display: none !important;
}