﻿@model PollModel

@{
    //page title
    ViewBag.Title = T("Admin.ContentManagement.Polls.EditPollDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Polls");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.ContentManagement.Polls.EditPollDetails") - @Model.Name
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.ContentManagement.Polls.BackToList").Text, "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" id="btnSave" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" id="btnSaveContinew" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="poll-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
    <script type="text/javascript">
    $("#validationMessages").hide();
    $('#btnSave').click(function () {

        $('#validationMessages').html('');
        $("#validationMessages").hide();
        var validationDivs = '';
        var flag = true;
        var StartDate = new Date(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));/// value on EnteredDate CreatedOnFrom

        var EndDate = new Date(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime")); /// value on EnteredFromdate CreatedOnTo

        if (StartDate == 'Invalid Date') {
            validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterStartDate")</div>';
            flag = false;
        }
        if (EndDate == 'Invalid Date') {
            validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterEndDate")</div>';
            flag = false;
        }
        if (EndDate < StartDate) {
            validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
            flag = false;
        }

        if (flag) {

            $("#HStartDate").val(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateAndTime"));
            $("#HEndDate").val(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateAndTime"));

            $("#validationMessages").hide();
            $('#validationMessages').html('');
        } else {
            $("#validationMessages").show();
            $('#validationMessages').append(validationDivs);
            return false;
        }
    });

    $('#btnSaveContinew').click(function () {
        $('#validationMessages').html('');
        $("#validationMessages").hide();
        var validationDivs = '';
        var flag = true;
        var StartDate = new Date(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));/// value on EnteredDate CreatedOnFrom

        var EndDate = new Date(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime")); /// value on EnteredFromdate CreatedOnTo
        var StartDate = new Date(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));/// value on EnteredDate CreatedOnFrom

        var EndDate = new Date(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime")); /// value on EnteredFromdate CreatedOnTo

        if (StartDate == 'Invalid Date') {
            validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterStartDate")</div>';
            flag = false;
        }
        if (EndDate == 'Invalid Date') {
            validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterEndDate")</div>';
            flag = false;
        }
        if (EndDate < StartDate) {
            validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
            flag = false;
        }
        if (flag) {

            $("#HStartDate").val(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateAndTime"));
            $("#HEndDate").val(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateAndTime"));

            $("#validationMessages").hide();
            $('#validationMessages').html('');
        } else {
            $("#validationMessages").show();
            $('#validationMessages').append(validationDivs);
            return false;
        }
    });
</script>

}
@Html.DeleteConfirmation("poll-delete")
