﻿@model welcomeLetterAdmin
@Html.ValidationSummary(true)


@{
    //page title
    ViewBag.Title = T("Admin.ContentManagement.Polls.welcomeLetterAdmin").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Welcome Letter");
}

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "template-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}
<input type="hidden" id="selected-tab-name" name="selected-tab-name" value="@(Html.GetSelectedTabName())">

@{
    //resources for product tags input
    Html.AppendCssFileParts("~/Administration/Content/tagEditor/jquery.tag-editor.css");
    Html.AppendScriptParts("~/Administration/Scripts/tagEditor/jquery.tag-editor.min.js");
    Html.AppendScriptParts("~/Administration/Scripts/tagEditor/jquery.caret.min.js");
}

@using (Html.BeginForm())
{
    <script>
        $(document).ready(function () {
            bindBootstrapTabSelectEvent('template-edit');
        });
    </script>

    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">            
            @T("Admin.ContentManagement.Polls.welcomeLetterAdmin")
        </h1>
        <div class="pull-right">
            <button type="submit" name="update" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Update")

            </button>
            <button type="submit" name="reset" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Reset")
            </button>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div id="blog-post-edit" class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    @Html.RenderBootstrapTabHeader("tab-info", @T("Admin.ContentManagement.Polls.welcomeLetterAdmin.Caption"), true)
                </ul>
                <div class="tab-content">
                    @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)
                </div>
            </div>
        </div>
    </div>

    @helper TabInfo()
{
    <input type="hidden" name="txtsetDefault" id="txtsetDefault" value="" />
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ddlFields)
                    </div>
                    <div class="col-md-9">
                        @Html.DisplayFor(model => model.ddlFields)
                        @Html.ValidationMessageFor(model => model.ddlFields)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.msgBody)
                    </div>
                    <div class="col-md-9">
                        <div class="input-group input-group-required">
                            @Html.EditorFor(x => x.msgBody, "RichEditor")
                            <div class="input-group-btn">
                                @Html.RequiredHint()
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.msgBody)
                    </div>
                </div>
            </div>
        </div>
    </div>
}
}





