﻿@model Nop.Admin.Models.PayoutReports.AccountLedgerDetails
@{

    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    ViewBag.Title = T("Admin.PayoutReports.AccountLedgerDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("AccountLedgerDetails");
}
@{
    List<SelectListItem>
    ddselectOptions = new List<SelectListItem>
        ();
    ddselectOptions.Add(new SelectListItem
    {
        Text = "Payout-wise",
        Value = "0",
        Selected = true
    });
    ddselectOptions.Add(new SelectListItem
    {
        Text = "ID/Name-wise",
        Value = "1"
    });
}

<style>
    .wisdthTen {
        width: 10%;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>

    @Html.HiddenFor(model => model.searchId)
    @Html.HiddenFor(model => model.searchMessage)

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.PayoutReports.AccountLedgerDetails")
        </h1>
        <div class="pull-right">

            <div class="btn-group">
                <button type="submit" id="exportexcelaccountLedgerall" name="exportexcelaccountLedgerall" class="btn btn-success">
                    <i class="fa fa-file-excel-o"></i>
                    @T("Admin.Common.Export")
                </button>

            </div>

        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ddlOption)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.ddlOption, ddselectOptions)
                                        @Html.ValidationMessageFor(model => model.ddlOption)
                                        <div class="wisdthTen" id="tblidwise"></div>
                                    </div>
                                </div>
                                <div id="divPayoutwise">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.PN_ID)

                                        </div>
                                        <div class="col-md-8">
                                            @Html.NopDropDownListFor(model => model.PN_ID, Model.PlanTypeList)
                                            @Html.ValidationMessageFor(model => model.PN_ID)

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.PayoutNo)

                                        </div>
                                        <div class="col-md-8">
                                            @Html.NopDropDownListFor(model => model.PayoutNoList, Model.PayoutNoList, new { id = "PayoutNo" })
                                            @Html.ValidationMessageFor(model => model.PayoutNo)

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.PayoutStartDate)

                                        </div>
                                        <div class="col-md-8">
                                            @Html.NopDropDownListFor(model => model.PayoutStartDate, Model.PayoutStartDateList)
                                            @Html.ValidationMessageFor(model => model.PayoutStartDate)

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.PayoutEndDate)

                                        </div>
                                        <div class="col-md-8">
                                            @Html.NopDropDownListFor(model => model.PayoutEndDate, Model.PayoutEndDateList)
                                            @Html.ValidationMessageFor(model => model.PayoutEndDate)

                                        </div>
                                    </div>
                                </div>
                                <div id="divIDwise">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.memberID)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.memberID)
                                            <div id="divfirstname" class="inputs">
                                            </div>
                                            @Html.ValidationMessageFor(model => model.memberID)

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <button type="button" id="searchAccountLedgerDetails" name="searchAccountLedgerDetails" class="btn btn-primary btn-search"><i class="fa fa-search"></i>@T("admin.customers.pancard.viewreport")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" id="AccountLedgerDetails">
                    <div class=" panel-body">
                    <div id="AccountLedgerDetails-grid">
                    </div>
                    <script>
                        function getfillGrid(){
                            $("#AccountLedgerDetails-grid").show();
                            $("#showButtons").show();
                            $('#searchResult').show();

                            $("#AccountLedgerDetails-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("AccountLedgerDetailsGrid", "PayoutReports"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    requestEnd: function (e) {
                                        if (e.type == "read") {
                                            var response = e.response;
                                            if (response) {
                                                //store extra data
                                                reportAggregates = e.response["ExtraData"];
                                            }
                                        }
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();

                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                dataBound: onDataBound,
                                columns: [@*{
                                field: "SrNo",
                                title: "@T("Admin.PayoutReports.AccountLedgerDetails.SrNo")",
                                width: 10,
                                hidden:true,
                            },*@
                                    {
                                        field: "Name",
                                        title: "@T("Admin.PayoutReports.AccountLedgerDetails.Name")",
                                        width: 30,
                                        headerAttributes: {style: "text-align: center" }
                                    }, {
                                        field: "ID",
                                        title:  "@T("Admin.PayoutReports.AccountLedgerDetails.ID")",
                                        width: 40,
                                        headerAttributes: {style: "text-align: center" }

                                    },{
                                        field: "Opening",
                                        title: "@T("Admin.PayoutReports.AccountLedgerDetails.Opening")",
                                        width: 30,
                                        attributes:{style:"text-align:right;"},
                                        footerTemplate: '<div style="text-align:right;" id=\"aggregatorTotalOpening\"><strong></strong></div>',
                                        headerAttributes: {style: "text-align: center" }
                                    },{
                                        field: "Credit",
                                        title: "@T("Admin.PayoutReports.AccountLedgerDetails.Credit")",
                                        width: 40,
                                        attributes:{style:"text-align:right;"},
                                        footerTemplate: '<div style="text-align:right;" id=\"aggregatorTotalCredit\"><strong></strong></div>',
                                        headerAttributes: {style: "text-align: center" }

                                    }, {
                                        field: "Debit",
                                        title:  "@T("Admin.PayoutReports.AccountLedgerDetails.Debit")",
                                        width: 50,
                                        attributes:{style:"text-align:right;"},
                                        footerTemplate: '<div style="text-align:right;" id=\"aggregatorTotalDebit\"><strong></strong></div>',
                                        headerAttributes: {style: "text-align: center" }
                                    }, {
                                        field: "Closing",
                                        title:  "@T("Admin.PayoutReports.AccountLedgerDetails.Closing")",
                                        width: 50,
                                        attributes:{style:"text-align:right;"},
                                        footerTemplate: '<div style="text-align:right;" id=\"aggregatorTotalClosing\"><strong></strong></div>',
                                        headerAttributes: {style: "text-align: center" }
                                    }]
                            });
                        }
                    </script>
                </div>

                </div>
                <div class="panel panel-default" id="AccountLedgerDetailsIdwise">
                    <div class=" panel-body">
                    <div id="AccountLedgerDetailsIdwise-grid">
                    </div>
                    <script>
                        function getfillGridIDwise(){
                            $("#AccountLedgerDetailsIdwise-grid").show();
                            $("#showButtons").show();
                            $('#searchResult').show();


                            $("#AccountLedgerDetailsIdwise-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("AccountLedgerDetailsGrid", "PayoutReports"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();

                                    }, requestEnd: function (e) {
                                        if (e.type == "read") {
                                            var response = e.response;
                                            if (response) {
                                                //store extra data
                                                reportAggregates = e.response["ExtraData"];
                                            }
                                        }
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                dataBound: onDataBound,
                                columns: [
                                    {
                                        field: "Particulars",
                                        title: "@T("Admin.PayoutReports.AccountLedgerDetailsIDwise.Particulars")",
                                        width: 30,
                                        headerAttributes: {style: "text-align: center" }
                                    }, {
                                        field: "Date",
                                        title:  "@T("Admin.PayoutReports.AccountLedgerDetailsIDwise.Date")",
                                        width: 40,
                                        headerAttributes: {style: "text-align: center" }

                                    },{
                                        field: "CreditIDwise",
                                        title: "@T("Admin.PayoutReports.AccountLedgerDetailsIDwise.CreditIDwise")",
                                        width: 30,
                                        attributes:{style:"text-align:right;"},
                                        footerTemplate: '<div style="text-align:right;" id=\"aggregatorCreditIDwise\"><strong></strong></div>',
                                        headerAttributes: {style: "text-align: center" }
                                    },{
                                        field: "DebitIDWise",
                                        title: "@T("Admin.PayoutReports.AccountLedgerDetailsIDwise.DebitIDWise")",
                                        width: 40,
                                        attributes:{style:"text-align:right;"},
                                        footerTemplate: '<div style="text-align:right;" id=\"aggregatorDebitIDWise\"><strong></strong></div>',
                                        headerAttributes: {style: "text-align: center" }

                                    }]
                            });
                        }
                    </script>
                </div>

                </div>
            </div>
        </div>
    </div>


    <script>

    function disableDropdown()
    {  $("#PayoutNo").prop("disabled", true);
        $("#PayoutStartDate").prop("disabled", true);
        $("#PayoutEndDate").prop("disabled", true);
    }
    $("#divIDwise").hide(); $('#searchResult').hide();
    $("#showButtons").hide();
    $("#AccountLedgerDetails").hide();
    $("#AccountLedgerDetailsIdwise").hide();

    $('#memberID').autocomplete({
        delay: 500,
        minLength: 1,
        @*source: '@(Url.Action("SearchTermAutoCompletePayout", "PayoutReports"))',*@
        source: '@(Url.Action("SearchTermAutoCompleteDownline", "Common"))',
        appendTo: '.search-box',
        select: function (event, ui) {
            $("#searchId").val(ui.item.Id);
            $("#memberID").val(ui.item.label);
            $("#divfirstname").show();

            //  return false;
        }
    }).data("ui-autocomplete")._renderItem = function (ul, item) {
        var t = item.label;
        //html encode
        t = $('<div/>').text(t).html();
        return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a><span>" + t + "</span></a>")
            .appendTo(ul);
    };

    $(document).ready(function () {

        var PayoutNoListStr = '';
        var PayoutStartDate = '';
        var PayoutEndDate = '';
        $('#searchResult').hide();
        var value = $('#ddlOption').val();
        if (value == 1) {
            $("#divIDwise").show();
        }
        else {
            $("#divIDwise").hide();
        }
        $('#ddlOption').change(function () {
            var value = $(this).val();
            $("#showButtons").hide();
            $('#searchResult').hide();
            $("#AccountLedgerDetailsIdwise-grid").hide();
            if (value ==1) {
                $("#divIDwise").show();
                $("#tblidwise").removeClass("wisdthTen");
                $("#divPayoutwise").hide();
                $("#AccountLedgerDetails-grid").hide();
                $("#validationMessages").hide();
                $("#sucessMessages").hide();
                $("#showButtons").hide();
                $("#memberID").val("");$("#memberID").focus();
            }
            else {
                $("#divPayoutwise").show();
                $("#tblidwise").addClass("wisdthTen");
                $("#divIDwise").hide();
                $("#searchId").val("");
                $("#AccountLedgerDetails-grid").hide();
                $("#validationMessages").hide();
                $("#sucessMessages").hide();
                $("#PN_ID").val("1");
                $('#ddlOption').val("0");
                //$("#PayoutNo").empty();
                //$("#PayoutStartDate").empty();
                //$("#PayoutEndDate").empty();
                //PayoutNoListStr = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                //$("#PayoutNo").append(PayoutNoListStr);
                //$("#PayoutStartDate").append(PayoutNoListStr);
                //$("#PayoutEndDate").append(PayoutNoListStr);
                //PayoutNoListStr = '';
                //  disableDropdown();
            }
        });
       
        $("#PN_ID").val($("#PN_ID option:first").val());
        var valuePNvalues = $('#PN_ID').val();
        //$('#PN_ID').val(1);
        if (value == 1) {
            $("#divIDwise").show();
            //$("#PN_ID").val("0");
            $("#PN_ID").val($("#PN_ID option:first").val());
            valuePNvalues = $('#PN_ID').val();
            $("#memberID").val("");
            $("#memberID").focus();
            //$("#PayoutNo").val("");
            //$("#PayoutStartDate").val("");
            //$("#PayoutEndDate").val("");
        }
        else {
            $("#divIDwise").hide();
            $("#searchId").val("");
        }

        if (valuePNvalues != 0 || valuePNvalues != null) {
            $.get("@(Url.Action("loadDropdownPayoutDatesConfirmPayouts", "PayoutReports"))", { dtCode: valuePNvalues }, function (response) {
                $("#PayoutNo").empty();
                $("#PayoutStartDate").empty();
                $("#PayoutEndDate").empty();
                $("#divPayoutwise").show();

                if (response.PayoutNoList.length > 0) {
                    for (var i = 0; i < response.PayoutNoList.length; i++) {

                        PayoutNoListStr = PayoutNoListStr + '<option value="' + response.PayoutNoList[i].Value + '">' + response.PayoutNoList[i].Text + '</option>';
                        PayoutStartDate = PayoutStartDate + '<option value="' + response.PayoutStartDateList[i].Value + '">' + response.PayoutStartDateList[i].Text + '</option>';
                        PayoutEndDate = PayoutEndDate + '<option value="' + response.PayoutEndDateList[i].Value + '">' + response.PayoutEndDateList[i].Text + '</option>';
                    }
                }
                else {

                    PayoutNoListStr = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                    PayoutStartDate = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                    PayoutEndDate = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                }
                $("#PayoutNo").append(PayoutNoListStr);
                $("#PayoutStartDate").append(PayoutStartDate);
                $("#PayoutEndDate").append(PayoutEndDate);

                PayoutNoListStr = '';
                PayoutStartDate = '';
                PayoutEndDate = '';
            });
        }
    

        $("#btnReset").click(function () {
            $("#divPayoutwise").show();
            $("#divIDwise").hide();
            $("#searchId").val("");
            $("#AccountLedgerDetails-grid").hide();
            $("#AccountLedgerDetailsIdwise-grid").hide();
            $("#validationMessages").hide();
            $("#sucessMessages").hide();
            $("#showButtons").hide();
            $('#searchResult').hide();
            $("#PN_ID").val("0"); $('#ddlOption').val("0");
            $("#PayoutNo").empty();
            $("#PayoutStartDate").empty();
            $("#PayoutEndDate").empty();
            PayoutNoListStr = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
            $("#PayoutNo").append(PayoutNoListStr);
            $("#PayoutStartDate").append(PayoutNoListStr);
            $("#PayoutEndDate").append(PayoutNoListStr);
            PayoutNoListStr = '';
            $("#PayoutStartDate").prop("disabled", true);
            $("#PayoutEndDate").prop("disabled", true);
            $("#AccountLedgerDetails").hide();
            $("#AccountLedgerDetailsIdwise").hide();
        });

        //  disableDropdown();
        @*$('#PN_ID').change(function () {
            var value = $(this).val();
            $("#showButtons").hide();
            $('#searchResult').hide();
            if (value != "0" ||value != null ){
                $.get("@(Url.Action("loadDropdownPayoutDatesNoAccount", "PayoutReports"))", { dtCode: value }, function (response) {
                    $("#PayoutNo").empty();
                    $("#PayoutStartDate").empty();
                    $("#PayoutEndDate").empty();
                    $("#PayoutNo").prop("disabled", false);
                    $("#PayoutStartDate").prop("disabled", false);
                    $("#PayoutEndDate").prop("disabled", false);

                    if (response.PayoutNoList.length > 0) {
                        for (var i = 0; i < response.PayoutNoList.length; i++) {

                            PayoutNoListStr = PayoutNoListStr + '<option value="' + response.PayoutNoList[i].Value + '">' + response.PayoutNoList[i].Text + '</option>';
                            PayoutStartDate   = PayoutStartDate + '<option value="' + response.PayoutStartDateList[i].Value + '">' + response.PayoutStartDateList[i].Text + '</option>';
                            PayoutEndDate   = PayoutEndDate + '<option value="' + response.PayoutEndDateList[i].Value + '">' + response.PayoutEndDateList[i].Text + '</option>';
                        }
                    }
                    else {
                        PayoutNoListStr = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                        PayoutStartDate= '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                        PayoutEndDate= '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                        disableDropdown();
                    }
                    $("#PayoutNo").append(PayoutNoListStr);
                    $("#PayoutStartDate").append(PayoutStartDate);
                    $("#PayoutEndDate").append(PayoutEndDate);
                    PayoutNoListStr = '';
                    PayoutStartDate = '';
                    PayoutEndDate = '';
                });
            }
            else
            {
                $("#PayoutNo").empty();
                $("#PayoutStartDate").empty();
                $("#PayoutEndDate").empty();
                $("#PayoutNo").prop("disabled", false);
                $("#PayoutStartDate").prop("disabled", false);
                $("#PayoutEndDate").prop("disabled", false);
                PayoutNoListStr = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                $("#PayoutNo").append(PayoutNoListStr);
                $("#PayoutStartDate").append(PayoutNoListStr);
                $("#PayoutEndDate").append(PayoutNoListStr);
                PayoutNoListStr = '';
                disableDropdown();
            }
        });*@

        $('#PN_ID').change(function () {
            var valuePNvalues = $(this).val();
            $("#showPayoutAnalysisreport").hide();
            $("#validationMessages").hide();

            if (valuePNvalues != 0 || valuePNvalues != null) {
                $.get("@(Url.Action("loadDropdownPayoutDatesConfirmPayouts", "PayoutReports"))", { dtCode: valuePNvalues }, function (response) {
                    $("#PayoutNo").empty();
                    $("#PayoutStartDate").empty();
                    $("#PayoutEndDate").empty();
                    $("#divPayoutwise").show();


                    if (response.PayoutNoList.length > 0) {
                        for (var i = 0; i < response.PayoutNoList.length; i++) {

                            PayoutNoListStr = PayoutNoListStr + '<option value="' + response.PayoutNoList[i].Value + '">' + response.PayoutNoList[i].Text + '</option>';
                            PayoutStartDate = PayoutStartDate + '<option value="' + response.PayoutStartDateList[i].Value + '">' + response.PayoutStartDateList[i].Text + '</option>';
                            PayoutEndDate = PayoutEndDate + '<option value="' + response.PayoutEndDateList[i].Value + '">' + response.PayoutEndDateList[i].Text + '</option>';
                        }
                    }
                    else {

                        PayoutNoListStr = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                        PayoutStartDate = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                        PayoutEndDate = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                    }
                    $("#PayoutNo").append(PayoutNoListStr);
                    $("#PayoutStartDate").append(PayoutStartDate);
                    $("#PayoutEndDate").append(PayoutEndDate);

                    PayoutNoListStr = '';
                    PayoutStartDate = '';
                    PayoutEndDate = '';
                });
            }
        });

        $('#PayoutNo').change(function () {
            $("#showPayoutAnalysisreport").hide();
            var payoutNumber = $(this).val();
            var plantype = $('#PN_ID').val();
            if (payoutNumber != null) {
                $.get("@(Url.Action("loadDropdownPayoutDatesNoCommissionStatement", "PayoutReports"))", { dtCode: payoutNumber, planType: plantype }, function (response) {
                    //  $("#PayoutNo").empty();
                    $("#PayoutStartDate").empty();
                    $("#PayoutEndDate").empty();
                    console.log(response.PayoutNoList);
                    if (response.PayoutNoList.length > 0) {
                        for (var i = 0; i < response.PayoutNoList.length; i++) {

                            // PayoutNoListStr = PayoutNoListStr + '<option value="' + response.PayoutNoList[i].Value + '">' + response.PayoutNoList[i].Text + '</option>';
                            PayoutStartDate = PayoutStartDate + '<option value="' + response.PayoutStartDateList[i].Value + '">' + response.PayoutStartDateList[i].Text + '</option>';
                            PayoutEndDate = PayoutEndDate + '<option value="' + response.PayoutEndDateList[i].Value + '">' + response.PayoutEndDateList[i].Text + '</option>';
                        }
                    }
                    else {
                        // PayoutNoListStr = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                        PayoutStartDate = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                        PayoutEndDate = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                    }
                    //   $('#PayoutNo').append(PayoutNoListStr);
                    $("#PayoutStartDate").append(PayoutStartDate);
                    $("#PayoutEndDate").append(PayoutEndDate);
                    PayoutNoListStr = '';
                    PayoutStartDate = '';
                    PayoutEndDate = '';
                });
            }
        });

        $("#AccountLedgerDetails-grid").hide(); $("#AccountLedgerDetailsIdwise-grid").hide();
        $("#validationMessages").hide();
        $("#sucessMessages").hide();
        $("#showButtons").hide();
        $('#searchAccountLedgerDetails').click(function () {

            var selVal=$('#PN_ID').val();
            var SearchFirstName= $("#memberID").val(),MemId= $("#searchId").val();
            if((selVal=="0" || selVal==null || selVal=="") && $('#ddlOption').val()=="0")
            {
                $("#validationMessages").show();
                $("#validationMessages").html("@T("Admin.PayoutReports.CommissionDetail.selectplantypeMessage")");
                return;
            }
            else if(SearchFirstName =='' &&  $('#ddlOption').val()=="1" )
            {

                $("#validationMessages").show();
                $("#validationMessages").html("@T("Admin.PayoutReports.CommissionDetail.memberID")");
                return;
            }
            $("#validationMessages").hide();
            var start_time=$("#PayoutStartDate").val();
            var end_time=$("#PayoutEndDate").val();

            var EnteredDate = $("#PayoutEndDate").val(); // For JQuery
            var EnteredFromdate = $("#PayoutStartDate").val();

            var str = EnteredDate;
            var res = str.split("/");

            var date =res[1];
            var month=res[0];
            var year =res[2];

            var str1 = EnteredFromdate;
            var res1 = str1.split("/");

            var Fromdate =res1[1];
            var Frommonth=res1[0];
            var Fromyear =res1[2];

            var myDate = new Date(year, month - 1, date);

            var myFromDate = new Date(Fromyear, Frommonth - 1, Fromdate);

            var today = new Date();
            var validationDivs='';
            var start_time=$("#PayoutStartDate").val();
            var end_time=$("#PayoutEndDate").val();
            //var SearchFirstName= $("#memberID").val(),MemId= $("#searchId").val();
            if (myDate > today) {

                $("#validationMessages").show();
                validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                $('#validationMessages').html(validationDivs);
                // flag=false;
                $('#supplier-grid').hide();
                return false;
            }
            if (myFromDate > myDate) {
                $("#validationMessages").show();
                validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                //flag=false;
                $('#validationMessages').html(validationDivs);
                $('#supplier-grid').hide();
                return false;
            }

            else{
                var data = {
                    memberID: $('#memberID').val(),
                    ddlOption:$('#ddlOption').val(),
                    PN_ID:$('#PN_ID').val(),
                    PayoutStartDate:$('#PayoutStartDate').val(),
                    PayoutEndDate:$('#PayoutEndDate').val(),
                    PayoutNo:$('#PayoutNo').val(),
                    searchId:$('#searchId').val()
                }

                addAntiForgeryToken(data);

                $.ajax({  url: "@Html.Raw(Url.Action("AccountLedgerDetailsGrid", "PayoutReports"))",
                    type: "POST",
                    dataType: "json",
                    data:data  , success: function(result){

                        if(result=="norecord")
                        {
                            $("#validationMessages").show();
                            $("#validationMessages").html("@T("Admin.Common.NorecordFoundError")");
                            $("#AccountLedgerDetailsIdwise-grid").hide();
                            $("#AccountLedgerDetails-grid").hide();
                            $("#sucessMessages").hide();
                            $("#showButtons").hide();
                            $('#searchResult').hide();
                            return;
                        }
                        if(result=="validID")
                        {
                            $("#validationMessages").show();
                            $("#validationMessages").html("@T("Admin.Validation.SelectAutosuggest")");
                            $("#AccountLedgerDetailsIdwise-grid").hide();
                            $("#AccountLedgerDetails-grid").hide();
                            $("#showButtons").hide();
                            $('#searchResult').hide();
                            $("#sucessMessages").hide();
                            $("#showButtons").hide();
                            $('#searchResult').hide();
                            return;
                        }
                        if(result!="norecord" && result!="validID")
                        {   $("#sucessMessages").show();
                            $("#validationMessages").hide();

                            var selValue= $('#ddlOption').val(),plantype=$('#PN_ID option:selected').text();
                            if(selValue==1){
                                $("#AccountLedgerDetails").hide();
                                $("#AccountLedgerDetailsIdwise").show();
                                getfillGridIDwise();
                                var grid = $('#AccountLedgerDetailsIdwise-grid').data('kendoGrid');
                                grid.dataSource.page(1);
                                $("#sucessMessages").html("@T("Admin.PayoutReports.CommissionDetail.ForIDNameMessage") "+$("#memberID").val());

                            }
                            if(selValue==0){
                                getfillGrid();
                                $("#AccountLedgerDetails").show();
                                $("#AccountLedgerDetailsIdwise").hide();
                                var grid = $('#AccountLedgerDetails-grid').data('kendoGrid');
                                grid.dataSource.page(1);
                                $("#sucessMessages").html("@T("Admin.common.allrecords")");
                                var payoutNo=$('#PayoutNo option:selected').text(),
                                    payoutNoStart=$('#PayoutStartDate option:selected').text(),
                                    payoutNoend=$('#PayoutEndDate option:selected').text();
                                var selProduct=$('#PN_ID').val();
                                if(selProduct!="0" && !$('#PayoutStartDate').is(':disabled') && !$('#PayoutNo').is(':disabled') )
                                    $("#sucessMessages").html("@T("Admin.PayoutReports.CommissionDetail.ForplantypeMessage") "+plantype +"@T("Admin.PayoutReports.CommissionDetail.ForMessage") "+payoutNo+" @T("Admin.PayoutReports.CommissionDetail.PeriodMessage") "+payoutNoStart+" @T("Admin.PayoutReports.CommissionDetail.ToMessage") "+payoutNoend);

                            }
                        }
                    }
                });
            }
        });

        $('#exportexcelaccountLedgerall').click(function () {
            var selValue= $('#ddlOption').val(),plantype=$('#PN_ID option:selected').text();
            if(selValue==1){
                $("#searchMessage").val("@T("Admin.PayoutReports.CommissionDetail.ForIDNameMessage") "+$("#memberID").val());
            }
            if(selValue==0){
                var payoutNo=$('#PayoutNo option:selected').text(),
                    payoutNoStart=$('#PayoutStartDate option:selected').text(),
                    payoutNoend=$('#PayoutEndDate option:selected').text();
                var selProduct=$('#PN_ID').val();
                if(selProduct!="0" && !$('#PayoutStartDate').is(':disabled') && !$('#PayoutNo').is(':disabled') )
                    $("#searchMessage").val("@T("Admin.PayoutReports.CommissionDetail.ForplantypeMessage") "+plantype +" @T("Admin.PayoutReports.CommissionDetail.ForMessage") "+payoutNo+" @T("Admin.PayoutReports.CommissionDetail.PeriodMessage") "+payoutNoStart+" @T("Admin.PayoutReports.CommissionDetail.ToMessage") "+payoutNoend);
            }
        });



        $("#@Html.FieldIdFor(model => model.PayoutNo)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#searchAccountLedgerDetails").click();
                return false;
            }
        });

        $("#@Html.FieldIdFor(model => model.PN_ID)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#searchAccountLedgerDetails").click();
                return false;
            }
        });

        $("#@Html.FieldIdFor(model => model.PayoutStartDate)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#searchAccountLedgerDetails").click();
                return false;
            }
        });

        $("#@Html.FieldIdFor(model => model.PayoutEndDate)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#searchAccountLedgerDetails").click();
                return false;
            }
        });

        $("#@Html.FieldIdFor(model => model.memberID)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#searchAccountLedgerDetails").click();
                return false;
            }
        });
    });

    function additionalData() {
        var data = {
            memberID:$('#@Html.FieldIdFor(model => model.memberID)').val(),
            ddlOption:$('#@Html.FieldIdFor(model => model.ddlOption)').val(),
            PN_ID:$('#@Html.FieldIdFor(model => model.PN_ID)').val(),
            PayoutStartDate:$('#@Html.FieldIdFor(model => model.PayoutStartDate)').val(),
            PayoutEndDate:$('#@Html.FieldIdFor(model => model.PayoutEndDate)').val(),
            PayoutNo:$('#@Html.FieldIdFor(model => model.PayoutNo)').val(),
            searchId:$('#@Html.FieldIdFor(model => model.searchId)').val()

        };
        addAntiForgeryToken(data);
        return data;
    }

    function onDataBound(e) {
        if (reportAggregates != "") {
            for (var key in reportAggregates) {
                $('#aggregatorTotalCredit').html(reportAggregates['aggregatorTotalCredit']);
                $('#aggregatorTotalDebit').html(reportAggregates['aggregatorTotalDebit']);
                $('#aggregatorTotalOpening').html(reportAggregates['aggregatorTotalOpening']);
                $('#aggregatorTotalClosing').html(reportAggregates['aggregatorTotalClosing']);
                $('#aggregatorCreditIDwise').html(reportAggregates['aggregatorCreditIDwise']);
                $('#aggregatorDebitIDWise').html(reportAggregates['aggregatorDebitIDWise']);

            }
        }
    }
    </script>
}




