﻿@model Nop.Admin.Models.PayoutReports.CappingIDDetails
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    ViewBag.Title = T("Admin.PayoutReports.CappingIDDetail").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("CappingIDDetails");
}
@{
    List<SelectListItem> ddselectOptions = new List<SelectListItem>();
    ddselectOptions.Add(new SelectListItem
    {
        Text = "Payout-wise",
        Value = "0",
        Selected = true
    });
    ddselectOptions.Add(new SelectListItem
    {
        Text = "ID/Name-wise",
        Value = "1"
    });
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.searchId)
    @Html.HiddenFor(model => model.searchMessage)
    @Html.HiddenFor(model => model.DailyBinaryFlag)

    <div class="alert alert-danger alert-dismissable" id="validationMessages">

    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.PayoutReports.CappingIDDetail")
        </h1>
        <div class="pull-right">

            <div class="btn-group">
                <button type="submit" id="exportexcelCappingIDall" name="exportexcelCappingIDall" class="btn btn-success">
                    <i class="fa fa-file-excel-o"></i>
                    @T("Admin.Common.ExportToExcel")
                </button>

            </div>

        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ddlOption)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.ddlOption, ddselectOptions)
                                        @Html.ValidationMessageFor(model => model.ddlOption)

                                    </div>
                                </div>
                                <div id="divPayoutwise">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.PN_ID)

                                        </div>
                                        <div class="col-md-8">
                                            @Html.NopDropDownListFor(model => model.PN_ID, Model.PayoutNoList)
                                            @Html.ValidationMessageFor(model => model.PN_ID)

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.PayoutStartDate)

                                        </div>
                                        <div class="col-md-8">

                                            <div class="row">
                                                <div class="col-md-4">
                                                    @Html.NopDropDownListFor(model => model.PayoutStartDate, Model.PayoutStartDateList)
                                                    @Html.ValidationMessageFor(model => model.PayoutStartDate)

                                                </div>
                                                <div class="col-md-2">
                                                    @T("account.fields.txttodate")

                                                </div>
                                                <div class="col-md-4">
                                                    @Html.NopDropDownListFor(model => model.PayoutEndDate, Model.PayoutEndDateList, new { disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.PayoutEndDate)
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @if (Model.DailyBinaryFlag)
                                    {
                                        <div class="form-group" id="trDailyBinaryFlag">
                                            <div class="col-md-4">
                                                @Html.NopLabelFor(model => model.PayoutCycle)
                                            </div>
                                            <div class="col-md-8">
                                                @*@Html.DisplayFor(model => model.PayoutCycle)*@
                                                <label class="control-label" id="DPayoutCycle" title=""></label>
                                                @Html.HiddenFor(model => model.PayoutCycle)
                                            </div>
                                        </div>
                                    }
                                </div>

                                <div class="form-group" id="divIDwise">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.memberID)

                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.memberID)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                        @Html.ValidationMessageFor(model => model.memberID)
                                        @Html.HiddenFor(model => model.memberNo)

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-4">

                                        <button type="button" id="searchCappingIDDetails" name="searchCappingIDDetails" class="btn btn-primary btn-search"><i class="fa fa-search"></i>@T("Admin.Customers.Pancard.ViewReport")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" id="showCappingDetail">
                    <div class="panel-body">
                        @if (Model.getPVSettingID == 1)
                        {
                            <br />
                            <div id="CappingIDDetailsPVBased-grid">
                            </div>
                            <script>
                                function getfillGridPVBased(){
                                    $("#CappingIDDetailsPVBased-grid").show();
                                    $("#showButtons").show();
                                    $('#searchResult').show();

                                    $("#CappingIDDetailsPVBased-grid").kendoGrid({
                                        dataSource: {
                                            type: "json",
                                            transport: {
                                                read: {
                                                    url: "@Html.Raw(Url.Action("CappingIDDetailsGridPVBased", "PayoutReports"))",
                                                    type: "POST",
                                                    dataType: "json",
                                                    data: additionalData
                                                }
                                            },
                                            schema: {
                                                data: "Data",
                                                total: "Total",
                                                errors: "Errors",
                                            },

                                            error: function (e) {
                                                display_kendoui_grid_error(e);
                                                // Cancel the changes
                                                this.cancelChanges();

                                            },
                                            pageSize: @(defaultGridPageSize),
                                            serverPaging: true,
                                            serverFiltering: true,
                                            serverSorting: true
                                        },

                                        pageable: {
                                            refresh: true,
                                            pageSizes: [@(gridPageSizes)]
                                        },
                                        scrollable: false,
                                        columns: [@*{
                                    field: "SrNo",
                                    title: "@T("Admin.PayoutReports.CappingIDDetail.SrNo")",
                                    width: 10,
                                    hidden:true,
                                },*@
                                            {
                                                field: "ID",
                                                title:  "@T("Admin.PayoutReports.CappingIDDetail.ID")",
                                                width: 40

                                            },{
                                                field: "Name",
                                                title: "@T("Admin.PayoutReports.CappingIDDetail.Name")",
                                                width: 30
                                            },{
                                                field: "Actual",
                                                title: "@T("Admin.PayoutReports.CappingIDDetail.Actual.PVBased")",
                                                width: 30,
                                                attributes:{style:"text-align:right;"}
                                            },
                                        {
                                            field: "CappingAmount",
                                            title: "@T("Admin.PayoutReports.CappingIDDetail.CappingAmount.PVBased")",
                                            width: 40,
                                            attributes:{style:"text-align:right;"}
                                        }, {
                                            field: "PaidAmount",
                                            title:  "@T("Admin.PayoutReports.CappingIDDetail.PaidAmount.PVBased")",
                                            width: 50,
                                            attributes:{style:"text-align:right;"}

                                        }, {
                                            field: "UnpaidAmount",
                                            title:  "@T("Admin.PayoutReports.CappingIDDetail.UnpaidAmount.PVBased")",
                                            width: 50,
                                            attributes:{style:"text-align:right;"}


                                        }

                                        ]
                                    });
                                }
                            </script>
                        }
                        else
                        {
                            <div id="CappingIDDetails-grid">
                            </div>
                            <script>
                                function getfillGrid(){
                                    $("#CappingIDDetails-grid").show();
                                    $("#showButtons").show();
                                    $('#searchResult').show();
                                    $("#showCappingDetail").show();
                                    $("#CappingIDDetails-grid").kendoGrid({
                                        dataSource: {
                                            type: "json",
                                            transport: {
                                                read: {
                                                    url: "@Html.Raw(Url.Action("CappingIDDetailsGrid", "PayoutReports"))",
                                                    type: "POST",
                                                    dataType: "json",
                                                    data: additionalData
                                                }
                                            },
                                            schema: {
                                                data: "Data",
                                                total: "Total",
                                                errors: "Errors",
                                                model:{
                                                    //fields:{
                                                    //    Actual:{ type:"number" },
                                                    //    CappingAmount:{ type:"number" },
                                                    //    PaidAmount:{ type:"number" },
                                                    //    UnpaidAmount:{ type:"number" }
                                                    //}
                                                }
                                            },
                                            //aggregate:[
                                            //{ field:"Actual", aggregate:"sum" },
                                            //{ field:"CappingAmount", aggregate:"sum" },
                                            //{ field:"PaidAmount", aggregate:"sum" },
                                            //{ field:"UnpaidAmount", aggregate:"sum" }
                                            //],
                                            requestEnd: function (e) {
                                                if (e.type == "read") {
                                                    var response = e.response;
                                                    if (response) {
                                                        //store extra data
                                                        reportAggregates = e.response["ExtraData"];
                                                    }
                                                }
                                            },
                                            error: function (e) {
                                                display_kendoui_grid_error(e);
                                                // Cancel the changes
                                                this.cancelChanges();

                                            },
                                            pageSize: @(defaultGridPageSize),
                                            serverPaging: true,
                                            serverFiltering: true,
                                            serverSorting: true
                                        },

                                        pageable: {
                                            refresh: true,
                                            pageSizes: [@(gridPageSizes)]
                                        },
                                        scrollable: false,
                                        dataBound: onDataBound,
                                        columns: [@*{
                                    field: "SrNo",
                                    title: "@T("Admin.PayoutReports.CappingIDDetail.SrNo")",
                                    width: 10
                                },*@
                                            {
                                                field: "ID",
                                                title:  "@T("Admin.PayoutReports.CappingIDDetail.ID")",
                                                width: 40,
                                                headerAttributes: {style: "text-align: center" }


                                            },{
                                                field: "Name",
                                                title: "@T("Admin.PayoutReports.CappingIDDetail.Name")",
                                                width: 30,
                                                headerAttributes: {style: "text-align: center" }
                                            },{
                                                field: "Actual",
                                                title: "@T("Admin.PayoutReports.CappingIDDetail.Actual")",
                                                width: 30   ,
                                                attributes:{style:"text-align:right;"},
                                                attributes:{style:"text-align:right;"},
                                                footerTemplate: '<div style="text-align:right;" id=\"aggregateActualEarning\"><strong></strong></div>',
                                                headerAttributes: {style: "text-align: center" }
                                            },
                                        {
                                            field: "CappingAmount",
                                            title: "@T("Admin.PayoutReports.CappingIDDetail.CappingAmount")",
                                            width: 40,
                                            attributes:{style:"text-align:right;"},
                                            footerTemplate: '<div style="text-align:right;" id=\"aggregateCappingAmount\"><strong></strong></div>',
                                            headerAttributes: {style: "text-align: center" }

                                        }, {
                                            field: "PaidAmount",
                                            title:  "@T("Admin.PayoutReports.CappingIDDetail.PaidAmount")",
                                            width: 50,
                                            attributes:{style:"text-align:right;"},
                                            footerTemplate: '<div style="text-align:right;" id=\"aggregatePaidAmount\"><strong></strong></div>',
                                            headerAttributes: {style: "text-align: center" }
                                        }, {
                                            field: "UnpaidAmount",
                                            title:  "@T("Admin.PayoutReports.CappingIDDetail.UnpaidAmount")",
                                            width: 50,
                                            attributes:{style:"text-align:right;"},
                                            footerTemplate: '<div style="text-align:right;" id=\"aggregateUnpaidAmount\"><strong></strong></div>',
                                            headerAttributes: {style: "text-align: center" }
                                        }

                                        ]
                                    });
                                }
                            </script>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        function onDataBound(e) {

            if (reportAggregates != "") {
                for (var key in reportAggregates) {
                    // 
                    $('#aggregateActualEarning').html(reportAggregates['aggregatorActualEarning']);
                    $('#aggregateCappingAmount').html(reportAggregates['aggregatorCappingAmount']);
                    $('#aggregatePaidAmount').html(reportAggregates['aggregatorPaidAmount']);
                    $('#aggregateUnpaidAmount').html(reportAggregates['aggregatorUnpaidAmount']);
                }
            }
        }
        $("#divIDwise").hide(); $('#searchResult').hide();
        $("#showButtons").hide();
        $('#memberID').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("SearchTermAutoCompletePayout", "PayoutReports"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                $("#searchId").val(ui.item.MJD_MemID);
                $("#memberNo").val(ui.item.MJD_MemNo);
                $("#memberID").val(ui.item.label);
                $("#divfirstname").show();

                //  return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };

        $(document).ready(function () {
            if ($('#DailyBinaryFlag').val() == 'True') {
                if($('#PN_ID').val()=="")
                {
                    $('#trDailyBinaryFlag').hide();
                }
                else{
                    var value = $('#PN_ID').val();

                    if ($('#DailyBinaryFlag').val() == 'True') {
                        $.get("@(Url.Action("GetPayoutCycle", "Common"))", { payoutNo: value }, function (response) {


                            $('#trDailyBinaryFlag').show();
                            $("#DPayoutCycle").html('');
                            $("#DPayoutCycle").append(response.paycoutCycle);
                            $("#PayoutCycle").val(response.paycoutCycle);
                        });
                    }
                }
            }
            $("#showCappingDetail").hide();
            $("#validationMessages").hide();
            var PayoutNoListStr = '';
            var PayoutStartDate = '';
            var PayoutEndDate = '';
            $('#ddlOption').val("0");   $('#searchResult').hide();
            var getPNval= $('#PN_ID').val();
            if(getPNval=="")
            {
                $("#validationMessages").show();
                $("#validationMessages").html("No Record(s) found !!!");

            }
            if(@Model.PayoutNoList.Count<=0)
            {
                $("#validationMessages").show();
                $("#validationMessages").html("No Record(s) found !!!");

            }
            $('#ddlOption').change(function () {
                var value = $(this).val();

                if (value ==1) {
                    $("#divIDwise").show();
                    $("#divPayoutwise").hide();
                    $("#CappingIDDetails-grid").show();
                    $("#CappingIDDetailsPVBased-grid").show();
                    $("#validationMessages").hide();
                    $("#sucessMessages").hide();
                    $("#showButtons").hide();
                    $("#memberID").val("");$("#memberID").focus();
                    $('#searchResult').hide();

                }
                else {
                    $("#divPayoutwise").show();
                    $("#divIDwise").hide();
                    $("#searchId").val("");
                    $("#CappingIDDetails-grid").show();
                    $("#CappingIDDetailsPVBased-grid").show();
                    $("#validationMessages").hide();
                    $("#sucessMessages").hide();
                    $("#ddlOption").val("0");
                    $("#sucessMessages").hide();
                    $("#showButtons").hide();
                    $('#searchResult').hide();


                }

            });

            $("#btnReset").click(function () {
                //$("#divPayoutwise").show();
                //$("#divIDwise").hide();
                //$("#searchId").val("");
                //$("#CappingIDDetails-grid").hide();
                //$("#CappingIDDetailsPVBased-grid").hide();
                //$("#validationMessages").hide();
                //$("#sucessMessages").hide();
                //$("#showButtons").hide();
                //$('#searchResult').hide();

                location.reload();

            });

            $('#PN_ID').change(function () {
                var value = $(this).val();

                if (value != null) {
                    $.get("@(Url.Action("loadDropdownPayoutDatesNo", "PayoutReports"))", {dtCode: value }, function (response) {
                        //  $("#PN_ID").empty();
                        $("#PayoutStartDate").empty();
                        $("#PayoutEndDate").empty();

                        if (response.PayoutNoList.length > 0) {
                            for (var i = 0; i < response.PayoutNoList.length; i++) {

                                PayoutStartDate   = PayoutStartDate + '<option value="' + response.PayoutStartDateList[i].Value + '">' + response.PayoutStartDateList[i].Text + '</option>';
                                PayoutEndDate   = PayoutEndDate + '<option value="' + response.PayoutEndDateList[i].Value + '">' + response.PayoutEndDateList[i].Text + '</option>';
                            }
                            if ($('#DailyBinaryFlag').val() == 'True') {
                                $.get("@(Url.Action("GetPayoutCycle", "Common"))", { payoutNo: response.PayoutNoList[0].Value }, function (response) {

                                    
                                    $('#trDailyBinaryFlag').show();
                                    $("#DPayoutCycle").html('');
                                    $("#DPayoutCycle").append(response.paycoutCycle);
                                    $("#PayoutCycle").val(response.paycoutCycle);
                                });
                            }
                        }
                        else {

                            //  PayoutNoListStr = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                            PayoutStartDate= '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                            PayoutEndDate= '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                        }
                        //  $("#PN_ID").append(PayoutNoListStr);
                        $("#PayoutStartDate").append(PayoutStartDate);
                        $("#PayoutEndDate").append(PayoutEndDate);
                        //    PayoutNoListStr = '';
                        PayoutStartDate = '';
                        PayoutEndDate = '';
                    });
                }
            });

            $("#CappingIDDetails-grid").show();
            $("#CappingIDDetailsPVBased-grid").show();
            $("#validationMessages").hide();
            $("#sucessMessages").hide();
            $("#showButtons").hide();

            $('#searchCappingIDDetails').click(function () {
                
                var selVal=$('#ddlOption').val();
                var SearchFirstName= $("#memberID").val(),MemId= $("#searchId").val();
                if(SearchFirstName =='' &&  selVal=="1" )
                {
                    var validationDivs='';
                    $('#validationMessages').html('');

                    //alert('Enter ID/Name');
                    $('#validationMessages').show();
                    validationDivs=validationDivs+'<div>@T("admin.customerreport.memid")</div>';
                    $('#validationMessages').append(validationDivs);

                    return;
                }
                else{
                    var data = {
                        memberID: $('#memberID').val(),
                        ddlOption:$('#ddlOption').val(),
                        PN_ID:$('#PN_ID').val(),
                        PayoutStartDate:$('#PayoutStartDate').val(),
                        PayoutEndDate:$('#PayoutEndDate').val(),
                        searchId:$('#searchId').val(),
                        memberNo:$("#memberNo").val()
                    }
                    addAntiForgeryToken(data);

                    if(@Model.getPVSettingID==1 )
                    {
                        //pv based Grid
                        $.ajax({  url: "@Html.Raw(Url.Action("CappingIDDetailsGridPVBased", "PayoutReports"))",
                            type: "POST",
                            dataType: "json",
                            data:data  , success: function(result){

                                if(result=="norecord")
                                {
                                    $("#validationMessages").show();
                                    $("#validationMessages").html("No Record(s) found !!!");
                                    $("#CappingIDDetailsPVBased-grid").show();
                                    $("#sucessMessages").hide();
                                    $("#showButtons").hide();
                                    $('#searchResult').hide();
                                    $("#showCappingDetail").hide();
                                    return;
                                }
                                $("#showCappingDetail").show();
                                $("#sucessMessages").show();
                                $("#validationMessages").hide();
                                getfillGridPVBased();

                                var grid = $('#CappingIDDetailsPVBased-grid').data('kendoGrid');
                                grid.dataSource.page(1);
                                var selValue= $('#ddlOption').val();
                                if(selValue==1){
                                    $("#sucessMessages").html("IDwise-Capping Report For Name [ID] : "+$("#memberID").val());

                                }
                                if(selValue==0){
                                    $("#sucessMessages").html("For All Record(s)");
                                    var payoutfrom=$('#PayoutStartDate option:selected').text(),
                                        payoutTo=$('#PayoutEndDate option:selected').text();
                                    $("#sucessMessages").html("Payout-wise Capping Report For Payout Period :"+payoutfrom+" To "+payoutTo);

                                }
                            }
                        });
                    }
                    else{
                        //amount based Grid
                        $.ajax({  url: "@Html.Raw(Url.Action("CappingIDDetailsGrid", "PayoutReports"))",
                            type: "POST",
                            dataType: "json",
                            data:data  , success: function(result){

                                if(result=="norecord")
                                {
                                    $("#validationMessages").show();
                                    $("#validationMessages").html("No Record(s) found !!!");
                                    $("#CappingIDDetails-grid").show();
                                    $("#sucessMessages").hide();
                                    $("#showButtons").hide();
                                    $('#searchResult').hide();
                                    $("showCappingDetail").hide();
                                    return;
                                }
                                $("#showCappingDetail").show();
                                $("#sucessMessages").show();
                                $("#validationMessages").hide();
                                getfillGrid();
                                var grid = $('#CappingIDDetails-grid').data('kendoGrid');
                                grid.dataSource.page(1);
                                var selValue= $('#ddlOption').val();
                                if(selValue==1){
                                    $("#sucessMessages").html("IDwise-Capping Report For Name [ID] : "+$("#memberID").val());

                                }
                                if(selValue==0){
                                    $("#sucessMessages").html("For All Record(s)");
                                    var payoutfrom=$('#PayoutStartDate option:selected').text(),
                                        payoutTo=$('#PayoutEndDate option:selected').text();
                                    $("#sucessMessages").html("Payout-wise Capping Report For Payout Period :"+payoutfrom+" To "+payoutTo);

                                }
                            }

                        });
                    }
                }
            });


            $('#exportexcelCappingIDall').click(function () {

                if(@Model.getPVSettingID==1 )
                {
                    var selValue= $('#ddlOption').val();
                    if(selValue==1){
                        $("#searchMessage").html("IDwise-Capping Report For Name [ID] : "+$("#memberID").val());
                    }
                    if(selValue==0){
                        $("#searchMessage").html("For All Record(s)");
                        var payoutfrom=$('#PayoutStartDate option:selected').text(),
                            payoutTo=$('#PayoutEndDate option:selected').text();
                        $("#searchMessage").html("Payout-wise Capping Report For Payout Period :"+payoutfrom+" To "+payoutTo);
                    }
                }
                else{
                    var selValue= $('#ddlOption').val();
                    if(selValue==1){
                        $("#searchMessage").val("IDwise-Capping Report For Name [ID] : "+$("#memberID").val());
                    }
                    if(selValue==0){
                        $("#searchMessage").val("For All Record(s)");
                        var payoutfrom=$('#PayoutStartDate option:selected').text(),
                            payoutTo=$('#PayoutEndDate option:selected').text();
                        $("#searchMessage").val("Payout-wise Capping Report For Payout Period :"+payoutfrom+" To "+payoutTo);
                    }
                }
            });

            $("#@Html.FieldIdFor(model => model.ddlOption)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#searchCappingIDDetails").click();
                    return false;
                }
            });

            $("#@Html.FieldIdFor(model => model.PN_ID)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#searchCappingIDDetails").click();
                    return false;
                }
            });
            $("#@Html.FieldIdFor(model => model.PayoutStartDate)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#searchCappingIDDetails").click();
                    return false;
                }
            });

            $("#@Html.FieldIdFor(model => model.PayoutEndDate)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#searchCappingIDDetails").click();
                    return false;
                }
            });

            $("#@Html.FieldIdFor(model => model.memberID)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#searchCappingIDDetails").click();
                    return false;
                }
            });
        });

        function additionalData() {
            var data = {
                memberID:$('#@Html.FieldIdFor(model => model.memberID)').val(),
                ddlOption:$('#@Html.FieldIdFor(model => model.ddlOption)').val(),
                PN_ID:$('#@Html.FieldIdFor(model => model.PN_ID)').val(),
                PayoutStartDate:$('#@Html.FieldIdFor(model => model.PayoutStartDate)').val(),
                PayoutEndDate:$('#@Html.FieldIdFor(model => model.PayoutEndDate)').val(),
                searchId:$('#@Html.FieldIdFor(model => model.searchId)').val(),
                memberNo:$('#@Html.FieldIdFor(model => model.memberNo)').val()

            };
            addAntiForgeryToken(data);
            return data;
        }
    </script>
}