﻿@model Nop.Admin.Models.PayoutReports.LevelReport
@{
    ViewBag.Title = T("Admin.PayoutReports.LevelCommissionReport").Text;
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("LevelReport");

}
@{
    var ddselectOptions = new List<SelectListItem>
    {
          new SelectListItem { Text = "All Records", Value="1" , Selected=true },
          new SelectListItem { Text = "ID-wise", Value="0" }
    };
}
<style>
    /*#memberID {
        width: 170px;
    }

    .dropdown {
        width: 177px;
    }*/
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.searchId)
    @Html.HiddenFor(model => model.memNumber)
    @Html.HiddenFor(model => model.searchMessage)

    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.PayoutReports.LevelCommissionReport")
        </h1>
        <div class="pull-right" id="showButtons">
            <button type="submit" id="exportexcelLevelReportall" name="exportexcelLevelReportall" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                @T("Admin.Common.ExportToExcel")
            </button>
        </div>
        <div class="options">
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                @*<div>
                                        <div>
                                            <br />
                                            <h3>@T("Admin.Customer.SearchOption")</h3>
                                            <br />
                                        </div>
                                    </div>*@

                                <div id="divDatewise">
                                    <div class="form-group" id="divddlOption">
                                        <div class="col-md-6">
                                            @Html.NopLabelFor(model => model.selectOption)
                                        </div>
                                        <div class="col-md-6">
                                            @Html.NopDropDownListFor(model => model.selectOption, ddselectOptions, new { @class = "dropdown" })
                                            @Html.ValidationMessageFor(model => model.selectOption)
                                        </div>
                                    </div>
                                    <div class="form-group" id="divIDwise">
                                        <div class="col-md-6">
                                            @Html.NopLabelFor(model => model.memberID)
                                        </div>
                                        <div class="col-md-6">
                                            @Html.NopEditorFor(model => model.memberID)
                                            <div id="divfirstname" class="inputs">
                                            </div>
                                            @Html.ValidationMessageFor(model => model.memberID)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            @Html.NopLabelFor(model => model.PayoutNo)
                                        </div>
                                        <div class="col-md-6">
                                            @Html.NopDropDownListFor(model => model.PayoutNo, Model.PayoutNoList)
                                            @Html.ValidationMessageFor(model => model.PayoutNo)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            @Html.NopLabelFor(model => model.PayoutStartDate)
                                        </div>
                                        <div class="col-md-6">
                                            @Html.NopDropDownListFor(model => model.PayoutStartDate, Model.PayoutStartDateList)
                                            @Html.ValidationMessageFor(model => model.PayoutStartDate)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            @Html.NopLabelFor(model => model.PayoutEndDate)
                                        </div>
                                        <div class="col-md-6">
                                            @Html.NopDropDownListFor(model => model.PayoutEndDate, Model.PayoutEndDateList, new { disabled = "disabled" })
                                            @Html.ValidationMessageFor(model => model.PayoutEndDate)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-3">
                                <button type="button" id="searchLevelReport" name="searchLevelReport" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Customers.Pancard.ViewReport")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $(document).ready(function () {
                    $("#validationMessages").hide();
                    $("#LevelReport").hide();
                    $('#memberID').autocomplete({
                        delay: 500,
                        minLength: 1,
                        @*source: '@(Url.Action("SearchTermAutoCompletePayout", "PayoutReports"))',*@
                        source: '@(Url.Action("SearchTermAutoCompleteDownline", "Common"))',
                        appendTo: '.search-box',
                        select: function (event, ui) {
                            $("#searchId").val(ui.item.Id);
                            $("#memberID").val(ui.item.label);
                            $("#memNumber").val(ui.item.MJD_MemNo);
                            $("#divfirstname").show();

                            //  return false;
                        }
                    }).data("ui-autocomplete")._renderItem = function (ul, item) {
                        var t = item.label;
                        //html encode
                        t = $('<div/>').text(t).html();
                        return $("<li></li>")
                            .data("item.autocomplete", item)
                            .append("<a><span>" + t + "</span></a>")
                            .appendTo(ul);
                    };

                    $('#selectOption').val("1");
                    $('#searchResult').hide();

                    $('#selectOption').change(function () {
                        var value = $(this).val();
                        $("#showButtons").hide();
                        $('#searchResult').hide();
                        $("#LevelReport-grid").hide();
                        $("#validationMessages").hide();
                        $("#sucessMessages").hide();
                        $('#LevelReport').hide();
                        if (value ==0) {
                            $("#divIDwise").show();
                            $("#validationMessages").hide();
                            $("#sucessMessages").hide();
                            $("#memberID").val("");$("#memberID").focus();
                        }
                        else {
                            $("#divIDwise").hide();
                            $("#searchId").val("");
                            $("#validationMessages").hide();
                            $("#sucessMessages").hide();
                        }
                    });

                    $("#btnReset").click(function () {
                        $("#divIDwise").hide();
                        $("#selectOption").val("1");
                        $("#LevelReport-grid").hide();
                        $("#validationMessages").hide();
                        $("#sucessMessages").hide();
                        $("#showButtons").hide();
                        $('#searchResult').hide();
                        $("#LevelReport").hide();
                    });
                });

            </script>


            <div class="panel panel-default" id="LevelReport">
                <div class="panel-body">
                    <div id="LevelReport-grid">
                    </div>
                    <script>

                        function getfillGrid(){
                            $("#LevelReport-grid").show();   $('#searchResult').show();
                            $("#showButtons").show();

                            $("#LevelReport-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("LevelReportGrid", "PayoutReports"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors",
                                        model:{
                                            //fields:{
                                            //    LevelAmount:{ type:"number" }
                                            //}
                                        }
                                    },
                                    requestEnd: function (e) {
                                        if (e.type == "read") {
                                            var response = e.response;
                                            if (response) {
                                                //store extra data
                                                reportAggregates = e.response["ExtraData"];
                                            }
                                        }
                                    },
                                    //aggregate:[
                                    ////{ field:"LevelAmount", aggregate:"sum" }

                                    //],
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: false,
                                dataBound: onDataBound,
                                columns: [{
                                    field: "srNo",
                                    title: "@T("Admin.PayoutReports.LevelReport.SrNo")",
                                    width: 10,
                                    hidden:true,
                                },{
                                    field: "ID",
                                    title: "@T("Admin.PayoutReports.LevelReport.ID")",
                                    //headerAttributes: {style: "text-align: center" }
                                }, {
                                    field: "Name",
                                    title:  "@T("Admin.PayoutReports.LevelReport.Name")",
                                   //  width: 60,
                                    //  headerAttributes: {style: "text-align: center" }
                                },{
                                    field: "FromID",
                                    title: "@T("Admin.PayoutReports.LevelReport.FromID")",
                                    //width: 30,
                                    // headerAttributes: {style: "text-align: center" }
                                },{
                                    field: "LevelNo",
                                    title: "@T("Admin.PayoutReports.LevelReport.LevelNo")",
                                    // width: 40,
                                    footerTemplate: "@T("Admin.PayoutReports.LevelReport.Total")",
                                    // headerAttributes: {style: "text-align: center" }
                                },{
                                    field: "LevelAmount",
                                    title: "@T("Admin.PayoutReports.LevelReport.LevelAmount")",
                                    //width: 40,
                                    footerTemplate: '<div style="text-align:right;" id=\"aggregateTotalEarning\"><strong></strong></div>',
                                    format: "{0:##,#}",
                                    attributes:{style:"text-align:right;"},
                                    //  headerAttributes: {style: "text-align: center" }
                                }]
                            });
                        }
                    </script>

                    <script type="text/javascript">
                        function onDataBound(e) {

                            if (reportAggregates != "") {
                                for (var key in reportAggregates) {
                                    // 
                                    $('#aggregateTotalEarning').html(reportAggregates['aggregatorTotalEarning']);
                                }
                            }
                        }
                        $(document).ready(function () {
                            //search button

                            $("#LevelReport-grid").hide();
                            $("#validationMessages").hide();
                            $("#sucessMessages").hide();
                            $("#showButtons").hide();
                            $("#divIDwise").hide();

                            var PayoutNoListStr = '';
                            var PayoutStartDate = '';
                            var PayoutEndDate = '';
                            $('#searchResult').hide();
                            //  $('#divPayoutwise').hide();

                            $.get("@(Url.Action("loadDropdownPayoutDatesNoLevelCommission", "PayoutReports"))", { dtCode: 6 }, function (response) {
                                $("#PayoutNo").empty();
                                $("#PayoutStartDate").empty();
                                $("#PayoutEndDate").empty();

                                $("#divPayoutwise").show();
                                console.log(response.PayoutNoList);
                                if (response.PayoutNoList.length > 0) {
                                    for (var i = 0; i < response.PayoutNoList.length; i++) {

                                        PayoutNoListStr = PayoutNoListStr + '<option value="' + response.PayoutNoList[i].Value + '">' + response.PayoutNoList[i].Text + '</option>';
                                        PayoutStartDate   = PayoutStartDate + '<option value="' + response.PayoutStartDateList[i].Value + '">' + response.PayoutStartDateList[i].Text + '</option>';
                                        PayoutEndDate   = PayoutEndDate + '<option value="' + response.PayoutEndDateList[i].Value + '">' + response.PayoutEndDateList[i].Text + '</option>';
                                    }
                                }
                                else {

                                    PayoutNoListStr = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                    PayoutStartDate= '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                    PayoutEndDate= '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                }

                                $("#PayoutNo").append(PayoutNoListStr);
                                $("#PayoutStartDate").append(PayoutStartDate);
                                $("#PayoutEndDate").append(PayoutEndDate);

                                PayoutNoListStr = '';
                                PayoutStartDate = '';
                                PayoutEndDate = '';
                            });

                            $('#PayoutNo').change(function () {
                                var payoutNumber = $(this).val();

                                if (payoutNumber != null) {
                                    $.get("@(Url.Action("loadDropdownPayoutDatesNo", "PayoutReports"))", {dtCode: payoutNumber }, function (response) {
                                        //  $("#PN_ID").empty();
                                        $("#PayoutStartDate").empty();
                                        $("#PayoutEndDate").empty();

                                        if (response.PayoutNoList.length > 0) {
                                            for (var i = 0; i < response.PayoutNoList.length; i++) {

                                                PayoutStartDate   = PayoutStartDate + '<option value="' + response.PayoutStartDateList[i].Value + '">' + response.PayoutStartDateList[i].Text + '</option>';
                                                PayoutEndDate   = PayoutEndDate + '<option value="' + response.PayoutEndDateList[i].Value + '">' + response.PayoutEndDateList[i].Text + '</option>';
                                            }
                                        }
                                        else {

                                            //  PayoutNoListStr = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                            PayoutStartDate= '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                            PayoutEndDate= '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';

                                        }
                                        //  $("#PN_ID").append(PayoutNoListStr);
                                        $("#PayoutStartDate").append(PayoutStartDate);
                                        $("#PayoutEndDate").append(PayoutEndDate);
                                        //    PayoutNoListStr = '';
                                        PayoutStartDate = '';
                                        PayoutEndDate = '';
                                    });
                                }
                            });

                            $('#searchLevelReport').click(function () {


                                var payoutNo=$("#PayoutNo").val();
                                var selectVal=$("#selectOption").val();var getMemid=$("#memberID");

                                if(selectVal==0 )
                                {
                                    if( getMemid=="")
                                    {
                                        $("#validationMessages").show();
                                        $("#validationMessages").html("@T("Admin.PayoutReports.CommissionDetail.memberID")");
                                        return;
                                    }

                                } if(selectVal=="1" &&  (payoutNo=="0" || payoutNo=="")  )   {
                                    $("#validationMessages").show();
                                    $("#validationMessages").html("@T("Admin.Common.NorecordFoundError")");
                                    return;
                                }
                                else
                                {
                                    var data = {
                                        selectOption:$('#selectOption').val(),
                                        PayoutStartDate:$('#PayoutStartDate').val(),
                                        PayoutEndDate:$('#PayoutEndDate').val(),
                                        PayoutNo:$('#PayoutNo').val(),
                                        memberID: $('#memberID').val(),  searchId:$('#searchId').val()
                                    }

                                    addAntiForgeryToken(data);

                                    $.ajax({  url: "@Html.Raw(Url.Action("LevelReportGrid", "PayoutReports"))",
                                        type: "POST",
                                        dataType: "json",
                                        data:data  , success: function(result){

                                            if(result=="norecord")
                                            {
                                                $("#validationMessages").show();
                                                $("#validationMessages").html("@T("Admin.Common.NorecordFoundError")");
                                                $("#LevelReport-grid").hide();
                                                $("#sucessMessages").hide();
                                                $("#showButtons").hide();
                                                $('#searchResult').hide();
                                                return;
                                            }
                                            if(result=="invalidID")
                                            {
                                                $("#validationMessages").show();
                                                $("#validationMessages").html("@T("Admin.PayoutReports.CommissionDetail.memberID")");
                                                $("#LevelReport-grid").hide();
                                                $("#sucessMessages").hide();
                                                $("#showButtons").hide();
                                                $('#searchResult').hide();
                                                return;
                                            }

                                            $("#sucessMessages").show();
                                            $("#LevelReport").show();
                                            $("#validationMessages").hide();

                                            getfillGrid();
                                            var grid = $('#LevelReport-grid').data('kendoGrid');
                                            grid.dataSource.page(1); //new search. Set page size to 1
                                            //grid.dataSource.read(); we already loaded the grid above using "page" function

                                            var selValue= $('#selectOption option:selected').text();
                                            $("#sucessMessages").html("@T("Admin.common.allrecords")");
                                            var payoutNo=$('#PayoutNo option:selected').text(),
                                                    payoutNoStart=$('#PayoutStartDate option:selected').text(),
                                                    payoutNoend=$('#PayoutEndDate option:selected').text();
                                            if( $("#selectOption").val()==0)
                                            {
                                                selValue=" @T("Admin.PayoutReports.CommissionDetail.ForIDNameMessage") "+$("#memberID").val();
                                            }

                                            if(!$('#PayoutStartDate').is(':disabled') && !$('#PayoutNoList').is(':disabled') )
                                                $("#sucessMessages").html(selValue+" - @T("Admin.PayoutReports.Levelcommission.levelincomeforMessage")  "+payoutNo+" @T("Admin.PayoutReports.CommissionDetail.PeriodMessage") "+payoutNoStart+" @T("Admin.PayoutReports.CommissionDetail.ToMessage") "+payoutNoend);
                                            else
                                                $("#sucessMessages").html(selValue);
                                        }
                                    });
                                }
                            });


                            $('#exportexcelLevelReportall').click(function () {

                                var selValue= $('#selectOption option:selected').text();

                                $("#searchMessage").val("@T("Admin.common.allrecords")");

                                var payoutNo=$('#PayoutNo option:selected').text(),
                                        payoutNoStart=$('#PayoutStartDate option:selected').text(),
                                        payoutNoend=$('#PayoutEndDate option:selected').text();

                                if( $("#selectOption").val()==0)
                                {
                                    selValue=" @T("Admin.PayoutReports.CommissionDetail.ForIDNameMessage") "+$("#memberID").val();
                                }

                                if(!$('#PayoutStartDate').is(':disabled') && !$('#PayoutNoList').is(':disabled') )
                                    $("#searchMessage").val(selValue+" - @T("Admin.PayoutReports.Levelcommission.levelincomeforMessage")  "+payoutNo+" @T("Admin.PayoutReports.CommissionDetail.PeriodMessage") "+payoutNoStart+" @T("Admin.PayoutReports.CommissionDetail.ToMessage") "+payoutNoend);
                                else
                                    $("#searchMessage").val(selValue);
                            });

                            $("#@Html.FieldIdFor(model => model.PayoutNo)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#searchLevelReport").click();
                                    return false;
                                }
                            });

                            $("#@Html.FieldIdFor(model => model.PayoutStartDate)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#searchLevelReport").click();
                                    return false;
                                }
                            });
                            $("#@Html.FieldIdFor(model => model.PayoutEndDate)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#searchLevelReport").click();
                                    return false;
                                }
                            });

                            $("#@Html.FieldIdFor(model => model.selectOption)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#searchLevelReport").click();
                                    return false;
                                }
                            });
                            $("#@Html.FieldIdFor(model => model.memberID)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#searchCommissionDetail").click();
                                    return false;
                                }
                            });
                        });

                        function additionalData() {
                            var data = {
                                selectOption:$('#@Html.FieldIdFor(model => model.selectOption)').val(),
                                PayoutStartDate:$('#@Html.FieldIdFor(model => model.PayoutStartDate)').val(),
                                PayoutEndDate:$('#@Html.FieldIdFor(model => model.PayoutEndDate)').val(),
                                PayoutNo:$('#@Html.FieldIdFor(model => model.PayoutNo)').val(),
                                searchId:$('#@Html.FieldIdFor(model => model.searchId)').val(),
                                memberID:$('#@Html.FieldIdFor(model => model.memberID)').val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    </script>
                </div>
            </div>

        </div>
    </div>
}


