﻿@model Nop.Admin.Models.PayoutReports.ReconciliationReport
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    ViewBag.Title = T("Admin.PayoutReports.ReconcilationReport").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("ReconciliationReport");
}

@{

    var ReportforList = new List<SelectListItem>
    {
          new SelectListItem { Text = "Select Reconciliation Report", Value="0" , Selected=true },
          new SelectListItem { Text = T("Admin.PayoutReports.DirectSponorReconcilationReport").Text, Value="1" },
          new SelectListItem { Text = T("Admin.PayoutReports.DifferentialReconciliationReport").Text, Value="2" }
    };

}
@{
    var ddselectOptions = new List<SelectListItem>
    {
          new SelectListItem { Text = "All Records", Value="1" , Selected=true },
          new SelectListItem { Text = "ID-wise", Value="0" }
    };
}


<style>
    #memberID {
        width: 170px;
    }

    .dropdown {
        width: 177px;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.searchId)
    @Html.HiddenFor(model => model.memNumber)
    @Html.HiddenFor(model => model.searchMessage)

    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Reports.ReconcilationReport")
        </h1>
        <div class="pull-right" id="showButtons">
            <button type="submit" id="exportexcelReconcilationReport" name="exportexcelReconcilationReport" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                @T("Admin.Common.ExportToExcel")
            </button>
        </div>
        <div class="options">
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                @*<div>
                                        <div>
                                            <br />
                                            <h3>@T("Admin.Customer.SearchOption")</h3>
                                            <br />
                                        </div>
                                    </div>*@

                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.Rpt_ID)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.NopDropDownListFor(model => model.Rpt_ID, ReportforList)
                                        @Html.ValidationMessageFor(model => model.Rpt_ID)
                                    </div>
                                </div>

                                <div class="form-group" id="divRptwise">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.selectOption)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.NopDropDownListFor(model => model.selectOption, ddselectOptions, new { @class = "dropdown" })
                                        @Html.ValidationMessageFor(model => model.selectOption)
                                    </div>
                                </div>
                                <div class="form-group" id="divIDwise">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.memberID)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.NopEditorFor(model => model.memberID)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                        @Html.ValidationMessageFor(model => model.memberID)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.PN_ID)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.NopDropDownListFor(model => model.PN_ID, Model.PlanTypeList)
                                        @Html.ValidationMessageFor(model => model.PN_ID)
                                    </div>
                                </div>
                                <div id="divPayoutwise">
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            @Html.NopLabelFor(model => model.PayoutNo)
                                        </div>
                                        <div class="col-md-6">
                                            @Html.NopDropDownListFor(model => model.PayoutNo, Model.PayoutNoList)
                                            @Html.ValidationMessageFor(model => model.PayoutNo)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            @Html.NopLabelFor(model => model.PayoutStartDate)
                                        </div>
                                        <div class="col-md-6">
                                            @Html.NopDropDownListFor(model => model.PayoutStartDate, Model.PayoutStartDateList)
                                            @Html.ValidationMessageFor(model => model.PayoutStartDate)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            @Html.NopLabelFor(model => model.PayoutEndDate)
                                        </div>
                                        <div class="col-md-6">
                                            @Html.NopDropDownListFor(model => model.PayoutEndDate, Model.PayoutEndDateList, new { disabled = "disabled" })
                                            @Html.ValidationMessageFor(model => model.PayoutEndDate)
                                        </div>
                                    </div>


                                </div>

                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-3">
                                        <button type="button" id="searchReconReport" name="searchReconReport" class="btn btn-primary btn-search">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Customers.Pancard.ViewReport")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            @*<div>
                    <div>
                        <div id="searchResult">
                            <br />
                            <h3>@T("Admin.Customer.SearchResult")</h3>
                            <br />
                        </div>
                    </div>
                </div>*@
            <div class="panel panel-default" id="ReconDetails">
                <div class="panel-body">
                    <div id="PerformanceBonusReconcilationReport-grid">
                    </div>
                    <script>

                        $(document).ready(function () {

                            var PayoutNoListStr = "",
                            PayoutStartDate = "",
                            PayoutEndDate = "";
                            $("#ReconDetails").hide();

                            $("#ReconDetailgtid").hide();
                            if ($('#PN_ID').val() != 0) {

                                var valuePN = $('#PN_ID').val();
                                $("#divPayoutwise").show();
                                if (valuePN == 0) {
                                    $("#PayoutNo").empty();
                                    $("#PayoutStartDate").empty();
                                    $("#PayoutEndDate").empty();
                                    $("#divPayoutwise").show();
                                    PayoutNoListStr = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                    PayoutStartDate = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                    PayoutEndDate = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';

                                    $("#PayoutNo").append(PayoutNoListStr);
                                    $("#PayoutStartDate").append(PayoutStartDate);
                                    $("#PayoutEndDate").append(PayoutEndDate);
                                }
                                else {
                                    $.get("@(Url.Action("loadDropdownPayoutDatesNoCommissionStatementPayouts", "PayoutReports"))", { dtCode: valuePN }, function (response) {
                                        $("#PayoutNo").empty();
                                        $("#PayoutStartDate").empty();
                                        $("#PayoutEndDate").empty();
                                        $("#divPayoutwise").show();

                                        if (response.PayoutNoList.length > 0) {
                                            for (var i = 0; i < response.PayoutNoList.length; i++) {

                                                PayoutNoListStr = PayoutNoListStr + '<option value="' + response.PayoutNoList[i].Value + '">' + response.PayoutNoList[i].Text + '</option>';
                                                PayoutStartDate = PayoutStartDate + '<option value="' + response.PayoutStartDateList[i].Value + '">' + response.PayoutStartDateList[i].Text + '</option>';
                                                PayoutEndDate = PayoutEndDate + '<option value="' + response.PayoutEndDateList[i].Value + '">' + response.PayoutEndDateList[i].Text + '</option>';

                                            }
                                        }
                                        else {
                                            PayoutNoListStr = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                            PayoutStartDate = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                            PayoutEndDate = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                        }

                                        $("#PayoutNo").append(PayoutNoListStr);
                                        $("#PayoutStartDate").append(PayoutStartDate);
                                        $("#PayoutEndDate").append(PayoutEndDate);
                                        if ('@Model.PayoutNo' != '')
                                            $('#PayoutNo').val('@Model.PayoutNo');

                                        if ('@Model.PayoutStartDate' != '')
                                            $('#PayoutStartDate').val('@Model.PayoutStartDate');

                                        if ('@Model.PayoutEndDate' != '')
                                            $('#PayoutEndDate').val('@Model.PayoutEndDate');

                                        PayoutNoListStr = '';
                                        PayoutStartDate = '';
                                        PayoutEndDate = '';
                                    });
                                }
                            }

                            $('#PN_ID').change(function () {
                                var valuePNvalues = $(this).val();
                                $("#showPayoutAnalysisreport").hide();
                                $("#validationMessages").hide();

                                if (valuePNvalues != 0 || valuePNvalues != null) {
                                    $.get("@(Url.Action("loadDropdownPayoutDatesNoCommissionStatementPayouts", "PayoutReports"))", { dtCode: valuePNvalues }, function (response) {
                                        $("#PayoutNo").empty();
                                        $("#PayoutStartDate").empty();
                                        $("#PayoutEndDate").empty();
                                        $("#divPayoutwise").show();

                                        if (response.PayoutNoList.length > 0) {
                                            for (var i = 0; i < response.PayoutNoList.length; i++) {

                                                PayoutNoListStr = PayoutNoListStr + '<option value="' + response.PayoutNoList[i].Value + '">' + response.PayoutNoList[i].Text + '</option>';
                                                PayoutStartDate = PayoutStartDate + '<option value="' + response.PayoutStartDateList[i].Value + '">' + response.PayoutStartDateList[i].Text + '</option>';
                                                PayoutEndDate = PayoutEndDate + '<option value="' + response.PayoutEndDateList[i].Value + '">' + response.PayoutEndDateList[i].Text + '</option>';
                                            }
                                        }
                                        else {
                                            PayoutNoListStr = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                            PayoutStartDate = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                            PayoutEndDate = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                        }

                                        $("#PayoutNo").append(PayoutNoListStr);
                                        $("#PayoutStartDate").append(PayoutStartDate);
                                        $("#PayoutEndDate").append(PayoutEndDate);

                                        PayoutNoListStr = '';
                                        PayoutStartDate = '';
                                        PayoutEndDate = '';
                                    });
                                }
                            });

                            $('#PayoutNo').change(function () {
                                $("#showPayoutAnalysisreport").hide();
                                var payoutNumber = $(this).val();
                                var plantype = $('#PN_ID').val();
                                if (payoutNumber != null) {
                                    $.get("@(Url.Action("loadDropdownPayoutDatesNoCommissionStatement", "PayoutReports"))", { dtCode: payoutNumber, planType: plantype }, function (response) {
                                        //  $("#PayoutNo").empty();
                                        $("#PayoutStartDate").empty();
                                        $("#PayoutEndDate").empty();
                                        console.log(response.PayoutNoList);
                                        if (response.PayoutNoList.length > 0) {
                                            for (var i = 0; i < response.PayoutNoList.length; i++) {

                                                // PayoutNoListStr = PayoutNoListStr + '<option value="' + response.PayoutNoList[i].Value + '">' + response.PayoutNoList[i].Text + '</option>';
                                                PayoutStartDate = PayoutStartDate + '<option value="' + response.PayoutStartDateList[i].Value + '">' + response.PayoutStartDateList[i].Text + '</option>';
                                                PayoutEndDate = PayoutEndDate + '<option value="' + response.PayoutEndDateList[i].Value + '">' + response.PayoutEndDateList[i].Text + '</option>';
                                            }
                                        }
                                        else {

                                            // PayoutNoListStr = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                            PayoutStartDate = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                            PayoutEndDate = '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                                        }
                                        //   $('#PayoutNo').append(PayoutNoListStr);
                                        $("#PayoutStartDate").append(PayoutStartDate);
                                        $("#PayoutEndDate").append(PayoutEndDate);
                                        PayoutNoListStr = '';
                                        PayoutStartDate = '';
                                        PayoutEndDate = '';
                                    });
                                }
                            });

                            $('#selectOption').val("1");
                            $('#searchResult').hide();
                            $("#LevelReport-grid").hide();
                            $("#validationMessages").hide();
                            $("#sucessMessages").hide();
                            $("#showButtons").hide();
                            $("#divIDwise").hide();
                            $("#divRptwise").hide();

                            $('#Rpt_ID').change(function () {
                                var value = $(this).val();
                                $("#divRptwise").hide();
                                $("#divIDwise").hide();
                                if (value == 1) {
                                    $("#divIDwise").show();
                                    $("#validationMessages").hide();
                                    $("#sucessMessages").hide();
                                    $("#memberID").val("");
                                    $("#memberID").focus();
                                }
                                else if (value == 2) {
                                    $('#selectOption').val("1");
                                    $("#divRptwise").show();
                                    $("#divIDwise").hide();
                                    $("#searchId").val("");
                                    $("#validationMessages").hide();
                                    $("#sucessMessages").hide();
                                }
                            });

                            $('#selectOption').change(function () {
                                var value = $(this).val();
                                $("#showButtons").hide();
                                $('#searchResult').hide();
                                $("#LevelReport-grid").hide();
                                $("#validationMessages").hide();
                                $("#sucessMessages").hide();
                                if (value == 0) {
                                    $("#divIDwise").show();
                                    $("#validationMessages").hide();
                                    $("#sucessMessages").hide();
                                    $("#memberID").val(""); $("#memberID").focus();
                                }
                                else {
                                    $("#divIDwise").hide();
                                    $("#searchId").val("");
                                    $("#validationMessages").hide();
                                    $("#sucessMessages").hide();
                                }
                            });
                        });

                    </script>

                </div>
            </div>

            <script>

                $('#memberID').autocomplete({
                    delay: 500,
                    minLength: 1,
                    source: '@(Url.Action("SearchTermAutoCompletePayout", "PayoutReports"))',
                    appendTo: '.search-box',
                    select: function (event, ui) {
                        $("#searchId").val(ui.item.MJD_MemID);
                        $("#memberID").val(ui.item.label);
                        $("#memNumber").val(ui.item.MJD_MemNo);
                        $("#divfirstname").show();

                        //  return false;
                    }
                }).data("ui-autocomplete")._renderItem = function (ul, item) {
                    var t = item.label;
                    //html encode
                    t = $('<div/>').text(t).html();
                    return $("<li></li>")
                        .data("item.autocomplete", item)
                        .append("<a><span>" + t + "</span></a>")
                        .appendTo(ul);
                };

                $(document).ready(function () {

                    $("#ReconDetails").hide();
                    $("#validationMessages").hide();
                    var PayoutNoListStr = '';
                    var PayoutStartDate = '';
                    var PayoutEndDate = '';
                    $('#searchResult').hide();

                    $("#exportexcelReconcilationReport").click(function () {
                        var Rpt_ID = $("#Rpt_ID").val();
                        var selectVal = $("#selectOption").val();
                        var getMemid = $("#memberID").val();
                        var searchId = $("#memberID").val();
                        //$("#StartDate").val();
                        //$("#EndDate").val();

                        var PlanType = $("#PN_ID").val();
                        var validationDivs = '';

                        $('#validationMessages').html('');
                        $("#validationMessages").hide();


                        if (Rpt_ID == 0) {
                            $("#validationMessages").show();
                            $("#validationMessages").html("@T("admin.payoutreports.ReconcilationReport.Rptid")");
                            return;
                        }
                        if (Rpt_ID == 1) {
                            if (getMemid == "") {
                                $("#validationMessages").show();
                                $("#validationMessages").html("@T("Admin.PayoutReports.ReconcilationReport.memberID")");
                                return;
                            }

                        }
                        if (Rpt_ID == 2) {
                            if (selectVal == 0) {
                                if (getMemid == "") {
                                    $("#validationMessages").show();
                                    $("#validationMessages").html("@T("Admin.PayoutReports.ReconcilationReport.memberID")");
                                    return;
                                }
                            }

                        }

                        if ((PlanType == 0)) {
                            $("#validationMessages").show();
                            $("#validationMessages").html("@T("admin.Validation.Enterplantype")");
                            return;
                        }
                        if (PlanType == null) {
                            $("#validationMessages").show();
                            $("#validationMessages").html("@T("admin.Validation.Enterplantype")");
                            return;
                        }
                        var flag = true;
                        if (flag) {

                            refreshFlag = false;

                            var rightList = $('#RightListBox option');
                            var rightListArray = [];
                            for (var i = 0; i < rightList.length; i++) {
                                rightListArray.push(rightList[i].value);
                            }

                            var data = {
                                Rpt_ID: $('#@Html.FieldIdFor(model => model.Rpt_ID)').val(),
                                selectOption: $('#@Html.FieldIdFor(model => model.selectOption)').val(),
                                PayoutNo: $('#@Html.FieldIdFor(model => model.PayoutNo)').val(),
                                searchId: $('#@Html.FieldIdFor(model => model.searchId)').val(),
                                refreshFlag: refreshFlag
                            };
                            addAntiForgeryToken(data);

                            $.ajax({
                                url: "@Html.Raw(Url.Action("ReconciliationReportExportToExcel", "PayoutReports"))",
                                type: "POST",
                                dataType: "json",
                                data: data,
                                success: function (result) {
                                    if (result.success) {
                                        if (result.fullFileName != null && result.fullFileName != "") {
                                            window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                                        }
                                        else {

                                            var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                                            $("#validationMessages").show();
                                            $('#validationMessages').append(validationDivs1);
                                        }
                                    }
                                    else {
                                        var validationDivs1 = '<div>' + result.fullFileName + '</div>';
                                        $("#validationMessages").show();
                                        $('#validationMessages').append(validationDivs1);
                                    }
                                },
                                error: function (result) {
                                    //alert(result);
                                    //alert('hi');
                                }
                            });
                            $('#validationMessages').html('');
                            $("#validationMessages").hide();
                            return false;
                        }
                        else {
                            $("#validationMessages").show();
                            $('#validationMessages').append(validationDivs);
                        }
                    });

                    $("#validationMessages").hide();
                    $("#sucessMessages").hide();
                    $("#ReconDetails").hide();
                    $("#searchReconReport").click(function () {
                       
                        var Rpt_ID = $("#Rpt_ID").val();
                        var selectVal = $("#selectOption").val();
                        var getMemid = $("#memberID").val();
                        var searchId = $("#memberID").val();
                        //$("#StartDate").val();
                        //$("#EndDate").val();

                        var PlanType = $("#PN_ID").val();
                        var validationDivs = '';

                        $('#validationMessages').html('');
                        $("#validationMessages").hide();


                        if (Rpt_ID == 0) {
                            $("#validationMessages").show();
                            $("#validationMessages").html("@T("admin.payoutreports.ReconcilationReport.Rptid")");
                            return;
                        }
                        if (Rpt_ID == 1) {
                            if (getMemid == "") {
                                $("#validationMessages").show();
                                $("#validationMessages").html("@T("Admin.PayoutReports.CommissionDetail.memberID")");
                                return;
                            }

                        }
                        if (Rpt_ID == 2) {
                            if (selectVal == 0) {
                                if (getMemid == "") {
                                    $("#validationMessages").show();
                                    $("#validationMessages").html("@T("Admin.PayoutReports.CommissionDetail.memberID")");
                                    return;
                                }
                            }

                        }

                        if ((PlanType == 0)) {
                            $("#validationMessages").show();
                            $("#validationMessages").html("@T("admin.Validation.Enterplantype")");
                            return;
                        }
                        if (PlanType == null) {
                            $("#validationMessages").show();
                            $("#validationMessages").html("@T("admin.Validation.Enterplantype")");
                            return;
                        }
                        var flag = true;
                        if (flag) {

                            refreshFlag = false;

                            var rightList = $('#RightListBox option');
                            var rightListArray = [];
                            for (var i = 0; i < rightList.length; i++) {
                                rightListArray.push(rightList[i].value);
                            }

                            var data = {
                                Rpt_ID: $('#@Html.FieldIdFor(model => model.Rpt_ID)').val(),
                                selectOption: $('#@Html.FieldIdFor(model => model.selectOption)').val(),
                                PayoutNo: $('#@Html.FieldIdFor(model => model.PayoutNo)').val(),
                                searchId: $('#@Html.FieldIdFor(model => model.searchId)').val(),
                                refreshFlag: refreshFlag
                            };
                            addAntiForgeryToken(data);

                            $.ajax({
                                url: "@Html.Raw(Url.Action("ReconciliationReportpost", "PayoutReports"))",
                                type: "POST",
                                dataType: "html",
                                data: data,
                                success: function (result) {
                                    $('#Reconciliation-grid').html(result);
                                    $("#ReconDetails").hide();

                                    $("#ReconDetailgtid").show();
                                },
                                error: function (xhr, textStatus, exceptionThrown) {
                                    //alert('hi');
                                    $("#validationMessages").html("");
                                    $("#validationMessages").show();
                                    $("#validationMessages").html("@T("CommissionDetails.Kendo.Error")");
                                }
                            });
                            $('#Reconciliation-grid').show();
                            // $('#exportexcel-all').show();
                            $('#searchResult').show();
                            return false;

                        }
                        else {
                            $("#validationMessages").show();
                            $('#validationMessages').append(validationDivs);
                        }
                    });
                });

                function additionalData() {
                    var data = {
                        Rpt_ID: $('#@Html.FieldIdFor(model => model.Rpt_ID)').val(),
                        PN_ID: $('#@Html.FieldIdFor(model => model.PN_ID)').val(),
                        PayoutStartDate: $('#@Html.FieldIdFor(model => model.PayoutStartDate)').val(),
                        PayoutEndDate: $('#@Html.FieldIdFor(model => model.PayoutEndDate)').val(),
                        PayoutNo: $('#@Html.FieldIdFor(model => model.PayoutNo)').val(),
                        searchId: $('#@Html.FieldIdFor(model => model.searchId)').val()
                    };
                    addAntiForgeryToken(data);
                    return data;
                }
            </script>
            <div class="panel panel-default" id="ReconDetailgtid">
                <div class="panel-body">
                    <div id="Reconciliation-grid">
                    </div>
                </div>
            </div>
        </div>
    </div>

}
