﻿@model Nop.Admin.ViewModel.SimulationReportVM
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    ViewBag.Title = T("Admin.PayoutReports.SimulationReport").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("SimulationIDDetails");
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.searchMessage)

    if (Model.payoutNoList.Count <= 0)
    {
        <div class="alert alert-danger alert-dismissable" id="validationMessages">
            @T("Admin.Common.NorecordFoundError")
        </div>
    }

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.PayoutReports.SimulationReport")
        </h1>
        <div class="pull-right" id="showButtons">
            <button type="submit" id="exportsimulationexcelall" name="exportsimulationexcelall" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                @T("Admin.Common.ExportToExcel")
            </button>
        </div>

    </div>
    if (Model.payoutNoList.Count > 0)
    {
        <div class="content">
            <div class="form-horizontal">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-7">
                                    <div>
                                        <div>
                                            <br />
                                            <h3>@T("Admin.Customer.SearchOption")</h3>
                                            <br />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.NopLabelFor(model => model.ddlPayoutNo)
                                        </div>
                                        <div class="col-md-6">
                                            @Html.NopDropDownListFor(model => model.ddlPayoutNo, Model.payoutNoList)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.NopLabelFor(model => model.ddlStartDate)
                                        </div>
                                        <div class="col-md-6">
                                            @Html.NopDropDownListFor(model => model.ddlStartDate, Model.startDateList)
                                            @Html.NopDropDownListFor(model => model.ddlEndDate, Model.endDateList)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.NopLabelFor(model => model.lblBFAmt)
                                        </div>
                                        <div class="col-md-6" id="lblBFAmt">
                                            @Model.lblBFAmt
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.NopLabelFor(model => model.lblavlAmt)
                                        </div>
                                        <div class="col-md-6" id="lblavlAmt">
                                            @Model.lblavlAmt
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.NopLabelFor(model => model.valAvailableAmt)
                                        </div>
                                        <div class="col-md-6" id="valAvailableAmt">
                                            @Model.valAvailableAmt
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.NopLabelFor(model => model.valDistamt)
                                        </div>
                                        <div class="col-md-6" id="valDistamt">
                                            @Model.valDistamt
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.NopLabelFor(model => model.valShortFall)
                                        </div>
                                        <div class="col-md-6" id="valShortFall">
                                            @Model.valShortFall
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                                   

            <div class="form-group">
                <div class="col-md-3 col-md-offset-3">
                    <button type="button" id="Search" name="Command" class="btn btn-primary btn-search">
                        <i class="fa fa-search"></i>
                        @T("admin.common.Search")
                    </button>
                </div>
            </div>

            <div class="adminContent">
                <div>
                    <div>
                        <div id="showbuttons" class="options">
                            <br />
                            <h3>@T("Admin.Customer.SearchResult")</h3>
                            <br />
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="customers-grid"></div>
                        <script>
                            $(document).ready(function () {
                                $("#validationMessages").hide();
                                $("#showbuttons").hide();
                                $("#customers-grid").hide();
                                $("#customers-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("SimulationReportGrid", "PayoutReports"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData,
                                                async:false
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        requestEnd: function (e) {
                                            if (e.type == "read") {
                                                var response = e.response;
                                                if (response) {
                                                    //store extra data
                                                    reportAggregates = e.response["ExtraData"];
                                                }
                                            }
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: false,
                                    dataBound: onDataBound,
                                    columns: [
                                      {
                                          field: "MemID",
                                          title: "@T("admin.customerreport.memnogrid")",
                                          headerAttributes: {style: "text-align: center" }
                                      },{
                                          field: "MemName",
                                          title: "@T("admin.customerreport.memname")",
                                          headerAttributes: {style: "text-align: center" }
                                      }, {
                                          field: "DOJ",
                                          title: "@T("Admin.Customers.Customers.Fields.DOJ")",
                                          headerAttributes: {style: "text-align: center" }

                                      }, {
                                          field: "ActualEarning",
                                          title: "@T("Admin.Customers.Customers.Fields.ActualEarning")",
                                          attributes:{style:"text-align:right;"},
                                          //footerTemplate: " <div style='text-align:right;'>#= sum # </div> ",
                                          footerTemplate: '<div style="text-align:right;" id=\"aggregateActualEarning\"><strong></strong></div>',
                                          headerAttributes: {style: "text-align: center" }
                                      }, {
                                          field: "SimulationPercent",
                                          title: "@T("Admin.Customers.Customers.Fields.SimulationPercent")",
                                          attributes:{style:"text-align:right;"},
                                          footerTemplate: '<div style="text-align:right;" id=\"aggregateSimulationPercent\"><strong></strong></div>',
                                          headerAttributes: {style: "text-align: center" }
                                      },{
                                          field: "SimulationAmount",
                                          title: "@T("Admin.Customers.Customers.Fields.SimulationAmount")",
                                          attributes:{style:"text-align:right;"},
                                          footerTemplate: '<div style="text-align:right;" id=\"aggregateSimulationAmount\"><strong></strong></div>',
                                          headerAttributes: {style: "text-align: center" }
                                      }]
                                });
                            });

                        </script>
                        <script>
                            $(document).ready(function () {

                                $('#btnReset').click(function () {
                                    $("#showbuttons").hide();
                                    $("#customers-grid").hide();
                                });

                                $('#Search').click(function () {
                                    $("#showbuttons").show();
                                    $("#customers-grid").show();

                                    //search
                                    $("#customers-grid").show();
                                    var grid = $('#customers-grid').data('kendoGrid');
                                    grid.dataSource.page(1); //new search. Set page size to 1
                                    //return false;
                                });


                                $('#exportsimulationexcelall').click(function () {
                                    
                                    var payoutNo=$('#ddlPayoutNo option:selected').text(),
                                            payoutNoStart=$('#ddlStartDate option:selected').text(),
                                            payoutNoend=$('#ddlEndDate option:selected').text();

                                    $("#searchMessage").val("Payout No: " + payoutNo+" ( "+payoutNoStart+" To "+payoutNoend +" )");
                                });

                            });
                            function additionalData() {
                                var customerRoleIds = [];
                                $('[name=SearchCustomerRoleIds]:checked').each(function () {
                                    customerRoleIds.push($(this).val());
                                });

                                var data = {
                                    ddlPayoutNo: $('#@Html.FieldIdFor(model => model.ddlPayoutNo)').val()
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }


                            $('#ddlPayoutNo').change(function (){
                                //  
                                $("#showbuttons").hide();
                                $("#customers-grid").hide();
                                var value = $(this).val();
                                var  PayoutSdateListStr="";
                                var  PayoutEdateListStr="";
                                //if (value != null && value != 0) {
                                $.get("@(Url.Action("LoadDropDownSimulation", "PayoutReports"))", {typeId:value}, function (response) {

                                    var PayoutStartDate='';
                                    var PayoutEndDate='';
                                    if(response.payoutNoList.length>0 ){
                                        for(var i=0;i<response.payoutNoList.length;i++){

                                            var  PayoutNoListStr=PayoutNoListStr+'<option value="'+ response.payoutNoList[i].Value +'">'+ response.payoutNoList[i].Text +'</option>';
                                            var obj=new Object()
                                            //obj.pn=response.payoutNoList[i].Value;
                                            //obj.sd=response.startDateList[i].Value;
                                            //obj.ed=response.endDateList[i].Value;

                                            PayoutSdateListStr=PayoutSdateListStr+'<option value="'+ response.startDateList[i].Value +'">'+ response.startDateList[i].Text +'</option>';
                                            PayoutEdateListStr=PayoutEdateListStr+'<option value="'+ response.endDateList[i].Value +'">'+ response.endDateList[i].Text +'</option>';
                                            //objArray.push(obj);
                                        }
                                    }
                                    else{
                                        PayoutNoListStr= '<option value="0">No Payout(s) available.</option>';
                                        $('#trPayoutStartDate').hide();
                                        $('#trPayoutEndDate').hide();
                                    }

                                    $("#ddlStartDate").val(PayoutSdateListStr);
                                    $("#ddlEndDate").val(PayoutEdateListStr);
                                    $("#ddlStartDate").html(PayoutSdateListStr);
                                    $("#ddlEndDate").html(PayoutEdateListStr);


                                    $("#lblavlAmt").html(response.lblavlAmt);
                                    $("#lblBFAmt").html(response.lblBFAmt);
                                    $("#valAvailableAmt").html(response.valAvailableAmt);
                                    $("#valDistamt").html(response.valDistamt);
                                    $("#valShortFall").html(response.valShortFall);

                                });
                                //}

                                //if($('#ddlPlanType').val() == 0)
                                //{
                                //    $('#trPayoutNoList').hide();
                                //    $('#trPayoutStartDate').hide();
                                //    $('#trPayoutEndDate').hide();
                                //}

                            });

                            function onDataBound(e) {

                                if (reportAggregates != "") {
                                    for (var key in reportAggregates) {
                                        // 
                                        $('#aggregateActualEarning').html(reportAggregates['aggregatorActualEarning']);
                                        $('#aggregateSimulationPercent').html(reportAggregates['aggregatorSimulationPercent']);
                                        $('#aggregateSimulationAmount').html(reportAggregates['aggregatorSimulationAmount']);
                                    }
                                }
                            }
                        </script>
                    </div>
                </div>
            </div>
            }
            }
