/*
* Copyright 2017 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

.gallery {
    display: none;
    max-width: 100%;
}
.gallery.sevenspikes-cloudzoom-gallery {
    display: inline-block;
}
.gallery .picture-wrapper {
    position: relative;
}
.gallery .picture-wrapper > img { /* Transitional image (on thumbnail click) */
	top: 0;
    right: 0;
	left: 0;
    margin: auto;
}
.gallery .picture-wrapper .picture {
	text-align: center;
	font-size: 0;
}
.gallery .picture-wrapper .picture a {
	display: inline-block;
	max-width: 100%;
}
.gallery .picture-wrapper .picture img {
    position: static !important;
}
.gallery .picture-wrapper .picture:before {
    display: none;
}


@media all and (max-width: 1000px) {

.gallery .picture-thumbs {
	clear: both;
}
}

@media all and (min-width: 1001px) {

.gallery .picture-wrapper {
	float: right;
	max-width: 500px;
}
}

/* Zoom Lens, Zoom Window, Zoom Caption */

.cloudzoom-lens {
    opacity: 0.5;
    cursor:crosshair;
    z-index: 9999;
}
.cloudzoom-lens:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-color: #b68c65;	
}
.cloudzoom-zoom {
	z-index: 9999;
    top: 0 !important;
    left: calc(100% + 20px) !important;
}
.cloudzoom-zoom-inside {
    z-index: 9999;
    cursor: crosshair;
    top: 0 !important;
    left: 0 !important;
    right: 0;
	height: 100% !important;
    margin: auto;
}
.cloudzoom-zoom-inside img + div { /*title-wrapper*/
	top: auto !important;
	bottom: 0 !important;
}
.cloudzoom-caption {
    display: none;
    background-color: #333;
    color: #fff;
    padding: 8px 12px;
    font-size: 12px;
}

/* Loading Images */

.cloudzoom-blank {
	top: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAQMAAAD+wSzIAAAAA3NCSVQICAjb4U/gAAAABlBMVEUAAAD///+l2Z/dAAAAAnRSTlP/AOW3MEoAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDYvMzAvMTLNuPjnAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M1cbXjNgAAAAxJREFUCJlj+M+AAgE/0Af5DM23uwAAAABJRU5ErkJggg==');
}
.cloudzoom-ajax-loader {
    position: absolute;
	top: 0 !important;
	left: 0 !important;
	z-index: 2;
    width: 100%;
    height: 100%;
	background: url('images/loader.gif') center no-repeat;
}