﻿@using Nop.Web.Models.Common;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Services.Customers;
@using Nop.Core.Domain.Customers;


@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    //page class
    Html.AppendPageCssClassParts("html-home-page");
    string additionalClass = String.Empty;
    var manufacturersCarouselHtml = Html.Widget("footer_manufacturers_carousel");
    if (MvcHtmlString.IsNullOrEmpty(manufacturersCarouselHtml))
    {
        additionalClass = "full-width";
    }
    var IsGuest = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.IsGuest();
    var IsMember = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.MemId;
    if (IsMember == null || IsMember == -1)
    {
        IsMember = null;
    }
}
<div class="page home-page">
    <div class="page-body">
        @Html.Widget("home_page_top")

        @*@Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })*@
        @Html.Widget("home_page_before_categories")
        @if (IsGuest || IsMember != null)
        {

            @Html.Action("HomepageCategories", "Catalog")
        }
        @Html.Widget("home_page_before_products")
        @if (IsGuest || IsMember != null)
        {

            @Html.Action("HomepageProducts", "Product")
        }
        @Html.Widget("home_page_before_best_sellers")
        @if (IsGuest || IsMember != null)
        {

            @Html.Action("HomepageBestSellers", "Product")
        }

        <div class="home-page-bottom-banner-wrapper">
            <div class="left-banner">
                @Html.Widget("home_page_left_banner_bottom")
            </div>
            <div class="right-banner">
                @Html.Widget("home_page_right_banner_bottom")
            </div>
        </div>
        @Html.Widget("home_page_before_news")
        @Html.Action("HomePageNews", "News")
        @Html.Widget("home_page_before_poll")
        @Html.Action("HomePagePolls", "Poll")
        @Html.Widget("home_page_bottom")
    </div>
</div>
<div class="footer-upper @additionalClass">
    <div class="fu-wrapper-left">
        @manufacturersCarouselHtml
    </div>
    <div class="fu-wrapper">
        @Html.Action("NewsletterBox", "Newsletter")
    </div>
</div>

<style type="text/css">
    @@media (min-width: 981px) {
        .flyout-cart {
            left: -50px !important;
        }
    }
</style>
