﻿@model System.Data.DataTable
@using Nop.Services.Helpers

<link rel="stylesheet" href="~/Themes/Vnext/Content/VnextCSS/css/MobileDataTableResponsive.css">

<div class="table-wrapper">
    <table id="mydirectDataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>

                @for (Int32 i = 0; i < Model.Columns.Count; i++)
                {
                    <th>
                        @T(@Model.Columns[i].ColumnName)
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @for (Int32 i = 0; i < Model.Rows.Count; i++)
            {
                <tr>
                    @for (Int32 j = 0; j < Model.Columns.Count; j++)
                    {
                        <td data-label='@T(Model.Columns[j].ColumnName)'>
                            @if (!string.IsNullOrEmpty(Model.Rows[i][j].ToString()))
                            {
                                bool flag = Model.Columns[j].ColumnName.ToLower().Contains("date");
                                bool flag1 = Model.Columns[j].ColumnName.ToLower().Contains("doj");
                                bool flag2 = Model.Columns[j].ColumnName.ToLower().Contains("dob");


                                if ((Model.Columns[j].ColumnName.ToLower().Contains("dob") || Model.Columns[j].ColumnName.ToLower().Contains("date of birth")))
                                {
                                    var t = Model.Rows[i][j].ToString();
                                    <text>@Convert.ToDateTime(Model.Rows[i][j].ToString()).ToString("dd/MM/yyyy")</text>
                                }
                                else if ((Model.Columns[j].ColumnName.ToLower().Contains("date") || Model.Columns[j].ColumnName.ToLower().Contains("doj")))
                                {

                                    var t = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Services.Helpers.IDateTimeHelper>().ConvertToUserTime(Convert.ToDateTime(Model.Rows[i][j].ToString()), DateTimeKind.Utc).ToString(Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateAndTime);
                                    // var t=@Html.ActionLink("GetDateTimeInCurrentTimeZone", "Common", new { utId = Model.Rows[i][j] });
                                    <text> @t </text>
                                }

                                else
                                {
                                    @Model.Rows[i][j]
                                }
                            }
                            else
                            {
                                @Model.Rows[i][j]
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

</div>
@section scripts{
<script type="text/javascript">   

    $("#mydirectDataTable").dataTable({     
        pagingType: "full_numbers",
        iDisplayLength: 10,
        dom: 'T<"clear">lfrtip',
        "oLanguage": {
            "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
        },

        tableTools: {
            "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
            "sRowSelect": "multi",
            "aButtons": [
                 "xls"
            ]
        }
    });

</script>
   

<script>
    function getDateWithTime(objdate) {
        
        var myDate;
        var myKindoDate;
        var str;
        var dashrecord;
        if (objdate != "") {
            if (objdate.indexOf('-') != -1) {
                res = objdate.split("-");
                var date1 = res[1];
                var month1 = res[0];
                var year1 = res[2];
                dashrecord = date1 + '/' + month1 + '/' + year1
                var data = {
                    term: dashrecord
                };
            }
            else {
                var data = {
                    term: objdate
                };
            }

            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("GetDateTimeInCurrentTimeZone", "Common"))",
                type: "POST",
                dataType: "json",
                data: data,
                async: false,
                success: function (result) {
                    str = result.dateTime
                },
                error: function (xhr, textStatus, exceptionThrown) {
                    //alert('hi');
                    $("#validationMessages").html("");
                    $("#validationMessages").show();
                    $("#validationMessages").html("@T("CommissionDetails.Kendo.Error")");
                }
            });


            var res;
            if (str.indexOf('-') == -1) {
                res = str.split("/");
                var date = res[0];
                var month = res[1];
                var year = res[2];
                myKindoDate = date + '/' + month + '/' + year
            }
            else {
                res = str.split("-");
                var date = res[0];
                var month = res[1];
                var year = res[2];
                myDate = date + '-' + month + '-' + year
            }


            if (str == myDate) {
                //Check valid 1-1-1900
                var getAllDate = myDate.split(" ");
                var comDate = getAllDate[0];

                HmyDate = month + '/' + date + '/' + year

                if (HmyDate == '-')
                    return HmyDate;
                else if (comDate == '1-1-1900' || comDate == '01-01-1900' || HmyDate == "")
                    return '-';
                else

                    return getDateFromString(HmyDate, "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime");
            }

            else if (str == myKindoDate) {
                //Check valid 1/1/1900
                var getAllDate = myKindoDate.split(" ");
                var comDate = getAllDate[0];

                HmyDate = date + '/' + month + '/' + year

                if (HmyDate == '-')
                    return HmyDate;
                else if (comDate == '1/1/1900' || comDate == '01/01/1900' || HmyDate == "")
                    return '-';
                else

                    return getDateFromString(HmyDate, "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime");
            }


        }
        else {
            if (objdate == "")
                return '-';
        }
    }

</script>
}
