﻿@model System.Data.DataTable

<link rel="stylesheet" href="~/Themes/Vnext/Content/VnextCSS/css/MobileDataTableResponsive.css">


    <div class="table-responsive">
        <table id="nestedDataTableOne" cellspacing="0" width="100%">
            <thead>
                <tr>

                    @for (int i = 0; i < Model.Columns.Count; i++)
                    {
                        <th>
                            @T(@Model.Columns[i].ColumnName)
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Rows.Count; i++)
            {
                    <tr>
                        @for (int j = 0; j < Model.Columns.Count; j++)
                        {
                            <td data-label='@T(Model.Columns[j].ColumnName)'>
                                @if (!string.IsNullOrEmpty(Model.Rows[i][j].ToString()))
                                {
                                    bool flag = Model.Columns[j].ColumnName.ToLower().Contains("date");
                                    bool flag1 = Model.Columns[j].ColumnName.ToLower().Contains("doj");
                                    bool flag2 = Model.Columns[j].ColumnName.ToLower().Contains("dob");
                                    if ((Model.Columns[j].ColumnName.ToLower().Contains("date") || Model.Columns[j].ColumnName.ToLower().Contains("doj") || Model.Columns[j].ColumnName.ToLower().Contains("dob")))
                                    {
                                        var t = Model.Rows[i][j].ToString();
                                        <text>@Convert.ToDateTime(Model.Rows[i][j].ToString()).ToString("dd/MM/yyyy")</text>

                                    }
                                    else
                                    {
                                        @Model.Rows[i][j]
                                    }
                                }
                                else
                                {
                                    @Model.Rows[i][j]
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

@section scripts{
    <script type="text/javascript">

        $("#nestedDataTableOne_wrapper").hide();
        $("#nestedDataTableOne").dataTable({
            "paging": false,
            "ordering": false,
            "aaSorting": [],
            dom: 'T<"clear">lfrtip',
            "oLanguage": {
                "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
            },
            tableTools: {
                "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                "sRowSelect": "multi",
                "aButtons": [
                "xls"
                ]
            }
        });
    </script>
}