﻿@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes
@using Nop.Services.Customers;
@using Nop.Core.Domain.Customers;


@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@{
    var controllerName = System.Web.HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("controller");
    var isHomePage = controllerName.Equals("home", StringComparison.InvariantCultureIgnoreCase);
    var actionName = System.Web.HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
    var isTopic = ViewContext.RouteData.Values["SeName"];

    var IsGuest = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.IsGuest();
    var IsMember = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.MemId;
}

@Html.Widget("body_start_html_tag_after")
@if (isHomePage)
{
    @Html.Widget("home_page_top_advertisement")
}
@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")
@Html.Action("AdminHeaderLinks", "Common")
@Html.Partial("Header")

<div class="overlayOffCanvas"></div>
<div class="responsive-nav-wrapper-parent">
    <div class="responsive-nav-wrapper">
        <div class="menu-title">
            <span>@T("SevenSpikes.Themes.Common.MenuTitle")</span>
        </div>
        <div class="search-wrap">
            <span>@T("Search")</span>
            <div class="search-box store-search-box">
                @if (IsGuest || IsMember != null)
                {
                    @Html.Action("SearchBox", "Catalog")
                }
            </div>
        </div>
        <div class="filters-button">
            <span>@T("SevenSpikes.Themes.Common.Filters")</span>
        </div>
    </div>
</div>

<div class="justAFixingDivBefore"></div>
<div class="header-menu">
    <div class="close-menu">
        <span>@T("SevenSpikes.Themes.Common.CloseMenu")</span>
    </div>
    <div id="divShowOnResponsive">
        @if (!IsGuest || IsMember != null)
        {
            <div>
                <div style="background-color:white;text-align: center;" class="divResponsiveprofile">
                    <img alt="Profile Picture" id="PofileImageResponsive" class="ProfileImage" />
                </div>
                <div style="background-color:white;text-align: center;">
                    <a href="@Url.RouteUrl("CustomerInfo")">
                        <div class="CustomerNameForResponsive"></div>
                    </a>
                </div>
            </div>
        }
        <div style="margin-left: 125px;" id="divShowOnResponsive">

            @Html.Action("TaxTypeSelector", "Common")
            @Html.Action("CurrencySelector", "Common")
            @Html.Action("LanguageSelector", "Common")
            @Html.Widget("header_selectors")

        </div>
    </div>


    @{
        var menuHtml = Html.Widget("theme_header_menu");
    }
    @if (!MvcHtmlString.IsNullOrEmpty(menuHtml))
    {
        @menuHtml

        if (IsGuest != true || IsMember != null)
        {
            <style>
                .hideBtnLoginMenu {
                    display: none !important;
                }

                .hideBtnRegisterMenu {
                    display: none !important;
                }
            </style>
        }
    }
    else
    {
        @Html.Action("TopMenu", "Catalog")
    }

    @*<ul class="mega-menu" data-isrtlenabled="false" data-enableclickfordropdown="false">
        <li class="">
            <a href="@Url.RouteUrl("HomePage")" class="" title="Home"><span> Home</span></a>
        </li>

        <li class="">
            <a href="@Url.RouteUrl("Register")" class="" title="Register"><span> Register</span></a>
        </li>
        @if (IsGuest || IsMember == null)
            {
        <li class="">
            <a href="@Url.RouteUrl("Login")" class="" title="Login"><span> Login</span></a>
        </li>
        }
        <li class="">
            <a href="#" class="" title="About Us"><span> About Us</span></a>
        </li>

        <li class="">
            <a href="#" class="" title="Business Plan"><span> Business Plan</span></a>
        </li>
        <li class="">
            <a href="#" class="" title="Contact Us"><span> Contact Us</span></a>
        </li>
    </ul>*@

    <div class="header-links" style="margin-left: 125px;" id="divShowOnResponsive">
        <div style="text-align:center;background-color:white">
            @if (!IsGuest || IsMember != null)
            {
                <a href="@Url.RouteUrl("Logout")" title="@T("Account.Logout")" class="ico-logout"></a>
            }

        </div>
    </div>

</div>


@if (isHomePage)
{
    @Html.Widget("home_page_main_slider");
}

@if (isHomePage)
{
    @Html.Partial("~/Themes/Vnext/Views/Home/IndexWebDesign.cshtml")

}
@if (isTopic != null)
{
    if (isTopic.ToString() == "contact-us")
    {
        @Html.Partial("~/Themes/Vnext/Views/Home/contactUSWebDesign.cshtml")
    }
    if (isTopic.ToString() == "about-us")
    {
        @Html.Partial("~/Themes/Vnext/Views/Home/aboutUSWebDesign.cshtml")
    }
    if (isTopic.ToString() == "business-plan")
    {
        @Html.Partial("~/Themes/Vnext/Views/Home/businessWebDesign.cshtml")
    }
    if (isTopic.ToString() == "legal")
    {
        @Html.Partial("~/Themes/Vnext/Views/Home/legalWebDesign.cshtml")
    }
}

<div class="master-wrapper-page">
    @Html.Action("JavaScriptDisabledWarning", "Common")
    <div class="master-wrapper-content">
        <script type="text/javascript">
            AjaxCart.init(false, '.shopping-cart-link .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
        </script>
        @Html.Widget("content_before")
        @*ajax loading window*@
        <div class="ajax-loading-block-window" style="display: none">
            <div class="loading-image">
            </div>
        </div>
        <div class="master-column-wrapper">
            @RenderBody()
        </div>
        @Html.Widget("content_after")
    </div>
</div>

@Html.Action("Footer", "Common")

@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")