﻿@model Nop.Web.Framework.Models.Ewallet.EwalletAmountRequestVM
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
    //title
    Html.AddTitleParts(T("Account.EwalletAmountRequestTransaction").Text);
    //register URL with return URL (if specified)
}
<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
@section styles{

    <style>
        #txtha {
            width: 100% !important;
        }
    </style>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.MinimumEncashAmt)
    @Html.HiddenFor(m => m.MiniEncashAmtWithCurrencySymbol)
    <br />



    <div class="sparkline16-list shadow-reset">
        <div class="sparkline16-hd">
            <div class="main-sparkline16-hd">
                <h1>@T("Account.EwalletAmountRequestTransaction")</h1>
            </div>
        </div>

        <div class="sparkline16-list shadow-reset">
            <div class="sparkline16-graph">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="all-form-element-inner">
                            <br />
                            <div class="result" style="text-align:center;">
                                @if (ViewBag.Msg != null)
                                {
                                    @ViewBag.Msg
                                }
                            </div>
                            @{
                                var validationSummary = Html.ValidationSummary(true);
                            }
                            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                            {
                                <div class="message-error">@validationSummary</div>
                            }


                            <div class="form-group-inner">
                                <div class="row" id="divseachById">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.AccountBalance)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.lblactbal, Model.lblactbal, new { @class = "lblClassAmout form-control" })
                                        @Html.HiddenFor(m => m.lblactbal)
                                        @Html.ValidationMessageFor(m => m.lblactbal)
                                    </div>
                                </div>
                            </div>

                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.EnterAmount)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.txtuname, new { @class = "form-control", @cols = "200", rows = "50" })
                                        @Html.ValidationMessageFor(m => m.txtuname)
                                    </div>
                                    <div class="col-md-1" id="requiedAttricSymbol">
                                        @Html.RequiredHint()
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.EnterRemark)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextAreaFor(model => model.txtha, new { @class = "form-control", maxlength = 100, @style = "width: 97%;" })
                                        @Html.ValidationMessageFor(model => model.txtha)
                                    </div>
                                    <div class="col-md-1" id="requiedAttricSymbol">
                                        @Html.RequiredHint()
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-6" style="font-size: small; text-align:center">
                                        <b style="color:red;font-weight:bold"> @T("Admin.Note.Note") </b> @T("Ewallet.EncashAmount.MEA")  @Model.MiniEncashAmtWithCurrencySymbol
                                    </div>
                                </div>
                            </div>



                            <div class="login-horizental cancel-wp align-middle">
                                <button type="submit" id="SendRequest-button" name="ChkPin-button" class="btn btn-custon-four btn-primary"><i class="fa fa-send-o"></i> @T("Account.SendRequest.Button")</button>
                                <button type="button" id="btnreset" class="btn btn-custon-four btn-warning"><i class="fa fa-refresh"></i> @T("Tree.Reset.Button") </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                }
@section scripts{
    <script>
        $(document).ready(function () {


            if ($('.validation-summary-errors ul li').html() != undefined) {
                fieldPanelValidation("", ".sparkline16-hd");
            }
            else {
                ResetPanelValidation("", ".sparkline16-hd");

            }
        });
        $(function () {
            $("#SendRequest-button").click(function () {
                $('.loader').show();

                if ($('txtuname').val() == undefined || $('txtha').val() == undefined) {
                    $('.loader').hide();
                }


            });
        });


        $("#txtuname").focus();

        $('#lblactbal').attr('readonly', 'readonly')
        $("#reset").click(function () {
            window.location.reload();
        });

        window.onbeforeunload = function () {
            $("input[type=button], input[type=submit]").attr("disabled", "disabled");
        };


        //$("#txtha").removeClass("form-control");

        $('#btnreset').on('click', (function () {
            $('.loader').show();
            document.location = "@(Url.Action("EwalletAmountRequestTransaction", "Ewallet"))";
        }));

        window.onbeforeunload = function () {
            var buttons = document.getElementsByTagName("BUTTON");
            for (var i in buttons) {
                if (buttons[i].type == "button" || buttons[i].type == "submit") {
                    buttons[i].disabled = true;
                }
            }
        };

    </script>
}

