﻿@model Nop.Web.Framework.Models.Ewallet.EwalletChangePasswordVM
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
    //title
    Html.AddTitleParts(T("Account.EwalletChangePassword").Text);
    //register URL with return URL (if specified)
}
<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="sparkline16-list shadow-reset">
        <div class="sparkline16-hd">
            <div class="main-sparkline16-hd">
                <h1>@T("Account.EwalletChangePassword")</h1>
            </div>
        </div>
    </div>

    <div class="sparkline16-graph">
        <div class="datatable-dashv1-list custom-datatable-overright">

            <div class="row">
                <div class="col-md-12">
                    <div class="all-form-element-inner">
                        <br />
                        <div class="result" style="text-align:center;">
                            @if (ViewBag.Msg != null)
                {
                                @ViewBag.Msg
                            }
                        </div>
                        @{
                            var validationSummary = Html.ValidationSummary(true);
                        }
                        @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                       {
                            <div class="message-error">@validationSummary</div>
                        }
                        <div id="errorMessage1" class="message-error"></div>
                        <div class="message-error error" id="validationMessages"></div>
                        <div class="form-group-inner">
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.LabelFor(m => m.OldPassword)
                                </div>
                                <div class="col-md-6">
                                    @Html.PasswordFor(m => m.txtOldPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.txtOldPassword)
                                </div>
                                <div class="col-md-1" id="requiedAttricSymbol">
                                    @Html.RequiredHint()
                                </div>
                            </div>
                        </div>
                        <div class="form-group-inner">
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.LabelFor(m => m.Hint)
                                </div>
                                <div class="col-md-6" style="text-align: center">
                                    @*<b style="color: cornflowerblue"> @Html.ActionLink("Tip to Create Strong Password", "Strongpwdtip", "Ewallet") </b>*@
                                    <a  title="@T("Account.Password.StrongPassword.title")" class:"pull-left" href="@Url.Action("Strongpwdtip")"><b style="color: cornflowerblue">@T("Account.Password.StrongPassword.TipToCreateStrongPassword")</b> </a>
                                </div>
                                <div class="col-md-1" >
                                   
                                </div>
                            </div>
                        </div>
                        <div class="form-group-inner">
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.LabelFor(m => m.NewPassword)
                                </div>
                                <div class="col-md-6">
                                    @Html.PasswordFor(m => m.txtNewPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.txtNewPassword)
                                </div>
                                <div class="col-md-1" id="requiedAttricSymbol">
                                    @Html.RequiredHint()
                                </div>
                            </div>
                        </div>
                        <div class="inputs field-validation-error" id="validationMessages" style="text-align:center"></div>
                        <div class="form-group-inner">
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.LabelFor(m => m.ConfirmPassword)
                                </div>
                                <div class="col-md-6">
                                    @Html.PasswordFor(m => m.txtConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.txtConfirmPassword)
                                </div>
                                <div class="col-md-1" id="requiedAttricSymbol">
                                    @Html.RequiredHint()
                                </div>
                            </div>
                        </div>


                        <div class="login-horizental cancel-wp align-middle">

                            <button type="submit" id="Save" name="Save" class="btn btn-custon-four btn-primary"><i class="fa fa-lock"></i> @T("Account.ChangePassword.Button")</button>
                            <button type="button" id="btnreset" class="btn btn-custon-four btn-warning"><i class="fa fa-refresh"></i> @T("Tree.Reset.Button") </button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
            </div>

            }
            @section scripts{
                <script>
                    $(function () {
                        $("#Save").click(function () {
                            $('.loader').show();
                        });
                    });
                    $("#txtNewPassword").keyup(function () {
                        var ex = /[!:";'<>]/;
                        if (ex.test(txtNewPassword.value) != false) {
                            txtNewPassword.value = txtNewPassword.value.substring(0, txtNewPassword.value.length - 1);
                        }
                    });
                    $("#txtConfirmPassword").keyup(function () {
                        var ex = /[!:";'<>]/;
                        if (ex.test(txtNewPassword.value) != false) {
                            txtNewPassword.value = txtNewPassword.value.substring(0, txtNewPassword.value.length - 1);
                        }
                    });

                    $(document).ready(function () {

                        if ($('.validation-summary-errors ul li').html() != undefined) {
                            fieldPanelValidation("", ".sparkline16-hd");
                        }
                        else {
                            ResetPanelValidation("", ".sparkline16-hd");

                        }

                        $('#validationMessages').html('');
                        $("#txtOldPassword").focus();

                        $("#reset").click(function () {
                            window.location.reload();
                        });
                    });

                    $('#btnreset').on('click', (function () {
                        $('.loader').show();
                        document.location = "@(Url.Action("EwalletChangePassword", "Ewallet"))";
                    }));
                </script>
            }







