﻿@model Nop.Web.Framework.Models.Ewallet.EwalletAddMoneyReportModel

@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
    //title
    Html.AddTitleParts(T("Account.Ewallet.AddMoneyReport").Text);
    //register URL with return URL (if specified)
}
<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />

    <div class="page registration-result-page">
        <div class="page-body">
            @if (ViewBag.Msg != null)
                {
                <div class="result" style="text-align:center;">

                    @ViewBag.Msg

                </div>
            }
            @{
                var validationSummary = Html.ValidationSummary(true);
            }
            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                <div class="message-error">@validationSummary</div>
            }

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4">@Html.LabelFor(m => m.ActualBalance):  <b> @Model.ActualBalance</b></div>
                    <div class="col-md-4">@Html.LabelFor(m => m.PendingEncash):  <b> @Model.PendingEncash</b></div>
                    <div class="col-md-4">@Html.LabelFor(m => m.AccountBalance): <b> @Model.AccountBalance</b></div>
                    <br />

                    @*<br />*@
                    <div class="sparkline13-list shadow-reset">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>@T("Dashboard.MyNetwork.SearchOption")</h1>
                                <div class="sparkline13-outline-icon">
                                    <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="all-form-element-inner">
                                                <br />
                                                <div class="form-group-inner" id="divVoucherList">
                                                    <div class="row">
                                                        <div class="col-md-4">

                                                            @Html.LabelFor(model => model.Status)
                                                        </div>
                                                        <div class="col-md-6">
                                                            @Html.DropDownListFor(model => model.Status, new List<SelectListItem>()
                                      {
                                      new SelectListItem(){Text="Select Status",Value="3"},
                                      new SelectListItem(){Text="Confirm",Value="1"},
                                      new SelectListItem(){Text="Reject",Value="2"},
                                    }, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group-inner" id="divEpinTypeList">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            @Html.LabelFor(model => model.Paymode)
                                                        </div>
                                                        <div class="col-md-6">
                                                            @Html.DropDownListFor(model => model.Paymode, Model.PaymodeList, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="login-horizental cancel-wp align-middle">
                                                <button class="btn btn-custon-four btn-primary " id="search" name="search" type="button"><i class="fa fa-search"></i>@T("Tree.Search.Button")</button>
                                                <button class="btn btn-custon-four btn-warning" type="button" id="btnresetfrm"><i class="fa fa-refresh"></i> @T("Tree.Reset.Button")</button>
                                                <input type="hidden" name="hdnReset" id="hdnReset" value="" />
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <br />
                    <div class="sparkline16-list shadow-reset">
                        <div class="sparkline16-hd">
                            <div class="main-sparkline16-hd">
                                <h1>@T("Account.Ewallet.AddMoneyReport")</h1>
                            </div>
                        </div>
                        <div class="sparkline16-list shadow-reset">
                            <div class="sparkline16-graph">
                                <div class="datatable-dashv1-list custom-datatable-overright">
                                    <div class="x_content" id="ScrollableDiv">
                                        <div id="ScrollableDiv1">
                                            @Html.Partial("_CommanServerSideKendoGrid", Model.dataTable)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                }
            @section scripts{
                <script type="text/javascript">
                    $('#search').click(function (e) {
                        getData();
                    });
                    $(document).ready(function () {
                        getData();
                        $("#divseachById").slideUp();
                        $("#divHeadingSearch").click(function () {
                            $("#divseachById").slideToggle();
                        });
                    });

                    $('#search').on('click', (function () {
                        $("#collapseOne").removeClass("panel-collapse collapse in");
                        $("#collapseOne").addClass("panel-collapse collapse");

                        $("#btnplusminus").removeClass("glyphicon glyphicon-minus");
                        $("#btnplusminus").addClass("glyphicon glyphicon-plus");
                    }));

                    function getData(){

                        var data = {
                            Status: $('#@Html.FieldIdFor(model => model.Status)').val(),
                            Paymode: $('#@Html.FieldIdFor(model => model.Paymode)').val(),

                        };
                        addAntiForgeryToken(data);
                        $('#mydirectDataTable').DataTable({
                            dom: 'T<"clear">lfrtip',
                            "oLanguage": {
                                "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                            },
                            tableTools: {
                                "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                                "sRowSelect": "multi",
                                "aButtons": [
                                   //'xls'
                                ]
                            },
                            columns:@Html.Raw(@Model.columns),
                            bServerSide: true,
                            processing: true,
                            oLanguage: {sProcessing: "<div class='loader'></div>"},
                            destroy: true,
                            "ajax": {
                                'type': 'POST',
                                'url':  "@Html.Raw(Url.Action("EwalletAddMoneyReport", "Ewallet"))",
                                'data': data,
                                //success:function(){alert('hi')}
                                pagingType: "full_numbers",
                                iDisplayLength: 10,
                            }
                        });
                    }
                    function getRow(tableId, propName, propValue) {
                        var oTable = $('#' + tableId).DataTable(),
                            data = oTable.rows().data(),
                            row, i, l = data.length;

                        for ( i = 0; i < l; i++ ) {
                            row = data[i];
                            if (row[propName] == propValue) {
                                //return $(`#${tableId}  tr`).eq(i+1);
                                return row;
                            }
                        }
                        return false;
                    }
                    function CancelRequest(parentPartId){

                        $('.loader').show();
                        var row = getRow('mydirectDataTable', 'ID', parentPartId);

                        var ActionName = row["Action"];
                        if(ActionName=="Cancel")
                        {
                            var url='../Ewallet/RejectAddMoneyRequest?parentPartId='+parentPartId;
                            window.location.href = url;
                        }

                    };
                    $('#btnresetfrm').on('click', (function () {
                        $('.loader').show();
                        document.location = "@(Url.Action("EwalletAddMoneyReport", "Ewallet"))" ;
                    }));

                </script>
            }
