﻿@model Nop.Web.Framework.Models.Ewallet.FundTransferVM
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
    //title
    Html.AddTitleParts(T("Account.FundTransfer").Text);
    //register URL with return URL (if specified)
}
@section styles{
    <link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
    <style>
        #txtremark {
            width: 100% !important;
            height: 75px;
        }

        @@media (max-width:360px) {
            .sparkline16-hd {
                margin-top: 8%;
            }
        }
    </style>
}
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="sparkline16-list shadow-reset">
        <div class="sparkline16-hd">
            <div class="main-sparkline16-hd">
                <h1>@T("Account.FundTransfer")</h1>
                <div class="sparkline16-outline-icon">
                    @*<span class="sparkline16-collapse-link"><i class="fa fa-chevron-down"></i></span>*@
                </div>
            </div>
        </div>
        <div class="sparkline16-list shadow-reset">
            <div class="sparkline16-graph">
                <div class="datatable-dashv1-list custom-datatable-overright">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="result" style="text-align:center;">
                                @if (ViewBag.Msg != null)
                                {
                                    @ViewBag.Msg
                                }
                            </div>
                            @{
                                var validationSummary = Html.ValidationSummary(true);
                            }
                            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                                <div id="errorMessage" class="message-error">@validationSummary</div>
                            }
                            <div id="errorMessage1" class="message-error"></div>
                            <br />
                            <div class="all-form-element-inner">
                                <div class="all-form-element-inner">
                                    <div class="form-group-inner">
                                        <div class="row" id="divseachById">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.AvailableBalance)
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(m => m.lblbal, new { @class = "lblClassAmout form-control" })
                                                @Html.HiddenFor(m => m.lblBalanceAmount)
                                                @Html.ValidationMessageFor(m => m.lblbal)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.EnterID)
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(model => model.txtMemberName, new { @class = "form-control" })
                                                @Html.HiddenFor(m => m.txtspon)
                                                @Html.ValidationMessageFor(m => m.txtspon)
                                            </div>
                                            <div class="col-md-1" id="requiedAttricSymbol">
                                                @Html.RequiredHint()
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.EnterAmount)
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(model => model.txtamt, new { @class = "form-control" })
                                                @Html.HiddenFor(m => m.txtamt)
                                                @Html.ValidationMessageFor(m => m.txtamt)
                                            </div>
                                            <div class="col-md-1" id="requiedAttricSymbol">
                                                @Html.RequiredHint()
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.EnterRemark)
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextAreaFor(model => model.txtremark, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.txtremark)
                                            </div>
                                            <div class="col-md-1" id="requiedAttricSymbol">
                                                @Html.RequiredHint()
                                            </div>
                                        </div>
                                    </div>
                                    @if (!Model.IsHideMemberSide)
                                    {
                                        <div class="login-horizental cancel-wp align-middle">

                                            <button type="submit" id="SaveButton" name="Search-ComposeMessageGrid" class="btn btn-custon-four btn-primary"><i class="fa fa-save"></i> @T("Account.Save.Button")</button>
                                            <button class="btn btn-custon-four btn-warning" type="button" id="btnreset"><i class="fa fa-refresh"></i> @T("Tree.Reset.Button")</button>
                                            <input type="hidden" name="hdnReset" id="hdnReset" value="" />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    @section scripts{
        <script>
            $("#txtspon").focus();

            window.onbeforeunload = function () {
                $("input[type=button], input[type=submit]").attr("disabled", "disabled");
            };

            $(document).ready(function () {


                if ($('.validation-summary-errors ul li').html() != undefined) {
                    fieldPanelValidation("", ".sparkline16-hd");
                }
                else {
                    ResetPanelValidation("", ".sparkline16-hd");

                }

                $('#lblbal').attr('readonly', 'readonly')
                $("#divName").hide();
                $('#errorMessage1').html('');
                $("#errorMessage1").hide();
                $('#trSelectChoice').hide();
                $("#validationMessages").hide();
                $("#ShowCount").hide();
                $('#searchResult').hide();

                $('#SaveButton').click(function () {
                    //
                    var txtMemberName = $('#txtMemberName').val();
                    var txtspon = $('#txtspon').val();

                    $('#errorMessage1').html('');
                    $("#errorMessage1").hide();
                    $('#errorMessage').html('');
                    $("#errorMessage").hide();
                    $(".result").hide();
                    var validationDivs = '';
                    var flag = true;


                    if (txtMemberName == '') {

                        validationDivs = validationDivs + '<div>@T("Admin.Validation.IdNameRequired")</div>';
                        $('#txtMemberName').css('border-color', '#ec3022');
                        fieldPanelValidation('#txtMemberName', ".sparkline16-hd", ".sparkline13-graph");
                        flag = false;
                    }
                    else if (txtMemberName != '' && txtspon == "") {
                        validationDivs = validationDivs + '<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                        $('#txtMemberName').css('border-color', '#ec3022');
                        fieldPanelValidation('#txtMemberName', ".sparkline16-hd", ".sparkline13-graph");
                        flag = false;
                    }
                    else {
                        $('#txtMemberName').css('border-color', '#ddd');
                    }


                    $('.loader').show();
                    if (flag) {
                    }
                    else {
                        $("#errorMessage1").show();
                        $('#errorMessage1').append(validationDivs);
                        return false;
                    }
                });

                $("#txtMemberName").keyup(function () {
                    $('#txtspon').val("");
                });
                $("#txtMemberName").keyup(function () {
                    $('#txtspon').val("");
                });

                $('#txtMemberName').autocomplete({
                    delay: 500,
                    minLength: 1,
                    source: '@(Url.Action("SearchTermAutoCompleteMember", "Ewallet"))',
                    appendTo: '.search-box',
                    focus: function (event, ui) {
                        $("#txtspon").val(ui.item.Id);
                        $("#txtMemberName").val(ui.item.label);
                        return false;
                    },
                    select: function (event, ui) {
                        //
                        var key = checkEvent(event);
                        if (key == 13) {
                            $("#txtspon").val(ui.item.Id);
                            $("#txtMemberName").val(ui.item.label);
                            $("#divfirstname").show();
                        }
                        else {
                            $("#txtspon").val(ui.item.Id);
                            $("#txtMemberName").val(ui.item.label);
                            $("#divfirstname").show();
                        }

                        return false;
                    }
                    ,
                    search: function () { $('.loader').show(); },
                    open: function () { $('.loader').hide() },

                }).data("ui-autocomplete")._renderItem = function (ul, item) {
                    var t = item.label;
                    //html encode
                    t = $('<div/>').text(t).html();
                    return $("<li></li>")
                        .data("item.autocomplete", item)
                        .append("<a><span>" + t + "</span></a>")
                        .appendTo(ul);
                };

                $("#txtMemberName").keydown(function (e) {
                    if (e.which === 13 && $('#txtspon').val() != " ") {
                        //
                        var txtsp = $('#txtspon').val();
                        $('#txtspon').val(txtsp);

                    }
                });
                $("#txtMemberName").keydown(function (e) {
                    if (e.which === 13 && $('#txtspon').val() != " ") {
                        //
                        var txtsp = $('#txtspon').val();
                        $('#txtspon').val(txtsp);
                    }
                });

                function checkEvent(e) {
                    if (window.event)
                        key = window.event.keyCode;     //IE
                    else
                        key = e.which;     //firefox

                    return key;
                }

                $("#reset").click(function () {

                    $("#txtspon").val("");
                    $("#txtamt").val("");
                    $("#txtremark").val("");
                    $("#divName").hide();
                    $("#SaveButton").show();
                    $('#validationMessages').html('');
                    $("#validationMessages").hide();
                    window.location.reload();
                });

            });
            $('#btnreset').on('click', (function () {
                $('.loader').show();
                document.location = "@(Url.Action("FundTransfer", "Ewallet"))";
            }));

            window.onbeforeunload = function () {
                var buttons = document.getElementsByTagName("BUTTON");
                for (var i in buttons) {
                    if (buttons[i].type == "button" || buttons[i].type == "submit") {
                        buttons[i].disabled = true;
                    }
                }
            };

        </script>
    }

                                }







