﻿@model Nop.Web.ViewModel.EwalletSetPasswordVM
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
    //title
    Html.AddTitleParts(T("Account.MemberEwalletSetPassword").Text);
    //register URL with return URL (if specified)
}
<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />

<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="sparkline16-list shadow-reset">
        <div class="sparkline16-hd">
            <div class="main-sparkline16-hd">
                <h1>@T("Account.MemberEwalletSetPassword")</h1>
            </div>
        </div>
        <div class="sparkline16-graph">
            <div class="datatable-dashv1-list custom-datatable-overright">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="all-form-element-inner">
                            <br />
                            <div class="result" style="text-align:center;">
                                @if (ViewBag.Msg != null)
                                {
                                    @ViewBag.Msg
                                }
                            </div>
                            @{
                                var validationSummary = Html.ValidationSummary(true);
                            }
                            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                            {
                                <div class="message-error">@validationSummary</div>
                            }

                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.NewPassword)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.PasswordFor(m => m.txtNewPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.txtNewPassword)
                                    </div>
                                    <div class="col-md-1" id="requiedAttricSymbol">
                                        @Html.RequiredHint()
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.Hint)
                                    </div>
                                    <div class="col-md-6" style="text-align:center">
                                        <a title="@T("Account.Password.StrongPassword.title")" href="@Url.Action("Strongpwdtip")"><b style="color: cornflowerblue">@T("Account.Password.StrongPassword.TipToCreateStrongPassword")</b> </a>
                                    </div>
                                    <div class="col-md-1" id="requiedAttricSymbol">

                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.ConfirmPassword)

                                    </div>
                                    <div class="col-md-6">
                                        @Html.PasswordFor(m => m.txtConfirmPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.txtConfirmPassword)

                                    </div>
                                    <div class="col-md-1" id="requiedAttricSymbol">
                                        @Html.RequiredHint()
                                    </div>
                                </div>
                            </div>
                            <div class="login-horizental cancel-wp">
                                <button type="submit" id="SetPassword" class="btn btn-custon-four btn-primary" name="SetPassword"><i class="fa fa-check-square"></i> @T("Account.Save.Button")</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    @section scripts{
    <script>

        $(document).ready(function () {
            if ($('.validation-summary-errors ul li').html() != undefined) {
                fieldPanelValidation("", ".sparkline16-hd");
            }
            else {
                ResetPanelValidation("", ".sparkline16-hd");

            }

            window.onload = function () {
                document.getElementById('passwordLink').onclick = function () {
                    var w = window.open(this.href, this.target, 'width=500,height=600');
                    return w ? false : true
                }
            }



            //$("#reset").click(function () {

            //    $("#txtNewPassword").val("");
            //    $("#txtConfirmPassword").val("");

            //});
        });
    </script>
                          }      }
