﻿@model Nop.Web.Framework.Models.Ewallet.MemberAddMoneyModel

@{
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
    //title
    Html.AddTitleParts(T("Account.Ewallet.AddMoney").Text);
    //register URL with return URL (if specified)
}
@section styles{
    <link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
    <style>
        input.input-validation-error,
        textarea.input-validation-error,
        select.input-validation-error {
            border: 1px solid #CD0A0A !important;
        }


        #requiedAttricSymbol {
            margin-left: -5%;
        }
    </style>
}


@using (Html.BeginForm("MemberAddMoney", "Ewallet", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return validation(this)" }))
{
    @Html.AntiForgeryToken()
    <br />
    <div class="sparkline16-list shadow-reset">
        <div class="sparkline16-hd">
            <div class="main-sparkline16-hd">
                <h1>@T("Account.Ewallet.RequestForAddMoney")</h1>
            </div>
        </div>
        <div class="sparkline16-list">
            <div class="sparkline16-graph">
                <div class="datatable-dashv1-list custom-datatable-overright">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="all-form-element-inner">
                                <br />
                                @if (ViewBag.Msg != null)
                                {
                                    <div class="result" style="text-align:center;">
                                        @ViewBag.Msg
                                    </div>
                                }
                                @{
                                    var validationSummary = Html.ValidationSummary(true);
                                }
                                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                                {
                                    <div class="message-error">@validationSummary</div>
                                }
                                <div id="errorMessage1" class="message-error"></div>
                                <div style="text-align: center">
                                    <h4>  <a title="@T("Account.Ewallet.AddMoney.title")" href="@Url.Action("EwalletAddMoneyReport")"><b style="color: cornflowerblue">@T("member.Click.here")</b> </a> @T("account.ewallet.addmoney.clickhereRequest") </h4>
                                </div>

                                <div class="form-group-inner">
                                    <div class="row" id="divPaymode">

                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.AccountBalance)
                                        </div>

                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.AccountBalance, new { @class = "lblClassAmout form-control" })
                                            @Html.HiddenFor(model => model.AccountBalance)
                                        </div>

                                    </div>
                                </div>

                                <div class="row form-group-inner">

                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Amount)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.Amount, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Amount)
                                        <div id="validationamount" style="color:red;display:none;text-align:center"> </div>
                                    </div>
                                    <div class="col-md-1" id="requiedAttricSymbol">
                                        @Html.RequiredHint()
                                    </div>

                                </div>

                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.Remark)
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextAreaFor(model => model.Remark, new { @class = "form-control" })
                                            <div id="validationRemark" style="color:red;display:none;text-align:center"> </div>
                                            @Html.ValidationMessageFor(model => model.Remark)

                                        </div>
                                        <div class="col-md-1" id="requiedAttricSymbol">
                                            @Html.RequiredHint()
                                        </div>
                                    </div>
                                </div>

                                <br />
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.Paymode)
                                        </div>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.Paymode, Model.PaymodeList, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PaymodeList)
                                            <div id="validationpaymode" style="color:red;display:none;text-align:center"> </div>
                                        </div>
                                        <div class="col-md-1" id="requiedAttricSymbol">
                                            @Html.RequiredHint()
                                        </div>
                                    </div>
                                </div>

                                @if (!Model.IsHideMemberSide)
                                {
                                    <div class="login-horizental cancel-wp align-middle">
                                        <button type="submit" id="Continue" name="save-continue" class="btn btn-custon-four btn-primary"><i class="fa fa-angle-double-right"></i> @T("Admin.Epin.Continue")</button>
                                        <button type="button" id="btnreset" class="btn btn-custon-four btn-warning"><i class="fa fa-refresh"></i> @T("Tree.Reset.Button") </button>
                                    </div>
                                    <br />
                                    <div id="divPaymodeDetails">
                                        @if (!string.IsNullOrWhiteSpace(Model.PaymentInfoActionName) && !string.IsNullOrWhiteSpace(Model.PaymentInfoControllerName))
                                        {
                                            <div class="fieldset" id="paymentInfo">
                                                <div class="title">
                                                    <strong>@T("Checkout.PaymentInfo")</strong>
                                                </div>
                                                <div class="form-fields">
                                                    @Html.Action(Model.PaymentInfoActionName, Model.PaymentInfoControllerName, Model.PaymentInfoRouteValues)
                                                </div>
                                            </div>


                                        }
                                        <div class="inputs" style="text-align:center;display:block;white-space: inherit;" id="Notediv">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <span>
                                                    <b style="color:red;font-weight:bold"> @T("Admin.Note.Note") </b>
                                                    @T("Member.AddMoney.FileuploadNote")
                                                </span>
                                            </div>
                                        </div>


                                        <div class="form-group-inner" id="recipt">
                                            <br /><br />
                                            <div class="row">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(model => model.Recipt)
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="file" name="recipt" id="file" />
                                                    @Html.ValidationMessage("files", new { id = "files", style = "color:#ff0039;text-align:center" })

                                                </div>
                                                <div class="col-md-1" id="requiedAttricSymbol">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="login-horizental cancel-wp align-middle">
                                            <button type="submit" id="btnSave" name="Ewallet-button" class="btn btn-custon-four btn-success"><i class="fa fa-plus-circle"></i> @T("Admin.TraderEwallet.AddMoney")</button>
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                                    }

@section scripts{
    <script type="text/javascript">

        $(function () {
            $("#Continue").click(function () {

                var flag = 1;

                if ($("#Amount").val() == '') {
                    $("#validationamount").show();
                    var validationDivs = '<div>Amount required</div>';
                    $('#validationamount').html(validationDivs);
                    $('#Amount').css('border-color', '#ec3022');
                    fieldPanelValidation('#Amount', ".sparkline16-hd", ".sparkline13-graph");
                    flag = 0;
                }
                else if ($("#Amount").val() != '' && $.isNumeric($("#Amount").val()) == false) {
                    $("#validationamount").show();
                    var validationDivs = '<div>Amount Must be number</div>';
                    $('#validationamount').html(validationDivs);
                    $('#Amount').css('border-color', '#ec3022');
                    fieldPanelValidation('#Amount', ".sparkline16-hd", ".sparkline13-graph");
                    flag = 0;
                }
                else {
                    $("#validationamount").hide();
                    $('#Amount').css('border-color', '#ddd');
                }


                if ($("#Remark").val() == '') {
                    $("#validationRemark").show();
                    var validationDivs = '<div>Remark required</div>';
                    $('#validationRemark').html(validationDivs);
                    $('#Remark').css('border-color', '#ec3022');
                    fieldPanelValidation('#Remark', ".sparkline16-hd", ".sparkline13-graph");
                    flag = 0;
                }
                else {
                    $("#validationRemark").hide();
                    $('#Remark').css('border-color', '#ddd');
                }

                if ($("#Paymode").val() == null || $("#Paymode").val() == '') {
                    $("#validationpaymode").show();
                    var validationDivs = '<div>Select Paymode</div>';
                    $('#validationpaymode').html(validationDivs);
                    fieldPanelValidation('#validationpaymode', ".sparkline16-hd", ".sparkline13-graph");
                    $('#Paymode').css('border-color', '#ec3022');
                    flag = 0;
                }
                else {
                    $("#validationpaymode").hide();
                    $('#Paymode').css('border-color', '#ddd');
                }


                if (flag == 0) {
                    return false;
                }

                $('.loader').show();
            });
        });

        window.onbeforeunload = function () {
            $("input[type=button], input[type=submit]").attr("disabled", "disabled");
        };

        $(document).ready(function () {

            if ($('.validation-summary-errors ul li').html() != undefined) {
                fieldPanelValidation("", ".sparkline16-hd");
            }
            else {
                ResetPanelValidation("", ".sparkline16-hd");

            }



            $('#recipt').hide();
            $('#Notediv').hide();
            $("#reset").click(function () {
                window.location.reload();
            });
            $('#AccountBalance').attr('readonly', 'readonly')
            if ('@Model.ShowSubmit' == 'True') {
                $('#divPaymodeDetails').show();
                $('#btnSave').show();
                var value = $("#Paymode").val();
                if (value == "Payments.BankTransfer" || value == "Payments.CheckMoneyOrder" || value == "Payments.DemandDraft") {
                    $('#Continue').hide()
                    $('#recipt').show();
                    $('#Notediv').show();
                }
            } else {
                $('#btnSave').hide();
            }

            if ('@Model.ShowContinueSubmit' == 'True') {
                $('#Continue').show();
            } else {
                $('#Continue').hide();
            }

            if ('@Model.ShowAllPanel' == 'True') {
                $('#Continue').show();
                //$('#paymentInfo').show();
                //$('#divPaymodeDetails').show();
                //$('#btnSave').show();
            }

            $('#Paymode').on('change', function () {
                //
                var value = $(this).val();
                $('#btnSave').hide();
                $('#divPaymodeDetails').hide();
                $('#paymentInfo').hide();

                //if (value == "Payments.BankTransfer" || value == "Payments.CheckMoneyOrder" || value == "Payments.DemandDraft") {
                //    $('#divPaymodeDetails').show();
                //    $('#btnSave').show();
                //    $('#Continue').hide()
                //    $('#recipt').show();
                //    $('#Notediv').show();
                //} else {
                $('#Continue').show();
                $('#recipt').hide();
                $('#Notediv').hide();
                //}
            });
        });

        function validation(thisform) {
            with (file) {
                var ext = value.substring(value.lastIndexOf('.') + 1);
                if (ext == 0) {
                    return true;
                }
            }

            with (thisform) {
                if (validateFileExtension(file, "errorMessage1", "@T("Admin.Document.DocumentFormatNote")",
            new Array("jpg", "JPG", "jpeg", "JPEG", "png", "PNG")) == false) {
                    //"gif","GIF",
                    return false;
                }
                if (validateFileSize(file, 4194304, "errorMessage1", "File size exceeds the limit allowed.") == false) {
                    return false;
                }
            }
        }

        function validateFileExtension(component, msg_id, msg, extns) {
            var flag = 0;
            with (component) {
                var ext = value.substring(value.lastIndexOf('.') + 1);
                for (i = 0; i < extns.length; i++) {
                    if (ext == extns[i]) {
                        flag = 0;
                        break;
                    }
                    else {
                        flag = 1;
                    }
                }
                if (flag != 0) {
                    document.getElementById(msg_id).innerHTML = msg;
                    $("#errorMessage1").show();

                    component.value = "";
                    component.style.backgroundColor = "#eab1b1";
                    component.style.border = "thin solid #000000";
                    component.focus();
                    return false;
                }
                else {
                    return true;
                }
            }
        }

        function validateFileSize(component, maxSize, msg_id, msg) {
            //
            if (navigator.appName == "Microsoft Internet Explorer") {
                if (component.value) {
                    var oas = new ActiveXObject("Scripting.FileSystemObject");
                    var e = oas.getFile(component.value);
                    var size = e.size;
                }
            }
            else {
                if (component.files[0] != undefined) {
                    size = component.files[0].size;
                }
            }
            if (size != undefined && size > maxSize) {
                //
                var fileSize = size / 1024;

                document.getElementById(msg_id).innerHTML = msg + " Current File Size: " + Math.round(size / 1024) + "KB";

                //var validationMessage = msg + " Current File Size: " + fileSize + "MB";
                //$("#errorMessage1").val(validationMessage);
                $("#errorMessage1").show();

                component.value = "";
                component.style.backgroundColor = "#eab1b1";
                component.style.border = "thin solid #000000";
                component.focus();
                return false;
            }
            else {
                return true;
            }
        }

        $("#btnSave").click(function () {

            $('.loader').show();

            var fi = document.getElementById('file');
            if (fi.files.length > 0) {
                var fsize = fi.files.item(0).size;
                if (4194304 < fsize) {
                    var flag = true;
                    return false;
                }
            }

            //
            if ($('#Paymode').val() == 'Payments.CheckMoneyOrder' || $('#Paymode').val() == 'Payments.DemandDraft') {
                //
                var paymodeErrors = "";
                var flag = true;

                if ($('#BankName').val() == '') {
                    paymodeErrors = paymodeErrors + '<div>@T("Dashboard.MyDetails.UpgradeDetails.BankName")</div>';
                    $('#BankName').css('border-color', '#ec3022');
                    flag = false;
                }
                else {
                    $('#BankName').css('border-color', '#ddd');
                }

                if ($('#BranchName').val() == '') {
                    paymodeErrors = paymodeErrors + '<div>@T("Dashboard.MyDetails.UpgradeDetails.BranchName")</div>';
                    $('#BranchName').css('border-color', '#ec3022');
                    flag = false;
                }
                else {
                    $('#BranchName').css('border-color', '#ddd');
                }

                if ($('#Paymode').val() == 'Payments.CheckMoneyOrder') {
                    if ($('#ChequeDDNo').val() == '') {
                        paymodeErrors = paymodeErrors + '<div>@T("Dashboard.MyDetails.UpgradeDetails.ChequeNumber")</div>';
                        $('#ChequeDDNo').css('border-color', '#ec3022');
                        flag = false;
                    }
                    else {
                        $('#ChequeDDNo').css('border-color', '#ddd');
                    }

                    if ($('#ChequeDDDate').val() == '') {
                        paymodeErrors = paymodeErrors + '<div>@T("Dashboard.MyDetails.UpgradeDetails.ChequeDate")</div>';
                        $('#ChequeDDDate').css('border-color', '#ec3022');
                        flag = false;
                    }
                    else {
                        $('#ChequeDDDate').css('border-color', '#ddd');
                    }
                }

                if ($('#Paymode').val() == 'Payments.DemandDraft') {
                    if ($('#ChequeDDNo').val() == '') {
                        paymodeErrors = paymodeErrors + '<div>@T("Dashboard.MyDetails.UpgradeDetails.DDNumber")</div>';
                        $('#ChequeDDNo').css('border-color', '#ec3022');
                        flag = false;
                    }
                    else {
                        $('#ChequeDDNo').css('border-color', '#ddd');
                    }

                    if ($('#ChequeDDDate').val() == '') {
                        paymodeErrors = paymodeErrors + '<div>@T("Dashboard.MyDetails.UpgradeDetails.DDDate")</div>';
                        flag = false;
                    }
                }

                if (!flag) {
                    $('#PaymodeValidation').html(paymodeErrors);
                    return false;
                }
            }
        });

        $('input[type=file]').change(function (e) {
            registrationFlag = false;
            //
            $in = $(this);
            if (this.files.length != 0) {
                if (4194304 < this.files[0].size) {
                    $in.next().html("@T("Image must be less than 4mb")");
                    ImageFlag.push(true);
                }
                else {
                    $in.next().html("");


                }
            }
            else {
                $in.next().html("");

            }

        });

        $('#btnreset').on('click', (function () {
            $('.loader').show();
            document.location = "@(Url.Action("MemberAddMoney", "EWallet"))";
        }));

        window.onbeforeunload = function () {
            var buttons = document.getElementsByTagName("BUTTON");
            for (var i in buttons) {
                if (buttons[i].type == "button" || buttons[i].type == "submit") {
                    buttons[i].disabled = true;
                }
            }
        };

    </script>
}
