﻿@{
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
    //title

    ViewBag.Title = T("Ewallet.Strongpwdtip").Text;
}
<style>
    .sparkline16-graph {
        text-align: left !important;
    }
</style>

<br />
<div class="sparkline16-list shadow-reset">
    <div class="sparkline16-graph">
        <div class="datatable-dashv1-list custom-datatable-overright">
            <div>
                <div class="section-header">
                    <div class="title">
                        <div style="float:right;margin-top:1%;margin-right:2%">
                            <a title="@T("Account.Password.TipToBackToList.title")" class="btn btn-custon-four btn-primary" href="@Url.Action("EwalletChangePassword")"><b style="color:#fff">@T("Account.Password.TipToBackToList")</b> </a>
                        </div>
                    
                    </div>
                </div>
                <h4>
                   
                    @T("Account.Password.Usage")
                </h4>
                <ol>
                    <li>
                        @*Use when you want to choose passwords for your accounts that are hard to break or
                            guess by either human or computerized help.*@
                        @T("Account.Password.hardToBreak")
                    </li>
                    <li>
                        @*Use when you want to higher the entry barriers for attackers to get started tampering
                            with your system.*@
                        @T("Account.Password.barriersForAattackers")
                    </li>
                    <li>
                        @*Use when you want to be sure that you know what a good password is and that the
                            chosen password follows such guidelines.*@
                        @T("Account.Password.goodPpassword")

                    </li>
                </ol>
                <br />
                <h4>
                    @*Keys to password strength: length and complexity*@
                    @T("Account.Password.passwordStrength")
                </h4>
                @*The strength of a password depends on the different types of characters that you
                    use & the overall length of the password. An ideal password should be long and contain
                    letters, punctuation, symbols, and numbers. The Password Strength is indicated as
                    'Weak', 'Average', 'Good' & 'Strong'.*@
                @T("Account.Password.PasswordStrengthIndicated")
                <br />
                <br />
                @*The strength varies if,*@
                @T("Account.Password.variesStrength")
                <ol>
                    <li>@*It contains at-least 2 UPPERCASE Alphabets(s)*@ @T("Account.Password.UPPERCASEAlphabets")</li>
                    <li>@*It contains at-least 2 lowercase Alphabets(s)*@ @T("Account.Password.lowercaseAlphabets")</li>
                    <li>@*It contains at-least 2 Number(s)*@ @T("Account.Password.Number")</li>
                    <li>@*It contains at-least 2 Symbol(s)*@ @T("Account.Password.Symbol")</li>
                    <li>@*The preferred password length is of 12 character(s)*@ @T("Account.Password.passwordLengthUpto")</li>
                    <li>
                        "<b class="red-text"> < </b>","<b class="red-text"> > </b>","<b class="red-text">
                            '
                        </b>" @*these Character(s) Not allowed*@ @T("Account.Password.NotallowedCharacter")
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>