﻿@model Nop.Admin.ViewModel.MemberUpgradeTransaction

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //page title
    ViewBag.Title = T("Admin.MemberReport.MemberUpgradePackageTransaction").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Upgrade Customer");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.selectedIds)

    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.MemberReport.MemberUpgradePackageTransaction")
        </h1>
        <div class="pull-right">
            <div class="btn-group">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ddlChoice)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownList("ddlChoice", new List<SelectListItem>
                {
                    new SelectListItem{Text="All Record(s)",Value="1"},
                    new SelectListItem{Text="ID/Name-Wise",Value="0"},
                })
                                    </div>
                                </div>
                                <div class="form-group" id="trPackage">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ddlpackage)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.ddlpackage, Model.ddlpackageList)
                                    </div>
                                </div>
                                <div class="form-group" id="trMemName">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.MemId)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.SearchFirstName)
                                        @*<input type="text" id="SearchFirstName" value="" name="" />*@
                                        @Html.HiddenFor(model => model.MemId)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="trStartDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.MemId)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.StartDate)
                                        @Html.ValidationMessageFor(model => model.StartDate)
                                    </div>
                                </div>
                                <div class="form-group" id="trEndDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.EndDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.EndDate)
                                        @Html.ValidationMessageFor(model => model.EndDate)
                                    </div>
                                </div>
                                <div class="form-group" id="trUpgradeNote">
                                    <div class="col-md-4">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-8">
                                        <b id="MessageNote"> @T("Admin.Note.Note") </b> @T("Admin.Note.JoiningDates")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-1">
                                <button type="button" name="search" id="search-paidIdDetails" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="divShowHide">
                    <div class="panel-body">
                        <h3>@T("Admin.Customer.SearchResult")</h3>
                        <div id="paidIdDetails-grid"></div>

                        <script>
                            $(document).ready(function () {

                                $('#paidIdDetails-grid').hide();
                                $('#tableupgradeDetails').hide();
                                $('#divShowHide').hide();

                                $("#paidIdDetails-grid").kendoGrid({
                                    autoBind: false,
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("MemberUpgradeTransactionGrid", "MemberTransaction"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: true,
                                    columns: [{
                                        field: "Id",
                                        headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: "<input type='checkbox' id='#=Id#' value='#=Id# #=PvCode# #=PvType#' class='checkboxGroups'/>",
                                        width: 50,
                                    },{
                                        field: "SrNo",
                                        title: "@T("Admin.CustomerReport.SrNo")",
                                        width: 150,
                                        hidden:true
                                    },{
                                        field: "MemNo",
                                        title: "@T("Admin.CustomerReport.MemNo")",
                                        width: 200,
                                    },{
                                        field: "MemName",
                                        title: "@T("Admin.CustomerReport.MemName")",
                                        width: 200,
                                    },{
                                        field: "DOJ",
                                        title:  "@T("Admin.CustomerReport.DOJ")",
                                        width: 150,
                                        //  type: "date",
                                        //  format: "{0:G}"
                                    },{
                                        field: "DateOfConfirmation",
                                        title:  "@T("Admin.CustomerReport.DateOfConfirmation")",
                                        width: 150,
                                        // type: "date",
                                        // format: "{0:G}"
                                    },{
                                        field: "Status",
                                        title:  "@T("Admin.CustomerReport.Status")",
                                        width:100,
                                    }, {
                                        field: "JoiningPackage",
                                        title:  "@T("Admin.CustomerReport.JoiningPackage")",
                                        width:100,
                                    }, {
                                        field: "UpgradePackage",
                                        title:  "@T("Admin.CustomerReport.UpgradePackageGrid")",
                                        width:100,
                                        hidden: true,
                                    }, {
                                        field: "ChangePackage",
                                        title:  "@T("Admin.CustomerReport.UpgradeChangePackage")",
                                        width:200,
                                        template: "#=getDropDown(PvCode,MemId)#"
                                    }, {
                                        field: "PvCode",
                                        title:  "@T("Admin.CustomerReport.PvCode")",
                                        width: 100,
                                        hidden: true,
                                    }, {
                                        field: "PvType",
                                        title:  "@T("Admin.CustomerReport.PvType")",
                                        width:100,
                                        hidden: true,
                                    }, {
                                        field: "MemId",
                                        title:  "@T("Admin.CustomerReport.MemId")",
                                        width:100,
                                        hidden: true,
                                    }]
                                });
                            });

                            var changedDropdowns=new Array();
                            // $('#idChangePackage').change(function ()
                            function dropDownchange(elem) {

                                var value = $(elem).val();
                                if(value!='0')
                                {
                                    var idElem=$(elem).attr('id');
                                    var id=idElem.split('_')[1];
                                    var exist=false;

                                    for(var i=0;i<changedDropdowns.length;i++){
                                        if(changedDropdowns[i].MemId==id){
                                            changedDropdowns.splice(i,1);
                                        }
                                    }

                                    var some=new Object();
                                    some.MemId=id;
                                    some.newPvCode=value;
                                    changedDropdowns.push(some);
                                }
                                else
                                {
                                    // alert('Please select that valid option from the dropdown');
                                    $('#validationMessages').html('');
                                    $('#validationMessages').show();
                                    $("#validationMessages").html("@T("Admin.MemberTransaction.PleaseSelectValidOptionFromdropDown")");
                                    return false;
                                }
                            }

                            function  getDropDown(PVCode,MemId){
                                var str="<select id='idChangePackage_"+MemId+"' onchange='dropDownchange(this)' ><option value='0'>-- Select --</option>";

                                $.ajax({
                                    // url : "/MemberTransaction/LoadUpgradeGridDropDown",
                                    url :"@(Url.Action("LoadUpgradeGridDropDown", "MemberTransaction"))",
                                    type : "get",
                                    data:{typeId:PVCode},
                                    async: false,
                                    success : function(response) {
                                        if(response.ddlPackageListGrid.length>0 ){
                                            for(i=0;i<response.ddlPackageListGrid.length;i++)
                                            {
                                                str=str+"<option value='"+ response.ddlPackageListGrid[i].Value+"'>"+ response.ddlPackageListGrid[i].Text+"</option>";
                                            }
                                        }
                                    },
                                    error: function() {
                                        console.log('log');
                                    }
                                });
                                str=str+"</select>";
                                return str;
                            }

                        </script>

                        <script type="text/javascript">
                            var selectedIds = [];
                            $(document).ready(function () {

                                $('#mastercheckbox').click(function () {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#paidIdDetails-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                    }
                                    else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function (item, index) {
                                                return item != $check.val();
                                            });
                                        }
                                    }
                                    var ids = selectedIds.join(",");
                                    $('#selectedIds').val(ids);
                                    updateMasterCheckbox();
                                });

                                $("#save-upgradeDetails").click(function(){
                                    var Remark=$("#Remark").val();

                                    //if(Remark == '' && (selectedIds=='' || selectedIds.length<=0))
                                    //{
                                    //    alert("Please enter remark. \n Select At Least One Record.");
                                    //    return false;
                                    //}

                                    if(Remark == '')
                                    {
                                        $('#validationMessages').html('');
                                        $('#validationMessages').show();
                                        $("#validationMessages").html("@T("Admin.Validation.EnterRemark")");
                                        return false;
                                    }

                                    if(selectedIds=='' || selectedIds.length<=0)
                                    {
                                        $('#validationMessages').html('');
                                        $('#validationMessages').show();
                                        $("#validationMessages").html("@T("Admin.Validation.SelectAtLeastOneRecord")");
                                        return false;
                                    }
                                    var exist=true;
                                    var selectedMemId=new Array();

                                    $.each( changedDropdowns, function( index, value ) {
                                        selectedMemId.push(value.MemId);
                                    });
                                    $('#selectedIds').val('');
                                    $.each( selectedIds, function( index, value ) {
                                        var something=value.split(' ')[0];
                                        var found = $.inArray(something, selectedMemId) ;
                                        if(found<0)
                                        {
                                            exist=false;
                                        }
                                        else
                                        {
                                            var someone=$('#selectedIds').val();
                                            if(someone!='')
                                            {
                                                someone=someone+',';
                                            }
                                            someone =someone+something+' '+value.split(' ')[1]+' '+value.split(' ')[2]+' '+changedDropdowns[found].newPvCode;
                                            $('#selectedIds').val(someone);
                                        }
                                    });

                                    if(!exist)
                                    {
                                        //alert('Kindly select the appropriate value from the dropdown of the checkbox selected ');
                                        $('#validationMessages').html('');
                                        $('#validationMessages').show();
                                        $("#validationMessages").html("@T("Admin.MemberTransaction.Kindlyselecttheappropriatevaluefromdropdown")");
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.StartDate)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-paidIdDetails").click();
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.EndDate)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-paidIdDetails").click();
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.MemId)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-paidIdDetails").click();
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.ddlChoice)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-paidIdDetails").click();
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.ddlpackage)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-paidIdDetails").click();
                                        return false;
                                    }
                                });
                            });

                            function onDataBound(e) {
                                $('#paidIdDetails-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });
                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#paidIdDetails-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#paidIdDetails-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }

                            function additionalData() {

                                var StartDate=$("#StartDate").val();
                                var EndDate=$("#EndDate").val();
                                var startDate =null;
                                var endDate=null;

                                if(StartDate!="")
                                    startDate=getDate($("#StartDate").data("kendoDatePicker").value());
                                if(EndDate!="")
                                    endDate=getDate($("#EndDate").data("kendoDatePicker").value());

                                var data = {
                                    MemId: $('#@Html.FieldIdFor(model => model.MemId)').val(),
                                    ddlChoice: $('#@Html.FieldIdFor(model => model.ddlChoice)').val(),
                                    ddlpackage: $('#@Html.FieldIdFor(model => model.ddlpackage)').val(),
                                    StartDate: startDate,
                                    EndDate:endDate,
                                    @*StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                            EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),*@
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>

                    </div>
                </div>
                <div class="panel panel-default panel-search" id="tableupgradeDetails">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Remark)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopTextAreaFor(model => model.Remark)
                                        @Html.ValidationMessageFor(model => model.Remark)
                                    </div>
                                </div>
                                @if (Model.ManualDateEnabled)
                                {
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.ManualDate)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.ManualDay),
                              Html.FieldNameFor(x => x.ManualMonth),
                              Html.FieldNameFor(x => x.ManualYear),
                                DateTime.Now.Year - 110,
                                DateTime.Now.Year,
                              Model.ManualDay,
                              Model.ManualMonth,
                       Model.ManualYear)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.ManualHours)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.ManualHours, new List<SelectListItem>() { new SelectListItem { Text = "00", Value = "0" }, new SelectListItem { Text = "01", Value = "1" }, new SelectListItem { Text = "02", Value = "2" }
                       , new SelectListItem { Text = "03", Value = "3" }, new SelectListItem { Text = "04", Value = "4" }, new SelectListItem { Text = "05", Value = "5" }, new SelectListItem { Text = "06", Value = "6" }
                       , new SelectListItem { Text = "07", Value = "7" }, new SelectListItem { Text = "08", Value = "8" }, new SelectListItem { Text = "09", Value = "9" }, new SelectListItem { Text = "10", Value = "10" }, new SelectListItem { Text = "11", Value = "11" }, new SelectListItem { Text = "12", Value = "12" }
                          }, new { @class = "valid" })

                                            @Html.DropDownListFor(model => model.ManualMinutes, new List<SelectListItem>() { new SelectListItem { Text = "00", Value = "0" }, new SelectListItem { Text = "01", Value = "1" }, new SelectListItem { Text = "02", Value = "2" }
                       , new SelectListItem { Text = "03", Value = "3" }, new SelectListItem { Text = "04", Value = "4" }, new SelectListItem { Text = "05", Value = "5" }, new SelectListItem { Text = "06", Value = "6" }
                       , new SelectListItem { Text = "07", Value = "7" }, new SelectListItem { Text = "08", Value = "8" }, new SelectListItem { Text = "09", Value = "9" }, new SelectListItem { Text = "10", Value = "10" }, new SelectListItem { Text = "11", Value = "11" }, new SelectListItem { Text = "12", Value = "12" }
                       , new SelectListItem { Text = "13", Value = "13" }, new SelectListItem { Text = "14", Value = "14" }, new SelectListItem { Text = "15", Value = "15" }, new SelectListItem { Text = "16", Value = "16" }, new SelectListItem { Text = "17", Value = "17" }, new SelectListItem { Text = "18", Value = "18" }, new SelectListItem { Text = "19", Value = "19" }, new SelectListItem { Text = "20", Value = "20" }, new SelectListItem { Text = "21", Value = "21" }, new SelectListItem { Text = "22", Value = "22" }, new SelectListItem { Text = "23", Value = "23" }
                       , new SelectListItem { Text = "24", Value = "24" }, new SelectListItem { Text = "25", Value = "25" }, new SelectListItem { Text = "26", Value = "26" }, new SelectListItem { Text = "27", Value = "27" }, new SelectListItem { Text = "28", Value = "28" }
                       , new SelectListItem { Text = "29", Value = "29" }, new SelectListItem { Text = "30", Value = "30" }, new SelectListItem { Text = "31", Value = "31" }, new SelectListItem { Text = "32", Value = "32" }
                       , new SelectListItem { Text = "33", Value = "33" }, new SelectListItem { Text = "34", Value = "34" }, new SelectListItem { Text = "35", Value = "35" }
                       , new SelectListItem { Text = "36", Value = "36" }, new SelectListItem { Text = "37", Value = "37" }, new SelectListItem { Text = "38", Value = "38" }, new SelectListItem { Text = "39", Value = "39" }
                        , new SelectListItem { Text = "40", Value = "40" }, new SelectListItem { Text = "41", Value = "41" }, new SelectListItem { Text = "42", Value = "42" }
                       , new SelectListItem { Text = "43", Value = "43" }, new SelectListItem { Text = "44", Value = "44" }, new SelectListItem { Text = "45", Value = "45" }, new SelectListItem { Text = "46", Value = "46" } , new SelectListItem { Text = "47", Value = "47" }, new SelectListItem { Text = "48", Value = "48" }, new SelectListItem { Text = "49", Value = "49" }
                       , new SelectListItem { Text = "50", Value = "50" }, new SelectListItem { Text = "51", Value = "51" }, new SelectListItem { Text = "52", Value = "52" }, new SelectListItem { Text = "53", Value = "53" }
                       , new SelectListItem { Text = "54", Value = "54" }, new SelectListItem { Text = "55", Value = "55" }, new SelectListItem { Text = "56", Value = "56" }, new SelectListItem { Text = "57", Value = "57" } , new SelectListItem { Text = "58", Value = "58" }, new SelectListItem { Text = "59", Value = "59" }
                       }, new { @class = "valid" })
                                            @Html.DropDownListFor(model => model.ManualTimeZone, new List<SelectListItem>() { new SelectListItem { Text = "AM", Value = "AM" }, new SelectListItem { Text = "PM", Value = "PM" } }, new { @class = "valid" })

                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-1">
                                <button type="submit" name="Save" id="save-upgradeDetails" class="btn btn-primary btn-search">
                                    <i class="fa fa-save"></i>
                                    @T("Admin.Common.Save")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        $('#SearchFirstName').autocomplete({
            delay: 500,
            minLength: 1,
            @*source: '@(Url.Action("SearchTermAutoComplete", "MemberTransaction"))',*@
            source: '@(Url.Action("SearchTermAutoCompleteDownline", "Common"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                $("#MemId").val(ui.item.Id);
                $("#SearchFirstName").val(ui.item.label);
                $("#divfirstname").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };

        $(document).ready(function () {
            $("#StartDate").keyup(function(){
                $(this).val('');
            });
            $("#EndDate").keyup(function(){
                $(this).val('');
            });

            $('#trMemName').hide();
            $("#validationMessages").hide();

            $('#ddlChoice').change(function () {
                var value = $(this).val();

                $('#ddlpackage').val('All Record(s)');
                $('#MemId').val("");
                $('#SearchFirstName').val("");
                $('#EndDate').val("");
                $('#StartDate').val("");
                $('#Remark').val("");

                if (value == 0) {
                    $('#trMemName').show();
                    $('#trUpgradeNote').hide();
                    $('#trStartDate').hide();
                    $('#trEndDate').hide();
                    $('#trPackage').hide();
                    $("#validationMessages").hide();
                    $('#paidIdDetails-grid').hide();
                    $('#divShowHide').hide();
                    $('#tableupgradeDetails').hide();
                }
                else {
                    $('#trMemName').hide();
                    $('#trUpgradeNote').show();
                    $('#trPackage').show();
                    $('#trStartDate').show();
                    $('#trEndDate').show();
                    $("#validationMessages").hide();
                    $('#paidIdDetails-grid').hide();
                    $('#divShowHide').hide();
                    $('#tableupgradeDetails').hide();
                }
            });
        });

        $("#search-paidIdDetails").click(function() {
            //  
            var Choice = $("#ddlChoice").val();
            var SearchFirstName =  $("#SearchFirstName").val();
            var MemId =  $("#MemId").val();
            var ddlpackage=$('#ddlpackage').val();
            var StartDate =  $("#StartDate").val();
            var EndDate =  $("#EndDate").val();
            var validationDivs='';
            $('#validationMessages').html('');
            $('#paidIdDetails-grid').hide();
            $('#divShowHide').hide();
            $("#validationMessages").hide();
            $('#tableupgradeDetails').hide();

            $(".alert.alert-success.alert-dismissable").hide();
            $(".alert.alert-danger.alert-dismissable").hide();
            var flag=true;

            if (Choice == 0 )
            {
                if (SearchFirstName == '' )
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.IdNameRequired")</div>';
                    flag=false;
                }

                if(SearchFirstName != "" && MemId == '')
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                    flag=false;
                }
            }

            if (Choice == 1)
            {
                if(StartDate != '' && EndDate == '')
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                    flag=false;
                }

                if(EndDate != '' && StartDate == '')
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                    flag=false;
                }
                var EnteredDate = getDate($("#StartDate").data("kendoDatePicker").value());
                var EnteredFromdate=getDate($("#EndDate").data("kendoDatePicker").value());

                var myDate = new Date(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                var myFromDate = new Date(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                var today = new Date();
                var start_time=$("#DatewiseFrom").val();
                var end_time=$("#DatewiseTo").val();

                if (myFromDate > today) {

                    validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    flag=false;
                }
                if (myFromDate < myDate) {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    flag=false;
                }
            }

            if(flag){
                
                var StartDate=$("#StartDate").val();
                var EndDate=$("#EndDate").val();
                var startDate =null;
                var endDate=null;

                if(StartDate!="")
                    startDate=getDate($("#StartDate").data("kendoDatePicker").value());
                if(EndDate!="")
                    endDate=getDate($("#EndDate").data("kendoDatePicker").value());

                var data = {
                    MemId: $('#MemId').val(),
                    ddlChoice: $('#ddlChoice').val(),
                    StartDate: startDate,
                    EndDate:endDate,
                    //StartDate: $('#StartDate').val(),
                    //EndDate: $('#EndDate').val(),
                    ddlpackage:$('#ddlpackage').val(),
                }

                addAntiForgeryToken(data);

                $("#sucessMessages").html(@ViewBag.returnMessage);

                $.ajax({
                    url: "@Html.Raw(Url.Action("MemberUpgradeTransactionGrid", "MemberTransaction"))",
                    type: "POST",
                    dataType: "json",
                    data:data  , success: function(result){
                        $('#Remark').val("");
                        //if(result == "norecords" )
                        //{
                        //    $("#validationMessages").show();
                        //    $("#validationMessages").html("No Record(s) found !!!");
                        //    $('#paidIdDetails-grid').hide();
                        //    $('#tableupgradeDetails').hide();
                        //    return;
                        //}

                        if(result == "donetransaction" )
                        {
                            $("#validationMessages").show();
                            $("#validationMessages").html("@T("Admin.UpgradeTransaction.AlredyDoneTran")");
                            $('#paidIdDetails-grid').hide();
                            $('#divShowHide').hide();
                            $('#tableupgradeDetails').hide();
                            return;
                        }

                        if( result!="donetransaction" )//result!="norecords" &&
                        {
                            var grid = $('#paidIdDetails-grid').data('kendoGrid');
                            grid.dataSource.page(1); //new search. Set page size to 1
                            $('.checkboxGroups').attr('checked', false).change();
                            selectedIds = [];
                            //   $('#ddlChoice').val("1");
                            //  $('#MemId').val("");
                            //   $('#SearchFirstName').val("");
                            $('#paidIdDetails-grid').show();
                            $('#divShowHide').show();
                            $('#tableupgradeDetails').show();
                            return false;
                        }
                    }
                });
            }
            else{
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
            }
        });

        $("#SearchFirstName").keydown(function(evt) {
            var charCode = (evt.charCode) ? evt.charCode : ((evt.which) ? evt.which : evt.keyCode);
            if (charCode != 13)
            {
                $("#MemId").val("");
            }
        });

        $(document).ready(function () {
            $("#ddlChoice").val("1");
            $("#reset-upgradeDetails").click(function (){
                $("#ddlChoice").val("1");
                $("#MemId").val("");
                $("#SearchFirstName").val("");
                $('#ddlpackage').val("All Record(s)");
                $("#StartDate").val("");
                $("#EndDate").val("");
                $('#trMemName').hide();
                $('#trPackage').show();
                $("#trEndDate").show();
                $("#trStartDate").show();
                $('#paidIdDetails-grid').hide();
                $('#tableupgradeDetails').hide();
                $('#validationMessages').html('');
            });

        });
    </script>
}


<script>
    window.onbeforeunload = function () {
        var buttons = document.getElementsByTagName("BUTTON");
        for (var i in buttons) {
            if (buttons[i].type == "button" || buttons[i].type == "submit") {
                buttons[i].disabled = true;
            }
        }
    };
</script>