﻿@model Nop.Admin.ViewModel.MemberStatusChangeTransaction

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //page title
    ViewBag.Title = T("Admin.MemberReport.MemberStatusChangeTransaction").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Member Status Change Transaction");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.intChoice1)
    @Html.HiddenFor(m => m.chvStatus1)
    @Html.HiddenFor(m => m.intMemId1)
    @Html.HiddenFor(m => m.objStartDate1)
    @Html.HiddenFor(m => m.objEndDate1)

    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.MemberReport.MemberStatusChangeTransaction")
        </h1>
        <div class="pull-right">
            <div class="btn-group">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ddlChoice)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownList("ddlChoice", new List<SelectListItem>
                {
                    new SelectListItem{Text="All Record(s)",Value="3"},
                    new SelectListItem{Text="ID/Name-Wise",Value="0"},
                })
                                    </div>
                                </div>
                                <div class="form-group" id="trPackage">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ddlStatus)
                                    </div>
                                    <div class="col-md-8">
                                        @*@Html.DropDownList("ddlStatus", new List<SelectListItem>
                                            {
                                                new SelectListItem{Text="All Record(s)",Value="All Record(s)"},
                                                new SelectListItem{Text="In-active",Value="In-active"},
                                                new SelectListItem{Text="Active", Value="Active"}

                                            })*@
                                        @Html.NopDropDownListFor(model => model.ddlStatus, Model.ddlStatusList)
                                    </div>
                                </div>
                                <div class="form-group" id="trMemName">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.MemId)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.SearchFirstName)
                                        @*<input type="text" id="SearchFirstName" value="" name="" />*@
                                        @Html.HiddenFor(model => model.MemId)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="trStartDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.StartDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.StartDate)
                                        @Html.ValidationMessageFor(model => model.StartDate)
                                    </div>
                                </div>
                                <div class="form-group" id="trEndDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.EndDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.EndDate)
                                        @Html.ValidationMessageFor(model => model.EndDate)
                                    </div>
                                </div>
                                <div class="form-group" id="trStatusChangeNote">
                                    <div class="col-md-4">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-8">
                                        <b id="MessageNote"> @T("Admin.Note.Note") </b> @T("Admin.Note.JoiningDates")
                                    </div>
                                </div>
                                <div class="col-md-4 col-md-offset-3">
                                    <button type="button" name="search" id="search-paidIdDetails" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="divShowHide">
                    <div class="panel-body">
                        <h3>@T("Admin.Customer.SearchResult")</h3>
                        <div id="paidIdDetails-grid"></div>

                        <script>
                            $(document).ready(function () {

                                $('#paidIdDetails-grid').hide();
                                $('#tableupgradeDetails').hide();
                                $('#divShowHide').hide();

                                $("#paidIdDetails-grid").kendoGrid({
                                    autoBind: false,
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("MemberStatusChangeTransactionGrid", "MemberTransaction"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: true,
                                    columns: [{
                                        field: "Id",
                                        headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: "<input type='checkbox' value='#=MJDMemID# #=CurrentStatus# #=StatusID#' class='checkboxGroups'/>",
                                        width: 50
                                    },{
                                        field: "SrNo",
                                        title: "@T("Admin.CustomerReport.SrNo")",
                                        width: 200,
                                        hidden:true
                                    },{
                                        field: "MemId",
                                        title: "@T("Admin.CustomerReport.MemNoGrid")",
                                        width: 200,
                                    },{
                                        field: "MemName",
                                        title: "@T("Admin.CustomerReport.MemName")",
                                        width: 200,
                                    },{
                                        field: "DOJ",
                                        title:  "@T("Admin.CustomerReport.DOJ")",
                                        width: 200,
                                        //  type: "date",
                                        // format: "{0:G}"
                                    },{
                                        field: "CurrentStatus",
                                        title:  "@T("Admin.CustomerReport.CurrentMemberStatus")",
                                        width: 200,
                                    }, {
                                        field: "ChangePackage",
                                        title:  "@T("Admin.CustomerReport.ChangePackage")",
                                        width: 200,
                                        template: "#=getDropDown(CurrentStatus,MJDMemID)#"
                                    },{
                                        field: "MSDID",
                                        title:  "@T("Admin.CustomerReport.MSDID")",
                                        width: 200,
                                        hidden: true,
                                    }, {
                                        field: "MJDMemID",
                                        title:  "@T("Admin.CustomerReport.MJDMemID")",
                                        width: 200,
                                        hidden: true,
                                    }, {
                                        field: "StatusID",
                                        title:  "@T("Admin.CustomerReport.StatusID")",
                                        width: 200,
                                        hidden: true,
                                    }]
                                });
                            });

                            var changedDropdowns=new Array();
                            // $('#idChangePackage').change(function ()
                            function dropDownchange(elem) {
                                // 
                                var value = $(elem).val();
                                if(value!='Select')
                                {

                                    var idElem=$(elem).attr('id');
                                    var id=idElem.split('_')[1];
                                    var exist=false;

                                    for(var i=0;i<changedDropdowns.length;i++){
                                        if(changedDropdowns[i].MJDMemID==id){
                                            changedDropdowns.splice(i,1);
                                        }
                                    }

                                    var NewStatus=new Object();
                                    NewStatus.MJDMemID=id;
                                    NewStatus.NewStatus=value;
                                    changedDropdowns.push(NewStatus);
                                }
                                else
                                {
                                    // alert('Please select that valid option from the dropdown');
                                    $('#validationMessages').html('');
                                    $('#validationMessages').show();
                                    $("#validationMessages").html("@T("Admin.MemberTransaction.PleaseSelectValidOptionFromdropDown")");
                                    return false;
                                }
                            }

                            function  getDropDown(CurrentStatus,MJDMemID){
                                var str="<select id='idStatusChange_"+MJDMemID+"' onchange='dropDownchange(this)' ><option value='Select'>-- Select --</option>";
                                // 
                                $.ajax({
                                    url :"@(Url.Action("LoadStatusChangeGridDropDown", "MemberTransaction"))",
                                    type : "get",
                                    data:{currentStatus:CurrentStatus},
                                    async: false,
                                    success : function(response) {
                                        if(response.ddlStatusListGrid.length>0 ){
                                            for(i=0;i<response.ddlStatusListGrid.length;i++)
                                            {
                                                str=str+"<option value='"+ response.ddlStatusListGrid[i].Value+"'>"+ response.ddlStatusListGrid[i].Text+"</option>";
                                            }
                                        }
                                    },
                                    error: function() {
                                        console.log('log');
                                    }
                                });
                                str=str+"</select>";
                                return str;
                            }

                        </script>

                        <script type="text/javascript">
                            var selectedIds = [];
                            $(document).ready(function () {

                                $('#mastercheckbox').click(function () {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#paidIdDetails-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                    }
                                    else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function (item, index) {
                                                return item != $check.val();
                                            });
                                        }
                                    }
                                    var ids = selectedIds.join(",");
                                    $('#selectedIds').val(ids);
                                    updateMasterCheckbox();
                                });

                                $("#save-upgradeDetails").click(function(){

                                    $(".alert.alert-success.alert-dismissable").hide();
                                    $(".alert.alert-danger.alert-dismissable").hide();

                                    var Remark=$("#Remark").val();
                                    // 
                                    if(Remark == '')
                                    {
                                        $('#validationMessages').html('');
                                        $('#validationMessages').show();
                                        $("#validationMessages").html("@T("Admin.Validation.EnterRemark")");
                                        return false;
                                    }

                                    if(selectedIds=='' || selectedIds.length<=0)
                                    {
                                        $('#validationMessages').html('');
                                        $('#validationMessages').show();
                                        $("#validationMessages").html("@T("Admin.Validation.SelectAtLeastOneRecord")");
                                        return false;
                                    }
                                    var exist=true;
                                    var selectedMemId=new Array();

                                    $.each( changedDropdowns, function( index, value ) {
                                        selectedMemId.push(value.MJDMemID);
                                    });
                                    // 

                                    $('#selectedIds').val('');
                                    $.each( selectedIds, function( index, value ) {
                                        var StatusData=value.split(' ')[0];
                                        var found = $.inArray(StatusData, selectedMemId) ;
                                        if(found<0)
                                        {
                                            exist=false;
                                        }
                                        else
                                        {
                                            var StatusChange=$('#selectedIds').val();
                                            if(StatusChange!='')
                                            {
                                                StatusChange=StatusChange+',';
                                            }
                                            StatusChange =StatusChange + StatusData +' '+ value.split(' ')[1] +' '+ value.split(' ')[2] +' '+ changedDropdowns[found].NewStatus;
                                            $('#selectedIds').val(StatusChange);
                                        }
                                    });

                                    if(!exist)
                                    {
                                        // alert('Kindly select the appropriate value from the dropdown of the checkbox selected ');
                                        $('#validationMessages').html('');
                                        $('#validationMessages').show();
                                        $("#validationMessages").html("@T("Admin.MemberTransaction.Kindlyselecttheappropriatevaluefromdropdown")");
                                        return false;
                                    }
                                });


                                $("#@Html.FieldIdFor(model => model.StartDate)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-paidIdDetails").click();
                                        return false;
                                    }
                                });


                                $("#@Html.FieldIdFor(model => model.EndDate)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-paidIdDetails").click();
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.MemId)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-paidIdDetails").click();
                                        return false;
                                    }
                                });


                                $("#@Html.FieldIdFor(model => model.ddlChoice)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-paidIdDetails").click();
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.ddlStatus)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-paidIdDetails").click();
                                        return false;
                                    }
                                });
                            });

                            function onDataBound(e) {
                                $('#paidIdDetails-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });
                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#paidIdDetails-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#paidIdDetails-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }

                            function additionalData() {

                                var StartDate=$("#StartDate").val();
                                var Choice=$("#ddlChoice").val();
                                var EndDate=$("#EndDate").val();
                                var startDate =null;
                                var endDate=null;
                                if(Choice!='0')
                                {
                                    if(StartDate!="")
                                        startDate=getDate($("#StartDate").data("kendoDatePicker").value());
                                    if(EndDate!="")
                                        endDate=getDate($("#EndDate").data("kendoDatePicker").value());
                                }

                                var data = {
                                    MemId: $('#@Html.FieldIdFor(model => model.MemId)').val(),
                                    ddlStatus: $('#@Html.FieldIdFor(model => model.ddlStatus)').val(),
                                    ddlChoice:$('#@Html.FieldIdFor(model => model.ddlChoice)').val(),
                                    //StartDate: $('#StartDate').val(),
                                    //EndDate: $('#EndDate').val(),
                                    StartDate:startDate,
                                    EndDate:endDate,
                                }
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>

                    </div>
                </div>
                <div class="panel panel-default panel-search" id="tableupgradeDetails">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Remark)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopTextAreaFor(model => model.Remark)
                                        @Html.ValidationMessageFor(model => model.Remark)
                                    </div>
                                </div>
                                <div class="col-md-4 col-md-offset-3">
                                    <button type="submit" name="Save" id="save-upgradeDetails" class="btn btn-primary btn-search">
                                        <i class="fa fa-save"></i>
                                        @T("Admin.Common.Save")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.selectedIds)

    <script>
        $('#SearchFirstName').autocomplete({
            delay: 500,
            minLength: 1,
            @*source: '@(Url.Action("SearchTermAutoComplete", "MemberTransaction"))',*@
            source: '@(Url.Action("SearchTermAutoCompleteDownline", "Common"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                $("#MemId").val(ui.item.Id);
                $("#SearchFirstName").val(ui.item.label);
                $("#divfirstname").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };

        $(document).ready(function () {
            $("#StartDate").keyup(function(){
                $(this).val('');
            });
            $("#EndDate").keyup(function(){
                $(this).val('');
            });

            $('#trMemName').hide();
            $("#validationMessages").hide();

            $('#ddlChoice').change(function () {
                $('#tableupgradeDetails').hide();
                $('#divShowHide').hide();

                var value = $(this).val();
                if (value == 0) {
                    $('#trMemName').show();
                    $('#trStartDate').hide();
                    $('#trEndDate').hide();
                    $('#trPackage').hide();
                    $("#validationMessages").hide();
                    $('#trStatusChangeNote').hide();
                    $('#StartDate').val('');
                    $('#EndDate').val('');
                    $('#SearchFirstName').val('');
                    $('#MemId').val('');
                    $('#ddlStatus').val('All Record(s)');
                }
                else {
                    $('#trMemName').hide();
                    $('#trPackage').show();
                    $('#trStartDate').show();
                    $('#trEndDate').show();
                    $("#validationMessages").hide();
                    $('#trStatusChangeNote').show();
                    $('#StartDate').val('');
                    $('#EndDate').val('');
                    $('#SearchFirstName').val('');
                    $('#MemId').val('');
                    $('#ddlStatus').val('All Record(s)');
                }
            });
        });

        $("#search-paidIdDetails").click(function() {
            
            var Choice = $("#ddlChoice").val();
            var SearchFirstName =  $("#SearchFirstName").val();
            var MemId =  $("#MemId").val();
            var ddlpackage=$('#ddlStatus').val();
            var StartDate =  $("#StartDate").val();
            var EndDate =  $("#EndDate").val();

            var validationDivs='';
            $('#validationMessages').html('');
            $('#paidIdDetails-grid').hide();
            $('#divShowHide').hide();
            $("#validationMessages").hide();
            $('#tableupgradeDetails').hide();
            $("#Remark").val("");

            var flag=true;

            $(".alert.alert-success.alert-dismissable").hide();
            $(".alert.alert-danger.alert-dismissable").hide();

            if (Choice == 0 )
            {
                if (SearchFirstName == '' )
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.IdNameRequired")</div>';
                    flag=false;
                }

                if(SearchFirstName != "" && MemId == '')
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                    flag=false;
                }
            }

            if (Choice == 3)
            {
                if(StartDate != '' && EndDate == '')
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                    flag=false;
                }

                if(EndDate != '' && StartDate == '')
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                    flag=false;
                }

                var EnteredDate = getDate($("#StartDate").data("kendoDatePicker").value());
                var EnteredFromdate=getDate($("#EndDate").data("kendoDatePicker").value());

                var myDate = new Date(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                var myFromDate = new Date(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                var today = new Date();
                var start_time=$("#DatewiseFrom").val();
                var end_time=$("#DatewiseTo").val();

                if (myFromDate > today) {

                    validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    flag=false;
                }
                if (myFromDate < myDate) {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    flag=false;
                }
            }

            if(flag){
                var startDate =null;
                var endDate=null;
                if(Choice!='0')
                {
                    if(StartDate!="")
                        startDate=getDate($("#StartDate").data("kendoDatePicker").value());
                    if(EndDate!="")
                        endDate=getDate($("#EndDate").data("kendoDatePicker").value());
                }

                var data = {
                    MemId: $('#MemId').val(),
                    ddlChoice: $('#ddlChoice').val(),
                    ddlStatus:$('#ddlStatus').val(),
                    //StartDate: $('#StartDate').val(),
                    //EndDate: $('#EndDate').val(),
                    StartDate:startDate,
                    EndDate:endDate,
                }

                addAntiForgeryToken(data);

                $("#sucessMessages").html(@ViewBag.returnMessage);

                @*$.ajax({
                    url: "@Html.Raw(Url.Action("MemberStatusChangeTransactionGrid", "MemberTransaction"))",
                    type: "POST",
                    dataType: "json",
                    data:data  , success: function(result){

                        if(result == "norecords" )
                        {
                            $("#validationMessages").show();
                            $("#validationMessages").html("No Record(s) found !!!");
                            $('#paidIdDetails-grid').hide();
                            $('#tableupgradeDetails').hide();
                            return;
                        }

                        if(result == "donetransaction" )
                        {
                            $("#validationMessages").show();
                            $("#validationMessages").html("@T("Admin.UpgradeTransaction.AlredyDoneTran")");
                            $('#paidIdDetails-grid').hide();
                            $('#tableupgradeDetails').hide();
                            return;
                        }

                        if(result!="norecords" && result!="donetransaction" )
                        {*@
                var grid = $('#paidIdDetails-grid').data('kendoGrid');
                grid.dataSource.page(1); //new search. Set page size to 1
                //grid.dataSource.read(); we already loaded the grid above using "page" function
                //clear selected checkboxes
                $('.checkboxGroups').attr('checked', false).change();
                selectedIds = [];
                $('#paidIdDetails-grid').show();
                $('#divShowHide').show();
                $('#tableupgradeDetails').show();
                return false;
                //        }
                //    }
                //});
            }
            else{
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
            }
        });

        $("#SearchFirstName").keydown(function(evt) {
            var charCode = (evt.charCode) ? evt.charCode : ((evt.which) ? evt.which : evt.keyCode);
            if (charCode != 13 && charCode != 9)
            {
                $("#MemId").val("");
            }
        });

    </script>

    <script>
        $(document).ready(function () {
            $("#reset").click(function (){
                $("#ddlChoice").val("3");
                $("#MemId").val("");
                $("#SearchFirstName").val("");
                $('#ddlpackage').val("All Record(s)");
                $("#StartDate").val("");
                $("#EndDate").val("");
                $('#trMemName').hide();
                $('#trPackage').show();
                $("#trEndDate").show();
                $("#trStartDate").show();
                $('#paidIdDetails-grid').hide();
                $('#divShowHide').hide();
                $('#tableupgradeDetails').hide();
                $('#validationMessages').html('');
                $('#validationMessages').hide();
                $("#Remark").val("");
                $(".alert.alert-success.alert-dismissable").hide();
                $(".alert.alert-danger.alert-dismissable").hide();
            });

        });
    </script>
}
