﻿@model Nop.Web.Framework.Models.DashBoard.DashboardDetails
@using Nop.Web.Framework.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwoVF.cshtml";
    Html.AddTitleParts(T("Dashboard.Title.MyDesktop").Text);
}
@Html.AntiForgeryToken()

<style>
    .table > thead > tr > th {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

    .stausImg {
        width: 25px !important;
        height: 25px;
    }

    .cart label {
        display: block !important;
        text-align: center !important;
    }
    #MyrecentJoining_filter{
        display:none
    }
     .panel-body {
        font-size: small !important;
    }
</style>

@section left
    {
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Info })
}

<div class="page home-page">
    <div class="page account-page return-request-list-page ">

        <div class="page-title">
            <h1>@T("Dashboard.Title.MoreInformation")</h1>
        </div>
        <div class="page account-page return-request-list-page ">


            <div class="page-body">
                @*@Html.Widget("home_page_before_categories")*@

                @Html.Widget("home_page_before_news")
                @if (Model.dashboradSettings != null)
                {
                    if (Model.dashboradSettings.RecentJoining)
                    {
                        @Html.Action("RecentJoinings", "VFDashboard")
                    }
                  
                    if (Model.dashboradSettings.getPlanType == 3)
                    {
                        @Html.Action("MyBinaryDownline", "VFDashboard")
                        @Html.Action("MyGenerationDownline", "VFDashboard")
                    }

                    if (Model.dashboradSettings.getPlanType == 2)
                    {                    
                        @Html.Action("MyBinaryDownline", "VFDashboard")
                    }
                    else if (Model.dashboradSettings.getPlanType == 1)
                    {
                        if (Model.dashboradSettings.MyDownlineDetails)
                        {
                            @Html.Action("MyBinaryDownline", "VFDashboard")
                        }
                    }

                    if (Model.dashboradSettings.MyAwardStatus)
                    {
                        @Html.Action("MyAwardStatus", "VFDashboard")
                    }

                    if (Model.dashboradSettings.MyRoyaltyStatus)
                    {
                        @Html.Action("MyRoyaltyStatus", "VFDashboard")
                    }

                    if (Model.dashboradSettings.RenewSetting)
                    {
                        @Html.Action("RenewDetails", "VFDashboard")
                    }
                }
                @if (Model.dashboradSettings.ForthComingPayoutcounts)
                {
                    @Html.Action("MyForthcomingPayouts", "VFDashboard")
                }
             
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
     
        $(document).ready(function () {

            $('#MyBinaryDownline').dataTable(
           {
               pagingType: "full_numbers",
               iDisplayLength: 10,
               dom: 'T<"clear">lfrtip',
               "oLanguage": {
                   "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
               },
               tableTools: {
                   "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                   "sRowSelect": "multi",
                   "aButtons": [
                  
                   ]              

               }
           });

            $('#MyBinaryDownlineTotal').dataTable(
         {
             pagingType: "full_numbers",
             iDisplayLength: 10,
             dom: 'T<"clear">lfrtip',
             "oLanguage": {
                 "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
             },
             tableTools: {
                 "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                 "sRowSelect": "multi",
                 "aButtons": [
                    
                 ]
             }

         });

            $('#MyforthomingPayouts').dataTable({
                pagingType: "full_numbers",
                iDisplayLength: 10,
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [
                       
                    ]
                }
            });
            $('#MyAwardsStatus').dataTable({
                pagingType: "full_numbers",
                "ordering": false,
                "aaSorting": [],
                iDisplayLength: 10,
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [
                          
                    ]
                }
            });
            $('#MyGenerationDownline').dataTable({
                pagingType: "full_numbers",
                iDisplayLength: 10,
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [
                       
                    ]
                }
            });

            $('#MyGenerationDownlineTotal').dataTable({
                pagingType: "full_numbers",
                iDisplayLength: 10,
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [
                     
                    ]
                }
            });

            $('#MyRoyaltyStatus').dataTable({
                pagingType: "full_numbers",
                "ordering": false,
                "aaSorting": [],
                iDisplayLength: 10,
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [
                     
                    ]
                }
            });
            $('#MyrecentJoining').dataTable({
                pagingType: "full_numbers",
                "ordering": false,
                "aaSorting": [],
                iDisplayLength: 10,
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [
                      
                    ]
                }
            });

            $('#MyRenewStatus').dataTable({
                pagingType: "full_numbers",
                iDisplayLength: 10,
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [
                       
                    ]
                }
            });

            var rowCount = $("#MyrecentJoining td").closest("tr").length;        
            var rowCount1 = $("#MyRoyaltyStatus td").closest("tr").length;
            var rowCount2 = $("#MyAwardsStatus td").closest("tr").length;
            if (rowCount > 10) {

                $("#MyrecentJoining_length").show();
                $("#MyrecentJoining_paginate").show();
            }
            else {
                $("#MyrecentJoining_length").hide();
                $("#MyrecentJoining_paginate").hide();
            }

            if (rowCount1 > 10) {

                $("#MyRoyaltyStatus_length").show();
            }
            else { $("#MyRoyaltyStatus_length").hide(); }

            if (rowCount2 > 10) {

                $("#MyAwardsStatus_length").show();
            }
            else { $("#MyAwardsStatus_length").hide(); }
           
        });
</script>




