﻿@model Nop.Web.Framework.Models.AwardDetailsReportVM

@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
    //title
    Html.AddTitleParts(T("Account.Award.AccountStatment").Text);
    //register URL with return URL (if specified)
}
@section styles{

    <link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
    <link href="~/Scripts/ConformDelete.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Themes/Vnext/Content/VnextCSS/css/MobileDataTableResponsive.css">
}

<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page account-page return-request-list-page ">
        <div class="page-title">

        </div>
        <div class="page registration-result-page">
            <div class="result" style="text-align:center;">
                <div id="validationMessages"></div>
            </div>

            @{
                var validationSummary = Html.ValidationSummary(true);
            }
            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="message-error">@validationSummary</div>
            }

            <div class="page-body">
                <div class="panel panel-default">



                    <div class="sparkline16-list shadow-reset">
                        <div class="sparkline16-hd">
                            <div class="main-sparkline16-hd">
                                <h1>@T("Web.Catalog.MemberMenu.AwardDetails")</h1>
                                <div class="sparkline16-outline-icon">
                                </div>
                            </div>
                        </div>
                        <div class="sparkline16-graph">
                            @if (Model.JM_Name == "Generation")
                            {
                                <div id="ScrollableDiv">
                                    <div class="table-wrapper">
                                        <table id="AwardDetails" class="table table-striped table-bordered" cellspacing="0" width="100%">

                                            <thead>
                                                <tr>
                                                    <th>@T("Dashboard.Achivement.AwardDetailsdata.SrNo")</th>
                                                    <th>@T("Dashboard.Achivement.AwardDetailsHeader.AwardName")</th>
                                                    <th>@T("Dashboard.Achivement.AwardDetailsHeader.Status")</th>
                                                    <th>@T("Dashboard.Achivement.AwardDetailsHeader.AchievementDate")</th>
                                                    <th>@T("Admin.Customers.Customers.List.RequiredCount")</th>
                                                    <th>@T("Admin.Customers.Customers.List.ActualCount")</th>
                                                    @if (@Model.ClaimingApplicable)
                                                    {
                                                        <th>@T("Dashboard.Achivement.AwardDetailsHeader.Claiming")</th>
                                                            <th>@T("Dashboard.Achivement.AwardDetailsHeader.ClaimingDate")</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.awardDetailsdataList.Count(); i++)
                                                {
                                                    <tr>
                                                        <td>@Model.awardDetailsdataList[i].srNo</td>
                                                        <td>@Model.awardDetailsdataList[i].AwardName</td>
                                                        <td>@Model.awardDetailsdataList[i].Status</td>
                                                        <td>@Model.awardDetailsdataList[i].AchievementDate</td>
                                                        <td>@Model.awardDetailsdataList[i].RequiredLeftCount</td>
                                                        <td>@Model.awardDetailsdataList[i].ActualLeftCount</td>
                                                        @if (@Model.ClaimingApplicable)
                                                        {
                                                            if (Model.awardDetailsdataList[i].Claiming == "Claim Reject")
                                                            {
                                                                <td style="color: cornflowerblue">
                                                                    <a title="@T("Achievement.AwardDetails.Claim")" href="#" onclick="return CheckclaimRejectClick(oatSerailNo = Model.awardDetailsdataList[i].OATSerialNo, strClaim = 1)">
                                                                        <b style="color: cornflowerblue">@T("Achievement.AwardDetails.Claim")</b>
                                                                    </a>
                                                                    &nbsp;&nbsp;&nbsp;
                                                                    <a title="@T("Achievement.AwardDetails.Reject")" href="#" onclick="return CheckclaimRejectClick(oatSerailNo = Model.awardDetailsdataList[i].OATSerialNo, strClaim = 1)">
                                                                        <b style="color: cornflowerblue">@T("Achievement.AwardDetails.Reject")</b>
                                                                    </a>

                                                                    @*@Html.ActionLink("Claim", "ConfirmRejectClaim", "Achivement", new { oatSerailNo = Model.awardDetailsdataList[i].OATSerialNo, strClaim = 1 }, null)
                                                                        &nbsp;&nbsp;&nbsp; @Html.ActionLink("Reject", "ConfirmRejectClaim", "Achivement", new { oatSerailNo = Model.awardDetailsdataList[i].OATSerialNo, strClaim = 0 }, null)*@
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>@Model.awardDetailsdataList[i].Claiming</td>
                                                            }
                                                            <td>@Model.awardDetailsdataList[i].ClaimingDate</td>
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div id="ScrollableDiv">
                                    <div class="table-wrapper">
                                        <table id="AwardDetails" class="table table-striped table-bordered" cellspacing="0" width="100%">

                                            <thead>

                                                <tr>
                                                    <th>@T("Dashboard.Achivement.AwardDetailsdata.SrNo")</th>
                                                    <th>@T("Dashboard.Achivement.AwardDetailsHeader.AwardName")</th>
                                                    <th>@T("Dashboard.Achivement.AwardDetailsHeader.Status")</th>
                                                    <th>@T("Dashboard.Achivement.AwardDetailsHeader.AchievementDate")</th>
                                                    @*Plan on count*@
                                                    @if (Model.AwardBasedOn == 1)
                                                    {

                                                        <th>@T("Dashboard.Achivement.AwardDetailsHeader.RequiredLeftCount")</th>
                                                            <th>@T("Dashboard.Achivement.AwardDetailsHeader.RequiredRightCount")</th>
                                                            <th>@T("Dashboard.Achivement.AwardDetailsHeader.ActualLeftCount")</th>
                                                            <th>@T("Dashboard.Achivement.AwardDetailsHeader.ActualRightCount")</th>
                                                    }
                                                    @*Plan on PV*@
                                                    @if (Model.AwardBasedOn == 2)
                                                    {
                                                        <th>@T("Dashboard.Achivement.AwardDetailsHeader.RequiredLeftPV")</th>
                                                            <th>@T("Dashboard.Achivement.AwardDetailsHeader.ActualLeftPV")</th>
                                                            <th>@T("Dashboard.Achivement.AwardDetailsHeader.ActualLeftPV")</th>
                                                            <th>@T("Dashboard.Achivement.AwardDetailsHeader.ActualRightPV")</th>
                                                    }
                                                    @*Plan on Sale*@
                                                    @if (Model.AwardBasedOn == 3)
                                                    {
                                                        <th>@T("Dashboard.Achivement.AwardDetailsHeader.RequiredLeftSale")</th>
                                                            <th>@T("Dashboard.Achivement.AwardDetailsHeader.RequiredRightSale")</th>
                                                            <th>@T("Dashboard.Achivement.AwardDetailsHeader.ActualLeftSale")</th>
                                                            <th>@T("Dashboard.Achivement.AwardDetailsHeader.ActualRightSale")</th>
                                                    }
                                                    @*Plan on Direct*@
                                                    @if (Model.AwardBasedOn == 4)
                                                    {
                                                        <th>@T("Dashboard.Achivement.AwardDetailsHeader.RequiredLeftDirect")</th>
                                                            <th>@T("Dashboard.Achivement.AwardDetailsHeader.RequiredRightDirect")</th>
                                                            <th>@T("Dashboard.Achivement.AwardDetailsHeader.ActualRightDirect")</th>
                                                            <th>@T("Dashboard.Achivement.AwardDetailsHeader.ActualRightDirect")</th>
                                                    }
                                                    @*Plan on BV*@
                                                    @if (Model.AwardBasedOn == 6)
                                                    {
                                                        <th>@T("Dashboard.Achivement.AwardDetailsHeader.RequiredLeftBV")</th>
                                                            <th>@T("Dashboard.Achivement.AwardDetailsHeader.RequiredRightBV")</th>
                                                            <th>@T("Dashboard.Achivement.AwardDetailsHeader.ActualLeftBV")</th>
                                                            <th>@T("Dashboard.Achivement.AwardDetailsHeader.ActualRightBV")</th>
                                                    }

                                                    @if (@Model.ClaimingApplicable)
                                                    {
                                                        <th>@T("Dashboard.Achivement.AwardDetailsHeader.Claiming")</th>
                                                            <th>@T("Dashboard.Achivement.AwardDetailsHeader.ClaimingDate")</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.awardDetailsdataList.Count(); i++)
                                                {
                                                    <tr>
                                                        <td>@Model.awardDetailsdataList[i].srNo</td>
                                                        <td>@Model.awardDetailsdataList[i].AwardName</td>
                                                        <td>@Model.awardDetailsdataList[i].Status</td>
                                                        <td>@Model.awardDetailsdataList[i].AchievementDate</td>
                                                        <td>@Model.awardDetailsdataList[i].RequiredLeftCount</td>
                                                        <td>@Model.awardDetailsdataList[i].RequiredRightCount</td>
                                                        <td>@Model.awardDetailsdataList[i].ActualLeftCount</td>
                                                        <td>@Model.awardDetailsdataList[i].ActualRightCount</td>
                                                        @if (@Model.ClaimingApplicable)
                                                        {
                                                            if (Model.awardDetailsdataList[i].Claiming == "Claim Reject")
                                                            {
                                                                <td style="color: cornflowerblue">
                                                                    <a title="@T("Achievement.AwardDetails.Claim")" href="#" onclick="return CheckclaimRejectClick(oatSerailNo = '@Model.awardDetailsdataList[i].OATSerialNo', strClaim = 1)">
                                                                        <b style="color: cornflowerblue">@T("Achievement.AwardDetails.Claim")</b>
                                                                    </a>
                                                                    @*<a title="@T("Achievement.AwardDetails.Claim")" href="#" onclick="if (confirm('@(T("Common.AreYouSure").Text)')) {location.href='@(Url.RouteUrl("AwardClaim", new { oatSerailNo = Model.awardDetailsdataList[i].OATSerialNo, strClaim = 1 }))';}" >
                                                                            <b style="color: cornflowerblue">@T("Achievement.AwardDetails.Claim")</b>
                                                                        </a>*@

                                                                    &nbsp;&nbsp;&nbsp;
                                                                    <a class="reject" title="@T("Achievement.AwardDetails.Reject")" href="#" onclick="return CheckclaimRejectClick(oatSerailNo = '@Model.awardDetailsdataList[i].OATSerialNo', strClaim = 0)">
                                                                        <b style="color: cornflowerblue">@T("Achievement.AwardDetails.Reject")</b>
                                                                    </a>

                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>@Model.awardDetailsdataList[i].Claiming</td>
                                                            }
                                                            <td>@Model.awardDetailsdataList[i].ClaimingDate</td>
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                }


@section scripts{

    <script src="~/Scripts/ConformDelete.js"></script>

    <script type="text/javascript">

        var rowCount = $("#AwardDetails td").closest("tr").length;

        $(document).ready(function () {

            $('#validationMessages').hide();
            $('#validationMessages').html('');

            var oEmployeesTable = $('#AwardDetails').dataTable({
                pagingType: "full_numbers",
                iDisplayLength: 10,
                dom: 'T<"clear">lfrtip',
                "ordering": false,
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [
                    ]
                },
                processing: true,
                oLanguage: {sProcessing: "<div class='loader'></div>"},
            });


            if (@Model.awardDetailsdataList.Count() > 10) {

                $("#AwardDetails_length").show();
                $("#AwardDetails_paginate").show();
            }
            else { $("#AwardDetails_length").hide();
                $("#AwardDetails_paginate").hide(); }
        });

        function CheckclaimRejectClick(oatSerailNo,strClaim) {
            $(".jconfirm-content").hide();
            $.confirm({
                title: 'Confirm!',

                buttons: {
                    yes: function () {
                        var postData = {
                            oatSerailNo: oatSerailNo,
                            strClaim: strClaim
                        };
                        addAntiForgeryToken(postData);

                        $.ajax({
                            cache: false,
                            type: 'POST',
                            url: '@Url.Action("ConfirmRejectClaimPopUp", "Achivement")',
                            data: postData,
                            dataType: 'json',
                            success: function (data) {
                                $('#validationMessages').show();
                                $('#validationMessages').html(data.validMsg);
                                setTimeout(function(){
                                    location.reload();
                                }, 1000);
                            }
                        });
                    },
                    Cancel: function () {
                        location.reload();
                    },
                }
            });
        }
    </script>
}