﻿@{
    Layout = "";
}
@model ConfigurationModel
@using Nop.Plugin.Payments.CheckMoneyOrder.Models
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
            @(Html.LocalizedEditor<ConfigurationModel, ConfigurationModel.ConfigurationLocalizedModel>("plugin-settings-localized",
                @<div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.OverrideStoreCheckboxFor(model => model.DescriptionText_OverrideForStore, model => model.Locales[item].DescriptionText, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.Locales[item].DescriptionText)
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Locales[item].DescriptionText, "RichEditor")
                            @Html.ValidationMessageFor(model => model.Locales[item].DescriptionText)
                            @*@Html.TextAreaFor(model => model.Locales[item].DescriptionText, new { style = "Width: 550px; Height: 350px;" })
                            @Html.ValidationMessageFor(model => model.Locales[item].DescriptionText)*@
                        </div>
                    </div>
                     @Html.HiddenFor(model => model.Locales[item].LanguageId)
                </div>
    ,
    @<div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.OverrideStoreCheckboxFor(model => model.DescriptionText_OverrideForStore, model => model.DescriptionText, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.DescriptionText)
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.DescriptionText, "RichEditor")
                @Html.ValidationMessageFor(model => model.DescriptionText)
                @*@Html.TextAreaFor(model => model.DescriptionText, new { style = "Width: 550px; Height: 350px;" })
                @Html.ValidationMessageFor(model => model.DescriptionText)*@
            </div>
        </div>
    </div>
            ,
        //localizable settings per store (overrriden store settings) are not supported yet
            true
            ))
                <div class="form-group" style="display:none">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.AdditionalFee_OverrideForStore, model => model.AdditionalFee, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.AdditionalFee)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AdditionalFee)
                        @Html.ValidationMessageFor(model => model.AdditionalFee)
                    </div>
                </div>
                <div class="form-group" style="display:none">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.AdditionalFeePercentage_OverrideForStore, model => model.AdditionalFeePercentage, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.AdditionalFeePercentage)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.AdditionalFeePercentage)
                        @Html.ValidationMessageFor(model => model.AdditionalFeePercentage)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.ShippableProductRequired_OverrideForStore, model => model.ShippableProductRequired, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.ShippableProductRequired)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.ShippableProductRequired)
                        @Html.ValidationMessageFor(model => model.ShippableProductRequired)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
