﻿

/*** QUANTITY BOX & BUY BUTTON ***/


.ajax-cart-button-wrapper {
    display: inline-block;
}
    .product-list .ajax-cart-button-wrapper {
        display: block;
    }
.ajax-cart-button-wrapper input[type="text"],
.ajax-cart-button-wrapper select {
    width: 24px;
    height: 24px;
    border: 1px solid #c9c9c9 !important;
    outline: 10px solid #f6f6f6;
    padding: 2px;
    margin: 10px;
    text-align: center;
    outline-offset: 0 !important;
}
.ajax-cart-button-wrapper select{
    min-width: 38px;
    vertical-align: top;
    width: auto;
}
.ajax-cart-button-wrapper input[type="button"] {
}


/*** SINGLE PRODUCT WINDOW ***/


.ajaxCart .gallery .picture:before {
    display: none;
}
.productAddedToCartWindowDescription h1 a:hover {
	color: #000;
}
.productAddedToCartWindowDescription strong {
	color: #4dc98d;
}
.productAddedToCartWindowSummary a {
	color: #000;
}
.productAddedToCartWindowSummary a:hover {
	text-decoration: underline;
}
.productAddedToCartWindowCheckout {
    background: #46c688;
    border: 1px solid #49bf86;
    color: #fff;
    box-shadow: 0 1px 0 0 #42ab78;
    padding: 10px 24px;
    font-size: 14px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.productAddedToCartWindowCheckout:hover {
	background: #49bf86;
}


/*** GROPED PRODUCTS WINDOW ***/


.miniProductDetailsView .product-details-page .overview {
    margin-left: 220px;
}

.miniProductDetailsView .product-essential {
	border: 1px solid #ccc;
	background: #fff;
	padding: 15px;
}
.miniProductDetailsView .product-name {
    top: 10px;
}
.miniProductDetailsView .gallery {
	display: block; /*Cloud Zoom css override*/
    max-width: 200px;
}
.miniProductDetailsView .picture img {
	position: static;
}
.miniProductDetailsView .attributes {
    margin: 15px 0 0;
    padding: 15px 0 0;
    border-top: 1px solid #ccc;
    width: 360px;
}
.miniProductDetailsView .attributes select {
	padding: 4px;
    max-width: 240px;
}
.miniProductDetailsView .cart-info {
    overflow: visible;
    min-width: 260px;
}
.miniProductDetailsView .prices {
	margin-bottom: 0;
}
.miniProductDetailsView .add-to-cart {
    float: left;
}
.miniProductDetailsView .add-to-cart > *,
.miniProductDetailsView .add-button-wrap {
    float:left;
}
.miniProductDetailsView .qty-input {
}
.miniProductDetailsView .customer-entered-price {
    margin-bottom: 0;
}
.price-range + .prices {
    display: none !important;
}

.miniProductDetailsView .collateral {
	margin-bottom: 0;
	border: 1px solid #ccc;
}
.miniProductDetailsView .collateral:empty {
	margin: 0;
	border: none;
}
.miniProductDetailsView .giftcard div {
    float: none;
    padding: 0;
    width: 100%;
}

/* RELATED AND CROSS SELL */

.ajaxCart .product-grid {
	padding: 0 5px;
    width: 400px;
    margin: 10px 0 0;
    overflow: hidden;
    background: #eee;
}
.ajaxCart .product-grid .title {
    padding: 0;
}
.product-grid .title strong {
    padding: 10px;
    margin-bottom: 15px;
}
.ajaxCart .product-grid .item-box {
    width: 120px;
    margin: 0 5px 10px;
    background: #fff;
    overflow: hidden;
}
.ajaxCart .item-grid {
    overflow: hidden;
}
.ajaxCart .item-box:before {
    padding-top: 127%;
}
.ajaxCart .product-grid .item-box .picture,
.ajaxCart .product-grid .item-box .picture a {
	width: 100%;
    height: 106px;
}
.ajaxCart .item-box .details {
    height: 29px;
    overflow: hidden;
}
.ajaxCart .product-grid .item-box .product-title a {
    display: block;
    line-height: 1;
    font-size: 14px;
}

.ajaxCart .item-box .quick-view-button,
.ajaxCart .item-box .buttonOverlay {
	display: none !important; /*hides overlay panel*/
}