﻿@model SevenSpikes.Theme.Native.Models.NativeTwitterModel

<a class="twitter-timeline" href="https://twitter.com/@(Model.TwitterAccountName)" height="210" data-widget-id="@Model.TwitterFooterWidgetId">Tweets by @@@(Model.TwitterAccountName)</a>

<script>
    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + "://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, "script", "twitter-wjs");
</script>

<!--

<a class="twitter-timeline"
  href="https://twitter.com/twitterdev"
  data-widget-id="YOUR-WIDGET-ID-HERE"
  data-theme="dark"
  data-link-color="#cc0000"
  data-related="twitterapi,twitter"
  data-aria-polite="assertive"
  width="300"
  height="500">Tweets by @@twitterdev</a>

-->
