﻿@model Nop.Admin.ViewModel.AdminEpinLoginVM
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Epin.EpinLogin").Text;
    Html.SetActiveMenuItemSystemName("Epin Login");
}
<link href="~/Administration/Content/SocialStyle.css" rel="stylesheet" />
<style>
    .btn-search {
        margin-top: 0px !important;
        min-width: 110px !important;
        padding: 4px 2px !important;
    }

    @@media (max-width: 480px) and (min-width: 320px) {
        .loginBtn {
            margin-left: 0% !important;
        }
    }

    button, input, select, textarea {
        font-family: initial !important;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">

            @T("Admin.Epin.EpinLogin")
        </h1>
    </div>
    <div class="content" id="searchPanel">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group" id="tblFromDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.EnterPassword)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.PasswordFor(model => model.txtPassword, new { @class = "password form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 col-md-offset-4">
                                        @*<input type="submit" id="btnLogIN" name="Login" class="btn btn-primary btn-search" value="@T("Admin.Common.btnLogIN")" />*@
                                        @*<button type="submit" id="GoogleAuth" name="GoogleAuth" style="border: none;padding: 0px;border-width: inherit;background-color: #ffffff;"><img style="height: 40px; margin-top: 4%; width: 98%;" src="~/Content/Images/SocialButton/google.jpg" /></button>
                                            <button type="submit" id="FacebookAuth" name="FacebookAuth" style="border: none;padding: 0px;border-width: inherit;background-color: #ffffff;"><img style="height: 40px; margin-top: 4%; width: 98%;" src="~/Content/Images/SocialButton/facebook.jpg" /></button>*@

                                        <button type="submit" id="btnLogIN" name="Login" class="btn btn-primary btn-search">
                                            @T("Admin.Common.btnLogIN")
                                        </button>
                                        <button type="submit" id="GoogleAuth" name="GoogleAuth" class="loginBtn loginBtn--google">
                                            Sign in with Google
                                        </button>
                                        <button type="submit" id="FacebookAuth" name="FacebookAuth" class="loginBtn loginBtn--facebook">
                                            Sign in with Facebook
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}