﻿@model Nop.Admin.ViewModel.AdminEpinChangePasswordVM

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Epin.Changepassword").Text;
    Html.SetActiveMenuItemSystemName("Epin Change Password");

    <style>
        .tab {
            height: 100px;
            width: 100px;
        }
    </style>
}


<style>
    @@media all and (min-width: 320px) and (max-width:360px) {
        #DivAuth {
            margin-left: 2% !important;
        }

        #ResetFacebookAuth {
            margin-top: 2% !important;
        }
    }

  
</style>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">

            @T("Admin.Epin.Changepassword")
        </h1>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.CurrentPassword)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.PasswordFor(model => model.txtCurrentPassword, new { @class = "password" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-8">
                                        <a title="@T("Account.Password.StrongPassword.title")" href="@Url.Action("Strongpwdtip")"><b style="color: cornflowerblue">@T("Account.Password.StrongPassword.TipToCreateStrongPassword")</b> </a>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.NewPassword)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.PasswordFor(model => model.txtNewPassword, new { @class = "password" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ConfirmPassword)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.PasswordFor(model => model.txtConfirmPassword, new { @class = "password" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <input type="submit" id="btnChangePWD" name="changePassword" class="btn btn-primary btn-success" value="@T("Admin.Common.btnChangePWD")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    if (Model.ExternalAuthenticationflg)
    {
        <div class="content-header clearfix">
            <h1 class="pull-left">

                @T("Reset.External.Authentication")
            </h1>
        </div>
        <div class="content">
            <div class="form-horizontal">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4" id="DivAuth">
                                        <input type="submit" name="ResetGoogleAuth" class="btn btn-primary btn-success" value="@T("Reset.Google.Authentication")" />
                                        <input type="submit" name="ResetFacebookAuth" id="ResetFacebookAuth" class="btn btn-primary btn-success" value="@T("Reset.Facebook.Authentication")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <script>

        $(document).ready(function () {
            $("#validationMessages").hide();
        });

        //reset
        $("#reset").click(function () {
            $("#txtNewPassword").val("");
            $("#txtConfirmPassword").val("");
            $("#txtCurrentPassword").val("");
            $('#validationMessages').html('');
            $("#validationMessages").hide();
            $('.message-box.message-box-error').hide();
        });

        //Save button
        $('#btnChangePWD').click(function () {
            var OldPassword = $("#txtCurrentPassword").val();
            var NewPassword = $('#txtNewPassword').val();
            var ConfirmPassword = $('#txtConfirmPassword').val();
            $('#validationMessages').html('');
            $("#validationMessages").hide();
            $('.message-box.message-box-error').hide();
            var validationDivs = '';
            var flag = true;

            //
            if (OldPassword == "") {
                validationDivs = validationDivs + '<div>@T("Admin.Validation.OldPasswordRequired")</div>';
                flag = false;
                //return false;
            }

            if (OldPassword != "" && NewPassword == "") {
                validationDivs = validationDivs + '<div>@T("Admin.Validation.NewPasswordRequired")</div>';
                flag = false;
            }

            if (NewPassword != "" && ConfirmPassword == "") {
                validationDivs = validationDivs + '<div>@T("Admin.Validation.ConfirmPasswordRequired")</div>';
                flag = false;
            }

            if (flag) {

            }
            else {
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
                return false;
            }
        });

    </script>

}
