﻿@model Nop.Admin.ViewModel.PinRequest_Hdr

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //page title
    ViewBag.Title = T("Admin.Customers.BlockedEpin").Text;
    Html.SetActiveMenuItemSystemName("Blocked Pin");
}
<style>
    .k-grid table td {
        overflow-wrap: break-word !important;
    }
</style>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Customers.BlockedEpin")
        </h1>
        <div class="pull-right">
            @*<button type="submit" id="ExportExcel" name="exportexcel-all" class="btn btn-success">
                    <i class="fa fa-file-excel-o"></i>
                    @T("Admin.Common.ExportToExcel")
                </button>*@
        </div>
    </div>

    @Html.HiddenFor(m => m.SelectedIdDispatch)
    <div class="content" id="searchPanel">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.BPTSearch)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.ddlOption2, new List<SelectListItem>()
                                            {
                                            new SelectListItem(){Text="All Record(s)", Value="0"},
                                            new SelectListItem(){Text="Request No-wise",Value="1"},
                                            new SelectListItem(){Text="Name / ID ",Value="2"},
                                            new SelectListItem(){Text="Trader Name / ID",Value="3"},
                                            new SelectListItem(){Text="Serial No",Value="4"}
                                            }, new { @onchange = "ChangeField(this.value)" })
                                    </div>
                                </div>
                                <div class="form-group" id="tblMember">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.BPTmemberNo)
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" id="txtMember" value="" class="form-control text-box single-line" name="" />
                                        @*<input type="hidden" name="hiddenSearchMemno" id="hiddenSearchMemno" value=" " />*@
                                        @Html.HiddenFor(model => model.hiddenSearchMemno)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" id="tbltrader">
                                    <div class="col-md-4">
                                        <div class="label-wrapper">
                                            <label class="control-label" for="" title="">Trader ID/Name</label><div class="ico-help" title="Enter ID/Name"><i class="fa fa-question-circle"></i></div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" id="txttrader" value="" class="form-control text-box single-line" name="" />
                                        @*<input type="hidden" name="hiddenSearchMemno" id="hiddenSearchMemno" value=" " />*@
                                        @Html.HiddenFor(model => model.hiddenTraderno)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" id="tblAll">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.BPTSelectVoucher)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.VoucherId, Model.VoucherList, "All Record(s)", new { @class = "form-control valid", autocomplete = "off", maxlength = 22, Id = "VoucherId" })

                                    </div>
                                </div>
                                <div class="form-group" id="tblPinReq">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.BPTRequestNo)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.txtRequestNo)
                                    </div>
                                </div>
                                <div class="form-group" id="tbltxtStartSrNo">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.BPTStartSrNo)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.txtStartSrNo)
                                    </div>
                                </div>
                                <div class="form-group" id="tbltxtEndSrNo">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.BPTEndSrNo)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.txtEndSrNo)
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.PintypeId)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.PintypeId, new List<SelectListItem>()
                                            {
                                            new SelectListItem(){Text="All Record(s)", Value="0"},
                                            new SelectListItem(){Text="Paid-Epin",Value="1"},
                                            new SelectListItem(){Text="Credit-Epin",Value="2"},
                                            new SelectListItem(){Text="Free Epin",Value="3"},

                                            }, new { })
                                    </div>
                                </div>

                                <div class="form-group" id="tblFromDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.BPTFromDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.FromDate)
                                        @*@Html.HiddenFor(model => model.HFromDate)*@
                                        <input type="hidden" name="HFromDate" id="HFromDate" class="HFromDate" />
                                    </div>
                                </div>
                                <div class="form-group" id="tblToDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.BPTToDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.ToDate)
                                        @*@Html.HiddenFor(model => model.HToDate)*@
                                        <input type="hidden" name="HToDate" id="HToDate" class="HToDate" />
                                    </div>
                                </div>

                                <div class="form-group" id="trEpinNote">
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-8">
                                        <b id="MessageNote"> @T("Admin.Note.Note") </b> @T("Admin.Note.EpinGenerationDates")
                                    </div>
                                </div>
                                <div class="form-group" id="trAddToList">
                                    <div class="col-md-4 col-md-offset-3">
                                        <button type="button" id="ViewReport" class="btn btn-primary btn-search " value="@T("admin.common.viewreport")">
                                            <i class="fa fa-search"></i>
                                            @T("admin.common.viewreport")
                                        </button>
                                        @*<input type="button" id="" class="btn btn-primary btn-search" value="@T(" ")" />*@

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">

                        <div id="customers-grid"></div>
                        <script>
                            $(document).ready(function () {
                                // $('#ViewReport').click(function () {
                                $("#customers-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("BlockPinGrid", "Epin"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: true,
                                    dataBound: onDataBound,
                                    columns: [ {
                                        field: "Id",
                                        headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: "<input type='checkbox' value='#=Id# '  class='checkboxGroups'/>",
                                        width: 50
                                    }, {
                                        field: "Id",
                                        title:"@T("Admin.Customers.Customers.Fields.PDM_ID")",
                                        width: 50,
                                        hidden:true
                                    },  {
                                        field: "SerialNo",
                                        title: "@T("Admin.Customers.Customers.Fields.PDM_SrNo")",
                                        width: 80
                                    }, {
                                        field: "VoucherName",
                                        title: "Voucher",
                                        width: 100
                                    },{
                                        field: "EpinTypeName",
                                        title: "Epin Type",
                                        width: 100
                                    }, {
                                        field: "Amount",
                                        title: "@T("Admin.Customers.Customers.Fields.PVH_Amount")",
                                        width: 100
                                    },
                                    {
                                        field: "Name",
                                        title: "Name/Id",
                                        width: 100
                                    }]
                                });
                            });
                            // });
                        </script>


                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-8">

                            <div class="form-group" id="tbltxtnaration">
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.txtNarration)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopEditorFor(model => model.txtNarration)
                                </div>
                            </div>


                            @*<div class="form-group">
                                    <div class="col-md-2">
                                        @Html.NopLabelFor(model => model.Remark)
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-sm-12">

                                            @Html.TextAreaFor(model => model.Remark, new { @cols = "40", @rows = "4" })

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="trAddToList">
                                    <div class="col-md-8 col-md-offset-4">

                                        <input type="submit" id="BlockEpinBtn" class="btn btn-primary btn-search" value="@T("Admin.Epin.BlockPin")" />
                                    </div>
                                </div>*@



                            <div id="IssueEpinBlock" class="panel-body">

                                <br />




                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-3">

                                        </div>
                                        <div class="col-md-2">
                                            @Html.NopLabelFor(model => model.Remark)
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-sm-12">
                                                @Html.TextAreaFor(model => model.Remark, new { @cols = "40", @rows = "4" })
                                            </div>
                                            <div class="col-sm-12">
                                                @if (Model.OtpEnabled)
                                                {
                                                <div class="buttons">
                                                    <input type="button" id="OTPSend-button" style="margin-bottom: 10px;" class="button-1 register-next-step-button  btn bg-blue" value="@T(" account.register.sendotpbutton")" name="GenerateOTP" />
                                                </div>
                                                <div id="OtpResult" style="text-align:inherit;color:green;margin-left: 29px;">
                                                </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @if (Model.OtpEnabled)
                                {
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-3">

                                        </div>
                                        <div id="divEnterOTP">
                                            <div class="col-md-2">
                                                @Html.NopLabelFor(model => model.GeneratedOtp)
                                            </div>
                                            <div class="col-md-6">
                                                <div class="col-sm-12">
                                                    @Html.EditorFor(model => model.GeneratedOtp)
                                                </div>
                                                <div class="row">
                                                    <div id="OtpSMSSentResult" style="text-align:inherit;color:green;margin-left:29px;">
                                                    </div>
                                                    <br />

                                                    <div class="message-error" style="text-align:inherit;color:red; margin-left: 29px;" id="OtpError"></div>
                                                    @Html.HiddenFor(model => model.OtpVerified)
                                                    @Html.HiddenFor(model => model.OtpEnabled)
                                                    <div class="col-md-12">
                                                        <div style="" class="buttons" id="divVerifyOTP">
                                                            <input style="margin-left: 14px" type="button" id="OTPVerify-button" class="button-1 register-next-step-button btn bg-blue" value="@T(" account.register.verifyotpbutton")" name="GenerateOTP" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>



                                    </div>
                                </div>
                                }

                                <br />


                            </div>



                            <div class="panel-body">

                                <div class="form-group" id="tblButtons">
                                    <div class="col-md-8 col-md-offset-4">
                                        <input type="submit" id="BlockEpinBtn" class="btn btn-primary btn-search" value="@T("Admin.Epin.BlockPin")" />
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                </div>
                <script type="text/javascript">

                    var selectedIds = [];
                    var validationDivs='';

                    $('#txtStartSrNo').bind('keyup focusout paste', function () {
                        this.value = this.value.replace(/[^0-9]/g, '');
                    });

                    $('#txtEndSrNo').bind('keyup focusout paste', function () {
                        this.value = this.value.replace(/[^0-9]/g, '');
                    });

                    $("#reset").click(function (){
                        $("#ddlOption2").val("0");
                        $("#txtMember").val("");
                        $("#hiddenSearchMemno").val("");
                        $("#VoucherId").val("");
                        $("#txtRequestNo").val("");
                        $("#txtEndSrNo").val("");
                        $('#FromDate').val("");
                        $('#ToDate').val("");
                        $('#ddlNarration').val("4");
                        $('#tblMember').hide();
                        $("#customers-grid").hide();
                        $('#tblAll').show();
                        $("#tblFromDate").show();
                        $('#tblToDate').show();
                        $('#tblPinReq').hide();
                        $('#tbltxtStartSrNo').hide();
                        $('#tbltxtEndSrNo').hide();
                        $("#customers-grid").hide();
                        $('#validationMessages').html('');
                        $("#validationMessages").hide();
                        $('#searchResult').hide();
                        $('#adminContent').hide();
                        $('#ddlnaration').hide();
                        $('#tbltxtnaration').hide();
                        $('#btnblock').hide();
                    });

                    $("#VoucherId").keydown(function(e){
                        if(e.which === 13){
                            $('#ViewReport').click()
                            return false;
                        }
                    });

                    $("#txtMember").keydown(function(e){
                        if((e.which === 13 || e.which === 9) && $('#hiddenSearchMemno').val()!=" "){
                            $('#ViewReport').click()
                            return false;
                        }
                    });

                    $("#txtStartSrNo").keydown(function(e){
                        if((e.which === 13 || e.which === 9)){
                            $('#ViewReport').click()
                            return false;
                        }
                    });

                    $("#txtEndSrNo").keydown(function(e){
                        if((e.which === 13 || e.which === 9)){
                            $('#ViewReport').click()
                            return false;
                        }
                    });

                    $("#txtRequestNo").keydown(function(e){
                        if((e.which === 13 || e.which === 9)){
                            $('#ViewReport').click()
                            return false;
                        }
                    });
                    $("#ddlOption2").keydown(function(e){
                        if(e.which === 13){
                            $('#ViewReport').click()
                            return false;
                        }
                    });

                    $('#FromDate').keydown(keyDownHandler); // use appropriate selector for the keydown handler

                    function keyDownHandler(e) {

                        validationDivs='';
                        if(e.keyCode === 13) {
                            if($('#ToDate').val()!='')
                            {
                                e.stopPropagation();
                                e.preventDefault();
                                $('#ViewReport').click()
                                return false;
                            }
                            else{
                                validationDivs=validationDivs+ '<div></div>';
                                $('#ViewReport').click()
                                flag=false;
                                return false;
                            }
                        }
                        else{
                            $(this).val('');
                        }
                    }

                    $('#ToDate').keydown(keyDownHandler1); // use appropriate selector for the keydown handler

                    function keyDownHandler1(e) {

                        validationDivs='';
                        if(e.keyCode === 13) {
                            if($('#FromDate').val()!='')
                            {
                                e.stopPropagation();
                                e.preventDefault();
                                $('#ViewReport').click()
                                return false;
                            }
                            else{
                                validationDivs=validationDivs+ '<div></div>';
                                $('#ViewReport').click()
                                flag=false;
                                return false;
                            }
                        }
                        else{
                            $(this).val('');
                        }
                    }

                    $(document).ready(function () {
                        //
                        $("#tbltxtnaration").hide();
                        //    $("#ddlnaration").hide();
                        //  $("#btnblock").hide();
                        //  $('#tbltxtnaration').hide();
                        $("#validationMessages").hide();

                        //$("#FromDate").keyup(function(){
                        //    $(this).val('');
                        //});
                        $("#ToDate").keyup(function(){
                            $(this).val('');
                        });

                        //search button
                        $('#ViewReport').click(function () {
                            //
                            var ddlOption=$("#ddlOption2 ").val();
                            var txtMember=$('#txtMember').val();
                            var txttrader=$('#txttrader').val();
                            var hiddenSearchMemno=$('#hiddenSearchMemno').val();
                            var hiddenTraderno=$('#hiddenTraderno').val();
                            var hiddenTraderno=$('#hiddenTraderno').val();
                            var txtRequestNo=$('#txtRequestNo').val();
                            var FDate = $("#FromDate").val();
                            var TDate = $("#ToDate").val();
                            var FromDate = "";
                            var ToDate = "";
                            if (FDate != "") {
                                FromDate = getDate($("#FromDate").data("kendoDatePicker").value());
                            }
                            if (TDate != "") {
                                ToDate = getDate($("#ToDate").data("kendoDatePicker").value());
                            }
                            $('#validationMessages').html('');
                            $("#validationMessages").hide();
                            $(".alert.alert-success.alert-dismissable").hide();
                            $(".alert.alert-danger.alert-dismissable").hide();
                            validationDivs='';
                            var txtStartSrNo=$('#txtStartSrNo').val();
                            var txtEndSrNo=$('#txtEndSrNo').val();

                            var flag=true;
                            debugger;
                            if(ddlOption == 2)
                            {


                                if(txtMember == '')
                                {
                                    validationDivs=validationDivs+ '<div>@T("Admin.Validation.IdNameRequired")</div>';
                                    flag=false;
                                }
                                if(txtMember !='' && hiddenSearchMemno =='')
                                {
                                    validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                                    flag=false;
                                }


                            }

                            if(ddlOption == 3)
                            {


                                if(txttrader == '')
                                {
                                    validationDivs=validationDivs+ '<div>@T("Admin.Validation.IdNameRequired")</div>';
                                    flag=false;
                                }
                                if(txttrader !='' && hiddenTraderno =='')
                                {
                                    validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                                    flag=false;
                                }


                            }

                            if(ddlOption == 4)
                            {
                                var srnofrom=$('#txtStartSrNo').val();
                                var srnoto=$('#txtEndSrNo').val();

                                if(srnofrom == '' || srnoto =='')
                                {
                                    validationDivs=validationDivs+ '<div>Please enter both serial numbers</div>';
                                    flag=false;
                                }
                                if(parseInt(srnofrom)  > parseInt(srnoto) )
                                {
                                    validationDivs=validationDivs+ '<div>start serial no should be less than end serial number</div>';
                                    flag=false;
                                }
                                //if(isNaN(srnofrom) || isNaN(srnoto))
                                //{
                                //    validationDivs=validationDivs+ '<div>Both serial number should be number</div>';
                                //    flag=false;
                                //}




                            }

                            if(ddlOption ==1)
                            {
                                if(txtRequestNo == '')
                                {
                                    validationDivs=validationDivs+ '<div>@T("Admin.Validation.RequestNoRequired")</div>';
                                    flag=false;
                                }
                            }

                            @*if(ddlOption ==2)
                            {
                                if(txtStartSrNo == '')
                                {
                                    validationDivs=validationDivs+ '<div>@T("Admin.Validation.EnterStartSerialNo")</div>';
                                    flag=false;
                                }

                                if(txtEndSrNo == '')
                                {
                                    validationDivs=validationDivs+ '<div>@T("Admin.Validation.EnterEndSerialNo")</div>';
                                    flag=false;
                                }
                            }*@
                            debugger;
                            if (FromDate != '' && ToDate == '' )
                            {
                                validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                                flag=false;
                            }
                            if (ToDate != '' && FromDate == '')
                            {
                                validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                                flag=false;
                            }

                            var EnteredDate = getDate($("#FromDate").data("kendoDatePicker").value());
                            var EnteredFromdate=getDate($("#ToDate").data("kendoDatePicker").value());

                            var myDate = new Date(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                            var myFromDate = new Date(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                            var today = new Date();
                            var start_time=$("#DatewiseFrom").val();
                            var end_time=$("#DatewiseTo").val();

                            if (myFromDate > today) {

                                validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                                flag=false;
                            }
                            if (myFromDate < myDate) {
                                validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                                flag=false;
                            }

                            if(flag)
                            {
                                $("#HFromDate").val(EnteredDate);
                                $("#HToDate").val(EnteredFromdate);
                                // $("#tbltxtnaration").show();
                                $("#ddlnaration").show();
                                $("#btnblock").show();
                                var grid = $('#customers-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                //clear selected checkboxes
                                $('.checkboxGroups').attr('checked', false).change();
                                selectedIds = [];
                                $("#customers-grid").show();
                                $('#ddlnaration').show();
                                //$('#tbltxtnaration').show();
                                $('#btnblock').show();
                                return false;
                            }
                            else
                            {
                                $("#validationMessages").show();
                                $('#validationMessages').append(validationDivs);
                                return false;
                            }
                        });
                    });

                    $('#ddlNarration').change(function (){
                        //
                        var value = $(this).val();
                        if (value == "other") {
                            $('#tbltxtnaration').show();
                        }
                        else
                        {
                            $('#tbltxtnaration').hide();
                        }
                    });

                    $('#customers-grid').on('change', 'input[id=mastercheckbox]', function (e) {
                        $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                    });

                    //wire up checkboxes.
                    $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                        var $check = $(this);
                        if ($check.is(":checked") == true) {
                            var checked = jQuery.inArray($check.val(), selectedIds);
                            if (checked == -1) {
                                //add id to selectedIds.
                                selectedIds.push($check.val());
                            }
                            $("#SelectedValues").val(selectedIds);
                        }
                        else {
                            var checked = jQuery.inArray($check.val(), selectedIds);
                            if (checked > -1) {
                                //remove id from selectedIds.
                                selectedIds = $.grep(selectedIds, function (item, index) {
                                    return item != $check.val();
                                });
                                $("#SelectedValues").val(selectedIds);
                            }
                        }
                        updateMasterCheckbox();
                    });

                    $('#BlockEpinBtn').click(function(e) {
                        //
                        $('#validationMessages').html('');
                        $("#validationMessages").hide();
                        $(".alert.alert-success.alert-dismissable").hide();

                        var validationDivs1='';

                        if(selectedIds=='' || selectedIds.length<=0)
                        {
                            // alert("Select At Least One Record");
                            validationDivs1=validationDivs1+'<div>@T("Admin.Validation.SelectAtLeastOneRecord")</div>';
                            $("#validationMessages").show();
                            $('#validationMessages').append(validationDivs1);
                            return false;
                        }

                        var OtpEnabled = $("#OtpEnabled").val();
                        //alert(OtpEnabled);
                        if (OtpEnabled == "True") {
                            var isCheckedOtpVerified = $("#OtpVerified").val();
                            if (isCheckedOtpVerified != "true") {
                                validationDivs='<div>OTP not verified</div>';
                                $("#validationMessages").show();
                                $('#validationMessages').append(validationDivs);
                                return false;
                            }
                        }




                        $('#SelectedIdDispatch').val(selectedIds);

                    });

                    function ddlChangeField(selectedValue) {
                        if (selectedValue == "other") {
                            $("#txtNarration").show();
                        }
                    }
                    function onDataBound(e) {

                        $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                            var currentId = $(this).val();
                            var checked = jQuery.inArray(currentId, selectedIds);
                            //set checked based on if current checkbox's value is in selectedIds.
                            $(this).attr('checked', checked > -1);
                        });

                        updateMasterCheckbox();
                    }

                    function updateMasterCheckbox() {
                        var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                        var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                        $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                    }

                    function additionalData() {
                        var customerRoleIds = [];
                        $('[name=SearchCustomerRoleIds]:checked').each(function () {
                            customerRoleIds.push($(this).val());
                        });

                        var StartDate = $("#FromDate").val();
                        var EndDate = $("#ToDate").val();

                        var startDate = null;
                        var endDate = null;

                        if (StartDate != "")
                            startDate = getDate($("#FromDate").data("kendoDatePicker").value());
                        if (EndDate != "")
                            endDate = getDate($("#ToDate").data("kendoDatePicker").value());


                        var data = {

                            ddlOption2: $('#@Html.FieldIdFor(model => model.ddlOption2)').val(),
                            VoucherList: $('#@Html.FieldIdFor(model => model.VoucherList)').val(),
                            VoucherId:$('#@Html.FieldIdFor(model => model.VoucherId)').val(),
                            @*FromDate: $('#@Html.FieldIdFor(model => model.FromDate)').val(),
                            ToDate: $('#@Html.FieldIdFor(model => model.ToDate)').val(),*@
                            //FromDate: getDate($("#FromDate").data("kendoDatePicker").value()),
                            //ToDate:getDate($("#ToDate").data("kendoDatePicker").value()),
                            HFromDate: startDate,
                            HToDate: endDate,
                            FromDate:startDate,
                            ToDate:endDate,
                            txtRequestNo: $('#@Html.FieldIdFor(model => model.txtRequestNo)').val(),
                            Membert: $('#hiddenSearchMemno').val(),
                            hiddenSearchMemno: $('#@Html.FieldIdFor(model => model.hiddenSearchMemno)').val(),
                            hiddenTraderno: $('#@Html.FieldIdFor(model => model.hiddenTraderno)').val(),
                            txtStartSrNo: $('#@Html.FieldIdFor(model => model.txtStartSrNo)').val(),
                            txtEndSrNo: $('#@Html.FieldIdFor(model => model.txtEndSrNo)').val(),
                            txttrader:$('#txttrader').val(),
                            txtNarration: $('#@Html.FieldIdFor(model => model.txtNarration)').val(),
                            ddlNarration: $('#@Html.FieldIdFor(model => model.ddlNarration)').val(),
                            PintypeId:$('#PintypeId').val()

                        };
                        addAntiForgeryToken(data);
                        return data;
                    }
                </script>




            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tbltxtnaration').hide();
            $("#tblPinReq").hide();
            $("#tblMember").hide();
            $("#tbltxtStartSrNo").hide();
            $("#tbltxtEndSrNo").hide();
        });

        $("#tblAll").hide();
        $("#tbltrader").hide();
        function ChangeField(selectedValue) {
            //alert("hii");
            var tblAll = $("#tblAll");
            var tblPinReq = $("#tblPinReq");
            var tblMember = $("#tblMember");

            //  clearText($("#txtFromDate"));
            // clearText($("#txtToDate"));
            //clearText($("#txtRequestNo"));
            //clearText($("#txtMember"));
            // clearText("<%=txtMFromDate.ClientID%>");
            // clearText("<%=txtMToDate.ClientID%>");

            $("#fldResults").hide();
            $("#cvValidateFromDate").hide();
            $("#cvFromDate").hide();
            $("#CustomValidator1").hide();
            // document.getElementById("<%=cvToDate.ClientID%>").style.display = 'none';
            // document.getElementById("<%=cvValidDate.ClientID%>").style.display = 'none';
            $("#MyCustomValidator").hide();
            $("#CustomValidator7").hide();
            hidefldResults();
            if (selectedValue == 0) {
                $("#tbltrader").hide();
                $("#tblMember").hide();
                $("#tblPinReq").hide();
                //$("#tblAll").show();
                //$("#tblPinReq").hide();
                //$("#tblMember").hide();
                //$("#tblStatus").show();

                //$('#trEpinNote').show();
                //$("#tbltxtStartSrNo").hide();
                //$("#tbltxtEndSrNo").hide();
                $("#tbltxtStartSrNo").hide();
                $("#tbltxtEndSrNo").hide();
            }
            else if (selectedValue == 1) {

                $("#tblAll").hide();
                //$("#tblStatus").hide();
                $("#tblPinReq").show();
                $("#tblMember").hide();
                $("#tbltrader").hide();
                $("#tbltxtStartSrNo").hide();
                $("#tbltxtEndSrNo").hide();
                //$("#tblMember").hide();

                //$("#trEpinNote").hide();
                //$("#tbltxtStartSrNo").hide();
                //$("#tbltxtEndSrNo").hide();
            }
            else if (selectedValue == 2) {
                $("#tblPinReq").hide();
                $("#tblMember").show();
                $("#tbltrader").hide();
                $("#tbltxtStartSrNo").hide();
                $("#tbltxtEndSrNo").hide();
                //$("#tblAll").hide();
                //$("#tblPinReq").hide();
                //$("#tblMember").hide();
                //$("#tblStatus").hide();

                //$("#trEpinNote").hide();
                //$("#tbltxtStartSrNo").show();
                //$("#tbltxtEndSrNo").show();
            }
            else if (selectedValue == 3) {
                $("#tbltrader").show();
                $("#tblMember").hide();
                $("#tblPinReq").hide();
                $("#tbltxtStartSrNo").hide();
                $("#tbltxtEndSrNo").hide();
                //$("#tblAll").show();
                //$("#tblPinReq").hide();
                //$("#tblMember").show();
                //$("#tblStatus").hide();
                //$("#tblFromDate").show();
                //$("#tblToDate").show();
                //$("#trEpinNote").show();
                //$("#tbltxtStartSrNo").hide();
                //$("#tbltxtEndSrNo").hide();
            }
            else if (selectedValue == 4) {
                $("#tbltrader").hide();
                $("#tblMember").hide();
                $("#tblPinReq").hide();
                $("#tbltxtStartSrNo").show();
                $("#tbltxtEndSrNo").show();

                //$("#tblAll").show();
                //$("#tblPinReq").hide();
                //$("#tblMember").show();
                //$("#tblStatus").hide();
                //$("#tblFromDate").show();
                //$("#tblToDate").show();
                //$("#trEpinNote").show();
                //$("#tbltxtStartSrNo").hide();
                //$("#tbltxtEndSrNo").hide();
            }
        }
        function changeOption(selectedValue) {

            var tblAll = $("#tblAll");
            var tblPinReq = $("#tblPinReq");
            var tblMember = $("#tblMember");

            clearText($("#txtFromDate"));
            clearText($("#txtToDate"));
            clearText($("#txtRequestNo"));
            clearText($("#txtMember"));
            // clearText("<%=txtMFromDate.ClientID%>");
            // clearText("<%=txtMToDate.ClientID%>");

            $("#fldResults").hide();
            $("#cvValidateFromDate").hide();
            $("#cvFromDate").hide();
            $("#CustomValidator1").hide();
            // document.getElementById("<%=cvToDate.ClientID%>").style.display = 'none';
            // document.getElementById("<%=cvValidDate.ClientID%>").style.display = 'none';
            $("#MyCustomValidator").hide();
            $("#CustomValidator7").hide();
            hidefldResults();
            if (selectedValue == 0) {

                (tblAll.id).show();
                (tblPinReq.id).hide();
                (tblMember.id).hide();
            }
            else if (selectedValue == 1) {

                (tblAll.id).hide();
                (tblPinReq.id).show();
                (tblMember.id).hide();
            }
            else if (selectedValue == 2) {

                (tblAll.id).show();
                (tblPinReq.id).hide();
                (tblMember.id).show();
            }
        }
        function changeOption(selectedValue) {
            $("#fldResults").hide();
        }

        function hidefldResults() {
            $("#fldResults").hide();
        }
        function fnReset() {
            changeOption(0);
            //clearDropDown("#ddlOption1.ClientID");
            //clearDropDown("#ddlStatus.ClientID");
            //clearDropDown("#ddlOption2.ClientID");
            //clearDropDown("#ddlVoucher.ClientID");
            $("#fldResults").hide();

        }
        var TraderEpinSetting=  @Html.Raw(Json.Encode(Model.TraderEpinSetting));
        if(TraderEpinSetting)
        {
            $('#txtMember').autocomplete({
                delay: 500,
                minLength: 1,
                @*source: '@(Url.Action("SearchTermAutoComplete","Epin"))',*@
                source: '@(Url.Action("SearchTermAutoCompleteCustomerTraders", "Common"))',
                appendTo: '.search-box',
                select: function (event, ui) {

                    $("#hiddenSearchMemno").val(ui.item.Id);
                    $("#txtMember").val(ui.item.label);
                    $("#divfirstname").show();
                    return false;
                },
                change: function (event, ui) {
                    //alert("hii");
                    if (ui.item == null) {
                        $("#hiddenSearchMemno").val("");
                        $("#txtMember").focus();
                    }
                }
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                var t = item.label;
                //html encode
                t = $('<div/>').text(t).html();
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a><span>" + t + "</span></a>")
                    .appendTo(ul);
            };
        }
        else
        {
            $('#txtMember').autocomplete({
                delay: 500,
                minLength: 1,
                @*source: '@(Url.Action("SearchTermAutoComplete","Epin"))',*@
                source: '@(Url.Action("SearchTermAutoCompleteDownline", "Common"))',
                appendTo: '.search-box',
                select: function (event, ui) {

                    $("#hiddenSearchMemno").val(ui.item.Id);
                    $("#txtMember").val(ui.item.label);
                    $("#divfirstname").show();
                    return false;
                },
                change: function (event, ui) {
                    //alert("hii");
                    if (ui.item == null) {
                        $("#hiddenSearchMemno").val("");
                        $("#txtMember").focus();
                    }
                }
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                var t = item.label;
                //html encode
                t = $('<div/>').text(t).html();
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a><span>" + t + "</span></a>")
                    .appendTo(ul);
            };
        }
        $("#ExportExcel").click(function() {

            var FDate = $("#FromDate").val();
            var TDate = $("#ToDate").val();
            var FromDate = "";
            var ToDate = "";
            if (FDate != "") {
                $("#HFromDate").val(getDate($("#FromDate").data("kendoDatePicker").value()));
            }
            else {
                $("#HFromDate").val(FDate);
            }
            if (TDate != "") {
                $("#HToDate").val(getDate($("#ToDate").data("kendoDatePicker").value()));
            }
            else {
                $("#HToDate").val(TDate);
            }
            //var t=$("#HFromDate").val();
        });



        $('#txttrader').autocomplete({
            delay: 500,
            minLength: 1,
            @*source: '@(Url.Action("SearchTermAutoComplete", "AdminEwallet"))',*@
            source: '@(Url.Action("SearchTermAutoCompleteTrader", "AdminEwallet"))',
            appendTo: '.search-box',
            select: function (event, ui) {

                //$("#hiddenSearchMemno").val(ui.item.MJD_MemID);
                //$("#txtMember").val(ui.item.label);
                $("#hiddenTraderno").val(ui.item.Id);
                $("#txttrader").val(ui.item.Id);
                $("#txttrader").val(ui.item.label);
                //$("#divfirstname").show();
                return false;


            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $("#hiddenTraderno").val("");
                    $("#txttrader").focus();
                }
            }


        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };


        window.onbeforeunload = function () {
            var buttons = document.getElementsByTagName("INPUT");
            for (var i in buttons) {
                if (buttons[i].type == "button" || buttons[i].type == "submit") {
                    buttons[i].disabled = true;
                }
            }
        };

    </script>


}


<script>

                                    $("#divVerifyOTP").hide();
                                    $("#divEnterOTP").hide();
                                    $('#OTPSend-button').show();
                                    $("#OtpSMSSentResult").hide();
                                    $('#OTPSend-Emailbutton').show();
                                    $("#divVerifyEmailOTP").hide();
                                    $("#divEnterEmailOTP").hide();
                                    $("#OtpEmailSentResult").hide();





                                    $('#OTPSend-button').click(function (e) {
                                        debugger;
                                        $("#OtpError").hide();
                                        $("#OtpResult").hide();
                                        $("#EnterSMSOTP").val('');

                                        $.ajax({
                                            cache: false,
                                            type: "Get",
                                            url: "@(Url.Action("GenerateOTP", "Epin"))",
                                            //data: postData,
                                            success: function (data) {
                                                if (data == 1) {
                                                    $("#divVerifyOTP").show();
                                                    $("#divEnterOTP").show();
                                                    $("#OtpSMSSentResult").show();
                                                    $("#OtpSMSSentResult").html("OTP sent on mobile");
                                                    $("#OTPSend-button").prop('value', 'Resend OTP');
                                                }
                                                else  if (data == 2) {
                                                    $("#divVerifyOTP").show();
                                                    $("#divEnterOTP").show();
                                                    $("#OtpSMSSentResult").show();
                                                    $("#OtpSMSSentResult").html("OTP sent on email");
                                                    $("#OTPSend-button").prop('value', 'Resend OTP');
                                                }
                                                else  if (data == 3) {
                                                    $("#divVerifyOTP").show();
                                                    $("#divEnterOTP").show();
                                                    $("#OtpSMSSentResult").show();
                                                    $("#OtpSMSSentResult").html("OTP sent on email and mobile");
                                                    $("#OTPSend-button").prop('value', 'Resend OTP');
                                                }

                                            },
                                        });
                                        return false;
                                    });


                                    $('#OTPVerify-button').click(function (e) {

                                        $("#OtpSMSSentResult").hide();
                                        var EnterSMSOTP = $("#GeneratedOtp").val();

                                        if (EnterSMSOTP == "") {
                                            $("#OtpError").show();
                                            $("#OtpError").val("@T("Account.Register.Errors.EnterOTP")");
                                            $("#OtpError").html("@T("Account.Register.Errors.EnterOTP")");
                                            return false;
                                        }
                                        EnterSMSOTP=EnterSMSOTP.trim();
                                        $.ajax({
                                            cache: false,
                                            type: "Get",
                                            url: "@(Url.Action("VerifySMSOTP", "Epin"))",
                                            data: {EnterSMSOTP:EnterSMSOTP},
                                            success: function (data) {
                                                debugger;
                                                if (data == "1") {
                                                    $("#divVerifyOTP").hide();
                                                    $("#divEnterOTP").hide();
                                                    $("#OTPSend-button").prop('value', 'Resend OTP');
                                                    $("#OtpError").hide();
                                                    $("#OtpResult").show();
                                                    $("#OtpResult").val("@T("Account.Register.Errors.OTPVerified")");
                                                    $("#OtpResult").html("@T("Account.Register.Errors.OTPVerified")");
                                                    $("#OtpVerified").attr('value','true');
                                                }
                                                if (data == "2") {
                                                    $("#divVerifyOTP").show();
                                                    $("#divEnterOTP").show();
                                                    $("#OtpError").show();
                                                    $("#OtpResult").hide();
                                                    $("#OtpError").val("@T("Account.Register.Errors.EnteredwrongOTP")");
                                                    $("#OtpError").html("@T("Account.Register.Errors.EnteredwrongOTP")");
                                                    $("#OtpVerified").attr('value','false');
                                                }

                                                if (data == "3") {
                                                    $("#divVerifyOTP").show();
                                                    $("#divEnterOTP").show();
                                                    $("#OtpError").show();
                                                    $("#OtpResult").hide();
                                                    $("#OtpError").val("@T("Account.Register.Errors.ResendOTP")");
                                                    $("#OtpError").html("@T("Account.Register.Errors.ResendOTP")");
                                                    $("#OtpVerified").attr('value','false');
                                                }
                                            },
                                        });
                                        return false;
                                    });

</script>
@if (Model.OtpVerified == true)
{
    <script>
        $("#divVerifyOTP").hide();
        $("#divEnterOTP").hide();
        $("#OTPSend-button").prop('value', 'Resend OTP');
        $("#OtpError").hide();
        $("#OtpResult").show();
        $("#OtpResult").val("@T("Account.Register.Errors.OTPVerified")");
        $("#OtpResult").html("@T("Account.Register.Errors.OTPVerified")");
        $("#OtpVerified").attr('value','true');
    </script>
}
