﻿@model Nop.Admin.ViewModel.PinRequest_Hdr

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //page title
    ViewBag.Title = T("Admin.Customers.BlockedEpin").Text;
    Html.SetActiveMenuItemSystemName("Blocked Pin");
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Customers.BlockedEpin")
        </h1>
        <div class="pull-right">
            @*<button type="submit" id="ExportExcel" name="exportexcel-all" class="btn btn-success">
                    <i class="fa fa-file-excel-o"></i>
                    @T("Admin.Common.ExportToExcel")
                </button>*@
        </div>
    </div>
    <div class="content" id="searchPanel">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.BPTSearch)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.ddlOption2, new List<SelectListItem>()
                                            {
                                            new SelectListItem(){Text="All Record(s)", Value="0"},
                                            new SelectListItem(){Text="Request No-wise.",Value="1"},
                                            new SelectListItem(){Text="E-Pin  Sr. No. Range.",Value="2"},
                                            new SelectListItem(){Text="ID/Name-wise.",Value="3"}
                                            }, new { @onchange = "ChangeField(this.value)" })
                                    </div>
                                </div>
                                <div class="form-group" id="tblMember">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.BPTmemberNo)
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" id="txtMember" value="" class="form-control text-box single-line" name="" />
                                        @*<input type="hidden" name="hiddenSearchMemno" id="hiddenSearchMemno" value=" " />*@
                                        @Html.HiddenFor(model => model.hiddenSearchMemno)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" id="tblAll">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.BPTSelectVoucher)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.VoucherId, Model.VoucherList, "All Record(s)", new { @class = "form-control valid", autocomplete = "off", maxlength = 22, Id = "VoucherId" })

                                    </div>
                                </div>
                                <div class="form-group" id="tblPinReq">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.BPTRequestNo)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.txtRequestNo)
                                    </div>
                                </div>
                                <div class="form-group" id="tbltxtStartSrNo">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.BPTStartSrNo)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.txtStartSrNo)
                                    </div>
                                </div>
                                <div class="form-group" id="tbltxtEndSrNo">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.BPTEndSrNo)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.txtEndSrNo)
                                    </div>
                                </div>
                                <div class="form-group" id="tblFromDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.BPTFromDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.FromDate)
                                        @Html.HiddenFor(model => model.HFromDate)
                                    </div>
                                </div>
                                <div class="form-group" id="tblToDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.BPTToDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.ToDate)
                                        @Html.HiddenFor(model => model.HToDate)
                                    </div>
                                </div>
                                <div class="form-group" id="trEpinNote">
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-8">
                                        <b id="MessageNote"> @T("Admin.Note.Note") </b> @T("Admin.Note.EpinGenerationDates")
                                    </div>
                                </div>
                                <div class="form-group" id="trAddToList">
                                    <div class="col-md-4 col-md-offset-3">
                                        <button type="button" id="ViewReport" class="btn btn-primary btn-search " value="@T("admin.common.viewreport")">
                                            <i class="fa fa-search"></i>
                                            @T("admin.common.viewreport")
                                        </button>
                                        @*<input type="button" id="" class="btn btn-primary btn-search" value="@T(" ")" />*@

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">

                        <div id="customers-grid"></div>
                        <script>
                            $(document).ready(function () {
                                // $('#ViewReport').click(function () {
                                $("#customers-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("BlockedPinTrnGrid", "Epin"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: true,
                                    dataBound: onDataBound,
                                    columns: [ {
                                        field: "Id",
                                        headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: "<input type='checkbox' value='#=PDM_ID# #=PDM_SrNo# #=VoucherNameStatus# #=PTM_Name# #=PDM_MemName#'  class='checkboxGroups'/>",
                                        width: 50
                                    }, {
                                        field: "PDM_ID",
                                        title:"@T("Admin.Customers.Customers.Fields.PDM_ID")",
                                        width: 50,
                                        hidden:true
                                    },  {
                                        field: "PDM_SrNo",
                                        title: "@T("Admin.Customers.Customers.Fields.PDM_SrNo")",
                                        width: 80
                                    }, {
                                        field: "VoucherNameStatus",
                                        title: "@T("Admin.Customers.Customers.Fields.VoucherNameStatus")",
                                        width: 100
                                    },{
                                        field: "PTM_Name",
                                        title: "@T("Admin.Customers.Customers.Fields.PTM_Name")",
                                        width: 100
                                    }, {
                                        field: "PVH_Amount",
                                        title: "@T("Admin.Customers.Customers.Fields.PVH_Amount")",
                                        width: 100
                                    },  {
                                        field: "PDM_DateTime",
                                        title: "@T("Admin.Customers.Customers.Fields.PDM_DateTime")",
                                        width: 100,
                                        //  type: "date",
                                        // format: "{0:G}"
                                    },{
                                        field: "PDM_DispatchDtm",
                                        title: "@T("Admin.Customers.Customers.Fields.PDM_DispatchDtm")",
                                        width: 100
                                        // type: "date",
                                        // format: "{0:G}"
                                    }, {
                                        field: "PDM_MemName",
                                        title: "@T("Admin.Customers.Customers.Fields.NameID")",
                                        width: 100
                                    }]
                                });
                            });
                            // });
                        </script>


                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-8">
                            <div class="form-group" id="ddlnaration">
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.ddlNarration)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopDropDownListFor(model => model.ddlNarration, new List<SelectListItem>
                                    ()
                                    {
                                    new SelectListItem(){Text="Block Epin", Value="4"},
                                    new SelectListItem(){Text="Other",Value="other"}
                                    })
                                </div>
                            </div>
                            <div class="form-group" id="tbltxtnaration">
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.txtNarration)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopEditorFor(model => model.txtNarration)
                                </div>
                            </div>

                            <div class="form-group" id="trAddToList">
                                <div class="col-md-8 col-md-offset-4">
                                    <input type="submit" id="btnBlock" class="btn btn-primary btn-search" value="@T("Admin.Epin.BlockPin")" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <script type="text/javascript">

                    var selectedIds = [];
                    var validationDivs='';

                    $('#txtStartSrNo').bind('keyup focusout paste', function () {
                        this.value = this.value.replace(/[^0-9]/g, '');
                    });

                    $('#txtEndSrNo').bind('keyup focusout paste', function () {
                        this.value = this.value.replace(/[^0-9]/g, '');
                    });

                    $("#reset").click(function (){
                        $("#ddlOption2").val("0");
                        $("#txtMember").val("");
                        $("#hiddenSearchMemno").val("");
                        $("#VoucherId").val("");
                        $("#txtRequestNo").val("");
                        $("#txtEndSrNo").val("");
                        $('#FromDate').val("");
                        $('#ToDate').val("");
                        $('#ddlNarration').val("4");
                        $('#tblMember').hide();
                        $("#customers-grid").hide();
                        $('#tblAll').show();
                        $("#tblFromDate").show();
                        $('#tblToDate').show();
                        $('#tblPinReq').hide();
                        $('#tbltxtStartSrNo').hide();
                        $('#tbltxtEndSrNo').hide();
                        $("#customers-grid").hide();
                        $('#validationMessages').html('');
                        $("#validationMessages").hide();
                        $('#searchResult').hide();
                        $('#adminContent').hide();
                        $('#ddlnaration').hide();
                        $('#tbltxtnaration').hide();
                        $('#btnblock').hide();
                    });

                    $("#VoucherId").keydown(function(e){
                        if(e.which === 13){
                            $('#ViewReport').click()
                            return false;
                        }
                    });

                    $("#txtMember").keydown(function(e){
                        if((e.which === 13 || e.which === 9) && $('#hiddenSearchMemno').val()!=" "){
                            $('#ViewReport').click()
                            return false;
                        }
                    });

                    $("#txtStartSrNo").keydown(function(e){
                        if((e.which === 13 || e.which === 9)){
                            $('#ViewReport').click()
                            return false;
                        }
                    });

                    $("#txtEndSrNo").keydown(function(e){
                        if((e.which === 13 || e.which === 9)){
                            $('#ViewReport').click()
                            return false;
                        }
                    });

                    $("#txtRequestNo").keydown(function(e){
                        if((e.which === 13 || e.which === 9)){
                            $('#ViewReport').click()
                            return false;
                        }
                    });
                    $("#ddlOption2").keydown(function(e){
                        if(e.which === 13){
                            $('#ViewReport').click()
                            return false;
                        }
                    });

                    $('#FromDate').keydown(keyDownHandler); // use appropriate selector for the keydown handler

                    function keyDownHandler(e) {
                        
                        validationDivs='';
                        if(e.keyCode === 13) {
                            if($('#ToDate').val()!='')
                            {
                                e.stopPropagation();
                                e.preventDefault();
                                $('#ViewReport').click()
                                return false;
                            }
                            else{
                                validationDivs=validationDivs+ '<div></div>';
                                $('#ViewReport').click()
                                flag=false;
                                return false;
                            }
                        }
                        else{
                            $(this).val('');
                        }
                    }

                    $('#ToDate').keydown(keyDownHandler1); // use appropriate selector for the keydown handler

                    function keyDownHandler1(e) {
                        
                        validationDivs='';
                        if(e.keyCode === 13) {
                            if($('#FromDate').val()!='')
                            {
                                e.stopPropagation();
                                e.preventDefault();
                                $('#ViewReport').click()
                                return false;
                            }
                            else{
                                validationDivs=validationDivs+ '<div></div>';
                                $('#ViewReport').click()
                                flag=false;
                                return false;
                            }
                        }
                        else{
                            $(this).val('');
                        }
                    }

                    $(document).ready(function () {
                        // 
                        $("#tbltxtnaration").hide();
                        //    $("#ddlnaration").hide();
                        //  $("#btnblock").hide();
                        //  $('#tbltxtnaration').hide();
                        $("#validationMessages").hide();

                        //$("#FromDate").keyup(function(){
                        //    $(this).val('');
                        //});
                        $("#ToDate").keyup(function(){
                            $(this).val('');
                        });

                        //search button
                        $('#ViewReport').click(function () {
                            // 
                            var ddlOption=$("#ddlOption2 ").val();
                            var txtMember=$('#txtMember').val();
                            var hiddenSearchMemno=$('#hiddenSearchMemno').val();
                            var txtRequestNo=$('#txtRequestNo').val();
                            var FDate = $("#FromDate").val();
                            var TDate = $("#ToDate").val();
                            var FromDate = "";
                            var ToDate = "";
                            if (FDate != "") {
                                FromDate = getDate($("#FromDate").data("kendoDatePicker").value());
                            }
                            if (TDate != "") {
                                ToDate = getDate($("#ToDate").data("kendoDatePicker").value());
                            }
                            $('#validationMessages').html('');
                            $("#validationMessages").hide();
                            $(".alert.alert-success.alert-dismissable").hide();
                            $(".alert.alert-danger.alert-dismissable").hide();
                            validationDivs='';
                            var txtStartSrNo=$('#txtStartSrNo').val();
                            var txtEndSrNo=$('#txtEndSrNo').val();

                            var flag=true;

                            if(ddlOption == 3)
                            {
                                if(txtMember == '')
                                {
                                    validationDivs=validationDivs+ '<div>@T("Admin.Validation.IdNameRequired")</div>';
                                    flag=false;
                                }
                                if(txtMember !='' && hiddenSearchMemno ==" ")
                                {
                                    validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                                    flag=false;
                                }
                            }
                            if(ddlOption ==1)
                            {
                                if(txtRequestNo == '')
                                {
                                    validationDivs=validationDivs+ '<div>@T("Admin.Validation.RequestNoRequired")</div>';
                                    flag=false;
                                }
                            }

                            if(ddlOption ==2)
                            {
                                if(txtStartSrNo == '')
                                {
                                    validationDivs=validationDivs+ '<div>@T("Admin.Validation.EnterStartSerialNo")</div>';
                                    flag=false;
                                }

                                if(txtEndSrNo == '')
                                {
                                    validationDivs=validationDivs+ '<div>@T("Admin.Validation.EnterEndSerialNo")</div>';
                                    flag=false;
                                }
                            }

                            if (FromDate != '' && ToDate == '' )
                            {
                                validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                                flag=false;
                            }
                            if (ToDate != '' && FromDate == '')
                            {
                                validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                                flag=false;
                            }

                            var EnteredDate = getDate($("#FromDate").data("kendoDatePicker").value());
                            var EnteredFromdate=getDate($("#ToDate").data("kendoDatePicker").value());

                            var myDate = new Date(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                            var myFromDate = new Date(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                            var today = new Date();
                            var start_time=$("#DatewiseFrom").val();
                            var end_time=$("#DatewiseTo").val();

                            if (myFromDate > today) {

                                validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                                flag=false;
                            }
                            if (myFromDate < myDate) {
                                validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                                flag=false;
                            }

                            if(flag)
                            {
                                $("#HFromDate").val(EnteredDate);
                                $("#HToDate").val(EnteredFromdate);
                                // $("#tbltxtnaration").show();
                                $("#ddlnaration").show();
                                $("#btnblock").show();
                                var grid = $('#customers-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                //clear selected checkboxes
                                $('.checkboxGroups').attr('checked', false).change();
                                selectedIds = [];
                                $("#customers-grid").show();
                                $('#ddlnaration').show();
                                //$('#tbltxtnaration').show();
                                $('#btnblock').show();
                                return false;
                            }
                            else
                            {
                                $("#validationMessages").show();
                                $('#validationMessages').append(validationDivs);
                                return false;
                            }
                        });
                    });

                    $('#ddlNarration').change(function (){
                        // 
                        var value = $(this).val();
                        if (value == "other") {
                            $('#tbltxtnaration').show();
                        }
                        else
                        {
                            $('#tbltxtnaration').hide();
                        }
                    });

                    $('#customers-grid').on('change', 'input[id=mastercheckbox]', function (e) {
                        $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                    });

                    //wire up checkboxes.
                    $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                        var $check = $(this);
                        if ($check.is(":checked") == true) {
                            var checked = jQuery.inArray($check.val(), selectedIds);
                            if (checked == -1) {
                                //add id to selectedIds.
                                selectedIds.push($check.val());
                            }
                            $("#SelectedValues").val(selectedIds);
                        }
                        else {
                            var checked = jQuery.inArray($check.val(), selectedIds);
                            if (checked > -1) {
                                //remove id from selectedIds.
                                selectedIds = $.grep(selectedIds, function (item, index) {
                                    return item != $check.val();
                                });
                                $("#SelectedValues").val(selectedIds);
                            }
                        }
                        updateMasterCheckbox();
                    });

                    $('#btnBlock').click(function(e) {
                        //  
                        $('#validationMessages').html('');
                        $("#validationMessages").hide();
                        $(".alert.alert-success.alert-dismissable").hide();

                        var validationDivs1='';

                        if(selectedIds=='' || selectedIds.length<=0)
                        {
                            // alert("Select At Least One Record");
                            validationDivs1=validationDivs1+'<div>@T("Admin.Validation.SelectAtLeastOneRecord")</div>';
                            $("#validationMessages").show();
                            $('#validationMessages').append(validationDivs1);
                            return false;
                        }
                        else
                        {
                            //  
                            var txtNarration=$("#txtNarration").val();
                            var ddlNarration=$("#ddlNarration").val();
                            e.preventDefault();
                            var epinList=[];
                            $.each(selectedIds,function(i,val){
                                /// alert(val);
                                epinList.push($('#txt'+val.split(' ',1)).val());
                                // alert('something'+$('#txt'+val.split(' ',1)).val());
                            });
                            var postData = {
                                selectedIds: selectedIds,
                                epinList:epinList,
                                txtNarration:txtNarration,
                                ddlNarration:ddlNarration,
                            };
                            addAntiForgeryToken(postData);

                            $.ajax({
                                cache: false,
                                type: "POST",
                                url: "@(Url.Action("BlockPin", "Epin"))",
                                data: postData,
                                success: function(data) {
                                    //var str=window.location.href.split('/')[3];
                                    //var finalurl='http://punecs/'+str+'/Admin/Epin/BlockedPinTrn?suc=' + data;
                                    //window.location = finalurl;
                                    // window.location.href = 'http://punecs/VentaforceBaseVersion/Admin/Epin/BlockedPin?suc=' + data;

                                    var newUrl="";
                                    if(data==1)
                                    {
                                        var newUrl= '@Url.Action("BlockedPinTrn", "Epin", new { suc = 1 })';
                                    }
                                    window.location.href = newUrl;
                                },
                                error: function(xhr, ajaxOptions, thrownError) {
                                    alert(thrownError);
                                },
                                traditional: true
                            });
                            return false;
                        }
                    });

                    function ddlChangeField(selectedValue) {
                        if (selectedValue == "other") {
                            $("#txtNarration").show();
                        }
                    }
                    function onDataBound(e) {

                        $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                            var currentId = $(this).val();
                            var checked = jQuery.inArray(currentId, selectedIds);
                            //set checked based on if current checkbox's value is in selectedIds.
                            $(this).attr('checked', checked > -1);
                        });

                        updateMasterCheckbox();
                    }

                    function updateMasterCheckbox() {
                        var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                        var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                        $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                    }

                    function additionalData() {
                        var customerRoleIds = [];
                        $('[name=SearchCustomerRoleIds]:checked').each(function () {
                            customerRoleIds.push($(this).val());
                        });

                        var StartDate = $("#FromDate").val();
                        var EndDate = $("#ToDate").val();

                        var startDate = null;
                        var endDate = null;

                        if (StartDate != "")
                            startDate = getDate($("#FromDate").data("kendoDatePicker").value());
                        if (EndDate != "")
                            endDate = getDate($("#ToDate").data("kendoDatePicker").value());


                        var data = {

                            ddlOption2: $('#@Html.FieldIdFor(model => model.ddlOption2)').val(),
                            VoucherList: $('#@Html.FieldIdFor(model => model.VoucherList)').val(),
                            VoucherId:$('#@Html.FieldIdFor(model => model.VoucherId)').val(),
                            @*FromDate: $('#@Html.FieldIdFor(model => model.FromDate)').val(),
                            ToDate: $('#@Html.FieldIdFor(model => model.ToDate)').val(),*@
                            //FromDate: getDate($("#FromDate").data("kendoDatePicker").value()),
                            //ToDate:getDate($("#ToDate").data("kendoDatePicker").value()),
                            HFromDate: startDate,
                            HToDate: endDate,
                            txtRequestNo: $('#@Html.FieldIdFor(model => model.txtRequestNo)').val(),
                            Membert: $('#hiddenSearchMemno').val(),
                            hiddenSearchMemno: $('#@Html.FieldIdFor(model => model.hiddenSearchMemno)').val(),
                            txtStartSrNo: $('#@Html.FieldIdFor(model => model.txtStartSrNo)').val(),
                            txtEndSrNo: $('#@Html.FieldIdFor(model => model.txtEndSrNo)').val(),
                            txtNarration: $('#@Html.FieldIdFor(model => model.txtNarration)').val(),
                            ddlNarration: $('#@Html.FieldIdFor(model => model.ddlNarration)').val()

                        };
                        addAntiForgeryToken(data);
                        return data;
                    }
                </script>




            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tbltxtnaration').hide();
            $("#tblPinReq").hide();
            $("#tblMember").hide();
            $("#tbltxtStartSrNo").hide();
            $("#tbltxtEndSrNo").hide();
        });

        function ChangeField(selectedValue) {

            var tblAll = $("#tblAll");
            var tblPinReq = $("#tblPinReq");
            var tblMember = $("#tblMember");

            //  clearText($("#txtFromDate"));
            // clearText($("#txtToDate"));
            //clearText($("#txtRequestNo"));
            //clearText($("#txtMember"));
            // clearText("<%=txtMFromDate.ClientID%>");
            // clearText("<%=txtMToDate.ClientID%>");

            $("#fldResults").hide();
            $("#cvValidateFromDate").hide();
            $("#cvFromDate").hide();
            $("#CustomValidator1").hide();
            // document.getElementById("<%=cvToDate.ClientID%>").style.display = 'none';
            // document.getElementById("<%=cvValidDate.ClientID%>").style.display = 'none';
            $("#MyCustomValidator").hide();
            $("#CustomValidator7").hide();
            hidefldResults();
            if (selectedValue == 0) {

                $("#tblAll").show();
                $("#tblPinReq").hide();
                $("#tblMember").hide();
                $("#tblStatus").show();
                $("#tblFromDate").show();
                $("#tblToDate").show();
                $('#trEpinNote').show();
                $("#tbltxtStartSrNo").hide();
                $("#tbltxtEndSrNo").hide();
            }
            else if (selectedValue == 1) {

                $("#tblAll").hide();
                $("#tblStatus").hide();
                $("#tblPinReq").show();
                $("#tblMember").hide();
                $("#tblFromDate").hide();
                $("#tblToDate").hide();
                $("#trEpinNote").hide();
                $("#tbltxtStartSrNo").hide();
                $("#tbltxtEndSrNo").hide();
            }
            else if (selectedValue == 2) {

                $("#tblAll").hide();
                $("#tblPinReq").hide();
                $("#tblMember").hide();
                $("#tblStatus").hide();
                $("#tblFromDate").hide();
                $("#tblToDate").hide();
                $("#trEpinNote").hide();
                $("#tbltxtStartSrNo").show();
                $("#tbltxtEndSrNo").show();
            }
            else if (selectedValue == 3) {

                $("#tblAll").show();
                $("#tblPinReq").hide();
                $("#tblMember").show();
                $("#tblStatus").hide();
                $("#tblFromDate").show();
                $("#tblToDate").show();
                $("#trEpinNote").show();
                $("#tbltxtStartSrNo").hide();
                $("#tbltxtEndSrNo").hide();
            }
        }
        function changeOption(selectedValue) {

            var tblAll = $("#tblAll");
            var tblPinReq = $("#tblPinReq");
            var tblMember = $("#tblMember");

            clearText($("#txtFromDate"));
            clearText($("#txtToDate"));
            clearText($("#txtRequestNo"));
            clearText($("#txtMember"));
            // clearText("<%=txtMFromDate.ClientID%>");
            // clearText("<%=txtMToDate.ClientID%>");

            $("#fldResults").hide();
            $("#cvValidateFromDate").hide();
            $("#cvFromDate").hide();
            $("#CustomValidator1").hide();
            // document.getElementById("<%=cvToDate.ClientID%>").style.display = 'none';
            // document.getElementById("<%=cvValidDate.ClientID%>").style.display = 'none';
            $("#MyCustomValidator").hide();
            $("#CustomValidator7").hide();
            hidefldResults();
            if (selectedValue == 0) {

                (tblAll.id).show();
                (tblPinReq.id).hide();
                (tblMember.id).hide();
            }
            else if (selectedValue == 1) {

                (tblAll.id).hide();
                (tblPinReq.id).show();
                (tblMember.id).hide();
            }
            else if (selectedValue == 2) {

                (tblAll.id).show();
                (tblPinReq.id).hide();
                (tblMember.id).show();
            }
        }
        function changeOption(selectedValue) {
            $("#fldResults").hide();
        }

        function hidefldResults() {
            $("#fldResults").hide();
        }
        function fnReset() {
            changeOption(0);
            //clearDropDown("#ddlOption1.ClientID");
            //clearDropDown("#ddlStatus.ClientID");
            //clearDropDown("#ddlOption2.ClientID");
            //clearDropDown("#ddlVoucher.ClientID");
            $("#fldResults").hide();

        }
        var TraderEpinSetting=  @Html.Raw(Json.Encode(Model.TraderEpinSetting));
        if(TraderEpinSetting)
        {
            $('#txtMember').autocomplete({
                delay: 500,
                minLength: 1,
                @*source: '@(Url.Action("SearchTermAutoComplete","Epin"))',*@
                source: '@(Url.Action("SearchTermAutoCompleteCustomerTraders", "Common"))',
                appendTo: '.search-box',
                select: function (event, ui) {

                    $("#hiddenSearchMemno").val(ui.item.Id);
                    $("#txtMember").val(ui.item.label);
                    $("#divfirstname").show();
                    return false;
                }
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                var t = item.label;
                //html encode
                t = $('<div/>').text(t).html();
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a><span>" + t + "</span></a>")
                    .appendTo(ul);
            };
        }
        else
        {
            $('#txtMember').autocomplete({
                delay: 500,
                minLength: 1,
                @*source: '@(Url.Action("SearchTermAutoComplete","Epin"))',*@
                source: '@(Url.Action("SearchTermAutoCompleteDownline", "Common"))',
                appendTo: '.search-box',
                select: function (event, ui) {

                    $("#hiddenSearchMemno").val(ui.item.Id);
                    $("#txtMember").val(ui.item.label);
                    $("#divfirstname").show();
                    return false;
                }
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                var t = item.label;
                //html encode
                t = $('<div/>').text(t).html();
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a><span>" + t + "</span></a>")
                    .appendTo(ul);
            };
        }
        $("#ExportExcel").click(function() {
            
            var FDate = $("#FromDate").val();
            var TDate = $("#ToDate").val();
            var FromDate = "";
            var ToDate = "";
            if (FDate != "") {
                $("#HFromDate").val(getDate($("#FromDate").data("kendoDatePicker").value()));
            }
            else {
                $("#HFromDate").val(FDate);
            }
            if (TDate != "") {
                $("#HToDate").val(getDate($("#ToDate").data("kendoDatePicker").value()));
            }
            else {
                $("#HToDate").val(TDate);
            }
            //var t=$("#HFromDate").val();
        });
    </script>


}


