﻿@model Nop.Admin.ViewModel.EpinTransferReport
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Epin.EpinTransferReport").Text;
    Html.SetActiveMenuItemSystemName("Epin Transfer Report");
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Epin.EpinTransferReport")
        </h1>
        <div class="pull-right">
            @*<input type="submit" name="exportexcel-all" id="ExportExcel" class="btn bg-green" value="@T("Admin.Common.ExportToExcel")" />*@
            <button type="submit" id="ExportExcel" name="exportexcel-all" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                @T("Admin.Common.ExportToExcel")
            </button>
        </div>
    </div>
    <div class="content" id="searchPanel">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ddlMemOption)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.ddlMemOption, new List<SelectListItem>()
                                           {
                                               //new SelectListItem(){Text="All ID's", Value="0"},
                                               new SelectListItem(){Text="ID/Name-wise",Value="1"}
                                           }, new { @onchange = "ChangeField(this.value)" })
                                    </div>
                                </div>
                                <div class="form-group" id="tblMember">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.MemberName)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.MemberName)
                                        @Html.HiddenFor(model => model.MemId)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.VoucherId)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.VoucherId, Model.VoucherList, "All Record(s)", new { @class = "form-control valid" })
                                    </div>
                                </div>
                                <div class="form-group" id="tblFromDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.FromDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.FromDate)
                                        @Html.HiddenFor(model => model.HFromDate)
                                    </div>
                                </div>
                                <div class="form-group" id="tblToDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ToDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.ToDate)
                                        @Html.HiddenFor(model => model.HToDate)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-3">
                                        <button type="button" id="ViewReport" class="btn btn-primary btn-search " value="@T("admin.common.viewreport")">
                                            <i class="fa fa-search"></i>
                                            @T("admin.common.viewreport")
                                        </button>
                                        @*<input type="button" id="ViewReport" class="btn btn-primary btn-search" value="@T("Admin.Common.ViewReport")" />*@

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" id="showbuttons">
                    <div class="panel-body">
                        <h3>@T("Admin.Customer.SearchResult")</h3>
                        <br />
                        <div id="customers-grid"></div>
                        <script>
                            $(document).ready(function () {

                                $("#customers-grid").show();

                                $("#customers-grid").kendoGrid({
                                    autoBind: false,
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("EpinTransferTransactionReportGrid", "Epin"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: true,
                                    //    dataBound: onDataBound,
                                    columns: [
                                     {
                                         field: "SrNo",
                                         title: "@T("Admin.CustomerReport.SrNo")",
                                         hidden:true,
                                         width: 100
                                     }, {
                                         field: "UniqueCode",
                                         title: "@T("Admin.Customers.Customers.Fields.UniqueCode")",
                                         width: 100
                                     },{
                                         field: "SerialNo",
                                         title: "@T("Admin.Customers.Customers.Fields.PinSrNo")",
                                         width: 100
                                     },{
                                         field: "VoucherName",
                                         title: "@T("Admin.Customers.Customers.Fields.VoucherName")",
                                         width: 100
                                     },   {
                                         field: "EpinType",
                                         title: "@T("Admin.Customers.Customers.Fields.PinType")",
                                         width: 100
                                     },   {
                                         field: "Amount",
                                         title: "@T("Admin.Customers.Customers.Fields.Amount")",
                                         width: 100
                                     },   {
                                         field: "TransferedFrom",
                                         title: "@T("Admin.Customers.Customers.Fields.TransferedFrom")",
                                         width: 100
                                     }, {
                                         field: "TransferedTo",
                                         title: "@T("Admin.Customers.Customers.Fields.TransferedTo")",
                                         width: 100
                                     }, {
                                         field: "Status",
                                         title: "@T("Admin.Customers.Customers.Fields.PinStatus")",
                                         width: 100
                                     }, {
                                         field: "Epinstatusdate",
                                         title: "@T("Admin.Customers.Customers.Fields.StatusDateAndTime")",
                                         width: 100
                                     }, {
                                         field: "TransferDate",
                                         title: "@T("Admin.Customers.Customers.Fields.TransferDate")",
                                         width: 100
                                     }]
                                });
                            });
                        </script>

                        <script type="text/javascript">


                            $(document).ready(function () {
                                $("#validationMessages").hide();
                                $('#validationMessages').html('');

                                //search button
                                $('#ViewReport').click(function () {
                                    $("#txtNarration").show();
                                    $("#ddlnaration").show();
                                    $("#btnblock").show();
                                    $('#showbuttons').hide();
                                    $("#customers-grid").hide();
                                    $('#validationMessages').html('');
                                    $("#validationMessages").hide();

                                    // 
                                    var ddlMemOption=$('#ddlMemOption').val();
                                    var MemberName=$('#MemberName').val();
                                    var MemId=$('#MemId').val();
                                    var FDate = $("#FromDate").val();
                                    var TDate = $("#ToDate").val();
                                    var FromDate = "";
                                    var ToDate = "";
                                    if (FDate != "") {
                                        FromDate = getDate($("#FromDate").data("kendoDatePicker").value());
                                    }
                                    if (TDate != "") {
                                        ToDate = getDate($("#ToDate").data("kendoDatePicker").value());
                                    }
                                    var validationDivs='';

                                    var flag=true;

                                    if(ddlMemOption == 1)
                                    {
                                        if(MemberName == '')
                                        {
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.IdNameRequired")</div>';
                                            flag= false;
                                        }

                                        if(MemberName !='' && MemId == '')
                                        {
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                                            flag=false;
                                        }
                                    }

                                    if (FromDate != '' && ToDate == '' )
                                    {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                                        flag=false;
                                    }
                                    if (ToDate != '' && FromDate =='')
                                    {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                                        flag=false;
                                    }

                                    var EnteredDate = getDate($("#FromDate").data("kendoDatePicker").value());
                                    var EnteredFromdate=getDate($("#ToDate").data("kendoDatePicker").value());

                                    var myDate = new Date(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                    var myFromDate = new Date(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                                    var today = new Date();
                                    var start_time=$("#DatewiseFrom").val();
                                    var end_time=$("#DatewiseTo").val();

                                    if (myFromDate > today) {

                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                                        flag=false;
                                    }
                                    if (myFromDate < myDate) {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                                        flag=false;
                                    }

                                    if(flag)
                                    {
                                        $("#HFromDate").val(EnteredDate);
                                        $("#HToDate").val(EnteredFromdate);
                                        var grid = $('#customers-grid').data('kendoGrid');
                                        grid.dataSource.page(1);
                                        $('#showbuttons').show();
                                        $("#customers-grid").show();
                                        $("#validationMessages").hide();
                                        return false;
                                    }
                                    else
                                    {
                                        $("#validationMessages").show();
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                });

                                function onDataBound(e) {

                                    $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                        var currentId = $(this).val();
                                        var checked = jQuery.inArray(currentId, selectedIds);
                                        //set checked based on if current checkbox's value is in selectedIds.
                                        $(this).attr('checked', checked > -1);
                                    });
                                    updateMasterCheckbox();
                                }

                                function updateMasterCheckbox() {
                                    var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                    var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                    $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                                }

                                $("#@Html.FieldIdFor(model => model.ddlMemOption)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-downlinedetails").click();
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.PinTypeId)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-downlinedetails").click();
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.VoucherId)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-downlinedetails").click();
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.FromDate)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-downlinedetails").click();
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.ToDate)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-downlinedetails").click();
                                        return false;
                                    }
                                });


                                $("#@Html.FieldIdFor(model => model.MemId)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-downlinedetails").click();
                                        return false;
                                    }
                                });
                            });

                            function additionalData() {
                                var StartDate = $("#FromDate").val();
                                var EndDate = $("#ToDate").val();

                                var startDate = null;
                                var endDate = null;

                                if (StartDate != "")
                                    startDate = getDate($("#FromDate").data("kendoDatePicker").value());
                                if (EndDate != "")
                                    endDate = getDate($("#ToDate").data("kendoDatePicker").value());

                                var data = {

                                    ddlMemOption: $('#@Html.FieldIdFor(model => model.ddlMemOption)').val(),
                                    PinTypeId: $('#@Html.FieldIdFor(model => model.PinTypeId)').val(),
                                    VoucherId: $('#@Html.FieldIdFor(model => model.VoucherId)').val(),
                                    FromDate: startDate,
                                    ToDate: endDate,
                                    MemId:$('#@Html.FieldIdFor(model => model.MemId)').val(),
                                    HFromDate: startDate,
                                    HToDate:endDate,
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }

                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#validationMessages").hide();

            $("#FromDate").keyup(function(){
                $(this).val('');
            });
            $("#ToDate").keyup(function(){
                $(this).val('');
            });


            $("#MemberName").keydown(function(e){
                // 
                if((e.which === 13 || e.which === 9) && $('#MemId').val()!=" "){

                    $('#ViewReport').click()
                    return false;
                }
            });


            $('#FromDate').keydown(keyDownHandler); // use appropriate selector for the keydown handler

            function keyDownHandler(e) {
                if(e.keyCode === 13) {
                    e.stopPropagation();
                    e.preventDefault();
                    $('#ViewReport').click()
                    return false;
                }
            }

            $('#ToDate').keydown(keyDownHandler1); // use appropriate selector for the keydown handler

            function keyDownHandler1(e) {
                if(e.keyCode === 13) {
                    e.stopPropagation();
                    e.preventDefault();
                    $('#ViewReport').click()
                    return false;
                }
            }

            $("#ToDate").keyup(function(e){
                // 
                if(e.keyCode === 13) {
                    if($('#ToDate').val()!='')
                    {
                        $('#ViewReport').click()
                        return false;
                    }
                    else{
                        validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                        flag=false;
                    }
                }
                else{
                    $(this).val('');
                }

            });
            $("#FromDate").keyup(function(e){
                //
                if(e.keyCode === 13) {
                    if($('#FromDate').val()!='')
                    {
                        $('#ViewReport').click()
                        return false;
                    }
                    else{
                        validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                        flag=false;
                    }
                }
                else{
                    $(this).val('');
                }
            });

            $('#VoucherId').live('keypress',function(e){
                if(e.keyCode === 13) {
                    $('#ViewReport').click()
                    return false;
                }
            });


            $("#showbuttons").hide();

            $('#btnReset').click(function () {
                $('#MemId').val("");
                $("#showbuttons").hide();
                $("#customers-grid").hide();
                $("#validationMessages").hide();
            });
        });

        function ChangeField(selectedValue) {
            if (selectedValue == 0) {
                $("#tblMember").hide();
                $("#hiddenSearchMemno").val("");
                $("#txtMember").val("");
            }
            else if (selectedValue == 1) {
                $("#tblMember").show();
                $("#hiddenSearchMemno").val("");
                $("#txtMember").val("");
            }
        }
        var TraderEpinSetting=  @Html.Raw(Json.Encode(Model.TraderEpinSetting));
        if(TraderEpinSetting)
        {
            $('#MemberName').autocomplete({
                delay: 500,
                minLength: 1,
                @*source: '@(Url.Action("SearchTermAutoComplete","Epin"))',*@
                source: '@(Url.Action("SearchTermAutoCompleteCustomerTraders", "Common"))',
                appendTo: '.search-box',
                select: function (event, ui) {

                    $("#MemId").val(ui.item.Id);
                    $("#MemberName").val(ui.item.label);
                    $("#divfirstname").show();
                    return false;
                }
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                var t = item.label;
                //html encode
                t = $('<div/>').text(t).html();
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a><span>" + t + "</span></a>")
                    .appendTo(ul);
            };
        }
        else
        {
            $('#MemberName').autocomplete({
                delay: 500,
                minLength: 1,
                @*source: '@(Url.Action("SearchTermAutoComplete","Epin"))',*@
                source: '@(Url.Action("SearchTermAutoCompleteDownline", "Common"))',
                appendTo: '.search-box',
                select: function (event, ui) {

                    $("#MemId").val(ui.item.Id);
                    $("#MemberName").val(ui.item.label);
                    $("#divfirstname").show();
                    return false;
                }
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                var t = item.label;
                //html encode
                t = $('<div/>').text(t).html();
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a><span>" + t + "</span></a>")
                    .appendTo(ul);
            };
        }
        $("#ExportExcel").click(function() {
            // 
            var FDate = $("#FromDate").val();
            var TDate = $("#ToDate").val();
            var FromDate = "";
            var ToDate = "";
            if (FDate != "") {
                $("#HFromDate").val(getDate($("#FromDate").data("kendoDatePicker").value()));
            }
            else {
                $("#HFromDate").val(FDate);
            }
            if (TDate != "") {
                $("#HToDate").val(getDate($("#ToDate").data("kendoDatePicker").value()));
            }
            else {
                $("#HToDate").val(TDate);
            }
            var t=$("#HFromDate").val();
        });
    </script>

}


