﻿@model Nop.Admin.ViewModel.PinStockDetails
@{
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";
}

@using System.Globalization;
@{
    var defaultGridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Epin.EpinStockLevelAlert").Text;
    Html.SetActiveMenuItemSystemName("Epin Stock Level Alert");
}
@using Nop.Web.Framework;

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content">
        <div class="options">
            <div>
                <h3>@T("Admin.Epin.MinimumstocklevelreachedforfollowingVoucher")</h3>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default adminContent verticalscroll">
                    <div class="panel-body">
                        <div id="payouts-grid"></div>
                        <script>
                            $(document).ready(function () {
                                $("#payouts-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("EpinStockLevelAlertGrid", "Epin"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: addAntiForgeryToken
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        @*pageSize: @(defaultGridPageSize),*@
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: false,
                                        numeric: false,
                                        previousNext: false,
                                        info: false,
                                        @*pageSizes: [@(gridPageSizes)]*@
                                    },
                                    scrollable: false,
                                    columns: [{
                                        field: "VoucherName",
                                        title: "@T("Admin.Epin.RequestDetails.VoucherName")",
                                        //  width: 50
                                    }, {
                                        field: "EPinType",
                                        title: "@T("Admin.Epin.RequestDetails.EPinType")",
                                        // width: 50
                                    }, {
                                        field: "MinimumStock",
                                        title: "@T("Admin.Epin.RequestDetails.MinimumStock")",
                                        // width: 50
                                    }, {
                                        field: "CurrentStock",
                                        title: "@T("Admin.Epin.RequestDetails.CurrentStock")",
                                        // width: 50
                                    }]
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
}