﻿@model Nop.Web.Framework.Models.Epin.EpinReportModel
@using Nop.Core;
@using Nop.Core.Infrastructure;

@{
    Html.AppendCssFileParts("~/Administration/Content/ionicons/css/ionicons-2.0.1.min.css");
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Customers.EpinReport").Text;
    Html.SetActiveMenuItemSystemName("Epin Report Details");
}

<style>
    .btn-default.active {
        color: #fff !important;
        background-color: #1d68ba !important;
        border-color: #317cce !important;
    }



    .k-grid table td {
        overflow-wrap: break-word !important;
    }

    @@media all and (min-width: 361px) and (max-width:480px) {
        #chartContainer {
            margin-left: 10% !important;
            margin-top: 0% !important;
        }

            #chartContainer canvas {
                width: 315px !important;
                height: 184px !important;
            }

        #chartContainer {
            height: 200px !important;
        }
    }

    @@media all and (min-width: 321px) and (max-width:360px) {
        #chartContainer {
            margin-left: 10% !important;
            margin-top: 0% !important;
        }

            #chartContainer canvas {
                width: 200px !important;
                height: 124px !important;
            }

        #chartContainer {
            height: 150px !important;
        }
    }


    #canvasjs-chart-credit {
        display: none !important;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>

    <div id="tabbuttons" class="content-header clearfix">

        <h1 class="pull-left">
            @T("Admin.Reports.EPinReport")
        </h1>
        <div class="pull-right">
            <button type="button" id="btnStockInfo" name="btnStockInfo" class="EpinReportDetails btn btn-default">
                @T("Member.Epin.EpinReport.StockInfo")
            </button>
            <button type="button" id="btnActiveEpins" name="btnActiveEpins" class="EpinReportDetails btn btn-default">
                @T("Member.Epin.EpinReport.ActiveEpins")
            </button>
            <button type="button" id="btnUsedEpins" name="btnUsedEpins" class="EpinReportDetails btn btn btn-default">
                @T("Member.Epin.EpinReport.UsedEpins")
            </button>
            <button type="button" id="btnBlockedEpins" name="btnBlockedEpins" class="EpinReportDetails btn btn btn-default">
                @T("Member.Epin.EpinReport.BlockedEpins")
            </button>
            <button type="button" id="btnExpiredEpins" name="btnExpiredEpins" class="EpinReportDetails btn btn btn-default">
                @T("Member.Epin.EpinReport.ExpiredEpins")
            </button>
            <button type="button" id="btnTransferredEpins" name="btnTransferredEpins" class="EpinReportDetails btn btn-default">
                @T("Member.Epin.EpinReport.TransferredEpins")
            </button>
            <button type="button" id="Export-ToExcel" name="exportexcel-all" class="btn btn-success" value="exportexcel-all">
                @T("admin.common.exporttoexcel")
            </button>
            @*<div class="btn-group">
                <button type="button" class="btn btn-success">
                    <i class="fa fa-download"></i>
                    @T("Admin.Common.Export")
                </button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">&nbsp;</span>
                </button>
                <ul class="dropdown-menu" role="menu" style="margin-left: -64px;padding: 6px 7px;">
                    <li>
                        <button type="button" name="AllEpinActionExport" id="AllEpinActionExport" class="btn btn-success" style="height: 26px; padding: 4px 11px;">
                            <i class="fa fa-file-excel-o"></i>
                            My E-pin
                        </button>
                    </li>

                    <li style="padding-top: 4px;">
                        <button type="button" id="TransferdEpinActionExport" name="TransferdEpinActionExport" class="btn btn-success" style="height: 26px; padding: 4px 11px;">
                            <i class="fa fa-file-excel-o"></i>
                            Transferred Epin
                        </button>
                    </li>
                </ul>
            </div>*@

        </div>
    </div>

    <div class="content">
        <div id="divStockInfo">
            <div class="form-horizontal">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.VoucherName)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.PinStockVoucherId, Model.VoucherList, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.EpinType)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.NopDropDownListFor(model => model.PinStockTypeId, Model.PinStockActionList, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br />
                            <div class="col-md-6">

                                <div id="chartContainer" style="width: 100%;height: 300px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="divOtherPinReport">
            <div class="form-horizontal">
                <div id="ClsPlusMinus" class="box collapsed-box">
                    <div class="box-header with-border clearfix">
                        <div class="box-title">
                            <i class="fa ion-search"></i>
                            @T("Admin.CustomerReport.SearchddlOption")
                        </div>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i id="searchPlusMinus" class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.SerarchBy)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownList("SelectReqNoSerialNo", new List<SelectListItem>
                                            {
                                           new SelectListItem{Text="Name / ID ",Value="0"},
                                            new SelectListItem{Text="Trader Name / ID ",Value="1"},
                                            new SelectListItem{Text="Order No",Value="2"},
                                            new SelectListItem{Text="Serial No",Value="3"}
                                            }, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group" id="divMemberName">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.MemberName)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.NopEditorFor(model => model.MemberName)
                                            @Html.HiddenFor(model => model.CustomerId)
                                            <div id="divfirstname" class="inputs"></div>
                                        </div>
                                    </div>

                                    <div class="form-group" id="divTraderName">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.TraderName)

                                        </div>
                                        <div class="col-md-8">
                                            @Html.NopEditorFor(model => model.TraderName)
                                            @Html.HiddenFor(model => model.TraderId)
                                            <div id="divTraderIdfirstname" class="inputs"></div>
                                        </div>
                                    </div>

                                    <div class="form-group" id="divRequestNo">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.RequestNo)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.NopEditorFor(model => model.RequestNo)
                                        </div>
                                    </div>

                                    <div class="form-group" id="divSerialNo">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.SerialNo)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.NopEditorFor(model => model.SerialNo)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.VoucherName)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.VoucherId, Model.VoucherList, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.EpinType)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.NopDropDownListFor(model => model.PintypeId, Model.PinTypesList, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.PinFromDate)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.NopEditorFor(model => model.PinFromDate)
                                            @Html.HiddenFor(model => model.HFromDate)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.PinToDate)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.NopEditorFor(model => model.PinToDate)
                                            @Html.HiddenFor(model => model.HToDate)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-2">
                                    <button type="button" name="btnSearch" id="btnSearch" class="btn bg-blue">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>

                                    <button type="button" name="btnreset" id="btnreset" class="btn bg-blue">
                                        <i class="fa fa-refresh"></i>
                                        @T("Admin.Common.Refresh")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="pull-right" id="ShowOnlyActiveBlockExpire">
                            <button type="button" id="btnAll" name="btnAll" class="btn btn-custon-four btn-default">All</button>
                            <button type="button" id="btnSealed" name="btnSealed" class="btn btn-custon-four btn-default">Sealed</button>
                            <button type="button" id="btnUnSealed" name="btnUnSealed" class="btn btn-custon-four btn-default">Un-Sealed</button>
                        </div>
                        <br />
                        <br />

                        <div id="JoiningDetails-grid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        var data;
        var id = "btnStockInfo";
        var PinDetailsStatusAction;
        var SealedAction;
        var VoucherId = 0;
        var PintypeId = 0;

        $(document).ready(function () {
            $("#validationMessages").hide();

            if ($("#SelectReqNoSerialNo").val() == "0") {
                $("#divMemberName").show();
                $("#divTraderName").hide();
                $("#divRequestNo").hide();
                $("#divSerialNo").hide();
            }
            else if ($("#SelectReqNoSerialNo").val() == "1") {
                $("#divMemberName").hide();
                $("#divTraderName").show();
                $("#divRequestNo").hide();
                $("#divSerialNo").hide();
            }
            else if ($("#SelectReqNoSerialNo").val() == "2") {
                $("#divMemberName").hide();
                $("#divTraderName").hide();
                $("#divRequestNo").show();
                $("#divSerialNo").hide();
            }
            else if ($("#SelectReqNoSerialNo").val() == "3") {
                $("#divMemberName").hide();
                $("#divTraderName").hide();
                $("#divRequestNo").hide();
                $("#divSerialNo").show();
            }
            else {
                $("#divMemberName").hide();
                $("#divTraderName").hide();
                $("#divRequestNo").hide();
                $("#divSerialNo").hide();
            }

            $('#divTraderName').hide();
            $('#divOrderperiod').hide();
            $('#ShowOnlyActiveBlockExpire').hide();
            $('#divOrderperiod').hide();

            $("#btnStockInfo").addClass('active');
            $("#divOtherPinReport").hide();

            if (id = "btnStockInfo") {
                setData();
                getData();
                getPieChart();
            }

            $("#btnAll").addClass('active');


        });


        function additionalData() {


            var myDate = new Date(getDateFromString($("#PinFromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
            var myFromDate = new Date(getDateFromString($("#PinToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));

            var today = new Date();
            var start_time = $("#DatewiseFrom").val();
            var end_time = $("#DatewiseTo").val();

            if (myFromDate > today) {

                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                $('#validationMessages').html(validationDivs);
                return false;
            }

            if (myFromDate < myDate) {
                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                $('#validationMessages').html(validationDivs);
                return false;
            }

            if (id == "btnStockInfo") {
                PinDetailsStatusAction = "StockInfo";
                VoucherId = $('#VoucherId').val();
                PintypeId = $('#PinStockTypeId').val();
                id = null;
            }
            else if (id == "btnActiveEpins") {
                id = "ActivePin";
                PinDetailsStatusAction = "";
                VoucherId = 0; // clear selected  Voucher  value
                PintypeId = 0; // clear selected  pin Type value
                PintypeId = $('#PintypeId').val();
            }
            else if (id == "btnUsedEpins") {
                id = "UsedPin";
                PinDetailsStatusAction = "";
                VoucherId = 0; // clear selected  Voucher  value
                PintypeId = 0; // clear selected  pin Type value
                PintypeId = $('#PintypeId').val();
            }
            else if (id == "btnBlockedEpins") {
                id = "Blockedpin";
                PinDetailsStatusAction = "";
                VoucherId = 0; // clear selected  Voucher  value
                PintypeId = 0; // clear selected  pin Type value
                PintypeId = $('#PintypeId').val();
            }
            else if (id == "btnExpiredEpins") {
                id = "ExpiredPin";
                PinDetailsStatusAction = "";
                VoucherId = 0; // clear selected  Voucher  value
                PintypeId = 0; // clear selected  pin Type value
                PintypeId = $('#PintypeId').val();
            }
            else if (id == "btnTransferredEpins") {
                PinDetailsStatusAction = "TransferredPin";
                VoucherId = 0; // clear selected  Voucher  value
                PintypeId = 0; // clear selected  pin Type value
                PintypeId = $('#PintypeId').val();
            }


            var CustomerId = $('#CustomerId').val();
            var data = {
                VoucherId: VoucherId,
                PintypeId: PintypeId,
                CustomerId: $('#CustomerId').val(),
                TraderId: $('#TraderId').val(),
                HFromDate: getDate($("#PinFromDate").data("kendoDatePicker").value()),
                HToDate: getDate($("#PinToDate").data("kendoDatePicker").value()),
                SelectReqNoSerialNo: $('#SelectReqNoSerialNo').val(),
                RequestNo: $('#RequestNo').val(),
                SerialNo: $('#SerialNo').val(),
                pinDetailsStatus: id,
                PinDetailsStatusAction: PinDetailsStatusAction,
                SealedAction: SealedAction
            };
            addAntiForgeryToken(data);
            return data;
        }


        //get validate all record and asign as per paramiter
        function setData() {
            var validationDivs = '';
            $('#validationMessages').html('');

            $(".box-body").css("display", "none");

            $("#ClsPlusMinus").removeClass("box");
            $("#ClsPlusMinus").addClass("box collapsed-box");

            $("#searchPlusMinus").removeClass("fa fa-minus");
            $("#searchPlusMinus").addClass("fa fa-plus");


            var myDate = new Date(getDateFromString($("#PinFromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
            var myFromDate = new Date(getDateFromString($("#PinToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));

            var today = new Date();
            var start_time = $("#DatewiseFrom").val();
            var end_time = $("#DatewiseTo").val();

            if (myFromDate > today) {

                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                $('#validationMessages').html(validationDivs);
                return false;
            }

            if (myFromDate < myDate) {
                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                $('#validationMessages').html(validationDivs);
                return false;
            }

            if (id == "btnStockInfo") {
                PinDetailsStatusAction = "StockInfo";
                VoucherId = $('#PinStockVoucherId').val();
                PintypeId = $('#PinStockTypeId').val();
                id = null;
            }
            else if (id == "btnActiveEpins" || id == "ActivePin") {
                id = "ActivePin";
                PinDetailsStatusAction = "";
                VoucherId = 0; // clear selected  Voucher  value
                PintypeId = 0; // clear selected  pin Type value
                VoucherId = $('#VoucherId').val();
                PintypeId = $('#PintypeId').val();
            }
            else if (id == "btnUsedEpins" || id == "UsedPin") {
                id = "UsedPin";
                PinDetailsStatusAction = "";
                VoucherId = 0; // clear selected  Voucher  value
                PintypeId = 0; // clear selected  pin Type value
                VoucherId = $('#VoucherId').val();
                PintypeId = $('#PintypeId').val();
            }
            else if (id == "btnBlockedEpins" || id == "Blockedpin") {
                id = "Blockedpin";
                PinDetailsStatusAction = "";
                VoucherId = 0; // clear selected  Voucher  value
                PintypeId = 0; // clear selected  pin Type value
                VoucherId = $('#VoucherId').val();
                PintypeId = $('#PintypeId').val();
            }
            else if (id == "btnExpiredEpins" || id == "ExpiredPin") {
                id = "ExpiredPin";
                PinDetailsStatusAction = "";
                VoucherId = 0; // clear selected  Voucher  value
                PintypeId = 0; // clear selected  pin Type value
                VoucherId = $('#VoucherId').val();
                PintypeId = $('#PintypeId').val();
            }
            else if (id == "btnTransferredEpins" || PinDetailsStatusAction == "TransferredPin") {
                id = 0;
                PinDetailsStatusAction = "TransferredPin";
                VoucherId = 0; // clear selected  Voucher  value
                PintypeId = 0; // clear selected  pin Type value
                VoucherId = $('#VoucherId').val();
                PintypeId = $('#PintypeId').val();
            }


            $("#HFromDate").val(getDate($("#PinFromDate").data("kendoDatePicker").value()));
            $("#HFromDate").val(getDate($("#PinToDate").data("kendoDatePicker").value()));


            var CustomerId = $('#CustomerId').val();
            data = {
                VoucherId: VoucherId,
                PintypeId: PintypeId,
                CustomerId: $('#CustomerId').val(),
                TraderId: $('#TraderId').val(),
                HFromDate: getDate($("#PinFromDate").data("kendoDatePicker").value()),
                HToDate: getDate($("#PinToDate").data("kendoDatePicker").value()),
                SelectReqNoSerialNo: $('#SelectReqNoSerialNo').val(),
                RequestNo: $('#RequestNo').val(),
                SerialNo: $('#SerialNo').val(),
                pinDetailsStatus: id,
                PinDetailsStatusAction: PinDetailsStatusAction,
                SealedAction: SealedAction
            };

            addAntiForgeryToken(data);

        }

        // Call Pass from controller and get data All record list as per Condition
        function getData() {          
            $("#validationMessages").hide();
            $.ajax({
                url: "@Html.Raw(Url.Action("EpinReportDetailspost", "Epin"))",
                type: "POST",
                dataType: "html",
                async: false,
                data: data,
                success: function (result) {
                    $('#JoiningDetails-grid').html(result);
                    $('#ajaxBusy').hide();
                   
                },
                error: function (xhr, textStatus, exceptionThrown) {
                    //alert('hi');
                    $("#validationMessages").html("");
                    $("#validationMessages").show();
                    $("#validationMessages").html("@T("CommissionDetails.Kendo.Error")");
                }
            });
            //$('#EpinReport-grid').show();
            return false;
        }

        // Click Event related by btnStockInfo, btnActiveEpins, btnUsedEpins, btnBlockedEpins,btnExpiredEpins,btnTransferredEpins
        //Get event button id on ID parameter store on globaly
        $('.EpinReportDetails').click(function () {

            $('.EpinReportDetails').removeClass('active');

            $("#" + this.id).addClass('active');          

            id = this.id;

            if (id == "btnStockInfo") {
                $('#divStockInfo').show(); // Stock Info Div
                $('#divOtherPinReport').hide();  // div for  other Action like Active, Block, Expired, transfer
                $('#ShowOnlyActiveBlockExpire').hide(); // all, sealed , unsealed button div
                $('#divOrderperiod').hide();  //Date filter div
            }
            else if (id == "btnActiveEpins") {
                $('#ShowOnlyActiveBlockExpire').show(); // all, sealed , unsealed button div
                $('#divStockInfo').hide(); // Stock Info Div
                $('#divOtherPinReport').show();  // div for  other Action like Active, Block, Expired, transfer
                $('#divOrderperiod').hide();  //Date filter div
            }
            else if (id == "btnBlockedEpins" || id == "btnExpiredEpins") {
                $('#ShowOnlyActiveBlockExpire').show(); // all, sealed , unsealed button div
                $('#divStockInfo').hide(); // Stock Info Div
                $('#divOtherPinReport').show();  // div for  other Action like Active, Block, Expired, transfer
                $('#divOrderperiod').show();  //Date filter div
            }
            else if (id == "btnUsedEpins" || id == "btnTransferredEpins") {
                $('#ShowOnlyActiveBlockExpire').hide(); // all, sealed , unsealed button div
                $('#divStockInfo').hide(); // Stock Info Div
                $('#divOtherPinReport').show(); // div for  other Action like Active, Block, Expired, transfer
                $('#divOrderperiod').show(); //Date filter div
            }
            else {
                $('#divStockInfo').hide();
                $('#divOtherPinReport').show();
                $('#divOrderperiod').hide();
            }


            setData();
            getData();

        });


        // Click Event related by btnAll Action Button
        //Get event button id in SealedAction parameter store on globaly
        $('#btnAll').click(function () {
            SealedAction = "";
            SealedAction = "All";
            $("#btnAll").addClass('active');
            $("#btnUnSealed").removeClass('active');
            $("#btnSealed").removeClass('active');
            setData();
            getData();
        });

        // Click Event related by btnSealed Action Button
        //Get event button id in SealedAction parameter store on globaly
        $('#btnSealed').click(function () {
            SealedAction = "";
            SealedAction = "Sealed";
            $("#btnSealed").addClass('active');
            $("#btnAll").removeClass('active');
            $("#btnUnSealed").removeClass('active');
            setData();
            getData();
        });

        // Click Event related by btnUnSealed Action Button
        //Get event button id in SealedAction parameter store on globaly
        $('#btnUnSealed').click(function () {
            SealedAction = "";
            SealedAction = "UnSealed";
            $("#btnUnSealed").addClass('active');
            $("#btnAll").removeClass('active');
            $("#btnSealed").removeClass('active');
            setData();
            getData();
        });

        //Search button Click Event
        $('#btnSearch').click(function () {
            setData();
            getData();
        });


        //Reset button click event
        $('#btnreset').on('click', (function () {
            $('.loader').show();
            document.location = "@(Url.Action("EpinReportDetails", "Epin"))";
        }));


        // Voucher change event
        $("#PinStockVoucherId").change(function () {
            VoucherId = $('#PinStockVoucherId').val();
            PintypeId = $('#PinStockTypeId').val();
            PinDetailsStatusAction = "StockInfo";
            setData();
            getData();
            getPieChart();
        });

        // Pintype change event
        $("#PinStockTypeId").change(function () {
            VoucherId = $('#PinStockVoucherId').val();
            PintypeId = $('#PinStockTypeId').val();
            PinDetailsStatusAction = "StockInfo";
            setData();
            getData();
            getPieChart()
        });

        // hide and RequestNo  or SerialNo div as per SelectReqNoSerialNo change case
        $("#SelectReqNoSerialNo").change(function () {

            if ($("#SelectReqNoSerialNo").val() == "0") {
                $("#RequestNo").val('');
                $("#SerialNo").val('');
                $("#TraderName").val('');
                $("#TraderId").val('');
                $("#MemberName").val('');
                $("#CustomerId").val('');

                $("#divMemberName").show();
                $("#divTraderName").hide();
                $("#divRequestNo").hide();
                $("#divSerialNo").hide();
            }
            else if ($("#SelectReqNoSerialNo").val() == "1") {
                $("#RequestNo").val('');
                $("#SerialNo").val('');
                $("#TraderName").val('');
                $("#TraderId").val('');
                $("#MemberName").val('');
                $("#CustomerId").val('');
                $("#divMemberName").hide();
                $("#divTraderName").show();
                $("#divRequestNo").hide();
                $("#divSerialNo").hide();
            }
            else if ($("#SelectReqNoSerialNo").val() == "2") {
                $("#RequestNo").val('');
                $("#SerialNo").val('');
                $("#TraderName").val('');
                $("#TraderId").val('');
                $("#MemberName").val('');
                $("#CustomerId").val('');
                $("#divMemberName").hide();
                $("#divTraderName").hide();
                $("#divRequestNo").show();
                $("#divSerialNo").hide();
            }
            else if ($("#SelectReqNoSerialNo").val() == "3") {
                $("#RequestNo").val('');
                $("#SerialNo").val('');
                $("#TraderName").val('');
                $("#TraderId").val('');
                $("#MemberName").val('');
                $("#CustomerId").val('');
                $("#divMemberName").hide();
                $("#divTraderName").hide();
                $("#divRequestNo").hide();
                $("#divSerialNo").show();
            }
            else {
                $("#RequestNo").val('');
                $("#SerialNo").val('');
                $("#TraderName").val('');
                $("#TraderId").val('');
                $("#MemberName").val('');
                $("#CustomerId").val('');
                $("#divMemberName").hide();
                $("#divTraderName").hide();
                $("#divRequestNo").hide();
                $("#divSerialNo").hide();
            }
        });

        // Export Report Related action Stock Info, Active, Used, Blocked
        $('#Export-ToExcel').on('click', (function () {

            myExcel("AllEpinActionExport")
        }));


        //// Export Report Related action Transferd
        //$('#TransferdEpinActionExport').on('click', (function () {

        //    myExcel("TransferdEpinActionExport");

        //}));

        // Export To excel function
        function myExcel(btnActionExport) {

            $("#ajaxBusy").show();
            var data = {
                CustomerId: $('#CustomerId').val(),
                TraderId: $('#TraderId').val(),
                RequestNo: $('#RequestNo').val(),
                SerialNo: $('#SerialNo').val(),
                VoucherId: VoucherId,
                PintypeId: PintypeId,
                PinDetailsStatusAction: PinDetailsStatusAction,
                SealedAction: SealedAction,
                ExportActionReport: btnActionExport,
                pinDetailsStatus: id,
                HFromDate: getDate($("#PinFromDate").data("kendoDatePicker").value()),
                HToDate: getDate($("#PinToDate").data("kendoDatePicker").value()),
            };
            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("EpinReportDetailsExportToExcel", "Epin"))",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (result) {

                    $("#validationMessages").html('');
                    if (result.fullFileName) {
                        if (result.fullFileName != null && result.fullFileName != "") {
                            window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                        }
                    }
                    else if (result.fullFileName == null) {
                        $("#validationMessages").html('');
                        var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs1);
                    }
                    else {
                        var validationDivs1 = '<div>' + result.fullFileName + '</div>';
                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs1);
                    }
                },
                error: function (result) {
                }
            });

        }

    </script>

    <script type="text/javascript">

        $(document).ready(function () {

            $("#divfirstname").hide();


            $('#MemberName').autocomplete({
                delay: 500,
                minLength: 1,
                source: '@(Url.Action("SearchTermAutoComplete", "Epin"))',
                appendTo: '.search-box',
                select: function (event, ui) {
                    $("#CustomerId").val(ui.item.MJD_MemID);
                    $("#MemberName").val(ui.item.label);
                    $("#divfirstname").show();
                    return false;
                },
                change: function (event, ui) {
                    if (ui.item == null) {
                        $("#CustomerId").val("");
                        $("#MemberName").val("");
                        $("#divfirstname").focus();
                    }
                }
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                var t = item.label;
                //html encode
                t = $('<div/>').text(t).html();
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a><span>" + t + "</span></a>")
                    .appendTo(ul);
            };


            $('#TraderName').autocomplete({
                delay: 500,
                minLength: 1,
                source: '@(Url.Action("SearchTermAutoCompleteTrader", "Common"))',
                appendTo: '.search-box',
                select: function (event, ui) {
                    $("#TraderId").val(ui.item.Id);
                    $("#TraderName").val(ui.item.label);
                    $("#divTraderIdfirstname").show();
                    return false;
                },
                change: function (event, ui) {
                    if (ui.item == null) {
                        $("#TraderId").val("");
                        $("#TraderName").val("");
                        $("#divTraderIdfirstname").focus();
                    }
                }

            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                var t = item.label;
                //html encode
                t = $('<div/>').text(t).html();
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a><span>" + t + "</span></a>")
                    .appendTo(ul);
            };

        });

        function getPieChart() {
            $.ajax({
                url: "@Html.Raw(Url.Action("GetEpinDetailsChartData", "Epin"))",
                type: "POST",
                dataType: "html",
                data: data,
                success: function (result) {
                    console.log(JSON.parse(result));
                    if (JSON.parse(result)[0] == "NaN") {
                        pinDetailsChart([0, 0, 0, 0])
                    }
                    else {
                        pinDetailsChart(JSON.parse(result));
                    }
                },
                error: function (result) {
                    $('.loader').hide();
                    $('#ajaxBusy').hide();

                }
            });
        }

        function pinDetailsChart(pinDetailsDataPoints) {

            var chart = new CanvasJS.Chart("chartContainer", {
                title: {
                    text: ""
                },
                animationEnabled: true,
                legend: {
                    verticalAlign: "top",
                    horizontalAlign: "center",
                    fontSize: 13,
                    fontFamily: "Helvetica"
                },
                theme: "light2",
                data: [
                {
                    type: "pie",
                    indexLabelFontFamily: "Garamond",
                    indexLabelFontSize: 15,
                    indexLabel: "{label} {y}%",
                    startAngle: -20,
                    showInLegend: true,
                    toolTipContent: "{legendText} {y}%",

                    dataPoints: [{ y: pinDetailsDataPoints[0], legendText: "Active", label: "Active", color: "#50b432" },
                        { y: pinDetailsDataPoints[1], legendText: "Blocked", label: "Blocked", color: "#dddf00" },
                        { y: pinDetailsDataPoints[2], legendText: "Expired", label: "Expired", color: "#24cbe5" },
                        { y: pinDetailsDataPoints[3], legendText: "Used", label: "Used", color: "#ed561b" }],

                    //You can add dynamic data from the controller as shown below. Check the controller and uncomment the line which generates dataPoints.
                    //dataPoints: @Html.Raw(ViewBag.DataPoints),
                }
                ]
            });
            chart.render();

        }
    </script>



}

<script src="~/Scripts/canvasjs.min.js"></script>