﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*@model Nop.Core.Domain.Epin.DlPinDetails_Mst*@
@model Nop.Admin.ViewModel.GenerateEpin
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework;
@using System.Globalization;
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Customers.Customers.GenerateEpinReport").Text;
    Html.SetActiveMenuItemSystemName("Generate Epin");
}

@using (Html.BeginForm("GenerateEpin", "Epin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Customers.Customers.GenerateEpinReport")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Epin.VoucherReport.BackToList").Text, "GenerateEpinReport")</small>
        </h1>
        <div class="pull-right">
            <div id="pnl-save-requirement-result" style="display:none;">@T("Admin.Promotions.Discounts.Requirements.Saved")</div>
        </div>
    </div>
    <div class="content" id="searchPanel">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group" id="divVoucher">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.SelectVoucher)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.PDM_PVHID, Model.ddlvoucherName, "All Record(s)", new { @class = "form-control valid",  autocomplete = "off", maxlength = 22, Id = "ddlvoucherName" })

                                    </div>
                                </div>
                                <div class="form-group" id="trAddToList">
                                    <div class="col-md-4 col-md-offset-4">
                                        <button type="button" id="search-customers" class="btn btn-primary btn-search " value="@T("Admin.Common.Search")">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                        @*<input type="button" id="search-customers" class="btn btn-primary btn-search" value="@T("Admin.Common.Search")" />*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">

                        <div id="voucher-grid"></div>
                        <script>
                            $(document).ready(function () {
                                //  $('#search-customers').click(function () {
                                $("#voucher-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("GenerateEpin", "Epin"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true,
                                        selectable:true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: false,
                                    dataBound: onDataBound,
                                    columns: [ {
                                        field: "PVH_ID",
                                        title: "@T("Admin.Customers.Customers.Fields.PVH_ID")",

                                        headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: "<input type='checkbox' id='chk#=PVH_ID#' value='#=PVH_ID# #=VoucherId# #=PintypeId# #=PVH_Name# #=status# #=VoucherCode#' class='checkboxGroups'/>",
                                        width: 50
                                    }, {
                                        field: "PVH_Name",
                                        title:"@T("Admin.Customers.Customers.Fields.PVH_Name")",
                                        width: 50
                                    },
                                    {
                                        field: "VoucherId",
                                        hidden:true,
                                        template:"<input type='hidden' value='#=PVH_Name#' id='PVH_Name#=VoucherId#'/>"
                                    },
                                    {
                                        field: "PintypeId",
                                        hidden:true,
                                        template:"<input type='hidden' value='#=status#' id='status#=PintypeId#'/>"
                                    },  {
                                        field: "PVH_Amount",
                                        title:"@T("Admin.Customers.Customers.Fields.PVH_Amount")",
                                        width: 50
                                    },  {
                                        field: "AvailQuantity",
                                        title:"@T("Admin.Customers.Customers.Fields.AvailQuantity")",
                                        width: 50
                                    },{
                                        field: "status",
                                        title: "@T("Admin.Customers.Customers.Fields.status")",
                                        width: 50
                                    }, {
                                        field: "VoucherCode",
                                        hidden:true,
                                        template:"<input type='hidden' value='#=PVH_Name#' id='PVH_Name#=VoucherCode#'/>"
                                    }, {
                                        field: "PVH_ID",
                                        headerTemplate: "<label/>Quantity</label>",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: "<input type='number'  id='txt#=PVH_ID#_#=PintypeId#' class='checkboxGroups' onchange='CheckQuantity(this)' />",
                                        width: 50
                                    }]
                                });
                            });
                            // });
                        </script>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="col-md-8">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-1">
                                        <b id="MessageNote"> @T("Admin.Note.Note") </b> @T("Admin.Note.EpinGenerateLimit")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-4">
                                        @Html.HiddenFor(m => m.SelectedQuantity)
                                        @Html.HiddenFor(m => m.SelectedCheckbox)
                                        <input type="submit" id="btnSave" name="Command" class="btn btn-primary btn-success" value="@T("Admin.Common.GenerateEpin")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">


                            function CheckQuantity(elem){
                                var validationDivs='';
                                $('#validationMessages').html('');
                                $("#validationMessages").hide();
                                $(".alert.alert-success.alert-dismissable").hide();

                                var elemVal=$(elem).val();

                                if(parseInt(elemVal) <= 0 )
                                {
                                    validationDivs='<div>@T("Admin.Epin.EnterGreaterThanZeroForGenerateEpin")</div>';
                                    $("#validationMessages").show();
                                    $('#validationMessages').append(validationDivs);
                                    return false;
                                }

                                var maxQuantity=25000;

                                if(parseInt(elemVal) > parseInt(maxQuantity))
                                {
                                    $('#validationMessages').html('');
                                    validationDivs='<div>@T("Admin.Epin.QuantityShouldBeLessThan")' + ' ' + maxQuantity  +'</div>';
                                    $("#validationMessages").show();
                                    $('#validationMessages').append(validationDivs);
                                    return false;
                                }
                            }

                            var selectedIds=[];

                            $(document).ready(function () {
                                // $("#btnSave").hide();
                                $('#validationMessages').hide();
                                $(".alert.alert-success.alert-dismissable").hide();
                                $('#search-customers').click(function () {
                                    $("#btnSave").show();
                                });
                                //search button

                                $('#voucher-grid').on('change', 'input[id=mastercheckbox]', function (e) {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#voucher-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                            // alert('$check.val()'+$check.val());

                                        }
                                        $('#txt'+$check.val()).removeAttr("disabled");
                                    }
                                    else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function (item, index) {
                                                return item != $check.val();

                                            });
                                        }
                                        $('#txt'+$check.val()).val("");
                                        $('#txt'+$check.val()).attr("disabled",'disabled');
                                    }
                                    updateMasterCheckbox();
                                });


                                $('#btnSave').click(function(e) {
                                    var validationDivs='';
                                    $('#validationMessages').html('');
                                    $(".message-box.message-box-error").hide();

                                    var flag=true;

                                    if(selectedIds=='' || selectedIds.length<=0)
                                    {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAtLeastOneRecord")</div>';
                                        $("#validationMessages").show();
                                        $('#validationMessages').append(validationDivs);
                                        //alert("Select At Least One Record");
                                        flag=false;
                                        return false;
                                    }
                                    else
                                    {
                                        e.preventDefault();
                                        var epinList=[];

                                        $.each(selectedIds,function(i,iden){
                                           // 
                                            var epinGeneration=iden.split(' ');
                                            epinList.push($('#txt'+epinGeneration[0]+'_'+epinGeneration[2]).val());
                                            // alert('something'+$('#txt'+someArray[0]+'_'+someArray[2]).val());
                                        });

                                        $.each( epinList, function( index, value ){
                                            //
                                            if(value == "")
                                            {
                                                validationDivs=validationDivs+'<div>@T("Admin.Epin.EpinQuantityGraterThanZero")</div>';
                                                $("#validationMessages").show();
                                                $('#validationMessages').append(validationDivs);
                                                flag=false;
                                                return false;
                                            }

                                            var maxQuantity=25000;

                                            if(parseInt(value) > parseInt(maxQuantity))
                                            {
                                                $('#validationMessages').html('');
                                                validationDivs='<div>@T("Admin.Epin.QuantityShouldBeLessThan")' + ' ' + maxQuantity  +'</div>';
                                                $("#validationMessages").show();
                                                $('#validationMessages').append(validationDivs);
                                                return false;
                                            }
                                        });

                                        if(flag)
                                        {
                                            var postData = {
                                                selectedIds: selectedIds,
                                                epinList:epinList
                                            };
                                            addAntiForgeryToken(postData);

                                            $.ajax({
                                                cache: false,
                                                type: "POST",
                                                url: "@(Url.Action("GenerateEpinRequest", "Epin"))",
                                                data: postData,
                                                success: function(data) {
                                                    //alert('ajax calling');
                                                    var newUrl="";
                                                    if(data==1)
                                                    {
                                                        var newUrl= '@Url.Action("GenerateEpinReport", "Epin", new { suc = 1 })';
                                                    }
                                                    if(data==2)
                                                    {
                                                        var newUrl= '@Url.Action("GenerateEpin", "Epin", new { suc = 2 })';
                                                    }
                                                    window.location.href = newUrl;
                                                },
                                                error: function(xhr, ajaxOptions, thrownError) {
                                                    alert(thrownError);
                                                },
                                                traditional: true
                                            });
                                            return false;
                                        }
                                    }
                                });

                            });


                            function onDataBound(e) {

                                $('#voucher-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });

                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#voucher-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#voucher-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }
                        </script>
                    </div>

                        </div>
                    </div>
        </div>
    </div>
    <script type="text/javascript">

        var selectedIds = [];

        $(document).ready(function () {


            $('#search-customers').click(function () {
                //  alert("Hi");
                $("#btnSave").show();
                var grid = $('#voucher-grid').data('kendoGrid');
                grid.dataSource.page(1); //new search. Set page size to 1
                //grid.dataSource.read(); we already loaded the grid above using "page" function
                //clear selected checkboxes
                $('.checkboxGroups').attr('checked', false).change();
                selectedIds = [];
                return false;

            });

            //$("#ddlVoucherId").change(function (event) {
            //    //if (event.keyCode == 13) {
            //    $("input[name=Search]").click();
            //    //  return false;
            //    //}
            //});
            //$("#ddlTypeId").change(function (event) {
            //    //if (event.keyCode == 13) {
            //    $("input[name=Search]").click();
            //    return false;
            //    //}
            //});

            $('#mastercheckbox').click(function () {
                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
            });

            //wire up checkboxes.
            $('#voucher-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                var $check = $(this);
                if ($check.is(":checked") == true) {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked == -1) {
                        //add id to selectedIds.
                        selectedIds.push($check.val());
                    }
                }
                else {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked > -1) {
                        //remove id from selectedIds.
                        selectedIds = $.grep(selectedIds, function (item, index) {
                            return item != $check.val();
                        });
                    }
                }
                updateMasterCheckbox();
            });
        });

        function onDataBound(e) {

            $('#voucher-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                var currentId = $(this).val();
                var checked = jQuery.inArray(currentId, selectedIds);
                //set checked based on if current checkbox's value is in selectedIds.
                $(this).attr('checked', checked > -1);
            });

            updateMasterCheckbox();
        }

        function updateMasterCheckbox() {
            var numChkBoxes = $('#voucher-grid input[type=checkbox][id!=mastercheckbox]').length;
            var numChkBoxesChecked = $('#voucher-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
        }

        function additionalData() {
            //var customerRoleIds = [];
            //$('[name=SearchCustomerRoleIds]:checked').each(function () {
            //    customerRoleIds.push($(this).val());
            //});

            var data = {
                //SearchCustomerRoleIds: customerRoleIds.join(","),
                ddlSearchBy: $('#@Html.FieldIdFor(model => model.ddlvoucherName)').val(),
                ddlVoucher: $('#@Html.FieldIdFor(model => model.ddlVoucher)').val(),
                VoucherId: $('#@Html.FieldIdFor(model => model.VoucherId)').val(),
                PintypeId: $('#@Html.FieldIdFor(model => model.PintypeId)').val()

            };
            addAntiForgeryToken(data);
            return data;
        }
    </script>

}


