﻿@model Nop.Admin.ViewModel.VoucherReport
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //page title
    ViewBag.Title = T("Admin.Customers.GenerateEpin").Text;
    Html.SetActiveMenuItemSystemName("Generate Epin");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">

            @T("Admin.Customers.GenerateEpin")
        </h1>
        <div class="pull-right">
            <a href="@Url.Action("GenerateEpin")" class="btn bg-blue">@T("Admin.Common.Create Epin")</a>
            <button type="submit" id="ExportExcel" name="exportexcel-all" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                @T("Admin.Common.ExportToExcel")
            </button>


        </div>
    </div>
    <div class="content" id="searchPanel">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" id="divVoucher">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.VRSelectVoucher)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.ddlVoucher, Model.VoucherList, "All Record(s)", new { @class = "form-control valid", autocomplete = "off", maxlength = 22 })

                                    </div>
                                </div>
                                <div class="form-group" id="divAmount">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.GERSelectPin)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.PintypeIds, Model.PinTypesList, "All Record(s)", new { @class = "form-control valid", autocomplete = "off", maxlength = 22 })
                                    </div>
                                </div>

                                <div class="form-group" id="divAmount">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.GERFromDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.FromDate)
                                        @Html.HiddenFor(model => model.HFromDate)
                                    </div>
                                </div>
                                <div class="form-group" id="divAmount">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.GERToDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.ToDate)
                                        @Html.HiddenFor(model => model.HToDate)
                                    </div>
                                </div>

                                <div class="form-group" id="trAddToList">
                                    <div class="col-md-4 col-md-offset-3">
                                        <button type="button" id="search-customers" class="btn btn-primary btn-search " value="@T("Admin.Common.Search")">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                        @*<input type="button" id="search-customers" class="btn btn-primary btn-search" value="@T("Admin.Common.Search")" />*@

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">

                        <div id="customers-grid"></div>
                        <script>
                            $(document).ready(function () {
                                // $('#search-customers').click(function () {
                                $("#customers-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("GenerateEpinReportRecord", "Epin"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: true,
                                    dataBound: onDataBound,
                                    columns: [ {
                                        field: "PVH_ID",
                                        title: "@T("Admin.Customers.Customers.Fields.PVH_ID")",
                                        width: 50,
                                        hidden:true
                                    }, {
                                        field: "PVH_Name",
                                        title:"@T("Admin.Customers.Customers.Fields.PVH_Name")",
                                        width: 100
                                    },{
                                        field: "PVH_Amount",
                                        title:"@T("Admin.Customers.Customers.Fields.PVH_Amount")",
                                        width: 100
                                    },{
                                        field: "status",
                                        title: "@T("Admin.Customers.Customers.Fields.status")",
                                        width: 100
                                    },{
                                        field: "PDT_chvExtra1",
                                        title: "@T("Admin.Customers.Customers.Fields.PDT_chvExtra1")",
                                        width: 100
                                    } ,{
                                        field: "PVH_DateTime",
                                        title: "@T("Admin.Customers.Customers.Fields.PVH_DateTime")",
                                        width:100,
                                        //type: "date",
                                        //format: "{0:d}"
                                    } ]
                                });
                            });
                            // });
                        </script>

                        <script type="text/javascript">

                            var selectedIds = [];
                            $('#FromDate').keydown(keyDownHandler); // use appropriate selector for the keydown handler

                            function keyDownHandler(e) {
                                if(e.keyCode === 13) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                    $('#search-customers').click()
                                    return false;

                                }
                            }

                            $('#ToDate').keydown(keyDownHandler1); // use appropriate selector for the keydown handler

                            function keyDownHandler1(e) {
                                if(e.keyCode === 13) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                    $('#search-customers').click()
                                    return false;

                                }
                            }


                            $("#reset").click(function (){
                                $("#ddlVoucher").val("");
                                $("#PintypeIds").val("");
                                $("#FromDate").val("");
                                $("#ToDate").val("");
                                $("#customers-grid").hide();
                                $('#validationMessages').html('');
                                $("#validationMessages").hide();
                                $('#searchResult').hide();
                            });


                            $(document).ready(function (e) {
                                $('#validationMessages').hide();



                                $('#ddlVoucher').live('keypress',function(e){
                                    if(e.keyCode === 13) {
                                        $('#search-customers').click()
                                        return false;
                                    }
                                });

                                $('#PintypeIds').live('keypress',function(e){
                                    if(e.keyCode === 13) {
                                        $('#search-customers').click()
                                        return false;
                                    }
                                });



                                $("#FromDate").keyup(function(e){
                                    // 
                                    if(e.keyCode === 13) {
                                        if($('#ToDate').val()!='')
                                        {
                                            $('#search-customers').click()
                                            return false;
                                        }
                                        else{
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                                            flag=false;
                                        }

                                    }
                                    else{
                                        $(this).val('');
                                    }

                                });
                                $("#ToDate").keyup(function(e){
                                    // 
                                    if(e.keyCode === 13) {
                                        if($('#FromDate').val()!='')
                                        {
                                            $('#search-customers').click()
                                            return false;
                                        }
                                        else{
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                                            flag=false;
                                        }
                                    }
                                    else{
                                        $(this).val('');
                                    }
                                });



                                //search button
                                $('#search-customers').click(function () {
                                    $(".alert.alert-success.alert-dismissable").hide();
                                    $(".alert.alert-danger.alert-dismissable").hide();
                                    var validationDivs='';
                                    //var FromDate=$('#FromDate').val();
                                    //var ToDate=$('#ToDate').val();
                                    var FromDate= getDate($("#FromDate").data("kendoDatePicker").value());
                                    var ToDate=getDate($("#ToDate").data("kendoDatePicker").value());
                                    var flag=true;
                                    $('#validationMessages').html('');
                                    $('#validationMessages').hide();

                                    if (FromDate != '' && ToDate == '' )
                                    {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                                        flag=false;
                                    }
                                    if (ToDate != '' && FromDate =='')
                                    {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                                        flag=false;
                                    }

                                    var EnteredDate = getDate($("#FromDate").data("kendoDatePicker").value());
                                    var EnteredFromdate=getDate($("#ToDate").data("kendoDatePicker").value());

                                    var myDate = new Date(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                    var myFromDate = new Date(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                                    var today = new Date();
                                    var start_time=$("#DatewiseFrom").val();
                                    var end_time=$("#DatewiseTo").val();

                                    if (myFromDate > today) {

                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                                        flag=false;
                                    }
                                    if (myFromDate < myDate) {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                                        flag=false;
                                    }




                                    if(flag)
                                    {
                                        $("#HFromDate").val(EnteredDate);
                                        $("#HToDate").val(EnteredFromdate);

                                        var grid = $('#customers-grid').data('kendoGrid');
                                        grid.dataSource.page(1); //new search. Set page size to 1
                                        //grid.dataSource.read(); we already loaded the grid above using "page" function
                                        //clear selected checkboxes
                                        $('.checkboxGroups').attr('checked', false).change();
                                        selectedIds = [];
                                        $("#customers-grid").show();
                                        return false;
                                    }
                                    else
                                    {
                                        $("#validationMessages").show();
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                });

                                $('#mastercheckbox').click(function () {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                    }
                                    else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function (item, index) {
                                                return item != $check.val();
                                            });
                                        }
                                    }
                                    updateMasterCheckbox();
                                });
                            });

                            function onDataBound(e) {

                                $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });

                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }

                            function additionalData() {
                                var customerRoleIds = [];
                                $('[name=SearchCustomerRoleIds]:checked').each(function () {
                                    customerRoleIds.push($(this).val());
                                });

                                var data = {
                                    ddlVoucher: $('#@Html.FieldIdFor(model => model.ddlVoucher)').val(),
                                    PintypeIds: $('#@Html.FieldIdFor(model => model.PintypeIds)').val(),
                                    @*FromDate: $('#@Html.FieldIdFor(model => model.FromDate)').val(),
                                ToDate: $('#@Html.FieldIdFor(model => model.ToDate)').val()*@
                                    HFromDate: getDate($("#FromDate").data("kendoDatePicker").value()),
                                    HToDate:getDate($("#ToDate").data("kendoDatePicker").value()),


                                };
                                addAntiForgeryToken(data);
                                return data;
                            }

                            $("#ExportExcel").click(function() {
                                
                                $("#HFromDate").val(getDate($("#FromDate").data("kendoDatePicker").value()));
                                $("#HToDate").val(getDate($("#ToDate").data("kendoDatePicker").value()));
                                var t=$("#HFromDate").val();
                            });
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>

}


