﻿@model Nop.Web.Framework.Models.Epin.DispatchEpinVM
@using System.Globalization;
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>
    ().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>
        ().GridPageSizes;

    //page title
    ViewBag.Title = @T("Admin.Epin.IssueEpinGridDetailsOfSerailNo").Text;
}

@using (Html.BeginForm())
{    @*@Html.AntiForgeryToken()*@

    @Html.HiddenFor(model => model.DispatchReqNO)
    @Html.HiddenFor(m => m.selectedIds)
    @Html.HiddenFor(m => m.txtMember);
    @Html.HiddenFor(m => m.prhId);
    @Html.HiddenFor(m => m.SelectedIdDispatch)


    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Epin.IssueEpinGridDetailsOfSerailNo") @Model.DispatchReqNO :
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Epin.VoucherReport.BackToList").Text, "IssueEpin")</small>
        </h1>
    </div>
    <div class="content" id="searchPanel">
        <div class="form-horizontal">
            <div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            @if (Model.RequestStatus == 1)
            {
                <div>
                    <b style="color:red">  @T("Admin.Note.Note") </b> @T("Admin.Epin.QuantityToDispatch") <b>@T("Admin.Epin.ToDispatchEpin")</b> @T("Admin.Epin.EpinShouldBeGreaterZero")
                </div>
            }
            <br />

            <div class="row">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-10">
                    <div class="col-sm-6">

                        <div class="row">

                            <div class="col-sm-6">
                                <label> Request No </label>
                            </div>

                            <div class="col-sm-6">
                                @Model.DERequestNo
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6">

                        <div class="row">
                            <div class="col-sm-6">
                                <label> Net Amount </label>
                            </div>

                            <div class="col-sm-6">
                                @Model.NetAmount
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-10">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <label> Voucher-wise Total Discount </label>
                            </div>

                            <div class="col-sm-6">
                                @Model.VoucherwiseTotalDiscount
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6">

                        <div class="row">
                            <div class="col-sm-6">
                                <label> Order Total Discount </label>
                            </div>

                            <div class="col-sm-6">
                                @Model.OrderTotalDicsount
                            </div>
                            @*<div class="col-sm-3">

                            </div>*@
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-10">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <label> Payble Amount </label>
                            </div>

                            <div class="col-sm-6">
                                @Model.PaybleAmount
                            </div>
                            @*<div class="col-sm-3">

                            </div>*@
                        </div>
                    </div>
                    <div class="col-sm-6">


                        <div class="row">
                            <div class="col-sm-6">
                                <label>Order Date/Time </label>
                            </div>

                            <div class="col-sm-6">
                                @Model.DEFromDate
                            </div>
                            @*<div class="col-sm-3">

                            </div>*@
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-10">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <label> Status </label>
                            </div>

                            <div class="col-sm-6">
                                @Model.Status
                            </div>
                            @*<div class="col-sm-3">

                            </div>*@
                        </div>
                    </div>
                    <div class="col-sm-6">


                        <div class="row">
                            <div class="col-sm-6">
                                <label> Paymode </label>
                            </div>

                            <div class="col-sm-6">
                                @Model.Paymode

                                <div class="row">

                                </div>

                            </div>
                            @*<div class="col-sm-3">

                            </div>*@
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-10">
                    <div class="col-sm-6">

                        <div class="row">
                            <div class="col-sm-6">
                                <label> Remark </label>
                            </div>


                            @if (Model.Remark == "")
                            {
                                <div class="col-sm-6">
                                    -
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-6">
                                    @Model.Remark
                                </div>
                            }
                        </div>


                    </div>

                    @if (Model.PaymentDetailsFlag == true)
                    {
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label> Cheque No </label>
                                </div>

                                <div class="col-sm-6">
                                    @Model.ChequeNo
                                </div>
                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="col-sm-6">
                            @if (Model.ImageUrl != null)
                            {
                            <div class="row">
                                <div class="col-sm-6">
                                    <label> Image </label>
                                </div>
                                <div class="col-sm-6">
                                    <a href="@Url.Action("Download","TraderEpin", new { RequestNo = Model.DERequestNo })" target="_blank">
                                        <img src="@Url.Content(Model.ImageUrl)" alt="IMAGES" style="width: 100px;  margin-bottom: 5%;" />
                                    </a>

                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                            }
                        </div>

                    }


               </div>
            </div>


            @if (Model.PaymentDetailsFlag == true)
            {
                <div class="row">
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-10">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label> Cheque Bank </label>
                                </div>

                                <div class="col-sm-6">
                                    @Model.ChequeBank
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">


                            <div class="row">
                                <div class="col-sm-6">
                                    <label> Cheque Branch </label>
                                </div>

                                <div class="col-sm-6">
                                    @Model.ChequeBranch

                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-10">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label> Cheque Date </label>
                                </div>

                                <div class="col-sm-6">
                                    @Model.txtChequeDate
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">

                            @if (Model.ImageUrl != null)
                           {
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label> Image </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="@Url.Action("Download","TraderEpin", new { RequestNo = Model.DERequestNo })" target="_blank">
                                            <img src="@Url.Content(Model.ImageUrl)" alt="IMAGES" style="width: 100px;  margin-bottom: 5%;" />
                                        </a>

                                        <div class="row">

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }





            <div id="customers-grid"></div>

            <script>
                $(document).ready(function () {
                    $("#customers-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("IssueEpinTransactionGrid", "Epin"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },

                            @*pageSize: @(defaultGridPageSize),
                            serverPaging: false,
                            serverFiltering: false,
                            serverSorting: false*@
                        },
                        @*pageable: {
                            refresh: false,
                            pageSizes: [@(gridPageSizes)]
                        },*@
                        scrollable: true,
                        dataBound: onDataBound,
                        columns: [




                 @if (Model.RequestStatus == 1)
                             {
                                         <text>{
                     field: "Id",
                     headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                     headerAttributes: { style: "text-align:center" },
                     attributes: { style: "text-align:center" },
                     template: "<input type='checkbox'  value='#=PinTypeId# #=PinVoucherId# #=PinQuantity# #=Id#' class='checkboxGroups'/>",
                     width:100
                 },</text>
                             }

                         {
                             field: "Id",
                             title:"@T("epin.orderno")",
                             hidden: true,
                             width: 100
                         }, {
                             field: "VoucherName",
                             title: "@T("Admin.Epin.Fields.VoucherName")",
                             width: 100

                         }, {
                             field: "PinVoucherId",
                             title:"@T("Admin.Epin.Fields.VoucherId")",
                             hidden: true,
                             width: 100
                         },  {
                             field: "PinTypeName",
                             title: "@T("Admin.Epin.Fields.EpinType")",
                             width: 100
                         }, {
                             field: "PinType",
                             title:"@T("Admin.Epin.Fields.EpinTypeId")",
                             hidden: true,
                             width: 100
                         }, {
                             field: "TotalAmount",
                             title: "@T("Admin.Epin.Fields.TotalAmount")",
                             width: 100
                         },{
                             field: "PinQuantity",
                             title: "@T("Admin.Epin.Fields.RequestedQuantity")",
                             width: 100

                         },



                          {
                              field: "Discountper",
                              title: "Discount Amount/Percentage",
                              width: 100
                          },

                                     {
                                         field: "TotalDiscount",
                                         title: "Total Discount",
                                         width: 100
                                     },





                    @if (Model.RequestStatus==1)
                                    {
                                           <text>{
                        field: "PinQuantity",
                        title: "Issue Quantity",
                        //template: '<input type="number" id="QuantityToDispatch#=Id#" value="#=PinQuantity#" class="checkboxGroups allownumericwithoutdecimal" />'
                        template: '<input type="number"  style="width:95%" id="QuantityToDispatch#=Id#" value="#=PinQuantity#" class="checkboxGroups allownumericwithoutdecimal" />',
                        width: 100
                    },</text>
                                       }
                          @if (Model.RequestStatus==2)
                                       {

                                       <text>{
                              field: "IssuedQuantity",
                              title: "Issued Quantity",
                              width: 100
                          },</text>

                                       }







                        ]
                    });
                });

                function  hTestBox(PRDId,QuantityToDispatch,PendingQuantity){

                    //return "<a href='Transfer/"+id+"'>@T("Admin.Common.Transfer")</a>";
                    if(PendingQuantity> 0)
                        return  "<input type='number' id='QuantityToDispatch" +PRDId +"' value='"+QuantityToDispatch+"' onchange='calculateTotal(this)'   class='checkboxGroups' onkeypress='return isNumber(event)' />";
                    else
                        return "-"
                }
            </script>

        </div>

    </div>






    @if (Model.RequestStatus == 1)
    {
        <div id="IssueEpinBlock" class="panel panel-default">
            <div class="panel-body">

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Remark)
                    </div>
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.Remark, new { @cols = "40", @rows = "4" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                       
                    </div>
                    <div class="col-md-6">
                        @if (Model.OtpEnabled)
                                    {
                        <div class="buttons">
                            <input type="button" id="OTPSend-button" class="button-1 register-next-step-button  btn bg-blue" value="@T(" account.register.sendotpbutton")" name="GenerateOTP" />
                        </div>
                        <div id="OtpResult" style="text-align:inherit;color:green;">
                        </div>
                                    }
                    </div>
                </div>


                <div id="divEnterOTP">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.GeneratedOtp)
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.GeneratedOtp)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-6">
                            <div id="OtpSMSSentResult" style="text-align:inherit;color:green;"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">

                        </div>

                        <div class="col-md-6">
                            <div class="message-error" style="text-align:inherit;color:red; " id="OtpError"></div>

                            @Html.HiddenFor(model => model.OtpVerified)
                            @Html.HiddenFor(model => model.OtpEnabled)
                            <div style="" class="buttons" id="divVerifyOTP">
                                <input type="button" id="OTPVerify-button" class="button-1 register-next-step-button btn bg-blue" value="@T(" account.register.verifyotpbutton")" name="GenerateOTP" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-6">
                        <input type="submit" id="btnDispatch" name="btnDispatch" class="btn bg-blue" value="@T(" admin.common.issueepin")" />
                        <input type="submit" id="btnReject" name="btnReject" class="btn bg-red" value="@T(" Admin.Epin.RejectEPin")" />
                    </div>
                </div>
            </div>
        </div>

    }
            </div>
            <script type="text/javascript">

                            var selectedIds = [];

                            function calculateTotal(elem){

                                var validationDivs='';
                                var elemVal=$(elem).val();
                                var something=$(elem).attr('id');
                                $('#'+something).val(elemVal);
                                // $(elem).closest('tr').find('td:eq(10)').html(elemVal);

                            }

                            $(document).ready(function () {

                                $('#validationMessages').html('');
                                $("#validationMessages").hide();

                                

                                $('#mastercheckbox').click(function () {

                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                    }
                                    else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function (item, index) {
                                                return item != $check.val();
                                            });
                                        }
                                    }

                                    updateMasterCheckbox();
                                });
                            });

                            function onDataBound(e) {

                                //$('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                //    var currentId = $(this).val();
                                //    var checked = jQuery.inArray(currentId, selectedIds);
                                //    //set checked based on if current checkbox's value is in selectedIds.
                                //    $(this).attr('checked', checked > -1);
                                //});

                                //updateMasterCheckbox();
                                $('#mastercheckbox').attr('checked',false);
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }

                            function additionalData() {
                                var customerRoleIds = [];
                                $('[name=SearchCustomerRoleIds]:checked').each(function () {
                                    customerRoleIds.push($(this).val());
                                });

                                var data = {

                                    DispatchReqNO: $('#@Html.FieldIdFor(model => model.DispatchReqNO)').val(),
                                    prhId: $('#@Html.FieldIdFor(model => model.prhId)').val(),

                                };
                                addAntiForgeryToken(data);
                                return data;
                            }


                            $("#btnDispatch").click(function() {
                                debugger;
                                var validationDivs='';
                                var flag=true;
                                var finalData=[];

                                $('#validationMessages').html('');
                                $("#validationMessages").hide();
                                $(".alert.alert-success.alert-dismissable").hide();
                                $(".alert.alert-danger.alert-dismissable").hide();

                                if(selectedIds=='' || selectedIds.length<=0)
                                {
                                    validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAtLeastOneRecord")</div>';
                                    $("#validationMessages").show();
                                    $('#validationMessages').append(validationDivs);
                                    flag=false;
                                }

                                for(var i=0;i<selectedIds.length;i++)
                                {

                                    var ac=selectedIds[i];
                                    var valNew=selectedIds[i].split(' ');

                                    var quantityToDispatch=$('#QuantityToDispatch'+valNew[3]).val();
                                   
                                    //var quantityToDispatch=valNew[2];
                                    if(parseInt(quantityToDispatch)> valNew[2]){
                                        validationDivs='<div>@T("Admin.Epin.QuntityShouldnotbegreaterthanrequest")</div>';
                                        $("#validationMessages").show();
                                        $('#validationMessages').append(validationDivs);
                                        flag=false;
                                        break;
                                    }
                                    else if(quantityToDispatch.indexOf(".")!=-1)
                                    {
                                        validationDivs='<div>@T("Admin.Epin.Ordered.DontDecimal")</div>';
                                        $("#validationMessages").show();
                                        $('#validationMessages').append(validationDivs);
                                        flag=false;
                                        break;
                                    }
                                    else if(parseInt(quantityToDispatch)>0)
                                    {
                                        // finalData.push(selectedIds[i]+' '+quantityToDispatch + ' ' + valNew[1] + ' ' + valNew[2]);
                                        finalData.push(valNew[0]+' '+quantityToDispatch + ' ' + valNew[1] + ' ' + valNew[3]);
                                    }

                                    else
                                    {
                                        validationDivs='<div>@T("Admin.Validation.QuantityGreaterZero")</div>';
                                        $("#validationMessages").show();
                                        $('#validationMessages').append(validationDivs);
                                        flag=false;
                                        break;
                                    }
                                    // }
                                }

                                if(!flag)
                                {
                                    return false;
                                }

                                var ids = finalData.join(",");
                                $('#SelectedIdDispatch').val(ids);


                                var OtpEnabled = $("#OtpEnabled").val();
                                //alert(OtpEnabled);
                                if (OtpEnabled == "True") {
                                    var isCheckedOtpVerified = $("#OtpVerified").val();
                                    if (isCheckedOtpVerified != "true") {
                                        validationDivs=validationDivs+'<div>Otp not verified</div>';
                                        $("#validationMessages").show();
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                }


                            });

            </script>
        </div>
        </div>
       
   

}



<script>

    $("#divVerifyOTP").hide();
    $("#divEnterOTP").hide();
    $('#OTPSend-button').show();
    $("#OtpSMSSentResult").hide();
    $('#OTPSend-Emailbutton').show();
    $("#divVerifyEmailOTP").hide();
    $("#divEnterEmailOTP").hide();
    $("#OtpEmailSentResult").hide();



    window.onbeforeunload = function () {
       
        var inputs1 = document.getElementsByTagName("input");
        for (var i in inputs1) {
            if (inputs1[i].type == "button" || inputs1[i].type == "submit") {
                inputs1[i].disabled = true;
            }
        }
    };

    $('#OTPSend-button').click(function (e) {
        debugger;
        $("#OtpError").hide();
        $("#OtpResult").hide();
        $("#EnterSMSOTP").val('');

        $.ajax({
            cache: false,
            type: "Get",
            url: "@(Url.Action("GenerateOTP", "TraderEpin"))",
            //data: postData,
            success: function (data) {
                if (data == 1) {
                    $("#divVerifyOTP").show();
                    $("#divEnterOTP").show();
                    $("#OtpSMSSentResult").show();
                    $("#OtpSMSSentResult").html("Otp Sent");
                    $("#OTPSend-button").prop('value', 'Resend OTP');
                }
            },
        });
        return false;
    });


    $('#OTPVerify-button').click(function (e) {

        $("#OtpSMSSentResult").hide();
        var EnterSMSOTP = $("#GeneratedOtp").val();

        if (EnterSMSOTP == "") {
            $("#OtpError").show();
            $("#OtpError").val("@T("Account.Register.Errors.EnterOTP")");
            $("#OtpError").html("@T("Account.Register.Errors.EnterOTP")");
            return false;
        }
        EnterSMSOTP=EnterSMSOTP.trim();
        $.ajax({
            cache: false,
            type: "Get",
            url: "@(Url.Action("VerifySMSOTP", "TraderEpin"))",
            data: {EnterSMSOTP:EnterSMSOTP},
            success: function (data) {
                debugger;
                if (data == "1") {
                    $("#divVerifyOTP").hide();
                    $("#divEnterOTP").hide();
                    $("#OTPSend-button").prop('value', 'Resend OTP');
                    $("#OtpError").hide();
                    $("#OtpResult").show();
                    $("#OtpResult").val("@T("Account.Register.Errors.OTPVerified")");
                    $("#OtpResult").html("@T("Account.Register.Errors.OTPVerified")");
                    $("#OtpVerified").attr('value','true');
                }
                if (data == "2") {
                    $("#divVerifyOTP").show();
                    $("#divEnterOTP").show();
                    $("#OtpError").show();
                    $("#OtpResult").hide();
                    $("#OtpError").val("@T("Account.Register.Errors.EnteredwrongOTP")");
                    $("#OtpError").html("@T("Account.Register.Errors.EnteredwrongOTP")");
                    $("#OtpVerified").attr('value','false');
                }

                if (data == "3") {
                    $("#divVerifyOTP").show();
                    $("#divEnterOTP").show();
                    $("#OtpError").show();
                    $("#OtpResult").hide();
                    $("#OtpError").val("@T("Account.Register.Errors.ResendOTP")");
                    $("#OtpError").html("@T("Account.Register.Errors.ResendOTP")");
                    $("#OtpVerified").attr('value','false');
                }
            },
        });
        return false;
    });

</script>
@if (Model.OtpVerified == true)
{
    <script>
        $("#divVerifyOTP").hide();
        $("#divEnterOTP").hide();
        $("#OTPSend-button").prop('value', 'Resend OTP');
        $("#OtpError").hide();
        $("#OtpResult").show();
        $("#OtpResult").val("@T("Account.Register.Errors.OTPVerified")");
        $("#OtpResult").html("@T("Account.Register.Errors.OTPVerified")");
        $("#OtpVerified").attr('value','true');
    </script>
}


