﻿@model Nop.Admin.ViewModel.PartialDispatchPopUp
@{
    ViewBag.Title = "CreateEpinVoucher";
}
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Customers.IssueEpin").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="section-header">
        <div class="title">
         
            @T("Admin.Customers.IssueEpin") @Html.ActionLink("(" + T("Admin.Epin.VoucherReport.BackToList") + ")", "")

        </div>
    </div>

    <table class="adminContent">
        <tr>
            <td>
                <div id="customers-grid"></div>
                <script>
                    $(document).ready(function () {
                        //   $('#ViewReport').click(function () {
                        $("#customers-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("PartialDispatch", "Epin"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalData
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            scrollable: false,
                            dataBound: onDataBound,
                            columns: [{
                                field: "Id",
                                headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                template: "<input type='checkbox' value='#=PRH_ID# #=PRH_ReqNo# #=VoucherName#'  class='checkboxGroups'/>",
                                width: 50
                            },
                              {
                                  field: "PRH_ID",
                                  title:"@T("Admin.Customers.Customers.Fields.PRH_ID")",
                                  width: 50
                              },
                             {
                                 field: "PRH_ReqNo",
                                 title: "@T("Admin.Customers.Customers.Fields.PRH_ReqNo")",
                                 width: 50,
                                 hidden:true


                             }, {
                                 field: "VoucherName",
                                 title: "@T("Admin.Customers.Customers.Fields.VoucherName")",
                                 width: 200
                             }, {
                                 field: "TypeName",
                                 title: "@T("Admin.Customers.Customers.Fields.TypeName")",
                                 width: 200
                             }, {
                                 field: "PRH_TotAmt",
                                 title: "@T("Admin.Customers.Customers.Fields.PRH_TotAmt")",
                                 width: 50
                             },
                    {
                        field: "RequestedQty",
                        title: "@T("Admin.Customers.Customers.Fields.RequestedQty")",
                        width: 50
                    },
                    {
                        field: "PRH_TotAssignQty",
                        title: "@T("Admin.Customers.Customers.Fields.PRH_TotAssignQty")",
                        width: 50
                    },
                    {
                        field: "PendingQty",
                        title: "@T("Admin.Customers.Customers.Fields.PendingQty")",
                        width: 50
                    },
                    {field: "AvaliableQty",
                        title: "@T("Admin.Customers.Customers.Fields.AvaliableQty")",
                        width: 50
                    }, {
                        field: "Quantity",
                        title: "@T("Admin.Customers.Customers.Fields.Quantity")",
                        headerAttributes: { style: "text-align:center" },
                        attributes: { style: "text-align:center" },
                        template: "<input type='number'  id='txt#=PRH_ID#' value='0' class='checkboxGroups' />",
                        width: 50
                    }]
                        });
                    });
                </script>
                <table class="adminContent">

                    <tr id="btnblock">
                        <td class="adminData">

                            <input type="button" id="btnDispatch" name="Command" class=" k-button" value="DispatchPin" />

                            
                        </td>
                    </tr>

                </table>
                <script type="text/javascript">

                    var selectedIds = [];

                    $(document).ready(function () {

                        //search button
                      //  $('#ViewReport').click(function () {
                        //    $("#tbltxtnaration").show();
                        //    $("#ddlnaration").show();
                        //    $("#btnblock").show();
                         //   var grid = $('#customers-grid').data('kendoGrid');
                         //   grid.dataSource.page(1); //new search. Set page size to 1
                            //grid.dataSource.read(); we already loaded the grid above using "page" function
                            //clear selected checkboxes
                            $('.checkboxGroups').attr('checked', false).change();
                            selectedIds = [];
                            return false;
                       // });

                        $('#mastercheckbox').click(function () {
                            $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                        });

                        //wire up checkboxes.
                        $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                            var $check = $(this);
                            if ($check.is(":checked") == true) {
                                var checked = jQuery.inArray($check.val(), selectedIds);
                                if (checked == -1) {
                                    //add id to selectedIds.
                                    selectedIds.push($check.val());
                                }
                                $("#SelectedValues").val(selectedIds);
                            }
                            else {
                                var checked = jQuery.inArray($check.val(), selectedIds);
                                if (checked > -1) {
                                    //remove id from selectedIds.
                                    selectedIds = $.grep(selectedIds, function (item, index) {
                                        return item != $check.val();
                                    });
                                    $("#SelectedValues").val(selectedIds);
                                }
                            }
                            updateMasterCheckbox();
                        });

                        $('#btnDispatch').click(function(e) {
                            if(selectedIds=='' || selectedIds.length<=0)
                            {
                                alert("Select At Least One Record");
                                return false;
                            }
                            else
                            {




                                e.preventDefault();
                                var epinList=[];
                                $.each(selectedIds,function(i,val){
                                    alert(val);
                                    epinList.push($('#txt'+val.split(' ',1)).val());
                                    alert('something'+$('#txt'+val.split(' ',1)).val());
                                });
                                var postData = {
                                    selectedIds: selectedIds,
                                    epinList:epinList

                                };
                                addAntiForgeryToken(postData);

                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: "@(Url.Action("PartialDispatchEpin", "Epin"))",
                                    data: postData,
                                    success: function(data) {
                                        //localStorage.DateCode = data.DateCode;
                                        //localStorage.Paymode=data.Paymode;
                                        //localStorage.TC=data.TransactionCode;
                                        //window.location.href='/MakePayment/IssuePayment?datecode='+localStorage.DateCode+"&paymode="+localStorage.Paymode+"&tc="+localStorage.TC;
                                    },
                                    error: function(xhr, ajaxOptions, thrownError) {
                                        alert(thrownError);
                                    },
                                    traditional: true
                                });
                                return false;
                            }
                        });

                        
                    });


                    function onDataBound(e) {

                        $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                            var currentId = $(this).val();
                            var checked = jQuery.inArray(currentId, selectedIds);
                            //set checked based on if current checkbox's value is in selectedIds.
                            $(this).attr('checked', checked > -1);
                        });

                        updateMasterCheckbox();
                    }

                    function updateMasterCheckbox() {
                        var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                        var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                        $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                    }

                    function additionalData() {
                        var customerRoleIds = [];
                        $('[name=SearchCustomerRoleIds]:checked').each(function () {
                            customerRoleIds.push($(this).val());
                        });

                        var data = {



                        };
                        addAntiForgeryToken(data);
                        return data;
                    }
                </script>
            </td>
        </tr>
    </table>
}