﻿@model Nop.Admin.ViewModel.PinRequest_Hdr
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Customers.Request").Text;
    Html.SetActiveMenuItemSystemName("PinRequestDtls");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">

            @T("Admin.Customers.Request")
        </h1>
        <div class="pull-right">
            <a href="@Url.Action("PinRequest")" class="btn bg-blue">@T("Admin.Common.SendRequestpin")</a>

            <button type="submit" id="ExportExcel" name="exportexcel-all" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                @T("Admin.Common.ExportToExcel")
            </button>
        </div>
    </div>
    <div class="content" id="searchPanel">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" id="divVoucher">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.PRDSearchBy)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.ddlOption1, new List<SelectListItem>()
                                             {
                                                new SelectListItem(){Text="Summary", Value="0"}
                                             }, new { @onchange = "hidefldResults();" })
                                    </div>
                                </div>
                                <div class="form-group" id="divAmount">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.PRDSearch)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.ddlOption2, new List<SelectListItem>()
                                           {
                                               new SelectListItem(){Text="All Record(s)", Value="0"},
                                               new SelectListItem(){Text="E-Pin Request No",Value="1"},
                                               new SelectListItem(){Text="ID/Name wise",Value="2"}
                                           }, new { @onchange = "ChangeField(this.value)" })
                                    </div>
                                </div>

                                <div class="form-group" id="tblMember">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.PRDmemberNo)
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" id="txtMember" value="" class="form-control text-box single-line" name="" />
                                        @*<input type="hidden" name="hiddenSearchMemno" id="hiddenSearchMemno" value=" " />*@
                                        @Html.HiddenFor(model => model.hiddenSearchMemno)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="tblStatus">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.PRDSearchStatus)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.ddlStatus, new List<SelectListItem>()
                                               {
                                                   new SelectListItem(){Text="All Record(s)", Value="4"},
                                                   new SelectListItem(){Text="Pending",Value="0"},
                                                   new SelectListItem(){Text="In-Complete",Value="1"},
                                                     new SelectListItem(){Text="Complete",Value="2"},
                                                     new SelectListItem(){Text="Rejected",Value="3"}
                                               }, new { @onchange = "hidefldResults();" })
                                    </div>
                                </div>
                                <div class="form-group" id="tblAll">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.PRDSelectVoucher)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.VoucherId, Model.VoucherList, "All Record(s)", new { @class = "form-control valid" })
                                    </div>
                                </div>
                                <div class="form-group" id="divFdate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.PRDFromDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.FromDate)
                                        @Html.HiddenFor(model => model.HFromDate)
                                    </div>
                                </div>

                                <div class="form-group" id="divTodate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.PRDToDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.ToDate)
                                        @Html.HiddenFor(model => model.HToDate)
                                    </div>
                                </div>
                                <div class="form-group" id="tblPinReq">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.PRDRequestNo)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.txtRequestNo)
                                        @Html.HiddenFor(model => model.hiddentxtRequestNo)
                                    </div>
                                </div>
                                <div class="form-group" id="trAddToList">
                                    <div class="col-md-4 col-md-offset-3">
                                        <button type="button" id="ViewReport" class="btn btn-primary btn-search " value="@T("Admin.Common.SendRequest")">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.SendRequest")
                                        </button>
                                        @*<input type="button" id="" class="btn btn-primary btn-search" value="@T("")" />*@

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="customers-grid"></div>
                        <script>
                            $(document).ready(function () {
                                //$('#ViewReport').click(function () {
                                $("#customers-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("PinRequestDtlsGrid", "Epin"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: true,
                                    dataBound: onDataBound,
                                    columns: [{
                                        field: "SrNo",
                                        title: "@T("Admin.Customers.Customers.Fields.PRD_ID")",
                                        width: 100,
                                        hidden:true,
                                    }, {
                                        field: "PRH_ReqNo",
                                        title:"@T("Admin.Customers.Customers.Fields.PRH_ReqNo")",
                                        width: 150,
                                        template: "<input type='submit' value='#=PRH_ReqNo#' onclick=\"javascript:OpenWindow('@Url.Content("~/Admin/Epin/RequestNoDetails")?reqno=#=PRH_ReqNo#', 800, 250, true); return false;\" class='k-button' />"
                                    }, {
                                        field: "PRH_Date",
                                        title: "@T("Admin.Customers.Customers.Fields.PRH_Date")",
                                        width: 100,
                                        //type: "date",
                                        //format: "{0:G}"
                                    }, {
                                        field: "PRH_TrnTotalAmt",
                                        title: "@T("Admin.Customers.Customers.Fields.PRH_TrnTotalAmt")",
                                        width: 100,
                                    },{
                                        field: "PRH_TotQty",
                                        title: "@T("Admin.Customers.Customers.Fields.PRH_TotQty")",
                                        width: 100
                                    }, {
                                        field: "PRH_TotAssignQty",
                                        title: "@T("Admin.Customers.Customers.Fields.PRH_TotAssignQty")",
                                        width: 100
                                    },  {
                                        field: "PRH_PendingQty",
                                        title: "@T("Admin.Customers.Customers.Fields.PRH_PendingQty")",
                                        width: 100
                                    }, {
                                        field: "PRH_StatusFlg",
                                        title: "@T("Admin.Customers.Customers.Fields.PRH_StatusFlg")",
                                        width: 100
                                    },  {
                                        field: "PRH_Name",
                                        title: "@T("Admin.Customers.Customers.Fields.PRH_Name")",
                                        width: 100
                                    }]
                                });
                            });
                            //});
                        </script>

                        <script type="text/javascript">

                            var selectedIds = [];
                            $(document).ready(function () {
                                $('#validationMessages').hide();
                                $("#FromDate").keyup(function(){
                                    $(this).val('');
                                });
                                $("#ToDate").keyup(function(){
                                    $(this).val('');
                                });

                                //search button
                                $('#ViewReport').click(function () {
                                    
                                    $(".alert.alert-success.alert-dismissable").hide();
                                    $(".alert.alert-danger.alert-dismissable").hide();
                                    var validationDivs='';
                                    var FDate = $("#FromDate").val();
                                    var TDate = $("#ToDate").val();
                                    var FromDate = "";
                                    var ToDate = "";
                                    if (FDate != "") {
                                        FromDate = getDate($("#FromDate").data("kendoDatePicker").value());
                                    }
                                    if (TDate != "") {
                                        ToDate = getDate($("#ToDate").data("kendoDatePicker").value());
                                    }
                                    var ddlOption2=$('#ddlOption2').val();
                                    var txtRequestNo=$('#txtRequestNo').val();
                                    var hiddentxtRequestNo=$('#hiddentxtRequestNo').val();
                                    var txtMember=$('#txtMember').val();
                                    var hiddenSearchMemno=$('#hiddenSearchMemno').val();
                                    var flag=true;
                                    $('#validationMessages').html('');
                                    $('#validationMessages').hide();

                                    if(ddlOption2 == 2)
                                    {
                                        if(txtMember == '')
                                        {
                                            validationDivs=validationDivs+ '<div>@T("Admin.Validation.IdNameRequired")</div>';
                                            flag=false;
                                        }
                                        if(txtMember !='' && hiddenSearchMemno == " ")
                                        {
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                                            flag=false;
                                        }
                                    }

                                    if(ddlOption2 == 1)
                                    {
                                        //  
                                        if(txtRequestNo == '')
                                        {
                                            validationDivs=validationDivs+'<div>@T("admin.validation.requestnorequired")</div>';
                                            flag=false;
                                        }
                                        if(txtRequestNo !='' && hiddentxtRequestNo == "")
                                        {
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                                            flag=false;
                                        }
                                    }

                                    if (FromDate != "" && ToDate == "" )
                                    {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                                        flag=false;
                                    }
                                    if (ToDate != "" && FromDate =="")
                                    {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                                        flag=false;
                                    }

                                    var EnteredDate = getDate($("#FromDate").data("kendoDatePicker").value());
                                    var EnteredFromdate=getDate($("#ToDate").data("kendoDatePicker").value());

                                    var myDate = new Date(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                    var myFromDate = new Date(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                                    var today = new Date();
                                    var start_time=$("#DatewiseFrom").val();
                                    var end_time=$("#DatewiseTo").val();

                                    if (myFromDate > today) {

                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                                        flag=false;
                                    }
                                    if (myFromDate < myDate) {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                                        flag=false;
                                    }

                                    if(flag)
                                    {
                                        $("#HFromDate").val(EnteredDate);
                                        $("#HToDate").val(EnteredFromdate);
                                        var grid = $('#customers-grid').data('kendoGrid');
                                        grid.dataSource.page(1); //new search. Set page size to 1
                                        //grid.dataSource.read(); we already loaded the grid above using "page" function
                                        //clear selected checkboxes
                                        $('.checkboxGroups').attr('checked', false).change();
                                        selectedIds = [];
                                        return false;
                                    }
                                    else
                                    {
                                        $("#validationMessages").show();
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                });

                                $('#mastercheckbox').click(function () {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                    }
                                    else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function (item, index) {
                                                return item != $check.val();
                                            });
                                        }
                                    }
                                    updateMasterCheckbox();
                                });
                            });

                            function onDataBound(e) {

                                $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });

                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }

                            function additionalData() {
                                var customerRoleIds = [];
                                $('[name=SearchCustomerRoleIds]:checked').each(function () {
                                    customerRoleIds.push($(this).val());
                                });

                                var StartDate = $("#FromDate").val();
                                var EndDate = $("#ToDate").val();

                                var startDate = null;
                                var endDate = null;

                                if (StartDate != "")
                                    startDate = getDate($("#FromDate").data("kendoDatePicker").value());
                                if (EndDate != "")
                                    endDate = getDate($("#ToDate").data("kendoDatePicker").value());

                                var data = {
                                    ddlOption1: $('#@Html.FieldIdFor(model => model.ddlOption1)').val(),
                                    ddlOption2: $('#@Html.FieldIdFor(model => model.ddlOption2)').val(),
                                    ddlStatus: $('#@Html.FieldIdFor(model => model.ddlStatus)').val(),
                                    VoucherList: $('#@Html.FieldIdFor(model => model.VoucherList)').val(),
                                    VoucherId: $('#@Html.FieldIdFor(model => model.VoucherId)').val(),
                                    HFromDate: startDate,
                                    HToDate: endDate,
                                    txtRequestNo: $('#@Html.FieldIdFor(model => model.txtRequestNo)').val(),
                                    Member: $('#hiddenSearchMemno').val(),
                                    hiddenSearchMemno:  $('#@Html.FieldIdFor(model => model.hiddenSearchMemno)').val(),
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tblPinReq").hide();
            $("#tblMember").hide();
        });

        function ChangeField(selectedValue)
        {
            var tblAll = $("#tblAll");
            var tblPinReq = $("#tblPinReq");
            var tblMember = $("#tblMember");

            $("#fldResults").hide();
            //$("#cvValidateFromDate").hide();
            //$("#cvFromDate").hide();
            //$("#CustomValidator1").hide();
            //$("#MyCustomValidator").hide();
            //$("#CustomValidator7").hide();

            hidefldResults();
            if (selectedValue == 0) {

                $("#tblAll").show();
                $("#tblPinReq").hide();
                $("#tblMember").hide();
                $("#tblStatus").show();
                $("#divFdate").show();
                $("#divTodate").show();
                $("#hiddenSearchMemno").val("");
                $("#txtMember").val("")
                $("#FromDate").val("")
                $("#ToDate").val("")
                $("#txtRequestNo").val("")
            }
            else if (selectedValue == 1) {
                $("#tblAll").hide();
                $("#tblStatus").hide();
                $("#tblPinReq").show();
                $("#tblMember").hide();
                $("#divFdate").hide();
                $("#divTodate").hide();
                $("#hiddenSearchMemno").val("");
                $("#txtMember").val("")
                $("#FromDate").val("")
                $("#ToDate").val("")
                $("#txtRequestNo").val("")
            }
            else if (selectedValue == 2) {
                $("#tblAll").show();
                $("#tblPinReq").hide();
                $("#tblMember").show();
                $("#tblStatus").show();
                $("#divFdate").show();
                $("#divTodate").show();
                $("#hiddenSearchMemno").val("");
                $("#txtMember").val("")
                $("#FromDate").val("")
                $("#ToDate").val("")
                $("#txtRequestNo").val("")
            }
        }
        function changeOption(selectedValue) {
            var tblAll = $("#tblAll");
            var tblPinReq = $("#tblPinReq");
            var tblMember = $("#tblMember");

            clearText($("#FromDate"));
            clearText($("#ToDate"));
            clearText($("#txtRequestNo"));
            clearText($("#txtMember"));

            $("#fldResults").hide();
            //$("#cvValidateFromDate").hide();
            //$("#cvFromDate").hide();
            //$("#CustomValidator1").hide();
            //$("#MyCustomValidator").hide();
            //$("#CustomValidator7").hide();

            hidefldResults();

            if (selectedValue == 0) {

                (tblAll.id).show();
                (tblPinReq.id).hide();
                (tblMember.id).hide();
            }
            else if (selectedValue == 1) {
                (tblAll.id).hide();
                (tblPinReq.id).show();
                (tblMember.id).hide();
            }
            else if (selectedValue == 2) {
                (tblAll.id).show();
                (tblPinReq.id).hide();
                (tblMember.id).show();
            }
        }
        function changeOption(selectedValue) {
            $("#fldResults").hide();
        }

        function hidefldResults() {
            $("#fldResults").hide();

        }
        function fnReset() {
            changeOption(0);

            $("#fldResults").hide();

        }
        $('#txtMember').autocomplete({
            delay: 500,
            minLength: 1,
            @*source: '@(Url.Action("SearchTermAutoComplete","Epin"))',*@
            source: '@(Url.Action("SearchTermAutoCompleteDownline", "Common"))',
            appendTo: '.search-box',
            select: function (event, ui) {

                //$("#hiddenSearchMemno").val(ui.item.MJD_MemID);
                $("#hiddenSearchMemno").val(ui.item.Id);
                $("#txtMember").val(ui.item.label);
                $("#divfirstname").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };


        $("#txtRequestNo").keydown(function(evt) {
            var charCode = (evt.charCode) ? evt.charCode : ((evt.which) ? evt.which : evt.keyCode);
            if (charCode != 13 && charCode != 9)
            {
                $("#hiddentxtRequestNo").val("");
            }
        });

        $('#txtRequestNo').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("SearchTermAutoCompleteRequestNo", "Epin"))',
            appendTo: '.search-box',
            select: function (event, ui) {

                $("#txtRequestNo").val(ui.item.value);
                $("#hiddentxtRequestNo").val(ui.item.label);
                $("#divfirstname").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };
        $("#ExportExcel").click(function() {
            

            var FDate = $("#FromDate").val();
            var TDate = $("#ToDate").val();
            var FromDate = "";
            var ToDate = "";
            if (FDate != "") {
                $("#HFromDate").val(getDate($("#FromDate").data("kendoDatePicker").value()));
            }
            else {
                $("#HFromDate").val(FDate);
            }
            if (TDate != "") {
                $("#HToDate").val(getDate($("#ToDate").data("kendoDatePicker").value()));
            }
            else {
                $("#HToDate").val(TDate);
            }
            var t=$("#HFromDate").val();
        });
    </script>
}


