﻿@{
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";
}

@model Nop.Admin.ViewModel.RequestNoPopUp
@using System.Globalization;
@{
    var defaultGridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Customers.Customers").Text;
}
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">             
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="payouts-grid"></div>
                        <script>
                            $(document).ready(function () {

                                $("#payouts-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("RequestNoDetails", "Epin"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: addAntiForgeryToken
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        @*pageSize: @(defaultGridPageSize),*@
                                        serverPaging: false,
                                        serverFiltering: false,
                                        serverSorting: false
                                    },
                                    pageable: {
                                        refresh: false,
                                        numeric: false,
                                        previousNext: false,
                                        info: false,
                                        @*pageSizes: [@(gridPageSizes)]*@
                                    },
                                    scrollable: false,
                                    columns: [{
                                        field: "PRD_ID",
                                        title: "@T("Admin.Customers.Customers.Fields.PRD_ID")",
                                        width: 200,
                                        hidden: true,
                                    }, {
                                        field: "VoucherName",
                                        title: "@T("Admin.Customers.Customers.Fields.VoucherName")",
                                        width: 200
                                    }, {
                                        field: "TypeName",
                                        title: "@T("Admin.Customers.Customers.Fields.TypeName")",
                                        width: 200
                                    }, {
                                        field: "ReqDate",
                                        title: "@T("Admin.Customers.Customers.Fields.PinReqDate")",
                                        width: 200,
                                        //type: "date",
                                        //format: "{0:d}"
                                    }, {
                                        field: "PackageAmt",
                                        title: "@T("Admin.Customers.Customers.Fields.VoucherAmt")",
                                        width: 200
                                    }, {
                                        field: "ReqQty",
                                        title: "@T("Admin.Customers.Customers.Fields.ReqQty")",
                                        width: 200
                                    }, {
                                        field: "TotalAmt",
                                        title: "@T("Admin.Customers.Customers.Fields.TotalAmt")",
                                        width: 200
                                    }]
                                });
                            });
                        </script>
                    </div>                   
                </div>            
            </div>
        </div>
    </div>

    
}