﻿@model Nop.Web.Framework.Models.Epin.EpinRequestModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //page title
    ViewBag.Title = T("admin.epin.transferepin").Text;
    Html.SetActiveMenuItemSystemName("TransferEpin");
}
<style>
    .col-md-4 {
        text-align: left;
    }
</style>

<style>
    .AlignkendoGridFormQuantity-right {
        text-align: right;
    }

    .AlignkendoGridFormQuantity-left {
        text-align: left;
    }

    .AlignkendoGridFormQuantity-center {
        text-align: center;
    }

    #checkrequiedAttricSymbol {
        margin-left: -13% !important;
        margin-bottom: 3% !important;
    }

    #dvCheckPanal {
        text-align: left !important;
    }
</style>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "voucherattribute-form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(t => t.VoucherId)
    @Html.HiddenFor(t => t.HTotalQuantity)
    @Html.HiddenFor(t => t.HNetAmount)
    @Html.HiddenFor(t => t.HVoucherwiseTotalDiscount)
    @Html.HiddenFor(t => t.HOrderTotalDiscount)
    @Html.HiddenFor(t => t.HPaybleAmount)
    @Html.HiddenFor(t => t.UsePercentage)
    @Html.HiddenFor(t => t.HActualOrderTotalUsePercentage)
    @Html.HiddenFor(t => t.HActualOrderTotalDiscountPercentage)
    @Html.HiddenFor(t => t.HActualOrderTotalDiscountAmount)
    @Html.HiddenFor(t => t.HActualOrderTotalMaximumDiscountAmount)
    @Html.HiddenFor(t => t.HActualOrderTotalDiscountStartDate)
    @Html.HiddenFor(t => t.HActualOrderTotalDiscountEndDate)
    @Html.HiddenFor(t => t.HActualOrderTotalQuantity)
    @Html.HiddenFor(t => t.RequestByCustomerId)


    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("admin.epin.transferepin")
        </h1>

    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.CustomerTypeOption)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.CustomerTypeOption, new List<SelectListItem>()
                                           {
                                               new SelectListItem(){Text="Member",Value="0"},
                                               new SelectListItem(){Text="Trader",Value="1"}
                                           }, new { @onchange = "ChangeField(this.value,'True')" })
                                    </div>
                                </div>

                                <div class="form-group" id="tblMember">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.MemberName)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.MemberName)
                                        <input type="hidden" name="hiddenSearchMemno" id="hiddenSearchMemno" value="" />
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="tblTrader">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.TraderName)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.TraderName)
                                        <input type="hidden" name="hiddenSearchMemno" id="hiddenSearchMemno" value="" />
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="pull-right">
                                <button type="submit" id="btnAddNewRelatedVouchers" style="margin-right:15px;" class="btn bg-blue">
                                    <i class="fa fa-plus-circle"></i>
                                    @T("Admin.Customer.Fields.EpinRequest.AddNewVoucher")
                                </button>
                                <input type="submit" id="btnRefreshVouchers" style="display: none" />
                            </div>
                        </div>
                        <br />
                        <div id="EpinRequestVoucher-grid"></div>
                        <br>
                        <div class="row">
                            <div class="col-md-7">

                                <script type="text/javascript">
                                    $(document).ready(function () {

                                        $('#btnRefreshVouchers').click(function () {
                                            var grid = $("#EpinRequestVoucher-grid").data('kendoGrid');
                                            grid.dataSource.read();
                                            return false;
                                        });
                                    });
                                </script>
                            </div>
                        </div>

                        <br />
                        <div class="row">

                            <div class="col-md-5 pull-right" id="showOnRecordAvailable">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        Total Quantity
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label id="TotalQuantity">0</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        Net Amount
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label id="NetAmount">0</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        Voucher-wise Total Discount
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label id="VoucherwiseTotalDiscount">0</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        Order Total Discount
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label id="OrderTotalDiscount">0</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        Payable Amount
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label id="PayableAmount">0</label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="col-md-12">
                                    <div class="form-group" id="saveButton">
                                        <div class="col-md-4 col-md-offset-4">
                                            <button type="submit" name="save" id="save" class="btn btn-primary btn-success">
                                                <i class="fa fa-first-order"></i>
                                                @T("admin.epin.transferepin")
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <script>

        $('#save').click(function(){
            var error = $.trim($("#validationMessages").html());
            if(error!="")
            {
                return false;
            }


        });
        $('#btnAddNewRelatedVouchers').click(function(){
            var CustomerTypeOption=$('#CustomerTypeOption').val();
            var MemberName=$('#MemberName').val();
            var hiddenSearchMemno=$('#hiddenSearchMemno').val();
            var TraderName=$('#TraderName').val();
            $('#validationMessages').html('');
            $("#validationMessages").hide();
            var flag=true;
            var validationDivs='';
            if(CustomerTypeOption == 0)
            {
                if(MemberName == '')
                {
                    validationDivs=validationDivs+ '<div>@T("Admin.Validation.IdNameRequired")</div>';
                    flag=false;
                }
                if(MemberName !='' && hiddenSearchMemno =="")
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                    flag=false;
                }
            }
            if(CustomerTypeOption == 1)
            {
                if(TraderName == '')
                {
                    validationDivs=validationDivs+ '<div>@T("Admin.Validation.IdNameRequired")</div>';
                    flag=false;
                }
                if(TraderName !='' && hiddenSearchMemno =="")
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                    flag=false;
                }
            }
            if(flag)
            {
                var RequestByCustomerId = parseInt(hiddenSearchMemno);
                $('#RequestByCustomerId').val(RequestByCustomerId);
                if(CustomerTypeOption == 0)
                {
                    var Url = OpenWindow('@Url.Action("EpinRequestVoucherAddPopup", "Epin", new RouteValueDictionary(new {btnid="btnRefreshVouchers",formid="voucherattribute-form",SelectedOption="Member",SelectedId="hiddenSearchMemno"}))'.replace("hiddenSearchMemno", encodeURIComponent(hiddenSearchMemno)), 800, 800, true);
                }
                else
                {
                    var Url = OpenWindow('@Url.Action("EpinRequestVoucherAddPopup", "Epin", new RouteValueDictionary(new { btnid="btnRefreshVouchers",formid="voucherattribute-form",SelectedOption= "Trader", SelectedId="hiddenSearchMemno"}))'.replace("hiddenSearchMemno", encodeURIComponent(hiddenSearchMemno)), 800, 800, true);

                }
                return false;
            }
            else
            {
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
                return false;
            }

        });

        function ChangeField(selectedValue,manual) {
            if(manual=='True')
            {
                var data = {

                };

                addAntiForgeryToken(data);

                $.ajax({
                    url: "@Html.Raw(Url.Action("AllEpinReuestVoucherDelete", "Epin"))",
                    type: "POST",
                    dataType: "json",
                    data: data,
                    success: function (result) {
                        $('#EpinRequestVoucher-grid').data('kendoGrid').dataSource.read();
                    }
                });
            }

            if (selectedValue == 0) {

                $("#tblMember").show();
                $("#tblTrader").hide();
                $('#TraderName').val("");
                $('#txtMember').val("");
                $('#hiddenSearchMemno').val("");
                $('#validationMessages').html('');
                $("#validationMessages").hide();
                return false;
            }
            else if(selectedValue == 1)
            {
                $("#tblMember").hide();
                $("#tblTrader").show();
                $('#TraderName').val("");
                $('#txtMember').val("");
                $('#hiddenSearchMemno').val("");
                $('#validationMessages').html('');
                $("#validationMessages").hide();
                return false;
            }
        }

        $(document).ready(function () {


            $('#hiddenSearchMemno').val('@Model.RequestByCustomerId')

            $("#tblTrader").hide();


            $("#validationMessages").hide();
            $('#saveButton').hide();
            $('#recipt').hide();
            $('#Notediv').hide();
            $("#EpinRequestVoucher-grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("EpinRequestVoucherList", "Epin"))",
                            type: "POST",
                            dataType: "json",
                            data: additionalData
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    requestEnd: function (e) {
                        if (e.type == "read") {
                            var response = e.response;
                            if (response) {
                                //store extra data
                                reportTotals = e.response["ExtraData"];
                            }
                        }
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    pageSize: @(defaultGridPageSize),
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    pageSizes: [@(gridPageSizes)]
                },
                scrollable: true,
                dataBound: onDataBound,
                columns: [
                     {
                         field: "VoucherDetailId",
                         title: "@T("Admin.Customer.Fields.EpinRequest.VoucherId")",
                         hidden: true
                     },
                 {
                     field: "VoucherName",
                     title: "@T("Admin.Customer.Fields.EpinRequest.Voucher")",
                     width: 100,
                 }, {
                     field: "EpinType",
                     title: "@T("Admin.Customer.Fields.EpinRequest.EpinType")",
                     width: 100,
                 }, {
                     field: "NetAmount",
                     title: "@T("Admin.Customer.Fields.EpinRequest.Amount")",
                     width: 100,
                     format:"{0:n2}",
                     attributes:{ "class":"AlignkendoGridFormQuantity-right" }
                 }, {
                     field: "DiscountAmountOrPercentage",
                     title: "@T("Admin.Customer.Fields.EpinRequest.DiscountPerQuantity")",
                     width: 100,
                     format:"{0:n2}",
                     attributes:{ "class":"AlignkendoGridFormQuantity-right" }
                 }, {
                     field: "Quantity",
                     title: "@T("Admin.Customer.Fields.EpinRequest.Quantity")",
                     template: "#=txtQuantity(VoucherDetailId,Quantity)#",
                     attributes:{ "class":"AlignkendoGridFormQuantity-center" },
                     width: 200,
                 }, {
                     field: "TotalAmount",
                     title: "@T("admin.epin.fields.totalamount")",
                     format:"{0:n2}",
                     width: 100,
                     attributes:{ "class":"AlignkendoGridFormQuantity-right" }

                 }, {
                     field: "DiscountAmount",
                     title: "@T("Admin.Customer.Fields.EpinRequest.TotalDiscount")",
                     format:"{0:n2}",
                     width: 100,
                     attributes:{ "class":"AlignkendoGridFormQuantity-right" }

                 }, {
                     field: "SubTotal",
                     title: "@T("Admin.Customer.Fields.EpinRequest.SubTotal")",
                     format:"{0:n2}",
                     width: 100,
                     attributes:{ "class":"AlignkendoGridFormQuantity-right" }

                 },{
                     field: "Action",
                     title: "",
                     template: "<a class='btn btn-danger' value='#=VoucherDetailId#' onclick='deleteClick(#=VoucherDetailId#) '><i class='fa fa-remove'></i>@T("Admin.Common.Delete")</a>",
                     width:150
                 }
                ]
            });
        });
        function deleteClick (VoucherDetailId) {


            var data = {
                VoucherId:VoucherDetailId
            };

            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("RelatedEpinReuestVoucherDelete", "Epin"))",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (result) {
                    $('#EpinRequestVoucher-grid').data('kendoGrid').dataSource.read();
                }

            });
            return false;
        }

        function onDataBound(e) {
            calculateSummary();

        }
        var reportTotals = "";

        function calculateSummary() {

            //table td possition sequence
            var totalQuantity = 0;
            var NetAmounts = 0;
            var VoucherWiseTotalDiscount = 0;
            var OrderTotalDiscount = 0;
            var PayableAmount = 0;
            var OrderTotalDiscount = 0;
            var UsePercentage = false;
            var MaximumDiscountAmount = 0;
            var PlaceOrderTotalStartDate;
            var PlaceOrderTotalEndDate;


            if (reportTotals != "") {
                for (var key in reportTotals) {

                    totalQuantity=reportTotals['SumTotalQuantity'];
                    NetAmounts=reportTotals['SumNetAmount'];
                    VoucherWiseTotalDiscount=reportTotals['SumVoucherWiseTotalDiscount'];
                    OrderTotalDiscount=reportTotals['OrderTotalDiscount'];
                    UsePercentage=reportTotals['UsePercentage'];
                    MaximumDiscountAmount=reportTotals['MaximumDiscountAmount'];
                    PlaceOrderTotalStartDate=reportTotals['PlaceOrderTotalStartDate'];
                    PlaceOrderTotalEndDate=reportTotals['PlaceOrderTotalEndDate'];
                }
            }

            $('#HActualOrderTotalUsePercentage').val(UsePercentage)

            if(UsePercentage==true)
            {
                $('#HActualOrderTotalDiscountPercentage').val(OrderTotalDiscount)
                $('#HActualOrderTotalDiscountAmount').val(0)
            }
            else{
                $('#HActualOrderTotalDiscountPercentage').val(0)
                $('#HActualOrderTotalDiscountAmount').val(OrderTotalDiscount)
            }

            $('#HActualOrderTotalMaximumDiscountAmount').val(MaximumDiscountAmount)
            $('#HActualOrderTotalDiscountStartDate').val(PlaceOrderTotalStartDate)
            $('#HActualOrderTotalDiscountEndDate').val(PlaceOrderTotalEndDate)
            $('#HActualOrderTotalQuantity').val(totalQuantity)

            $('#TotalQuantity').html(totalQuantity);
            var MaxQuantitySetting=@Model.MaximumNumberOfQuantitySetting;
            @*if(MaxQuantitySetting != 0)
            {
                if(totalQuantity > MaxQuantitySetting)
                {
                    $("#validationMessages").html(' ');
                    var validationDivs = '<div>@string.Format(T("Epinsetting.Validation.MaxNumberQuntityOnRequestAllowed").Text, Model.MaximumNumberOfQuantitySetting)</div>';
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                    $('#saveButton').hide();
                    return false;
                }
                else{
                    $('#saveButton').show();
                    $("#validationMessages").hide();
                    $("#validationMessages").html(' ');
                }
            }*@
            $('#saveButton').show();
            if(totalQuantity==0)
            {
                $('#showOnRecordAvailable').hide();
            }
            else{
                $('#showOnRecordAvailable').show();
            }

            $('#HTotalQuantity').val(totalQuantity);
            $('#NetAmount').html(NetAmounts.toFixed(2));
            $('#HNetAmount').val(NetAmounts);
            $('#VoucherwiseTotalDiscount').html(VoucherWiseTotalDiscount.toFixed(2));
            $('#HVoucherwiseTotalDiscount').val(VoucherWiseTotalDiscount);

            var TotalPaybleAmount=0;

            if(UsePercentage==true)
            {
                if(OrderTotalDiscount > (NetAmounts - VoucherWiseTotalDiscount))
                {
                    OrderTotalDiscount=0;
                }

                if (MaximumDiscountAmount != 0)
                {

                    if(MaximumDiscountAmount <= ((NetAmounts - VoucherWiseTotalDiscount)* (OrderTotalDiscount/100)))
                    {
                        OrderTotalDiscount=MaximumDiscountAmount;
                    }
                    else{
                        OrderTotalDiscount=(NetAmounts - VoucherWiseTotalDiscount)* (OrderTotalDiscount/100);
                    }

                    if(OrderTotalDiscount >= (NetAmounts - VoucherWiseTotalDiscount))
                    {
                        OrderTotalDiscount=0;
                    }

                    $('#PayableAmount').html((NetAmounts - VoucherWiseTotalDiscount - OrderTotalDiscount).toFixed(2));
                    $('#HPaybleAmount').val(NetAmounts - VoucherWiseTotalDiscount - OrderTotalDiscount);

                    TotalPaybleAmount = (NetAmounts - VoucherWiseTotalDiscount - OrderTotalDiscount);

                    $('#OrderTotalDiscount').html(OrderTotalDiscount);
                    $('#HOrderTotalDiscount').val(OrderTotalDiscount);

                }
                else{

                    $('#PayableAmount').html(((NetAmounts - VoucherWiseTotalDiscount)-((NetAmounts - VoucherWiseTotalDiscount)*(OrderTotalDiscount/100))).toFixed(2));
                    $('#HPaybleAmount').val((NetAmounts - VoucherWiseTotalDiscount)-((NetAmounts - VoucherWiseTotalDiscount)*(OrderTotalDiscount/100)));


                    $('#OrderTotalDiscount').html(OrderTotalDiscount.toFixed(2) +' %');
                    $('#HOrderTotalDiscount').val(OrderTotalDiscount);
                    TotalPaybleAmount=(NetAmounts - VoucherWiseTotalDiscount)-((NetAmounts - VoucherWiseTotalDiscount)*(OrderTotalDiscount/100));
                }

            }
            else{

                if(OrderTotalDiscount >= (NetAmounts - VoucherWiseTotalDiscount))
                {
                    OrderTotalDiscount=0;
                }

                $('#PayableAmount').html((NetAmounts - VoucherWiseTotalDiscount - OrderTotalDiscount).toFixed(2));
                $('#HPaybleAmount').val(NetAmounts - VoucherWiseTotalDiscount - OrderTotalDiscount);

                TotalPaybleAmount = (NetAmounts - VoucherWiseTotalDiscount - OrderTotalDiscount);

                $('#OrderTotalDiscount').html(OrderTotalDiscount.toFixed(2));
                $('#HOrderTotalDiscount').val(OrderTotalDiscount);
            }
            $('#UsePercentage').val(UsePercentage);

            if(TotalPaybleAmount==0)
            {
                $('#divShowHide').hide();


            }else{
                $('#divShowHide').show();

            }
        }

        function txtQuantity(Id, Quantity) {
            str = "<input type='number' class='PinRequest' min='0' id='Quantity_" + Id + "' value=" + Quantity + " onchange='pinRequestQuantity("+Id+")' onkeypress='return isNumber(event)'/>"
            return str;
        }
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }

        function pinRequestQuantity(Id) {

            var Quantity= $('#Quantity_'+Id ).val();

            if(Quantity < "1")
            {
                $("#validationMessages").html(' ');
                validationDivs = '<div>@T("admin.validation.entergreaterthanzero")</div>';
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
                $('#saveButton').hide();
                return false;
            }
            else{
                $('#saveButton').show();
                $("#validationMessages").hide();
                $("#validationMessages").html(' ');
            }
            var RequestByCustomerId = parseInt(hiddenSearchMemno);


            var data = {
                VoucherId: Id,
                Quantity: $('#Quantity_'+Id ).val(),
                CustomerId: $('#RequestByCustomerId').val(),
                CustomerTypeOption: $('#CustomerTypeOption').val(),
            };

            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("RelatedEpinReuestVoucherUpdate", "Epin"))",
                type: "POST",
                dataType: "html",
                data: data,
                success: function (result) {
                    $('#EpinRequestVoucher-grid').data('kendoGrid').dataSource.read();
                }
            });
            return false;
        }

        $('#Paymode').on('change', function () {

            var error = $.trim($("#validationMessages").html());
            if(error!="")
            {
                $('#validationMessages').html('');
                $('#validationMessages').append(error);
                $('#saveButton').hide();
                return false;
            }
            else{
                $('#validationMessages').hide();
            }

            var value = $(this).val();
            $('#recipt').hide();
            $('#divRemark').hide();
            $('#Notediv').hide();
            $('#saveButton').hide();
            $('#paymodeDetailsDiv').hide();
            $("#validationMessages").html('');


        });

        $("#paymodeDetails").click(function () {

            var error = $.trim($("#validationMessages").html());
            if(error!="")
            {
                $('#validationMessages').html('');
                $('#validationMessages').append(error);
                $('#validationMessages').show();
                $('#saveButton').hide();
                return false;
            }
            else
            {
                $('#validationMessages').hide();
            }
            value = $('#Paymode').val();
            $('#recipt').hide();
            $('#divRemark').hide();
            $('#Notediv').hide();
            $('#saveButton').hide();
            $("#validationMessages").html(' ');
            if ($('#@Html.FieldIdFor(model => model.Paymode)').val() == 0) {

                $("#validationMessages").html(' ');
                validationDivs = '<div>@T("Admin.Epin.SelectPaymode")</div>';
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
                $('#saveButton').hide();
                return false;
            }
            else
            {
                $('#saveButton').show();
                $("#validationMessages").hide();
                $("#validationMessages").html(' ');
            }

            var data = {
                Paymode: $('#@Html.FieldIdFor(model => model.Paymode)').val(),
            };

            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("LoadPaymodeDetails", "Epin"))",
                type: "POST",
                dataType: "html",
                async:false,
                data: data,
                success: function (result) {



                    if (value == "Payments.BankTransfer" || value == "Payments.CheckMoneyOrder" || value == "Payments.DemandDraft") {
                        $('#recipt').show();
                        $('#Notediv').show();
                    }
                    $('#divRemark').show();
                    $('#paymodeDetailsDiv').show();
                    $('#paymodeDetailsDiv').html(result);
                    $('#saveButton').show();
                },
                error: function (xhr, textStatus, exceptionThrown) {
                    $("#validationMessages").html("");
                    $("#validationMessages").show();
                    $("#validationMessages").html("@T("Admin.Exception.ExceptionOccurred")");
                }
            });
            return false;
        });



        $('input[type=file]').change(function (e) {

            var ext = $('input[type=file]').val().split('.').pop().toLowerCase();
            if($.inArray(ext, ['jpg', 'JPG', 'jpeg', 'JPEG', 'gif', 'GIF', 'png', 'PNG']) == -1) {
                $("#validationMessages").html("");
                $("#validationMessages").show();
                $("#validationMessages").html("@T("Plugins.Widgets.ImageGallery.fileValidation")");
                $('#saveButton').hide();
                return false;
            }
            else{
                $("#validationMessages").html("");
                $("#validationMessages").hide()
                $('#saveButton').show();
            }

        });
        function additionalData() {

            var CustomerTypeOption=$('#CustomerTypeOption').val();
            var hiddenSearchMemno=$('#hiddenSearchMemno').val();
            if(hiddenSearchMemno!='')
                var RequestByCustomerId = parseInt(hiddenSearchMemno);
            var data = {

                CustomerTypeOption:CustomerTypeOption,
                RequestByCustomerId:RequestByCustomerId
            };
            addAntiForgeryToken(data);
            return data;
        }

        window.onbeforeunload = function () {
            var inputs = document.getElementsByTagName("BUTTON");
            for (var i in inputs) {
                if (inputs[i].type == "button" || inputs[i].type == "submit") {
                    inputs[i].disabled = true;
                }
            }
        };

        //auto complete for member name
        $('#MemberName').autocomplete({
            delay: 500,
            minLength: 1,
            @*source: '@(Url.Action("SearchTermAutoCompleteMember", "AdminEwallet"))', *@
            source: '@(Url.Action("SearchTermAutoCompleteMemberRecords", "AdminEwallet"))',
            appendTo: '.search-box',
            select: function (event, ui) {

                //$("#hiddenSearchMemno").val(ui.item.MJD_MemID);
                //$("#txtMember").val(ui.item.label);

                $("#hiddenSearchMemno").val(ui.item.MJD_MemID);
                $("#MemberName").val(ui.item.label);
                $("#divfirstname").show();
                return false;
            }, change: function (event, ui) {
                if (ui.item == null) {


                    $("#MemberName").val("");
                    $("#hiddenSearchMemno").val("");
                    $("#MemberName").focus();
                }
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {

            var t = item.label;

            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };

        //auto complete for trader name
        $('#TraderName').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("SearchTermAutoCompleteTrader", "AdminEwallet"))',
            appendTo: '.search-box',
            select: function (event, ui) {

                //$("#hiddenSearchMemno").val(ui.item.MJD_MemID);
                //$("#txtMember").val(ui.item.label);

                $("#hiddenSearchMemno").val(ui.item.Id);
                $("#TraderName").val(ui.item.label);
                $("#divfirstname").show();
                return false;
            }, change: function (event, ui) {
                if (ui.item == null) {


                    $("#TraderName").val("");
                    $("#hiddenSearchMemno").val("");
                    $("#TraderName").focus();
                }
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {

            var t = item.label;

            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };
    </script>
}
