﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    //    Html.AddCssFileParts("~/Plugins/Feed.Froogle/Content/styles.css");

}
@model Nop.Admin.ViewModel.VoucherReportModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Customers.Epin").Text;
    Html.SetActiveMenuItemSystemName("Voucher");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <div class="row">

            <div style="margin-left:2%" class="col-sm-4">
                <div class="row">
                    <h2 class="pull-left">
                        @T("Admin.Customers.Epin")

                    </h2>
                </div>
                @*<div class="row">
                        <h4>Home/<span style="color:orange">Voucher Master</span></h4>
                    </div>*@
            </div>
            <div class="pull-right">
                <a href="@Url.Action("AddEpinVoucher")" class="btn bg-blue"><i class="fa fa-plus" aria-hidden="true"></i> @*@T("Admin.Common.CreateVoucher")*@ Add New Voucher</a>
                @*<input type="submit" name="exportexcel-all" class="btn bg-green" value="@T("Admin.Common.ExportToExcel")" />*@
                <button type="submit" id="ExportExcel" style="margin-right: 16px;" name="exportexcel-all" class="btn btn-success">
                    <i class="fa fa-file-excel-o"></i>
                    @T("Admin.Common.ExportToExcel")
                </button>
            </div>
        </div>

    </div>

    <div class="content" id="searchPanel">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.SearchBy)

                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.SearchBy, new List<SelectListItem>()
                                               {
                                                   new SelectListItem(){Text="All Records", Value="0"},
                                                   new SelectListItem(){Text="Name",Value="1"},
                                                   new SelectListItem(){Text="Amount",Value="2"},
                                               }, new { @onchange = "showHide(this.value)" })
                                    </div>
                                </div>

                                <div class="form-group" id="divVoucher" style="display:none">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Voucher)

                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.Voucher, Model.VoucherList, new { @class = "form-control valid", autocomplete = "off", maxlength = 22 })
                                    </div>
                                </div>
                                <div class="form-group" id="divAmount" style="display: none;">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Amount)
                                    </div>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.Amount)*@
                                        <input type="text" name="Amount" id="Amount" class="form-control" @*onkeypress="return isNumberKey(event,this)"*@ />
                                    </div>
                                </div>
                                <div class="form-group" id="divStatus1">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.status)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.status, new List<SelectListItem>()
                                                       {
                                                           new SelectListItem(){Text="All Records", Value="3"},
                                                           new SelectListItem(){Text="Active", Value="1"},
                                                           new SelectListItem(){Text="Inactive",Value="0"}
                                                       })
                                    </div>
                                </div>




                                <div class="form-group" id="trAddToList">
                                    <div class="col-md-4 col-sm-4">
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <button type="button" id="search-customers" class="btn btn-primary btn-search " value="@T("Admin.Common.Search")">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <button type="button" id="btnreset" class="btn btn-primary btn-search " value="@T("Admin.Common.Search")">
                                            <i class="fa fa-refresh"></i>
                                           @T("Admin.Orders.Products.Download.ResetDownloadCount")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="panel panel-default">
                    <div class="panel-body">
                        <br />
                        <div id="customers-grid"></div>

                        <script type="text/javascript">

                            var selectedIds = [];

                            $(document).ready(function () {

                                //var dec = parseFloat($("#Amount").val(),10).toFixed(2);
                                //$("#Amount").val(dec);
                                //search button
                                $('#search-customers').click(function () {
                                    $(".alert.alert-success.alert-dismissable").hide();
                                    $(".alert.alert-danger.alert-dismissable").hide();
                                    var grid = $('#customers-grid').data('kendoGrid');
                                    grid.dataSource.page(1); //new search. Set page size to 1
                                    //grid.dataSource.read(); we already loaded the grid above using "page" function
                                    //clear selected checkboxes
                                    $('.checkboxGroups').attr('checked', false).change();
                                    selectedIds = [];
                                    return false;
                                });

                                $('#mastercheckbox').click(function () {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                    }
                                    else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function (item, index) {
                                                return item != $check.val();
                                            });
                                        }
                                    }
                                    updateMasterCheckbox();
                                });
                            });

                            function onDataBound(e) {

                                $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });
                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }

                            function additionalData() {
                                var customerRoleIds = [];
                                $('[name=SearchCustomerRoleIds]:checked').each(function () {
                                    customerRoleIds.push($(this).val());
                                });

                                var data = {
                                    SearchBy: $('#@Html.FieldIdFor(model => model.SearchBy)').val(),
                                    Voucher: $('#@Html.FieldIdFor(model => model.Voucher)').val(),
                                    Amount: $('#@Html.FieldIdFor(model => model.Amount)').val(),
                                    status: $('#@Html.FieldIdFor(model => model.status)').val()
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>

                        <script>
                            var vddlChoice = document.getElementById("<%=ddlSearchBy.ClientID%>");
                            var txtMemIDName = $("#PVH_Amount");

                            function fnTxtAmount(source, args) {
                                args.IsValid = true;
                                txtMemIDName.value = trimString(txtMemIDName.value);
                                if ((+vddlChoice.value) == 2) {
                                    if (txtMemIDName.value == '') {
                                        args.IsValid = false;
                                    }
                                }
                            }

                            var ddlSearchBy = $("#ddlSearchBy");
                            var divVoucher = $("#divVoucher");
                            var divAmount = $("#divAmount");
                            var divStatus = $("#divStatus");
                            var txtAmount = $("#PVH_Amount");
                            var ddlVoucher = $("#ddlVoucher");
                            var ddlStatus = $("#ddlStatus");

                            $(document).ready(function () {
                                divVoucher.hide();
                                divAmount.hide();
                                divStatus.hide();
                            });

                            //  var pnlErrorMessage = document.getElementById("<%=pnlErrorMessage.ClientID%>");
                            function showHide(Val) {


                                ddlVoucher.selectedIndex = 0;
                                ddlStatus.selectedIndex = 0;
                                txtAmount.text = '';
                                //  hide(pnlErrorMessage.id);
                                if ((+Val) == 0) {
                                    ddlSearchBy.selectedIndex = 0;
                                    divVoucher.hide();
                                    divAmount.hide();
                                    divStatus.hide();
                                }
                                else if ((+Val) == 1) {
                                    divVoucher.show();
                                    divAmount.hide();
                                    divStatus.hide();
                                }
                                else if ((+Val) == 2) {
                                    divAmount.show();
                                    divVoucher.hide();
                                    divStatus.hide();
                                    txtAmount.value = '0';

                                }
                                else if ((+Val) == 3) {
                                    divStatus.show();
                                    divVoucher.hide();
                                    divAmount.hide();

                                }
                            }
                            //function showHideResult(Val) {
                            //    hide(tdgridresult.id);
                            //}
                            function InitialState() {
                                //hide(document.getElementById('tdgridresult').id);
                                ddlSearchBy.selectedIndex = 0;
                                ddlVoucher.selectedIndex = 0;
                                ddlStatus.selectedIndex = 0;
                                divVoucher.hide();
                                divAmount.hide();
                                divStatus.hide();
                                txtAmount.text = '';
                                //   document.getElementById("<%=pnlErrorMessage.ClientID%>").className = 'display-none';
                            }
                            //var lkbtnSearch = document.getElementById('<%= lkbtnSearch.ClientID %>');
                            //if (lkbtnSearch && typeof (lkbtnSearch.click) == 'undefined') {
                            //    lkbtnSearch.click = function () {
                            //        var result = true;
                            //        if (lkbtnSearch.onclick)
                            //            result = lkbtnSearch.onclick();
                            //        if (typeof (result) == 'undefined' || result) {
                            //            eval(lkbtnSearch.getAttribute('href'));
                            //        }
                            //    }
                            //}

                            $("#Amount").keydown(function(e){
                                if(e.which === 13 ){

                                    $('#search-customers').click()
                                    return false;
                                }
                            });

                            $("#ddlVoucher").keydown(function(e){
                                if(e.which === 13 ){
                                    $('#search-customers').click()
                                    return false;
                                }
                            });

                            $("#ddlStatus").keydown(function(e){
                                if(e.which === 13 ){
                                    $('#search-customers').click()
                                    return false;
                                }
                            });
                        </script>



                    </div>
                </div>
            </div>
        </div>

    </div>

}


@*<style>
    .k-icon, .k-tool-icon, .k-grouping-dropclue, .k-drop-hint, .k-column-menu .k-sprite, .k-grid-mobile .k-resize-handle-inner:before, .k-grid-mobile .k-resize-handle-inner:after {
        background-image: url(/Administration/Content/kendo/2014.1.318/Default/246218-remove-add.png.png) !important;
        /*border-color: transparent;*/
    }
    </style>*@



<script>
    var sty="tableclass";
    function grid_detailExpand(e) {
        console.log(e.masterRow, e.detailRow);
    }
    $("#customers-grid").kendoGrid({
        columns: [

      {
          field: "ID",
          title: "@T("Admin.Customers.Customers.Fields.PVH_ID")",
          width: 50,
          hidden:true,
      },{
          field: "SrNo",
          title: "@T("Admin.CustomerReport.SrNo")",
          width: 50,
          hidden:true,
      },{
          field: "Name",
          title:"@T("Admin.Configuration.Epin.Voucher.Name")",
          width: 100,
          attributes:{class:"numbers"},

      },
      {
          field: "Amount",
          title:"@T("Admin.Customers.Customers.Fields.PVH_Amount")",
          width: 80
      },

          {
              field: "Zeroamount",
              title:"@T("Admin.Configuration.Epin.Voucher.ZeroAmout.Voucher")",
              width: 100
          }

      ,
          {
              field: "status",
              title: "@T("Admin.Customers.Customers.Fields.status")",
              width: 80
          },
            {
                field: "ID",
                title: "@T("Admin.Common.Edit")",
                width: 90,
                template: '<a class="btn btn-default" href="EditEpinVoucher/#=ID#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'

            },],
        dataSource: {
            type: "json",
            transport: {
                read: {
                    url: "@Html.Raw(Url.Action("VoucherReportGrid", "Epin"))",
                    type: "POST",
                    dataType: "json",
                    data: additionalData,
                    async: false
                }
            },
            schema: {
                data: "Data",
                total: "Total",
                errors: "Errors"
            },
            error: function(e) {
                display_kendoui_grid_error(e);
                // Cancel the changes
                this.cancelChanges();
            },
            pageSize: @(defaultGridPageSize),
            serverPaging: true,
            serverFiltering: true,
            serverSorting: true
        },
        pageable: {
            refresh: true,
            pageSizes: [@(gridPageSizes)]
        },
        scrollable: true,
        detailTemplate:  "<div class="+sty+" ><table><tr><th>Epin Type</th><th>Available For Order</th><th>Validity In Days</th></tr><tr><td>#: PaidPinName #</td><td>#: AvailablePaid #</td><td>#: ValidityPaid #</td></tr><tr><td>#: CreditPinName #</td><td>#: AvailableCredit #</td><td>#: ValidityCredit #</td></tr><tr><td>#: FreePinName #</td><td>#: AvailableFree #</td><td>#: ValidityFree #</td></tr></table></div>"
    });
    var grid = $("#customers-grid").data("kendoGrid");
    grid.bind("detailExpand", grid_detailExpand);
</script>








<script>


    function allowOnlyNumber(evt)
    {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    $('#btnreset').on('click', (function () {
        $('.loader').show();
        document.location = "@(Url.Action("Voucherreport", "epin"))" ;
    }));

    $(document).ready(function () {

        $("#Amount").on("keypress keyup blur paste", function (evt) {
            var obj = this;

            var charCode = (evt.which) ? evt.which : event.keyCode
            var value = obj.value;
            var dotcontains = value.indexOf(".") != -1;
            if (dotcontains)
                if (charCode == 46) return false;
            if (charCode == 46) return true;
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;

            var input = obj.value;


            //Code For Taking Only two decimal
            charCode = (evt.which) ? evt.which : event.keyCode;
            var number = obj.value.split('.');
            if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            //just one dot (thanks ddlab)
            if (number.length > 1 && charCode == 46) {
                return false;
            }
            //get the carat position
            var caratPos = getSelectionStart(obj);
            var dotPos = obj.value.indexOf(".");
            if (caratPos > dotPos && dotPos > -1 && (number[1].length > 1)) {
                return false;
            }

            return true;
        });


        function getSelectionStart(o) {
            if (o.createTextRange) {
                var r = document.selection.createRange().duplicate()
                r.moveEnd('character', o.value.length)
                if (r.text == '') return o.value.length
                return o.value.lastIndexOf(r.text)
            } else return o.selectionStart
        }

    });
</script>


<style>
    .tableclass table {
        width: 50%;
    }

        .tableclass table th, td {
            text-align: center;
        }

    table th, td {
        text-align: center;
    }

    @@media screen and (min-width: 900px) and (max-width: 1024px) {
        .btn-search {
            min-width: 103px !important;
        }
</style>