﻿@model Nop.Web.Framework.Models.Epin.EpinRequestModel

@{
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";

    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Customer.Fields.EpinRequest.AddNewVoucher").Text;
}

<style>
    .AlignkendoGridFormQuantity-right {
        text-align: right;
    }

    .AlignkendoGridFormQuantity-left {
        text-align: left;
    }

    .AlignkendoGridFormQuantity-center {
        text-align: center;
    }

    @@media (max-width: 1024px) {

        .col-md-3 {
            width: 18% !important;
            float: left !important;
            padding: 0px !important;
            margin-left: 11%;
        }

        .col-md-5 {
            width: 41.66666667% !important;
            float: left !important;
            padding-right: 15px !important;
            padding-left: 15px !important;
        }

        .col-md-6 {
            padding-left: 30% !important;
        }
    }
</style>

@using (Html.BeginForm())
{
    if (ViewBag.RefreshPage == true)
    {
        <script type="text/javascript">
            try {window.opener.document.forms['@(ViewBag.formId)'].@(ViewBag.btnId).click();}
            catch (e){}
            window.close();
        </script>
    }

    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Customer.Fields.EpinRequest.AddNewVoucher")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn btn-success">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.VoucherId)
                                </div>
                                <div class="col-md-5">
                                    @Html.NopDropDownListFor(model => model.VoucherId, Model.VoucherList)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.PintypeId)
                                </div>
                                <div class="col-md-5">
                                    @Html.NopDropDownListFor(model => model.PintypeId, Model.PinTypesList)
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="button" name="search-products" id="search-products" class="btn bg-blue">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="relatedVouchersold-grid"></div>
                        <script>
                            $(document).ready(function () {
                                $("#relatedVouchersold-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("EpinRequestVoucherAddPopupList", "TraderEpin"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    editable: {
                                        confirmation: false,
                                        mode: "inline"
                                    },
                                    scrollable: false,
                                    columns: [
                                   {
                                       field: "VoucherDetailId",
                                       headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                       headerAttributes: { style: "text-align:center" },
                                       template: "<input type='checkbox' name='SelectedVoucherIds' value='#=VoucherDetailId#' class='checkboxGroups' />",
                                       attributes: { style: "text-align:center" },
                                       width: 50
                                   }, {
                                       field: "VoucherName",
                                       title: "@T("Admin.Customer.Fields.EpinRequest.Voucher")"
                                   },{
                                       field: "EpinType",
                                       title: "@T("Admin.Customer.Fields.EpinRequest.EpinType")"
                                   },{
                                       field: "NetAmount",
                                       title: "@T("Admin.Customer.Fields.EpinRequest.Amount")",
                                       format:"{0:n2}",
                                       attributes:{ "class":"AlignkendoGridFormQuantity-right" }
                                   },{
                                       field: "DiscountAmountOrPercentage",
                                       title: "@T("Admin.Customer.Fields.EpinRequest.DiscountAmountPercentage")",
                                       format:"{0:n2}",
                                       attributes:{ "class":"AlignkendoGridFormQuantity-right" }
                                   },{
                                       field: "Quantity",
                                       title: "@T("Admin.Customer.Fields.EpinRequest.Quantity")",

                                       //Default Set 1 Quantity
                                   },{
                                       field: "PaybleAmount",
                                       title: "@T("Admin.Customer.Fields.EpinRequest.PayableAmount")",
                                       format:"{0:n2}",
                                       attributes:{ "class":"AlignkendoGridFormQuantity-right" }
                                       //(Total Epin Amount - Total Discount)
                                   }]
                                });
                            });
                        </script>

                    </div>
                    <div class="panel-footer">

                    </div>
                </div>

            </div>
        </div>
    </div>



    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-products').click(function () {
                var grid = $('#relatedVouchersold-grid').data('kendoGrid');
                grid.dataSource.page(1); //new search. Set page size to 1
                //grid.dataSource.read(); we already loaded the grid above using "page" function
                //clear selected checkboxes
                $('.checkboxGroups').attr('checked', false).change();
                return false;
            });

            $("#@Html.FieldIdFor(model => model.VoucherId)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#search-products").click();
                    return false;
                }
            });

            //wire up checkboxes
            $('#mastercheckbox').click(function() {
                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
            });

            $('#relatedVouchersold-grid').on('change', 'input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]', function(e) {
                updateMasterCheckbox();
            });
        });


        function additionalData() {
            var data = {
                VoucherId: $('#@Html.FieldIdFor(model => model.VoucherId)').val(),
                PintypeId: $('#@Html.FieldIdFor(model => model.PintypeId)').val()
                @*SearchProductName: $('#@Html.FieldIdFor(model => model.VoucherId)').val(),
                            SearchCategoryId: $('#SearchCategoryId').val(),
                            SearchManufacturerId: $('#SearchManufacturerId').val(),
                            SearchStoreId: $('#SearchStoreId').val(),
                            SearchVendorId: $('#SearchVendorId').val(),
                            SearchProductTypeId: $('#SearchProductTypeId').val()*@
            };
            addAntiForgeryToken(data);
            return data;
        }

        function updateMasterCheckbox() {
            var numChkBoxes = $('#relatedVouchersold-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').length;
            var numChkBoxesChecked = $('#relatedVouchersold-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]:checked').length;
            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
        }
        window.onbeforeunload = function () {
            var inputs = document.getElementsByTagName("INPUT");
            for (var i in inputs) {
                if (inputs[i].type == "button" || inputs[i].type == "submit") {
                    inputs[i].disabled = true;
                }
            }
        };
    </script>

}