﻿@{
    Layout = "";
}

@model Nop.Web.Framework.Models.Epin.EpinRequestModel



<div class="form-group">
    <div class="col-md-4">
        @T("Account.Fields.txtAccHolder")
    </div>
    <div class="col-md-8">
        @Html.TextBox("txtAccHolder")      
        @Html.RequiredHint()
        <div class="alert alert-danger alert-dismissable" id="validationMessagestxtAccHolder"></div>
    </div>
</div>
<div class="form-group">
    <div class="col-md-4">
        @T("Account.Fields.txtPassword")
    </div>
    <div class="col-md-8">
        @Html.Password("txtPassword")        
        @Html.RequiredHint()
        <div class="alert alert-danger alert-dismissable" id="validationMessagestxtPassword"></div>
    </div>
</div>

<script>
    $("#validationMessagestxtPassword").html("");
    $("#validationMessagestxtPassword").hide();
    $("#validationMessagestxtAccHolder").hide();

    $('#txtAccHolder').attr('readonly', true);

    $("#txtPassword").change(function () {
        if ($("#txtPassword").val() == "") {
            $("#validationMessagestxtPassword").html("@T("Admin.Customers.Customers.List.EnterPassword")");
        }
        else {
            $("#validationMessagestxtPassword").html("");
        }
    });


    $("#txtAccHolder").change(function () {
        //post data to the controller
        //
        $("#validationMessagestxtAccHolder").html("");

        var postData = {
            memno: $("#txtAccHolder").val()
        };
        addAntiForgeryToken(postData);

        $.ajax({
            type: "POST",
            url: "@(Url.Action("BindSponsorName", "Customer"))",
            data: postData,
            success: function (data) {
                if (data == 1) {
                    $("#validationMessagestxtAccHolder").html(" @T("web.register.ewalletIDError")");
                    $("#txtAccHolder").val('');
                    $("#txtAccHolder").focus();
                }
                else if (data == 2) {
                    $("#validationMessagestxtAccHolder").show();
                    $("#validationMessagestxtAccHolder").html("@T("Admin.registration.blockedEwalletId")");
                    //  alert("Enter Valid Sponsor ID");
                    $("#SponsorName").hide();
                    $("#txtAccHolder").val('');
                    $("#txtAccHolder").focus();
                    return;
                }
                else {
                    $("#validationMessagestxtAccHolder").html("");
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            },
            traditional: true
        });
        return false;
    });
</script>