﻿@using Nop.Core.Helper

@model Nop.Web.Framework.Models.Epin.DispatchEpinVM
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Customers.IssueEpin").Text;
    Html.SetActiveMenuItemSystemName("Issue EPin Details");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    @Html.ValidationMessage("Quantity")
    @Html.HiddenFor(model => model.DispatchReqNO)
    @Html.HiddenFor(m => m.selectedIds)
    @Html.HiddenFor(m => m.SelectedIdDispatch)
    @Html.HiddenFor(m => m.txtMember);
    @Html.HiddenFor(m => m.prhId);

    <div id="tabbuttons" class="content-header clearfix">

        <h1 class="pull-left">
            @T("Admin.Customers.IssueEpin")
            @*<small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Epin.VoucherReport.BackToList").Text, "TraderIssueEpinReport")</small>*@
        </h1>
        <div class="pull-right">
            <button type="button" id="Pending" class="btn bg-blue bg-purple  gridtabs" value="@((int)EpinRequestStatusEnum.Pending)">                
                @T("Pending")
            </button>
            <button type="button" id="Completed" class="btn bg-blue gridtabs" value="@((int)EpinRequestStatusEnum.Complete)">              
                @T("Completed")
            </button>
            <button type="button" id="Rejected" class="btn bg-blue gridtabs" value="@((int)EpinRequestStatusEnum.Rejected)">
                @T("Rejected")
            </button>
            <button type="button" id="Expired" class="btn bg-blue gridtabs" value="@((int)EpinRequestStatusEnum.AutoExpired)">
              @T("AutoExpired")
            </button>
            <button type="button" id="Export-ToExcel" name="exportexcel-all" class="btn btn-success" value="exportexcel-all">
              @T("Admin.Common.ExportToExcel")
            </button>
        </div>

        <input type="hidden" name="selectedtabid" value="1" id="selectedtabid" class="selectedtabid" />
        <input type="hidden" name="SelectedValues" />

    </div>
    <div class="content" id="searchPanel">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">                                  
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.DESearchOptions)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.NopDropDownListFor(model => model.ddlOption, new List<SelectListItem>()
                                           {
                                               new SelectListItem(){Text="All Record(s)", Value="0"},
                                               new SelectListItem(){Text="ID/Name-wise",Value="1"},
                                               new SelectListItem(){Text="Request No-wise",Value="2"}
                                           }, new { @onchange = "ChangeField(this.value)" })
                                        </div>
                                        <input type="hidden" id="autocompleteselected" />
                                   
                                    </div>
                                <div class="form-group" id="tblPinReq">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.DERequestNo)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.txtRequestNo)
                                    </div>
                                </div>
                                <div class="form-group" id="tblMember">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.DEmemberNo)
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control text-box single-line ui-autocomplete-input" id="CustomerName" name="CustomerName" type="text" value="" autocomplete="off">
                                        @Html.HiddenFor(model => model.hiddenSearchMemno)

                                        <div id="divfirstname" class="inputs">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group" id="tblFromDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.DEFromDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.FromDate)
                                        @Html.HiddenFor(model => model.HFromDate)
                                    </div>
                                </div>

                                <div class="form-group" id="tblToDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.DEToDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.ToDate)
                                        @Html.HiddenFor(model => model.HToDate)
                                    </div>
                                </div>
                                <div class="form-group" id="divEpinNote">
                                    <div class="col-md-4">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-8">
                                        <b style="color:red"> @T("Admin.Note.Note") </b> @T("Admin.Note.EpinDispatchDates")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-3">
                                        <button type="button" id="ViewReport" class="btn btn-primary btn-search " value="@T("Admin.Common.Search")">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="customers-grid"></div>
                        <script>
                            $(document).ready(function () {
                                //
                                debugger;
                                var iserror='@Model.IsError';
                                if(iserror==1)
                                {
                                    $("#btnblock").hide();
                                    return false;
                                }

                                if(iserror==0)
                                {
                                    $("#btnblock").show();
                                    //$('#ViewReport').click(function () {
                                    $("#customers-grid").kendoGrid({
                                        dataSource: {
                                            type: "json",
                                            transport: {
                                                read: {
                                                    url: "@Html.Raw(Url.Action("IssueEpinTraderGrid", "TraderEpin"))",
                                                    type: "POST",
                                                    dataType: "json",
                                                    data: additionalData,
                                                    async:false
                                                }
                                            },
                                            schema: {
                                                data: "Data",
                                                total: "Total",
                                                errors: "Errors"
                                            },
                                            error: function(e) {
                                                display_kendoui_grid_error(e);
                                                // Cancel the changes
                                                this.cancelChanges();
                                            },
                                            pageSize: @(defaultGridPageSize),
                                            serverPaging: true,
                                            serverFiltering: true,
                                            serverSorting: true
                                        },
                                        pageable: {
                                            refresh: true,
                                            pageSizes: [@(gridPageSizes)]
                                        },
                                        scrollable: true,
                                        dataBound: onDataBound,
                                        columns: [
                                            {
                                                field: "Id",
                                                headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                                headerAttributes: { style: "text-align:center" },
                                                attributes: { style: "text-align:center" },
                                                template: "<input type='checkbox'  value='#=Id# ' class='checkboxGroups'/>",
                                                width:200

                                            },

                                        {
                                            field: "Id",
                                            title:"@T("Admin.Customers.Customers.Fields.PRH_ID")",
                                            width:100,
                                            hidden:true
                                        }, {
                                            field: "RequestNo",
                                            title: "@T("Admin.Customers.Customers.Fields.PRH_ReqNo")",
                                            template: '<a href="DispatchEpinTran?PRHReqNo=#=RequestNo#&PRHId=#=Id#">#=RequestNo#</a>',
                                            width:200

                                        }
                                        , {
                                            field: "PinRequestDateTime",
                                            title: "@T("Admin.Customers.Customers.Fields.PRH_Date")",
                                            width:200
                                        }
                                        ,

                                        {
                                            field: "ComplitedDate",
                                            title: "@T("ComplitedDate")",
                                            width:200
                                        }

                                        ,
                                        {
                                            field: "RejectedDate",
                                            title: "@T("RejectedDate")",
                                            width:200
                                        }
                                        ,
                                        {
                                            field: "ExpireUTCDateTime",
                                            title: "@T("ExpireUTCDateTime")",
                                            width:200
                                        }


                                        ,


                                        {
                                            field: "MemId",
                                            title: "@T("Admin.Customers.Customers.Fields.MemName")",
                                            width:200
                                        }, {
                                            field: "Paymode",
                                            title: "@T("Admin.Customers.Customers.Fields.paymode")",
                                            width:200
                                        },  {
                                            field: "Quantity",
                                            title: "@T("Admin.Epin.Fields.AvailableQuantity")",
                                            hidden:true,
                                            width:200
                                        },
                                              {
                                                  field: "Quantity",
                                                  title: "@T("Admin.Customers.Customers.Fields.RequestedQty")",
                                                  width:150
                                              }, {
                                                  field: "IssuedQuantity",
                                                  title: "@T("Admin.Customers.Customers.Fields.Issued.Quantity")",
                                                  width:150,
                                                  hidden:true
                                              },
                                       
                                        ]

                                    });
                                
                                }
                            });




                            function getImage(PictureThumbnailUrl,EpinId,Paymode)
                            {
                                if(Paymode=='Cash at H.O.' || Paymode=='PayUMoney' || (Paymode == 'BankTransfer' && PictureThumbnailUrl=="-")
                                    || Paymode == 'E-Wallet' || Paymode=='Cash' || (Paymode =='Cash On Delivery (COD)'&& PictureThumbnailUrl=="-")
                                    || Paymode=='-' ||
                                     (Paymode=='Cash Deposit' && PictureThumbnailUrl=="-") || Paymode == 'VoguePay'
                                    || Paymode == 'CCAvenue'|| Paymode == 'PayPal' || Paymode == 'Atom'
                                    ||( Paymode == "Cheque"  && PictureThumbnailUrl=="-")
                                    || (Paymode == "Demand Draft" && PictureThumbnailUrl == "-")
                                    || PictureThumbnailUrl == "-")
                                {
                                    return '-';
                                }
                                else{
                                    return "<a value='#=CustomerId#' onclick=\"javascript:OpenWindow('@Url.Content("~/Admin/Epin/ViewImage")?Id="+EpinId+"', 1000, 500, true); return false;\" style='cursor:pointer' /><img src="+PictureThumbnailUrl+"  width='40px' height='40px' /></a>";
                                }
                            }
                        </script>

                        <script type="text/javascript">

                            var selectedIds = [];

                            $(document).ready(function () {
                                $("#tbltxtnaration").hide();
                                $("#ddlnaration").hide();
                                $("#btnblock").hide();
                                $('#validationMessages').html('');
                                $("#validationMessages").hide();
                                $('#sucessMessages').html('');
                                $('#sucessMessages').hide();

                                $("#btnblock").show();

                                $("#FromDate").keyup(function(){
                                    $(this).val('');
                                });
                                $("#ToDate").keyup(function(){
                                    $(this).val('');
                                });

                                //search button
                                $(".gridtabs").click(function() {
                                    //alert($(this).val());
                                    $('#selectedtabid').val($(this).val());

                                });
                                var grid = $("#customers-grid").data("kendoGrid");
                                grid.hideColumn("ComplitedDate");
                                grid.hideColumn("RejectedDate");
                                grid.hideColumn("ExpireUTCDateTime");
                                $('#ViewReport,#Pending,#Completed,#Rejected,#Expired').click(function () {
                                    debugger;
                                    var tid=$(this).val();

                                    if(tid != 'Search')
                                    {
                                        $("#tabbuttons button").removeClass("bg-purple");
                                        $(this).addClass('bg-purple');
                                        $('#ddlOption').val("0");
                                        $('#tblMember').hide();
                                        $('#FromDate').val('');
                                        $('#ToDate').val('');
                                        $('#HFromDate').val('');
                                        $('#HToDate').val('');
                                        $("#FromDate").data("kendoDatePicker").value('');
                                        $("#ToDate").data("kendoDatePicker").value('');
                                    }
                                    var selectedtab= $('#selectedtabid').val();

                                    var grid = $("#customers-grid").data("kendoGrid");
                                    if(selectedtab==1)
                                    {
                                        $('#IssueEpinBlock').show();
                                        grid.showColumn("Id");
                                        grid.hideColumn("IssuedQuantity");
                                        grid.hideColumn("QuantityToIssue");
                                        grid.hideColumn("ComplitedDate");
                                        grid.hideColumn("RejectedDate");
                                        grid.hideColumn("ExpireUTCDateTime");

                                    }
                                    else
                                    {
                                        $('#IssueEpinBlock').hide();
                                        grid.hideColumn("Id");
                                    }

                                    if(selectedtab==2)
                                    {
                                        //alert("hii");
                                        grid.showColumn("IssuedQuantity");
                                        grid.showColumn("ComplitedDate");
                                        grid.hideColumn("RejectedDate");

                                    }
                                    else
                                    {
                                        grid.hideColumn("IssuedQuantity");
                                    }

                                    if(selectedtab==3)
                                    {
                                        grid.hideColumn("ComplitedDate");
                                        grid.showColumn("RejectedDate");

                                    }

                                    if(selectedtab==4)
                                    {
                                        grid.showColumn("ExpireUTCDateTime");
                                        grid.hideColumn("RejectedDate");

                                    }



                                    $(".alert.alert-success.alert-dismissable").hide();
                                    $(".alert.alert-danger.alert-dismissable").hide();
                                    $("#tbltxtnaration").show();
                                    $("#ddlnaration").show();
                                    $("#btnblock").show();
                                    $('#validationMessages').html('');
                                    $("#validationMessages").hide();
                                    $('#sucessMessages').html('');
                                    $('#sucessMessages').hide();

                                    var ddlOption=$("#ddlOption").val();
                                    var txtMember=$('#CustomerName').val();
                                    var hiddenSearchMemno=$('#hiddenSearchMemno').val();
                                    var txtRequestNo=$('#txtRequestNo').val();
                                    var FromDate= getDate($("#FromDate").data("kendoDatePicker").value());
                                    var ToDate=getDate($("#ToDate").data("kendoDatePicker").value());
                                    var validationDivs='';
                                    var flag=true;

                                    if(ddlOption == 1)
                                    {

                                        var autocompleteselected  =$('#autocompleteselected').val();
                                        if(autocompleteselected == '')
                                        {
                                            validationDivs=validationDivs='<div>@T("Admin.Validation.IdNameRequired")</div>';
                                            flag=false;
                                        }
                                        if(txtMember == '')
                                        {
                                            validationDivs=validationDivs = '<div>@T("Admin.Validation.IdNameRequired")</div>';
                                            flag=false;
                                        }
                                        if(txtMember !='' && hiddenSearchMemno ==" ")
                                        {
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                                            flag=false;
                                        }
                                    }
                                    if(ddlOption ==2)
                                    {
                                        if(txtRequestNo == '')
                                        {
                                            validationDivs=validationDivs+ '<div>@T("Admin.Validation.RequestNoRequired")</div>';
                                            flag=false;
                                        }
                                    }

                                    if (FromDate != '' && ToDate == '' )
                                    {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                                        flag=false;
                                    }
                                    if (ToDate != '' && FromDate == '')
                                    {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                                        flag=false;
                                    }

                                    var EnteredDate = getDate($("#FromDate").data("kendoDatePicker").value());
                                    var EnteredFromdate=getDate($("#ToDate").data("kendoDatePicker").value());

                                    var myDate = new Date(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                    var myFromDate = new Date(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                                    var today = new Date();
                                    var start_time=$("#DatewiseFrom").val();
                                    var end_time=$("#DatewiseTo").val();

                                    if (myFromDate > today) {

                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                                        flag=false;
                                    }
                                    if (myFromDate < myDate) {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                                        flag=false;
                                    }

                                    if(flag)
                                    {
                                        $("#HFromDate").val(EnteredDate);
                                        $("#HToDate").val(EnteredFromdate);
                                        var grid = $('#customers-grid').data('kendoGrid');
                                        grid.dataSource.page(1);
                                        $('.checkboxGroups').attr('checked', false).change();
                                        selectedIds = [];
                                        $('#customers-grid').show();
                                        return false;
                                    }
                                    else
                                    {
                                        //$("#FromDate").val(EnteredDate);
                                        //$("#ToDate").val(EnteredFromdate);
                                        $("#validationMessages").show();
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                });








                                $('#customers-grid').on('change', 'input[id=mastercheckbox]', function (e) {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true)
                                    {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                        $("#SelectedValues").val(selectedIds);
                                    }
                                    else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function (item, index) {
                                                return item != $check.val();
                                            });
                                            $("#SelectedValues").val(selectedIds);
                                        }
                                    }
                                    updateMasterCheckbox();
                                });

                                $("#btnDispatch,#btnReject").click(function() {
                                    debugger;

                                    var validationDivs='';
                                    var flag=true;
                                    var finalData=[];

                                    $('#validationMessages').html('');
                                    $("#validationMessages").hide();
                                    $(".alert.alert-success.alert-dismissable").hide();
                                    $(".alert.alert-danger.alert-dismissable").hide();

                                    if(selectedIds=='' || selectedIds.length<=0)
                                    {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAtLeastOneRecord")</div>';
                                        $("#validationMessages").show();
                                        $('#validationMessages').append(validationDivs);
                                        flag=false;
                                    }


                                    if(!flag)
                                    {
                                        return false;
                                    }

                                    var ids = selectedIds.join(",");
                                    $('#SelectedIdDispatch').val(ids);



                                    debugger;

                                    var OtpEnabled = $("#OtpEnabled").val();
                                    //alert(OtpEnabled);
                                    if (OtpEnabled == "True") {
                                        var isCheckedOtpVerified = $("#OtpVerified").val();
                                        if (isCheckedOtpVerified != "true") {
                                            validationDivs=validationDivs+'<div>@T("OTP.Not.Verified")</div>';
                                            $("#validationMessages").show();
                                            $('#validationMessages').append(validationDivs);
                                            return false;
                                        }
                                    }



                                });


                            });

                            function onDataBound(e) {

                                $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });

                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }

                            function additionalData() {
                                var customerRoleIds = [];
                                $('[name=SearchCustomerRoleIds]:checked').each(function () {
                                    customerRoleIds.push($(this).val());
                                });

                                var data = {
                                    ddlOption: $('#@Html.FieldIdFor(model => model.ddlOption)').val(),
                                    ddlRequestType:$('#@Html.FieldIdFor(model => model.ddlRequestType)').val(),
                                    //DispatchED: getDate($("#FromDate").data("kendoDatePicker").value()),
                                    //DispatchTD:getDate($("#ToDate").data("kendoDatePicker").value()),
                                    HFromDate: getDate($("#FromDate").data("kendoDatePicker").value()),
                                    HToDate:getDate($("#ToDate").data("kendoDatePicker").value()),
                                    @*DispatchED: $('#@Html.FieldIdFor(model => model.FromDate)').val(),
                            DispatchTD: $('#@Html.FieldIdFor(model => model.ToDate)').val(),*@
                                    txtRequestNo: $('#@Html.FieldIdFor(model => model.txtRequestNo)').val(),
                                    hiddenSearchMemno:$('#@Html.FieldIdFor(model => model.hiddenSearchMemno)').val(),
                                    selectedtab:$('#selectedtabid').val(),
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="IssueEpinBlock" class="panel-body">

        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-md-3">

                </div>
                <div class="col-md-2">
                    @Html.NopLabelFor(model => model.Remark)
                </div>
                <div class="col-md-6">
                    <div class="col-sm-12">

                        @Html.TextAreaFor(model => model.Remark, new { @cols = "40", @rows = "4" })

                    </div>
                    <div class="col-sm-12">
                        @if (Model.OtpEnabled)
                        {
                            <div class="buttons">
                                <input type="button" id="OTPSend-button" class="button-1 register-next-step-button  btn bg-blue" value="@T(" account.register.sendotpbutton")" name="GenerateOTP" />
                            </div>
                            <div id="OtpResult" style="text-align:inherit;color:green;margin-left: 29px;">
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>

        @if (Model.OtpEnabled)
        {
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">

                    </div>
                    <div id="divEnterOTP">
                        <div class="col-md-2">
                            @Html.NopLabelFor(model => model.GeneratedOtp)
                        </div>
                        <div class="col-md-6">
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.GeneratedOtp)
                            </div>
                            <div class="row">
                                <div id="OtpSMSSentResult" style="text-align:inherit;color:green;margin-left:29px;">
                                </div>
                             
                                <div class="message-error" style="text-align:inherit;color:red; margin-left: 29px;" id="OtpError"></div>
                                @Html.HiddenFor(model => model.OtpVerified)
                                @Html.HiddenFor(model => model.OtpEnabled)
                                <div class="col-md-12">
                                    <div style="" class="buttons" id="divVerifyOTP">
                                        <input style="margin-left: 14px" type="button" id="OTPVerify-button" class="button-1 register-next-step-button btn bg-blue" value="@T(" account.register.verifyotpbutton")" name="GenerateOTP" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
      
            <br />

        }

        <div class="panel panel-default container">
            <div class="panel-body">

                <div class="form-group" id="tblButtons">
                    <div class="col-md-4 col-md-offset-4" id="btnblock">
                        <input type="submit" id="btnDispatch" style="width:90px" name="btnDispatch" class="btn bg-blue" value="@T("Issue")" />
                        <input type="submit" id="btnReject" style="width:90px" name="btnReject" class="btn bg-red" value="@T("Reject")" />

                    </div>
                </div>

            </div>
        </div>




        <br />
    </div>

}
<script type="text/javascript">

    $(document).ready(function () {
        $("#tblPinReq").hide();
        $("#tblMember").hide();
    });

    function ChangeField(selectedValue) {

        if (selectedValue == 0) {
            $("#tblPinReq").hide();
            $("#tblMember").hide();
            $("#tblFromDate").show();
            $("#tblToDate").show();
            $('#tblAll').show();
            $('#divEpinNote').show();
            $('#ddlRequestType').val("0");
        }
        else if (selectedValue == 1) {
            $("#tblPinReq").hide();
            $("#tblMember").show();
            $("#tblFromDate").show();
            $("#tblToDate").show();
            $('#tblAll').show();
            $('#divEpinNote').show();
            $('#ddlRequestType').val("0");
        }
        else if (selectedValue == 2) {
            $("#tblPinReq").show();
            $("#tblMember").hide();
            $("#tblFromDate").hide();
            $("#tblToDate").hide();
            $('#tblAll').hide();
            $('#divEpinNote').hide();
        }
    }

</script>


<script>

    $("#divVerifyOTP").hide();
    $("#divEnterOTP").hide();
    $('#OTPSend-button').show();
    $("#OtpSMSSentResult").hide();
    $('#OTPSend-Emailbutton').show();
    $("#divVerifyEmailOTP").hide();
    $("#divEnterEmailOTP").hide();
    $("#OtpEmailSentResult").hide();





    $('#OTPSend-button').click(function (e) {
        debugger;
        $("#OtpError").hide();
        $("#OtpResult").hide();
        $("#EnterSMSOTP").val('');

        $.ajax({
            cache: false,
            type: "Get",
            url: "@(Url.Action("GenerateOTP", "TraderEpin"))",
            //data: postData,
            success: function (data) {
                if (data == 1) {
                    $("#divVerifyOTP").show();
                    $("#divEnterOTP").show();
                    $("#OtpSMSSentResult").show();
                    $("#OtpSMSSentResult").html("@T("OtpSent")");
                    $("#OTPSend-button").prop('value', '@T("ResendOTP")');
                }
            },
        });
        return false;
    });


    $('#OTPVerify-button').click(function (e) {

        $("#OtpSMSSentResult").hide();
        var EnterSMSOTP = $("#GeneratedOtp").val();

        if (EnterSMSOTP == "") {
            $("#OtpError").show();
            $("#OtpError").val("@T("Account.Register.Errors.EnterOTP")");
            $("#OtpError").html("@T("Account.Register.Errors.EnterOTP")");
            return false;
        }
        EnterSMSOTP=EnterSMSOTP.replace(/\s/g, ""); 
        $.ajax({
            cache: false,
            type: "Get",
            url: "@(Url.Action("VerifySMSOTP", "TraderEpin"))",
            data: {EnterSMSOTP:EnterSMSOTP},
            success: function (data) {
                debugger;
                if (data == "1") {
                    $("#divVerifyOTP").hide();
                    $("#divEnterOTP").hide();
                    $("#OTPSend-button").prop('value', '@T("ResendOTP")');
                    $("#OtpError").hide();
                    $("#OtpResult").show();
                    $("#OtpResult").val("@T("Account.Register.Errors.OTPVerified")");
                    $("#OtpResult").html("@T("Account.Register.Errors.OTPVerified")");
                    $("#OtpVerified").attr('value','true');
                }
                if (data == "2") {
                    $("#divVerifyOTP").show();
                    $("#divEnterOTP").show();
                    $("#OtpError").show();
                    $("#OtpResult").hide();
                    $("#OtpError").val("@T("Account.Register.Errors.EnteredwrongOTP")");
                    $("#OtpError").html("@T("Account.Register.Errors.EnteredwrongOTP")");
                    $("#OtpVerified").attr('value','false');
                }

                if (data == "3") {
                    $("#divVerifyOTP").show();
                    $("#divEnterOTP").show();
                    $("#OtpError").show();
                    $("#OtpResult").hide();
                    $("#OtpError").val("@T("Account.Register.Errors.ResendOTP")");
                    $("#OtpError").html("@T("Account.Register.Errors.ResendOTP")");
                    $("#OtpVerified").attr('value','false');
                }
            },
        });
        return false;
    });

</script>


<script>
    $(document).ready(function () {
        $('#selectedtabid').val(1);
    });
</script>
@if (Model.OtpVerified == true)
{
    <script>
        $("#divVerifyOTP").hide();
        $("#divEnterOTP").hide();
        $("#OTPSend-button").prop('value', 'Resend OTP');
        $("#OtpError").hide();
        $("#OtpResult").show();
        $("#OtpResult").val("@T("Account.Register.Errors.OTPVerified")");
        $("#OtpResult").html("@T("Account.Register.Errors.OTPVerified")");
        $("#OtpVerified").attr('value','true');
    </script>
}
<script>
    $('#CustomerName').autocomplete({
        delay: 500,
        minLength: 1,
        @*source: '@(Url.Action("SearchTermAutoCompleteDownline", "Customer"))',*@
        source: '@(Url.Action("SearchTermAutoComplete", "Common"))',
        appendTo: '.search-box',
        select: function (event, ui) {

            $('#hiddenSearchMemno').val(ui.item.Id)
            $("#CustomerId").val(ui.item.Id);
            $("#autocompleteselected").val(ui.item.Id);
            $("#CustomerName").val(ui.item.label);
            $("#divfirstname").show();
            return false;
        }
    }).data("ui-autocomplete")._renderItem = function (ul, item) {
        var t = item.label;
        //html encode
        t = $('<div/>').text(t).html();
        return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a><span>" + t + "</span></a>")
            .appendTo(ul);
    };
</script>

<script>
    var validationDivs='';
    $('#Export-ToExcel').click(function (e) {
        $.ajax({
            url: "@Html.Raw(Url.Action("ExportExcelAll", "TraderEpin"))",
            type: "Get",
            dataType: "json",
            //data: data,
            success: function (result) {
                debugger;
                if(result==null || result == 0)
                {
                    validationDivs=''
                    validationDivs='<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                    $("#validationMessages").show();
                    $('#validationMessages').empty();
                    $('#validationMessages').html(validationDivs);

                }
                else if (result.fullFileName) {
                    if (result.fullFileName != null && result.fullFileName != "") {
                        window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                    }
                }
                else if (result.fullFileName == null) {
                    validationDivs=''
                    validationDivs='<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                    $("#validationMessages").show();
                    $('#validationMessages').html(validationDivs);
                }
                else {
                    validationDivs=''
                    validationDivs='<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                }
            },
            error: function (result) {
                $('.loader').hide();
            }
        });
    });
</script>
@*<style>
    @@media (max-width: 360px).form-horizontal .label-wrapper {
  
}
</style>*@
<script>
    window.onbeforeunload = function () {
        var inputs = document.getElementsByTagName("input");
        for (var i in inputs) {
            if (inputs[i].type == "button" || inputs[i].type == "submit") {
                inputs[i].disabled = true;
            }
        }
    };
</script>
