﻿@model Nop.Admin.Models.TraderEpin.TraderEpinChangePassword
@{

    ViewBag.Title = T("admin.traderwallet.changepassword").Text;
    Html.SetActiveMenuItemSystemName("TraderEpinChangePassword");
}


<style>
    @@media all and (min-width: 320px) and (max-width:360px) {
        #DivAuth {
            margin-left: 2% !important;
        }

        #ResetFacebookAuth {
            margin-top: 2% !important;
        }
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">

            @T("admin.traderwallet.changepassword")
        </h1>

    </div>

    <div class="content" id="searchPanel">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.CurrentPassword)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CurrentPassword)
                                    </div>
                                </div>
                                <div class="form-group inputs">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Hint)

                                    </div>
                                    <div class="col-md-8">
                                        <a title="@T("Account.Password.StrongPassword.title")" href="@Url.Action("StrongPwdTip")" id="passwordLink">
                                            <b style="color: cornflowerblue">@T("Account.Password.StrongPassword.TipToCreateStrongPassword")</b>
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.NewPassword)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.NewPassword)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ConfirmPassword)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <input type="submit" class="btn btn-primary btn-success" value="@T("Admin.Common.btnChangePWD")" />

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    if (Model.ExternalAuthenticationflg)
    {
        <div class="content-header clearfix">
            <h1 class="pull-left">

                @T("Reset.External.Authentication")
            </h1>
        </div>
        <div class="content">
            <div class="form-horizontal">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-3" id="DivAuth">
                                        <input type="submit" name="ResetGoogleAuth" class="btn btn-primary btn-success" value="@T("Reset.Google.Authentication")" />
                                        <input type="submit" name="ResetFacebookAuth" id="ResetFacebookAuth" class="btn btn-primary btn-success" value="@T("Reset.Facebook.Authentication")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <script>

        $("#txtuname").focus();

        window.onload = function () {
            document.getElementById('passwordLink').onclick = function () {
                var w = window.open(this.href, this.target, 'width=500,height=600');
                return w ? false : true
            }
        }

        //$("#reset").click(function () {

        //    $("#txtuname").val("");
        //    $("#txtha").val("");
        //});
    </script>}
