﻿@model Nop.Admin.Models.TraderEpin.TraderIssueEpinReportModel

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Customers.DispatchEpinReport").Text;
    Html.SetActiveMenuItemSystemName("Issue EPin Details");
}
<link href="~/Administration/Content/KendoFreezColumnHeader.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Customers.DispatchEpinReport")
        </h1>
        <div class="pull-right">
            <a href="@Url.Action("TraderDispatchEpinTrn")" class="btn bg-blue">@T("Admin.Common.issueepin")</a>
            <button type="submit" id="ExportExcel" name="exportexcel-all" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                @T("Admin.Common.ExportToExcel")
            </button>
        </div>
    </div>
    <div class="content" id="searchPanel">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.DERSearchOptions)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.ddlRptType, new List<SelectListItem>()
                                           {
                                               new SelectListItem(){Text="Summary", Value="0"},
                                               new SelectListItem(){Text="Details",Value="1"}

                                           }, new { @onchange = "ChangeFieldRpt(this.value)" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.DERSelectOption)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.ddlOption, new List<SelectListItem>()
                                           {
                                               new SelectListItem(){Text="All Record(s)", Value="0"},
                                               new SelectListItem(){Text="Request No.-wise",Value="1"},
                                               new SelectListItem(){Text="ID/Name-wise",Value="3"}
                                           }, new { @onchange = "ChangeFieldOpt(this.value)" })
                                    </div>
                                </div>
                                <div class="form-group" id="tblPinReq">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.DERRequestNo)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.txtRequestNo)
                                    </div>
                                </div>

                                <div class="form-group" id="tblAll">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.DERSelectVoucher)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.VoucherId, Model.VoucherList, new { @class = "form-control valid" })
                                    </div>
                                </div>

                                <div class="form-group" id="tblMember">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.DERmemberNo)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.txtMember)
                                        @Html.HiddenFor(model => model.hiddenSearchMemno)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" id="tblFromDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.DERFromDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.FromDate)
                                        @Html.HiddenFor(model => model.HFromDate)
                                    </div>
                                </div>

                                <div class="form-group" id="tblToDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.DERToDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.ToDate)
                                        @Html.HiddenFor(model => model.HToDate)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-3">
                                        <button type="button" id="ViewReport" class="btn btn-primary btn-search " value="@T("Admin.Common.Search")">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" id="divLockedCell">
                    <div class="panel-body">
                        <div id="customers-grid"></div>
                        <script>
                            $(document).ready(function () {
                                // $('#ViewReport').click(function () {
                                $("#customers-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("TraderIssueEpinReportList", "TraderEpin"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    //scrollable: false,
                                    dataBound: onDataBound,
                                    columns: [ {
                                        field: "PDHId",
                                        title: "@T("Admin.Customers.Customers.Fields.PDHId")",
                                        width: 50,
                                        hidden:true
                                    },{
                                        field: "RequestNo",
                                        title: "@T("Admin.Customers.Customers.Fields.RequestNo")",
                                        locked:true,
                                        width: 100,
                                    },{
                                        field: "RequestDateTime",
                                        title: "@T("Admin.Customers.Customers.Fields.RequestDateTime")",
                                        width: 150,
                                        //type: "date",
                                        //format: "{0:G}"
                                    },{
                                        field: "NameID",
                                        title: "@T("Admin.Customers.Customers.Fields.NameID")",
                                        width: 150,
                                    },
                                    @*{
                                        field: "Paymode",
                                        title: "@T("Admin.Customers.Customers.Fields.Paymode")",
                                        //width: 50
                                        template: "#=Paymode#",
                                    },*@
                                    {
                                        field: "PictureThumbnailUrl",
                                        title: "@T("Admin.Catalog.Products.Fields.PaymentProof")",
                                        template:"#=getImage(PictureThumbnailUrl,PRHId,Paymode)#",
                                        width: 150,
                                    },
                                    {
                                        field: "VoucherName",
                                        title: "@T("Admin.Customers.Customers.Fields.VoucherName")",
                                        width: 200,
                                    },{
                                        field: "PinType",
                                        title: "@T("Admin.Customers.Customers.Fields.PinType")",
                                        width: 100,
                                    },{
                                        field: "Amount",
                                        title: "@T("Admin.Customers.Customers.Fields.Amount")",
                                        width: 200,
                                    },{
                                        field: "RequestedQuantity",
                                        title: "@T("Admin.Customers.Customers.Fields.RequestedQuantity")",
                                        width: 200,
                                    },{
                                        field: "DispatchedQuantity",
                                        title: "@T("Admin.Customers.Customers.Fields.DispatchedQuantity")",
                                        width: 200,
                                    },{
                                        field: "TotalDispatchQuantity",
                                        title: "@T("Admin.Customers.Customers.Fields.TotalDispatchQuantity")",
                                        width: 200,
                                    },{
                                        field: "DispatchDateTime",
                                        title: "@T("Admin.Customers.Customers.Fields.DispatchDateTime")",
                                        width: 200,
                                        //type: "date",
                                        //format: "{0:G}"
                                    },{
                                        field: "Date",
                                        title:  "@T("Admin.CustomerReport.Date")",
                                        width: 200,
                                        hidden: true,
                                    },{
                                        field: "RptType",
                                        title:  "@T("Admin.CustomerReport.RptType")",
                                        width: 100,
                                        hidden: true,
                                    }, {
                                        field: "PaymentRemark",
                                        title: "@T("Admin.Customers.Customers.Fields.paymentRemarks")",
                                        template: "<p style='white-space: pre-wrap; line-height: 1.6em !important;'>#=PaymentRemark#</p>",
                                        width: 200,
                                    } ,{
                                        field: "Details",
                                        title: "@T("Admin.Customers.Customers.Fields.Details")",
                                        width: 150,
                                        template: '<a href="TraderIssueEpinReportPopup?PdhId=#=PDHId#&RptType=#=RptType#">@T("Admin.Epin.DispatchEpinView")</a>'
                                    } ]
                                });
                            });

                            var count=0;
                            $('a.sidebar-toggle').on('click', function () {
                                if(count==0)
                                {
                                    $.get(location.href).then(function(kendoGrid) {
                                        $("#divLockedCell").html($(kendoGrid).find("#divLockedCell").html())
                                    })
                                    count=count+1;
                                    return false;
                                }
                            });
                          
                            function getImage(PictureThumbnailUrl,EpinId,Paymode)
                            {
                                //  
                                if(Paymode=='Cash at H.O.' || Paymode=='Payu'
                                    || Paymode == 'E-Wallet'  || Paymode=='Cash'
                                    || Paymode=='-' || Paymode == 'VoguePay'
                                    || Paymode == 'CCAvenue' || Paymode == 'PayPal' || Paymode == 'Atom'
                                    ||( Paymode == "Cheque / Money Order"  && PictureThumbnailUrl=="-")
                                    || (Paymode == "Demand Draft" && PictureThumbnailUrl == "-")
                                     || (Paymode == "Bank Transfer" && PictureThumbnailUrl == "-")
                                    || (Paymode == "Cash Deposit" && PictureThumbnailUrl == "-")
                                     || (Paymode == "Cash On Delivery (COD)" && PictureThumbnailUrl == "-")
                                    || PictureThumbnailUrl == "-")
                                {
                                    return '-';
                                }
                                else{
                                    return "<a value='#=CustomerId#' onclick=\"javascript:OpenWindow('@Url.Content("~/Admin/Epin/ViewImage")?Id="+EpinId+"', 1000, 500, true); return false;\" style='cursor:pointer' />View</a>";
                                }
                            }
                        </script>

                        <script type="text/javascript">
                            var selectedIds = [];
                            var fdate
                            $('#FromDate').keydown(keyDownHandler); // use appropriate selector for the keydown handler

                            function keyDownHandler(e) {
                                if(e.keyCode === 13) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                    $('#ViewReport').click()
                                    return false;

                                }
                            }

                            $('#ToDate').keydown(keyDownHandler1); // use appropriate selector for the keydown handler

                            function keyDownHandler1(e) {
                                if(e.keyCode === 13) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                    $('#ViewReport').click()
                                    return false;

                                }
                            }

                            $('#ddlOption').live('keypress',function(e){
                                if(e.keyCode === 13) {
                                    $('#ViewReport').click()
                                    return false;
                                }
                            });

                            $('#ddlRptType').live('keypress',function(e){
                                if(e.keyCode === 13) {
                                    $('#ViewReport').click()
                                    return false;
                                }
                            });

                            $('#ddlUser').live('keypress',function(e){
                                if(e.keyCode === 13) {
                                    $('#ViewReport').click()
                                    return false;
                                }
                            });


                            $("#txtMember").keydown(function(e){
                                if((e.which === 13 || e.which === 9) && $('#hiddenSearchMemno').val()!=" "){

                                    $('#ViewReport').click()
                                    return false;
                                }
                            });


                            $("#txtRequestNo").keydown(function(e){
                                if(e.which === 13){

                                    $('#ViewReport').click()
                                    return false;
                                }

                            });
                            //$('#FromDate').datepicker().keyup(function(event) {
                            //    if (event.which === $.ui.keyCode.ENTER) {
                            //        event.preventDefault();
                            //    }
                            //});
                            $(document).ready(function () {

                                var grid = $('#customers-grid').data('kendoGrid');
                                var ddlRptType1=$("#ddlRptType").val();

                                if(ddlRptType1=='0')
                                {
                                    grid.showColumn("Paymode");
                                    grid.hideColumn("VoucherName");
                                    grid.hideColumn("PinType");
                                    grid.hideColumn("Amount");
                                    grid.showColumn("TotalDispatchQuantity");
                                } else
                                {
                                    grid.showColumn("Paymode");
                                    grid.showColumn("VoucherName");
                                    grid.showColumn("PinType");
                                    grid.showColumn("Amount");
                                    grid.hideColumn("TotalDispatchQuantity");
                                }

                                $('#validationMessages').html('');
                                $("#validationMessages").hide();

                                $("#FromDate").keyup(function(e){

                                    if(e.keyCode === 13) {
                                        if($('#ToDate').val()!='')
                                        {
                                            $('#ViewReport').click()
                                            return false;
                                        }
                                        else{
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                                            flag=false;
                                        }

                                    }
                                    else{
                                        $(this).val('');
                                    }

                                });
                                $("#ToDate").keyup(function(e){

                                    if(e.keyCode === 13) {
                                        if($('#FromDate').val()!='')
                                        {
                                            $('#ViewReport').click()
                                            return false;
                                        }
                                        else{
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                                            flag=false;
                                        }

                                    }
                                    else{
                                        $(this).val('');
                                    }
                                });

                                //search button
                                $('#ViewReport').click(function () {
                                    $(".alert.alert-success.alert-dismissable").hide();
                                    $(".alert.alert-danger.alert-dismissable").hide();
                                    $("#tbltxtnaration").show();
                                    $("#ddlnaration").show();
                                    $("#btnblock").show();
                                    var ddlOption=$('#ddlOption').val();
                                    var txtRequestNo=$('#txtRequestNo').val();
                                    var txtMember=$('#txtMember').val();
                                    var hiddenSearchMemno=$('#hiddenSearchMemno').val();
                                    var FromDate= getDate($("#FromDate").data("kendoDatePicker").value());
                                    var ToDate=getDate($("#ToDate").data("kendoDatePicker").value());
                                    var ddlRptType=$("#ddlRptType").val();
                                    $('#validationMessages').html('');
                                    $("#validationMessages").hide();
                                    var validationDivs='';
                                    var flag=true;

                                    if(ddlOption == 1)
                                    {
                                        if(txtRequestNo == '')
                                        {
                                            validationDivs=validationDivs+ '<div>@T("Admin.Validation.RequestNoRequired")</div>';
                                            flag=false;
                                        }
                                    }

                                    if(ddlOption == 3)
                                    {
                                        if(txtMember == '')
                                        {
                                            validationDivs=validationDivs+ '<div>@T("Admin.Validation.IdNameRequired")</div>';
                                            flag=false;
                                        }
                                        if(txtMember !='' && hiddenSearchMemno == " ")
                                        {
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                                            flag=false;
                                        }
                                    }

                                    if (FromDate != '' && ToDate == '' )
                                    {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                                        flag=false;
                                    }
                                    if (ToDate != '' && FromDate == '')
                                    {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                                        flag=false;
                                    }

                                    //var EnteredDate = $("#ToDate").val(); // For JQuery
                                    //var EnteredFromdate = $("#FromDate").val();

                                    var EnteredDate = getDate($("#FromDate").data("kendoDatePicker").value());
                                    var EnteredFromdate=getDate($("#ToDate").data("kendoDatePicker").value());

                                    var myDate = new Date(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                    var myFromDate = new Date(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                                    var today = new Date();
                                    var start_time=$("#DatewiseFrom").val();
                                    var end_time=$("#DatewiseTo").val();

                                    if (myFromDate > today) {

                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                                        flag=false;
                                    }
                                    if (myFromDate < myDate) {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                                        flag=false;
                                    }


                                    if(flag)
                                    {
                                        $("#HFromDate").val(EnteredDate);
                                        $("#HToDate").val(EnteredFromdate);
                                        var grid = $('#customers-grid').data('kendoGrid');
                                        grid.dataSource.page(1); //new search. Set page size to 1
                                        //grid.dataSource.read(); we already loaded the grid above using "page" function
                                        //clear selected checkboxes
                                        //  
                                        $('.checkboxGroups').attr('checked', false).change();
                                        selectedIds = [];

                                        if(ddlRptType=='0')
                                        {
                                            grid.showColumn("Details");
                                            grid.hideColumn("VoucherName");
                                            grid.hideColumn("PinType");
                                            grid.hideColumn("Amount");
                                            grid.showColumn("TotalDispatchQuantity");
                                        } else
                                        {
                                            grid.hideColumn("Details");
                                            grid.showColumn("VoucherName");
                                            grid.showColumn("PinType");
                                            grid.showColumn("Amount");
                                            grid.hideColumn("TotalDispatchQuantity");
                                        }

                                        return false;
                                    }
                                    else
                                    {
                                        $("#validationMessages").show();
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                });

                                $('#mastercheckbox').click(function () {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                        $("#SelectedValues").val(selectedIds);
                                    }
                                    else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function (item, index) {
                                                return item != $check.val();
                                            });
                                            $("#SelectedValues").val(selectedIds);
                                        }
                                    }
                                    updateMasterCheckbox();
                                });
                            });


                            function onDataBound(e) {
                                $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });
                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }

                            function additionalData() {
                                var customerRoleIds = [];
                                $('[name=SearchCustomerRoleIds]:checked').each(function () {
                                    customerRoleIds.push($(this).val());
                                });

                                var data = {
                                    RptType: $('#@Html.FieldIdFor(model => model.ddlRptType)').val(),
                                    ddlOption: $('#@Html.FieldIdFor(model => model.ddlOption)').val(),
                                    DisRptVoucherId: $('#@Html.FieldIdFor(model => model.VoucherId)').val(),
                                    VoucherId: $('#@Html.FieldIdFor(model => model.VoucherId)').val(),
                                    DisRptFromDate: getDate($("#FromDate").data("kendoDatePicker").value()),
                                    DisRptToDate:getDate($("#ToDate").data("kendoDatePicker").value()),
                                    DisRptRequestNo: $('#@Html.FieldIdFor(model => model.txtRequestNo)').val(),
                                    DisRptMember: $('#hiddenSearchMemno').val(),
                                    // Status: $('#@Html.FieldIdFor(model => model.ddlStatus)').val(),

                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tblPinReq").hide();
            $("#tblMember").hide();
            $("#tblAll").hide();
        });

        $("#txtMember").keydown(function(e){
            if((e.which === 13 || e.which === 9) && $('#hiddenSearchMemno').val()!=" "){

                $('#ViewReport').click()
                return false;
            }
        });

        $("#tblAll").show();
        $("#tblStatus").show();
        function ChangeFieldRpt(selectedValue) {
            $("#tblStatus").show();
            $("#ddlStatus").val('4');

            if (selectedValue == 0) {
                $("#tblAll").hide();
                $("#tblPinReq").hide();
                $("#tblMember").hide();
                $("#tblFromDate").show();
                $("#tblToDate").show();
                $("#tbltxtStartSrNo").hide();
                $("#tbltxtEndSrNo").hide();

                $('#ddlOption').val("0");
                $("#ddlUser").val("All Record(s)");
                $("#txtRequestNo").val("");
                $("#VoucherId").val("All Record(s)");
                $("#hiddenSearchMemno").val("");
                $("#txtMember").val("");
                $("#FromDate").val("");
                $("#ToDate").val("");
            }
            else if (selectedValue == 1) {
                $("#tblAll").show();
                $("#tblPinReq").hide();
                $("#tblMember").hide();
                $("#tblFromDate").show();
                $("#tblToDate").show();

                $('#ddlOption').val("0");
                $("#ddlUser").val("All Record(s)");
                $("#txtRequestNo").val("");
                $("#VoucherId").val("All Record(s)");
                $("#hiddenSearchMemno").val("");
                $("#txtMember").val("");
                $("#FromDate").val("");
                $("#ToDate").val("");
            }
        }
        function ChangeFieldOpt(selectedValue) {
            var ddlRptType  =$('#ddlRptType ').val();
            $("#ddlStatus").val('4');

            if (selectedValue == 0) {
                $("#tblAll").hide();
                $("#tblPinReq").hide();
                $("#tblMember").hide();
                $("#tblFromDate").show();
                $("#tblToDate").show();
                $("#tbltxtStartSrNo").hide();
                $("#tbltxtEndSrNo").hide();
                $("#tblStatus").show();
                $("#ddlUser").val("All Record(s)");
                $("#txtRequestNo").val("");
                $("#VoucherId").val("All Record(s)");
                $("#hiddenSearchMemno").val("");
                $("#txtMember").val("");
                $("#FromDate").val("");
                $("#ToDate").val("");
                if(ddlRptType == "1")
                {
                    $("#tblAll").show();
                }
            }
            else if (selectedValue == 1) {
                $("#tblAll").hide();
                $("#tblPinReq").show();
                $("#tblMember").hide();
                $("#tblFromDate").hide();
                $("#tblToDate").hide();
                $("#tblStatus").hide();
                $("#ddlUser").val("All Record(s)");
                $("#txtRequestNo").val("");
                $("#VoucherId").val("All Record(s)");
                $("#hiddenSearchMemno").val("");
                $("#txtMember").val("");
                $("#FromDate").val("");
                $("#ToDate").val("");
            }
            else if (selectedValue == 2) {
                $("#tblAll").hide();
                $("#tblPinReq").hide();
                $("#tblMember").hide();
                $("#tblFromDate").show();
                $("#tblToDate").show();
                $("#tblStatus").show();
                if(ddlRptType == "1")
                {
                    $("#tblAll").show();
                }
                $("#ddlUser").val("All Record(s)");
                $("#txtRequestNo").val("");
                $("#VoucherId").val("All Record(s)");
                $("#hiddenSearchMemno").val("");
                $("#txtMember").val("");
                $("#FromDate").val("");
                $("#ToDate").val("");
            }
            else if (selectedValue == 3) {
                $("#tblAll").hide();
                $("#tblPinReq").hide();
                $("#tblMember").show();
                $("#tblFromDate").hide();
                $("#tblToDate").hide();
                $("#tblStatus").hide();
                $("#ddlUser").val("All Record(s)");
                $("#txtRequestNo").val("");
                $("#VoucherId").val("All Record(s)");
                $("#hiddenSearchMemno").val("");
                $("#txtMember").val("");
                $("#FromDate").val("");
                $("#ToDate").val("");
            }
        }

        $('#txtMember').autocomplete({
            delay: 500,
            minLength: 1,
            @*source: '@(Url.Action("SearchTermAutoComplete","Epin"))',*@
            source: '@(Url.Action("SearchTermAutoCompleteDownline", "Common"))',
            appendTo: '.search-box',
            select: function (event, ui) {

                $("#hiddenSearchMemno").val(ui.item.Id);
                $("#txtMember").val(ui.item.label);
                $("#divfirstname").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };
        $("#ExportExcel").click(function() {
            //
            $("#HFromDate").val(getDate($("#FromDate").data("kendoDatePicker").value()));
            $("#HToDate").val(getDate($("#ToDate").data("kendoDatePicker").value()));
            var t=$("#HFromDate").val();

        });
    </script>
}


