﻿@model Nop.Web.Framework.Models.Epin.EpinRequestModel

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.TraderEpin.EpinRequestReport").Text;
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";
}

<style>
    .AlignkendoGridFormQuantity-right {
        text-align: right;
    }

    .AlignkendoGridFormQuantity-left {
        text-align: left;
    }

    .AlignkendoGridFormQuantity-center {
        text-align: center;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.RequestNo)

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.TraderEpin.EpinRequestReport")
        </h1>
    </div>
    <div class="content" id="searchPanel">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.RequestNo)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDisplayFor(model => model.RequestNo)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.NetAmount)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDisplayFor(model => model.NetAmount)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.VoucherWiseTotalDiscount)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDisplayFor(model => model.VoucherWiseTotalDiscount)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.OrderTotalDiscount)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDisplayFor(model => model.OrderTotalDiscount)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.PaybleAmount)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDisplayFor(model => model.PaybleAmount)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.RequestDateTime)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDisplayFor(model => model.PinRequestDateTime)

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.RequestedQuantity)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDisplayFor(model => model.RequestedQuantity)

                                    </div>
                                </div>

                                <div class="form-group" id="tblPinReq">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Status)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDisplayFor(model => model.RequestStatus)

                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6" style="margin-left: -20%;">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Remark)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDisplayFor(model => model.Remark)

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Paymode)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDisplayFor(model => model.Paymode)
                                    </div>
                                </div>

                                @if (Model.ChequeNo != null && Model.txtChequeDate != null && Model.ChequeBank != null && Model.ChequeBranch != null)
                                {
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.ChequeNo)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.NopDisplayFor(model => model.ChequeNo)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.ChequeDate)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.NopDisplayFor(model => model.txtChequeDate)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.ChequeBank)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.NopDisplayFor(model => model.ChequeBank)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.ChequeBranch)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.NopDisplayFor(model => model.ChequeBranch)
                                        </div>
                                    </div>
                                }

                                @if (Model.ImageUrl != null)
                                {
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.Recipt)
                                        </div>
                                        <div class="col-md-9" id="pdf-logo-picture">
                                            <a href="@Url.Action("Download","TraderEpin", new { RequestNo = Model.RequestNo })">
                                                <img src="@Url.Content(Model.ImageUrl)" alt="IMAGES" style="width: 100px;margin-left: 240px; margin-top: -5%;" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                        </div>
                                        <div class="col-md-8">
                                            <b style="color:red;font-weight:bold ;"> @T("Admin.Note.Note") </b> @T("Admin.Download.DownloadUploadedFileOnImageClick")
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">

                        <div id="customers-grid"></div>
                        <script>
                            $(document).ready(function () {
                                $("#customers-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("TraderEpinRequestDetailsGrid", "TraderEpin"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: true,
                                    dataBound: onDataBound,
                                    columns: [{
                                        field: "VoucherName",
                                        title: "@T("Admin.Epin.DispatchEpinDetails.VoucherName")",
                                        width: 100
                                    },{
                                        field: "EpinType",
                                        title: "@T("Admin.Epin.DispatchEpinDetails.PinType")",
                                        attributes:{ "class":"AlignkendoGridFormQuantity-center" },
                                        width: 100
                                    },{
                                        field: "NetAmount",
                                        title: "@T("Admin.Customer.Fields.RequestDetail.NetAmount")" ,
                                        attributes:{ "class":"AlignkendoGridFormQuantity-right" },
                                        format:"{0:n2}",
                                        width: 100
                                    },{
                                        field: "DiscountAmount",
                                        title: "@T("Admin.Customer.Fields.RequestDetail.DiscountAmount")",
                                        attributes:{ "class":"AlignkendoGridFormQuantity-right" },
                                        width: 100
                                    },{
                                        field: "TotalDiscount",
                                        title: "@T("Trader.RequestDetail.TotalDiscount")",
                                        attributes:{ "class":"AlignkendoGridFormQuantity-right" },
                                        format:"{0:n2}",
                                        width: 100
                                    }, {
                                        field: "RequestedQuantity",
                                        title: "@T("Admin.Epin.DispatchEpinDetails.RequestedQuantity")",
                                        attributes:{ "class":"AlignkendoGridFormQuantity-right" },
                                        width: 100
                                    },
                                    {
                                        field: "DispatchedQuantity",
                                        title: "@T("Admin.Epin.DispatchEpinDetails.DispatchedQuantity")",
                                        attributes:{ "class":"AlignkendoGridFormQuantity-right" },
                                        width: 100
                                    }
                                    @*,{
                                        field: "VPendingQuantity",
                                        title: "@T("Admin.Customers.Customers.Fields.PendingQuantity")",
                                        attributes:{ "class":"AlignkendoGridFormQuantity-right" },
                                        width: 100
                                    }*@
                                    ]
                                });
                            });
                            //});
                        </script>

                        <script type="text/javascript">

                            //search button
                            $('#ViewReport').click(function () {

                                var grid = $('#customers-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                            });

                            $('#mastercheckbox').click(function () {
                                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                            });


                            function onDataBound(e) {
                                $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });
                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }

                            function additionalData() {

                                var data = {

                                    ReportType: $('#@Html.FieldIdFor(model => model.ReportType)').val(),
                                    RequestNumberOption: $('#@Html.FieldIdFor(model => model.RequestNumberOption)').val(),
                                    VoucherId: $('#@Html.FieldIdFor(model => model.VoucherId)').val(),
                                    FromDate: $('#@Html.FieldIdFor(model => model.FromDate)').val(),
                                    ToDate: $('#@Html.FieldIdFor(model => model.ToDate)').val(),
                                    //FromDate: getDate($("#FromDate").data("kendoDatePicker").value()),
                                    //ToDate:getDate($("#ToDate").data("kendoDatePicker").value()),
                                    RequestStatus: $('#@Html.FieldIdFor(model => model.RequestStatus)').val(),
                                    RequestNo: $('#@Html.FieldIdFor(model => model.RequestNo)').val(),
                                };

                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


