﻿@model Nop.Web.Framework.Models.Epin.EpinRequestModel
@using Nop.Core.Helper;
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.TraderEpin.EpinRequestReport").Text;
    Html.SetActiveMenuItemSystemName("TraderEpinRequest");
}
<style>
    .AlignkendoGridFormQuantity-right {
        text-align: right;
    }

    .AlignkendoGridFormQuantity-left {
        text-align: left;
    }

    .AlignkendoGridFormQuantity-center {
        text-align: center;
    }
</style>
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.TraderEpin.EpinRequestReport")
        </h1>
        <div class="pull-right">
            <a href="@Url.Action("TraderPlaceOrderEpinRequest")" class="btn bg-blue"> <i class="fa fa-first-order"></i> @T("TraderEpin.EpinRequest.PlaceOrder")</a>
            <button type="submit" name="exportexcel-all" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                @T("Admin.Common.ExportToExcel")
            </button>
        </div>
    </div>

    <div class="content" id="searchPanel">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ReportType)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EnumDropDownListFor(model => model.ReportType, new { @onchange = "ChangeReportType(this.value)", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.RequestNumberOption)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.RequestNumberOption, new List<SelectListItem>()
                                       {
                                           new SelectListItem(){Text="All Record(s)", Value="0"},
                                           new SelectListItem(){Text="Order No.-wise",Value="1"},
                                       }, new { @onchange = "ChangeRequestNumberOption(this.value)" })
                                    </div>
                                </div>
                                <div class="form-group" id="tblPinReq">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.RequestNo)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.RequestNo)
                                    </div>
                                </div>
                                <div class="form-group" id="trVoucherId">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.VoucherId)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.VoucherId, Model.VoucherList, "All Record(s)")
                                    </div>
                                </div>
                                <div class="form-group" id="trStatusId">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.RequestStatus)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EnumDropDownListFor(model => model.RequestStatus, "All Record(s)", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group" id="tblFromDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.FromDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.FromDate)
                                    </div>
                                </div>
                                <div class="form-group" id="tblToDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ToDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.ToDate)
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-md-offset-2">
                                <button type="button" name="ViewReport" id="ViewReport" class="btn bg-blue">
                                    <i class="fa fa-search"></i>
                                    @T("TraderEpin.EpinRequest.SearchReport")
                                </button>

                                <button type="button" name="ResetReport" id="ResetReport" class="btn bg-blue">
                                    <i class="fa fa-refresh"></i>
                                    @T("Admin.Pager.Refresh")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-header clearfix">
                    <h1 class="pull-left" id="SummeryReport">
                        @T("TraderEpin.EpinRequestReport.Summery")
                    </h1>

                    <h1 class="pull-left" id="DetailsReport">
                        @T("TraderEpin.EpinRequestReport.Details")
                    </h1>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="customers-grid"></div>
                        <script>
                            $(document).ready(function () {

                                $("#customers-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("TraderEpinRequestReportGrid", "TraderEpin"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: true,
                                    dataBound: onDataBound,
                                    columns: [
                                    {
                                        field: "RequestNo",
                                        title: "@T("Trader.RequestDetail.RequestNo")",
                                        attributes:{ "class":"AlignkendoGridFormQuantity-center" },
                                        width:200
                                    },{
                                        field: "PinRequestDateTime",
                                        title: "@T("Trader.RequestDetail.RequestDateTime")",
                                        attributes:{ "class":"AlignkendoGridFormQuantity-center" },
                                        width:200
                                    },{
                                        field: "PaybleAmount",
                                        title: "@T("Trader.RequestDetail.PaybleAmount")",
                                        format:"{0:n2}",
                                        attributes:{ "class":"AlignkendoGridFormQuantity-right" },
                                        width:200
                                    },{
                                        field: "TotalDiscount",
                                        title: "@T("Trader.RequestDetail.TotalDiscount")",
                                        format:"{0:n2}",
                                        attributes:{ "class":"AlignkendoGridFormQuantity-right" },
                                        width:150
                                    }, {
                                        field: "RequestedQuantity",
                                        title: "@T("Trader.RequestDetail.RequestedQuantity")",
                                        attributes:{ "class":"AlignkendoGridFormQuantity-right" } ,
                                        width:100
                                    },
                                    {
                                        field: "DispatchedQuantity",
                                        title: "@T("Trader.RequestDetail.TotalDispatchQuantity")",
                                        attributes:{ "class":"AlignkendoGridFormQuantity-right" },
                                        width:150
                                    },{
                                        field: "Status",
                                        title: "@T("Trader.RequestDetail.RequestStatus")",
                                        attributes:{ "class":"AlignkendoGridFormQuantity-left" },
                                        width:150
                                    } ,{
                                        field: "Details",
                                        title: "@T("Admin.Customers.Customers.Fields.Details")",
                                        template: "<a  value='#=HRequestNo#' onclick=\"javascript:OpenWindow('@Url.Content("~/Admin/TraderEpin/TraderEpinRequestDetails")?RequestNo=#=HRequestNo#', 1000, 500, true); return false;\" style='cursor:pointer' />Details</a>",
                                        width:150
                                    } ]
                                });
                            });
                        </script>

                        <script type="text/javascript">
                            var selectedIds = [];
                            var fdate
                            $('#FromDate').keydown(keyDownHandler); // use appropriate selector for the keydown handler

                            function keyDownHandler(e) {
                                if(e.keyCode === 13) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                    $('#ViewReport').click()
                                    return false;

                                }
                            }

                            $('#ToDate').keydown(keyDownHandler1); // use appropriate selector for the keydown handler

                            function keyDownHandler1(e) {
                                if(e.keyCode === 13) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                    $('#ViewReport').click()
                                    return false;

                                }
                            }

                            $('#ReportType').live('keypress',function(e){
                                if(e.keyCode === 13) {
                                    $('#ViewReport').click()
                                    return false;
                                }
                            });

                            $('#ddlRptType').live('keypress',function(e){
                                if(e.keyCode === 13) {
                                    $('#ViewReport').click()
                                    return false;
                                }
                            });


                            $("#RequestNo").keydown(function(e){
                                if(e.which === 13){

                                    $('#ViewReport').click()
                                    return false;
                                }

                            });

                            $(document).ready(function () {

                                $("#DetailsReport").hide();
                                var grid = $('#customers-grid').data('kendoGrid');
                                var ReportType=$("#ReportType").val();

                                if(ReportType=='0')
                                {
                                    grid.hideColumn("Details");
                                } else
                                {
                                    grid.showColumn("Details");
                                }

                                $('#validationMessages').html('');
                                $("#validationMessages").hide();

                                $("#FromDate").keyup(function(e){

                                    if(e.keyCode === 13) {
                                        if($('#ToDate').val()!='')
                                        {
                                            $('#ViewReport').click()
                                            return false;
                                        }
                                        else{
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                                            flag=false;
                                        }

                                    }
                                    else{
                                        $(this).val('');
                                    }

                                });
                                $("#ToDate").keyup(function(e){

                                    if(e.keyCode === 13) {
                                        if($('#FromDate').val()!='')
                                        {
                                            $('#ViewReport').click()
                                            return false;
                                        }
                                        else{
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                                            flag=false;
                                        }

                                    }
                                    else{
                                        $(this).val('');
                                    }
                                });

                                $('#ResetReport').click(function () {
                                    window.location.href = window.location.href;

                                });
                                //search button
                                $('#ViewReport').click(function () {

                                    $("#tbltxtnaration").show();
                                    $("#ddlnaration").show();
                                    $("#btnblock").show();
                                    var ReportType=$('#ReportType').val();
                                    var RequestNumberOption=$('#RequestNumberOption').val();
                                    var RequestNo=$('#RequestNo').val();
                                    //$('#FromDate').val();
                                    //$('#ToDate').val();

                                    var FromDate= getDate($("#FromDate").data("kendoDatePicker").value());
                                    var ToDate=getDate($("#ToDate").data("kendoDatePicker").value());
                                    $('#validationMessages').html('');
                                    $("#validationMessages").hide();
                                    var validationDivs='';
                                    var flag=true;

                                    if(RequestNumberOption == 1)
                                    {
                                        if(RequestNo == '')
                                        {
                                            validationDivs=validationDivs+ '<div>@T("Admin.Validation.RequestNoRequired")</div>';
                                            flag=false;
                                        }
                                    }

                                    if(RequestNumberOption == 0)
                                    {
                                        if (FromDate != '' && ToDate == '' )
                                        {
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                                            flag=false;
                                        }
                                        if (ToDate != '' && FromDate == '')
                                        {
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                                            flag=false;
                                        }

                                        //var EnteredDate = $("#ToDate").val(); // For JQuery
                                        //var EnteredFromdate = $("#FromDate").val();

                                        var EnteredDate = getDate($("#FromDate").data("kendoDatePicker").value());
                                        var EnteredFromdate=getDate($("#ToDate").data("kendoDatePicker").value());

                                        var myDate = new Date(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                        var myFromDate = new Date(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                                        var today = new Date();
                                        var start_time=$("#DatewiseFrom").val();
                                        var end_time=$("#DatewiseTo").val();

                                        if (myFromDate > today) {

                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                                            flag=false;
                                        }
                                        if (myFromDate < myDate) {
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                                            flag=false;
                                        }


                                    }
                                    if(flag)
                                    {
                                        var grid = $('#customers-grid').data('kendoGrid');
                                        grid.dataSource.page(1); //new search. Set page size to 1
                                        //grid.dataSource.read(); we already loaded the grid above using "page" function
                                        //clear selected checkboxes
                                        $('.checkboxGroups').attr('checked', false).change();
                                        selectedIds = [];

                                        if(ReportType=='0')
                                        {
                                            grid.hideColumn("Details");
                                            $("#SummeryReport").show();
                                            $("#DetailsReport").hide();
                                        } else
                                        {
                                            grid.showColumn("Details");
                                            $("#SummeryReport").hide();
                                            $("#DetailsReport").show();
                                        }

                                        return false;
                                    }
                                    else
                                    {
                                        $("#validationMessages").show();
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                });

                                $('#mastercheckbox').click(function () {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                        $("#SelectedValues").val(selectedIds);
                                    }
                                    else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function (item, index) {
                                                return item != $check.val();
                                            });
                                            $("#SelectedValues").val(selectedIds);
                                        }
                                    }
                                    updateMasterCheckbox();
                                });
                            });


                            function onDataBound(e) {
                                $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });
                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }

                            function additionalData() {
                                var data = {
                                    ReportType: $('#@Html.FieldIdFor(model => model.ReportType)').val(),
                                    RequestNumberOption: $('#@Html.FieldIdFor(model => model.RequestNumberOption)').val(),
                                    VoucherId: $('#@Html.FieldIdFor(model => model.VoucherId)').val(),
                                    FromDate: getDate($("#FromDate").data("kendoDatePicker").value()),
                                    ToDate:getDate($("#ToDate").data("kendoDatePicker").value()),
                                    RequestStatus: $('#@Html.FieldIdFor(model => model.RequestStatus)').val(),
                                    RequestNo: $('#@Html.FieldIdFor(model => model.RequestNo)').val(),
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#tblPinReq").hide();
            $("#tblMember").hide();
        });



        function ChangeReportType(selectedValue) {
            $("#RequestNo").val("");
            $("#FromDate").val("");
            $("#ToDate").val("");
            $("#RequestNumberOption").val("0");

            if (selectedValue == 0) {
                $("#tblPinReq").hide();
                $("#tblFromDate").show();
                $("#tblToDate").show();

                $("#trVoucherId").show();
                $("#trStatusId").show();
            }
            else if (selectedValue == 1) {
                $("#tblPinReq").hide();
                $("#tblFromDate").show();
                $("#tblToDate").show();
                $("#trVoucherId").show();
                $("#trStatusId").show();
            }
        }
        function ChangeRequestNumberOption(selectedValue) {
            $("#RequestNo").val("");
            $("#FromDate").val("");
            $("#ToDate").val("");

            if (selectedValue == 0) {
                $("#tblPinReq").hide();
                $("#tblFromDate").show();
                $("#tblToDate").show();
                $("#trVoucherId").show();
                $("#trStatusId").show();
            }
            else  {
                $("#tblPinReq").show();
                $("#tblFromDate").hide();
                $("#tblToDate").hide();
                $("#trVoucherId").hide();
                $("#trStatusId").hide();
            }
        }
    </script>

}


