﻿@model DiscountModel

@{
    //page title
    ViewBag.Title = T("Admin.Promotions.Discounts.EditDiscountDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Discounts");
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "discount-form" }))
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Promotions.Discounts.EditDiscountDetails") - @Model.Name
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Promotions.Discounts.BackToList").Text, "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" id="btnSave" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" id="btnSaveContinew" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="discount-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
    
    <script type="text/javascript">
        $('#validationMessages').html('');
        $("#validationMessages").hide();
        $('#btnSave').click(function () {
            $('.alert.alert-success.alert-dismissable').hide();
            $('#validationMessages').empty();
            $('#validationMessages').html('');
            $("#validationMessages").hide();
            var validationDivs = '';
            var flag = true;
            var StartDate = new Date(getDateFromString($("#StartDateUtc").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));/// value on EnteredDate CreatedOnFrom

            var EndDate = new Date(getDateFromString($("#EndDateUtc").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime")); /// value on EnteredFromdate CreatedOnTo


            if (EndDate < StartDate) {
                validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                flag = false;
            }


            var sttdate = $("#StartDateUtc").val();
            var enddate = $("#EndDateUtc").val();
            //alert(EndDate);

            if (enddate == '' && sttdate != '') {
                $('#validationMessages').html('');
                validationDivs = validationDivs + '<div>Both Date Required</div>';
                flag = false;
            }

            if (sttdate == '' && enddate != '') {
                $('#validationMessages').html('');
                validationDivs = validationDivs + '<div>Both Date Required</div>';
                flag = false;
            }



            if (flag) {

                $("#HStartDateUtc").val(getDateFromString($("#StartDateUtc").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateAndTime"));
                $("#HEndDateUtc").val(getDateFromString($("#EndDateUtc").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateAndTime"));

                $("#validationMessages").hide();
                $('#validationMessages').html('');
            } else {
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
                return false;
            }
        });
        $("#validationMessages").hide();
        $('#btnSaveContinew').click(function () {
            $('.alert.alert-success.alert-dismissable').hide();
            $('#validationMessages').empty();
            $('#validationMessages').html('');
            $("#validationMessages").hide();

            var validationDivs = '';
            var flag = true;
            var StartDate = new Date(getDateFromString($("#StartDateUtc").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));/// value on EnteredDate CreatedOnFrom

            var EndDate = new Date(getDateFromString($("#EndDateUtc").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime")); /// value on EnteredFromdate CreatedOnTo

            if (EndDate < StartDate) {
                validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                flag = false;
            }


            var sttdate = $("#StartDateUtc").val();
            var enddate = $("#EndDateUtc").val();
            //alert(EndDate);

            if (enddate == '' && sttdate != '') {
                validationDivs = validationDivs + '<div>Both Date Required</div>';
                flag = false;
            }

            if (sttdate == '' && enddate != '') {
                validationDivs = validationDivs + '<div>Both Date Required</div>';
                flag = false;
            }


            if (flag) {
                $("#HStartDateUtc").val(getDateFromString($("#StartDateUtc").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateAndTime"));
                $("#HEndDateUtc").val(getDateFromString($("#EndDateUtc").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateAndTime"));

                $("#validationMessages").hide();
                $('#validationMessages').html('');
            } else {
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
                return false;
            }
        });
    </script>

}
@Html.DeleteConfirmation("discount-delete")