﻿@model IList<ProductOverviewModel>
@using Nop.Web.Models.Catalog;
@using Nop.Core.Infrastructure
@using Nop.Services.Catalog;
@if (Model.Count > 0)
{
    <div class="product-grid cross-sells">
        <div class="title">
            <strong>@T("ShoppingCart.CrossSells")</strong>
        </div>
        <div class="item-grid">
            @foreach (var product in Model)
            {
                var isResalePackage = EngineContext.Current.Resolve<IProductService>().IsResalePakage(product.Id);
                if (isResalePackage)
                {
                <div class="item-box">
                    @Html.Partial("_ProductBox", product)
                </div>
                }
            }
        </div>
    </div>
}