﻿@model IList<ProductOverviewModel>
@using Nop.Web.Models.Common;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Services.Customers;
@using Nop.Core.Domain.Customers;
@using Nop.Web.Models.Catalog;


@{

    var IsGuest = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.IsGuest();
    var IsMember = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.MemId;
}

@using Nop.Web.Models.Catalog;
@if (IsGuest || IsMember != null)
{
    if (Model.Count > 0)
    {

        <div class="product-grid bestsellers">
            <div class="title">
                <strong>@T("Bestsellers")</strong>
            </div>
            <div class="item-grid">
                @foreach (var item in Model)
                {
                    <div class="item-box">
                        @Html.Partial("_ProductBox", item)
                    </div>
                }
            </div>
        </div>
    }
}