﻿@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;
@using Nop.Core.Infrastructure
@using Nop.Services.Catalog;
@if (Model.Count > 0)
{
    <div class="also-purchased-products-grid product-grid">
        <div class="title">
            <strong>@T("Products.AlsoPurchased")</strong>
        </div>
        <div class="item-grid">
            @foreach (var item in Model)
            {
                var isResalePackage = EngineContext.Current.Resolve<IProductService>().IsResalePakage(item.Id);
                if (isResalePackage)
                {
                <div class="item-box">@Html.Partial("_ProductBox", item)</div>
                }
            }
        </div>
    </div>
}