﻿@*@using (Html.BeginForm())
    {
        <div class="message-box message-box-error" id="validationMessages">
        </div>
        @Html.AntiForgeryToken()
        if (Model.IsError)
        {
            if (Model.showModel)
            {
                <div class="section-header">
                    <div class="title">
                        <img src="@Url.Content("~/Administration/Content/images/ico-payout.png")" alt="" />
                        @T("admin.customers.calculateFundBonusPayout")
                    </div>
                </div>
                <table>
                    <tr>
                        <td class="adminTitle">
                            @Html.NopLabelFor(model => model.lblPayoutNo)
                        </td>
                        <td class="adminData">
                            @Html.TextBoxFor(model => model.lblPayoutNo, new { @readonly = "readonly" })
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            @Html.NopLabelFor(model => model.txtFromDate)
                        </td>
                        <td class="adminData">
                            @Html.TextBoxFor(model => model.txtFromDate, "{0:MM/dd/yyyy}", new { @readonly = "readonly" })
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            @Html.NopLabelFor(model => model.txtToDate)
                        </td>
                        <td class="adminData">
                            @Html.TextBoxFor(model => model.txtToDate, "{0:MM/dd/yyyy}")
                            @Html.EditorFor(model => model.txtToDate)
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <input type="submit" id="btnCalculatePayout" name="Command" class=" k-button" value="@T("Admin.Common.CalculatePayout")" />
                        </td>
                    </tr>
                </table>

            }

            if (Model.IsSimulation)
            {
                <table id="tblSimulation">
                    <tr>
                        <td class="adminTitle">
                            @Html.EditorFor(model => model.chkSimPer)
                            @Html.NopLabelFor(model => model.chkSimPer)
                        </td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.lblSimPercent)
                            @Html.TextBoxFor(model => model.lblSimPercent, new { disabled = "disabled" })
                            @Html.HiddenFor(model => model.lblSimPercent)
                        </td>
                    </tr>
                </table>
                <br />
                <table>
                    <tr>
                        <td class="adminTitle"></td>
                        <td class="adminTitle">
                            <input type="submit" id="btnApplySim" name="Command" class=" k-button" value="@T("Admin.Common.ApplySim")" />
                            <input type="submit" id="btnDoNotApplySim" name="Command" class=" k-button" value="@T("Admin.Common.DoNotApply")" />
                        </td>
                    </tr>
                </table>
            }

        }

        if (Model.IntermediateStatus)
        {
            <table id="tblSimulation">
                <tr>
                    @Html.ActionLink("View Calculation Status", "IntermediateStatus", "Payout")
                </tr>
            </table>
        }

        <table class="adminContent">
            <tr>
                <td>
                    <br />
                    <h3> @T("Admin.Customers.RecentConfirmedPayouts")</h3>
                    <br />
                    <div id="ConfirmedPayout-grid"></div>
                    <script>
                        $(document).ready(function () {

                            $("#ConfirmedPayout-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("FundBonusConfirmedPayout", "Payout"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },

                                scrollable: false,
                                dataBound: onDataBound,
                                columns: [
                                  {
                                      field: "PayoutNo",
                                      title: "@T("Admin.Customers.Customers.Fields.PayoutNo")",
                                      width: 50,
                                  }, {
                                      field: "PayoutStartDate",
                                      title: "@T("Admin.Customers.Customers.Fields.PayoutStartDate")",
                                      width: 50
                                  }, {
                                      field: "PayoutEndDate",
                                      title: "@T("Admin.Customers.Customers.Fields.PayoutEndDate")",
                                      width: 50
                                  }]
                            });
                        });

                    </script>

                    <script type="text/javascript">

                        $(document).ready(function () {

                            //$('#search-customers').click(function () {
                            var grid = $('#ConfirmedPayout-grid').data('kendoGrid');
                            grid.dataSource.page(1);
                            $("#ConfirmedPayout-grid").show();
                            //});

                            $('.checkboxGroups').attr('checked', false).change();
                            selectedIds = [];
                            return false;
                            //  });

                            $('#mastercheckbox').click(function () {
                                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                            });

                            //wire up checkboxes.
                            $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                var $check = $(this);
                                if ($check.is(":checked") == true) {
                                    var checked = jQuery.inArray($check.val(), selectedIds);
                                    if (checked == -1) {
                                        //add id to selectedIds.
                                        selectedIds.push($check.val());
                                    }
                                }
                                else {
                                    var checked = jQuery.inArray($check.val(), selectedIds);
                                    if (checked > -1) {
                                        //remove id from selectedIds.
                                        selectedIds = $.grep(selectedIds, function (item, index) {
                                            return item != $check.val();
                                        });
                                    }
                                }
                                updateMasterCheckbox();
                            });
                        });

                        function onDataBound(e) {

                            $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                var currentId = $(this).val();
                                var checked = jQuery.inArray(currentId, selectedIds);
                                //set checked based on if current checkbox's value is in selectedIds.
                                $(this).attr('checked', checked > -1);
                            });

                            updateMasterCheckbox();
                        }

                        function updateMasterCheckbox() {
                            var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                            var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                        }

                        function additionalData() {

                            var data = {
                                lblPlanName: $('#@Html.FieldIdFor(model => model.lblPlanName)').val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    </script>
                </td>
            </tr>
        </table>

        <table class="adminContent">
            <tr>
                <td>
                    <br />

                    <br />

                </td>
            </tr>
        </table>
    }*@





@model Nop.Admin.ViewModel.DlPlanMstViewModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    ViewBag.Title = T("admin.customers.calculateFundBonusPayout").Text;
}

@using (Html.BeginForm())
{
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("admin.customers.calculateFundBonusPayout")
        </h1>

    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                @if (Model.IsError)
                {
                    if (Model.showModel)
                    {
                        <div class="panel panel-default panel-search">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.NopLabelFor(model => model.lblPayoutNo)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.lblPayoutNo, new { @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.NopLabelFor(model => model.txtFromDate)
                                            </div>
                                            <div class="col-md-8">
                                                @*@Html.TextBoxFor(model => model.txtFromDate, "{0:MM/dd/yyyy}", new { @readonly = "readonly" })*@
                                                @Html.TextBoxFor(model => model.txtFromDate, "{0:dd/MM/yyyy}", new { @readonly = "readonly" })
                                                @Html.HiddenFor(model => model.hFromDate)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.NopLabelFor(model => model.txtToDate)

                                            </div>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.txtToDate)

                                            </div>
                                        </div>
                                        <div style="display:none;">
                                            @Html.EditorFor(model => model.txtYesterday)
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4 col-md-offset-3">

                                                <button type="submit" id="btnCalculatePayout" name="Command" class="btn bg-blue"><i class="fa fa-search"></i>@T("Admin.Common.CalculatePayout")</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }
                @if (Model.IsSimulation)
                {

                    <div class="panel panel-default panel-search">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6" id="tblSimulation">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.chkSimPer)
                                            @Html.NopLabelFor(model => model.chkSimPer)
                                        </div>
                                        <div class="col-md-8">
                                            @*@Html.EditorFor(model => model.lblSimPercent)*@
                                            @Html.TextBoxFor(model => model.lblSimPercent, new { disabled = "disabled" })
                                            @Html.HiddenFor(model => model.lblSimPercent)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-4 col-md-offset-3">
                                            <input type="submit" id="btnApplySim" name="Command" class=" k-button" value="@T("Admin.Common.ApplySim")" />
                                            <input type="submit" id="btnDoNotApplySim" name="Command" class=" k-button" value="@T("Admin.Common.DoNotApply")" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
                @if (Model.IntermediateStatus)
                {
                    <div class="panel panel-default panel-search">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6" id="tblSimulation">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <h3> @T("Admin.Customers.DeductionDetails")</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }


                <div class="panel panel-default">
                    <div class="panel-body">
                        <br />
                        <h3> @T("Admin.Customers.RecentConfirmedPayouts")</h3>
                        <br />
                        <div id="ConfirmedPayout-grid"></div>
                        <script>
                            $(document).ready(function () {

                                $("#ConfirmedPayout-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("FundBonusConfirmedPayout", "Payout"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },

                                    scrollable: false,
                                    dataBound: onDataBound,
                                    columns: [
                                      {
                                          field: "PayoutNo",
                                          title: "@T("Admin.Customers.Customers.Fields.PayoutNo")",
                                          width: 50,
                                      }, {
                                          field: "PayoutStartDate",
                                          title: "@T("Admin.Customers.Customers.Fields.PayoutStartDate")",
                                          width: 50
                                      }, {
                                          field: "PayoutEndDate",
                                          title: "@T("Admin.Customers.Customers.Fields.PayoutEndDate")",
                                          width: 50
                                      }]
                                });
                            });

                        </script>

                        <script type="text/javascript">

                            $(document).ready(function () {

                                //$('#search-customers').click(function () {
                                var grid = $('#ConfirmedPayout-grid').data('kendoGrid');
                                grid.dataSource.page(1);
                                $("#ConfirmedPayout-grid").show();
                                //});

                                $('.checkboxGroups').attr('checked', false).change();
                                selectedIds = [];
                                return false;
                                //  });

                                $('#mastercheckbox').click(function () {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                    }
                                    else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function (item, index) {
                                                return item != $check.val();
                                            });
                                        }
                                    }
                                    updateMasterCheckbox();
                                });
                            });

                            function onDataBound(e) {

                                $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });

                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }

                            function additionalData() {

                                var data = {
                                    lblPlanName: $('#@Html.FieldIdFor(model => model.lblPlanName)').val()
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>

                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3> @T("Admin.Customers.RecentConfirmedPayouts")</h3>
                        <br />
                        <div id="ConfirmedPayout-grid"></div>
                        <script>
                            $(document).ready(function () {

                                $("#ConfirmedPayout-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("DifferentialBonusConfirmedPayout", "Payout"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    //pageable: {
                                    //    refresh: false,
                                    //    numeric: false,
                                    //    previousNext: false,
                                    //    info: false
                                    //},
                                    scrollable: false,
                                    dataBound: onDataBound,
                                    columns: [
                                      {
                                          field: "PayoutNo",
                                          title: "@T("Admin.Customers.Customers.Fields.PayoutNo")",
                                          width: 50,
                                      }, {
                                          field: "PayoutStartDate",
                                          title: "@T("Admin.Customers.Customers.Fields.PayoutStartDate")",
                                          width: 50
                                      }, {
                                          field: "PayoutEndDate",
                                          title: "@T("Admin.Customers.Customers.Fields.PayoutEndDate")",
                                          width: 50
                                      }]
                                });
                            });

                        </script>

                        <script type="text/javascript">

                            $(document).ready(function () {

                                //$('#search-customers').click(function () {
                                var grid = $('#ConfirmedPayout-grid').data('kendoGrid');
                                grid.dataSource.page(1);
                                $("#ConfirmedPayout-grid").show();
                                //});

                                $('.checkboxGroups').attr('checked', false).change();
                                selectedIds = [];
                                return false;
                                //  });

                                $('#mastercheckbox').click(function () {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                    }
                                    else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function (item, index) {
                                                return item != $check.val();
                                            });
                                        }
                                    }
                                    updateMasterCheckbox();
                                });
                            });

                            function onDataBound(e) {

                                $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });

                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }

                            function additionalData() {

                                var data = {
                                    lblPlanName: $('#@Html.FieldIdFor(model => model.lblPlanName)').val()
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        //$('#txtFromDate').keydown(keyDownHandler); // use appropriate selector for the keydown handler

        //function keyDownHandler(e) {
        //    if (e.keyCode === 13) {
        //        e.stopPropagation();
        //        e.preventDefault();
        //        $('#btnCalculatePayout').click()
        //        return false;

        //    }
        //}

        // $('#txtToDate').keydown(keyDownHandler1); // use appropriate selector for the keydown handler

        function keyDownHandler1(e) {
            if (e.keyCode === 13) {
                e.stopPropagation();
                e.preventDefault();
                $('#btnCalculatePayout').click()
                return false;

            }
        }

        $(document).ready(function () {
            $("#validationMessages").hide();
            @*$("#txtFromDate").keyup(function (e) {
            
            if (e.keyCode === 13) {
                if ($('#txtToDate').val() != '') {
                    $('#btnCalculatePayout').click()
                    return false;
                }
                else {
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterEndDate")</div>';
                    flag = false;
                }

            }
            else if (e.keyCode != 9) {
                $(this).val('');
            }

        });*@
            @*$("#txtToDate").keyup(function (e) {
            
            if (e.keyCode === 13) {
                if ($('#txtFromDate').val() != '') {
                    $('#btnCalculatePayout').click()
                    return false;
                }
                else {
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterStartDate")</div>';
                    flag = false;
                }

            }
            else if (e.keyCode != 9) {
                $(this).val('');
            }
        });*@

        });


        $("#btnCalculatePayout").click(function () {
            var validationDivs = '';

            
            var validationDivs = '';
            $('#validationMessages').html('');

            var EnteredDate = $("#txtToDate").val(); // For JQuery
            var EnteredFromdate = $("#txtFromDate").val();

            var myDate = new Date(getDateFromString($("#txtFromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
            var myFromDate = new Date(getDateFromString($("#txtToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));


           
            var validationDivs='';
            var start_time=$("#DatewiseFrom").val();
            var end_time=$("#DatewiseTo").val();
            var today = new Date().setHours(0, 0, 0, 0);
            if (myFromDate >= today) {

                //  alert("Date should be less than Today's date.");
                $('#validationMessages').show();
                validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanTodayDate")</div>';
                $('#validationMessages').append(validationDivs);
                return false;
            }
          
            if (myFromDate < myDate) {
                // alert("From Date Should Be Less Than ToDate");
                $('#validationMessages').show();
                validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                $('#validationMessages').append(validationDivs);
                return false;
            }
            @*var EnteredDate = $("#txtToDate").val(); // For JQuery
        var EnteredFromdate = $("#txtFromDate").val();

        var date = EnteredDate.split('/')[1] // EnteredDate.substring(2, 4);
        var month = EnteredDate.split('/')[0]  // EnteredDate.substring(0, 1);
        var year = EnteredDate.split('/')[2]  //EnteredDate.substring(5, 10);

        var Fromdate = EnteredFromdate.split('/')[1] //EnteredFromdate.substring(2, 4);
        var Frommonth = EnteredFromdate.split('/')[0] // EnteredFromdate.substring(0, 1);
        var FromyearSplit = EnteredFromdate.split('/')[2]; // EnteredFromdate.substring(5, 10);
        var Fromyear = FromyearSplit.split(' ')[0];

        var myDate = new Date(year, month - 1, date);

        var myFromDate = new Date(Fromyear, Frommonth - 1, Fromdate);

        //  var today = new Date();
        var currentDate = new Date()
        var day = currentDate.getDate()
        var month = currentDate.getMonth() + 1
        var year = currentDate.getFullYear()
        var today = month + "/" + day + "/" + year;

        if (Date.parse(EnteredDate) >= Date.parse(today)) {
            //  alert("Date should be less than Today's date.");
            $('#validationMessages').show();
            validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
            $('#validationMessages').append(validationDivs);
            return false;
        }

        if (new Date(EnteredFromdate) > new Date(EnteredDate)) {
            //  alert("From Date Should Be Less Than ToDate");
            $('#validationMessages').show();
            validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
            $('#validationMessages').append(validationDivs);
            return false;
        }

        if (new Date(EnteredDate) < new Date(EnteredFromdate)) {
            //  alert("From Date Should Be Less Than ToDate");
            $('#validationMessages').show();
            validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
            $('#validationMessages').append(validationDivs);
            return false;
        }*@
            //if(EnteredFromdate!='' && EnteredFromdate!='__/__/____')
            //{
            //    alert("Enter Valid From Date")
            //    return false;
            //}

            if (EnteredFromdate == '' || EnteredFromdate == '__/__/____') {
                // alert("Enter From Date")
                $('#validationMessages').show();
                validationDivs = validationDivs + '<div>@T("Admin.MemberReports.enterfromdate")</div>';
                $('#validationMessages').append(validationDivs);
                return false;
            }

            //if (EnteredDate != '' && EnteredDate != '__/__/____') {
            //    alert("Enter Valid To Date")
            //    return false;
            //}

            if (EnteredDate == '' || EnteredDate == '__/__/____') {
                // alert("Enter To Date")
                $('#validationMessages').show();
                validationDivs = validationDivs + '<div>@T("Admin.MemberReports.entertodate")</div>';
                $('#validationMessages').append(validationDivs);
                return false;
            }

            $('#txtToDate').val(getDate($("#txtToDate").data("kendoDatePicker").value()));
            $('#txtFromDate').val($("#txtFromDate").val());
        });
    </script>

    <script>
        //post data to the controller
        $('#btnApplySim').click(function (e) {

            e.preventDefault();

            var postData = {
                SimPercent: $("#lblSimPercent").val()
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("ApplySimulation", "Payout"))",
                data: postData,
                success: function (data) {
                    var newUrl = '@Url.Action("PayoutSuccess", "Payout")';
                    window.location.href = newUrl;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                },
                traditional: true
            });
            return false;

        });

        //post data to the controller
        $('#btnDoNotApplySim').click(function (e) {

            e.preventDefault();

            var postData = {
                SimPercent: $("#lblSimPercent").val()
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("DoNotApplySimulation", "Payout"))",
                data: postData,
                success: function (data) {
                    var str = window.location.href.split('/')[3];
                    var finalurl = 'http://punecs/' + str + '/Admin/Payout/PayoutSuccess'
                    window.location = finalurl;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                },
                traditional: true
            });
            return false;

        });
    </script>
}


