﻿@model Nop.Admin.ViewModel.DlPlanMstViewModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>
    ().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>
        ().GridPageSizes;

    ViewBag.Title = T("Admin.Customers.CalculateRoyaltyPayout").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("CalculateRoyaltyPayout");
}

<link href="~/Scripts/ConformDelete.css" rel="stylesheet" />
<style>
    .jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content {
        display: none !important;
    }

    .jconfirm {
        left: 0px !important;
        border: none !important;
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
    }

        .jconfirm .jconfirm-bg {
            /*left: 418px !important;
            right: 418px !important;*/
            top: auto !important;
        }

        .jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-title {
            font-size: 70% !important;
        }

    .jconfirm-title {
        font-weight: bold !important;
    }
</style>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Customers.CalculateRoyaltyPayout")
        </h1>

    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                @if (Model.IsError)
                {
                    if (Model.showModel)
                    {
                        <div class="panel panel-default panel-search">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.NopLabelFor(model => model.lblPayoutNo)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.lblPayoutNo, new { @class = "form-control", @readonly = "readonly" })

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.NopLabelFor(model => model.txtFromDate)

                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.txtFromDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                @Html.HiddenFor(model => model.hFromDate)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.NopLabelFor(model => model.txtToDate)

                                            </div>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.txtToDate)

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4 col-md-offset-3">

                                                <button type="button" id="btnCalculatePayout" name="Command" class="btn btn bg-blue"><i class="fa fa-search"></i>@T("Admin.Common.CalculatePayout")</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    if (Model.IsSimulation)
                    {
                        <div class="panel-group">
                            <div class="panel panel-default panel-search">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="form-group" id="tblSimulation">
                                                <div class="col-md-4">
                                                    @Html.EditorFor(model => model.chkSimPer)
                                                    @Html.NopLabelFor(model => model.chkSimPer)

                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.lblSimPercent, new { disabled = "disabled" })
                                                    @Html.HiddenFor(model => model.lblSimPercent)

                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <div class="col-md-8 col-md-offset-4">
                                                    <button type="submit" id="btnApplySim" name="Command" class=" bg-blue"><i class="fa fa-search"></i>@T("Admin.Common.ApplySim")</button>
                                                    <button type="submit" id="btnDoNotApplySim" name="Command" class=" bg-blue"><i class="fa fa-search"></i>@T("Admin.Common.DoNotApply")</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3> @T("Admin.Customers.RecentConfirmedPayouts")</h3>
                            <br />
                            <div id="ConfirmedPayout-grid"></div>

                            <script>
                                $(document).ready(function () {

                                    $("#ConfirmedPayout-grid").kendoGrid({
                                        dataSource: {
                                            type: "json",
                                            transport: {
                                                read: {
                                                    url: "@Html.Raw(Url.Action("RoyaltyConfirmedPayout", "Payout"))",
                                                    type: "POST",
                                                    dataType: "json",
                                                    data: additionalData
                                                }
                                            },
                                            schema: {
                                                data: "Data",
                                                total: "Total",
                                                errors: "Errors"
                                            },
                                            error: function (e) {
                                                display_kendoui_grid_error(e);
                                                // Cancel the changes
                                                this.cancelChanges();
                                            },
                                            pageSize: @(defaultGridPageSize),
                                            serverPaging: true,
                                            serverFiltering: true,
                                            serverSorting: true
                                        },
                                        pageable: {
                                            refresh: true,
                                            pageSizes: [@(gridPageSizes)]
                                        },
                                        scrollable: false,
                                        dataBound: onDataBound,
                                        columns: [
                                          {
                                              field: "PayoutNo",
                                              title: "@T("Admin.Customers.Customers.Fields.PayoutNo")",
                                              width: 50,
                                          }, {
                                              field: "PayoutStartDate",
                                              title: "@T("Admin.Customers.Customers.Fields.PayoutStartDate")",
                                              width: 50
                                          }, {
                                              field: "PayoutEndDate",
                                              title: "@T("Admin.Customers.Customers.Fields.PayoutEndDate")",
                                              width: 50
                                          }]
                                    });
                                });

                            </script>

                            <script type="text/javascript">

                                $(document).ready(function () {

                                    //$('#search-customers').click(function () {
                                    var grid = $('#ConfirmedPayout-grid').data('kendoGrid');
                                    grid.dataSource.page(1);
                                    $("#ConfirmedPayout-grid").show();
                                    //});

                                    $('.checkboxGroups').attr('checked', false).change();
                                    selectedIds = [];
                                    return false;
                                    //  });

                                    $('#mastercheckbox').click(function () {
                                        $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                    });

                                    //wire up checkboxes.
                                    $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                        var $check = $(this);
                                        if ($check.is(":checked") == true) {
                                            var checked = jQuery.inArray($check.val(), selectedIds);
                                            if (checked == -1) {
                                                //add id to selectedIds.
                                                selectedIds.push($check.val());
                                            }
                                        }
                                        else {
                                            var checked = jQuery.inArray($check.val(), selectedIds);
                                            if (checked > -1) {
                                                //remove id from selectedIds.
                                                selectedIds = $.grep(selectedIds, function (item, index) {
                                                    return item != $check.val();
                                                });
                                            }
                                        }
                                        updateMasterCheckbox();
                                    });
                                });

                                function onDataBound(e) {

                                    $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                        var currentId = $(this).val();
                                        var checked = jQuery.inArray(currentId, selectedIds);
                                        //set checked based on if current checkbox's value is in selectedIds.
                                        $(this).attr('checked', checked > -1);
                                    });

                                    updateMasterCheckbox();
                                }

                                function updateMasterCheckbox() {
                                    var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                    var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                    $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                                }

                                function additionalData() {

                                    var data = {
                                        lblPlanName: $('#@Html.FieldIdFor(model => model.lblPlanName)').val()
                                    };
                                    addAntiForgeryToken(data);
                                    return data;
                                }
                            </script>

                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3> @T("Admin.Customers.RoyaltyDetails")</h3>
                            <br />
                            <div id="BinaryFormationAmtDetails-grid"></div>
                            <script>
                                $(document).ready(function () {

                                    $("#BinaryFormationAmtDetails-grid").kendoGrid({
                                        dataSource: {
                                            type: "json",
                                            transport: {
                                                read: {
                                                    url: "@Html.Raw(Url.Action("RoyaltyFormationAndAmtDetails", "Payout"))",
                                                    type: "POST",
                                                    dataType: "json",
                                                    data: additionalData
                                                }
                                            },
                                            schema: {
                                                data: "Data",
                                                total: "Total",
                                                errors: "Errors"
                                            },
                                            error: function (e) {
                                                display_kendoui_grid_error(e);
                                                // Cancel the changes
                                                this.cancelChanges();
                                            },
                                            pageSize: @(defaultGridPageSize),
                                            serverPaging: true,
                                            serverFiltering: true,
                                            serverSorting: true
                                        },
                                        pageable: {
                                            refresh: true,
                                            pageSizes: [@(gridPageSizes)]
                                        },
                                        scrollable: false,
                                        dataBound: onDataBound,
                                        columns: [
                                          {
                                              field: "RoyaltyName",
                                              title: "@T("Admin.Customers.Customers.Fields.RoyaltyName")",
                                              width: 50,
                                          }, {
                                              field: "RequiredLeftCount",
                                              title: "@T("Admin.Customers.Customers.Fields.RequiredLeftCount")",
                                              width: 50
                                          }, {
                                              field: "RequiredRightCount",
                                              title: "@T("Admin.Customers.Customers.Fields.RequiredRightCount")",
                                              width: 50
                                          }]
                                    });
                                });

                            </script>

                            <script type="text/javascript">

                                $(document).ready(function () {

                                    //$('#search-customers').click(function () {
                                    var grid = $('#BinaryFormationAmtDetails-grid').data('kendoGrid');
                                    grid.dataSource.page(1);
                                    $("#BinaryFormationAmtDetails-grid").show();
                                    //});

                                    $('.checkboxGroups').attr('checked', false).change();
                                    selectedIds = [];
                                    return false;
                                    //  });

                                    $('#mastercheckbox').click(function () {
                                        $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                    });

                                    //wire up checkboxes.
                                    $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                        var $check = $(this);
                                        if ($check.is(":checked") == true) {
                                            var checked = jQuery.inArray($check.val(), selectedIds);
                                            if (checked == -1) {
                                                //add id to selectedIds.
                                                selectedIds.push($check.val());
                                            }
                                        }
                                        else {
                                            var checked = jQuery.inArray($check.val(), selectedIds);
                                            if (checked > -1) {
                                                //remove id from selectedIds.
                                                selectedIds = $.grep(selectedIds, function (item, index) {
                                                    return item != $check.val();
                                                });
                                            }
                                        }
                                        updateMasterCheckbox();
                                    });
                                });

                                function onDataBound(e) {

                                    $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                        var currentId = $(this).val();
                                        var checked = jQuery.inArray(currentId, selectedIds);
                                        //set checked based on if current checkbox's value is in selectedIds.
                                        $(this).attr('checked', checked > -1);
                                    });

                                    updateMasterCheckbox();
                                }

                                function updateMasterCheckbox() {
                                    var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                    var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                    $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                                }

                                function additionalData() {

                                    var data = {
                                        lblPlanName: $('#@Html.FieldIdFor(model => model.lblPlanName)').val()
                                    };
                                    addAntiForgeryToken(data);
                                    return data;
                                }
                            </script>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3> @T("Admin.Customers.DeductionDetails")</h3>
                            <br />
                            <div id="Deduction-grid"></div>
                            <script>
                                $(document).ready(function () {

                                    $("#Deduction-grid").kendoGrid({
                                        dataSource: {
                                            type: "json",
                                            transport: {
                                                read: {
                                                    url: "@Html.Raw(Url.Action("RoyaltyDeductionDetails", "Payout"))",
                                                    type: "POST",
                                                    dataType: "json",
                                                    data: additionalData
                                                }
                                            },
                                            schema: {
                                                data: "Data",
                                                total: "Total",
                                                errors: "Errors"
                                            },
                                            error: function (e) {
                                                display_kendoui_grid_error(e);
                                                // Cancel the changes
                                                this.cancelChanges();
                                            },
                                            pageSize: @(defaultGridPageSize),
                                            serverPaging: true,
                                            serverFiltering: true,
                                            serverSorting: true
                                        },
                                        pageable: {
                                            refresh: true,
                                            pageSizes: [@(gridPageSizes)]
                                        },

                                        scrollable: false,
                                        dataBound: onDataBound,
                                        columns: [
                                          {
                                              field: "DeductionName",
                                              title: "@T("Admin.Customers.Customers.Fields.DeductionName")",
                                              width: 50,
                                          }, {
                                              field: "DeductionType",
                                              title: "@T("Admin.Customers.Customers.Fields.DeductionType")",
                                              width: 50
                                          }, {
                                              field: "AmountPercentage",
                                              title: "@T("Admin.Customers.Customers.Fields.AmountPercentage")",
                                              width: 50
                                          }]
                                    });
                                });

                            </script>

                            <script type="text/javascript">

                                $(document).ready(function () {

                                    //$('#search-customers').click(function () {
                                    var grid = $('#Deduction-grid').data('kendoGrid');
                                    grid.dataSource.page(1);
                                    $("#Deduction-grid").show();
                                    //});

                                    $('.checkboxGroups').attr('checked', false).change();
                                    selectedIds = [];
                                    return false;
                                    //  });

                                    $('#mastercheckbox').click(function () {
                                        $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                    });

                                    //wire up checkboxes.
                                    $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                        var $check = $(this);
                                        if ($check.is(":checked") == true) {
                                            var checked = jQuery.inArray($check.val(), selectedIds);
                                            if (checked == -1) {
                                                //add id to selectedIds.
                                                selectedIds.push($check.val());
                                            }
                                        }
                                        else {
                                            var checked = jQuery.inArray($check.val(), selectedIds);
                                            if (checked > -1) {
                                                //remove id from selectedIds.
                                                selectedIds = $.grep(selectedIds, function (item, index) {
                                                    return item != $check.val();
                                                });
                                            }
                                        }
                                        updateMasterCheckbox();
                                    });
                                });

                                function onDataBound(e) {

                                    $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                        var currentId = $(this).val();
                                        var checked = jQuery.inArray(currentId, selectedIds);
                                        //set checked based on if current checkbox's value is in selectedIds.
                                        $(this).attr('checked', checked > -1);
                                    });

                                    updateMasterCheckbox();
                                }

                                function updateMasterCheckbox() {
                                    var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                    var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                    $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                                }

                                function additionalData() {

                                    var data = {
                                        lblPlanName: $('#@Html.FieldIdFor(model => model.lblPlanName)').val()
                                    };
                                    addAntiForgeryToken(data);
                                    return data;
                                }
                            </script>
                        </div>
                    </div>
                    <div style="text-align: center;"> <b>@Model.MinimumPaymentReleaseAmt</b></div>

                }
                @if (Model.IntermediateStatus)
                {
                    <table id="tblSimulation">
                        <tr>
                            @Html.ActionLink("View Calculation Status", "IntermediateStatus", "Payout")
                        </tr>
                    </table>

                }
            </div>
        </div>
    </div>


    <script src="~/Scripts/ConformDelete.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#validationMessages").hide();
        });
        //$('#txtFromDate').keydown(keyDownHandler); // use appropriate selector for the keydown handler

        //function keyDownHandler(e) {
        //    if (e.keyCode === 13) {
        //        e.stopPropagation();
        //        e.preventDefault();
        //        $('#btnCalculatePayout').click()
        //        return false;

        //    }
        //}

        $('#txtToDate').keydown(keyDownHandler1); // use appropriate selector for the keydown handler

        function keyDownHandler1(e) {
            if (e.keyCode === 13) {
                e.stopPropagation();
                e.preventDefault();
                $('#btnCalculatePayout').click()
                return false;

            }
        }

        @*$("#txtFromDate").keyup(function (e) {

        if (e.keyCode === 13) {
            if ($('#txtToDate').val() != '') {
                $('#btnCalculatePayout').click()
                return false;
            }
            else {
                validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterEndDate")</div>';
                flag = false;
            }

        }
        else if (e.keyCode != 9) {
            $(this).val('');
        }

    });*@
        $("#txtToDate").keyup(function (e) {
            //
            if (e.keyCode === 13) {
                if ($('#txtFromDate').val() != '') {
                    $('#btnCalculatePayout').click()
                    return false;
                }
                else {
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterStartDate")</div>';
                    flag = false;
                }

            }
            else if (e.keyCode != 9) {
                $(this).val('');
            }
        });

        $("#btnCalculatePayout").click(function () {
            var validationDivs = '';
            $('#validationMessages').html('');

            var EnteredDate = $("#txtToDate").val(); // For JQuery
            var EnteredFromdate = $("#txtFromDate").val();

            var myDate = new Date(getDateFromString($("#txtFromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
            var myFromDate = new Date(getDateFromString($("#txtToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));



            var validationDivs='';
            var start_time=$("#DatewiseFrom").val();
            var end_time=$("#DatewiseTo").val();

            var today = new Date().setHours(0, 0, 0, 0);
            if (myFromDate >= today) {

                //  alert("Date should be less than Today's date.");
                $('#validationMessages').show();
                validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanTodayDate")</div>';
                $('#validationMessages').append(validationDivs);
                return false;
            }
            if (myFromDate < myDate) {
                // alert("From Date Should Be Less Than ToDate");
                $('#validationMessages').show();
                validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                $('#validationMessages').append(validationDivs);
                return false;
            }


            if (EnteredFromdate == '' || EnteredFromdate == '__/__/____') {
                //alert("Enter From Date")
                $('#validationMessages').show();
                validationDivs = validationDivs + '<div>@T("Admin.MemberReports.enterfromdate")</div>';
                $('#validationMessages').append(validationDivs);
                return false;
            }



            if (EnteredDate == '' || EnteredDate == '__/__/____') {
                // alert("Enter To Date")
                $('#validationMessages').show();
                validationDivs = validationDivs + '<div>@T("Admin.MemberReports.entertodate")</div>';
                $('#validationMessages').append(validationDivs);
                return false;
            }
            var ttt=getDate($("#txtToDate").data("kendoDatePicker").value());

            $('#txtToDate').val(getDate($("#txtToDate").data("kendoDatePicker").value()));
            $('#txtFromDate').val($("#hFromDate").val());


            var postData = {
                FromDate: $("#hFromDate").val(),
                ToDate:getDate($("#txtToDate").data("kendoDatePicker").value())
            };
            addAntiForgeryToken(postData);

            $.ajax({
                type: "POST",
                url: "@(Url.Action("CheckBussinessStatus", "Payout"))",
                data: postData,
                success: function (data) {
                    if (data.result == false)
                    {
                        BussinessStatusZeroCase();
                    }
                    else
                    {
                        BussinessStatusCase();

                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                },
                traditional: true
            });
        });

        function BussinessStatusCase() {
            $("form").submit();
            return false;
        }

        function BussinessStatusZeroCase() {

            $(".jconfirm-content").hide();

            $.confirm({
                title: 'Complete Business is not yet updated for payout Period. Do you still want to continue ?',

                buttons: {
                    OK: function () {
                        $("form").submit();
                    },
                    Cancel: function () {
                        location.reload();
                    },

                }

            });
            return false;
        }
        //post data to the controller
        $('#btnApplySim').click(function (e) {

            e.preventDefault();

            var postData = {
                SimPercent: $("#lblSimPercent").val()
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("ApplySimulation", "Payout"))",
                data: postData,
                success: function (data) {
                    var newUrl = '@Url.Action("PayoutSuccess", "Payout")';
                    window.location.href = newUrl;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                },
                traditional: true
            });
            return false;

        });

        //post data to the controller
        $('#btnDoNotApplySim').click(function (e) {

            e.preventDefault();

            var postData = {
                SimPercent: $("#lblSimPercent").val()
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("DoNotApplySimulation", "Payout"))",
                data: postData,
                success: function (data) {
                    var str = window.location.href.split('/')[3];
                    var finalurl = 'http://punecs/' + str + '/Admin/Payout/PayoutSuccess'
                    window.location = finalurl;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                },
                traditional: true
            });
            return false;

        });
    </script>

}

