﻿@model Nop.Admin.ViewModel.DlPlanMstViewModel
@{
    ViewBag.Title = T("Admin.Customers.CalculateDirectPayout").Text;
}


@using (Html.BeginForm())
{
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Customers.CalculateDirectPayout")
        </h1>

    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                @if (Model.IsError)
                {
                    if (Model.showModel)
                    {
                        <div class="panel panel-default panel-search">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.NopLabelFor(model => model.lblPayoutNo)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.lblPayoutNo, new { @readonly = "readonly" })


                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.NopLabelFor(model => model.txtFromDate)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.txtFromDate, "{0:MM/dd/yyyy}", new { @readonly = "readonly" })

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.NopLabelFor(model => model.txtToDate)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.txtToDate)

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-8 col-md-offset-4">
                                                <button type="submit" id="btnCalculatePayout" name="Command" class="btn bg-blue"><i class="fa fa-search"></i>@T("Admin.Common.CalculatePayout")</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    if (Model.IsSimulation)
                    {
                        <div class="panel panel-default panel-search" id="tblSimulation">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.EditorFor(model => model.chkSimPer)
                                                @Html.NopLabelFor(model => model.chkSimPer)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.lblSimPercent, new { disabled = "disabled" })
                                                @Html.HiddenFor(model => model.lblSimPercent)


                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-8 col-md-offset-4">

                                                <button type="submit" id="btnApplySim" name="Command" class="btn bg-blue"><i class="fa fa-search"></i>@T("Admin.Common.ApplySim")</button>
                                                <button type="submit" id="btnDoNotApplySim" name="Command" class=" btn bg-blue"><i class="fa fa-search"></i>@T("Admin.Common.DoNotApply")</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

                @if (Model.IntermediateStatus)
                {
                <table id="tblSimulation">
                    <tr>
                        @Html.ActionLink("View Calculation Status", "IntermediateStatus", "Payout")
                    </tr>
                </table>
                }


                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#validationMessages").hide();
                    });

                    //$('#txtFromDate').keydown(keyDownHandler); // use appropriate selector for the keydown handler

                    //function keyDownHandler(e) {
                    //    if (e.keyCode === 13) {
                    //        e.stopPropagation();
                    //        e.preventDefault();
                    //        $('#btnCalculatePayout').click()
                    //        return false;

                    //    }
                    //}

                    $('#txtToDate').keydown(keyDownHandler1); // use appropriate selector for the keydown handler

                    function keyDownHandler1(e) {
                        if (e.keyCode === 13) {
                            e.stopPropagation();
                            e.preventDefault();
                            $('#btnCalculatePayout').click()
                            return false;

                        }
                    }

                    @*$("#txtFromDate").keyup(function (e) {
        
        if (e.keyCode === 13) {
            if ($('#txtToDate').val() != '') {
                $('#btnCalculatePayout').click()
                return false;
            }
            else {
                validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterEndDate")</div>';
                flag = false;
            }

        }
        else if (e.keyCode != 9) {
            $(this).val('');
        }

    });*@
                    $("#txtToDate").keyup(function (e) {
                        
                        if (e.keyCode === 13) {
                            if ($('#txtFromDate').val() != '') {
                                $('#btnCalculatePayout').click()
                                return false;
                            }
                            else {
                                validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterStartDate")</div>';
                                flag = false;
                            }

                        }
                        else if (e.keyCode != 9) {
                            $(this).val('');
                        }
                    });
                    $("#btnCalculatePayout").click(function () {
                        
                        var validationDivs = '';
                        $('#validationMessages').html('');

                        var EnteredDate = $("#txtToDate").val(); // For JQuery
                        var EnteredFromdate = $("#txtFromDate").val();

                        var date = EnteredDate.split('/')[1] // EnteredDate.substring(2, 4);
                        var month = EnteredDate.split('/')[0]  // EnteredDate.substring(0, 1);
                        var year = EnteredDate.split('/')[2]  //EnteredDate.substring(5, 10);

                        var Fromdate = EnteredFromdate.split('/')[1] //EnteredFromdate.substring(2, 4);
                        var Frommonth = EnteredFromdate.split('/')[0] // EnteredFromdate.substring(0, 1);
                        var FromyearSplit = EnteredFromdate.split('/')[2]; // EnteredFromdate.substring(5, 10);
                        var Fromyear = FromyearSplit.split(' ')[0];

                        var myDate = new Date(year, month - 1, date);

                        var myFromDate = new Date(Fromyear, Frommonth - 1, Fromdate);

                        var currentDate = new Date()
                        var day = currentDate.getDate()
                        var month = currentDate.getMonth() + 1
                        var year = currentDate.getFullYear()
                        var today = month + "/" + day + "/" + year;

                        if (Date.parse(EnteredDate) >= Date.parse(today)) {
                            //  alert("Date should be less than Today's date.");
                            $('#validationMessages').show();
                            validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanTodayDate")</div>';
                            $('#validationMessages').append(validationDivs);
                            return false;
                        }                       
                        if (Date.parse(myFromDate) > Date.parse(myDate)) {
                            //alert("From Date Should Be Less Than ToDate");
                            $('#validationMessages').show();
                            validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                            $('#validationMessages').append(validationDivs);
                            return false;
                        }

                        //if(EnteredFromdate!='' && EnteredFromdate!='__/__/____')
                        //{
                        //    alert("Enter Valid From Date")
                        //    return false;
                        //}

                        if (EnteredFromdate == '' || EnteredFromdate == '__/__/____') {
                            // alert("Enter From Date");
                            $('#validationMessages').show();
                            validationDivs = validationDivs + '<div>@T("Admin.MemberReports.enterfromdate")</div>';
                            $('#validationMessages').append(validationDivs);
                            return false;
                        }

                        //if (EnteredDate != '' && EnteredDate != '__/__/____') {
                        //    alert("Enter Valid To Date")
                        //    return false;
                        //}

                        if (EnteredDate == '' || EnteredDate == '__/__/____') {
                            /// alert("Enter To Date")
                            $('#validationMessages').show();
                            validationDivs = validationDivs + '<div>@T("Admin.MemberReports.entertodate")</div>';
                            $('#validationMessages').append(validationDivs);
                            return false;
                        }
                    });
                </script>

                <script>
                    //post data to the controller
                    $('#btnApplySim').click(function (e) {

                        e.preventDefault();

                        var postData = {
                            SimPercent: $("#lblSimPercent").val()
                        };
                        addAntiForgeryToken(postData);

                        $.ajax({
                            cache: false,
                            type: "POST",
                            url: "@(Url.Action("ApplySimulation", "Payout"))",
                            data: postData,
                            success: function (data) {
                                var newUrl = '@Url.Action("PayoutSuccess", "Payout")';
                                window.location.href = newUrl;
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(thrownError);
                            },
                            traditional: true
                        });
                        return false;

                    });

                    //post data to the controller
                    $('#btnDoNotApplySim').click(function (e) {

                        e.preventDefault();

                        var postData = {
                            SimPercent: $("#lblSimPercent").val()
                        };
                        addAntiForgeryToken(postData);

                        $.ajax({
                            cache: false,
                            type: "POST",
                            url: "@(Url.Action("DoNotApplySimulation", "Payout"))",
                            data: postData,
                            success: function (data) {
                                var str = window.location.href.split('/')[3];
                                var finalurl = 'http://punecs/' + str + '/Admin/Payout/PayoutSuccess'
                                window.location = finalurl;
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(thrownError);
                            },
                            traditional: true
                        });
                        return false;

                    });
                </script>

            </div>
        </div>
    </div>








}