﻿@model Nop.Admin.ViewModel.RoyaltyQualifierVM
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>
    ().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>
        ().GridPageSizes;

    ViewBag.Title = T("Admin.Customers.RoyaltyQualifier").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Forceful Royalty");
}

@using (Html.BeginForm())
{

    <div class="alert alert-success alert-dismissable" id="sucessMessages">
    </div>
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Customers.RoyaltyQualifier")
        </h1>

    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ddlChoice)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownList("ddlChoice", new List<SelectListItem>() { new SelectListItem { Text = "All Record(s)", Value = "3", Selected = true }, new SelectListItem { Text = "ID/Name-Wise", Value = "0" } })

                                    </div>
                                </div>
                                <div class="form-group" id="pnlMember">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.txtMember)

                                    </div>
                                    <div class="col-md-8">
                                        @Html.HiddenFor(model => model.memID)
                                        <input type="text" id="txtMember" value="" name="" />
                                        <input type="hidden" name="hiddenSearchMemno" id="hiddenSearchMemno" value=" " />
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="pnlRoyalty">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ddlRoyalty)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.ddlRoyalty, Model.royaltyList)

                                    </div>
                                </div>
                                <div class="form-group" id="pnlPeriodWise">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.txtFromDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.txtFromDate)

                                    </div>
                                </div>
                                <div class="form-group" id="pnlPeriodWise1">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.txtToDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.txtToDate)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <div id="divDateNote">
                                            <b id="MessageNote"> @T("Admin.Note.Note") </b> @T("Admin.Royaltyqualifiers.DateRangeNoteJoining")
                                        </div>
                                    </div>
                                </div>
                                <script>

                                    $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {

                                        var $check = $(this);
                                        if ($check.is(":checked") == true) {
                                            var checked = jQuery.inArray($check.val(), selectedIds);
                                            if (checked == -1) {
                                                //add id to selectedIds.
                                                var test=$check.val()
                                                selectedIds.push($check.val());
                                            }
                                            $("#SelectedValues").val(selectedIds);
                                            chkSearchAllPlan=true;
                                        }
                                        else {
                                            var checked = jQuery.inArray($check.val(), selectedIds);
                                            if (checked > -1) {
                                                //remove id from selectedIds.
                                                selectedIds = $.grep(selectedIds, function (item, index) {
                                                    return item != $check.val();
                                                });
                                                $("#SelectedValues").val(selectedIds);
                                            }
                                            chkSearchAllPlan=false;
                                        }
                                        updateMasterCheckbox();
                                    });

                                    $("#ddlChoice").change(function () {
                                        $("#pnlMember").hide();
                                        $("#pnlPeriodWise").show();
                                        $("#pnlPeriodWise1").show();

                                        if($("#ddlChoice").val()==0)
                                        {
                                            $("#pnlMember").show();
                                            $("#pnlPeriodWise").hide();
                                            $("#pnlPeriodWise1").hide();
                                        }
                                    });
                                    $(document).ready(function () {

                                        $("#validationMessages").hide();
                                        $("#sucessMessages").hide();

                                        $("#ddlChoice").val(3);
                                        $("#pnlMember").hide();
                                        $("#tblRemark").hide();
                                        $("#tblshowDate").hide();
                                        $("#chkOverright").change(function () {


                                            if($(this).is(":checked")) {
                                                $("#tblRemark").show();
                                            }
                                            else
                                                $("#tblRemark").hide();

                                        });


                                        $("#btnreset").click(function () {
                                            //
                                            $("#ddlChoice").val("3");
                                            $("#customers-grid").hide();

                                            $("#tblshowDate").hide();
                                            $("#btnProceed").hide();

                                            $("#pnlPeriodWise").show();

                                            $("#pnlPeriodWise1").show();
                                        });

                                    });
                                </script>

                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-3">

                                        <button type="button" id="Search" name="Command" class="btn bg-blue"><i class="fa fa-search"></i>@T("Admin.Common.Search")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" id="Froyaltygrid">
                    <div class="panel-body">
                        <div id="customers-grid"></div>

                        <script>

                            var selectedIds=new Array();
                           
                            //$(document).ready(function () {
                            $("#Search").click(function () {
                                var validationDivs='';

                                $('#remark').show();
                                $('#Froyaltygrid').show();
                                $('#validationMessages').html('');
                                $('#validationMessages').hide();
                                $('#sucessMessages').hide();
                                if($("#ddlChoice").val()==0)
                                {
                                    if($("#txtMember").val()=='')
                                    {
                                        //   alert("Enter Member ID");
                                        $('#validationMessages').show();
                                        validationDivs=validationDivs+'<div>@T("Admin.Ewallet.EnterMemberId")</div>';
                                        $('#validationMessages').append(validationDivs);

                                        return false;
                                    }
                                }
                                var EnteredDate = getDate($("#txtFromDate").data("kendoDatePicker").value());
                                var EnteredFromdate = getDate($("#txtToDate").data("kendoDatePicker").value());


                                var myDate = new Date(getDateFromString($("#txtFromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                var myFromDate = new Date(getDateFromString($("#txtToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));


                                var today = new Date();
                                var validationDivs='';
                                var start_time=$("#DatewiseFrom").val();
                                var end_time=$("#DatewiseTo").val();

                                if (myFromDate > today) {

                                    $('#validationMessages').show();
                                    validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                                    $('#validationMessages').append(validationDivs);
                                    $("#tblshowDate").hide();
                                    $("#btnProceed").hide();
                                    $("#customers-grid").hide();
                                    return false;
                                }
                                if (myFromDate < myDate) {
                                    $('#validationMessages').show();
                                    validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                                    $('#validationMessages').append(validationDivs);
                                    $("#tblshowDate").hide();
                                    $("#btnProceed").hide();
                                    $("#customers-grid").hide();
                                    return false;
                                }

                                else
                                {
                                    $("#tblshowDate").show();
                                    $("#btnProceed").show();
                                    $("#customers-grid").show();
                                }

                                $("#customers-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("RoyaltyQualifiersGrid", "Payout"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: false,
                                    columns: [{
                                        field: "Id",
                                        headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: "<input type='checkbox' value='#=MJD_MemID# #=MJD_MemNo#'  class='checkboxGroups'/>",
                                        width: 50
                                    },

                                      {
                                          field: "MJD_MemNo",
                                          title: "@T("Admin.Customers.Customers.Fields.MJD_MemNo")"
                                      },
                                        {
                                            field: "MJD_MemID",
                                            title: "@T("Admin.Customers.Customers.Fields.MJD_MemID")",
                                            hidden:true
                                        },
                        {
                            field: "MPD_Name",
                            title: "@T("Admin.Customers.Customers.Fields.MPD_Name")"
                        },

                        {
                            field: "MJD_DOJ",
                            title: "@T("Admin.Customers.Customers.Fields.MJD_DOJ")"
                        },

                        {  field: "txtAllTrnDate",
                            title: "@T("Admin.Customers.Customers.Fields.txtTRDate")",
                            template:"#=textbox(MJD_MemID)#"


                        }],
                                    dataBound: function(){
                                        var grid = this;
                                        grid.tbody.find("tr").each(function(e){
                                            var model = grid.dataItem(this);

                                            $(this).find('#txt'+model.MJD_MemID).kendoDatePicker({format: "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime",animation: { close: { duration: 300}}});

                                        });
                                    }
                                });



                            });
                            //
                            //alert(selectedIds.length);
                            //});


                            function  textbox(MJD_MemID){

                                str="<input id='txt"+MJD_MemID+"' type='date' class='dateTextbox' value='' />"
                                selectedIds[i]=MJD_MemID;
                                i++;

                                return str;
                            }

                        </script>


                        <script>

                            var i=0;
                            var selectedDate=[];


                            $(document).ready(function () {
                                $('#remark').hide();
                                $('#Froyaltygrid').hide();
                                $("#btnProceed").hide();
                                $("#tblRemark").hide();

                                $("#validationMessages").hide();


                                $('.checkboxGroups1').each(function(){
                                    $(this).kendoDatePicker();
                                });
                                $('#Search').click(function () {
                                    if($("#ddlChoice").val()==0)
                                    {
                                        if($("#txtMember").val()=='')
                                        {
                                            return false;
                                        }
                                    }
                                    //$("#tblshowDate").show();
                                    //$("#btnProceed").show();




                                    //search
                                    //$("#customers-grid").show();
                                    var grid = $('#customers-grid').data('kendoGrid');
                                    grid.dataSource.page(1); //new search. Set page size to 1
                                    var gridData = $("#customers-grid").data("kendoGrid").dataSource.data();
                                    $('.checkboxGroups').attr('checked', false).change();

                               
                                    return false;
                                });

                                $('#mastercheckbox').click(function () {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });



                                //post data to the controller
                                $('#btnProceed').click(function (e) {
                                    debugger;
                                    var validationDivs='';
                                    var flag='';

                                    $('#validationMessages').html('');
                                    $('#sucessMessages').html('');
                                    $('#validationMessages').hide();
                                    $('#sucessMessages').hide();

                                    if (selectedIds.length <= 0) {
                                        
                                          alert("Select Record");
                                        $('#validationMessages').show();
                                        validationDivs=validationDivs+'<div>@T("Admin.Payout.SelectRecord")</div>';
                                        $('#validationMessages').append(validationDivs);

                                        return false;
                                    }
                                    else {
                                        e.preventDefault();

                                        $.each(selectedIds, function (i, val) {
                                           
                                            var dateid;
                                            if($("#txt"+val.split(' ',1)).val() == null)
                                            {
                                                dateid=" ";
                                            }
                                            else
                                            {
                                                dateid=$("#txt"+val.split(' ',1)).val();
                                            }
                                            selectedDate.push(getDateFromString(dateid, "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                         
                                            //selectedDate.push($("#txt"+val.split(' ',1)).val());
                                            //   $('#txt'+val.split(' ',1)).kendoDatePicker({animation: { close: { effects: 'zoom:out',duration: 300}}});
                                        });

                                        var postData = {
                                            selectedIds: selectedIds,
                                            selectedDate: selectedDate,
                                            ddlRoyalty:$("#ddlRoyalty").val(),
                                            chkOverright:$('#chkOverright').prop('checked'),
                                            //chkOverright:$("#chkOverright").val(),
                                            // txtAllTrnDate:$("#txtAllTrnDate").val(),
                                            txtAllTrnDate:getDateFromString($("#txtAllTrnDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"),
                                            txtRemark:$("#txtRemark").val()
                                        };
                                        addAntiForgeryToken(postData);
                                        //
                                        $.ajax({
                                            cache: false,
                                            type: "POST",
                                            url: "@(Url.Action("SaveRoyaltyQualifiers", "Payout"))",
                                            data: postData,
                                            success: function (data) {
                                                if(data.result)
                                                {
                                                    //alert("hadfsdfsdfsdii");
                                                    $('#customers-grid').data('kendoGrid').dataSource.read(); 
                                                    $('#sucessMessages').show();
                                                    $('#sucessMessages').append(data.msg);
                                                    selectedDate=[];
                                                   
                                                }
                                                else
                                                {
                                                    $('#validationMessages').show();
                                                    $('#validationMessages').append(data.msg);
                                                    selectedDate=[];
                                                }
                                            },
                                            error: function (xhr, ajaxOptions, thrownError) {
                                                //   alert(thrownError);
                                            },
                                            traditional: true
                                        });
                                        return false;
                                    }
                                });

                            });
                            //wire up checkboxes.
                            $('#customers-grid').on('click', '#mastercheckbox', function (e) {

                                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                            });

                            $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {

                                var $check = $(this);
                                if ($check.is(":checked") == true) {
                                    var checked = jQuery.inArray($check.val(), selectedIds);
                                    if (checked == -1) {
                                        //add id to selectedIds.
                                        selectedIds.push($check.val());
                                    }
                                    $("#SelectedValues").val(selectedIds);

                                }
                                else {
                                    var checked = jQuery.inArray($check.val(), selectedIds);
                                    if (checked > -1) {
                                        //remove id from selectedIds.
                                        selectedIds = $.grep(selectedIds, function (item, index) {
                                            return item != $check.val();
                                        });
                                        $("#SelectedValues").val(selectedIds);
                                    }
                                }

                                updateMasterCheckbox();
                                //$.each(selectedIds, function (i, val) {

                                //    $('#txt'+val.split(' ',1)).kendoDatePicker({animation: { close: { effects: 'zoom:out',duration: 300}}});
                                //});
                            });

                            function onDataBound(e) {
                                $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);

                                });
                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }



                            function additionalData() {
                                var customerRoleIds = [];
                                $('[name=SearchCustomerRoleIds]:checked').each(function () {
                                    customerRoleIds.push($(this).val());
                                });

                                var StartDate = $("#txtFromDate").val();
                                var EndDate = $("#txtToDate").val();

                                var startDate = null;
                                var endDate = null;

                                if (StartDate != "")
                                    startDate = getDate($("#txtFromDate").data("kendoDatePicker").value());
                                if (EndDate != "")
                                    endDate = getDate($("#txtToDate").data("kendoDatePicker").value());


                                var data = {
                                    SearchddlChoice: $('#@Html.FieldIdFor(model => model.ddlChoice)').val(),
                                    SearchddlRoyalty: $('#@Html.FieldIdFor(model => model.ddlRoyalty)').val(),
                                    SearchtxtMember: $('#@Html.FieldIdFor(model => model.memID)').val(),
                                    SearchtxtFromDate: startDate,
                                    SearchtxtToDate: endDate

                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>
                        <script type="text/javascript">

                            $('#txtFromDate').keydown(keyDownHandler); // use appropriate selector for the keydown handler

                            function keyDownHandler(e) {
                                if (e.keyCode === 13) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                    $('#Search').click()
                                    return false;

                                }
                            }

                            $('#txtToDate').keydown(keyDownHandler1); // use appropriate selector for the keydown handler

                            function keyDownHandler1(e) {
                                if (e.keyCode === 13) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                    $('#Search').click()
                                    return false;

                                }
                            }

                            $("#txtFromDate").keyup(function (e) {
                                //
                                if (e.keyCode === 13) {
                                    if ($('#txtToDate').val() != '') {
                                        $('#Search').click()
                                        return false;
                                    }
                                    else {
                                        validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterEndDate")</div>';
                                        flag = false;
                                    }

                                }
                                else if (e.keyCode != 9) {
                                    $(this).val('');
                                }

                            });
                            $("#txtToDate").keyup(function (e) {
                                //
                                if (e.keyCode === 13) {
                                    if ($('#txtFromDate').val() != '') {
                                        $('#Search').click()
                                        return false;
                                    }
                                    else {
                                        validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterStartDate")</div>';
                                        flag = false;
                                    }

                                }
                                else if (e.keyCode != 9) {
                                    $(this).val('');
                                }
                            });

                            $('#ddlChoice').live('keypress',function(e){
                                if(e.keyCode === 13) {
                                    $('#Search').click()
                                    return false;
                                }
                            });

                            $('#ddlRoyalty').live('keypress',function(e){
                                if(e.keyCode === 13) {
                                    $('#Search').click()
                                    return false;
                                }
                            });

                            $("#txtMember").keydown(function(e){

                                if((e.which === 13 || e.which === 9) && $('#hiddenSearchMemno').val()!=" "){

                                    $('#Search').click()
                                    return false;
                                }
                            });

                            $("#btnCalculatePayout").click(function () {
                                //
                                //var EnteredDate = $("#txtToDate").val(); // For JQuery
                                //var EnteredFromdate = $("#txtFromDate").val();

                                var myDate = new Date(getDateFromString($("#txtFromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                var myFromDate = new Date(getDateFromString($("#txtToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));


                                var today = new Date();
                                var validationDivs='';
                                var start_time=$("#DatewiseFrom").val();
                                var end_time=$("#DatewiseTo").val();

                                if (myFromDate > today) {

                                    $('#validationMessages').show();
                                    validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                                    $('#validationMessages').append(validationDivs);
                                    return false;
                                }
                                if (myFromDate < myDate) {
                                    $('#validationMessages').show();
                                    validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                                    $('#validationMessages').append(validationDivs);
                                    return false;
                                }




                                //if(EnteredFromdate!='' && EnteredFromdate!='__/__/____')
                                //{
                                //    alert("Enter Valid From Date")
                                //    return false;
                                //}

                                if (EnteredFromdate == '' || EnteredFromdate == '__/__/____') {
                                    //alert("Enter From Date")
                                    $('#validationMessages').show();
                                    validationDivs = validationDivs + '<div>@T("Admin.MemberReports.enterfromdate")</div>';
                                    $('#validationMessages').append(validationDivs);
                                    return false;
                                }

                                //if (EnteredDate != '' && EnteredDate != '__/__/____') {
                                //    alert("Enter Valid To Date")
                                //    return false;
                                //}

                                if (EnteredDate == '' || EnteredDate == '__/__/____') {
                                    // alert("Enter To Date")
                                    $('#validationMessages').show();
                                    validationDivs = validationDivs + '<div>@T("Admin.MemberReports.entertodate")</div>';
                                    $('#validationMessages').append(validationDivs);
                                    return false;
                                }
                            });
                        </script>
                    </div>
                </div>
                <div class="panel panel-default" id="remark">
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="form-group" id="tblshowDate">
                                <div class="col-md-10">
                                    @Html.LabelFor(model => model.lblTRNote)
                                </div>
                                <div class="col-md-2">

                                    @Html.NopEditorFor(model => model.chkOverright)

                                </div>
                            </div>
                            <div id="tblRemark">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.chkOverright)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopEditorFor(model => model.txtAllTrnDate)

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.txtRemark)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopTextAreaFor(model => model.txtRemark)

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="pnlButton">
                            <div class="col-md-4 col-md-offset-3">

                                <button type="button" id="btnProceed" name="Command" class="btn bg-blue"><i class="fa fa-floppy-o"></i>@T("Admin.Common.proceed")</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script type="text/javascript">

        $("#txtToDate").keyup(function () {
            $(this).val('');
        });

        $("#txtFromDate").keyup(function () {
            $(this).val('');
        });

        $("#btnCalculatePayout").click(function () {

            //var EnteredDate = $("#txtToDate").val(); // For JQuery
            //var EnteredFromdate = $("#txtFromDate").val();


            var myDate = new Date(getDateFromString($("#txtFromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
            var myFromDate = new Date(getDateFromString($("#txtToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));


            var today = new Date();
            var validationDivs='';
            var start_time=$("#DatewiseFrom").val();
            var end_time=$("#DatewiseTo").val();

            if (myFromDate > today) {

                $('#validationMessages').show();
                validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                $('#validationMessages').append(validationDivs);
                return false;
            }
            if (myFromDate < myDate) {
                $('#validationMessages').show();
                validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                $('#validationMessages').append(validationDivs);
                return false;
            }

            //if(EnteredFromdate!='' && EnteredFromdate!='__/__/____')
            //{
            //    alert("Enter Valid From Date")
            //    return false;
            //}

            if (EnteredFromdate == '' || EnteredFromdate == '__/__/____') {
                // alert("Enter From Date")
                $('#validationMessages').show();
                validationDivs = validationDivs + '<div>@T("Admin.MemberReports.enterfromdate")</div>';
                $('#validationMessages').append(validationDivs);
                return false;
            }

            //if (EnteredDate != '' && EnteredDate != '__/__/____') {
            //    alert("Enter Valid To Date")
            //    return false;
            //}

            if (EnteredDate == '' || EnteredDate == '__/__/____') {
                //alert("Enter To Date")
                $('#validationMessages').show();
                validationDivs = validationDivs + '<div>@T("Admin.MemberReports.entertodate")</div>';
                $('#validationMessages').append(validationDivs);
                return false;
            }
        });
    </script>
    <script>
        $('#txtMember').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("SearchTermAutoComplete", "Payout"))',
            appendTo: '.search-box',
            select: function (event, ui) {

                $("#memID").val(ui.item.MJD_MemID);
                $("#hiddenSearchMemno").val(ui.item.MJD_MemID);
                $("#txtMember").val(ui.item.label);
                $("#divfirstname").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };
    </script>
}
