﻿@model Nop.Admin.ViewModel.RoyaltyQualifierVM
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    ViewBag.Title = T("Admin.Customers.RoyaltyQualifierReport").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Royalty Qualifiers");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Customers.RoyaltyQualifierReport")
        </h1>
        <div class="pull-right">

            <div class="btn-group">
                <button type="submit" name="exportexcel-all" id="exportexcelall" class="btn btn-success">
                    <i class="fa fa-download"></i>
                    @T("Admin.Common.ExportToExcel")
                </button>

            </div>

        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ddlChoice)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownList("ddlChoice", new List<SelectListItem>() { new SelectListItem { Text = "Qualified", Value = "1" }, new SelectListItem { Text = "Forceful", Value = "2" } })

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ddlOptions)

                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownList("ddlOptions", new List<SelectListItem>() { new SelectListItem { Text = "Select Option", Value = "0" }, new SelectListItem { Text = "Date-wise", Value = "1" }, new SelectListItem { Text = "Royalty-wise", Value = "2" }, new SelectListItem { Text = "ID/Name-wise", Value = "3" } })

                                    </div>
                                </div>
                                <div class="form-group" id="pnlMember">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.txtMember)

                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" id="txtMember" value="" name="" class="form-control" />
                                        @*<input type="hidden" name="hiddenSearchMemno" id="hiddenSearchMemno" value=" " />*@
                                        @Html.HiddenFor(model => model.hiddenSearchMemno)
                                        <div id="divfirstname" class="inputs"></div>

                                    </div>
                                </div>
                                <div class="form-group" id="pnlRoyalty">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ddlRoyalty)

                                    </div>
                                    <div class="col-md-8">
                                        <input type="hidden" value="@Model.ddlRoyalty" id="HddlRoyalty" />
                                        @Html.NopDropDownListFor(model => model.ddlRoyalty, Model.royaltyList)

                                    </div>
                                </div>
                                <div class="form-group" id="pnlPeriodWise">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.txtFromDate)

                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.txtFromDate)
                                        @Html.HiddenFor(model => model.HtxtFromDate)
                                    </div>
                                </div>
                                <div class="form-group" id="pnlPeriodWise1">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.txtToDate)

                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.txtToDate)
                                        @Html.HiddenFor(model => model.HtxtToDate)

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <div id="divDateNote">
                                            <b id="MessageNote"> @T("Admin.Note.Note") </b> @T("Admin.Royaltyqualifiers.DateRangeNote")
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-3">

                                        <button type="button" id="Search" name="Command" class="btn bg-blue"><i class="fa fa-search"></i>@T("Admin.Common.Search")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" id="showroyalty">
                    <div class="panel-body">
                        <div id="customers-grid"></div>
                        <script>
                            $('#txtFromDate').keydown(keyDownHandler); // use appropriate selector for the keydown handler

                            function keyDownHandler(e) {
                                if (e.keyCode === 13) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                    $('#Search').click()
                                    return false;
                                }
                            }

                            $('#txtToDate').keydown(keyDownHandler1); // use appropriate selector for the keydown handler

                            function keyDownHandler1(e) {
                                if (e.keyCode === 13) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                    $('#Search').click()
                                    return false;
                                }
                            }

                            $("#txtFromDate").keyup(function (e) {
                                //  
                                if (e.keyCode === 13) {
                                    if ($('#txtToDate').val() != '') {
                                        $('#Search').click()
                                        return false;
                                    }
                                    else {
                                        validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterEndDate")</div>';
                                        flag = false;
                                    }
                                }
                                else if (e.keyCode != 9) {
                                    $(this).val('');
                                }
                            });
                            $("#txtToDate").keyup(function (e) {
                                //  
                                if (e.keyCode === 13) {
                                    if ($('#txtFromDate').val() != '') {
                                        $('#Search').click()
                                        return false;
                                    }
                                    else {
                                        validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterStartDate")</div>';
                                        flag = false;
                                    }
                                }
                                else if (e.keyCode != 9) {
                                    $(this).val('');
                                }
                            });

                            $('#ddlChoice').live('keypress',function(e){
                                if(e.keyCode === 13) {
                                    $('#Search').click()
                                    return false;
                                }
                            });

                            $('#ddlOptions').live('keypress',function(e){
                                if(e.keyCode === 13) {
                                    $('#Search').click()
                                    return false;
                                }
                            });

                            $('#ddlRoyalty').live('keypress',function(e){
                                if(e.keyCode === 13) {
                                    $('#Search').click()
                                    return false;
                                }
                            });


                            $("#txtMember").keydown(function(e){
                                if((e.which === 13 || e.which === 9) && $('#hiddenSearchMemno').val()!=" "){

                                    $('#Search').click()
                                    return false;
                                }
                            });

                            $(document).ready(function () {
                                $("#showroyalty").hide();
                                $("#Search").click(function () {
                                    

                                    $("#validationMessages").hide();
                                    if($("#ddlOptions").val()==0)
                                    {
                                        $("#validationMessages").show();
                                        $("#validationMessages").html("@T("Admin.common.Selectoption")");
                                        $("#showroyalty").hide();
                                        return false;
                                    }
                                    else if($("#ddlOptions").val()==3)
                                    {
                                        var memID= $("#txtMember").val();
                                        // $("#hiddenSearchMemno").val()==" " ||
                                        if( memID=="" )
                                        {
                                            $("#validationMessages").show();
                                            $("#validationMessages").html("@T("Admin.Validation.IdNameRequired")");
                                            $("#showroyalty").hide();
                                            return false;
                                        }
                                        else
                                        {
                                            getGrid();
                                            $("#validationMessages").hide();
                                            $("#customers-grid").show();
                                            $("#showroyalty").show();
                                            var grid = $('#customers-grid').data('kendoGrid');
                                            grid.dataSource.page(1); //new search. Set page size to 1
                                            //grid.dataSource.read(); we already loaded the grid above using "page" function
                                            //clear selected checkboxes
                                            return false;
                                        }
                                    }
                                    else if ($("#ddlOptions").val() == 1) {
                                        if (($("#txtFromDate").val() == "") || ($("#txtToDate").val() == "")) {
                                            $("#validationMessages").show();
                                            $("#validationMessages").html("@T("Admin.common.DaterangeSelecError")");
                                            return false;
                                        }
                                        else
                                        {
                                            //var EnteredDate = $("#txtToDate").val(); // For JQuery
                                            //var EnteredFromdate = $("#txtFromDate").val();
                                            var EnteredDate = getDate($("#txtFromDate").data("kendoDatePicker").value());
                                            var EnteredFromdate=getDate($("#txtToDate").data("kendoDatePicker").value());

                                            var myDate = new Date(getDateFromString($("#txtFromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                            var myFromDate = new Date(getDateFromString($("#txtToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));


                                            var today = new Date();
                                            var validationDivs='';
                                            var start_time=$("#DatewiseFrom").val();
                                            var end_time=$("#DatewiseTo").val();

                                            if (myFromDate > today) {

                                                $('#validationMessages').show();
                                                $('#validationMessages').html("@T("Admin.Validation.DateLessthanToday")");
                                                return false;
                                            }
                                            else if (myFromDate < myDate) {
                                                $('#validationMessages').show();
                                                $('#validationMessages').html("@T("Admin.Validation.StartDateLessThanEndDate")");
                                                @*validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                                        $('#validationMessages').append(validationDivs);*@
                                                return false;
                                            }

                                            else {
                                                getGrid();
                                                $("#validationMessages").hide();
                                                $("#customers-grid").show();
                                                $("#showroyalty").show();
                                                var grid = $('#customers-grid').data('kendoGrid');
                                                grid.dataSource.page(1); //new search. Set page size to 1
                                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                                //clear selected checkboxes
                                                return false;
                                            }
                                        }
                                    }else
                                    {
                                        getGrid();
                                        $("#validationMessages").hide();
                                        $("#customers-grid").show();
                                        $("#showroyalty").show();
                                        var grid = $('#customers-grid').data('kendoGrid');
                                        grid.dataSource.page(1); //new search. Set page size to 1
                                        //grid.dataSource.read(); we already loaded the grid above using "page" function
                                        //clear selected checkboxes
                                        return false;
                                    }
                                });
                            });

                            function getGrid()
                            {
                                $("#validationMessages").hide();
                                $("#customers-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("RoyaltyQualifiersReportGrid", "Payout"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: false,
                                    columns: [  {
                                        field: "Name",
                                        title: "@T("Admin.Customers.Customers.Fields.Name")"
                                    }, {
                                        field: "QualificationDate",
                                        title: "@T("Admin.Customers.Customers.Fields.QualificationDate")"
                                    }, {
                                        field: "JoiningDate",
                                        title: "@T("Admin.Customers.Customers.Fields.JoiningDate")"
                                    },  {
                                        field: "Royalty",
                                        title: "@T("Admin.Customers.Customers.Fields.Royalty")"
                                    },{
                                        field: "Package",
                                        title: "@T("Admin.Customers.Customers.Fields.Package")"
                                    }]
                                });
                            }
                            $("#exportexcelall").click(function () 
                            {
                                var StartDate=$("#txtFromDate").val();
                                var EndDate=$("#txtToDate").val();
                             
                                if(StartDate!="")
                                {
                                    $("#HtxtFromDate").val(getDateFromString($("#txtFromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                }
                                else{
                                    $("#HtxtFromDate").val(StartDate)
                                }
                                if(EndDate!="")
                                {
                                    $("#HtxtToDate").val(getDateFromString($("#txtToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                                }
                                else{
                                    $("#HtxtToDate").val(EndDate)
                                }                               
                            });
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        $("#validationMessages").hide();
        $("#divDateNote").hide();

        $("#ddlOptions").change(function () {
            $("#pnlMember").hide();
            $("#pnlRoyalty").hide();
            $("#pnlPeriodWise").hide();
            $("#pnlPeriodWise1").hide();
            $("#divDateNote").hide();
            if ($("#ddlOptions").val() == 1) {
                $("#pnlMember").hide();
                $("#pnlRoyalty").hide();
                $("#pnlPeriodWise").show();
                $("#pnlPeriodWise1").show();
                $("#divDateNote").show();
            }
            else if ($("#ddlOptions").val() == 2) {
                $("#pnlMember").hide();
                $("#pnlRoyalty").show();
                $("#pnlPeriodWise").hide();
                $("#pnlPeriodWise1").hide();
            }
            else if ($("#ddlOptions").val() == 3) {
                $("#pnlMember").show();
                $("#pnlRoyalty").hide();
                $("#pnlPeriodWise").hide();
                $("#pnlPeriodWise1").hide();
            }
        });

        $(document).ready(function () {
            
            var test=$("#ddlOptions").val();
            if($("#ddlOptions").val()=="2")
            {
                $("#pnlRoyalty").show();
            }
            else
            {
                $("#pnlRoyalty").hide();
            }

            if($("#ddlOptions").val()=="3")
            {
                $("#pnlMember").show();
            }
            else
            {
                $("#pnlMember").hide();
            }

            if($("#ddlOptions").val()=="1")
            {
                $("#pnlPeriodWise").show();
                $("#pnlPeriodWise1").show();
                $("#divDateNote").show();
            }
            else
            {
                $("#pnlPeriodWise").hide();
                $("#pnlPeriodWise1").hide();
                $("#divDateNote").hide();
            }
            $("#validationMessages").hide();
            //$("#pnlMember").hide();

            //$("#pnlPeriodWise").hide();
            //$("#pnlPeriodWise1").hide();  $("#divDateNote").hide();
            //$("#ddlOptions").val("0");
            //$("#ddlChoice").val("1");
            $("#btnreset").click(function(){
                $("#pnlMember").hide();
                $("#pnlRoyalty").hide();
                $("#pnlPeriodWise").hide();
                $("#pnlPeriodWise1").hide();  
                $("#divDateNote").hide();$("#customers-grid").hide();
            })
        });

    </script>

    <script>

        $(document).ready(function () {
            @*$('#Search').click(function () {
                //search
                if($("#ddlOptions").val()==0)
                {
                    $("#validationMessages").show();
                    $("#validationMessages").html("@T("Admin.common.Selectoption")");
                    return false;
                }
                if($("#ddlOptions").val()==3)
                {
                    if($("#txtMember").val()=='')
                    {
                        $("#validationMessages").show();
                        $("#validationMessages").html("@T("admin.customerreport.memid")");
                        return false;
                    }
                }
                if($("#ddlOptions").val()==1)
                {
                    if( ($("#txtFromDate").val()=='') || ($("#txtToDate").val()==''))
                    {
                        $("#validationMessages").show();
                        $("#validationMessages").html("@T("Admin.common.DaterangeSelecError")");
                        return false;
                    }
                }
                else
                {

                }
            });*@
            //$('#customers-grid').on('click', '#mastercheckbox', function (e) {

            //    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
            //});

            //wire up checkboxes.
            //$('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
            //    var $check = $(this);
            //    if ($check.is(":checked") == true) {
            //        var checked = jQuery.inArray($check.val(), selectedIds);
            //        if (checked == -1) {
            //            //add id to selectedIds.
            //            selectedIds.push($check.val());
            //        }
            //        $("#SelectedValues").val(selectedIds);

            //    }
            //    else {
            //        var checked = jQuery.inArray($check.val(), selectedIds);
            //        if (checked > -1) {
            //            //remove id from selectedIds.
            //            selectedIds = $.grep(selectedIds, function (item, index) {
            //                return item != $check.val();
            //            });
            //            $("#SelectedValues").val(selectedIds);
            //        }
            //    }
            //    updateMasterCheckbox();
            //});
        });

        //function onDataBound(e) {
        //    $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
        //        var currentId = $(this).val();
        //        var checked = jQuery.inArray(currentId, selectedIds);
        //        //set checked based on if current checkbox's value is in selectedIds.
        //        $(this).attr('checked', checked > -1);
        //    });
        //    updateMasterCheckbox();
        //}

        //function updateMasterCheckbox() {
        //    var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
        //    var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
        //    $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
        //}

        function additionalData() {
            var StartDate = $("#txtFromDate").val();
            var EndDate = $("#txtToDate").val();

            var startDate = null;
            var endDate = null;

            if (StartDate != "")
                startDate = getDate($("#txtFromDate").data("kendoDatePicker").value());
            if (EndDate != "")
                endDate = getDate($("#txtToDate").data("kendoDatePicker").value());
             
            var data = {
                SearchddlChoice: $('#@Html.FieldIdFor(model => model.ddlChoice)').val(),
                SearchddlOptions: $('#@Html.FieldIdFor(model => model.ddlOptions)').val(),
                SearchddlRoyalty: $('#@Html.FieldIdFor(model => model.ddlRoyalty)').val(),
                SearchtxtMember: $("#hiddenSearchMemno").val(),
                SearchtxtFromDate: startDate,
                SearchtxtToDate: endDate
            };
            addAntiForgeryToken(data);
            return data;
        }
    </script>

    <script>
        $('#txtMember').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("SearchTermAutoComplete", "Payout"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                $("#hiddenSearchMemno").val(ui.item.MJD_MemID);
                $("#txtMember").val(ui.item.label);
                $("#divfirstname").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };
    </script>


}