﻿@model Nop.Admin.Models.PuchaseOrders.PurchaseOrderModel
@using Nop.Admin.WebServices;
@using Nop.Core;

@Html.ValidationSummary(false)

<div class="content">
    <div class="form-horizontal">
        <div id="product-attribute-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-info", @T("Admin.Catalog.Attributes.ProductAttributes.Info"), true)
            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="selected-tab-name" name="selected-tab-name" value="@(Html.GetSelectedTabName())">
@helper TabInfo()
{
var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
//var _currencyService = DependencyResolver.Current.GetService<ICurrencyService>();
var isVFMember = EngineContext.Current.Resolve<IWorkContext>().WorkingCurrency.DisplayLocale;
var currency = WebService.GetCurrencySymbol(isVFMember);



    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-7">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.SupplierName)
                        </div>
                        <div class="col-md-6">
                            @Html.NopEditorFor(model => model.SupplierName)

                            @Html.HiddenFor(model => model.SupplierId)
                            @Html.ValidationMessageFor(model => model.SupplierName)
                            <div id="divfirstname" class="inputs">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />

        <div id="relatedproducts-grid"></div>
        <script>
            $(document).ready(function () {
                $("#validationMessages").hide();
                $("#relatedproducts-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("RelatedProductList", "PurchaseOrder", new { productId = Model.Id }))",
                                type: "POST",
                                dataType: "json",
                                data: addAntiForgeryToken
                            },
                            update: {
                                url: "@Html.Raw(Url.Action("RelatedProductUpdate", "PurchaseOrder"))",
                                type: "POST",
                                dataType: "json",
                                data: addAntiForgeryToken
                            },
                            destroy: {
                                url: "@Html.Raw(Url.Action("RelatedProductDelete", "PurchaseOrder"))",
                                type: "POST",
                                dataType: "json",
                                data: addAntiForgeryToken
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors",
                            model: {
                                id: "Id",
                                fields: {
                                    Product2Name: { editable: false, type: "string" },
                                    Quantity: { editable: true, type: "number" },
                                    Amount: { editable: false, type: "number" },
                                    ProductCost: { editable: false, type: "number" }
                                }
                            }
                        },
                        requestEnd: function (e) {
                            if (e.type == "update") {
                                this.read();
                            }
                        },
                        error: function (e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    pageable: {
                        refresh: true,
                        numeric: false,
                        previousNext: false,
                        info: false
                    },
                    editable: {
                        confirmation: false,
                        mode: "inline"
                    },
                    scrollable: false,
                    dataBound: onDataBound,
                    columns: [{
                        field: "Product2Name",
                        title: "@T("Admin.Catalog.Products.RelatedProducts.Fields.Product")"
                    }, {
                        field: "ProductCost",
                        title: "@T("Admin.Inventory.PurchaseOrder.RelatedProducts.ProductCost")",
                        //integer format
                        //format: "{0:0}",
                        // width: 150
                    }, {
                        field: "Quantity",
                        title: "@T("Admin.Inventory.PurchaseOrder.RelatedProducts.Quantity")",
                        //integer format
                        format: "{0:0}",
                        // width: 150,
                        footerTemplate: '<div>@T("Admin.Inventory.PurchaseOrder.RelatedProducts.Total-Quantity"): <span id=\"total-quantity\"></span></div>'

                    }, {
                        field: "Amount",
                        title: "@T("Admin.Inventory.PurchaseOrder.RelatedProducts.Amount")",
                        //integer format
                        width: 150,
                        template: '#=caculateAmount(ProductCost ,Quantity)#',
                        @*footerTemplate: '<div>@T("Admin.Inventory.PurchaseOrder.RelatedProducts.Sub-Total"): @currency<span id=\"sub-total\"></span></div>'*@
                        footerTemplate: '<div>@T("Admin.Inventory.PurchaseOrder.RelatedProducts.Sub-Total"): <span id=\"sub-total\"></span></div>'

                    },
                                    @*{
                                field: "ProductId2",
                                title: "@T("Admin.Common.View")",
                                width: 100,
                                template: '<a href="@Url.Content("~/Admin/Product/Edit/")#=ProductId2#">@T("Admin.Common.View")</a>'
                            },*@
                    {
                        command: [{
                            name: "edit",
                            text: {
                                edit: "@T("Admin.Common.Edit")",
                                update: "@T("Admin.Common.Update")",
                                cancel: "@T("Admin.Common.Cancel")"
                            }
                        }, {
                            name: "destroy",
                            text: "@T("Admin.Common.Delete")"
                        }],
                        width: 200
                    }]
                });

                //$("#product-attribute-edit").kendoTabStrip({
                //    animation: {
                //        open: {
                //            effects: "fadeIn"
                //        }
                //    },
                //    select: tabstrip_on_tab_select
                //});

                $('#Freight').on('change', function () {
                    calculateSummary();
                });
                $('#Other').on('change', function () {
                    calculateSummary();
                });

                var supplierId = '@Model.SupplierId';
                if (supplierId != '' && parseInt(supplierId) > 0)
                    fetchSupplierDetails(supplierId);
            });

            function onDataBound(e) {
                // alert('I M HERE');
                calculateSummary();
            }


            function caculateAmount(cost, quantity) {
                return cost * quantity;
                calculateSummary()
            }

            function calculateSummary() {
                var subTotal = 0;
                var totalQuantity = 0;
                var NetAmount = 0;

                $('#relatedproducts-grid table').find('tr').each(function (key, val) {
                    if (key > 1) {
                        //  alert($(this).find('td:eq(3)').html());
                        var amount = $(this).find('td:eq(3)').html();
                        if (amount != '') {
                            subTotal += parseFloat(amount);
                        }

                        var quantity = $(this).find('td:eq(2)').html();
                        if (quantity != '') {
                            totalQuantity += parseInt(quantity);
                        }
                    }

                });
                NetAmount += subTotal;
                var freight = parseFloat($('#Freight').val());
                var otherTax = parseFloat($('#Other').val());
                if (!isNaN(freight))
                    NetAmount += freight;
                if (!isNaN(otherTax))
                    NetAmount += otherTax;
                //  alert('totalQuantity' + totalQuantity);
                $('#total-amount').text(subTotal);

                $('#sub-total').text('@Html.Raw(@Model.currencysymbol)' + subTotal);
                $('#SubTotal').val(subTotal);

                $('#payableAmount').text(NetAmount);
                $('#PayableAmount').val(NetAmount);
                $('#TotalQuantity').val(totalQuantity);
                $('#total-quantity').text(totalQuantity);
            }
        </script>
    </div>


    <div>
        <div class="col-md-2">
            <input type="submit" id="btnAddNewRelatedProduct" value="@T("Admin.Inventory.PurchaseOrder.Products.AddNew")" onclick="javascript:OpenWindow('@(Url.Action("RelatedProductAddPopup", "PurchaseOrder", new { productId = Model.Id, btnId = "btnRefreshProducts", formId = "productattribute-form" }))    ', 800, 800, true); return false;" class="btn bg-blue" />
            <input type="submit" id="btnRefreshProducts" style="display: none" />
            @*<button type="submit" id="btnAddNewRelatedProduct" name="exportexcelsupplierdetailall" class="btn bg-blue" onclick="javascript:OpenWindow('@(Url.Action("RelatedProductAddPopup", "PurchaseOrder", new { productId = Model.Id, btnId = "btnRefreshProducts", formId = "productattribute-form" }))    ', 800, 800, true); return false;">

                    @T("Admin.Inventory.PurchaseOrder.Products.AddNew")
                </button>
                <input type="submit" id="btnRefreshProducts" style="display: none" />*@

            <script type="text/javascript">
                $(document).ready(function () {

                    $('#btnRefreshProducts').click(function () {
                        //   alert('calling btnRefreshProducts');
                        //refresh grid
                        var grid = $("#relatedproducts-grid").data('kendoGrid');
                        grid.dataSource.read();
                        // grid.dataSource.page();
                        //return false to don't reload a page
                        return false;
                    });
                });
            </script>
        </div>
    </div>
    <br /><br />
    @Html.HiddenFor(t => t.SubTotal)
    @Html.HiddenFor(t => t.Id)
    @Html.HiddenFor(t => t.PayableAmount)
    @Html.HiddenFor(t => t.TotalQuantity)

    <div class="row">
        <div class="col-md-12">
            <div class="box box-info " id="nopcommerce-news-box">

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="panel panel-info">
                                    <div class="panel-heading clearfix">
                                        <a class="pull-left">@T("Admin.PurchaseOrder.SupplierDetails")</a>

                                    </div>
                                    <div class="panel-body" id="Venodar-Dtls" style=" height 450px">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @T("Admin.Supplier.List.SearchName"):
                                            </div>
                                            <div class="col-md-8">
                                                <strong><span id="suppName"></span></strong>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @T("Admin.JoiningDetailsReport.ShpAddress"):
                                            </div>
                                            <div class="col-md-8">
                                                <strong><span id="address"></span></strong>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @T("Admin.Supplier.ContactPerson"):
                                            </div>
                                            <div class="col-md-8">
                                                <strong> <span id="contactPerson"></span></strong>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <div>@T("Admin.JoiningDetailsReport.Mobile"):</div>
                                            </div>
                                            <div class="col-md-8">
                                                <strong> <span id="mobileNumber"></span></strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="panel panel-info">
                                    <div class="panel-heading clearfix">
                                        <a class="pull-left">@T("Admin.PurchaseOrder.ShippingDetails")</a>
                                    </div>
                                    <div class="panel-body" id="address-dtls" style=" height 450px">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <div>@T("Account.CustomerAddresses"):</div>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.NopTextAreaFor(model => model.Address, new { rows = "3" })
                                                @Html.ValidationMessageFor(model => model.Address)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <div>@T("Admin.Supplier.ContactPerson"):</div>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.NopEditorFor(model => model.ContactPerson)
                                                @Html.ValidationMessageFor(model => model.ContactPerson)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <div>@T("Admin.JoiningDetailsReport.Mobile"):</div>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.NopEditorFor(model => model.ContactNumber)
                                                @Html.ValidationMessageFor(model => model.ContactNumber)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="panel panel-info">
                                    <div class="panel-heading clearfix">
                                        <a class="pull-left">@T("Admin.PurchaseOrder.Terms")</a>

                                    </div>
                                    <div class="panel-body" id="address-dtls" style=" height 450px">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <div>@T("Admin.Inventory.PurchaseOrder.RelatedProducts.Sub-Total"):</div>
                                            </div>
                                            <div class="col-md-8">
                                                <strong>@currency <span id="total-amount">0</span></strong>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <div>@T("Admin.PurchaseOrder.Freight"):</div>
                                            </div>
                                            <div class="col-md-8">
                                                <strong>@currency</strong>@Html.NopEditorFor(model => model.Freight)
                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                                <div class="col-md-4">

                                                </div>
                                                <div class="col-md-8">
                                                    @Html.NopEditorFor(model => model.Freight)

                                                </div>
                                            </div>*@
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <div>@T("Admin.PurchaseOrder.Other"):</div>
                                            </div>
                                            <div class="col-md-8">
                                                <strong>@currency</strong>@Html.NopEditorFor(model => model.Other)
                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                                <div class="col-md-4">

                                                </div>
                                                <div class="col-md-8">
                                                    @Html.NopEditorFor(model => model.Other)
                                                </div>
                                            </div>*@
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <div>@T("Admin.PurchaseOrder.AmountPayable"):</div>
                                            </div>
                                            <div class="col-md-8">
                                                <strong>@currency</strong>
                                                <span id="payableAmount">0</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <div>@T("Admin.PurchaseOrder.PaymentMethod"):</div>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.NopDropDownListFor(model => model.PaymentMethod, Model.AvailablePaymentMethods, new { })
                                                @Html.ValidationMessageFor(model => model.PaymentMethod)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <div>@T("Admin.Supplier.Comments"):</div>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.NopTextAreaFor(model => model.Comment, new { rows = "3" })
                                                @Html.ValidationMessageFor(model => model.Comment)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('#SupplierName').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("BindSupplierName", "PurchaseOrder"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                //
                //  $("#ProductId").val(ui.item.Id);
                //$("#memberID").val(ui.item.label);
                $("#SupplierName").val(ui.item.SupplierName);
                $("#divfirstname").show();
                $("#SupplierId").val(ui.item.SupplierId);

                fetchSupplierDetails(ui.item.SupplierId);

            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            //
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
            $("#AddToSupp").show();
        };

        function fetchSupplierDetails(supplierId) {
            var data = { id: supplierId };
            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("SupplierResult", "PurchaseOrder"))",
                type: "POST",
                dataType: "json",
                data: data, success: function (result) {
                    //
                    $("#suppName").text(result.Name + ' [' + result.Code + ']');
                    $("#address").text(result.Address + ', ' + result.StateName);
                    $("#contactPerson").text(result.ContactPerson);
                    $("#mobileNumber").text(result.MobileNumber);

                    $("#Venodar-Dtls").show();
                    $("#address-dtls").show();

                    return true;
                }
            });
        }
        $('#SupplierName').change(function () {
            var validationDivs = "";

            $("#validationMessages").hide();
            var t = $('#SupplierId').val();
            if ($('#SupplierName').val() != "" && $('#SupplierId').val() == "0") {
                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                $("#validationMessages").html(validationDivs);
                $('#SupplierName').val('');
                $('#SupplierName').focus();
                return false;
            }
            //  $("#SupplierId").val('');


        });

    </script>
}
