﻿@model Nop.Admin.Models.PuchaseOrders.PurchaseOrderModel

@{
    //page title
    ViewBag.Title = T("Admin.Inventory.PurchaseOrder.AddNew").Text;

    @*var eventMessage = new AdminTabStripCreated(this.Html, "product-attribute-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }*@
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Purchase Order");
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "productattribute-form" }))
{

    @Html.AntiForgeryToken()

    var validationSummary = Html.ValidationSummary(true);
    if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
    {
        <div class="message-error">@validationSummary</div>
    }
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Inventory.PurchaseOrder.AddNew")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink( T("Admin.Inventory.PurchaseOrder.BackToList").Text, "List")</small>
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Inventory.PurchaseOrder.GeneratePurchaseOrder")">
                @*<i class="fa fa-floppy-o"></i>*@
               
            @*</input>*@           
        </div>
    </div>
 @Html.Partial("_CreateOrUpdate", Model)
     <script>
         window.onbeforeunload = function () {
             var inputs = document.getElementsByTagName("INPUT");
             for (var i in inputs) {
                 if (inputs[i].type == "button" || inputs[i].type == "submit") {
                     inputs[i].disabled = true;
                 }
             }
         };
    </script>
}
