﻿@model Nop.Admin.Models.PuchaseOrders.PurchaseOrderModel
@{
    //page title
    ViewBag.Title = T("Admin.Inventory.PurchaseOrder.EditPurchaseOrder").Text;

    @*var eventMessage = new AdminTabStripCreated(this.Html, "product-attribute-edit");
        EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
        foreach (var eventBlock in eventMessage.BlocksToRender)
        {
            @eventBlock
        }*@
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Purchase Order");
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "productattribute-form" }))
{


    @Html.AntiForgeryToken()
   
    var validationSummary = Html.ValidationSummary(true);
    if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
    {
        <div class="message-error">@validationSummary</div>
    }
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Inventory.PurchaseOrder.EditPurchaseOrder")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Inventory.PurchaseOrder.BackToList").Text, "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>            
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}

