﻿@model  Nop.Admin.Models.StockIn.PowiseStockIn
@{
    //page title
    ViewBag.Title = T("Admin.Inventory.StockInPOWise").Text;
    Html.SetActiveMenuItemSystemName(@T("Admin.Inventory.StockInPOWise").Text);
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Stock In PO Wise");
}
<link href="~/Administration/Content/KendoFreezColumnHeader.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>


    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Inventory.StockInPOWise")
        </h1>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.supplierName)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.HiddenFor(model => model.supplierId)
                                        @Html.NopEditorFor(model => model.supplierName)
                                        <div id="divsupplierName" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.purchaseOrderCode)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.HiddenFor(model => model.purchaseorderId)
                                        @Html.NopEditorFor(model => model.purchaseOrderCode)
                                        <div id="divPocode" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ProductName)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.HiddenFor(model => model.ProductId)
                                        @Html.NopEditorFor(model => model.ProductName)
                                        @Html.ValidationMessageFor(model => model.ProductName)
                                        <div id="divProductName" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Status)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EnumDropDownListFor(model => model.Status, new { @class = "form-control valid" })
                                        @Html.ValidationMessageFor(model => model.Status)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.StartDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.StartDate)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.EndDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.EndDate)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-4">
                                        <button type="button" id="btnSearch" class="btn bg-blue " value="@T("Admin.Common.Search")">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="divLockedCell">
                    <div class="panel-body">
                        <div id="purchaseOrderList-grid"></div>

                        <script>
                            $(document).ready(function(){

                                $("#purchaseOrderList-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("stockInPOWiseGrid", "StockIn"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();

                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    //scrollable: false,
                                    columns: [{
                                        field: "POCode",
                                        title: "@T("Admin.Inventory.StockIn.PO.POCode")",
                                        template: '<a href="@Url.Content("~/Admin/PurchaseOrder/View/")#=purchaseorderId#">#=POCode#</a>',
                                        locked:true,
                                        width: 100
                                    }, {
                                        field: "SupplierName",
                                        title:  "@T("Admin.Inventory.StockIn.PO.SupplierName")",
                                        width: 300
                                    },{
                                        field: "DateTime",
                                        title: "@T("Admin.Inventory.StockIn.PO.DateTime")",
                                        width: 200
                                        //type: "date",
                                        //format: "{0:G}"
                                    },{
                                        field: "Paymode",
                                        title: "@T("Admin.Inventory.StockIn.PO.Paymode")",
                                        width: 300
                                    },{
                                        field: "AmtPayable",
                                        title: "@T("Admin.Inventory.StockIn.PO.AmtPayable")",
                                        width: 200
                                    },{
                                        field: "POQuantity",
                                        title: "@T("Admin.Inventory.StockIn.PO.POQuantity")",
                                        width: 200
                                    },{
                                        field: "RecievedQty",
                                        title: "@T("Admin.Inventory.StockIn.PO.RecievedQty")",
                                        width: 100
                                    },{
                                        field: "PendingQty",
                                        title: "@T("Admin.Inventory.StockIn.PO.PendingQty")",
                                        width: 100
                                    },{
                                        field: "Status",
                                        title: "@T("Admin.Inventory.StockIn.PO.Status")",
                                        width: 100
                                    },{
                                        field: "purchaseorderId",
                                        title: "@T("Admin.Common.Edit")",
                                        template: '#=getEditStatus(Status,purchaseorderId)#',
                                        width: 100
                                        @*template: '<a href="EditPoWise/#=purchaseorderId#">@T("Admin.Common.Edit")</a>'*@
                                    }]
                                });
                                var count=0;
                                $('a.sidebar-toggle').on('click', function () {
                                    if(count==0)
                                    {
                                        $.get(location.href).then(function(kendoGrid) {
                                            $("#divLockedCell").html($(kendoGrid).find("#divLockedCell").html())

                                        })
                                        count=count+1;
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.supplierName)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#btnSearch").click();
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.purchaseOrderCode)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#btnSearch").click();
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.ProductName)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#btnSearch").click();
                                        return false;
                                    }
                                });
                            });

                            function additionalData() {
                                var data = {
                                    supplierId: $('#@Html.FieldIdFor(model => model.supplierId)').val(),
                                    purchaseorderId:$('#@Html.FieldIdFor(model => model.purchaseorderId)').val(),
                                    purchaseOrderCode: $('#@Html.FieldIdFor(model => model.purchaseOrderCode)').val(),
                                    ProductId: $('#@Html.FieldIdFor(model => model.ProductId)').val(),
                                    Status: $('#@Html.FieldIdFor(model => model.Status)').val(),
                                    StartDate: getDate($("#StartDate").data("kendoDatePicker").value()),
                                    EndDate:getDate($("#EndDate").data("kendoDatePicker").value())
                                    @*StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
            EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val()*@

                                };
                                addAntiForgeryToken(data);
                                return data;
                            }

                            function getEditStatus(status,purchaseorderId)
                            {
                                // alert('status :'+status);
                                if(status !='Complete')
                                    return '<a href="EditPoWise/'+purchaseorderId+'">@T("Admin.Common.StockIn")</a>';
                                else return '-';
                            }

                            $('#supplierName').autocomplete({
                                delay: 500,
                                minLength: 1,
                                source: '@(Url.Action("SearchTermAutoCompleteSupplier", "StockIn"))',
                                appendTo: '.search-box',
                                select: function (event, ui) {
                                    $("#supplierId").val(ui.item.SupplierId);
                                    $("#supplierName").val(ui.item.SupplierName);
                                    $("#supplierName").val(ui.item.label);
                                    $("#divsuppliername").show();

                                    //  return false;
                                }
                            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                                var t = item.label;
                                //html encode
                                t = $('<div/>').text(t).html();
                                return $("<li></li>")
                                    .data("item.autocomplete", item)
                                    .append("<a><span>" + t + "</span></a>")
                                    .appendTo(ul);
                            };

                            $('#supplierName').change(function () {
                                var validationDivs = "";
                                
                                $("#validationMessages").hide();
                                var t =   $('#supplierId').val();
                                if ($('#supplierName').val() != "" && $('#supplierId').val() == "") {
                                    $("#validationMessages").show();
                                    validationDivs = validationDivs + '<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                                    $("#validationMessages").html(validationDivs);
                                    $('#supplierName').val('');
                                    $('#supplierName').focus();
                                    return false;
                                }
                                //  $("#SupplierId").val('');
                            });

                            $('#purchaseOrderCode').autocomplete({
                                delay: 500,
                                minLength: 1,
                                source: '@(Url.Action("SearchTermAutoCompletepurchaseOrderCode", "StockIn"))',
                                appendTo: '.search-box',
                                select: function (event, ui) {
                                    $("#purchaseorderId").val(ui.item.purchaseorderId);
                                    $("#purchaseOrderCode").val(ui.item.purchaseOrderCode);
                                    $("#purchaseOrderCode").val(ui.item.label);
                                    $("#divPocode").show();

                                    //  return false;
                                }
                            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                                var t = item.label;
                                //html encode
                                t = $('<div/>').text(t).html();
                                return $("<li></li>")
                                    .data("item.autocomplete", item)
                                    .append("<a><span>" + t + "</span></a>")
                                    .appendTo(ul);
                            };

                            $('#purchaseOrderCode').change(function () {
                                var validationDivs = "";
                                
                                $("#validationMessages").hide();
                                // var t =  $('#TraderId').val();
                                if ($('#purchaseOrderCode').val() != "" && $('#purchaseorderId').val() == "") {
                                    $("#validationMessages").show();
                                    validationDivs = validationDivs + '<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                                    $("#validationMessages").html(validationDivs);
                                    $('#purchaseOrderCode').val('');
                                    $('#purchaseOrderCode').focus();
                                    return false;
                                }
                                //  $("#SupplierId").val('');
                            });

                            $('#ProductName').autocomplete({
                                delay: 500,
                                minLength: 1,
                                source: '@(Url.Action("SearchTermAutoCompletePackageProduct", "StockIn"))',
                                appendTo: '.search-box',
                                select: function (event, ui) {
                                    $("#ProductId").val(ui.item.PackageId);
                                    $("#ProductName").val(ui.item.PackageName);
                                    $("#ProductName").val(ui.item.label);
                                    $("#divProductName").show();
                                    //  return false;
                                }
                            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                                var t = item.label;
                                //html encode
                                t = $('<div/>').text(t).html();
                                return $("<li></li>")
                                    .data("item.autocomplete", item)
                                    .append("<a><span>" + t + "</span></a>")
                                    .appendTo(ul);
                            };

                            $('#ProductName').change(function () {
                                var validationDivs = "";
                                
                                $("#validationMessages").hide();
                                // var t =  $('#TraderId').val();
                                if ($('#ProductName').val() != "" && $('#ProductId').val() == "") {
                                    $("#validationMessages").show();
                                    validationDivs = validationDivs + '<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                                    $("#validationMessages").html(validationDivs);
                                    $('#ProductName').val('');
                                    $('#ProductName').focus();
                                    return false;
                                }
                                //  $("#SupplierId").val('');
                            });

                            $("#validationMessages").hide();

                            $('#btnSearch').click(function () {
                                //
                                if($("#purchaseOrderCode").val()=="")
                                {
                                    $("#purchaseorderId").val("0");
                                }

                                if($("#supplierName").val()=="")
                                {
                                    $("#supplierId").val("0");
                                }

                                if($("#ProductName").val()=="")
                                {
                                    $("#ProductId").val("0");
                                }
                                var start_time=$("#StartDate").val();
                                var end_time=$("#EndDate").val();
                                var validationDivs='';

                                //var EnteredDate = $("#EndDate").val(); // For JQuery
                                //var EnteredFromdate = $("#StartDate").val();

                                $("#validationMessages").hide();
                                $(".alert.alert-success.alert-dismissable").hide();
                                $(".alert.alert-danger.alert-dismissable").hide();

                                //var EnteredDate = getDate($("#StartDate").data("kendoDatePicker").value());
                                //var EnteredFromdate=getDate($("#EndDate").data("kendoDatePicker").value());

                                var myDate = new Date(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                var myFromDate = new Date(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));


                                var today = new Date();
                                var start_time=$("#DatewiseFrom").val();
                                var end_time=$("#DatewiseTo").val();

                                if (myFromDate > today) {

                                    $("#validationMessages").show();
                                    validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                                    $('#validationMessages').html(validationDivs);
                                    // flag=false;
                                    $('#purchaseOrderList-grid').hide();
                                    return false;
                                }
                                if (myFromDate < myDate) {
                                    $("#validationMessages").show();
                                    validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                                    //flag=false;
                                    $('#validationMessages').html(validationDivs);
                                    $('#purchaseOrderList-grid').hide();
                                    return false;
                                }

                                $("#purchaseOrderList-grid").show();
                                var grid = $('#purchaseOrderList-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1

                            });
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>

}

