﻿@{
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";
}

@model Nop.Admin.ViewModel.RequestNoPopUp
@using System.Globalization;
@{
    var defaultGridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Customers.Customers").Text;
}
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="payouts-grid"></div>
                        <script>
                            $(document).ready(function () {

                                $("#payouts-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("StoktTransferProductList", "StockIn"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: addAntiForgeryToken
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        @*pageSize: @(defaultGridPageSize),*@
                                        serverPaging: false,
                                        serverFiltering: false,
                                        serverSorting: false
                                    },
                                    pageable: {
                                        refresh: false,
                                        numeric: false,
                                        previousNext: false,
                                        info: false,
                                        @*pageSizes: [@(gridPageSizes)]*@
                                    },
                                    scrollable: false,
                                     columns: [{
                                                field: "ProductName",
                                                title: "@T("Admin.Catalog.Products.RelatedProducts.Fields.Product")",
                                                width: 200
                                            }, {
                                                field: "DispatchQty",
                                                title: "@T("Admin.Inventory.EditStockTranfer.DispatchQty")",

                                                format: "{0:0}",
                                                width: 100,

                                            }]
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>


}

