﻿@model Nop.Plugin.Widgets.Tickets.Models.FormAttributeValueModel

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.FormAttributeId)
@Html.HiddenFor(model => model.DisplayColorSquaresRgb)


@if (ViewBag.RefreshPage == true)
{
    <script type="text/javascript">
        try {window.opener.document.forms['@(ViewBag.formId)'].@(ViewBag.btnId).click();}
        catch (e){}
        window.close();
    </script>
}

@(Html.LocalizedEditor<Nop.Plugin.Widgets.Tickets.Models.FormAttributeValueModel, Nop.Plugin.Widgets.Tickets.Models.FormAttributeValueLocalizedModel>("formattributevalue-localized",
@<div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.Locales[item].Name)
        </div>
        <div class="col-md-9">
            @Html.NopEditorFor(model => model.Locales[item].Name)
            @Html.ValidationMessageFor(model => model.Locales[item].Name)
        </div>
    </div>
            @Html.HiddenFor(model => model.Locales[item].LanguageId)
</div>
,
@<div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.Name)
        </div>
        <div class="col-md-9">
            @Html.NopEditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
</div>
))
    
    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.IsPreSelected)
        </div>
        <div class="col-md-9">
            @Html.EditorFor(model => model.IsPreSelected)
            @Html.ValidationMessageFor(model => model.IsPreSelected)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.DisplayOrder)
        </div>
        <div class="col-md-9">
            @Html.EditorFor(model => model.DisplayOrder)
            @Html.ValidationMessageFor(model => model.DisplayOrder)
        </div>
    </div>


