﻿@{
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";
}

@model Nop.Plugin.Widgets.Tickets.Models.FormAttributeValueModel

@{
    //page title
    ViewBag.Title = T("Admin.Tickets.FormAttributes.Values.EditValueDetails").Text;
}
@using (Html.BeginForm())
{
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Tickets.FormAttributes.Values.EditValueDetails")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

	<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
    @Html.Partial("~/Plugins/Widgets.Tickets/Views/Admin/Form/_CreateOrUpdateValue.cshtml", Model)
	
	 </div>
            </div>
        </div>
    </div>
</div>
	
}