﻿@model List<int>

@Html.ListBoxFor(model => model, (IEnumerable<SelectListItem>)ViewData["SelectList"])
<script>
    $(document).ready(function () {
        var multiselect = $("#@ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty)").kendoMultiSelect({
            select: function (e) {
                var current = this.value();

                if (this.dataSource.view()[e.item.index()].value === "0") {
                    this.value("");
                }
                else if (current.indexOf("0") !== -1) {
                    current = $.grep(current, function (value) {
                        return value !== "0";
                    });

                    this.value(current);
                }
            },
            //change: function (e) {
            //    if (this.value().length === 0)
            //        this.value(["0"]);
            //}

        }).data("kendoMultiSelect");

        $("#SelectedDiscountId").on("change", function () {
            multiselect.value([]);
            //alert("Bala");
            //var selected = multiselect.value();
            //var res = $.merge($.merge([], selected), ["3", "6"]);
            //multiselect.value(["3", "6"]);


            var discid = $('#SelectedDiscountId').val();
            var Vid = $('#PaidPinDetailId').val();
            //alert(Vid);
            $.ajax({
                type: "Get",
                url: '@Url.Action("GetSelectedRoles")',
                data: { DiscId: discid, Vid: Vid },
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var array = data.toString().split(',');
                    //alert(array);
                    multiselect.value(array)

                },

                //error: function () {
                //    alert("Error while inserting data");
                //}
            });

        });
    });








</script>



