﻿@model Nop.Web.Framework.Models.DashBoard.DashboardDetails

@Html.Widget("admin_dashboard_top")
<link href="~/Themes/Vnext/Content/VnextCss/css/hover.css" rel="stylesheet">

@*<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Courgette|Grenze|Ubuntu+Condensed&display=swap" rel="stylesheet">*@

<style>
    .sparkline16-graph, .sparkline16-graph {
        padding: 15px !important;
        text-align: left !important;
        background: #fff !important;
    }

    #module div.collapse[aria-expanded="false"] {
        display: block;
        height: 124px !important;
        overflow: hidden;
        width: 100% !important;
        padding-left: 7px !important;
        padding-right: 12px !important;
    }

    #module div.collapsing[aria-expanded="false"] {
        height: 124px !important;
        width: 100% !important;
        padding-left: 7px !important;
        padding-right: 12px !important;
    }


    #panaleButton.collapsed:after {
        font-family: FontAwesome;
        content: '\f077';
    }

    #panaleButton:not(.collapsed):after {
        font-family: FontAwesome;
        content: '\f078';
    }

    sparkline16-outline-icon1 span {
        padding-left: 10px;
        color: #000;
        cursor: pointer;
        color: #1d252c;
    }

    icon, .sparkline16-outline-icon1 {
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .payout {
        color: #fff;
        background-color: #f39c12;
    }

    .wallet {
        color: #fff;
        /*   background-color: #4A6682;*/
        background-color: #673ab7;
    }

    .credit {
        color: #fff;
        /* background-color: #09C588;*/
        background-color: #0fa9aa;
    }

    .income {
        color: #fff;
        background-color: #3682EB;
    }

    .epin {
        color: #fff;
        background-color: #673ab7;
    }

    .Sign-on {
        color: #fff;
        background-color: #0fa9aa;
    }

    .Sign-ip {
        color: #fff;
        background-color: #3682EB;
    }

    .total-earning-box {
        background: url(../img/blue-bg.jpg) #1235ad;
        padding: 10px;
        border-radius: 5px 5px 0 0;
        height: 180px;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 8px !important;
    }

    @@media all and (max-width: 980px) and (min-width: 320px) {
        .panel {
            margin-bottom: 29px !important;
            background-color: #ffffff;
            border: 0px solid rgb(216, 216, 216) !important;
            border-radius: 8px !important;
            -webkit-box-shadow: 2px 2px 2px 2px rgba(16, 14, 14, 0.12) !important;
            box-shadow: 2px 2px 2px 2px rgba(16, 14, 14, 0.12) !important;
        }

        #module div.collapse[aria-expanded="false"] {
            height: 500px !important;
        }

        #module div.collapsing[aria-expanded="false"] {
            height: 500px;
        }

        .materialdesign .admin-dashone-data-table-area {
            margin-top: 34%;
        }
    }

    @@media all and (min-width: 370px) and (max-width:480px) {
        #chartContainer {
            margin-left: -3% !important;
            margin-top: 25% !important;
        }

            #chartContainer canvas {
                width: 330px !important;
                height: 180px !important;
            }

        #chartContainer {
            height: 200px !important;
        }

        .WelcomeNameAlig {
            margin-left: -12% !important;
            margin-right: 12% !important;
        }
    }

    @@media all and (min-width: 330px) and (max-width:360px) {
        #chartContainer {
            margin-left: -3% !important;
            margin-top: 25% !important;
        }

            #chartContainer canvas {
                width: 261px !important;
                height: 150px !important;
            }

        #chartContainer {
            height: 200px !important;
        }

        .WelcomeNameAlig {
            margin-left: -12% !important;
            margin-right: 12% !important;
        }
    }

    @@media all and (min-width: 250px) and (max-width:320px) {
        #chartContainer {
            margin-left: -7% !important;
            margin-top: 25% !important;
        }

            #chartContainer canvas {
                width: 230px !important;
                height: 133px !important;
            }

        #chartContainer {
            height: 200px !important;
        }

        .WelcomeNameAlig {
            margin-left: -12% !important;
            margin-right: 12% !important;
        }
    }


    #orderDetailschart {
        height: 230px !important;
    }

    #downlineDetailschart {
        height: 230px !important;
    }

    #chartContainer {
        height: 230px;
    }

    .sparkline16-hd {
        background: #f2f3f7;
    }

    .stausImg {
        width: 17px;
        height: 17px;
    }

    .wrapper {
        padding: 3px 15px !important;
    }

    .canvasjs-chart-credit {
        display: none !important;
    }

    /*.floating {
        background-image: linear-gradient(to left, violet, indigo, blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }*/

    .WelcomeNameAlig {
        text-align: center;
        font-size: 18px !important;
    }
</style>

@{
    int counter = 0;
}

@if (Model.IsCustomerImpersonated)
            {
    <div class="sparkline16-hd  wow fadeIn " id="showonBaseSetting" style="background-color:#ffffff;margin-top:1%">
        <div class="main-sparkline16-hd">

            <h1 align="center">
                <a href="@Url.RouteUrl("Logout")" class="finish-impersonation" title="@T("Account.ImpersonatedAs.Finish.Hint")"><span id="Administartor">@string.Format(T("Account.ImpersonatedAs").Text, Model.ImpersonatedCustomerName) @T("Account.ImpersonatedAs.Finish")</span></a>
            </h1>


        </div>

    </div>
}
<div class="sparkline16-hd  wow fadeIn">
    <div class="main-sparkline16-hd">
        <h1 class="WelcomeNameAlig">
            <label> Welcome <span class="floating" style="font-family: unset;">@Model.MemberNumber</span></label>
        </h1>
        <div class="sparkline16-outline-icon1" style="background-color: #1E55A0;color: #FFFFFF; padding:0.2em 0.5em;cursor: pointer; display:none">

            <span id="panaleButton" class="collapsed" data-toggle="collapse" href="#collapseGrid" aria-expanded="false" aria-controls="collapseGrid"></span>

        </div>
    </div>

</div>
<div class="sparkline16-list  wow fadeIn " id="allPanelshow">
    <div class="sparkline16-graph">
        <div class="income-order-visit-user-area">
            <div id="module" class="container-fluid">
                <div class="collapse" id="collapseGrid" aria-expanded="false">
                    <div class="row">
                        @if (Model.MyStatusSetting)
                        {
                            counter = counter + 1;

                            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" style="padding-right: 10px;
padding-left: 10px;">
                                <div class="stat panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="panel-title row">
                                            <div class="col-xs-2">
                                                <i class="fa fa-check-square-o fa-5x"></i>
                                            </div>
                                            <div class="col-xs-10 text-right">

                                                <div class="huge" id="MystatusName">
                                                    <h3>@Model.myCurrentStatus.MystatusName</h3>
                                                </div>
                                                <div><h5>@T("Dashboard.Mystatus.CurrentStatus")</h5></div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <a class="" href="@Url.RouteUrl("CustomerInfo")" target="_blank" title="@T("Dashboard.Mystatus.CurrentStatus")">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right">
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </span>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.PancardConfirmSetting)
                        {
                            counter = counter + 1;
                            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" style="padding-right: 10px;
padding-left: 10px;">
                                <div class="stat panel panel-danger">
                                    <div class="panel-heading">
                                        <div class="panel-title row">
                                            <div class="col-xs-2">
                                                <i class="fa fa-file-o fa-5x"></i>
                                            </div>
                                            <div class="col-xs-10 text-right">
                                                <div class="huge">
                                                    <h3 class="PancardStatus">@Model.PancardStatus</h3>
                                                </div>
                                                <div><h5>@T("Dashboard.Pancard")</h5></div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <a class="" href="@Url.RouteUrl("CustomerInfo")" target="_blank" title="@T("Dashboard.Pancard")">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right">
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </span>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        }
                        @if (Model.KycDocumentEnable)
                        {
                            if (Model.KycDocumentStatusSetting)
                            {
                                counter = counter + 1;
                                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" style="padding-right: 10px;
padding-left: 10px;">
                                    <div class="stat panel panel-success">
                                        <div class="panel-heading">
                                            <div class="panel-title row">
                                                <div class="col-xs-2">
                                                    <i class="fa fa-pencil-square-o fa-5x"></i>
                                                </div>
                                                <div class="col-xs-10 text-right">
                                                    <div class="huge">
                                                        <h3 id="KycDocumentStatus">@Model.KycDocumentStatus</h3>
                                                    </div>
                                                    <div><h5>@T("admin.dashboard.KycDocument")</h5></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <a class="" href="@Url.RouteUrl("CustomerKYCDocument")" target="_blank" title="@T("admin.dashboard.KycDocument")">
                                                <span class="pull-left">View Details</span>
                                                <span class="pull-right">
                                                    <i class="fa fa-arrow-circle-right"></i>
                                                </span>
                                                <div class="clearfix"></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                        @if (Model.hightlightModel.DownlineCountSetting)
                        {
                            counter = counter + 1;
                            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" style="padding-right: 10px;
padding-left: 10px;">
                                <div class="stat panel panel-warning">
                                    <div class="panel-heading">
                                        <div class="panel-title row">
                                            <div class="col-xs-2">
                                                <i class="fa fa-anchor fa-5x"></i>
                                            </div>
                                            <div class="col-xs-10 text-right">
                                                <div class="huge">
                                                    <h3 id="DownlineCount">@Model.hightlightModel.DownlineCount</h3>
                                                </div>
                                                <div><h5>@T("Dashboard.DownlineCount")</h5></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        @if (Model.hightlightModel.GenrationCount)
                                        {
                                            <a class="" href="@Url.Action("GenerationDownline","MyNetwork")" target="_blank" title="@T("Dashboard.DownlineCount")">
                                                <span class="pull-left">View Details</span>
                                                <span class="pull-right">
                                                    <i class="fa fa-arrow-circle-right"></i>
                                                </span>
                                                <div class="clearfix"></div>
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="" href="@Url.RouteUrl("MydownlineDetails")" target="_blank" title="@T("Dashboard.DownlineCount")">
                                                <span class="pull-left">View Details</span>
                                                <span class="pull-right">
                                                    <i class="fa fa-arrow-circle-right"></i>
                                                </span>
                                                <div class="clearfix"></div>
                                            </a>
                                        }

                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.hightlightModel.MyPayoutSetting)
                        {
                            counter = counter + 1;
                            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" style="padding-right: 10px;
padding-left: 10px;">
                                <div class="stat panel panel">
                                    <div class="panel-heading payout">
                                        <div class="panel-title row">
                                            <div class="col-xs-2">
                                                <i class="fa fa-line-chart fa-5x"></i>
                                            </div>
                                            <div class="col-xs-10 text-right">
                                                <div class="huge">
                                                    <h3 id="MyPayouts">@Model.hightlightModel.MyPayouts</h3>
                                                </div>
                                                <div><h5>@T("Dashboard.MyPayouts")</h5></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <a class="" href="@Url.RouteUrl("CommissionLedgerDtails")" target="_blank" title="@T("Dashboard.MyPayouts")">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right">
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </span>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (Model.hightlightModel.EwalletSetting)
                        {
                            counter = counter + 1;
                            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" style="padding-right: 10px;
padding-left: 10px;">
                                <div class="stat panel panel">
                                    <div class="panel-heading wallet">
                                        <div class="panel-title row">
                                            <div class="col-xs-2">
                                                <!--<i class="fa fa-credit-card fa-5x"></i>-->
                                                <i class="fa fa-list-alt fa-5x"></i>
                                            </div>
                                            <div class="col-xs-10 text-right">
                                                <div class="huge">
                                                    <h3 id="EWalletBalance">@Model.hightlightModel.EWalletBalance</h3>
                                                </div>
                                                <div><h5>@T("Dashboard.EWalletBalance")</h5></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <a class="" href="@Url.RouteUrl("EwalletAccountDetails")" target="_blank" title="@T("Dashboard.EWalletBalance")">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right">
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </span>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.hightlightModel.CreditNotewalletSetting)
                        {
                            counter = counter + 1;
                            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" style="padding-right: 10px;
padding-left: 10px;">
                                <div class="stat panel panel">
                                    <div class="panel-heading credit ">
                                        <div class="panel-title row">
                                            <div class="col-xs-2">
                                                <i class="fa fa-credit-card fa-5x"></i>
                                            </div>
                                            <div class="col-xs-10 text-right">
                                                <div class="huge">
                                                    <h3 id="CreditNoteWalletBalance">@Model.hightlightModel.CreditNoteWalletBalance</h3>
                                                </div>
                                                <div><h5>@T("Dashboard.CreditNoteEWalletBalance")</h5></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <a class="" href="@Url.RouteUrl("CreditNoteEwalletAccountDetails")" target="_blank" title="@T("Dashboard.CreditNoteEWalletBalance")">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right">
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </span>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.hightlightModel.IncomeReceivedSetting)
                        {
                            counter = counter + 1;
                            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" style="padding-right: 10px;padding-left: 10px;">
                                @*<div class="total-earning-box">*@
                                <div class="stat panel panel">
                                    <div class="panel-heading income">
                                        <div class="panel-title row">
                                            <div class="col-xs-2">
                                                <i class="fa fa-money fa-5x"></i>
                                            </div>
                                            <div class="col-xs-10 text-right">
                                                <div class="huge">
                                                    <h3 id="IncomeReceived">@Model.hightlightModel.IncomeReceived</h3>
                                                </div>
                                                <div><h5>@T("Dashboard.IncomeReceived")</h5></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <a class="" href="@Url.RouteUrl("CommissionLedgerDtails")" target="_blank" title="@T("Dashboard.IncomeReceived")">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right">
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </span>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.hightlightModel.EpinSetting)
                        {
                            counter = counter + 1;
                            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" style="padding-right: 10px;
padding-left: 10px;">
                                <div class="stat panel panel">
                                    <div class="panel-heading epin">
                                        <div class="panel-title row">
                                            <div class="col-xs-2">
                                                <i class="fa fa-share-square-o fa-5x"></i>
                                            </div>
                                            <div class="col-xs-10 text-right">
                                                <div class="huge">
                                                    <h3 id="EPinsReceived">@Model.hightlightModel.EPinsReceived</h3>
                                                </div>
                                                <div><h5>@T("Dashboard.EPinsReceived")</h5></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <a class="" href="@Url.Action("EpinReportDetails","Epin")" target="_blank" title="@T("Dashboard.EPinsReceived")">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right">
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </span>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        }
                        @if (Model.hightlightModel.TotalRepurchaseSetting)
                        {
                            counter = counter + 1;
                            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" style="padding-right: 10px;
padding-left: 10px;">
                                <div class="stat panel panel-warning">
                                    <div class="panel-heading">
                                        <div class="panel-title row">
                                            <div class="col-xs-2">
                                                <i class="fa fa-comments fa-5x"></i>
                                            </div>
                                            <div class="col-xs-10 text-right">
                                                <div class="huge">
                                                    <h3 id="TotalRepurchase">@Model.hightlightModel.TotalRepurchase</h3>
                                                </div>
                                                <div><h5>@T("Dashboard.TotalRepurchase")</h5></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <a class="" href="#" title="@T("Dashboard.TotalRepurchase")">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right">
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </span>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Convert.ToInt32(ViewBag.LastLogin) == 1)
                        {
                            counter = counter + 1;

                            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" style="padding-right: 10px;
padding-left: 10px;">
                                <div class="stat panel panel">
                                    <div class="panel-heading Sign-on">
                                        <div class="panel-title row">
                                            <div class="col-xs-2">
                                                <i class="fa fa-calendar-check-o fa-5x"></i>
                                            </div>
                                            <div class="col-xs-10 text-right">
                                                <div class="huge">
                                                    <h3 id="LastSignInOn">@Model.hightlightModel.LastSignInOn</h3>
                                                </div>
                                                <div><h5>@T("Dashboard.LastSignInOn")</h5></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        @*<a class="" href="#" title="@T("Dashboard.LastSignInOn")">*@
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right">
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </span>
                                        <div class="clearfix"></div>
                                        @*</a>*@
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" style="padding-right: 10px;
padding-left: 10px;">
                                <div class="stat panel panel">
                                    <div class="panel-heading Sign-ip">
                                        <div class="panel-title row">
                                            <div class="col-xs-2">
                                                <i class="fa fa-globe fa-5x"></i>
                                            </div>
                                            <div class="col-xs-10 text-right">
                                                <div class="huge">
                                                    <h3 id="LastSignInIP">@Model.hightlightModel.LastSignInIP</h3>
                                                </div>
                                                <div><h5>@T("Dashboard.LastSignInIP")</h5></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right">
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-wrapper">
    <div class="">
        <div class="">
            <div class="col-md-4 top-space">
                <div class="earning-wrapper">
                    <div class="total-earning-box">
                        <h2>your earning</h2>
                    </div>
                    <div class="earning-value box-height">
                        @if (Model.hightlightModel.MyPayoutSetting)
                        {
                            <div class="earning-info">
                                <div class="col-md-9 col-xs-8">
                                    <img src="Themes/Vnext/Content/VnextCSS/img/icon-1.png" alt="" /><h3>No. of Payout</h3>
                                </div>
                                <div class="col-md-3 col-xs-4">
                                    <p class="text-blue" id="MyPayouts1">@Model.hightlightModel.MyPayouts</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        }
                        @if (Model.hightlightModel.IncomeReceivedSetting)
                        {

                            <div class="earning-info">
                                <div class="col-md-9 col-xs-8">
                                    <img src="Themes/Vnext/Content/VnextCSS/img/icon-2.png" alt="" /><h3>income received</h3>
                                </div>
                                <div class="col-md-3 col-xs-4">
                                    <p class="text-red" id="IncomeReceived1">@Model.hightlightModel.IncomeReceived</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="col-md-4 top-space">
                <div class="team-sales-wrapper">
                    <div class="team-sales-box">
                        <h2>Team Sales</h2>
                        <p id="TotalRepurchase1">@Model.hightlightModel.TotalRepurchase</p>
                    </div>
                    <div class="sales-value box-height">
                        <div class="col-md-6">
                            <div class="confirm-box">
                                <img src="Themes/Vnext/Content/VnextCSS/img/icon-3.png" alt="" />
                                <h3>Confirm</h3>
                                <p id="ConfirmSale" class="text-blue">0.00</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="confirm-box">
                                <img src="Themes/Vnext/Content/VnextCSS/img/icon-4.png" alt="" />
                                <h3>Unconfirm</h3>
                                <p class="text-red" id="UnconfirmSale">0.00</p>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-md-4 top-space">
                <div class="profile-wrapper">
                    <img id="profileurl" src="Themes/Vnext/Content/VnextCSS/img/user-icon.png" alt="" />
                    <h3 id="Membername">@Model.hightlightModel.MemberName</h3>
                    <h4>Business Admin</h4>
                    <p>Click here to see the link</p>
                    @*<div class="btn-1">Copy Referral Link</div>*@
                    <div class="btn-1"><a href=@Model.hightlightModel.ReplicaLink> Referral Link</a></div>
                </div>
            </div>
            <div class="clearfix"></div>

            @if (Model.hightlightModel.EwalletSetting)
            {
                <div class="col-md-3 padd-15">
                    <div class="wallet-wrapper-blue">
                        <div class="wallet-wrapper-box">
                            <img src="Themes/Vnext/Content/VnextCSS/img/dollor-icon-blue.png" alt="" />
                            <h3 id="EWalletBalance1">@Model.hightlightModel.EWalletBalance</h3>
                            <p>Commission E-Wallet</p>
                        </div>
                        @*<div class="btn">Show All</div>*@
                        <a class="btn" href="@Url.RouteUrl("EwalletAccountDetails")" target="_blank" title="@T("Dashboard.EWalletBalance")">
                            <span class="pull-left">Show All</span>
                        </a>
                    </div>
                </div>
            }


            <div class="col-md-3 padd-15">
                <div class="wallet-wrapper-yellow">
                    <div class="wallet-wrapper-box">
                        <img src="Themes/Vnext/Content/VnextCSS/img/dollor-icon-green.png" alt="" />
                        <h3 id="PWalletBalance1">@Model.hightlightModel.PWalletBalance</h3>
                        <p>Purchase Wallet</p>
                    </div>
                    <a class="btn" href="@Url.RouteUrl("PWalletAccountDetails")" target="_blank" title="@T("Dashboard.CreditNoteEWalletBalance")">
                        <span class="pull-left">Show All</span>
                    </a>
                </div>
            </div>

            <div class="col-md-3 padd-15">
                <div class="wallet-wrapper-green">
                    <div class="wallet-wrapper-box">
                        <img src="Themes/Vnext/Content/VnextCSS/img/dollor-icon-green.png" alt="" />
                        <h3 id="CreditNoteWalletBalance1">@Model.hightlightModel.CreditNoteWalletBalance</h3>
                        <p>Credit Note Wallet</p>
                    </div>
                    <a class="btn" href="@Url.RouteUrl("CreditNoteEwalletAccountDetails")" target="_blank" title="@T("Dashboard.CreditNoteEWalletBalance")">
                        <span class="pull-left">Show All</span>
                    </a>
                </div>
            </div>

            <div class="col-md-3 padd-15">
                <div class="wallet-wrapper-red">
                    <div class="wallet-wrapper-box">
                        <img src="Themes/Vnext/Content/VnextCSS/img/user-status-icon.png" alt="" />
                        <h3 id="MystatusName1">@Model.myCurrentStatus.MystatusName</h3>
                        <p>Current Status</p>
                    </div>
                    <a class="btn" href="@Url.RouteUrl("CustomerInfo")" target="_blank" title="@T("Dashboard.Mystatus.CurrentStatus")">
                        <span class="pull-left">Show All</span>
                    </a>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-6">
                <div class="chart-wrapper">
                    <div class="col-md-6"><h3>Downline Details</h3></div>
                    <div class="wrapper">
                        @*<div class="col-md-6"><p><span>Year</span> <span>Month</span> <span>Week</span></p></div>*@
                        <div class="box-tools pull-right">
                            <button class="btn btn-xs btn-info btn-flat margin-r-5" title="Year" onclick="changeDownlineDetailsChart(2,'sp_downlineDetailsForCharts',Url)">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                Year
                            </button>
                            <button class="btn btn-xs btn-info btn-flat margin-r-5" title="This Month" onclick="changeDownlineDetailsChart(1,'sp_downlineDetailsForCharts',Url)">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                Month
                            </button>
                            <button class="btn btn-xs btn-info btn-flat margin-r-5" title="This Week" onclick="changeDownlineDetailsChart(0,'sp_downlineDetailsForCharts',Url)">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                Week
                            </button>
                        </div>
                        <canvas id="downlineDetailschart" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="chart-wrapper">
                    <div class="col-md-6"><h3>Order Details</h3></div>
                    @*<div class="col-md-6"><p><span>Year</span> <span>Month</span> <span>Week</span></p></div>*@
                    <div class="wrapper">
                        <div class="box-tools pull-right">
                            <button class="btn btn-xs btn-info btn-flat margin-r-5" title="Year" onclick="changeOrderDetailsChart(2, 'sp_orderDetailsForCharts',Url)"><i class="fa fa-search" aria-hidden="true"></i>Year</button>
                            <button class="btn btn-xs btn-info btn-flat margin-r-5" title="This Month" onclick="changeOrderDetailsChart(1,'sp_orderDetailsForCharts',Url)"> <i class="fa fa-search" aria-hidden="true"></i> Month</button>
                            <button class="btn btn-xs btn-info btn-flat margin-r-5" title="This Week" onclick="changeOrderDetailsChart(0,'sp_orderDetailsForCharts',Url)"> <i class="fa fa-search" aria-hidden="true"></i> Week</button>
                        </div>
                        <canvas id="orderDetailschart" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            @*<div class="col-md-6">

                    @Html.Action("RecentJoinings", "VFDashboard")

                </div>

                <div class="col-md-6">

                    @Html.Action("SlabDetails", "VFDashboard")

                </div>*@

            <div class="clearfix"></div>


        </div>
    </div>
    @*</div>*@

    @*<div class="breadcome-area small-dn" style="margin: :0px!important;">
            @if (Model.hightlightModel.ReplicaLinkSetting)
            {
                <!--<div class="container-fluid">-->

                      <!--  <div class="col-lg-12">-->
                <div>
                    <div class="breadcome-list shadow-reset  wow bounceIn ">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-xs-12 hvr-bob">

                                <div class="button">
                                    <img src="~/Themes/Vnext/Content/VnextCSS/img/images4.png" alt="" style="margin-right: 1em;margin-left: 1.2em;" / >

                                    <a href="@Model.hightlightModel.ReplicaLink" title="Replica Link" target="_blank" style="color:#fff; font-size:1em; ">@Model.hightlightModel.ReplicaLink</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>*@

    @*<div class="sparkline16-list">
            <div class="sparkline16-graph">
                <div class="admintab-wrap" style="padding-left: 15px; padding-right:15px;margin-top: -2%;">
                    <ul class="nav nav-tabs custom-menu-wrap custon-tab-menu-style1" style="padding-left: 0px!important; padding-right: 0px!important; margin-bottom: 0em; background-color: #FFFFFF">
                        <li class="active" style="background-color: #fff;">
                            <a data-toggle="tab" href="#TabProject" id="Project"><span class="adminpro-icon adminpro-analytics tab-custon-ic"></span>  Downline Details </a>
                        </li>
                        <li style="background-color: #fff;">
                            <a data-toggle="tab" href="#TabDetails" id="Details"><span class="adminpro-icon adminpro-analytics-arrow tab-custon-ic"></span> Order Details</a>
                        </li>
                        <li style="background-color: #fff;">
                            <a data-toggle="tab" href="#TabPinsDetails" id="Details"><span class="adminpro-icon adminpro-analytics-arrow tab-custon-ic"></span> Pins Stock Details</a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div id="TabProject" class="tab-pane in active animated flipInX custon-tab-style1 ">

                            <div class="col-lg-12 shadow-reset" style="padding-left: 0px!important; padding-right: 0px!important; margin-bottom: 1em; background-color: #FFFFFF">
                                <div class="wrapper">
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-xs btn-info btn-flat margin-r-5" title="Year" onclick="changeDownlineDetailsChart(2,'sp_downlineDetailsForCharts',Url)">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                            Year
                                        </button>
                                        <button class="btn btn-xs btn-info btn-flat margin-r-5" title="This Month" onclick="changeDownlineDetailsChart(1,'sp_downlineDetailsForCharts',Url)">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                            Month
                                        </button>
                                        <button class="btn btn-xs btn-info btn-flat margin-r-5" title="This Week" onclick="changeDownlineDetailsChart(0,'sp_downlineDetailsForCharts',Url)">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                            Week
                                        </button>
                                    </div>
                                    <canvas id="downlineDetailschart" width="400" height="200"></canvas>
                                </div>
                            </div>

                        </div>
                        <div id="TabDetails" class="tab-pane animated flipInX custon-tab-style1">

                            <div class="col-lg-12 shadow-reset" style="padding-left: 0px!important; padding-right: 0px!important; margin-bottom: 1em; background-color: #FFFFFF">
                                <div class="wrapper">
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-xs btn-info btn-flat margin-r-5" title="Year" onclick="changeOrderDetailsChart(2, 'sp_orderDetailsForCharts',Url)"><i class="fa fa-search" aria-hidden="true"></i>Year</button>
                                        <button class="btn btn-xs btn-info btn-flat margin-r-5" title="This Month" onclick="changeOrderDetailsChart(1,'sp_orderDetailsForCharts',Url)"> <i class="fa fa-search" aria-hidden="true"></i> Month</button>
                                        <button class="btn btn-xs btn-info btn-flat margin-r-5" title="This Week" onclick="changeOrderDetailsChart(0,'sp_orderDetailsForCharts',Url)"> <i class="fa fa-search" aria-hidden="true"></i> Week</button>
                                    </div>
                                    <canvas id="orderDetailschart" width="400" height="200"></canvas>
                                </div>
                            </div>

                        </div>
                        <div id="TabPinsDetails" class="tab-pane animated flipInX custon-tab-style1" style="margin-bottom:1%">

                            <div class="col-lg-12 shadow-reset" style="padding-left: 0px!important; padding-right: 0px!important; margin-bottom: 1em; background-color: #FFFFFF">
                                <div class="wrapper">
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-xs btn-info btn-flat margin-r-5" title="Paid Pins" onclick="getPieChart(pieCharturl,0,1)"><i class="fa fa-search" aria-hidden="true"></i>Paid</button>
                                        <button class="btn btn-xs btn-info btn-flat margin-r-5" title="Credit Pins" onclick="getPieChart(pieCharturl,0,2)"> <i class="fa fa-search" aria-hidden="true"></i> Credit</button>
                                        <button class="btn btn-xs btn-info btn-flat margin-r-5" title="Free Pins" onclick="getPieChart(pieCharturl,0,3)"> <i class="fa fa-search" aria-hidden="true"></i> Free</button>
                                    </div>

                                    <div id="chartContainer" style="margin-top:9%"></div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="col-lg-12">
        @*<div class="sparkline16-graph">*@
        @Html.Action("MoreInformation", "MyDetails")
        @*</div>*@
    </div>
</div>
<script>
    var Url = '@Url.Action("chartsDetails", "VFDashboard")';
    var pieCharturl="@Html.Raw(Url.Action("GetEpinDetailsChartData", "Epin"))";
</script>
<script type="text/javascript" src="~/Themes/Vnext/Content/VnextJs/js/wow/wow.min.js"></script>
<script>

    wow = new WOW(
        {
            animateClass: 'animated',
            offset: 100
        }
      );
    wow.init();
    //document.getElementById('').onclick = function () {
    //    var section = document.createElement('section');
    //    section.className = 'wow fadeInDown';
    //    this.parentNode.insertBefore(section, this);
    //};
</script>


<script src="~/Themes/Vnext/Content/VnextJs/js/vendor/jquery-1.11.3.min.js"></script>
<script>
    if(@counter>=5)
    {
        $("#showonBaseSetting").show();
    }
    else{
        $("#showonBaseSetting").hide();
    }

    if(@counter>=1)
    {
        $("#allPanelshow").hide();
    }
    else{
        $("#allPanelshow").hide();
    }
</script>
<script src="~/Scripts/PinsStockChart.js"></script>