﻿@model Nop.Web.Framework.Models.DashBoard.DashboardDetails

<style>
    #MyRoyaltyStatus_filter, #MyRoyaltyStatus_paginate, #MyRoyaltyStatus_info {
        display: none;
    }

    table.dataTable thead th {
        font-weight: 100;
    }

    .table > tbody > tr > td {
        text-align: center;
    }

    @@media all and (max-width: 600px) {
        .table > tbody > tr > td {
            text-align: right;
        }
    }
</style>


<div class="table-wrapper" id="ScrollableDiv">
    <table id="MyRoyaltyStatus" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>@T("dashboard.awardstatus.statusname")</th>
                <th>@T("dashboard.awardstatus.Name")</th>
                <th>@T("dashboard.awardstatus.date")</th>
            </tr>

        </thead>
        <tbody>

            @if (Model != null)
            {
                for (int i = 0; i < Model.myRewardstatusList.Count(); i++)
                {
                    <tr>
                        <td data-label='@T("dashboard.awardstatus.statusname")'>
                            <img src="@Url.Content(Model.myRewardstatusList[i].rewardImgpath)" class="stausImg" alt="@Model.myRewardstatusList[i].AchivStatusName" title="@Model.myRewardstatusList[i].AchivStatusName" />
                        </td>
                        <td data-label='@T("dashboard.awardstatus.Name")'>@Model.myRewardstatusList[i].OfferName</td>
                        <td data-label='@T("dashboard.awardstatus.date")'>@Model.myRewardstatusList[i].OAT_AchDt</td>
                    </tr>
                }

            }
            else
            {
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
            }
        </tbody>
    </table>
</div>

