﻿@model Nop.Web.Framework.Models.DashBoard.RenewDetails
<style>
    #MyRenewStatus_filter, #MyRenewStatus_length, #MyRenewStatus_paginate {
        display: none;
    }

    table.dataTable thead th {
        font-weight: 100;
    }
      #showTD {
                display: none;
            }
     @@media screen and (max-width: 600px) {
            #showTD {
                display: block;
            }
        }
</style>


<div class="table-wrapper">

    <table id="MyRenewStatus" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th> @T("Dashboard.RenewStatus.JoiningDate")</th>
                <th>@T("Dashboard.RenewStatus.RenewalAmount")</th>
                <th> @T("Dashboard.RenewStatus.RenewalDate") </th>
                <th> @T("Dashboard.RenewStatus.ActualRenewalDate")</th>
                <th>@T("Dashboard.RenewStatus.Remark")</th>
            </tr>
        </thead>
        <tbody>

            @if (Model.myRenewStatusList.Count() > 0)
            {
                for (int i = 0; i < Model.myRenewStatusList.Count(); i++)
                {
                    <tr>
                        <td data-label='@T("Dashboard.RenewStatus.JoiningDate")'>@Model.myRenewStatusList[i].JoiningDate</td>
                        <td data-label='@T("Dashboard.RenewStatus.RenewalAmount")'>@Model.myRenewStatusList[i].RenewalAmount</td>
                        <td data-label='@T("Dashboard.RenewStatus.RenewalDate")'>@Model.myRenewStatusList[i].RenewalDate</td>
                        <td data-label='@T("Dashboard.RenewStatus.ActualRenewalDate")'>@Model.myRenewStatusList[i].ActualRenewalDate</td>
                        <td data-label='@T("Dashboard.RenewStatus.Remark")'>@Model.myRenewStatusList[i].Remark</td>
                    </tr>
                }
            }
            else
            {
                <tr id="showTD">

                    <td style="text-align:center">@T("Common.DataTable.NoRecordFound") </td>

                </tr>
            }
        </tbody>
    </table>
</div>
