﻿@model Nop.Admin.Models.Security.PermissionMenuModel
@{
    Html.AddTitleParts(T("Admin.addMenu").Text);
}


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "productattribute-form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ReconciliationId)
    <div class="content-header clearfix">
        <h1 class="pull-left">

            @T("Admin.addMenu")
        </h1>
        <div class="pull-right">


        </div>
    </div>
    <div class="content" id="searchPanel">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Category)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.Category, Model.CategoryList, "Select Category", new { @class = "form-control", autocomplete = "off", maxlength = 22, Id = "ddlCategory" })
                                        @Html.ValidationMessageFor(model => model.Category)
                                    </div>
                                </div>
                                <div class="form-group" id="trSubCategory">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.SubCategory)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.SubCategory, Model.SubCategoryList, "Select SubCategory", new { @class = "form-control", autocomplete = "off", maxlength = 22, Id = "ddlSubCategory" })
                                        @Html.ValidationMessageFor(model => model.SubCategory)
                                    </div>
                                </div>
                                <div class="form-group" id="divMemId">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.SystemName)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.SystemName)

                                        @Html.ValidationMessageFor(model => model.SystemName)
                                    </div>
                                </div>
                                <div class="form-group" id="divMemId">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.NopResourceName)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.NopResourceName)

                                        @Html.ValidationMessageFor(model => model.NopResourceName)


                                    </div>
                                </div>
                                <div class="form-group" id="divMemId">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Name)

                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.Name)

                                        @Html.ValidationMessageFor(model => model.Name)
                                    </div>
                                </div>
                                @*<div class="form-group" id="divMemId">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.Controller)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Controller)

                                            @Html.ValidationMessageFor(model => model.Controller)
                                        </div>
                                    </div>
                                    <div class="form-group" id="divMemId">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.Action)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Action)

                                            @Html.ValidationMessageFor(model => model.Action)
                                        </div>
                                    </div>*@

                                <div class="form-group" id="divImageUrlId">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ImageUrl)
                                    </div>
                                    <div class="col-md-8">
                                        <input name="file" type="file" />
                                    </div>
                                </div>
                                <div class="form-group" id="trImageUrlId">
                                    <div class="col-md-12">
                                        <em>@T("Admin.Configuration.ACL.ImageUrl.Hint2")</em>

                                    </div>
                                </div>
                                <div class="form-group" id="trEpinNote">
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-8">
                                        <b> @T("Admin.Note.Note") </b> @T("Admin.Note.EpinStatusDates")
                                    </div>
                                </div>
                                <div class="form-group" id="trAddToList">
                                    <div class="col-md-4 col-md-offset-3">
                                        <input type="submit" id="Continue" name="searchCommissionDetail" class="btn btn-primary btn-search " value="@T("Admin.Common.Save")" />


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            

            if ($('#ddlCategory').val() == "") {
                $('#divImageUrlId').show();
                $('#trImageUrlId').show();
                $('#trSubCategory').hide();
            }
            else if ($('#ddlCategory').val() == "Select Category") {
                $('#divImageUrlId').show();
                $('#trImageUrlId').show();
                $('#trSubCategory').hide();
            }
            else {
                $('#divImageUrlId').hide();
                $('#trImageUrlId').hide();
                $('#trSubCategory').show();
                var value = $('#ddlCategory').val();
                $.get("@(Url.Action("LoadSubCategory", "Menu"))", { Category: value }, function (response) {
                    
                    $("#ddlSubCategory").html('');
                    var SubCategoryList = '';

                    if (response.SubCategoryList.length > 0) {
                        for (var i = 0; i < response.SubCategoryList.length; i++)
                            SubCategoryList = SubCategoryList + '<option value="' + response.SubCategoryList[i].Value + '">' + response.SubCategoryList[i].Text + '</option>';
                    }
                    else {
                        SubCategoryList = '<option>No SubCategory available.</option>';
                    }
                    $("#ddlSubCategory").append(SubCategoryList);
                });
            }


            $('#ddlCategory').change(function () {
                var ddlCategory = $('#ddlCategory').val();

                



                $('#trSubCategory').show();
                var value = $(this).val();
                if (value != null) {
                    $.get("@(Url.Action("LoadSubCategory", "Menu"))", { Category: value }, function (response) {
                        
                        $("#ddlSubCategory").html('');
                        var SubCategoryList = '';

                        if (response.SubCategoryList.length > 0) {
                            for (var i = 0; i < response.SubCategoryList.length; i++)
                                SubCategoryList = SubCategoryList + '<option value="' + response.SubCategoryList[i].Value + '">' + response.SubCategoryList[i].Text + '</option>';
                        }
                        else {
                            SubCategoryList = '<option>No SubCategory available.</option>';
                        }
                        $("#ddlSubCategory").append(SubCategoryList);
                    });
                }
                if (value == "") {
                    $('#trSubCategory').hide();
                    $('#divImageUrlId').show();
                    $('#trImageUrlId').show();
                }
                else {
                    $('#divImageUrlId').hide();
                    $('#trImageUrlId').hide();
                }
            });
        });
    </script>


}














