﻿@model  Nop.Web.Framework.Model.ReportVM
@using System.Globalization;
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Commission.Fields.DefineRank").Text;

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Define Rank");
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Commission.Fields.ReportSetting")
        </h1>
        <div class="pull-right">
            <a href="@Url.Action("ReportSetting")" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="ReportSetting-grid"></div>

                        <script>
                            $(document).ready(function () {

                                $("#ReportSetting-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("ReportSettingList", "Setting"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: addAntiForgeryToken
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        numeric: false,
                                        previousNext: false,
                                        info: false
                                    },
                                    scrollable: false,
                                    dataBound: onDataBound,
                                    columns: [{
                                        field: "ReportTitle",
                                        title: "@T("Commission.Commission.Fields.RankName")",
                                    },
                                                            {
                                                                field: "StoredProcedureName",
                                                                title: "@T("Commission.Commission.Fields.RankName")",
                                                            },
                                                            {
                                                                field: "CountStoredProcedureName",
                                                                title: "@T("Commission.Commission.Fields.RankName")",
                                                            },
                                                            {
                                                                field: "ColumnListForAggregate",
                                                                title: "@T("Commission.Commission.Fields.RankName")",
                                                            }
                                                                                    ,
                                                                                    {
                                                                                        field: "PlanType",
                                                                                        title: "@T("Commission.Commission.Fields.RankName")",
                                                                                    }
                                                                                    ,
                                                                                    {
                                                                                        field: "PayoutListBasedOnStatus",
                                                                                        title: "@T("Commission.Commission.Fields.RankName")",
                                                                                    }
                                                                                    ,
                                                                                    {
                                                                                        field: "PayoutSelection",
                                                                                        title: "@T("Commission.Commission.Fields.RankName")",
                                                                                    },
                                                                                    {
                                                                                        field: "SelectedOption",
                                                                                        title: "@T("Commission.Commission.Fields.RankName")",
                                                                                    }
                                                                                    ,
                                                                                    {
                                                                                        field: "Paging",
                                                                                        title: "@T("Commission.Commission.Fields.RankName")",
                                                                                    }
                                                                                    ,
                                                                                    {
                                                                                        field: "FooterAggregate",
                                                                                        title: "@T("Commission.Commission.Fields.RankName")",
                                                                                    }

                                    ]
                                });
                            });

                            function onDataBound(e) {


                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

