﻿@model MediaSettingsModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.Media").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Media settings");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Settings.Media")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @Html.Action("StoreScopeConfiguration", "Setting")
            @*@Html.Action("Mode", "Setting")*@
            @Html.ValidationSummary(false)

            <div class="panel-group">
                <div class="panel panel-default">
                    @*<div class="panel-heading">
                            @T("Admin.Configuration.Settings.Media.BlockTitle.Common")
                        </div>*@
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.PicturesStoredIntoDatabase)
                            </div>
                            <div class="col-md-8">
                                <div class="form-text-row">
                                    @if (Model.PicturesStoredIntoDatabase)
                                    {
                                        @T("Admin.Configuration.Settings.Media.PicturesStoredIntoDatabase.Database")
                                    }
                                    else
                                    {
                                        @T("Admin.Configuration.Settings.Media.PicturesStoredIntoDatabase.FileSystem")
                                    }
                                    <input type="submit" name="change-picture-storage" class="k-button" onclick="return confirm('@T("Admin.Common.AreYouSure")');" value="@T("Admin.Configuration.Settings.Media.PicturesStoredIntoDatabase.Change")" />
                                    <br />
                                    <b id="MessageNote"> @T("Admin.Note.Note") </b> <span id="">@T("Admin.Configuration.Settings.Media.PicturesStoredIntoDatabase.Note")</span>
</div>
                            </div>
                            @*<div class="col-md-8">
                                    <button type="submit" id="change-picture-storage" name="change-picture-storage" class="btn btn-primary">
                                        @T("Admin.Configuration.Settings.Media.PicturesStoredIntoDatabase.Change")
                                    </button>
                                    @Html.ActionConfirmation("change-picture-storage")
                                </div>*@
                        </div>
                        @*<div class="form-group">
                                <div class="col-md-9 col-md-offset-3">
                                    <span>@T("Admin.Configuration.Settings.Media.PicturesStoredIntoDatabase.Note")</span>
                                </div>
                            </div>*@
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.AvatarPictureSize_OverrideForStore, model => model.AvatarPictureSize, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.AvatarPictureSize)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AvatarPictureSize)
                                @Html.ValidationMessageFor(model => model.AvatarPictureSize)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.ProductThumbPictureSize_OverrideForStore, model => model.ProductThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.ProductThumbPictureSize)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.ProductThumbPictureSize)
                                @Html.ValidationMessageFor(model => model.ProductThumbPictureSize)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.ProductDetailsPictureSize_OverrideForStore, model => model.ProductDetailsPictureSize, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.ProductDetailsPictureSize)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.ProductDetailsPictureSize)
                                @Html.ValidationMessageFor(model => model.ProductDetailsPictureSize)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.ProductThumbPictureSizeOnProductDetailsPage_OverrideForStore, model => model.ProductThumbPictureSizeOnProductDetailsPage, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.ProductThumbPictureSizeOnProductDetailsPage)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.ProductThumbPictureSizeOnProductDetailsPage)
                                @Html.ValidationMessageFor(model => model.ProductThumbPictureSizeOnProductDetailsPage)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.AssociatedProductPictureSize_OverrideForStore, model => model.AssociatedProductPictureSize, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.AssociatedProductPictureSize)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AssociatedProductPictureSize)
                                @Html.ValidationMessageFor(model => model.AssociatedProductPictureSize)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.CategoryThumbPictureSize_OverrideForStore, model => model.CategoryThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.CategoryThumbPictureSize)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.CategoryThumbPictureSize)
                                @Html.ValidationMessageFor(model => model.CategoryThumbPictureSize)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.ManufacturerThumbPictureSize_OverrideForStore, model => model.ManufacturerThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.ManufacturerThumbPictureSize)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.ManufacturerThumbPictureSize)
                                @Html.ValidationMessageFor(model => model.ManufacturerThumbPictureSize)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.VendorThumbPictureSize_OverrideForStore, model => model.VendorThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.VendorThumbPictureSize)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.VendorThumbPictureSize)
                                @Html.ValidationMessageFor(model => model.VendorThumbPictureSize)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.CartThumbPictureSize_OverrideForStore, model => model.CartThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.CartThumbPictureSize)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.CartThumbPictureSize)
                                @Html.ValidationMessageFor(model => model.CartThumbPictureSize)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.MiniCartThumbPictureSize_OverrideForStore, model => model.MiniCartThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.MiniCartThumbPictureSize)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.MiniCartThumbPictureSize)
                                @Html.ValidationMessageFor(model => model.MiniCartThumbPictureSize)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.MaximumImageSize_OverrideForStore, model => model.MaximumImageSize, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.MaximumImageSize)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.MaximumImageSize)
                                @Html.ValidationMessageFor(model => model.MaximumImageSize)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.MultipleThumbDirectories_OverrideForStore, model => model.MultipleThumbDirectories, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.MultipleThumbDirectories)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.MultipleThumbDirectories)
                                @Html.ValidationMessageFor(model => model.MultipleThumbDirectories)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.OverrideStoreCheckboxFor(model => model.DefaultImageQuality_OverrideForStore, model => model.DefaultImageQuality, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.DefaultImageQuality)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.DefaultImageQuality)
                                @Html.ValidationMessageFor(model => model.DefaultImageQuality)
                            </div>
                        </div>

                        @*<div class="form-group">
                                <div class="col-md-3">
                                    @Html.OverrideStoreCheckboxFor(model => model.MaximumImageSize_OverrideForStore, model => model.MaximumImageSize, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.MaximumImageSize)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.MaximumImageSize)
                                    @Html.ValidationMessageFor(model => model.MaximumImageSize)
                                </div>
                            </div>
                            <div class="form-group advanced-setting">
                                <div class="col-md-3">
                                    @Html.OverrideStoreCheckboxFor(model => model.MultipleThumbDirectories_OverrideForStore, model => model.MultipleThumbDirectories, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.MultipleThumbDirectories)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.MultipleThumbDirectories)
                                    @Html.ValidationMessageFor(model => model.MultipleThumbDirectories)
                                </div>
                            </div>
                            <div class="form-group advanced-setting">
                                <div class="col-md-3">
                                    @Html.OverrideStoreCheckboxFor(model => model.DefaultImageQuality_OverrideForStore, model => model.DefaultImageQuality, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.DefaultImageQuality)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.DefaultImageQuality)
                                    @Html.ValidationMessageFor(model => model.DefaultImageQuality)
                                </div>
                            </div>
                            <div class="form-group advanced-setting">
                                <div class="col-md-3">
                                    @Html.OverrideStoreCheckboxFor(model => model.ImportProductImagesUsingHash_OverrideForStore, model => model.ImportProductImagesUsingHash, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.ImportProductImagesUsingHash)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.ImportProductImagesUsingHash)
                                    @Html.ValidationMessageFor(model => model.ImportProductImagesUsingHash)
                                </div>
                            </div>
                            <div class="form-group advanced-setting">
                                <div class="col-md-3">
                                    @Html.OverrideStoreCheckboxFor(model => model.DefaultPictureZoomEnabled_OverrideForStore, model => model.DefaultPictureZoomEnabled, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.DefaultPictureZoomEnabled)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.DefaultPictureZoomEnabled)
                                    @Html.ValidationMessageFor(model => model.DefaultPictureZoomEnabled)
                                </div>
                            </div>*@
                    </div>
                </div>
                @*<div class="panel panel-default advanced-setting">
                        <div class="panel-heading">
                            @T("Admin.Configuration.Settings.Media.BlockTitle.Product")
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.OverrideStoreCheckboxFor(model => model.ProductDetailsPictureSize_OverrideForStore, model => model.ProductDetailsPictureSize, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.ProductDetailsPictureSize)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.ProductDetailsPictureSize)
                                    @Html.ValidationMessageFor(model => model.ProductDetailsPictureSize)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.OverrideStoreCheckboxFor(model => model.ProductThumbPictureSize_OverrideForStore, model => model.ProductThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.ProductThumbPictureSize)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.ProductThumbPictureSize)
                                    @Html.ValidationMessageFor(model => model.ProductThumbPictureSize)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.OverrideStoreCheckboxFor(model => model.ProductThumbPictureSizeOnProductDetailsPage_OverrideForStore, model => model.ProductThumbPictureSizeOnProductDetailsPage, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.ProductThumbPictureSizeOnProductDetailsPage)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.ProductThumbPictureSizeOnProductDetailsPage)
                                    @Html.ValidationMessageFor(model => model.ProductThumbPictureSizeOnProductDetailsPage)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.OverrideStoreCheckboxFor(model => model.AssociatedProductPictureSize_OverrideForStore, model => model.AssociatedProductPictureSize, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.AssociatedProductPictureSize)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.AssociatedProductPictureSize)
                                    @Html.ValidationMessageFor(model => model.AssociatedProductPictureSize)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default advanced-setting">
                        <div class="panel-heading">
                            @T("Admin.Configuration.Settings.Media.BlockTitle.OtherPages")
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.OverrideStoreCheckboxFor(model => model.CategoryThumbPictureSize_OverrideForStore, model => model.CategoryThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.CategoryThumbPictureSize)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.CategoryThumbPictureSize)
                                    @Html.ValidationMessageFor(model => model.CategoryThumbPictureSize)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.OverrideStoreCheckboxFor(model => model.ManufacturerThumbPictureSize_OverrideForStore, model => model.ManufacturerThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.ManufacturerThumbPictureSize)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.ManufacturerThumbPictureSize)
                                    @Html.ValidationMessageFor(model => model.ManufacturerThumbPictureSize)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.OverrideStoreCheckboxFor(model => model.VendorThumbPictureSize_OverrideForStore, model => model.VendorThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.VendorThumbPictureSize)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.VendorThumbPictureSize)
                                    @Html.ValidationMessageFor(model => model.VendorThumbPictureSize)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.OverrideStoreCheckboxFor(model => model.CartThumbPictureSize_OverrideForStore, model => model.CartThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.CartThumbPictureSize)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.CartThumbPictureSize)
                                    @Html.ValidationMessageFor(model => model.CartThumbPictureSize)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.OverrideStoreCheckboxFor(model => model.MiniCartThumbPictureSize_OverrideForStore, model => model.MiniCartThumbPictureSize, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.MiniCartThumbPictureSize)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.MiniCartThumbPictureSize)
                                    @Html.ValidationMessageFor(model => model.MiniCartThumbPictureSize)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.OverrideStoreCheckboxFor(model => model.AvatarPictureSize_OverrideForStore, model => model.AvatarPictureSize, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.AvatarPictureSize)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.AvatarPictureSize)
                                    @Html.ValidationMessageFor(model => model.AvatarPictureSize)
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
}