﻿@model  MemberMenuSetting


@{
    //page title

    ViewBag.Title = T("Admin.Configuration.Settings.MemberMenuSetting").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Member menu settings");
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Settings.MemberMenuSetting")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">

            @Html.ValidationSummary(false)

            <div class="panel-group">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div id="masterDiv">
                                    @Html.HiddenFor(model => model.SelectedMenusIds)
                                    @Html.HiddenFor(model => model.UnSelectedMenusIds)

                                    <br />
                                    @foreach (var parentMenu in Model.Categories)
                                    {
                                        <div id="parentDiv">
                                            <input type="checkbox" id="parent_@parentMenu.Id" onchange="doCheckChild(@parentMenu.Id); " checked="@parentMenu.Selected" /><b> @parentMenu.Name </b>
                                            <br />

                                            @foreach (var childMenu in parentMenu.SubCategories)
                                            {
                                                if (@parentMenu.Selected)
                                                {
                                                    <input type="checkbox" name="ChildMenu" id="child_@childMenu.Id" value="@childMenu.Id" onchange="doCheck(@childMenu.Id, @parentMenu.Id);" checked="@childMenu.Selected" style="width:50px;" />
                                                    <label for="@childMenu.Name">@childMenu.Name</label>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" name="ChildMenu" id="child_@childMenu.Id" value="@childMenu.Id" onchange="doCheck(@childMenu.Id, @parentMenu.Id);" checked="@childMenu.Selected" style="width:50px;" disabled />
                                                    <label for="@childMenu.Name">@childMenu.Name</label>
                                                }
                                                <br />
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        //$(document).ready(function () {

        function doCheckChild(elem) {
            // alert("doCheckChild");
            //$('#parent_' + elem)
            //    .parent('#parentDiv')
            //    .find('input[type="checkbox"]')
            //.prop('checked', $('#parent_' + elem).prop('checked'));
            var SelectedMenusIds = ($('#SelectedMenusIds').val()).split(',');

            var UnSelectedMenusIds = ($('#UnSelectedMenusIds').val()).split(',');

            var UnSelectedMenus = $('#UnSelectedMenusIds').val();
            if ($('#parent_' + elem).prop('checked')) {
                // alert('true');

                $('#parent_' + elem)
                    .parent('#parentDiv')
                    .find('input[type="checkbox"]')
                    .each(function () {
                       // alert(elem);
                        $('#parent_' + elem).parent('#parentDiv').find('input[type="checkbox"]').removeAttr("disabled");

                        //
                        if (!isNaN($(this).val())) {
                            $(this).prop('checked', 'checked');
                            SelectedMenusIds.push($(this).val());
                            // alert('checking'+$(this).val());

                            var checkboxval=$(this).val();
                            UnSelectedMenusIds = jQuery.grep(UnSelectedMenusIds, function(value) {  ///Removes Element From array By value
                                return value != checkboxval;
                            });         

                        }
                        var flag = 0;
                        if (elem != null && flag == 0) {
                            flag = 1;
                            $(this).prop('checked', 'checked');
                            SelectedMenusIds.push(elem);
                             
                            UnSelectedMenusIds = jQuery.grep(UnSelectedMenusIds, function(value) {  ///Removes Element From array By value
                                return value != elem;
                            });    
                        }
                    });
            } else {

                // alert('false');
                var a = $('#parent_' + elem).find('input[type="checkbox"]');

                $('#parent_' + elem).parent('#parentDiv').find('input[type="checkbox"]').attr("disabled", "disabled");
                $('#parent_' + elem).removeAttr("disabled");

                var flag = 0;

                $('#parent_' + elem)
                .parent('#parentDiv')
                .find('input[type="checkbox"]')
                .each(function (index, value) {
                    if (!isNaN($(this).val())) {
                        $(this).prop('checked', '');
                       // SelectedMenusIds.splice(index, 1);
                        UnSelectedMenusIds.push($(this).val());
                        // alert('checking'+$(this).val());
                        var checkboxval=$(this).val();
                        SelectedMenusIds = jQuery.grep(SelectedMenusIds, function(value) { ///Removes Element From array By value
                            return value != checkboxval;
                        });       

                        if (elem != null && flag == 0) {
                            flag = 1;
                            //$(this).prop('checked', 'checked');
                            UnSelectedMenusIds.push(elem);
                        }
                    }
                });
                UnSelectedMenusIds.push(elem);
            }
            var menus = UnSelectedMenus + ',' + UnSelectedMenusIds.toString();
            $('#SelectedMenusIds').val(SelectedMenusIds.toString());
            $('#UnSelectedMenusIds').val(UnSelectedMenusIds);
        }

        function doCheck(elem, parentElem) {
            var IsParentSelect = 0;
            
            var SelectedMenusIds = ($('#SelectedMenusIds').val()).split(',');
            var UnSelectedMenus = $('#UnSelectedMenusIds').val();
             UnSelectedMenusIds = ($('#UnSelectedMenusIds').val()).split(',');

            if ($('#child_' + elem).prop('checked')) {

                SelectedMenusIds.push(elem);

                var bb = UnSelectedMenusIds.length;
                for (var i = 0; i < bb; i++) {
                    
                    if (UnSelectedMenusIds[i] == elem)
                        UnSelectedMenusIds.splice(i, 1);

                }
            }
            else {
                //
                //alert("lenghth :" + SelectedMenusIds.length + "" +" Element" + elem);
                if (SelectedMenusIds.length == 1)
                {
                    UnSelectedMenusIds.push(elem);
                }
                
                for (var i = 1; i < SelectedMenusIds.length; i++) {
                    
                   // alert("lenghth :" + SelectedMenusIds.length + "" +" Element" + elem);
                    if (SelectedMenusIds[i] == elem) {
                        SelectedMenusIds.splice(i, 1);
                        UnSelectedMenusIds.push(elem);
                    }                  
                        
                   

                }
            }

            var ChildIdOfParent = $('#parent_' + parentElem).parent('#parentDiv').find('input[type="checkbox"]');

            for (var a = 0; a < ChildIdOfParent.length; a++) {

                var currentId = ChildIdOfParent[a].id;
                var parentId = 'parent_' + parentElem;

                //var pq = jQuery.inArray('#parent_' + parentElem, ChildIdOfParent[a].id);

                if (parentId != currentId) {
                    if ($('#' + currentId).prop('checked')) {

                        IsParentSelect = 1;
                    }
                }
            }
            if (IsParentSelect == 0) {                
                $('#parent_' + parentElem).prop('checked', '');
                UnSelectedMenusIds.push(parentElem);
                $('#parent_' + parentElem).parent('#parentDiv').find('input[type="checkbox"]').attr("disabled", "disabled");
                $('#parent_' + parentElem).removeAttr("disabled");
            }

            // var menus = UnSelectedMenus + ',' + UnSelectedMenusIds.toString();
            $('#SelectedMenusIds').val(SelectedMenusIds.toString());
            $('#UnSelectedMenusIds').val(UnSelectedMenusIds.toString());//UnSelectedMenusIds.toString());
        }

    </script>

}
