﻿@model OrderSettingsModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.Order").Text;

    Html.SetActiveMenuItemSystemName("Order settings");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Settings.Order")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            bindBootstrapTabSelectEvent('ordersettings-edit');
        });
    </script>

    <div class="content">
        <div class="form-horizontal">
            @Html.ValidationSummary(false)

            <div id="ordersettings-edit" class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    @Html.RenderBootstrapTabHeader("tab-info", @T("Admin.Configuration.Settings.Order.OrderSettings"), true)
                    @Html.RenderBootstrapTabHeader("tab-returnrequest", @T("Admin.Configuration.Settings.Order.ReturnRequestSettings"))
                </ul>
                <div class="tab-content">
                    @Html.RenderBootstrapTabContent("tab-info", @TabOrderSettings(), true)
                    @Html.RenderBootstrapTabContent("tab-returnrequest", @TabReturnRequestSettings())
                </div>
            </div>
        </div>
    </div>

    {
        //custom tabs
        var eventMessage = new AdminTabStripCreated(this.Html, "ordersettings-edit");
        EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
        foreach (var eventBlock in eventMessage.BlocksToRender)
        {
            @eventBlock
        }
    }

    @*save selected tab name*@
    <input type="hidden" id="selected-tab-name" name="selected-tab-name" value="@(Html.GetSelectedTabName())">
}

@helper TabOrderSettings()
{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#@Html.FieldIdFor(model => model.OnePageCheckoutEnabled)").click(toggleOnePageCheckoutEnabled);

            toggleOnePageCheckoutEnabled();
        });

        function toggleOnePageCheckoutEnabled() {
            if ($('#@Html.FieldIdFor(model => model.OnePageCheckoutEnabled)').is(':checked')) {
                $('#pnlOnePageCheckoutDisplayOrderTotalsOnPaymentInfoTab').show();
            }
            else {
                $('#pnlOnePageCheckoutDisplayOrderTotalsOnPaymentInfoTab').hide();
            }
        }

    </script>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.OverrideStoreCheckboxFor(model => model.IsReOrderAllowed_OverrideForStore, model => model.IsReOrderAllowed, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.IsReOrderAllowed)
                            </div>
                            <div class="col-md-8">
                                @Html.NopEditorFor(model => model.IsReOrderAllowed)
                                @Html.ValidationMessageFor(model => model.IsReOrderAllowed)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.OverrideStoreCheckboxFor(model => model.MinOrderSubtotalAmount_OverrideForStore, model => model.MinOrderSubtotalAmount, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.MinOrderSubtotalAmount)
                            </div>
                            <div class="col-md-8">

                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.NopEditorFor(model => model.MinOrderSubtotalAmount)
                                        @Html.ValidationMessageFor(model => model.MinOrderSubtotalAmount)
                                    </div>
                                    <div class="col-md-2">
                                        @Model.PrimaryStoreCurrencyCode
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.OverrideStoreCheckboxFor(model => model.MinOrderSubtotalAmountIncludingTax_OverrideForStore, model => model.MinOrderSubtotalAmountIncludingTax, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.MinOrderSubtotalAmountIncludingTax)
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.MinOrderSubtotalAmountIncludingTax)
                                @Html.ValidationMessageFor(model => model.MinOrderSubtotalAmountIncludingTax)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.OverrideStoreCheckboxFor(model => model.MinOrderTotalAmount_OverrideForStore, model => model.MinOrderTotalAmount, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.MinOrderTotalAmount)
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.MinOrderTotalAmount)
                                        @Html.ValidationMessageFor(model => model.MinOrderTotalAmount)
                                    </div>
                                    <div class="col-md-2">
                                        @Model.PrimaryStoreCurrencyCode
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.OverrideStoreCheckboxFor(model => model.AnonymousCheckoutAllowed_OverrideForStore, model => model.AnonymousCheckoutAllowed, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.AnonymousCheckoutAllowed)
                            </div>
                            <div class="col-md-8">
                                @Html.NopEditorFor(model => model.AnonymousCheckoutAllowed)
                                @Html.ValidationMessageFor(model => model.AnonymousCheckoutAllowed)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.OverrideStoreCheckboxFor(model => model.TermsOfServiceOnShoppingCartPage_OverrideForStore, model => model.TermsOfServiceOnShoppingCartPage, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.TermsOfServiceOnShoppingCartPage)
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.TermsOfServiceOnShoppingCartPage)
                                @Html.ValidationMessageFor(model => model.TermsOfServiceOnShoppingCartPage)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.OverrideStoreCheckboxFor(model => model.TermsOfServiceOnOrderConfirmPage_OverrideForStore, model => model.TermsOfServiceOnOrderConfirmPage, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.TermsOfServiceOnOrderConfirmPage)
                            </div>
                            <div class="col-md-8">
                                @Html.NopEditorFor(model => model.TermsOfServiceOnOrderConfirmPage)
                                @Html.ValidationMessageFor(model => model.TermsOfServiceOnOrderConfirmPage)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.OverrideStoreCheckboxFor(model => model.OnePageCheckoutEnabled_OverrideForStore, model => model.OnePageCheckoutEnabled, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.OnePageCheckoutEnabled)
                            </div>
                            <div class="col-md-8">
                                @Html.NopEditorFor(model => model.OnePageCheckoutEnabled)
                                @Html.ValidationMessageFor(model => model.OnePageCheckoutEnabled)
                            </div>
                        </div>
                        <div class="form-group" id="pnlOnePageCheckoutDisplayOrderTotalsOnPaymentInfoTab">
                            <div class="col-md-4">
                                @Html.OverrideStoreCheckboxFor(model => model.OnePageCheckoutDisplayOrderTotalsOnPaymentInfoTab_OverrideForStore, model => model.OnePageCheckoutDisplayOrderTotalsOnPaymentInfoTab, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.OnePageCheckoutDisplayOrderTotalsOnPaymentInfoTab)
                            </div>
                            <div class="col-md-8">
                                @Html.NopEditorFor(model => model.OnePageCheckoutDisplayOrderTotalsOnPaymentInfoTab)
                                @Html.ValidationMessageFor(model => model.OnePageCheckoutDisplayOrderTotalsOnPaymentInfoTab)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.OverrideStoreCheckboxFor(model => model.DisableBillingAddressCheckoutStep_OverrideForStore, model => model.DisableBillingAddressCheckoutStep, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.DisableBillingAddressCheckoutStep)
                            </div>
                            <div class="col-md-8">
                                @Html.NopEditorFor(model => model.DisableBillingAddressCheckoutStep)
                                @Html.ValidationMessageFor(model => model.DisableBillingAddressCheckoutStep)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.OverrideStoreCheckboxFor(model => model.DisableOrderCompletedPage_OverrideForStore, model => model.DisableOrderCompletedPage, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.DisableOrderCompletedPage)
                            </div>
                            <div class="col-md-8">
                                @Html.NopEditorFor(model => model.DisableOrderCompletedPage)
                                @Html.ValidationMessageFor(model => model.DisableOrderCompletedPage)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.OverrideStoreCheckboxFor(model => model.AttachPdfInvoiceToOrderPlacedEmail_OverrideForStore, model => model.AttachPdfInvoiceToOrderPlacedEmail, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.AttachPdfInvoiceToOrderPlacedEmail)
                            </div>
                            <div class="col-md-8">
                                @Html.NopEditorFor(model => model.AttachPdfInvoiceToOrderPlacedEmail)
                                @Html.ValidationMessageFor(model => model.AttachPdfInvoiceToOrderPlacedEmail)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.OverrideStoreCheckboxFor(model => model.AttachPdfInvoiceToOrderPaidEmail_OverrideForStore, model => model.AttachPdfInvoiceToOrderPaidEmail, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.AttachPdfInvoiceToOrderPaidEmail)
                            </div>
                            <div class="col-md-8">
                                @Html.NopEditorFor(model => model.AttachPdfInvoiceToOrderPaidEmail)
                                @Html.ValidationMessageFor(model => model.AttachPdfInvoiceToOrderPaidEmail)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.OverrideStoreCheckboxFor(model => model.AttachPdfInvoiceToOrderCompletedEmail_OverrideForStore, model => model.AttachPdfInvoiceToOrderCompletedEmail, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.AttachPdfInvoiceToOrderCompletedEmail)
                            </div>
                            <div class="col-md-8">
                                @Html.NopEditorFor(model => model.AttachPdfInvoiceToOrderCompletedEmail)
                                @Html.ValidationMessageFor(model => model.AttachPdfInvoiceToOrderCompletedEmail)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.NopLabelFor(model => model.GiftCards_Activated_OrderStatusId)
                            </div>
                            <div class="col-md-8">
                                @Html.NopDropDownListFor(model => model.GiftCards_Activated_OrderStatusId, Model.GiftCards_Activated_OrderStatuses, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.GiftCards_Activated_OrderStatusId)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.NopLabelFor(model => model.GiftCards_Deactivated_OrderStatusId)
                            </div>
                            <div class="col-md-8">
                                @Html.NopDropDownListFor(model => model.GiftCards_Deactivated_OrderStatusId, Model.GiftCards_Deactivated_OrderStatuses, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.GiftCards_Deactivated_OrderStatusId)
                            </div>
                        </div>
                        @if (Model.OrderIdent.HasValue)
                        {
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.OrderIdent)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopEditorFor(model => model.OrderIdent)
                                </div>
                            </div>
                        }

                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.OverrideStoreCheckboxFor(model => model.TrackGuestOrderSetting, model => model.TrackGuestOrderSetting, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.TrackGuestOrderSetting)
                            </div>
                            <div class="col-md-8">
                                @Html.NopEditorFor(model => model.TrackGuestOrderSetting)
                                @Html.ValidationMessageFor(model => model.TrackGuestOrderSetting)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.NopLabelFor(model => model.InvoiceNoIncrementLogic)
                            </div>
                            <div class="col-md-8">
                                @Html.NopEditorFor(model => model.InvoiceNoIncrementLogic)
                                @Html.ValidationMessageFor(model => model.InvoiceNoIncrementLogic)
                                <p><strong style="color:red;">Note:</strong> If you want order invoice no. trader wise then keep uncheck</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@helper TabReturnRequestSettings()
{
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @T("Admin.Configuration.Settings.Order.BlockTitle.Common")
                    </div>
                    <div class="panel-body">
                        <ul class="common-list">
                            <li>
                                <b style="" id="MessageNote"> @T("Admin.Note.Note") </b>
                                @T("Admin.Configuration.Settings.Order.ReturnRequestsDescription1")
                            </li>
                            <li>
                                <b style="" id="MessageNote"> @T("Admin.Note.Note") </b>
                                @T("Admin.Configuration.Settings.Order.ReturnRequestsDescription2")
                            </li>
                        </ul>
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.OverrideStoreCheckboxFor(model => model.ReturnRequestsEnabled_OverrideForStore, model => model.ReturnRequestsEnabled, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.ReturnRequestsEnabled)
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.ReturnRequestsEnabled)
                                @Html.ValidationMessageFor(model => model.ReturnRequestsEnabled)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.OverrideStoreCheckboxFor(model => model.NumberOfDaysReturnRequestAvailable_OverrideForStore, model => model.NumberOfDaysReturnRequestAvailable, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.NumberOfDaysReturnRequestAvailable)
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.NumberOfDaysReturnRequestAvailable)
                                @Html.ValidationMessageFor(model => model.NumberOfDaysReturnRequestAvailable)
                            </div>
                        </div>
                        <div class="form-group advanced-setting">
                            <div class="col-md-4">
                                @Html.OverrideStoreCheckboxFor(model => model.ManageInventory_OverrideForStore, model => model.ManageEwallet, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.ManageInventory)
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.ManageInventory)
                                @Html.ValidationMessageFor(model => model.ManageInventory)
                            </div>
                        </div>
                    </div>
                </div>
                @Html.Partial("_ReturnRequestReasons")
                @Html.Partial("_ReturnRequestActions")
            </div>
        </div>
    </div>

}