﻿@model ReportSettingsModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.ReportSetting.EditReportSetting").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("ReportSetting");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.ReportSetting.EditReportSetting")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Configuration.ReportSetting.BackToList").Text, "ReportSettingList")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" id="btnSave" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" id="btnSaveContinew" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <a href="@Url.Action("AddMenu", "Setting", new { id = Model.Id })" class="btn bg-blue"><i class="fa fa-floppy-o"></i>@T("Admin.Common.AddMenu")</a>
            <span id="poll-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateReportSetting", Model)

}
@Html.DeleteConfirmation("ReportSetting-delete")
