﻿ /*
* Copyright 2014 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

 /* fix for the accordion content so that no scrolls are shown*/
.quickViewWindow .ui-accordion-content {
    
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
        
}

.product-grid .buttonOverlay {
    display: none !important;
}
.product-list .item-box .buttonOverlay {
    display: none !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 230px;
    height: 230px;
    background: rgba(0,0,0,0);
    z-index: 1;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.product-list .item-box:hover .buttonOverlay {
    background: rgba(0,0,0,0.2);
}

/********* START BUTTON *********/


.product-grid .quick-view-button {
    position: static;
    display: inline-block !important;
}
.product-list .quick-view-button {
    bottom: 0;
    left: -190px;
    opacity: 0;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}
    .product-list .item-box:hover .quick-view-button {
        opacity: 1;
    }

.quick-view-button a {
    background-image: url(images/icon-qv-button.png);
}
    .product-grid .quick-view-button a {
        width: 36px;
        height: 36px;
        border: 2px solid #fff;
        background-color: #0978c7;
        background-position: -2px -2px;
        background-repeat: no-repeat;
        text-indent: -999px;
        white-space: nowrap;
        overflow: hidden;
        margin: 0 -1px;
        -webkit-transition: all .15s ease-in-out;
        -moz-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
    }
        .product-grid .quick-view-button a:hover {
            background-position: -2px -38px;
            background-color: #0978c7;
        }

    .product-list .quick-view-button a {
        border: 2px solid #0978c7;
        background-color: #fff;
        background-position: left -21px;
        background-repeat: no-repeat;
        color: #0978c7;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 14px;
        padding: 8px 21px 8px 46px;
        -webkit-transition: all .15s ease-in-out;
        -moz-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
    }
        .product-list .quick-view-button a:hover {
            background-position: left 7px;
            background-color: #0978c7;
            color: #fff;
        }


/********** MAIN QUICKVIEW WINDOW **********/

.quickView {
    min-width: 600px !important;
}
.quickViewWindow {
    width: 640px;
}
.quickViewWindow .product-essential {
    padding: 0;
}
.quickViewWindow .popup-header {
    margin: 0;
    border-bottom: 5px solid #0978c7;
    background: 0;
    padding: 10px 40px;
}
    .quickViewWindow .product-name {
        font-size: 20px;
        line-height: normal;
        padding: 0;
        text-align: center;
    }
.quickView .k-window-titlebar.k-header .k-window-actions {
    top: 13px;
    right: 13px;
}
    .quickView .k-window-titlebar.k-header .k-window-actions a {
        border: none !important;
        background: url(images/icon-close.png) no-repeat center !important;
    }



/********** GALLERY & OVERVIEW *********/

.quickViewWindow .gallery {
	display: block; /*Cloud Zoom css override*/
    margin: 20px 0 20px 15px;
    width: 240px;
}
.quickViewWindow .gallery .picture {
	width: 240px;
	box-shadow: none;
	border: 0;
	text-align: center;
}
.quickViewWindow .gallery .picture:before {
	display: none;
}
.quickViewWindow .gallery .picture a {
	height: auto;
}
.quickViewWindow .gallery .picture img {
	bottom: auto;
    max-height: none;
}
.quickViewWindow .gallery .picture a img {
    position: static;
}
.quickViewWindow .gallery .thumbnails {
	background: none;
	padding: 0;
}
.quickViewWindow .gallery .thumbnails a,
.quickViewWindow .gallery .thumbnails > img {
	width: 72px;
	height: 72px;
	border: 0;
	box-shadow: none;
}
.quickViewWindow .links-panel a {
    padding: 10px 15px 10px 0;
    background: url('images/icon-link.png') right 15px no-repeat;
    font-size: 16px;
    text-transform: none;
    color: #555;
    display: inline-block;
}


.quickViewWindow .overview {
    margin: 20px 10px 20px 0;
    width: 365px;
}
    .quickViewWindow .overview #accordion {
        width: auto;
    }
    .quickViewWindow #accordion > h3 {
        border: 0;
        box-shadow: none;
        background: #ececec;
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        padding: 8px 14px;
        color: #555;
        border-bottom: 2px solid #fff;
    }
.quickViewWindow #accordion .product-details {
    border-color: transparent !important;
    box-shadow: none;
}
.quickViewWindow .overview .short-description, 
.quickViewWindow .overview .stock, 
.quickViewWindow .overview .manufacturers, 
.quickViewWindow .overview .product-reviews-overview {
    clear: both;
}
.quickViewWindow #accordion .ui-icon-circle-arrow-s {
    background: url(images/arrow-opened.png) center no-repeat;
}
.quickViewWindow #accordion .ui-icon-circle-arrow-e {
    background: url(images/arrow-closed.png) center no-repeat;
}
.quickViewWindow .back-in-stock-subscription {
	clear: left;
}

.quickViewWindow .overview .manufacturers,
.quickViewWindow .overview .add-to-cart,
.quickViewWindow .overview .prices,
.quickViewWindow .overview .buttons, 
.quickViewWindow .download-sample {
    border-bottom: 0;
}

.quickViewWindow .attributes select {
    max-width: 220px;
}
.quickViewWindow .rental-price{
    font-size:12px;
}
.quickViewWindow .purchase-area .prices,
.quickViewWindow .overview .add-to-cart {
    text-align: center;
}
.quickViewWindow .overview .qty-label {
    margin: 0;
    display: none;
}
.quickViewWindow .overview .attributes dt{
    overflow:hidden;
    min-width:100px;
    width:auto;
}
.quickViewWindow .overview .attributes dt .attribute-description > p{
    white-space:pre-wrap;
}


/********** VARIANTS *********/



.quickViewWindow .variant-info .prices {
    background: 0;
    padding: 6px;
    height: auto;
}
    .quickViewWindow .variant-info .prices:before {
        display: none;
    }
.quickViewWindow .variant-info .product-price {
	color: #46c688;
}



/********** RELATED/ALSO-PURCHASED PRODUCTS *********/



.quickViewWindow .product-grid {
	background: none;
    margin: 20px 0 0;
    clear: both;
}
.quickViewWindow .product-grid .title {
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    margin: 0 0 5px;
}
    .quickViewWindow .product-grid .title:before, .quickViewWindow .product-grid .title:after {
        display: none;
    }
    .quickViewWindow .product-grid .title strong {
        font-size: 18px;
        display: block;
        border-bottom: 1px solid #ddd;
        padding: 0 0 5px;
        width: 100%;
    }
.quickViewWindow .item-grid {
    padding: 0;
    overflow: hidden;
}
.quickViewWindow .product-grid .item-box {
    width: 156px;
    margin: 0 2px;
}
.quickViewWindow .product-grid .item-box .picture,
.quickViewWindow .product-grid .item-box .picture a {
	width: 100%;
    height: auto;
}
.quickViewWindow .product-grid .item-box .hover-details {
    display: none !important;
}
.quickViewWindow .product-grid .item-box .visible-details {
    height: auto;
}
.quickViewWindow .product-grid .item-box .product-title {
    border: 0;
    height: 40px;
}
.quickViewWindow .product-grid .item-box .product-title a {
    display: block;
    line-height: 1.2;
    font-size: 15px;
    padding-top: 2px;
}
.quickViewWindow .item-box .prices,
.quickViewWindow .item-box .buttons {
    display: none;
}
.quickViewWindow .item-box .product-rating-box {
    display: none;
}

/********* COLOR SQUARES ********/

.quickViewWindow .color-squares input {
	position: static;
    z-index: 0;
}


/********* GIFTCARD *********/


.quickViewWindow .giftcard {
    box-shadow: none;
}
.quickViewWindow .giftcard div {
	float: none;
	width: auto;
}
.quickViewWindow .giftcard label {
    width: auto;
    float: none;
    text-align: center;
    margin: 0 0 5px;
}
.quickViewWindow .giftcard input[type="text"], 
.quickViewWindow .giftcard textarea {
    width: 100%;
}


/********* THEME SPECIFIC *********/



.quickViewWindow .color-squares li {
    margin: 0;
}
.quickViewWindow .color-squares label {
	line-height: 1;
}
.quickViewWindow .color-squares .color-container {
    line-height: 0;
    margin: 3px 0;
}