#tickettable {	width: 100%;	padding: 0;	margin: 0px 0px 20px 0px;    /* font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; */	color: #4f6b72;	background: #E6EAE9;}#tickettable a{	color: #c75f3e;}#tickettable th {	/* font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; */	color: #4f6b72;	border-right: 1px solid #C1DAD7;	border-bottom: 1px solid #C1DAD7;	border-top: 1px solid #C1DAD7;	letter-spacing: 2px;	text-transform: uppercase;	text-align: left;	padding: 6px 6px 6px 12px;	background: #CAE8EA url(images/bg_header.jpg) no-repeat;}#tickettable th.nobg {	border-top: 0;	border-left: 0;	border-right: 1px solid #C1DAD7;	background: none;}#tickettable td {	/* border-right: 1px solid #C1DAD7;	border-bottom: 1px solid #C1DAD7;    */    border: 1px solid #C1DAD7;	background: #fff;	padding: 6px 6px 6px 12px;	color: #4f6b72;}#tickettable .head {	background: #F5FAFA;	color: black;    font-weight:bold;}#tickettable td.alt {	background: #F5FAFA;	color: #797268;}#tickettable th.spec {	border-left: 1px solid #C1DAD7;	border-top: 0;	background: #fff url(images/bullet1.gif) no-repeat;	/*font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; */}#tickettable th.specalt {	border-left: 1px solid #C1DAD7;	border-top: 0;	background: #f5fafa url(images/bullet2.gif) no-repeat;	/*font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;*/	color: #797268;}

    .linkCreate
    {
       min-width: 140px;
      border: none;
      background-color: #4ab2f1;
      padding: 10px 30px;
      text-align: center;
      font-size: 15px;
      color: #fff;
      text-transform: uppercase;
    }    .linkCreate:hover {        background: #344E5F;    }
    .linkProductCreate
    {
        color: #c75f3e;
        /*font: normal 12px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;*/
        padding: 5px;
        border: solid 1px;
        background-color: rgb(192, 194, 195);
    }

    .dvProductCreate
    {
        padding: 20px 0px 20px 0px;
    }

    .option-list
    {
        list-style: none;
    }

    .contact-attributes dt
    {
        padding-top:10px;
    }		.button-addline{	   border: none;	  box-shadow: 0 -2px 0 rgba(71, 73, 72, 0.05) inset;	  color: #ffffff;	  font-family: "Lato",Arial,Helvetica,sans-serif;	  font-size: 11px;	  font-weight: 700;	  letter-spacing: 0.5px;	  text-transform: uppercase;	  word-spacing: 1px;	  display: inline-block;	  cursor: pointer;	  width: 100px;	  overflow: visible;	  height: 35px;	  border-radius: 2px;		background: #3498db;	}	.button-addline:hover{		background: #344E5F;	}     .white-popup-block {
        position: relative;
        background: #FFF;
        width: auto;
        max-width: 500px;
        margin: 20px auto;
    }

     .resultnewticket{
          padding: 20px 20px 20px 10px;
          display: none;
          font-size: 16px;
          font-weight: 100;
          color: #444;
     }

     .errorresultnewticket{
         padding:20px;
         display:none;
         color: red;
         font-weight:bold;
     }


     .ticket-list-page .info {
    margin: 20px 0 10px;
    border-top: 1px solid #e6e6e6;
    background-color: #f9f9f9;
    padding: 20px;
    line-height: 26px;
    color: #444;
}

     .ticket-list-page .section {
    display: block;
    width: auto;
    margin: 0 0 40px;
}

     .ticket-list-page .buttons {
    position: absolute;
    top: 5px;
    right: 10px;
}

     .ticket-button-2 a {
    display: inline-block;
    margin: 0 0 0 10px;
    border: none;
    padding: 0 0 0 18px;
    font-size: 12px;
    color: #444;
}

     .ticket-list-page .button-2 {
    display: inline-block;
    margin: 0 0 0 10px;
    border: none;
    /*padding: 0 0 0 18px;*/
    font-size: 12px;
    color: #444;
    text-align:center;
}

     #tickettable td.head {
        border-width: 1px 1px 0;
        border-style: solid;
        border-color: #ddd;
        background-color: #f6f6f6;
        padding: 10px;
        white-space: nowrap;
        font-weight: normal;
     }

     .linkCreate:hover {
         background-color: #248ece;
     }

#ticketProductForm h4, #ticketOrderForm h4 {
    display: block;
    line-height: 3;
}

.qq-upload-button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: left;
    margin-right: 5px;
}
