﻿/*=====================================================
    
    TABLETS PORTRAIT & SMARTPHONES LANDSCAPE

=====================================================*/


@media all and (max-width:320px) {
    input[type="file"] {
        width: 80% !important;
    }

    .account-page #Phone {
        width: 230px !important;
    }

    .account-page #CountryCode {
        width: 20% !important;
    }

    .registration-page #CountryCode {
        width: 13% !important;
    }

    .registration-page #Phone {
        width: 252px !important;
        max-width: 350px !important;
    }

    .inputs.date-of-birth > select {
        width: 86px;
        margin-top: 1%;
    }

    .registration-page .fieldset:nth-child(2) select, .account-page .fieldset:nth-child(3) select {
        width: 350px;
    }

    #mainPanle {
        margin-left: 0% !important;
        margin-top: 5% !important;
    }

    #DivEpinReportDetrailsSection #chartContainer {
        width: 100% !important;
        height: 225px !important;
    }

    .EpinReportDetails {
        padding: 12px 17px !important;
        margin-top: 2% !important;
    }

    #divVoucher {
        margin-top: -28%;
        margin-left: -6%;
        width: 95%;
    }

    #divPintype {
        margin-left: 0%;
        width: 86%;
        margin-top: -12%;
    }

    #dvFilterSearchPanal {
        margin-left: 0%;
    }

    #BtnAllTab {
        float: none !important;
    }

    #mainPanle {
        margin-left: 4% !important;
        margin-top: -2% !important;
    }

    #divOrderperiod #FromDate {
        margin-top: -20% !important;
    }

    #divOrderperiod #ToDate {
        margin-top: -20% !important;
    }

    #ShowOnlyActiveBlockExpire #btnAll {
        padding: 10px 9px !important;
    }

    #btnstatusall {
        float: none !important;
    }

    .PinRequestStatus {
        padding: 10px 8px !important;
        margin-top: 1%;
    }

    .order-progress ul {
        width: 100%;
    }

    .order-progress li {
        margin: 0 2px 40px;
    }

    .order-progress a {
        font-size: 11px;
        width: 30px;
        height: 37px;
        padding-top: 38px;
    }
}

@media all and (max-width: 480px) and (min-width:321px) {
    .registration-page #CountryCode {
        width: 12% !important;
    }

    input[type="file"] {
        width: 80% !important;
    }

    .registration-page #Phone {
        width: 292px !important;
    }

    .account-page #Phone {
        width: 260px !important;
    }

    .account-page #CountryCode {
        width: 20% !important;
    }

    .registration-page .fieldset:nth-child(2) select, .account-page .fieldset:nth-child(3) select {
        width: 350px;
    }

    #mainPanle {
        margin-left: -8% !important;
        margin-top: 6% !important;
    }

    #DivEpinReportDetrailsSection #chartContainer {
        width: 100% !important;
        height: 225px !important;
    }

    #BtnAllTab {
        float: none !important;
    }

    .order-progress ul {
        width: 100%;
    }

    .order-progress li {
        margin: 0 5px 40px;
    }

    .order-progress a {
        font-size: 13px;
    }
}

@media all and (min-width: 481px) {

    .DirectUIstyle {
        width: 200px !important;
        height: 120px !important;
    }

    /* HEADER */

    .search-box input.search-box-text {
        width: 300px !important;
        font: italic 14px open sans;
        color: #bbb;
    }

    .ui-autocomplete.ui-menu.ui-widget.ui-widget-content {
        width: 300px !important;
    }

    .eu-cookie-bar-notification {
        width: 450px;
        max-width: 95%;
        margin-left: -225px;
    }

    /* FOOTER */

    .newsletter-email input[type="text"] {
        width: 300px;
        font-family: open sans;
        color: #888;
        font-style: italic;
    }

    .footer-middle h3 {
        width: 768px;
    }

    /* LEFT/RIGHT COLUMN */
    .poll {
        padding: 15px 7px 5px;
        width: 50%;
    }

    /* CATEGORY PAGE & GRIDS */

    .item-box {
        width: 49%;
        margin-left: 2%;
    }

        .item-box:nth-child(2n+1) {
            clear: both;
            margin-left: 0;
        }

    .product-grid.home-page-category-grid .item-box:nth-child(2n) {
        margin-left: 2%;
    }

    .category-page .item-box .description {
        max-height: 58px;
    }

    /* VARIANT GRID */
    .product-variant-list.grid,
    .product-variant-list.list {
        overflow: hidden;
    }

        .product-variant-list.grid .product-variant-line,
        .product-variant-list.list .product-variant-line {
            float: left;
            width: 48%;
            margin: 1%;
        }

        .product-variant-list.grid .variant-overview .add-to-wishlist-button,
        .product-variant-list.list .variant-overview .add-to-wishlist-button {
            display: block;
            margin-left: 0;
        }

        .product-variant-list.grid .add-to-cart-button,
        .product-variant-list.list .add-to-cart-button {
            margin-bottom: 20px;
        }

    /* PRODUCT PAGE */
    .gallery .picture-wrapper {
        width: 80%;
    }


    /* PASSWORD PROTECTION */
    .enter-password-form input[type="password"] {
        width: 300px !important;
    }

    /* REGISTRATION, LOGIN, MY ACCOUNT */

    .registration-page .fieldset:nth-child(2) select {
        width: 350px;
    }

    .account-page .fieldset:nth-child(3) select {
        width: 350px;
    }


    /* SHOPPING CART & CHECKOUT */

    .order-review-data {
        display: table;
        width: 100%;
        margin: 0 0 30px;
    }

        .order-review-data ul {
            display: table-cell;
        }

    .order-details-area > div,
    .shipment-details-area > div {
        float: left;
        width: 48%;
        margin: 0 1% !important;
    }

    .order-progress li {
        margin: 0 50px 40px 0;
    }

    .checkout-page .address-item {
        float: left;
        width: 47%;
        margin: 1.5%;
    }

        .checkout-page .address-item:nth-child(2n+1) {
            clear: both;
        }

    .checkout-page .order-review-data > div {
        display: inline-block;
        width: 46%;
        margin: 1.5%;
        vertical-align: top;
    }

    .order-review-data ul {
        display: inline-block;
    }
}

@media all and (min-width: 360px) {
    /*.registration-page .date-of-birth select {
        width: 28% ;
    }

    .account-page .date-of-birth select {
        width: 31% ;
    }*/
    .product-reviews-page .inputs {
        width: 290px;
        margin: 0 auto 10px;
    }
}

@media all and (max-width: 360px) and (min-width: 321px) {
    .EpinReportDetails {
        padding: 12px 13px !important;
        margin-top: 2% !important;
    }

    #divVoucher {
        margin-top: -28%;
        margin-left: -6%;
        width: 95%;
    }

    #divPintype {
        margin-left: 0%;
        width: 86%;
        margin-top: -12%;
    }

    #dvFilterSearchPanal {
        margin-left: 0%;
    }

    #BtnAllTab {
        float: none !important;
    }

    #mainPanle {
        margin-left: -1% !important;
        margin-top: -20% !important;
    }

    #divOrderperiod #FromDate {
        margin-top: -20% !important;
    }

    #divOrderperiod#ToDate {
        margin-top: -20% !important;
    }

    #ShowOnlyActiveBlockExpire #btnAll {
        padding: 10px 12px !important;
    }

    #btnstatusall {
        float: none !important;
    }

    .PinRequestStatus {
        padding: 10px 3px !important;
    }
}
