﻿/*=========================================

        DESKTOP

=========================================*/



/* FORUM MAIN & SEARCH */

.forums-main-page .topic-html-content h2 {
}
.forums-header {
	margin: 0 0 20px;
}
.forums-header:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}
.forums-header .current-time{
    display:none;
}
.current-time {
	float: left;
	line-height: 36px;
}
.forum-search-box {
	float: right;
}
.forum-search-box .basic {
	overflow: hidden;
}
.forums-header .forum-search-box .search-box-text{
	float: left;
	width: 300px;
    border:1px solid #cccccc;
    font-style:normal;
    color:#000;
    padding:0 0 0 5px;
    font:12px sans-serif;
}
.forum-search-box .search-box-button,
.button-1.forum-search-button {
	float: left;
	width: 36px;
	height: 36px;
	border: none;
	overflow: hidden;
	background: #ccc url('../img/search-button.png') center no-repeat;
	font-size:0;
    margin:0 0 0 -1px;
}
.basic-search .forum-search-text{
    float:left;
}
.forum-search-box .basic {
	margin: 0 0 5px;
}
.forum-search-box .advanced {
	text-align: right;
}

.forums-table-section {
	margin: 0 0 30px;
}
.forums-table-section-title {
	margin: 0 0 10px;
	overflow: hidden;
}
.forums-table-section-title strong {
	float: left;
	font-size: 18px;
	font-weight: normal;
}
.forums-table-section-title > a{
    float:left;
    font-size: 18px;
    font-weight: normal;
}
.forums-table-section-title span {
	float: right;
}
.forums-table-section-title .view-all {
	line-height: 24px;
}
.forums-table-section-title .link-rss {
	margin: 0 0 0 10px;
    background: url('../img/rss_icon.png') no-repeat;
    float:right;
}

.forums-table-section .image div {
	width: 24px;
	height: 24px;
	margin: auto;
	background: url('../img/folder1.png') center no-repeat;
}
.forums-table-section .image div.post-annoucement {
	background: url('../img/folder2.png') center no-repeat;
}
.forums-table-section .image div.sticky {
	background: url('../img/folder3.png') center no-repeat;
}
.forums-table-section table a{
	vertical-align: middle;
}

.forum-search-page .basic-search {
	text-align: center;
}
.forum-search-page .basic-search .inputs:first-child label{
    display:none;
}
.forum-search-page .basic-search div:first-child {
	display: inline-block;
	margin: 0 0 10px;
	overflow: hidden;
}
.forum-search-page .advanced-search {
	margin: 15px 0 0;
}
.forum-search-page .advanced-search .inputs label {
	width: 302px;
    margin:0 10px;
}
.forum-search-page .search-error {
	padding: 15px;
	text-align: center;
	color: #c00;
}
.forum-search-page .search-results {
	margin: 0 0 15px;
}
.inputs.reversed {
    margin: 0 0 20px;
}
.forums-table-section.topic-group.active-discussions {
    position: relative;
}
.forums-table-section.topic-group.active-discussions .view-all{
    position:absolute;
    top:2px;
    right:35px;
}

/* BREADCRUMB & PAGERS */


.forum-breadcrumb {
	float: left;
	max-width: 600px;
}
.pager.upper {
	display: none;
}

/* FORUM PAGE */


.forum-page .forum-top {
	margin: 0 0 20px;
}
.forum-page .forum-info {
	position: relative;
	margin: 0 0 20px;
}
.forum-actions{
    margin:0 0 20px;
}
.forum-page .forum-name h1{
	font-size: 18px;
    font-weight:normal;
}
.forum-page .link-rss {
	position: absolute;
	top: 0;
	right: 0;
}
.forum-page .actions {
}
.forum-page .actions a {
	margin: 0 10px 0 0;
	padding: 0 0 0 20px;
}
.new-topic{
	background: url('../img/forum_icon4.png') left center no-repeat !important;
}
.forum-page .watch-forum {
	background: url('../img/forum_icon5.png') left center no-repeat;
}


/* TOPIC PAGE & PROFILE PAGE */


.forum-topic-page .topic-name>*{
	margin: 0 0 20px;
	font-size: 18px;
	font-weight: normal;
}
.forum-topic-page .topic-actions {
	overflow: hidden;
}
.forum-topic-page .topic-actions .actions {
	float: left;
}
.forum-topic-page .topic-actions>a {
	margin: 0 10px 0 0;
	padding: 0 0 0 20px;
}
.actions .reply-topic-button{
	background: url('../img/forum_icon4.png') left center no-repeat;
}
.actions .watch-topic-button {
	background: url('../img/forum_icon5.png') left center no-repeat;
}
.forum-topic-page .manage-post {
	float: right;
}
.forum-topic-page .actions a {
	margin: 0 0 0 10px;
	padding: 0 0 0 20px;
}
.actions .edit-topic-button,
.edit-post-button {
	background: url('../img/forum_icon1.png') 3px center no-repeat;
}
.actions .delete-topic-button,
.delete-post-button {
	background: url('../img/forum_icon2.png') 3px center no-repeat;
}
.actions .move-topic-button {
	background: url('../img/forum_icon3.png') left center no-repeat;
}
.topic-footer .topic-options a {
    margin-right: 5px;
    text-decoration: underline;
}

.topic-post {
	margin: 0 0 20px;
	border-bottom: 1px dotted #ccc;
	overflow: hidden;
	padding: 5px 0 15px;
}
.topic-post .post-info {
	float: left;
	width: 190px;
}
.topic-post .manage-post {
	margin: 0 0 10px;
	overflow: hidden;
}
.topic-post .manage-post a {
	float: left;
	margin: 0 0 0 5px;
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 5px 5px 5px 25px;
}
.post-info .manage-post a:first-child {
	margin-left: 0;
}
.post-info.manage-post a:hover {
	text-decoration: none;
}
.post-info .edit-post-link-button,
.post-info .delete-post-link-button {
	background-position: 5px center;
}
.topic-post .user-info {
	padding-right: 10px; /*align control*/
}
.topic-post .username {
	display: block;
	margin: 0 0 5px;
	font-weight: bold;
    line-height: 26px;
}
.topic-post .avatar,
.profile-info-box .avatar {
	position: relative;
    display: inline-block;
	margin: 0 0 10px;
	border: 1px solid #ccc;
	overflow: hidden;
}
.profile-page .avatar{
    width:190px;
    float:left;
}
.topic-post .avatar img,
.profile-info-box .avatar img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
.topic-post .user-stats {
	margin: 0 0 10px;
	font-size: 11px;
}
.topic-post .user-stats span,
.profile-info-box .profile-stats span {
	margin: 0 0 0 3px;
	font-weight: bold;
}
.post-info .pm-button{
	display: inline-block;
	border: 1px solid #ccc;
	padding: 5px 10px;
}
.topic-post .post-content,
.profile-info-box .profile-stats {
	margin-left: 200px;
}
.topic-post .post-head {
	margin: 0 0 10px;
	border: 1px solid #ccc;
	background: #eee;
	padding: 5px;
    text-align: left;
}
.post-head .post-time{
    display:inline-block;
}
.topic-post .quote-post a {
	float: right;
	margin: 0 0 0 5px;
	text-decoration: underline;
}


.profile-page .ui-tabs{
    overflow: hidden;
}
.profile-page .ui-tabs-nav{
    width: 25%;
    float: left;
}
.profile-page .tab-content{
    width: 75%;
    float: left;
    text-align: left;
}
.profile-info-box {
	overflow: hidden;
}
.profile-info-box .send-pm{
    border: 1px solid #cccccc;
    display: block;
    padding: 5px 10px;
    float:left;
    clear:both;
}

.profile-info-box .title {
	margin: 0 0 10px;
	font-size: 18px;
}
.profile-page .topic {
	margin: 0 0 20px;
	border-bottom: 1px dotted #ccc;
	padding: 0 0 15px;
}
.profile-page .topic-title {
	margin: 0 0 10px;
	background: #f6f6f6;
	padding: 5px;
	font-size: 16px;
}
.profile-page .topic-title a {
	vertical-align: middle;
	font-style: italic;
}
.profile-page .topic-data {
	color: #999;
}
.post-actions {
    float: right;
    overflow: hidden;
}


/* FORUM EDIT & SEND MESSAGE */


.forum-edit-page .page-body,
.private-message-send-page .page-body {
}
.forum-edit-page label,
.private-message-send-page label {
	width: 228px;
}
.forum-edit-page strong,
.private-message-send-page a {
	font-size: 18px;
	font-weight: normal;
    vertical-align: middle;
}
.forum-edit-page .toolbar,
.private-message-send-page .toolbar {
	margin-left: 235px;
}
.forum-edit-page textarea,
.private-message-send-page textarea {
	width: 500px;
	height: 180px;
	margin-left: 240px;
}
.forum-edit-page .buttons,
.private-message-send-page .buttons,
.private-messages-page .buttons {
	margin: 15px 0 0;
	text-align: center;
}
.forum-edit-page .buttons input,
.private-message-send-page .buttons input,
.private-messages-page .buttons input,
.private-message-view-page .buttons input{
	min-width: 115px;
	border: 1px solid #ccc;
	padding: 6px 24px !important;
	font-size: 16px;
	text-transform: uppercase;
}
.forum-edit-page .buttons input[type="submit"],
.private-messages-page .buttons input[type="submit"],
.private-message-send-page .buttons input[type="submit"],
.private-message-view-page .buttons input.button-1 {
}
.forum-edit-page .inputs span {
	vertical-align: middle;
}
.forum-edit-page .page-body,
.pager.lower {
    margin: 20px 0;
}


.private-message-send-page .message label {
	display: none;
}

/* INBOX & VIEW MESSAGE */


.private-messages-page td.date {
	width: 15%;
	white-space: nowrap;
}
.private-messages-page .mark-unread-pm-button {
	display: none;
}

.private-message-view-page .view-message {
}
.private-message-view-page .view-message li {
	display: inline-block;
}
.private-message-view-page label {
	font-weight: bold;
}
.private-message-view-page span {
	margin: 0 10px 0 0;
	vertical-align: middle;
}
.private-message-view-page span:after {
	content: "|";
	margin: 0 0 0 10px;
}
.private-message-view-page .message-body {
	display: block !important;
	margin: 15px 0;
	border: 1px solid #ccc;
	padding: 15px;
}
.private-message-view-page .message span:after {
	display: none;
}
.private-message-view-page .buttons {
	display: block !important;
	overflow: hidden;
}
.private-message-view-page .back-pm-button {
	float: right;
	text-transform: capitalize !important;
}

@media all and (max-width: 768px) {
    .forum-topic-page .topic-actions .actions {
        float: none;
    }
    .topic-post .avatar a, 
    .profile-info-box .avatar a {
        display: inline-block;
        width: 100px;
        height: 100px;
    }
    .topic-post .post-info,
    .topic-post .post-content {
        float: none;
        width: auto;
        margin: 10px auto;

    }
}
@media all and (min-width: 769px) {

    .topic-post .avatar, 
    .profile-info-box .avatar {
        width: 100px;
        height: 100px;
    }
    .topic-actions.upper {
        margin: 0 0 15px;
    }
    .pager.lower ul {
        text-align: center;
    }
    .topic-post .post-body {
        text-align: left;
        overflow: hidden;
    }
    .topic-post .post-content {
        position: relative;
    }
    .topic-post .post-content .post-body {
    }
    .topic-post .post-vote {
        float: right;
    }
    .post-content .signature {
        clear: both;
    }
    .topic-post .post-body .post-text {
        float: left;
        max-width: 90%;
    }

}