@media all and (min-width: 240px) and (max-width: 980px) {

    .payment-method .method-list li {
        margin: 10px 9px 8px;
        display: inline-table;
        width: 30%;
        text-align: left;
    }

    .shipping-method .method-list li {
        margin: 0px 4px 8px;
        display: inline-table;
        width: 30%;
    }

    .order-progress li {
        display: inline-block;
        margin: 0 25px 40px;
        position: relative;
        width: 45px;
        height: 45px;
    }

    .header-logo {
        padding: 0 0 5px;
        text-align: center;
        margin-left: 35px;
        display: inherit !important;
    }

    .ProfileImage {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .header-selectors-wrapper > div {
        display: inline-block;
        margin: 10px;
        vertical-align: top;
        width: 20%;
    }

    .header-links span, .header-links a {
        display: block;
        font-size: 0;
        line-height: 22px;
        height: 55px;
    }

    .ShoppingcartCountResponsive {
        margin-left: 14px;
    }

    .ShoppingwishlistResponsive {
        margin-left: 14px;
    }

    .ShoppingNotificationsCountResponsive {
        margin-left: 14px;
    }

    .desktop-header-right .desktop-cart {
        display: none;
    }

    /* RESPONSIVE NAV WRAPPER */

    .responsive-nav-wrapper-parent {
        min-height: 50px;
        margin: 0 0 15px;
    }

    .tile-stats .icon i {
        margin: 0;
        font-size: 35px !important;
        float: left;
        line-height: 0;
        vertical-align: bottom;
        padding: 0;
    }

    .tile-stats .count {
        font-size: 18px !important;
        font-weight: normal !important;
        line-height: 1.65857143;
        text-align: initial;
        color: #2581E3;
    }

    .tile-stats:hover .icon i {
        animation-name: tansformAnimation;
        animation-duration: .5s;
        animation-iteration-count: 1;
        color: #4B4C4E !important;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        -webkit-animation-name: tansformAnimation;
        -webkit-animation-duration: .5s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-name: tansformAnimation;
        -moz-animation-duration: .5s;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: ease;
        -moz-animation-fill-mode: forwards;
    }

    .title-stats-title {
        position: relative;
        margin: 0;
        margin-left: 10px;
        z-index: 5;
        padding: 0;
        text-align: initial;
        margin-top: 10px !important;
    }

    .tile-stats {
        color: #4B4C4E;
        /*    background: linear-gradient(to right, #0978c7, #09c4c7) !important;
    background: -webkit-linear-gradient(right, #0978c7, #09c4c7) !important;*/
        /* box-shadow: 1px 1px 2px 2px #076e70!important;*/
        background: -webkit-linear-gradient(right, #e2dfdf, rgb(255, 255, 255), #e2dfdf);
        !important;
        /*border-left: 2px solid transparent !important;*/
        /*-moz-border-image: -moz-linear-gradient(top,  #067a29 0%,  #a8eb12 100%) !important;
    -webkit-border-image: -webkit-linear-gradient(top,  #067a29 0%,  #a8eb12 100%) !important;*/
        /* border-image: linear-gradient(to bottom,  #a8eb12 0%,  #067a29 100%) !important;
    border-image-slice: 1 !important;*/
    }

        .tile-stats .icon {
            top: 25px !important;
            color: #0979D4;
        }

    .responsive-nav-wrapper {
        position: relative;
        width: 100%;
        box-shadow: 0 2px 3px rgba(0,0,0,0.15);
        text-align: center;
        font-size: 0;
        background: rgba(255,255,255,.8);
        z-index: 13;
    }

        .responsive-nav-wrapper.nav-down {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        .responsive-nav-wrapper.nav-up {
            -webkit-transform: translateY(-55px);
            transform: translateY(-55px);
        }

    .stick {
        position: fixed;
        top: 0;
        z-index: 10000;
    }

    .responsive-nav-wrapper:after {
        content: ".";
        display: block;
        visibility: hidden;
        clear: both;
        height: 0;
        line-height: 0;
        font-size: 0;
    }

    .responsive-nav-wrapper > div > span,
    .responsive-nav-wrapper > div > a {
        display: block;
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        height: 50px;
        width: 50px;
        overflow: hidden;
        text-indent: -9999px;
        cursor: pointer;
    }

    .header-links li {
        display: inline-block;
        margin: 0 3.5px 7px;
        padding: 0 15px;
        height: 40px;
        transition: all .35s ease;
        -webkit-transition: all .35s ease;
        -ms-transition: all .35s ease;
    }

    .responsive-nav-wrapper .menu-title {
        display: inline-block;
        background: url(../img/menu-icon.png) no-repeat center #3c3e3f;
        float: left;
    }

    .responsive-nav-wrapper .search-wrap {
        /*display: inline-block;*/
        display: none;
        background: url(../img/search_icon.png) no-repeat center;
    }

    .responsive-nav-wrapper .shopping-cart-link {
        /*display: inline-block;*/
        background: url(../img/icon-cart-link.png) no-repeat center;
        color: #fff;
    }

    .responsive-nav-wrapper .filters-button {
        background: url(../img/filters.png) no-repeat center;
        display: none;
    }

    .responsive-nav-wrapper .personal-button {
        display: inline-block;
        background: url(../img/options_icon.png) no-repeat center;
    }


    .header-links .ico-register {
        background: url(../img/m-icon-plus.png) no-repeat center;
    }

    .header-links .ico-login {
        background: url(../img/m-icon-lock.png) no-repeat center;
    }

    .header-links .ico-account {
        background: url(../img/m-icon-account.png) no-repeat center;
    }

    .header-links .ico-logout {
        background: url(../img/m-icon-logout.png) no-repeat center;
    }

    .responsive-nav-wrapper .ico-wishlist {
        /*display: inline-block;*/
        background: url(../img/icon-wishlist.png) no-repeat center;
        color: #fff;
    }

    .responsive-nav-wrapper .ico-Notification {
        /*display: inline-block;*/
        background: url(../img/ico-notice.png) no-repeat center;
        color: #fff;
    }

    .header-links .ico-inbox {
        background: url(../img/m-icon-inbox.png) no-repeat center;
    }

    .responsive-nav-wrapper .ico-Desktop {
        /*display: inline-block;*/
        background: url(../img/desktop-icon.png) no-repeat center;
        float: right;
        width: 40px;
        margin-right: 20px;
    }

    /* RESPONSIVE MENU */

    .ps-container > .ps-scrollbar-y-rail {
        visibility: hidden !important;
    }

    .scrollYRemove {
        overflow: hidden !important;
        -ms-touch-action: none !important;
        -webkit-overflow-scrolling: touch !important;
    }

    .overlayOffCanvas {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0);
        z-index: 14;
        -webkit-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
    }

        .overlayOffCanvas.show {
            background: rgba(0,0,0,0.4);
        }

    .justAFixingDivBefore,
    .header-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 320px;
        height: 100%;
        text-align: left;
        background: #333;
        overflow: hidden;
        z-index: 2147483647;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    .notAndroid23 .justAFixingDivBefore,
    .notAndroid23 .header-menu {
        -webkit-transform: translate(-320px);
        -ms-transform: translate(-320px);
        transform: translate(-320px);
    }

    .android23 .justAFixingDivBefore,
    .android23 .header-menu {
        left: -320px;
    }

    .header-menu.open {
        box-shadow: 1px 0 5px rgba(0,0,0,.5);
    }

    .notAndroid23 .header-menu.open {
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        transform: translate(0);
    }

    .android23 .header-menu.open {
        left: 0;
    }

    .header-menu .close-menu {
        background: url(../img/arrows_2_left.png)#91bf24;
        background-repeat: no-repeat;
        background-position: 20px center;
        cursor: pointer;
    }

    .close-menu span {
        display: block;
        padding: 15px 20px;
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
        line-height: 15px;
        text-align: right;
        font-family: open sans;
    }

    .header-menu > ul li {
        background: #f6f6f6;
    }

        .header-menu > ul li:after {
            content: ".";
            display: block;
            visibility: hidden;
            clear: both;
            height: 0;
            line-height: 0;
            font-size: 0;
        }

        .header-menu > ul li > a,
        .header-menu > ul li > span {
            display: block;
            padding: 16px 18px !important;
            line-height: 17px;
            font-family: open sans;
            color: #888;
            font-size: 18px;
            text-transform: uppercase;
            position: relative;
            z-index: 1;
            border-bottom: 1px dotted #cecece;
        }

        .header-menu > ul li:last-child > a,
        .header-menu > ul li:last-child > span {
            border-bottom: 0;
        }

        .header-menu > ul li > .with-subcategories {
            width: 270px;
            float: left;
        }

    .plus-button {
        position: relative;
        float: right;
        width: 50px;
        height: 50px;
        z-index: 2;
        cursor: pointer;
        background: url(../img/arrows_2_right.png);
        background-repeat: no-repeat;
        background-position: center;
        border-bottom: 1px dotted #CECECE;
    }

    .header-menu .sublist-wrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 320px;
        height: 100%;
        background: #333 !important;
        box-shadow: 1px 0 5px rgba(0,0,0,0.5);
        z-index: 3;
        overflow: hidden;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    .notAndroid23 .header-menu .sublist-wrap {
        -webkit-transform: translate(-320px);
        -ms-transform: translate(-320px);
        transform: translate(-320px);
    }

    .android23 .header-menu .sublist-wrap {
        left: -320px;
    }

    .notAndroid23 .header-menu .sublist-wrap.active {
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        transform: translate(0);
    }

    .android23 .header-menu .sublist-wrap.active {
        left: 0;
    }

    .header-menu ul li.back-button {
        background: #ccc;
        cursor: pointer;
    }

    .header-menu .back-button span {
        text-transform: none;
        color: #fff;
        text-align: right;
        padding: 14px 18px !important;
        background: url("../img/arrows_2_left.png") no-repeat scroll 20px center #C3B9B1;
    }

    /* header menu functionality classes */

    .admin-header-links,
    .h-wrapper,
    .header,
    .responsive-nav-wrapper,
    .slider-wrapper,
    .master-wrapper-content,
    .footer {
        -webkit-transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
    }

    .notAndroid23 .move-right {
        -webkit-transform: translate(320px);
        -ms-transform: translate(320px);
        transform: translate(320px);
    }

    /* SEARCH BOX */

    .search-box {
        /*display: none;
            position: fixed;*/
        top: 0;
        left: 0;
        padding: 0px 0px 0px;
        width: 100%;
        /*box-shadow: -1px 2px 1px rgba(0,0,0,0.3);*/
        z-index: 9999999;
        text-align: center;
        background: #fff;
    }

        .search-box.open {
            display: block;
        }

        .search-box form {
            display: inline-block;
        }

            .search-box form:after {
                content: ".";
                display: block;
                visibility: hidden;
                clear: both;
                height: 0;
                line-height: 0;
                font-size: 0;
            }

    /* HEADER LINKS */

    .header-links-wrapper {
        display: none;
        background: #fff;
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000001;
        text-align: center;
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
        color: #888888;
        font-family: open sans;
    }

        .header-links-wrapper.open {
            display: block;
        }

    .header-selectors-wrapper .select select {
        opacity: 0;
        position: relative;
        top: -33px;
    }

    .header-selectors-wrapper {
        max-height: 50px;
    }

        .header-selectors-wrapper .select .select-text {
            font-size: 12px;
            text-transform: uppercase;
            color: #777;
            background: url(../img/ddown.png) #eee;
            background-repeat: no-repeat;
            background-position: 95% center;
            padding: 8px 12px 8px 8px;
        }

    .panel-title {
        margin-top: 2px !important;
    }

    .panel-primary > .panel-heading {
        color: #ffffff !important;
        background-color: #4f4c4c !important;
        border-color: #4f4c4c !important;
        height: 30px !important;
    }

    .item-box .product-item {
        padding-bottom: 125px;
    }

    .item-box input[type="button"] {
        margin-top: 4%;
    }
}
