﻿@{
    string resolution = "desktop", css3menuclass = "", fullName = "", prefix = "";
    string SessionEmpPhotoPath = HttpContext.Current.Session["memphoto"] == null ? "" : HttpContext.Current.Session["memphoto"].ToString();
    bool isDevice = false;
    string encU = "", encP = "";
    
    if (Session["fullname"] != null)
    {
        if (!String.IsNullOrWhiteSpace(Session["fullname"].ToString()))
        {
            fullName = Session["fullname"].ToString();
        }
    }
}
<div class="css3-menu-wrapper width-100p">
    <nav class="css3-menu">
        <ul class="main-menu pull-right no-box-shadow">
            <li class="display-inline-block"><a href="@Url.Content("~/Account/Dashboard")">Dashboard</a></li>
            <li class="display-inline-block"><a href="@Url.Content("~/Account/SignUp")">Sign Up</a></li>
            <li class="display-inline-block"><a href="@Url.Content("~/Account/Recharge")">Recharge</a></li>
            <li>
                <a href="#" class="no-padding">
                    <span class="nav-profile-name">Recharge</span><span class="drop-icon">▾</span>
                    <label title="Toggle Drop-down" class="drop-icon" for="@(prefix)sm1">▾</label>
                </a>
                <input type="checkbox" id="@(prefix)sm1">
                <ul class="sub-menu">
                    <li><a href="@Url.Content("~/Account/Recharge")">Recharge</a></li>
                    <li><a href="@Url.Content("~/Account/TransactionDetails")">Transaction Details</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="no-padding">
                    <span class="nav-profile-name">Wallet</span><span class="drop-icon">▾</span>
                    <label title="Toggle Drop-down" class="drop-icon" for="@(prefix)sm2">▾</label>
                </a>
                <input type="checkbox" id="@(prefix)sm2">
                <ul class="sub-menu">
                    <li><a href="@Url.Content("~/Account/CashDeposit")">Cash Deposit</a></li>
                    <li><a href="@Url.Content("~/Account/CashDepositDetails")">Deposit Details</a></li>
                    <li><a href="@Url.Content("~/Account/WalletLedger")">Account Ledger</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="no-padding">
                    <span class="nav-profile-name">@fullName</span><span class="drop-icon">▾</span>
                    <label title="Toggle Drop-down" class="drop-icon" for="@(prefix)sm3">▾</label>
                </a>
                <input type="checkbox" id="@(prefix)sm3">
                <ul class="sub-menu">
                    <li><a href="@Url.Content("~/Account/MyProfile")">My Profile</a></li>
                    <li><a href="@Url.Content("~/Account/ChangePassword")">Change Password</a></li>
                    <li><a href="@Url.Content("~/Account/Logout")">Signout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
