﻿@model Nop.Admin.Models.PCR.ProductClaimRequestModel
@{
    //page title
    ViewBag.Title = T("Admin.Inventory.PCR.AddNew").Text;

    @*var eventMessage = new AdminTabStripCreated(this.Html, "product-attribute-edit");
        EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
        foreach (var eventBlock in eventMessage.BlocksToRender)
        {
            @eventBlock
        }*@

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("PCR");
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "productattribute-form", enctype = "multipart/form-data", onsubmit = "return validation(this)" }))
{
    @Html.AntiForgeryToken()

    @*var validationSummary = Html.ValidationSummary(true);
        if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
        {
            <div class="message-box message-box-error">@validationSummary</div>
        }*@
    @*<div class="message-box message-box-error" id="validationMessagesstockIn">
        </div>*@


    <div class="alert alert-danger alert-dismissable" id="errorMessage1">
    </div>

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Inventory.ProductClaimRequest.AddNew")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Inventory.PCR.BackToList").Text, "List")</small>
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" id="saveButton" class="btn bg-blue" value="@T("Admin.Inventory.ProductClaimRequest.GeneratePCR")" />
            @*<input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />*@
        </div>
        <div class="options">
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)

    <script>
        window.onbeforeunload = function () {
            var inputs = document.getElementsByTagName("INPUT");
            for (var i in inputs) {
                if (inputs[i].type == "button" || inputs[i].type == "submit") {
                    inputs[i].disabled = true;
                }
            }
        };
    </script>
}
