﻿@model Nop.Admin.Models.PCR.ProductClaimRequestListModel

@using Nop.Core.Domain.Catalog
@using Nop.Admin.WebServices;
@using Nop.Core;
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //var _currencyService = DependencyResolver.Current.GetService<ICurrencyService>();
    var isVFMember = EngineContext.Current.Resolve<IWorkContext>().WorkingCurrency.DisplayLocale;
    var currency = WebService.GetCurrencySymbol(isVFMember);
    ViewBag.Title = "List";
    //  var admin = EngineContext.Current.Resolve<IWorkContext>();

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("PCR");
}
<link href="~/Administration/Content/KendoFreezColumnHeader.css" rel="stylesheet" />

<style>  
    .AlignkendoGridFormQuantity-right {
        text-align: right;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(t => t.IsPCREditable)
  
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.PCR")
        </h1>
        <div class="pull-right">
            @if (!Model.IsAdmin && !Model.IsSuperAdmin)
            {
                if (Model.IsTraderPresentInGstMst)
                {
                    <a href="@Url.Action("Create")" class="btn bg-blue">
                        <i class="fa fa-plus-square"></i>
                        @T("Admin.Common.AddNew")
                    </a>
                }
            }
            <div class="btn-group">
                <button type="submit" id="exportexcelPCRdetailall" name="exportexcelPCRdetailall" class="btn btn-success" value="@T("Admin.Common.ExportToExcel")">
                    <i class="fa fa-file-excel-o"></i>
                    @T("Admin.Common.ExportToExcel")
                </button>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.PCRType)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.PCRType, Model.PCRTypeList)
                                        @Html.ValidationMessageFor(model => model.PCRType)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.TraderName)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.HiddenFor(model => model.TraderId)                                    
                                        @Html.NopEditorFor(model => model.TraderName)
                                        @Html.ValidationMessageFor(model => model.TraderName)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.PCRCode)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.HiddenFor(model => model.PCRCode)
                                        @Html.NopEditorFor(model => model.ProductClaimRequestCode)
                                        @Html.ValidationMessageFor(model => model.ProductClaimRequestCode)
                                        <div id="divpocode" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ProductName)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.HiddenFor(model => model.ProductId)
                                        @Html.NopEditorFor(model => model.ProductName)
                                        @Html.ValidationMessageFor(model => model.ProductName)
                                        <div id="divproductname" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Status)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EnumDropDownListFor(model => model.Status, new { @class = "form-control valid" })
                                        @Html.ValidationMessageFor(model => model.Status)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.StartDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.StartDate)
                                        @Html.HiddenFor(model => model.HStartDate)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.EndDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.EndDate)
                                        @Html.HiddenFor(model => model.HEndDate)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-4">
                                        <button type="button" id="search-products" class="btn bg-blue " name="save" value="@T("Admin.Common.Search")">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="divLockedCell">
                    <div class="panel-body">
                        <div id="products-grid"></div>
                        <script>
                            $("#validationMessages").hide();
                            $(document).ready(function () {
                                //
                                validationMessages
                                $("#validationMessages").hide();
                                $("#products-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("ProductClaimRequestList", "ProductClaimRequest"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    editable: {
                                        confirmation: false,
                                        mode: "inline"
                                    },
                                    //scrollable: false,
                                    columns: [
                                    //{
                                    //    field: "Id",
                                    //    headerTemplate: "<input id='mastercheckbox' type='checkbox' />",
                                    //    headerAttributes: { style: "text-align:center" },
                                    //    attributes: { style: "text-align:center" },
                                    //    template: "<input type='checkbox' value='#=Id#' class='checkboxGroups' />",
                                    //    width: 50
                                    //},
                                    {
                                        field: "PCRCode",
                                        title: "@T("Admin.Purchaseorder.Inventory.PCRCode")",
                                        template:"<a href='View/#=Id#'>#=PCRCode#</a>",
                                        locked:true,
                                        width: 100
                                    },
                                   {
                                       field: "CreatedDate",
                                       title: "@T("Admin.PurchaseOrderList.InvoicedDate")",
                                       width: 200,
                                       //type: "date",
                                       //format: "{0:dd/MM/yyyy hh:mm:ss tt}"

                                   }, {
                                       field: "PCRFrom",
                                       title: "@T("Admin.PCR.Inventory.PCRFROM")",
                                       width: 200,
                                   }, {
                                       field: "PCRTo",
                                       title: "@T("Admin.PCR.Inventory.PCRTo")",
                                       width: 200,
                                   }, @*{
                                    field: "PaymentMode",
                                    title: "@T("Admin.PurchaseOrderList.PaymentMode")",
                                    // width: 150,
                                    //if not a grouped product, then display

                                }, {
                                    field: "AmountPayable",
                                    title: "@T("Admin.PurchaseOrderList.AmountPayable")",
                                    // width: 150,
                                    //if not a grouped product, then display

                                },*@{
                                       field: "RequestedQuantity",
                                       title: "@T("Admin.PurchaseOrderList.RequestedQuantity")",
                                       width: 150,
                                       attributes:{ "class":"AlignkendoGridFormQuantity-right" }
                                       //if not a grouped product, then display

                                   },{
                                       field: "RecievedQuantity",
                                       title: "@T("Admin.PurchaseOrderList.RecievedQuantity")",
                                       width: 150,
                                       attributes:{ "class":"AlignkendoGridFormQuantity-right" }
                                       //if not a grouped product, then display

                                   },{
                                       field: "PendingQuantity",
                                       title: "@T("Admin.PurchaseOrderList.PendingQuantity")",
                                       width: 150,
                                       attributes:{ "class":"AlignkendoGridFormQuantity-right" }
                                       //if not a grouped product, then display

                                   }, {
                                       field: "Paymode",
                                       title: "@T("Admin.Customers.Customers.Fields.Paymode")",
                                       width: 200,
                                   },{
                                       field: "Id",
                                       title: "@T("Admin.Customers.Customers.Fields.Paymode")",
                                       width: 100,
                                       hidden:true,
                                   }, {
                                       field: "PictureThumbnailUrl",
                                       title: "@T("Admin.Catalog.Products.Fields.ReceiptThumbnailUrl")",
                                       width: 200,
                                       template:"#=getImage(PictureThumbnailUrl,Id,Paymode)#",
                                   },{
                                       field: "Status",
                                       title: "@T("Admin.PurchaseOrderList.Status")",
                                       width: 100,
                                   }, {
                                       field: "Id",
                                       title: "@T("Admin.Common.Action")",
                                       width: 100,
                                       template: '#=getEditStatus(Status,Id)#'
                                   }]
                                } );

                                var count=0;
                                $('a.sidebar-toggle').on('click', function () {
                                    if(count==0)
                                    {
                                        $.get(location.href).then(function(kendoGrid) {
                                            $("#divLockedCell").html($(kendoGrid).find("#divLockedCell").html())
                                        })
                                        count=count+1;
                                        return false;
                                    }
                                });

                                $('#PCRType').change(function(){
                                    var pcrType=$('#PCRType').val();
                                    $('#TraderName').val("");
                                    $('#TraderId').val("");
                                    switch(pcrType)
                                    {
                                        case '1':
                                            $('#IsPCREditable').val('false');
                                            break;
                                        case '2':
                                            $('#IsPCREditable').val('true');
                                            break;
                                        case '3':
                                            $('#IsPCREditable').val('false');
                                            break;
                                    }
                                });
                            });

                            function getEditStatus(status,id)
                            {
                                var iseditable=$('#IsPCREditable').val();
                                //  alert('status :'+status);
                                if(status =='New' && iseditable=='true')
                                    return '<a href="Edit/'+id+'">@T("Admin.Common.Edit")</a>';//&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="PdfInvoice/'+id+'">@T("Admin.Orders.PdfInvoice")</a>';
                                if(status =='InComplete')
                                    return '-';
                                if(status =='New')
                                    return '-';
                                if(status =='Rejected')
                                    return '-';
                                else return '<a href="PdfInvoice/'+id+'">@T("Admin.Orders.PdfInvoice")</a>';
                            }

                            function getImage(PictureThumbnailUrl,Id,Paymode)
                            {
                                // 
                                if(Paymode=='Cash at H.O.' || Paymode=='PayUMoney'
                                   || Paymode == 'BankTransfer' || Paymode=="EWallet"
                                   || Paymode == 'Atom'  || Paymode == 'VoguePay' || Paymode =='Cash On Delivery (COD)'
                                   || Paymode == 'PayPal Express Checkout' || Paymode == 'CCAvenue'
                                   || (Paymode == "Cheque / Money Order" && PictureThumbnailUrl=="-")
                                   || (Paymode == "Demand Draft" && PictureThumbnailUrl == "-") 
                                    || (Paymode == "Cash Deposit" && PictureThumbnailUrl == "-")){
                                    return '-';
                                }
                                else{
                                    return "<a value='#=Id#' onclick=\"javascript:OpenWindow('@Url.Content("~/Admin/ProductClaimRequest/ViewImage")?Id="+Id+"', 1000, 500, true); return false;\" style='cursor:pointer' /><img src="+PictureThumbnailUrl+"  width='40px' height='40px' /></a>";
                                }
                            }

                            function additionalData()
                            {
                                // 
                                var data={
                                    Status: $('#@Html.FieldIdFor(model => model.Status)').val(),
                                    PCRCode: $('#@Html.FieldIdFor(model => model.PCRCode)').val(),
                                    ProductId: $('#@Html.FieldIdFor(model => model.ProductId)').val(),
                                    TraderId:$('#@Html.FieldIdFor(model => model.TraderId)').val(),
                                    TraderName:$('#@Html.FieldIdFor(model => model.TraderName)').val(),
                                    PCRType:$('#@Html.FieldIdFor(model => model.PCRType)').val(),
                                    StartDate: getDate($("#StartDate").data("kendoDatePicker").value()),
                                    EndDate:getDate($("#EndDate").data("kendoDatePicker").value()),
                                    @*StartDate:$('#@Html.FieldIdFor(model => model.StartDate)').val(),
                            EndDate:$('#@Html.FieldIdFor(model => model.EndDate)').val(),*@

                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>

    $('#validationMessages').hide();

    $("#@Html.FieldIdFor(model => model.TraderName)").keydown(function (event) {
        if (event.keyCode == 13) {
            $("#search-products").click();
            return false;
        }
    });
    $("#@Html.FieldIdFor(model => model.ProductName)").keydown(function (event) {
        if (event.keyCode == 13) {
            $("#search-products").click();
            return false;
        }
    });
    $("#@Html.FieldIdFor(model => model.ProductClaimRequestCode)").keydown(function (event) {
        if (event.keyCode == 13) {
            $("#search-products").click();
            return false;
        }
    });

    $("#search-products").click(function () {

        $("#validationMessages").hide();
        $(".alert.alert-success.alert-dismissable").hide();
        $(".alert.alert-danger.alert-dismissable").hide();
        var traderName=$("#TraderName").val();
        var validationDivs='';

        if(traderName=='')
            $("#TraderId").val('0');
        //search
        if( $('#TraderName').val()=="")
            $('#TraderId').val('0');
        if( $('#BindProductName').val()=="")
            $('#ProductId').val('0');
        if( $('#ProductClaimRequestCode').val()=="")
            $('#PCRCode').val('');

        if( $('#ProductClaimRequestCode').val()!="" &&  $('#PCRCode').val()=="")
        {
            $("#validationMessages").show();
            validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
            $("#validationMessages").html(validationDivs);
            $('#ProductClaimRequestCode').val('');
            $('#ProductClaimRequestCode').focus();
            return false;
        }

        var EnteredDate = getDate($("#StartDate").data("kendoDatePicker").value());
        var EnteredFromdate=getDate($("#EndDate").data("kendoDatePicker").value());

        var str = EnteredDate;
        var res = str.split("/");
        var date =res[1];
        var month=res[0];
        var year =res[2];

        var str1 = EnteredFromdate;
        var res1 = str1.split("/");
        var Fromdate =res1[1];
        var Frommonth=res1[0];
        var Fromyear =res1[2];

        var myDate = new Date(year, month - 1, date);/// value on EnteredDate CreatedOnFrom

        var myFromDate = new Date(Fromyear, Frommonth - 1, Fromdate); /// value on EnteredFromdate CreatedOnTo

        var today = new Date();
        var start_time=$("#DatewiseFrom").val();
        var end_time=$("#DatewiseTo").val();

        if (myFromDate > today) {

            $("#validationMessages").show();
            validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
            $('#validationMessages').html(validationDivs);
            // flag=false;
            $('#products-grid').hide();
            return false;
        }
        if (myFromDate < myDate) {
            $("#validationMessages").show();
            validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
            //flag=false;
            $('#validationMessages').html(validationDivs);
            $('#products-grid').hide();
            return false;
        }

        $("#products-grid").show();
        var grid = $("#products-grid").data('kendoGrid');
        grid.dataSource.page(1);
        return false;
    });

    $('#TraderName').autocomplete({
        delay: 500,
        minLength: 1,
        source: '@(Url.Action("BindTraderName", "ProductClaimRequest"))',
        appendTo: '.search-box',
        select: function (event, ui) {
            $("#TraderName").val(ui.item.TraderName);                
            $("#divfirstname").show();
            $("#TraderId").val(ui.item.TraderId);

        }
    }).data("ui-autocomplete")._renderItem = function (ul, item) {
        //   
        var t = item.label;
        //html encode
        t = $('<div/>').text(t).html();
        return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a><span>" + t + "</span></a>")
            .appendTo(ul);
        $("#AddToSupp").show();
    };

    //$('#TraderName').change(function(){
    //    $("#SupplierId").val('');
    //    alert('please select supplier from suggested list only');
    //    $('#TraderName').val('');
    //    $('#TraderName').focus();
    //});
    $('#TraderName').change(function(){
        
        var validationDivs="";
        //
        var t=$('#TraderId').val();
        $("#validationMessages").hide();
        if( $('#TraderName').val()=="")
        {
            $("#validationMessages").show();
            validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
            $("#validationMessages").html(validationDivs);
            $('#TraderName').val('');
            $('#TraderName').focus();
            return false;
        }
    });

    //product name
    $('#ProductName').autocomplete({
        delay: 500,
        minLength: 1,
        source: '@(Url.Action("BindProductName", "ProductClaimRequest"))',
        appendTo: '.search-box',
        select: function (event, ui) {
            //    
            //  $("#ProductId").val(ui.item.Id);
            //$("#memberID").val(ui.item.label);
            $("#ProductName").val(ui.item.ProductName);
            $("#divproductname").show();
            $("#ProductId").val(ui.item.productId);

            // fetchSupplierDetails(ui.item.SupplierId);

        }
    }).data("ui-autocomplete")._renderItem = function (ul, item) {
        //   
        var t = item.label;
        //html encode
        t = $('<div/>').text(t).html();
        return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a><span>" + t + "</span></a>")
            .appendTo(ul);
        // $("#AddToSupp").show();
    };

    $('#ProductName').change(function(){
        var validationDivs="";
        $("#validationMessages").hide();
        if( $('#ProductName').val()!="" &&  $('#ProductId').val()=="0")
        {
            $("#validationMessages").show();
            validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
            $("#validationMessages").html(validationDivs);
            $('#ProductName').val('');
            $('#ProductName').focus();
            return false;
        }
    });

    // porduct order number
    $('#ProductClaimRequestCode').autocomplete({
        delay: 500,
        minLength: 1,
        //  source: ,
        source: function(request, response) {
            $.ajax({
                url: '@(Url.Action("BindPCRNumber", "ProductClaimRequest"))',
                dataType: "json",
                data: {
                    term : request.term,
                    pcrType : $("#PCRType").val()
                },
                success: function(data) {
                    response(data);
                }
            });
        },
        appendTo: '.search-box',
        select: function (event, ui) {
            //    
            $("#PCRCode").val(ui.item.Code);
            $("#PurchaseOrderCode").val(ui.item.Code);
            $("#divpocode").show();
        }
    }).data("ui-autocomplete")._renderItem = function (ul, item) {
        var t = item.label;
        //html encode
        t = $('<div/>').text(t).html();
        return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a><span>" + t + "</span></a>")
            .appendTo(ul);
    };

    $('#ProductClaimRequestCode').change(function(){
        var validationDivs="";
        $("#validationMessages").hide();
        if( $('#ProductClaimRequestCode').val()!="" &&  $('#PCRCode').val()=="")
        {
            $("#validationMessages").show();
            validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
            $("#validationMessages").html(validationDivs);
            $('#ProductClaimRequestCode').val('');
            $('#ProductClaimRequestCode').focus();
        }
    });

    $("#exportexcelPCRdetailall").click(function() {
        // 
        $("#HStartDate").val(getDate($("#StartDate").data("kendoDatePicker").value()));
        $("#HEndDate").val(getDate($("#EndDate").data("kendoDatePicker").value()));
        var t=$("#HFromDate").val();
    });
</script>