/*
 *
 * Template Name: Fullscreen Login
 * Description: Login Template with Fullscreen Background Slideshow
 * Author: Anli Zaimi
 * Author URI: http://azmind.com
 *
 */

/* === Typography === */
@font-face {
    font-family: 'MuseoSans-700';
    src: url("fonts/museo.eot");
    src: url("fonts/museo.eot") format("embedded-opentype"), url("fonts/museo.woff") format("woff"), url("fonts/museo.ttf") format("truetype");
}

body {
    background: #f8f8f8;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #fff;
    padding: 0;
}

.page-container {
    margin: 50px auto 0 auto;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0 1px 4px rgba(0,0,0,.2);
}

form {
    position: relative;
    width: 305px;
    margin: 15px auto 0 auto;
    text-align: center;
}

footer.footer {
    background-color: transparent;
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 3;
}

@media (min-width: 768px) {
    footer {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.company-logo-carousel {
    margin-top: 75px;
}

@media (max-width:640px) {
    .company-logo-carousel {
        margin-top: 0;
    }
}

.page-container.login-form {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    max-width: 360px;
    padding: 20px;
}
/* === page content === */
#pagewrap{min-height:100%}
.container{margin:0 auto;width:960px}
#wrapper .container{margin:25px auto}

/* === header === */
#header{height:52px;position:fixed;width:100%;position:relative;z-index:999;background:#fff;border-bottom:1px solid #e5e5e5}
#header .container .logo{height:42px;margin:5px 0; vertical-align:middle;border:0}
#header .container .link{font-weight:700; font-size:18px; line-height:18px; color: #222; font-family: "MuseoSans-700",Helvetica,Arial,Verdana,sans-serif; vertical-align:middle;}

#main-content{position:relative;margin-bottom:-100px}
.duck-animation{background-position:-1000px 30%;background-repeat:no-repeat;height:100px}

