﻿._col_pick_tool, ._col_pick_tool span {
    display: inline-block;
    vertical-align: top;
}

._colpick_tool_cont {
    font-family: sans-serif;
}

._coloring_pick_container.pop {
    padding: 0 20px;
    position: fixed;
    z-index: 9999;
    /*top: 50%;*/
    top: 44%;
    left: 50%;
    margin: -155px 0 0 -200px;
    border-radius: 5px;
    background-color: #FFF;
    -webkit-box-shadow: 0 0 48px -6px rgba(0,0,0,.24);
    -moz-box-shadow: 0 0 48px -6px rgba(0,0,0,.24);
    box-shadow: 0 0 48px -6px rgba(0,0,0,.24);
}

._col_pick_tool {
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #E5E5E5;
    line-height: 26px;
    height: 26px;
    margin-bottom: 5px;
}

    ._col_pick_tool .col-colorbox {
        border-right: 1px solid #ddd;
        background: url(~/Plugins/Theme.Vnext/img/trans_bg.png);
       width: 200px;
    }

    ._col_pick_tool .col-colorbtn {
        font-size: 11px;
        padding: 0 6px 1px;
        margin-left: 0;
        background: #E5E5E5;
        position: relative;
    }

    ._col_pick_tool span {
        height: 100%;
    }

    ._col_pick_tool ._col_input_preview {
        border: none !important;
        height: auto !important;
        vertical-align: text-top !important;
        padding: 1px 5px !important;
        width: auto !important;
        background: 0 0 !important;
        color: #6F6F6F !important;
        font-size: 11px !important;
        display: inline-block !important;
        line-height: 1;
    }

._col_pick_type_btn_wrapper {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px #eaeaea;
}

._col_picker_content {
    display: none;
}

    ._col_picker_content.selected {
        display: block;
    }

._coloring_inner {
    position: relative;
    margin: 20px 0;
    font-size: 13px;
    color: #636363;
}

.col_btn {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #EFEFEF;
    font-size: 11px;
    color: #2e3246 !important;
    text-align: center;
    border-radius: 2px;
    margin-right: 5px;
    text-decoration: none;
    transition: all .4s;
}

    .col_btn.selected {
        border: 1px solid #999;
        background-color: #e4e4e4;
    }

    .col_btn:hover {
        text-decoration: none !important;
        background-color: #e4e4e4;
    }

.col_gradient_preview {
    width: 100%;
    height: 50px;
}

.col_slider_container {
    position: relative;
    height: 50px;
    width: 200px;
}

    .col_slider_container .add_new_gradient_color {
        cursor: copy;
        height: 25px;
    }

.col_gradient_slider {
    height: 25px;
    width: 200px;
    box-shadow: 0 0 0 2px #dfe0e6;
    border: 2px solid #fff;
    border-radius: 1px;
    position: relative;
}

.ui-slider .ui-slider-handle:focus {
    outline-width: 0;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    margin-left: -5px;
    box-shadow: 0 0 0 2px #dfe0e6;
    border: 2px solid #FFF;
    transform: rotate(45deg);
    width: 12px;
    height: 12px;
    top: 30px;
    border-radius: 3px;
}

[class*=colico-Cross]:after, [class*=colico-]:before {
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.col_gradient_slider .active_point {
    box-shadow: 0 0 0 2px #999;
}

[class*=colico-Check]:after, [class*=colico-Cross]:after, [class*=colico-]:before {
    box-shadow: inset 0 0 0 32px;
}

.col_check_btn {
    padding: 0;
    border: 1px solid transparent;
    display: inline-block;
    box-sizing: content-box;
    vertical-align: top;
    transition: all .4s;
    background-color: #41d47f;
    border-radius: 3px;
    margin-bottom: 0;
    overflow: hidden;
    cursor: pointer;
}

.col_clear_btn {
    background-color: #e2e2e2;
    margin-right: 5px;
}

.col_check_btn:hover {
    background-color: #18c360;
}

.col_clear_btn:hover {
    background-color: #999;
}

[class*=colico-]:before {
    content: '';
    pointer-events: none;
    width: 20px;
    height: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

[class*=colico-]:after {
    position: absolute;
    height: 12px;
    width: 2px;
    left: 4px;
    bottom: 14px;
    content: '';
    pointer-events: none;
}

[class*=colico-] {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    color: #fff;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;
    width: 28px;
    height: 28px;
    margin: 3px 0 3px 8px;
}

[class*=colico-Check], [class*=colico-Cross] {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.colico-Cross {
    transform: rotate(45deg);
}

[class*=colico-Cross] {
    width: 30px;
    height: 30px;
    margin: 2px;
}

    [class*=colico-Cross]:after {
        position: absolute;
        left: 15px;
        top: 50%;
        height: 20px;
        transform: translate(-50%,-50%);
    }

    [class*=colico-Cross]:before {
        box-shadow: inset 0 0 0 32px;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 20px;
        height: 2px;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

.remove_gradient_color {
    position: absolute;
    bottom: 35px;
    left: 207px;
}

.colico-Trash {
    width: 15px;
    height: 15px;
    border-radius: 0 0 3px 3px;
    border: 2px solid;
    border-top: none;
    margin: 9px 6px 3px;
}

    .colico-Trash:before {
        width: 8px;
        height: 2px;
        top: -6px;
        box-shadow: inset 0 0 0 32px,-7px 2px 0 0,-6px 2px 0 0,0 2px 0 0,6px 2px 0 0,3px 2px 0 0;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

._coloring_pick_container.dark {
    background-color: #313131;
}

    ._coloring_pick_container.dark ._col_pick_type_btn_wrapper {
        border-bottom: solid 1px #4a4a4a;
    }

    ._coloring_pick_container.dark .col_btn {
        background-color: #5a5a5a;
        color: #CACACA !important;
    }

        ._coloring_pick_container.dark .col_btn:hover {
            background-color: #525252;
        }

        ._coloring_pick_container.dark .col_btn.selected {
            background-color: #383838;
        }

    ._coloring_pick_container.dark ._coloring_aligntool.coloring_align_yellow .coloring_align_control {
        border: 2px solid #777;
    }

    ._coloring_pick_container.dark ._coloring_aligntool.coloring_align_yellow .coloring_line_hz, ._coloring_pick_container.dark ._coloring_aligntool.coloring_align_yellow .coloring_line_vt {
        background: #8c8c8c;
    }

    ._coloring_pick_container.dark ._coloring_aligntool.coloring_align_yellow .coloring_align_control.coloring_align_selected {
        background: #efefef;
        border: 2px solid #d0d0d0;
    }

    ._coloring_pick_container.dark .minicolors {
        box-shadow: 0 0 0 2px #444;
    }

    ._coloring_pick_container.dark .minicolors-panel {
        background: #313131;
    }

    ._coloring_pick_container.dark .col_gradient_slider {
        box-shadow: 0 0 0 2px #444;
        border: 2px solid #313131;
    }

        ._coloring_pick_container.dark .col_gradient_slider .active_point {
            box-shadow: 0 0 0 2px #999 !important;
        }

    ._coloring_pick_container.dark .ui-slider .ui-slider-handle {
        box-shadow: 0 0 0 2px #444;
        border: 2px solid #313131;
    }

    ._coloring_pick_container.dark .col_clear_btn {
        background-color: #5a5a5a;
    }

        ._coloring_pick_container.dark .col_clear_btn:hover {
            background-color: #6d6d6d;
        }

    ._coloring_pick_container.dark .colico-Cross, ._coloring_pick_container.dark .colico-Trash {
        color: #b5b5b5 !important;
    }

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

._coloring_aligntool {
    background: 0 0;
    display: inline-block;
    height: 50px;
    margin-left: 12px;
    position: relative;
    vertical-align: middle;
    width: 50px;
}

    ._coloring_aligntool.coloring_align_yellow .coloring_line_hz, ._coloring_aligntool.coloring_align_yellow .coloring_line_vt {
        background: #dfe0e6;
    }

    ._coloring_aligntool.coloring_align_yellow .coloring_align_control {
        border: 2px solid #dfe0e6;
    }

        ._coloring_aligntool.coloring_align_yellow .coloring_align_control.coloring_align_selected {
            background: #d0d0d0;
            border: 2px solid #999;
        }

    ._coloring_aligntool .coloring_line_hz {
        height: 2px;
        width: 7px;
        position: absolute;
    }

    ._coloring_aligntool .coloring_line_vt {
        height: 7px;
        width: 2px;
        position: absolute;
    }

    ._coloring_aligntool .coloring_align_control {
        border: 2px solid #627be0;
        border-radius: 1px;
        cursor: pointer;
        height: 12px;
        position: absolute;
        width: 12px;
    }

        ._coloring_aligntool .coloring_align_control.coloring_align_topLeft {
            left: 0;
            top: 0;
        }

        ._coloring_aligntool .coloring_align_control.coloring_align_centerTop {
            left: 19px;
            top: 0;
        }

        ._coloring_aligntool .coloring_align_control.coloring_align_topRight {
            right: 0;
            top: 0;
        }

        ._coloring_aligntool .coloring_align_control.coloring_align_middleLeft {
            left: 0;
            top: 19px;
        }

        ._coloring_aligntool .coloring_align_control.coloring_align_center {
            left: 19px;
            top: 19px;
        }

        ._coloring_aligntool .coloring_align_control.coloring_align_middleRight {
            right: 0;
            top: 19px;
        }

        ._coloring_aligntool .coloring_align_control.coloring_align_bottomLeft {
            left: 0;
            bottom: 0;
        }

        ._coloring_aligntool .coloring_align_control.coloring_align_centerBottom {
            left: 19px;
            bottom: 0;
        }

        ._coloring_aligntool .coloring_align_control.coloring_align_bottomRight {
            right: 0;
            bottom: 0;
        }

.spr_column-inner::after, .spr_column-inner::before, .spr_row::after, .spr_row::before {
    content: " ";
    display: table;
}

.spr_column {
    position: relative;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .spr_column > .spr_column-inner {
        box-sizing: border-box;
        width: 100%;
    }

.spr_column-inner::after, .spr_row::after {
    clear: both;
}

.spr_col-12, .spr_column {
    width: 100%;
}

@media (min-width:768px) {
    .spr_col-10 {
        width: 83.33333333%;
    }

    .spr_col-9 {
        width: 75%;
    }

    .spr_col-8 {
        width: 66.66666667%;
    }

    .spr_col-7 {
        width: 58.33333333%;
    }

    .spr_col-6 {
        width: 50%;
    }

    .spr_col-5 {
        width: 41.66666667%;
    }

    .spr_col-4 {
        width: 33.33333333%;
    }

    .spr_col-3 {
        width: 25%;
    }

    .spr_col-2 {
        width: 16.66666667%;
    }

    .spr_col-1 {
        width: 8.33333333%;
    }

    .spr_column {
        float: left;
    }
}

.minicolors {
    position: relative;
}

.minicolors-sprite {
    background-image: url(../img/jquery.minicolors.png);
}

.minicolors-swatch {
    position: absolute;
    vertical-align: middle;
    background-position: -80px 0;
    border: 1px solid #ccc;
    cursor: text;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.minicolors-swatch-color {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.minicolors input[type=hidden] + .minicolors-swatch {
    width: 28px;
    position: static;
    cursor: pointer;
}

.minicolors input[type=hidden][disabled] + .minicolors-swatch {
    cursor: default;
}

.minicolors-panel {
    position: absolute;
    width: 173px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    z-index: 99999;
    box-sizing: content-box;
    display: none;
}

    .minicolors-panel.minicolors-visible {
        display: block;
    }

.minicolors-position-top .minicolors-panel {
    top: -154px;
}

.minicolors-position-right .minicolors-panel {
    right: 0;
}

.minicolors-position-bottom .minicolors-panel {
    top: auto;
}

.minicolors-position-left .minicolors-panel {
    left: 0;
}

.minicolors-with-opacity .minicolors-panel {
    width: 194px;
}

.minicolors .minicolors-grid {
    position: relative;
    top: 1px;
    left: 1px;
    width: 150px;
    height: 150px;
    background-position: -120px 0;
    cursor: crosshair;
}

.minicolors .minicolors-grid-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
}

.minicolors-slider-saturation .minicolors-grid {
    background-position: -420px 0;
}

.minicolors-slider-saturation .minicolors-grid-inner {
    background-position: -270px 0;
    background-image: inherit;
}

.minicolors-slider-brightness .minicolors-grid {
    background-position: -570px 0;
}

.minicolors-slider-brightness .minicolors-grid-inner {
    background-color: #000;
}

.minicolors-slider-wheel .minicolors-grid {
    background-position: -720px 0;
}

.minicolors-opacity-slider, .minicolors-slider {
    position: absolute;
    top: 1px;
    left: 152px;
    width: 20px;
    height: 150px;
    background-color: #fff;
    background-position: 0 0;
    cursor: row-resize;
}

.minicolors-slider-saturation .minicolors-slider {
    background-position: -60px 0;
}

.minicolors-slider-brightness .minicolors-slider, .minicolors-slider-wheel .minicolors-slider {
    background-position: -20px 0;
}

.minicolors-opacity-slider {
    left: 173px;
    background-position: -40px 0;
    display: none;
}

.minicolors-with-opacity .minicolors-opacity-slider {
    display: block;
}

.minicolors-grid .minicolors-picker {
    position: absolute;
    top: 70px;
    left: 70px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    margin-top: -6px;
    margin-left: -6px;
    background: 0 0;
}

    .minicolors-grid .minicolors-picker > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        border: 2px solid #fff;
        box-sizing: content-box;
    }

.minicolors-picker {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 2px;
    background: #fff;
    border: 1px solid #000;
    margin-top: -2px;
    box-sizing: content-box;
}

.minicolors-swatches, .minicolors-swatches li {
    margin: 5px 5px 0 1px !important;
    padding: 0 !important;
    list-style: none;
    overflow: hidden;
}

    .minicolors-swatches .minicolors-swatch {
        position: relative;
        float: left;
        cursor: pointer;
        margin: 0 4px 0 0;
    }

.minicolors-with-opacity .minicolors-swatches .minicolors-swatch {
    margin-right: 7px;
}

.minicolors-swatch.selected {
    border-color: #000;
}

.minicolors-inline {
    display: inline-block;
}

    .minicolors-inline .minicolors-input {
        display: none !important;
    }

    .minicolors-inline .minicolors-panel {
        position: relative;
        top: auto;
        left: auto;
        box-shadow: none;
        z-index: auto;
        display: inline-block;
    }

.minicolors-theme-default .minicolors-swatch {
    top: 5px;
    left: 5px;
    width: 18px;
    height: 18px;
}

.minicolors-theme-default .minicolors-swatches .minicolors-swatch {
    margin-bottom: 2px;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
}

.minicolors-theme-default.minicolors-position-right .minicolors-swatch {
    left: auto;
    right: 5px;
}

.minicolors-theme-default.minicolors {
    width: auto;
    display: inline-block;
}

.minicolors-theme-default .minicolors-input {
    height: 20px;
    width: auto;
    display: inline-block;
    padding-left: 26px;
}

.minicolors-theme-default.minicolors-position-right .minicolors-input {
    padding-right: 26px;
    padding-left: inherit;
}

.minicolors-theme-bootstrap .minicolors-swatch {
    z-index: 2;
    top: 3px;
    left: 3px;
    width: 28px;
    height: 28px;
    border-radius: 3px;
}

.minicolors-theme-bootstrap .minicolors-swatches .minicolors-swatch {
    margin-bottom: 2px;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
}

.minicolors-theme-bootstrap .minicolors-swatch-color {
    border-radius: inherit;
}

.minicolors-theme-bootstrap.minicolors-position-right > .minicolors-swatch {
    left: auto;
    right: 3px;
}

.minicolors-theme-bootstrap .minicolors-input {
    float: none;
    padding-left: 44px;
}

.minicolors-theme-bootstrap.minicolors-position-right .minicolors-input {
    padding-right: 44px;
    padding-left: 12px;
}

.minicolors-theme-bootstrap .minicolors-input.input-lg + .minicolors-swatch {
    top: 4px;
    left: 4px;
    width: 37px;
    height: 37px;
    border-radius: 5px;
}

.minicolors-theme-bootstrap .minicolors-input.input-sm + .minicolors-swatch {
    width: 24px;
    height: 24px;
}

.minicolors-theme-bootstrap .minicolors-input.input-xs + .minicolors-swatch {
    width: 18px;
    height: 18px;
}

.input-group .minicolors-theme-bootstrap:not(:first-child) .minicolors-input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.minicolors-theme-semanticui .minicolors-swatch {
    top: 0;
    left: 0;
    padding: 18px;
}

.minicolors-theme-semanticui input {
    text-indent: 30px;
}

.minicolors {
    box-shadow: 0 0 0 2px #dfe0e6;
    border-radius: 2px;
    padding: 3px 3px 2px;
}

.minicolors-panel {
    border: none;
}

.minicolors-grid .minicolors-picker {
    border: 1px solid #bdbdbd;
}

.minicolors-opacity-slider .minicolors-picker, .minicolors-slider .minicolors-picker {
    height: 6px !important;
    margin-top: -4px !important;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #dfe0e6;
    border: 1px solid #fff;
}
