﻿@model San.Plugin.Widgets.Advertisement.Models.ConfigurationModel
@{
    Layout = "";
    Html.AddCssFileParts("~/Plugins/Widgets.Advertisement/Content/multi-select.css");
    Html.AddScriptParts("~/Plugins/Widgets.Advertisement/Scripts/jquery.multi-select.js");
}

@using Nop.Web.Framework;
@using Nop.Web.Framework.UI
@using Nop.Core.Infrastructure

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <script>
        $(document).ready(function () {
            $("#advertisement-configure").kendoTabStrip({
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                },
                select: tabstrip_on_tab_select
            });
            $('#BlackoutCustomer').multiSelect();
        });
    </script>
    @*<div id="advertisement-configure">
        <ul>
            <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
                @T("Plugins.Widget.Advertisement.General")
            </li>
            <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
                @T("Plugins.Widget.Advertisement.Restrictions")
            </li>
        </ul>
        <div>
            @TabGeneral()
        </div>
        <div>
            @TabOverride()
        </div>
    </div>*@

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Ticket.Configuration")
        </h1>
        <div class="pull-right">

            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
           
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div id="advertisement-configure" class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    @Html.RenderBootstrapTabHeader("tab-general", @T("Plugins.Widget.Advertisement.General"), true)
                    @Html.RenderBootstrapTabHeader("tab-Override", @T("Plugins.Widget.Advertisement.Restrictions"))
                </ul>
                <div class="tab-content">
                    @Html.RenderBootstrapTabContent("tab-general", @TabGeneral(), true)
                    @Html.RenderBootstrapTabContent("tab-Override", @TabOverride())
                </div>
            </div>
        </div>
    </div>


    @*save selected tab index*@
    <input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(Html.GetSelectedTabName())">
    @*<table class="adminContent">
        <tr>
            <td colspan="2">
                <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
    </table>*@
}
@helper TabGeneral()
{
    //for flashbanner
    <fieldset>
        <legend><strong>@T("Plugins.Widgets.Advertisement.FlashBanner")</strong></legend>
        <table class="adminContent">
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FlashBannerEnabled_OverrideForStore, model => model.FlashBannerEnabled, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FlashBannerEnabled):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FlashBannerEnabled)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FlashBannerPicture_OverrideForStore, model => model.FlashBannerPicture, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FlashBannerPicture):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FlashBannerPicture)

                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FlashBannerDescription_OverrideForStore, model => model.FlashBannerDescription, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FlashBannerDescription):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FlashBannerDescription)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FlashBannerLink_OverrideForStore, model => model.FlashBannerLink, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FlashBannerLink):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FlashBannerLink)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FlashBannerRepeat_OverrideForStore, model => model.FlashBannerRepeat, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FlashBannerRepeat):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FlashBannerRepeat)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FlashBannerRepeatInterval_OverrideForStore, model => model.FlashBannerRepeatInterval, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FlashBannerRepeatInterval):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FlashBannerRepeatInterval)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FlashBannerOnPageLoad_OverrideForStore, model => model.FlashBannerOnPageLoad, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FlashBannerOnPageLoad):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FlashBannerOnPageLoad)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FlashBannerAutoClose_OverrideForStore, model => model.FlashBannerAutoClose, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FlashBannerAutoClose):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FlashBannerAutoClose)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FlashBannerAutoCloseIntervel_OverrideForStore, model => model.FlashBannerAutoCloseIntervel, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FlashBannerAutoCloseIntervel):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FlashBannerAutoCloseIntervel)
                </td>
            </tr>
        </table>
    </fieldset>
    <br />
            //for header
    <fieldset>
        <legend><strong>@T("Plugins.Widgets.Advertisement.Header")</strong></legend>
        <table class="adminContent">
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.HeaderEnabled_OverrideForStore, model => model.HeaderEnabled, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.HeaderEnabled):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.HeaderEnabled)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.HeaderPicture_OverrideForStore, model => model.HeaderPicture, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.HeaderPicture):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.HeaderPicture)

                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.HeaderDescription_OverrideForStore, model => model.HeaderDescription, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.HeaderDescription):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.HeaderDescription)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.HeaderLink_OverrideForStore, model => model.HeaderLink, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.HeaderLink):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.HeaderLink)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.HeaderRepeat_OverrideForStore, model => model.HeaderRepeat, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.HeaderRepeat):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.HeaderRepeat)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.HeaderRepeatInterval_OverrideForStore, model => model.HeaderRepeatInterval, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.HeaderRepeatInterval):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.HeaderRepeatInterval)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.HeaderOnPageLoad_OverrideForStore, model => model.HeaderOnPageLoad, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.HeaderOnPageLoad):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.HeaderOnPageLoad)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.HeaderAutoClose_OverrideForStore, model => model.HeaderAutoClose, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.HeaderAutoClose):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.HeaderAutoClose)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.HeaderAutoCloseIntervel_OverrideForStore, model => model.HeaderAutoCloseIntervel, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.HeaderAutoCloseIntervel):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.HeaderAutoCloseIntervel)
                </td>
            </tr>
        </table>
    </fieldset>
    <br />
            //for rightbottom
    <fieldset>
        <legend><strong>@T("Plugins.Widgets.Advertisement.RightBottom")</strong></legend>
        <table class="adminContent">
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.RightBottomEnabled_OverrideForStore, model => model.RightBottomEnabled, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.RightBottomEnabled):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.RightBottomEnabled)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.RightBottomPicture_OverrideForStore, model => model.RightBottomPicture, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.RightBottomPicture):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.RightBottomPicture)

                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.RightBottomDescription_OverrideForStore, model => model.RightBottomDescription, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.RightBottomDescription):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.RightBottomDescription)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.RightBottomLink_OverrideForStore, model => model.RightBottomLink, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.RightBottomLink):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.RightBottomLink)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.RightBottomRepeat_OverrideForStore, model => model.RightBottomRepeat, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.RightBottomRepeat):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.RightBottomRepeat)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.RightBottomRepeatInterval_OverrideForStore, model => model.RightBottomRepeatInterval, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.RightBottomRepeatInterval):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.RightBottomRepeatInterval)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.RightBottomOnPageLoad_OverrideForStore, model => model.RightBottomOnPageLoad, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.RightBottomOnPageLoad):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.RightBottomOnPageLoad)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.RightBottomAutoClose_OverrideForStore, model => model.RightBottomAutoClose, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.RightBottomAutoClose):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.RightBottomAutoClose)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.RightBottomAutoCloseIntervel_OverrideForStore, model => model.RightBottomAutoCloseIntervel, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.RightBottomAutoCloseIntervel):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.RightBottomAutoCloseIntervel)
                </td>
            </tr>
        </table>
    </fieldset>
    <br />
            //for footer
    <fieldset>
        <legend><strong>@T("Plugins.Widgets.Advertisement.Footer")</strong></legend>
        <table class="adminContent">
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FooterEnabled_OverrideForStore, model => model.FooterEnabled, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FooterEnabled):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FooterEnabled)
                </td>
            </tr>

           
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FooterPicture1_OverrideForStore, model => model.FooterPicture1, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FooterPicture1):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FooterPicture1)

                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FooterDescription1_OverrideForStore, model => model.FooterDescription1, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FooterDescription1):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FooterDescription1)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FooterLink1_OverrideForStore, model => model.FooterLink1, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FooterLink1):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FooterLink1)
                </td>
            </tr>

            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FooterPicture2_OverrideForStore, model => model.FooterPicture2, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FooterPicture2):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FooterPicture2)

                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FooterDescription2_OverrideForStore, model => model.FooterDescription2, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FooterDescription2):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FooterDescription2)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FooterLink2_OverrideForStore, model => model.FooterLink2, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FooterLink2):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FooterLink2)
                </td>
            </tr>

            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FooterPicture3_OverrideForStore, model => model.FooterPicture3, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FooterPicture3):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FooterPicture3)

                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FooterDescription3_OverrideForStore, model => model.FooterDescription3, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FooterDescription3):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FooterDescription3)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FooterLink3_OverrideForStore, model => model.FooterLink3, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FooterLink3):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FooterLink3)
                </td>
            </tr>

            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FooterPicture4_OverrideForStore, model => model.FooterPicture4, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FooterPicture4):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FooterPicture4)

                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FooterDescription4_OverrideForStore, model => model.FooterDescription4, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FooterDescription4):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FooterDescription4)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FooterLink4_OverrideForStore, model => model.FooterLink4, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FooterLink4):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FooterLink4)
                </td>
            </tr>

            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FooterPicture5_OverrideForStore, model => model.FooterPicture5, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FooterPicture5):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FooterPicture5)

                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FooterDescription5_OverrideForStore, model => model.FooterDescription5, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FooterDescription5):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FooterDescription5)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FooterLink5_OverrideForStore, model => model.FooterLink5, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FooterLink5):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FooterLink5)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FooterIntervalBetweenSlides_OverrideForStore, model => model.FooterIntervalBetweenSlides, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FooterIntervalBetweenSlides):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FooterIntervalBetweenSlides)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FooterRepeat_OverrideForStore, model => model.FooterRepeat, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FooterRepeat):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FooterRepeat)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FooterRepeatInterval_OverrideForStore, model => model.FooterRepeatInterval, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FooterRepeatInterval):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FooterRepeatInterval)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FooterOnPageLoad_OverrideForStore, model => model.FooterOnPageLoad, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FooterOnPageLoad):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FooterOnPageLoad)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FooterAutoClose_OverrideForStore, model => model.FooterAutoClose, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FooterAutoClose):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FooterAutoClose)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.FooterAutoCloseIntervel_OverrideForStore, model => model.FooterAutoCloseIntervel, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.FooterAutoCloseIntervel):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FooterAutoCloseIntervel)
                </td>
            </tr>
        </table>
    </fieldset>
    <br />
}
@helper TabOverride()
{
    <fieldset>
        <legend><strong>@T("Plugins.Widgets.Advertisement.BlackList")</strong></legend>
        <table class="adminContent">
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.BlackoutCustomer):
                </td>
                <td class="adminData">
                    <select multiple="multiple" id="BlackoutCustomer" name="BlackoutCustomer">
                        @foreach (var item in Model.AdvertisementCustomer)
                        {
                            <option value="@item.Value" selected="@item.Selected">@item.Text</option>
                        }
                    </select>
                </td>
            </tr>
</table>
    </fieldset>
    <br />
    @*<select multiple="multiple" id="my-select" name="my-select[]">
            <option value='elem_1'>elem 1</option>
            <option value='elem_2'>elem 2</option>
            <option value='elem_3'>elem 3</option>
            <option value='elem_4'>elem 4</option>
            ...
            <option value='elem_100'>elem 100</option>
        </select>*@
}
