﻿@model OnePageCheckoutModel
@using Nop.Web.Framework.Models.Checkout;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //scripts
    Html.AddScriptParts("~/Scripts/public.accordion.js");
    Html.AddScriptParts("~/Scripts/public.onepagecheckout.js");

    var storeLocation = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
}
@{
    //step numbers
    int billingAddressStepNumber = 1;
    int shippingAddressStepNumber = 2;
    int shippingMethodStepNumber = 3;
    int paymentMethodStepNumber = 4;
    int paymentInfoStepNumber = 5;
    int confirmOrderStepNumber = 6;
    if (!Model.ShippingRequired)
    {
        paymentMethodStepNumber = paymentMethodStepNumber - 2;
        paymentInfoStepNumber = paymentInfoStepNumber - 2;
        confirmOrderStepNumber = confirmOrderStepNumber - 2;
    }
    if (Model.DisableBillingAddressCheckoutStep)
    {
        shippingAddressStepNumber--;
        shippingMethodStepNumber--;
        paymentMethodStepNumber--;
        paymentInfoStepNumber--;
        confirmOrderStepNumber--;
    }
}
<link rel="stylesheet" href="~/Themes/Vnext/Content/VnextCSS/css/font-awesome.min.css">
<style>
    .venextgridcolor {
        background-color: #1c66b6 !important;
        color: white !important;
    }   

    @@media (max-width: 480px) and (min-width: 300px) {
        .inputs input[type="text"], .inputs input[type="password"], .inputs select, .inputs textarea {
            width: 90% !important;
        }
    }
</style>

<div class="page checkout-page">

    <div class="page-title">
        <h1>@T("Checkout")</h1>
    </div>
    <div class="page-body checkout-data">
        @Html.Widget("opc_content_before")
        <ol class="opc" id="checkout-steps">
            <li id="opc-billing" class="tab-section allow">
                <div class="venextgridcolor step-title" id="thecolor" style="">
                    <span class="number">@billingAddressStepNumber</span>
                    <h2 class="title">@T("Checkout.BillingAddress")</h2>
                </div>
                <div id="checkout-step-billing" class="step a-item" style="display: none;">
                    <form id="co-billing-form" action="">
                        <div id="checkout-billing-load">
                            @Html.Action("OpcBillingForm", "Checkout")
                            @*billing address content will be loaded here*@
                        </div>
                    </form>
                    <script type="text/javascript">
                        Billing.init('#co-billing-form', '@(storeLocation)checkout/OpcSaveBilling/', @(Model.DisableBillingAddressCheckoutStep.ToString().ToLowerInvariant()));
                        if ($("#billing-address-select").length > 0) {
                            Billing.newAddress(!$('#billing-address-select').val());
                        }
                    </script>
                    <div class="buttons" id="billing-buttons-container">
                        <button type="button" title="@T("Common.Continue")" onclick="Billing.save()" class="btn btn-primary"><i class="fa fa-angle-double-right"></i> @T("Common.Continue")</button>
                        <span class="please-wait" id="billing-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                    </div>
                </div>
            </li>
            @if (Model.ShippingRequired)
            {
                <li id="opc-shipping" class="tab-section">
                    <div class="venextgridcolor step-title" id="step-title">
                        <span class="number">@shippingAddressStepNumber</span>
                        <h2 class="title">@T("Checkout.ShippingAddress")</h2>
                    </div>
                    <div id="checkout-step-shipping" class="step a-item" style="display: none;">
                        <form action="" id="co-shipping-form">
                            <div id="checkout-shipping-load">
                                @*shipping address content will be loaded here*@
                            </div>
                        </form>
                        <script type="text/javascript">
                            Shipping.init('#co-shipping-form', '@(storeLocation)checkout/OpcSaveShipping/');
                            if ($("#shipping-address-select").length > 0) {
                                Shipping.newAddress(!$('#shipping-address-select').val());
                            }
                        </script>
                        <div class="buttons" id="shipping-buttons-container">
                            @if (!Model.DisableBillingAddressCheckoutStep)
                            {
                                <button type="button" class="btn btn-custon-two btn-primary" id="btncommisionLedger" onclick="Checkout.back(); return false;"><i class="fa fa-backward"></i> @T("Common.Back")</button>
                            }
                            <button type="button" title="@T("Common.Continue")" onclick="Shipping.save()" class="btn btn-primary"><i class="fa fa-angle-double-right"></i> @T("Common.Continue")</button>

                            <span id="shipping-please-wait" class="please-wait" style="display: none;"> @T("Common.LoadingNextStep")</span>
                        </div>
                    </div>
                </li>
                <li id="opc-shipping_method" class="tab-section">
                    <div class="venextgridcolor step-title" id="step-title1">
                        <span class="number">@shippingMethodStepNumber</span>
                        <h2 class="title">@T("Checkout.ShippingMethod")</h2>
                    </div>
                    <div id="checkout-step-shipping-method" class="step a-item" style="display: none;">
                        <form id="co-shipping-method-form" action="">
                            <div id="checkout-shipping-method-load">
                                @*shipping methods content will be loaded here*@
                            </div>
                            <script type="text/javascript">
                                ShippingMethod.init('#co-shipping-method-form', '@(storeLocation)checkout/OpcSaveShippingMethod/');
                            </script>
                            <div class="buttons" id="shipping-method-buttons-container">


                                <button type="button" class="btn btn-custon-two btn-primary" id="btncommisionLedger" onclick="Checkout.back(); return false;"><i class="fa fa-backward"></i> @T("Common.Back")</button>

                                <button type="button" title="@T("Common.Continue")" onclick="ShippingMethod.save()" class="btn btn-primary"><i class="fa fa-angle-double-right"></i> @T("Common.Continue")</button>


                                @*<input type="button" class="button-1 shipping-method-next-step-button" onclick="Checkout.back(); return false;" value="@T("Common.Back")" />
                                    <input type="button" class="button-1 shipping-method-next-step-button" onclick="ShippingMethod.save()" value="@T("Common.Continue")" />*@
                                <span id="shipping-method-please-wait" class="please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                            </div>
                        </form>
                    </div>
                </li>
            }
            <li id="opc-payment_method" class="tab-section">
                <div class="venextgridcolor step-title" id="step-title2">
                    <span class="number">@paymentMethodStepNumber</span>
                    <h2 class="title">@T("Checkout.PaymentMethod")</h2>
                </div>
                <div id="checkout-step-payment-method" class="step a-item" style="display: none;">
                    <form action="" id="co-payment-method-form">
                        <div id="checkout-payment-method-load">
                            @*payment methods content will be loaded here*@ Payment is not required
                        </div>
                    </form>
                    <script type="text/javascript">
                        PaymentMethod.init('#co-payment-method-form', '@(storeLocation)checkout/OpcSavePaymentMethod/');
                    </script>
                    <div class="buttons" id="payment-method-buttons-container">
                        <button type="button" class="btn btn-custon-two btn-primary" id="btncommisionLedger" onclick="Checkout.back(); return false;"><i class="fa fa-backward"></i> @T("Common.Back")</button>

                        <button type="button" title="@T("Common.Continue")" onclick="PaymentMethod.save()" class="btn btn-primary"><i class="fa fa-angle-double-right"></i> @T("Common.Continue")</button>

                        @*<input type="button" class="button-1 shipping-method-next-step-button" onclick="Checkout.back(); return false;" value="@T("Common.Back")" />
                            <input type="button" class="button-1 payment-method-next-step-button" onclick="PaymentMethod.save()" value="@T("Common.Continue")" />*@
                        <span class="please-wait" id="payment-method-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                    </div>
                </div>
            </li>
            <li id="opc-payment_info" class="tab-section">
                <div class="venextgridcolor step-title" id="step-title3">
                    <span class="number">@paymentInfoStepNumber</span>
                    <h2 class="title">@T("Checkout.PaymentInfo")</h2>
                </div>
                <div id="checkout-step-payment-info" class="step a-item" style="display: none;">
                    <form action="" id="co-payment-info-form">
                        <div id="checkout-payment-info-load">
                            @*payment info content will be loaded here*@ Payment is not required
                        </div>
                    </form>
                    <script type="text/javascript">
                        PaymentInfo.init('#co-payment-info-form', '@(storeLocation)checkout/OpcSavePaymentInfo/');
                    </script>
                    <div class="buttons" id="payment-info-buttons-container">
                        <button type="button" class="btn btn-custon-two btn-primary" id="btncommisionLedger" onclick="Checkout.back(); return false;"><i class="fa fa-backward"></i> @T("Common.Back")</button>

                        <button type="button" title="@T("Common.Continue")" onclick="PaymentInfo.save()" class="btn btn-primary"><i class="fa fa-angle-double-right"></i> @T("Common.Continue")</button>


                        <span class="please-wait" id="payment-info-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                    </div>
                </div>
            </li>
            <li id="opc-confirm_order" class="tab-section">
                <div class="venextgridcolor step-title" id="step-title4">
                    <span class="number">@confirmOrderStepNumber</span>
                    <h2 class="title">@T("Checkout.ConfirmOrder")</h2>
                </div>
                <div id="checkout-step-confirm-order" class="step a-item" style="display: none;">
                    <form action="" id="checkout-confirm-order-form">
                        <div id="checkout-confirm-order-load">
                            @*confirm order content will be loaded here*@
                        </div>
                    </form>
                    <script type="text/javascript">
                        ConfirmOrder.init('#checkout-confirm-order-form','@(storeLocation)checkout/OpcConfirmOrder/', '@(storeLocation)checkout/completed/');
                    </script>
                    <div class="buttons" id="confirm-order-buttons-container">
                        <button type="button" class="btn btn-custon-two btn-primary" id="btncommisionLedger" onclick="Checkout.back(); return false;"><i class="fa fa-backward"></i> @T("Common.Back")</button>


                        <button type="button" title="@T("Common.Continue")" onclick="ConfirmOrder.save()" class="btn btn-primary"><i class="fa fa-angle-double-right"></i> @T("Common.Continue")</button>


                        <span class="please-wait" id="confirm-order-please-wait" style="display: none;">@T("Checkout.SubmittingOrder")</span>
                    </div>
                </div>
            </li>
        </ol>
        @Html.Widget("opc_content_after")
    </div>
    <script type="text/javascript">
        Accordion.init('checkout-steps', '.step-title', true);
        Accordion.openSection('#opc-billing');
        Checkout.init('@(storeLocation)cart/');
        if (Billing.disableBillingAddressCheckoutStep)
        {
            Accordion.hideSection('#opc-billing');
            Billing.save();
        }
    </script>
</div>
