﻿@model Nop.Admin.Models.Documents.DocumentModel

@using Nop.Admin.WebServices;
@using Nop.Core;

<script>
    $(document).ready(function () {
        bindBootstrapTabSelectEvent('product-attribute-edit');
    });
</script>

<div class="content">
    <div class="form-horizontal">
        <div id="blog-post-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-info", @T("Admin.Catalog.Attributes.ProductAttributes.Info"), true)

            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)

            </div>
        </div>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "product-attribute-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@*save selected tab name*@
<input type="hidden" id="selected-tab-name" name="selected-tab-name" value="@(Html.GetSelectedTabName())">

@{
    //resources for product tags input
    Html.AppendCssFileParts("~/Administration/Content/tagEditor/jquery.tag-editor.css");
    Html.AppendScriptParts("~/Administration/Scripts/tagEditor/jquery.tag-editor.min.js");
    Html.AppendScriptParts("~/Administration/Scripts/tagEditor/jquery.caret.min.js");
}

@helper TabInfo()
{
    @Html.HiddenFor(model => model.Id)
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.DocumentName)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(x => x.DocumentName)
                        @Html.HiddenFor(x => x.fileName)
                        <br />
                        <input type="file" name="file" id="file" />
                        @if (Model.Id != 0)
                        { @Html.ActionLink("Download Document", "Download", new { id = Model.Id })}
                        <div><h5> @T("Admin.Document.DocumentFormatNote")</h5></div>
                        <div class="message-box message-box-error" id="valid_msg"></div>
                        @Html.ValidationMessageFor(model => model.DocumentName)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ValidDate)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ValidDate)
                        @Html.HiddenFor(model => model.HValidDate)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Status)
                    </div>
                    <div class="col-md-9">
                        <div class="gender">
                            @Html.RadioButtonFor(model => model.Status, true, Model.Status)
                            <label class="forcheckbox">@T("Admin.Supplier.ActiveState")</label>
                        </div>
                        <div class="gender">
                            @Html.RadioButtonFor(model => model.Status, false, Model.Status)
                            <label class="forcheckbox">@T("Admin.Supplier.InActiveState")</label>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script>
        $(document).ready(function () {
            @*$("#validationMessages").hide();
        var suppcname = $("#CTname").val();
        //alert();
        // btnSave
        //
        $("#btnSave").click(function () {
            
            if ('@Model.Name' == '')
            {
                if ('@Model.DeliveryType' == 'Courier') {

                    $("#validationMessages").show();
                    $("#validationMessages").html("@T("Admin.Courier/Transport.RequiredName")");
                } else {
                    $("#validationMessages").hide();
                    $("#validationMessages").show();
                    $("#validationMessages").html("@T("Admin.Transport.RequiredName")");}
            }
        })*@
            $("#validationMessagesstockIn").hide();
            $("#valid_msg").hide();

        });
        @*$(".k-button").click(function () {
        //   

        //// var n = today.getDate();
        //var EnteredFromdate = $("#ValidDate").val();
        //var str = EnteredFromdate;
        //var res = str.split("/");
        ////var res1 = n.split("/");

        //var date = res[1];
        //var month = res[0];
        //var year = res[2];
        //var today = new Date();//.toString("MM/dd/yyyy");
        //today.setHours(0);
        //today.setMinutes(0);
        //today.setSeconds(0);
        //var todaydate = res1[1];
        //var todaymonth = res1[0];
        //var todayyear = res1[2];


        //var myDate = new Date(year, month - 1, date);
        //myDate.setHours(0);
        //myDate.setMinutes(10);
        //myDate.setSeconds(20);
        ////var mytoday = new Date(todayyear, todaymonth - 1, todaydate);

        //var validationDivs = '';
        //if (myDate == today) {

        //    var a = myDate;
        //    var b = today;
        //}
        @*if (myDate < today) {
            //
            $("#validationMessagesstockIn").show();
            validationDivs = validationDivs + '<div>@T("Admin.Document.validationValiddate")</div>';
            $('#validationMessagesstockIn').html(validationDivs);
            // flag=false;
            //$('#courier-grid').hide();
            return false;
        }*@


        $("#@Html.FieldIdFor(model => model.DocumentName)").change(function () {
            
            $("#validationMessagesstockIn").hide();
            var val1 = ($(this).val().length);
            if (val1 > 50) {
                $("#validationMessagesstockIn").show();
                $("#validationMessagesstockIn").html("@T("Admin.Document.DocumentNameRange")");
                return false;
            }
            if (val1 < 1) {
                $("#validationMessagesstockIn").show();
                $("#validationMessagesstockIn").html("@T("Admin.Document.DocumentNameRequired")");
                return false;
            }

        });

        function validation(thisform) {

            // 
            with (file) {
                var ext = value.substring(value.lastIndexOf('.') + 1);
                if (ext == 0) {
                    return true;
                }

            }


            with (thisform) {
                if (validateFileExtension(file, "validationMessagesstockIn", "@T("Admin.Document.DocumentFormatNote")",
                new Array("jpg", "JPG", "jpeg", "JPEG", "gif", "GIF", "png", "PNG", "doc", "pdf", "docx", "Pdf", "PDF", "xlsx", "xls", "txt", "TXT", "PPT")) == false) {
                    return false;
                }
                if (validateFileSize(file, 4194304, "validationMessagesstockIn", "file size should be less than 4MB!.") == false) {
                    return false;
                }
            }
        }

        function validateFileExtension(component, msg_id, msg, extns) {
            var flag = 0;
            with (component) {
                var ext = value.substring(value.lastIndexOf('.') + 1);

                for (i = 0; i < extns.length; i++) {
                    if (ext == extns[i]) {
                        flag = 0;
                        break;
                    }
                    else {
                        flag = 1;
                    }
                }
                if (flag != 0) {
                    document.getElementById(msg_id).innerHTML = msg;
                    $("#validationMessagesstockIn").show();
                    component.value = "";
                    component.style.backgroundColor = "#eab1b1";
                    component.style.border = "thin solid #000000";
                    component.focus();
                    return false;
                }
                else {
                    return true;
                }
            }
        }

        function validateFileSize(component, maxSize, msg_id, msg) {
            
            if (navigator.appName == "Microsoft Internet Explorer") {
                if (component.value) {
                    var oas = new ActiveXObject("Scripting.FileSystemObject");
                    var e = oas.getFile(component.value);
                    var size = e.size;
                }
            }
            else {
                if (component.files[0] != undefined) {
                    size = component.files[0].size;
                }
            }
            if (size != undefined && size > maxSize) {
                document.getElementById(msg_id).innerHTML = msg + " Current File Size: " + Math.round(size / 1024) + "MB";
                $("#validationMessagesstockIn").show();
                component.value = "";
                component.style.backgroundColor = "#eab1b1";
                component.style.border = "thin solid #000000";
                component.focus();
                return false;
            }
            else {
                return true;
            }
        }

    </script>

}



