﻿@model  Nop.Admin.Models.Form16Document.Form16DocumentModel

@{
    ViewBag.Title = T("Admin.Configuration.UploadForm").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("UploadForm");
}

@using (Html.BeginForm("CreateForm", "Document", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return validation(this)" }))
{
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Document.AddNew")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.DocumentBackTolist").Text, "UploadForm16List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" id="btnSave" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" id="btnSaveContinew" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>

    @Html.HiddenFor(x => x.uploadId)
    @Html.Partial("_CreateOrUpdateForm16", Model)
}


<script>
    $("#validationMessages").hide();
    $('#btnSave').click(function () {
        
        if (document.getElementById("UploadFile").files.length == 0) {
            $("#validationMessages").show();
            $('#validationMessages').append('@T("admin.orders.ordernotes.fields.download.link.no")');

            return false;
        }
    });
    $("#validationMessages").hide();
    $('#btnSaveContinew').click(function () {
        
        if (document.getElementById("UploadFile").files.length == 0) {
            $("#validationMessages").show();
            $('#validationMessages').append('@T("admin.orders.ordernotes.fields.download.link.no")');

            return false;
        }
    });

    

   
</script>
