﻿@model  Nop.Admin.Models.Documents.DocumentListModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    ViewBag.Title = T("Admin.Configuration.document").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Document");
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">

            @T("Admin.Documents")


        </h1>
        <div class="pull-right">
            <a href="@Url.Action("Create")" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")</a>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.DocumentName)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.DocumentName)
                                        @Html.HiddenFor(model => model.Id)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Status)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.Status, Model.AvailableStatus)
                                        @Html.ValidationMessageFor(model => model.Status)

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.StartDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.StartDate)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.EndDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.EndDate)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                    </div>
                                    <div id="MessageNote" class="col-md-8">
                                        @T("Admin.Document.DocumentFilterApplyNote") 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <input type="button" id="search-couriers" class="btn btn-primary btn-search" value="@T("Admin.Common.Search")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="courier-grid"></div>

                        <script>
                            $("#validationMessages").hide();
                            $(document).ready(function () {
                                $("#validationMessages").hide();
                                $("#courier-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("DocumentGrid", "Document"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    editable: {
                                        confirmation: false,
                                        mode: "inline"
                                    },
                                    scrollable: true,
                                    columns: [{
                                        field: "DocumentName",
                                        title: "@T("Admin.Document.DoumentName")",
                                        width: 200
                                    },{
                                        field: "FileName",
                                        title: "@T("Admin.Doucments.FileName")",
                                        width: 200
                                    }, {
                                        field: "CreatedDate",
                                        title: "@T("Admin.Document.UploadDate")",
                                        width: 200
                                        //type: "date",
                                        //format: "{0:G}"
                                    }, {
                                        field: "Date",
                                        title: "@T("Admin.Document.Validdate")",
                                        width: 200
                                        //format: "{0:G}"
                                        //   width: 300
                                    },@*{
                                field: "imgString",
                                title: "@T("Admin.Configuration.Settings.GeneralCommon.PdfLogo")",
                                template:"#=getImage(imgString)#"
                            },*@{
                                        field: "DocStatus",
                                        title: "@T("Account.Fields.VatNumber.Status")",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '# if(DocStatus) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #',
                                        width: 200
                                        @*//width: 100,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=DocStatus#.gif" />'*@
                                    }, {
                                        field: "Id",
                                        title: "@T("Admin.Common.Edit")",
                                        // width: 100,
                                        template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>',
                                        width: 100
                                    }]
                                });
                            });
                        </script>
                        <script type="text/javascript">

                            //search button
                            $("#courier-grid").show();
                            $("#validationMessages").hide();
                            $("#search-couriers").click(function () {
                                //search
                                

                                if( $('#DocumentName').val()=="")
                                    $('#Id').val('0');
                                $("#validationMessages").hide();
                                var start_time=$("#StartDate").val();
                                var end_time=$("#EndDate").val();

                                var myDate = getDate($("#StartDate").data("kendoDatePicker").value());
                                var myFromDate =getDate($("#EndDate").data("kendoDatePicker").value());

                                var today = new Date();
                                var validationDivs='';
                                var start_time=$("#DatewiseFrom").val();
                                var end_time=$("#DatewiseTo").val();

                                if (myFromDate > today) {

                                    $("#validationMessages").show();
                                    validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                                    $('#validationMessages').html(validationDivs);
                                    // flag=false;
                                    $('#courier-grid').hide();
                                    return false;
                                }
                                if (myFromDate < myDate) {
                                    $("#validationMessages").show();
                                    validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                                    //flag=false;
                                    $('#validationMessages').html(validationDivs);
                                    $('#courier-grid').hide();
                                    return false;
                                }

                                //search
                                $("#courier-grid").show();
                                var grid = $("#courier-grid").data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                return false;
                            });

                            $("#@Html.FieldIdFor(model => model.DocumentName)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-couriers").click();
                                    return false;
                                }
                            });



                            function additionalData() {
                                var data = {
                                    Id: $('#@Html.FieldIdFor(model => model.Id)').val(),
                                    StartDate: getDate($("#StartDate").data("kendoDatePicker").value()),
                                    EndDate:getDate($("#EndDate").data("kendoDatePicker").value()),
                                    Status :$('#@Html.FieldIdFor(model => model.Status)').val(),



                                };
                                addAntiForgeryToken(data);
                                return data;


                            }

                            @*function  getImage(KYCDocumentImg){

                        var str;
                        if(KYCDocumentImg!=null)
                            str="<a   onclick=\"javascript:OpenWindow('@Url.Content("~/Admin/Customer/ViewImage")?Id=#=Id#', 800, 250, true); return false;\" style='cursor:pointer' /><img src='"+ LogoPicture+"'  width='40px' height='40px' /></a>"
                    else
                            str="";
                        return str;
                    }*@
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $('#DocumentName').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("BindDoumentName", "Document"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                $("#DocumentName").val(ui.item.DocName);
                $("#divfirstname").show();
                $("#Id").val(ui.item.DocId);

            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            //   
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
            $("#AddToSupp").show();
        };


    </script>

}