﻿@model  Nop.Admin.Models.Form16Document.Form16DocumentModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    ViewBag.Title = T("Admin.Configuration.UnMatchForm16Document").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("UnMatchForm16Document");
}


@using (Html.BeginForm("DeleteUnMatchForm16", null, FormMethod.Post, new { id = "uploadForm16" }))
{
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.UnMatchForm16Document")
        </h1>

    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-8">
                                        <b id="MessageNote"> @T("Admin.Note.Note") </b> @T("Admin.Configuration.Form16Document.NoteGrid")
                                    </div>
                                </div>
                                <div class="col-md-12 col-md-offset-1">
                                    <div class="col-md-8" id="showEditDelete">
                                        <div class="ui-options">
                                            <input type="submit" id="Delete" name="Delete" class="btn btn-primary btn-search" value="@T("Admin.Common.Delete")" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(model => model.selectedIds)
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="uplodForm_grid"></div>

                        <script>
                            $(document).ready(function () {
                                $("#showEditDelete").hide();
                                //$("Delete").hide();

                                $("#showonCheckbox").hide();
                                $("#uplodForm_grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("UnMatchFormDocumentGrid", "Document"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: true,
                                    dataBound: onDataBound,
                                    columns: [
                                        {
                                            field: "Id",
                                            headerTemplate: "<input id='mastercheckbox' name='uploadId' type='checkbox'/>",
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: "<input type='checkbox' id='uploadId' name='uploadId' value='#=FileName#' class='checkboxGroups'/>",
                                            width: 50
                                        },{
                                            field: "FileName",
                                            title: "@T("Admin.Doucments.FileName")",
                                            //template: '<a href="DownloadForm16File/#=Id#">#:FileName#</a>'

                                            template:'<a href=\'DownloadUnMatchForm16File/?FileName=#=FileName#\' onclick=\'DownloadUnMatchForm16File(\"#=FileName#\")\'>#=FileName#</a>',
                                            width: 200
                                        }]
                                });
                            });



                            function onDataBound(e) {
                                $('#uplodForm_grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                    var currentId = $(this).val();

                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });
                                updateMasterCheckbox();
                            }

                            //$('input[type=checkbox][id!=mastercheckbox]').change(function () {
                            //$('#uplodForm_grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function () {
                            //    
                            //    $('div.ui-options')[$('input[type=checkbox]:checked').length ? 'slideDown' : 'slideUp']('fast');
                            //});


                            $('#uplodForm_grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {

                                var $check = $(this);
                                var checkvalue= $(":checkbox:checked").length;

                                if(checkvalue >0)
                                {
                                    for(var i=0;i < checkvalue; i++)
                                    {
                                        if(i != null)
                                        {
                                            if ($check.is(":checked") == true) {
                                                $("#showEditDelete").show()

                                            }
                                        }
                                        else
                                        {
                                            $("#showEditDelete").hide()

                                        }
                                    }
                                }else{
                                    $("#showEditDelete").hide();

                                }
                            });


                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#uplodForm_grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#uplodForm_grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }

                            function additionalData() {
                                var data = {

                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                            $

                            $(function () {
                                $("#mastercheckbox").click(function () {
                                    if ($(this).is(":checked")) {
                                        $("#showEditDelete").show();
                                    } else {
                                        $("#showEditDelete").hide();
                                    }
                                });
                            });


                        </script>

                        <script type="text/javascript">


                            var selectedIds = [];

                            $(document).ready(function () {

                                $('#btnsearchForm').click(function () {
                                    
                                    flag=true;

                                    var grid = $('#uplodForm_grid').data('kendoGrid');
                                    grid.dataSource.page(1); //new search. Set page size to 1

                                    //$('.checkboxGroups').attr('checked', false).change();
                                    selectedIds = [];
                                    $('#searchResult').show();
                                    $("#uplodForm_grid").show();
                                    return false;

                                });

                                $('#mastercheckbox').click(function () {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                            });


                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#Qualifers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#Qualifers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }

                            function additionalData() {
                                var data = {
                                    FinacialYear: $('#@Html.FieldIdFor(model => model.FinacialYear)').val(),
                                    Quarterly: $('#@Html.FieldIdFor(model => model.Quarterly)').val(),
                                    MemberNumber: $('#@Html.FieldIdFor(model => model.MemberNumber)').val()
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }



                            function valueChanged()
                            {
                                if($('.coupon_question').is(":checked"))
                                    $(".answer").show();
                                else
                                    $(".answer").hide();
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>



}