﻿/*
* Copyright 2014 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/


/*=====================================================
    
    MAIN CSS / SMALLER MOBILE DEVICES

=====================================================*/

@media all and (min-width: 240px) {

	input.narrow.instant-search-busy,
	input.instant-search-busy {
        background: url('../../../images/ajax-loader-small.gif') no-repeat 15px center !important;
    }

/* WITH CATEGORY */

    span.search-box-text,
    .search-box select {
        float: right;
    }
    .search-box select {
        border-right: 1px solid #fff;
        border-left: 0;
    }

/* AUTOCOMPLETE */

    .instantSearch {
		right: 0 !important;
	}
	.instant-search-item .img-block {
        float: right;
    }
    .instant-search-item .detail {
        margin-right: 90px;
        margin-left: auto;
    }

}

@media all and (min-width: 1001px) {

    .search-box select {
        border-left: 0;
        border-right: 1px solid #ddd;
        margin-left: 5px;
        margin-right: 0;
    }

}