﻿.k-grid td {
    line-height: 5.6em !important;
}

.k-grid.k-widget {
    overflow-x: hidden !important;
}

.k-grid-content {
    overflow-y: hidden !important;
}

.k-grid-header {
    padding: 0 !important;
}
