﻿@model Nop.Admin.Models.CommisionSettings.DefineRankModel

@Html.HiddenFor(model => model.Id)

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.RankName)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.RankName)
                            @Html.ValidationMessageFor(model => model.RankName)
                        </div>
                    </div>
                    @if (Model.PlanOn == "1")
                    {
                        @*if (Model.PlanBasedOn == "1")
                            {
                                 <div class="form-group">
                                     <div class="col-md-3">
                                        @Html.NopLabelFor(model => model.LeftCount)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.LeftCount)
                                        @Html.ValidationMessageFor(model => model.LeftCount)
                                    </div>
                                </div>
                                 <div class="form-group">
                                     <div class="col-md-3">
                                        @Html.NopLabelFor(model => model.RightCount)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.RightCount)
                                        @Html.ValidationMessageFor(model => model.RightCount)
                                    </div>
                                </div>
                            }*@

                    if (Model.PlanBasedOn == "1")
                    {
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.LeftPV)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.LeftPV)
                                @Html.ValidationMessageFor(model => model.LeftPV)
                            </div>
                        </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.RightPV)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.RightPV)
                                    @Html.ValidationMessageFor(model => model.RightPV)
                                </div>
                            </div>
                    }

                    if (Model.PlanBasedOn == "2")
                    {
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.LeftBV)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.LeftBV)
                                @Html.ValidationMessageFor(model => model.LeftBV)
                            </div>
                        </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.RightBV)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.RightBV)
                                    @Html.ValidationMessageFor(model => model.RightBV)
                                </div>
                            </div>
                        }

                        if (Model.PlanBasedOn == "3")
                        {
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.LeftSales)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.LeftSales)
                                    @Html.ValidationMessageFor(model => model.LeftSales)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.RightSales)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.RightSales)
                                    @Html.ValidationMessageFor(model => model.RightSales)
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        @*if (Model.PlanBasedOn == "1")
                            {
                                 <div class="form-group">
                                     <div class="col-md-3">
                                        @Html.NopLabelFor(model => model.TotalCount)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.LeftCount)
                                        @Html.ValidationMessageFor(model => model.LeftCount)
                                    </div>
                                </div>
                            }*@

                    if (Model.PlanBasedOn == "1")
                    {
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.TotalPV)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.LeftPV)
                                @Html.ValidationMessageFor(model => model.LeftPV)
                            </div>
                        </div>
                    }

                    if (Model.PlanBasedOn == "2")
                    {
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.TotalBV)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.LeftBV)
                                @Html.ValidationMessageFor(model => model.LeftBV)
                            </div>
                        </div>
                        }

                        if (Model.PlanBasedOn == "3")
                        {
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.TotalSales)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopEditorFor(model => model.LeftSales)
                                    @Html.ValidationMessageFor(model => model.LeftSales)
                                </div>
                            </div>

                        }
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $('#save').click(function () {
        
        var validationDivs = '';
        var flag = true;
        var RankName = $('#RankName').val();
        $('#validationMessages').html('');
        $("#validationMessages").hide();

        if (RankName == '') {
            validationDivs = validationDivs + '<div>@T("Admin.Commission.EnterRankName")</div>';
            flag = false;
        }

        if ('@Model.PlanOn' == '1') {

            @*if ('@Model.PlanBasedOn' == '1') {

                var LeftCount = $('#LeftCount').val();
                var RightCount = $('#RightCount').val();

                if (parseInt(LeftCount) <= 0) {
                    validationDivs = validationDivs + '<div>@T("Admin.Commission.EnterGreaterThanZeroForLeftCount")</div>';
                    flag = false;
                }

                if (parseInt(RightCount) <= 0) {
                    validationDivs = validationDivs + '<div>@T("Admin.Commission.EnterGreaterThanZeroForRightCount")</div>';
                    flag = false;
                }
            }*@

            if ('@Model.PlanBasedOn' == '1') {

                var LeftPV = $('#LeftPV').val();
                var RightPV = $('#RightPV').val();

                if (parseInt(LeftPV) <= 0) {
                    validationDivs = validationDivs + '<div>@T("Admin.Commission.EnterGreaterThanZeroForLeftPV")</div>';
                    flag = false;
                }

                if (parseInt(RightCount) <= 0) {
                    validationDivs = validationDivs + '<div>@T("Admin.Commission.EnterGreaterThanZeroForRightPV")</div>';
                    flag = false;
                }
            }

            if ('@Model.PlanBasedOn' == '2') {

                var LeftBV = $('#LeftBV').val();
                var RightBV = $('#RightBV').val();

                if (parseInt(LeftBV) <= 0) {
                    validationDivs = validationDivs + '<div>@T("Admin.Commission.EnterGreaterThanZeroForLeftBV")</div>';
                    flag = false;
                }

                if (parseInt(RightBV) <= 0) {
                    validationDivs = validationDivs + '<div>@T("Admin.Commission.EnterGreaterThanZeroForRightBV")</div>';
                    flag = false;
                }
            }

            if ('@Model.PlanBasedOn' == '3') {

                var LeftSales = $('#LeftSales').val();
                var RightSales = $('#RightSales').val();

                if (parseInt(LeftSales) <= 0) {
                    validationDivs = validationDivs + '<div>@T("Admin.Commission.EnterGreaterThanZeroForLeftSales")</div>';
                    flag = false;
                }

                if (parseInt(RightSales) <= 0) {
                    validationDivs = validationDivs + '<div>@T("Admin.Commission.EnterGreaterThanZeroForRightSales")</div>';
                    flag = false;
                }
            }
        } else {
            @*if ('@Model.PlanBasedOn' == '1') {

                var LeftCount = $('#LeftCount').val();

                if (parseInt(LeftCount) <= 0) {
                    validationDivs = validationDivs + '<div>@T("Admin.Commission.EnterGreaterThanZeroForTotalCount")</div>';
                    flag = false;
                }
            }*@

            if ('@Model.PlanBasedOn' == '1') {

                var LeftPV = $('#LeftPV').val();

                if (parseInt(LeftPV) < 0) {
                    validationDivs = validationDivs + '<div>@T("Admin.Commission.EnterGreaterThanZeroForTotalPV")</div>';
                    flag = false;
                }
            }

            if ('@Model.PlanBasedOn' == '2') {

                var LeftBV = $('#LeftBV').val();

                if (parseInt(LeftBV) <= 0) {
                    validationDivs = validationDivs + '<div>@T("Admin.Commission.EnterGreaterThanZeroForTotalBV")</div>';
                    flag = false;
                }
            }

            if ('@Model.PlanBasedOn' == '3') {

                var LeftSales = $('#LeftSales').val();

                if (parseInt(LeftSales) <= 0) {
                    validationDivs = validationDivs + '<div>@T("Admin.Commission.EnterGreaterThanZeroTotalSales")</div>';
                    flag = false;
                }
            }
        }
        if (flag) {
        }
        else {
            $("#validationMessages").show();
            $('#validationMessages').append(validationDivs);
            return false;
        }
    });
    $(document).ready(function () {
        $("#validationMessages").hide();
    });
</script>


<script>
    window.onbeforeunload = function () {
        var buttons = document.getElementsByTagName("BUTTON");
        for (var i in buttons) {
            if (buttons[i].type == "button" || buttons[i].type == "submit") {
                buttons[i].disabled = true;
            }
        }
    };
</script>