﻿@model Nop.Admin.Models.CommisionSettings.FundBonusModel

@Html.HiddenFor(model => model.Id)


<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.FundName)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.FundName)
                            @Html.ValidationMessageFor(model => model.FundName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.RankId)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownListFor(model => model.RankId, Model.RankNameList)
                            @Html.ValidationMessageFor(model => model.RankId)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.IncomePercentage)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.IncomePercentage)
                            @Html.ValidationMessageFor(model => model.IncomePercentage)
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $('#save').click(function () {
        
        var validationDivs = '';
        var flag = true;
        var FundName = $('#FundName').val();
        $('#validationMessages').html('');
        $("#validationMessages").hide();

        if (FundName == '') {
            validationDivs = validationDivs + '<div>@T("Admin.Commission.EnterFundName")</div>';
            flag = false;
        }

        var Fundincome = $('#IncomePercentage').val();


        if (parseInt(Fundincome) < 0) {

            validationDivs = validationDivs + '<div>@T("Admin.Commission.EnterGreaterThanZeroTo100")</div>';
            flag = false;
        }


        if (parseFloat(Fundincome) > 100.00) {

            validationDivs = validationDivs + '<div>@T("Admin.Commission.EnterGreaterThanZeroTo100")</div>';
            flag = false;
        }

        if (flag) {
        }
        else {
            $("#validationMessages").show();
            $('#validationMessages').append(validationDivs);
            return false;
        }
    });
    $(document).ready(function () {
        $("#validationMessages").hide();
    });
</script>