﻿@model Nop.Admin.Models.CommisionSettings.DifferentialBonusSlapVM

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-8">
                        <div class="form-group" id="divddloption">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.SlabFrom)
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.SlabFrom, new { @class = "form-control", @readonly = "readonly" })
                                @Html.HiddenFor(model => model.SlabFrom, new { @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group" id="divIDwise">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.SlabTo)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.SlabTo)
                                @Html.ValidationMessageFor(model => model.SlabTo)
                            </div>
                        </div>
                        <div class="form-group" id="divIDwise">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.IncomeInPercentage)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.IncomeInPercentage)
                                @Html.ValidationMessageFor(model => model.IncomeInPercentage)
                            </div>
                        </div>
                        <div class="form-group" id="divPayoutwise">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Rank)
                            </div>
                            <div class="col-md-9">
                                @Html.NopTextAreaFor(model => model.Rank)
                                @Html.ValidationMessageFor(model => model.Rank)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    window.onbeforeunload = function () {
        var buttons = document.getElementsByTagName("BUTTON");
        for (var i in buttons) {
            if (buttons[i].type == "button" || buttons[i].type == "submit") {
                buttons[i].disabled = true;
            }
        }
    };
</script>