﻿@model Nop.Admin.Models.CommisionSettings.CommisionSettingsModel.MultiBinaryIncomeModel

@Html.HiddenFor(model => model.Id)

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.srNo)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.srNo)
                            @Html.ValidationMessageFor(model => model.srNo)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.rankName)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.rankName, required:true)
                            @Html.ValidationMessageFor(model => model.rankName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.binaryIncomeName)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.binaryIncomeName, required: true)
                            @Html.ValidationMessageFor(model => model.binaryIncomeName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.ImageUrl)
                        </div>
                        <div class="col-md-9">
                            <input type="file" name="ImageUrl" id="file" onchange="ValidateSingleInput(this)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <strong>@T("Admin.TreeviewIcon.Note")</strong><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $('#save').click(function () {
        
        var validationDivs = '';
        var flag = true;
        var RankName = $('#rankName').val();
        var binaryIncomeName = $('#binaryIncomeName').val();

        $('#validationMessages').html('');
        $("#validationMessages").hide();

        if (RankName == '') {
            validationDivs = validationDivs + '<div>@T("Admin.Commission.EnterRankName")</div>';
            flag = false;
        }
        else if (binaryIncomeName == '') {
            validationDivs = validationDivs + '<div>@T("Admin.Commission.EnterBinIncomeName")</div>';
            flag = false;
        }

    });
    $(document).ready(function () {
        $('#validationMessages').html('');
        $("#validationMessages").hide();
        $("#srNo").attr('readonly', true);
    });

    var _validFileExtensions = [".png"];
    function ValidateSingleInput(oInput) {
        $('#validationMessages').html('');
        $("#validationMessages").hide();
        if (oInput.type == "file") {
            var sFileName = oInput.value;
            var size = oInput.files[0].size;
            if (sFileName.length > 0) {
                var blnValid = false;
                for (var j = 0; j < _validFileExtensions.length; j++) {
                    var sCurExtension = _validFileExtensions[j];
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                        blnValid = true;

                    }
                    if (((size / 1024) / 1024) > 1) {
                        sizeValid = false;
                        break;
                    }
                    else
                    {
                        sizeValid = true;
                    }
                }
                var validationDivs = '';
                if (!blnValid) {
                    //alert("Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
                    validationDivs = validationDivs + '<div>Sorry, allowed extensions are png file.</div>';
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                    oInput.value = "";
                    return false;
                }
                if (!sizeValid) {
                    //alert("Sorry, Max Allowed Size For image is 1MB.");
                    validationDivs = validationDivs + '<div>Sorry, Max Allowed Size For image is 1MB.</div>';
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                    oInput.value = "";
                    return false;
                }
            }
        }
        return true;
    }
</script>