﻿@model Nop.Admin.Models.CommisionSettings.CommisionSettingsModel

<div class="panel panel-default">
    <div class="panel-body">
        @Html.HiddenFor(model => model.showNextQualification)
        @if (Model.ddlNumberBinary == 2)
        {
            if (Model.AvailableBinaryIncome != null)
            {
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.BinaryIncomeName)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.BinaryIncomeName, Model.AvailableBinaryIncome)
                        @Html.ValidationMessageFor(model => model.BinaryIncomeName)
                    </div>
                </div>
            }
            else
            {
                <select class="form-control">
                    <option>--Select--</option>
                </select>
            }


        }
        <div id="ShowOnBinaryIncome">
            <div class="form-group" id="divFirst">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.FirstPair)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.txtF1L)<br />
                    @Html.NopEditorFor(model => model.txtF1R)
                </div>
            </div>
            <div class="form-group" id="FValue1">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.chkFor)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.chkFor)
                </div>
            </div>
            <div class="form-group" id="FValue">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.txtFValue)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.txtFValue)
                </div>
            </div>
            <div class="form-group" id="divSPair">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.SecondPair)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.txtS1L)<br />
                    @Html.NopEditorFor(model => model.txtS1R)
                </div>
            </div>
            <div class="form-group" id="FValue">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.txtSValue)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.txtSValue)
                </div>
            </div>

            <div class="form-group" id="divSales">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.txtSalesPercent)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.txtSalesPercent)
                </div>
            </div>


            <div class="form-group" id="divLevel">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.LevelLimits)
                </div>
                <div class="col-md-9">
                    <span>
                        @Html.RadioButton("rdUnLimited", "Limited Level(s)", (Model.rdLimited), new { id = "rdLimited" })
                        <label class="forcheckbox" for="gender-male">@T("Account.Fields.Binary.LimitedLevel")</label>:
                        &nbsp; &nbsp; @Html.NopEditorFor(model => model.txtLevels)
                    </span>
                    <span>
                        <br />
                        @Html.RadioButton("rdUnLimited", "UnLimited Level(s)", (Model.rdUnLimited), new { id = "rdUnLimited" })
                        <label class="forcheckbox" for="gender-male">@T("Account.Fields.Binary.UnLimitedLevel")</label>
                    </span>
                </div>
            </div>
            <div class="form-group" id="divLevel1">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.PairPerRatio)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.txtLCnt)
                    @Html.NopEditorFor(model => model.txtRCnt)
                </div>
            </div>
            <div class="form-group" id="divLvl">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.ddlPairAmt)
                </div>
                <div class="col-md-9">
                    @Html.NopDropDownList("ddlPairAmt", new List<SelectListItem>
                            () {
                            new SelectListItem { Text = "For All Level(s)", Value = "1" },
                            new SelectListItem { Text = "Different Level-wise", Value = "0" }
                            })
                </div>
            </div>
            <div class="form-group" id="divLvlAmt">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.txtLvlAmt)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.txtLvlAmt)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.ddlSimulation)
                </div>
                <div class="col-md-9">
                    @Html.NopDropDownList("ddlSimulation", new List<SelectListItem>
                            () {
                            new SelectListItem { Text = "Amount (In Rs.)", Value = "2" },
                            new SelectListItem { Text = "No. of Pairs", Value = "1" },
                            new SelectListItem { Text = "In Percentage", Value = "3" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.ddlCapping)
                </div>
                <div class="col-md-9">
                    @Html.NopDropDownList("ddlCapping", new List<SelectListItem>
                            () {
                            new SelectListItem { Text = "Amount (In Rs.)", Value = "2" },
                            new SelectListItem { Text = "No. of Pairs", Value = "1" },
                            new SelectListItem { Text = "In Percentage", Value = "3" } })
                </div>
            </div>
            <div class="form-group" id="divFlush">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.ddlFlush)
                </div>
                <div class="col-md-9">
                    @Html.NopDropDownList("ddlFlush", new List<SelectListItem>
                            () {
                            new SelectListItem { Text = "Do not Flush Any Side", Value = "4" },
                            new SelectListItem { Text = "Flush Power Leg", Value = "1" },
                            new SelectListItem { Text = "Flush Both Side(s)", Value = "3" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.pairLaps)
                </div>
                <div class="col-md-9">
                    @Html.CheckBoxFor(model => model.pairLaps)
                </div>
            </div>
            <div class="form-group" id="pairLapsValueId">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.pairLapsValue)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.pairLapsValue)
                </div>
            </div>
            <div class="form-group" id="pairLapsSequenceId">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.pairLapsSequence)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.pairLapsSequence)
                </div>
            </div>
            <div class="form-group" id="pairLapsConstantGrowthId">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.pairLapsConstantGrowth)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.pairLapsConstantGrowth)
                </div>
            </div>
            @if (Model.ddlNumberBinary == 2)
            {
                if (Model.showNextQualification != null)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                @Html.LabelFor(model => model.NextQualificationCriteria, new { id = "NextQualificationCriterialbl", @class = "control-label" })
                                <div class="ico-help" title="@T("Admin.ContentManagement.Forums.ForumGroup.Fields.NextQualiCriteria").Text"><i class="fa fa-question-circle"></i></div>
                            </div>

                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.NextQualificationCriteria)
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>





<script>




    var t = false

    $('#NextQualificationCriteria').focus(function () {
        var $this = $(this)

        t = setInterval(

        function () {
            if (($this.val() < 1 || $this.val() > 1000000) && $this.val().length != 0) {
                if ($this.val() < 1) {
                    $this.val(0)
                }

                if ($this.val() > 1000000) {
                    $this.val(1000000)
                }
                $('p').fadeIn(1000000, function () {
                    $(this).fadeOut(500)
                })
            }
        }, 50)
    })

    $('#NextQualificationCriteria').blur(function () {
        if (t != false) {
            window.clearInterval(t)
            t = false;
        }
    })


    var t = false

    $('#txtIncLevels').focus(function () {
        var $this = $(this)

        t = setInterval(

        function () {
            if (($this.val() < 0 || $this.val() > 100) && $this.val().length != 0) {
                if ($this.val() < 0) {
                    $this.val(0)
                }

                if ($this.val() > 100) {
                    $this.val(100)
                }
                $('p').fadeIn(1000, function () {
                    $(this).fadeOut(500)
                })
            }
        }, 50)
    })

    $('#txtIncLevels').blur(function () {
        if (t != false) {
            window.clearInterval(t)
            t = false;
        }
    })

    $(document).ready(function () {

        if ($("#BinaryIncomeName").val() == "0") {

            $('#ShowOnBinaryIncome').hide();
        }

        $("#showOnPvBVSales").hide();
        $("#showOnActiveTypeSelect").hide();
        $('#showOnBvPvSales').hide();
        $("#showOnActiveTypeSelectCri").hide();
        $("#ShowCappingOn").hide();
        $('#showONPvBvSalesOn').hide();
        $('#BaseOnBvPvSales').hide();

        //if ($("#ddlRoyBased").val() == 2 || $("#ddlRoyBased").val() == 3 || $("#ddlRoyBased").val() == 6) {
        //    $("#showOnPvBVSales").show();
        //}
        //else {
        //    $("#showOnPvBVSales").hide();
        //}


        if ($("#ddlRoyType").val() == 2) {
            $("#showOnActiveTypeSelect").show();
            $("#showOnActiveTypeSelectCri").show();
        }
        else {
            $("#showOnActiveTypeSelect").hide();
            $("#showOnActiveTypeSelectCri").hide();
        }


        $("#ddlRoyBased").change(function () {

            if ($("#ddlRoyType").val() == 2) {
                $("#showOnActiveTypeSelect").show();
                $("#showOnActiveTypeSelectCri").show();
            }
            else {
                $("#showOnActiveTypeSelect").hide();
                $("#showOnActiveTypeSelectCri").hide();
            }

        });

        $("#ddlRoyType").change(function () {

            if ($("#ddlRoyType").val() == 2) {
                $("#showOnActiveTypeSelect").show();
                $("#showOnActiveTypeSelectCri").show();
            }
            else {
                $("#showOnActiveTypeSelect").hide();
                $("#showOnActiveTypeSelectCri").hide();
            }

        });

        //if ($("#ddlRoyBased").val() == 2 || $("#ddlRoyBased").val() == 3 || $("#ddlRoyBased").val() == 4 || $("#ddlRoyBased").val() == 6) {
        //    $("#showOnPvBVSales").show();
        //}
        //else {
        //    $("#showOnPvBVSales").hide();
        //}

        if ($("#ddlRoyBased").val() == 2 || $("#ddlRoyBased").val() == 3 || $("#ddlRoyBased").val() == 6) {
            //  
            $('select[name*="ddlRoyResAmt"] option[value="2"]').hide();
            $('select[name*="ddlRoyResAmt"] option[value="3"]').hide();
            $('select[name*="ddlRoyResAmt"] option[value="1"]').show();
            $('#showONPvBvSalesOn').show();
            $('#BaseOnBvPvSales').show();
            $("#showOnPvBVSales").show();
        }
        else {
            //  
            $('#showONPvBvSalesOn').hide();
            $('#showONPvBvSales').hide();
        }

        if ($("#ddlRoyBased").val() == 1 || $("#ddlRoyBased").val() == 4) {
            //  
            $('select[name*="ddlRoyResAmt"] option[value="1"]').hide();
            $('select[name*="ddlRoyResAmt"] option[value="2"]').show();
            $('select[name*="ddlRoyResAmt"] option[value="3"]').show();
            $('#showONPvBvSalesOn').hide();
            $('#BaseOnBvPvSales').hide();
            $('#showONPvBvSales').hide();
        }

        //if ($("#ddlRoyType").val() == 2) {
        //    $("#showOnActiveTypeSelect").show();
        //    $("#showOnActiveTypeSelectCri").show();
        //}
        //else {
        //    $("#showOnActiveTypeSelect").hide();
        //    $("#showOnActiveTypeSelectCri").hide();
        //}
        if ($("#ddlCappingflag").val() == 2) {
            $("#ShowCappingOn").show();
        }
        else {
            $("#ShowCappingOn").hide();
        }

        var t = false

        $('#percentOfComapnyTO').focus(function () {

            var $this = $(this)

            t = setInterval(

            function () {
                if (($this.val() < 1 || $this.val() > 100) && $this.val().length != 0) {
                    if ($this.val() < 0) {
                        $this.val(0)
                    }

                    if ($this.val() > 100) {
                        $this.val(100)
                    }
                    $('p').fadeIn(1000, function () {
                        $(this).fadeOut(500)
                    })
                }
            }, 50)
        })

        $('#percentOfComapnyTO').blur(function () {

            if (t != false) {
                window.clearInterval(t)
                t = false;
            }
        })
    });



    $("#ddlRoyBased").change(function () {


        if ($("#ddlRoyBased").val() == 2 || $("#ddlRoyBased").val() == 3 || $("#ddlRoyBased").val() == 6) {

            $("#showOnPvBVSales").show();
            $('#ddlRoyBusConsidOn').prop('selectedIndex', 0);
            $('#ddlRoyType').prop('selectedIndex', 0);
            $('#ddlRoyCri').prop('selectedIndex', 0);
            $('#ddlEligible').prop('selectedIndex', 0);
            $('#ddlTOBasedOn').prop('selectedIndex', 0);
            $('#ddlRoyResAmt').prop('selectedIndex', 0);
            $('#ddlPayoutLimit').prop('selectedIndex', 0);
            $('#ddlCappingflag').prop('selectedIndex', 0);
            $('#ddlCappingOn').prop('selectedIndex', 0);
            $('#ISTotal').val('');

            $('#percentOfComapnyTO').val('');
            $('#ddlIncomestart').prop('selectedIndex', 0);
            //
            //if ($('#ddlRoyType').val == 0) {
            //    $('#showOnActiveTypeSelect').hide();
            //    $('#showOnActiveTypeSelectCri').hide();
            //}
        }
        else {
            $("#showOnPvBVSales").hide();
        }

        if ($("#ddlRoyType").val() == 0) {
            $("#showOnActiveTypeSelect").hide();
            $("#showOnActiveTypeSelectCri").hide();
        }

        if ($("#ddlRoyBased").val() == 2 || $("#ddlRoyBased").val() == 3 || $("#ddlRoyBased").val() == 6) {

            $('select[name*="ddlRoyResAmt"] option[value="2"]').hide();
            $('select[name*="ddlRoyResAmt"] option[value="3"]').hide();
            if ($("#ddlRoyResAmt").val != "1") {
                $('select[name*="ddlRoyResAmt"] option[value="1"]').remove();
                $("#ddlRoyResAmt").append('<option value="1">Royalty-wise</option>');
            }

            $('select[name*="ddlRoyResAmt"] option[value="1"]').show();
            $('#showONPvBvSalesOn').show();
            $('#BaseOnBvPvSales').show();
        }


        if ($("#ddlRoyBased").val() == 1 || $("#ddlRoyBased").val() == 4) {

            $('select[name*="ddlRoyResAmt"] option[value="1"]').remove();
            $('select[name*="ddlRoyResAmt"] option[value="1"]').hide();
            $('select[name*="ddlRoyResAmt"] option[value="2"]').show();
            $('select[name*="ddlRoyResAmt"] option[value="3"]').show();
            $('#showONPvBvSalesOn').hide();
            $('#BaseOnBvPvSales').hide();

            $('#ddlRoyBusConsidOn').prop('selectedIndex', 0);
            $('#ddlRoyType').prop('selectedIndex', 0);
            $('#ddlRoyCri').prop('selectedIndex', 0);
            $('#ddlEligible').prop('selectedIndex', 0);
            $('#ddlTOBasedOn').prop('selectedIndex', 0);
            $('#ddlRoyResAmt').prop('selectedIndex', 0);
            $('#ddlPayoutLimit').prop('selectedIndex', 0);
            $('#ddlCappingflag').prop('selectedIndex', 0);
            $('#ddlCappingOn').prop('selectedIndex', 0);
            if ($('#ddlRoyType').val == 0) {
                //$('#showOnActiveTypeSelect').hide();
                //$('#showOnActiveTypeSelectCri').hide();

            }
            $('#ISTotal').val('');
            $('#percentOfComapnyTO').val('');
            $('#ddlIncomestart').prop('selectedIndex', 0);
        }
    });

    //$("#ddlRoyType").change(function () {
    //    if ($("#ddlRoyType").val() == 2) {
    //        $("#showOnActiveTypeSelect").show();
    //        $("#showOnActiveTypeSelectCri").show();
    //    }
    //    else {
    //        $("#showOnActiveTypeSelect").hide();
    //        $("#showOnActiveTypeSelectCri").hide();
    //    }
    //});




    $("#ddlCappingflag").change(function () {
        if ($("#ddlCappingflag").val() == 2) {
            $("#ShowCappingOn").show();
        }
        else {
            $("#ShowCappingOn").hide();
        }
    });



</script>


<script>

    // A $( document ).ready() block.
    $(document).ready(function () {


        //   alert("called")
        // alert("" + $("#ddlLvlBasedOn").val())
        if ($("#ddlLvlBasedOn").val() == 1) {

            //$('#IncomeBasesOn').attr('readonly', 'readonly')
            $('#IncomeBasesOn').prop("disabled", true);
            //$("input:checkbox").prop("disabled", true);
            $('#IncomeBasesOn').prop('checked', false);

        }
        else {
            $('#IncomeBasesOn').prop("disabled", true);
            //$("input:checkbox").prop("disabled", true);
            $('#IncomeBasesOn').prop('checked', true);
        }


        if ($("#ddlLvlBasedOn").val() == 1) {
            if ($("#ddlTreeType").val() == 1) {

                $('#ShowBinaryPanel').show();
                $('#ShowGenrationPanel').hide();

            }
            else {
                $('#ShowBinaryPanel').hide();
                $('#ShowGenrationPanel').show();
            }
        }
        else {
            $('#ShowBinaryPanel').hide();
            $('#ShowGenrationPanel').show();
        }

    });
    $('#ddlLvlBasedOn').change(function () {
        if ($("#ddlLvlBasedOn").val() == 1) {
            $('#IncomeBasesOn').prop("disabled", true);
            $('#IncomeBasesOn').prop('checked', false);

        }
        else {
            $('#IncomeBasesOn').prop("disabled", true);
            $('#IncomeBasesOn').prop('checked', true);
        }
        if ($("#ddlLvlBasedOn").val() == 1) {
            if ($("#ddlTreeType").val() == 1) {
                $('#ShowBinaryPanel').show();
                $('#ShowGenrationPanel').hide();

            }
            else {
                $('#ShowBinaryPanel').hide();
                $('#ShowGenrationPanel').show();
            }
        }
        else {
            $('#ShowBinaryPanel').hide();
            $('#ShowGenrationPanel').show();
        }

        if ($("#ddlLvlBasedOn").val() != 1) {

            if ($("#txtLvlIncValue").val() > 100) {
                $("#txtLvlIncValue").val('');



            }
        }

        //alert("called")
    });

    $('#txtLvlIncValue').change(function () {
        //alert("called")
    });

    $('#ddlTreeType').change(function () {
        if ($("#ddlLvlBasedOn").val() == 1) {
            if ($("#ddlTreeType").val() == 1) {
                $('#ShowBinaryPanel').show();
                $('#ShowGenrationPanel').hide();

            }
            else {
                $('#ShowBinaryPanel').hide();
                $('#ShowGenrationPanel').show();
            }
        }
        else {
            $('#ShowBinaryPanel').hide();
            $('#ShowGenrationPanel').show();
        }
        //alert("called")
    });

    $('#ddlLvlBasedOn').change(function () {

    });

    $("#@Html.FieldIdFor(model=>model.pairLaps)").change(function () {
        if ($('#@Html.FieldIdFor(model => model.pairLaps)').is(':checked')) {
            $('#pairLapsValueId').show();
            $('#pairLapsSequenceId').show();
            $('#pairLapsConstantGrowthId').show();
        }
        else {
            $('#pairLapsValueId').hide();
            $('#pairLapsSequenceId').hide();
            $('#pairLapsConstantGrowthId').hide();

        }
    });


    $(document).ready(function () {

        if ($('#showNextQualification').val() != null || $('#showNextQualification').val() != '' || $('#showNextQualification').val() != 0) {
            var xyz = $('#showNextQualification').val();
            $('#NextQualificationCriterialbl').html(xyz);
        }

        $('#BinaryIncomeName').val()

        if ($('#@Html.FieldIdFor(model => model.pairLaps)').is(':checked')) {
            $('#pairLapsValueId').show();
            $('#pairLapsSequenceId').show();
            $('#pairLapsConstantGrowthId').show();
        }
        else {
            $('#pairLapsValueId').hide();
            $('#pairLapsSequenceId').hide();
            $('#pairLapsConstantGrowthId').hide();

        }

        $("#divSales").hide();
        $("#divLevel").hide();
        $("#divLevel1").hide();
        $("#divLvl").hide();
        $("#divLvlAmt").hide();
        $("#divDaily").hide();
        $("#divDailyTiming").hide();
        $("#divDirects").hide();
        $("#divActiveRoyalty").hide();
        $("#divRefDirects").hide();
        $("#divLimit").hide();
        $("#divTail").hide();
        $("#divTotal").hide();

        if ($("#ddlBinaryType").val() == 2) {
            //  alert("called")
            $("#divDaily").show();
            $("#divDailyTiming").show();
        }
        $("#pnlLoadRepurchaseGrid").hide();
        $("#pnlLoadGrid").hide();
        if ($("#ddlRpLvlValue").val() == 2)
            $("#pnlLoadRepurchaseGrid").show();

        if ($("#ddlLvlValue").val() == 2)
            $("#pnlLoadGrid").show();


        loadGrid();

        loadRepurchaseGrid();

        if ($("#ddlPOWhere").val() == 2) {

            $("#divRight").hide();
            $("#divLeft").hide();
            $("#divTotal").show();



        } if ($("#ddlPOWhere").val() == 1) {

            $("#divRight").show();
            $("#divLeft").show();
            $("#divTotal").hide();
        }

        if ($("#ddlDirectInc").val() == 2) {
            $("#divDirects").show();
        }

        //if ($("#ddlRoyType").val() == 1) {
        //    $("#divActiveRoyalty").show();
        //}

        // 
        if ($("#ddlLvlValue").val() == 2) {
            // 
            $('#diffLevelGrid').show();
            $('#pnlLoadGrid').show();
            $('#anchorLoadGrid').show();
            $("#divLevelAmount").hide();

        }
        else {
            $("#divLevelAmount").show();
            $('#diffLevelGrid').hide();
            $('#pnlLoadGrid').hide();
            $('#anchorLoadGrid').hide();
        }

        if ($("#ddlRpLvlValue").val() == 2) {
            $('#diffRepurchaseGrid').show();
            $("#divLevelWise").hide();

        }
        else {
            $("#divLevelWise").show();
            $('#diffRepurchaseGrid').hide();
        }

        if ($("#ddlRefIncFor").val() == 2) {
            $("#divRefDirects").show();
        } else {
            $("#divRefDirects").hide();
        }
        //fnShowHide();
    });

    $("#chkPowerLeg").click(function () {
        if ($(this).prop("checked") == true) {
            $("#divTail").show();
        }
        else {
            $("#divTail").hide();
        }
    });

    $("#ddlBinaryType").change(function () {
        if ($("#ddlBinaryType").val() == 2) {

            $("#divDaily").show();
            $("#divDailyTiming").show();
        }
        else {
            $("#divDaily").hide();
            $("#divDailyTiming").hide();
        }

    });
    $("#ddlPOWhere").change(function () {

        if ($("#ddlPOWhere").val() == 2) {

            $("#divRight").hide();
            $("#divLeft").hide();
            $("#divTotal").show();
        }
        else {
            $("#divRight").show();
            $("#divLeft").show();
            $("#divTotal").hide();
        }
    });

    $("#ddlRpLvlValue").change(function () {
        $("#divLevelWise").show();
        if ($("#ddlRpLvlValue").val() == 2) {
            $("#divLevelWise").hide();
            $('#diffRepurchaseGrid').show();
            $("#pnlLoadRepurchaseGrid").show();
        }
        else {
            $("#divLevelWise").show();
            $('#diffRepurchaseGrid').hide();
            $("#pnlLoadRepurchaseGrid").hide();
        }
    });


    $("#ddlMaxLimit").change(function () {
        $("#divLimit").hide();
        if ($("#ddlMaxLimit").val() == 1) {
            $("#divLimit").show();
        }
    });

    $("#ddlRefIncFor").change(function () {
        $("#divRefDirects").hide();
        if ($("#ddlRefIncFor").val() == 2) {
            $("#divRefDirects").show();
        }
    });

    $("#ddlLvlValue").change(function () {
        // 
        $("#divLevelAmount").show();
        // 
        if ($("#ddlLvlValue").val() == 2) {
            $("#divLevelAmount").hide();
            $("#pnlLoadGrid").show();
            $('#pnlLoadGrid').show();
            $('#anchorLoadGrid').show();
            $("#diffLevelGrid").show();
        } else {
            $("#diffLevelGrid").hide();
            $("#pnlLoadGrid").hide();
            $('#pnlLoadGrid').hide();
            $('#anchorLoadGrid').hide();

        }
    });

    $("#ddlRoyType").change(function () {
        $("#divActiveRoyalty").hide();
        if ($("#ddlRoyType").val() == 1) {
            $("#divActiveRoyalty").show();
        }
    });

    //$("#ddlBasedOn").change(function () {
    //    //fnShowHide();
    //});

    $("#ddlBinaryType").change(function () {
        //fnShowHide();
    });

    $("#ddlPairAmt").change(function () {
        fnShowHideAmt();
    });

    $("#ddlDirectInc").change(function () {
        $("#divDirects").hide();
        if ($("#ddlDirectInc").val() == 2) {
            $("#divDirects").show();
        }
    });





    function fnShowHide() {
        $("#FValue").show();
        $("#FValue1").show();
        $("#divSPair").show();
        $("#divFirst").show();
        $("#divSPair").show();
        $("#divDaily").hide();
        $("#divDaily").hide();
        $("#divLevel").hide();
        $("#divLevel1").hide();
        $("#divLvlAmt").hide();
        $("#divLvl").hide();
        $("#divFlush").show();
        $("#divSales").hide();


        if ($("#ddlBasedOn").val() == 3) {
            $("#divSales").show();
            //$("#ddlSimulation").options[1].disabled = true;
            //$("#ddlSimulation").options[0].selected = true;
            //$("#ddlCapping").options[1].disabled = true;
            //$("#ddlCapping").options[0].selected = true;

            $("#FValue").hide();
            $("#FValue1").hide();
            $("#divSPair").hide();;

            //$("#txtF1L").val() = "1";
            $("#txtF1L").disabled = true;
            //$("#txtF1R").val() = "1";
            $("#txtF1R").disabled = true;
        }
        else {
            //$("#ddlSimulation").options[1].disabled = false;
            //$("#ddlCapping").options[1].disabled = false;
            //$("#txtF1L").disabled = false;
            //$("#txtF1R").disabled = false;
        }

        if ($("#ddlBinaryType").val() == 3) {
            $("#divFirst").hide();
            $("#divSPair").hide();
            $("#divLevel").show();
            $("#divLevel1").show();
            $("#txtLevels").focus();
            //$("#ddlBasedOn").options[1].disabled = true;
            //$("#ddlBasedOn").options[2].disabled = true;
            //$("#ddlBasedOn").options[0].selected = true;
            $("#divDaily").hide();
            fnShowHideLevel();
            $("#divFlush").hide();
            //$("#ddlFlush").options[0].selected = true;
        }
        else {
            //$("#ddlBasedOn").options[1].disabled = false;
            //$("#ddlBasedOn").options[2].disabled = false;
        }
    }

    $("#anchorLoadGrid").click(function () {

        loadGrid();
    });

    function loadGrid() {
        $('#levelGrid').html("");
        var rowCount = $('#txtIncLevels').val();
        var ddlVal = $("#ddlLvlValue").val();
        if (rowCount > 0 && ddlVal == 2) {
            var data = { levelCount: rowCount };
            addAntiForgeryToken(data);
            $.ajax({
                type: "POST",
                data: data,
                dataType: "json",
                url: '@(Url.Action("getLevelGrid", "CommisionSettings"))',
                success: function (d) {
                    var getstr = "<table class='table table-hover table-bordered ' id='LevelGrid' cellspacing='0' rules='all' border='1' style='width: 100%;' ><thead> <tr><th class='text-center'><strong>@T("Admin.ContentManagement.Forums.ForumGroup.Fields.levelID")</strong></th> <th class='text-center'><strong>@T("Admin.ContentManagement.Forums.ForumGroup.Fields.levelAmount")</th> </tr></thead>";

                    getstr = getstr + d + "</table>";
                    $('#levelGrid').html(getstr);
                    $('#diffLevelGrid').show();
                    $('#pnlLoadGrid').show();
                    $('#anchorLoadGrid').show();
                },
                error: function (xhr, ajaxOptions, thrownError) {

                }

            });
        }
    }

    $("#anchorLoadRepurchaseGrid").click(function () {
        loadRepurchaseGrid();
    });

    function loadRepurchaseGrid() {
        $('#levelRepurchaseGrid').html("");
        var rowCount = $('#txtRpIncLevels').val();
        var ddlVal = $("#ddlRpLvlValue").val();
        if (rowCount > 0 && ddlVal == 2) {
            var data = { levelCount: rowCount };
            addAntiForgeryToken(data);
            $.ajax({
                type: "POST",
                data: data,
                dataType: "json",
                url: '@(Url.Action("getLevelRepurchaseGrid", "CommisionSettings"))',
                success: function (d) {
                    var getstr = "<table style='border:1px solid grey;'><tr style='border:1px solid grey;'><th style='border:1px solid grey;'>@T("Admin.ContentManagement.Forums.ForumGroup.Fields.levelID")</th><th style='border:1px solid grey;'>@T("Admin.ContentManagement.Forums.ForumGroup.Fields.levelAmount")</th></div>";

                    getstr = getstr + d + "</table>";

                    $('#levelRepurchaseGrid').html(getstr);
                    $('#diffRepurchaseGrid').show();

                },
                error: function (xhr, ajaxOptions, thrownError) {

                }
            });
        }
    }

    function fnShowHideLevel() {
        $("#txtLCnt").val('1');
        $("#txtLCnt").prop('disabled', true);
        $("#txtRCnt").val('1');
        $("#txtRCnt").prop('disabled', true);
        $("#divLvl").show();
        $("#txtLevels").disabled = true;

        if ($("#rdLimited").is(":checked") == true) {
            $("#divPairAmt").show();
            $("#txtLevels").disabled = false;
            $("#txtLevels").focus();
        }
        fnShowHideAmt();
    }

    function fnShowHideAmt() {
        $("#divLvlAmt").hide();
        if ($("#ddlPairAmt").val() == 1) {
            $("#divLvlAmt").show();
        }
    }

    $('#BinaryIncomeName').change(function (e) {

        var data = { BinaryIncomeName: $("#BinaryIncomeName").val() };
        $.ajax({
            cache: false,
            type: "GET",
            dataType: "html",
            url: "@(Url.Action("GetMultiBinaryIncomeSetting", "CommisionSettings"))",
            data: data,
            success: function (data) {
                $('#MultipleBinaryIncomeSettingDiv').html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            },
            traditional: true
        });
        return false;
    });


</script>
