﻿@model Nop.Admin.Models.CommisionSettings.CommisionConventionModel
@{
    ViewBag.Title = T("Admin.Common.CommisionSettings.CommisionandConvention").Text;

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Commision and Convention");
}

<style>
    .hide
    {
        color:red;
        display:none;
    }
</style>

<script>
    $(document).ready(function () {
        bindBootstrapTabSelectEvent('customer-edit');
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Common.CommisionSettings.CommisionandConvention")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div id="customer-edit" class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    @Html.RenderBootstrapTabHeader("tab-plansetting", @T("Admin.Customers.Customers.PlanSetting"), true)
                    @Html.RenderBootstrapTabHeader("tab-applicableboxes", @T("Admin.Customers.Customers.ApplicableBoxes"))
                    @Html.RenderBootstrapTabHeader("tab-registrationlogic", @T("Admin.Customers.Customers.RegistrationLogic"))
                    @Html.RenderBootstrapTabHeader("tab-amountdetails", @T("Admin.Customers.Customers.AmountDetails"))
                    @Html.RenderBootstrapTabHeader("tab-NotificationDetails", @T("Admin.Customers.Customers.BusinessSchedulerNotification"))
                </ul>
                <div class="tab-content">
                    @Html.RenderBootstrapTabContent("tab-plansetting", @TabPlanSetting(), true)
                    @Html.RenderBootstrapTabContent("tab-applicableboxes", @TabApplicableBoxes())
                    @Html.RenderBootstrapTabContent("tab-registrationlogic", @TabRegistrationLogic())
                    @Html.RenderBootstrapTabContent("tab-amountdetails", @TabAmountDetails())
                    @Html.RenderBootstrapTabContent("tab-NotificationDetails", @TabNotificationDetails())
                </div>
            </div>
        </div>
    </div>

    {
        //custom tabs
        var eventMessage = new AdminTabStripCreated(this.Html, "customer-edit");
        EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
        foreach (var eventBlock in eventMessage.BlocksToRender)
        {
            @eventBlock
        }
    }

    @*save selected tab name*@
    <input type="hidden" id="selected-tab-name" name="selected-tab-name" value="@(Html.GetSelectedTabName())">

    @helper TabPlanSetting()
    {
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.ddlplan)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownList("ddlplan", new List<SelectListItem>() { new SelectListItem { Text = "Binary", Value = "1" }, new SelectListItem { Text = "Generation", Value = "2" }, new SelectListItem { Text = "Binary & Generation", Value = "3" } })
                        </div>
                    </div>
                </div>
            </div>
        </div>
}
    @helper TabApplicableBoxes()
    {

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.BinaryCommision)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.BinaryCommision)
                        </div>
                    </div>
                    <div id="divBinaryCommision">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.ddlBasedOn)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDropDownList("ddlBasedOn", new List<SelectListItem>() { new SelectListItem { Text = "Counts", Value = "1" }, new SelectListItem { Text = "PV", Value = "2" }, new SelectListItem { Text = "Sales", Value = "3" }, new SelectListItem { Text = "BV", Value = "4" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.ddlNumberBinary)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDropDownList("ddlNumberBinary", new List<SelectListItem>
                            () {
                         new SelectListItem { Text = "Single Binary", Value = "1" },
                            new SelectListItem { Text = "Multiple Binary", Value = "2"
                            }})
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.ddlBinaryType)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDropDownList("ddlBinaryType", new List<SelectListItem>() { new SelectListItem { Text = "Regular Binary", Value = "1" }, new SelectListItem { Text = "Daily Binary", Value = "2" }, new SelectListItem { Text = "Level Binary", Value = "3" } })
                            </div>
                        </div>
                        <div class="form-group" id="divDaily">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.ddlCycles)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDropDownList("ddlCycles", new List<SelectListItem>
                            () {
                         new SelectListItem { Text = "1", Value = "1" },
                            new SelectListItem { Text = "2", Value = "2" },
                            new SelectListItem { Text = "3", Value = "3" },
                            new SelectListItem { Text = "4", Value = "4" }
                            , new SelectListItem { Text = "6", Value = "6" },
                            new SelectListItem { Text = "8", Value = "8" },
                            new SelectListItem { Text = "12", Value = "12" }
                            , new SelectListItem { Text = "24", Value = "24" }
                            })
                            </div>
                        </div>


                        <div class="form-group" id="divDailyTiming">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.CycleTiming)
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label">Hour</label>
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.hour, new { @class = "form-control", @type = "number", @MaxLength = 2 })
                                    </div>
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label">Minute</label>
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.Time, new { @class = "form-control", @type = "number", @maxLength = 2 })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group" id="divHighery">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.ddlHigherBinary)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDropDownList("ddlHigherBinary", new List<SelectListItem>() {
                            new SelectListItem { Text = "Carry forward", Value = "1" },
                            new SelectListItem { Text = "Lapse", Value = "2" }})
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.DirectSponsoringCommission)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.DirectSponsoringCommission)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.SpillCommission)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.SpillCommission)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.SpillNetworkCommission)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.SpillNetworkCommission)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.RoyaltyCommission)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.RoyaltyCommission)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.LevelCommission)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.LevelCommission)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.ReferralCommission)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.ReferralCommission)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.AwardsRewards)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.AwardsRewards)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.SchemesOffers)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.SchemesOffers)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.RepurchaseCommission)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.RepurchaseCommission)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.PackageUpgradation)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.PackageUpgradation)
                        </div>
                    </div>
                    <div class="form-group" id="divUpgradationType">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.UpgradationType)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownList("UpgradationType", new List<SelectListItem>() { new SelectListItem { Text = "Full Amount/Business", Value = "1" }, new SelectListItem { Text = "Difference Amount/Business", Value = "2" } })
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Board)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Board)
                        </div>
                    </div>*@
                    @*<div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.MatrixAutoMatrix)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.MatrixAutoMatrix)
                        </div>
                    </div>*@
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.DifferentialTeamPerformanceBonuc)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.DifferentialTeamPerformanceBonuc)
                        </div>
                    </div>
                    <div class="form-group" id="SelectedSlabTrId">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.SelectedSlab)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownListFor(model => model.SelectedSlab, new List<SelectListItem>() {
               //new SelectListItem { Text = "Counts", Value = "1" },
               new SelectListItem { Text = "PV", Value = "2" },
               new SelectListItem { Text = "BV", Value = "3" }, new SelectListItem { Text = "Sales", Value = "4" } })
                        </div>
                    </div>
                    <div class="form-group" id="SelectedCalculationBaseTrId">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.SelectedCalculationBase)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownListFor(model => model.SelectedCalculationBase, new List<SelectListItem>() {
                       new SelectListItem { Text = "Fresh", Value = "1" }, new SelectListItem { Text = "Cumulative", Value = "2" } })
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.RetailBouns)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.RetailBouns)
                            </div>
                        </div>
                        <div class="form-group" id="SelectedRetailBounsOnTrId">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.SelectedRetailBounsOn)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDropDownListFor(model => model.SelectedRetailBounsOn, new List<SelectListItem>() {
                               new SelectListItem { Text = "Discount", Value = "1" }, new SelectListItem { Text = "Commission", Value = "2" } })
                            </div>
                        </div>*@
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.SameLevelBonus)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.SameLevelBonus)
                        </div>
                    </div>
                    <div class="form-group" id="SelectedSameLevelBonusTr">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.SameLevelBonusTo)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownListFor(model => model.SameLevelBonusTo,
                new List<SelectListItem>() { new SelectListItem { Text = "Highest Slab Achiever only", Value = "1" },
                new SelectListItem { Text = "Any Slab Achievers", Value = "2" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.RankAndReconcialtion)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.RankAndReconcialtion)
                        </div>
                    </div>
                    <div class="form-group" id="RankBasedOnTr">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.RankBasedOn)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownListFor(model => model.RankBasedOn,
                new List<SelectListItem>() {
                    //new SelectListItem { Text = "Count", Value = "1" },
                new SelectListItem { Text = "PV", Value = "1" },
                new SelectListItem { Text = "BV", Value = "2" },
                new SelectListItem { Text = "Sales", Value = "3" }})
                        </div>
                    </div>
                    <div class="form-group" id="RankOnTr">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.RankOn)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownListFor(model => model.RankOn,
                new List<SelectListItem>() { new SelectListItem { Text = "Binary Tree", Value = "1" },
                new SelectListItem { Text = "Generation Tree", Value = "2" }})
                        </div>
                    </div>
                    <div class="form-group" id="EligibleForTr">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.EligibleFor)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownListFor(model => model.EligibleFor,
                new List<SelectListItem>() { new SelectListItem { Text = "Highest Fund", Value = "1" },
                new SelectListItem { Text = "All Qualified Fund", Value = "2" }})
                        </div>
                    </div>
                    <div class="form-group" id="DistributionTr">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Distribution)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownListFor(model => model.Distribution,
                new List<SelectListItem>() { new SelectListItem { Text = "Equal Distribution", Value = "1" },
                new SelectListItem { Text = "In Proportionate", Value = "2" }})
                        </div>
                    </div>
                    <div class="form-group" id="RankCalculationBaseTr">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.RankCalculationBase)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownListFor(model => model.RankCalculationBase, new List<SelectListItem>() {
                       new SelectListItem { Text = "Fresh", Value = "1" }, new SelectListItem { Text = "Cumulative", Value = "2" } })
                        </div>
                    </div>
                </div>
            </div>
        </div>
}
    @helper TabRegistrationLogic()
    {
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.ddlNoType)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownList("ddlNoType", new List<SelectListItem>() { new SelectListItem { Text = "Serial No.", Value = "1" },
                       new SelectListItem { Text = "Random No.", Value = "2" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.ddlNoOfDigits)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownList("ddlNoOfDigits", new List<SelectListItem>() { new SelectListItem { Text = "8", Value = "8" }, new SelectListItem { Text = "7", Value = "7" }
           , new SelectListItem { Text = "6", Value = "6" }, new SelectListItem { Text = "5", Value = "5" }, new SelectListItem { Text = "4", Value = "4" }})
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.txtStartNo)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.txtStartNo)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.joiningPlacement)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownListFor(model => model.joiningPlacement,
                        new List<SelectListItem>() { new SelectListItem { Text = "Binary", Value = "0" },
                       new SelectListItem { Text = "Generation", Value = "1" } })
                            @*<span>
                                    @Html.RadioButton("Binary", "Binary", (Model.joiningPlacement == 0), new { id = "rdbBinary" })
                                    <label class="forcheckbox" for="gender-male">@T("Account.Fields.Binary")</label>
                                </span>
                                <span>
                                    @Html.RadioButton("Binary", "Generation", (Model.joiningPlacement == 1), new { id = "rdbGeneration" })
                                    <label class="forcheckbox" for="gender-male">@T("Account.Fields.Generation")</label>
                                </span>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.ddlPlacement)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownList("ddlPlacement", new List<SelectListItem>() { new SelectListItem { Text = "Sponsor ID = Adjusted To ID", Value = "1" },
                       new SelectListItem { Text = "Manual Placement", Value = "2" }, new SelectListItem { Text = "Extreme Left/Right/Weaker leg", Value = "3" },
                       new SelectListItem { Text = "Auto-Spill TBLR", Value = "4" } })
                            @Html.HiddenFor(model => model.ddlPlacement)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.chkprefix)
                        </div>
                        <div class="col-md-9">
                            @* Add Prefix*@
                            @if (Model.chkprefix == true)
                            { @Html.EditorFor(model => model.chkprefix, new { @checked = Model.chkprefix })}
                            else
                            { @Html.NopEditorFor(model => model.chkprefix)    }
                        </div>
                    </div>
                    <div class="form-group" id="divprefixoption">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.ddlprefixoption)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownList("ddlprefixoption", new List<SelectListItem>() {  new SelectListItem { Text = "Enter Prefix Text", Value = "3" },
           new SelectListItem { Text = "1st letter of First & Last Name", Value = "4" }})
                        </div>
                    </div>
                    <div class="form-group" id="divprefix">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.txtPrefix)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.txtPrefix)
                        </div>
                    </div>
                    <div class="form-group" id="pnlWeaker">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.ddlWeaker)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownList("ddlWeaker", new List<SelectListItem>() { new SelectListItem { Text = "No", Value = "0" }, new SelectListItem { Text = "Yes", Value = "1" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.txtAdvPercent)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.txtAdvPercent)
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.txtdefaultPwd)
                    @Html.Hidden("Regular")
                    @*<div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.RegistrationForm)
                             </div>
                            <div class="col-md-9">
                                @Html.RadioButton("Regular", "Regular", (Model.RegistrationForm == 0), new { id = "rdbRegular" })
                                <label class="forcheckbox" for="gender-male">@T("Account.Fields.rdbtnform")</label>
                             </div>
                         </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.txtdefaultPwd)
                             </div>
                            <div class="col-md-9">
                                @Html.HiddenFor(model => model.txtdefaultPwd)
                             </div>
                         </div>*@
                </div>
            </div>
        </div>
        @*<div>

              @T("Admin.CommisionAndConvention.Note")

            </div>*@
}

    @helper TabAmountDetails()
    {
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.MPRA)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.MPRA)  @T("Admin.CommisionAndConvention.MPRA")
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.MinimumEncashAmount)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.MinimumEncashAmount) @T("Admin.CommisionAndConvention.MERA")
                        </div>
                    </div>
                </div>
            </div>
        </div>

}
    @helper TabNotificationDetails()
    {
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.BusinessSchedulerNotification)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.BusinessSchedulerNotification)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
<script>

    $("#DifferentialTeamPerformanceBonuc").change(function () {
        if ($('#@Html.FieldIdFor(model => model.DifferentialTeamPerformanceBonuc)').is(':checked')) {
            $('#SelectedSlabTrId').show();
            $('#SelectedCalculationBaseTrId').show();
        }
        else {
            $('#SelectedSlabTrId').hide();
            $('#SelectedCalculationBaseTrId').hide();
        }
    });

    @*$("#RetailBouns").change(function () {
        if ($('#@Html.FieldIdFor(model => model.RetailBouns)').is(':checked')) {
            $('#SelectedRetailBounsOnTrId').show();
        }
        else {
            $('#SelectedRetailBounsOnTrId').hide();
        }
    });*@

    $("#SameLevelBonus").change(function () {
        //$('#SameLevelBonusTo').val("1");

        if ($('#@Html.FieldIdFor(model => model.SameLevelBonus)').is(':checked')) {
            $('#SelectedSameLevelBonusTr').show();
        }
        else {
            $('#SelectedSameLevelBonusTr').hide();
        }
    });

    $("#RankAndReconcialtion").change(function () {

        if ($('#@Html.FieldIdFor(model => model.RankAndReconcialtion)').is(':checked')) {
            $('#RankBasedOnTr').show();
            $('#RankOnTr').show();
            $('#EligibleForTr').show();
            $('#DistributionTr').show();
            $('#RankCalculationBaseTr').show();
        }
        else {
            $('#RankBasedOnTr').hide();
            $('#RankOnTr').hide();
            $('#EligibleForTr').hide();
            $('#DistributionTr').hide();
            $('#RankCalculationBaseTr').hide();
        }
    });

    $("#ddlNumberBinary").change(function () {

        if ($("#ddlNumberBinary").val() == 2) {
            $("#divHighery").show();
        }
        else {
            $("#divHighery").hide();
        }
    });

    $(document).ready(function () {
        //  $("#ddlprefixoption").show();
        //   $("#divprefix").hide();

        if ($("#ddlplan").val() == 1) {
            $('select[name*="joiningPlacement"] option[value="1"]').hide();
        }

        $("#divHighery").hide();

        if ($("#ddlNumberBinary").val() == 2) {
            $("#divHighery").show();
        }

        $("#validationMessages").hide();
        $("#divBinaryCommision").hide();

        @*if ($('#@Html.FieldIdFor(model => model.RetailBouns)').is(':checked')) {
            $('#SelectedRetailBounsOnTrId').show();
        }
        else {
            $('#SelectedRetailBounsOnTrId').hide();
        }*@

        if ($('#@Html.FieldIdFor(model => model.SameLevelBonus)').is(':checked')) {
            $('#SelectedSameLevelBonusTr').show();
        }
        else {
            $('#SelectedSameLevelBonusTr').hide();
        }

        if ($('#@Html.FieldIdFor(model => model.RankAndReconcialtion)').is(':checked')) {
            $('#RankBasedOnTr').show();
            $('#RankOnTr').show();
            $('#EligibleForTr').show();
            $('#DistributionTr').show();
        }
        else {
            $('#RankBasedOnTr').hide();
            $('#RankOnTr').hide();
            $('#EligibleForTr').hide();
            $('#DistributionTr').hide();
        }

        if ($('#@Html.FieldIdFor(model => model.DifferentialTeamPerformanceBonuc)').is(':checked')) {
            $('#SelectedSlabTrId').show();
            $('#SelectedCalculationBaseTrId').show();
        }
        else {
            $('#SelectedSlabTrId').hide();
            $('#SelectedCalculationBaseTrId').hide();
        }

        if ($("#chkprefix").is(":checked")) {

            $("#divprefixoption").show();
            // $("#divprefix").show();
            var getprefixid = $("#ddlprefixoption").val();
            if (getprefixid == 3) {
                $("#divprefix").show();
                $("#txtPrefix").focus();
            }
            else {
                $("#divprefix").hide();
            }
        }
        else {
            $("#divprefixoption").hide();
            $("#divprefix").hide();
        }

        var getprefixid = $("#ddlprefixoption").val();
        if (getprefixid == 3) {
            $("#divprefix").show();
            if ($("#txtPrefix").val() == "")
                $("#txtPrefix").focus();
        }
        else {
            $("#divprefix").hide();
        }

        var getplacemntid = $("#ddlPlacement").val();
        if (getplacemntid == 3) {
            $("#pnlWeaker").show();
        }
        else {
            $("#pnlWeaker").hide();
        }

        var joiningPlacement = $("#joiningPlacement").val();
        if (joiningPlacement == 1) {
            $("#ddlPlacement").val("1");
            $("#ddlPlacement").attr("disabled", "disabled");
        }
        else {
            $("#ddlPlacement").removeAttr("disabled");
        }


        if ($('#@Html.FieldIdFor(model => model.BinaryCommision)').is(':checked')) {

            $('#divBinaryCommision').show();
        }
        else {
            $('#divBinaryCommision').hide();
        }
        if ($('#@Html.FieldIdFor(model => model.PackageUpgradation)').is(':checked')) {

            $('#divUpgradationType').show();
        }
        else {
            $('#divUpgradationType').hide();
        }
        $("#divDaily").hide();
        $("#divDailyTiming").hide();
        if ($("#ddlBinaryType").val() == 2) {
            //  alert("called")
            $("#divDaily").show();
            $("#divDailyTiming").show();
        }
    });



    $("#BinaryCommision").change(function () {

        if ($('#@Html.FieldIdFor(model => model.BinaryCommision)').is(':checked')) {

            $('#divBinaryCommision').show();
        }
        else {
            $('#divBinaryCommision').hide();
        }
    });
    $("#PackageUpgradation").change(function () {

        if ($('#@Html.FieldIdFor(model => model.PackageUpgradation)').is(':checked')) {

            $('#divUpgradationType').show();
        }
        else {
            $('#divUpgradationType').hide();
        }
    });
    $("#ddlBinaryType").change(function () {
        if ($("#ddlBinaryType").val() == 2) {

            $("#divDaily").show();
            $("#divDailyTiming").show();
        }
        else {
            $("#divDaily").hide();
            $("#divDailyTiming").hide();
        }

    });

    $("#txtStartNo").change(function () {
        var myLength = $("#txtStartNo").val().length;
        var getdigit = $("#ddlNoOfDigits").val();

        if (myLength != getdigit) {
            $("#validationMessages").show();
            $("#validationMessages").html("Please enter " + getdigit + " digits number");
            //   alert("Please enter "+getdigit+" digits number");
            $("#txtStartNo").val("");
            $("#txtStartNo").focus();
            return;
        }
        if (e.keyCode == 13) {
            if (myLength != getdigit) {
                // alert("Please enter "+getdigit+" digits number");
                $("#txtStartNo").val("");
                $("#txtStartNo").focus();
                return;
            }
        }

    });



    $("#chkprefix").click(function () {
        var chkprefix = $("#chkprefix");
        var txtprefix = $("#txtprefix");
        var divprefix = $("#divprefix");
        var divprefixoption = $("#divprefixoption");
        var ddlprefixoption = $("#ddlprefixoption");

        $("#ddlprefixoption").val("3");
        txtprefix.value = '';
        ddlprefixoption.selectedIndex = 3;
        if ($("#chkprefix").is(':checked')) {

            $("#divprefixoption").show();
            $("#ddlprefixoption").show();
            $("#divprefix").show();
            $("#txtPrefix").focus();

        }
        else {
            $("#divprefixoption").hide();
            $("#ddlprefixoption").hide();
            $("#divprefix").hide();

        }
    });

    $("#ddlprefixoption").change(function () {
        $("#txtprefix").val('');
        var getprefixDropdown = $("#ddlprefixoption").val();

        if (getprefixDropdown == 3) {
            $("#divprefix").show();
            $("#txtprefix").val("");
            $("#txtprefix").focus();
        }

        if (getprefixDropdown == 4 || getprefixDropdown == 0) {
            $("#divprefix").hide();

        }
    });


    $("#joiningPlacement").change(function () {

        var value = $(this).val();

        if (value == 1) {
            $("#ddlPlacement").val("1");
            $("#ddlPlacement").attr("disabled", "disabled");
        } else {
            $("#ddlPlacement").removeAttr("disabled");
        }
    });

    $("#ddlPlacement").change(function () {
        if ($("#ddlPlacement").val() == 3) {
            $("#pnlWeaker").show();
        }
        else {
            $("#pnlWeaker").hide();
        }
    }
    );
</script>
<script>
    window.onbeforeunload = function () {
        var buttons = document.getElementsByTagName("BUTTON");
        for (var i in buttons) {
            if (buttons[i].type == "button" || buttons[i].type == "submit") {
                buttons[i].disabled = true;
            }
        }
    };
</script>