﻿@model Nop.Admin.Models.CommisionSettings.DefineRankModel
@{

    ViewBag.Title = T("Commission.Fields.DefineRank").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Commission.Fields.DefineRank")            
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.DefineRank.BackToList").Text, "DefineRank")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" id="save" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
  
    @Html.Partial("_createOrUpdateRank", Model);
}
