﻿@model Nop.Admin.Models.CommisionSettings.CommisionSettingsModel.MultiBinaryIncomeModel
@{
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";
    ViewBag.Title = T("Commission.Fields.DefineBinaryIncome").Text;
}

@using (Html.BeginForm("CreateMultiBinaryIncome", "CommisionSettings", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return validation(this)" }))
{
    @Html.AntiForgeryToken()
    if (ViewBag.RefreshPage == true)
    {
        <script type="text/javascript">
            @*try {window.opener.document.forms['@(ViewBag.formId)'].@(ViewBag.btnId).click();}
            catch (e){}*@
   
            window.opener.location.reload();            
            window.close();
            
        </script>
    }
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Commission.Fields.DefineBinaryIncome")            
            
        </h1>
        <div class="pull-right">
            <button type="submit" id="save" name="save" class="btn bg-blue"  >
                <i class=" fa fa-floppy-o">
                </i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
  
    @Html.Partial("_createOrUpdateMultiBinaryIncome", Model);
   
}
