﻿@model Nop.Admin.Models.CommisionSettings.FundBonusModel
@{

    ViewBag.Title = T("Commission.Fields.FundBonus").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
          @T("Commission.Fields.FundBonus")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.DefineRank.BackToList").Text, "FundBonus")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" id="save" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    @Html.Partial("_createOrUpdateFundBonus", Model);
}
