﻿@model Nop.Admin.Models.CommisionSettings.DifferentialBonusSlapVM
@{

    ViewBag.Title = T("Commission.Fields.DifferentialBounsSlapCreate").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Commission.Fields.DifferentialBounsSlap")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("admin.contentmanagement.notificationtemplates.backtolist").Text, "DifferentialBonusSlap")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>           
        </div>
    </div>

    @Html.Partial("_createOrUpdate", Model);
}
