﻿@model Nop.Admin.Models.CommisionSettings.DefineRoyaltyModel
@{
    ViewBag.Title = T("Admin.Customers.DefineDeductions").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>
                <input type="submit" id="Search" name="Command" class=" k-button" value="Search" style="display:none" />
            </td>
        </tr>
    </table>
    <table class="adminContent">
        <tr>
            <td>
                <div id="customers-grid"></div>
                <script>
                    $(document).ready(function () {
                        $("#customers-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("ForcefullRoyalty", "CommisionSettings"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function (e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true
                            },
                            scrollable: true,
                            columns: [
                              {
                                  field: "txtRoyName",
                                  title: "@T("Admin.Customers.Customers.Fields.txtRoyName")",
                                  width: 50
                              },
                                             {
                                                 field: "PackageName",
                                                 title: "@T("Admin.Customers.Customers.Fields.PackageName")",
                                                 width: 50
                                             }, {
                                                 field: "RoyID",
                                                 title: "@T("Admin.Customers.Customers.Fields.RoyID")",
                                                 width: 50
                                             },
                                             {
                                                 field: "PackageID",
                                                 title: "@T("Admin.Customers.Customers.Fields.PackageID")",
                                                 width: 50
                                             },
                     {
                         field: "txtAmount",
                         title: "@T("Admin.Customers.Customers.Fields.txtAmount")",
                         width: 50,
                         template: "<input type='number'  id='txt#=RoyID#' value='#=txtAmount#' />"
                     }]
                        });
                    });
                </script>
            </td>
        </tr>
    </table>   
    <table>
        <tr>
            <td class="adminData">
                <input type="submit" id="btnProceed" name="Command" class=" k-button" value="Save" />
            </td>
        </tr>
    </table>
}