﻿@model Nop.Admin.Models.CommisionSettings.DeductionSettingModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    ViewBag.Title = T("Admin.Customers.DefineDeductions").Text;

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Define Deductions");
}

<style>
@@media only screen and (max-width: 760px), (min-width: 768px) and (max-width: 1024px) {
    /* ... */
   td select {
        width: 82px;
    }
    td input[type=text] {
        width: 82px;
    }
     td input[type=number] {
        width: 82px;
    }
}


@@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    /* ... */
   td select {
        width: 120px;
    }
    td input[type=text] {
        width: 120px;
    }
     td input[type=number] {
        width: 120px;
    }
}

</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Customers.DefineDeductions")
        </h1>
        <div class="pull-right">
            <div class="btn-group">
                <button type="submit" id="btnProceed" name="Command" class="btn btn-success" >
                    <i class="fa fa-save"></i>
                    @T("Admin.Common.Save")
                </button>
                </div>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.chkAllPlan)
                                </div>
                                <div class="col-md-8">
                                    <input id="chkAllPlan" type="checkbox" value="true" name="Remember" />
                                    <input type="hidden" id="chkAllPlan" value="false" name="Remember" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.ddlPlanType)
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.ddlPlanType, Model.PlanList)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <button type="button" id="Search" name="Command" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.LoadGrid")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="divDeductions">
                    <div class="panel-body">
                        <div id="customers-grid"></div>
                        <script>
                            function getGrid()
                            {
                                $("#customers-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("DefineDeductions", "CommisionSettings"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: true,
                                    columns: [{
                                        field: "Id",
                                        headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: "<input type='checkbox' value='#=hdnddID#'  class='checkboxGroups'/>",
                                        width: 50
                                    },

                                      {
                                          field: "txtDednName",
                                          title: "@T("Admin.Customers.Customers.Fields.txtDednName")",
                                          template: "<input type='text' id='ded#=hdnddID#' value='#=txtDednName#'  />",
                                          width: 100
                                      },
                                  @*{
                                      field: "hdnddlIsTDS",
                                      title: "@T("Admin.Customers.Customers.Fields.hdnddlIsTDS")",
                                      width: 50,
                                      template: "#=getDropDown(hdnddID,hdnddlIsTDS)#"
                                      // template: "<select id='tds#=hdnddID#' onchange='onTDSChangefn(this)'><option value='0'>No</option><option value='1'>Yes</option></select> "
                                  },*@
                                  {
                                      field: "hdnddlDedType",
                                      title: "@T("Admin.Customers.Customers.Fields.ddlDedType")",
                                      width: 100,
                                      template:"#=getDropDown1(hdnddID,hdnddlDedType,hdnddlIsTDS,chk1AsTDs)#"
                                  }, {
                                      field: "hdnddlValueType",
                                      title: "@T("Admin.Customers.Customers.Fields.ddlValueType")",
                                      width: 100,
                                      template:"#=getDropDown2(hdnddID,hdnddlValueType,hdnddlIsTDS)#"
                                  }, {
                                      field: "txtValue",
                                      title: "@T("Admin.Customers.Customers.Fields.txtValue")",
                                      width: 100,
                                      template:"#=textbox(hdnddID,txtValue,hdnddlIsTDS)#" ,
                                  },
                                {
                                    field: "txtPerPayoutAmt",
                                    title: "@T("Admin.Customers.Customers.Fields.txtPerPayoutAmt")",
                                    width: 100,
                                    template: "#=textbox1(hdnddID,txtPerPayoutAmt,hdnddlIsTDS)#",
                                },
                                {
                                    field: "txtMaxAmt",
                                    title: "@T("Admin.Customers.Customers.Fields.txtMaxAmt")",
                                    width: 100,
                                    template:"#=textbox2(hdnddID,txtMaxAmt,hdnddlIsTDS)#",
                                },
                                {
                                    field: "EID",
                                    title: "@T("Admin.Customers.Customers.Fields.txtDednName")",
                                    template: "<input type='hidden' id='EID#=hdnddID#' value='#=EID#'  />",
                                    hidden: true,
                                    width: 100
                                }]
                                });
                            }
                            function  getDropDown1(hdnddID,hdnddlDedType,hdnddlIsTDS,chk1AsTDs){

                                if(chk1AsTDs)
                                {
                                    $("#chk1AsTDs").prop("checked", true);
                                }
                                else
                                {
                                    $("#chk1AsTDs").prop("checked", false);
                                }
                                var str='';
                                if(hdnddlIsTDS)
                                {
                                    // str="<select  id='type"+hdnddID+"' onchange='onDedTypeChangefn(this)'><option value='1' >One Time Deduction</option><option value='2' selected='selected'>Recurring Deduction</option><option value='3'>Trimming Deduction</option></select> "
                                    if(hdnddlDedType==1)
                                    {
                                        str="<select disabled='disabled'  id='type"+hdnddID+"' onchange='onDedTypeChangefn(this)'><option value='1' selected='selected'>One Time Deduction</option><option value='2'>Recurring Deduction</option><option value='3'>Trimming Deduction</option></select> "
                                    }
                                    else  if(hdnddlDedType==2)
                                    {
                                        str="<select disabled='disabled' id='type"+hdnddID+"' onchange='onDedTypeChangefn(this)'><option value='1' >One Time Deduction</option><option value='2' selected='selected'>Recurring Deduction</option><option value='3'>Trimming Deduction</option></select> "
                                    }
                                    else
                                    {
                                        str="<select disabled='disabled' id='type"+hdnddID+"' onchange='onDedTypeChangefn(this)'><option value='1' >One Time Deduction</option><option value='2' >Recurring Deduction</option><option value='3' selected='selected'>Trimming Deduction</option></select> "
                                    }
                                }
                                else
                                {
                                    if(hdnddlDedType==1)
                                    {
                                        str="<select id='type"+hdnddID+"' onchange='onDedTypeChangefn(this)'><option value='1' selected='selected'>One Time Deduction</option><option value='2'>Recurring Deduction</option><option value='3'>Trimming Deduction</option></select> "
                                    }
                                    else  if(hdnddlDedType==2)
                                    {
                                        str="<select id='type"+hdnddID+"' onchange='onDedTypeChangefn(this)'><option value='1' >One Time Deduction</option><option value='2' selected='selected'>Recurring Deduction</option><option value='3'>Trimming Deduction</option></select> "
                                    }
                                    else
                                    {
                                        str="<select id='type"+hdnddID+"' onchange='onDedTypeChangefn(this)'><option value='1' >One Time Deduction</option><option value='2' >Recurring Deduction</option><option value='3' selected='selected'>Trimming Deduction</option></select> "
                                    }
                                }

                                // $("#tds"+hdnddID).val(hdnddlDedType);
                                return str;
                            }

                            function  getDropDown(hdnddID,hdnddlIsTDS){

                                console.log(hdnddID);
                                console.log("value  "+hdnddlIsTDS);

                                if(hdnddlIsTDS)
                                {

                                    var str="<select   id='tds"+hdnddID+"' onchange='onTDSChangefn(this)'><option value='0'>No</option><option value='1' selected='selected'>Yes</option></select>";

                                }
                                else{
                                    var str="<select id='tds"+hdnddID+"' onchange='onTDSChangefn(this)'><option value='0' selected='selected'>No</option><option value='1' >Yes</option></select>";
                                }
                                //$("#tds"+hdnddID).val(hdnddlIsTDS);


                                return str;
                            }

                            function  getDropDown2(hdnddID,hdnddlValueType,hdnddlIsTDS){

                                var str='';
                                if(hdnddlIsTDS)
                                {
                                    str="<select disabled='disabled' id='valtype"+hdnddID+"'><option value='1' selected='selected'>Percentage (%)</option><option value='0'>Amount</option></select>";
                                }else{
                                    if(hdnddlValueType)
                                    {

                                        str="<select id='valtype"+hdnddID+"'><option value='1' selected='selected'>Percentage (%)</option><option value='0'>Amount</option></select>";
                                    }
                                    else{
                                        str="<select id='valtype"+hdnddID+"'><option value='1' >Percentage (%)</option><option value='0' selected='selected'>Amount</option></select>";
                                    }
                                }
                                return str;
                            }

                            function  textbox(hdntxtValue,txtValue,hdnddlIsTDS){

                                var str='';
                                if(hdnddlIsTDS)
                                {
                                    str="<input type='number' disabled='disabled' id='val"+hdntxtValue+"' value=0 onkeypress='return isNumber(event)' />"
                                }
                                else
                                {
                                    str="<input type='number' id='val"+hdntxtValue+"' value="+txtValue+" onkeypress='return isNumber(event)' />"
                                }
                                return str;
                            }

                            function  textbox1(hdntxtValue,txtValue,hdnddlIsTDS){

                                var str='';
                                if(hdnddlIsTDS)
                                {
                                    str="<input type='number' disabled='disabled' id='pay"+hdntxtValue+"' value=0 onkeypress='return isNumber(event)' />"
                                }
                                else
                                {
                                    str="<input type='number' id='pay"+hdntxtValue+"' value="+txtValue+" onkeypress='return isNumber(event)' />"
                                }
                                return str;
                            }


                            function  textbox2(hdntxtValue,txtValue,hdnddlIsTDS){

                                var str='';
                                if(hdnddlIsTDS)
                                {
                                    str="<input type='number' disabled='disabled' id='max"+hdntxtValue+"' value=0 onkeypress='return isNumber(event)' />"
                                }
                                else
                                {
                                    str="<input type='number' id='max"+hdntxtValue+"' value="+txtValue+" onkeypress='return isNumber(event)' />"
                                }
                                return str;
                            }


                        </script>
                    </div>
                </div>

                <div class="panel panel-default panel-search" id="defineDeductionsButton">
                    <div class="panel-body">
                        <div class="row" id="defineDeductionsNote">
                            @T("Admin.Customers.DefineDeductions.note")
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.chk1AsTDs)
                            </div>
                            <div class="col-md-8">
                                <input id="chk1AsTDs" type="checkbox" value="true" name="TDS1" />
                                <input type="hidden" id="chk1AsTDs" value="false" name="TDS1" />
                            </div>
                        </div>   
                        <div id="defineDeductionsTDSAmount">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.txtSame)
                                </div>
                                <div class="col-md-1">
                                    @Html.RadioButton("rdTDS", "rdSame", (Model.rdSame), new { id = "rdSame" })
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.txtSame, new { htmlAttributes = new { @Value = ViewBag.txtPan } })
                                </div>   
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.rdDifferent)
                                </div>
                                <div class="col-md-8">
                                    @Html.RadioButton("rdTDS", "rdTDS", (Model.rdDifferent), new { id = "rdDifferent" })
                                </div>
                            </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.NopLabelFor(model => model.txtPAN)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.txtPAN)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.NopLabelFor(model => model.txtNoPAN)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.txtNoPAN)
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                                <div class="col-md-7 col-md-offset-5">
                                    <button type="button" id="btnProceed" name="Command" class="btn btn-primary btn-search">
                                            <i class="fa fa-save"></i>
                                            @T("Admin.Common.Save")
                                        </button>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
   
    <script type="text/javascript">

        $("#ddlPlanType").change(function () {
            $('#defineDeductionsNote').hide();
            $('#defineDeductionsTDSAmount').hide();
            $('#defineDeductionsButton').hide();
            $("#customers-grid").hide();
            $("#divDeductions").hide();
            $("#btnProceed").hide();
        });
        $("#btnreset").click(function () {
            $("ddlPlanType").val("0");
            $('#defineDeductionsNote').hide();
            $('#defineDeductionsTDSAmount').hide();
            $('#defineDeductionsButton').hide();
            $("#customers-grid").hide();
            $("#divDeductions").hide();
            $("#btnProceed").hide();
            $("#validationMessages").hide();
            $("#ddlPlanType").prop("disabled", false);
            chkAll = false
        });

        function onTDSChangefn(elem) {

            var elemVal = $(elem).val();

            //for text boxes
            var thisTrInputs = $(elem).closest('tr').find('input');
            //for dropdowns
            var thisTrSelects = $(elem).closest('tr').find('select');

            if (elemVal == '1') {
                $(thisTrInputs[2]).prop('disabled', true);
                $(thisTrInputs[3]).prop('disabled', true);
                $(thisTrInputs[4]).prop('disabled', true);

                $(thisTrInputs[2]).val('0');
                $(thisTrInputs[3]).val('0');
                $(thisTrInputs[4]).val('0');

                $(thisTrSelects[1]).prop('disabled', true);
                $(thisTrSelects[2]).prop('disabled', true);
                //$(thisTrSelects[1]).val('1');
                $(thisTrSelects[2]).val('1');
            }
            else {
                $(thisTrInputs[2]).prop('disabled', false);
                $(thisTrInputs[3]).prop('disabled', false);
                $(thisTrInputs[4]).prop('disabled', false);
                $(thisTrSelects[1]).prop('disabled', false);
                $(thisTrSelects[2]).prop('disabled', false);

                //$(thisTrInputs[2]).prop('disabled',true);
                //$(thisTrInputs[3]).prop('disabled',true);
                //$(thisTrInputs[4]).prop('disabled',true);
            }
        }

        function onDedTypeChangefn(elem) {
            var elemVal = $(elem).val();

            //for text boxes
            var thisTrInputs = $(elem).closest('tr').find('input');
            //for dropdowns
            var thisTrSelects = $(elem).closest('tr').find('select');

            $(thisTrInputs[2]).prop('disabled', false);
            $(thisTrInputs[3]).prop('disabled', false);
            $(thisTrInputs[4]).prop('disabled', false);

            switch (elemVal) {
                case "1":
                    {
                        $(thisTrInputs[3]).prop('disabled', true);
                        $(thisTrInputs[4]).prop('disabled', true);
                        $(thisTrInputs[3]).prop('0');
                        $(thisTrInputs[4]).prop('0');
                        break;
                    }
                case "2":
                    {
                        $(thisTrInputs[4]).prop('disabled', true);
                        $(thisTrInputs[4]).prop('0');
                        break;
                    }
                case "3":
                    {
                        $(thisTrInputs[2]).prop('disabled', true);
                        $(thisTrInputs[2]).prop('0');
                        break;
                    }


            }
        }
    </script>
    <script>

    // var selectedIds = [];
    var selectedIds = new Array();
    var selectedValue;
    var selectedDateCode;
    var chequeDate, selectedbankId;
    var SelectedDeduction = [];
    var SelectedTDS = [];
    var SelectedType = [];
    var SelectedDedAmount = [];
    var SelectedDedValue = [];
    var SelectedMaxPO = [];
    var SelectedGrossInc = [];
    var ED_ID = [];
    var SelectedPlan;
    var SelectedExcPlan;
    var chkAll = false;
    var chkTds = true;
    var chkSearchAllPlan = false;
    $(document).ready(function () {

        $("#validationMessages").hide();
        $('#defineDeductionsNote').hide();
        $('#defineDeductionsTDSAmount').hide();
        $("#divDeductions").hide();
        $("#btnProceed").hide();

        $('#Search').click(function () {
            //  
            //search
            $(".alert.alert-success.alert-dismissable").hide(); 
            $(".alert.alert-danger.alert-dismissable").hide();
            $("ddlPlanType").val("1");
            $('#defineDeductionsNote').hide();
            $('#defineDeductionsTDSAmount').hide();
            $('#defineDeductionsButton').hide();
            $("#customers-grid").hide();
            $("#divDeductions").hide();
            $("#btnProceed").hide();
            var validationDivs = '';
            $('#validationMessages').html('');
            $("#validationMessages").hide();
            var pt = $("#ddlPlanType").val();
            var ca = chkAll;
            if (($("#ddlPlanType").val() != "0" && chkAll == false) || ($("#ddlPlanType").val() == "0" && chkAll == true)) {
                getGrid();

                $('#defineDeductionsNote').show();
                $('#defineDeductionsTDSAmount').show();
                $('#defineDeductionsButton').show();
                $("#customers-grid").show();
                $("#divDeductions").show();
                $("#btnProceed").show();
                var grid = $('#customers-grid').data('kendoGrid');
                grid.dataSource.page(1); //new search. Set page size to 1
                //grid.dataSource.read(); we already loaded the grid above using "page" function
                //clear selected checkboxes
            }
            else {
                // alert("Select Plan Type");
                $('#validationMessages').show();
                validationDivs = validationDivs + '<div>@T("Dashboard.Mynetwork.MyDownline.PM_ID")</div>';
                $('#validationMessages').append(validationDivs);
            }
            $('.checkboxGroups').attr('checked', false).change();

            selectedIds = [];
            return false;
        });

        $('#customers-grid').on('click', '#mastercheckbox', function (e) {

            $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
        });

        //wire up checkboxes.
        $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {

            var $check = $(this);
            if ($check.is(":checked") == true) {
                var checked = jQuery.inArray($check.val(), selectedIds);
                if (checked == -1) {
                    //add id to selectedIds.
                    var test = $check.val()
                    selectedIds.push($check.val());
                }
                $("#SelectedValues").val(selectedIds);
                chkSearchAllPlan = true;
            }
            else {
                var checked = jQuery.inArray($check.val(), selectedIds);
                if (checked > -1) {
                    //remove id from selectedIds.
                    selectedIds = $.grep(selectedIds, function (item, index) {
                        return item != $check.val();
                    });
                    $("#SelectedValues").val(selectedIds);
                }
                chkSearchAllPlan = false;
            }
            updateMasterCheckbox();
        });


        //post data to the controller
        $('#btnProceed').click(function (e) {
            
            var validationDivs = '';
            var flag=true;
            $('#validationMessages').html('');

            if (selectedIds.length <= 0) {
                // alert("Select At Least one Record")
                $('#validationMessages').show();
                validationDivs = validationDivs + '<div>@T("Admin.Validation.SelectAtLeastOneRecord")</div>';
                $('#validationMessages').append(validationDivs);
                return false;
            }

            else {
                //chkAll = false;
                //if ($("#chkAllPlan").prop("Checked", true)) {
                //    
                //    chkAll = true;
                //}
                //else
                //{
                //    chkAll = false;
                //}
                var flagNegative = 0;
                $.each(selectedIds, function (i, val) {
                    if ($('#val' + val).val() < 0) {
                        flagNegative = 1;
                        $("#validationMessages").show();
                        $("#validationMessages").html("@T("Admin.Deduction.NegativeValueError")")
                        return;
                    }
                    if ($('#pay' + val).val() < 0) {
                        flagNegative = 1;
                        $("#validationMessages").show();
                        $("#validationMessages").html("@T("Admin.Deduction.NegativeValueError")")
                        return;
                    }
                    if ($('#max' + val).val() < 0) {
                        flagNegative = 1;
                        $("#validationMessages").show();
                        $("#validationMessages").html("@T("Admin.Deduction.NegativeValueError")")
                            return;
                        }

                    });
                if (flagNegative == 0) {
                    e.preventDefault();

                    
                    $.each(selectedIds, function (i, val) {

                        SelectedDeduction.push($('#ded' + val).val());
                        SelectedTDS.push($('#tds' + val).val());
                        SelectedType.push($('#type' + val).val());
                        SelectedDedAmount.push($('#valtype' + val).val());
                        SelectedDedValue.push($('#val' + val).val());
                        SelectedMaxPO.push($('#pay' + val).val());
                        SelectedGrossInc.push($('#max' + val).val());
                        ED_ID.push($('#EID' + val).val());

                        if($('#ded' + val).val() =='')
                        {
                            $('#validationMessages').show();
                            validationDivs = validationDivs + '<div>@T("Admin.Definededuction.EnterDeductionName")</div>';
                            $('#validationMessages').append(validationDivs);
                            SelectedDeduction = [];
                            flag=false;
                            return false;
                        }
                    });

                    if(flag)
                    {
                        var postData = {
                            selectedIds: selectedIds,
                            SelectedDeduction: SelectedDeduction,
                            SelectedTDS: SelectedTDS,
                            SelectedType: SelectedType,
                            SelectedDedAmount: SelectedDedAmount,
                            SelectedDedValue: SelectedDedValue,
                            SelectedMaxPO: SelectedMaxPO,
                            SelectedGrossInc: SelectedGrossInc,
                            SelectedPlan: $("#ddlPlanType").val(),
                            SelectedExcPlan: $("#ddlExclPlanType").val(),
                            chkAll: chkAll,
                            rdSame: $("#rdSame").val(),
                            txtSame: $("#txtSame").val(),
                            rdDifferent: $("#rdDifferent").val(),
                            txtPAN: $("#txtPAN").val(),
                            txtNoPAN: $("#txtNoPAN").val(),
                            ED_ID:ED_ID,
                            chk1AsTDs:chkTds,
                        };
                        addAntiForgeryToken(postData);
                        // 
                        var t1 = SelectedDeduction[0];
                        var t2 = selectedIds[0];
                        var id = $('#ddlPlanType').val();
                        if (id == 0) {
                            id = 1;
                        }
                        else {
                            id = id - 1;
                            id = (15 * id) + 1
                        }
                        var fid = '#tds' + id;
                        var test = $('#tds' + id).val();

                            @*if((test !="1"))// || SelectedDeduction[0]==""))// && (selectedIds[0]==1 ||(selectedIds[0]-15==1)))
                            {
                                SelectedTDS[0]="1";
                                //  alert("T.D.S. deduction should be the 1st deduction.")
                                $('#validationMessages').show();
                                validationDivs=validationDivs+'<div>@T("Admin.Definededuction.ErrorMessageTDS")</div>';
                                $('#validationMessages').append(validationDivs);
                                SelectedDeduction=[];
                                return false;
                            }*@
                        $.ajax({
                            cache: false,
                            type: "POST",
                            url: "@(Url.Action("SaveDefineDeductions", "CommisionSettings"))",
                            data: postData,
                            success: function (data) {
                                if (data == 1) {
                                    window.location.href = '@Url.Action("DefineDeductions", "CommisionSettings", new { id = "1" })';
                                }
                                else {
                                    window.location.href = '@Url.Action("DefineDeductions", "CommisionSettings", new { id = "2" })';
                                }
                                //window.location.href = '/Admin/CommisionSettings/DefineDeductions?suc=1';


                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(thrownError);
                            },
                            traditional: true
                        });
                        SelectedTDS[0] = 0;
                    }
                }
                return false;
            }
        });
    });

    function onDataBound(e) {
        $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
            var currentId = $(this).val();
            var checked = jQuery.inArray(currentId, selectedIds);
            //set checked based on if current checkbox's value is in selectedIds.
            $(this).attr('checked', checked > -1);
        });

        updateMasterCheckbox();
    }

    function updateMasterCheckbox() {
        var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
        var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
        $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
    }
    $("#chkAllPlan").change(function () {

        //$("#divDeductions").toggle();
        $("#divDeductions").hide();

        if ($(this).prop('checked')) {
            $("#ddlPlanType").prop("disabled", true);
            $("#ddlExclPlanType").prop("disabled", true);
            $("#ddlPlanType").prop('selectedIndex', 0);
            $("#ddlExclPlanType").prop('selectedIndex', 0);
            chkAll = true;
        }
        else {
            $("#ddlPlanType").prop("disabled", false);
            $("#ddlExclPlanType").prop("disabled", false);
            chkAll = false;
        }

        $("ddlPlanType").val("1");
        $('#defineDeductionsNote').hide();
        $('#defineDeductionsTDSAmount').hide();
        $('#defineDeductionsButton').hide();
        $("#customers-grid").hide();
        $("#divDeductions").hide();
        $("#btnProceed").hide();

    });
    function additionalData() {
        var customerRoleIds = [];
        $('[name=SearchCustomerRoleIds]:checked').each(function () {
            customerRoleIds.push($(this).val());
        });

        var data = {
            ddlSearchPlanType: $('#@Html.FieldIdFor(model => model.ddlPlanType)').val(),
            ddlSearchExclPlanType: $('#@Html.FieldIdFor(model => model.ddlExclPlanType)').val(),
            chkAll: chkAll,
            @*//chkSearchAllPlan: $('#@Html.FieldIdFor(model => model.chkAllPlan)').val(),*@
            chkSearchAllPlan: chkSearchAllPlan,
            txtDednName: $('#@Html.FieldIdFor(model => model.txtDednName)').val(),
            hdnddlDedType: $('#@Html.FieldIdFor(model => model.hdnddlDedType)').val(),
            hdnddlValueType: $('#@Html.FieldIdFor(model => model.hdnddlValueType)').val(),
            txtValue: $('#@Html.FieldIdFor(model => model.txtValue)').val(),
            txtPerPayoutAmt: $('#@Html.FieldIdFor(model => model.txtPerPayoutAmt)').val(),
            txtMaxAmt: $('#@Html.FieldIdFor(model => model.txtMaxAmt)').val()


        };
        addAntiForgeryToken(data);
        return data;
    }
    </script>



    <script type="text/javascript">
        $(document).ready(function () {
            //  onDedTypeChangefn(1);
            $('#defineDeductionsNote').hide();
            $('#defineDeductionsTDSAmount').hide();
            $("#validationMessages").hide();
            $("#ddlPlanType").change(function () {
                BindDropdown();
            });
        });

        function BindDropdown() {
            //post data to the controller
            var postData = {
                selectedIds: $("#ddlPlanType").val()
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("BindDropdown", "CommisionSettings"))",
                data: postData,
                success: function (data) {

                    $("#ddlExclPlanType").html("");
                    $.each(data.ExcPlanList, function (i, plan) {
                        $("#ddlExclPlanType").append($('<option></option>').val(plan.Value).html(plan.Text))
                    })
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                },
                traditional: true
            });
            return false;
        }

        $("#chkAllPlan").change(function () {

            //$("#divDeductions").toggle();
            if ($(this).prop('checked')) {
                $("#ddlPlanType").prop("disabled", true);
                $("#ddlExclPlanType").prop("disabled", true);
                $("#ddlPlanType").prop('selectedIndex', 0);
                $("#ddlExclPlanType").prop('selectedIndex', 0);
                chkAll = true;
            }
            else {
                $("#ddlPlanType").prop("disabled", false);
                $("#ddlExclPlanType").prop("disabled", false);
                chkAll = false;
            }
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#defineDeductionsNote').hide();
            $('#defineDeductionsTDSAmount').hide();
            $('#defineDeductionsButton').hide();
            $("#validationMessages").hide();
            $("#rdSame").val('false');
            $("#rdDifferent").val('false');
            $("#rdSame").click(function () {
                if ($("#rdSame").val() == 'false') {
                    $("#rdSame").val('true');
                }
            });
            $("#rdDifferent").click(function () {
                if ($("#rdDifferent").val() == 'false') {
                    $("#rdDifferent").val('true');
                }
            });
        });
        $("#chk1AsTDs").change(function () {

            var grid =$("#customers-grid").data("kendoGrid");            
           
            //for text boxes
            //var thisTrInputs= $("#customers-grid tr:first").find('input');
            var thisTrInputs=grid.element.find('tbody tr:first').find('input');
            //for dropdowns
            var thisTrSelects=grid.element.find('tbody tr:first').find('select');

            if ($(this).prop('checked')) {
                
                
                $(thisTrInputs[2]).prop('disabled',true);
                $(thisTrInputs[3]).prop('disabled',true);
                $(thisTrInputs[4]).prop('disabled',true);

                $(thisTrInputs[2]).val('0');
                $(thisTrInputs[3]).val('0');
                $(thisTrInputs[4]).val('0');

                $(thisTrSelects[0]).prop('disabled',true);
                $(thisTrSelects[1]).prop('disabled',true);                    
                $(thisTrSelects[2]).val('1');

                chkTds=true;
            }
            else {
                

                $(thisTrInputs[2]).prop('disabled',false);
                $(thisTrInputs[3]).prop('disabled',false);
                $(thisTrInputs[4]).prop('disabled',false);
                $(thisTrSelects[0]).prop('disabled',false);
                $(thisTrSelects[1]).prop('disabled',false);    
                chkTds=false;
            }
        });
    </script>
}

<script>
    window.onbeforeunload = function () {
        var buttons = document.getElementsByTagName("BUTTON");
        for (var i in buttons) {
            if (buttons[i].type == "button" || buttons[i].type == "submit") {
                buttons[i].disabled = true;
            }
        }
    };
</script>