﻿@model Nop.Admin.Models.CommisionSettings.DefineRankModel
@using System.Globalization;
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Commission.Fields.DefineRank").Text;

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Define Rank");
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Commission.Fields.DefineRank")
        </h1>
        <div class="pull-right">
            <a href="@Url.Action("CreateRank")" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
            <div class="btn-group">
                <button type="submit" name="exportexcel-all" class="btn btn-success">
                    <i class="fa fa-download"></i>
                    @T("Admin.Common.ExportToExcel")
                </button>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="SameLevelBonus-grid"></div>

                        <script>
                            $(document).ready(function () {

                                $("#SameLevelBonus-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("RankList", "CommisionSettings"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: addAntiForgeryToken
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        numeric: false,
                                        previousNext: false,
                                        info: false
                                    },
                                    scrollable: true,
                                    dataBound: onDataBound,
                                    columns: [{
                                        field: "RankName",
                                        title: "@T("Commission.Commission.Fields.RankName")",
                                        width: 100
                                    },
                                                     @if (Model.PlanOn == "1")
                                            {
                        

                                                  if (Model.PlanBasedOn == "1")
                                                     {

                                                   <text>{
                                                         field: "LeftPV",
                                                         title: "@T("Admin.Commission.Fields.LeftPV")",
                                                         width: 100
                                                     },</text>

                                                    <text>{
                                                         field: "RightPV",
                                                         title: "@T("Admin.Commission.Fields.RightPV")",
                                                         width: 100
                                                     },</text>
                                                  }

                                 if (Model.PlanBasedOn == "2")
                                        {
                                             <text>{
                                                         field: "LeftBV",
                                                         title: "@T("Admin.Commission.Fields.LeftBV")",
                                                         width: 100
                                                     },</text>

                                             <text>{
                                                         field: "RightBV",
                                                         title: "@T("Admin.Commission.Fields.RightBV")",
                                                         width: 100
                                                     },</text>
                     
                                                     }
                                             if (Model.PlanBasedOn == "3")
                                                {
                                                    <text>{
                                                         field: "LeftSales",
                                                         title: "@T("Admin.Commission.Fields.LeftSales")",
                                                         width: 100
                                                     },</text>

                                                 <text>{
                                                         field: "RightSales",
                                                         title: "@T("Admin.Commission.Fields.RightSales")",
                                                         width: 100
                                                     },</text> }
                                                  }else
                                                     {
                            

                                                      if (Model.PlanBasedOn == "1")
                                                        {
                                                        <text>{
                                                                 field: "LeftPV",
                                                         title: "@T("Admin.Commission.Fields.TotalPv")",
                                                         width: 100
                                                     },</text>

                                                 }

                                                     if (Model.PlanBasedOn == "2")
                                                 {

                                                             <text>{
                                                         field: "LeftBV",
                                                         title: "@T("Admin.Commission.Fields.TotalBV")",
                                                         width: 100
                                                     },</text>

                                                        }


                                                         if (Model.PlanBasedOn == "3")
                                                            {
                                                                <text>{
                                                         field: "LeftSales",
                                                         title: "@T("Admin.Commission.Fields.TotalSales")",
                                                         width: 100
                                                     },</text>
                                                    }                }
                                                        {
                                                            field: "Id",
                                                            title: "@T("Admin.Common.Edit")",
                                                            template: '<a href="EditRank/#=Id#">@T("Admin.Common.Edit")</a>',
                                                            width: 100
                                                        }, 
                                    ]
                                });
                            });

                            function onDataBound(e) {


                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<table class="adminContent">
            <tr>
                <td>
                    <div id="rank-grid"></div>
                    <script>
                        $(document).ready(function () {

                            var data = {

                            };
                            addAntiForgeryToken(data);

                            $.ajax({
                                url: "@Html.Raw(Url.Action("DefineRankList", "CommisionSettings"))",
                                type: "POST",
                                dataType: "html",
                                data: data,
                                success: function (result) {

                                    $('#rank-grid').html(result);
                                },
                                error: function (xhr, textStatus, exceptionThrown) {
                                    $("#validationMessages").html("");
                                    $("#validationMessages").show();
                                    $("#validationMessages").html("@T("CommissionDetails.Kendo.Error")");
                                }
                            });
                        });

                        function additionalData() {
                            // 

                            var data = {
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    </script>
                </td>
            </tr>
        </table>*@
}

