﻿@model Nop.Admin.Models.CommisionSettings.DefineRoyaltyModel
@{

    ViewBag.Title = T("commission.fields.Editdefineroyalty").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @*<div class="alert alert-danger alert-dismissable" id="validationMessages">
        </div>*@
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("commission.fields.Editdefineroyalty")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.DefineRoyalty.BackToList").Text, "DefineRoyalty")</small>

        </h1>
        <div class="pull-right">
            <button type="submit" name="btnSave"  class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="btnDelete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </button>
        </div>
    </div>

    @Html.HiddenFor(model => model.RoyID)
    @Html.Partial("_createOrUpdateRoyalty", Model)

}


