﻿@model Nop.Admin.ViewModel.PaymentModesVM
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    ViewBag.Title = T("Admin.Customers.PaymentSettings").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Commision and Settings");
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="message-box message-box-error" id="validationMessages">
    </div>
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
            @T("Admin.Customers.PaymentSettings")
        </div>
    </div>
    <table class="adminContent">
        <tr>
            <td>
                <div id="customers-grid"></div>
                <script>
                    $(document).ready(function () {
                        $("#customers-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: '@Html.Raw(Url.Action("PaymodeSettings", "CommisionSettings"))',
                                        type: "POST",
                                        dataType: "json",
                                        async: false,
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function (e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            scrollable: true,
                            columns: [{
                                field: "PM_ID",
                                headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                template: "<input type='checkbox' value='#=PM_ID#'  class='checkboxGroups'/>",
                                width: 50
                            },
                              {
                                  field: "PM_ID",
                                  title: '@T("Admin.Customers.Customers.PM_ID")',
                                  hidden:true,
                                  width: 100
                              },

                {
                    field: "PM_Name",
                    title: '@T("Admin.Customers.Customers.Fields.PM_Name")',
                    width: 100
                },

                  {
                      field: "PM_MSMID",
                      title: '@T("Admin.Customers.Customers.Fields.PM_MSMID")',
                      width: 100
                  },

                  {
                      field: "PM_Flag",
                      title: '@T("Admin.Customers.Customers.Fields.PM_Flag")',
                      hidden:true,
                      width: 50
                  },

                  {
                      field: "PM_EpinFlg",
                      title: '@T("Admin.Customers.Customers.Fields.PM_EpinFlg")',
                      hidden:true,
                      width: 50
                  },

                  {
                      field: "PM_PaymentFlg",
                      title: '@T("Admin.Customers.Customers.Fields.PM_PaymentFlg")',
                      hidden:true,
                      width: 50
                  },

                  {
                      field: "PM_ShoppeFlg",
                      title: '@T("Admin.Customers.Customers.Fields.PM_ShoppeFlg")',
                      hidden:true,
                      width: 50
                  },

                  {
                      field: "PM_ResaleFlg",
                      title: '@T("Admin.Customers.Customers.Fields.PM_ResaleFlg")',
                      hidden:true,
                      width: 50
                  },

                  {
                      field: "PM_UpgradeFlg",
                      title: '@T("Admin.Customers.Customers.Fields.PM_UpgradeFlg")',
                      hidden:true,
                      width: 50
                  },

                                      {
                                          field: "PM_PCRFlg",
                                          title: '@T("Admin.Customers.Customers.Fields.PM_PCRFlg")',
                                          hidden:true,
                                          width: 50
                                      },

                                      {
                                          field: "PM_POFlg",
                                          title: '@T("Admin.Customers.Customers.Fields.PM_POFlg")',
                                          hidden:true,
                                          width: 50
                                      },{
                                          field: "PM_Flag",
                                          headerAttributes: { style: "text-align:center" },
                                          attributes: { style: "text-align:center" },
                                          template: "<input type='checkbox' checked='#=PM_Flag#'   class='registration'/>",
                                          width: 50
                                      },{
                                          field: "PM_EpinFlg",
                                          headerAttributes: { style: "text-align:center" },
                                          attributes: { style: "text-align:center" },
                                          template: "<input type='checkbox'  class='Epin'/>",
                                          width: 50
                                      }
                            ,{
                                field: "PM_PaymentFlg",
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                template: "<input type='checkbox'  class='Payment'/>",
                                width: 50
                            }
                            ,{
                                field: "PM_ShoppeFlg",
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                template: "<input type='checkbox'  class='Shoppe'/>",
                                width: 50
                            }
                            ,{
                                field: "PM_ResaleFlg",
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                template: "<input type='checkbox'  class='Resale'/>",
                                width: 50
                            }
                            ,{
                                field: "PM_UpgradeFlg",
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                template: "<input type='checkbox'  class='Upgrade'/>",
                                width: 50
                            },{
                                field: "PM_PCRFlg",
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                template: "<input type='checkbox'  class='PCRFlg'/>",
                                width: 50
                            }
                            ,{
                                field: "PM_POFlg",
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                template: "<input type='checkbox'  class='PM_POFlg'/>",
                                width: 50
                            }
                            ,{
                                field: "PM_DefaultPaymentFlg",
                                title: '@T("Admin.Customers.Customers.Fields.PM_DefaultPaymentFlg")',
                                hidden:true,
                                width: 50
                            }]
                        });
                    });
                </script>
                <script>
                    var selectedChecks= [];
                    var selectedIds = [];
                    var selectedEpin=[];
                    var selectedPayment=[];
                    var selectedShoppe=[];
                    var selectedResale=[];
                    var selectedUpgrade=[];
                    var selectedPCRFlg=[];
                    var selectedPM_POFlg=[];

                    //wire up checkboxes.
                    $('#customers-grid').on('change', 'input:checkbox.checkboxGroups', function (e) {
                        // alert("check");
                        var $check = $(this);
                        if ($check.is(":checked") == true) {
                            var checked = jQuery.inArray($check.val(), selectedChecks);
                            if (checked == -1) {
                                //add id to selectedIds.
                                selectedChecks.push($check.val());
                            }                          
                        }
                        else {
                            var checked = jQuery.inArray($check.val(), selectedChecks);
                            if (checked > -1) {
                                //remove id from selectedIds.
                                selectedChecks = $.grep(selectedChecks, function (item, index) {
                                    return item != $check.val();
                                });                               
                            }
                        }                       
                    });

                    //wire up checkboxes.
                    $('#customers-grid').on('change', 'input:checkbox.registration', function (e) {
                       // 
                        var $check = $(this);
                        if ($check.is(":checked") == true) {                            
                            var checked = jQuery.inArray($check.val(), selectedIds);                           
                            selectedIds.push($check.val());    
                            alert(selectedIds.length);
                        }
                        else {
                            var x = selectedIds.indexOf($(this).val());
                            selectedIds.splice(x,1);                           
                        }
                        //updateMasterCheckbox();
                    });

                    //wire up checkboxes.
                    $('#customers-grid').on('change', 'input:checkbox.Epin', function (e) {
                        var $check = $(this);
                        if ($check.is(":checked") == true) {                           
                            var checked = jQuery.inArray($check.val(), selectedEpin);                                                 
                                selectedEpin.push($check.val());                                                
                        }
                        else {
                            var x = selectedEpin.indexOf($(this).val());
                            selectedEpin.splice(x,1);                          
                        }
                        //updateMasterCheckbox();
                    });

                    //wire up checkboxes.
                    $('#customers-grid').on('change', 'input:checkbox.Payment', function (e) {
                        var $check = $(this);
                        if ($check.is(":checked") == true) {                         
                            var checked = jQuery.inArray($check.val(), selectedPayment);                                                       
                                selectedPayment.push($check.val());                                                      
                        }
                        else {
                            var x = selectedPayment.indexOf($(this).val());
                            selectedPayment.splice(x,1);                           
                        }
                        //updateMasterCheckbox();
                    });

                    //wire up checkboxes.
                    $('#customers-grid').on('change', 'input:checkbox.Shoppe', function (e) {
                        var $check = $(this);
                        if ($check.is(":checked") == true) {                          
                            var checked = jQuery.inArray($check.val(), selectedShoppe);                          
                                selectedShoppe.push($check.val());                                                   
                        }
                        else {
                            var x = selectedShoppe.indexOf($(this).val());
                            selectedShoppe.splice(x,1);   
                        }
                        //updateMasterCheckbox();
                    });
                    //wire up checkboxes.
                    $('#customers-grid').on('change', 'input:checkbox.Resale', function (e) {
                        var $check = $(this);
                        if ($check.is(":checked") == true) {                        
                            var checked = jQuery.inArray($check.val(), selectedResale);                           
                                selectedResale.push($check.val());                          
                        }
                        else {
                            var x = selectedResale.indexOf($(this).val());
                            selectedResale.splice(x,1);   
                        }
                        //updateMasterCheckbox();
                    });

                    //wire up checkboxes.
                    $('#customers-grid').on('change', 'input:checkbox.selectedUpgrade', function (e) {
                        var $check = $(this);
                        if ($check.is(":checked") == true) {                         
                            var checked = jQuery.inArray($check.val(), selectedUpgrade);                           
                                selectedUpgrade.push($check.val());                          
                        }
                        else {
                            var x = selectedUpgrade.indexOf($(this).val());
                            selectedUpgrade.splice(x,1);   
                        }
                        //updateMasterCheckbox();
                    });

                    //wire up checkboxes.
                    $('#customers-grid').on('change', 'input:checkbox.PCRFlg', function (e) {
                        var $check = $(this);
                        if ($check.is(":checked") == true) {
                            alert("Hi");
                            var checked = jQuery.inArray($check.val(), selectedPCRFlg);                           
                                selectedPCRFlg.push($check.val());                       
                        }
                        else {
                            var x = selectedPCRFlg.indexOf($(this).val());
                            selectedPCRFlg.splice(x,1);   
                        }
                        //updateMasterCheckbox();
                    });

                    //wire up checkboxes.
                    $('#customers-grid').on('change', 'input:checkbox.PM_POFlg', function (e) {
                        var $check = $(this);
                        if ($check.is(":checked") == true) {                          
                            var checked = jQuery.inArray($check.val(), selectedPM_POFlg)                           
                                selectedPM_POFlg.push($check.val());                           
                        }
                        else {
                            var x = selectedPM_POFlg.indexOf($(this).val());
                            selectedPM_POFlg.splice(x,1);   
                        }
                        //updateMasterCheckbox();
                    });                   

                    $(document).ready(function()
                    {
                        var validationDivs='';
                        $('#validationMessages').html('');

                        $('#btnProceed').click(function(e) {
                            alert($('[name="BankId"]').val());
                            e.preventDefault();
                            var postData = {
                                selectedChecks: selectedChecks,
                                selectedIds: selectedIds,
                                selectedEpin: selectedEpin,
                                selectedPayment: selectedPayment,
                                selectedShoppe: selectedShoppe,
                                selectedResale: selectedResale,
                                selectedUpgrade: selectedUpgrade,
                                selectedPCRFlg: selectedPCRFlg,
                                selectedPM_POFlg: selectedPM_POFlg,
                                BankId:$('[name="BankId"]').val() ,
                                PRID: $('[name="PRID"]').val()
                            };
                            addAntiForgeryToken(postData);

                            $.ajax({
                                cache: false,
                                type: "POST",
                                url: "@(Url.Action("SavePaymodeSettings", "CommisionSettings"))",
                                data: postData,
                                success: function (data) {  
                                    // alert("Paymode Updated Successfully");
                                    validationDivs=validationDivs+'<div>@T("Admin.Customers.PaymodeSettingPaymodeUpdatedSuccessfully")</div>';
                                    $('#validationMessages').append(validationDivs);
                                },
                                error: function(xhr, ajaxOptions, thrownError) {
                                    alert(thrownError);
                                },
                                traditional: true
                            });
                            return false;                       
                        });
                    });
                </script>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="adminTitle">
                @Html.LabelFor(model => model.Bank):
            </td>
            <td class="adminData">
                @foreach (var attributeValue in Model.bankList)
                {
                    <div>
                        <input id="@attributeValue.Value" type="checkbox" name="BankId" value="@attributeValue.Value" />
                        <label for="@attributeValue">@attributeValue.Text</label>                       
                    </div>
                }
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.LabelFor(model => model.PaymodeReciept):
            </td>
            <td class="adminData">
                @foreach (var attributeValue in Model.paymodeRecieptList)
                {
                    <div>
                        <input id="@attributeValue.Value" type="radio" name="PRID" value="@attributeValue.Value" />
                        <label for="@attributeValue">@attributeValue.Text</label>
                    </div>
                }
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="adminData">
                <input type="submit" id="btnProceed" name="Command" class=" k-button" value="Save" />
            </td>
        </tr>
    </table>
}