﻿@model Nop.Admin.Models.CommisionSettings.CommisionSettingsModel
@{
    ViewBag.Title = T("Admin.Customers.Customers.AddCommisionSettings").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Commision and Settings");
}


<script>
    $(document).ready(function () {
        bindBootstrapTabSelectEvent('customer-edit');
    });
</script>
@{



}
@*@using (Html.BeginForm("Update", "Shopping", FormMethod.Post))
    {*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.EnableBinaryCommisionSettings)
    @Html.HiddenFor(model => model.EnableDirectCommisionSettings)
    @Html.HiddenFor(model => model.EnableLevelCommisionSettings)
    @Html.HiddenFor(model => model.EnablePayoutCommisionSettings)
    @Html.HiddenFor(model => model.EnableRefferalCommisionSettings)
    @Html.HiddenFor(model => model.EnableRepurchaseCommisionSettings)
    @Html.HiddenFor(model => model.EnableRoyaltyCommisionSettings)
    @Html.HiddenFor(model => model.EnableSchemeCommisionSettings)
    @Html.HiddenFor(model => model.EnableSpillCommisionSettings)
    @Html.HiddenFor(model => model.EnableSpillNWCommisionSettings)
    @Html.HiddenFor(model => model.EnableRepurchaseCommisionSettings)
    @Html.HiddenFor(model => model.EnableAwardCommisionSettings)
    @Html.HiddenFor(model => model.EnableMultiBinaryIncomeSettings)
    @Html.HiddenFor(model => model.ddlNumberBinary)
    
    @*<div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>*@
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Customers.Customers.AddCommisionSettings")
        </h1>

        <div class="pull-right">
            <button type="submit" name="save" id="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div id="customer-edit" class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    @{

                        int i = 0;


                    }
                    @if (Model.EnableMultiBinaryIncomeSettings)
                    {

                        i = 1;
                        @Html.RenderBootstrapTabHeader("tab-MultiBinaryIncomeMst", @T("Admin.Payoutsetting.MultiBinaryIncomeMaster"), true)

                    }
                    @if (Model.EnableBinaryCommisionSettings)
                    {

                        if (i > 0)
                        {
                            @Html.RenderBootstrapTabHeader("tab-binarysetting", @T("Admin.Customers.Customers.BinarySetting"))
                        }
                        else
                        {
                            i = 1;
                            @Html.RenderBootstrapTabHeader("tab-binarysetting", @T("Admin.Customers.Customers.BinarySetting"), true)
                        }
                    }

                    @if (Model.EnableDirectCommisionSettings)
                    {
                        if (i > 0)
                        {
                            @Html.RenderBootstrapTabHeader("tab-directsetting", @T("Admin.Customers.Customers.DirectSetting"))
                        }
                        else
                        {
                            i = 1;
                            @Html.RenderBootstrapTabHeader("tab-directsetting", @T("Admin.Customers.Customers.DirectSetting"), true)
                        }
                    }
                    @if (Model.EnableSpillCommisionSettings)
                    {
                        if (i > 0)
                        {
                            @Html.RenderBootstrapTabHeader("tab-spillsetting", @T("Admin.Customers.Customers.SpillSetting"))
                        }
                        else
                        {
                            i = 1;
                            @Html.RenderBootstrapTabHeader("tab-spillsetting", @T("Admin.Customers.Customers.SpillSetting"), true)
                        }
                    }

                    @if (Model.EnableSpillNWCommisionSettings)
                    {
                        if (i > 0)
                        {
                            @Html.RenderBootstrapTabHeader("tab-spillnetworksetting", @T("Admin.Customers.Customers.SpillNwSetting"))
                        }
                        else
                        {
                            i = 1;
                            @Html.RenderBootstrapTabHeader("tab-spillnetworksetting", @T("Admin.Customers.Customers.SpillNwSetting"), true)
                        }
                    }

                    @if (Model.EnableRoyaltyCommisionSettings)
                    {
                        if (i > 0)
                        {
                            @Html.RenderBootstrapTabHeader("tab-royalty", @T("Admin.Customers.Customers.RoyaltySetting"))
                        }
                        else
                        {
                            i = 1;
                            @Html.RenderBootstrapTabHeader("tab-royalty", @T("Admin.Customers.Customers.RoyaltySetting"), true)
                        }
                    }

                    @if (Model.EnableRepurchaseCommisionSettings)
                    {
                        if (i > 0)
                        {
                            @Html.RenderBootstrapTabHeader("tab-repurchasesetting", @T("Admin.Customers.Customers.RepurchaseSetting"))
                        }
                        else
                        {
                            i = 1;
                            @Html.RenderBootstrapTabHeader("tab-repurchasesetting", @T("Admin.Customers.Customers.RepurchaseSetting"), true)
                        }
                    }

                    @if (Model.EnableLevelCommisionSettings)
                    {
                        if (i > 0)
                        {
                            @Html.RenderBootstrapTabHeader("tab-levelsetting", @T("Admin.Customers.Customers.LevelSetting"))
                        }
                        else
                        {
                            i = 1;
                            @Html.RenderBootstrapTabHeader("tab-levelsetting", @T("Admin.Customers.Customers.LevelSetting"), true)
                        }
                    }

                    @if (Model.EnableRefferalCommisionSettings)
                    {
                        if (i > 0)
                        {
                            @Html.RenderBootstrapTabHeader("tab-referalincome", @T("Admin.Customers.Customers.ReferralSetting"))
                        }
                        else
                        {
                            i = 1;
                            @Html.RenderBootstrapTabHeader("tab-referalincome", @T("Admin.Customers.Customers.ReferralSetting"), true)
                        }
                    }

                    @if (Model.EnableAwardCommisionSettings)
                    {
                        if (i > 0)
                        {
                            @Html.RenderBootstrapTabHeader("tab-awardsetting", @T("Admin.Customers.Customers.AwardSetting"))
                        }
                        else
                        {
                            i = 1;
                            @Html.RenderBootstrapTabHeader("tab-awardsetting", @T("Admin.Customers.Customers.AwardSetting"), true)
                        }
                    }

                    @if (Model.EnableSchemeCommisionSettings)
                    {
                        if (i > 0)
                        {
                            @Html.RenderBootstrapTabHeader("tab-schemesetting", @T("Admin.Customers.Customers.SchemeSetting"))
                        }
                        else
                        {
                            i = 1;
                            @Html.RenderBootstrapTabHeader("tab-schemesetting", @T("Admin.Customers.Customers.SchemeSetting"), true)
                        }
                    }
                    @if (Model.EnablePayoutCommisionSettings)
                    {


                        @Html.RenderBootstrapTabHeader("tab-conditionforpayout", @T("Admin.Customers.Customers.ConditionforPayout"))
                    }


                    @Html.RenderBootstrapTabHeader("tab-payoutscheduler", @T("Admin.Customers.Customers.PayoutScheduler"))

                </ul>
                <div class="tab-content">
                    @{
                        i = 0;
                    }
                    @if (Model.EnableMultiBinaryIncomeSettings)
                    {


                        i = 1;
                        @Html.RenderBootstrapTabContent("tab-MultiBinaryIncomeMst", TabMultiBinaryIncomeMst(), true)

                    }

                    @if (Model.EnableBinaryCommisionSettings)
                    {

                        if (i > 0)
                        {
                            @Html.RenderBootstrapTabContent("tab-binarysetting", @TabBinarySetting())
                        }
                        else
                        {
                            i = 1;
                            @Html.RenderBootstrapTabContent("tab-binarysetting", @TabBinarySetting(), true)
                        }
                    }

                    @if (Model.EnableDirectCommisionSettings)
                    {
                        if (i > 0)
                        {
                            @Html.RenderBootstrapTabContent("tab-directsetting", @TabDirectSetting())
                        }
                        else
                        {
                            i = 1;
                            @Html.RenderBootstrapTabContent("tab-directsetting", @TabDirectSetting(), true)
                        }
                    }

                    @if (Model.EnableSpillCommisionSettings)
                    {
                        if (i > 0)
                        {
                            @Html.RenderBootstrapTabContent("tab-spillsetting", @TabSpillSetting())
                        }
                        else
                        {
                            i = 1;
                            @Html.RenderBootstrapTabContent("tab-spillsetting", @TabSpillSetting(), true)
                        }
                    }

                    @if (Model.EnableSpillNWCommisionSettings)
                    {
                        if (i > 0)
                        {
                            @Html.RenderBootstrapTabContent("tab-spillnetworksetting", @TabSpillNeworkSetting())
                        }
                        else
                        {
                            i = 1;
                            @Html.RenderBootstrapTabContent("tab-spillnetworksetting", @TabSpillNeworkSetting(), true)
                        }
                    }

                    @if (Model.EnableRoyaltyCommisionSettings)
                    {
                        if (i > 0)
                        {
                            @Html.RenderBootstrapTabContent("tab-royalty", @TabRoyaltySetting())
                        }
                        else
                        {
                            i = 1;
                            @Html.RenderBootstrapTabContent("tab-royalty", @TabRoyaltySetting(), true)
                        }
                    }

                    @if (Model.EnableRepurchaseCommisionSettings)
                    {
                        if (i > 0)
                        {
                            @Html.RenderBootstrapTabContent("tab-repurchasesetting", @TabRepurchaseSetting())
                        }
                        else
                        {
                            i = 1;
                            @Html.RenderBootstrapTabContent("tab-repurchasesetting", @TabRepurchaseSetting(), true)
                        }
                    }

                    @if (Model.EnableLevelCommisionSettings)
                    {
                        if (i > 0)
                        {
                            @Html.RenderBootstrapTabContent("tab-levelsetting", @TabLevelSetting())
                        }
                        else
                        {
                            i = 1;
                            @Html.RenderBootstrapTabContent("tab-levelsetting", @TabLevelSetting(), true)
                        }
                    }

                    @if (Model.EnableRefferalCommisionSettings)
                    {
                        if (i > 0)
                        {
                            @Html.RenderBootstrapTabContent("tab-referalincome", @TabReferralSetting())
                        }
                        else
                        {
                            i = 1;
                            @Html.RenderBootstrapTabContent("tab-referalincome", @TabReferralSetting(), true)
                        }
                    }
                    @if (Model.EnableSchemeCommisionSettings)
                    {
                        if (i > 0)
                        {
                            @Html.RenderBootstrapTabContent("tab-schemesetting", @TabSchemeSetting())
                        }
                        else
                        {
                            i = 1;
                            @Html.RenderBootstrapTabContent("tab-schemesetting", @TabSchemeSetting(), true)
                        }
                    }
                    @if (Model.EnableAwardCommisionSettings)
                    {
                        if (i > 0)
                        {
                            @Html.RenderBootstrapTabContent("tab-awardsetting", @TabAwardSetting())
                        }
                        else
                        {
                            i = 1;
                            @Html.RenderBootstrapTabContent("tab-awardsetting", @TabAwardSetting(), true)
                        }
                    }

                    @if (Model.EnablePayoutCommisionSettings)
                    {
                        if (i > 0)
                        {
                            @Html.RenderBootstrapTabContent("tab-conditionforpayout", @TabConditionforPayout())
                        }
                        else
                        {
                            i = 1;
                            @Html.RenderBootstrapTabContent("tab-conditionforpayout", @TabConditionforPayout(), true)
                        }
                    }


                    @Html.RenderBootstrapTabContent("tab-payoutscheduler", @TabPayoutScheduler())
                </div>
            </div>
        </div>
    </div>

                        {
                            //custom tabs
                            var eventMessage = new AdminTabStripCreated(this.Html, "customer-edit");
                            EngineContext.Current.Resolve<IEventPublisher>
                        ().Publish(eventMessage);
                            foreach (var eventBlock in eventMessage.BlocksToRender)
                            {
                                @eventBlock
                            }
                        }
                        @helper TabMultiBinaryIncomeMst()
                        {
                            @Html.Partial("_MultiBinIncList", Model)
}

                        @helper TabBinarySetting()
                        {

                            <div class="content-header clearfix">
                                <div class="pull-right">
                                    @if (Model.ddlNumberBinary == 2)
                                    {
                                        
                                        <button type="button" class="btn btn-success " name="multipleBinarysettingMst" id="multipleBinarysettingMst">
                                            <i class="fa fa-floppy-o"></i>
                                            @T("Admin.Common.Save")
                                        </button>
                                        @*<input type="submit" value="Save" formaction="multipleBinarysettingMst" class="btn btn-primary" />*@
                                    }
                                </div>
                            </div>
                            <div class="panel-group" id="MultipleBinaryIncomeSettingDiv">
                                @Html.Partial("_MultipleBinaryIncomeSetting", Model)
                            </div>
}
                        @helper TabDirectSetting()
                        {
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ddlDirectInc)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopDropDownList("ddlDirectInc", new List<SelectListItem>
                            () {
                            new SelectListItem { Text = "All Directs", Value = "1" },
                            new SelectListItem { Text = "Limited to no. of Directs", Value = "2" } })
                                            </div>
                                        </div>
                                        <div class="form-group" id="divDirects">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.txtDirects)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopEditorFor(model => model.txtDirects)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ddlDirectCalc)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopDropDownList("ddlDirectCalc", new List<SelectListItem>
                            () {
                            new SelectListItem { Text = "Fixed Amount per Direct", Value = "1" },
                            new SelectListItem { Text = "% of Joining Package amount", Value = "2" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
}
                        @helper TabSpillSetting()
                        {
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ddlSpillCalc)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopDropDownList("ddlSpillCalc", new List<SelectListItem>
                            () {
                            new SelectListItem { Text = "Fixed Amount per Direct", Value = "1" },
                            new SelectListItem { Text = "% of Joining Package amount", Value = "2" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
}

                        @helper TabSpillNeworkSetting()
                        {
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ddlSpillNwCalc)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopDropDownList("ddlSpillNwCalc", new List<SelectListItem>
                            () {
                            new SelectListItem { Text = "Fixed Amount per Direct", Value = "1" },
                            new SelectListItem { Text = "% of Joining Package amount", Value = "2" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
}
                        @helper TabRoyaltySetting()
                        {
                            <div class="panel-group">
                                <div class="panel panel-default">

                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ddlRoyBased)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopDropDownListFor(model => model.ddlRoyBased,
                        new List<SelectListItem>
                            () {
                            new SelectListItem { Text = "Select", Value = "" },
                            new SelectListItem { Text = "Counts", Value = "1" },
                            new SelectListItem { Text = "PV", Value = "2" },
                            new SelectListItem { Text = "Sales", Value = "3" },
                            new SelectListItem { Text = "On Direct basis", Value = "4" },
                            new SelectListItem { Text = "BV", Value = "6" }})
                                                @Html.ValidationMessageFor(model => model.ddlRoyBased)
                                            </div>
                                        </div>

                                        <div class="form-group" id="showOnPvBVSales">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ddlRoyBusConsidOn)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopDropDownListFor(model => model.ddlRoyBusConsidOn, new List<SelectListItem>
                            ()
                            { new SelectListItem { Text = "Select", Value = "" },
                            new SelectListItem { Text = "Joining", Value = "1" },
                            new SelectListItem { Text = "Repurchase", Value = "2" },
                            new SelectListItem { Text = "Both", Value = "3" } })
                                                @Html.ValidationMessageFor(model => model.ddlRoyBusConsidOn)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ddlRoyType)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopDropDownListFor(model => model.ddlRoyType, new List<SelectListItem>
                            ()
                            { new SelectListItem { Text = "Select", Value = "" },
                            new SelectListItem { Text = "Passive", Value = "1" },
                            new SelectListItem { Text = "Active", Value = "2" } })
                                                @Html.ValidationMessageFor(model => model.ddlRoyType)
                                            </div>
                                        </div>

                                        <div class="form-group" id="showOnActiveTypeSelect">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ISTotal)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopEditorFor(model => model.ISTotal)
                                                @Html.ValidationMessageFor(model => model.ISTotal)

                                            </div>
                                        </div>

                                        <div class="form-group" id="showOnActiveTypeSelectCri">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ddlRoyCri)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopDropDownListFor(model => model.ddlRoyCri, new List<SelectListItem>
                            ()
                            { new SelectListItem { Text = "Select", Value = "" },
                            new SelectListItem { Text = "From Same Payout", Value = "1" },
                            new SelectListItem { Text = "From Next Payout", Value = "2" } })
                                                @Html.ValidationMessageFor(model => model.ddlRoyCri)
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                                <div class="col-md-3">
                                                    @Html.NopLabelFor(model => model.ddlActiveRoyPayotCondition)
                                                </div>
                                                <div class="col-md-9">
                                                    @Html.NopDropDownListFor(model => model.ddlActiveRoyPayotCondition, new List<SelectListItem>
                                                        ()
                                                        { new SelectListItem { Text = "Select", Value = "0" },
                                                        new SelectListItem { Text = "Left / Right Business", Value = "1" },
                                                        new SelectListItem { Text = "Total Business", Value = "2" } })
                                                </div>
                                            </div>*@

                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ddlIncomestart)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopDropDownListFor(model => model.ddlIncomestart, new List<SelectListItem>
                            ()
                            { new SelectListItem { Text = "Select", Value = "" },
                            new SelectListItem { Text = "From Same Payout", Value = "1" },
                            new SelectListItem { Text = "From Next Payout", Value = "2" } })
                                                @Html.ValidationMessageFor(model => model.ddlIncomestart)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ddlEligible)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopDropDownListFor(model => model.ddlEligible, new List<SelectListItem>
                            ()
                            { new SelectListItem { Text = "Select", Value = "" },
                            new SelectListItem { Text = "Highest Royalty Only", Value = "1" },
                            new SelectListItem { Text = "All Qualified Royalty", Value = "2" } })
                                                @Html.ValidationMessageFor(model => model.ddlEligible)
                                            </div>
                                        </div>


                                        <div class="form-group" id="BaseOnBvPvSales">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ddlTOBasedOn)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopDropDownListFor(model => model.ddlTOBasedOn, new List<SelectListItem>()
                            { new SelectListItem { Text = "Select", Value = "" },
                            new SelectListItem { Text = "PV", Value = "1" },
                            new SelectListItem { Text = "BV", Value = "2" },
                            new SelectListItem { Text = "Sales", Value = "3" }})
                                                @Html.ValidationMessageFor(model => model.ddlTOBasedOn)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ddlRoyResAmt)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopDropDownListFor(model => model.ddlRoyResAmt, new List<SelectListItem>
                            ()
                            { new SelectListItem { Text = "Select", Value = "" },
                            new SelectListItem { Text = "Royalty-wise", Value = "1" },
                            new SelectListItem { Text = "Package-wise", Value = "2" },
                            new SelectListItem { Text = "Package & Royalty wise", Value = "3" }})
                                                @Html.ValidationMessageFor(model => model.ddlRoyResAmt)
                                            </div>
                                        </div>
                                        <div class="form-group" id="showONPvBvSalesOn">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.percentOfComapnyTO)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(model => model.percentOfComapnyTO, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.percentOfComapnyTO)
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                                <div class="col-md-3">
                                                    @Html.NopLabelFor(model => model.equalDiastribute)
                                                </div>
                                                <div class="col-md-9">
                                                    @Html.NopEditorFor(model => model.equalDiastribute)

                                                </div>
                                            </div>*@

                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ddlPayoutLimit)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopDropDownListFor(model => model.ddlPayoutLimit, new List<SelectListItem>
                            ()
                            { new SelectListItem { Text = "Select", Value = "" },
                            new SelectListItem { Text = "No", Value = "1" },
                            new SelectListItem { Text = "Yes", Value = "2" }  })
                                                @Html.ValidationMessageFor(model => model.ddlPayoutLimit)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ddlCappingflag)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopDropDownListFor(model => model.ddlCappingflag, new List<SelectListItem>
                            ()
                            { new SelectListItem { Text = "Select", Value = "" },
                            new SelectListItem { Text = "No", Value = "1" },
                            new SelectListItem { Text = "Yes", Value = "2" } })
                                                @Html.ValidationMessageFor(model => model.ddlCappingflag)
                                            </div>
                                        </div>

                                        <div class="form-group" id="ShowCappingOn">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ddlCappingOn)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopDropDownListFor(model => model.ddlCappingOn, new List<SelectListItem>
                            ()
                            { new SelectListItem { Text = "Select", Value = "" },
                            new SelectListItem { Text = "Payout-wise", Value = "1" },
                            new SelectListItem { Text = "Cummulative", Value = "2" } })
                                                @Html.ValidationMessageFor(model => model.ddlCappingOn)
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
}
                        @helper TabRepurchaseSetting()
                        {
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ddlRpLvlBasedOn)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopDropDownList("ddlRpLvlBasedOn", new List<SelectListItem>
                            () {
                            new SelectListItem { Text = "Amount", Value = "1" }, new SelectListItem { Text = "PV", Value = "2" } })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ddlRpTreeType)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopDropDownList("ddlRpTreeType", new List<SelectListItem>
                            () {
                            new SelectListItem { Text = "Binary tree", Value = "1" }, new SelectListItem { Text = "Generation tree", Value = "2" } })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.txtRpIncLevels)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopEditorFor(model => model.txtRpIncLevels)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ddlRpLvlValue)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopDropDownList("ddlRpLvlValue", new List<SelectListItem>
                            () {
                            new SelectListItem { Text = "For All Level(s)", Value = "1" }, new SelectListItem { Text = "Different Level-wise", Value = "2" } })
                                            </div>
                                        </div>
                                        <div class="form-group" id="divLevelWise">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.txtRpLvlIncValue)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopEditorFor(model => model.txtRpLvlIncValue)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div id="tblShowLevelTable">
                                                <div id="pnlLoadRepurchaseGrid">
                                                    <a href="#" id="anchorLoadRepurchaseGrid">@T("Admin.commissionsettings.payoutsettings.Loadgrid")</a> @T("Admin.commissionsettings.payoutsettings.Loadgrid.Amount")

                                                    <div class="form-group" id="diffRepurchaseGrid">
                                                        <div id="levelRepurchaseGrid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

}
                        @helper TabLevelSetting()
                        {

List<SelectListItem>
    ddlLvlBasedOn = new List<SelectListItem>
    {
            new SelectListItem { Text = "Count", Value = "1", Selected=true },
            new SelectListItem { Text = "PV", Value = "2" },
            new SelectListItem { Text = "Sales", Value = "3" },
            new SelectListItem { Text = "BV", Value = "4" }
    };

List<SelectListItem>
    ddlTreeType = new List<SelectListItem>
            {
                    new SelectListItem { Text = "Binary tree", Value = "1", Selected=true },
                    new SelectListItem { Text = "Generation tree", Value = "2" }

            };

List<SelectListItem>
    ddlReleaseOn = new List<SelectListItem>
                    {
                            new SelectListItem { Text = "Actual no. of ID's at P.O. Calculation", Value = "1", Selected=true },
                            new SelectListItem { Text = "Completion of a particular Level", Value = "2" }

                    };


    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ddlLvlBasedOn)
                    </div>
                    <div class="col-md-9">



                        @Html.NopDropDownList("ddlLvlBasedOn", ddlLvlBasedOn)

                        @*@Html.NopDropDownList("ddlLvlBasedOn", new List<SelectListItem>
                            () {
                            new SelectListItem { Text = "Count", Value = "1" },
                            new SelectListItem { Text = "PV", Value = "2" },
                            new SelectListItem { Text = "Sales", Value = "3" },
                            new SelectListItem { Text = "BV", Value = "4" } })*@

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ddlTreeType)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownList("ddlTreeType", ddlTreeType)
                        @*@Html.NopDropDownList("ddlTreeType", new List<SelectListItem>
                            () {
                            new SelectListItem { Text = "Binary tree", Value = "1" }, new SelectListItem { Text = "Generation tree", Value = "2" } })*@
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.txtIncLevels)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.txtIncLevels)
                    </div>
                </div>
                <div class="form-group" id="ShowBinaryPanel">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ddlReleaseOn)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownList("ddlReleaseOn", new List<SelectListItem>
                                                    () {
                                                    new SelectListItem { Text = "Actual no. of ID's at P.O. Calculation", Value = "1" }, new SelectListItem { Text = "Completion of a particular Level", Value = "2" } })
                    </div>
                </div>
                <div class="form-group" id="ShowGenrationPanel">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ddlReleaseOn)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownList("ddlReleaseOn", new List<SelectListItem>
                                                    () {
                                                    new SelectListItem { Text = "Actual no. of ID's at P.O. Calculation", Value = "1" } })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ddlLvlValue)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownList("ddlLvlValue", new List<SelectListItem>
                                                    () {
                                                    new SelectListItem { Text = "For All Level(s)", Value = "1" },
                                                    new SelectListItem { Text = "Different Level-wise", Value = "2" } })
                    </div>
                </div>
                <div class="form-group" id="ShowCommision">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.IncomeBasesOn)
                    </div>
                    <div class="col-md-9">
                        @Html.CheckBoxFor(model => model.IncomeBasesOn)
                    </div>
                </div>
                <div class="form-group" id="divLevelAmount">

                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.txtLvlIncValue)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.txtLvlIncValue)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="diffLevelGrid">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div id="pnlLoadGrid">
                            <p> <strong><a href="#" id="anchorLoadGrid">@T("Admin.commissionsettings.payoutsettings.Loadgrid")</a> @T("Admin.commissionsettings.payoutsettings.Loadgrid.Amount")</strong>  </p>
                        </div>
                    </div>
                </div>
                <div id="levelGrid">
                </div>
            </div>
        </div>
    </div>
}
                        @helper TabReferralSetting()
                        {
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ddlRefIncFor)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopDropDownList("ddlRefIncFor", new List<SelectListItem>
                                                    () {
                                                    new SelectListItem { Text = "All Directs", Value = "1" },
                                                    new SelectListItem { Text = "Limited to no. of directs", Value = "2" } })
                                            </div>
                                        </div>
                                        <div class="form-group" id="divRefDirects">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.txtRefDirects)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopEditorFor(model => model.txtRefDirects)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ddlRefIncOn)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopDropDownList("ddlRefIncOn", new List<SelectListItem>
                                                    () {
                                                    new SelectListItem { Text = "Binary Earnings of my Direct(s)", Value = "1" },
                                                    new SelectListItem { Text = "All types of Binary Payout (except matching income)", Value = "2" } })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.txtRefPercent)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopEditorFor(model => model.txtRefPercent)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
}
                        @helper TabAwardSetting()
                        {
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ddlAwdBasedOn)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopDropDownList("ddlAwdBasedOn", new List<SelectListItem>
                                                    ()
                                                    { new SelectListItem { Text = "Counts", Value = "1" },
                                                    new SelectListItem { Text = "PV", Value = "2" },
                                                    new SelectListItem { Text = "Sales", Value = "3" },
                                                    new SelectListItem { Text = "On Direct basis", Value = "4" },
                                                    new SelectListItem { Text = "BV", Value = "6" }})
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.AchivementMsg)
                                            </div>
                                            <div class="col-md-3"></div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.TimeCriteria)
                                            </div>
                                            <div class="col-md-9">
                                                <span>
                                                    @Html.RadioButton("rdTimeLimit", "No Time-Limit", (Model.rdNoTimeLimit), new { id = "rdNoTimeLimit" })
                                                    <label class="forcheckbox" for="gender-male">@T("Account.Fields.NoTimeLimit")</label>
                                                </span>
                                                <span>
                                                    <br />
                                                    @Html.RadioButton("rdTimeLimit", "Time-Limit", (Model.rdTimeLimit), new { id = "rdTimeLimit" })
                                                    <label class="forcheckbox" for="gender-male">@T("Account.Fields.TimeLimit")</label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-9"></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.CountCriteria)
                                            </div>
                                            <div class="col-md-9">
                                                <span>
                                                    @Html.RadioButton("rdFresh", "Cummulative basis", (Model.rdCummulative), new { id = "rdCummulative" })
                                                    <label class="forcheckbox" for="gender-male">@T("Account.Fields.Cummulativebasis")</label>
                                                </span>
                                                <span>
                                                    <br />
                                                    @Html.RadioButton("rdFresh", "Fresh for every Award", (Model.rdFresh), new { id = "rdFresh" })
                                                    <label class="forcheckbox" for="gender-male">@T("Account.Fields.FreshAward")</label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-3"></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.AwardClaiming)
                                            </div>
                                            <div class="col-md-9">
                                                <span>
                                                    @Html.RadioButton("rdClaim", "No Claim", (Model.rdNoClaim), new { id = "rdNoClaim" })
                                                    <label class="forcheckbox" for="gender-male">@T("Account.Fields.NoClaim")</label>
                                                </span>
                                                <span>
                                                    <br />
                                                    @Html.RadioButton("rdClaim", "With Claim", (Model.rdClaim), new { id = "rdClaim" })
                                                    <label class="forcheckbox" for="gender-male">@T("Account.Fields.WithClaim")</label>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
}
                        @helper TabSchemeSetting()
                        {
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ddlSchBasedOn)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopDropDownList("ddlSchBasedOn", new List<SelectListItem>
                                                    ()
                                                    { new SelectListItem { Text = "Counts", Value = "1" },
                                                    new SelectListItem { Text = "PV", Value = "2" },
                                                    new SelectListItem { Text = "Sales", Value = "3" },
                                                    new SelectListItem { Text = "On Direct basis", Value = "4" },
                                                    new SelectListItem { Text = "BV", Value = "6" }})
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ddlscheme)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopDropDownList("ddlscheme", new List<SelectListItem>
                                                    () {
                                                    new SelectListItem { Text = "Binary tree", Value = "1" },
                                                    //new SelectListItem { Text = "Generation tree", Value = "2" }
                                                    })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
}
                        @helper TabConditionforPayout()
                        {
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @*Do you require extra Counts/PVs in Power Leg?*@
                                                @Html.NopLabelFor(model => model.chkPowerLeg)
                                            </div>
                                            <div class="col-md-3">

                                                @Html.NopEditorFor(model => model.chkPowerLeg)

                                            </div>
                                        </div>
                                        <div class="form-group" id="divTail">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.txtTailValue)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopEditorFor(model => model.txtTailValue)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.chkPODirects)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.NopEditorFor(model => model.chkPODirects)
                                                @Html.NopDropDownList("ddlPOWhere", new List<SelectListItem>
                                                    () {
                                                    new SelectListItem { Text = "In Individual Leg", Value = "1" },
                                                    new SelectListItem { Text = "Cummulative", Value = "2" } })

                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                                        <td>@Html.NopLabelFor(model => model.ddlPOWhere)
                                                    </div>
                                                    <td>

                                                </div>
                                            </div>*@
                                        <div class="form-group" id="divLeftRight">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.enterNODirects)
                                            </div>
                                            <div class="col-md-9"></div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <div id="divLeft">@Html.NopLabelFor(model => model.txtLPODirects)</div>
                                                <div id="divTotal">@Html.NopLabelFor(model => model.txttotalPODirects)</div>
                                            </div>
                                            <div class="col-md-9">@Html.NopEditorFor(model => model.txtLPODirects)</div>
                                        </div>
                                        <div class="form-group" id="divRight">
                                            <div class="col-md-3">@Html.NopLabelFor(model => model.txtRPODirects)</div>
                                            <div class="col-md-9">@Html.NopEditorFor(model => model.txtRPODirects)</div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.ddlPOStatus)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.NopDropDownList("ddlPOStatus", new List<SelectListItem>
                                            () {
                                            new SelectListItem { Text = "Paid", Value = "5" },
                                            new SelectListItem { Text = "Any", Value = "0" } })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.chkPanCard)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.NopEditorFor(model => model.chkPanCard)

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.chkupgrade)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.NopEditorFor(model => model.chkupgrade)


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
}

                        @helper TabPayoutScheduler()
                        {
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @*Do you require extra Counts/PVs in Power Leg?*@
                                                @Html.NopLabelFor(model => model.EnableCalculatecommission)
                                            </div>
                                            <div class="col-md-3">

                                                @Html.NopEditorFor(model => model.EnableCalculatecommission)

                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.EnableConfirmPayout)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.NopEditorFor(model => model.EnableConfirmPayout)

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.EnableMakePayout)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.NopEditorFor(model => model.EnableMakePayout)


                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.EnableIssuePayout)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.NopEditorFor(model => model.EnableIssuePayout)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
}


                        }

<script>

    @*<a href="@Url.Action("multipleBinarysettingMst","CommisionSettings")" class="btn bg-blue">
                                        <i class="fa fa-plus-square"></i>
                                        @T("Admin.Common.Save")
                   $("#anchorLoadGrid").click(function () {                  </a>*@
    $("#btnsave").click(function () {

        $.ajax({
            url: '@(Url.Action("multipleBinarysettingMst", "CommisionSettings"))',
            type: 'post',
            data: $('form').serialize(),
            success: function (data) {
                if (data.IsSuccess) {

                }
                alert(data.Message);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });
    var t = false

    $('#txtIncLevels').focus(function () {
        var $this = $(this)

        t = setInterval(

        function () {
            if (($this.val() < 0 || $this.val() > 100) && $this.val().length != 0) {
                if ($this.val() < 0) {
                    $this.val(0)
                }

                if ($this.val() > 100) {
                    $this.val(100)
                }
                $('p').fadeIn(1000, function () {
                    $(this).fadeOut(500)
                })
            }
        }, 50)
    })

    $('#txtIncLevels').blur(function () {
        if (t != false) {
            window.clearInterval(t)
            t = false;
        }
    })

    $(document).ready(function () {

        $("#showOnPvBVSales").hide();
        $("#showOnActiveTypeSelect").hide();
        $('#showOnBvPvSales').hide();
        $("#showOnActiveTypeSelectCri").hide();
        $("#ShowCappingOn").hide();
        $('#showONPvBvSalesOn').hide();
        $('#BaseOnBvPvSales').hide();

        //if ($("#ddlRoyBased").val() == 2 || $("#ddlRoyBased").val() == 3 || $("#ddlRoyBased").val() == 6) {
        //    $("#showOnPvBVSales").show();
        //}
        //else {
        //    $("#showOnPvBVSales").hide();
        //}


        if ($("#ddlRoyType").val() == 2) {
            $("#showOnActiveTypeSelect").show();
            $("#showOnActiveTypeSelectCri").show();
        }
        else {
            $("#showOnActiveTypeSelect").hide();
            $("#showOnActiveTypeSelectCri").hide();
        }


        $("#ddlRoyBased").change(function () {

            if ($("#ddlRoyType").val() == 2) {
                $("#showOnActiveTypeSelect").show();
                $("#showOnActiveTypeSelectCri").show();
            }
            else {
                $("#showOnActiveTypeSelect").hide();
                $("#showOnActiveTypeSelectCri").hide();
            }

        });

        $("#ddlRoyType").change(function () {

            if ($("#ddlRoyType").val() == 2) {
                $("#showOnActiveTypeSelect").show();
                $("#showOnActiveTypeSelectCri").show();
            }
            else {
                $("#showOnActiveTypeSelect").hide();
                $("#showOnActiveTypeSelectCri").hide();
            }

        });

        //if ($("#ddlRoyBased").val() == 2 || $("#ddlRoyBased").val() == 3 || $("#ddlRoyBased").val() == 4 || $("#ddlRoyBased").val() == 6) {
        //    $("#showOnPvBVSales").show();
        //}
        //else {
        //    $("#showOnPvBVSales").hide();
        //}

        if ($("#ddlRoyBased").val() == 2 || $("#ddlRoyBased").val() == 3 || $("#ddlRoyBased").val() == 6) {
            //  
            $('select[name*="ddlRoyResAmt"] option[value="2"]').hide();
            $('select[name*="ddlRoyResAmt"] option[value="3"]').hide();
            $('select[name*="ddlRoyResAmt"] option[value="1"]').show();
            $('#showONPvBvSalesOn').show();
            $('#BaseOnBvPvSales').show();
            $("#showOnPvBVSales").show();
        }
        else {
            //  
            $('#showONPvBvSalesOn').hide();
            $('#showONPvBvSales').hide();
        }

        if ($("#ddlRoyBased").val() == 1 || $("#ddlRoyBased").val() == 4) {
            //  
            $('select[name*="ddlRoyResAmt"] option[value="1"]').hide();
            $('select[name*="ddlRoyResAmt"] option[value="2"]').show();
            $('select[name*="ddlRoyResAmt"] option[value="3"]').show();
            $('#showONPvBvSalesOn').hide();
            $('#BaseOnBvPvSales').hide();
            $('#showONPvBvSales').hide();
        }

        //if ($("#ddlRoyType").val() == 2) {
        //    $("#showOnActiveTypeSelect").show();
        //    $("#showOnActiveTypeSelectCri").show();
        //}
        //else {
        //    $("#showOnActiveTypeSelect").hide();
        //    $("#showOnActiveTypeSelectCri").hide();
        //}
        if ($("#ddlCappingflag").val() == 2) {
            $("#ShowCappingOn").show();
        }
        else {
            $("#ShowCappingOn").hide();
        }

        var t = false

        $('#percentOfComapnyTO').focus(function () {
            
            var $this = $(this)

            t = setInterval(

            function () {
                if (($this.val() < 1 || $this.val() > 100) && $this.val().length != 0) {
                    if ($this.val() < 0) {
                        $this.val(0)
                    }

                    if ($this.val() > 100) {
                        $this.val(100)
                    }
                    $('p').fadeIn(1000, function () {
                        $(this).fadeOut(500)
                    })
                }
            }, 50)
        })

        $('#percentOfComapnyTO').blur(function () {

            if (t != false) {
                window.clearInterval(t)
                t = false;
            }
        })
    });



    $("#ddlRoyBased").change(function () {

        
        if ($("#ddlRoyBased").val() == 2 || $("#ddlRoyBased").val() == 3 || $("#ddlRoyBased").val() == 6) {
            
            $("#showOnPvBVSales").show();
            $('#ddlRoyBusConsidOn').prop('selectedIndex', 0);
            $('#ddlRoyType').prop('selectedIndex', 0);
            $('#ddlRoyCri').prop('selectedIndex', 0);
            $('#ddlEligible').prop('selectedIndex', 0);
            $('#ddlTOBasedOn').prop('selectedIndex', 0);
            $('#ddlRoyResAmt').prop('selectedIndex', 0);
            $('#ddlPayoutLimit').prop('selectedIndex', 0);
            $('#ddlCappingflag').prop('selectedIndex', 0);
            $('#ddlCappingOn').prop('selectedIndex', 0);
            $('#ISTotal').val('');

            $('#percentOfComapnyTO').val('');
            $('#ddlIncomestart').prop('selectedIndex', 0);
            //
            //if ($('#ddlRoyType').val == 0) {
            //    $('#showOnActiveTypeSelect').hide();
            //    $('#showOnActiveTypeSelectCri').hide();
            //}
        }
        else {
            $("#showOnPvBVSales").hide();
        }

        if ($("#ddlRoyType").val() == 0) {
            $("#showOnActiveTypeSelect").hide();
            $("#showOnActiveTypeSelectCri").hide();
        }

        if ($("#ddlRoyBased").val() == 2 || $("#ddlRoyBased").val() == 3 || $("#ddlRoyBased").val() == 6) {

            $('select[name*="ddlRoyResAmt"] option[value="2"]').hide();
            $('select[name*="ddlRoyResAmt"] option[value="3"]').hide();
            if ($("#ddlRoyResAmt").val != "1") {
                $('select[name*="ddlRoyResAmt"] option[value="1"]').remove();
                $("#ddlRoyResAmt").append('<option value="1">Royalty-wise</option>');
            }

            $('select[name*="ddlRoyResAmt"] option[value="1"]').show();
            $('#showONPvBvSalesOn').show();
            $('#BaseOnBvPvSales').show();
        }


        if ($("#ddlRoyBased").val() == 1 || $("#ddlRoyBased").val() == 4) {

            $('select[name*="ddlRoyResAmt"] option[value="1"]').remove();
            $('select[name*="ddlRoyResAmt"] option[value="1"]').hide();
            $('select[name*="ddlRoyResAmt"] option[value="2"]').show();
            $('select[name*="ddlRoyResAmt"] option[value="3"]').show();
            $('#showONPvBvSalesOn').hide();
            $('#BaseOnBvPvSales').hide();

            $('#ddlRoyBusConsidOn').prop('selectedIndex', 0);
            $('#ddlRoyType').prop('selectedIndex', 0);
            $('#ddlRoyCri').prop('selectedIndex', 0);
            $('#ddlEligible').prop('selectedIndex', 0);
            $('#ddlTOBasedOn').prop('selectedIndex', 0);
            $('#ddlRoyResAmt').prop('selectedIndex', 0);
            $('#ddlPayoutLimit').prop('selectedIndex', 0);
            $('#ddlCappingflag').prop('selectedIndex', 0);
            $('#ddlCappingOn').prop('selectedIndex', 0);
            if ($('#ddlRoyType').val == 0) {
                //$('#showOnActiveTypeSelect').hide();
                //$('#showOnActiveTypeSelectCri').hide();

            }
            $('#ISTotal').val('');
            $('#percentOfComapnyTO').val('');
            $('#ddlIncomestart').prop('selectedIndex', 0);
        }
    });

    //$("#ddlRoyType").change(function () {
    //    if ($("#ddlRoyType").val() == 2) {
    //        $("#showOnActiveTypeSelect").show();
    //        $("#showOnActiveTypeSelectCri").show();
    //    }
    //    else {
    //        $("#showOnActiveTypeSelect").hide();
    //        $("#showOnActiveTypeSelectCri").hide();
    //    }
    //});




    $("#ddlCappingflag").change(function () {
        if ($("#ddlCappingflag").val() == 2) {
            $("#ShowCappingOn").show();
        }
        else {
            $("#ShowCappingOn").hide();
        }
    });



</script>


<script>

    // A $( document ).ready() block.
    $(document).ready(function () {

        if ($("#BinaryIncomeName").val() == "0") {

            $('#ShowOnBinaryIncome').hide();
        }

        //   alert("called")
        // alert("" + $("#ddlLvlBasedOn").val())
        if ($("#ddlLvlBasedOn").val() == 1) {

            //$('#IncomeBasesOn').attr('readonly', 'readonly')
            $('#IncomeBasesOn').prop("disabled", true);
            //$("input:checkbox").prop("disabled", true);
            $('#IncomeBasesOn').prop('checked', false);

        }
        else {
            $('#IncomeBasesOn').prop("disabled", true);
            //$("input:checkbox").prop("disabled", true);
            $('#IncomeBasesOn').prop('checked', true);
        }


        if ($("#ddlLvlBasedOn").val() == 1) {
            if ($("#ddlTreeType").val() == 1) {

                $('#ShowBinaryPanel').show();
                $('#ShowGenrationPanel').hide();

            }
            else {
                $('#ShowBinaryPanel').hide();
                $('#ShowGenrationPanel').show();
            }
        }
        else {
            $('#ShowBinaryPanel').hide();
            $('#ShowGenrationPanel').show();
        }

    });
    $('#ddlLvlBasedOn').change(function () {
        if ($("#ddlLvlBasedOn").val() == 1) {
            $('#IncomeBasesOn').prop("disabled", true);
            $('#IncomeBasesOn').prop('checked', false);

        }
        else {
            $('#IncomeBasesOn').prop("disabled", true);
            $('#IncomeBasesOn').prop('checked', true);
        }
        if ($("#ddlLvlBasedOn").val() == 1) {
            if ($("#ddlTreeType").val() == 1) {
                $('#ShowBinaryPanel').show();
                $('#ShowGenrationPanel').hide();

            }
            else {
                $('#ShowBinaryPanel').hide();
                $('#ShowGenrationPanel').show();
            }
        }
        else {
            $('#ShowBinaryPanel').hide();
            $('#ShowGenrationPanel').show();
        }

        if ($("#ddlLvlBasedOn").val() != 1) {

            if ($("#txtLvlIncValue").val() > 100) {
                $("#txtLvlIncValue").val('');



            }
        }

        //alert("called")
    });

    $('#txtLvlIncValue').change(function () {
        //alert("called")
    });

    $('#ddlTreeType').change(function () {
        if ($("#ddlLvlBasedOn").val() == 1) {
            if ($("#ddlTreeType").val() == 1) {
                $('#ShowBinaryPanel').show();
                $('#ShowGenrationPanel').hide();

            }
            else {
                $('#ShowBinaryPanel').hide();
                $('#ShowGenrationPanel').show();
            }
        }
        else {
            $('#ShowBinaryPanel').hide();
            $('#ShowGenrationPanel').show();
        }
        //alert("called")
    });

    $('#ddlLvlBasedOn').change(function () {

    });

    $("#@Html.FieldIdFor(model=>model.pairLaps)").change(function () {
        if ($('#@Html.FieldIdFor(model => model.pairLaps)').is(':checked')) {
            $('#pairLapsValueId').show();
            $('#pairLapsSequenceId').show();
            $('#pairLapsConstantGrowthId').show();
        }
        else {
            $('#pairLapsValueId').hide();
            $('#pairLapsSequenceId').hide();
            $('#pairLapsConstantGrowthId').hide();

        }
    });


    $(document).ready(function () {
        $('#validationMessages').hide();

        if ($('#@Html.FieldIdFor(model => model.pairLaps)').is(':checked')) {
            $('#pairLapsValueId').show();
            $('#pairLapsSequenceId').show();
            $('#pairLapsConstantGrowthId').show();
        }
        else {
            $('#pairLapsValueId').hide();
            $('#pairLapsSequenceId').hide();
            $('#pairLapsConstantGrowthId').hide();

        }

        $("#divSales").hide();
        $("#divLevel").hide();
        $("#divLevel1").hide();
        $("#divLvl").hide();
        $("#divLvlAmt").hide();
        $("#divDaily").hide();
        $("#divDailyTiming").hide();
        $("#divDirects").hide();
        $("#divActiveRoyalty").hide();
        $("#divRefDirects").hide();
        $("#divLimit").hide();
        $("#divTail").hide();
        $("#divTotal").hide();

        if ($("#ddlBinaryType").val() == 2) {
            //  alert("called")
            $("#divDaily").show();
            $("#divDailyTiming").show();
        }
        $("#pnlLoadRepurchaseGrid").hide();
        $("#pnlLoadGrid").hide();
        if ($("#ddlRpLvlValue").val() == 2)
            $("#pnlLoadRepurchaseGrid").show();

        if ($("#ddlLvlValue").val() == 2)
            $("#pnlLoadGrid").show();


        loadGrid();

        loadRepurchaseGrid();

        if ($("#ddlPOWhere").val() == 2) {

            $("#divRight").hide();
            $("#divLeft").hide();
            $("#divTotal").show();



        } if ($("#ddlPOWhere").val() == 1) {

            $("#divRight").show();
            $("#divLeft").show();
            $("#divTotal").hide();
        }

        if ($("#ddlDirectInc").val() == 2) {
            $("#divDirects").show();
        }

        //if ($("#ddlRoyType").val() == 1) {
        //    $("#divActiveRoyalty").show();
        //}

        // 
        if ($("#ddlLvlValue").val() == 2) {
            // 
            $('#diffLevelGrid').show();
            $('#pnlLoadGrid').show();
            $('#anchorLoadGrid').show();
            $("#divLevelAmount").hide();

        }
        else {
            $("#divLevelAmount").show();
            $('#diffLevelGrid').hide();
            $('#pnlLoadGrid').hide();
            $('#anchorLoadGrid').hide();
        }

        if ($("#ddlRpLvlValue").val() == 2) {
            $('#diffRepurchaseGrid').show();
            $("#divLevelWise").hide();

        }
        else {
            $("#divLevelWise").show();
            $('#diffRepurchaseGrid').hide();
        }

        if ($("#ddlRefIncFor").val() == 2) {
            $("#divRefDirects").show();
        } else {
            $("#divRefDirects").hide();
        }
        //fnShowHide();
    });

    $("#chkPowerLeg").click(function () {
        if ($(this).prop("checked") == true) {
            $("#divTail").show();
        }
        else {
            $("#divTail").hide();
        }
    });

    $("#ddlBinaryType").change(function () {
        if ($("#ddlBinaryType").val() == 2) {

            $("#divDaily").show();
            $("#divDailyTiming").show();
        }
        else {
            $("#divDaily").hide();
            $("#divDailyTiming").hide();
        }

    });
    $("#ddlPOWhere").change(function () {

        if ($("#ddlPOWhere").val() == 2) {

            $("#divRight").hide();
            $("#divLeft").hide();
            $("#divTotal").show();
        }
        else {
            $("#divRight").show();
            $("#divLeft").show();
            $("#divTotal").hide();
        }
    });

    $("#ddlRpLvlValue").change(function () {
        $("#divLevelWise").show();
        if ($("#ddlRpLvlValue").val() == 2) {
            $("#divLevelWise").hide();
            $('#diffRepurchaseGrid').show();
            $("#pnlLoadRepurchaseGrid").show();
        }
        else {
            $("#divLevelWise").show();
            $('#diffRepurchaseGrid').hide();
            $("#pnlLoadRepurchaseGrid").hide();
        }
    });


    $("#ddlMaxLimit").change(function () {
        $("#divLimit").hide();
        if ($("#ddlMaxLimit").val() == 1) {
            $("#divLimit").show();
        }
    });

    $("#ddlRefIncFor").change(function () {
        $("#divRefDirects").hide();
        if ($("#ddlRefIncFor").val() == 2) {
            $("#divRefDirects").show();
        }
    });

    $("#ddlLvlValue").change(function () {
        // 
        $("#divLevelAmount").show();
        // 
        if ($("#ddlLvlValue").val() == 2) {
            $("#divLevelAmount").hide();
            $("#pnlLoadGrid").show();
            $('#pnlLoadGrid').show();
            $('#anchorLoadGrid').show();
            $("#diffLevelGrid").show();
        } else {
            $("#diffLevelGrid").hide();
            $("#pnlLoadGrid").hide();
            $('#pnlLoadGrid').hide();
            $('#anchorLoadGrid').hide();

        }
    });

    $("#ddlRoyType").change(function () {
        $("#divActiveRoyalty").hide();
        if ($("#ddlRoyType").val() == 1) {
            $("#divActiveRoyalty").show();
        }
    });

    //$("#ddlBasedOn").change(function () {
    //    //fnShowHide();
    //});

    $("#ddlBinaryType").change(function () {
        //fnShowHide();
    });

    $("#ddlPairAmt").change(function () {
        fnShowHideAmt();
    });

    $("#ddlDirectInc").change(function () {
        $("#divDirects").hide();
        if ($("#ddlDirectInc").val() == 2) {
            $("#divDirects").show();
        }
    });





    function fnShowHide() {
        $("#FValue").show();
        $("#FValue1").show();
        $("#divSPair").show();
        $("#divFirst").show();
        $("#divSPair").show();
        $("#divDaily").hide();
        $("#divDaily").hide();
        $("#divLevel").hide();
        $("#divLevel1").hide();
        $("#divLvlAmt").hide();
        $("#divLvl").hide();
        $("#divFlush").show();
        $("#divSales").hide();


        if ($("#ddlBasedOn").val() == 3) {
            $("#divSales").show();
            //$("#ddlSimulation").options[1].disabled = true;
            //$("#ddlSimulation").options[0].selected = true;
            //$("#ddlCapping").options[1].disabled = true;
            //$("#ddlCapping").options[0].selected = true;

            $("#FValue").hide();
            $("#FValue1").hide();
            $("#divSPair").hide();;

            //$("#txtF1L").val() = "1";
            $("#txtF1L").disabled = true;
            //$("#txtF1R").val() = "1";
            $("#txtF1R").disabled = true;
        }
        else {
            //$("#ddlSimulation").options[1].disabled = false;
            //$("#ddlCapping").options[1].disabled = false;
            //$("#txtF1L").disabled = false;
            //$("#txtF1R").disabled = false;
        }

        if ($("#ddlBinaryType").val() == 3) {
            $("#divFirst").hide();
            $("#divSPair").hide();
            $("#divLevel").show();
            $("#divLevel1").show();
            $("#txtLevels").focus();
            //$("#ddlBasedOn").options[1].disabled = true;
            //$("#ddlBasedOn").options[2].disabled = true;
            //$("#ddlBasedOn").options[0].selected = true;
            $("#divDaily").hide();
            fnShowHideLevel();
            $("#divFlush").hide();
            //$("#ddlFlush").options[0].selected = true;
        }
        else {
            //$("#ddlBasedOn").options[1].disabled = false;
            //$("#ddlBasedOn").options[2].disabled = false;
        }
    }

    $("#anchorLoadGrid").click(function () {

        loadGrid();
    });

    function loadGrid() {
        $('#levelGrid').html("");
        var rowCount = $('#txtIncLevels').val();
        var ddlVal = $("#ddlLvlValue").val();
        if (rowCount > 0 && ddlVal == 2) {
            var data = { levelCount: rowCount };
            addAntiForgeryToken(data);
            $.ajax({
                type: "POST",
                data: data,
                dataType: "json",
                url: '@(Url.Action("getLevelGrid", "CommisionSettings"))',
                success: function (d) {
                    var getstr = "<table class='table table-hover table-bordered ' id='LevelGrid' cellspacing='0' rules='all' border='1' style='width: 100%;' ><thead> <tr><th class='text-center'><strong>@T("Admin.ContentManagement.Forums.ForumGroup.Fields.levelID")</strong></th> <th class='text-center'><strong>@T("Admin.ContentManagement.Forums.ForumGroup.Fields.levelAmount")</th> </tr></thead>";

                    getstr = getstr + d + "</table>";
                    $('#levelGrid').html(getstr);
                    $('#diffLevelGrid').show();
                    $('#pnlLoadGrid').show();
                    $('#anchorLoadGrid').show();
                },
                error: function (xhr, ajaxOptions, thrownError) {

                }

            });
        }
    }

    $("#anchorLoadRepurchaseGrid").click(function () {
        loadRepurchaseGrid();
    });

    function loadRepurchaseGrid() {
        $('#levelRepurchaseGrid').html("");
        var rowCount = $('#txtRpIncLevels').val();
        var ddlVal = $("#ddlRpLvlValue").val();
        if (rowCount > 0 && ddlVal == 2) {
            var data = { levelCount: rowCount };
            addAntiForgeryToken(data);
            $.ajax({
                type: "POST",
                data: data,
                dataType: "json",
                url: '@(Url.Action("getLevelRepurchaseGrid", "CommisionSettings"))',
                success: function (d) {
                    var getstr = "<table class='table table-hover table-bordered' style='width: 90%; margin-left: 5%;'><tr><th class='text-center'>@T("Admin.ContentManagement.Forums.ForumGroup.Fields.levelID")</th><th class='text-center'>@T("Admin.ContentManagement.Forums.ForumGroup.Fields.levelAmount")</th></div>";

                    getstr = getstr + d + "</table>";

                    $('#levelRepurchaseGrid').html(getstr);
                    $('#diffRepurchaseGrid').show();

                },
                error: function (xhr, ajaxOptions, thrownError) {

                }
            });
        }
    }

    function fnShowHideLevel() {
        $("#txtLCnt").val('1');
        $("#txtLCnt").prop('disabled', true);
        $("#txtRCnt").val('1');
        $("#txtRCnt").prop('disabled', true);
        $("#divLvl").show();
        $("#txtLevels").disabled = true;

        if ($("#rdLimited").is(":checked") == true) {
            $("#divPairAmt").show();
            $("#txtLevels").disabled = false;
            $("#txtLevels").focus();
        }
        fnShowHideAmt();
    }

    function fnShowHideAmt() {
        $("#divLvlAmt").hide();
        if ($("#ddlPairAmt").val() == 1) {
            $("#divLvlAmt").show();
        }
    }


    $('#BinaryIncomeName').change(function (e) {

        var data = { BinaryIncomeName: $("#BinaryIncomeName").val() };
        $.ajax({
            cache: false,
            type: "GET",
            dataType: "html",
            url: "@(Url.Action("GetMultiBinaryIncomeSetting", "CommisionSettings"))",
            data: data,
            success: function (data) {
                $('#MultipleBinaryIncomeSettingDiv').html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            },
            traditional: true
        });
        return false;
    });


    $('#multipleBinarysettingMst').click(function () {



        $('#validationMessages').html('');
        $("#validationMessages").hide();


        var str = $("#pairLapsSequence").val();
        var split_str = str.split(",");
        if (split_str.indexOf("0") !== -1) {

            $('#validationMessages').html('@T("Admin.Validation.pairLapsSequence")');
            $("#validationMessages").show();
            return false;
        }



        if ($("#BinaryIncomeName").val() == "0") {

            return false;
        }
        else if ($("#NextQualificationCriteria").val() == 0) {
            $('#validationMessages').html('@T("Admin.Validation.NextQualificationCriteria")');
            $("#validationMessages").show();
            return false;
        }
        else {
            var ichkFor = false;
            var iLpas = false;
            if ($('#chkFor').is(":checked")) {
                ichkFor = true;
            }
            if ($('#pairLaps').is(":checked")) {
                iLpas = true;
            }

            var data = {
                BinaryIncomeName: $('#@Html.FieldIdFor(model => model.BinaryIncomeName)').val(),
                NextQualificationCriteria: $('#@Html.FieldIdFor(model => model.NextQualificationCriteria)').val(),
                txtF1L: $('#@Html.FieldIdFor(model => model.txtF1L)').val(),
                txtF1R: $('#@Html.FieldIdFor(model => model.txtF1R)').val(),
                chkFor: ichkFor,
                txtFValue: $('#@Html.FieldIdFor(model => model.txtFValue)').val(),
                txtS1L: $('#@Html.FieldIdFor(model => model.txtS1L)').val(),
                txtS1R: $('#@Html.FieldIdFor(model => model.txtS1R)').val(),
                txtSValue: $('#@Html.FieldIdFor(model => model.txtSValue)').val(),
                txtSalesPercent: $('#@Html.FieldIdFor(model => model.txtSalesPercent)').val(),
                txtLevels: $('#@Html.FieldIdFor(model => model.txtLevels)').val(),
                txtLCnt: $('#@Html.FieldIdFor(model => model.txtLCnt)').val(),
                txtRCnt: $('#@Html.FieldIdFor(model => model.txtRCnt)').val(),
                ddlPairAmt: $('#@Html.FieldIdFor(model => model.ddlPairAmt)').val(),
                txtLvlAmt: $('#@Html.FieldIdFor(model => model.txtLvlAmt)').val(),
                ddlSimulation: $('#@Html.FieldIdFor(model => model.ddlSimulation)').val(),
                ddlCapping: $('#@Html.FieldIdFor(model => model.ddlCapping)').val(),
                ddlFlush: $('#@Html.FieldIdFor(model => model.ddlFlush)').val(),
                pairLaps: iLpas,
                pairLapsValue: $('#@Html.FieldIdFor(model => model.pairLapsValue)').val(),
                pairLapsSequence: $('#@Html.FieldIdFor(model => model.pairLapsSequence)').val(),
                pairLapsConstantGrowth: $('#@Html.FieldIdFor(model => model.pairLapsConstantGrowth)').val(),

            };
            addAntiForgeryToken(data);

            $.ajax({
                url: "@(Url.Action("multipleBinarysettingMst", "CommisionSettings"))",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (data) {

                    var newUrl = '@Url.Action("payoutsettings", "CommisionSettings")?successflag=' + data.result + '';
                    window.location.href = newUrl;
                },
                error: function (result) {
                    //alert(result);
                    //alert('hi');
                }
            });
        }


    });




</script>
<script>
    window.onbeforeunload = function () {
        var buttons = document.getElementsByTagName("BUTTON");
        for (var i in buttons) {
            if (buttons[i].type == "button" || buttons[i].type == "submit") {
                buttons[i].disabled = true;
            }
        }
    };
</script>