﻿@model BestCustomersReportModel

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
}

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.StartDate)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.StartDate)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.EndDate)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.EndDate)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.OrderStatusId)
                </div>
                <div class="col-md-9">
                    @Html.NopDropDownList("OrderStatusId", Model.AvailableOrderStatuses)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.PaymentStatusId)
                </div>
                <div class="col-md-9">
                    @Html.NopDropDownList("PaymentStatusId", Model.AvailablePaymentStatuses)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.ShippingStatusId)
                </div>
                <div class="col-md-9">
                    @Html.NopDropDownList("ShippingStatusId", Model.AvailableShippingStatuses)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button type="button" id="search-best-customers-numberoforders-grid" class="btn btn-primary btn-search">
                        @*<i class="fa fa-line-chart"></i>*@
                        @T("Admin.Customers.Reports.RunReport")
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div id="best-customers-numberoforders-grid"></div>

            <script>
                $(document).ready(function() {
                    $("#best-customers-numberoforders-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("ReportBestCustomersByNumberOfOrdersList", "Customer"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: bestCustomersNumberOfOrdersAdditionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)],
                            @Html.Partial("_GridPagerMessages")
                        },
                        editable: {
                            confirmation: "@T("Admin.Common.DeleteConfirmation")",
                            mode: "inline"
                        },
                        scrollable: true,
                        columns: [
                            {
                                field: "CustomerName",
                                title: "@T("Admin.Customers.Reports.BestBy.Fields.Customer")",
                                width: 150
                            }, {
                                field: "OrderTotal",
                                title: "@T("Admin.Customers.Reports.BestBy.Fields.OrderTotal")",
                                width: 150
                            }, {
                                field: "OrderCount",
                                title: "@T("Admin.Customers.Reports.BestBy.Fields.OrderCount")",
                                width: 100
                            }, {
                                field: "Id",
                                title: "@T("Admin.Common.View")",
                                width: 100,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                template: '<a class="btn btn-default" href="@Url.Content("~/Admin/Customer/Edit/")#=CustomerId#"><i class="fa fa-eye"></i>@T("Admin.Common.View")</a>'
                            }
                        ]
                    });
                });
            </script>

            <script type="text/javascript">
                $(document).ready(function() {
                    $('#search-best-customers-numberoforders-grid').click(function() {
                        var grid = $('#best-customers-numberoforders-grid').data('kendoGrid');
                        grid.dataSource.page(1); //new search. Set page size to 1
                        //grid.dataSource.read(); we already loaded the grid above using "page" function
                        return false;
                    });
                });

                function bestCustomersNumberOfOrdersAdditionalData(e) {
                    var data = {
                        @*StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                
                        EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),*@
                        StartDate: getDate($("#bestbynumberoforders_StartDate").data("kendoDatePicker").value()),
                        EndDate: getDate($("#bestbynumberoforders_EndDate").data("kendoDatePicker").value()),
                        OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                        PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
                        ShippingStatusId: $('#@Html.FieldIdFor(model => model.ShippingStatusId)').val()
                    };
                    addAntiForgeryToken(data);
                    return data;
                }
            </script>
        </div>
    </div>
</div>
