﻿@model CustomerModel

@{
    //page title
    ViewBag.Title = T("Admin.Customers.Customers.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Customers list");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Customers.Customers.AddNew")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Customers.Customers.BackToList").Text, "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" id="Save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" id="Savecontinue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
<script>

    $('#Save').click(function () {
        //alert('acb');
        
        var paymodeErrors = "";
        var flag = true;
        nomDateOfBirth
        var DateOfBirth = getDate($("#DateOfBirth").data("kendoDatePicker").value());
    
        //var DateOfBirth = new Date(getDateFromString($("#DateOfBirth").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));/// value on EnteredDate CreatedOnFrom
        var nomDateOfBirth = getDate($("#nomDateOfBirth").data("kendoDatePicker").value());

        // var nomDateOfBirth = new Date(getDateFromString($("#nomDateOfBirth").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime")); /// value on EnteredFromdate CreatedOnTo
        if (flag) {
            $("#HDateOfBirth").val(getDate($("#DateOfBirth").data("kendoDatePicker").value()));
            $("#HnomDateOfBirth").val(getDate($("#DateOfBirth").data("kendoDatePicker").value()));

            @*$("#HDateOfBirth").val(getDateFromString($("#DateOfBirth").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
            $("#HnomDateOfBirth").val(getDateFromString($("#nomDateOfBirth").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));*@

            $("#validationMessages").hide();
            $('#validationMessages').html('');
        } else {

            $("#validationMessages").show();
            $('#validationMessages').append(validationDivs);
            return false;
        }
    });
    $('#Savecontinue').click(function () {
        //alert('acb');
        
        var paymodeErrors = "";
        var flag = true;
        nomDateOfBirth
        var DateOfBirth = getDate($("#DateOfBirth").data("kendoDatePicker").value());

        //var DateOfBirth = new Date(getDateFromString($("#DateOfBirth").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));/// value on EnteredDate CreatedOnFrom
        var nomDateOfBirth = getDate($("#nomDateOfBirth").data("kendoDatePicker").value());

        // var nomDateOfBirth = new Date(getDateFromString($("#nomDateOfBirth").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime")); /// value on EnteredFromdate CreatedOnTo
        if (flag) {
            $("#HDateOfBirth").val(getDate($("#DateOfBirth").data("kendoDatePicker").value()));
            $("#HnomDateOfBirth").val(getDate($("#DateOfBirth").data("kendoDatePicker").value()));

            @*$("#HDateOfBirth").val(getDateFromString($("#DateOfBirth").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
             $("#HnomDateOfBirth").val(getDateFromString($("#nomDateOfBirth").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));*@

            $("#validationMessages").hide();
            $('#validationMessages').html('');
        } else {

            $("#validationMessages").show();
            $('#validationMessages').append(validationDivs);
            return false;
        }
    });
</script>