﻿@model Nop.Admin.ViewModel.KYCDocumentModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //page title
    ViewBag.Title = T("Account.KYCDocumentTrasaction").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("KYC Document Transaction");

    <style>
        .divScroll {
            overflow: auto;
        }
    </style>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.selectedIds)


    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Account.KYCDocumentTrasaction")
        </h1>
        <div class="pull-right">
            <div class="btn-group">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ddlChoice)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownList("ddlChoice", new List<SelectListItem>
                {
                    new SelectListItem{Text="All Record(s)",Value="1"},
                    new SelectListItem{Text="ID/Name-Wise",Value="0"},
                    new SelectListItem{Text="Status-Wise",Value="2"},
                })
                                    </div>
                                </div>
                                <div class="form-group" id="trPackage">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ddlStatus)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.ddlStatus, new List<SelectListItem>
                {
                     new SelectListItem{Text="Select Status",Value=""},
                    new SelectListItem{Text="Pending",Value="Pending"},
                    //new SelectListItem{Text="Not Uploaded",Value="Not Uploaded"},
                    new SelectListItem{Text="Confirmed",Value="Confirmed"},
                    new SelectListItem{Text="Rejected",Value="Rejected"}
                })
                                    </div>
                                </div>
                                <div class="form-group" id="trMemName">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.MemId)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.SearchFirstName)
                                        @*<input type="text" id="SearchFirstName" value="" name="" />*@
                                        @Html.HiddenFor(model => model.MemId)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="trStartDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.StartDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.StartDate)
                                        @Html.ValidationMessageFor(model => model.StartDate)
                                    </div>
                                </div>
                                <div class="form-group" id="trEndDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.EndDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.EndDate)
                                        @Html.ValidationMessageFor(model => model.EndDate)
                                    </div>
                                </div>
                                <div class="form-group" id="trNote">
                                    <div class="col-md-4">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-8">
                                        <b id="MessageNote"> @T("Admin.Note.Note") </b> @T("Admin.Note.KycUploadDate")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-2">
                                <button type="button" name="search" id="search-chagePackageDetails" class="btn bg-blue">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="divShowHide">
                    <div class="panel-body">
                        <h3>@T("Admin.Customer.SearchResult")</h3>

                        <div class="divScroll">

                            <div id="KYCDocumentgrid"></div>
                            <script>
                                var pvcode = "";
                                $(document).ready(function () {

                                    $('#KYCDocumentgrid').hide();
                                    $('#divShowHide').hide();
                                    $('#DivHideButton').hide();
                                    $('#tablePaidId').hide();

                                    $("#KYCDocumentgrid").kendoGrid({
                                        autoBind: false,
                                        dataSource: {
                                            type: "json",
                                            transport: {
                                                read: {
                                                    url: "@Html.Raw(Url.Action("KYCDocumentgrid", "Customer"))",
                                                    type: "POST",
                                                    dataType: "json",
                                                    data: additionalData
                                                }
                                            },
                                            schema: {
                                                data: "Data",
                                                total: "Total",
                                                errors: "Errors"
                                            },
                                            error: function (e) {
                                                display_kendoui_grid_error(e);
                                                // Cancel the changes
                                                this.cancelChanges();
                                            },
                                            pageSize: @(defaultGridPageSize),
                                            serverPaging: true,
                                            serverFiltering: true,
                                            serverSorting: true
                                        },
                                        pageable: {
                                            refresh: true,
                                            pageSizes: [@(gridPageSizes)]
                                        },
                                        scrollable: true,
                                        columns: [{
                                            field: "Id",
                                            headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                               width: 50
                                        },
                                     {
                                         field: "MemNo",
                                         title: "@T("Admin.CustomerReport.MemNoGrid")",
                                         width: 100
                                     },{
                                         field: "MemName",
                                         title: "@T("Admin.CustomerReport.MemName")",
                                         width: 100
                                     },{
                                         field: "DOJ",
                                         title:  "@T("Admin.CustomerReport.DOJ")",
                                         width: 100
                                         //  type: "date",
                                         // format: "{0:G}"
                                     },{
                                         field: "KYCDocumentName",
                                         title:  "@T("Admin.Configuration.Settings.CustomerUser.KYCDocumentName")",
                                         width: 100
                                     },@*{
                                         field: "KYCDocumentID",
                                         title:  "@T("Admin.CustomerReport.KYCDocumentID")",

                                     },*@{
                                         field: "KYCDocumentImg",
                                         title:  "@T("Admin.CustomerReport.KYCDocumentImg")",
                                         template:"#=getImage(KYCDocumentImg,Id,KYCDocumentName,MineType)#",
                                         width: 100
                                         //template: "<a   onclick=\"javascript:OpenWindow('@Url.Content("~/Admin/Customer/ViewImage")?Id=#=Id#', 800, 250, true); return false;\" style='cursor:pointer' /><img src='#= KYCDocumentImg #' alt='image' width='40px' height='40px' /></a>"
                                     }, {
                                         field: "UploadDate",
                                         title:  "@T("Admin.CustomerReport.UploadDate")",
                                         width: 100
                                         //width: 50,
                                         //type: "date",
                                         //format: "{0:G}"
                                     },{
                                         field: "Status",
                                         title:  "@T("Admin.CustomerReport.Status")",
                                         width: 100

                                         //  width: 40,
                                     },
                                        {
                                            field: "Status",
                                            title:  "@T("Admin.CustomerReport.Status")",
                                            template: "#=getDropDown(Id,Status)#",//"<select  id='Status#=Id#' ><option value='Select Status' selected='selected'>Select Status</option><option value='Confirmed'>Confirm</option><option value='Rejected' >Reject</option></select>"
                                            width: 200
                                        },
                                        @*{
                                field: "Remark",
                                title:  "@T("Admin.CustomerReport.Remark")",
                                template: "<input id='rmk#=Id#' type='textbox' value='#=Remark#' maxlength='100' cols='50' rows='2'/>",
                                //width: 40,
                            },*@
                                        {
                                            field: "Remark",
                                            title:  "@T("Admin.CustomerReport.Remark")",
                                            // template: "<textarea id='rmk#=Id#' cols='50' rows='2' maxlength='100' value='#=Remark#'>#=Remark#</textarea>",
                                            template: "<textarea id='rmk#=Id#' cols='50' rows='2' maxlength='100' style='width: 100%;' value=''>#=Remark#</textarea>",
                                            width: 200
                                        }]
                                    });
                                });

                                function  getImage(KYCDocumentImg,Id,KYCDocumentName,MineType){
                                    
                                    if(KYCDocumentImg!="-")
                                    {
                                        if(MineType=="application/pdf")
                                        {
                                            str="<a href=@Url.Content("~/Admin/Customer/ViewFolderImage")?MemNo="+Id+"&KYCDocumentName="+ KYCDocumentName+"&MineType="+ MineType+" style='cursor:pointer'>"+KYCDocumentImg+"</a>"
                                            return str;
                                        }
                                        else{
                                            str="<a   onclick=\"javascript:OpenWindow('@Url.Content("~/Admin/Customer/ViewFolderImage")?MemNo="+Id+"&KYCDocumentName="+ KYCDocumentName+"&MineType="+ MineType+"', 500, 500, true); return false;\" style='cursor:pointer' />"+KYCDocumentImg+"</a>"
                                            return str;
                                        }
                                    }
                                    else{
                                        str= KYCDocumentImg;
                                        return str;
                                    }

                                }

                                function  getDropDown(Id,Status){
                                    //  
                                    if(Status=="Confirmed")
                                    {

                                        var str="<select   id='Status"+Id+"' ><option value='1'   selected='selected'>Select Status</option><option value='Rejected'>Reject</option></select>";

                                    }
                                    else if(Status=="Rejected")
                                    {
                                        var str="<select id='Status"+Id+"' ><option value='1'  selected='selected'>Select Status</option><option value='Confirmed' >Confirm</option></select>";
                                    }
                                    else
                                    {
                                        var str="<select id='Status"+Id+"' ><option value='1' selected='selected'>Select Status</option><option value='Confirmed' >Confirm</option><option value='Rejected' >Reject</option></select>";
                                    }
                                    //$("#tds"+hdnddID).val(hdnddlIsTDS);

                                    return str;
                                }


                                var changedDropdowns = new Array();
                                // $('#idChangePackage').change(function ()
                                function dropDownchange(elem) {

                                    var value = $(elem).val();
                                    if (value != '0') {
                                        var idElem = $(elem).attr('id');
                                        var id = idElem.split('_')[1];
                                        var exist = false;

                                        for (var i = 0; i < changedDropdowns.length; i++) {
                                            if (changedDropdowns[i].MemId == id) {
                                                changedDropdowns.splice(i, 1);
                                            }
                                        }

                                        var details = new Object();
                                        details.MemId = id;
                                        details.newPvCode = value;
                                        changedDropdowns.push(details);
                                    }
                                    else {
                                        $('#validationMessages').html('');
                                        $('#validationMessages').show();
                                        $("#validationMessages").html("@T("Admin.MemberTransaction.PleaseSelectValidOptionFromdropDown")");
                                        return false;
                                        //alert('Please select that valid option from the dropdown');
                                    }
                                }



                            </script>

                            <script type="text/javascript">
                                var selectedIds = [];
                                var SelectedStatus=[];
                                var selectedIds=new Array();
                                var Remarks=[];

                                $(document).ready(function () {

                                    $('#mastercheckbox').click(function () {
                                        $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                    });

                                    //wire up checkboxes.
                                    $('#KYCDocumentgrid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                        var $check = $(this);

                                        if ($check.is(":checked") == true) {

                                            var checked = jQuery.inArray($check.val(), selectedIds);
                                            if (checked == -1) {
                                                //add id to selectedIds.
                                                selectedIds.push($check.val());
                                            }

                                            var arrayDate = [];
                                            var data = $("#KYCDocumentgrid").data("kendoGrid").dataSource.data();
                                        }
                                        else {
                                            var checked = jQuery.inArray($check.val(), selectedIds);
                                            if (checked > -1) {
                                                //remove id from selectedIds.
                                                selectedIds = $.grep(selectedIds, function (item, index) {
                                                    return item != $check.val();
                                                });
                                            }
                                        }
                                        var ids = selectedIds.join(",");
                                        $('#selectedIds').val(ids);
                                        updateMasterCheckbox();
                                    });

                                    $('#save-chagePackageDetails').click(function () {

                                        $(".alert.alert-success.alert-dismissable").hide();
                                        
                                        var flag=false;
                                        if (selectedIds == '' || selectedIds.length <= 0) {
                                            $('#validationMessages').html('');
                                            $('#validationMessages').show();
                                            $("#validationMessages").html("@T("Admin.Validation.SelectAtLeastOneRecord")");
                                            return false;
                                        }

                                        var exist = true;

                                        SelectedStatus=[];
                                        Remarks=[];
                                        $.each(selectedIds, function (i, val) {
                                            SelectedStatus.push($('#Status' + val).val());
                                            if($('#Status' + val).val()=="1")
                                                flag=true;

                                            Remarks.push($('#rmk' + val).val());
                                        });
                                        var postData = {
                                            Id: selectedIds,
                                            Status: SelectedStatus,
                                            Remark: Remarks,
                                        };
                                        addAntiForgeryToken(postData);
                                        
                                        if (!exist) {
                                            //alert('Kindly select the appropriate value from the dropdown of the checkbox selected ');
                                            $('#validationMessages').html('');
                                            $('#validationMessages').show();
                                            $("#validationMessages").html("@T("Admin.MemberTransaction.Kindlyselecttheappropriatevaluefromdropdown")");
                                            return false;
                                        }

                                        if (flag) {
                                            $('#validationMessages').html('');
                                            $('#validationMessages').show();
                                            $("#validationMessages").html("@T("Admin.MemberTransaction.PleaseSelectValidOptionFromdropDown")");
                                            return false;
                                        }
                                        $.ajax({
                                            type: 'POST',
                                            cache:false,
                                            url: "@(Url.Action("KYCDocumentTransaction", "Customer"))",
                                            data: postData,
                                            success: function (data) {
                                                
                                                if(data==1)
                                                {
                                                    window.location.href =  '@Url.Action("KYCDocumentTransaction", "Customer", new { id = "1" })';
                                                }
                                                else if(data ==2)
                                                {
                                                    window.location.href =  '@Url.Action("KYCDocumentTransaction", "Customer", new { id = "2" })';
                                                }else
                                                {
                                                    window.location.href =  '@Url.Action("KYCDocumentTransaction", "Customer", new { id = "3" })';
                                                }
                                                //window.location.href = '/Admin/CommisionSettings/DefineDeductions?suc=1';
                                            },
                                            //error: function (xhr, ajaxOptions, thrownError) {
                                            //    alert(thrownError);
                                            //},
                                            traditional: true

                                        });
                                        return false;
                                    });

                                    $("#@Html.FieldIdFor(model => model.StartDate)").keydown(function (event) {
                                        if (event.keyCode == 13) {
                                            $("#search-chagePackageDetails").click();
                                            return false;
                                        }
                                    });


                                    $("#@Html.FieldIdFor(model => model.EndDate)").keydown(function (event) {
                                        if (event.keyCode == 13) {
                                            $("#search-chagePackageDetails").click();
                                            return false;
                                        }
                                    });

                                    $("#@Html.FieldIdFor(model => model.MemId)").keydown(function (event) {
                                        if (event.keyCode == 13) {
                                            $("#search-chagePackageDetails").click();
                                            return false;
                                        }
                                    });

                                    $("#@Html.FieldIdFor(model => model.ddlChoice)").keydown(function (event) {
                                        if (event.keyCode == 13) {
                                            $("#search-chagePackageDetails").click();
                                            return false;
                                        }
                                    });

                                    @*shashi
                            $("#@Html.FieldIdFor(model => model.ddlpackage)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#search-chagePackageDetails").click();
                                return false;
                            }*@
                                });
                                //});

                                function onDataBound(e) {
                                    $('#KYCDocumentgrid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                        var currentId = $(this).val();
                                        var checked = jQuery.inArray(currentId, selectedIds);
                                        //set checked based on if current checkbox's value is in selectedIds.
                                        $(this).attr('checked', checked > -1);
                                    });
                                    updateMasterCheckbox();
                                }

                                function updateMasterCheckbox() {
                                    var numChkBoxes = $('#KYCDocumentgrid input[type=checkbox][id!=mastercheckbox]').length;
                                    var numChkBoxesChecked = $('#KYCDocumentgrid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                    $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                                }

                                function additionalData() {

                                    var StartDate=$("#StartDate").val();
                                    var EndDate=$("#EndDate").val();
                                    var startDate =null;
                                    var endDate=null;

                                    if(StartDate!="")
                                        startDate=getDate($("#StartDate").data("kendoDatePicker").value());
                                    if(EndDate!="")
                                        endDate=getDate($("#EndDate").data("kendoDatePicker").value());

                                    var data = {
                                        MemId: $('#@Html.FieldIdFor(model => model.MemId)').val(),
                                        ddlChoice: $('#@Html.FieldIdFor(model => model.ddlChoice)').val(),
                                        ddlStatus: $('#@Html.FieldIdFor(model => model.ddlStatus)').val(),
                                        StartDate: startDate,
                                        EndDate: endDate,
                                        SearchFirstName: $('#@Html.FieldIdFor(model => model.SearchFirstName)').val(),
                                        @*StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                                EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),*@
                                    };
                                    addAntiForgeryToken(data);
                                    return data;
                                }

                                $('#reset-PackageDetails').click(function(e)
                                {
                                    $("#ddlChoice").val("1");
                                    $("#MemId").val("");
                                    $('#ddlpackage').val("0");
                                    $("#SearchFirstName").val("");
                                    $("#StartDate").val("");
                                    $("#EndDate").val("");
                                    $('#trMemName').hide();
                                    $("#trEndDate").show();
                                    $("#trStartDate").show();
                                    $("#trPackage").hide();
                                    $('#KYCDocumentgrid').hide();
                                    $('#tablePaidId').hide();
                                    $('#validationMessages').html('');
                                    $("#validationMessages").hide();
                                    $(".alert.alert-success.alert-dismissable").hide();
                                    $(".alert.alert-danger.alert-dismissable").hide();
                                });
                            </script>
                        </div>

                    </div>
                </div>
                <div class="panel panel-default panel-search" id="DivHideButton">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-7 col-md-offset-2">
                                <button type="submit" name="Save" id="save-chagePackageDetails" class="btn bg-blue">
                                    <i class="fa fa-save"></i>
                                    @T("Admin.Common.Save")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $("#reset-chagePackageDetails").click(function () {

        });

        function handleChange(input) {
            if (input.value < 0) input.value = 0;
            if (input.value > 100) input.value = 100;
        }

        $('#SearchFirstName').autocomplete({
            delay: 500,
            minLength: 1,
            @*source: '@(Url.Action("SearchTermAutoComplete", "MemberTransaction"))',*@
            source: '@(Url.Action("SearchTermAutoCompleteDownline", "Common"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                $("#MemId").val(ui.item.Id);
                $("#SearchFirstName").val(ui.item.label);
                $("#divfirstname").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };

        $(document).ready(function () {
            $("#StartDate").keyup(function () {
                $(this).val('');
            });
            $("#EndDate").keyup(function () {
                $(this).val('');
            });

            $("#validationMessages").hide();
            $('#trMemName').hide();
            $('#trPackage').hide();
            $('#divShowHide').hide();
            $('#DivHideButton').hide();
            //    $('#tablePaidId').hide();

            $('#ddlChoice').change(function () {
                var value = $(this).val();
                if (value == 0) {
                    $('#trMemName').show();
                    $('#trStartDate').hide();
                    $('#trNote').hide();
                    $('#trEndDate').hide();
                    $('#trPackage').hide();
                    $('#ddlpackage').val("0");
                    $('#validationMessages').html('');
                    $('#KYCDocumentgrid').hide();
                    $('#divShowHide').hide();
                    $('#DivHideButton').hide();
                    $('#tablePaidId').hide();
                    $("#validationMessages").hide();
                    $('#SearchFirstName').val("");
                    $('#MemId').val("");
                    $('#StartDate').val("");
                    $('#EndDate').val("");
                    $('#ddlStatus ').val("");
                }
                else if (value == 2) {
                    $('#trPackage').show();
                    $('#trNote').hide();
                    $('#trStartDate').hide();
                    $('#trEndDate').hide();
                    $('#trMemName').hide();
                    $('#ddlpackage').val("0");
                    $('#validationMessages').html('');
                    $('#KYCDocumentgrid').hide();
                    $('#divShowHide').hide();
                    $('#DivHideButton').hide();
                    $('#tablePaidId').hide();
                    $("#validationMessages").hide();
                    $('#SearchFirstName').val("");
                    $('#MemId').val("");
                    $('#StartDate').val("");
                    $('#EndDate').val("");
                    $('#ddlStatus ').val("");
                }
                else {
                    $('#trMemName').hide();
                    $('#trNote').show();
                    $('#trPackage').hide();
                    $('#trStartDate').show();
                    $('#trEndDate').show();
                    $('#ddlpackage').val("0");
                    $('#validationMessages').html('');
                    $('#KYCDocumentgrid').hide();
                    $('#divShowHide').hide();
                    $('#DivHideButton').hide();
                    $('#tablePaidId').hide();
                    $("#validationMessages").hide();
                    $('#SearchFirstName').val("");
                    $('#MemId').val("");
                    $('#StartDate').val("");
                    $('#EndDate').val("");
                    $('#ddlStatus ').val("");
                }
            });
        });

        $("#search-chagePackageDetails").click(function () {

            var Choice = $("#ddlChoice").val();
            var SearchFirstName = $("#SearchFirstName").val();
            var MemId = $("#MemId").val();
            var ddlpackage = $('#ddlpackage').val();
            //var StartDate = $("#StartDate").val();
            //var EndDate = $("#EndDate").val();
            var StartDate = getDate($("#StartDate").data("kendoDatePicker").value());
            var EndDate = getDate($("#EndDate").data("kendoDatePicker").value());
            var validationDivs = '';
            $('#validationMessages').html('');
            $('#KYCDocumentgrid').hide();
            $('#divShowHide').hide();
            $('#DivHideButton').hide();
            $('#tablePaidId').hide();
            $("#validationMessages").hide();
            $(".alert.alert-success.alert-dismissable").hide();
            $(".alert.alert-danger.alert-dismissable").hide();
            var flag = true;

            if (Choice == 1) {
                if (StartDate != '' && EndDate == '') {
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterEndDate")</div>';
                    flag = false;
                }

                if (EndDate != '' && StartDate == '') {
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterStartDate")</div>';
                    flag = false;
                }

                var EnteredDate = getDate($("#StartDate").data("kendoDatePicker").value());
                var EnteredFromdate=getDate($("#EndDate").data("kendoDatePicker").value());
                var myDate = new Date(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                var myFromDate = new Date(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                var today = new Date();
                var start_time=$("#DatewiseFrom").val();
                var end_time=$("#DatewiseTo").val();

                if (myFromDate > today) {

                    validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    flag=false;
                }
                if (myFromDate < myDate) {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    flag=false;
                }
            }

            if (Choice == 0) {
                if (SearchFirstName == '') {
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.IdNameRequired")</div>';
                    flag = false;
                }

                if (SearchFirstName != "" && MemId == '') {
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                    flag = false;
                }
            }

            if (Choice == 2) {
                if (ddlpackage == 0) {
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.SelectPackage")</div>';
                    flag = false;
                }
            }

            if (flag) {

                @*var data = {

                    MemId: $('#MemId').val(),
                    ddlChoice: $('#ddlChoice').val(),
                    ddlpackage: $('#ddlpackage').val(),
                    StartDate: $('#StartDate').val(),
                    EndDate: $('#EndDate').val(),
                }

                addAntiForgeryToken(data);

                $("#sucessMessages").html(@ViewBag.returnMessage);

                $.ajax({
                    url: "@Html.Raw(Url.Action("KYCDocumentReport", "Customer"))",
                    type: "POST",
                    dataType: "json",
                    data: data, success: function (result) {
                        if (result == "norecords") {
                            $("#validationMessages").show();
                            $("#validationMessages").html("No Record(s) found !!!");
                            $('#KYCDocumentgrid').hide();
                            $('#tablePaidId').hide();
                            return;
                        }
                        //notavailableactivepackage
                        if (result == "notavailableactivepackage") {
                            $("#validationMessages").show();
                            $("#validationMessages").html("@T("Admin.MemberTransaction.ActivePackagesNotAvailable")");
                            $('#KYCDocumentgrid').hide();
                            $('#tablePaidId').hide();
                            return;
                        }

                        if (result != "norecords" && result != "notavailableactivepackage") {*@
                var grid = $('#KYCDocumentgrid').data('kendoGrid');
                grid.dataSource.page(1); //new search. Set page size to 1
                //grid.dataSource.read(); we already loaded the grid above using "page" function
                //clear selected checkboxes
                $('.checkboxGroups').attr('checked', false).change();
                selectedIds = [];
                $('#KYCDocumentgrid').show();
                $('#divShowHide').show();
                $('#DivHideButton').show();
                $('#tablePaidId').show();
                return false;
                //        }
                //    }
                //});
            }
            else {
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
            }
        });

        $("#SearchFirstName").keydown(function (evt) {
            var charCode = (evt.charCode) ? evt.charCode : ((evt.which) ? evt.which : evt.keyCode);
            if (charCode != 13) {
                $("#MemId").val("");
            }
        });

    </script>


}



