﻿@model PancardConfirmation
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>
    ().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>
        ().GridPageSizes;
    ViewBag.Title = T("Admin.Customer.PancardConfirmation").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Pancard confirmation");
}

@{
    List<SelectListItem> ddselectOptions = new List<SelectListItem>();
    ddselectOptions.Add(new SelectListItem
    {
        Text = "All Record(s)",
        Value = "1",
        Selected = true
    });
    ddselectOptions.Add(new SelectListItem
    {
        Text = "ID/Name-Wise",
        Value = "0"
    });
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.searchId)
    @Html.HiddenFor(m => m.selectedIds)
    @Html.HiddenFor(m => m.ManualDateEnabled)
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="alert alert-success alert-dismissable" id="successMessages">
    </div>

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Customer.PancardConfirmation.ViewReport")
        </h1>
        <div class="pull-right">
            <div class="btn-group">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.selectOption)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.selectOption, ddselectOptions, new { Id = "selectOption" })
                                        @Html.ValidationMessageFor(model => model.selectOption)
                                    </div>
                                </div>
                                <div class="form-group" id="divDatewise">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.DatewiseFrom)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.DatewiseFrom)
                                        @Html.ValidationMessageFor(model => model.DatewiseFrom)
                                    </div>
                                </div>
                                <div class="form-group" id="divDatewiseTo">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.DatewiseTo)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.DatewiseTo)
                                        @Html.ValidationMessageFor(model => model.DatewiseTo)
                                    </div>
                                </div>
                                <div class="form-group" id="divIDwise">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.memberID)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.memberID)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                        @Html.ValidationMessageFor(model => model.memberID)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-2">
                                <button type="button" id="search-PancardConfirmation" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Customers.Pancard.ViewReport")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="divShowHide">
                    <div class="panel-body">
                        <h3>@T("Admin.Customer.SearchResult")</h3>
                        <br />
                        <div id="PancardConfirmation-grid"></div>

                        <script>
                            $("#PancardConfirmation-grid").hide();
                            $("#save-PancardConfirmation").hide();
                            $("#tablePancard").hide();
                            $('#divShowHide').hide();

                            function retunrKendogrid()
                            {
                                $("#PancardConfirmation-grid").show();
                                $("#save-PancardConfirmation").show();
                                $("#tablePancard").show();
                                $('#divShowHide').show();
                                $("#PancardConfirmation-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("PancardConfirmationGrid", "Customer"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: true,
                                    columns: [{
                                        field: "ID",
                                        headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: "<input type='checkbox' value='#=mjdMemID#' class='checkboxGroups'/>",
                                        width: 50,
                                    },   {
                                        field: "srNo",
                                        title: "@T("Admin.Customer.PancardConfirmation.SrNo")",
                                        width: 150,
                                        hidden:true,
                                    } ,{
                                        field: "mjdMemID",
                                        title: "@T("Admin.Customer.PancardConfirmation.mjdMemID")",
                                        hidden:true,
                                        width: 150,
                                    },{
                                        field: "MemNumber",
                                        title: "@T("Admin.Customer.PancardConfirmation.MemNumber")",
                                        width: 150,
                                    }, {
                                        field: "MemName",
                                        title: "@T("Admin.Customer.PancardConfirmation.MemName")",
                                        width: 150,
                                    }, {
                                        field: "DOJ",
                                        title:  "@T("Admin.Customer.PancardConfirmation.DOJ")",
                                        width: 150,
                                    },{
                                        field: "JoiningPackage",
                                        title: "@T("Admin.Customer.PancardConfirmation.JoiningPackage")",
                                        width: 150,
                                    },{
                                        field: "PancardNo",
                                        title: "@T("Admin.Customer.PancardConfirmation.PancardNo")",
                                        width: 150,
                                    }, {
                                        field: "Status",
                                        title:  "@T("Admin.Customer.PancardConfirmation.Status")",
                                        width: 150,
                                    },{
                                        field: "ViewPancardDocument",
                                        title:  "@T("Admin.CustomerReport.PanCardDocumentImg")",
                                        template:"#=getImage(ViewPancardDocument,KycId,PancardName)#",
                                        width: 150,
                                    }]
                                });
                            }

                            function  getImage(ViewPancardDocument,KycId,PancardName){
                                var str;
                                if(ViewPancardDocument!="-")
                                {
                                    str="<a onclick=\"javascript:OpenWindow('@Url.Content("~/Admin/Customer/ViewFolderImage")?MemNo="+KycId+"&KYCDocumentName="+ PancardName+"', 500, 500, true); return false;\" style='cursor:pointer' />"+ViewPancardDocument+"</a>"
                                    return str;
                                }
                                else{
                                    str=ViewPancardDocument;
                                    return str;
                                }
                            }

                            $("#divIDwise").hide();
                            $("#showButtons").hide();
                            $('#divShowHide').hide();

                            $('#memberID').autocomplete({
                                delay: 500,
                                minLength: 1,
                                @*source: '@(Url.Action("SearchTermAutoCompletePancard", "Customer"))',*@
                                source: '@(Url.Action("SearchTermAutoCompleteDownline", "Common"))',
                                appendTo: '.search-box',
                                select: function (event, ui) {
                                    $("#searchId").val(ui.item.Id);
                                    $("#memberID").val(ui.item.label);
                                    $("#divfirstname").show();
                                    //  return false;
                                }
                            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                                var t = item.label;
                                //html encode
                                t = $('<div/>').text(t).html();
                                return $("<li></li>")
                                    .data("item.autocomplete", item)
                                    .append("<a><span>" + t + "</span></a>")
                                    .appendTo(ul);
                            };

                            $(document).ready(function () {
                                $("#save-PancardConfirmation").hide();
                                $("#tablePancard").hide();
                                $("#validationMessages").hide();
                                $("#DatewiseFrom").keyup(function(){
                                    $(this).val('');
                                });

                                $("#DatewiseTo").keyup(function(){
                                    $(this).val('');
                                });
                                $('#selectOption').change(function () {
                                    var value = $(this).val();
                                    $("#validationMessages").hide();
                                    $("#successMessages").hide();
                                    if (value == 0) {
                                        $("#divIDwise").show();
                                        $("#divDatewise").hide();
                                        $("#divDatewiseTo").hide();
                                        $("#PancardConfirmation-grid").hide();
                                        $("#save-PancardConfirmation").hide();
                                        $("#tablePancard").hide();
                                        $("#memberID" ).val("");
                                        $("#memberID" ).focus();
                                        $("#showButtons").hide();
                                        $('#divShowHide').hide();
                                        $("#DatewiseFrom").val("");
                                        $('#DatewiseTo').val("");

                                    }
                                    else {
                                        $("#divDatewise").show();
                                        $("#divDatewiseTo").show();
                                        $("#divIDwise").hide();
                                        $("#searchId").val("");
                                        $("#validationMessages").hide();
                                        $("#validationMessages").html("");
                                        $("#showButtons").hide();
                                        $('#divShowHide').hide();
                                    }
                                });

                                $("#btnReset").click(function () {
                                    $("#divDatewise").show();
                                    $("#divDatewiseTo").show();
                                    $("#divIDwise").hide();
                                    $("#searchId").val("");
                                    $("#PancardConfirmation-grid").hide();
                                    $("#save-PancardConfirmation").hide();
                                    $("#tablePancard").hide();
                                    $("#validationMessages").hide();
                                    $("#validationMessages").html("");
                                    $("#showButtons").hide();
                                    $('#divShowHide').hide();
                                    $("#validationMessages").hide();
                                    $("#successMessages").hide();
                                });
                            });

                        </script>
                        <script type="text/javascript">
                            var selectedIds = [];

                            $(document).ready(function () {
                                $('#selectOption').val("1");
                                $("#validationMessages").hide();
                                $("#successMessages").hide();
                                //$( "#memberID" ).keydown(function(evt) {
                                //    var charCode = (evt.charCode) ? evt.charCode : ((evt.which) ? evt.which : evt.keyCode);

                                //    if (charCode != 13) {
                                //        $("#searchId").val("");
                                //    }
                                //});
                                //search button
                                $('#search-PancardConfirmation').click(function (e) {
                                    e.preventDefault();
                                    //
                                    $(".alert.alert-success.alert-dismissable").hide();
                                    $(".alert.alert-danger.alert-dismissable").hide();
                                    $("#validationMessages").hide();
                                    $("#successMessages").hide();
                                    $('#validationMessages').html('');

                                    var EnteredDate = getDate($("#DatewiseFrom").data("kendoDatePicker").value());
                                    var EnteredFromdate=getDate($("#DatewiseTo").data("kendoDatePicker").value());

                                    var myDate = new Date(getDateFromString($("#DatewiseFrom").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                    var myFromDate = new Date(getDateFromString($("#DatewiseTo").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                                    var today = new Date();
                                    var validationDivs='';
                                    var start_time=$("#DatewiseFrom").val();
                                    var end_time=$("#DatewiseTo").val();

                                    if (myFromDate > today) {
                                        $("#validationMessages").show();
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                                        $('#validationMessages').html(validationDivs);
                                        // flag=false;
                                        $('#divShowHide').hide();
                                        return;
                                    }
                                    if (myFromDate < myDate) {
                                        $("#validationMessages").show();
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                                        //flag=false;
                                        $('#validationMessages').html(validationDivs);
                                        $('#divShowHide').hide();
                                        return;
                                    }

                                    var SearchFirstName= $("#memberID").val(),MemId= $("#searchId").val();


                                    if(SearchFirstName =='' &&  $('#selectOption').val()=="0" )
                                    {
                                        $("#validationMessages").show();
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.IdNameRequired")</div>';
                                        $('#validationMessages').append(validationDivs);
                                        // $("#validationMessages").html('Enter ID/Name');$("#showButtons").hide();
                                        $('#divShowHide').hide();
                                        return;
                                    }
                                    if( $("#searchId").val()=="" &&  $('#selectOption').val()=="0" && SearchFirstName =='')
                                    {
                                        // alert("Enter ID/Name");
                                        $("#validationMessages").show();
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.IdNameRequired")</div>';
                                        $('#validationMessages').append(validationDivs);
                                        $('#memberID').focus();$("#showButtons").hide();
                                        $('#divShowHide').hide();
                                        return;
                                    }
                                    else if(new Date(start_time) > new Date(end_time))
                                    {
                                        //alert("From Date must be less than or equal to To date.");
                                        // $("#showButtons").hide();`
                                        validationDivs=validationDivs+'<div>@T("Admin.MemberReports.datediffeenceError")</div>';
                                        $('#validationMessages').append(validationDivs);
                                        $('#divShowHide').hide();
                                        return;
                                    }
                                    else if(start_time=="" && end_time!="" )
                                    {
                                        // alert("Must enter From date.");$("#showButtons").hide();
                                        $("#validationMessages").show();
                                        validationDivs=validationDivs+'<div>@T("Admin.MemberReports.enterfromdate")</div>';
                                        $('#validationMessages').append(validationDivs);
                                        $('#divShowHide').hide();
                                        return;
                                    }
                                    else if(start_time!="" && end_time=="" )
                                    {
                                        // alert("Must enter To date.");$("#showButtons").hide();
                                        validationDivs=validationDivs+'<div>@T("Admin.MemberReports.entertodate")</div>';
                                        $('#validationMessages').append(validationDivs);
                                        $('#divShowHide').hide();
                                        return;
                                    }
                                    else
                                    {
                                        var startDate =null;
                                        var endDate=null;
                                        var DatewiseFrom= $("#DatewiseFrom").val();
                                        var DatewiseTo= $("#DatewiseTo").val();
                                        var Choice= $('#selectOption').val()
                                        if(Choice!='0')
                                        {
                                            if(DatewiseFrom!="")
                                                startDate=getDate($("#DatewiseFrom").data("kendoDatePicker").value());
                                            if(DatewiseTo!="")
                                                endDate=getDate($("#DatewiseTo").data("kendoDatePicker").value());
                                        }

                                        var data = {
                                            memberID: $('#memberID').val(),
                                            selectOption:$('#selectOption').val(),
                                            DatewiseFrom: startDate,
                                            DatewiseTo:endDate,
                                            //DatewiseFrom: $('#DatewiseFrom').val(),
                                            //DatewiseTo: $('#DatewiseTo').val(),
                                            searchId:$('#searchId').val()
                                        };

                                        addAntiForgeryToken(data);

                                        $.ajax({  url: "@Html.Raw(Url.Action("PancardConfirmationGrid", "Customer"))",
                                            type: "POST",
                                            dataType: "json",
                                            data:data  , success: function(result){


                                                if(result=="Confirmed")
                                                {
                                                    $("#successMessages").show();
                                                    $("#successMessages").html("Member Already Confirmed !!!");
                                                    $("#PancardConfirmation-grid").hide();
                                                    $("#save-PancardConfirmation").hide();
                                                    $("#tablePancard").hide();
                                                    $("#showButtons").hide();
                                                    $('#divShowHide').hide();
                                                }
                                                if(result=="norecords" )
                                                {
                                                    $("#validationMessages").show();
                                                    $("#validationMessages").html("No Record Found !!!");
                                                    $("#PancardConfirmation-grid").hide();
                                                    $("#save-PancardConfirmation").hide();
                                                    $("#tablePancard").hide();
                                                    $("#showButtons").hide();
                                                    $('#divShowHide').hide();
                                                }
                                                if(result=="enterValidID" )
                                                {
                                                    $("#validationMessages").show();
                                                    $("#validationMessages").html("Enter Valid ID !!!");
                                                    $("#PancardConfirmation-grid").hide();
                                                    $("#save-PancardConfirmation").hide();
                                                    $("#tablePancard").hide();
                                                    $("#showButtons").hide();
                                                    $('#divShowHide').hide();
                                                }


                                                if(result!="norecords" && result!="Confirmed"){

                                                    retunrKendogrid();
                                                    var grid = $('#PancardConfirmation-grid').data('kendoGrid');
                                                    grid.dataSource.page(1); //new search. Set page size to 1
                                                    //grid.dataSource.read(); we already loaded the grid above using "page" function
                                                    $('.checkboxGroups').attr('checked', false).change();
                                                    selectedIds = [];
                                                    $("#validationMessages").html("");
                                                    return false;

                                                }
                                            }});
                                    }
                                });


                                $("#@Html.FieldIdFor(model => model.DatewiseFrom)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-PancardConfirmation").click();
                                        return false;
                                    }
                                });


                                $("#@Html.FieldIdFor(model => model.DatewiseTo)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-PancardConfirmation").click();
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.memberID)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-PancardConfirmation").click();
                                        return false;
                                    }
                                });

                                $('#PancardConfirmation-grid').on('click', '#mastercheckbox', function (e) {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#PancardConfirmation-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {

                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {

                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }

                                        var arrayDate = [];
                                        var data =$("#PancardConfirmation-grid").data("kendoGrid").dataSource._data;
                                        var something =$(this);

                                    }
                                    else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function (item, index) {
                                                return item != $check.val();
                                            });
                                        }
                                    }
                                    var ids = selectedIds.join(",");
                                    $('#selectedIds').val(ids);
                                    updateMasterCheckbox();
                                });

                            });
                            function onDataBound(e) {
                                $('#PancardConfirmation-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });
                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#PancardConfirmation-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#PancardConfirmation-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }
                            function additionalData() {
                                var startDate =null;
                                var endDate=null;
                                var DatewiseFrom= $("#DatewiseFrom").val();
                                var DatewiseTo= $("#DatewiseTo").val();
                                var Choice= $('#selectOption').val()
                                if(Choice!='0')
                                {
                                    if(DatewiseFrom!="")
                                        startDate=getDate($("#DatewiseFrom").data("kendoDatePicker").value());
                                    if(DatewiseTo!="")
                                        endDate=getDate($("#DatewiseTo").data("kendoDatePicker").value());
                                }
                                var data = {
                                    memberID: $('#@Html.FieldIdFor(model => model.memberID)').val(),
                                    selectOption:$('#@Html.FieldIdFor(model => model.selectOption)').val(),
                                    DatewiseFrom: startDate,
                                    DatewiseTo: endDate,
                                    @*DatewiseFrom: $('#@Html.FieldIdFor(model => model.DatewiseFrom)').val(),
                            DatewiseTo: $('#@Html.FieldIdFor(model => model.DatewiseTo)').val(),*@
                                    searchId:$('#@Html.FieldIdFor(model => model.searchId)').val()

                                };
                                addAntiForgeryToken(data);
                                return data;
                            }

                        </script>
                    </div>
                </div>

                <div class="panel panel-default panel-search">
                    <div class="panel-body" id="tablePancard">
                        <div class="row">
                            <div class="col-md-6">
                                @if (Model.ManualDateEnabled)
                                {
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.ManualDate)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.ManualDay),
                            Html.FieldNameFor(x => x.ManualMonth),
                            Html.FieldNameFor(x => x.ManualYear),
                            DateTime.Now.Year - 110,
                            DateTime.Now.Year,
                            Model.ManualDay,
                            Model.ManualMonth,
                            Model.ManualYear)
                                        </div>
                                    </div>


                                    <div class="form-group" id="divIDwise">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.ManualHours)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.ManualHours, new List<SelectListItem>
                                () { new SelectListItem { Text = "00", Value = "0" }, new SelectListItem { Text = "01", Value = "1" }, new SelectListItem { Text = "02", Value = "2" }
                                , new SelectListItem { Text = "03", Value = "3" }, new SelectListItem { Text = "04", Value = "4" }, new SelectListItem { Text = "05", Value = "5" }, new SelectListItem { Text = "06", Value = "6" }
                                , new SelectListItem { Text = "07", Value = "7" }, new SelectListItem { Text = "08", Value = "8" }, new SelectListItem { Text = "09", Value = "9" }, new SelectListItem { Text = "10", Value = "10" }, new SelectListItem { Text = "11", Value = "11" }, new SelectListItem { Text = "12", Value = "12" }
                                }, new { @class = "valid" })

                                            @Html.DropDownListFor(model => model.ManualMinutes, new List<SelectListItem>
                                    () { new SelectListItem { Text = "00", Value = "0" }, new SelectListItem { Text = "01", Value = "1" }, new SelectListItem { Text = "02", Value = "2" }
                                    , new SelectListItem { Text = "03", Value = "3" }, new SelectListItem { Text = "04", Value = "4" }, new SelectListItem { Text = "05", Value = "5" }, new SelectListItem { Text = "06", Value = "6" }
                                    , new SelectListItem { Text = "07", Value = "7" }, new SelectListItem { Text = "08", Value = "8" }, new SelectListItem { Text = "09", Value = "9" }, new SelectListItem { Text = "10", Value = "10" }, new SelectListItem { Text = "11", Value = "11" }, new SelectListItem { Text = "12", Value = "12" }
                                    , new SelectListItem { Text = "13", Value = "13" }, new SelectListItem { Text = "14", Value = "14" }, new SelectListItem { Text = "15", Value = "15" }, new SelectListItem { Text = "16", Value = "16" }, new SelectListItem { Text = "17", Value = "17" }, new SelectListItem { Text = "18", Value = "18" }, new SelectListItem { Text = "19", Value = "19" }, new SelectListItem { Text = "20", Value = "20" }, new SelectListItem { Text = "21", Value = "21" }, new SelectListItem { Text = "22", Value = "22" }, new SelectListItem { Text = "23", Value = "23" }
                                    , new SelectListItem { Text = "24", Value = "24" }, new SelectListItem { Text = "25", Value = "25" }, new SelectListItem { Text = "26", Value = "26" }, new SelectListItem { Text = "27", Value = "27" }, new SelectListItem { Text = "28", Value = "28" }
                                    , new SelectListItem { Text = "29", Value = "29" }, new SelectListItem { Text = "30", Value = "30" }, new SelectListItem { Text = "31", Value = "31" }, new SelectListItem { Text = "32", Value = "32" }
                                    , new SelectListItem { Text = "33", Value = "33" }, new SelectListItem { Text = "34", Value = "34" }, new SelectListItem { Text = "35", Value = "35" }
                                    , new SelectListItem { Text = "36", Value = "36" }, new SelectListItem { Text = "37", Value = "37" }, new SelectListItem { Text = "38", Value = "38" }, new SelectListItem { Text = "39", Value = "39" }
                                    , new SelectListItem { Text = "40", Value = "40" }, new SelectListItem { Text = "41", Value = "41" }, new SelectListItem { Text = "42", Value = "42" }
                                    , new SelectListItem { Text = "43", Value = "43" }, new SelectListItem { Text = "44", Value = "44" }, new SelectListItem { Text = "45", Value = "45" }, new SelectListItem { Text = "46", Value = "46" } , new SelectListItem { Text = "47", Value = "47" }, new SelectListItem { Text = "48", Value = "48" }, new SelectListItem { Text = "49", Value = "49" }
                                    , new SelectListItem { Text = "50", Value = "50" }, new SelectListItem { Text = "51", Value = "51" }, new SelectListItem { Text = "52", Value = "52" }, new SelectListItem { Text = "53", Value = "53" }
                                    , new SelectListItem { Text = "54", Value = "54" }, new SelectListItem { Text = "55", Value = "55" }, new SelectListItem { Text = "56", Value = "56" }, new SelectListItem { Text = "57", Value = "57" } , new SelectListItem { Text = "58", Value = "58" }, new SelectListItem { Text = "59", Value = "59" }
                                    }, new { @class = "valid" })
                                            @Html.DropDownListFor(model => model.ManualTimeZone, new List<SelectListItem>() { new SelectListItem { Text = "AM", Value = "AM" }, new SelectListItem { Text = "PM", Value = "PM" } }, new { @class = "valid" })
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-2">
                                <button type="submit" name="Save" id="save-PancardConfirmation" class="btn btn-primary btn-search">
                                    <i class="fa fa-save"></i>
                                    @T("admin.common.save")
                                </button>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $('#save-PancardConfirmation').click(function(e) {
                                // 
                                var validationDivs='';
                                $('#validationMessages').html('');
                                var manualDateEnabled=$('#ManualDateEnabled').val();
                                var manualDay=$('#ManualDay').val();
                                var manualMonth=$('#ManualMonth').val();
                                var manualYear=$('#ManualYear').val();

                                @*if(manualDateEnabled)
                        {
                            if((manualDay ==undefined && manualMonth== undefined && manualYear== undefined) || (manualDay =='0' && manualMonth== '0' && manualYear== '0'))
                            {
                                // alert("Select At Least One Record");
                                $("#validationMessages").show();
                                validationDivs=validationDivs+'<div>@T("Admin.MemberTransaction.DateTrasactionWasNotInForm")</div>';
                                $('#validationMessages').append(validationDivs);
                                $("#successMessages").hide();
                                return false;
                            }
                        }*@

                                if(selectedIds=='' || selectedIds.length<=0)
                                {
                                    // alert("Select At Least One Record");
                                    $("#validationMessages").show();
                                    validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAtLeastOneRecord")</div>';
                                    $('#validationMessages').append(validationDivs);
                                    $("#successMessages").hide();
                                    return false;
                                }

                                @*else{
                            var data = {
                                memberID: $('#memberID').val(),
                                selectOption:$('#selectOption').val(),
                                DatewiseFrom: $('#DatewiseFrom').val(),
                                DatewiseTo: $('#DatewiseTo').val(),
                                searchId:$('#searchId').val(),
                                selectedIds:$('#selectedIds').val(),
                                ManualDay:$('#ManualDay').val(),
                                ManualMonth:$('#ManualMonth').val(),
                                ManualYear:$('#ManualYear').val(),
                                ManualHours:$('#ManualHours').val(),
                                ManualMinutes:$('#ManualMinutes').val(),
                                ManualTimeZone:$('#ManualTimeZone').val(),
                            };

                            addAntiForgeryToken(data);

                            $.ajax({  url: "@Html.Raw(Url.Action("PancardConfirmation", "Customer"))",
                                type: "POST",
                                dataType: "json",
                                data:data  , success: function(result){

                                    if(result=="Success")
                                    {
                                        $("#successMessages").show();
                                        $("#successMessages").html("Pancard Confirmation done Successfully!!!");
                                        $("#PancardConfirmation-grid").hide();
                                        $("#save-PancardConfirmation").hide();
                                        $("#tablePancard").hide();
                                        $("#showButtons").hide();
                                        $('#searchResult').hide();
                                    }
                                    if(result=="Error")
                                    {
                                        $("#validationMessages").show();
                                        $("#validationMessages").html("Error in Pancard Confirmation");
                                        $("#PancardConfirmation-grid").hide();
                                        $("#save-PancardConfirmation").hide();
                                        $("#tablePancard").hide();
                                        $("#showButtons").hide();
                                        $('#searchResult').hide();
                                    }
                                }
                            });
                        }*@
                            });
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>
}





