﻿@** Copyright 2016 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
    * http://www.nop-templates.com/t/licensinginfo
*@

@using Nop.Web.Extensions
@using Nop.Core.Infrastructure
@using Nop.Services.Catalog;
@model SevenSpikes.Nop.Plugins.AjaxFilters.Models.ProductsModel

@{
    if (Model.ViewMode == "list")
    {
        @*list mode*@
        <div class="@Model.NopAjaxFiltersSettingsModel.ProductsListPanelSelector.TrimStart(new [] {'.'}) nop7SpikesAjaxFiltersGrid">
            <div class="item-grid">
                @foreach (var product in Model.Products)
                {
                var isResalePackage = EngineContext.Current.Resolve<IProductService>
                    ().IsResalePakage(product.Id);
                    if (isResalePackage)
                    {
                    <div class="item-box">
                        @Html.Partial("_ProductListBox", product)
                    </div>
                    }
                }
</div>
        </div>
    }
    else
    {
        @*grid mode*@
        <div class="@Model.NopAjaxFiltersSettingsModel.ProductsGridPanelSelector.TrimStart(new [] {'.'}) nop7SpikesAjaxFiltersGrid">
            <div class="item-grid">
                @foreach (var product in Model.Products)
                {
                var isResalePackage = EngineContext.Current.Resolve<IProductService>
                    ().IsResalePakage(product.Id);
                    if (isResalePackage)
                    {
                    <div class="item-box">
                        @Html.Partial("_ProductBox", product)
                    </div>
                    }
                }
</div>
        </div>
    }

    var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");

    if (!pager.IsEmpty())
    {
        <div class="@Model.NopAjaxFiltersSettingsModel.PagerPanelSelector.TrimStart(new [] {'.'})">
            @pager
        </div>
    }
}