/*
* Copyright 2012 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/


/*** TITLE & CONTAINERS ***/


.nop-jcarousel {
	position: relative;
    margin: 20px 0;
}
.nop-jcarousel .carousel-title {
    text-align: center;
}
.nop-jcarousel .carousel-title strong {
    display: block;
    font-weight: 300;
    font-size: 24px;
    padding: 8px 12px 48px;
    border-bottom: 1px dashed #797979;
    margin-bottom: 10px;
}
.nop-jcarousel .carousel-item .item-box {
    width: 100% !important;
    margin: 0;
}
.nop-jcarousel.home-page-category-grid .slick-list {
    background: #fff;
}
.nop-jcarousel.manufacturer-grid,
.nop-jcarousel.vendor-grid {
    background: url(images/shadow.png) no-repeat center bottom;
    background-size: contain;
    padding-bottom: 33px;
}
.nop-jcarousel.manufacturer-grid .slick-list,
.nop-jcarousel.vendor-grid .slick-list {
    padding: 10px 0;
}
.nop-jcarousel.manufacturer-grid .carousel-item,
.nop-jcarousel.vendor-grid .carousel-item {
    padding: 10px;
}
.nop-jcarousel.manufacturer-grid .item-box,
.nop-jcarousel.vendor-grid .item-box  {
    margin: 0;
    padding: 0;
}
.nop-jcarousel.manufacturer-grid .item-box:hover,
.nop-jcarousel.vendor-grid .item-box:hover {
    box-shadow: none;
    background: none;
}
.nop-jcarousel.manufacturer-grid .item-box a,
.nop-jcarousel.vendor-grid .item-box a {
    border: 1px solid #ececec;
    overflow: hidden;
}
.nop-jcarousel .manufacturer-item:hover .picture img, 
.nop-jcarousel .vendor-item:hover .picture img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.nop-jcarousel.category-grid .carousel-item {
    padding: 0 5px 10px;
}
.nop-jcarousel.product-grid .carousel-item {
    padding: 3px 3px 5px;
}

.jCarouselMainWrapper .category-grid .item-box .title{
    -webkit-transform: translateZ(0) scale(1.0, 1.0); /*Fix for delayed title load on swipe*/
}
.carousel-item .ribbon-position {
    -webkit-transform: translateZ(0) scale(1.0, 1.0); /*Fix for delayed ribbon load on swipe*/
}

/*** NAVIGATION ***/



.nop-jcarousel .slick-prev, 
.nop-jcarousel .slick-next {
    position: absolute;
    top: 48px;
    width: 32px;
    height: 32px;
    background-color: #333;
    background-color: rgba(0,0,0,0.3);
    background-repeat: no-repeat;
    box-shadow: inset 0 1px rgba(0,0,0,0.3);
    border-radius: 16px;
    border: none;
    font-size: 0;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
}
.nop-jcarousel .slick-prev {
    left: 50%;
    margin-left: -35px;
    background-image: url('images/prev-horizontal.png');
    background-position: 9px center;
}
.nop-jcarousel .slick-next {
    left: 50%;
    margin-left: 3px;
    background-image: url('images/next-horizontal.png');
    background-position: 13px center;
}
.nop-jcarousel .slick-prev:hover,
.nop-jcarousel .slick-next:hover {
	border-color: #888;
	background-color: #bbb;
}

.nop-jcarousel .slick-disabled {
    opacity: 0.3;
	/*filter: alpha(opacity=30);*/
    cursor: default;
}
.nop-jcarousel .slick-disabled:hover {
    background-color: rgba(0,0,0,0.3);
}

.nop-jcarousel .slick-dots {
    text-align: center;
    font-size: 0;
    padding: 10px 0;
}
.nop-jcarousel.category-grid .slick-dots,
.nop-jcarousel.manufacturer-grid .slick-dots,
.nop-jcarousel.vendor-grid .slick-dots  {
    padding: 0;
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
}
.nop-jcarousel .slick-dots li {
    display: inline-block;
    margin: 0 3px;
}
.nop-jcarousel .slick-dots li button {
    width: 10px;
    height: 10px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 16px;
    border: none;
    font-size: 0;
    cursor: pointer;
}
.nop-jcarousel .slick-dots li.slick-active button {
    background-color: rgba(0,0,0,0.4);
}

@media all and (max-width: 600px) {

    .nop-jcarousel.category-grid,
    .nop-jcarousel.manufacturer-grid,
    .nop-jcarousel.vendor-grid {
        background: none;
    }
}

@media all and (min-width: 769px) {

    .nop-jcarousel .carousel-title {
        text-align: left;
    }   
    .nop-jcarousel .carousel-title strong {
        padding: 8px 0;
    }

    .nop-jcarousel .slick-prev,
    .nop-jcarousel .slick-next {
        top: 8px;
    }
    .nop-jcarousel .slick-prev {
        right: 36px;
        left: auto;
        margin: 0;
    }
    .nop-jcarousel .slick-next {
        right: 0;
        left: auto;
        margin: 0;
    }

}

@media all and (min-width: 981px) {
    
    .side-2 .nop-jcarousel .carousel-title {
        text-align: center;
    }
    .side-2 .nop-jcarousel .carousel-title strong {
        padding: 8px 33px;
        font-size: 20px;
        text-align: center;
    }
    .side-2 .nop-jcarousel .slick-prev {
        left: 0;
        top: 5px;
    }
    .side-2 .nop-jcarousel .slick-next {
        right: 0;
        top: 5px;
    }
    
    .side-2 .nop-jcarousel.category-grid,
    .side-2 .nop-jcarousel.manufacturer-grid,
    .side-2 .nop-jcarousel.vendor-grid {
        background: none;
    }
}

@media all and (min-width: 1060px) {

    /* manufacturers nav */

    .center-1 .nop-jcarousel.manufacturer-grid .slick-prev, 
    .center-1 .nop-jcarousel.manufacturer-grid .slick-next,
    .center-1 .nop-jcarousel.vendor-grid .slick-prev, 
    .center-1 .nop-jcarousel.vendor-grid .slick-next {
        top: 50%;
        margin: 0 0 -13px !important;
    }
    .center-1 .nop-jcarousel.manufacturer-grid .slick-prev,
    .center-1 .nop-jcarousel.vendor-grid .slick-prev {
        left: -32px;
    }
    .center-1 .nop-jcarousel.manufacturer-grid .slick-next,
    .center-1 .nop-jcarousel.vendor-grid .slick-next {
        right: -32px;
    }

}
