﻿@model Nop.Web.Framework.Models.MyCommission.CommissionLedger

@{
    Html.AddTitleParts(T("Dashboard.MyCommission.CommissionLedger").Text);
    Layout = "~/Views/Shared/_ColumnVF.cshtml";
}

@{
    List<SelectListItem> selectOptions = new List<SelectListItem>();
    selectOptions.Add(new SelectListItem
    {
        Text = "Date-Wise",
        Value = "0",
        Selected = true
    });
    selectOptions.Add(new SelectListItem
    {
        Text = "Payout-Wise",
        Value = "1"
    });
}


<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />

<style>
    .table.dataTable.nowrap th, table.dataTable.nowrap td {
        white-space: initial !important;
    }
</style>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.DailyBinaryFlag)
    @*@Html.HiddenFor(model => model.tempPayouList)*@

    @Html.AntiForgeryToken()

    <div class="page account-page return-request-list-page ">

        <div class="page-title">
            <h1>@T("Dashboard.MyCommission.CommissionLedger")</h1>
        </div>
        <div class="page registration-result-page">
            <div class="page-body">
                @{
                    var validationSummary = Html.ValidationSummary(true);
                }
                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }
                <div class="customer-blocks">
                    <div class="panel panel-default">
                        <div class="message-error error" id="validationMessages"></div>
                        <div class="panel-body">

                            <div class="panel-group" id="accordion">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <strong>@T("Dashboard.MyNetwork.SearchOption")</strong>
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <span style="float:right" id="btnplusminus" class="glyphicon glyphicon-plus"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="inputs">
                                                @Html.LabelFor(model => model.ddlOption)
                                                @Html.DropDownListFor(model => model.ddlOption, selectOptions, new { Id = "ddlOption" })
                                            </div>
                                            <div id="datewsiediv">
                                                <div class="inputs">
                                                    @Html.LabelFor(model => model.DatewiseFrom)


                                                    @Html.EditorFor(model => model.DatewiseFrom)
                                                    @Html.HiddenFor(model => model.HDatewiseFrom)

                                                    @Html.ValidationMessageFor(model => model.DatewiseFrom)
                                                </div>
                                                <div class="inputs">
                                                    @Html.LabelFor(model => model.DatewiseTo)


                                                    @Html.EditorFor(model => model.DatewiseTo)
                                                    @Html.HiddenFor(model => model.HDatewiseTo)

                                                    @Html.ValidationMessageFor(model => model.DatewiseTo)
                                                </div>
                                            </div>
                                            <div id="payoutwisediv">
                                                <div class="inputs">
                                                    @Html.LabelFor(model => model.PM_ID)
                                                    @Html.DropDownListFor(model => model.PM_ID, Model.PlanTypeList, "Select Plan Type", new { autocomplete = "off", maxlength = 22, Id = "ddlPlanType" })
                                                </div>
                                            </div>
                                            <div class="inputs" id="trPayoutNoList">
                                                @Html.LabelFor(model => model.PN_ID)
                                                @Html.DropDownListFor(model => model.PN_ID, Model.PayoutNoList, "Select Payout Number", new { autocomplete = "off", maxlength = 22, Id = "ddlPayoutFrom" })
                                            </div>
                                            <div class="inputs" id="trPayoutStartDate">
                                                @Html.LabelFor(model => model.PayoutStartDate)
                                                <span id="PayoutStartDate">@Model.PayoutStartDate</span>
                                                @Html.HiddenFor(model => model.PayoutStartDate, new { id = "payoutStartDate" })
                                                @*@Html.DropDownListFor(model => model.PayoutStartDate, Model.PayoutStartDateList, "Select Payout Start Date", new { autocomplete = "off", maxlength = 22 })*@

                                            </div>
                                            <div class="inputs" id="trPayoutEndDate">
                                                @Html.LabelFor(model => model.PayoutEndDate)
                                                <span id="PayoutEndDate">@Model.PayoutEndDate</span>
                                                @Html.HiddenFor(model => model.PayoutEndDate, new { id = "payoutEndDate" })
                                                @*@Html.DropDownListFor(model => model.PayoutEndDate, Model.PayoutEndDateList, "Select Payout End Date", new { autocomplete = "off", maxlength = 22 })*@

                                            </div>
                                            @if (Model.DailyBinaryFlag)
                                            {
                                                <div class="inputs" id="trDailyBinaryFlag">

                                                    @Html.LabelFor(model => model.PayoutCycle)
                                                    <span id="DPayoutCycle"></span>
                                                    @*@Html.DisplayFor(model => model.PayoutCycle)*@
                                                    @*<label class="control-label" id="DPayoutCycle" title=""></label>*@
                                                    @Html.HiddenFor(model => model.PayoutCycle)

                                                </div>
                                            }

                                            <div class="inputs">
                                                <div class="buttons">
                                                    <table width="100%">
                                                        <tr>
                                                            <td style="text-align:center;">
                                                                <input type="submit" id="search" class="button-1" value="@T("Tree.Search.Button")" />
                                                                @*<input type="submit" id="search" class="button-1" value="@T("Tree.Search.Button")" />*@
                                                                <input type="button" id="btnreset" class="button-1" value="@T("Tree.Reset.Button")" />
                                                                <input type="hidden" name="hdnReset" id="hdnReset" value="" />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                           

                            @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="margin-top:2%">

                                <input type="button" value="@T("admin.common.exporttoexcel")" id="exportexcel-all" class="button-1 exportexcelbtn">

                            </div>*@
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">

                                    <div class="x_title">
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content" id="ScrollableDiv">
                                        <div class="table-wrapper">
                                            <table id="tblCommissionLegder" class="display nowrap stripe cell-border cart" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>@Html.LabelFor(model => model.srNo)</th>
                                                        @*<th>@Html.LabelFor(model => model.Date)</th>*@
                                                        @*<th>@Html.LabelFor(model => model.AmountToReceive)</th>
                                                            <th>@Html.LabelFor(model => model.AmountReceived)</th>*@
                                                        @*<th>@Html.LabelFor(model => model.Paymode)</th>*@


                                                        <th>@Html.LabelFor(model => model.PayoutNo)</th>
                                                        <th>@Html.LabelFor(model => model.StartDate)</th>
                                                        <th>@Html.LabelFor(model => model.EndDate)</th>
                                                        <th>@Html.LabelFor(model => model.TotalIncome)</th>
                                                        <th>@Html.LabelFor(model => model.TotalDeduction)</th>
                                                        <th>@Html.LabelFor(model => model.BFAmount)</th>
                                                        <th>@Html.LabelFor(model => model.CFAmount)</th>
                                                        <th>@Html.LabelFor(model => model.NetAmount)</th>
                                                        <th>@Html.Label("Statement")</th>

                                                    </tr>
                                                </thead>

                                                <tfoot>
                                                    <tr>
                                                        <th><br />Totals</th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th><br /> ₹ @Model.TotalIncome</th>
                                                        <th><br /> ₹ @Model.TotalDeduction</th>
                                                        @*<th>@Html.LabelFor(model => model.CF)<br /> @Model.CF</th>*@
                                                        <th></th>
                                                        <th></th>
                                                        <th><br />₹ @Model.NetAmount</th>
                                                        <th></th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    @for (int i = 0; i < Model.commissionList.Count(); i++)
                                                    {

                                                        if (Convert.ToInt32(Model.commissionList[i].getAmount) > 0)
                                                        {

                                                            @*<tr onclick="location.href = '@Url.Action("PlanTypeDetails", new { trnCode = Model.commissionList[i].trnCode })'">*@
                                                            <tr>
                                                                <td>@Model.commissionList[i].srNo</td>
                                                                @*<td>@Model.commissionList[i].Date</td>*@

                                                                @*"selectLink", title = "click here to see Commission Voucher " })*@
                                                                @*<td>@Model.commissionList[i].AmountToReceive</td>*@

                                                                @*<td class="selectLink" onclick="location.href = '@Url.Action("CommissionInvoiceVoucher", new { iType = Model.commissionList[i].itype,
                                                                    dtCode = Model.commissionList[i].dtcode })'">@Model.commissionList[i].AmountToReceive</td>*@

                                                                @*<td title="click here to see Plan Details " class="selectLink">
                                                                        @Model.commissionList[i].AmountReceived
                                                                    </td>*@

                                                                @*<td>@Model.commissionList[i].Paymode</td>*@

                                                                <td>@Model.commissionList[i].PayoutNo</td>
                                                                <td>@Model.commissionList[i].StartDate</td>
                                                                <td>@Model.commissionList[i].EndDate</td>
                                                                <td>@Model.commissionList[i].TotalIncome</td>
                                                                <td>@Model.commissionList[i].TotalDeduction</td>
                                                                <td>@Model.commissionList[i].BFAmount</td>
                                                                <td>@Model.commissionList[i].CFAmount</td>
                                                                <td>@Model.commissionList[i].NetAmount</td>
                                                                <td> <a onclick="location.href = '@Url.Action("PlanTypeDetails", new { trnCode = Model.commissionList[i].trnCode })'">View Statement</a></td>
                                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            if (Model.MultiBinaryFlag == true)
                                                            {
                                                                @*<tr onclick="location.href = '@Url.Action("CommissionInvoiceMVoucher", new { iType = Model.commissionList[i].itype, dtCode = Model.commissionList[i].dtcode })'">*@
                                                                <tr>
                                                                    <td>@Model.commissionList[i].srNo</td>
                                                                    @*<td>@Model.commissionList[i].Date</td>*@
                                                                    @*<td class="selectLink" title="click here to see Commission Voucher ">@Model.commissionList[i].AmountToReceive</td>
                                                                        <td>@Model.commissionList[i].AmountReceived  </td>*@

                                                                    @*<td>@Model.commissionList[i].Paymode</td>*@

                                                                    <td>@Model.commissionList[i].PayoutNo</td>
                                                                    <td>@Model.commissionList[i].StartDate</td>
                                                                    <td>@Model.commissionList[i].EndDate</td>
                                                                    <td>@Model.commissionList[i].TotalIncome</td>
                                                                    <td>@Model.commissionList[i].TotalDeduction</td>
                                                                    <td>@Model.commissionList[i].BFAmount</td>
                                                                    <td>@Model.commissionList[i].CFAmount</td>
                                                                    <td>@Model.commissionList[i].NetAmount</td>
                                                                    <td> <a onclick="location.href = '@Url.Action("CommissionInvoiceMVoucher", new { iType = Model.commissionList[i].itype, dtCode = Model.commissionList[i].dtcode })'">View Statement</a></td>
                                                                </tr>
                                                            }
                                                            else
                                                            {
                                                                @*<tr onclick="location.href = '@Url.Action("CommissionInvoiceVoucher", new { iType = Model.commissionList[i].itype, dtCode = Model.commissionList[i].dtcode })'">*@
                                                                <tr>
                                                                    <td>@Model.commissionList[i].srNo</td>
                                                                    @*<td>@Model.commissionList[i].Date</td>*@
                                                                    @*<td class="selectLink" title="click here to see Commission Voucher ">@Model.commissionList[i].AmountToReceive</td>
                                                                        <td>@Model.commissionList[i].AmountReceived  </td>*@

                                                                    @*<td>@Model.commissionList[i].Paymode</td>*@

                                                                    <td>@Model.commissionList[i].PayoutNo</td>
                                                                    <td>@Model.commissionList[i].StartDate</td>
                                                                    <td>@Model.commissionList[i].EndDate</td>
                                                                    <td>@Model.commissionList[i].TotalIncome</td>
                                                                    <td>@Model.commissionList[i].TotalDeduction</td>
                                                                    <td>@Model.commissionList[i].BFAmount</td>
                                                                    <td>@Model.commissionList[i].CFAmount</td>
                                                                    <td>@Model.commissionList[i].NetAmount</td>
                                                                    <td> <a onclick ="location.href = '@Url.Action("CommissionInvoiceVoucher", new { iType = Model.commissionList[i].itype, dtCode = Model.commissionList[i].dtcode })'">View Statement </a></td>
                                                                </tr>

                                                            }

                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


                    }
<style>
    .selectLink {
        color: red;
        font-weight: bold;
    }

        .selectLink:hover {
            color: #121b90;
            transition: all 0.5s ease-in-out;
        }
</style>
<script type="text/javascript">

    $(document).ready(function () {
       
        if(@Model.commissionList.Count()>10){
            $.extend(true, $.fn.dataTable.defaults, {
                "searching": true,
                "ordering": true,
                "info": true,
                "paging": true,
                "pageLength": 5

            });
        }
        else
        {
            $.extend(true, $.fn.dataTable.defaults, {
                "searching": true,
                "ordering": true,
                "info": true,
                "paging": false,
                "pageLength": 5

            });
        }

        $('#tblCommissionLegder').dataTable({

            pagingType: "full_numbers",
            iDisplayLength: 10,
            dom: 'T<"clear">lfrtip',
            "oLanguage": {
                "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
            },
            tableTools: {
                "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                "sRowSelect": "multi",
                "aButtons": [                   
                   'xls'
                ]
            },
            processing: true,
            oLanguage: {sProcessing: "<div class='loader'></div>"}
        });
        $(".collapse.in").each(function () {
            $("#btnplusminus").siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
        });
        $(".collapse").on('show.bs.collapse', function () {
            $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }).on('hide.bs.collapse', function () {
            $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });
    });

    $(document).ready(function () {
        $.get("@(Url.Action("PayoutListBind", "Common"))", { typeId: $('#ddlPlanType').val(), flag: 1 }, function (response) {

            var PayoutStartDate = '';
            var PayoutEndDate = '';
            if (response.PayoutNoList.length > 0) {
                for (var i = 0; i < response.PayoutNoList.length; i++) {

                    var obj=new Object()
                    obj.pn=response.PayoutNoList[i].Value;
                    obj.sd=response.PayoutStartDateList[i].Value;
                    obj.ed=response.PayoutEndDateList[i].Value;
                    //var objArray = new Array();
                    objArray.push(obj);
                }

                if ($('#DailyBinaryFlag').val() == 'True') {
                    if($('#ddlPayoutFrom').val()=="")
                    {
                        $('#trDailyBinaryFlag').hide();
                    }
                    else{
                        var value = obj.pn;// $('#ddlPayoutFrom').val();

                        if ($('#DailyBinaryFlag').val() == 'True') {
                            $.get("@(Url.Action("GetPayoutCycle", "Common"))", { payoutNo: value }, function (response) {

                                $('#trDailyBinaryFlag').show();
                                $("#DPayoutCycle").html('');
                                $("#DPayoutCycle").append(response.paycoutCycle);
                                $("#PayoutCycle").val(response.paycoutCycle);
                            });
                        }
                    }
                }
            }
            else {

                $('#trPayoutNoList').hide();
                $('#trPayoutStartDate').hide();
                $('#trPayoutEndDate').hide();
            }
            //if(objArray.length > 0)
            //{
            //    $("#PayoutStartDate").html(objArray[0].sd);
            //    $("#PayoutEndDate").html(objArray[0].ed);
            //    $("#payoutStartDate").val(objArray[0].sd);
            //    $("#payoutEndDate").val(objArray[0].ed);
            //}
        });


        $('#trPayoutStartDate').hide();
        $('#trPayoutEndDate').hide();
        $("#divseachById").hide();
        $('#trPayoutNoList').hide();
        $("#datewsiediv").show();
        $("#payoutwisediv").hide();
        $('#ddlOption').val("0");
        var objArray = new Array();
        if($("#ddlOption").val()=="1")
        {
            $('#trDailyBinaryFlag').show();
        }
        else
        {
            $('#trDailyBinaryFlag').hide();
        }


        $("#divHeadingSearch").click(function(){
            $("#divseachById").slideToggle();
        });
        $("#payoutwisediv").hide();

        var ddVal = @ViewBag.option;
        //  alert(ddVal);
        if (ddVal == "1") {
            $("#payoutwisediv").show();
            $("#datewsiediv").hide();
            $('#ddlOption').val("1");
            $('#trPayoutNoList').show();
            $('#trPayoutStartDate').show();
            $('#trPayoutEndDate').show();
            if($("#ddlPayoutFrom").val()=="")
            {
                $('#trPayoutNoList').hide();
                $('#trPayoutStartDate').hide();
                $('#trPayoutEndDate').hide();
            }

        }
        else  {
            $("#datewsiediv").show();
            $("#payoutwisediv").hide();
            $('#ddlOption').val("0");
        }

        $('#ddlOption').change(function () {

            var value = $(this).val();
            if (value == 0) {
                $("#datewsiediv").show();
                $('#trPayoutStartDate').hide();
                $('#trPayoutEndDate').hide();
                $('#trPayoutNoList').hide();
                $("#payoutwisediv").hide();

            }
            else if (value == 1) {
                $("#payoutwisediv").show();
                $("#datewsiediv").hide();
                $('#trPayoutStartDate').hide();
                $('#trPayoutEndDate').hide();
                $('#trPayoutNoList').hide();
                $("#ddlPlanType").val("");

            }
            if($("#ddlOption").val()=="1")
            {
                $('#trDailyBinaryFlag').show();
            }
            else
            {
                $('#trDailyBinaryFlag').hide();
            }

        });

        $('#ddlPlanType').change(function () {
            objArray=new Array();
           
            var value = $(this).val();
            var startDate = '';

            $("#ddlPayoutFrom").html('');
            $("#PayoutStartDate").html('');
            $("#PayoutEndDate").html('');

            var PayoutNoListStr = '';

            if (value != null && value != "") {

                $.get("@(Url.Action("PayoutListBind", "Common"))", { typeId: value, flag: 1 }, function (response) {

                    var PayoutStartDate = '';
                    var PayoutEndDate = '';
                    if (response.PayoutNoList.length > 0) {
                        for (var i = 0; i < response.PayoutNoList.length; i++) {

                            PayoutNoListStr = PayoutNoListStr + '<option value="' + response.PayoutNoList[i].Value + '">' + response.PayoutNoList[i].Text + '</option>';
                            var obj=new Object()
                            obj.pn=response.PayoutNoList[i].Value;
                            obj.sd=response.PayoutStartDateList[i].Value;
                            obj.ed=response.PayoutEndDateList[i].Value;
                            //var objArray = new Array();
                            objArray.push(obj);

                            $('#trPayoutStartDate').show();
                            $('#trPayoutEndDate').show();
                            $('#trPayoutNoList').show();


                        }

                        if ($('#DailyBinaryFlag').val() == 'True') {
                            if($('#ddlPayoutFrom').val()=="")
                            {
                                $('#trDailyBinaryFlag').hide();
                            }
                            else{
                                var value = obj.pn;// $('#ddlPayoutFrom').val();

                                if ($('#DailyBinaryFlag').val() == 'True') {
                                    $.get("@(Url.Action("GetPayoutCycle", "Common"))", { payoutNo: value }, function (response) {


                                        $('#trDailyBinaryFlag').show();
                                        $("#DPayoutCycle").html('');
                                        $("#DPayoutCycle").append(response.paycoutCycle);
                                        $("#PayoutCycle").val(response.paycoutCycle);
                                    });
                                }
                            }
                        }
                    }
                    else {

                        PayoutNoListStr = '<option value="0">No Payout(s) available.</option>';
                        $('#trPayoutNoList').show();
                        $('#trPayoutStartDate').hide();
                        $('#trPayoutEndDate').hide();
                    }


                    $("#ddlPayoutFrom").append(PayoutNoListStr);

                    if(objArray.length > 0)
                    {
                        $("#PayoutStartDate").html(objArray[0].sd);
                        $("#PayoutEndDate").html(objArray[0].ed);
                        $("#payoutStartDate").val(objArray[0].sd);
                        $("#payoutEndDate").val(objArray[0].ed);
                    }
                });
            }

            if($('#ddlPlanType').val() == 0)
            {
                $('#trPayoutNoList').hide();
                $('#trPayoutStartDate').hide();
                $('#trPayoutEndDate').hide();
            }
        });

        $('#ddlPayoutFrom').change(function () {
           
            var value = $(this).val();
            for (var i = 0; i < objArray.length; i++) {
                if (objArray[i].pn == value) {
                    $("#PayoutStartDate").html(objArray[i].sd);
                    $("#PayoutEndDate").html(objArray[i].ed);
                    $("#payoutStartDate").val(objArray[i].sd);
                    $("#payoutEndDate").val(objArray[i].ed);
                }
            }
            if ($('#DailyBinaryFlag').val() == 'True') {
                if($('#ddlPayoutFrom').val()=="")
                {
                    $('#trDailyBinaryFlag').hide();
                }
                else{


                    if ($('#DailyBinaryFlag').val() == 'True') {
                        $.get("@(Url.Action("GetPayoutCycle", "Common"))", { payoutNo: $('#ddlPayoutFrom').val() }, function (response) {


                            $('#trDailyBinaryFlag').show();
                            $("#DPayoutCycle").html('');
                            $("#DPayoutCycle").append(response.paycoutCycle);
                            $("#PayoutCycle").val(response.paycoutCycle);
                        });
                    }
                }
            }
        });


        $("#search").click(function(){
           
            $("#divseachById").show();
            var Choice = $("#ddlOption").val();
            var PlanType = $("#ddlPlanType").val();
            var ddlpayoutFrom=$("#ddlPayoutFrom").val();

            var validationDivs = '';
            $('#validationMessages').html('');

            var myDate = new Date(getDateFromString($("#DatewiseFrom").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
            var myFromDate = new Date(getDateFromString($("#DatewiseTo").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));



            var today = new Date();
            var start_time=$("#DatewiseFrom").val();
            var end_time=$("#DatewiseTo").val();

            var SearchFirstName = $("#memberID").val(), MemId = $("#searchId").val();
            if(Choice=="0")
            {
                if(start_time=="" || end_time =="")
                {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Commission.FromDateToDateValidation")</div>';
                    //flag=false;
                    $('#validationMessages').html(validationDivs);
                    $('#searchResult').hide();
                    return false;
                }
            }

            if ((+Choice) == 1) {

                if ((PlanType == 0)) {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                    //flag=false;
                    $('#validationMessages').html(validationDivs);
                    $('#searchResult').hide();
                    return false;
                }
                if (PlanType == null) {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                    //flag=false;
                    $('#validationMessages').html(validationDivs);
                    $('#searchResult').hide();
                    return false;
                }
                if (ddlpayoutFrom == "0" || ddlpayoutFrom == "No Payout(s) available." || ddlpayoutFrom == "") {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                    //flag=false;
                    $('#validationMessages').html(validationDivs);
                    $('#searchResult').hide();
                    return false;
                }
            }

            if($("#ddlOption").val() == 0)
            {

                if (myFromDate > today) {

                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    $('#validationMessages').html(validationDivs);
                    // flag=false;
                    $('#searchResult').hide();
                    return false;
                }
                if (myFromDate < myDate) {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    //flag=false;
                    $('#validationMessages').html(validationDivs);
                    $('#searchResult').hide();
                    return false;
                }

                if (DatewiseFrom == "0" || DatewiseTo == "") {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("admin.Validation.NoDateavailable")</div>';
                    //flag=false;
                    $('#validationMessages').html(validationDivs);
                    $('#searchResult').hide();
                    return false;
                }
                if (DatewiseTo == "0" || DatewiseTo == "" || DatewiseTo==null) {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("admin.Validation.NoDateavailable")</div>';
                    //flag=false;
                    $('#validationMessages').html(validationDivs);
                    $('#searchResult').hide();
                    return false;
                }

            }


            $("#HDatewiseFrom").val(getDateFromString($("#DatewiseFrom").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
            $("#HDatewiseTo").val(getDateFromString($("#DatewiseTo").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));

            $("#tempPayouList").val(objArray.length);

            $('.loader').show();

            var data = {

                HDatewiseFrom: getDateFromString($("#DatewiseFrom").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                HDatewiseTo:getDateFromString($("#DatewiseTo").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),

                ddlOption: $('#@Html.FieldIdFor(model => model.ddlOption)').val(),
                PM_ID: $('#ddlPlanType').val(),
                PN_ID: $('#ddlPayoutFrom').val(),
                PayoutStartDate: getDateFromString($("#payoutStartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                PayoutEndDate: getDateFromString($("#payoutEndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),

                PackageListName: $('#ddlpackageList').val()
            };
            addAntiForgeryToken(data);

            $("#collapseOne").removeClass("panel-collapse collapse in");
            $("#collapseOne").addClass("panel-collapse collapse");

            $("#btnplusminus").removeClass("glyphicon glyphicon-minus");
            $("#btnplusminus").addClass("glyphicon glyphicon-plus");
        });

    });
    function myExcel()
    {    
        var Choice = $("#ddlOption").val();
        var PlanType = $("#ddlPlanType").val();
        var ddlpayoutFrom=$("#ddlPayoutFrom").val();


        var validationDivs = '';
        $('#validationMessages').html('');
        var today = new Date();
        var start_time=$("#DatewiseFrom").val();
        var end_time=$("#DatewiseTo").val();

        var myDate = new Date(getDateFromString($("#DatewiseFrom").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
        var myFromDate = new Date(getDateFromString($("#DatewiseTo").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));

        if(Choice=="0")
        {
             if(start_time=="" || end_time =="")
            {

             }
            if(start_time!="" && end_time =="")
            {
                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("Commission.FromDateToDateValidation")</div>';
                //flag=false;
                $('#validationMessages').html(validationDivs);
                $('#searchResult').hide();
                return false;
            }
            if(start_time=="" && end_time !="")
            {
                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("Commission.FromDateToDateValidation")</div>';
                //flag=false;
                $('#validationMessages').html(validationDivs);
                $('#searchResult').hide();
                return false;
            }

        }

        if ((+Choice) == 1) {

            if ((PlanType == 0)) {
                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                //flag=false;
                $('#validationMessages').html(validationDivs);
                $('#searchResult').hide();
                return false;
            }
            if (PlanType == null) {
                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                //flag=false;
                $('#validationMessages').html(validationDivs);
                $('#searchResult').hide();
                return false;
            }
            if (ddlpayoutFrom == "0" || ddlpayoutFrom == "No Payout(s) available." || ddlpayoutFrom == "") {
                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                //flag=false;
                $('#validationMessages').html(validationDivs);
                $('#searchResult').hide();
                return false;
            }
        }

        if($("#ddlOption").val() == 0)
        {
           
            if (myFromDate > today) {

                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                $('#validationMessages').html(validationDivs);
                // flag=false;
                $('#searchResult').hide();
                return false;
            }
            if (myFromDate < myDate) {
                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                //flag=false;
                $('#validationMessages').html(validationDivs);
                $('#searchResult').hide();
                return false;
            }

            if (DatewiseFrom == "0" || DatewiseTo == "") {
                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("admin.Validation.NoDateavailable")</div>';
                //flag=false;
                $('#validationMessages').html(validationDivs);
                $('#searchResult').hide();
                return false;
            }
            if (DatewiseTo == "0" || DatewiseTo == "" || DatewiseTo==null) {
                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("admin.Validation.NoDateavailable")</div>';
                //flag=false;
                $('#validationMessages').html(validationDivs);
                $('#searchResult').hide();
                return false;
            }

        }
        $('.loader').show();

        var data = {
            DatewiseFrom:getDateFromString($("#DatewiseFrom").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
            DatewiseTo:getDateFromString($("#DatewiseTo").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),

            ddlOption: $('#@Html.FieldIdFor(model => model.ddlOption)').val(),
            PM_ID: $('#ddlPlanType').val(),
            PN_ID: $('#ddlPayoutFrom').val(),
            PayoutStartDate: getDateFromString($("#payoutStartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
            PayoutEndDate: getDateFromString($("#payoutEndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
            PackageListName: $('#ddlpackageList').val(),
        };
        addAntiForgeryToken(data);

        $.ajax({
            url: "@Html.Raw(Url.Action("CommisionLedgerExportToExcel", "MyCommission"))",
            type: "POST",
            dataType: "json",
            data: data,
            success: function (result) {
                $('.loader').hide();
                if (result.success) {
                    if (result.fullFileName != null && result.fullFileName != "") {
                        window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                    }else if(result.recordNotFound)
                    {
                        var validationDivs1 = '<div>@T("Dashboard.MyNetwork.SearchResult.NotFound")</div>';
                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs1);
                    }
                    else {

                        var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs1);
                    }
                }
                else {
                    var validationDivs1 = '<div>' + result.fullFileName + '</div>';
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs1);
                }
            },
            error: function (result) {
                $('.loader').hide();
            }
        });

    }

    $('#btnreset').on('click', (function () {
        $('.loader').show();
        document.location = "@(Url.Action("CommissionLedger", "MyCommission"))" ;
    }));

</script>
