﻿@model Nop.Web.Framework.Models.MyCommission.LapsePairReport

@{
    Html.AddTitleParts(T("Dashboard.MyCommission.LapsePairReport").Text);
    Layout = "~/Views/Shared/_ColumnVF.cshtml";
}

<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="page account-page return-request-list-page ">

        <div class="page-title">
            <h1>@T("Dashboard.MyCommission.LapsePairReport")</h1>
        </div>
        <div class="page registration-result-page">
            <div class="page-body">
                @{
                    var validationSummary = Html.ValidationSummary(true);
                }
                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }
                <div class="customer-blocks">
                    <div class="panel panel-default">
                        <div class="message-error error" id="validationMessages"></div>
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <strong>@T("Dashboard.MyNetwork.SearchOption")</strong>
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <span style="float:right" id="btnplusminus" class="glyphicon glyphicon-plus"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="inputs">
                                                @Html.LabelFor(model => model.SelectedPlanType)
                                                @Html.DropDownListFor(model => model.SelectedPlanType, Model.PlanTypeList, "Select Plan Type", new { maxlength = 22, Id = "ddlPlanType" })
                                                @Html.HiddenFor(model => model.SelectedPlanType)
                                            </div>

                                            <div class="inputs" id="trPayoutNoList">
                                                @Html.LabelFor(model => model.SelectedPayoutNo)
                                                @Html.DropDownListFor(model => model.SelectedPayoutNo, Model.PayoutNoList, "Select Payout Number", new { autocomplete = "off", maxlength = 22, Id = "ddlPayoutFrom" })
                                                @Html.HiddenFor(model => model.SelectedPayoutNo)
                                            </div>
                                            <div class="inputs" id="trPayoutStartDate">
                                                @Html.LabelFor(model => model.PayoutStartDate)
                                                <span id="PayoutStartDate">@Model.PayoutStartDate</span>
                                                @Html.HiddenFor(model => model.PayoutStartDate, new { id = "payoutStartDate" })

                                            </div>
                                            <div class="inputs" id="trPayoutEndDate">
                                                @Html.LabelFor(model => model.PayoutEndDate)
                                                <span id="PayoutEndDate">@Model.PayoutEndDate</span>
                                                @Html.HiddenFor(model => model.PayoutEndDate, new { id = "payoutEndDate" })
                                            </div>

                                            <div class="inputs">
                                                <div class="buttons">
                                                    <table width="100%">
                                                        <tr>
                                                            <td style="text-align:center;">
                                                                <input type="submit" id="search" class="button-1" value="@T("Tree.Search.Button")" />
                                                                <input type="hidden" name="hdnReset" id="hdnReset" value="" />
                                                                <input type="button" id="btnresetfrm" class="button-1" value="@T("Tree.Reset.Button")" />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">

                                        <div class="clearfix"></div>

                                    </div>
                                    <div class="x_content" id="ScrollableDiv">

                                        <div class="table-wrapper">
                                            <table id="LapsePairReport" class="display nowrap stripe cell-border cart" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>@Html.LabelFor(model => model.Id)</th>
                                                        <th>@Html.LabelFor(model => model.PayoutNo)</th>
                                                        <th>@Html.LabelFor(model => model.LapsePairNo)</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model != null)
                                                    {
                                                        for (int i = 0; i < Model.LapsePairReportDetails.Count(); i++)
                                                        {
                                                            <tr>
                                                                <td>@Model.LapsePairReportDetails[i].Id </td>
                                                                <td>@Model.LapsePairReportDetails[i].PayoutNo </td>
                                                                <td>@Model.LapsePairReportDetails[i].LapsePairNo  </td>

                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                    }
<style>
    .selectLink {
        color: red;
        font-weight: bold;
    }

        .selectLink:hover {
            color: #121b90;
            transition: all 0.5s ease-in-out;
        }
</style>
<script type="text/javascript">

    $(document).ready(function () {
        $('#LapsePairReport').dataTable({

            pagingType: "full_numbers",
            iDisplayLength: 10,
            dom: 'T<"clear">lfrtip',
            "oLanguage": {
                "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
            },
            tableTools: {
                "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                "sRowSelect": "multi",
                "aButtons": [
               "xls"
                ]
            },
            processing: true,
            oLanguage: {sProcessing: "<div class='loader'></div>"},
        });
        $(".collapse.in").each(function () {
            $("#btnplusminus").siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
        });
        $(".collapse").on('show.bs.collapse', function () {
            $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }).on('hide.bs.collapse', function () {
            $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });
    });

    $(document).ready(function () {
        $("#divseachById").hide();
        $('#trPayoutNoList').hide();
        $("#datewsiediv").show();
        $("#payoutwisediv").hide();
        $("#trPayoutStartDate").hide();
        $("#trPayoutEndDate").hide();
        $('#ddlOption').val("0");
        $("#divHeadingSearch").click(function () {
            $("#divseachById").slideToggle();
        });
        $("#payoutwisediv").hide();
        $('#DatewiseFrom').datepicker({
            changeMonth: true,
            changeYear: true,
        });

        $('#DatewiseTo').datepicker({
            changeMonth: true,
            changeYear: true,
        });

        $("#DatewiseFrom").keyup(function () {
            $(this).val('');
        });

        $("#DatewiseTo").keyup(function () {
            $(this).val('');
        });
        var objArray = new Array();
        $('#ddlPlanType').change(function () {

            var value = $(this).val();
            var startDate = '';

            $("#ddlPayoutFrom").html('');
            $("#PayoutStartDate").html('');
            $("#PayoutEndDate").html('');

            var PayoutNoListStr = '';

            if (value != null && value != "") {

                $.get("@(Url.Action("PayoutListBind", "Common"))", { typeId: value, flag: 1 }, function (response) {

                    var PayoutStartDate = '';
                    var PayoutEndDate = '';
                    if (response.PayoutNoList.length > 0) {
                        for (var i = 0; i < response.PayoutNoList.length; i++) {

                            PayoutNoListStr = PayoutNoListStr + '<option value="' + response.PayoutNoList[i].Value + '">' + response.PayoutNoList[i].Text + '</option>';

                            var obj = new Object()
                            obj.pn = response.PayoutNoList[i].Value;
                            obj.sd = response.PayoutStartDateList[i].Value;
                            obj.ed = response.PayoutEndDateList[i].Value;

                            objArray.push(obj);

                            $('#trPayoutStartDate').show();
                            $('#trPayoutEndDate').show();
                            $('#trPayoutNoList').show();
                        }
                    }
                    else {

                        PayoutNoListStr = '<option value="0">No Payout(s) available.</option>';
                        $('#trPayoutNoList').show();
                        $('#trPayoutStartDate').hide();
                        $('#trPayoutEndDate').hide();
                    }


                    $("#ddlPayoutFrom").append(PayoutNoListStr);
                    if (objArray.length > 0) {
                        $("#PayoutStartDate").html(objArray[0].sd);
                        $("#PayoutEndDate").html(objArray[0].ed);
                        $("#payoutStartDate").val(objArray[0].sd);
                        $("#payoutEndDate").val(objArray[0].ed);
                    }
                });
            }

            if ($('#ddlPlanType').val() == 0) {
                $('#trPayoutNoList').hide();
                $('#trPayoutStartDate').hide();
                $('#trPayoutEndDate').hide();
            }
        });
        var ddVal = @ViewBag.option;
        //  alert(ddVal);
        if (ddVal == "1") {
            $("#payoutwisediv").show();
            $("#datewsiediv").hide();
            //$('#ddlPlanType').val("0");
            $('#trPayoutNoList').show();
            $('#trPayoutStartDate').show();
            $('#trPayoutEndDate').show();
            if($("#ddlPayoutFrom").val()=="")
            {
                $('#trPayoutNoList').hide();
                $('#trPayoutStartDate').hide();
                $('#trPayoutEndDate').hide();
            }

        }
        else  {
            $("#datewsiediv").show();
            $("#payoutwisediv").hide();
            $('#ddlOption').val("0");
        }
        $('#ddlPayoutFrom').change(function () {

            var value = $(this).val();
            if (value != null && value != "" && objArray.length == 0) {
                var PlanType = $("#ddlPlanType").val();
                $.get("@(Url.Action("PayoutListBind", "Common"))", { typeId: PlanType, flag: 1 }, function (response) {

                    var PayoutStartDate = '';
                    var PayoutEndDate = '';
                    if (response.PayoutNoList.length > 0) {
                        for (var i = 0; i < response.PayoutNoList.length; i++) {


                            var obj = new Object()
                            obj.pn = response.PayoutNoList[i].Value;
                            obj.sd = response.PayoutStartDateList[i].Value;
                            obj.ed = response.PayoutEndDateList[i].Value;

                            objArray.push(obj);

                            $('#trPayoutStartDate').show();
                            $('#trPayoutEndDate').show();
                            $('#trPayoutNoList').show();
                        }
                        for (var i = 0; i < objArray.length; i++) {
                            if (objArray[i].pn == value) {
                                $("#PayoutStartDate").html(objArray[i].sd);
                                $("#PayoutEndDate").html(objArray[i].ed);
                                $("#payoutStartDate").val(objArray[i].sd);
                                $("#payoutEndDate").val(objArray[i].ed);
                            }
                        }
                    }
                });

            }

            for (var i = 0; i < objArray.length; i++) {
                if (objArray[i].pn == value) {
                    $("#PayoutStartDate").html(objArray[i].sd);
                    $("#PayoutEndDate").html(objArray[i].ed);
                    $("#payoutStartDate").val(objArray[i].sd);
                    $("#payoutEndDate").val(objArray[i].ed);
                }
            }
        });




        $("#search").click(function () {
            var validationDivs = '';
            $('#validationMessages').html('');

            $("#divseachById").show();
            var Choice = $("#ddlOption").val();
            var PlanType = $("#ddlPlanType").val();
            var ddlpayoutFrom = $("#ddlPayoutFrom").val();
            //
            var validationDivs = '';
            $('#validationMessages').html('');

            var LevelFrom = $("#LevelwiseFrom").val(); // For JQuery
            var LevelTo = $("#LevelwiseTo").val();


            var myDate = new Date(getDateFromString($("#DatewiseFrom").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
            var myFromDate = new Date(getDateFromString($("#DatewiseTo").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));


            var today = new Date();
            var start_time = $("#DatewiseFrom").val();
            var end_time = $("#DatewiseTo").val();

            var SearchFirstName = $("#memberID").val(), MemId = $("#searchId").val();

            if ((+Choice) == 1) {

                if ((PlanType == 0)) {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                    //flag=false;
                    $('#validationMessages').html(validationDivs);
                    $('#searchResult').hide();
                    return false;
                }
                if (PlanType == null) {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                    //flag=false;
                    $('#validationMessages').html(validationDivs);
                    $('#searchResult').hide();
                    return false;
                }
                if (ddlpayoutFrom == "0" || ddlpayoutFrom == "No Payout(s) available." || ddlpayoutFrom == "") {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                    //flag=false;
                    $('#validationMessages').html(validationDivs);
                    $('#searchResult').hide();
                    return false;
                }
            }

            if ($("#ddlOption").val() == 0) {
                if (myFromDate > today) {

                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    $('#validationMessages').html(validationDivs);
                    // flag=false;
                    $('#searchResult').hide();
                    return false;
                }
                if (myFromDate < myDate) {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    //flag=false;
                    $('#validationMessages').html(validationDivs);
                    $('#searchResult').hide();
                    return false;
                }
            }

            $('.loader').show();

            var data = {

                DatewiseFrom: getDateFromString($("#DatewiseFrom").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                DatewiseTo: getDateFromString($("#DatewiseTo").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                SelectedPayoutNo: $('#@Html.FieldIdFor(model => model.SelectedPayoutNo)').val(),
                PM_ID: $('#ddlPlanType').val(),
                PN_ID: $('#ddlPayoutFrom').val(),
                PayoutStartDate: getDateFromString($("#payoutStartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                PayoutEndDate: getDateFromString($("#payoutEndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                PackageListName: $('#ddlpackageList').val()
            };
            addAntiForgeryToken(data);

            $("#collapseOne").removeClass("panel-collapse collapse in");
            $("#collapseOne").addClass("panel-collapse collapse");

            $("#btnplusminus").removeClass("glyphicon glyphicon-minus");
            $("#btnplusminus").addClass("glyphicon glyphicon-plus");
        });

        if (@Model.LapsePairReportDetails.Count() > 10) {

            $("#LapsePairReport_length").show();
            $("#LapsePairReport_paginate").show();
        }
        else { $("#LapsePairReport_length").hide();
            $("#LapsePairReport_paginate").hide(); }
    });


    function myExcel()
    {
        $('.loader').show();
        var data = {
            SelectedPlanType:$('#@Html.FieldIdFor(model => model.SelectedPlanType)').val(),
            SelectedPayoutNo: $('#@Html.FieldIdFor(model => model.SelectedPayoutNo)').val(),
            PayoutStartDate: getDateFromString($("#payoutStartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
            PayoutEndDate: getDateFromString($("#payoutEndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime")

        };
        addAntiForgeryToken(data);

        $.ajax({
            url: "@Html.Raw(Url.Action("LapsePairReportExportToExcel", "MyCommission"))",
            type: "POST",
            dataType: "json",
            data: data,
            success: function (result) {
                $('.loader').hide();
                if (result.success) {
                    if (result.fullFileName != null && result.fullFileName != "") {
                        window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                    }
                    else {

                        var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs1);
                    }
                }
                else {
                    var validationDivs1 = '<div>' + result.fullFileName + '</div>';
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs1);
                }
            },
            error: function (result) {
                $('.loader').hide();
            }
        });
    }

    $('#btnresetfrm').on('click', (function () {
        $('.loader').show();
        document.location = "@(Url.Action("LapsePairReport", "MyCommission"))" ;
    }));

</script>
