﻿@model Nop.Web.Framework.Models.MyCommission.LevelReport

@{
    Html.AddTitleParts(T("Web.Catalog.MemberMenu.Levelreconcilationreport").Text);
    Layout = "~/Views/Shared/_ColumnVF.cshtml";
}

@{
    List<SelectListItem> selectOptions = new List<SelectListItem>();
    selectOptions.Add(new SelectListItem
    {
        Text = "Date-Wise",
        Value = "0",
        Selected = true
    });
    selectOptions.Add(new SelectListItem
    {
        Text = "Payout-Wise",
        Value = "1"
    });
}

<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    @*@Html.HiddenFor(model => model.tempPayouList)*@

    @Html.AntiForgeryToken()

    <div class="page account-page return-request-list-page ">

        <div class="page-title">
            <h1>@T("Web.Catalog.MemberMenu.Levelreconcilationreport")</h1>
        </div>
        <div class="page registration-result-page">
            <div class="page-body">
                @{
                    var validationSummary = Html.ValidationSummary(true);
                }
                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }
                <div class="customer-blocks">
                    <div class="panel panel-default">
                        <div class="message-error error" id="validationMessages"></div>
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <strong>@T("Dashboard.MyNetwork.SearchOption")</strong>
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <span style="float:right" id="btnplusminus" class="glyphicon glyphicon-plus"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="inputs">
                                                @Html.LabelFor(model => model.PayoutNo)
                                                @Html.DropDownListFor(model => model.PayoutNo, Model.PayoutNoList)
                                            </div>
                                            <div id="datewsiediv">
                                                <div class="inputs">
                                                    @Html.LabelFor(model => model.PayoutStartDate)
                                                    @Html.DropDownListFor(model => model.PayoutStartDate, Model.PayoutStartDateList, new { disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.PayoutStartDate)
                                                </div>
                                                <div class="inputs">
                                                    @Html.LabelFor(model => model.PayoutEndDate)

                                                    @Html.DropDownListFor(model => model.PayoutEndDate, Model.PayoutEndDateList, new { disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.PayoutEndDate)
                                                </div>
                                            </div>



                                            <div class="inputs">
                                                <div class="buttons">
                                                    <table width="100%">
                                                        <tr>
                                                            <td style="text-align:center;">
                                                                <input type="submit" id="search" class="button-1" value="@T("Tree.Search.Button")" />                                                               
                                                                <input type="button" id="btnreset" class="button-1" value="@T("Tree.Reset.Button")" />
                                                                <input type="hidden" name="hdnReset" id="hdnReset" value="" />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">

                                    <div class="x_title">
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content" id="ScrollableDiv">
                                        <div class="table-wrapper">
                                            <table id="mydirectDataTable" class="display  nowrap stripe cell-border cart" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        @*<th>@Html.LabelFor(model => model.srNo)</th>*@
                                                        <th>@Html.LabelFor(model => model.ID)</th>
                                                        <th>@Html.LabelFor(model => model.Name)</th>
                                                        <th>@Html.LabelFor(model => model.FromID)</th>
                                                        <th>@Html.LabelFor(model => model.LevelNo)</th>
                                                        <th>@Html.LabelFor(model => model.LevelAmount)</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        @*<th></th>*@
                                                        <th></th>
                                                        <th> </th>
                                                        <th></th>
                                                        @*<th>@Html.LabelFor(model => model.CF)<br /> @Model.CF</th>*@
                                                        <th>@Html.LabelFor(model => model.TotalLevelAmount)</th>
                                                        <th>@Model.TotalLevelAmount</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    @for (int i = 0; i < Model.levelReportList.Count(); i++)
                                                    {
                                                        <tr>
                                                            @*<td>@Model.levelReportList[i].srNo </td>*@
                                                            <td>@Model.levelReportList[i].ID </td>
                                                            <td>@Model.levelReportList[i].Name </td>
                                                            <td>@Model.levelReportList[i].FromID  </td>
                                                            <td>@Model.levelReportList[i].LevelNo</td>
                                                            <td>@Model.levelReportList[i].LevelAmount </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                    }
<style>
    .selectLink {
        color: red;
        font-weight: bold;
    }

        .selectLink:hover {
            color: #121b90;
            transition: all 0.5s ease-in-out;
        }
</style>
<script type="text/javascript">

    $(document).ready(function () {

        if(@Model.levelReportList.Count()>10){
            $.extend(true, $.fn.dataTable.defaults, {
                "searching": true,
                "ordering": true,
                "info": true,
                "paging": true,
                "pageLength": 5

            });
        }
        else
        {
            $.extend(true, $.fn.dataTable.defaults, {
                "searching": true,
                "ordering": true,
                "info": true,
                "paging": false,
                "pageLength": 5

            });
        }

        $('#mydirectDataTable').dataTable({

            pagingType: "full_numbers",
            iDisplayLength: 10,
            dom: 'T<"clear">lfrtip',
            "oLanguage": {
                "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
            },
            tableTools: {
                "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                "sRowSelect": "multi",
                "aButtons": [
                 "xls"
                ]
            },
            processing: true,
            oLanguage: {sProcessing: "<div class='loader'></div>"},
        });

        $(".collapse.in").each(function () {
            $("#btnplusminus").siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
        });
        $(".collapse").on('show.bs.collapse', function () {
            $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }).on('hide.bs.collapse', function () {
            $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });
    });

    $(document).ready(function () {

        var  PayNo= $('#@Html.FieldIdFor(model => model.PayoutNo)').val();

        $("#divseachById").hide();
        if(PayNo=="0")
        {
            $("#datewsiediv").hide();
        }
        else
        {
            $("#datewsiediv").show();
        }


        $("#divHeadingSearch").click(function(){
            $("#divseachById").slideToggle();
        });

        $('#DatewiseFrom').datepicker({
            changeMonth: true,
            changeYear: true,
        });

        $('#DatewiseTo').datepicker({
            changeMonth: true,
            changeYear: true,
        });

        $("#DatewiseFrom").keyup(function () {
            $(this).val('');
        });

        $("#DatewiseTo").keyup(function () {
            $(this).val('');
        });


        $('#PayoutNo').change(function () {
            var value = $(this).val();
            var objArray = new Array();

            $("#datewsiediv").show();
            $('#PayoutStartDate').val(value);
            $('#PayoutEndDate').val(value);
        });

    });

    $("#search").click(function(){

        $("#divseachById").show();

        var validationDivs = '';
        $('#validationMessages').html('');

        $('.loader').show();
        var data = {

        };
        addAntiForgeryToken(data);

        $("#collapseOne").removeClass("panel-collapse collapse in");
        $("#collapseOne").addClass("panel-collapse collapse");

        $("#btnplusminus").removeClass("glyphicon glyphicon-minus");
        $("#btnplusminus").addClass("glyphicon glyphicon-plus");
    });



    function myExcel()
    {
        if($("#PayoutStartDate").val()!=null || $("#PayoutEndDate").val() !=null)
        {
            var data = {
                PayoutStartDate:getDateFromString($("#PayoutStartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                PayoutEndDate:getDateFromString($("#PayoutEndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                PayoutNo: $('#@Html.FieldIdFor(model => model.PayoutNo)').val(),

            };
        }
        else
        {
            var data = {
                PayoutNo: $('#@Html.FieldIdFor(model => model.PayoutNo)').val(),
            };

        }

        $('.loader').show();

        var validationDivs = '';
        $('#validationMessages').html('');

        addAntiForgeryToken(data);

        $.ajax({
            url: "@Html.Raw(Url.Action("LevelReconcilatiomExportToExcel", "MyCommission"))",
            type: "POST",
            dataType: "json",
            data: data,
            success: function (result) {
                $('.loader').hide();
                if (result.success) {
                    if (result.fullFileName != null && result.fullFileName != "") {
                        window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                    }else if(result.recordNotFound)
                    {
                        var validationDivs1 = '<div>@T("Dashboard.MyNetwork.SearchResult.NotFound")</div>';
                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs1);
                    }
                    else {

                        var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs1);
                    }
                }
                else {
                    var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs1);
                }
            },
            error: function (result) {
                $('.loader').hide();
            }
        });

    }

    $('#btnreset').on('click', (function () {
        $('.loader').show();
        document.location = "@(Url.Action("LevelReconcilationReport", "MyCommission"))" ;
    }));

</script>
