﻿@model Nop.Web.Framework.Models.MyCommission.CappingIDDetails

@{
    Html.AddTitleParts(T("admin.reports.multibinarycappingiddetails").Text);
    Layout = "~/Views/Shared/_ColumnVF.cshtml";
}

<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    <input type="hidden" value="1" id="AllCommitionIncomeFlag" />

    @Html.HiddenFor(model => model.DailyBinaryFlag)
    @Html.AntiForgeryToken()

    <div class="page account-page return-request-list-page ">

        <div class="page-title">
            <h1>@T("admin.reports.multibinarycappingiddetails")</h1>
        </div>
        <div class="page registration-result-page">
            <div class="page-body">
                @{
                    var validationSummary = Html.ValidationSummary(true);
                }
                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }
                <div class="customer-blocks">
                    <div class="panel panel-default">
                        <div class="message-error error" id="validationMessages"></div>
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <strong>@T("Dashboard.MyNetwork.SearchOption")</strong>
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <span style="float:right" id="btnplusminus" class="glyphicon glyphicon-plus"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="inputs">
                                                @Html.LabelFor(model => model.PayoutNo)
                                                @Html.DropDownListFor(model => model.PayoutNo, Model.PayoutNoList)
                                            </div>
                                            <div class="inputs" id="divStartdate">
                                                @Html.LabelFor(model => model.PayoutStartDate)
                                                @Html.DropDownListFor(model => model.PayoutStartDate, Model.PayoutStartDateList, new { disabled = "disabled" })
                                                @Html.ValidationMessageFor(model => model.PayoutStartDate)
                                            </div>
                                            <div class="inputs" id="divenddate">
                                                @Html.LabelFor(model => model.PayoutEndDate)

                                                @Html.DropDownListFor(model => model.PayoutEndDate, Model.PayoutEndDateList, new { disabled = "disabled" })
                                                @Html.ValidationMessageFor(model => model.PayoutEndDate)
                                            </div>
                                            <div class="buttons">
                                                <div class="inputs">
                                                    <div class="buttons">
                                                        <table width="100%">
                                                            <tr>
                                                                <td style="text-align:center;">
                                                                    <input type="button" id="search" class="button-1" value="@T("Tree.Search.Button")" />
                                                                    <input type="hidden" name="hdnReset" id="hdnReset" value="" />
                                                                    <input type="button" id="btnresetfrm" class="button-1" value="@T("Tree.Reset.Button")" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">

                                        <div class="clearfix"></div>

                                    </div>
                                    <div class="x_content" id="ScrollableDiv">
                                        @Html.Partial("_CommanKendoGridMultiBinCapId", Model.dataTable)
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

                    }
<style>
    .selectLink {
        color: red;
        font-weight: bold;
    }

        .selectLink:hover {
            color: #121b90;
            transition: all 0.5s ease-in-out;
        }
</style>
<script>
    $(document).ready(function () {

        var table = $('#mydirectDataTable').DataTable();
        var rowCount = $("#mydirectDataTable td").closest("tr").length;
        //  alert('Rows ' + rowCount + ' are selected');


        if (@Model.dataTable.Rows.Count > 10) {

            $("#mydirectDataTable_length").show();
        }
        else { $("#mydirectDataTable_length").hide(); }

        $(".collapse.in").each(function () {
            $("#btnplusminus").siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
        });
        $(".collapse").on('show.bs.collapse', function () {
            $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }).on('hide.bs.collapse', function () {
            $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });

    });

    $("#divseachById").slideUp();
    $(".page").css("min-height", "0px");

    $(document).ready(function () {  
        $("#divHeadingSearch").click(function () {
            $("#divseachById").slideToggle();
        });

        $('#btnReset').click(function () {
            $("#hiddenSearchMemno").val("");
            $("#hiddenSearchMemID").val("00");
        });

        $("#divfirstname").hide();
        if($("#PayoutNo").val()==0)
        {
            $("#divStartdate").hide();
            $("#divenddate").hide();
        }
        else
        {
            $("#divStartdate").show();
            $("#divenddate").show();
        }
    });
   

    $('#search').click(function (e) {
       
        var validationDivs = '';
        $('#validationMessages').html('');

        if($("#PayoutNo").val()==0)
        {
            $("#validationMessages").show();
            validationDivs = validationDivs + '<div>@T("Admin.PayoutReports.CommissionDetail.PayoutNo")</div>';
            //flag=false;
            $('#validationMessages').html(validationDivs);
            $('#searchResult').hide();
            return false;
        }
        $('.loader').show();
        var data = {
            PayoutNo: $('#PayoutNo').val(),
            PayoutStartDate: $('#PayoutStartDate').val(),
            PayoutEndDateList: $('#PayoutEndDateList').val(),
        };
        addAntiForgeryToken(data);
        $.ajax({
            url: "@Html.Raw(Url.Action("MultiBinaryCappingIDReportPost", "MyCommission"))",
            type: "POST",
        dataType: "html",
        data: data,
        success: function (result) {
            $('.loader').hide();
            $('#ScrollableDiv').html("");
            $('#ScrollableDiv').html(result);
            $(document).ready(function () {
                // Initialize your table
                var oTable = $('#mydirectDataTable').dataTable();

                if (oTable.fnGetData().length > 10) {
                    $("#mydirectDataTable_length").show();
                }
                else { $("#mydirectDataTable_length").hide(); }
            });
        },
        error: function (xhr, textStatus, exceptionThrown) {
            $('.loader').hide();
            $("#validationMessages").html("");
            $("#validationMessages").show();
            $("#validationMessages").html("@T("CommissionDetails.Kendo.Error")");
        }
        });

        $("#collapseOne").removeClass("panel-collapse collapse in");
        $("#collapseOne").addClass("panel-collapse collapse");

        $("#btnplusminus").removeClass("glyphicon glyphicon-minus");
        $("#btnplusminus").addClass("glyphicon glyphicon-plus");
    });

    $('#PayoutNo').change(function () {
        var value = $(this).val();
        if($("#PayoutNo").val()==0)
        {
            $("#divStartdate").hide();
            $("#divenddate").hide();
        }
        else
        {
            $("#divStartdate").show();
            $("#divenddate").show();
        }
        if (value != null) {
            $.get("@(Url.Action("loadDropdownPayoutDatesNo", "MyCommission"))", {dtCode: value }, function (response) {
                //  $("#PN_ID").empty();
                $("#PayoutStartDate").empty();
                $("#PayoutEndDate").empty();

                if (response.PayoutNoList.length > 0) {
                    for (var i = 0; i < response.PayoutNoList.length; i++) {

                        PayoutStartDate   = PayoutStartDate + '<option value="' + response.PayoutStartDateList[i].Value + '">' + response.PayoutStartDateList[i].Text + '</option>';
                        PayoutEndDate   = PayoutEndDate + '<option value="' + response.PayoutEndDateList[i].Value + '">' + response.PayoutEndDateList[i].Text + '</option>';
                    }                
                }
                else {                 
                    PayoutStartDate= '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                    PayoutEndDate= '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                }             
                $("#PayoutStartDate").append(PayoutStartDate);
                $("#PayoutEndDate").append(PayoutEndDate);             
                PayoutStartDate = '';
                PayoutEndDate = '';
            });
        }
    });

    function myExcel()
    {       
        var validationDivs = '';
        $('#validationMessages').html('');
        $('.loader').show();
        var data = {
            PayoutNo: $('#PayoutNo').val(),
            PayoutStartDate: $('#PayoutStartDate').val(),
            PayoutEndDateList: $('#PayoutEndDateList').val(),
        };
        addAntiForgeryToken(data);

        $.ajax({
            url: "@Html.Raw(Url.Action("MultiBinaryCappingIDReportExportToExcel", "MyCommission"))",
            type: "POST",
        dataType: "json",
        data: data,
        success: function (result) {
            $('.loader').hide();
            if (result.success) {
                if (result.fullFileName != null && result.fullFileName != "") {
                    window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                }
                else {
                    var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs1);
                }
            }
            else {
                var validationDivs1 = '<div>' + result.fullFileName + '</div>';
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs1);
            }
        },
        error: function (result) {
            $('.loader').hide();
        }
    });
    }

    $('#btnresetfrm').on('click', (function () {
        $('.loader').show();
        document.location = "@(Url.Action("MultiBinaryCappingIDReport", "MyCommission"))" ;
    }));

</script>
