﻿@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes
@using Nop.Services.Customers;
@using Nop.Core.Domain.Customers;

@{
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/img/logo.png";
    string storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
    var IsGuest = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.IsGuest();
    var IsMember = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.MemId;





    if (IsMember == null || IsMember == -1)
    {
        IsMember = null;
    }
    var motionLogo = @Html.Widget("motion_theme_logo");
}


<div class="header">
    @Html.Widget("header")
    <div class="header-top">
        <div class="header-logo">
            @Html.Action("Logo", "Common")

            @*<a href="@Url.RouteUrl("HomePage")" class="logo">
                @if (!MvcHtmlString.IsNullOrEmpty(motionLogo))
                {
                    @motionLogo

                }
                else
                {
                   
                    <img title="" alt="@storeName" src="@Url.Content(logoPath)">
                }
            </a>*@

        </div>


        @Html.Action("HeaderLinks", "Common")

    </div>   
</div>