﻿@model Nop.Web.Framework.Models.Ewallet.EwalletAddMoneyReportModel

@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_ColumnVF.cshtml";
    //title
    Html.AddTitleParts(T("Account.Ewallet.AddMoneyReport").Text);
    //register URL with return URL (if specified)
}
<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="page account-page return-request-list-page ">
        <div class="page-title">
            <h1>@T("Account.Ewallet.AddMoneyReport")</h1>
        </div>
        <div class="page registration-result-page">
            <div class="page-body">
                @if (ViewBag.Msg != null)
                {
                    <div class="result" style="text-align:center;">

                        @ViewBag.Msg

                    </div>
                }
                @{
                    var validationSummary = Html.ValidationSummary(true);
                }
                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="col-md-4">@Html.LabelFor(m => m.ActualBalance)  <b> @Model.ActualBalance</b></div>
                            <div class="col-md-4">@Html.LabelFor(m => m.PendingEncash)  <b> @Model.PendingEncash</b></div>
                            <div class="col-md-4">@Html.LabelFor(m => m.AccountBalance) <b> @Model.AccountBalance</b></div>
                        </div>
                        <br />
                        @*<br />*@
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <strong>@T("Dashboard.MyNetwork.SearchOption")</strong>
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <span style="float:right" id="btnplusminus" class="glyphicon glyphicon-plus"></span></a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="inputs" id="divVoucherList">
                                            @Html.LabelFor(model => model.Status)
                                            @Html.DropDownListFor(model => model.Status, new List<SelectListItem>()
                                      {
                                      new SelectListItem(){Text="Select Status",Value="3"},
                                      new SelectListItem(){Text="Confirm",Value="1"},
                                      new SelectListItem(){Text="Reject",Value="2"},
                                    })
                                        </div>
                                        <div class="inputs" id="divEpinTypeList">
                                            @Html.LabelFor(model => model.Paymode)
                                            @Html.DropDownListFor(model => model.Paymode, Model.PaymodeList)
                                        </div>

                                        <div class="inputs">
                                            <div class="buttons">
                                                <input type="button" id="search" name="search" class="button-1" value="@T("Tree.Search.Button")" />
                                                <input type="button" id="btnresetfrm" class="button-1" value="@T("Tree.Reset.Button")" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="x_panel">
                                <div class="x_title">

                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content" id="ScrollableDiv">
                                    <div id="ScrollableDiv1">
                                        @Html.Partial("_CommanServerSideKendoGrid", Model.dataTable)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    }
<script type="text/javascript">
    $('#search').click(function (e) {     
        getData();     
    });
    $(document).ready(function () {
        getData();
        $("#divseachById").slideUp();
        $("#divHeadingSearch").click(function () {
            $("#divseachById").slideToggle();
        });
    });

    $('#search').on('click', (function () {    
        $("#collapseOne").removeClass("panel-collapse collapse in");
        $("#collapseOne").addClass("panel-collapse collapse");

        $("#btnplusminus").removeClass("glyphicon glyphicon-minus");
        $("#btnplusminus").addClass("glyphicon glyphicon-plus");       
    }));

    function getData(){

        var data = {
            Status: $('#@Html.FieldIdFor(model => model.Status)').val(),
            Paymode: $('#@Html.FieldIdFor(model => model.Paymode)').val(),

        };
        addAntiForgeryToken(data);
        $('#mydirectDataTable').DataTable({
            dom: 'T<"clear">lfrtip',
            "oLanguage": {
                "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
            },
            tableTools: {
                "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                "sRowSelect": "multi",
                "aButtons": [
                   //'xls'
                ]
            },
            columns:@Html.Raw(@Model.columns),
            bServerSide: true,
            processing: true,
            oLanguage: {sProcessing: "<div class='loader'></div>"},
            destroy: true,
            "ajax": {
                'type': 'POST',
                'url':  "@Html.Raw(Url.Action("EwalletAddMoneyReport", "Ewallet"))",
                'data': data,
                //success:function(){alert('hi')}
                pagingType: "full_numbers",
                iDisplayLength: 10,
            }
        });
    }
    function getRow(tableId, propName, propValue) {
        var oTable = $('#' + tableId).DataTable(),
            data = oTable.rows().data(),
            row, i, l = data.length;

        for ( i = 0; i < l; i++ ) {
            row = data[i];
            if (row[propName] == propValue) {
                //return $(`#${tableId}  tr`).eq(i+1);
                return row;
            }
        }
        return false;
    }
    function CancelRequest(parentPartId){

        $('.loader').show();
        var row = getRow('mydirectDataTable', 'ID', parentPartId);

        var ActionName = row["Action"];
        if(ActionName=="Cancel")
        {
            var url='../Ewallet/RejectAddMoneyRequest?parentPartId='+parentPartId;
            window.location.href = url;
        }

    };
    $('#btnresetfrm').on('click', (function () {
        $('.loader').show();
        document.location = "@(Url.Action("EwalletAddMoneyReport", "Ewallet"))" ;
    }));

</script>
