﻿@model Nop.Web.Framework.Models.Ewallet.MemberEwalletRequestGridModel

@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_ColumnVF.cshtml";
    //title
    Html.AddTitleParts(T("Account.EwalletViewRequest").Text);
    //register URL with return URL (if specified)
}
<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />

<style>
    .cart td, .data-table td {
        min-width: 140px !important;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="page account-page return-request-list-page ">
        <div class="page-title">
            <h1>@T("Account.Ewallet.EncashAmount")</h1>
        </div>
        <div class="page registration-result-page">
            <div class="page-body">
                @if (ViewBag.Msg != null)
                {
                    <div class="result" style="text-align:center;">
                        @ViewBag.Msg
                    </div>
                }
                @{
                    var validationSummary = Html.ValidationSummary(true);
                }
                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }
                <div class="customer-blocks">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="returning-wrapper fieldset">
                                <h4>  <a title="@T("Account.Ewallet.EncashAmount.title")" href="@Url.Action("EwalletAmountRequestTransaction")"><b style="color: cornflowerblue">@T("member.Click.here")</b> </a> @T("account.ewallet.encashamount.clickhere") </h4>
                            </div>
                            <br />
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">

                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content" id="ScrollableDiv">
                                        <div id="ScrollableDiv1">
                                            @Html.Partial("_CommanServerSideKendoGrid", Model.dataTable)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                    }
<script type="text/javascript">

    $(document).ready(function () {
        getData();
    });
    function getRow(tableId, propName, propValue) {
        var oTable = $('#' + tableId).DataTable(),
            data = oTable.rows().data(),
            row, i, l = data.length;

        for ( i = 0; i < l; i++ ) {
            row = data[i];
            if (row[propName] == propValue) {
                //return $(`#${tableId}  tr`).eq(i+1);
                return row;
            }
        }
        return false;
    }
    function CancelRequest(parentPartId){
        $('.loader').show();
        var row = getRow('mydirectDataTable', 'ID', parentPartId);

        var ActionName = row["Action"];
        if(ActionName=="Cancel")
        {
            var url='../Ewallet/EwalletViewRequestCancle?parentPartId='+parentPartId;
            window.location.href = url;
        }

    };
    function getData(){

        var data = {
        };
        addAntiForgeryToken(data);
        $('#mydirectDataTable').DataTable({
            dom: 'T<"clear">lfrtip',
            "oLanguage": {
                "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
            },
            tableTools: {
                "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                "sRowSelect": "multi",
                "aButtons": [
                   //'xls'
                ]
            },
            columns:@Html.Raw(@Model.columns),
            bServerSide: true,
            processing: true,
            oLanguage: {sProcessing: "<div class='loader'></div>"},
            destroy: true,
            "ajax": {
                'type': 'POST',
                'url':  "@Html.Raw(Url.Action("EwalletViewRequest", "Ewallet"))",
                'data': data,
                pagingType: "full_numbers",
                iDisplayLength: 10,
            }
        });
    }

</script>
