﻿@model Nop.Web.Framework.Models.Ewallet.EwalletAmountRequestVM
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_ColumnVF.cshtml";
    //title
    Html.AddTitleParts(T("Account.EwalletAmountRequestTransaction").Text);
    //register URL with return URL (if specified)
}

<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.MinimumEncashAmt)
    @Html.HiddenFor(m => m.MiniEncashAmtWithCurrencySymbol)

    <div class="page account-page return-request-list-page ">
        <div class="page-title">
            <h1>@T("Account.EwalletAmountRequestTransaction")</h1>
        </div>
        <div class="page registration-result-page">
            <div class="page-body">

                <div class="result" style="text-align:center;">
                    @if (ViewBag.Msg != null)
                    {
                        @ViewBag.Msg
                    }
                </div>
                @{
                    var validationSummary = Html.ValidationSummary(true);
                }
                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }

                <div class="customer-blocks">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="customer-blocks">
                                <div class="returning-wrapper fieldset">
                                  

                                    <div class="inputs" id="divseachById">

                                        @Html.LabelFor(m => m.AccountBalance)                                
                                        @Html.TextBoxFor(m => m.lblactbal, Model.lblactbal, new { @class = "lblClassAmout" })
                                        @Html.HiddenFor(m => m.lblactbal)
                                        @Html.ValidationMessageFor(m => m.lblactbal)
                                    </div>

                                    <div class="inputs">
                                        @Html.LabelFor(m => m.EnterAmount)
                                        @Html.TextBoxFor(m => m.txtuname)
                                        @Html.RequiredHint()
                                        @Html.ValidationMessageFor(m => m.txtuname)
                                    </div>

                                    <div class="inputs">
                                        @Html.LabelFor(m => m.EnterRemark)
                                        @Html.TextAreaFor(m => m.txtha)
                                        @Html.RequiredHint()
                                        @Html.ValidationMessageFor(m => m.txtha)
                                    </div>

                                    <div class="inputs">
                                        <p style="white-space: pre-wrap;text-align: center;"> <b style="color:red;font-weight:bold"> @T("Admin.Note.Note") </b>  @T("Ewallet.EncashAmount.MEA")  @Model.MiniEncashAmtWithCurrencySymbol</p>
                                    </div>
                                    @if (!Model.IsHideMemberSide)
                                    {
                                        <div class="inputs">
                                            <div class="buttons">
                                                <input type="submit" id="SendRequest-button" class="button-1" value="@T("Account.SendRequest.Button")" name="ChkPin-button" />
                                                @*<input type="button" id="reset" class="button-1 " value="@T("Admin.Common.Reset")" />*@
                                                <input type="button" id="btnreset" class="button-1" value="@T("Tree.Reset.Button")" />
                                            </div>
                                        </div>
                                         
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        $(function () {
            $("#SendRequest-button").click(function () {             
                $('.loader').show();
              
                if ($('txtuname').val() == undefined || $('txtha').val() == undefined)
                {                
                    $('.loader').hide();
                }
                  
              
            });
        });


        $("#txtuname").focus();

        $('#lblactbal').attr('readonly', 'readonly')
        $("#reset").click(function () {       
            window.location.reload();
        });

        window.onbeforeunload = function () {
            $("input[type=button], input[type=submit]").attr("disabled", "disabled");
        };


        $("#txtha").removeClass("form-control");

        $('#btnreset').on('click', (function () {
            $('.loader').show();
            document.location = "@(Url.Action("EwalletAmountRequestTransaction", "Ewallet"))";
        }));

        window.onbeforeunload = function () {
            var inputs = document.getElementsByTagName("INPUT");
            for (var i in inputs) {
                if (inputs[i].type == "button" || inputs[i].type == "submit") {
                    inputs[i].disabled = true;
                }
            }
        };

    </script>
                    }
