﻿@model Nop.Web.Framework.Models.Ewallet.FundTransferVM
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_ColumnVF.cshtml";
    //title
    Html.AddTitleParts(T("Account.FundTransfer").Text);
    //register URL with return URL (if specified)
}

<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="page account-page return-request-list-page ">
        <div class="page-title">
            <h1>@T("Account.FundTransfer")</h1>
        </div>
        <div class="page registration-result-page">
            <div class="page-body">

                <div class="result" style="text-align:center;">
                    @if (ViewBag.Msg != null)
                    {
                        @ViewBag.Msg
                    }
                </div>
                @{
    var validationSummary = Html.ValidationSummary(true);
                }
                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div id="errorMessage" class="message-error">@validationSummary</div>
                }
                <div id="errorMessage1" class="message-error"></div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="customer-blocks">
                            <div class="returning-wrapper fieldset">
                                <div class="form-fields">                                  
                                    <div class="inputs" id="divseachById">
                                        @Html.LabelFor(m => m.AvailableBalance)
                                        @Html.TextBoxFor(m => m.lblbal, new { @class = "lblClassAmout" })
                                        @Html.HiddenFor(m => m.lblBalanceAmount)
                                        @Html.ValidationMessageFor(m => m.lblbal)
                                    </div>
                                    <div class="inputs">
                                        @Html.LabelFor(m => m.EnterID)
                                        @Html.TextBoxFor(m => m.txtMemberName)
                                        @Html.HiddenFor(m => m.txtspon)
                                        @Html.RequiredHint()
                                        @Html.ValidationMessageFor(m => m.txtspon)
                                    </div>                               
                                    <div class="inputs" id="validationMessages" style="color:red;width:100px; margin:0 auto;">
                                    </div>
                                    <div class="inputs">
                                        @Html.LabelFor(m => m.EnterAmount)
                                        @Html.TextBoxFor(m => m.txtamt)
                                        @Html.RequiredHint()
                                        @Html.ValidationMessageFor(m => m.txtamt)
                                    </div>
                                    <div class="inputs">
                                        @Html.LabelFor(m => m.EnterRemark)
                                        @Html.TextAreaFor(m => m.txtremark)
                                        @Html.RequiredHint()
                                        @Html.ValidationMessageFor(m => m.txtremark)
                                    </div>
                                    @if (!Model.IsHideMemberSide)
                                    {
                                        <div class="inputs">
                                            <div class="buttons">
                                                <input type="submit" id="SaveButton" class="button-1 register-next-step-button" value="@T("Account.Save.Button")" />
                                                @*<input type="button" name="reset" id="reset" class="button-1 register-next-step-button" value="@T("Admin.Common.Reset")" />*@
                                                <input type="button" id="btnreset" class="button-1" value="@T("Tree.Reset.Button")" />
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        $("#txtspon").focus();

        window.onbeforeunload = function () {
            $("input[type=button], input[type=submit]").attr("disabled", "disabled");
        };

        $(document).ready(function () {
            $('#lblbal').attr('readonly', 'readonly')
            $("#divName").hide();
            $('#errorMessage1').html('');
            $("#errorMessage1").hide();
            $('#trSelectChoice').hide();
            $("#validationMessages").hide();
            $("#ShowCount").hide();
            $('#searchResult').hide();

            $('#SaveButton').click(function () {
                //
                var txtMemberName = $('#txtMemberName').val();
                var txtspon = $('#txtspon').val();

                $('#errorMessage1').html('');
                $("#errorMessage1").hide();
                $('#errorMessage').html('');
                $("#errorMessage").hide();
                $(".result").hide();
                var validationDivs = '';
                var flag = true;
                //

                if (txtMemberName == '') {
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.IdNameRequired")</div>';
                    flag = false;
                }
                if (txtMemberName != '' && txtspon == "") {
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                    flag = false;
                }
                $('.loader').show();
                if (flag) {
                }
                else {
                    $("#errorMessage1").show();
                    $('#errorMessage1').append(validationDivs);
                    return false;
                }
            });          

            $("#txtMemberName").keyup(function () {
                $('#txtspon').val("");
            });
            $("#txtMemberName").keyup(function () {
                $('#txtspon').val("");
            });

            $('#txtMemberName').autocomplete({
                delay: 500,
                minLength: 1,         
                source: '@(Url.Action("SearchTermAutoCompleteMember", "Ewallet"))',
                appendTo: '.search-box',
                focus: function (event, ui) {
                    $("#txtspon").val(ui.item.Id);
                    $("#txtMemberName").val(ui.item.label);
                    return false;
                },
                select: function (event, ui) {
                    //
                    var key = checkEvent(event);
                    if (key == 13) {
                        $("#txtspon").val(ui.item.Id);
                        $("#txtMemberName").val(ui.item.label);
                        $("#divfirstname").show();
                    }
                    else {
                        $("#txtspon").val(ui.item.Id);
                        $("#txtMemberName").val(ui.item.label);
                        $("#divfirstname").show();
                    }

                    return false;
                }
                ,
                search: function () { $('.loader').show(); },
                open: function () { $('.loader').hide() },

            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                var t = item.label;
                //html encode
                t = $('<div/>').text(t).html();
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a><span>" + t + "</span></a>")
                    .appendTo(ul);
            };

            $("#txtMemberName").keydown(function (e) {
                if (e.which === 13 && $('#txtspon').val() != " ") {
                    //
                    var txtsp = $('#txtspon').val();
                    $('#txtspon').val(txtsp);

                }
            });
            $("#txtMemberName").keydown(function (e) {
                if (e.which === 13 && $('#txtspon').val() != " ") {
                    // 
                    var txtsp = $('#txtspon').val();
                    $('#txtspon').val(txtsp);
                }
            });

            function checkEvent(e) {
                if (window.event)
                    key = window.event.keyCode;     //IE
                else
                    key = e.which;     //firefox

                return key;
            }

            $("#reset").click(function () {

                $("#txtspon").val("");
                $("#txtamt").val("");
                $("#txtremark").val("");
                $("#divName").hide();
                $("#SaveButton").show();
                $('#validationMessages').html('');
                $("#validationMessages").hide();
                window.location.reload();
            });

        });
        $('#btnreset').on('click', (function () {
            $('.loader').show();
            document.location = "@(Url.Action("FundTransfer", "Ewallet"))" ;
        }));


        window.onbeforeunload = function () {
            var buttons = document.getElementsByTagName("BUTTON");
            for (var i in buttons) {
                if (buttons[i].type == "button" || buttons[i].type == "submit") {
                    buttons[i].disabled = true;
                }
            }
        };
    </script>
}







