﻿@model Nop.Plugin.Widgets.VideoGallery.Models.VideoGalleryList
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI
@using Nop.Core.Infrastructure
@using System.Web.Mvc;
@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = T("Plugins.Widgets.VideoGallery.CreateAlbum").Text;
    Html.SetActiveMenuItemSystemName("Widgets.VideoGallery");
    var type = new List<SelectListItem>
    {
    new SelectListItem { Text = "Active", Value="0" , Selected=true },
    new SelectListItem { Text = "InActive", Value="1" }

    };
}

                           <style>
                               .input-group-required {
                                   width: 56%;
                               }
                           </style>





@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Plugins.Widgets.VideoGallery.CreateAlbum")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a href="@Url.Action("AlbumListTransaction", "VideoGallery", new RouteValueDictionary() { { "Namespaces", "Nop.Plugin.Widgets.VideoGallery.Controllers" }, { "area", "" } })">
                    @T("admin.contentmanagement.notificationtemplates.backtolist")
                </a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn btn-success">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>


    @Html.HiddenFor(model => model.Id)

    <div>
        <div class="content">
            <div class="form-horizontal">

                <div class="panel-group">
                    <div class="panel panel-default panel-search">
                        <div class="panel-body">
                            <div class="row">

                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.NopLabelFor(model => model.VAH_Name)
                                    </div>
                                    <div class="col-md-9">
                                        <div class="input-group input-group-required">
                                            @Html.NopEditorFor(model => model.VAH_Name)
                                            @Html.ValidationMessageFor(model => model.VAH_Name)
                                            <div class="input-group-btn">
                                                @Html.RequiredHint()
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.NopLabelFor(model => model.ActiveType)
                                    </div>
                                    <div class="col-md-9">
                                        <div class="input-group input-group-required">
                                            @Html.NopDropDownListFor(model => model.ActiveType, type)
                                            @Html.HiddenFor(model => model.ActiveType, type)
                                            <div class="input-group-btn">

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


}









