﻿@model Nop.Plugin.Widgets.VideoGallery.Models.UploadVideos
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI
@using Nop.Core.Infrastructure
@using System.Web.Mvc.Html


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    {
        <div class="page-body">
            <div class="panel panel-default">

                <div class="panel-body">
                    @*<div class="customer-blocks">
                        <div class="returning-wrapper fieldset">
                            <div class="form-fields">*@
                  
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">

                                <div class="x_content">
                                    <video height="500px"  width="100%" controls autoplay>
                                        <source src="@Url.Content(@Model.FilePath)" type='video/mp4'  />
                                    </video>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    }
}





<script>

$('img').each(function() {

    var $img = $(this);

    var imgsrc = $img.attr('src');

    var url = window.location.href;



    var href = window.location.href.split('/');

    if (url.toLowerCase().indexOf("punecs") >= 0)

    {

        var baseURL='/'+ href[3];


        if (imgsrc.toLowerCase().indexOf(baseURL.toLowerCase()) < 0)

        {



            var imgsrc2 =baseURL + imgsrc;

            $img.attr('src',imgsrc2);

        }

    }



});

</script>

