﻿@using SevenSpikes.Nop.Plugins.SmartProductCollections.Models.Public
@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Configuration

@model CategoryCollectionsModel

@{
    Layout = "";

    Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.SmartProductCollections/Themes/" + Model.Theme + "/Content/SmartProductCollections.css");

    var supportRtl = ShouldUseRtlTheme();
    if (supportRtl)
    {
        Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.SmartProductCollections/Themes/" + Model.Theme + "/Content/SmartProductCollections.rtl.css");
    }

    Html.AddScriptParts("~/Plugins/SevenSpikes.Nop.Plugins.SmartProductCollections/Scripts/Products.min.js");

    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("controller");
    var actionName = HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("action");
    var numberOfProductsClass = "products-" + Model.Settings.NumberOfProducts;
    var isHomePage = controllerName.Equals("home", StringComparison.InvariantCultureIgnoreCase) &&
                     actionName.Equals("index", StringComparison.InvariantCultureIgnoreCase);
}
@if (isHomePage)
{
    foreach (var categoryGroup in Model.CategoryGroups)
    {
        <div class="spc spc-categories @Model.Settings.CategoryImagesOrientation @numberOfProductsClass"
             notloaded
             data-categorygroupid="@categoryGroup.Id"
             data-getcategorygroupinfourl="@Url.Action("PrepareCategoryGroup", "SmartProductCollections")"
             data-getitemproductsurl="@Url.Action("GetProductsForItem", "SmartProductCollections")">
            <div class="loading-overlay">
                <span>@T("SevenSpikes.SmartProductCollections.Public.Loading")</span>
            </div>
        </div>
    }}