﻿@model IEnumerable<Nop.Web.Models.IncomeAchivers.AchieversEarningModel>

<div class="panel panel-default">
    <div class="panel-heading">
        @*<h3>@T("Dashboard.DashboardSettingsModel.RecentJoining")</h3>*@
        <h3> Award Qualifiers</h3>
    </div>
    <div class="panel-body">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="AwardQualifiers" class="display responsive wrap stripe cell-border" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                              
                                <th>@Html.DisplayNameFor(model => model.MemberNo)</th>
                                <th>@Html.DisplayNameFor(model => model.MemberName)</th>
                                <th>@Html.DisplayNameFor(model => model.EarningsName)</th>
                                <th>@Html.DisplayNameFor(model => model.Description)</th>
                                <th>@Html.DisplayNameFor(model => model.DateOfJoining)</th>
                            </tr>
                        </thead>    
                        <tbody>




                            @foreach (var item in Model)
                            {
                                <tr>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MemberNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MemberName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EarningsName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateOfJoining)
                                    </td>

                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
