﻿@model Nop.Web.Framework.Models.Customer.ChangePasswordModel
@using Nop.Web.Framework.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-change-password-page");
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page account-page change-password-page">
        <div class="page-title">
            <h1>@T("Account.MyAccount") - @T("Account.ChangePassword")</h1>
        </div>
        <div class="page-body registration-result-page">
            @if (!String.IsNullOrEmpty(Model.Result))
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            @{
                var validationSummary = Html.ValidationSummary(true);
            }
            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="message-error">@validationSummary</div>
            }
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        @Html.LabelFor(model => model.OldPassword, new { }, ":")
                        @Html.EditorFor(model => model.OldPassword)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.OldPassword)
                    </div>
                    <div class="inputs">
                        @Html.LabelFor(model => model.NewPassword, new { }, ":")
                        @Html.EditorFor(model => model.NewPassword)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </div>
                    <div class="inputs">
                        @Html.LabelFor(model => model.ConfirmNewPassword, new { }, ":")
                        @Html.EditorFor(model => model.ConfirmNewPassword)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                    </div>
                </div>
            </div>
            <div class="buttons">
                <input type="submit" id="changepassword" class="button-1 change-password-button" value="@T("Account.ChangePassword.Button")" />
            </div>
        </div>

    </div>
                }

<script>
    $(function () {
        $("#changepassword").click(function () {
            $('.loader').show();
            if($('OldPassword').val() == undefined||$('NewPassword').val() == undefined||$('ConfirmNewPassword').val() == undefined)
            {
                $('.loader').hide();
            }
        });
    });

</script>