﻿@model  Nop.Web.Framework.Models.Customer.CustomerNavigationModel
@using Nop.Core.Domain.Customers;
@using Nop.Web.Framework.Models.Customer;

@{
    var controllerName = System.Web.HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("controller");
    var IsGuest = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.IWorkContext>().CurrentCustomer.IsGuest();
    var IsMember = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.IWorkContext>().CurrentCustomer.MemId;
  
    Session["ISMember"] = null;
    Session["IsTrader"] = null;
    Session["HideInfo"] = null;
    Session["HideOrders"] = null;
    Session["HideReturnRequests"] = null;
    Session["HideKYCDocument"] = null;
    Session["HideTraderKYCDocument"] = null;
    Session["HideChangePassword"] = null;
    Session["HideAddresses"] = null;

    if (Model.IsMember)
    {
        Session["ISMember"] = true;
    }
    else
    {
        Session["ISMember"] = null;
    }
    if (Model.IsTrader)
    {
        Session["IsTrader"] = true;
    }
    else
    {
        Session["IsTrader"] = null;
    }
    if (!Model.HideInfo)
    {
        Session["HideInfo"] = true;
    }
    else
    {
        Session["HideInfo"] = null;
    }
    if (!Model.HideOrders)
    {
        Session["HideOrders"] = true;
    }
    else
    {
        Session["HideOrders"] = null;
    }
    if (!Model.HideReturnRequests)
    {
        Session["HideReturnRequests"] = true;
    }
    else
    {
        Session["HideReturnRequests"] = null;
    }
    if (Model.HideKYCDocument)
    {
        Session["HideKYCDocument"] = true;
    }
    else
    {
        Session["HideKYCDocument"] = null;
    }
    if (Model.HideTraderKYCDocument)
    {
        Session["HideTraderKYCDocument"] = true;
    }
    else
    {
        Session["HideTraderKYCDocument"] = null;
    }
    if (!Model.HideChangePassword)
    {
        Session["HideChangePassword"] = true;
    }
    else
    {
        Session["HideChangePassword"] = null;
    }
    if (!Model.HideAddresses)
    {
        Session["HideAddresses"] = true;
    }
    else
    {
        Session["HideAddresses"] = null;
    }
}


<div class="block block-account-navigation  mobile.account-navigation-wrapper">
    @if (!IsGuest)
    {
        <div class="title">
            <strong>@T("Account.Navigation")</strong>
        </div>
        <div class="listbox">
            <ul class="list">
                @*@Html.Widget("account_navigation_before")*@
                @if (Model.HideTicket)
                {
                    <li>
                        <a href="@Url.RouteUrl("MyTickets")" class="@if (Model.SelectedTab == CustomerNavigationEnum.MyAccountList)
                                                       {<text>active</text>}
                                                       else
                                                       {<text>inactive</text>}">@T("Web.Catalog.MemberMenu.MyTickets")</a>
                                                </li>

                                                <li>
                                                    <a href="@Url.RouteUrl("AddNewTicket")" class="@if (Model.SelectedTab == CustomerNavigationEnum.AddNewTicket)
                                                       {<text>active</text>}
                                                       else
                                                       {<text>inactive</text>}">@T("Web.Catalog.MemberMenu.AddNewTicket")</a>
                                                </li>
                }

                @if (!Model.HideInfo)
                {
                    if (Model.IsTrader)
                    {
                        <li>
                            <a href="@Url.RouteUrl("CustomerInfo")" class="@if (Model.SelectedTab == CustomerNavigationEnum.Info)
                                                                   {<text>active</text>}
                                                                   else
                                                                   {<text>inactive</text>}">@T("Account.FranchiseInfo")</a>
                                                            </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.RouteUrl("CustomerInfo")" class="@if (Model.SelectedTab == CustomerNavigationEnum.Info)
                                                                   {<text>active</text>}
                                                                   else
                                                                   {<text>inactive</text>}">@T("Account.CustomerInfo")</a>
                                                            </li>
                    }
                }

                @if (Model.IsMember)
                {

                    if (!Model.HideOrders)
                    {
                        <li>
                            <a href="@Url.RouteUrl("CustomerOrders")" class="@if (Model.SelectedTab == CustomerNavigationEnum.Orders)
                                                                     {<text>active</text>}
                                                                     else
                                                                     {<text>inactive</text>}">@T("Account.CustomerOrders")</a>
                                                                </li>
                    }

                    if (!Model.HideInvoice)
                    {
                    <li>
                        <a href="@Url.RouteUrl("CustomerInvoices")" class="@if (Model.SelectedTab == CustomerNavigationEnum.Invoices)
                        {<text>active</text>}
                        else
                        {<text>inactive</text>}">Invoices</a>
                                                                </li>
                    }

                    if (!Model.HideReturnRequests)
                    {
                        <li>
                            <a href="@Url.RouteUrl("CustomerReturnRequests")" class="@if (Model.SelectedTab == CustomerNavigationEnum.ReturnRequests)
                                                                                 {<text>active</text>}
                                                                                 else
                                                                                 {<text>inactive</text>}"> @T("Account.CustomerReturnRequests")</a>
                                                                            </li>
                    }

                }

                @if (Model.IsMember)
                {

                    if (Model.HideKYCDocument)
                    {
                        <li>
                            <a href="@Url.RouteUrl("CustomerKYCDocument")" class="@if (Model.SelectedTab == CustomerNavigationEnum.Avatar)
                                                                     {<text>active</text>}
                                                                     else
                                                                     {<text>inactive</text>}">@T("Account.KYCDocument")</a>
                                                                </li>
                    }

                    if (!Model.HideDownloadDocument)
                    {

                        <li>
                            <a href="@Url.RouteUrl("DownloadableDocument")" class="@if (Model.SelectedTab == CustomerNavigationEnum.DownloadableProducts)
                                                                            {<text>active</text>}
                                                                            else
                                                                            {<text>inactive</text>}">@T("Account.DownloadDocument")</a>
                                                                        </li>
                    }
                }

                @if (Model.IsTrader)
                {
                    if (Model.HideTraderKYCDocument)
                    {
                        <li>
                            <a href="@Url.RouteUrl("TraderKYCDocument")" class="@if (Model.SelectedTab == CustomerNavigationEnum.KYCDocument)
                                                                     {<text>active</text>}
                                                                     else
                                                                     {<text>inactive</text>}">@T("Account.KYCDocument")</a>
                                                                </li>
                    }
                }
                @if (!Model.HideChangePassword && IsMember != -1)
                {
                    <li>
                        <a href="@Url.RouteUrl("CustomerChangePassword")" class="@if (Model.SelectedTab == CustomerNavigationEnum.ChangePassword)
                                                                             {<text>active</text>}
                                                                             else
                                                                             {<text>inactive</text>}">@T("Account.ChangePassword")</a>
                                                                        </li>
                }

                @if (!Model.IsTrader && IsMember != -1)
                {
                    if (!Model.HideAddresses)
                    {
                        <li>
                            <a href="@Url.RouteUrl("CustomerAddresses")" class="@if (Model.SelectedTab == CustomerNavigationEnum.Addresses) { <text> active</text>}
                                                                             else
                                                                             {<text>inactive</text>}">@T("Account.CustomerAddresses")</a>
                                                                        </li>
                    }
                }

                @if (Model.HideWelcomeLetterDetails)
                {
                    <li>
                        <a href="@Url.RouteUrl("WelcomeLetterDetails")" class="@if (Model.SelectedTab == CustomerNavigationEnum.WelcomeLetter) { <text> active</text>}
                                                                             else
                                                                             {<text>inactive</text>}">@T("Web.Catalog.MemberMenu.WelcomeLetter")</a>
                                                                        </li>
                }

                @if (Model.HideReceiptDetails)
                {
                    <li>
                        <a href="@Url.RouteUrl("ReceiptDetails")" class="@if (Model.SelectedTab == CustomerNavigationEnum.Receipt) { <text> active</text>}
                                                                             else
                                                                             {<text>inactive</text>}">@T("Web.Catalog.MemberMenu.MyDetailsReceipt")</a>
                                                                        </li>
                }

                @if (Model.HideUpgradeDetails)
                {
                    <li>
                        <a href="@Url.RouteUrl("UpgradeDetails")" class="@if (Model.SelectedTab == CustomerNavigationEnum.UpgradeDetails) { <text> active</text>}
                                                                             else
                                                                             {<text>inactive</text>}">@T("Web.Catalog.MemberMenu.UpgradeDetails")</a>
                                                                        </li>
                }

                @if (Model.HideUploadFormDocument)
                {
                    <li>
                        <a href="@Url.RouteUrl("UploadForm16DocumentDetails")" class="@if (Model.SelectedTab == CustomerNavigationEnum.UploadFormDocument) { <text> active</text>}
                                                                             else
                                                                             {<text>inactive</text>}">@T("Web.Catalog.MemberMenu.UploadForm16DocumentReport")</a>
                                                                        </li>
                }

                @if (Model.HideShowIdCardDetails)
                {
                    <li>
                        <a href="@Url.RouteUrl("ShowIdCardDetails")" class="@if (Model.SelectedTab == CustomerNavigationEnum.ShowIdCard) { <text> active</text>}
                                                                             else
                                                                             {<text>inactive</text>}">@T("Admin.Reports.IdCard")</a>
                                                                        </li>
                }

                @if (Model.HideMoreInformation)
                {
                    <li>
                        <a href="@Url.RouteUrl("MoreInformation")" class="@if (Model.SelectedTab == CustomerNavigationEnum.ShowIdCard) { <text> active</text>}
                                                                             else
                                                                             {<text>inactive</text>}">@T("Web.Catalog.MemberMenu.MoreInformation")</a>
                                                                        </li>
                }


                @Html.Widget("account_navigation_after")
            </ul>
        </div>
    }
</div>
