﻿@{
    Layout = "";
}
@model Nop.Web.Framework.Models.RegisterModel
@*@using (Html.BeginForm())
{*@

    <div class="page-body">
        <div class="fieldset">          
            <div class="inputs">
                <label>@T("Account.Fields.txtUniqueCode") </label>        
                @Html.TextBoxFor(model => model.txtUniqueCode)
                @Html.RequiredHint()
                <div class="inputs field-validation-error" id="validationMessagestxtUniqueCode" style="text-align:center"></div>

            </div>
            <div class="inputs">
                <label>@T("Account.Fields.txtPinSrNo") </label>            
                @Html.TextBoxFor(model => model.txtPinSrNo)
                @Html.RequiredHint()
                <div class="inputs field-validation-error" id="validationMessagestxtPinSrNo" style="text-align:center"></div>
            </div>
        </div>
    </div>

@*}*@
<script>
    $("#validationMessagestxtUniqueCode").html("");
    $("#validationMessagestxtPassword").html("");
    $("#txtUniqueCode").change(function () {
        if ($("#txtUniqueCode").val() == "") {
            $("#validationMessagestxtUniqueCode").html("@T("Dashboard.MyDetails.UpgradeDetails.UniqueCode")");
        }
        else {
            $("#validationMessagestxtUniqueCode").html("");
            var uniqueCode = $("#txtUniqueCode").val();
            $('#txtUniqueCode').val(uniqueCode);
        }
    });

    $("#txtPinSrNo").change(function () {
        if ($("#txtPinSrNo").val() == "") {
            $("#validationMessagestxtPinSrNo").html("@T("Dashboard.MyDetails.UpgradeDetails.SerialNo")");
        }
        else {
            $("#validationMessagestxtPinSrNo").html("");
            var serialNo = $("#txtPinSrNo").val();
            $('#txtPinSrNo').val(serialNo);
        }
    });
</script>