﻿

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PayoutSuccess</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <input type="submit" value="continue" />
        }
    </div>
</body>
</html>
