﻿@model Nop.Web.Framework.Models.KYCDocumentModel
@{
    ViewBag.Title = "ViewImage";
    Layout = null;
}

<div style="width:100%;height:100%">
    <img src="@Model.ImageURL" height="100%" width="100%" />
</div>

