﻿
.ajaxCart .k-window-titlebar.k-header{
    padding: 10px 0 10px 60px;
}

.ajaxCart .k-window-titlebar.k-header .k-window-actions {
    left: 0px;
    right: auto;
}

.productAddedToCartWindowTitle{
    right: 10px;
    left: auto;
}
.miniProductDetailsView .add-to-cart > *,
.miniProductDetailsView .add-button-wrap {
    float:right;
}