
/* QUANTITY BOX & BUY BUTTON */

.ajax-cart-button-wrapper .productQuantityTextBox,
.ajax-cart-button-wrapper .productQuantityDropdown {
	margin: 0 1px 0 -1px;
}

/* COMMON WINDOW STYLES */

.ajaxCart .k-window-titlebar {
	text-align: right;
}
.ajaxCart .k-window-titlebar .k-window-actions {
	left: 11px;
	right: auto;
}
.productAddedToCartWindowTitle,
.miniProductDetailsView .product-name {
	right: 0;
	left: auto;
	padding: 0 10px 0 0;
}

/* PRODUCT ADDED TO CART WINDOW */

.productAddedToCartWindowImage {
	float: right;
	padding: 20px 20px 20px 10px;
}
.productAddedToCartWindowDescription {
	float: left;
	padding: 20px 10px 20px 20px;
}

/* PRODUCT GRIDS IN AJAX CART */

.ajaxCart .item-box {
	margin: 5px 2% 5px 0;
}
.ajaxCart .item-box:nth-child(2n+1),
.ajaxCart .item-box:nth-child(4n+1) {
	margin-right: 2%;
	margin-left: 0;
}
.ajaxCart .item-box:nth-child(3n+1) {
	margin-right: 0;
	margin-left: 0;
}

/* PRODUCT DETAILS WINDOW */

.miniProductDetailsView .gallery {
	float: right;
	padding: 20px 20px 20px 10px;
}
.miniProductDetailsView .overview {
	float: left;
	padding: 20px 10px 20px 20px;
}
.miniProductDetailsView .add-to-cart > *,
.miniProductDetailsView .add-button-wrap {
	float: right;
}