﻿@model Nop.Core.Domain.CustomerNotifications.CustomerNotifications
@*@model Nop.Web.Models.CustomerNotifications.CustomerNotificationsModel*@
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    //title
    Html.AddTitleParts(T("PageTitle.Notifications").Text);
}
<div class="master-wrapper-content">
    <div class="master-column-wrapper">
        @using (Html.BeginRouteForm("Notification", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="page news-list-page">
                <div class="page-title">
                    <h4>@Html.DisplayFor(model => model.Subject)</h4>
                </div>
                <div class="page-body">
                    <div class="news-body">                     
                        @Html.Raw(Model.Body)
                    </div>
                </div>
                <div class="fieldset new-comment">
                    <div class="buttons">
                        <a href="@Url.RouteUrl("CustomerNotifications")" class="button-1 news-item-add-comment-button">@T("CustomerNotification.ViewAll")</a>
                        @*<input type="submit" name="Delete" value="@T("CustomerNotifications.Notifications.Delete")" class="button-1 news-item-add-comment-button" />*@
                    </div>
                </div>
            </div>
        }
    </div>
</div>


