﻿@model Nop.Web.Models.CustomerNotifications.CustomerNotificationsModel
@using Nop.Web.Models.CustomerNotifications;

<style>
    ul.message-menu li .message-content h2, ul.notification-menu li .notification-content h2 {
        width: 250px;
    }
</style>

    @if (Model.Items.Count > 0)
    {
        <ul class="notification-menu">
            @foreach (var item in Model.Items)
            {
                <li>
                    <a href="@Url.RouteUrl("Notification", new { Id = item.Id })">
                        <div class="notification-icon">
                            <span class="adminpro-icon adminpro-checked-pro"></span>
                        </div>
                        <div class="notification-content">
                            <h2><span>@item.Subject</span></h2>
                            <span>@item.CreatedDate.ToString("D")</span>
                        </div>
                    </a>
                </li>
            }

        </ul>
    }