﻿@model Nop.Web.Models.CustomerNotifications.MiniCustomerNotificationsModel
@*@using Nop.Web.Models.CustomerNotifications;*@
<div id="notification-list" class="flyout-cart">
    <div class="mini-shopping-cart">
        <div class="count">
            @if (Model.Items.Count == 0)
            {
                @T("CustomerNotifications.Mini.NoItems")
            }
            else
            {
                @Html.Raw(string.Format(T("CustomerNotifications.Mini.ItemsText").Text, string.Format("<a href=\"{0}\">{1}</a>", Url.RouteUrl("Notification"), string.Format(T("CustomerNotifications.Mini.Items").Text, Model.TotalNotifications))))
            }
        </div>
        @*@if (Model.Items.Count > 0)
            {*@
        <div class="items">
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                var item = Model.Items[i];
                <div class="product">
                    <div class="name">
                        <a href="@Url.RouteUrl("Notification", new { Id = item.Id })" class="share-link">@item.Subject</a>
                    </div>
                </div>

            }
        </div>
        @if (Model.DisplayViewAllButton)
        {
            <input type="button" value="@T("CustomerNotifications.Mini.Display")" class="button-1 cart-button" onclick="setLocation('@(Url.RouteUrl("CustomerNotifications"))')" />
        }
    </div>
</div>
