﻿@model Nop.Core.Domain.CustomerNotifications.CustomerNotifications
@{
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
    //title
    Html.AddTitleParts(T("PageTitle.Notifications").Text);
}

<br />
<div class="sparkline16-list shadow-reset">
    <div class="sparkline16-hd">
        <div class="main-sparkline16-hd">
            <h1>Notifications</h1>
        </div>
    </div>
    <div class="sparkline16-list shadow-reset">
        <div class="sparkline16-graph">
            <div class="datatable-dashv1-list custom-datatable-overright">
                <div class="contact-clients-area mg-b-40">
                    <div class="container-fluid">
                        @using (Html.BeginRouteForm("Notification", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {                               

                                    <div class="contact-client-single ct-client-b-mg-30 ct-client-b-mg-30-n shadow-reset">
                                        <div class="row" style="text-align: left; margin-left: 1%;">                                           
                                            <div class="col-lg-12">
                                                <div class="contact-client-content">
                                                  
                                                    <h1>@Html.DisplayFor(model => model.Subject)</h1>
                                                </div>
                                                <div class="contact-client-address">
                                                    <p class="address-client-ct">@Html.Raw(Model.Body)</p>
                                                </div>
                                                <div class="button-style-four btn-mg-b-10">
                                                    <a href="@Url.Action("MemberAllNotificationDisplay", "CustomerNotification")" class="btn btn-custon-four btn-primary"><i class="fa fa-eye"></i> @T("CustomerNotification.ViewAll")</a>
                                                </div>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                           
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>