﻿@model Nop.Admin.Models.MakeResale.ResaleModel
@using Nop.Admin.WebServices;
@using Nop.Core;
<style>
    @@media all and (min-width: 320px) and (max-width:1023px) {
        #relatedproducts-grid {
            overflow-x: scroll !important;
        }

        .k-grid.k-widget .k-pager-wrap {
            display: none;
        }

        .box {
            border-top: none !important;
            box-shadow: none !important;
        }
    }

    .AlignkendoGridFormQuantity {
        background-color: #97b0df;
    }
</style>
<div class="content">
    <div class="form-horizontal">
        <div id="product-attribute-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-info", @T("Admin.Catalog.Attributes.ProductAttributes.Info"), true)

            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)

            </div>
        </div>
    </div>
</div>
<input type="hidden" id="selected-tab-name" name="selected-tab-name" value="@(Html.GetSelectedTabName())">
@helper TabInfo()
{
var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>
().DefaultGridPageSize;
var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>
    ().GridPageSizes;
//var _currencyService = DependencyResolver.Current.GetService<icurrencyservice>();
var isVFMember = EngineContext.Current.Resolve<IWorkContext>
    ().WorkingCurrency.DisplayLocale;
var currency = WebService.GetCurrencySymbol(isVFMember);

    @*<table class="adminContent">
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.TraderName):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.TraderName)

                    @Html.HiddenFor(model => model.TraderId)
                    @Html.ValidationMessageFor(model => model.TraderId)
                    <div id="divfirstname" class="inputs">
                    </div>
                </td>
            </tr>
        </table>*@

    <br /><br />
    @*<div class="panel-group">
    *@

    <div class="panel panel-default">
        <div class="panel-body">
            <div id="relatedproducts-grid"></div>

            <script>
                $(document).ready(function () {

                    var supplierId = '@Model.TraderId';

                    if (supplierId != '' && parseInt(supplierId) > 0)
                        fetchSupplierDetails(supplierId);
                    $("#relatedproducts-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("RelatedProductList", "Resale", new { productId = Model.Id }))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                },
                                update: {
                                    url: "@Html.Raw(Url.Action("RelatedProductUpdate", "Resale"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                },
                                destroy: {
                                    url: "@Html.Raw(Url.Action("RelatedProductDelete", "Resale"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                }
                            },
                            autoSync: true,
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id",
                                    fields: {
                                        Product2Name: { editable: false, type: "string" },
                                        AvailableQuantity: { editable: false, type: "number" },
                                        Quantity: { editable: true, type: "number" },
                                        Amount: { editable: false, type: "number" },
                                        ProductCost: { editable: false, type: "number" },
                                        PVCounts: { editable: false, type: "number" },
                                        BVCounts: { editable: false, type: "number" }
                                    }
                                }
                            },
                            //requestEnd: function (e) {
                            //    if (e.type == "update") {
                            //        this.read();
                            //    }
                            //},
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: false,
                            previousNext: false,
                            info: false
                        },
                        editable: {
                            //confirmation: false,
                            mode: "incell"
                        },

                        scrollable: false,
                        dataBound: onDataBound,
                        columns: [{
                            field: "Product2Name",
                            title: "@T("Admin.Inventory.StockIn.PO.ProductName")",
                            width: 250,
                            footerTemplate: '<div>@T("Dashboard.MyCommission.Total")</div>'

                        }, {
                            field: "ProductCost",
                            title: "@T("Admin.Catalog.Products.Price.Fields.ProductPrice")",
                            //integer format
                            //format: "{0:0}",
                            width: 150
                        },
                        {
                            field: "AvailableQuantity",
                            title: "@T("Admin.Inventory.PurchaseOrder.RelatedProducts.AvailableQuantity")",
                            //integer format
                            format: "{0:0}",
                            width: 150,
                        },
                        {
                            field: "Quantity",
                            title: "@T("Admin.Inventory.PurchaseOrder.RelatedProducts.Quantity")",
                            format: "{0:0}",
                            attributes: { "class": "AlignkendoGridFormQuantity" },
                            editor: productNameEditor,
                            width: 150,
                            footerTemplate: '<div> <span id=\"total-quantity\"></span></div>'

                        },
                           @if (Model.SHowPV==1)
                        {
                               <text>{
                               field: "PVCounts",
                               title: "@T("Admin.Catalog.Products.Fields.PV")",
                               template: '#=caculatePV(PVCounts ,Quantity)#',
                               width: 100,
                               footerTemplate: '<div> <span id=\"total-PV\"></span></div>'
                           },</text>
                        }
                       @if (Model.SHowBV == 1)
                     {
                        <text>{
                           field: "BVCounts",
                           title: "@T("Admin.Catalog.Products.Fields.BV")",
                           template: '#=caculateBV(BVCounts ,Quantity)#',
                           width: 100,
                           footerTemplate: '<div><span id=\"total-BV\"></span></div>'
                       },</text>
                     }
                        {
                            field: "Amount",
                            title: "@T("Admin.Inventory.PurchaseOrder.RelatedProducts.Amount")",
                            //integer format
                            width: 150,
                            template: '#=caculateAmount(ProductCost ,Quantity,AvailableQuantity)#',
                            footerTemplate: '<div><span id=\"sub-total\"></span></div>'
                        },
                        {
                            command: [{
                                @*name: "edit",
                                text: {
                                    edit: "@T("Admin.Common.Edit")",
                                    update: "@T("Admin.Common.Update")",
                                    cancel: "@T("Admin.Common.Cancel")"
                                }
                            },*@
                                //{
                                name: "destroy",
                                text: "@T("Admin.Common.Delete")"
                            }],
                            width: 100
                        }]
                    });

                    function productNameEditor(container, options) {


                        $('<input style="width: 95%;" data-bind="value:' + options.field + '" onkeypress="return isNumber(event)"  />').appendTo(container);
                    }

                    function isNumber(evt) {
                        evt = (evt) ? evt : window.event;
                        var charCode = (evt.which) ? evt.which : evt.keyCode;
                        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                            return false;
                        }
                        return true;
                    }

                    //$('#Freight').on('change', function () {

                    //    calculateSummary();
                    //});

                    //$('#Other').on('change', function () {

                    //    calculateSummary();
                    //});


                });


                function onDataBound(e) {

                    calculateSummary();
                    var partialpayment = '@Model.PartialPayment';
                    var partialPayResel = '@Model.PartialPaymentResel';
                    if (partialpayment == 'True' && partialPayResel == 'True') {
                        if ($('#paymode').val() == "Payments.EWallet" || $('#paymode').val() == "Payments.CreditNoteWallet") {
                            $('#paymode').val('0')
                            $('#paymentInfo').hide();
                            $('#divEId').hide();
                            $('#divEId1').hide();
                            $('#divEPsw').hide();
                            $('#divEPsw1').hide();
                        }
                    }
                }

                function isNumber(evt) {
                    evt = (evt) ? evt : window.event;
                    var charCode = (evt.which) ? evt.which : evt.keyCode;
                    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                        return false;
                    }
                    return true;
                }

                function caculatePV(PVCounts, quantity) {



                    return PVCounts * quantity;


                    calculateSummary();
                }

                function caculateBV(BVCounts, quantity) {

                    return BVCounts * quantity;


                    calculateSummary();
                }


                function caculateAmount(cost, quantity, AvailableQuantity) {


                    var validationDivs = '';
                    return (cost * quantity).toFixed(2);


                    calculateSummary();
                }
                var erroravalqtyFlag = false;
                function calculateSummary() {

                    var subTotal = 0;
                    var totalQuantity = 0;
                    var NetAmount = 0;
                    var totalPV = 0;
                    var totalBV = 0;
                    var TotalBVSetting = '@Model.SHowBV'
                    var TotalPVSetting = '@Model.SHowPV'
                    var errorFlag = false;
                    var alreadyloaded = false;
                    
                    if (erroravalqtyFlag) {
                        alreadyloaded = true;
                    }
                    $('#relatedproducts-grid table').find('tr').each(function (key, val) {

                        if (key > 1) {
                            //  alert($(this).find('td:eq(3)').html());

                            if (TotalBVSetting == '1' && TotalPVSetting == '0') {
                                var amount = $(this).find('td:eq(5)').html();
                                if (amount != '') {
                                    subTotal += parseFloat(amount);
                                }
                            }
                            else if (TotalBVSetting == '0' && TotalPVSetting == '1') {
                                var amount = $(this).find('td:eq(5)').html();
                                if (amount != '') {
                                    subTotal += parseFloat(amount);
                                }
                            }
                            else if (TotalBVSetting == '1' && TotalPVSetting == '1') {
                                var amount = $(this).find('td:eq(6)').html();
                                if (amount != '') {
                                    subTotal += parseFloat(amount);
                                }
                            }
                            else if (TotalBVSetting == '0' && TotalPVSetting == '0') {
                                var amount = $(this).find('td:eq(4)').html();
                                if (amount != '') {
                                    subTotal += parseFloat(amount);
                                }
                            }

                            var quantity = parseInt($(this).find('td:eq(3)').html());
                            debugger;
                            var availbleQuantity = parseInt($(this).find('td:eq(2)').html());
                            if (isNaN(quantity)) {
                                errorFlag = true;
                                $("#validationMessages").html("");
                                $("#validationMessages").show();
                                $("#validationMessages").html("@T("Admin.Validation.QuantityGreaterZero")");
                            }
                            if (quantity <= 0) {
                                errorFlag = true;
                                $("#validationMessages").html("");
                                $("#validationMessages").show();
                                $("#validationMessages").html("@T("Admin.Validation.QuantityGreaterZero")");
                            }
                            else {
                                if (quantity > availbleQuantity) {
                                    erroravalqtyFlag = true;
                                    $("#validationMessages").html("");
                                    $("#validationMessages").show();
                                    $("#validationMessages").html("@T("admin.validation.entervalidno")");
                                    $(this).find('td:eq(3)').html(1);
                                }
                            }
                            if (quantity != '') {
                                totalQuantity += parseInt(quantity);
                            }

                            if (TotalPVSetting == '1') {
                                var PV = $(this).find('td:eq(4)').html();
                                if (PV != '') {
                                    totalPV += parseInt(PV);
                                }
                            }
                            if (TotalBVSetting == '1') {
                                var BV = $(this).find('td:eq(5)').html();
                                if (BV != '') {
                                    totalBV += parseInt(BV);
                                }
                            }
                        }

                    });

                    NetAmount += subTotal;
                    //var freight = parseFloat($('#Freight').val());
                    //var otherTax = parseFloat($('#Other').val());
                    //if (!isNaN(freight))
                    //    NetAmount += freight;
                    //if (!isNaN(otherTax))
                    //    NetAmount += otherTax;
                    //  alert('totalQuantity' + totalQuantity);

                    //$('#total-amount').text(subTotal);
                    $('#total-amount').text(NetAmount);

                    $('#sub-total').text(subTotal);
                    $('#SubTotal').val(subTotal);

                    //$('#payableAmount').text(subTotal);
                    //$('#PayableAmount').val(subTotal);
                    $('#payableAmount').text(NetAmount);
                    $('#PayableAmount').val(NetAmount);

                    $('#TotalQuantity').val(totalQuantity);
                    $('#total-quantity').text(totalQuantity);
                    if (TotalPVSetting == '1') {
                        $('#total-PV').text(totalPV);
                    }
                    if (TotalBVSetting == '1') {
                        $('#total-BV').text(totalBV);
                    }
                    if (errorFlag) {
                        $("#validationMessages").show();                        
                    }
                    else {
                        $("#validationMessages").hide();
                        $("#validationMessages").html("");
                    }

                    if (erroravalqtyFlag) {
                        if (alreadyloaded) {
                            $("#validationMessages").html("@T("admin.validation.entervalidno")");
                            $("#validationMessages").show();
                            erroravalqtyFlag = false;
                        }
                        else {
                            $("#validationMessages").show();
                            var grid = $("#relatedproducts-grid").data('kendoGrid');
                            grid.dataSource.read();                            
                            return false;

                        }

                   
                    }
                }
            </script>
        </div>
    </div>
    <div>

        <div class="col-md-2">
            <input type="submit" id="btnAddNewRelatedProduct" value="@T("Admin.Inventory.PurchaseOrder.Products.AddNew")" onclick="javascript:OpenWindow('@(Url.Action("RelatedProductAddPopup", "Resale", new { productId = Model.Id, btnId = "btnRefreshProducts", formId = "productattribute-form" }))    ', 800, 800, true); return false;" class="btn bg-blue" />
            <input type="submit" id="btnRefreshProducts" style="display: none" />
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#btnRefreshProducts').click(function () {
                        //debugger;
                        //alert('calling btnRefreshProducts');
                        //refresh grid
                        var grid = $("#relatedproducts-grid").data('kendoGrid');
                        grid.dataSource.read();
                        // grid.dataSource.page();
                        //return false to don't reload a page
                        return false;
                    });
                });
            </script>
        </div>
    </div>


    <br /><br />
    @Html.HiddenFor(t => t.SubTotal)
    @Html.HiddenFor(t => t.Id)
    @Html.HiddenFor(t => t.PayableAmount)
    @Html.HiddenFor(t => t.TotalQuantity)
    @Html.HiddenFor(t => t.PartialPayment)
    @Html.HiddenFor(t => t.PartialPaymentResel)
    @Html.HiddenFor(t => t.PartialPaymentDeductionType)

    <div class="row">
        <div class="col-md-12">
            <div class="box box-info " id="nopcommerce-news-box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="panel panel-info">
                                    <div class="panel-heading clearfix">
                                        <a class="pull-left">@T("admin.resale.from")</a>
                                    </div>
                                    <div class="panel-body" id="Venodar-Dtls" style="height: 207px;">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @T("admin.resale.Name"):
                                            </div>
                                            <div class="col-md-8">
                                                <strong><span id="suppName"></span></strong>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @T("Admin.JoiningDetailsReport.ShpAddress"):
                                            </div>
                                            <div class="col-md-8">
                                                <strong><span id="address"></span></strong>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @T("Admin.Supplier.ContactPerson"):
                                            </div>
                                            <div class="col-md-8">
                                                <strong> <span id="contactPerson"></span></strong>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @T("Admin.JoiningDetailsReport.Mobile"):
                                            </div>
                                            <div class="col-md-8">
                                                <strong> <span id="mobileNumber"></span></strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="panel panel-info">
                                    <div class="panel-heading clearfix">
                                        <a class="pull-left">@T("Admin.PurchaseOrder.ShippingDetails")</a>
                                    </div>
                                    <div class="panel-body" id="address-dtls" style=" height 235px;">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @T("Account.CustomerAddresses"):
                                            </div>
                                            <div class="col-md-8">
                                                @Html.NopTextAreaFor(model => model.Address, new { rows = "3" })
                                                <div id="validmessageAddress" style="color:red">
                                                    @Html.ValidationMessageFor(model => model.Address)
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @T("Admin.Supplier.ContactPerson"):
                                            </div>
                                            <div class="col-md-8">
                                                @Html.NopEditorFor(model => model.ContactPerson)

                                                <div id="validmessagePerson" style="color:red">
                                                    @Html.ValidationMessageFor(model => model.ContactPerson)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @T("Admin.JoiningDetailsReport.Mobile"):
                                            </div>
                                            <div class="col-md-8">
                                                @Html.NopEditorFor(model => model.ContactNumber)
                                                @Html.ValidationMessageFor(model => model.ContactNumber)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="panel panel-info">
                                    <div class="panel-heading clearfix">
                                        <a class="pull-left">@T("Admin.PurchaseOrder.Terms")</a>
                                    </div>
                                    <div class="panel-body" id="address-dtls">
                                        <div class="col-md-8">
                                            <div class="form-group" style="display:none !important">
                                                <div class="col-md-4">
                                                    <div>@T("Admin.Inventory.PurchaseOrder.RelatedProducts.Sub-Total"):</div>
                                                </div>
                                                <div class="col-md-8">
                                                    @*<strong>@currency <span id="total-amount">0</span></strong>*@
                                                    <strong><span id="total-amount">0</span></strong>
                                                </div>
                                            </div>
                                            @*<div class="form-group">
                                                    <div class="col-md-4">
                                                        @T("Admin.PurchaseOrder.Freight"):
                                                    </div>
                                                    <div class="col-md-1">
                                                        <strong>@currency </strong>
                                                    </div>
                                                    <div class="col-md-7">
                                                        @Html.NopEditorFor(t => t.Freight)
                                                        @Html.ValidationMessageFor(t => t.Freight)
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        @T("Admin.PurchaseOrder.Other"):
                                                    </div>
                                                    <div class="col-md-1">
                                                        <strong>@currency </strong>
                                                    </div>
                                                    <div class="col-md-7">
                                                        @Html.NopEditorFor(t => t.Other)
                                                        @Html.ValidationMessageFor(t => t.Other)
                                                    </div>
                                                </div>*@
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    @T("Admin.PurchaseOrder.AmountPayable"):
                                                </div>
                                                <div class="col-md-8">
                                                    <strong>@currency</strong>
                                                    <span id="payableAmount">0</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    @T("Admin.PurchaseOrder.PaymentMethod"):
                                                </div>
                                                <div class="col-md-6">
                                                    @Html.NopDropDownListFor(model => model.PaymentMethod, Model.AvailablePaymentMethods, new { id = "paymode" })

                                                    <div id="validmessagePaymode" style="color:red">
                                                        @Html.ValidationMessageFor(model => model.PaymentMethod)
                                                    </div>

                                                </div>
                                                <div class="col-md-2">
                                                    <input type="submit" name="ShowPaymode" id="ShowPaymode" class="btn bg-blue" value="@T("admin.epin.continue")" />
                                                </div>
                                            </div>
                                            @if (!string.IsNullOrWhiteSpace(Model.PaymentInfoActionName) && !string.IsNullOrWhiteSpace(Model.PaymentInfoControllerName))
                                            {
                                                <div class="form-group" id="paymentInfo">
                                                    <div class="col-md-4">
                                                        <strong>@T("Checkout.PaymentInfo")</strong>
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.Action(Model.PaymentInfoActionName, Model.PaymentInfoControllerName, Model.PaymentInfoRouteValues)
                                                    </div>
                                                </div>
                                            }
                                            @if (Model.IsShowReceipt)
                                            {
                                                <div class="form-group" id="receipt">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(model => model.Receipt)
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="file" name="receipt" id="file" />
                                                    </div>
                                                </div>
                                                <div class="form-group" id="Notediv">
                                                    <div class="col-md-4">
                                                    </div>
                                                    <div class="col-md-8">
                                                        @T("Member.AddMoney.FileuploadNote")
                                                    </div>
                                                </div>
                                            }
                                            <div class="form-group" id="divEId">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(model => model.EwalletID)
                                                </div>
                                                <div class="col-md-8">
                                                    <div id="divEId1">
                                                        @Html.TextBoxFor(x => x.EwalletID, new { @class = "form-control", @readonly = "readonly" })
                                                        @*@Html.NopEditorFor(model => model.EwalletID)*@
                                                        @Html.ValidationMessageFor(model => model.EwalletID)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" id="divEPsw">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(model => model.EwalletPassword)
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.PasswordFor(model => model.EwalletPassword, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div id="showOnPartialPaymentSetting">

                                                <div class="form-group" id="Ewalletbal">
                                                    <div class="col-md-4">
                                                        <label>@T("Account.Fields.PaymentDeductionTypeEwalletCurrentBal") </label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.EwalletAmount, new { @readonly = "readonly", @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div id="PaymentypeMan">
                                                    <div class="form-group">
                                                        <div class="col-md-4">
                                                            <label>@T("Account.Fields.PaymentDeductionTypeAmount") </label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.PaymentDeductionTypeAmtPer, new { @class = "form-control", @onkeypress = "return isNumberKey(event)" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-md-4">
                                                            <label>@T("Account.Fields.PaymentDeductionTypeRemainingAmt") </label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.EwalletRemainingAmount, new { @readonly = "readonly", @class = "form-control" })
                                                        </div>
                                                    </div>

                                                </div>
                                                <div id="PaymentypePerAndAmount">
                                                    <div class="form-group">
                                                        <div class="col-md-4">
                                                            <label>@T("Account.Fields.PaymentDeductionTypeAmount") </label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.PaymentDeductionTypeAmtPer, new { @readonly = "readonly", @class = "PaymentDeductionTypeAmt form-control" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-md-4">
                                                            <label>@T("Account.Fields.PaymentDeductionTypeRemainingAmt") </label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.EwalletRemainingAmount, new { @readonly = "readonly", @class = "EwalletRemainingAmt form-control" })
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="form-group" id="PartialSecondaryPaymode">
                                                    <div class="col-md-4">
                                                        <label>@T("Account.Fields.PartialPayment") </label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(model => model.ddlPartialSecondaryPaymode, Model.PartialSecondaryPaymodeList, new { @class = "form-control" })
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="form-group" id="EpinUnqCode">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(model => model.UniqueCode)
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.NopEditorFor(model => model.UniqueCode)
                                                    @Html.ValidationMessageFor(model => model.UniqueCode)
                                                </div>
                                            </div>
                                            <div class="form-group" id="EpinSrNo">
                                                @*<div class="col-md-4">
                                                        @Html.LabelFor(model => model.PinSrNo)
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.NopEditorFor(model => model.PinSrNo)
                                                        @Html.ValidationMessageFor(model => model.PinSrNo)
                                                    </div>*@
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    @T("Admin.Supplier.Comments"):
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.NopTextAreaFor(model => model.Comment, new { rows = "3" })
                                                    @Html.ValidationMessageFor(model => model.Comment)
                                                </div>
                                            </div>
                                            @if (Model.ManualDateEnabled)
                                            {
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        <div>@T("Account.Register.ManualDate")</div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        @*@Html.LabelFor(model => model.txtMyDOJ, new { })*@
                                                        @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.OrderPlaceDay),
                                                                    Html.FieldNameFor(x => x.OrderPlaceMonth),
                                                                    Html.FieldNameFor(x => x.OrderPlaceYear),
                                                                    DateTime.Now.Year - 110,
                                                                    DateTime.Now.Year,
                                                                    Model.OrderPlaceDay,
                                                                    Model.OrderPlaceMonth,
                                                                    Model.OrderPlaceYear)

                                                        @Html.RequiredHint()
                                                        @Html.ValidationMessageFor(model => model.OrderPlaceDay)
                                                        @Html.ValidationMessageFor(model => model.OrderPlaceMonth)
                                                        @Html.ValidationMessageFor(model => model.OrderPlaceYear)
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-8">
                                                        @*@Html.LabelFor(model => model.ddlMyHours, new { })*@
                                                        @Html.DropDownListFor(model => model.ddlMyHours, new List<SelectListItem>
                                                                        () { new SelectListItem { Text = "00", Value = "0" }, new SelectListItem { Text = "01", Value = "1" }, new SelectListItem { Text = "02", Value = "2" }
                                                                        , new SelectListItem { Text = "03", Value = "3" }, new SelectListItem { Text = "04", Value = "4" }, new SelectListItem { Text = "05", Value = "5" }, new SelectListItem { Text = "06", Value = "6" }
                                                                        , new SelectListItem { Text = "07", Value = "7" }, new SelectListItem { Text = "08", Value = "8" }, new SelectListItem { Text = "09", Value = "9" }, new SelectListItem { Text = "10", Value = "10" }, new SelectListItem { Text = "11", Value = "11" }, new SelectListItem { Text = "12", Value = "12" }
                                                                        }, new { @class = "valid" })

                                                        @Html.DropDownListFor(model => model.ddlMyMinutes, new List<SelectListItem>
                                                                            () { new SelectListItem { Text = "00", Value = "0" }, new SelectListItem { Text = "01", Value = "1" }, new SelectListItem { Text = "02", Value = "2" }
                                                                            , new SelectListItem { Text = "03", Value = "3" }, new SelectListItem { Text = "04", Value = "4" }, new SelectListItem { Text = "05", Value = "5" }, new SelectListItem { Text = "06", Value = "6" }
                                                                            , new SelectListItem { Text = "07", Value = "7" }, new SelectListItem { Text = "08", Value = "8" }, new SelectListItem { Text = "09", Value = "9" }, new SelectListItem { Text = "10", Value = "10" }, new SelectListItem { Text = "11", Value = "11" }, new SelectListItem { Text = "12", Value = "12" }
                                                                            , new SelectListItem { Text = "13", Value = "13" }, new SelectListItem { Text = "14", Value = "14" }, new SelectListItem { Text = "15", Value = "15" }, new SelectListItem { Text = "16", Value = "16" }, new SelectListItem { Text = "17", Value = "17" }, new SelectListItem { Text = "18", Value = "18" }, new SelectListItem { Text = "19", Value = "19" }, new SelectListItem { Text = "20", Value = "20" }, new SelectListItem { Text = "21", Value = "21" }, new SelectListItem { Text = "22", Value = "22" }, new SelectListItem { Text = "23", Value = "23" }
                                                                            , new SelectListItem { Text = "24", Value = "24" }, new SelectListItem { Text = "25", Value = "25" }, new SelectListItem { Text = "26", Value = "26" }, new SelectListItem { Text = "27", Value = "27" }, new SelectListItem { Text = "28", Value = "28" }
                                                                            , new SelectListItem { Text = "29", Value = "29" }, new SelectListItem { Text = "30", Value = "30" }, new SelectListItem { Text = "31", Value = "31" }, new SelectListItem { Text = "32", Value = "32" }
                                                                            , new SelectListItem { Text = "33", Value = "33" }, new SelectListItem { Text = "34", Value = "34" }, new SelectListItem { Text = "35", Value = "35" }
                                                                            , new SelectListItem { Text = "36", Value = "36" }, new SelectListItem { Text = "37", Value = "37" }, new SelectListItem { Text = "38", Value = "38" }, new SelectListItem { Text = "39", Value = "39" }
                                                                            , new SelectListItem { Text = "40", Value = "40" }, new SelectListItem { Text = "41", Value = "41" }, new SelectListItem { Text = "42", Value = "42" }
                                                                            , new SelectListItem { Text = "43", Value = "43" }, new SelectListItem { Text = "44", Value = "44" }, new SelectListItem { Text = "45", Value = "45" }, new SelectListItem { Text = "46", Value = "46" } , new SelectListItem { Text = "47", Value = "47" }, new SelectListItem { Text = "48", Value = "48" }, new SelectListItem { Text = "49", Value = "49" }
                                                                            , new SelectListItem { Text = "50", Value = "50" }, new SelectListItem { Text = "51", Value = "51" }, new SelectListItem { Text = "52", Value = "52" }, new SelectListItem { Text = "53", Value = "53" }
                                                                            , new SelectListItem { Text = "54", Value = "54" }, new SelectListItem { Text = "55", Value = "55" }, new SelectListItem { Text = "56", Value = "56" }, new SelectListItem { Text = "57", Value = "57" } , new SelectListItem { Text = "58", Value = "58" }, new SelectListItem { Text = "59", Value = "59" }
                                                                            }, new { @class = "valid" })
                                                        @Html.DropDownListFor(model => model.ddlTimeZone, new List<SelectListItem>() { new SelectListItem { Text = "AM", Value = "AM" }, new SelectListItem { Text = "PM", Value = "PM" } }, new { @class = "valid" })
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('#MemberId').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("TraderResult", "Resale"))',
            appendTo: '.search-box',
            select: function (event, ui) {

                //  $("#ProductId").val(ui.item.Id);
                //$("#memberID").val(ui.item.label);
                $("#SupplierName").val(ui.item.SupplierName);
                $("#divfirstname").show();
                $("#SupplierId").val(ui.item.SupplierId);

                fetchSupplierDetails(ui.item.SupplierId);
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {

            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
            $("#AddToSupp").show();
        };

        function fetchSupplierDetails(supplierId) {

            var data = { id: supplierId };
            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("TraderResult", "Resale"))",
                type: "POST",
                dataType: "json",
                data: data, success: function (result) {

                    $("#suppName").text(result.Name + ' [' + result.Code + ']');
                    $("#address").text(result.Address + ', ' + result.StateName);
                    $("#contactPerson").text(result.ContactPerson);
                    $("#mobileNumber").text(result.PhoneNo);

                    $("#Venodar-Dtls").show();
                    $("#address-dtls").show();

                    return true;
                }
            });
        }
        function isNumberKey(evt) {

            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46)
                return false;
            else {
                var len = document.getElementById("PaymentDeductionTypeManualAmt").value.length;
                var index = document.getElementById("PaymentDeductionTypeManualAmt").value.indexOf('.');

                if (index > 0 && charCode == 46) {
                    return false;
                }
                if (index > 0) {
                    var CharAfterdot = (len + 1) - index;
                    if (CharAfterdot > 3) {
                        return false;
                    }
                }

            }
            return true;
        }

        $('#PaymentDeductionTypeAmtPer').focusout(function () {

            $("#validationMessages").hide();
            var partialPayDeductionType = '@Model.PartialPaymentDeductionType';

            if (parseFloat($('#PaymentDeductionTypeAmtPer').val()) > parseFloat($('#SubTotal').val())) {
                $("#validationMessages").show();
                $("#validationMessages").html("@T("Admin.Customer.ManualAmtLessThnEqualToPkgAmt")");
                $('#PaymentDeductionTypeAmtPer').val("0");
                $('#EwalletRemainingAmount').val($('#SubTotal').val());
                return false;
            }
            if (parseFloat($('#PaymentDeductionTypeAmtPer').val()) > parseFloat($('#EwalletAmount').val())) {
                $("#validationMessages").show();
                $("#validationMessages").html("@T("Admin.Customer.ManualAmtLessThnEqualToEwallet")");
                $('#PaymentDeductionTypeAmtPer').val("0");
                $('#EwalletRemainingAmount').val($('#SubTotal').val());
                return false;
            }


            if (partialPayDeductionType == '1') {

                if (parseFloat($('#PaymentDeductionTypeAmtPer').val()) <= parseFloat($('#EwalletAmount').val())) {

                    var postData = {
                        OrderAmount: $('#SubTotal').val(),
                        DeductionAmt: $('#PaymentDeductionTypeAmtPer').val()
                    };
                    addAntiForgeryToken(postData);

                    $.ajax({
                        type: "POST",
                        url: "@(Url.Action("BindDeductionRemainingAmt", "Resale"))",
                        data: postData,
                        success: function (data) {
                            $('#EwalletRemainingAmount').val(data.currencyRemAmt);
                            if ($('#EwalletRemainingAmount').val() <= 0) {
                                $("#PartialSecondaryPaymode").hide();
                            }
                            else {
                                $("#PartialSecondaryPaymode").show();
                            }
                        }
                    });

                }



            }
        });
    </script>
}
