﻿
@model VFTopMenuModel
@using Nop.Web.Models.Catalog;

@helper RenderCategoryLine(VFCategorySimpleModel category, int level, bool responsiveMobileMenu)
{
    <li>
        @if (category.ActionName != "" || category.ControllerName != "")
        {
            <a href="@Url.Action(category.ActionName,category.ControllerName)" title="@T(category.Description)">
                @T(category.Description)
            </a>
        }
        else
        {
            <a href="#" title="@T(category.Description)">
                @T(category.Description)
            </a>
        }
        @{
            //subcategories
            var subCategories = responsiveMobileMenu ?
                //responsive (all categories)
                category.SubCategories :
                //standard design (only categories with "IncludeInTopMenu")
                category.SubCategories.ToList();

            var levelClass = "";
            if (level == 0)
            {
                levelClass = "first-level";
            }
            if (subCategories.Count > 0)
            {
                <div class="sublist-toggle"></div>
                <ul class="sublist @levelClass">
                    @foreach (var subCategory in subCategories)
                    {
                        @RenderCategoryLine(subCategory, level + 1, responsiveMobileMenu)
                    }
                </ul>
            }
        }
    </li>
}

<ul class="top-menu">
    @Html.Widget("header_menu_before")
    @{
        var rootCategories = Model.Categories.ToList();
    }
    @foreach (var category in rootCategories)
    {
        @RenderCategoryLine(category, 0, false)
    }   
   
    @Html.Widget("header_menu_after")
</ul>

 @{var rootCategoriesResponsive = Model.Categories.ToList();
    //name it "Categories" if we have only categories. Otherwise, "Menu"
    var responsiveMenuTitle = (rootCategoriesResponsive.Count > 0 ) ? T("Dashboard") : T("Menu");
<div class="menu-toggle">@responsiveMenuTitle</div>
    <ul class="top-menu mobile">

        @Html.Widget("mob_header_menu_before")
      
        @foreach (var category in rootCategoriesResponsive)
        {
            @RenderCategoryLine(category, 0, true)
        }
          
      
        @Html.Widget("mob_header_menu_after")
    </ul>
 }
    <script type="text/javascript">
        $(document).ready(function () {
            $('.menu-toggle').click(function () {
                $(this).siblings('.top-menu.mobile').slideToggle('slow');
            });
            $('.top-menu.mobile .sublist-toggle').click(function () {
                $(this).siblings('.sublist').slideToggle('slow');
            });
        });
    </script>




