﻿@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Configuration.Countries").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Countries");
}
<link href="~/Administration/Content/KendoFreezColumnHeader.css" rel="stylesheet" />
@Html.AntiForgeryToken()
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Configuration.Countries.ImportFromXlsx")
        <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Configuration.Countries.BackToList").Text, "List")</small>
    </h1>
    <div class="pull-right">

    </div>
</div>x
<style>
    .k-grid td {
        line-height:10px !important;
    }
</style>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default" >
                <div class="panel-body">
                    <div id="grid"></div>

                    <script>

                        $("#grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("ImportStateList", "Country"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalData,
                                     
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                   // display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                //group: { field: "Country" },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            //groupable: true,
                            dataBound: function (e) {
                                var grid = this;
                                //$(".k-grouping-row").each(function (e) {
                                //    grid.collapseGroup(this);
                                //});
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            editable: {
                                confirmation: false,
                                mode: "inline"
                            },
                            scrollable: true,
                            columns: [

                                {
                                    field: "State",
                                    title: "@T("Account.Fields.StateProvince")",
                                    //locked: true,
                                    width: 100
                                },
                        {
                            field: "Country",
                            title: "@T("Account.Fields.Country")",
                            width: 50
                        }
                            ]

                        });



                        function additionalData() {
                            var data = {
                              
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }

                    </script>


                </div>
            </div>
        </div>
    </div>
</div>



