﻿@using Nop.Web.Models.Catalog

@model CategoryModel.SubCategoryModel

<div class="category-item">
    <div class="picture">
        <a href="@Url.RouteUrl("Category", new { SeName = Model.SeName })" title="@Model.PictureModel.Title">
            <img alt="@Model.PictureModel.AlternateText" src="@Model.PictureModel.ImageUrl" title="@Model.PictureModel.Title" />
        </a>
    </div>
    <h2 class="title">
        <a href="@Url.RouteUrl("Category", new { SeName = Model.SeName })" title="@Model.PictureModel.Title">
            @Model.Name
        </a>
    </h2>
</div>