.nop-jcarousel .carousel-title:before {
	right: 0;
	left: 0;
}
.nop-jcarousel .carousel-title strong {
	border-right: 4px solid #fff;
	border-left: 4px solid #fff;
}
.nop-jcarousel .carousel-title strong:after {
	right: 50%;
	left: auto;
	margin-right: -27px;
	margin-left: 0;
}
.jCarouselMainWrapper .slick-prev {
	right: 0;
	left: auto;
    background-image: url('images/next-horizontal.png');
    background-position: 12px center;
}
.jCarouselMainWrapper .slick-next {
	left: 0;
	right: auto;
    background-image: url('images/prev-horizontal.png');
    background-position: 9px center;
}
@media all and (min-width: 981px) {
	.side-2 .jCarouselMainWrapper .slick-prev,
    .side-2 .jCarouselMainWrapper .slick-next {
		right: 50%;
		left: auto;
	}
	.side-2 .jCarouselMainWrapper .slick-prev {
		margin-right: -37px;
		margin-left: 0;
	}
	.side-2 .jCarouselMainWrapper .slick-next {
		margin-right: 3px;
		margin-left: 0;
	}
}
