﻿@model Nop.Admin.Models.TraderEwallet.TraderEwalletLoginModel
@{

    ViewBag.Title = T("Admin.TraderEwallet.TraderEwalletLogin").Text;
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">

            @T("Admin.TraderEwallet.TraderEwalletLogin")
        </h1>
    </div>
    <div class="content" id="searchPanel">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group" id="tblFromDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Password)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.PasswordFor(model => model.Password)
                                        @Html.ValidationMessageFor(model => model.Password)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-3">
                                        <input type="submit" class="btn btn-primary btn-search" value="@T("Account.Login.Button")" />

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        $("#NewPassword").focus();
    </script>
}