﻿@{
    Layout = "";
}
@*<style>
    input {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
</style>*@
@model Nop.Plugin.Payments.BankTransfer.Models.PaymentInfoModel
@*<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            @Html.Raw(Model.DescriptionText)
        </td>
    </tr>   
</table>*@
@*<div class="inputs">
    <label>@T("Account.Fields.BankName") </label>
    @Html.TextBox("BankName")
</div>
<div class="inputs">
    <label>@T("Account.Fields.BranchName") </label>
    @Html.TextBox("BranchName")
</div>*@
@*<div class="inputs">
    <label>@T("Account.Fields.AccountNo") </label>
    @Html.TextBox("AccountNo")
</div>
<div class="inputs">
    <label>@T("Account.Fields.IFSCCode") </label>
    @Html.TextBox("IFSCCode")
</div>*@
@*<div class="inputs">
    <label>@T("Account.Fields.DDNo") </label>
    @Html.TextBox("ChequeDDNo")
    <span class="required">*</span>
</div>
<div class="inputs">
    <label>@T("Account.Fields.DDDate") </label>
    @Html.TextBox("ChequeDDDate")
    <span class="required">*</span>
</div>
<div class="message-error" id="PaymodeValidation"></div>*@

<script type="text/javascript">

    $(document).ready(function () {

        $("#BankName").attr('maxlength', '50');
        $("#BranchName").attr('maxlength', '50');
        $("#ChequeDDNo").attr('maxlength', '6');

        $('#BankName').bind('keyup focusout blur', function () {

            this.value = this.value.replace(/[^a-zA-Z\s]/g, '');
        })

        $('#BranchName').bind('keyup focusout blur', function () {

            this.value = this.value.replace(/[^a-zA-Z\s]/g, '');
            //var regexp = /[^a-zA-Z\s]/g;///^[a-zA-Z\s]*$/;//
            //if ($(this).val().match(regexp)) {
            //    $(this).val($(this).val().replace(regexp, ''));
            //}
        })

        $('#IFSCCode').bind('keyup focusout blur', function () {

            var reg = /[A-Z|a-z]{4}[0][a-zA-Z0-9]{6}$/;

            if (ifsc.match(reg)) {
                return true;
            }
            else {
                $('#PaymodeValidation').html('@T("Admin.Validation.EnteredWrongIfSCCode")');
                return false;
            }
        })

        $('#ChequeDDNo').bind('keyup focusout paste', function () {
            // debugger;
            this.value = this.value.replace(/[^0-9]/g, '');
            $('#PaymodeValidation').html('');
            if (this.value.length > 6) {
                $('#PaymodeValidation').html('@T("Admin.Validation.DDNoSixDigit")');
                return false;
            }

            if (this.value.length < 6) {
                $('#PaymodeValidation').html('@T("Admin.Validation.DDNoSixDigit")');
                return false;
            }
        });


        $('#AccountNo').bind('keyup focusout paste', function () {
            // debugger;
            this.value = this.value.replace(/[^0-9]/g, '');
            $('#PaymodeValidation').html('');
            if (this.value.length > 6) {
                $('#PaymodeValidation').html('@T("Admin.Validation.DDNoSixDigit")');
                return false;
            }

            if (this.value.length < 6) {
                $('#PaymodeValidation').html('@T("Admin.Validation.DDNoSixDigit")');
                return false;
            }
        });


        $("#ChequeDDDate").datepicker({
            changeMonth: true,
            changeYear: true,
            onSelect: function (dateText) {
                // debugger;
                $('#PaymodeValidation').html('');
                var str = $(this).val();
                var res = str.split("/");

                var date = res[0];
                var month = res[1];
                var year = res[2];

                var myDate = new Date(year, month - 1, date);
                myDate.setHours(0);
                myDate.setMinutes(10);
                myDate.setSeconds(20);

                var today = new Date();
                today.setHours(0);
                today.setMinutes(0);
                today.setSeconds(0);

                if (myDate < today) {
                    $('#PaymodeValidation').html('@T("Admin.Validation.PaymodeDDDateGreaterthanToday")');
                    return false;
                }
            }
        });

        $('#ChequeDDDate').bind('keyup', function () {

            var match = /^(\d{2})\/(\d{2})\/(\d{4})$/.exec($(this).val());
            if (!match) {
                $('#PaymodeValidation').html('@T("Admin.Validation.EnterValidDDDate")');
                return false;
            } else {
                $('#PaymodeValidation').html('');
            }
        })

        @*$('#ChequeDDDate').bind('keyup', function () {
            debugger;
           // this.value = this.value.replace(/[^a-zA-Z\s]/g, '');
            var str = $(this).val();
            var res = str.split("/");

            var date = res[1];
            var month = res[0];
            var year = res[2];

            var myDate = new Date(year, month - 1, date);

            var today = new Date();

            if (myDate < today) {
                $('#PaymodeValidation').html('@T("Admin.Validation.DateGreaterthanToday")');
                return false;
            }
        })*@
    });
</script>