﻿@model Nop.Web.Framework.Models.MyCommission.CommissionLedger

@{
    Html.AddTitleParts(T("Dashboard.MyCommission.CommissionLedger").Text);
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
}

@{
    List<SelectListItem> selectOptions = new List<SelectListItem>();
    selectOptions.Add(new SelectListItem
    {
        Text = "Date-Wise",
        Value = "0",
        Selected = true
    });
    selectOptions.Add(new SelectListItem
    {
        Text = "Payout-Wise",
        Value = "1"
    });
}

@section styles{
    <link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Themes/Vnext/Content/VnextCSS/css/MobileDataTableResponsive.css">

    <style>
        .table.dataTable.nowrap th, table.dataTable.nowrap td {
            white-space: initial !important;
        }

        .selectLink {
            color: red;
            font-weight: bold;
        }

            .selectLink:hover {
                color: #121b90;
                transition: all 0.5s ease-in-out;
            }

        input.input-validation-error,
        textarea.input-validation-error,
        select.input-validation-error {
            border: 1px solid #CD0A0A !important;
        }

        #SetTDStyle {
            font-size: 11px !important;
            color: #434d58;
            border-top: 0;
            font-weight: bold !important;
            font-size: 12px;
        }



        @@media screen and (max-width: 600px) {
            #showTD {
                display: none;
            }
        }
    </style>


}
<br />

@using (Html.BeginForm())
{

    @*@Html.HiddenFor(model => model.tempPayouList)*@









    @Html.HiddenFor(model => model.DailyBinaryFlag)
    Html.AntiForgeryToken();
    var validationSummary = Html.ValidationSummary(true);


    if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
    {
        <div class="message-error">@validationSummary</div>
    }

    <div class="message-error error" id="validationMessages"></div>


    <div class="sparkline13-list shadow-reset">
        <div class="sparkline13-hd">
            <div class="main-sparkline13-hd">
                <h1>@T("Dashboard.MyNetwork.SearchOption")</h1>
                <div class="sparkline13-outline-icon">
                    <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                </div>
            </div>
        </div>
        <div class="sparkline13-graph">
            <div class="datatable-dashv1-list custom-datatable-overright">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="all-form-element-inner">
                            <br />
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.ddlOption)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.ddlOption, selectOptions, new { Id = "ddlOption", @class = "form-control" })
                                    </div>
                                </div>
                            </div>


                            <div class="form-group-inner" id="datewsiediv">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.DatewiseFrom)
                                    </div>
                                    <div class="col-md-6 data-custon-pick">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            @Html.EditorFor(model => model.DatewiseFrom, new { @class = "form-control" })
                                            @Html.HiddenFor(model => model.HDatewiseFrom)
                                            @Html.ValidationMessageFor(model => model.DatewiseFrom)
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.DatewiseTo)
                                    </div>
                                    <div class="col-md-6 data-custon-pick">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            @Html.EditorFor(model => model.DatewiseTo, new { @class = "form-control" })
                                            @Html.HiddenFor(model => model.HDatewiseTo)
                                            @Html.ValidationMessageFor(model => model.DatewiseTo)
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group-inner">

                                <div class="row" id="payoutwisediv">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.PM_ID)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.PM_ID, Model.PlanTypeList, "Select Plan Type", new { autocomplete = "off", maxlength = 22, Id = "ddlPlanType", @class = "form-control" })
                                    </div>

                                </div>
                            </div>

                            <div class="form-group-inner" id="trPayoutNoList">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.PN_ID)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.PN_ID, Model.PayoutNoList, "Select Payout Number", new { autocomplete = "off", maxlength = 22, Id = "ddlPayoutFrom", @class = "form-control" })
                                    </div>
                                </div>
                            </div>


                            <div class="form-group-inner" id="trPayoutStartDate">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.PayoutStartDate)

                                    </div>
                                    <div class="col-md-6" id="divPayoutDate">
                                        <span id="PayoutStartDate">@Model.PayoutStartDate</span>
                                        @Html.HiddenFor(model => model.PayoutStartDate, new { id = "payoutStartDate" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group-inner" id="trPayoutEndDate">

                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.PayoutEndDate)
                                    </div>
                                    <div class="col-md-6" id="divPayoutDate">
                                        <span id="PayoutEndDate">@Model.PayoutEndDate</span>
                                        @Html.HiddenFor(model => model.PayoutEndDate, new { id = "payoutEndDate" })
                                    </div>
                                </div>
                            </div>




                            @if (Model.DailyBinaryFlag)
                            {

                                <div class="form-group-inner row" id="trDailyBinaryFlag">
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.PayoutCycle)
                                        </div>
                                        <div class="col-md-6" id="divPayoutDate">
                                            <span style="text-align:left !important" id="DPayoutCycle"></span>
                                            @Html.HiddenFor(model => model.PayoutCycle)
                                        </div>
                                    </div>
                                </div>
                            }





                            <div class="login-horizental cancel-wp align-middle">
                                <button class="btn btn-custon-four btn-primary" id="search" type="submit"><i class="fa fa-search"></i> @T("Tree.Search.Button")  </button>
                                <button class="btn btn-custon-four btn-warning" type="button" id="btnreset"> <i class="fa fa-refresh"></i> @T("Tree.Reset.Button")</button>
                                <input type="hidden" name="hdnReset" id="hdnReset" value="" />
                            </div>






                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>




    <br />




    <div class="sparkline16-list shadow-reset">

        <div class="sparkline16-hd">
            <div class="main-sparkline16-hd">
                <h1>@T("Web.Catalog.MemberMenu.CommissionLedger")</h1>
                @*<div class="sparkline16-outline-icon">
                        <span class="sparkline16-collapse-link"><i class="fa fa-chevron-down"></i></span>
                    </div>*@
            </div>
        </div>


        <div class="sparkline16-list shadow-reset">
            <div class="sparkline16-graph">
                <div class="datatable-dashv1-list custom-datatable-overright" id="BinaryBothdiv">
                    <div id="ScrollableDiv">
                        <div class="table-wrapper">
                            <table id="tblCommissionLegder" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>@T("Dashboard.MyCommission.CommissionLedger.srNo")</th>
                                        @*<th>@Html.LabelFor(model => model.Date)</th>*@
                                        @*<th>@Html.LabelFor(model => model.AmountToReceive)</th>
                                            <th>@Html.LabelFor(model => model.AmountReceived)</th>*@
                                        @*<th>@Html.LabelFor(model => model.Paymode)</th>*@


                                        <th>@T("Dashboard.MyCommission.CommissionLedger.PayoutNo")</th>
                                        <th>@T("Dashboard.MyCommission.CommissionLedger.StartDate")</th>
                                        <th>@T("Dashboard.MyCommission.CommissionLedger.EndDate")</th>
                                        <th>@T("Dashboard.MyCommission.CommissionLedger.TotalIncome")</th>
                                        <th>@T("Dashboard.MyCommission.CommissionLedger.TotalDeduction")</th>
                                        <th>@T("Dashboard.MyCommission.CommissionLedger.BFAmount")</th>
                                        <th>@T("Dashboard.MyCommission.CommissionLedger.CFAmount")</th>
                                        <th>@T("Dashboard.MyCommission.CommissionLedger.NetAmount")</th>
                                        <th>Statement</th>

                                    </tr>
                                </thead>


                                <tbody>
                                    @for (int i = 0; i < Model.commissionList.Count(); i++)
                                    {

                                        if (Convert.ToInt32(Model.commissionList[i].getAmount) > 0)
                                        {

                                            @*<tr onclick="location.href = '@Url.Action("PlanTypeDetails", new { trnCode = Model.commissionList[i].trnCode })'">*@
                                            <tr>
                                                <td>@Model.commissionList[i].srNo</td>
                                                @*<td>@Model.commissionList[i].Date</td>*@

                                                @*"selectLink", title = "click here to see Commission Voucher " })*@
                                                @*<td>@Model.commissionList[i].AmountToReceive</td>*@

                                                @*<td class="selectLink" onclick="location.href = '@Url.Action("CommissionInvoiceVoucher", new { iType = Model.commissionList[i].itype,
                                                    dtCode = Model.commissionList[i].dtcode })'">@Model.commissionList[i].AmountToReceive</td>*@

                                                @*<td title="click here to see Plan Details " class="selectLink">
                                                        @Model.commissionList[i].AmountReceived
                                                    </td>*@

                                                @*<td>@Model.commissionList[i].Paymode</td>*@

                                                <td>@Model.commissionList[i].PayoutNo</td>
                                                <td>@Model.commissionList[i].StartDate</td>
                                                <td>@Model.commissionList[i].EndDate</td>
                                                <td>@Model.commissionList[i].TotalIncome</td>
                                                <td>@Model.commissionList[i].TotalDeduction</td>
                                                <td>@Model.commissionList[i].BFAmount</td>
                                                <td>@Model.commissionList[i].CFAmount</td>
                                                <td>@Model.commissionList[i].NetAmount</td>
                                                <td> <a onclick="location.href = '@Url.Action("PlanTypeDetails", new { trnCode = Model.commissionList[i].trnCode })'">View Statement</a></td>
                                            </tr>
                                        }
                                        else
                                        {
                                            if (Model.MultiBinaryFlag == true)
                                            {
                                                @*<tr onclick="location.href = '@Url.Action("CommissionInvoiceMVoucher", new { iType = Model.commissionList[i].itype, dtCode = Model.commissionList[i].dtcode })'">*@
                                                <tr>
                                                    <td>@Model.commissionList[i].srNo</td>
                                                    @*<td>@Model.commissionList[i].Date</td>*@
                                                    @*<td class="selectLink" title="click here to see Commission Voucher ">@Model.commissionList[i].AmountToReceive</td>
                                                        <td>@Model.commissionList[i].AmountReceived  </td>*@

                                                    @*<td>@Model.commissionList[i].Paymode</td>*@

                                                    <td>@Model.commissionList[i].PayoutNo</td>
                                                    <td>@Model.commissionList[i].StartDate</td>
                                                    <td>@Model.commissionList[i].EndDate</td>
                                                    <td>@Model.commissionList[i].TotalIncome</td>
                                                    <td>@Model.commissionList[i].TotalDeduction</td>
                                                    <td>@Model.commissionList[i].BFAmount</td>
                                                    <td>@Model.commissionList[i].CFAmount</td>
                                                    <td>@Model.commissionList[i].NetAmount</td>
                                                    <td> <a onclick="location.href = '@Url.Action("CommissionInvoiceMVoucher", new { iType = Model.commissionList[i].itype, dtCode = Model.commissionList[i].dtcode })'">View Statement</a></td>
                                                </tr>
                                            }
                                            else
                                            {
                                                @*<tr onclick="location.href = '@Url.Action("CommissionInvoiceVoucher", new { iType = Model.commissionList[i].itype, dtCode = Model.commissionList[i].dtcode })'">*@
                                                <tr>
                                                    <td>@Model.commissionList[i].srNo</td>
                                                    @*<td>@Model.commissionList[i].Date</td>*@
                                                    @*<td class="selectLink" title="click here to see Commission Voucher ">@Model.commissionList[i].AmountToReceive</td>
                                                        <td>@Model.commissionList[i].AmountReceived  </td>*@

                                                    @*<td>@Model.commissionList[i].Paymode</td>*@

                                                    <td>@Model.commissionList[i].PayoutNo</td>
                                                    <td>@Model.commissionList[i].StartDate</td>
                                                    <td>@Model.commissionList[i].EndDate</td>
                                                    <td>@Model.commissionList[i].TotalIncome</td>
                                                    <td>@Model.commissionList[i].TotalDeduction</td>
                                                    <td>@Model.commissionList[i].BFAmount</td>
                                                    <td>@Model.commissionList[i].CFAmount</td>
                                                    <td>@Model.commissionList[i].NetAmount</td>
                                                    <td> <a style="color: blue;" onclick="location.href = '@Url.Action("CommissionInvoiceVoucher", new { iType = Model.commissionList[i].itype, dtCode = Model.commissionList[i].dtcode })'">View Statement </a></td>
                                                </tr>

                                            }

                                        }
                                    }
                                </tbody>
                                <tbody>
                                    <tr id="footerResponsive">
                                        <td id="SetTDStyle" style="text-align:center">Totals</td>
                                        <td id="showTD"></td>
                                        <td id="showTD"></td>
                                        <td id="showTD"></td>
                                        <td style="padding-bottom: 16px;" data-label="@T("Dashboard.MyCommission.CommissionLedger.TotalIncome")" id="SetTDStyle"> @Model.CurrencySymbol @Model.TotalIncome</td>
                                        <td style="padding-bottom: 16px;" data-label="@T("Dashboard.MyCommission.CommissionLedger.TotalDeduction")" id="SetTDStyle"> @Model.CurrencySymbol @Model.TotalDeduction</td>

                                        <td id="showTD"></td>
                                        <td id="showTD"></td>
                                        <td style="padding-bottom: 16px;" data-label="@T("Dashboard.MyCommission.CommissionLedger.NetAmount")" id="SetTDStyle">@Model.CurrencySymbol @Model.NetAmount</td>
                                        <td id="showTD"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <br />










}


@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            if(@Model.commissionList.Count()>10){
                $.extend(true, $.fn.dataTable.defaults, {
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "paging": true,
                    "pageLength": 5

                });
            }
            else
            {
                $.extend(true, $.fn.dataTable.defaults, {
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "paging": false,
                    "pageLength": 5

                });
            }

            $('#tblCommissionLegder').dataTable({

                pagingType: "full_numbers",
                iDisplayLength: 10,
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [
                       'xls'
                    ]
                },
                processing: true,
                oLanguage: {sProcessing: "<div class='loader'></div>"}
            });
            $(".collapse.in").each(function () {
                $("#btnplusminus").siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
            });
            $(".collapse").on('show.bs.collapse', function () {
                $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
            }).on('hide.bs.collapse', function () {
                $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
            });
        });

        $(document).ready(function () {
            $.get("@(Url.Action("PayoutListBind", "Common"))", { typeId: $('#ddlPlanType').val(), flag: 1 }, function (response) {

                var PayoutStartDate = '';
                var PayoutEndDate = '';
                if (response.PayoutNoList.length > 0) {
                    for (var i = 0; i < response.PayoutNoList.length; i++) {

                        var obj=new Object()
                        obj.pn=response.PayoutNoList[i].Value;
                        obj.sd=response.PayoutStartDateList[i].Value;
                        obj.ed=response.PayoutEndDateList[i].Value;
                        //var objArray = new Array();
                        objArray.push(obj);
                    }

                    if ($('#DailyBinaryFlag').val() == 'True') {
                        if($('#ddlPayoutFrom').val()=="")
                        {
                            $('#trDailyBinaryFlag').hide();
                        }
                        else{
                            var value = obj.pn;// $('#ddlPayoutFrom').val();

                            if ($('#DailyBinaryFlag').val() == 'True') {
                                $.get("@(Url.Action("GetPayoutCycle", "Common"))", { payoutNo: value }, function (response) {

                                    $('#trDailyBinaryFlag').show();
                                    $("#DPayoutCycle").html('');
                                    $("#DPayoutCycle").append(response.paycoutCycle);
                                    $("#PayoutCycle").val(response.paycoutCycle);
                                });
                            }
                        }
                    }
                }
                else {

                    $('#trPayoutNoList').hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                }
                //if(objArray.length > 0)
                //{
                //    $("#PayoutStartDate").html(objArray[0].sd);
                //    $("#PayoutEndDate").html(objArray[0].ed);
                //    $("#payoutStartDate").val(objArray[0].sd);
                //    $("#payoutEndDate").val(objArray[0].ed);
                //}
            });


            $('#trPayoutStartDate').hide();
            $('#trPayoutEndDate').hide();
            $("#divseachById").hide();
            $('#trPayoutNoList').hide();
            $("#datewsiediv").show();
            $("#payoutwisediv").hide();
            $('#ddlOption').val("0");
            var objArray = new Array();
            if($("#ddlOption").val()=="1")
            {
                $('#trDailyBinaryFlag').show();
            }
            else
            {
                $('#trDailyBinaryFlag').hide();
            }


            $("#divHeadingSearch").click(function(){
                $("#divseachById").slideToggle();
            });
            $("#payoutwisediv").hide();

            var ddVal = @ViewBag.option;
            //  alert(ddVal);
            if (ddVal == "1") {
                $("#payoutwisediv").show();
                $("#datewsiediv").hide();
                $('#ddlOption').val("1");
                $('#trPayoutNoList').show();
                $('#trPayoutStartDate').show();
                $('#trPayoutEndDate').show();
                if($("#ddlPayoutFrom").val()=="")
                {
                    $('#trPayoutNoList').hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                }

            }
            else  {
                $("#datewsiediv").show();
                $("#payoutwisediv").hide();
                $('#ddlOption').val("0");
            }

            $('#ddlOption').change(function () {

                var value = $(this).val();
                if (value == 0) {
                    $("#datewsiediv").show();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                    $('#trPayoutNoList').hide();
                    $("#payoutwisediv").hide();

                }
                else if (value == 1) {
                    $("#payoutwisediv").show();
                    $("#datewsiediv").hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                    $('#trPayoutNoList').hide();
                    $("#ddlPlanType").val("");

                }
                if($("#ddlOption").val()=="1")
                {
                    $('#trDailyBinaryFlag').show();
                }
                else
                {
                    $('#trDailyBinaryFlag').hide();
                }

            });

            $('#ddlPlanType').change(function () {
                objArray=new Array();

                var value = $(this).val();
                var startDate = '';

                $("#ddlPayoutFrom").html('');
                $("#PayoutStartDate").html('');
                $("#PayoutEndDate").html('');

                var PayoutNoListStr = '';

                if (value != null && value != "") {

                    $.get("@(Url.Action("PayoutListBind", "Common"))", { typeId: value, flag: 1 }, function (response) {

                        var PayoutStartDate = '';
                        var PayoutEndDate = '';
                        if (response.PayoutNoList.length > 0) {
                            for (var i = 0; i < response.PayoutNoList.length; i++) {

                                PayoutNoListStr = PayoutNoListStr + '<option value="' + response.PayoutNoList[i].Value + '">' + response.PayoutNoList[i].Text + '</option>';
                                var obj=new Object()
                                obj.pn=response.PayoutNoList[i].Value;
                                obj.sd=response.PayoutStartDateList[i].Value;
                                obj.ed=response.PayoutEndDateList[i].Value;
                                //var objArray = new Array();
                                objArray.push(obj);

                                $('#trPayoutStartDate').show();
                                $('#trPayoutEndDate').show();
                                $('#trPayoutNoList').show();


                            }

                            if ($('#DailyBinaryFlag').val() == 'True') {
                                if($('#ddlPayoutFrom').val()=="")
                                {
                                    $('#trDailyBinaryFlag').hide();
                                }
                                else{
                                    var value = obj.pn;// $('#ddlPayoutFrom').val();

                                    if ($('#DailyBinaryFlag').val() == 'True') {
                                        $.get("@(Url.Action("GetPayoutCycle", "Common"))", { payoutNo: value }, function (response) {


                                            $('#trDailyBinaryFlag').show();
                                            $("#DPayoutCycle").html('');
                                            $("#DPayoutCycle").append(response.paycoutCycle);
                                            $("#PayoutCycle").val(response.paycoutCycle);
                                        });
                                    }
                                }
                            }
                        }
                        else {

                            PayoutNoListStr = '<option value="0">No Payout(s) available.</option>';
                            $('#trPayoutNoList').show();
                            $('#trPayoutStartDate').hide();
                            $('#trPayoutEndDate').hide();
                        }


                        $("#ddlPayoutFrom").append(PayoutNoListStr);

                        if(objArray.length > 0)
                        {
                            $("#PayoutStartDate").html(objArray[0].sd);
                            $("#PayoutEndDate").html(objArray[0].ed);
                            $("#payoutStartDate").val(objArray[0].sd);
                            $("#payoutEndDate").val(objArray[0].ed);
                        }
                    });
                }

                if($('#ddlPlanType').val() == 0)
                {
                    $('#trPayoutNoList').hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                }
            });

            $('#ddlPayoutFrom').change(function () {

                var value = $(this).val();
                for (var i = 0; i < objArray.length; i++) {
                    if (objArray[i].pn == value) {
                        $("#PayoutStartDate").html(objArray[i].sd);
                        $("#PayoutEndDate").html(objArray[i].ed);
                        $("#payoutStartDate").val(objArray[i].sd);
                        $("#payoutEndDate").val(objArray[i].ed);
                    }
                }
                if ($('#DailyBinaryFlag').val() == 'True') {
                    if($('#ddlPayoutFrom').val()=="")
                    {
                        $('#trDailyBinaryFlag').hide();
                    }
                    else{


                        if ($('#DailyBinaryFlag').val() == 'True') {
                            $.get("@(Url.Action("GetPayoutCycle", "Common"))", { payoutNo: $('#ddlPayoutFrom').val() }, function (response) {


                                $('#trDailyBinaryFlag').show();
                                $("#DPayoutCycle").html('');
                                $("#DPayoutCycle").append(response.paycoutCycle);
                                $("#PayoutCycle").val(response.paycoutCycle);
                            });
                        }
                    }
                }
            });


            $("#search").click(function(){

                $("#divseachById").show();
                var Choice = $("#ddlOption").val();
                var PlanType = $("#ddlPlanType").val();
                var ddlpayoutFrom=$("#ddlPayoutFrom").val();

                var validationDivs = '';
                $('#validationMessages').html('');

                var myDate = new Date(getDateFromString($("#DatewiseFrom").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
                var myFromDate = new Date(getDateFromString($("#DatewiseTo").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));



                var today = new Date();
                var start_time=$("#DatewiseFrom").val();
                var end_time=$("#DatewiseTo").val();

                var SearchFirstName = $("#memberID").val(), MemId = $("#searchId").val();
                if(Choice=="0")
                {
                    if(start_time=="" && end_time =="")
                    {
                        $("#validationMessages").show();
                        validationDivs = validationDivs + '<div>@T("Commission.FromDateToDateValidation")</div>';
                        //flag=false;
                        $('#validationMessages').html(validationDivs);
                        $('#searchResult').hide();
                        //$('#DatewiseFrom').css('border-color', '#ec3022');
                        //$('#DatewiseTo').css('border-color', '#ec3022');

                        fieldPanelValidation('#DatewiseFrom', ".sparkline13-hd", ".sparkline13-graph");
                        fieldPanelValidation('#DatewiseTo', ".sparkline13-hd", ".sparkline13-graph");
                        return false;
                    }
                    else
                    {
                        ResetPanelValidation('#DatewiseFrom', ".sparkline13-hd", ".sparkline13-graph");
                        ResetPanelValidation('#DatewiseTo', ".sparkline13-hd", ".sparkline13-graph");
                        //$('#DatewiseFrom').css('border-color', '#ddd');
                        //$('#DatewiseTo').css('border-color', '#ddd');
                    }

                    if(start_time=="")
                    {
                        $("#validationMessages").show();
                        validationDivs = validationDivs + '<div>Please select From Date</div>';
                        //flag=false;
                        $('#validationMessages').html(validationDivs);
                        $('#searchResult').hide();
                        //$('#DatewiseFrom').css('border-color', '#ec3022');
                        fieldPanelValidation('#DatewiseFrom', ".sparkline13-hd", ".sparkline13-graph");
                        return false;
                    }
                    else
                    {
                        //$('#DatewiseFrom').css('border-color', '#ddd');
                        ResetPanelValidation('#DatewiseFrom', ".sparkline13-hd", ".sparkline13-graph");

                    }

                    if(end_time =="")
                    {
                        $("#validationMessages").show();
                        validationDivs = validationDivs + '<div>Please select To Date</div>';
                        //flag=false;
                        $('#validationMessages').html(validationDivs);
                        $('#searchResult').hide();
                        //$('#DatewiseTo').css('border-color', '#ec3022');
                        fieldPanelValidation('#DatewiseTo', ".sparkline13-hd", ".sparkline13-graph");
                        return false;
                    }
                    else
                    {
                        //$('#DatewiseTo').css('border-color', '#ddd');
                        ResetPanelValidation('#DatewiseTo', ".sparkline13-hd", ".sparkline13-graph");
                    }
                }

                if ((+Choice) == 1) {

                    if ((PlanType == 0)) {
                        $("#validationMessages").show();
                        validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                        //flag=false;
                        $('#validationMessages').html(validationDivs);
                        $('#searchResult').hide();
                        // $('#ddlPayoutFrom').css('border-color', '#ec3022');
                        fieldPanelValidation('#ddlPayoutFrom', ".sparkline13-hd", ".sparkline13-graph");
                        return false;
                    }
                    else
                    {
                        ResetPanelValidation('#ddlPayoutFrom', ".sparkline13-hd", ".sparkline13-graph");//$('#ddlPayoutFrom').css('border-color', '#ddd');
                    }
                    if (PlanType == null) {
                        $("#validationMessages").show();
                        validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                        //flag=false;
                        $('#validationMessages').html(validationDivs);
                        $('#searchResult').hide();
                        fieldPanelValidation('#ddlPayoutFrom', ".sparkline13-hd", ".sparkline13-graph");// $('#ddlPayoutFrom').css('border-color', '#ec3022');
                        return false;
                    }
                    else
                    {

                        ResetPanelValidation('#ddlPayoutFrom', ".sparkline13-hd", ".sparkline13-graph");//$('#ddlPayoutFrom').css('border-color', '#ddd');
                    }
                    if (ddlpayoutFrom == "0" || ddlpayoutFrom == "No Payout(s) available." || ddlpayoutFrom == "") {
                        $("#validationMessages").show();
                        validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                        //flag=false;
                        $('#validationMessages').html(validationDivs);
                        $('#searchResult').hide();
                        fieldPanelValidation('#ddlPayoutFrom', ".sparkline13-hd", ".sparkline13-graph");// $('#ddlPayoutFrom').css('border-color', '#ec3022');
                        return false;
                    }
                    else
                    {
                        ResetPanelValidation('#ddlPayoutFrom', ".sparkline13-hd", ".sparkline13-graph");//$('#ddlPayoutFrom').css('border-color', '#ddd');
                    }

                }

                if($("#ddlOption").val() == 0)
                {

                    if (myFromDate > today) {

                        $("#validationMessages").show();
                        validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                        $('#validationMessages').html(validationDivs);
                        // flag=false;
                        $('#searchResult').hide();
                        $('#DatewiseTo').css('border-color', '#ec3022');
                        fieldPanelValidation('#DatewiseTo', ".sparkline13-hd", ".sparkline13-graph");
                        return false;
                    }
                    else
                    {
                        ResetPanelValidation('#DatewiseTo', ".sparkline13-hd", ".sparkline13-graph");//$('#DatewiseTo').css('border-color', '#ddd');

                    }
                    if (myFromDate < myDate) {
                        $("#validationMessages").show();
                        validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                        //flag=false;
                        $('#validationMessages').html(validationDivs);
                        $('#searchResult').hide();
                        // $('#DatewiseFrom').css('border-color', '#ec3022');
                        // $('#DatewiseTo').css('border-color', '#ec3022');
                        fieldPanelValidation('#DatewiseFrom', ".sparkline13-hd", ".sparkline13-graph");
                        fieldPanelValidation('#DatewiseTo', ".sparkline13-hd", ".sparkline13-graph");
                        return false;
                    }
                    else
                    {
                        ResetPanelValidation('#DatewiseFrom', ".sparkline13-hd", ".sparkline13-graph");
                        ResetPanelValidation('#DatewiseTo', ".sparkline13-hd", ".sparkline13-graph");
                        // $('#DatewiseFrom').css('border-color', '#ddd');
                        // $('#DatewiseTo').css('border-color', '#ddd');
                    }

                    if (DatewiseFrom == "0" || DatewiseTo == "") {
                        $("#validationMessages").show();
                        validationDivs = validationDivs + '<div>@T("admin.Validation.NoDateavailable")</div>';
                        //flag=false;
                        $('#validationMessages').html(validationDivs);
                        $('#searchResult').hide();
                        return false;
                    }
                    if (DatewiseTo == "0" || DatewiseTo == "" || DatewiseTo==null) {
                        $("#validationMessages").show();
                        validationDivs = validationDivs + '<div>@T("admin.Validation.NoDateavailable")</div>';
                        //flag=false;
                        $('#validationMessages').html(validationDivs);
                        $('#searchResult').hide();
                        return false;
                    }

                }


                $("#HDatewiseFrom").val(getDateFromString($("#DatewiseFrom").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
                $("#HDatewiseTo").val(getDateFromString($("#DatewiseTo").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));

                $("#tempPayouList").val(objArray.length);

                $('.loader').show();

                var data = {

                    HDatewiseFrom: getDateFromString($("#DatewiseFrom").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                    HDatewiseTo:getDateFromString($("#DatewiseTo").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),

                    ddlOption: $('#@Html.FieldIdFor(model => model.ddlOption)').val(),
                    PM_ID: $('#ddlPlanType').val(),
                    PN_ID: $('#ddlPayoutFrom').val(),
                    PayoutStartDate: getDateFromString($("#payoutStartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                    PayoutEndDate: getDateFromString($("#payoutEndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),

                    PackageListName: $('#ddlpackageList').val()
                };
                addAntiForgeryToken(data);

                $("#collapseOne").removeClass("panel-collapse collapse in");
                $("#collapseOne").addClass("panel-collapse collapse");

                $("#btnplusminus").removeClass("glyphicon glyphicon-minus");
                $("#btnplusminus").addClass("glyphicon glyphicon-plus");
            });

        });
        function myExcel()
        {
            var Choice = $("#ddlOption").val();
            var PlanType = $("#ddlPlanType").val();
            var ddlpayoutFrom=$("#ddlPayoutFrom").val();


            var validationDivs = '';
            $('#validationMessages').html('');
            var today = new Date();
            var start_time=$("#DatewiseFrom").val();
            var end_time=$("#DatewiseTo").val();

            var myDate = new Date(getDateFromString($("#DatewiseFrom").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
            var myFromDate = new Date(getDateFromString($("#DatewiseTo").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));

            if(Choice=="0")
            {
                if(start_time=="" || end_time =="")
                {

                }
                if(start_time!="" && end_time =="")
                {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Commission.FromDateToDateValidation")</div>';
                    //flag=false;
                    $('#validationMessages').html(validationDivs);
                    $('#searchResult').hide();
                    return false;
                }
                if(start_time=="" && end_time !="")
                {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Commission.FromDateToDateValidation")</div>';
                    //flag=false;
                    $('#validationMessages').html(validationDivs);
                    $('#searchResult').hide();
                    return false;
                }

            }

            if ((+Choice) == 1) {

                if ((PlanType == 0)) {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                    //flag=false;
                    $('#validationMessages').html(validationDivs);
                    $('#searchResult').hide();
                    return false;
                }
                if (PlanType == null) {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                    //flag=false;
                    $('#validationMessages').html(validationDivs);
                    $('#searchResult').hide();
                    return false;
                }
                if (ddlpayoutFrom == "0" || ddlpayoutFrom == "No Payout(s) available." || ddlpayoutFrom == "") {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                    //flag=false;
                    $('#validationMessages').html(validationDivs);
                    $('#searchResult').hide();
                    return false;
                }
            }

            if($("#ddlOption").val() == 0)
            {

                if (myFromDate > today) {

                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    $('#validationMessages').html(validationDivs);
                    // flag=false;
                    $('#searchResult').hide();
                    return false;
                }
                if (myFromDate < myDate) {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    //flag=false;
                    $('#validationMessages').html(validationDivs);
                    $('#searchResult').hide();
                    return false;
                }

                if (DatewiseFrom == "0" || DatewiseTo == "") {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("admin.Validation.NoDateavailable")</div>';
                    //flag=false;
                    $('#validationMessages').html(validationDivs);
                    $('#searchResult').hide();
                    return false;
                }
                if (DatewiseTo == "0" || DatewiseTo == "" || DatewiseTo==null) {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("admin.Validation.NoDateavailable")</div>';
                    //flag=false;
                    $('#validationMessages').html(validationDivs);
                    $('#searchResult').hide();
                    return false;
                }

            }
            $('.loader').show();

            var data = {
                DatewiseFrom:getDateFromString($("#DatewiseFrom").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                DatewiseTo:getDateFromString($("#DatewiseTo").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),

                ddlOption: $('#@Html.FieldIdFor(model => model.ddlOption)').val(),
                PM_ID: $('#ddlPlanType').val(),
                PN_ID: $('#ddlPayoutFrom').val(),
                PayoutStartDate: getDateFromString($("#payoutStartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                PayoutEndDate: getDateFromString($("#payoutEndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                PackageListName: $('#ddlpackageList').val(),
            };
            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("CommisionLedgerExportToExcel", "MyCommission"))",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (result) {
                    $('.loader').hide();
                    if (result.success) {
                        if (result.fullFileName != null && result.fullFileName != "") {
                            window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                        }else if(result.recordNotFound)
                        {
                            var validationDivs1 = '<div>@T("Dashboard.MyNetwork.SearchResult.NotFound")</div>';
                            $("#validationMessages").show();
                            $('#validationMessages').append(validationDivs1);
                        }
                        else {

                            var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                            $("#validationMessages").show();
                            $('#validationMessages').append(validationDivs1);
                        }
                    }
                    else {
                        var validationDivs1 = '<div>' + result.fullFileName + '</div>';
                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs1);
                    }
                },
                error: function (result) {
                    $('.loader').hide();
                }
            });

        }

        $('#btnreset').on('click', (function () {
            $('.loader').show();
            document.location = "@(Url.Action("CommissionLedger", "MyCommission"))" ;
        }));

    </script>

    @if (!ViewData.ModelState.IsValid)
    {
        <script>$('.sparkline13-graph').css("display", "block")</script>
    }
}

