﻿@model Nop.Web.Framework.Models.MyCommission.CommissionInvoice

@{
    Html.AddTitleParts(T("Dashboard.MyCommission.CommissionInvoiceVoucher").Text);
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
}
<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
<style>
    .bold, .bold-text {
        font-weight: bold;
    }

    .RowStyle td, .table-row {
        background-color: #fff;
        border-spacing: 0px;
    }

    .lbdr {
        border-left: 1px solid #000;
    }

    /*.rbdr {
        border-right: 1px solid #000;
    }*/

    .tbdr {
        border-top: 1px solid #000;
    }

    .bbdr {
        border-bottom: 1px solid #000;
    }

    .RowStyle td input, .AlternatingRowStyle td input, .SortRowStyle td input, .table-row-alternate {
        background-color: #fff;
        vertical-align: middle;
        line-height: 15px;
        color: #000;
        font-weight: normal;
        text-align: right;
        border: 1px solid #d6d6d6;
    }

    .RowStyle td .grid-amount, .AlternatingRowStyle td .grid-amount, .SortRowStyle td .grid-amount, .table-row-alternate {
        background-color: #fff;
        vertical-align: middle;
        line-height: 16px;
        color: #000;
        text-align: right;
        border-collapse: collapse;
        border: 0;
        width: auto;
        height: 16px;
    }
</style>

@if (Model.tbCounts == "1")
{
    <style>
        #deductutiontable table {
            height: 163px !important;
        }
    </style>
}
else
{
    <style>
        #deductutiontable table {
            height: 108px !important;
        }
    </style>
}

<br />
<br />
<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="sparkline16-list shadow-reset">
        <div class="sparkline16-hd">
            <div class="main-sparkline16-hd">
                <h1>@T("Dashboard.MyCommission.CommissionInvoiceVoucher")</h1>

            </div>
        </div>
        <div class="sparkline16-graph">
            <div class="page account-page return-request-list-page ">

                <div class="page registration-result-page">

                    <div class="page-body">
                        <div class="page panel-default">

                            <div class="panel-body">

                                <div class="customer-blocks">

                                    <div class="returning-wrapper fieldset">


                                        <div class="form-fields">
                                            <div class="inputs">
                                                <div class="buttons" style="text-align: left">
                                                    <button type="button" class="btn btn-custon-two btn-primary" id="btncommisionLedger" onclick="setLocation('@Url.Action("commissionledger")')"><i class="fa fa-backward"></i> @T("Common.Back")</button>

                                                    @*<a href="@Url.Action("commissionledger")" class="btn btn-custon-two btn-primary" id="btncommisionLedger"><i class="fa fa-backward"></i> @T("Common.Back")</a>*@
                                                </div>
                                            </div>

                                            @*<div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="x_panel">
                                                    <div class="x_title">

                                                        <div class="clearfix"></div>

                                                    </div>
                                                    <div class="x_content">*@
                                            @if (Model != null)
                                            {

                                                <input type="hidden" name="lblPayNo" id="lblPayNo" value="@Model.payoutNumber" />
                                                <input type="hidden" name="htmldivVoucher" id="htmldivVoucher" value="" />


                                                <div id="dvContainer">
                                                    <div class="noshow" id="ScrollableDiv">
                                                        <table id="tbReceiptCommission" class="commission" width="710" border="0" cellspacing="0" cellpadding="0" align="center">
                                                            <tr>
                                                                <td style="text-align: right">
                                                                    <label class="bold-text" id="lblDate">
                                                                        @Model.lblDate
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <center>
                                                                        <span id="spError" class="errmsg"></span>
                                                                        <table id="tbVoucher" width="95%" border="0" cellspacing="0" cellpadding="0" align="center"
                                                                               style="border: 1px solid #000;">
                                                                            <tr>
                                                                                <td style="border-bottom: 1px solid #000">
                                                                                    <table id="tbHeader" width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                                                                        <tr>
                                                                                            <td width="15%" style="vertical-align: top; text-align: center; padding: 10px">

                                                                                                <img src="@Url.Content(Model.imgPath)" alt="@T(" dashboard.mycommission.commissioninvoice.imgpath")" style="max-width: 194px;
                                                    max-height: 74px" />
                                                                                            </td>
                                                                                            <td style="height: 50px;">
                                                                                                <p style="float: right;">
                                                                                                    <span id="spCompanyName" style="font-family: Georgia, Times New Roman, Times, serif;
                                                        font-size: large; color: #8b0000; font-weight: bold;">@Model.Companyname</span>

                                                        <br />
                                                        <span id="spCompanyAddr">@Model.CompanyAddress</span>
                                                        <br />
                                                        <span id="spCompanyContacts">@Model.companyContacts</span>
                                                        <br />
                                                        <span id="spCompanyEmail">@Model.Email</span>
                                                        <br />
                                                        <span id="spCompanyURL">@Model.companyURL</span>
                                                        <br />
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center; color:#000" class="bgtable">
                                        <span id="spTitle" style="font-size: large; padding: 3px; text-align: center">
                                            @T("Dashboard.MyCommission.CommissionInvoiceVoucher")
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table id="tbDetailsCommission" width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                            <tr>
                                                <td class="bold-text bbdr lbdr rbdr" style="width: 50%; border: 1px solid #000;border-left: none;">
                                                    <center>
                                                        <span id="spIdentity" class="bold-text black"></span>&nbsp;@T("Dashboard.MyCommission.Details")
                                                    </center>
                                                </td>
                                                <td class="bold-text bbdr rbdr" style="width: 50%; border: 1px solid #000;border-right: none;">
                                                    <center>
                                                        @T("Dashboard.MyCommission.PayoutDetails")
                                                    </center>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td style="vertical-align: top; border-bottom: 1px solid #000; border-right: 1px solid #000; ">
                                                    <table width="100%" border="0" cellspacing="2" cellpadding="2" class="align-left">
                                                        <tr>
                                                            <td class="bold-text" style="width: 20%">
                                                                <span id="spIdentity1" class="bold-text black"></span>&nbsp;@T("Dashboard.MyCommission.CommissionInvoice.Name")
                                                            </td>
                                                            <td class="align-left">
                                                                :&nbsp;<label> @Model.Name </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bold-text">
                                                                <span id="spIdentity2" class="bold-text black"></span>&nbsp;@T("Dashboard.MyCommission.CommissionInvoice.memNumber")
                                                            </td>
                                                            <td class="align-left">
                                                                :&nbsp;<label> @Model.memNumber </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bold-text vtop">
                                                                @T("Dashboard.MyCommission.CommissionInvoice.Address")
                                                            </td>
                                                            <td class="align-left">
                                                                :&nbsp;<label> @Model.Address </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bold-text">
                                                                @T("Dashboard.MyCommission.CommissionInvoice.mobileNumber")
                                                            </td>
                                                            <td class="align-left">
                                                                :&nbsp;<label> @Model.mobileNumber </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bold-text">
                                                                @T("Dashboard.MyCommission.CommissionInvoice.City")
                                                            </td>
                                                            <td class="align-left">
                                                                :&nbsp;<label> @Model.City </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bold-text">
                                                                @T("Dashboard.MyCommission.CommissionInvoice.State")
                                                            </td>
                                                            <td class="align-left">
                                                                :&nbsp;<label> @Model.State</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bold-text">
                                                                @T("Dashboard.MyCommission.CommissionInvoice.Pincode")
                                                            </td>
                                                            <td class="align-left">
                                                                :&nbsp;<label> @Model.Pincode</label>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>

                                                <td style="vertical-align: top; border-bottom: 1px solid #000; "
                                                    colspan="4">
                                                    <table width="100%" border="0" cellspacing="2" cellpadding="2" class="align-left">
                                                        <tr>
                                                            <td class="bold-text" style="width: 35%">
                                                                @T("Dashboard.MyCommission.CommissionInvoice.payoutNumber")
                                                            </td>
                                                            <td class="align-left">
                                                                :&nbsp;<label>@Model.payoutNumber </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bold-text" style="width: 40%">
                                                                <label>
                                                                    @T("Dashboard.MyCommission.mypayoutno")
                                                                    @*mempayno -my payout number*@

                                                                </label>
                                                            </td>
                                                            <td class="align-left">
                                                                :&nbsp;<label> @Model.lblmemPay </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bold-text">
                                                                @T("Dashboard.MyCommission.Period")

                                                            </td>
                                                            <td class="align-left">
                                                                :&nbsp;<label> @Model.startDate </label>&nbsp;<b>@T("Dashboard.MyCommission.PeriodTo")</b>&nbsp;<label> @Model.endDate </label>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <center style="font-size: 12; font-weight: bold;  padding: 3px">
                                            @T("Dashboard.MyCommission.PayoutDetailsinCap")
                                        </center>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="align-left vtop">
                                            <tr>
                                                <td style="width: 50%; vertical-align: top" colspan="2">
                                                    <table id="tblearning" style="border:1px solid #000; width:100%;     border-left: none;" cellpadding="4" cellspacing="0">
                                                        <tr id="TableRow1" style="border: 1px solid #000; text-align:center;border-left: none; border-right: none;">
                                                            @*border-bottom: 1px solid #000;*@
                                                            <td id="TableCell1" cssclass="align-center bold-text lbdr rbdr" style="border:1px solid #000;border-left: none;" width="50%">
                                                                @Model.GetInc
                                                                @T("Dashboard.MyCommission.Amount")
                                                                <span class="WebRupee"></span>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                @Html.Raw(Model.amountEarning)
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </td>
                                                <td style="width: 50%; vertical-align: top">
                                                    <table id="tbldeduction" style="border:1px solid #000;width:100%;border-left: none;  border-right: none;" cellpadding="4" cellspacing="0">
                                                        <tr id="TableRow2" style="border-left: none;">
                                                            <td id="TableCell5" style="border-bottom: 1px solid #000; text-align:center;
                                                            border-top: 1px solid #000;" cssclass="align-center bold-text rbdr">
                                                                @T("Dashboard.MyCommission.Deductions")
                                                            </td>
                                                            <td id="TableCell6" style="border-bottom: 1px solid #000; text-align:center;
                                                            border-top: 1px solid #000;" cssclass="align-center bold-text rbdr">
                                                                @T("Dashboard.MyCommission.Amount")
                                                                <span class="WebRupee">@*@Model.getCurrency*@</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td id="deductutiontable" colspan="2">
                                                                @Html.Raw(Model.amountDeduction)
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="align-left">
                                            <tr>
                                                <td class="vtop" style="width: 50%;">


                                                    @if (@Model.tbCounts == "1")
                                                    {

                                                        <table id="tbCounts" width="100%" border="1" style="border-right: none;border-left: none;" cellspacing="0" cellpadding="4" align="center"
                                                               class="blackborder">
                                                            <tr>
                                                                <td colspan="4" class="bold-text" style="padding: 3px; border-right: none;height: 36px;">
                                                                    <center>
                                                                        @T("Dashboard.MyCommission.DownlineDetails")
                                                                    </center>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="bold-text tbdr bbdr rbdr lbdr" style="padding: 3px; border-left: none;                                                        ">
                                                                    <center>
                                                                        &nbsp;
                                                                    </center>
                                                                </td>
                                                                <td class="bold-text tbdr bbdr rbdr lbdr" style="border-top: 1px solid #000; border-left: 1px solid #000;">
                                                                    <center>
                                                                        @T("Dashboard.MyCommission.Left")
                                                                    </center>
                                                                </td>
                                                                <td class="bold-text tbdr bbdr rbdr lbdr" style="border-top: 1px solid #000; border-left: 1px solid #000;">
                                                                    <center>
                                                                        @T("Dashboard.MyCommission.Right")
                                                                    </center>
                                                                </td>
                                                                <td class="bold-text tbdr bbdr rbdr lbdr" style="border-top: 1px solid #000; border-left: 1px solid #000;
                                                           ">
                                                                    <center>
                                                                        @T("Dashboard.MyCommission.Total")
                                                                    </center>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="bold-text tbdr bbdr rbdr lbdr" style="width: 25%; border-left: none;">
                                                                    &nbsp;B.F.
                                                                </td>
                                                                <td class="vtop tbdr bbdr rbdr lbdr" style="width: 25%; border-top: 1px solid #000;
                                                            border-left: 1px solid #000;">
                                                                    <center>
                                                                        <label> @Model.bfLeft</label>
                                                                    </center>
                                                                </td>
                                                                <td class="vtop tbdr bbdr rbdr lbdr" style="width: 25%; border-top: 1px solid #000;
                                                            border-left: 1px solid #000;">
                                                                    <center>
                                                                        <label> @Model.bfRight</label>
                                                                    </center>
                                                                </td>
                                                                <td class="vtop tbdr bbdr rbdr lbdr" style="width: 25%; border-top: 1px solid #000;
                                                            border-left: 1px solid #000; ">
                                                                    <center>
                                                                        <label> @Model.bfTotal</label>
                                                                    </center>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="bold-text tbdr bbdr rbdr lbdr" style="width: 25%; border-left: none;">
                                                                    &nbsp;@T("Dashboard.MyCommission.new")
                                                                </td>
                                                                <td class="vtop tbdr bbdr rbdr lbdr" style="width: 25%; border-top: 1px solid #000;
                                                            border-left: 1px solid #000;">
                                                                    <center>
                                                                        <label> @Model.newLeft</label>
                                                                    </center>
                                                                </td>
                                                                <td class="vtop tbdr bbdr rbdr lbdr" style="width: 25%; border-top: 1px solid #000;
                                                            border-left: 1px solid #000;">
                                                                    <center>
                                                                        <label> @Model.newRight</label>
                                                                    </center>
                                                                </td>
                                                                <td class="vtop tbdr bbdr rbdr lbdr" style="width: 25%; border-top: 1px solid #000;
                                                            border-left: 1px solid #000; ">
                                                                    <center>
                                                                        <label> @Model.newTotal</label>
                                                                    </center>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="bold-text tbdr bbdr rbdr lbdr" style="width: 25%; border-top: 1px solid #000; border-left: none;
                                                           ">
                                                                    &nbsp;@T("Dashboard.MyCommission.Total")
                                                                </td>
                                                                <td class="vtop tbdr bbdr rbdr lbdr" style="width: 25%; border-top: 1px solid #000;
                                                            border-left: 1px solid #000;">
                                                                    <center>
                                                                        <label> @Model.TotalLeft</label>
                                                                    </center>
                                                                </td>
                                                                <td class="vtop tbdr bbdr rbdr lbdr" style="width: 25%; border-top: 1px solid #000;
                                                            border-left: 1px solid #000;">
                                                                    <center>
                                                                        <label> @Model.TotalRight</label>
                                                                    </center>
                                                                </td>
                                                                <td class="vtop tbdr bbdr rbdr lbdr" style="width: 25%; border-top: 1px solid #000;
                                                            border-left: 1px solid #000; ">
                                                                    <center>
                                                                        <label> @Model.TotalTotal</label>
                                                                    </center>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="bold-text tbdr bbdr rbdr lbdr" style="width: 25%; border-top: 1px solid #000; border-left: none;
                                                           ">
                                                                    &nbsp;@T("Dashboard.MyCommission.paid")
                                                                </td>
                                                                <td class="vtop tbdr bbdr rbdr lbdr" style="width: 25%; border-top: 1px solid #000;
                                                            border-left: 1px solid #000;">
                                                                    <center>
                                                                        <label> @Model.PaidLeft</label>
                                                                    </center>
                                                                </td>
                                                                <td class="vtop tbdr bbdr rbdr lbdr" style="width: 25%">
                                                                    <center>
                                                                        <label> @Model.PaidRight</label>
                                                                    </center>
                                                                </td>
                                                                <td class="vtop tbdr bbdr rbdr lbdr" style="width: 25%; border-top: 1px solid #000;
                                                            border-left: 1px solid #000; ">
                                                                    <center>
                                                                        <label> @Model.PaidTotal</label>
                                                                    </center>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="bold-text tbdr bbdr rbdr lbdr" style="width: 25%; border-top: 1px solid #000; border-left: none;
                                                             border-bottom: 1px solid #000;">
                                                                    &nbsp;@T("Dashboard.MyCommission.cf")
                                                                </td>
                                                                <td class="vtop tbdr bbdr rbdr lbdr" style="width: 25%; border-top: 1px solid #000;
                                                            border-left: 1px solid #000; border-bottom: 1px solid #000;">
                                                                    <center>
                                                                        <label> @Model.cfLeft</label>
                                                                    </center>
                                                                </td>
                                                                <td class="vtop tbdr bbdr rbdr lbdr" style="width: 25%; border-top: 1px solid #000;
                                                            border-left: 1px solid #000; border-bottom: 1px solid #000;">
                                                                    <center>
                                                                        <label> @Model.cfRight</label>
                                                                    </center>
                                                                </td>
                                                                <td class="vtop tbdr bbdr rbdr lbdr" style="width: 25%">
                                                                    <center>
                                                                        <label> @Model.cfTotal</label>
                                                                    </center>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    }
                                                    @if (@Model.tbGrowth == "1")
                                                    {

                                                        <table id="tbGrowth" width="100%" border="0" cellspacing="0" cellpadding="4" align="center" style="border-right: none; border-left: none;"
                                                               class="blackborder">
                                                            <tr>
                                                                <td colspan="4" class="bold-text" style="padding: 3px">
                                                                    <center>
                                                                        @T("Dashboard.MyCommission.CommissionInvoice.cycleNumber")&nbsp;:&nbsp;<label> @Model.cycleNumber </label>
                                                                    </center>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="bold-text" style="padding: 3px" blackborder>
                                                                    <center>
                                                                        @T("Dashboard.MyCommission.CommissionInvoice.targetUnits")
                                                                    </center>
                                                                </td>
                                                                <td class="bold-text">
                                                                    <center>
                                                                        @T("Dashboard.MyCommission.CommissionInvoice.collectedUnits")
                                                                    </center>
                                                                </td>
                                                                <td class="bold-text">
                                                                    <center>
                                                                        @T("Dashboard.MyCommission.CommissionInvoice.Percentage")
                                                                    </center>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 25%">
                                                                    <center>
                                                                        <label> @Model.targetUnits </label>
                                                                    </center>
                                                                </td>
                                                                <td class="vtop" style="width: 25%">
                                                                    <center>
                                                                        <label> @Model.collectedUnits </label>
                                                                    </center>
                                                                </td>
                                                                <td class="vtop" style="width: 25%">
                                                                    <center>
                                                                        <label> @Model.Percentage </label>
                                                                    </center>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    }
                                                </td>
                                                <td style="width: 50%;">
                                                    <table cellspacing="0" cellpadding="4" border="1px " style="width: 100%;height: 239px; border-collapse: collapse;">

                                                        <tr style="height: 36px;">
                                                            <td class="bold-text black vtop left lbdr rbdr" style="padding: 3px; width: 52%;                                                           ">
                                                                @T("Dashboard.MyCommission.CommissionInvoice.amtPayable") <span class="WebRupee">
                                                                    @*@Model.getCurrency*@
                                                                </span>
                                                            </td>
                                                            <td class="vtop right rbdr" style="padding-right: 3px; text-align: center;">
                                                                &nbsp;<label> @Model.amtPayable </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bold-text black vtop left lbdr rbdr" style="padding-left: 3px; width: 52%;
                                                            ">
                                                                @T("Dashboard.MyCommission.CommissionInvoice.broughtForward") <span class="WebRupee">
                                                                    @*@Model.getCurrency*@
                                                                </span>
                                                            </td>
                                                            <td class="vtop right rbdr" style="padding-right: 3px; text-align: center;">
                                                                &nbsp;<label> @Model.broughtForward </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bold-text black vtop left lbdr rbdr" style="width: 52%; padding: 3px;
                                                           ">
                                                                @T("Dashboard.MyCommission.CommissionInvoice.TotalAmyPay") <span class="WebRupee">
                                                                    @*@Model.getCurrency*@
                                                                </span>
                                                            </td>
                                                            <td class="vtop right rbdr" style="padding-right: 3px; text-align: center;">
                                                                &nbsp;<label> @Model.TotalAmyPay  </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bold-text black vtop left lbdr rbdr" style="width: 52%; padding: 3px;">

                                                                @T("Dashboard.MyCommission.CommissionInvoice.carriedForward") <span class="WebRupee">

                                                                    @*@Model.getCurrency*@
                                                                </span>
                                                            </td>
                                                            <td class="vtop right rbdr" style="padding-right: 0px; text-align: center;">
                                                                &nbsp;<label>@Model.carriedForward  </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bold-text black vtop left lbdr tbdr bbdr rbdr" style="width: 52%; padding: 3px;
                                                           border-top: 1px solid #000; border-bottom: 1px solid #000;">
                                                                @T("Dashboard.MyCommission.CommissionInvoice.NetAmount") <span class="WebRupee">
                                                                    @*@Model.getCurrency*@
                                                                </span>
                                                            </td>
                                                            <td class="vtop right tbdr bbdr rbdr" style="padding-right: 3px; text-align: center;
                                                            border-bottom: 1px solid #000;">
                                                                &nbsp;<label> @Model.NetAmount </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="13" class="bold-text black">
                                                                <span style="font-weight: bold; color: #f00; padding-left: 5px; padding-right: 5px;">
                                                                    *
                                                                </span>  @T("Dashboard.Commom.ReceiptNote")
                                                                <br />
                                                            </td>
                                                        </tr>
                                                        @*
                                                            <tr>
                                                                <td class="bold-text vtop left" style="height: 22px"></td>
                                                                <td style="height: 22px">
                                                                    &nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="bold-text vtop left" style="border-left: 0px solid #000;"></td>
                                                                <td>
                                                                    &nbsp;
                                                                </td>
                                                            </tr>*@
                                                        @*
                                                            <tr>
                                                                <td class="bold-text vtop left" style="border-left: 0px solid #000;"></td>
                                                                <td>
                                                                    &nbsp;
                                                                </td>
                                                            </tr>*@
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>
            <br />
        </div>

    </div>
    <div class="inputs">
        <div class="buttons">
            <button type="button" id="btnPrint" class="btn btn-custon-two btn-success"><i class="fa fa-print"></i> @T("mydetails.Print")</button>

            @if (Model.emailFlag == "1")
            {
                <button type="submit" id="btnEmail" class="btn btn-custon-two btn-primary"><i class="fa fa-inbox"></i> @T("dashboard.mycommission.emailcommissionledgert")</button>
            }
        </div>
    </div>



    @*<div class="returning-wrapper fieldset">
        <div class="form-fields">
    *@


                                                @*
                                                    </div>*@

                                            }
                                            else
                                            {
                                                <h3>@T("Dashboard.MyCommission.InvoiceError")</h3>
                                            }
                                        </div>





                                    </div>
                                </div>



                            </div>

                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
    <br />
    <br />
}

@section scripts{

    <script type="text/javascript">


        $("#btnEmail").live("click",
            function () {
                var getdivHTML = $("#divVoucher").html();
                $("#htmldivVoucher").val(getdivHTML);
                var data = {
                    htmldivVoucher: $("#htmldivVoucher").val(),
                    lblPayNo: $('#lblPayNo').val()
                }

                addAntiForgeryToken(data);

                $.ajax({
                    url: "@Html.Raw(Url.Action("CommissionInvoiceVoucherEmail", "MyCommission"))",
                    type: "POST",
                    dataType: "json",
                    data: data,
                    success: function (result) {

                        alert(result);
                    }
                });


            });
        $("#btnPrint").live("click",
            function () {
                var divContents = $("#dvContainer").html();
                var printWindow = window.open('', '', 'height=780,width=800');
                printWindow.document.write('</head><body >');
                printWindow.document.write(divContents);
                printWindow.document.write('</body></html>');
                printWindow.document.close();
                printWindow.print();
            });
    </script>
}