﻿@model Nop.Web.Framework.Models.MyCommission.LevelReport

@{
    Html.AddTitleParts(T("Web.Catalog.MemberMenu.Levelreconcilationreport").Text);
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
}

@{
    List<SelectListItem> selectOptions = new List<SelectListItem>();
    selectOptions.Add(new SelectListItem
    {
        Text = "Date-Wise",
        Value = "0",
        Selected = true
    });
    selectOptions.Add(new SelectListItem
    {
        Text = "Payout-Wise",
        Value = "1"
    });
}

<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Themes/Vnext/Content/VnextCSS/css/MobileDataTableResponsive.css">

<style>
    #SetTDStyle {
        font-size: 12px !important;
        color: #434d58;
        border-top: 0;
        font-weight: bold !important;
        font-size: 12px;
    }



    @@media screen and (max-width: 600px) {
        #showTD {
            display: none;
        }
    }
</style>


@using (Html.BeginForm())
{
    @*@Html.HiddenFor(model => model.tempPayouList)*@

    @Html.AntiForgeryToken()
    <div class="page account-page return-request-list-page ">
        <br />
        <div class="page registration-result-page">

            @{
                var validationSummary = Html.ValidationSummary(true);
            }
            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                <div class="message-error">@validationSummary</div>
            }

            <div class="message-error error" id="validationMessages"></div>
            <div class="sparkline13-list shadow-reset">
                <div class="sparkline13-hd">
                    <div class="main-sparkline13-hd">
                        <h1>@T("Dashboard.MyNetwork.SearchOption")</h1>
                        <div class="sparkline13-outline-icon">
                            <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                        </div>
                    </div>
                </div>
                <div class="sparkline13-graph">
                    <div class="datatable-dashv1-list custom-datatable-overright">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="all-form-element-inner">
                                    <br />
                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.PayoutNo)
                                            </div>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.PayoutNo, Model.PayoutNoList, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div id="datewsiediv">
                                        <div class="form-group-inner">
                                            <div class="row" id="trPayoutStartDate">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(model => model.PayoutStartDate)
                                                </div>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(model => model.PayoutStartDate, Model.PayoutStartDateList, new { @class = "form-control readonly-control" })
                                                    @Html.ValidationMessageFor(model => model.PayoutStartDate)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group-inner">
                                            <div class="row" id="trPayoutEndDate">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(model => model.PayoutEndDate)
                                                </div>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(model => model.PayoutEndDate, Model.PayoutEndDateList, new { @class = "form-control readonly-control" })
                                                    @Html.ValidationMessageFor(model => model.PayoutEndDate)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="login-horizental cancel-wp align-middle">
                                        <button class="btn btn-custon-four btn-primary" id="search" type="submit"><i class="fa fa-search"></i>@T("Tree.Search.Button")</button>
                                        <button class="btn btn-custon-four btn-warning" type="button" id="btnreset"><i class="fa fa-refresh"></i> @T("Tree.Reset.Button")</button>
                                        <input type="hidden" name="hdnReset" id="hdnReset" value="" />
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <br />
            <div class="sparkline16-list shadow-reset">
                <div class="sparkline16-hd">
                    <div class="main-sparkline16-hd">
                        <h1>@T("Web.Catalog.MemberMenu.Levelreconcilationreport")</h1>
                    </div>
                </div>

                <div class="sparkline16-graph">
                    <div class="datatable-dashv1-list custom-datatable-overright">
                        <div class="table-wrapper" id="ScrollableDiv">
                            <br />
                            <table id="mydirectDataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>@T("Admin.PayoutReports.LevelReport.ID")</th>
                                        <th>@T("Admin.PayoutReports.LevelReport.Name")</th>
                                        <th>@T("Admin.PayoutReports.LevelReport.FromID")</th>
                                        <th>@T("Admin.PayoutReports.LevelReport.LevelNo")</th>
                                        <th>@T("Admin.PayoutReports.LevelReport.LevelAmount")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.levelReportList.Count(); i++)
                                    {
                                        <tr>
                                            @*<td>@Model.levelReportList[i].srNo </td>*@
                                            <td>@Model.levelReportList[i].ID </td>
                                            <td>@Model.levelReportList[i].Name </td>
                                            <td>@Model.levelReportList[i].FromID  </td>
                                            <td>@Model.levelReportList[i].LevelNo</td>
                                            <td>@Model.levelReportList[i].LevelAmount </td>
                                        </tr>
                                    }
                                </tbody>

                                <tbody>
                                    <tr id="footerResponsive">
                                        <td id="showTD"></td>
                                        <td id="showTD"> </td>
                                        <td id="showTD"></td>
                                        <td id="SetTDStyle" style="text-align:center">@Html.LabelFor(model => model.TotalLevelAmount)</td>
                                        <td id="SetTDStyle" style="padding-bottom: 16px;" data-label="@T("Admin.PayoutReports.LevelReport.LevelAmount")">@Model.TotalLevelAmount</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



                }
@section styles{
    <style>
        .selectLink {
            color: red;
            font-weight: bold;
        }

            .selectLink:hover {
                color: #121b90;
                transition: all 0.5s ease-in-out;
            }

        .readonly-control {
            pointer-events: none;
        }
    </style>
}
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            if(@Model.levelReportList.Count()>10){
                $.extend(true, $.fn.dataTable.defaults, {
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "paging": true,
                    "pageLength": 5

                });
            }
            else
            {
                $.extend(true, $.fn.dataTable.defaults, {
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "paging": false,
                    "pageLength": 5

                });
            }

            $('#mydirectDataTable').dataTable({

                pagingType: "full_numbers",
                iDisplayLength: 10,
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [
                     "xls"
                    ]
                },
                processing: true,
                oLanguage: {sProcessing: "<div class='loader'></div>"},
            });

            $(".collapse.in").each(function () {
                $("#btnplusminus").siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
            });
            $(".collapse").on('show.bs.collapse', function () {
                $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
            }).on('hide.bs.collapse', function () {
                $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
            });
        });

        $(document).ready(function () {

            var  PayNo= $('#@Html.FieldIdFor(model => model.PayoutNo)').val();

            $("#divseachById").hide();
            if(PayNo=="0")
            {
                $("#datewsiediv").hide();
            }
            else
            {
                $("#datewsiediv").show();
            }


            $("#divHeadingSearch").click(function(){
                $("#divseachById").slideToggle();
            });

            $('#DatewiseFrom').datepicker({
                changeMonth: true,
                changeYear: true,
            });

            $('#DatewiseTo').datepicker({
                changeMonth: true,
                changeYear: true,
            });

            $("#DatewiseFrom").keyup(function () {
                $(this).val('');
            });

            $("#DatewiseTo").keyup(function () {
                $(this).val('');
            });


            $('#PayoutNo').change(function () {
                var value = $(this).val();
                var objArray = new Array();

                $("#datewsiediv").show();
                $('#PayoutStartDate').val(value);
                $('#PayoutEndDate').val(value);
            });

        });

        $("#search").click(function(){

            $("#divseachById").show();

            var validationDivs = '';
            $('#validationMessages').html('');

            $('.loader').show();
            var data = {

            };
            addAntiForgeryToken(data);

            $("#collapseOne").removeClass("panel-collapse collapse in");
            $("#collapseOne").addClass("panel-collapse collapse");

            $("#btnplusminus").removeClass("glyphicon glyphicon-minus");
            $("#btnplusminus").addClass("glyphicon glyphicon-plus");
        });



        function myExcel()
        {
            if($("#PayoutStartDate").val()!=null || $("#PayoutEndDate").val() !=null)
            {
                var data = {
                    @*PayoutStartDate:getDateFromString($("#PayoutStartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                            PayoutEndDate:getDateFromString($("#PayoutEndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),*@
                    PayoutNo: $('#@Html.FieldIdFor(model => model.PayoutNo)').val(),

                };
            }
            else
            {
                var data = {
                    PayoutNo: $('#@Html.FieldIdFor(model => model.PayoutNo)').val(),
                };

            }

            $('.loader').show();

            var validationDivs = '';
            $('#validationMessages').html('');

            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("LevelReconcilatiomExportToExcel", "MyCommission"))",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (result) {
                    $('.loader').hide();
                    if (result.success) {
                        if (result.fullFileName != null && result.fullFileName != "") {
                            window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                        }else if(result.recordNotFound)
                        {
                            var validationDivs1 = '<div>@T("Dashboard.MyNetwork.SearchResult.NotFound")</div>';
                            $("#validationMessages").show();
                            $('#validationMessages').append(validationDivs1);
                        }
                        else {

                            var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                            $("#validationMessages").show();
                            $('#validationMessages').append(validationDivs1);
                        }
                    }
                    else {
                        var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs1);
                    }
                },
                error: function (result) {
                    $('.loader').hide();
                }
            });

        }

        $('#btnreset').on('click', (function () {
            $('.loader').show();
            document.location = "@(Url.Action("LevelReconcilationReport", "MyCommission"))" ;
        }));

    </script>
}
