﻿@model Nop.Web.Framework.Models.MyCommission.CappingIDDetails

@{
    Html.AddTitleParts(T("admin.reports.multibinarycappingiddetails").Text);
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
}

<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    <input type="hidden" value="1" id="AllCommitionIncomeFlag" />

    @Html.HiddenFor(model => model.DailyBinaryFlag)
    @Html.AntiForgeryToken()
    <br />
    <div class="sparkline13-list shadow-reset">
        <div class="sparkline13-hd">
            <div class="main-sparkline13-hd">
                <h1>@T("Dashboard.MyNetwork.SearchOption")</h1>
                <div class="sparkline13-outline-icon">
                    <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                </div>
            </div>
        </div>
        <div class="sparkline13-graph">
            <div class="datatable-dashv1-list custom-datatable-overright">
                <div class="basic-login-form-ad">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="all-form-element-inner">
                                @{
                                    var validationSummary = Html.ValidationSummary(true);
                                }
                                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                                    <div class="message-error">@validationSummary</div>
                                }
                                <br />
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.PayoutNo)
                                        </div>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.PayoutNo, Model.PayoutNoList, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner" id="divStartdate">
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.PayoutStartDate)
                                        </div>
                                        <div class="col-md-6" id="divPayoutDate">
                                            @Html.DropDownListFor(model => model.PayoutStartDate, Model.PayoutStartDateList, new { disabled = "disabled", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PayoutStartDate)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner" id="divenddate">
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.PayoutEndDate)
                                        </div>
                                        <div class="col-md-6" id="divPayoutDate">
                                            @Html.DropDownListFor(model => model.PayoutEndDate, Model.PayoutEndDateList, new { disabled = "disabled", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PayoutEndDate)
                                        </div>
                                    </div>
                                </div>
                                <div class="login-horizental cancel-wp align-middle">
                                    <button type="button" class="btn btn-custon-four btn-primary" id="search" tabindex="2"><i class="fa fa-search"></i> @T("Tree.Search.Button")</button>
                                    <button class="btn btn-custon-four btn-warning" id="btnresetfrm" tabindex="1"><i class="fa fa-refresh"></i> @T("Tree.Reset.Button")</button>

                                    <input type="hidden" name="hdnReset" id="hdnReset" value="" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <div class="sparkline16-list shadow-reset">
            <div class="sparkline16-hd">
                <div class="main-sparkline16-hd">
                    <h1>@T("admin.reports.multibinarycappingiddetails")</h1>
                </div>
            </div>
            <div class="sparkline16-list shadow-reset">
                <div class="sparkline16-graph">
                    <div id="ScrollableDiv">
                        <div class="datatable-dashv1-list custom-datatable-overright" id="ScrollableDiv1">
                            @Html.Partial("_CommanKendoGridMultiBinCapId", Model.dataTable)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


                                    }
@section styles{
    <style>
        .selectLink {
            color: red;
            font-weight: bold;
        }

            .selectLink:hover {
                color: #121b90;
                transition: all 0.5s ease-in-out;
            }
    </style>
}
@section scripts{
    <script>
        $(document).ready(function () {

            var table = $('#mydirectDataTable').DataTable();
            var rowCount = $("#mydirectDataTable td").closest("tr").length;
            //  alert('Rows ' + rowCount + ' are selected');


            if (@Model.dataTable.Rows.Count > 10) {

                $("#mydirectDataTable_length").show();
            }
            else { $("#mydirectDataTable_length").hide(); }

            $(".collapse.in").each(function () {
                $("#btnplusminus").siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
            });
            $(".collapse").on('show.bs.collapse', function () {
                $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
            }).on('hide.bs.collapse', function () {
                $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
            });

        });

        $("#divseachById").slideUp();
        $(".page").css("min-height", "0px");

        $(document).ready(function () {
            $("#divHeadingSearch").click(function () {
                $("#divseachById").slideToggle();
            });

            $('#btnReset').click(function () {
                $("#hiddenSearchMemno").val("");
                $("#hiddenSearchMemID").val("00");
            });

            $("#divfirstname").hide();
            if($("#PayoutNo").val()==0)
            {
                $("#divStartdate").hide();
                $("#divenddate").hide();
            }
            else
            {
                $("#divStartdate").show();
                $("#divenddate").show();
            }
        });


        $('#search').click(function (e) {

            var validationDivs = '';
            $('#validationMessages').html('');

            if($("#PayoutNo").val()==0)
            {
                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("Admin.PayoutReports.CommissionDetail.PayoutNo")</div>';
                //flag=false;
                $('#validationMessages').html(validationDivs);
                $('#searchResult').hide();
                return false;
            }
            $('.loader').show();
            var data = {
                PayoutNo: $('#PayoutNo').val(),
                PayoutStartDate: $('#PayoutStartDate').val(),
                PayoutEndDateList: $('#PayoutEndDateList').val(),
            };
            addAntiForgeryToken(data);
            $.ajax({
                url: "@Html.Raw(Url.Action("MultiBinaryCappingIDReportPost", "MyCommission"))",
                type: "POST",
                dataType: "html",
                data: data,
                success: function (result) {
                    $('.loader').hide();
                    $('#ScrollableDiv').html("");
                    $('#ScrollableDiv').html(result);
                    $(document).ready(function () {
                        // Initialize your table
                        var oTable = $('#mydirectDataTable').dataTable();

                        if (oTable.fnGetData().length > 10) {
                            $("#mydirectDataTable_length").show();
                        }
                        else { $("#mydirectDataTable_length").hide(); }
                    });
                },
                error: function (xhr, textStatus, exceptionThrown) {
                    $('.loader').hide();
                    $("#validationMessages").html("");
                    $("#validationMessages").show();
                    $("#validationMessages").html("@T("CommissionDetails.Kendo.Error")");
                }
            });

            $("#collapseOne").removeClass("panel-collapse collapse in");
            $("#collapseOne").addClass("panel-collapse collapse");

            $("#btnplusminus").removeClass("glyphicon glyphicon-minus");
            $("#btnplusminus").addClass("glyphicon glyphicon-plus");
        });

        $('#PayoutNo').change(function () {
            var value = $(this).val();
            if($("#PayoutNo").val()==0)
            {
                $("#divStartdate").hide();
                $("#divenddate").hide();
            }
            else
            {
                $("#divStartdate").show();
                $("#divenddate").show();
            }
            if (value != null) {
                $.get("@(Url.Action("loadDropdownPayoutDatesNo", "MyCommission"))", {dtCode: value }, function (response) {
                    //  $("#PN_ID").empty();
                    $("#PayoutStartDate").empty();
                    $("#PayoutEndDate").empty();

                    if (response.PayoutNoList.length > 0) {
                        for (var i = 0; i < response.PayoutNoList.length; i++) {

                            PayoutStartDate   = PayoutStartDate + '<option value="' + response.PayoutStartDateList[i].Value + '">' + response.PayoutStartDateList[i].Text + '</option>';
                            PayoutEndDate   = PayoutEndDate + '<option value="' + response.PayoutEndDateList[i].Value + '">' + response.PayoutEndDateList[i].Text + '</option>';
                        }
                    }
                    else {
                        PayoutStartDate= '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                        PayoutEndDate= '<option value="0" text="No Payout(s) available.">No Payout(s) available.</option>';
                    }
                    $("#PayoutStartDate").append(PayoutStartDate);
                    $("#PayoutEndDate").append(PayoutEndDate);
                    PayoutStartDate = '';
                    PayoutEndDate = '';
                });
            }
        });

        function myExcel()
        {
            var validationDivs = '';
            $('#validationMessages').html('');
            $('.loader').show();
            var data = {
                PayoutNo: $('#PayoutNo').val(),
                PayoutStartDate: $('#PayoutStartDate').val(),
                PayoutEndDateList: $('#PayoutEndDateList').val(),
            };
            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("MultiBinaryCappingIDReportExportToExcel", "MyCommission"))",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (result) {
                    $('.loader').hide();
                    if (result.success) {
                        if (result.fullFileName != null && result.fullFileName != "") {
                            window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                        }
                        else {
                            var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                            $("#validationMessages").show();
                            $('#validationMessages').append(validationDivs1);
                        }
                    }
                    else {
                        var validationDivs1 = '<div>' + result.fullFileName + '</div>';
                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs1);
                    }
                },
                error: function (result) {
                    $('.loader').hide();
                }
            });
        }

        $('#btnresetfrm').on('click', (function () {
            $('.loader').show();
            document.location = "@(Url.Action("MultiBinaryCappingIDReport", "MyCommission"))" ;
        }));

    </script>
}
