﻿@model Nop.Web.Models.MyCommission.CommissionPlantype
@{
    Html.AddTitleParts(T("Dashboard.MyCommission.CommissionPlantype").Text);
    Layout = "~/Views/Shared/_ColumnVF.cshtml";
}
<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
<style>
    .table.dataTable.nowrap th, table.dataTable.nowrap td {
        white-space: initial !important;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page account-page return-request-list-page ">

        <div class="page-title">
            <h1>@T("Dashboard.MyCommission.CommissionPlantype")</h1>
        </div>
        <div class="panel panel-default">

            <div class="panel-body">
                <div class="inputs">
                    <div class="buttons">
                        <a href="@Url.Action("CommissionLedger")" class="button-1">@T("Common.Back")</a>
                    </div>
                </div>
                <br />
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">

                            <div class="clearfix"></div>

                        </div>
                        <div class="x_content" id="ScrollableDiv">
                            <div class="table-wrapper">
                                @if (Model != null && Model.playTypeList.Count() > 0)
                                {
                                    <table id="tblplayTypeList" class="display nowrap stripe cell-border cart" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>@Html.LabelFor(model => model.srNo)</th>
                                                <th>@Html.LabelFor(model => model.MemName)</th>
                                                <th>@Html.LabelFor(model => model.PlanType)</th>
                                                <th>@Html.LabelFor(model => model.Payout)</th>
                                                <th>@Html.LabelFor(model => model.StartDate)</th>
                                                <th>@Html.LabelFor(model => model.EndDate)</th>
                                                <th>@Html.LabelFor(model => model.NetAmount)</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @for (int i = 0; i < Model.playTypeList.Count(); i++)
                                            {
                                                <tr>
                                                    <td>@Model.playTypeList[i].srNo</td>
                                                    <td>@Model.playTypeList[i].MemName</td>
                                                    <td>@Model.playTypeList[i].PlanType</td>
                                                    <td>@Model.playTypeList[i].Payout</td>
                                                    <td>@Model.playTypeList[i].StartDate</td>
                                                    <td>@Model.playTypeList[i].EndDate</td>
                                                    <td>@Model.playTypeList[i].NetAmount</td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <h3>@T("Dashboard.MyNetwork.SearchResult.NotFound")</h3>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    $(document).ready(function () {
        if(@Model.playTypeList.Count()>10){
            $.extend(true, $.fn.dataTable.defaults, {
                "searching": true,
                "ordering": true,
                "info": true,
                "paging": true,
                "pageLength": 5

            });
        }
        else
        {
            $.extend(true, $.fn.dataTable.defaults, {
                "searching": true,
                "ordering": true,
                "info": true,
                "paging": false,
                "pageLength": 5

            });
        }


        $('#tblplayTypeList').dataTable({

            pagingType: "full_numbers",
            iDisplayLength: 10,
            dom: 'T<"clear">lfrtip',
            "oLanguage": {
                "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
            },
            tableTools: {
                "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                "sRowSelect": "multi",
                "aButtons": [
            //        {
            //            'sExtends': 'copy',
            //            "oSelectorOpts": { filter: 'applied', order: 'current' },
            //        },
            //{
            //    'sExtends': 'xls',
            //    "oSelectorOpts": { filter: 'applied', order: 'current' },
            //},
            ////{
            ////    'sExtends': 'csv',
            ////    "sPdfMessage": "Plan Type Details",
            ////    "oSelectorOpts": { filter: 'applied', order: 'current' },
            ////},
            // {
            //     'sExtends': 'pdf',
            //     "oSelectorOpts": { filter: 'applied', order: 'current' },
            // },
            //{
            //    'sExtends': 'print',
            //    "oSelectorOpts": { filter: 'applied', order: 'current' },
            //}

                ]
            }
        });

    });
</script>

