﻿@model Nop.Web.Models.MyCommission.RoyaltyReconciliation

@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_ColumnVF.cshtml";
    //title
    Html.AddTitleParts(T("Account.Commission.RoyaltyReconcilationReport").Text);
    //register URL with return URL (if specified)
}

<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page account-page return-request-list-page ">

        <div class="page-title">
            <h1>@T("Account.Commission.RoyaltyReconcilationReport")</h1>
        </div>
        <div class="page registration-result-page">
            <div class="page-body">
                @{
                    var validationSummary = Html.ValidationSummary(true);
                }

                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }
                
                <div class="customer-blocks">
                </div>
                <div class="panel panel-default">
                    <div class="message-error error" id="validationMessages"></div>
                    <div class="panel-body">
                        <div class="customer-blocks">
                            <div class="returning-wrapper fieldset">
                                <div class="panel-heading" id="divHeadingSearch">
                                    <h4><strong>@T("Dashboard.Mycommision.TDSDetails.SearchOption")</strong> &nbsp;<i class="fa fa-sort-desc"></i></h4>
                                </div>
                                @*<br />*@
                                <div class="form-fields" id="divseachById">

                                    <div class="inputs">
                                        @Html.LabelFor(model => model.PayoutNo)
                                        @Html.DropDownListFor(model => model.PayoutNo, Model.PayoutNoList)
                                    </div>
                                    <div class="inputs">
                                        @Html.LabelFor(model => model.PayoutStartDate)
                                        <span id="PayoutStartDate">@Model.PayoutStartDate</span>
                                        @Html.HiddenFor(model => model.PayoutStartDate)
                                        @Html.ValidationMessageFor(model => model.PayoutStartDate)
                                    </div>
                                    <div class="inputs">
                                        @Html.LabelFor(model => model.PayoutEndDate)
                                        <span id="PayoutEndDate">@Model.PayoutEndDate</span>
                                        @Html.HiddenFor(model => model.PayoutEndDate)
                                        @Html.ValidationMessageFor(model => model.PayoutEndDate)
                                    </div>
                                    <div class="inputs">
                                        <div class="buttons">
                                            <input type="submit" id="search" class="button-1" value="@T("Tree.Search.Button")" />
                                            @*<input type="reset" class="button-1" value="@T("Tree.Reset.Button")" />*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="margin-top:2%">

                                <input type="button" value="@T("admin.common.exporttoexcel")" id="exportexcel-all" class="button-1 exportexcelbtn">

                            </div>s*@
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content" id="ScrollableDiv">
                                    <div class="table-wrapper">
                                        <table id="RoyaltyReconcilationReport" class="display  nowrap stripe cell-border cart " cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>@Html.LabelFor(model => model.royaltyReconcDataTableModelHeader.SrNo)</th>

                                                    @*<th>@Html.LabelFor(model => model.royaltyReconcDataTableModelHeader.CompanyTurnover)</th>*@
                                                    <th>@Html.LabelFor(model => model.royaltyReconcDataTableModelHeader.RoyaltyName)</th>
                                                    @*<th>@Html.LabelFor(model => model.royaltyReconcDataTableModelHeader.TurnoverPer)</th>*@
                                                    @*<th>@Html.LabelFor(model => model.royaltyReconcDataTableModelHeader.RoyaltyTurnover)</th>*@
                                                    <th>@Html.LabelFor(model => model.royaltyReconcDataTableModelHeader.TotalIncome)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.royaltyReconcDataTableModel.Count(); i++)
                                                {
                                                    <tr>
                                                        <td>@Model.royaltyReconcDataTableModel[i].SrNo</td>
                                                        @*<td>@Model.royaltyReconcDataTableModel[i].CompanyTurnover</td>*@
                                                        <td>@Model.royaltyReconcDataTableModel[i].RoyaltyName</td>
                                                        @*<td>@Model.royaltyReconcDataTableModel[i].TurnoverPer</td>*@
                                                        @*<td>@Model.royaltyReconcDataTableModel[i].RoyaltyTurnover</td>*@
                                                        <td>@Model.royaltyReconcDataTableModel[i].TotalIncome</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    }
<script type="text/javascript">

    var rowCount = $("#RoyaltyReconcilationReport td").closest("tr").length;
    //alert('Rows ' + rowCount + ' are selected');

    $(document).ready(function () {
        $('#RoyaltyReconcilationReport').dataTable({

            pagingType: "full_numbers",
            iDisplayLength: 10,
            dom: 'T<"clear">lfrtip',
            "oLanguage": {
                "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
            },
            tableTools: {
                "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                "sRowSelect": "multi",
                "aButtons": [
                    //{
                    //    'sExtends': 'copy',
                    //    "oSelectorOpts": { filter: 'applied', order: 'current' },
                    //}, {
                    //    'sExtends': 'xls',
                    //    "oSelectorOpts": { filter: 'applied', order: 'current' },
                    //}, {
                    //    'sExtends': 'pdf',
                    //    "oSelectorOpts": { filter: 'applied', order: 'current' },
                    //}//, {
                    //    'sExtends': 'print',
                    //    "oSelectorOpts": { filter: 'applied', order: 'current' },
                    //}
                ]
            }
        });

        if (@Model.royaltyReconcDataTableModel.Count() > 10) {

            $("#RoyaltyReconcilationReport_length").show();
        }
        else { $("#RoyaltyReconcilationReport_length").hide(); }
        $("#divseachById").slideUp();
        $("#divHeadingSearch").click(function () {
            $("#divseachById").slideToggle();
        });

        //$('#trPayoutNoList').hide();
        //$('#trPayoutStartDate').hide();
        //$('#trPayoutEndDate').hide();
        $("#validationMessages").hide();
        //  $('#PlanType').change(function (){
        //   $("#PayoutNo").html('');
        $('#validationMessages').html('');
        $("#validationMessages").hide();
        $('#downlinedetails-grid').hide();
        //   });
        var objArray = new Array();
        $('#PayoutNo').change(function () {
            var value = $(this).val();

            $.get("@(Url.Action("LoadDropDown", "MyCommission"))", { typeId: 2, flag: 0 }, function (response) {

                $("#PayoutNoList").html('');
                $("#PayoutStartDate").html('');
                $("#PayoutEndDate").html('');
                var PayoutNoListStr = '';
                var PayoutStartDate = '';
                var PayoutEndDate = '';

                if (response.PayoutNoList.length > 0) {
                    for (var i = 0; i < response.PayoutNoList.length; i++) {

                        PayoutNoListStr = PayoutNoListStr + '<option value="' + response.PayoutNoList[i].Value + '">' + response.PayoutNoList[i].Text + '</option>';
                        var obj = new Object()
                        obj.pn = response.PayoutNoList[i].Value;
                        obj.sd = response.PayoutStartDateList[i].Value;
                        obj.ed = response.PayoutEndDateList[i].Value;

                        objArray.push(obj);
                    }
                }
                else {

                    PayoutNoListStr = '<option value="0">No Payout(s) available.</option>';
                }
                //$("#PayoutNo").append(PayoutNoListStr);
                if (objArray.length > 0) {

                    $("#PayoutStartDate").html(objArray[0].sd);
                    $("#PayoutEndDate").html(objArray[0].ed);
                }

                for (var i = 0; i < objArray.length; i++) {

                    if (objArray[i].pn == value) {

                        $("#PayoutStartDate").html(objArray[i].sd);
                        $("#PayoutEndDate").html(objArray[i].ed);
                    }
                }
            });
        });
    });

    $("#search").click(function(){
        
        $("#divseachById").show();
        var Choice = $("#PayoutNo").val();
        var PlanType = $("#ddlPlanType").val();
        var ddlpayoutFrom=$("#ddlPayoutFrom").val();
        // 
        var validationDivs = '';
        $('#validationMessages').html('');

        //var EnteredDate = $("#DatewiseTo").val(); // For JQuery
        //var EnteredFromdate = $("#DatewiseFrom").val();
        var LevelFrom = $("#LevelwiseFrom").val(); // For JQuery
        var LevelTo = $("#LevelwiseTo").val();



        //var EnteredDate = $("#DatewiseTo").val(); // For JQuery
        //var EnteredFromdate = $("#DatewiseFrom").val();


        var today = new Date();
        var start_time=$("#DatewiseFrom").val();
        var end_time=$("#DatewiseTo").val();

        var SearchFirstName = $("#memberID").val(), MemId = $("#searchId").val();




        if ((+Choice) == 0) {
            
            if ((Choice == 0)) {
                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                //flag=false;
                $('#validationMessages').html(validationDivs);
                $('#searchResult').hide();
                return false;
            }

            if (Choice == "0" || Choice == "No Payout(s) available." || Choice == "") {
                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                //flag=false;
                $('#validationMessages').html(validationDivs);
                $('#searchResult').hide();
                return false;
            }
        }





        @*var data = {

            DatewiseFrom: getDateFromString($("#DatewiseFrom").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
            DatewiseTo:getDateFromString($("#DatewiseTo").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),

            ddlOption: $('#@Html.FieldIdFor(model => model.ddlOption)').val(),
            PM_ID: $('#ddlPlanType').val(),
            PN_ID: $('#ddlPayoutFrom').val(),
            PayoutStartDate: getDateFromString($("#payoutStartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
            PayoutEndDate: getDateFromString($("#payoutEndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),

            //PayoutStartDate: $('#payoutStartDate').val(),
            //PayoutEndDate: $('#payoutEndDate').val(),
            PackageListName: $('#ddlpackageList').val()



        };
        addAntiForgeryToken(data);*@

        @*$.ajax({
            url: "@Html.Raw(Url.Action("CommissionLedger", "MyCommission"))",
            type: "POST",
        dataType: "html",
        data: data,
        success: function (result) {
            //    $('#ScrollableDiv').html("");
            //    $('#ScrollableDiv').html(result);
        },
        error: function (xhr, textStatus, exceptionThrown) {
            // alert('hi');
            @*$("#validationMessages").html("");
            $("#validationMessages").show();
            $("#validationMessages").html("@T("CommissionDetails.Kendo.Error")");
        }
    });*@

    });



</script>
