﻿@model  Nop.Admin.Models.Inventory.StockAcceptanceList
@{
    //page title
    ViewBag.Title = T("Admin.Inventory.StockAcceptance").Text;
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Accept Goods");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.SelectedIds)


    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Inventory.StockAcceptance")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Inventory.StockAcceptanceList.SwitchtoList").Text, "StockAcceptanceList")</small>
        </h1>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.StockReturnCode)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.HiddenFor(model => model.SRCode)
                                        @Html.NopEditorFor(model => model.StockReturnCode)
                                        @Html.ValidationMessageFor(model => model.StockReturnCode)
                                        <div id="divpocode" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.TradersName)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.HiddenFor(model => model.TradersId)
                                        @Html.NopEditorFor(model => model.TradersName)
                                        <div id="divTradersName" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                @*<tr>

                                        <td class="adminTitle">
                                            @Html.NopLabelFor(model => model.ProductClaimRequest):
                                        </td>
                                        <td class="adminData">
                                            @Html.HiddenFor(model => model.PCRCode)
                                            @Html.EditorFor(model => model.ProductClaimRequest)
                                            @Html.ValidationMessageFor(model => model.ProductClaimRequest)
                                            <div id="divpocode" class="inputs">
                                            </div>
                                        </td>
                                    </tr>*@
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.PackageName)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.HiddenFor(model => model.PackageId)
                                        @Html.NopEditorFor(model => model.PackageName)
                                        <div id="divPackageName" class="inputs">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.StartDate)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.EditorFor(model => model.StartDate)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.EndDate)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.EditorFor(model => model.EndDate)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5 col-md-offset-5">
                                        <button type="button" id="btnSearch" name="save" class="btn bg-blue">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="StockAcceptanceList-grid"></div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.Comments)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopTextAreaFor(model => model.Comments)
                                    </div>
                                </div>
                                <div>
                                    <div class="adminTitle">
                                        &nbsp;
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-5 col-md-offset-5">
                                            <button type="submit" name="stockAcceptanceSubmit" class="btn btn-primary">

                                                @T("Admin.Common.stockAcceptanceSubmit")
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            var selectedIds = [];

            $("#StockAcceptanceList-grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("StockAcceptanceGrid", "Inventory"))",
                            type: "POST",
                            dataType: "json",
                            data: additionalData
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function (e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();

                    },
                    pageSize: @(defaultGridPageSize),
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    pageSizes: [@(gridPageSizes)]
                },
                scrollable: true,
                columns: [{
                    field: "Id",
                    headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                    width: 50
                },{
                    field: "ReturnCode",
                    title: "@T("Admin.Inventory.StockAcceptance.ReturnCode")",
                    template: "<a onclick=\"javascript:OpenWindow('@Url.Content("~/Admin/Inventory/ViewReturnProduct/#=Id#")', 800, 250, true);  return false;\" style='cursor:pointer' >#=ReturnCode#</a>",
                    width: 130
                }, {
                    field: "ReturnDateTime",
                    title:  "@T("Admin.Inventory.StockAcceptance.ReturnDateTime")",
                    width: 150
                    //type: "date",
                    //format:"{0:G}"
                },{
                    field: "PCRCode",
                    title: "@T("Admin.Inventory.StockAcceptance.PCRCode")",
                    width: 150
                },{
                    field: "ReturnBy",
                    title: "@T("Admin.Inventory.StockAcceptance.ReturnBy")",
                    width: 150
                },{
                    field: "DispatchedQty",
                    title: "@T("Admin.Inventory.StockAcceptance.DispatchedQty")",
                    width: 150
                },{
                    field: "ReturnQty",
                    title: "@T("Admin.Inventory.StockAcceptance.ReturnQty")",
                    width: 150
                } ]
            });

            $('#mastercheckbox').click(function () {
                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
            });

            $('#relatedproducts-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                var $check = $(this);
                if ($check.is(":checked") == true) {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked == -1) {
                        //add id to selectedIds.
                        selectedIds.push($check.val());
                    }
                }
                else {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked > -1) {
                        //remove id from selectedIds.
                        selectedIds = $.grep(selectedIds, function (item, index) {
                            return item != $check.val();
                        });
                    }
                }
                updateMasterCheckbox();
            });

            $("#@Html.FieldIdFor(model => model.TradersName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#btnSearch").click();
                    return false;
                }
            });

            $("#@Html.FieldIdFor(model => model.StockReturnCode)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#btnSearch").click();
                    return false;
                }
            });

            @*$("#@Html.FieldIdFor(model => model.ProductClaimRequest)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#btnSearch").click();
                return false;
            }
        });*@

            $("#@Html.FieldIdFor(model => model.StartDate)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#btnSearch").click();
                    return false;
                }
            });

            $("#@Html.FieldIdFor(model => model.EndDate)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#btnSearch").click();
                    return false;
                }
            });

            $('#mastercheckbox').click(function () {
                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
            });

            $('#StockAcceptanceList-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                var $check = $(this);
                if ($check.is(":checked") == true) {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked == -1) {
                        //add id to selectedIds.
                        selectedIds.push($check.val());
                    }
                }
                else {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked > -1) {
                        //remove id from selectedIds.
                        selectedIds = $.grep(selectedIds, function (item, index) {
                            return item != $check.val();
                        });
                    }
                }
                $('#SelectedIds').val(selectedIds.toString());
                //  alert('something'+$('#SelectedIds').val());
                updateMasterCheckbox();
            });
        });

        function additionalData() {
            var data = {
                TradersId: $('#@Html.FieldIdFor(model => model.TradersId)').val(),
                PackageId: $('#@Html.FieldIdFor(model => model.PackageId)').val(),
                StartDate: getDate($("#StartDate").data("kendoDatePicker").value()),
                EndDate:getDate($("#EndDate").data("kendoDatePicker").value()),
                @*StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
            EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),*@
                SRCode: $('#@Html.FieldIdFor(model => model.SRCode)').val(),

            };
            addAntiForgeryToken(data);
            return data;
        }

        function updateMasterCheckbox() {
            var numChkBoxes = $('#StockAcceptanceList-grid input[type=checkbox][id!=mastercheckbox]').length;
            var numChkBoxesChecked = $('#StockAcceptanceList-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
        }

        $('#TradersName').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("SearchTermAutoCompleteTraderName", "Inventory"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                $("#TradersId").val(ui.item.TraderId);
                $("#TradersName").val(ui.item.TraderName);
                $("#TradersName").val(ui.item.label);
                $("#divTradersName").show();

                //  return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };

        $('#TradersName').change(function(){
            var validationDivs="";
            
            $("#validationMessages").hide();

            if( $('#TradersName').val()!="" &&  $('#TradersId').val()=="")
            {
                $("#validationMessages").show();
                validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                $("#validationMessages").html(validationDivs);
                $('#TradersName').val('');
                $('#TradersName').focus();
                return false;
            }
            //  $("#SupplierId").val('');
        });

        $('#StockReturnCode').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("BindStockRetrunNumber", "Inventory"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                //    
                //  $("#ProductId").val(ui.item.Id);
                //$("#memberID").val(ui.item.label);
                $("#SRCode").val(ui.item.SRCode);
                $("#StockRetrunCode").val(ui.item.SRCode);
                $("#divpocode").show();
                // $("#SupplierId").val(ui.item.SupplierId);
                //    fetchSupplierDetails(ui.item.SupplierId);
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            //   
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
            $("#AddToSupp").show();
        };

        $("#StockReturnCode").keydown(function(evt) {
            var charCode = (evt.charCode) ? evt.charCode : ((evt.which) ? evt.which : evt.keyCode);
            if (charCode != 13 && charCode != 9)
            {
                $("#SRCode").val("");
            }
        });

        $('#StockReturnCode').change(function(){
            var validationDivs="";
            $("#validationMessages").hide();
            if( $('#StockReturnCode').val()!="" &&  $('#SRCode').val()=="")
            {
                $("#validationMessages").show();
                validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                $("#validationMessages").html(validationDivs);
                $('#StockReturnCode').val('');
                $('#StockReturnCode').focus();
                return false;
            }
            //  $("#SupplierId").val('');
        });

        @*$('#ProductClaimRequest').autocomplete({
        delay: 500,
        minLength: 1,
        source: '@(Url.Action("BindAutoCompletePCRCode", "Inventory"))',
        appendTo: '.search-box',
        select: function (event, ui) {
            //    
            //  $("#ProductId").val(ui.item.Id);
            //$("#memberID").val(ui.item.label);
            $("#PCRCode").val(ui.item.PCRCode);
            $("#ProductClaimRequest").val(ui.item.PCRCode);
            $("#divpocode").show();
            // $("#SupplierId").val(ui.item.SupplierId);

            //    fetchSupplierDetails(ui.item.SupplierId);

        }
    }).data("ui-autocomplete")._renderItem = function (ul, item) {
        //   
        var t = item.label;
        //html encode
        t = $('<div/>').text(t).html();
        return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a><span>" + t + "</span></a>")
            .appendTo(ul);
        $("#AddToSupp").show();
    };*@

        $('#PackageName').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("BindProductName", "Inventory"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                //    
                //  $("#ProductId").val(ui.item.Id);
                //$("#memberID").val(ui.item.label);
                $("#PackageName").val(ui.item.ProductName);
                $("#divproductname").show();
                $("#PackageId").val(ui.item.productId);
                // fetchSupplierDetails(ui.item.SupplierId);
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            //   
            var t = item.label;
            //html encode

            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
            // $("#AddToSupp").show();
        };

        $('#PackageName').change(function(){
            var validationDivs="";
            
            var t= $('#ProductId').val();
            $("#validationMessages").hide();
            if( $('#PackageName').val()!="" &&  $('#PackageId').val()=="")
            {
                $("#validationMessages").show();
                validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                $("#validationMessages").html(validationDivs);
                $('#PackageName').val('');
                $('#PackageName').focus();
                return false;
            }
            //  $("#SupplierId").val('');
        });

        $("#validationMessages").hide();

        $('#btnSearch').click(function () {
            if( $('#ProductName').val()=="")
                $('#ProductId').val('0');
            if( $('#TraderName').val()=="")
                $('#TradersId').val('0');
            if( $('#StockReturnCode').val()=="")
                $('#SRCode').val('');

            var validationDivs="";
            $("#validationMessages").hide();
            if( $('#StockReturnCode').val()!="" &&  $('#SRCode').val()=="")
            {
                $("#validationMessages").show();
                validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                $("#validationMessages").html(validationDivs);
                $('#StockReturnCode').val('');
                $('#StockReturnCode').focus();
                return false;
            }


            //var EnteredDate = getDate($("#StartDate").data("kendoDatePicker").value());
            //var EnteredFromdate=getDate($("#EndDate").data("kendoDatePicker").value());

            var myDate = new Date(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
            var myFromDate = new Date(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));


            var today = new Date();
            var validationDivs='';
            var start_time=$("#DatewiseFrom").val();
            var end_time=$("#DatewiseTo").val();

            if (myFromDate > today) {
                $("#validationMessages").show();
                validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                $('#validationMessages').html(validationDivs);
                // flag=false;
                $('#StockAcceptanceList-grid').hide();
                return false;
            }
            if (myFromDate < myDate) {
                $("#validationMessages").show();
                validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                //flag=false;
                $('#validationMessages').html(validationDivs);
                $('#StockAcceptanceList-grid').hide();
                return false;
            }


            $("#StockAcceptanceList-grid").show();
            var grid = $('#StockAcceptanceList-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
        });
    </script>


}

<script>
        window.onbeforeunload = function () {
            var inputs = document.getElementsByTagName("BUTTON");
            for (var i in inputs) {
                if (inputs[i].type == "button" || inputs[i].type == "submit") {
                    inputs[i].disabled = true;
                }
            }
        };
</script>
