﻿@model  Nop.Admin.Models.Inventory.StockTransferList
@{
    //page title
    ViewBag.Title = T("Admin.Inventory.StockTransferList").Text;
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    Html.SetActiveMenuItemSystemName("Transfer Report");
}
<link href="~/Administration/Content/KendoFreezColumnHeader.css" rel="stylesheet" />
@{

    //var ddSelectOption = new List<SelectListItem>
    //{
    //      new SelectListItem { Text = "PCR to Self", Value="0" , Selected=true },
    //      new SelectListItem { Text = "All PCR", Value="1" }
    //};
    //var ddSelectStatusOption = new List<SelectListItem>
    //{
    //      new SelectListItem { Text = "New", Value="0" , Selected=true },
    //      new SelectListItem { Text = "In-Complete", Value="1" },
    //       new SelectListItem { Text = "Complete", Value="2" }
    //};

    var StatusList = new List<SelectListItem>
    {
         new SelectListItem { Text = "All", Value="-1" , Selected=true },
         new SelectListItem { Text = "Delivered", Value="Delivered" },
         new SelectListItem { Text = "Shipped", Value="Shipped" }
    };
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Inventory.StockTransferList")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Inventory.StockTransfer.SwitchToStockTranfer").Text, "StockTransfer")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" id="exportexcelStockTransferList" name="exportexcelStockTransferList" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                @T("Admin.Common.ExportToExcel")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.PCRType)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopDropDownListFor(model => model.PCRType, Model.PCRTypeList)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.Status)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopDropDownListFor(model => model.Status1, StatusList)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.PCRCode)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopEditorFor(model => model.PCRCode)
                                        <div id="divPCRCode" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.TradersName)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.HiddenFor(model => model.TraderId)
                                        @Html.NopEditorFor(model => model.TradersName)
                                        <div id="divTradersName" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.PackageName)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.HiddenFor(model => model.PackageId)
                                        @Html.NopEditorFor(model => model.PackageName)
                                        <div id="divPackageName" class="inputs">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.StartDate)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopEditorFor(model => model.StartDate)
                                        @Html.HiddenFor(model => model.HStartDate)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.EndDate)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopEditorFor(model => model.EndDate)
                                        @Html.HiddenFor(model => model.HEndDate)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-5 col-md-offset-5">
                                        <button type="button" id="btnSearch" name="save" class="btn btn bg-blue">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" id="divLockedCell">
                    <div class="panel-body">
                        <div id="StockTransferList-grid"></div>
                        <script>
                            $(document).ready(function() {

                                $("#StockTransferList-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("StockTransferListGrid", "Inventory"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();

                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    //scrollable: false,
                                    columns: [{
                                        field: "StockOutCode",
                                        title: "@T("Admin.Inventory.StockTransferList.StockOutCode")",
                                        template: '<a href="View/#=Id#">#=StockOutCode#</a>',
                                        locked:true,
                                        width: 100
                                    },{
                                        field: "StockOutQty",
                                        title: "@T("Admin.Inventory.StockTransferList.StockOutQty")",
                                        width: 150
                                    },{
                                        field: "PCRcode",
                                        title: "@T("Admin.Inventory.StockTransferList.PCRcode")",
                                        width: 150
                                    }, {
                                        field: "StockOutDate",
                                        title:  "@T("Admin.Inventory.StockTransferList.StockOutDate")",
                                        width: 200
                                        //type: "date",
                                        //format:"{0:G}"
                                    },{
                                        field: "RequestedQty",
                                        title: "@T("Admin.Inventory.StockTransferList.RequestedQty")",
                                        width: 150
                                    },{
                                        field: "TotalStockInQty",
                                        title: "@T("Admin.Inventory.StockTransferList.TotalStockInQty")",
                                        width: 150
                                    },{
                                        field: "TotalTransitQty",
                                        title: "@T("Admin.Inventory.StockTransferList.TotalTransitQty")",
                                        width: 150
                                    },{
                                        field: "PendingQty",
                                        title: "@T("Admin.Inventory.StockTransferList.PendingQty")",
                                        width: 150
                                    },{
                                        field: "PCRBy",
                                        title: "@T("Admin.Inventory.StockTransferList.PCRBy")",
                                        width: 150
                                    },{
                                        field: "PCRTo",
                                        title: "@T("Admin.Inventory.StockTransferList.PCRTo")",
                                        width: 150
                                    },{
                                        field: "Status",
                                        title: "@T("Admin.Inventory.StockTransferList.Status")",
                                        width: 150
                                    }, {
                                        field: "Id",
                                        title: "@T("Admin.Common.Action")",
                                        width: 150,
                                        //  width: 100,
                                        template: "<a href='pdfDeliveryChallan/#=Id#'>@T("Admin.StockTransfer.DeliveryChallan")</a>"
                                    }]
                                });
                            });
                            var count=0;
                            $('a.sidebar-toggle').on('click', function () {
                                if(count==0)
                                {
                                    $.get(location.href).then(function(kendoGrid) {
                                        $("#divLockedCell").html($(kendoGrid).find("#divLockedCell").html())
                                    })
                                    count=count+1;
                                    return false;
                                }
                            });
                            @*$("#@Html.FieldIdFor(model => model.TradersName)").keydown(function (event) {
        if (event.keyCode == 13) {
            $("#btnSearch").click();
            return false;
        }
    });

    $("#@Html.FieldIdFor(model => model.PackageName)").keydown(function (event) {
        if (event.keyCode == 13) {
            $("#btnSearch").click();
            return false;
        }
        });*@

                            function additionalData() {
                                var data = {
                                    PCRType:$('#@Html.FieldIdFor(model=>model.PCRType)').val(),
                                    Status1 :$('#@Html.FieldIdFor(model => model.Status1)').val(),
                                    PCRCode:$('#@Html.FieldIdFor(model => model.PCRCode)').val(),
                                    TraderId: $('#@Html.FieldIdFor(model => model.TraderId)').val(),
                                    PackageId:$('#@Html.FieldIdFor(model => model.PackageId)').val(),
                                    HStartDate: getDate($("#StartDate").data("kendoDatePicker").value()),
                                    HEndDate:getDate($("#EndDate").data("kendoDatePicker").value())
                                    @*StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
            EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val()*@
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }

                            $('#TradersName').autocomplete({
                                delay: 500,
                                minLength: 1,
                                source: '@(Url.Action("SearchTermAutoCompleteTraderName", "Inventory"))',
                                appendTo: '.search-box',
                                select: function (event, ui) {
                                    $("#TraderId").val(ui.item.TraderId);
                                    $("#TradersName").val(ui.item.TraderName);
                                    $("#TradersName").val(ui.item.label);
                                    $("#divTradersName").show();

                                    //  return false;
                                }
                            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                                var t = item.label;
                                //html encode
                                t = $('<div/>').text(t).html();
                                return $("<li></li>")
                                    .data("item.autocomplete", item)
                                    .append("<a><span>" + t + "</span></a>")
                                    .appendTo(ul);
                            };

                            $('#TradersName').change(function(){
                                
                                var validationDivs="";
                                $("#validationMessages").hide();
                                var t=$('#TraderId').val();
                                if( $('#TradersName').val()!="" &&  $('#TraderId').val()=="0")
                                {
                                    $("#validationMessages").show();
                                    validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                                    $("#validationMessages").html(validationDivs);
                                    $('#TradersName').val('');
                                    $('#TradersName').focus();
                                    return false;
                                }
                                //  $("#SupplierId").val('');
                            });

                            $('#PackageName').autocomplete({
                                delay: 500,
                                minLength: 1,
                                source: '@(Url.Action("SearchTermAutoCompletePackageProduct", "Inventory"))',
                                appendTo: '.search-box',
                                select: function (event, ui) {
                                    $("#PackageId").val(ui.item.PackageId);
                                    $("#PackageName").val(ui.item.PackageName);
                                    $("#PackageName").val(ui.item.label);
                                    $("#divPackageName").show();

                                    //  return false;
                                }
                            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                                var t = item.label;
                                //html encode
                                t = $('<div/>').text(t).html();
                                return $("<li></li>")
                                    .data("item.autocomplete", item)
                                    .append("<a><span>" + t + "</span></a>")
                                    .appendTo(ul);
                            };

                            $('#PackageName').change(function(){
                                var validationDivs="";
                                $("#validationMessages").hide();
                                if( $('#PackageName').val()!="" &&  $('#PackageId').val()=="0")
                                {
                                    $("#validationMessages").show();
                                    validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                                    $("#validationMessages").html(validationDivs);
                                    $('#PackageName').val('');
                                    $('#PackageName').focus();
                                    return false;
                                }
                                //  $("#SupplierId").val('');


                            });

                            $('#PCRCode').autocomplete({
                                delay: 500,
                                minLength: 1,
                                source: '@(Url.Action("SearchTermAutoCompPCRCodeStkTransfList", "Inventory"))',
                                appendTo: '.search-box',
                                select: function (event, ui) {

                                    $("#PCRCode").val(ui.item.PCRCode);
                                    $("#PCRCode").val(ui.item.label);
                                    $("#divPCRCode").show();

                                    //  return false;
                                }
                            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                                var t = item.label;
                                //html encode
                                t = $('<div/>').text(t).html();
                                return $("<li></li>")
                                    .data("item.autocomplete", item)
                                    .append("<a><span>" + t + "</span></a>")
                                    .appendTo(ul);
                            };

                            $("#validationMessages").hide();
                            $('#btnSearch').click(function () {


                                if($("#TradersName").val()=="")
                                    $("#TraderId").val("0");
                                if($("#PackageName").val()=="")
                                    $("#PackageId").val("0");
                                var start_time=$("#StartDate").val();
                                var end_time=$("#EndDate").val();

                                $("#validationMessages").hide();

                                var EnteredDate = getDate($("#StartDate").data("kendoDatePicker").value());
                                var EnteredFromdate=getDate($("#EndDate").data("kendoDatePicker").value());

                                var myDate = new Date(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                var myFromDate = new Date(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));


                                var today = new Date();
                                var validationDivs='';
                                var start_time=$("#DatewiseFrom").val();
                                var end_time=$("#DatewiseTo").val();

                                if (myFromDate > today) {

                                    $("#validationMessages").show();
                                    validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                                    $('#validationMessages').html(validationDivs);
                                    // flag=false;
                                    $('#StockTransferList-grid').hide();
                                    return false;
                                }
                                if (myFromDate < myDate) {
                                    $("#validationMessages").show();
                                    validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                                    //flag=false;
                                    $('#validationMessages').html(validationDivs);
                                    $('#StockTransferList-grid').hide();
                                    return false;
                                }


                                $("#StockTransferList-grid").show();
                                var grid = $('#StockTransferList-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1

                            });

                            $("#exportexcelStockTransferList").click(function() {
                                
                                $("#HStartDate").val(getDate($("#StartDate").data("kendoDatePicker").value()));
                                $("#HEndDate").val(getDate($("#EndDate").data("kendoDatePicker").value()));
                                var t=$("#HFromDate").val();
                            });
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>


}

