﻿@model Nop.Admin.Models.StockReturnPCR.StockReturnPCRViewModel
@{
    //page title
    ViewBag.Title = T("").Text;
    var DefaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>
    ().DefaultGridPageSize;
    var GridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>
        ().GridPageSizes;

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Transfer Report");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @*<div class="alert alert-danger alert-dismissable" id="validationMessages">
        </div>*@
    <div class="content-header clearfix">
        <h1 class="pull-left">

            @T("Admin.Inventory.StockTransfer.ViewStockTransfer")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Inventory.StockTransferReport.BackToList").Text, "StockTransferList")</small>

        </h1>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">                  
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="box-header with-border">
                                    <h3 class="box-title">
                                        <i class="fa fa-user"></i>
                                        <strong>@T("Admin.PCR.TraderDetails")</strong>
                                    </h3>
                                </div>
                                <div class="box-body" style="padding-bottom: 22px;">
                                    <div class="form-group" id="Venodar-Dtls">
                                        <div class="col-md-4">
                                            @T("Admin.Trader.List.SearchName")
                                        </div>
                                        <div class="col-md-8">
                                            <strong>@Model.TraderName</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @T("Admin.Trader.ShpAddress")
                                        </div>
                                        <div class="col-md-8">
                                            <strong>@Model.TraderAddress</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @T("Admin.Trader.ContactPerson")
                                        </div>
                                        <div class="col-md-8">
                                            <strong>@Model.TraderContactPerson</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @T("Admin.JoiningDetailsReport.Mobile")
                                        </div>
                                        <div class="col-md-8">
                                            <strong> @Model.TraderContactNumber</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="relatedproducts-grid"></div>
                        <script>
                            $(document).ready(function () {
                                $("#validationMessagesstockIn").hide();
                                $("#relatedproducts-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("StoktTransferProductList", "Inventory", new { productId = Model.Id }))",
                                                type: "POST",
                                                dataType: "json",
                                                data: addAntiForgeryToken
                                            }

                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors",

                                        },

                                        requestEnd: function (e) {
                                            if (e.type == "update") {
                                                this.read();
                                            }
                                        },
                                        requestEnd: function (e) {
                                            if (e.type == "edit") {
                                                this.read();
                                            }
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        numeric: false,
                                        previousNext: false,
                                        info: false
                                    },
                                    editable: {
                                        confirmation: false,
                                        mode: "inline"
                                    },
                                    scrollable: true,
                                    dataBound: onDataBound,
                                    columns: [{
                                        field: "ProductName",
                                        title: "@T("Admin.Catalog.Products.RelatedProducts.Fields.Product")",
                                        width: 200
                                    }, @*{
                            field: "AvailableQuantity",
                            title: "@T("admin.inventory.ReturnProduct.relatedproducts.availablequantity")",
                            //integer format
                            //format: "{0:0}",
                            // width: 150,
                            ///  footerTemplate: '<div>@T("Admin.Inventory.PurchaseOrder.RelatedProducts.Total-Quantity"): <span id=\"total-quantity\"></span></div>'

                        },*@ {
                                        field: "DispatchQty",
                                        title: "@T("Admin.Inventory.EditStockTranfer.DispatchQty")",
                                        //integer format
                                        format: "{0:0}",
                                         width: 100,
                                        // footerTemplate: '<div>@T("Admin.Inventory.PurchaseOrder.RelatedProducts.Total-Quantity"): <span id=\"total-quantity\"></span></div>'
                                        //template: "<input type='number' onkeypress='return isNumber(event)' onChange='calculateSummary(#=Id#,#=ProductId2#,#=AvailableQuantity#,this);' />"

                                    }]

                                });


                                $("#product-attribute-edit").kendoTabStrip({
                                    animation: {
                                        open: {
                                            effects: "fadeIn"
                                        }
                                    },
                                    select: tabstrip_on_tab_select
                                });

                                //$('#Freight').on('change', function () {
                                //    calculateSummary();
                                //});
                                //$('#Other').on('change', function () {
                                //    calculateSummary();
                                //});

                                @*var     poId='@Model.POId';
                        if (grnId != '' && parseInt(poId) > 0)
                            fetchSupplierDetails(grnId);*@
                            });


                            function onDataBound(e) {
                                // alert('I M HERE');
                                // calTotalQty();
                            }


                            //function caculateAmount(cost, quantity) {
                            //    // 
                            //    return cost * quantity;
                            //    // calculateSummary()

                            //}


                            @*function calculateSummary(id, productId, AvailableQuantity, elem) {
                    var subTotal = 0;
                    var qty = parseInt($(elem).val());
                    var available = parseInt(AvailableQuantity);
                    var totalQuantity = 0;
                    var NetAmount = 0;

                    var objArray = new Array();

                    
                    if (isNaN(qty)) {
                        //validationMessagesstockIn
                        $("#validationMessagesstockIn").show();
                        $("#validationMessagesstockIn").html("@T("Admin.Inventory.StockInPO.ValidNumber")");
                        // alert('Please insert valid number');
                        $(elem).val('');
                        $(elem).focus();
                        return;
                    } else if (qty > available) {
                        $("#validationMessagesstockIn").show();
                        $("#validationMessagesstockIn").html("@T("Admin.Inventory.StockReturnPO.quantity")");

                        $(elem).val('');
                        $(elem).focus();
                        return;
                    } else if (qty <= 0) {
                        $("#validationMessagesstockIn").show();
                        $("#validationMessagesstockIn").html("@T("Admin.Inventory.StockReturnPO.ValidQuantityZero")");
                        //  alert('Stockin quantity should be greater than zero.');
                        $(elem).val('');
                        $(elem).focus();
                        return;
                    }


                    $("#validationMessagesstockIn").hide();

                    var updatedProducts = $('#UpdatedProducts').val();

                    if (updatedProducts != '') {
                        var found;
                        objArray = $.parseJSON(updatedProducts);
                        $.each(objArray, function (index, key) {
                            if (key.Id == id)
                                found = index;
                        });
                        if (found != null)
                            objArray.splice(found, 1);
                    }
                    var obj = new Object();
                    obj.Id = id;
                    obj.Qty = qty;
                    obj.productId = productId;




                    objArray.push(obj);

                    var jsonStr = JSON.stringify(objArray);
                    $('#UpdatedProducts').val(jsonStr);

                    // calTotalQty();

                }*@
                            //function calTotalQty() {
                            //    var subTotal = 0;
                            //    var totalQuantity = 0;
                            //    var NetAmount = 0;

                            //    $('#relatedproducts-grid table').find('tr').each(function (key, val) {
                            //        if (key > 1) {
                            //            //  alert($(this).find('td:eq(3)').html());
                            //            var amount = $(this).find('td:eq(3)').html();
                            //            if (amount != '') {
                            //                subTotal += parseFloat(amount);
                            //            }

                            //            var quantity = $(this).find('td:eq(4)').html();
                            //            if (quantity != '') {
                            //                totalQuantity += parseInt(quantity);
                            //            }
                            //        }

                            //    });
                            //    $('#TotalQuantity').val(totalQuantity);
                            //}

                        </script>
                        <script type="text/javascript">
                            $('#SupplierName').autocomplete({
                                delay: 500,
                                minLength: 1,
                                source: '@(Url.Action("BindSupplierName", "PurchaseOrder"))',
                                appendTo: '.search-box',
                                select: function (event, ui) {
                                    //    
                                    //  $("#ProductId").val(ui.item.Id);
                                    //$("#memberID").val(ui.item.label);
                                    $("#SupplierName").val(ui.item.SupplierName);
                                    $("#divfirstname").show();
                                    $("#SupplierId").val(ui.item.SupplierId);

                                    fetchSupplierDetails(ui.item.SupplierId);

                                }
                            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                                //   
                                var t = item.label;
                                //html encode
                                t = $('<div/>').text(t).html();
                                return $("<li></li>")
                                    .data("item.autocomplete", item)
                                    .append("<a><span>" + t + "</span></a>")
                                    .appendTo(ul);
                                $("#AddToSupp").show();
                            };


                        </script>


                    </div>
                </div>

            </div>
        </div>
    </div>
}


