﻿@using Nop.Web.Models.Common;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Services.Customers;
@using Nop.Core.Domain.Customers;


@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    var IsGuest = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.IsGuest();
    var IsMember = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.MemId;
    if (IsMember == null || IsMember == -1)
    {
        IsMember = null;
    }
    //page class
    Html.AppendPageCssClassParts("html-home-page");
}





<div class="page home-page">
    <div class="page-body">

        @Html.Widget("home_page_top")
      

        @*@Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })*@

        @Html.Widget("home_page_before_categories")
        @if (IsGuest || IsMember != null)
        {

            @Html.Action("HomepageCategories", "Catalog")
        }
        @Html.Widget("home_page_before_products")
        @if (IsGuest || IsMember != null)
        {

            @Html.Action("HomepageProducts", "Product")
        }
        @Html.Widget("home_page_before_best_sellers")
        @if (IsGuest || IsMember != null)
        {

            @Html.Action("HomepageBestSellers", "Product")
        }
        @Html.Widget("home_page_bottom")
    </div>
</div>
