﻿

<script>
    new WOW().init();
</script>

<section id="pricing">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Legal</h2>
            <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br /> et dolore magna aliqua. Ut enim ad minim veniam</p>
            <p class="wow bounceIn"><img style="display: block; margin-left: auto; margin-right: auto; max-width: 385px;" src="~/Themes/Allure/WebDesign/img/uploaded/home/legal.jpg" alt="" width="100%" height="auto" /></p>
        </div>
    </div>
</section>


