﻿@model Nop.Plugin.Widgets.Tickets.Models.ContactAttributeModel
@{
    Html.SetActiveMenuItemSystemName("ticketsystem");
}

@using Nop.Core.Domain.Catalog;
@using Nop.Web.Framework.UI;
@using Nop.Services;
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)
<script>
    $(document).ready(function() {
        bindBootstrapTabSelectEvent('contactattribute-edit');
    });
</script>

<div class="content">
    <div class="form-horizontal">
        <div id="contactattribute-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-info", @T("Admin.Tickets.ContactAttributes.Info"), true)
                @Html.RenderBootstrapTabHeader("tab-values", @T("Admin.Tickets.ContactAttributes.Values"))
                @Html.RenderBootstrapTabHeader("tab-stores", @T("Admin.Tickets.ContactAttributes.Stores"))
            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)
                @Html.RenderBootstrapTabContent("tab-values", @TabValues())
                @Html.RenderBootstrapTabContent("tab-stores", @TabStores())
            </div>
        </div>
    </div>
</div>



@*save selected tab index*@
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(Html.GetSelectedTabName())">

@helper TabInfo()
{
    <script type="text/javascript">
            $(document).ready(function () {

                $("#@Html.FieldIdFor(model => model.AttributeControlTypeId)").change(toggleAttributeControlType);

                toggleAttributeControlType();
            });

            function toggleAttributeControlType() {
                var selectedAttributeControlTypeId = $("#@Html.FieldIdFor(model => model.AttributeControlTypeId)").val();
                if (selectedAttributeControlTypeId == @(((int) AttributeControlType.TextBox).ToString())) {
                    $('#pnlValidationMinLength').show();
                    $('#pnlValidationMaxLength').show();
                    $('#pnlValidationFileMaximumSize').hide();
                    $('#pnlValidationFileAllowedExtensions').hide();
                } else if (selectedAttributeControlTypeId == @(((int) AttributeControlType.MultilineTextbox).ToString())) {
                    $('#pnlValidationMinLength').show();
                    $('#pnlValidationMaxLength').show();
                    $('#pnlValidationFileMaximumSize').hide();
                    $('#pnlValidationFileAllowedExtensions').hide();
                } else if (selectedAttributeControlTypeId == @(((int) AttributeControlType.MultilineTextbox).ToString())) {
                    $('#pnlValidationMinLength').show();
                    $('#pnlValidationMaxLength').show();
                    $('#pnlValidationFileMaximumSize').hide();
                    $('#pnlValidationFileAllowedExtensions').hide();
                } else if (selectedAttributeControlTypeId == @(((int) AttributeControlType.FileUpload).ToString())) {
                    $('#pnlValidationMinLength').hide();
                    $('#pnlValidationMaxLength').hide();
                    $('#pnlValidationFileMaximumSize').show();
                    $('#pnlValidationFileAllowedExtensions').show();
                } else {
                    $('#pnlValidationMinLength').hide();
                    $('#pnlValidationMaxLength').hide();
                    $('#pnlValidationFileMaximumSize').hide();
                    $('#pnlValidationFileAllowedExtensions').hide();
                }
            }
    </script>

        @(Html.LocalizedEditor<Nop.Plugin.Widgets.Tickets.Models.ContactAttributeModel, Nop.Plugin.Widgets.Tickets.Models.ContactAttributeLocalizedModel>("contactattribute-localized",
    @<div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.NopLabelFor(model => model.Locales[item].Name)
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Locales[item].Name)
                @Html.ValidationMessageFor(model => model.Locales[item].Name)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.NopLabelFor(model => model.Locales[item].TextPrompt)
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Locales[item].TextPrompt)
                @Html.ValidationMessageFor(model => model.Locales[item].TextPrompt)
            </div>
        </div>
		@Html.HiddenFor(model => model.Locales[item].LanguageId)
    </div>
    ,
    @<div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.NopLabelFor(model => model.Name)
            </div>
            <div class="col-md-9">
                @Html.NopEditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.NopLabelFor(model => model.TextPrompt)
            </div>
            <div class="col-md-9">
                @Html.NopEditorFor(model => model.TextPrompt)
                @Html.ValidationMessageFor(model => model.TextPrompt)
            </div>
        </div>
    </div>
    ))
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.IsRequired)
                </div>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.IsRequired)
                    @Html.ValidationMessageFor(model => model.IsRequired)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.AttributeControlTypeId)
                </div>
                <div class="col-md-9">
                    @Html.NopDropDownListFor(model => model.AttributeControlTypeId, ((Nop.Plugin.Widgets.Tickets.Models.ContactAttributeControlType)Model.AttributeControlTypeId).ToSelectList())
                    @Html.ValidationMessageFor(model => model.AttributeControlTypeId)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.LocationControlTypeId)
                </div>
                <div class="col-md-9">
                    @Html.NopDropDownListFor(model => model.LocationControlTypeId, ((Nop.Plugin.Widgets.Tickets.Domain.LocationControlType)Model.LocationControlTypeId).ToSelectList())
                    @Html.ValidationMessageFor(model => model.LocationControlTypeId)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.DisplayOrder)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.DisplayOrder)
                    @Html.ValidationMessageFor(model => model.DisplayOrder)
                </div>
            </div>
            <div class="form-group" id="pnlValidationMinLength">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.ValidationMinLength)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.ValidationMinLength)
                    @Html.ValidationMessageFor(model => model.ValidationMinLength)
                </div>
            </div>
            <div class="form-group" id="pnlValidationMaxLength">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.ValidationMaxLength)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.ValidationMaxLength)
                    @Html.ValidationMessageFor(model => model.ValidationMaxLength)
                </div>
            </div>
            <div class="form-group" id="pnlValidationFileAllowedExtensions">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.ValidationFileAllowedExtensions)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.ValidationFileAllowedExtensions)
                    @Html.ValidationMessageFor(model => model.ValidationFileAllowedExtensions)
                </div>
            </div>
            <div class="form-group" id="pnlValidationFileMaximumSize">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.ValidationFileMaximumSize)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.ValidationFileMaximumSize)
                    @Html.ValidationMessageFor(model => model.ValidationFileMaximumSize)
                </div>
            </div>

}
@helper TabValues()
{
if (Model.Id > 0)
{
    /*TODO display the following warning if values are not supported by selected attribute control type
     'Values are not required for this attribute control type'
     */
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="contactattributevalues-grid"></div>
                <script>
    $(document).ready(function () {
        $("#contactattributevalues-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("ValueList", "Plugins/Tickets/ContactAttribute", new { contactAttributeId = Model.Id }))",
                        type: "POST",
                        dataType: "json"
                    },
                    destroy: {
                        url: "@Html.Raw(Url.Action("ValueDelete", "Plugins/Tickets/ContactAttribute"))",
                        type: "POST",
                        dataType: "json"
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id"
                    }
                },
                error: function(e) {
                //    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "Name",
                title: "@T("Admin.Tickets.ContactAttributes.Values.Fields.Name")"
            }, {
                field: "IsPreSelected",
                title: "@T("Admin.Tickets.ContactAttributes.Values.Fields.IsPreSelected")",
                width: 100,
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" },
                template: '# if(IsPreSelected) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
            }, {
                field: "DisplayOrder",
                title: "@T("Admin.Tickets.ContactAttributes.Values.Fields.DisplayOrder")",
                width: 100
            },{
                field: "Id",
                title: "@T("Admin.Common.Edit")",
                width: 100,
                @*template: "<input type='submit' value='@T("Admin.Common.Edit")' onclick=\"javascript:OpenWindow('@Url.Content("~/Admin/Plugins/Tickets/ContactAttribute/ValueEditPopup/")#=Id#?btnId=btnRefresh&formId=contactattribute-form', 800, 350, true); return false;\" class='k-button' />"*@
                template: "<a class=\"k-button k-button-icontext\" href='javascript:OpenWindow(\"@Url.Content("~/Admin/Plugins/Tickets/ContactAttribute/ValueEditPopup/")#=Id#?btnId=btnRefresh&formId=contactattribute-form\", 800, 400, true);'><span class=\"k-icon k-edit\"></span> @T("Admin.Common.Edit")</a>"
    }, {
        command: {name: "destroy", text: "@T("Admin.Common.Delete")"},
        title: "@T("Admin.Common.Delete")",
        width: 100
    }]
    });
    });
</script>
            </div>
        </div>
        <div>
            <div class="panel-footer">
                <input type="submit" id="btnAddNewValue" name="btnAddNewValue" value="@T("Admin.Tickets.ContactAttributes.Values.AddNew")" onclick="javascript:OpenWindow('@(Url.Action("ValueCreatePopup", "Plugins/Tickets/ContactAttribute", new { contactAttributeId = Model.Id, btnId = "btnRefresh", formId = "contactattribute-form" }))', 800, 350, true); return false;" class="k-button" />
                <input type="submit" id="btnRefresh" name="btnRefresh" style="display: none" />
                <script type="text/javascript">
                            $(document).ready(function () {
                                $('#btnRefresh').click(function () {
                                    //refresh grid
                                    var valuesGrid = $("#contactattributevalues-grid").data('kendoGrid');
                                    valuesGrid.dataSource.read();

                                    //return false to don't reload a page
                                    return false;
                                });
                            });
                </script>
            </div>
        </div>
    </div>
}
else
{
        @T("Admin.Tickets.ContactAttributes.Values.SaveBeforeEdit")
}
}

@helper TabStores()
{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#@Html.FieldIdFor(model => model.LimitedToStores)").click(toggleStoreMapping);

            toggleStoreMapping();
        });


        function toggleStoreMapping() {
            if ($('#@Html.FieldIdFor(model => model.LimitedToStores)').is(':checked')) {
                $('#pnl-available-stores').show();
            }
            else {
                $('#pnl-available-stores').hide();
            }
        }

    </script>

    <div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.NopLabelFor(model => model.LimitedToStores)
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.LimitedToStores)
                @Html.ValidationMessageFor(model => model.LimitedToStores)
            </div>
        </div>
        <div class="form-group" id="pnl-available-stores">
            <div class="col-md-3">
                @Html.NopLabelFor(model => model.AvailableStores)
            </div>
            <div class="col-md-9">
                @if (Model.AvailableStores != null && Model.AvailableStores.Count > 0)
                {
                    foreach (var store in Model.AvailableStores)
                    {
                        <div>
                            <input type="checkbox" name="SelectedStoreIds" value="@store.Id" checked="@(Model.SelectedStoreIds != null && Model.SelectedStoreIds.Contains(store.Id))" />@store.Name
                        </div>
                    }
                }
                else
                {
                    <div>No stores defined</div>
                }
            </div>
        </div>
    </div>
}