﻿@{
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";
}

@model Nop.Plugin.Widgets.Tickets.Models.ContactAttributeValueModel

@{
    //page title
    ViewBag.Title = T("Admin.Tickets.ContactAttributes.Values.EditValueDetails").Text;
}
@using (Html.BeginForm())
{
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Tickets.ContactAttributes.Values.EditValueDetails")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    @Html.Partial("~/Plugins/Widgets.Tickets/Views/Admin/ContactForm/_CreateOrUpdateValue.cshtml", Model)
}