﻿@model VFTopMenuModel
@using Nop.Web.Models.Catalog;

@helper RenderCategoryLine(VFCategorySimpleModel category)
{
    <li>
        @{
            if (category.SubCategories.Count > 0)
            {
                if (!string.IsNullOrEmpty(category.ActionName) && !string.IsNullOrEmpty(category.ControllerName))
                { 
                <a href="@Url.Action(category.ActionName,category.ControllerName)">@T(category.Description)</a>
                }
                else
                {
                    <a href="#" class="with-subcategories">@T(category.Description)</a>
                }
                <div class="plus-button"></div>
                <div class="sublist-wrap">
                    <ul class="sublist">
                        <li class="back-button">
                            <span>@T("SevenSpikes.Themes.Common.BackSublist")</span>
                        </li>
                        @foreach (var subCategory in category.SubCategories)
                        {
                            @RenderCategoryLine(subCategory)
                        }
                    </ul>
                </div>
            }
            else
            {
                <a href="@Url.Action(category.ActionName,category.ControllerName)">@T(category.Description)</a>
            }
        }
    </li>
}
<ul class="top-menu">
    @Html.Widget("header_menu_before")
    @{
        var rootCategories = Model.Categories.ToList();
    }

    @foreach (var category in rootCategories)
    {
        @RenderCategoryLine(category)
    }
    @* @foreach (var topic in Model.Topics)
        {
            <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
        }
        @if (rootCategories.Count == 0 && Model.Topics.Count == 0)
        {
            //no categories to display?
            //in this case let's diplay some default menu items
            <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
            if (Model.NewProductsEnabled)
            {
                <li><a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a></li>
            }
            <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
            <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
            if (Model.BlogEnabled)
            {
                <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
            }
            if (Model.ForumEnabled)
            {
                <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
            }
            <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
        }*@
  
    @Html.Widget("home_page_EventModule")
</ul>
@*@model VFTopMenuModel
    @using Nop.Web.Models.Catalog;

    @helper RenderCategoryLine(VFCategorySimpleModel category, int level, bool responsiveMobileMenu)
    {
        <li>
            @if (category.ActionName != "" || category.ControllerName != "")
            {
                <a href="@Url.Action(category.ActionName,category.ControllerName)" title="">
                    @T(category.Description)
                </a>
            }
            else
            {
                <a href="@Url.RouteUrl("VFCategory", new { SeName = category.SeName })" title="">
                    @T(category.Description)
                </a>
            }
            @{
                //subcategories
                var subCategories = responsiveMobileMenu ?
                    //responsive (all categories)
                    category.SubCategories :
                    //standard design (only categories with "IncludeInTopMenu")
                    category.SubCategories.ToList();

                var levelClass = "";
                if (level == 0)
                {
                    levelClass = "first-level";
                }
                if (subCategories.Count > 0)
                {
                    <div class="sublist-toggle"></div>
                    <ul class="sublist @levelClass">
                        @foreach (var subCategory in subCategories)
                        {
                            @RenderCategoryLine(subCategory, level + 1, responsiveMobileMenu)
                        }
                    </ul>
                }
            }
        </li>
    }

    <ul class="top-menu">
        @Html.Widget("header_menu_before")
        @{
            var rootCategories = Model.Categories.ToList();
        }
        @foreach (var category in rootCategories)
        {
            @RenderCategoryLine(category, 0, false)
        }

        @Html.Widget("header_menu_after")
    </ul>

     @{var rootCategoriesResponsive = Model.Categories.ToList();
        //name it "Categories" if we have only categories. Otherwise, "Menu"
        var responsiveMenuTitle = (rootCategoriesResponsive.Count > 0 ) ? T("Dashboard") : T("Menu");
    <div class="menu-toggle">@responsiveMenuTitle</div>
        <ul class="top-menu mobile">

            @Html.Widget("mob_header_menu_before")

            @foreach (var category in rootCategoriesResponsive)
            {
                @RenderCategoryLine(category, 0, true)
            }


            @Html.Widget("mob_header_menu_after")
        </ul>
     }
        <script type="text/javascript">
            $(document).ready(function () {
                $('.menu-toggle').click(function () {
                    $(this).siblings('.top-menu.mobile').slideToggle('slow');
                });
                $('.top-menu.mobile .sublist-toggle').click(function () {
                    $(this).siblings('.sublist').slideToggle('slow');
                });
            });
        </script>*@




