﻿@model Nop.Web.Framework.Models.CommunicationCenter.ComposeMessage
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
    //title
    Html.AddTitleParts(T("PublicStore.ComunicationCenter.ComposeMessage").Text);
}

@section styles{
    <link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />

    <style>

        label[required]::before {
            content: "*";
            color: red;
            margin-right: 2px;
        }

        input.input-validation-error,
        textarea.input-validation-error,
        select.input-validation-error {
            border: 1px solid #CD0A0A !important;
        }

        textarea.form-control {
            height: 100px !important;
        }

    </style>

}

@{
    List<SelectListItem> messageToOptions = new List<SelectListItem>();
    messageToOptions.Add(new SelectListItem
    {
        Text = "Admin",
        Value = "0",
        Selected = true
    });
    //messageToOptions.Add(new SelectListItem
    //     {
    //         Text = "Upline ID(s)",
    //         Value = "1"
    //     });
    messageToOptions.Add(new SelectListItem
    {
        Text = "Downline ID(s)",
        Value = "2"
    });
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.SelectedIds)


  
        var validationSummary = Html.ValidationSummary(true);
    
        if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
        {
            <div class="message-error">@validationSummary</div>
        }

        <div class="result" style="text-align:center;">
            @if (ViewBag.Msg != null)
            {
                @ViewBag.Msg
            }
        </div>
        <br />
        
            <div class="sparkline16-list shadow-reset">

                <div class="sparkline16-hd">
                    <div class="main-sparkline16-hd">
                        <h1 style="visibility:hidden">@T("PublicStore.ComunicationCenter.ComposeMessage")</h1>
                        <div class="sparkline16-outline-icon">
                            @*<span class="sparkline16-collapse-link"><i class="fa fa-chevron-down"></i></span>*@
                        </div>
                    </div>
                </div>

                <div class="sparkline16-list shadow-reset">
                    <div class="sparkline16-graph">
                        <div id="ScrollableDiv">
                            <div class="datatable-dashv1-list custom-datatable-overright" id="ScrollableDiv111">
                                <br />
                                @Html.Partial("CommunicationCenterIcons")
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <br id="hideshowbr" />
            <div  class="page account-page return-request-list-page ">

              
                <div class="page registration-result-page">
                    <div class="page-body">
                      

                            <div class="customer-blocks">
                                <div class="panel panel-default">


                                    <div class="sparkline13-list shadow-reset">
                                        <div class="sparkline13-hd">
                                            <div class="main-sparkline13-hd">
                                                <h1>@T("Dashboard.MyNetwork.SearchOption")</h1>
                                                <div class="sparkline13-outline-icon">
                                                    <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sparkline13-graph">
                                            <div class="datatable-dashv1-list custom-datatable-overright">
                                                <div class="basic-login-form-ad">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="all-form-element-inner">
                                                                <br />
                                                                <div class="form-group-inner">
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            @Html.LabelFor(model => model.MessageTo)
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            @Html.DropDownListFor(model => model.MessageTo, messageToOptions, new { @class = "form-control" })
                                                                        </div>
                                                                    </div>
                                                                </div>





                                                                <div class="login-horizental cancel-wp align-middle">

                                                                    <button type="submit" id="Search-ComposeMessageGrid" name="Search-ComposeMessageGrid" class="btn btn-custon-four btn-primary"><i class="fa fa-search"></i> @T("Tree.Search.Button")</button>
                                                                    <button type="button" id="btnreset" class="btn btn-custon-four btn-warning"><i class="fa fa-refresh"></i> @T("Tree.Reset.Button") </button>
                                                                </div>








                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <br />
                                  



                                            <div class="sparkline16-list shadow-reset">
                                                <div class="sparkline16-hd">
                                                    <div class="main-sparkline16-hd">
                                                        <h1 style="text-align: left;">@T("publicstore.comunicationcenter.composemessage")</h1>
                                                        @*<div class="sparkline16-outline-icon">
                        <span class="sparkline16-collapse-link"><i class="fa fa-chevron-down"></i></span>
                    </div>*@
                                                    </div>
                                                </div>
                                            
                                                <div class="sparkline16-list shadow-reset">
                                                    <div class="sparkline16-graph">
                                                        @if (Model.IsShow)
                                                        {
                                                            <div id="ScrollableDiv">
                                                                <div class="datatable-dashv1-list custom-datatable-overright alignheadercheckbox" id="BinaryBothdiv">
                                                                    <table id="ComposeMessageReport" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                                        <thead>
                                                                            <tr>
                                                                                <th><input type="checkbox" name="select_all" value="1" id="example-select-all"></th>
                                                                                @*<th>@Html.LabelFor(model => model.objComposeMessageHeader.srNo) </th>*@
                                                                                @*<th>@Html.LabelFor(model => model.objComposeMessageHeader.DownLineId) </th>*@
                                                                                <th> @T("Publicstore.CommunicationCenter.Id") </th>
                                                                                <th>@T("Publicstore.CommunicationCenter.Name") </th>
                                                                                <th>@T("Publicstore.CommunicationCenter.DOJ") </th>
                                                                                <th>@T("Publicstore.CommunicationCenter.SponsorId")</th>
                                                                                <th>@T("Publicstore.CommunicationCenter.SponsorName")</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>

                                                                            @for (int i = 0; i < Model.composeMessageDataTable.Count(); i++)
                                                                            {
                                                                                <tr>
                                                                                    <td></td>
                                                                                    @*<td>@Model.composeMessageDataTable[i].srNo </td>*@
                                                                                    @*<td>@Model.composeMessageDataTable[i].DownLineId</td>*@
                                                                                    <td>@Model.composeMessageDataTable[i].Id </td>
                                                                                    <td>@Model.composeMessageDataTable[i].Name</td>
                                                                                    <td>@Model.composeMessageDataTable[i].DOJ</td>
                                                                                    <td>@Model.composeMessageDataTable[i].SponsorId</td>
                                                                                    <td>@Model.composeMessageDataTable[i].SponsorName</td>
                                                                                </tr>
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>




















                                    <div class="sparkline16-graph">
                                        <div class="datatable-dashv1-list custom-datatable-overright">
                                            <div class="basic-login-form-ad">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="all-form-element-inner">
                                                            <div class="form-group-inner">
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        @Html.LabelFor(model => model.ComposeMsgSubject, new { }, ":")
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        @Html.TextBoxFor(model => model.ComposeMsgSubject, new { @class = "form-control" })
                                                                        @Html.ValidationMessageFor(model => model.ComposeMsgSubject)
                                                                    </div>
                                                                    <div class="col-md-1" id="requiedAttricSymbol">
                                                                        @Html.RequiredHint()
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="form-group-inner">
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        @Html.LabelFor(model => model.Body)
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        @Html.TextAreaFor(model => model.Body, new { maxlength = 300, @class = "form-control" })
                                                                        @Html.ValidationMessageFor(model => model.Body)
                                                                        <div class="inputs" style="text-align: center;">
                                                                            <span id="charsLeft"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-1" id="requiedAttricSymbol">
                                                                        @Html.RequiredHint()
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="login-horizental cancel-wp align-middle" style="padding-bottom: 3%;">

                                                                <button type="submit" id="Send-ComposeMessage" name="Send-ComposeMessage" class="btn btn-sm btn-primary login-submit-cs"><i class="fa fa-send-o"></i> @T("Admin.Common.SendComposeMessage")</button>
                                                            </div>






                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>




                          


                        </div>
                    </div>
                

            </div>
                    </div>
                </div>
            <br />
            }

            @section scripts{
                <script type="text/javascript">


                    $(function () {
                        $("#Search-ComposeMessageGrid").click(function () {
                            $('.loader').show();
                        });
                    });

                    $(function () {
                        $("#Send-ComposeMessage").click(function () {
                            $('.loader').show();
                        });
                    });

                    $(document).ready(function () {

                        $("#divseachById").slideUp();
                        $("#divHeadingSearch").click(function () {
                            $("#divseachById").slideToggle();
                        });

                        $(function () {
                            $("#Body").keyup(function () {
                                var charsLeft = $(this).attr("maxlength") - $(this).val().length;
                                $("#charsLeft").text(charsLeft + " characters left");
                            });
                        });


                        // Handle click on "Select all" control
                        $('#example-select-all').on('click', function () {
                            //
                            var table = $('#ComposeMessageReport').DataTable();

                            var rows = table.rows({ 'search': 'applied' }).nodes();

                            selectedCheckbox = null;


                            $('input[type="checkbox"]', rows).prop('checked', this.checked);

                            if ($(this).prop('checked') == true) {

                                var allData = table.rows().data();


                                var i = $('select[name=ComposeMessageReport_length]').val();

                                var i = allData.length;

                                for (var j = 0; j < i; j++) {

                                    var checkBox = allData[j][1];

                                    // $("input[type='checkbox'][value=" + checkBox + "]").prop('checked', this.checked);

                                    if (selectedCheckbox == null) {
                                        selectedCheckbox = checkBox;
                                    } else {
                                        selectedCheckbox = selectedCheckbox + ',' + checkBox;
                                    }
                                    $('#SelectedIds').val(selectedCheckbox);

                                }

                            }
                            else {
                                $('input[type="checkbox"]', rows).prop('checked', this.checked);
                                $('#SelectedIds').val(selectedCheckbox);
                            }


                        });

                        $('#ComposeMessageReport').dataTable({
                            pagingType: "full_numbers",
                            iDisplayLength: 10,
                            dom: 'T<"clear">lfrtip',
                            'columnDefs': [{
                                'targets': 0,
                                'className': 'dt-body-center',
                                'render': function (data, type, full, meta) {
                                    return '<input type="checkbox" id="CheckBox" name="id[]"  value="'
                                       + $('<div/>').text(full[1]).html() + '">';

                                }
                            }],
                            processing: true,
                            "oLanguage": {
                                "sEmptyTable": "@T("Common.DataTable.NoRecordFound")",
                                "sProcessing": "<div class='loader'></div>"
                            },
                            tableTools: {
                                "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                                "sRowSelect": "multi",
                                "aButtons": [

                            {
                                'sExtends': 'copy',
                                "oSelectorOpts": { filter: 'applied', order: 'current' },
                            }
                                ]
                            },
                        });

                        var selectedCheckbox = null;
                        $(document).on('click', '#ComposeMessageReport input[type="checkbox"][id="CheckBox"]', function () {
                            //
                            var value = this.value;

                            if (value != "1") {
                                if ($(this).prop('checked') == true) {

                                    if (selectedCheckbox == null) {
                                        selectedCheckbox = value;
                                    } else {
                                        selectedCheckbox = selectedCheckbox + ',' + value;
                                    }
                                    $('#SelectedIds').val(selectedCheckbox);

                                }
                                else {
                                    var serialNo = $('#SelectedIds').val();
                                    selectedCheckbox = serialNo.replace(value, '');
                                    $('#SelectedIds').val(selectedCheckbox);
                                }
                            }
                        });


                        $(".collapse.in").each(function () {
                            $("#btnplusminus").siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
                        });
                        $(".collapse").on('show.bs.collapse', function () {
                            $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
                        }).on('hide.bs.collapse', function () {
                            $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
                        });
                    });

                    $('#btnreset').on('click', (function () {
                        $('.loader').show();
                        document.location = "@(Url.Action("ComposeMessage", "CommunicationCenter"))";
                    }));

                </script>
            }

<script>
    window.onbeforeunload = function () {
        var buttons = document.getElementsByTagName("BUTTON");
        for (var i in buttons) {
            if (buttons[i].type == "button" || buttons[i].type == "submit") {
                buttons[i].disabled = true;
            }
        }
    };
</script>