﻿@model Nop.Web.Framework.Models.CommunicationCenter.Folders
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
    //title
    Html.AddTitleParts(T("PublicStore.ComunicationCenter.Folders").Text);
}
@section styles{
    <link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Themes/Vnext/Content/VnextCSS/css/MobileDataTableResponsive.css">

    <style>
        input.input-validation-error,
        textarea.input-validation-error,
        select.input-validation-error {
            border: 1px solid #CD0A0A !important;
        }
    </style>

}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.SelectedFolders)

    <br />

    <div class="sparkline16-list shadow-reset">

        <div class="sparkline16-hd">
            <div class="main-sparkline16-hd">
                <h1 style="visibility:hidden">@T("PublicStore.ComunicationCenter.Inbox")</h1>
                <div class="sparkline16-outline-icon">
                    @*<span class="sparkline16-collapse-link"><i class="fa fa-chevron-down"></i></span>*@
                </div>
            </div>
        </div>

        <div class="sparkline16-list shadow-reset">
            <div class="sparkline16-graph">
                <div id="ScrollableDiv">
                    <div class="datatable-dashv1-list custom-datatable-overright" id="ScrollableDiv111">
                        <br />
                        @Html.Partial("CommunicationCenterIcons")
                    </div>
                </div>
            </div>
        </div>

    </div>


    <br id="hideshowbr" />


    var validationSummary = Html.ValidationSummary(true);

    if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
    {
        <div class="message-error">@validationSummary</div>
    }
    <div class="result" style="text-align:center;">
        @if (ViewBag.Msg != null)
        {
            @ViewBag.Msg
        }


    </div>


    <div class="page account-page return-request-list-page ">


        <div class="page registration-result-page">
            <div class="page-body">


                <div class="customer-blocks">
                    <div class="panel panel-default">


                        <div class="sparkline13-list shadow-reset">
                            <div class="sparkline13-hd">
                                <div class="main-sparkline13-hd">
                                    <h1>@T("Publicstore.CommunicationCenter.Folders.CreateNew")</h1>
                                    <div class="sparkline13-outline-icon">
                                        <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="sparkline13-graph">
                                <div class="datatable-dashv1-list custom-datatable-overright">
                                    <div class="basic-login-form-ad">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="all-form-element-inner">
                                                    <br />
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                @Html.LabelFor(model => model.Name)
                                                            </div>
                                                            <div class="col-md-6">

                                                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", maxlength = 20 })
                                                                @Html.ValidationMessageFor(model => model.Name)
                                                                @Html.ValidationMessage("DeleteFolder")
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="inputs commCenterFolderNote" style="text-align: center;">
                                                        <b style="color:red;font-weight:bold"> @T("Admin.Note.Note") </b>
                                                        @T("Publicstore.CommunicationCenter.Folders.NameNote")
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-6">
                                                                    <div class="login-horizental cancel-wp align-middle ">


                                                                        <button type="submit" id="CreateFolders" name="CreateFolders" class="btn btn-custon-four btn-primary"><i class="fa fa-folder"></i> @T("Admin.Common.Create")</button>
                                                                        <button type="button" id="btnreset" class="btn btn-custon-four btn-warning"><i class="fa fa-refresh"></i> @T("Tree.Reset.Button")</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>






                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />


                        <div class="sparkline16-list ">
                            <div class="sparkline16-hd">
                                <div class="main-sparkline16-hd">
                                    <h1>@T("PublicStore.ComunicationCenter.Folders")</h1>
                                    <div class="sparkline16-outline-icon">
                                        @*<span class="sparkline16-collapse-link"><i class="fa fa-chevron-down"></i></span>*@
                                    </div>
                                </div>
                            </div>

                            <div class="sparkline16-list shadow-reset">
                                <div class="sparkline16-graph">
                                    <div id="ScrollableDiv">
                                        <div class="datatable-dashv1-list custom-datatable-overright" id="BinaryBothdiv">
                                            <table id="FoldersReport" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th><input type="checkbox" name="select_all" value="1" id="example-select-all"></th>
                                                        <th class="HideId"></th>
                                                        <th>@T("Publicstore.CommunicationCenter.Folders.FolderName") </th>
                                                        <th>@T("Publicstore.CommunicationCenter.Folders.MessageCount") </th>
                                                        <th>@T("Publicstore.CommunicationCenter.Folders.NewCount")</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (int i = 0; i < Model.folderHeaderDataTable.Count(); i++)
                                                    {
                                                        <tr>
                                                            <td></td>
                                                            <td class="HideId">@Model.folderHeaderDataTable[i].Id </td>
                                                            @*<td>@Model.folderHeaderDataTable[i].FolderName</td>*@
                                                            <td style="color: cornflowerblue" data-label="@T("Publicstore.CommunicationCenter.Folders.FolderName")">
                                                                @Html.ActionLink(@Model.folderHeaderDataTable[i].FolderName, "Inbox", "CommunicationCenter",
                                                      new { id = @Model.folderHeaderDataTable[i].Id, name = @Model.folderHeaderDataTable[i].FolderName }, null)
                                                            </td>
                                                            <td data-label="@T("Publicstore.CommunicationCenter.Folders.MessageCount")">@Model.folderHeaderDataTable[i].MessageCount</td>
                                                            <td data-label="@T("Publicstore.CommunicationCenter.Folders.NewCount")">@Model.folderHeaderDataTable[i].NewCount</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>






                        <div class="inputs">
                            <div class="buttons" id="deletebtncomm">
                                <button type="submit" id="DeleteFolders" name="DeleteFolders" class="btn btn-sm btn-danger login-submit-cs"><i class="fa fa-trash"></i> @T("Admin.Common.Delete")</button>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
        </div>
    </div>
    <br />

}

@section scripts{
    <script type="text/javascript">

        $(function () {
            $("#CreateFolders").click(function () {
                $('.loader').show();
            });
        });
        $(function () {
            $("#DeleteSentMsg").click(function () {
                $('.loader').show();
            });
        });
        var rowCount = $("#FoldersReport td").closest("tr").length;
        //alert('Rows ' + rowCount + ' are selected');

        $(document).ready(function () {
            $('.HideId').hide();

            $("#divseachById").slideUp();
            $("#divHeadingSearch").click(function () {
                $("#divseachById").slideToggle();
            });


            $('#Name').keyup(function (e) {
                //
                var max_chars = 20;
                if ($(this).val().length >= max_chars) {
                    $(this).val($(this).val().substr(0, max_chars));
                }
            });

            // Handle click on "Select all" control
            $('#example-select-all').on('click', function () {
                //
                var table = $('#FoldersReport').DataTable();

                var rows = table.rows({ 'search': 'applied' }).nodes();

                $('input[type="checkbox"]', rows).prop('checked', this.checked);

                selectedCheckbox = null;

                if ($(this).prop('checked') == true) {

                    var allData = table.rows().data();
                    //  var i;
                    //var i = allData.length;
                    // var i = $('select[name=FoldersReport_length]').val();
                    var i = allData.length;
                    for (var j = 0; j < i; j++) {

                        var checkBox = allData[j][1];

                        //$("input[type='checkbox'][value=" + checkBox + "]").prop('checked', this.checked);

                        if (selectedCheckbox == null) {
                            selectedCheckbox = checkBox;
                        } else {
                            selectedCheckbox = selectedCheckbox + ',' + checkBox;
                        }
                        $('#SelectedFolders').val(selectedCheckbox);
                    }
                }
                else {
                    $('input[type="checkbox"]', rows).prop('checked', this.checked);
                    $('#SelectedFolders').val(selectedCheckbox);
                }

                //alert(selectedCheckbox);
            });

            $('#FoldersReport').dataTable({
                pagingType: "full_numbers",
                iDisplayLength: 10,
                dom: 'T<"clear">lfrtip',
                'columnDefs': [{
                    'targets': 0,
                    'className': 'dt-body-center',
                    'render': function (data, type, full, meta) {
                        //
                        return '<input type="checkbox" id="CheckBox" name="id[]"  value="'
                           + $('<div/>').text(full[1]).html() + '">';
                    }
                }],
                processing: true,
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")",
                    "sProcessing": "<div class='loader'></div>",
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [
                        //{
                            //            'sExtends': 'copy',
                            //            "oSelectorOpts": { filter: 'applied', order: 'current' },
                            //        },
                            //{
                            //    'sExtends': 'xls',
                            //    "oSelectorOpts": { filter: 'applied', order: 'current' },
                            //},
                            // {
                            //     'sExtends': 'pdf',
                            //     "oSelectorOpts": { filter: 'applied', order: 'current' },
                            // },
                            //{
                            //    'sExtends': 'print',
                            //    "oSelectorOpts": { filter: 'applied', order: 'current' },
                            //}
                    ]
                }
            });

            if (@Model.folderHeaderDataTable.Count > 10) {

                $("#FoldersReport_length").show();
                $("#FoldersReport_paginate").show();
            }
            else { $("#FoldersReport_length").hide();  $("#FoldersReport_paginate").hide(); }
            var selectedCheckbox = null;
            $(document).on('click', '#FoldersReport input[type="checkbox"][id="CheckBox"]', function () {
                //
                var value = this.value;

                if (value != "") {
                    if ($(this).prop('checked') == true) {

                        if (selectedCheckbox == null) {
                            selectedCheckbox = value;
                        } else {
                            selectedCheckbox = selectedCheckbox + ',' + value;
                        }
                        $('#SelectedFolders').val(selectedCheckbox);

                    }
                    else {
                        var serialNo = $('#SelectedFolders').val();
                        selectedCheckbox = serialNo.replace(value, '');
                        $('#SelectedFolders').val(selectedCheckbox);
                    }
                }
            });

            //var selectedCheckbox = null;
            //$('#FoldersReport input[type="checkbox"]').click(function () {
            //    //
            //    var value = this.value;

            //    if (value != "") {
            //        if ($(this).prop('checked') == true) {

            //            if (selectedCheckbox == null) {
            //                selectedCheckbox = value;
            //            } else {
            //                selectedCheckbox = selectedCheckbox + ',' + value;
            //            }
            //            $('#SelectedFolders').val(selectedCheckbox);

            //        }
            //        else {
            //            var serialNo = $('#SelectedFolders').val();
            //            selectedCheckbox = serialNo.replace(value, '');
            //            $('#SelectedFolders').val(selectedCheckbox);
            //        }
            //    }
            //});
        });


        $('#btnreset').on('click', (function () {
            $('.loader').show();
            document.location = "@(Url.Action("Folders", "CommunicationCenter"))" ;
        }));


    </script>

    @if (!ViewData.ModelState.IsValid)
    {
        <script>fieldPanelValidation('#Name', ".sparkline13-hd", ".sparkline13-graph");</script>
    }
}

