﻿@model Nop.Web.Framework.Models.CommunicationCenter.SentMessage

@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
    //title
    Html.AddTitleParts(T("PublicStore.ComunicationCenter.SentMessage").Text);
    //register URL with return URL (if specified)
}
@section styles{
<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Themes/Vnext/Content/VnextCSS/css/MobileDataTableResponsive.css">

    @*<style>
        #DeleteSentMsg{
            margin-top:20px;
        }
    </style>*@
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.SelectedMessages)

    <br />

                        <div class="sparkline16-list shadow-reset">

                            <div class="sparkline16-hd">
                                <div class="main-sparkline16-hd">
                                    <h1 style="visibility:hidden">@T("PublicStore.ComunicationCenter.Inbox")</h1>
                                    <div class="sparkline16-outline-icon">
                                        @*<span class="sparkline16-collapse-link"><i class="fa fa-chevron-down"></i></span>*@
                                    </div>
                                </div>
                            </div>

                            <div class="sparkline16-list shadow-reset">
                                <div class="sparkline16-graph">
                                    <div id="ScrollableDiv">
                                        <div class="datatable-dashv1-list custom-datatable-overright" id="ScrollableDiv111">
                                            <br />
                                            @Html.Partial("CommunicationCenterIcons")
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <br id="hideshowbr" />


                        <div class="result" style="text-align:center;color:green">
                            @if (ViewBag.Msg != null)
                            {
                                @ViewBag.Msg
                            }
                        </div>

                        
                            var validationSummary = Html.ValidationSummary(true);
                      
                       if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                        {
                            <div class="message-error">@validationSummary</div>
                        }

                            





                      



                        <div class="sparkline16-list shadow-reset">
                            <div class="sparkline16-hd">
                                <div class="main-sparkline16-hd">
                                    <h1>@T("Dashboard.MyNetwork.MyDownline")</h1>
                                    @*<div class="sparkline16-outline-icon">
                                            <span class="sparkline16-collapse-link"><i class="fa fa-chevron-down"></i></span>
                                        </div>*@
                                </div>
                            </div>
                         
                            <div class="sparkline16-list shadow-reset">
                                <div class="sparkline16-graph">
                                    <div id="ScrollableDiv">
                                        <div class="datatable-dashv1-list custom-datatable-overright" id="BinaryBothdiv">
                                            <table id="OutBoxReport" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th><input type="checkbox" name="select_all" value="1" id="example-select-all"></th>
                                                        <th>@T("Publicstore.CommunicationCenter.SentMessage.To")</th>
                                                        <th>@T("Publicstore.CommunicationCenter.SentMessage.Subject")</th>
                                                        <th>@T("Publicstore.CommunicationCenter.SentMessage.Date")</th>
                                                        <th class="HideId"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @for (int i = 0; i < Model.sentMessgesHeaderDataTable.Count(); i++)
                                                    {
                                                        <tr>
                                                            <td></td>
                                                            <td style="white-space: normal;" data-label="">@Html.Raw(@Model.sentMessgesHeaderDataTable[i].To)</td>
                                                            @if (@Model.sentMessgesHeaderDataTable[i].IsRead)
                                                            {
                                                                <td style="color:orangered;white-space: normal;" data-label="@T("Publicstore.CommunicationCenter.SentMessage.To")">
                                                                    @Html.ActionLink(@Model.sentMessgesHeaderDataTable[i].Subject, "ViewMessage", "CommunicationCenter",
                                                              new { id = Model.sentMessgesHeaderDataTable[i].Id, name = "SentMessage" }, null)
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td style="color: cornflowerblue;white-space: normal;" data-label="@T("Publicstore.CommunicationCenter.SentMessage.Subject")">
                                                                    @Html.ActionLink(@Model.sentMessgesHeaderDataTable[i].Subject, "ViewMessage", "CommunicationCenter",
                                                              new { id = Model.sentMessgesHeaderDataTable[i].Id, name = "SentMessage" }, null)

                                                                </td>
                                                            }
                                                            <td data-label="@T("Publicstore.CommunicationCenter.SentMessage.Date")">@Model.sentMessgesHeaderDataTable[i].Date</td>
                                                            <td class="HideId" >@Model.sentMessgesHeaderDataTable[i].Id</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                            <div class="form-fields">
                                                <div class="inputs">
                                                    <div class="buttons">
                                                        <button type="submit" id="DeleteSentMsg" name="DeleteSentMsg" class="btn btn-sm btn-danger login-submit-cs"><i class="fa fa-trash"></i> @T("Admin.Common.Delete")</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>


                        <br />






}


@section scripts{
<script type="text/javascript">
    $(function () {
        $("#DeleteSentMsg").click(function () {
            $('.loader').show();
        });
    });


    var rowCount = $("#OutBoxReport td").closest("tr").length;
    //alert('Rows ' + rowCount + ' are selected');

    $(document).ready(function () {
        $('#SelectedMessages').val("");
        $('.HideId').hide();

        // Handle click on "Select all" control
        $('#example-select-all').on('click', function () {
            //
            var table = $('#OutBoxReport').DataTable();

            var rows = table.rows({ 'search': 'applied' }).nodes();

            $('input[type="checkbox"]', rows).prop('checked', this.checked);

            selectedCheckbox = null;



            if ($(this).prop('checked') == true) {

                var allData = table.rows().data();
                // var i;
                //var i = allData.length;
                //var i = $('select[name=OutBoxReport_length]').val();
                var   i = allData.length;
                for (var j = 0; j < i; j++) {

                    var checkBox = allData[j][4];

                    // $("input[type='checkbox'][value=" + checkBox + "]").prop('checked', this.checked);

                    if (selectedCheckbox == null) {
                        selectedCheckbox = checkBox;
                    } else {
                        selectedCheckbox = selectedCheckbox + ',' + checkBox;
                    }
                    $('#SelectedMessages').val(selectedCheckbox);
                }
            }
            else {
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
                $('#SelectedMessages').val(selectedCheckbox);
            }
            //alert(selectedCheckbox)
        });



        $('#OutBoxReport').dataTable({

            pagingType: "full_numbers",
            iDisplayLength: 10,
            dom: 'T<"clear">lfrtip',
            'columnDefs': [{
                'targets': 0,
                'className': 'dt-body-center',
                'render': function (data, type, full, meta) {
                    //
                    return '<input type="checkbox" id="CheckBox" name="id[]"  value="'
                       + $('<div/>').text(full[4]).html() + '">';
                }
            }],
              processing: true,
            "oLanguage": {
                "sEmptyTable": "@T("Common.DataTable.NoRecordFound")",
                "sProcessing": "<div class='loader'></div>",
            },
            tableTools: {
                "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                "sRowSelect": "multi",
                "aButtons": [
            //        {
            //            'sExtends': 'copy',
            //            "oSelectorOpts": { filter: 'applied', order: 'current' },
            //        },
            //{
            //    'sExtends': 'xls',
            //    "oSelectorOpts": { filter: 'applied', order: 'current' },
            //},
            // {
            //     'sExtends': 'pdf',
            //     "sPdfOrientation": "landscape",
            //     "oSelectorOpts": { filter: 'applied', order: 'current' },
            // },
            //{
            //    'sExtends': 'print',
            //    "oSelectorOpts": { filter: 'applied', order: 'current' },
            //}

                ]
            }
        });
        if (@Model.sentMessgesHeaderDataTable.Count() > 10) {

            $("#OutBoxReport_length").show();
            $("#OutBoxReport_paginate").show();
        }
        else { $("#OutBoxReport_length").hide();
            $("#OutBoxReport_paginate").hide();}
        var selectedCheckbox = null;
        $(document).on('click', '#OutBoxReport input[type="checkbox"][id="CheckBox"]', function () {
            //
            var value = this.value;

            if (value != "") {
                if ($(this).prop('checked') == true) {

                    if (selectedCheckbox == null) {
                        selectedCheckbox = value;
                    } else {
                        selectedCheckbox = selectedCheckbox + ',' + value;
                    }
                    $('#SelectedMessages').val(selectedCheckbox);

                }
                else {
                    var serialNo = $('#SelectedMessages').val();
                    selectedCheckbox = serialNo.replace(value, '');
                    $('#SelectedMessages').val(selectedCheckbox);
                }
            }
        });


        //var selectedCheckbox = null;
        //$('#OutBoxReport input[type="checkbox"]').click(function () {
        //    //
        //    var value = this.value;

        //    if (value != "") {
        //        if ($(this).prop('checked') == true) {

        //            if (selectedCheckbox == null) {
        //                selectedCheckbox = value;
        //            } else {
        //                selectedCheckbox = selectedCheckbox + ',' + value;
        //            }
        //            $('#SelectedMessages').val(selectedCheckbox);

        //        }
        //        else {
        //            var serialNo = $('#SelectedMessages').val();
        //            selectedCheckbox = serialNo.replace(value, '');
        //            $('#SelectedMessages').val(selectedCheckbox);
        //        }
        //    }
        //});

    });
</script>
}

