﻿.col-md-12 {
    width: 100%;
}
.dataTables_filter
{
    display:none;
}

.col-md-5 {
    /*width: 50%;*/
    display: block;
}

.txtalign {
    text-align: center;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.table-wrapper {
    overflow-x: auto !important;
}

.cart label {
    display:block!important;
    text-align:center !important;
}
#paymentInfo {
    text-align: center;
}
/*.col-md-5 .col-md-3 {
    width: 25%;
    display: inline-block;
}

.col-md-6 {
    width: 40%;
    display: inline-block;
}

.col-md-3 {
    width: 24%;
    display: inline-block;
}*/

.table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.panel-body {
    padding: 15px;
    font-size: small;
}

h3, .h3 {
    font-size: 26px;
}


h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
}

.panel-default {
    border-color: #dddddd;
}

.panel {
    margin-bottom: 21px;
    background-color: #ffffff;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #dddddd;
}

.panel-heading, .panel-footer {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.panel-heading {
    padding: 1px 15px;
    border-bottom: 1px solid transparent;
}

.form-fields {
    background: none;
}

.fieldset {
    position: relative;
    margin: 0 0 0px;
}

.anchorRight {
    float: right;
    font-size: 1em;
    font-weight: 200;
}



.buttonReset {
    display: inline-block;
    outline: none;
    padding: 0.8em !important;
    width: 10em;
    color: black;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px / 100% Arial, Helvetica, sans-serif;
    padding: 0.5em 1em 0.55em;
    /* text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3); */
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.lblClassAmout {
    /*text-align: left !important;*/
    font-weight: bold;
}


@media screen and (max-width: 720px) {
    .lblClassAmout {
        /*text-align: center !important;*/
    }
}




@media screen and (max-width: 1280px) {
    .move-listItembtn {
        width: 80%;
        border: medium none;
        /*background-color: #4AB2F1;*/
        padding: 0px 0px;
        text-align: center;
        font-size: 0.8em;
        /*color: #FFF;*/
        text-transform: uppercase;
    }
}

@media screen and (min-width: 1001px) {
    .move-listItembtn {
        width: 80%;
        border: medium none;
        padding: 0px 0px;
        text-align: center;
        font-size: 0.8em;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 720px) {
    .move-listItembtn {
        width: 20%;
        border: medium none;
        padding: 10px 30px;
        text-align: center;
        font-size: 0.8em;
        text-transform: uppercase;
    }
}

/*@media screen and (max-width: 1280px) {
    .lblClassAmout {
        text-align: left !important;
    }
}*/

/*@media screen and (min-width: 1001px) {
    .lblClassAmout {
        text-align: left !important;
    }
}*/

.buttonExcel {
    background-color: #31b131;
    color: white;
    display: inline-block;
    outline: none;
    padding: 0.8em !important;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px / 100% Arial, Helvetica, sans-serif;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 720px) {
    .col-md-6 {
        width: 100%;
        display: block;
    }

    .col-md-3 {
        width: 100%;
        display: block;
        /*height: 50px;*/
        padding: 2em;
    }

        .col-md-3 input[type="submit"] {
            margin: 1em;
        }
}

/*welcome letter css*/

#tbLetter {
    font-family: Arial;
    font-size: 12px;
}

fieldset.nodesign {
    background: 0;
    border: 0;
    border-style: none;
    padding: 0;
}

.width-50 {
    min-width: 50px;
    width: auto;
}

.display-none {
    display: none;
}

.width-250 {
    min-width: 250px;
    width: auto;
}

.width-200 {
    min-width: 200px;
    width: auto;
}

#imgLogo {
    padding-top: 1em;
}

.tdEmpty, .tdLabel, .td-label, .td-caption, .tdColon, .td-colon, .tdControl, .td-control, .tdValidator, .td-validator {
    float: left;
    padding: 2px;
}

.tdEmpty, .tdLabel, .td-label, .td-caption, .tdColon, .td-colon, .tdControl, .td-control, .tdValidator, .td-validator {
    float: left;
    padding: 2px;
}

@media print {
    .noprint, .uxHeader-bg, #container-foot, #container-page-title, #divRelatedLinks, #div-more-links {
        display: none !important;
    }
}

.width-100 {
    min-width: 100px;
    width: auto;
}

.buttons {
    width: inherit;
}

    .buttons a {
        float: left;
        margin: 0 7px 0 0;
        background-color: #efefef;
        border: 1px solid #cecece;
        border-top: 1px solid #eee;
        border-left: 1px solid #eee;
        font-family: "Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
        font-size: 100%;
        line-height: 130%;
        text-decoration: none;
        font-weight: bold;
        color: #565656;
        cursor: pointer;
        padding: 5px 10px 6px 7px;
    }

     
        

        .buttons a.positive {
            color: #529214;
        }

        .buttons a:hover.positive {
            background-color: #e6efc2;
            border: 1px solid #c6d880;
            color: #529214;
        }

        .buttons a:active.positive, .buttons a:focus.positive {
            background-color: #529214;
            border: 1px solid #529214;
            color: #fff;
        }


#tbReceipt {
    font-family: Arial;
    font-size: 12px;
    padding: 10px;
    background: #fff;
}

.no-bg {
    background: 0;
}

.width-50 {
    min-width: 50px;
    width: auto;
}

.display-none {
    display: none;
}

.width-100 {
    min-width: 100px;
    width: auto;
}

.width-200 {
    min-width: 200px;
    width: auto;
}

.width-250 {
    min-width: 250px;
    width: auto;
    margin-right: 2%;
}

.width-500 {
    min-width: 600px;
    width: auto;
}

@media screen and (max-width: 360px) {

    #ScrollableDiv {
        padding: 6% 5%;
    }
}

@media print {
    .noprint, .uxHeader-bg, #container-foot, #container-page-title, #divRelatedLinks, #div-more-links {
        display: none !important;
    }
}

.width-100 {
    min-width: 100px;
    width: auto;
}

.buttons {
    width: inherit;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 1%;
}

    .buttons a {
        float: left;
        margin: 0 7px 0 0;
        background-color: #efefef;
        border: 1px solid #cecece;
        border-top: 1px solid #eee;
        border-left: 1px solid #eee;
        font-family: "Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
        font-size: 100%;
        line-height: 130%;
        text-decoration: none;
        font-weight: bold;
        color: #565656;
        cursor: pointer;
        padding: 5px 10px 6px 7px;
    }

        /*.buttons a:hover {
            background-color: #dff4ff;
            border: 1px solid #c2e1ef;
            color: #369;
        }*/

        .buttons a:active, .buttons a:focus {
            background-color: #6299c5;
            border: 1px solid #6299c5;
            color: #fff;
        }

        .buttons a.positive {
            color: #529214;
        }

        .buttons a:hover.positive {
            background-color: #e6efc2;
            border: 1px solid #c6d880;
            color: #529214;
        }

        .buttons a:active.positive, .buttons a:focus.positive {
            background-color: #529214;
            border: 1px solid #529214;
            color: #fff;
        }

#lblReceipt table tr {
    line-height: 25px;
}

#tbReceiptCommission {
    font-family: Arial;
    font-size: 12px;
}

    #tbReceiptCommission table, tbody {
        max-width: 100%;
    }

#tbDetailsCommission td {
    padding: 5px;
}



@media print {
    #noprint {
        display: none !important;
    }

    .bold, .bold-text {
        font-weight: bold;
    }

    .RowStyle td, .table-row {
        background-color: #fff;
    }

    .lbdr {
        border-left: 1px solid #000;
    }

    .rbdr {
        border-right: 1px solid #000;
    }

    .tbdr {
        border-top: 1px solid #000;
    }

    .bbdr {
        border-bottom: 1px solid #000;
    }

    RowStyle td input, .AlternatingRowStyle td input, .SortRowStyle td input, .table-row-alternate {
        background-color: #fff;
        vertical-align: middle;
        line-height: 15px;
        color: #000;
        font-weight: normal;
        text-align: right;
        border: 1px solid #d6d6d6;
    }

    .RowStyle td .grid-amount, .AlternatingRowStyle td .grid-amount, .SortRowStyle td .grid-amount, .table-row-alternate {
        background-color: #fff;
        vertical-align: middle;
        line-height: 16px;
        color: #000;
        text-align: right;
        border-collapse: collapse;
        border: 0;
        width: auto;
        height: 16px;
    }
}

@media screen and (max-width: 360px) {
    .move-listItembtn {
        width: 20%;
        border: medium none;
        padding: 0px 0px;
        text-align: center;
        font-size: 0.8em;
        text-transform: uppercase;
    }

    .treeviewResponsiveClass {
        width: 200px;
    }
}

@media screen and (max-width: 360px) {
    .Listtop {
        margin-bottom: 2%;
        margin-right: 0%;
    }
}

@media screen and (max-width: 360px) {
    .Listbottom {
        margin-top: 2%;
    }
}


/*.DirectUIstyle {
    width: 200px !important;
    height: 120px !important;
}


@media screen and (max-width: 1280px) {
    .DirectUIstyle {
        width: 161px !important;
        height: 189px !important;
    }
}

@media screen and (max-width: 720px) {
    .DirectUIstyle {
        width: 161px !important;
        height: 189px !important;
    }
}

@media screen and (max-width: 360px) {
    .DirectUIstyle {
        width: 161px !important;
        height: 189px !important;
    }
}*/

.MarginClass {
    margin-left: 2%;
}

@media screen and (min-width:600px ) {

    .ImageClass {
        width: 50%;
    }

    .exportexcelbtn {
        float: right !important;
    }
}

@media screen and (max-width: 1440x ) {
    .txtright {
        text-align: right;
    }

    .txtleft {
        text-align: left;
    }

    .exportexcelbtn {
        float: right !important;
    }
}

@media screen and (max-width:1280px ) {

    .ImageClass {
        width: 50%;
    }

    .exportexcelbtn {
        /*width:100%;*/
        float: right !important;
    }
}

@media screen and (max-width: 1024px ) {

    .ImageClass {
        width: 50%;
    }

    .txtright {
        text-align: right !important;
    }

    .txtleft {
        text-align: left !important;
    }

    .exportexcelbtn {
        /*width:100%;*/
        float: right !important;
    }
}

@media screen and (max-width: 768px) {
    #pnltree {
        width: 193%;
    }

    .ImageClass {
        width: 50%;
    }

    .txtright {
        text-align: right !important;
    }

    .txtleft {
        text-align: left !important;
    }

    .exportexcelbtn {
        /*width:100%;*/
        float: right !important;
    }
}

@media screen and (max-width: 720px) {
    #pnltree {
        width: 220%;
    }

    .ImageClass {
        width: 100%;
    }

    .txtright {
        text-align: center !important;
    }

    .txtleft {
        text-align: center !important;
    }

    .exportexcelbtn {
        /*width:100%;*/
        text-align: right;
    }
}

@media screen and (max-width: 360px) {
    #pnltree {
        width: 350%;
    }

    .ImageClass {
        width: 100%;
    }

    .txtright {
        text-align: center !important;
    }

    .txtleft {
        text-align: center !important;
    }

    .ccMenu a {
        /*padding: 15px;
        padding: 15px;*/
        display: block;
        width: 100%;
         font-size: 1em !important;
        text-align: left;
    }

    .exportexcelbtn {
        font-size: 0.60em !important;
        /*width:100%;*/
    }

    .message-error {
        color:red !important;
    }
}
