﻿@model San.Plugin.Widgets.Advertisement.Models.ConfigurationModel
@{  
    Html.AddCssFileParts("~/Plugins/Widgets.Advertisement/Content/multi-select.css");
    Html.AddScriptParts("~/Plugins/Widgets.Advertisement/Scripts/jquery.multi-select.js");
}

@using Nop.Core.Infrastructure
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Ticket.Configuration")
        </h1>
        <div class="pull-right">

            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>

        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div id="advertisement-configure" class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    @Html.RenderBootstrapTabHeader("tab-general", @T("Plugins.Widget.Advertisement.General"), true)
                    @Html.RenderBootstrapTabHeader("tab-Override", @T("Plugins.Widget.Advertisement.Restrictions"))
                </ul>
                <div class="tab-content">
                    @Html.RenderBootstrapTabContent("tab-general", @TabGeneral(), true)
                    @Html.RenderBootstrapTabContent("tab-Override", @TabOverride())
                </div>
            </div>
        </div>
    </div>

    @*<script>
        $(document).ready(function () {
            $("#advertisement-configure").kendoTabStrip({
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                },
                select: tabstrip_on_tab_select
            });
            $('#BlackoutCustomer').multiSelect();
        });

    </script>*@

    @*save selected tab index*@
    <input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(Html.GetSelectedTabName())">
 
}
@helper TabGeneral()
{
//for flashbanner
    <fieldset>
        <legend><strong>@T("Plugins.Widgets.Advertisement.FlashBanner")</strong></legend>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FlashBannerEnabled_OverrideForStore, model => model.FlashBannerEnabled, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FlashBannerEnabled)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FlashBannerEnabled)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FlashBannerPicture_OverrideForStore, model => model.FlashBannerPicture, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FlashBannerPicture)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FlashBannerPicture)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FlashBannerDescription_OverrideForStore, model => model.FlashBannerDescription, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FlashBannerDescription)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FlashBannerDescription)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FlashBannerLink_OverrideForStore, model => model.FlashBannerLink, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FlashBannerLink)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FlashBannerLink)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FlashBannerRepeat_OverrideForStore, model => model.FlashBannerRepeat, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FlashBannerRepeat)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FlashBannerRepeat)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FlashBannerRepeatInterval_OverrideForStore, model => model.FlashBannerRepeatInterval, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FlashBannerRepeatInterval)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FlashBannerRepeatInterval)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FlashBannerOnPageLoad_OverrideForStore, model => model.FlashBannerOnPageLoad, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FlashBannerOnPageLoad)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FlashBannerOnPageLoad)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FlashBannerAutoClose_OverrideForStore, model => model.FlashBannerAutoClose, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FlashBannerAutoClose)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FlashBannerAutoClose)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FlashBannerAutoCloseIntervel_OverrideForStore, model => model.FlashBannerAutoCloseIntervel, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FlashBannerAutoCloseIntervel)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FlashBannerAutoCloseIntervel)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <br />
//for header
    <fieldset>
        <legend><strong>@T("Plugins.Widgets.Advertisement.Header")</strong></legend>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.HeaderEnabled_OverrideForStore, model => model.HeaderEnabled, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.HeaderEnabled)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.HeaderEnabled)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.HeaderPicture_OverrideForStore, model => model.HeaderPicture, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.HeaderPicture)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.HeaderPicture)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.HeaderDescription_OverrideForStore, model => model.HeaderDescription, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.HeaderDescription)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.HeaderDescription)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.HeaderLink_OverrideForStore, model => model.HeaderLink, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.HeaderLink)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.HeaderLink)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.HeaderRepeat_OverrideForStore, model => model.HeaderRepeat, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.HeaderRepeat)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.HeaderRepeat)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.HeaderRepeatInterval_OverrideForStore, model => model.HeaderRepeatInterval, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.HeaderRepeatInterval)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.HeaderRepeatInterval)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.HeaderOnPageLoad_OverrideForStore, model => model.HeaderOnPageLoad, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.HeaderOnPageLoad)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.HeaderOnPageLoad)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.HeaderAutoClose_OverrideForStore, model => model.HeaderAutoClose, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.HeaderAutoClose)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.HeaderAutoClose)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.HeaderAutoCloseIntervel_OverrideForStore, model => model.HeaderAutoCloseIntervel, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.HeaderAutoCloseIntervel)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.HeaderAutoCloseIntervel)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <br />
//for rightbottom
    <fieldset>
        <legend><strong>@T("Plugins.Widgets.Advertisement.RightBottom")</strong></legend>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.RightBottomEnabled_OverrideForStore, model => model.RightBottomEnabled, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.RightBottomEnabled)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.RightBottomEnabled)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.RightBottomPicture_OverrideForStore, model => model.RightBottomPicture, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.RightBottomPicture)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.RightBottomPicture)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.RightBottomDescription_OverrideForStore, model => model.RightBottomDescription, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.RightBottomDescription)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.RightBottomDescription)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.RightBottomLink_OverrideForStore, model => model.RightBottomLink, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.RightBottomLink)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.RightBottomLink)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.RightBottomRepeat_OverrideForStore, model => model.RightBottomRepeat, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.RightBottomRepeat)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.RightBottomRepeat)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.RightBottomRepeatInterval_OverrideForStore, model => model.RightBottomRepeatInterval, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.RightBottomRepeatInterval)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.RightBottomRepeatInterval)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.RightBottomOnPageLoad_OverrideForStore, model => model.RightBottomOnPageLoad, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.RightBottomOnPageLoad)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.RightBottomOnPageLoad)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.RightBottomAutoClose_OverrideForStore, model => model.RightBottomAutoClose, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.RightBottomAutoClose)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.RightBottomAutoClose)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.RightBottomAutoCloseIntervel_OverrideForStore, model => model.RightBottomAutoCloseIntervel, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.RightBottomAutoCloseIntervel)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.RightBottomAutoCloseIntervel)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <br />
//for footer
    <fieldset>
        <legend><strong>@T("Plugins.Widgets.Advertisement.Footer")</strong></legend>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FooterEnabled_OverrideForStore, model => model.FooterEnabled, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FooterEnabled)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FooterEnabled)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FooterPicture1_OverrideForStore, model => model.FooterPicture1, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FooterPicture1)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FooterPicture1)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FooterDescription1_OverrideForStore, model => model.FooterDescription1, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FooterDescription1)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FooterDescription1)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FooterLink1_OverrideForStore, model => model.FooterLink1, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FooterLink1)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FooterLink1)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FooterPicture2_OverrideForStore, model => model.FooterPicture2, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FooterPicture2)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FooterPicture2)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FooterDescription2_OverrideForStore, model => model.FooterDescription2, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FooterDescription2)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FooterDescription2)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FooterLink2_OverrideForStore, model => model.FooterLink2, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FooterLink2)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FooterLink2)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FooterPicture3_OverrideForStore, model => model.FooterPicture3, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FooterPicture3)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FooterPicture3)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FooterDescription3_OverrideForStore, model => model.FooterDescription3, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FooterDescription3)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FooterDescription3)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FooterLink3_OverrideForStore, model => model.FooterLink3, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FooterLink3)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FooterLink3)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FooterPicture4_OverrideForStore, model => model.FooterPicture4, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FooterPicture4)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FooterPicture4)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FooterDescription4_OverrideForStore, model => model.FooterDescription4, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FooterDescription4)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FooterDescription4)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FooterLink4_OverrideForStore, model => model.FooterLink4, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FooterLink4)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FooterLink4)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FooterPicture5_OverrideForStore, model => model.FooterPicture5, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FooterPicture5)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FooterPicture5)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FooterDescription5_OverrideForStore, model => model.FooterDescription5, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FooterDescription5)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FooterDescription5)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FooterLink5_OverrideForStore, model => model.FooterLink5, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FooterLink5)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FooterLink5)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FooterIntervalBetweenSlides_OverrideForStore, model => model.FooterIntervalBetweenSlides, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FooterIntervalBetweenSlides)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FooterIntervalBetweenSlides)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FooterRepeat_OverrideForStore, model => model.FooterRepeat, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FooterRepeat)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FooterRepeat)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FooterRepeatInterval_OverrideForStore, model => model.FooterRepeatInterval, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FooterRepeatInterval)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FooterRepeatInterval)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FooterOnPageLoad_OverrideForStore, model => model.FooterOnPageLoad, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FooterOnPageLoad)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FooterOnPageLoad)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FooterAutoClose_OverrideForStore, model => model.FooterAutoClose, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FooterAutoClose)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FooterAutoClose)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.OverrideStoreCheckboxFor(model => model.FooterAutoCloseIntervel_OverrideForStore, model => model.FooterAutoCloseIntervel, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.FooterAutoCloseIntervel)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.FooterAutoCloseIntervel)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <br />
}
@helper TabOverride()
{
    <fieldset>
        <legend><strong>@T("Plugins.Widgets.Advertisement.BlackList")</strong></legend>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.BlackoutCustomer)
                        </div>
                        <div class="col-md-8">
                            <select multiple="multiple" id="BlackoutCustomer" name="BlackoutCustomer">
                                @foreach (var item in Model.AdvertisementCustomer)
                                {
                                    <option value="@item.Value" selected="@item.Selected">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    
    <br />
    <script>
        $(document).ready(function () {
            $("#advertisement-configure").kendoTabStrip({
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                },
                select: tabstrip_on_tab_select
            });
            $('#BlackoutCustomer').multiSelect();
        });
    </script>
}
