﻿@model Nop.Admin.Models.Trader.TraderModel
@using Nop.Core.Domain.CompanyGst;

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.CustomerId)

<script>
    $(document).ready(function () {
        bindBootstrapTabSelectEvent('customer-edit');
    });
</script>

@{
    var validationSummary = Html.ValidationSummary(true);
    if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
    {
        <div class="message-error">@validationSummary</div>
    }
}
<div class="alert alert-danger alert-dismissable" id="validationMessages">
</div>
<div class="content">
    <div class="form-horizontal">
        <div id="customer-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-info", @T("Admin.Trader.Info"), true)
                @*@Html.RenderBootstrapTabHeader("tab-mapping", @T("Admin.Trader.Mapping"))*@
                @Html.RenderBootstrapTabHeader("tab-bankdetails", @T("Admin.Trader.BankDetails"))

                @if (Model.TraderKYCDocumentEnabled)
                {
                    @Html.RenderBootstrapTabHeader("tab-kycdocument", @T("Account.KYCDocument"))
                }
            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)
                @*@Html.RenderBootstrapTabContent("tab-mapping", @TabMapping())*@
                @Html.RenderBootstrapTabContent("tab-bankdetails", @TabBankDetails())

                @if (Model.TraderKYCDocumentEnabled)
                {
                    @Html.RenderBootstrapTabContent("tab-kycdocument", @TabKYCDocument())
                }
            </div>
        </div>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "trader-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@*save selected tab name*@
<input type="hidden" id="selected-tab-name" name="selected-tab-name" value="@(Html.GetSelectedTabName())">

@helper TabInfo()
{
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                @if (Model.Id > 0)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Code)
                        </div>
                        <div class="col-md-9">
                            @Model.Code
                            @Html.HiddenFor(model => model.Code)
                        </div>
                    </div>
                }
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.FirstName)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.FirstName)
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.LastName)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.LastName)
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.RoleId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.RoleId, Model.AvailableRoles)
                        @Html.ValidationMessageFor(model => model.RoleId)
                        <div class="inputs field-validation-error" id="validationMessagesRoles"></div>
                    </div>
                </div>
                @if (Model.IsShowCompanyType && Model.IsIndianGsTINSetting)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CompanyType)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownListFor(model => model.CompanyType, ((CompanyType)Model.CompanyType).ToSelectListBind())
                            @Html.HiddenFor(model => model.CompanyType)
                            @Html.ValidationMessageFor(model => model.CompanyType)
                        </div>
                    </div>
                }
                @if (!Model.IsShowCompanyType && Model.IsIndianGsTINSetting)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CompanyType)
                        </div>
                        <div class="col-md-9">
                            @Model.CompanyTypeName
                            @Html.HiddenFor(model => model.CompanyType)
                        </div>
                    </div>
                }
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ContractualAmount)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ContractualAmount)
                        @Html.ValidationMessageFor(model => model.ContractualAmount)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ContractualPeriod)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ContractualPeriod)
                        @Html.ValidationMessageFor(model => model.ContractualPeriod)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <b id="MessageNote"> @T("Admin.Note.Note") </b> @T("Admin.Note.TraderContractualPeriodNote")
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Status)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Status, new { @name = "statusName" })
                        <span id="spanStatus"> </span>
                        @Html.ValidationMessageFor(model => model.Status)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ContactPerson)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(x => x.ContactPerson)
                        @Html.ValidationMessageFor(model => model.ContactPerson)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Address)
                    </div>
                    <div class="col-md-9">
                        @Html.NopTextAreaFor(x => x.Address)
                        @Html.ValidationMessageFor(model => model.Address)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.CountryId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.CountryId, Model.AvailableCountries)
                        @Html.HiddenFor(model => model.CountryId)
                        @Html.ValidationMessageFor(model => model.CountryId)
                        <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.StateProvinceId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.StateProvinceId, Model.AvailableStates)
                        @Html.HiddenFor(model => model.StateProvinceId)
                        @Html.ValidationMessageFor(model => model.StateProvinceId)
                        <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.CityId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.CityId, Model.AvailableCities)
                        @Html.ValidationMessageFor(model => model.CityId)
                    </div>
                </div>               
                <div class="form-group" id="CityText">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.CityId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.City)
                    </div>
                </div>
                @*<div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.City)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.City)
                        @Html.ValidationMessageFor(model => model.City)
                    </div>
                </div>*@
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Phone)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Phone)
                        @Html.ValidationMessageFor(model => model.Phone)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Email)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                        <div class="inputs field-validation-error" id="validationMessagesEmail"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Username)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Username)
                        @Html.ValidationMessageFor(model => model.Username)
                        <div class="inputs field-validation-error" id="validationMessagesUsername"></div>
                    </div>
                </div>
                @if (Model.PasswordRequired)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.ResetPassword)
                        </div>
                        <div class="col-md-9">
                            @Html.CheckBoxFor(model => model.ResetPassword)
                            @Html.ValidationMessageFor(model => model.ResetPassword)
                        </div>
                    </div>
                }
                <div class="form-group" id="trPassword">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Password)
                    </div>
                    <div class="col-md-9">
                        @Html.PasswordFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
                <div class="form-group" id="trTipToStrongPass">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9">
                        @*@Html.ActionLink("Tip to Create Strong Password", "Strongpwdtip", "Ewallet")*@
                        <a title="@T(" account.password.strongpassword.title")" href="@Url.Action("strongpwdtip")" id="passwordLink">
                            <b style="color: cornflowerblue">
                                @T("Account.Password.StrongPassword.TipToCreateStrongPassword")
                            </b>
                        </a>
                    </div>
                </div>
                <div class="form-group" id="trConfirmPassword">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ConfirmPassword)
                    </div>
                    <div class="col-md-9">
                        @Html.PasswordFor(model => model.ConfirmPassword)
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        window.onload = function () {
            document.getElementById('passwordLink').onclick = function () {
                var w = window.open(this.href, this.target, 'width=500,height=600');
                return w ? false : true
            }
        }

        $("#validationMessagesUsername").hide();
        $("#validationMessagesEmail").hide();
        $("#validationMessagesRoles").hide();

        $('#RoleId').bind("change", function (e) {
            // 
            var postData = {
                RoleId: $("#RoleId").val()
            };
            addAntiForgeryToken(postData);

            $.ajax({
                type: "POST",
                url: "@(Url.Action("checkTraderPresentForRole", "Trader"))",
                data: postData,
                success: function (data) {

                    if (data == "TraderNotPresent") {
                        $("#validationMessagesRoles").show();
                        $("#validationMessagesRoles").html("@T("Account.Register.Errors.TraderNotPresentForThisRole")");
                        return false;
                    }
                    else {
                        $("#validationMessagesRoles").hide();
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    // alert(thrownError);
                },
                traditional: true
            });
            return false; // prevent the button click from happening
            // }
        });

        if ('@Model.IsCreate' == 'True') {
            $('#Username').bind("propertychange change focusout textout", function (e) {
                // if (e.keyCode == 13) {
                var postData = {
                    userName: $("#Username").val()
                };
                addAntiForgeryToken(postData);

                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("checkUniqueUsername", "Trader"))",
                    data: postData,
                    success: function (data) {
                        if (data == "UsernameAlreadyExists") {
                            $("#validationMessagesUsername").show();
                            $("#validationMessagesUsername").html("@T("Account.Register.Errors.UsernameAlreadyExists")");
                            $("#Username").val('');
                            return;
                        }
                        else {
                            $("#validationMessagesUsername").hide();
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        // alert(thrownError);
                    },
                    traditional: true
                });
                return false; // prevent the button click from happening
                // }
            });

            $('#Email').bind("propertychange change focusout textout", function (e) {
                // if (e.keyCode == 13) {
                var postData = {
                    Email: $("#Email").val()
                };
                addAntiForgeryToken(postData);

                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("checkUniqueEmail", "Trader"))",
                    data: postData,
                    success: function (data) {

                        if (data == "EmailAlreadyExists") {
                            $("#validationMessagesEmail").show();
                            $("#validationMessagesEmail").html("@T("Account.Register.Errors.EmailAlreadyExists")");
                            $("#Email").val('');
                            return;
                        }
                        else {
                            $("#validationMessagesEmail").hide();
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        // alert(thrownError);
                    },
                    traditional: true
                });
                return false; // prevent the button click from happening
                // }
            });
        }

        $(function () {

            $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
                //$('#CountryId').change(function () {
                //
                var selectedItem = $(this).val();
                $("#CountryId").val(selectedItem);
                var StateProvinceId = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        // 
                        StateProvinceId.html('');
                        $('#StateProvinceId').html('');
                        $.each(data, function (id, option) {
                            //  
                            //StateProvinceId.append($('<option></option>').val(option.id).html(option.name));
                            $('#StateProvinceId').append($('<option></option>').val(option.id).html(option.name));
                            $("#CountryId").append(selectedItem);
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
            $("#@Html.FieldIdFor(model => model.StateProvinceId)").change(function () {
                // 
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.CityId)");
                $.ajax({
                    cache: false,
                    type: "GET",
                    async : false,
                    url: "@(Url.Action("GetCitiesByStateId"))",
                    data: { "StateProvinceId": selectedItem },
                success: function (data) {
                    $("#CityId").html('');
                    $.each(data, function (id, option) {
                        // alert(option.id);
                        $("#CityId").append($('<option></option>').val(option.id).html(option.name));
                    });
                  
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve cities.');

                }
            });
            });

            $("#@Html.FieldIdFor(model => model.CityId)").change(function () {
                // 
                var selectedItem = $(this).val();
                if(selectedItem==-1)
                    $("#CityText").show(); 
                else
                    $("#CityText").hide();
           
            });

        });

        $(document).ready(function () {

            $("#CityText").hide();

            if ('@Model.PasswordRequired' == 'True') {
                $('#trPassword').hide();
                $('#trConfirmPassword').hide();
                $('#trTipToStrongPass').hide();
            } else {
                $('#trPassword').show();
                $('#trConfirmPassword').show();
                $('#trTipToStrongPass').show();
            }

            if ('@Model.IsCreate' == 'False') {
                if ('@Model.ResetPassword' == 'True') {
                    $('#trPassword').show();
                    $('#trConfirmPassword').show();
                    $('#trTipToStrongPass').show();
                    $("#ResetPassword").val("true");
                    $("#ResetPassword").prop("checked", true);
                }
            } else {
                //$("#ResetPassword").val("false");
                //$("#ResetPassword").prop("checked", false);
                //$('#trPassword').hide();
                //$('#trConfirmPassword').hide();
                //$('#trTipToStrongPass').hide();
                $('#trConfirmPassword').show();
                $('#trTipToStrongPass').show();
                $("#ResetPassword").val("true");
                $("#ResetPassword").prop("checked", true);
            }

            //$("#ResetPassword").prop("checked", false);
            $("#ResetPassword").click(function () {
                //$("[name = 'statusName'][id = 'Status']").click(function () {
                //  
                if ($(this).prop("checked") == false) {
                    $("#ResetPassword").val("false");
                    $("#ResetPassword").prop("checked", false);
                    $('#trPassword').hide();
                    $('#trConfirmPassword').hide();
                    $('#trTipToStrongPass').hide();
                }
                else {
                    $('#trPassword').show();
                    $('#trConfirmPassword').show();
                    $('#trTipToStrongPass').show();
                    $("#ResetPassword").val("true");
                    $("#ResetPassword").prop("checked", true);
                }
            });


           
            var stateid=@Model.StateProvinceId;
            var cityid=@Model.CityId;
                if( stateid != 0)
                {

                    $("#StateProvinceId option").map(function () {
                        if ($(this).val() == stateid) {
                            return this;
                        }
                    }).attr('selected', 'selected');
                    $('#StateProvinceId').trigger('change');
                }

                //if( cityid != 0)
                //{
                    $("#CityId option").map(function () {
                        if ($(this).val() == cityid) {
                            return this;
                        }
                    }).attr('selected', 'selected');
                    $('#CityId').trigger('change');
                //}
            


        });

        if ('@Model.Status' == 'True') {
            $('#spanStatus').html("Active");
        } else {
            $('#spanStatus').html("Inactive");
        }



        $("#Status").click(function () {
            //$("[name = 'statusName'][id = 'Status']").click(function () {
            // 
            if ($(this).prop("checked") == false) {
                $('#spanStatus').html("Inactive");
            }
            else {
                $('#spanStatus').html("Active");
            }
        });
        @*&& '@Model.IsCreate' == 'False'*@
        if ('@Model.IsIndianGsTINSetting' == 'True' && '@Model.IsDisabledCountryState' == 'True') {
            $('#StateProvinceId').attr("disabled", true);
            $('#CountryId').attr("disabled", true);
        }

        if ('@Model.IsDisabledCompanyType' == 'True') {
            //$('#CompanyType').attr("disabled", true);
            $('#CompanyType').attr('readonly', 'readonly')
        }

    </script>
}

@helper TabMapping()
{
if (Model.Id > 0)
{
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    @if (Model.TraderRoleList.Count > 0)
                    {
                        @Html.HiddenFor(model => model.SelectedTraderIds)

                        //SelectAllTraders
                        if (Model.TraderRoleList.Any(a => a.RoleWiseTraderList.Count > 0))
                        {
                            <div id="masterDiv">
                                <span></span> @Html.NopEditorFor(model => model.SelectAllTraders)
                                @T("Admin.Trader.Fields.SelectAllTraders")

                                <br />
                                @foreach (var role in Model.TraderRoleList)
                                {
                                    <div id="parentDiv">
                                        @if (role.RoleWiseTraderList.Count > 0)
                                        {
                                            <input type="checkbox" id="parent_@role.Id" onchange="doCheckChild(@role.Id);" /><b> @role.Name </b>
                                            <br />
                                            foreach (var trader in role.RoleWiseTraderList)
                                            {
                                                <input type="checkbox" id="child_@trader.Id" value="@trader.Id" onchange="doCheck(@trader.Id);" checked="@trader.Selected" style="width:50px;" />
                                                <label for="@trader.Name">@trader.Name</label>
                                            }
                                        }
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            @T("Admin.Trader.NoTraderFoundToMap")
                        }
                    }
                    else
                    {
                        @T("Admin.Trader.NoTraderFoundToMap")
                    }
                </div>
            </div>
        </div>
}
else
{
        @T("Admin.Trader.SaveBeforeEdit")
}

    <script type="text/javascript">
        function doCheckChild(elem) {
            $('#parent_' + elem)
                .parent('#parentDiv')
                .find('input[type="checkbox"]')
            .prop('checked', $('#parent_' + elem).prop('checked'));
            var selectedTraderIds = ($('#SelectedTraderIds').val()).split(',');
            if ($('#parent_' + elem).prop('checked')) {
                // alert('true');

                $('#parent_' + elem)
                    .parent('#parentDiv')
                    .find('input[type="checkbox"]')
                    .each(function () {
                        if (!isNaN($(this).val())) {
                            $(this).prop('checked', 'checked');
                            selectedTraderIds.push($(this).val());
                            // alert('checking'+$(this).val());
                        }
                    });
            } else {
                // alert('false');
                $('#parent_' + elem)
                .parent('#parentDiv')
                .find('input[type="checkbox"]')
                .each(function (index, value) {
                    if (!isNaN($(this).val())) {
                        $(this).prop('checked', '');
                        selectedTraderIds.splice(index, 1);
                        // alert('checking'+$(this).val());
                    }
                });
            }
            $('#SelectedTraderIds').val(selectedTraderIds.toString());
            //  alert('SelectedTraderIds'+$('#SelectedTraderIds').val());
        }

        function doCheck(elem) {
            var selectedTraderIds = ($('#SelectedTraderIds').val()).split(',');
            if ($('#child_' + elem).prop('checked')) {
                selectedTraderIds.push(elem);
            }
            else {
                for (var i = 0; i < selectedTraderIds.length; i++) {
                    if (selectedTraderIds[i] == elem)
                        selectedTraderIds.splice(i, 1);
                }
            }
            $('#SelectedTraderIds').val(selectedTraderIds.toString());
        }

        $('#SelectAllTraders').on('click', function () {
            $('#SelectAllTraders')
                .parent('#masterDiv')
                .children('#parentDiv')
                .find('input[type="checkbox"]')
            .prop('checked', this.checked);
            if ($('#SelectAllTraders').prop('checked')) {
                //  alert('true');
                var selectedTraderIds = new Array();
                $('#SelectAllTraders')
                    .parent('#masterDiv')
                    .children('#parentDiv')
                    .find('input[type="checkbox"]')
                    .each(function () {
                        if (!isNaN($(this).val()) && this.checked) {
                            selectedTraderIds.push($(this).val());
                            // alert('checking');
                        }
                    });
                $('#SelectedTraderIds').val(selectedTraderIds.toString());
            } else {
                //    alert('false');
                $('#SelectedTraderIds').val('');
            }
            // alert('SelectedTraderIds' + $('#SelectedTraderIds').val());
        });

    </script>
}

@helper TabBankDetails()
{
if (Model.Id > 0)
{
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.AccountNumber)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.AccountNumber)
                            @Html.ValidationMessageFor(model => model.AccountNumber)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.AccHolderName)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.AccHolderName)
                            @Html.ValidationMessageFor(model => model.AccHolderName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.BankName)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.BankName)
                            @Html.ValidationMessageFor(model => model.BankName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.BranchName)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.BranchName)
                            @Html.ValidationMessageFor(model => model.BranchName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.BankAddress)
                        </div>
                        <div class="col-md-9">
                            @Html.NopTextAreaFor(model => model.BankAddress)
                            @Html.ValidationMessageFor(model => model.BankAddress)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.IFSCCode)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.IFSCCode)
                            @Html.ValidationMessageFor(model => model.IFSCCode)
                        </div>
                    </div>
                </div>
            </div>
        </div>
}
else
{
        @T("Admin.Trader.SaveBeforeEditTrader")
}
}


@helper TabKYCDocument()
{
if (Model.Id > 0)
{
    int cnt = 1;
   
        <form action="/Admin/Trader/Edit/" id="" enctype="multipart/form-data" method="post">
            @Html.Hidden("KId")

            @foreach (var KYCDocument in Model.KYCDocumentNames)
            {
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-6">

                                            <label>@(KYCDocument.KYCDocumentName) </label>
                                            @Html.HiddenFor(model => model.CustomerId)
                                            @Html.Hidden("KYCDocumentName", KYCDocument.KYCDocumentName)

                                            @if (!String.IsNullOrEmpty(KYCDocument.KYCDocumentImg))
                                            {
                                                if (Model.StoreInDb)
                                                {
                                                    <div class="image">
                                                        <a onclick="javascript:OpenWindow('@Url.Content("~/Admin/Trader/ViewImage")?Id=@(KYCDocument.Id)&KYCDocumentName=@(KYCDocument.KYCDocumentName)', 800, 250, true); return false;" style='cursor:pointer'>
                                                            <img src="@(KYCDocument.KYCDocumentImg)" alt="KYC Document" id="@(KYCDocument.KYCDocumentName)" width="200" height="200" />
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="image">
                                                        <a onclick="javascript:OpenWindow('@Url.Content("~/Admin/Trader/ViewFolderImage")?CustomerId=@(KYCDocument.Id)&KYCDocumentName=@(KYCDocument.KYCDocumentName)', 800, 250, true); return false;" style='cursor:pointer'>
                                                            <img src="@Url.Content(KYCDocument.KYCDocumentImg)" id="@(KYCDocument.KYCDocumentName)" alt="KYC Document" class="img-responsive" width="200" height="150" />
                                                        </a>

                                                    </div>
                                                }

                                               var  id = "kyc" + cnt;
                                                <input name="file" type="file" id="@id" style="width: 200px;" />
                                                @Html.ValidationMessage("files", new { id = "files", style = "color:#ff0039" })


                                            }
                                            else
                                            {
                                             
                                                  var id = "kyc" + cnt;
                                              
                                                <input name="file" type="file" id="@id" style="width: 200px;" />
                                                @Html.ValidationMessage("files", new { id = "files", style = "color:#ff0039" })
                                            }

                                            @{
                                                var idButton = "kyc" + cnt;
                                            }

                                            <br />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input type="submit" name="upload-KycDocument" id="upload-KycDocument" class="btn bg-green" value="@T("Common.Upload")"
                                                           onclick="return CheckImageSize('@(idButton)');" />
                                                </div>
                                                <div class="col-md-6" style="margin-top: 1%;">
                                                    @if (!String.IsNullOrEmpty(KYCDocument.KYCDocumentImg))
                                                    {
                                                        <input type="submit" name="remove-avatar" id="remove-avatar" class="btn bg-red" value="@T(" Account.Avatar.RemoveKYCDocument")" onclick="return DeleteImage('@(idButton)');" />
                                                    }
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    @if (!String.IsNullOrEmpty(KYCDocument.KYCDocumentImg))
                                    {
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                @Html.NopLabelFor(x => KYCDocument.UploadDate)
                                            </div>
                                            <div class="col-md-7">
                                                @Html.NopDisplayFor(x => KYCDocument.UploadDate)
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <span>
                                        <b>@T("Member.AddMoney.FileuploadNote")</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                                                    cnt++;
                                                }
        </form>
                                                }
                                                else
                                                {
                                                    @T("Admin.Trader.SaveBeforeEditTrader")
                                                }

                                                <script type="text/javascript">

                                                    $('input[type=file]').change(function (e) {
                                                        registrationFlag = false;

                                                        $in = $(this);
                                                        if (this.files.length != 0) {
                                                            if (4194304 < this.files[0].size) {
                                                                $in.next().html("@T("Image must be less than 4mb")");
                                                            }
                                                            else {
                                                                $in.next().html("");


                                                            }
                                                        }
                                                        else {
                                                            $in.next().html("");

                                                        }

                                                    });

                                                    function CheckImageSize(idButton) {
                                                        
                                                        var getFileCount=@Model.KYCDocumentNames.Count ;
                                                        for(var i=1; i<=getFileCount ; i++) {
                                                            $('#KId').val(idButton);
                                                            var file = "kyc" + i;
                                                            if( file != idButton)
                                                            {
                                                                document.getElementById(file).value = "";
                                                                $(".field-validation-valid").val(' ');
                                                            }
                                                            else
                                                            {
                                                                $('#KId').val(idButton);
                                                                var fi = document.getElementById(idButton);
                                                                if (fi.files.length > 0) {
                                                                    var fsize = fi.files.item(0).size;
                                                                    if (4194304 < fsize) {
                                                                        return false;
                                                                    }
                                                                    else
                                                                    {
                                                                        $('#KId').val(idButton);

                                                                    }
                                                                }

                                                            }

                                                        }
                                                    };

                                                    function DeleteImage(idButton) {
                                                        if ($('input[type = file]').val() != null) {
                                                            $('input[type = file]').val('');
                                                        }
                                                        $('#KId').val(idButton);
                                                        var fi = document.getElementById(idButton);

                                                    };
                                                </script>

}

<script type="text/javascript">
    $('#save').click(function () {

        var RoleeId = $("#RoleId").val()
        if (RoleeId== 0) {
            $('#validationMessages').html('');
            $('#validationMessages').show();
            $("#validationMessages").html("@T("Trader.Fields.RoleId.Required")");
            return false;
        }
    });

</script>



<script>
    window.onbeforeunload = function () {
        var inputs = document.getElementsByTagName("button");
        for (var i in inputs) {
            if (inputs[i].type == "button" || inputs[i].type == "submit") {
                inputs[i].disabled = true;
            }
        }
    };
</script>











