﻿@model Nop.Admin.Models.Trader.TraderModel
@{
    //page title
    ViewBag.Title = T("Admin.Trader.EditTraderDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Trader");
}
@using (Html.BeginForm("Edit", "Trader", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
  
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Trader.EditTraderDetails") - @Model.LastName @Model.FirstName
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Trader.EditTraderDetails.BackToList").Text, "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" id="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" id="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>           
        </div>
    </div>

    @Html.Partial("_CreateOrUpdate", Model)
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#validationMessages').html('');
        $('#validationMessages').hide();

        if ('@Model.IsShowCompanyType' == 'True' && '@Model.IsIndianGsTINSetting' == 'True') {
            //         
            if ('@Model.IsCreate' == 'False') {            
                if ($('#CompanyType').val() == "2") {
                    $("#CompanyType option[value='3']").remove();
                }
            }
        }

       
    });
    
</script>