﻿@model  Nop.Admin.Models.Trader.TraderListModel
@using Nop.Admin.Models.CompanyGst
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    ViewBag.Title = T("Admin.Trader.List").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Trader");
}
<link href="~/Administration/Content/KendoFreezColumnHeader.css" rel="stylesheet" />
@{
    List<SelectListItem> StatusList = new List<SelectListItem>{
    new SelectListItem{ Text="Active",Value="1", Selected =true},
     new SelectListItem{ Text="In-Active",Value="0"}
    };


    List<SelectListItem> CompanyTypeList = new List<SelectListItem>{
    new SelectListItem{ Text="All Records",Value="0", Selected =true},
    new SelectListItem{ Text="Registered",Value="1"},
    new SelectListItem{ Text="Composite",Value="2"},
    new SelectListItem{ Text="Unregistered",Value="3"}
    };
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Trader.List")
        </h1>
        <div class="pull-right">
            <a href="@Url.Action("Create")" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
            <div class="btn-group">
                <button type="submit" class="btn btn-success" id="exportExcelTraderList" name="exportExcelTraderList">
                    <i class="fa fa-file-excel-o"></i>
                    @T("Admin.Common.ExportToExcel")
                </button>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.RoleId)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.RoleId, Model.AvailableRoles)                                     
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.StatusExport)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.StatusExport, StatusList)                                      
                                    </div>
                                </div>
                                @if (Model.IsIndianGsTINSetting)
                                {
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.CompanyType)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.NopDropDownListFor(model => model.CompanyType, CompanyTypeList)
                                            @Html.ValidationMessageFor(model => model.CompanyType)
                                        </div>
                                    </div>
                                }
                                @Html.HiddenFor(model => model.CompanyType)


                                <div class="col-md-4 col-md-offset-4">
                                    <button type="button" id="search-Trader" class="btn bg-blue">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>                      
                    </div>
                </div>
            </div>
                <div class="panel panel-default" id="divLockedCell">
                    <div class="panel-body">
                        <div id="Trader-grid"></div>

                        <script>
                            $(document).ready(function () {
                                $("#Trader-grid").show();
                                $("#Trader-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("TraderList", "Trader"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    editable: {
                                        confirmation: false,
                                        mode: "inline"
                                    },
                                    //scrollable: false,
                                    columns: [ {
                                        field: "Id",
                                        title: "@T("Admin.Traders.Fields.Id")",
                                        width: 50,
                                        hidden : true
                                    },{
                                        field: "Code",
                                        title: "@T("Admin.Traders.Fields.Code")",
                                        locked:true,
                                        width: 80
                                    }, {
                                        field: "Name",
                                        title: "@T("Admin.Traders.Fields.Name")",
                                         width: 120
                                    },{
                                        field: "UserName",
                                        title: "User Name @*@T("Admin.Traders.Fields.UserName")*@",
                                        width: 100
                                    } ,{
                                        field: "RoleName",
                                        title: "@T("Admin.Traders.Fields.RoleName")",
                                        width: 100
                                    },
                                     @if (Model.IsIndianGsTINSetting)
                            {
                                    <text>{
                                         field: "CompanyTypeName",
                                         title: "@T("Admin.ComapnyGstMaster.CompanyType")",
                                         width: 100
                                     },</text>
                            }
                                    {
                                        field: "CreatedDate",
                                        title: "@T("Admin.Traders.Fields.CreatedDate")",
                                        width: 200
                                        //type: "date",
                                        //format: "{0:G}"
                                    },{
                                        field: "City",
                                        title: "@T("Admin.Traders.Fields.City")",
                                        width: 100
                                    },{
                                        field: "State",
                                        title: "@T("Admin.Traders.Fields.StateProvince")",
                                        width: 100
                                    },{
                                        field: "Country",
                                        title: "@T("Admin.Traders.Fields.Country")",
                                        width: 100
                                    }, {
                                        field: "ContactPerson",
                                        title: "@T("Admin.Traders.Fields.ContactPerson")",
                                        width: 100
                                    },   {
                                        field: "PhoneNo",
                                        title: "@T("admin.Traders.Fields.mobileno")",
                                        width: 100
                                    },{
                                        field: "Status",
                                        title: "@T("Account.Traders.Fields.Status")",
                                        width: 100,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '# if(Status) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                    }, {
                                        field: "Id",
                                        title: "@T("Admin.Common.Edit")",
                                        width: 100,
                                        width: 100,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                    }]
                                });
                                var grid = $("#Trader-grid").data("kendoGrid");

                                grid.lockColumn("Name");
                            });

                         
                            var count=0;
                            $('a.sidebar-toggle').on('click', function () {
                                if(count==0)
                                {


                                    $.get(location.href).then(function(kendoGrid) {
                                        $("#divLockedCell").html($(kendoGrid).find("#divLockedCell").html())
                                     
                                    })
                                    count=count+1;
                                    return false;
                                }
                            });
                        </script>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                //search button
                                $("#search-Trader").click(function () {
                                    //search
                                    $("#Trader-grid").show();
                                    var grid = $("#Trader-grid").data('kendoGrid');
                                    grid.dataSource.page(1); //new search. Set page size to 1
                                    //grid.dataSource.read(); we already loaded the grid above using "page" function
                                    return false;
                                });

                                $("#@Html.FieldIdFor(model => model.ContactPerson)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-Trader").click();
                                        return false;
                                    }
                                });
                                $("#@Html.FieldIdFor(model => model.Status)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-Trader").click();
                                        return false;
                                    }
                                });
                            });

                            function additionalData() {
                                var data = {
                                    ContactPerson: $('#@Html.FieldIdFor(model => model.ContactPerson)').val(),
                                    StatusExport:$('#@Html.FieldIdFor(model => model.StatusExport)').val(),
                                    RoleId:$('#@Html.FieldIdFor(model => model.RoleId)').val(),
                                    CompanyType:$('#@Html.FieldIdFor(model => model.CompanyType)').val(),
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }


                            $('#btnReset').click(function () {
                                $("#Trader-grid").hide();
                                $("#RoleId").val("0");
                                $("#StatusExport").val("1");
                            });
                        </script>
                    </div>
                </div>
        </div>
    </div>
    </div>
}