﻿@model Nop.Admin.Models.StockReturns.StockReturnListModel

@using Nop.Core.Domain.Catalog
@using Nop.Admin.WebServices;
@using Nop.Core;
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //var _currencyService = DependencyResolver.Current.GetService<ICurrencyService>();
    var isVFMember = EngineContext.Current.Resolve<IWorkContext>().WorkingCurrency.DisplayLocale;
    var currency = WebService.GetCurrencySymbol(isVFMember);
    ViewBag.Title = "List";

    Html.SetActiveMenuItemSystemName("Return Stock");
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.StockRetrun")
        </h1>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.SupplierName)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.HiddenFor(model => model.SupplierId)
                                        @Html.NopEditorFor(model => model.SupplierName)
                                        @Html.ValidationMessageFor(model => model.SupplierName)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.PurchaseOrderCode)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.HiddenFor(model => model.PoCode)
                                        @Html.NopEditorFor(model => model.PurchaseOrderCode)
                                        @Html.ValidationMessageFor(model => model.PurchaseOrderCode)
                                        <div id="divpocode" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.GRNOrderCode)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.HiddenFor(model => model.GRNCode)
                                        @Html.NopEditorFor(model => model.GRNOrderCode)
                                        @Html.ValidationMessageFor(model => model.GRNOrderCode)
                                        <div id="divpgrncode" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ProductName)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.HiddenFor(model => model.ProductId)
                                        @Html.NopEditorFor(model => model.ProductName)
                                        @Html.ValidationMessageFor(model => model.ProductName)
                                        <div id="divproductname" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-4">
                                        <button type="button" id="search-products" name="save" class="btn bg-blue">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="products-grid"></div>

                        <script>
                            $("#validationMessages").hide();
                            $(document).ready(function () {
                                //

                                $("#validationMessages").hide();
                                $("#products-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("StokReturnList", "StockReturn"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    editable: {
                                        confirmation: false,
                                        mode: "inline"
                                    },
                                    scrollable: true,
                                    columns: [
                                    @*{
                                field: "GRNCode",
                                title: "@T("Admin.StockReturn.GRNCode")",
                                headerTemplate: "<input id='mastercheckbox' type='checkbox' />",
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                template: "<input type='checkbox' value='#=Id#' class='checkboxGroups' />",
                                width: 50
                            },*@ {
                                        field: "GRNCode",
                                        title: "@T("Admin.StockReturn.GRNCode")",

                                         width: 100
                                    },
                                    {
                                        field: "POCode",
                                        title: "@T("Admin.PurchaseOrderList.POCode")",

                                        width: 100
                                    },
                                    {
                                        field: "Supplier",
                                        title: "@T("Admin.PurchaseOrderList.Supplier")",
                                        width: 200
                                    },{
                                        field: "RecievedQuantity",
                                        title: "@T("Admin.PurchaseOrderList.RecievedQuantity")",
                                        width: 100
                                    }, @*
                            ,{
                                field: "Status",
                                title: "@T("Admin.PurchaseOrderList.Status")",
                                //width: 150,
                            },*@

                                   {
                                       field: "Id",
                                       title: "@T("Admin.Inventory.StockReturn")",
                                       width: 100,
                                       template: '#=getEditStatus(Status,Id)#'
                                   }]
                                } );
                            });

                            function getEditStatus(status,id)
                            {
                                //  alert('status :'+status);
                                if(status !='New')
                                    return '<a href="Edit/'+id+'">@T("Admin.Inventory.StockReturn")</a>';

                            }
                            function additionalData()
                            {

                                var data={
                                    Status: $('#@Html.FieldIdFor(model => model.Status)').val(),
                                    PoCode: $('#@Html.FieldIdFor(model => model.PoCode)').val(),
                                    ProductId: $('#@Html.FieldIdFor(model => model.ProductId)').val(),
                                    SupplierId:$('#@Html.FieldIdFor(model => model.SupplierId)').val(),
                                    GRNCode:$('#@Html.FieldIdFor(model => model.GRNCode)').val()
                                };
                                addAntiForgeryToken(data);
                                return data;

                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script>
    $("#@Html.FieldIdFor(model => model.SupplierName)").keydown(function (event) {
        if (event.keyCode == 13) {
            $("#search-products").click();
            return false;
        }
    });
    $("#@Html.FieldIdFor(model => model.ProductName)").keydown(function (event) {
        if (event.keyCode == 13) {
            $("#search-products").click();
            return false;
        }
    });
    $("#@Html.FieldIdFor(model => model.PurchaseOrderCode)").keydown(function (event) {
        if (event.keyCode == 13) {
            $("#search-products").click();
            return false;
        }
    });

    $("#search-products").click(function () {

        if($("#PurchaseOrderCode").val()=="")
            $("#PoCode").val("");
        if($("#SupplierName").val()=="")
            $("#SupplierId").val("0");
        if($("#ProductName").val()=="")
            $("#ProductId").val("0");
        if($("#GRNOrderCode").val()=="")
            $("#GRNCode").val("0");
        //search
        var grid = $("#products-grid").data('kendoGrid');
        grid.dataSource.page(1); //new search. Set page size to 1
        //grid.dataSource.read(); we already loaded the grid above using "page" function
        return false;
    });

    $('#SupplierName').autocomplete({
        delay: 500,
        minLength: 1,
        source: '@(Url.Action("BindSupplierName", "StockReturn"))',
        appendTo: '.search-box',
        select: function (event, ui) {
            $("#SupplierName").val(ui.item.SupplierName);
            $("#divfirstname").show();
            $("#SupplierId").val(ui.item.SupplierId);

        }
    }).data("ui-autocomplete")._renderItem = function (ul, item) {
        //   
        var t = item.label;
        //html encode
        t = $('<div/>').text(t).html();
        return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a><span>" + t + "</span></a>")
            .appendTo(ul);
        $("#AddToSupp").show();
    };

    $('#SupplierName').change(function () {
        var validationDivs = "";
        
        $("#validationMessages").hide();
        // var t =  $('#TraderId').val();
        if ($('#SupplierName').val() != "" && $('#SupplierId').val() == "") {
            $("#validationMessages").show();
            validationDivs = validationDivs + '<div>@T("Admin.Validation.SelectAutosuggest")</div>';
            $("#validationMessages").html(validationDivs);
            $('#SupplierName').val('');
            $('#SupplierName').focus();
            return false;
        }
        //  $("#SupplierId").val('');


    });
    //product name
    $('#ProductName').autocomplete({
        delay: 500,
        minLength: 1,
        source: '@(Url.Action("BindProductName", "StockReturn"))',
        appendTo: '.search-box',
        select: function (event, ui) {
            $("#ProductName").val(ui.item.ProductName);
            $("#ProductId").val(ui.item.productId);
            $("#divproductname").show();

        }
    }).data("ui-autocomplete")._renderItem = function (ul, item) {
        //   
        var t = item.label;
        //html encode
        t = $('<div/>').text(t).html();
        return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a><span>" + t + "</span></a>")
            .appendTo(ul);

    };
    $('#ProductName').change(function () {
        var validationDivs = "";
        
        $("#validationMessages").hide();
        // var t =  $('#TraderId').val();
        if ($('#ProductName').val() != "" && $('#ProductId').val() == "") {
            $("#validationMessages").show();
            validationDivs = validationDivs + '<div>@T("Admin.Validation.SelectAutosuggest")</div>';
            $("#validationMessages").html(validationDivs);
            $('#ProductName').val('');
            $('#ProductName').focus();
            return false;
        }
        //  $("#SupplierId").val('');


    });

    // porduct order number
    $('#PurchaseOrderCode').autocomplete({
        delay: 500,
        minLength: 1,
        source: '@(Url.Action("BindPONumber", "StockReturn"))',
        appendTo: '.search-box',
        select: function (event, ui) {

            $("#PoCode").val(ui.item.Code);
            $("#PurchaseOrderCode").val(ui.item.Code);
            $("#divpocode").show();

        }
    }).data("ui-autocomplete")._renderItem = function (ul, item) {
        //   
        var t = item.label;
        //html encode
        t = $('<div/>').text(t).html();
        return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a><span>" + t + "</span></a>")
            .appendTo(ul);
        $("#divpocode").show();
    };

    $('#PurchaseOrderCode').change(function () {
        var validationDivs = "";
        
        $("#validationMessages").hide();
        // var t =  $('#TraderId').val();
        if ($('#PurchaseOrderCode').val() != "" && $('#PoCode').val() == "") {
            $("#validationMessages").show();
            validationDivs = validationDivs + '<div>@T("Admin.Validation.SelectAutosuggest")</div>';
            $("#validationMessages").html(validationDivs);
            $('#PurchaseOrderCode').val('');
            $('#PurchaseOrderCode').focus();
            return false;
        }
        //  $("#SupplierId").val('');


    });
    $('#GRNOrderCode').autocomplete({
        delay: 500,
        minLength: 1,
        source: '@(Url.Action("SearchTermAutoCompleteGRNCode", "StockReturn"))',
        appendTo: '.search-box',
        select: function (event, ui) {

            $("#GRNCode").val(ui.item.GRNCode);
            // $("#GRNOrderCode").val(ui.item.GRNId);
            $("#divpgrncode").show();

        }
    }).data("ui-autocomplete")._renderItem = function (ul, item) {
        //   
        var t = item.label;
        //html encode
        t = $('<div/>').text(t).html();
        return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a><span>" + t + "</span></a>")
            .appendTo(ul);
        $("#divpgrncode").show();
    };
    $('#GRNOrderCode').change(function () {
        var validationDivs = "";
        
        $("#validationMessages").hide();
        // var t =  $('#TraderId').val();
        if ($('#GRNOrderCode').val() != "" && $('#GRNCode').val() == "") {
            $("#validationMessages").show();
            validationDivs = validationDivs + '<div>@T("Admin.Validation.SelectAutosuggest")</div>';
            $("#validationMessages").html(validationDivs);
            $('#GRNOrderCode').val('');
            $('#GRNOrderCode').focus();
            return false;
        }
        //  $("#SupplierId").val('');


    });
</script>
