﻿@{
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";
}
@model ProductModel.AddRelatedProductModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Inventory.PurchaseOrder.AddNew").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Inventory.PurchaseOrder.AddNew")
        </h1>
    </div>
    if (ViewBag.RefreshPage == true)
    {
        <script type="text/javascript">
            try {window.opener.document.forms['@(ViewBag.formId)'].@(ViewBag.btnId).click(); }
            catch (e){}
            window.close();
        </script>
    }


    <div width="100%">
        <div class="form-group">
            <div class="col-md-4">
                @Html.NopLabelFor(model => model.SearchProductName):
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.SearchProductName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.NopLabelFor(model => model.SearchCategoryId):
            </div>
            <div class="col-md-8">
                @Html.DropDownList("SearchCategoryId", Model.AvailableCategories)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.NopLabelFor(model => model.SearchManufacturerId):
            </div>
            <div class="col-md-8">
                @Html.DropDownList("SearchManufacturerId", Model.AvailableManufacturers)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.NopLabelFor(model => model.SearchStoreId):
            </div>
            <div class="col-md-8">
                @Html.DropDownList("SearchStoreId", Model.AvailableStores)
            </div>
        </div>
        <div @(Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null) class="form-group">
            <div class="col-md-4">
                @Html.NopLabelFor(model => model.SearchVendorId):
            </div>
            <div class="col-md-8">
                @Html.DropDownList("SearchVendorId", Model.AvailableVendors)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.NopLabelFor(model => model.SearchProductTypeId):
            </div>
            <div class="col-md-8">
                @Html.DropDownList("SearchProductTypeId", Model.AvailableProductTypes)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <button type="button" id="search-products" class="btn btn-primary btn-search">
                    <i class="fa fa-search"></i>
                    @T("Admin.Common.Search")
                </button>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="products-grid"></div>


            <script>
                $(document).ready(function () {
                    $("#products-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("RelatedProductAddPopupList", "PurchaseOrder"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)]
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "Id",
                            headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                            headerAttributes: { style: "text-align:center" },
                            template: "<input type='checkbox' name='SelectedProductIds' value='#=Id#' class='checkboxGroups' />",
                            attributes: { style: "text-align:center" },
                            width: 50
                        }, {
                            field: "Name",
                            title: "@T("Admin.Catalog.Products.Fields.Name")"
                        }, {
                            field: "Published",
                            title: "@T("Admin.Catalog.Products.Fields.Published")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '# if(Published) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                        }]
                    });
                });
            </script>
        </div>


        <div>
            <div colspan="2">
                <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            </div>
        </div>
    </div>

        <script type="text/javascript">
        $(document).ready(function () {
            $('#search-products').click(function () {
                var grid = $('#products-grid').data('kendoGrid');
                grid.dataSource.page(1); //new search. Set page size to 1
                //grid.dataSource.read(); we already loaded the grid above using "page" function
                //clear selected checkboxes
                $('.checkboxGroups').attr('checked', false).change();
                return false;
            });

            $("#@Html.FieldIdFor(model => model.SearchProductName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#search-products").click();
                    return false;
                }
            });

            //wire up checkboxes
            $('#mastercheckbox').click(function() {
                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
            });

            $('#products-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function(e) {
                updateMasterCheckbox();
            });
        });

        function additionalData() {
            var data = {
                SearchProductName: $('#@Html.FieldIdFor(model => model.SearchProductName)').val(),
                SearchCategoryId: $('#SearchCategoryId').val(),
                SearchManufacturerId: $('#SearchManufacturerId').val(),
                SearchStoreId: $('#SearchStoreId').val(),
                SearchVendorId: $('#SearchVendorId').val(),
                SearchProductTypeId: $('#SearchProductTypeId').val()
            };
            addAntiForgeryToken(data);
            return data;
        }

        function updateMasterCheckbox() {
            var numChkBoxes = $('#products-grid input[type=checkbox][id!=mastercheckbox]').length;
            var numChkBoxesChecked = $('#products-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
        }
        </script>
}
