﻿@model  GuestOrderDetailsModel
@using Nop.Web.Models.Order


@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("Admin.GuestOrder.GuestOrder").Text);
    //page class
    Html.AppendPageCssClassParts("html-login-page");

    //register URL with return URL (if specified)

}
<div class="page login-page">
    <div class="page-title">
        <h1>@T("Admin.GuestOrder.GuestOrder")</h1>
    </div>

    <div class="page-body">
        <div class="customer-blocks">

            <div class="new-wrapper checkout-as-guest-or-register-block">
                @using (Html.BeginForm())
                {
                    <div class="form-fields">

                        <div class="inputs">
                            @Html.LabelFor(m => m.OrderId, new { })
                            @Html.TextBoxFor(m => m.OrderId)
                            @Html.ValidationMessageFor(m => m.OrderId)
                        </div>




                    </div>
                
                <div class="buttons">
                    <input class="button-1 login-button" type="submit" value="@T("Forum.Submit")" />
                </div>
                }
            </div>




        </div>

    </div>
</div>
<script>
    $("#OrderId").val('');
</script>