﻿
<div class="homePageContant" style="display:none">
    <div id="about">
        <div class="container">
            <div class="section-title text-center center">
                <h2>Welcome To Our Comapny</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 text-center wow fadeInDown"> <img src="~/Themes/Motion/WebDesign/img/about.jpg" class="img-responsive" alt=""> </div>
                <div class="col-xs-12 col-md-6 wow fadeInDown">
                    <div class="about-text">
                        <h3>Lorem ipsum dolor sit amet</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="services">
        <div class="container">
            <div class="col-md-10 col-md-offset-1 section-title text-center">
                <h2>Our Services</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 service wow fadeInDown">
                    <img src="~/Themes/Motion/WebDesign/img/residential-design.jpg" class="img-responsive" alt="Project Title">
                    <h3>Our Vision</h3>
                    <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam. Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend.</p>
                </div>
                <div class="col-xs-12 col-sm-4 service wow fadeInDown">
                    <img src="~/Themes/Motion/WebDesign/img/office-design.jpg" class="img-responsive" alt="Project Title">
                    <h3>Our Mission</h3>
                    <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam. Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend.</p>
                </div>
                <div class="col-xs-12 col-sm-4 service wow fadeInDown">
                    <img src="~/Themes/Motion/WebDesign/img/commercial-design.jpg" class="img-responsive" alt="Project Title">
                    <h3>What We Do?</h3>
                    <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam. Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend.</p>
                </div>
            </div>
        </div>
    </div>

  

    <div id="team" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="col-md-8 col-md-offset-2 section-title">
                    <h2>Latest Updates</h2>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
                </div>
                <div id="row">
                    <div class="col-md-3 col-sm-6 team">
                        <div class="thumbnail hvr-float-shadow">
                            <img src="~/Themes/Motion/WebDesign/img/team/01.jpg" alt="..." class="team-img">
                            <div class="caption">
                                <h3><a href="#">Latest News</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 team">
                        <div class="thumbnail hvr-float-shadow">
                            <img src="~/Themes/Motion/WebDesign/img/team/02.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3><a href="#">Latest Events</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 team">
                        <div class="thumbnail hvr-float-shadow">
                            <img src="~/Themes/Motion/WebDesign/img/team/03.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3><a href="#">Achievers</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 team">
                        <div class="thumbnail hvr-float-shadow">
                            <img src="~/Themes/Motion/WebDesign/img/team/04.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3><a href="#">Photo Gallery</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        wow = new WOW(
          {
              animateClass: 'animated',
              offset: 100
          }
        );
        wow.init();
        //document.getElementById('').onclick = function () {
        //    var section = document.createElement('section');
        //    section.className = 'wow fadeInDown';
        //    this.parentNode.insertBefore(section, this);
        //};
    </script>
</div>