﻿@model ProductModel

<script type="text/javascript">
    $(document).ready(function () {

        $("#@Html.FieldIdFor(model => model.SubjectToAcl)").click(toggleAcl);

            toggleAcl();
        });


        function toggleAcl() {
            if ($('#@Html.FieldIdFor(model => model.SubjectToAcl)').is(':checked')) {
                $('#pnl-acl').show();
            }
            else {
                $('#pnl-acl').hide();
            }
        }

</script>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
           
            <div>
                <div class="form-group">
                    <div class="col-md-2 pull-left">
                        @Html.NopLabelFor(model => model.SubjectToAcl)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.SubjectToAcl)
                        @Html.ValidationMessageFor(model => model.SubjectToAcl)
                    </div>
                </div>
                 <div class="form-group" id="pnl-acl">
                     <div class="col-md-12 col-sm-12" >
                         <div class="col-md-2 col-sm-2">
                             @Html.NopLabelFor(model => model.AvailableCustomerRoles)
                         </div>
                     </div>
                     <div class="col-md-12 col-sm-12">
                         @if (Model.AvailableCustomerRoles != null && Model.AvailableCustomerRoles.Count > 0)
                         {
                             @Html.Action("AclDisabledWarning", "Common")
                             foreach (var customerRole in Model.AvailableCustomerRoles)
                             {
                                 <div>
                                     <input type="checkbox" name="SelectedCustomerRoleIds" value="@customerRole.Value" checked="@(Model.SelectedCustomerRoleIds != null && Model.SelectedCustomerRoleIds.Contains(int.Parse( customerRole.Value)))" />@customerRole.Text
                                 </div>
                             }
                         }
                         else
                         {
                             <div>No customer roles defined</div>
                         }
                     </div>
                 </div>
               
              
            </div>
   
        </div>
    </div>
</div>


