﻿@model ProductModel
<div class="panel-group">
    <div class="panel panel-default">

        <div class="panel-body">
            @if (Model.AvailableDiscounts != null && Model.AvailableDiscounts.Count > 0)
            {
                foreach (var discount in Model.AvailableDiscounts)
                {
                    <div class="form-group">
                        <div class="col-md-6 pull-left">
                            <input type="checkbox" name="SelectedDiscountIds" value="@discount.Value"
                                   @if (Model.SelectedDiscountIds != null && Model.SelectedDiscountIds.Contains(int.Parse(discount.Value))) { <text> checked="checked" </text>     } />@discount.Text
                                <br />

                                <br />
                            </div>
                        </div>



                }
            }
            else
            {
                @T("Admin.Catalog.Products.Discounts.NoDiscounts")
            }
        </div>
    </div>
</div>