﻿@model ProductModel
@using Nop.Core
@using Nop.Core.Domain.Customers;

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<script>
    $(document).ready(function () {
        bindBootstrapTabSelectEvent('product-edit');
    });





</script>

<div class="content">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-12 clearfix">
                <div class="pull-left">
                    @*@Html.Action("Mode", "Setting", new { modeName = "product-advanced-mode" })*@
                </div>
                @if (!Model.IsLoggedInAsVendor)
                {
                    @*<button type="button" class="btn btn-info pull-left margin-l-10" id="product-editor-settings" data-toggle="modal" data-target="#productsettings-window">
                            <i class="fa fa-gear"></i>
                            @T("Admin.Configuration.Settings.ProductEditor.Button")
                        </button>*@
                }
            </div>
        </div>
        <strong style="color:red;">@T("Admin.Catalog.Products.Note")</strong><br />
        <div id="product-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-info", @T("Admin.Catalog.Products.Info"), true)
                @Html.RenderBootstrapTabHeader("tab-seo", @T("Admin.Common.SEO"), customCssClass: Model.ProductEditorSettingsModel.Seo ? "" : "advanced-setting")
                @Html.RenderBootstrapTabHeader("tab-pictures", @T("Admin.Catalog.Products.Pictures"))
                @Html.RenderBootstrapTabHeader("tab-Categories", @T("Admin.Catalog.Products.Categories"))
                @Html.RenderBootstrapTabHeader("tab-Manufacturers", @T("Admin.Catalog.Products.Manufacturers"))
                @Html.RenderBootstrapTabHeader("tab-specification-attributes", @T("Admin.Catalog.Products.SpecificationAttributes"), customCssClass: Model.ProductEditorSettingsModel.SpecificationAttributes ? "" : "advanced-setting")
                @*@Html.RenderBootstrapTabHeader("tab-product-attributes", @T("Admin.Catalog.Products.ProductAttributes"), customCssClass: Model.ProductEditorSettingsModel.ProductAttributes ? "" : "advanced-setting")*@
                @if (EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.IsForumModerator())
                {
                    @Html.RenderBootstrapTabHeader("tab-Tier-Prices", @T("Admin.Catalog.Products.TierPrices"))
                }
                @Html.RenderBootstrapTabHeader("tab-Discounts", @T("Admin.Catalog.Products.Discounts"))
                @if (EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.IsForumModerator())
                {
                    @Html.RenderBootstrapTabHeader("tab-Acl", @T("Admin.Catalog.Products.Acl"))
                }
                @Html.RenderBootstrapTabHeader("tab-Stores", @T("Admin.Catalog.Products.Stores"))
                @Html.RenderBootstrapTabHeader("tab-RelatedProducts", @T("Admin.Catalog.Products.RelatedProducts"))
                @Html.RenderBootstrapTabHeader("tab-CrossSells", @T("Admin.Catalog.Products.CrossSells"))
                @Html.RenderBootstrapTabHeader("tab-AssociatedProducts", @T("Admin.Catalog.Products.AssociatedProducts"))

                @if (Model.Id > 0)
                {
                    @Html.RenderBootstrapTabHeader("tab-purchased-with-orders", @T("Admin.Catalog.Products.PurchasedWithOrders"), customCssClass: Model.ProductEditorSettingsModel.PurchasedWithOrders ? "" : "advanced-setting")
                    @Html.RenderBootstrapTabHeader("tab-stock-quantity-history", @T("Admin.Catalog.Products.StockQuantityHistory"), customCssClass: Model.ProductEditorSettingsModel.StockQuantityHistory ? "" : "advanced-setting")
                }
                @Html.RenderBootstrapTabHeader("tab-PackageSetting", @T("Admin.Catalog.Products.DIPV_Mst"))
                @Html.RenderBootstrapTabHeader("tab-packageMappingproducts", @T("Admin.Catalog.Products.packageMappingproducts"))
                @if (Model.isTraderPanalActive == true)
                {
                    @Html.RenderBootstrapTabHeader("tab-ProductPricingSetting", @T("Admin.Catalog.Products.productPricing"))
                }

                @if (Model.IsRoyalitySettingON == true)
                {
                    @Html.RenderBootstrapTabHeader("tab-RoyalitySetting", @T("Admin.Catalog.Products.RoyalitySetting"))
                }
                @if (Model.IsMultipleBinarySettingON == true)
                {
                    @Html.RenderBootstrapTabHeader("tab-MultipleBinarySetting", @T("Admin.Catalog.Products.MultipleBinarySetting"))
                }
            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)
                @Html.RenderBootstrapTabContent("tab-seo", @TabSeo())
                @Html.RenderBootstrapTabContent("tab-pictures", @TabPictures())
                @Html.RenderBootstrapTabContent("tab-Categories", @TabCategories())
                @Html.RenderBootstrapTabContent("tab-Manufacturers", @TabManufacturers())
                @Html.RenderBootstrapTabContent("tab-specification-attributes", @TabSpecificationAttributes())
                @*@Html.RenderBootstrapTabContent("tab-product-attributes", @TabProductAttributes())*@
                @if (EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.IsForumModerator())
                {
                    @Html.RenderBootstrapTabContent("tab-Tier-Prices", @TabTierPrices())
                }
                @Html.RenderBootstrapTabContent("tab-Discounts", @TabDiscounts())
                @if (EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.IsForumModerator())
                {
                    @Html.RenderBootstrapTabContent("tab-Acl", @TabAcl())
                }
                @Html.RenderBootstrapTabContent("tab-Stores", @TabStores())
                @Html.RenderBootstrapTabContent("tab-RelatedProducts", @TabRelatedProducts())
                @Html.RenderBootstrapTabContent("tab-CrossSells", @TabCrossSells())
                @Html.RenderBootstrapTabContent("tab-AssociatedProducts", @TabAssociatedProducts())


                @if (Model.Id > 0)
                {
                    @Html.RenderBootstrapTabContent("tab-purchased-with-orders", @TabPurchasedWithOrders())
                    @Html.RenderBootstrapTabContent("tab-stock-quantity-history", @TabStockQuantityHistory())
                }

                @Html.RenderBootstrapTabContent("tab-PackageSetting", @TabPackageSetting())
                @Html.RenderBootstrapTabContent("tab-packageMappingproducts", @TabpackageMappingproducts())
                @if (Model.isTraderPanalActive == true)
                {
                    @Html.RenderBootstrapTabContent("tab-ProductPricingSetting", @TabProductPricingSetting())
                }
                @if (Model.IsRoyalitySettingON == true)
                {
                    @Html.RenderBootstrapTabContent("tab-RoyalitySetting", @TabRoyalitySetting())
                }

                @if (Model.IsMultipleBinarySettingON == true)
                {
                    @Html.RenderBootstrapTabContent("tab-MultipleBinarySetting", @TabMultipleBinarySetting())
                }

            </div>
        </div>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "product-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@*save selected tab name*@
<input type="hidden" id="selected-tab-name" name="selected-tab-name" value="@(Html.GetSelectedTabName())">

@helper TabInfo()
{
    @Html.Partial("_CreateOrUpdate.Info", Model)
}

@helper TabSeo()
{
    @Html.Partial("_CreateOrUpdate.SEO", Model)
}

@helper TabPictures()
{
    @Html.Partial("_CreateOrUpdate.Pictures", Model)
}
@helper TabCategories()
{
    @Html.Partial("_CreateOrUpdate.Categories", Model)
}
@helper TabManufacturers()
{
    @Html.Partial("_CreateOrUpdate.Manufacturers", Model)
}

@helper TabSpecificationAttributes()
{
    @Html.Partial("_CreateOrUpdate.SpecificationAttributes", Model)
}

@helper TabProductAttributes()
{
    @Html.Partial("_CreateOrUpdate.ProductAttributes", Model)
}

@helper TabTierPrices()
{
    @Html.Partial("_CreateOrUpdate.TierPrices", Model)
}

@helper TabDiscounts()
{
    @Html.Partial("_CreateOrUpdate.Discounts", Model)
}

@helper TabAcl()
{
    @Html.Partial("_CreateOrUpdate.Acl", Model)
}

@helper TabStores()
{
    @Html.Partial("_CreateOrUpdate.Stores", Model)
}

@helper  TabRelatedProducts()
{
    @Html.Partial("_CreateOrUpdate.RelatedProducts", Model)
}

@helper TabCrossSells()
{
    @Html.Partial("_CreateOrUpdate.CrossSells", Model)
}

@helper TabAssociatedProducts()
{
    @Html.Partial("_CreateOrUpdate.AssociatedProducts", Model)
}

@helper TabPurchasedWithOrders()
{
    @Html.Partial("_CreateOrUpdate.PurchasedWithOrders", Model)
}

@helper TabStockQuantityHistory()
{
    @Html.Partial("_CreateOrUpdate._StockQuantityHistory", Model)
}

@helper TabPackageSetting()
{
    @Html.Partial("_CreateOrUpdatePackageSetting", Model)
}
@helper TabpackageMappingproducts()
{
    @Html.Partial("_CreateOrUpdatePackageMappingProducts", Model)
}
@helper TabProductPricingSetting()
{
    @Html.Partial("_CreateOrUpdateProductPricing", Model)
}


@if (Model.IsRoyalitySettingON == true)
{
    @helper TabRoyalitySetting()
    {
        @Html.Partial("_CreateOrUpdateRoyalitySetting", Model)
}

}

@if (Model.IsMultipleBinarySettingON == true)
{
    @helper TabMultipleBinarySetting()
    {
        @Html.Partial("_CreateOrUpdateMultipleBinarySetting", Model)
}
}

