﻿@model ProductModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">

            @<div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.MetaKeywords)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(x => x.MetaKeywords)
                        @Html.ValidationMessageFor(model => model.MetaKeywords)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.MetaDescription)
                    </div>
                    <div class="col-md-9">
                        @Html.NopTextAreaFor(x => x.MetaDescription)
                        @Html.ValidationMessageFor(model => model.MetaDescription)
                    </div>
                </div>
                 <div class="form-group">
                     <div class="col-md-3">
                         @Html.NopLabelFor(model => model.MetaTitle)
                     </div>
                     <div class="col-md-9">
                         @Html.NopEditorFor(x => x.MetaTitle)
                         @Html.ValidationMessageFor(model => model.MetaTitle)
                     </div>
                 </div>
                 <div class="form-group">
                     <div class="col-md-3">
                         @Html.NopLabelFor(model => model.SeName)
                     </div>
                     <div class="col-md-9">
                         @Html.NopEditorFor(x => x.SeName)
                         @Html.ValidationMessageFor(model => model.SeName)
                     </div>
                 </div>

            </div>

        </div>
    </div>
</div>