﻿@{

    ViewBag.Title = T("Admin.ProductImport").Text;

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Product Import");
}
<style type="text/css">
    table {
        background: rgba(255, 255, 255, 0.17);
        border-collapse: separate;
        box-shadow: inset 0 1px 0 #fff;
        font-size: 12px;
        line-height: 24px;
        margin: 30px auto;
        text-align: left;
        width: 800px;
    }

    th {
        background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
        border-left: 1px solid #555;
        border-right: 1px solid #777;
        border-top: 1px solid #555;
        border-bottom: 1px solid #333;
        box-shadow: inset 0 1px 0 #999;
        color: #fff;
        font-weight: bold;
        padding: 10px 15px;
        position: relative;
        text-shadow: 0 1px 0 #000;
    }

        th:after {
            background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
            content: '';
            display: block;
            height: 25%;
            left: 0;
            margin: 1px 0 0 0;
            position: absolute;
            top: 25%;
            width: 100%;
        }

        th:first-child {
            border-left: 1px solid #777;
            box-shadow: inset 1px 1px 0 #999;
        }

        th:last-child {
            box-shadow: inset -1px 1px 0 #999;
        }

    td {
        border-right: 1px solid #fff;
        border-left: 1px solid #e8e8e8;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
        padding: 1px 15px;
        position: relative;
        transition: all 300ms;
    }

        td:first-child {
            box-shadow: inset 1px 0 0 #fff;
        }

        td:last-child {
            border-right: 1px solid #e8e8e8;
            box-shadow: inset -1px 0 0 #fff;
        }

    tr {
        background: url(http://jackrugile.com/images/misc/noise-diagonal.png);
    }

        /*tr:nth-child(odd) td {
            background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);
        }*/

        tr:last-of-type td {
            box-shadow: inset 0 -1px 0 #fff;
        }

            tr:last-of-type td:first-child {
                box-shadow: inset 1px -1px 0 #fff;
            }

            tr:last-of-type td:last-child {
                box-shadow: inset -1px -1px 0 #fff;
            }

    /*tbody:hover td {
        color: transparent;
        text-shadow: 0 0 3px #aaa;
    }

    tbody:hover tr:hover td {
        color: #444;
        text-shadow: 0 1px 0 #fff;
    }*/
</style>

<div id="divLoading1" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
    <p style="position: absolute; top: 30%; left: 35%; color: White;">
        Loading, please wait...
    </p>
</div>

<div id="ajaxBusy">
    <span>&nbsp;</span>
</div>

@using (Html.BeginForm("ImportProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.ProductImport")
        </h1>
        <div class="pull-right">
            <button type="submit" id="upload-KycDeocument" name="Excel-Format" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                @T("Admin.BulkImport.excelFormat")
            </button>

        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <input type="file" name="files" id="UploadFile" accept=".png, .jpg, .jpeg" multiple  />

                                    </div>
                                </div>
                                <br />
                                <div class="form-group" id="ImportProductfile">
                                    <div class="col-md-1">
                                        <button type="submit" name="Import-ProductImages" id="ImportProductImages" class="btn btn-primary">
                                            @T("Admin.Common.ProductImport")
                                        </button>
                                    </div>
                                </div>
                                <div class="section-header" style="border: none; padding-top: 1em;">
                                    <div class="title">
                                        Note :
                                    </div>
                                </div>
                                <table class="adminContent">
                                    <tr><td><b style="color:red">@T("admin.ProductImport.note12")</b></td></tr>
                                    <tr><td><b style="color:red">@T("Member.AddMoney.FileuploadNoteRelatedProduct")</b></td></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <div class="col-md-6">
                                        <div id="myForm">
                                            <input type="checkbox" value="error" name="ProductNameerror" id="ProductNameerror" /><label style="padding: 1%;">Check to skip duplicate product name</label>
                                            @*<input type="radio" value="error" class="example" name="ProductNameerror" id="ProductNameerror" checked /><label>Same Product Name throw error </label>*@
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <input type="file" id="importexcelfile" name="importexcelfile" />
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="col-md-1">
                                        <button type="submit" name="Import-Excel" id="ImportExcel" class="btn btn-primary">
                                            @T("Admin.Common.ImportFromExcel")
                                        </button>
                                    </div>
                                </div>
                                <div class="section-header" style="border: none; padding-top: 1em;">
                                    <div class="title">
                                        Note :
                                    </div>
                                </div>
                                <table class="adminContent">
                                    @*<tr><td><b style="color:red;">@T("admin.bulkimport.note1")</b></td></tr>*@
                                    <tr><td><b>@T("admin.bulkimport.note2")</b></td></tr>
                                    <tr><td><b>@T("admin.bulkimport.note3")</b></td></tr>
                                    <tr><td><b>@T("admin.Productimport.note4")</b></td></tr>
                                    <tr><td><b>@T("admin.Productimport.note5")</b></td></tr>
                                    <tr><td><b>@T("admin.Productimport.note6")</b></td></tr>
                                    <tr><td><b>@T("admin.Productimport.note7")</b></td></tr>
                                    <tr><td><b>@T("admin.Productimport.note8")</b></td></tr>
                                    <tr><td><b>@T("admin.Productimport.note9")</b></td></tr>
                                    <tr><td><b>@T("admin.Productimport.note10")</b></td></tr>
                                    <tr><td><b>@T("admin.Productimport.note11")</b></td></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        $(document).ready(function () {
            
            $("#validationMessages").hide();

            $('input[type=file]').change(function (e) {

                registrationFlag = false;

                $in = $(this);
                var i;
                var totalFileSizeInByte = 0;
                for (i = 0; i < this.files.length; i++) {
                    totalFileSizeInByte += this.files[i].size;
                }
                if (26214400 <= totalFileSizeInByte) {
                    $("#validationMessages").show();
                    $('#validationMessages').append("Images must be less than 25mb");
                    $('#ImportProductfile').hide();
                } else {
                    $("#validationMessages").hide();
                    $('#ImportProductfile').show();
                }
            });

        });

        //$('input.example').on('change', function () {
        //    $('input.example').not(this).prop('checked', false);
        //});
    </script>
}
