﻿@{
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";
}
@model ProductModel.AddPackageMappingProductsModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Catalog.Products.PackageMappingProducts.AddNew").Text;
}
@if (ViewBag.RefreshPage == true)
{
    <script type="text/javascript">
        try {
            window.opener.document.forms['@(ViewBag.formId)'].@(ViewBag.btnId).click();
        } catch (e) {
        }
        window.close();
    </script>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Catalog.Products.PackageMappingProducts.AddNew")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn btn-success">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
          
        </div>
    </div>

    <div class="content">
        @Html.ValidationSummary(false)
        <div class="form-horizontal">

            @Html.HiddenFor(model => model.ProductId)
            <div class="panel-group">
                <div class="panel panel-default panel-popup">
                    <div class="panel-body">
                        <p>
                            @T("Admin.Catalog.Products.ProductAttributes.Attributes.Condition.Description")
                        </p>

                        <div class="form-group">
                            <div class="col-sm-3">
                                @Html.NopLabelFor(model => model.SearchProductName)
                            </div>
                            <div class="col-sm-9">
                                @Html.NopEditorFor(model => model.SearchProductName)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                @Html.NopLabelFor(model => model.SearchCategoryId)
                            </div>
                            <div class="col-sm-9">
                                @Html.NopDropDownList("SearchCategoryId", Model.AvailableCategories)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                @Html.NopLabelFor(model => model.SearchManufacturerId)
                            </div>
                            <div class="col-sm-9">
                                @Html.NopDropDownList("SearchManufacturerId", Model.AvailableManufacturers)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                @Html.NopLabelFor(model => model.SearchStoreId)
                            </div>
                            <div class="col-sm-9">
                                @Html.NopDropDownList("SearchStoreId", Model.AvailableStores)
                            </div>
                        </div>
                        @if (!Model.IsLoggedInAsVendor)
                        {
                            <div class="form-group" @(Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
                                <div class="col-sm-3">
                                    @Html.NopLabelFor(model => model.SearchVendorId)
                                </div>
                                <div class="col-sm-9">
                                    @Html.NopDropDownList("SearchVendorId", Model.AvailableVendors)
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <div class="col-sm-3">
                                @Html.NopLabelFor(model => model.SearchProductTypeId)
                            </div>
                            <div class="col-sm-9">
                                @Html.NopDropDownList("SearchProductTypeId", Model.AvailableProductTypes)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button type="button" class="btn btn-primary" id="search-products">
                                    @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">

                    <div id="products-grid"></div>

                    <script>
                        $(document).ready(function () {
                            $("#products-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("PackageMappingProductsAddPopupList", "Product"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                editable: {
                                    confirmation: false,
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [{
                                    field: "Id",
                                    headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                    headerAttributes: { style: "text-align:center" },
                                    template: "<input type='checkbox' name='SelectedProductIds' value='#=Id#' class='checkboxGroups' />",
                                    attributes: {
                                        style: "text-align:center"
                                    },
                                    width: 50
                                }, {
                                    field: "Name",
                                    title: "@T("Admin.Catalog.Products.Fields.Name")",
                                    template: "#:Name#"
                                },{
                                    field: "ProductId",
                                    hidden:true
                                }, {
                                    field: "Published",
                                    title: "@T("Admin.Catalog.Products.Fields.Published")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    @*template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=Published#.gif" />'*@
                                     template: '# if(Published) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                }]
                            });
                        });
                    </script>
                </div>
                <div class="panel-footer">
                   
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-products').click(function () {
                var grid = $('#products-grid').data('kendoGrid');
                grid.dataSource.page(1); //new search. Set page size to 1
                //grid.dataSource.read(); we already loaded the grid above using "page" function
                //clear selected checkboxes
                $('.checkboxGroups').attr('checked', false).change();
                return false;
            });

            $("#@Html.FieldIdFor(model => model.SearchProductName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#search-products").click();
                    return false;
                }
            });


            //wire up checkboxes
            $('#mastercheckbox').click(function() {
                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
            });

            $('#products-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function(e) {
                updateMasterCheckbox();
            });
        });

        function additionalData() {
            var data = {
                SearchProductName: $('#@Html.FieldIdFor(model => model.SearchProductName)').val(),
                SearchCategoryId: $('#SearchCategoryId').val(),
                SearchManufacturerId: $('#SearchManufacturerId').val(),
                SearchStoreId: $('#SearchStoreId').val(),
                SearchVendorId: $('#SearchVendorId').val(),
                SearchProductTypeId: $('#SearchProductTypeId').val(),
                SearchProductId: $('#ProductId').val(),
            };
            addAntiForgeryToken(data);
            return data;
        }

        function updateMasterCheckbox() {
            var numChkBoxes = $('#products-grid input[type=checkbox][id!=mastercheckbox]').length;
            var numChkBoxesChecked = $('#products-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
        }
    </script>
}


