﻿@{
    Layout = "";
}


<div class="page-body">
   
        <div class="inputs">
            <label>@T("Account.Fields.txtUniqueCode") </label>
            @Html.TextBox("txtUniqueCode")          
            @Html.RequiredHint()
            <div class="inputs field-validation-error" id="validationMessagestxtUniqueCode" style="text-align:center"></div>
        </div>
        @*<div class="inputs">
            <label>@T("Account.Fields.txtPinSrNo") </label>
            @Html.TextBox("txtPinSrNo")          
            @Html.RequiredHint()
            <div class="inputs field-validation-error" id="validationMessagestxtPinSrNo" style="text-align:center"></div>
        </div>*@
    
   
</div>
<br />
<script>
    $("#validationMessagestxtUniqueCode").html("");
    $("#validationMessagestxtPassword").html("");
    document.getElementById('validationMessagestxtUniqueCode').style.display = 'none';
    //document.getElementById('validationMessagestxtPinSrNo').style.display = 'none';
    $("#txtUniqueCode").change(function () {

        if ($("#txtUniqueCode").val() == "") {
            $("#validationMessagestxtUniqueCode").html("@T("Dashboard.MyDetails.UpgradeDetails.UniqueCode")");
            document.getElementById('validationMessagestxtUniqueCode').style.display = '';
           
        }
        else {
            $("#validationMessagestxtUniqueCode").html("");
            document.getElementById('validationMessagestxtUniqueCode').style.display = 'none';
            
            var uniqueCode = $("#txtUniqueCode").val();
            $('#txtUniqueCode').val(uniqueCode);
        }
    });

    @*$("#txtPinSrNo").change(function () {

        if ($("#txtPinSrNo").val() == "") {
            $("#validationMessagestxtPinSrNo").html("@T("Dashboard.MyDetails.UpgradeDetails.SerialNo")");
            
            document.getElementById('validationMessagestxtPinSrNo').style.display = '';
        }
        else {
            $("#validationMessagestxtPinSrNo").html("");           
            document.getElementById('validationMessagestxtPinSrNo').style.display = 'none';
            var serialNo = $("#txtPinSrNo").val();
            $('#txtPinSrNo').val(serialNo);
        }
    });*@
</script>