﻿@model Nop.Web.Framework.Models.Checkout.CheckoutPaymentMethodModel
@using Nop.Web.Framework.Models.Checkout;

@{
    Layout = null;
}
@Html.HiddenFor(model => model.OrderAmount)
<div class="registration-page">
    @*<div class="page-body">
        <div class="fieldset">*@
            <div class="inputs">
                <label>@T("Account.Fields.txtAccHolder")</label>
                @Html.TextBox("txtAccHolder")
                @Html.RequiredHint()
                @Html.ValidationMessage("txtAccHolder")
            </div>
            <div class="inputs">
                @if (Model.PrimaryPaymode == "Payments.CreditNoteWallet")
                {
                    <label>@T("Account.Fields.txtPasswordCreditNote")</label>
                }
                else
                {
                    <label>@T("Account.Fields.txtPassword")</label>
                }

                @Html.Password("txtPassword")
                @Html.RequiredHint()
                <div class="inputs field-validation-error" id="validationMessagestxtPassword" style="text-align:center"></div>
            </div>
            <div id="ShowOnWalletPasswordConformation">
                @if (Model.PartialPaymentOnlinePurchase)
            {
                if (Model.PartialPaymodeEwallet || Model.PartialPaymodeCreditNoteWallet)
                {
                        <div class="inputs">
                            @if (Model.PrimaryPaymode == "Payments.CreditNoteWallet")
                            {
                                <label>@T("Account.Fields.PaymentDeductionTypeEwalletCurrentBalCreditNote") </label>
                            }
                            else
                            {
                                <label>@T("Account.Fields.PaymentDeductionTypeEwalletCurrentBal") </label>
                            }

                            @Html.TextBoxFor(model => model.EwalletAmount, new { @readonly = "readonly" })
                        </div>

                        if (Model.PartialPaymentDeductionType == 1)
                        {
                            <div class="inputs">
                                <label>@T("Account.Fields.PaymentDeductionTypeAmount") </label>
                                @Html.TextBoxFor(model => model.PaymentDeductionTypeManualAmt, new { @onkeypress = "return isNumberKey(event)" })
                                @Html.ValidationMessageFor(model => model.PaymentDeductionTypeManualAmt)
                                <div class="inputs field-validation-error" id="validationMessagesEwalletRemainingAmtForManual" style="text-align:center"></div>
                            </div>
                            <div class="inputs">
                                <label>@T("Account.Fields.PaymentDeductionTypeRemainingAmt") </label>
                                @Html.TextBoxFor(model => model.EwalletRemainingAmtForManual, new { @readonly = "readonly" })
                            </div>

                        }
                        else if (Model.PartialPaymentDeductionType == 2 || Model.PartialPaymentDeductionType == 3)
                        {

                            <div class="inputs">
                                <label>@T("Account.Fields.PaymentDeductionTypeAmount") </label>
                                @Html.TextBoxFor(model => model.PaymentDeductionTypeAmtPer, new { @readonly = "readonly" })
                            </div>

                            <div class="inputs">
                                <label>@T("Account.Fields.PaymentDeductionTypeRemainingAmt") </label>
                                @Html.TextBoxFor(model => model.EwalletRemainingAmount, new { @readonly = "readonly" })
                            </div>

                        }
                        <div class="inputs" id="PartialSecondaryPaymodeListDiv">
                            <label>@T("Account.Fields.PartialPayment") </label>
                            @Html.DropDownListFor(model => model.ddlPartialSecondaryPaymode, Model.PartialSecondaryPaymodeList)
                        </div>
                    }
                }
            </div>
        @*</div>
    </div>*@
</div>
<br />
<script>
    $("#validationMessagestxtPassword").html("");
    document.getElementById('validationMessagestxtPassword').style.display = 'none';
    if(document.getElementById("validationMessagesEwalletRemainingAmtForManual"))
    {
        document.getElementById('validationMessagesEwalletRemainingAmtForManual').style.display = 'none';
    }
    $("#txtPassword").focusout(function () {
        if ($("#txtPassword").val() == "") {
            $("#validationMessagestxtPassword").html("@T("Admin.Customers.Customers.List.EnterPassword")");
            document.getElementById('validationMessagestxtPassword').style.display = '';
        }
        else {
            if ('@Model.PrimaryPaymode' == "Payments.CreditNoteWallet")
            {
                if ('@Model.PartialPaymentOnlinePurchase'=='True' && '@Model.PartialPaymodeCreditNoteWallet'=='True')
                {
                    var postData = {
                        WalletPassword: $('#txtPassword').val()
                    };

                    $.ajax({
                        type: "POST",
                        url: "@(Url.Action("checkWalletPassword", "Checkout"))",
                        data: postData,
                        success: function (data) {
                            $("#validationMessagestxtPassword").html("");
                            if (data.ValidPassword == 1) {
                                $('#ShowOnWalletPasswordConformation').show();
                                document.getElementById('validationMessagestxtPassword').style.display = 'none';
                            }
                            else
                            {
                                $('#ShowOnWalletPasswordConformation').hide();
                                $("#validationMessagestxtPassword").html("@T("Registration.InvalidEwalletPassword")");
                                document.getElementById('validationMessagestxtPassword').style.display = '';
                            }
                        }
                    });
                }
                else
                {
                    $("#validationMessagestxtPassword").html("");
                }
            }
            if ('@Model.PrimaryPaymode' == "Payments.EWallet")
            {
                if ('@Model.PartialPaymentOnlinePurchase'=='True' && '@Model.PartialPaymodeEwallet'=='True')
                {
                    var postData = {
                        WalletPassword: $('#txtPassword').val()
                    };

                    $.ajax({
                        type: "POST",
                        url: "@(Url.Action("checkWalletPassword", "Checkout"))",
                        data: postData,
                        success: function (data) {
                            $("#validationMessagestxtPassword").html("");
                            if (data.ValidPassword == 1) {
                                $('#ShowOnWalletPasswordConformation').show();
                                document.getElementById('validationMessagestxtPassword').style.display = 'none';
                            }
                            else
                            {
                                $('#ShowOnWalletPasswordConformation').hide();
                                $("#validationMessagestxtPassword").html("@T("Registration.InvalidEwalletPassword")");
                                document.getElementById('validationMessagestxtPassword').style.display = '';
                            }
                        }
                    });
                }
                else
                {
                    $("#validationMessagestxtPassword").html("");
                }
            }
        }
    });

    $('#txtAccHolder').attr('readonly', true);
    $('#PaymentDeductionTypeManualAmt').focusout(function () {

        var DeductionManualAmtHighThanPackage = 0;
        var DeductionManualAmtHighThanEwallateAmt = 0;
        var DeductionManualZeroAmt = 0;
        $("#validationMessagesEwalletRemainingAmtForManual").hide();
        if(document.getElementById("validationMessagesEwalletRemainingAmtForManual"))
        {
            document.getElementById('validationMessagesEwalletRemainingAmtForManual').style.display = 'none';
        }
        if (parseFloat($('#PaymentDeductionTypeManualAmt').val()) <= 0) {
            $('#PaymentDeductionTypeManualAmt').val('0');
            DeductionManualZeroAmt = 1;
        }

        if (parseFloat($('#PaymentDeductionTypeManualAmt').val()) > parseFloat($('#OrderAmount').val())) {
            $('#PaymentDeductionTypeManualAmt').val('0');
            DeductionManualAmtHighThanPackage = 1;

        }
        if (parseFloat($('#PaymentDeductionTypeManualAmt').val()) > parseFloat($('#EwalletAmount').val())) {

            $('#PaymentDeductionTypeManualAmt').val('0');
            DeductionManualAmtHighThanEwallateAmt = 1;
        }

        if (parseFloat($('#PaymentDeductionTypeManualAmt').val()) <= parseFloat($('#EwalletAmount').val())) {

            var postData = {
                OrderAmount: $('#OrderAmount').val(),
                DeductionAmt: $('#PaymentDeductionTypeManualAmt').val()
            };
            addAntiForgeryToken(postData);
            $.ajax({
                type: "POST",
                url: "@(Url.Action("BindDeductionRemainingAmt", "Checkout"))",
                data: postData,
                success: function (data) {
                    $('#EwalletRemainingAmtForManual').val(data.currencyRemAmt);

                    if (data.currencyRemAmt == 0) {
                        $('#PartialSecondaryPaymodeListDiv').hide();
                    } else {
                        $('#PartialSecondaryPaymodeListDiv').show();
                    }

                    if (DeductionManualZeroAmt == 1) {
                        $("#validationMessagesEwalletRemainingAmtForManual").show();
                        if(document.getElementById("validationMessagesEwalletRemainingAmtForManual"))
                        {
                            document.getElementById('validationMessagesEwalletRemainingAmtForManual').style.display = '';
                        }
                        $("#validationMessagesEwalletRemainingAmtForManual").html("@T("admin.customer.paymentdeductiontypemanualamtgreaterthanzero")");
                    }

                    if (DeductionManualAmtHighThanEwallateAmt == 1) {
                        $("#validationMessagesEwalletRemainingAmtForManual").show();
                        if(document.getElementById("validationMessagesEwalletRemainingAmtForManual"))
                        {
                            document.getElementById('validationMessagesEwalletRemainingAmtForManual').style.display = '';
                        }
                        $("#validationMessagesEwalletRemainingAmtForManual").html("@T("Admin.Customer.ManualAmtLessThnEqualToEwallet")");
                        DeductionManualAmtHighThanEwallateAmt = 0;
                    }

                    if (DeductionManualAmtHighThanPackage == 1) {
                        $("#validationMessagesEwalletRemainingAmtForManual").show();
                        if(document.getElementById("validationMessagesEwalletRemainingAmtForManual"))
                        {
                            document.getElementById('validationMessagesEwalletRemainingAmtForManual').style.display = '';
                        }
                        $("#validationMessagesEwalletRemainingAmtForManual").html("@T("Admin.Customer.ManualAmtLessThnEqualToPkgAmt")");
                        DeductionManualAmtHighThanPackage = 0;
                    }
                }
            });

        }
        if (parseFloat($('#PaymentDeductionTypeManualAmt').val()) > parseFloat($('#PackageAmount').val())) {
            $("#validationMessagesEwalletRemainingAmtForManual").show();
            if(document.getElementById("validationMessagesEwalletRemainingAmtForManual"))
            {
                document.getElementById('validationMessagesEwalletRemainingAmtForManual').style.display = '';
            }
            $("#validationMessagesEwalletRemainingAmtForManual").html("@T("Admin.Customer.ManualAmtLessThnEqualToPkgAmt")");

        }
        if (parseFloat($('#PaymentDeductionTypeManualAmt').val()) > parseFloat($('#EwalletAmount').val())) {
            $("#validationMessagesEwalletRemainingAmtForManual").show();
            if(document.getElementById("validationMessagesEwalletRemainingAmtForManual"))
            {
                document.getElementById('validationMessagesEwalletRemainingAmtForManual').style.display = '';
            }
            $("#validationMessagesEwalletRemainingAmtForManual").html("@T("Admin.Customer.ManualAmtLessThnEqualToEwallet")");
        }


    });

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46)
            return false;
        else {
            var len = document.getElementById("PaymentDeductionTypeManualAmt").value.length;
            var index = document.getElementById("PaymentDeductionTypeManualAmt").value.indexOf('.');

            if (index > 0 && charCode == 46) {
                return false;
            }
            if (index > 0) {
                var CharAfterdot = (len + 1) - index;
                if (CharAfterdot > 3) {
                    return false;
                }
            }

        }
        return true;
    }


    $(document).ready(function () {
        $('#ShowOnWalletPasswordConformation').hide();
        @*$('#EwalletRemainingAmtForManual').val(@Model.OrderAmount);
        $('#PaymentDeductionTypeManualAmt').val('0');*@

        if (@Model.PartialPaymentDeductionType == 1 &&  parseFloat($('#EwalletRemainingAmtForManual').val())==0)
        {
            $('#PartialSecondaryPaymodeListDiv').hide();
        }
        else
        {
            $('#PartialSecondaryPaymodeListDiv').show();
        }

        if ( (@Model.PartialPaymentDeductionType == 2 || @Model.PartialPaymentDeductionType == 3) && parseFloat($('#EwalletRemainingAmount').val())==0)
        {
            $('#PartialSecondaryPaymodeListDiv').hide();
        }
        else
        {
            $('#PartialSecondaryPaymodeListDiv').show();
        }

    });
</script>