﻿@model Nop.Web.Framework.Models.Checkout.CheckoutConfirmModel
@using Nop.Web.Framework.Models.Checkout;
<div class="checkout-data">
    @Html.Widget("op_checkout_confirm_top")
    @if (!string.IsNullOrEmpty(Model.MinOrderTotalWarning) || Model.Warnings.Count > 0)
    {
        <div class="section confirm-order">
            @if (!string.IsNullOrEmpty(Model.MinOrderTotalWarning))
            {
                <div>
                    <span class="min-order-warning">@Model.MinOrderTotalWarning</span>
                </div>
            }
            @if (Model.Warnings.Count > 0)
            {
                <div class="message-error">
                    <ul>
                        @foreach (var warning in Model.Warnings)
                        {
                            <li>@warning</li>
                        }
                    </ul>
                </div>
            }
        </div>
    }   
    @Html.Widget("op_checkout_confirm_bottom")
    <div class="section order-summary">
        @Html.Action("OrderSummary", "ShoppingCart", new { prepareAndDisplayOrderReviewData = true })
    </div>
    @if (Model.ManualDateEnabled)
    {
        <div class="registration-page">
            <div class="page-body">
                <div class="fieldset">
                    <div class="title">
                        <strong>@T("Account.Register.ManualDate")</strong>
                    </div>
                    <div class="form-fields">
                        <div class="inputs date-of-birth">
                            @Html.LabelFor(model => model.txtMyDOJ, new { })
                            @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.OrderPlaceDay),
                                    Html.FieldNameFor(x => x.OrderPlaceMonth),
                                    Html.FieldNameFor(x => x.OrderPlaceYear),
                                            DateTime.Now.Year,
                                            DateTime.Now.Year - 110,
                                            Model.OrderPlaceDay,
                                            Model.OrderPlaceMonth,
                                            Model.OrderPlaceYear)

                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.OrderPlaceDay)
                            @Html.ValidationMessageFor(model => model.OrderPlaceMonth)
                            @Html.ValidationMessageFor(model => model.OrderPlaceYear)
                        </div>

                        <div class="inputs date-of-birth">
                            @Html.LabelFor(model => model.ddlMyHours, new { })
                            @Html.DropDownListFor(model => model.ddlMyHours, new List<SelectListItem>() { new SelectListItem { Text = "00", Value = "0" }, new SelectListItem { Text = "01", Value = "1" }, new SelectListItem { Text = "02", Value = "2" }
                       , new SelectListItem { Text = "03", Value = "3" }, new SelectListItem { Text = "04", Value = "4" }, new SelectListItem { Text = "05", Value = "5" }, new SelectListItem { Text = "06", Value = "6" }
                       , new SelectListItem { Text = "07", Value = "7" }, new SelectListItem { Text = "08", Value = "8" }, new SelectListItem { Text = "09", Value = "9" }, new SelectListItem { Text = "10", Value = "10" }, new SelectListItem { Text = "11", Value = "11" }, new SelectListItem { Text = "12", Value = "12" }
                          }, new { @class = "valid" })

                            @Html.DropDownListFor(model => model.ddlMyMinutes, new List<SelectListItem>() { new SelectListItem { Text = "00", Value = "0" }, new SelectListItem { Text = "01", Value = "1" }, new SelectListItem { Text = "02", Value = "2" }
                       , new SelectListItem { Text = "03", Value = "3" }, new SelectListItem { Text = "04", Value = "4" }, new SelectListItem { Text = "05", Value = "5" }, new SelectListItem { Text = "06", Value = "6" }
                       , new SelectListItem { Text = "07", Value = "7" }, new SelectListItem { Text = "08", Value = "8" }, new SelectListItem { Text = "09", Value = "9" }, new SelectListItem { Text = "10", Value = "10" }, new SelectListItem { Text = "11", Value = "11" }, new SelectListItem { Text = "12", Value = "12" }
                       , new SelectListItem { Text = "13", Value = "13" }, new SelectListItem { Text = "14", Value = "14" }, new SelectListItem { Text = "15", Value = "15" }, new SelectListItem { Text = "16", Value = "16" }, new SelectListItem { Text = "17", Value = "17" }, new SelectListItem { Text = "18", Value = "18" }, new SelectListItem { Text = "19", Value = "19" }, new SelectListItem { Text = "20", Value = "20" }, new SelectListItem { Text = "21", Value = "21" }, new SelectListItem { Text = "22", Value = "22" }, new SelectListItem { Text = "23", Value = "23" }
                       , new SelectListItem { Text = "24", Value = "24" }, new SelectListItem { Text = "25", Value = "25" }, new SelectListItem { Text = "26", Value = "26" }, new SelectListItem { Text = "27", Value = "27" }, new SelectListItem { Text = "28", Value = "28" }
                       , new SelectListItem { Text = "29", Value = "29" }, new SelectListItem { Text = "30", Value = "30" }, new SelectListItem { Text = "31", Value = "31" }, new SelectListItem { Text = "32", Value = "32" }
                       , new SelectListItem { Text = "33", Value = "33" }, new SelectListItem { Text = "34", Value = "34" }, new SelectListItem { Text = "35", Value = "35" }
                       , new SelectListItem { Text = "36", Value = "36" }, new SelectListItem { Text = "37", Value = "37" }, new SelectListItem { Text = "38", Value = "38" }, new SelectListItem { Text = "39", Value = "39" }
                        , new SelectListItem { Text = "40", Value = "40" }, new SelectListItem { Text = "41", Value = "41" }, new SelectListItem { Text = "42", Value = "42" }
                       , new SelectListItem { Text = "43", Value = "43" }, new SelectListItem { Text = "44", Value = "44" }, new SelectListItem { Text = "45", Value = "45" }, new SelectListItem { Text = "46", Value = "46" } , new SelectListItem { Text = "47", Value = "47" }, new SelectListItem { Text = "48", Value = "48" }, new SelectListItem { Text = "49", Value = "49" }
                       , new SelectListItem { Text = "50", Value = "50" }, new SelectListItem { Text = "51", Value = "51" }, new SelectListItem { Text = "52", Value = "52" }, new SelectListItem { Text = "53", Value = "53" }
                       , new SelectListItem { Text = "54", Value = "54" }, new SelectListItem { Text = "55", Value = "55" }, new SelectListItem { Text = "56", Value = "56" }, new SelectListItem { Text = "57", Value = "57" } , new SelectListItem { Text = "58", Value = "58" }, new SelectListItem { Text = "59", Value = "59" }
                       }, new { @class = "valid" })
                            @Html.DropDownListFor(model => model.ddlTimeZone, new List<SelectListItem>() { new SelectListItem { Text = "AM", Value = "AM" }, new SelectListItem { Text = "PM", Value = "PM" } }, new { @class = "valid" })

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (String.IsNullOrEmpty(Model.MinOrderTotalWarning) && Model.TermsOfServiceOnOrderConfirmPage)
    {
        <div id="terms-of-service-warning-box" title="@T("Checkout.TermsOfService")" style="display:none;">
            <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
        </div>
        <div class="terms-of-service">
            <input id="termsofservice" type="checkbox" name="termsofservice"/>
            <label for="termsofservice">@T("Checkout.TermsOfService.IAccept")</label>
            <a class="read" id="read-terms">@T("Checkout.TermsOfService.Read")</a>
            <script>
                $(document).ready(function() {
                    $('#read-terms').on('click', function(e) {
                        e.preventDefault();
                        displayPopupContentFromUrl('@Url.RouteUrl("TopicPopup", new {SystemName = "conditionsofuse"})', '@T("Checkout.TermsOfService")');
                    });
                });
            </script>
        </div>
    }
   
</div>
