﻿@model Nop.Web.Framework.Models.Checkout.CheckoutPaymentInfoModel
@using Nop.Web.Framework.Models.Checkout;
<div class="checkout-data">
    @Html.Widget("op_checkout_payment_info_top")
    @Html.HiddenFor(model => model.Paymode)
    <div >
        @{
            var validationSummary = Html.ValidationSummary(false);
        }
        @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
        {
            <div class="message-error">@validationSummary</div>
        }
        <div class="info">
            @Html.Action(Model.PaymentInfoActionName, Model.PaymentInfoControllerName, Model.PaymentInfoRouteValues)
        </div>
        <div class="inputs" id="Notediv">
            <div style="text-align: center;" class="col-md-12 col-sm-12 col-xs-12">
                <span>
                    @T("Member.AddMoney.FileuploadNote")
                </span>
            </div>
        </div>
        <div class="inputs" id="receipt" style="overflow: inherit;">
            @Html.LabelFor(model => model.Receipt)
            <input type="file" name="receipt" id="file" />
            @Html.ValidationMessage("files", new { id = "files", style = "color:#ff0039" })
        </div>       
       
    </div>
    @Html.Widget("op_checkout_payment_info_bottom")
    @*@if (Model.DisplayOrderTotals)
    {
        <div class="section order-summary">
            @Html.Action("OrderSummary", "ShoppingCart")
        </div>
    }*@
    <div class="section order-summary">
        @Html.Action("OrderSummary", "ShoppingCart")
    </div>
</div>
<script>
    $(document).ready(function () {
        if ('@Model.IsShowReceipt' == 'True') {
            $('#receipt').show();
            $('#file').show();
            $('#Notediv').show();
        } else {
            $('#receipt').hide();
            $('#file').hide();
            $('#Notediv').hide();
        }
    });
    </script>
