﻿@model Nop.Web.Framework.Models.Checkout.CheckoutPaymentInfoModel
@using Nop.Web.Framework.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-payment-info-page");
}
<div class="page checkout-page payment-info-page">
    @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Payment })
    <div class="page-title">
        <h1>@T("Checkout.PaymentInfo")</h1>
    </div>
    <div class="page-body checkout-data">
        @Html.Widget("checkout_payment_info_top")
        <div class="section payment-info">
            @using (Html.BeginRouteForm("CheckoutPaymentInfo", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return validation(this)" }))
            {
                var validationSummary = Html.ValidationSummary(false);
                if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }
                @Html.HiddenFor(model => model.Paymode)
                <div class="message-error" id="errorMsg"></div>
                <div id="OtpSMSSentResult" style="text-align:center;color:green;">
                </div>

                <div class="info">
                    @Html.Action(Model.PaymentInfoActionName, Model.PaymentInfoControllerName, Model.PaymentInfoRouteValues)
                </div>
                //style="text-align:center;display:block;white-space: inherit;"
                <div class="inputs" id="Notediv">
                    <div style="text-align: center;" class="col-md-12 col-sm-12 col-xs-12">
                        <span>
                            @T("Member.AddMoney.FileuploadNote")
                        </span>
                    </div>
                </div>
                <div class="buttons" id="divOTPButton">
                    <input type="submit" id="GenerateOTP" name="GenerateOTP" value="@T("account.register.sendotpbutton")" class="button-1 payment-info-next-step-button" />
                </div>

                <div class="page" id="divOTP">
                    <div class="page-body">
                        <div class="fieldset">
                            <div class="inputs" id="divGeneratedOTP">
                                @Html.LabelFor(model => model.GeneratedOTP)
                                @Html.EditorFor(model => model.GeneratedOTP)
                                <div class="inputs field-validation-error" id="validationMessagestxtAccHolder" style="text-align:center"></div>
                            </div>
                            <div class="buttons" id="divVerifyOTP">
                                <input type="button" id="OTPVerify-button" class="button-1 register-next-step-button" value="@T("account.register.verifyotpbutton")" name="GenerateOTP" />
                                <input type="submit" id="ResendOTP" name="ResendOTP" value="@T("account.register.Resendotpbutton")" class="button-1 payment-info-next-step-button" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inputs" id="receipt" style="overflow: inherit;">
                    @Html.LabelFor(model => model.Receipt)
                    <input type="file" name="receipt" id="file" />
                    @Html.ValidationMessage("files", new { id = "files", style = "color:#ff0039" })
                </div>
                <div class="buttons" id="divNextStep">
                    <input type="submit" name="nextstep" id="nextButton" value="@T("Checkout.NextButton")" class="button-1 payment-info-next-step-button" />
                </div>

            }
        </div>
        @Html.Widget("checkout_payment_info_bottom")
        <div class="section order-summary">
            <div class="title">
                <strong>@T("Checkout.OrderSummary")</strong>
            </div>
            @Html.Action("OrderSummary", "ShoppingCart")
        </div>
    </div>
</div>
<script>

    $("#txtPassword").keydown(function (event) {
        // 
        if (event.keyCode == 13) {
            if ('@Model.EnableOTPForEwallet' == 'True') {
                $("#GenerateOTP").click();
            } else {
                $("#nextButton").click();
            }
            return false;
        }
    });

    $("#txtAccHolder").keydown(function (event) {
        if (event.keyCode == 13) {
            $("#txtPassword").focus();
            return false;
        }
    });

    $(document).ready(function () {
        $('#divOTP').hide();
        $('#errorMsg').hide();
        $('#GenerateOTP').hide();
        $('#ResendOTP').hide();

        if ('@Model.EnableOTPForEwallet' == 'True') {
            $('#divOTP').hide();
            $('#divNextStep').hide();
            $('#GenerateOTP').show();
            $('#divOTPButton').show();
        } else {
            $('#divNextStep').show();
            $('#divOTPButton').hide();
            $('#divOTP').hide();
        }

        $("#GeneratedOTP").attr('maxlength', '6');

        $('#GeneratedOTP').bind('keyup focusout paste', function () {
            this.value = this.value.replace(/[^0-9]/g, '');
        });

        if ('@Model.IsShowReceipt' == 'True') {
            $('#receipt').show();
            $('#file').show();
            $('#Notediv').show();
        } else {
            $('#receipt').hide();
            $('#file').hide();
            $('#Notediv').hide();
        }

        $('#GenerateOTP').click(function (e) {
            // 
            $("#errorMsg").hide();
            $("#OtpSentResult").hide();
            $('#divNextStep').hide();
            $('#ResendOTP').hide();
            $('#OtpSMSSentResult').html('');
            $('#GeneratedOTP').val('');

            var txtAccHolder = $("#txtAccHolder").val();
            var txtPassword = $("#txtPassword").val();

            if (txtAccHolder == "") {
                $("#errorMsg").show();
                $("#errorMsg").html("@T("Checkout.Ewallet.EWalletIdRequired")");
                return false;
            }

            if (txtPassword == "") {
                $("#errorMsg").show();
                $("#errorMsg").html("@T("Checkout.Ewallet.PasswordRequired")");
                return false;
            }

            e.preventDefault();

            var postData = {
                txtAccHolder: txtAccHolder,
                txtPassword: txtPassword
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("GenerateOTP", "Checkout"))",
                data: postData,
                success: function (data) {
                    //
                    if (data == 1) {
                        $("#divVerifyOTP").show();
                        $("#divOTP").show();
                        $("#divGeneratedOTP").show();
                        $("#OtpSMSSentResult").show();
                        $('#ResendOTP').show();
                        $("#errorMsg").hide();
                        $('#GenerateOTP').hide();
                        $("#OtpSMSSentResult").html("@T("Account.Register.Errors.OTPHasBeenSent")");
                    }
                    if (data == "2") {
                        $("#divVerifyOTP").hide();
                        $("#divOTP").hide();
                        $("#divGeneratedOTP").hide();
                        $("#OtpSMSSentResult").hide();
                        $('#errorMsg').show();
                        $("#errorMsg").html("@T("Admin.Password.UpdateMobileNumberInMyProfile")");
                    }
                    if (data == "3") {
                        $("#divVerifyOTP").hide();
                        $("#divOTP").hide();
                        $("#divGeneratedOTP").hide();
                        $("#OtpSMSSentResult").hide();
                        $('#errorMsg').show();
                        $("#errorMsg").html("@T("Checkout.Ewallet.EWalletIdRequired")");
                    }
                    if (data == "4") {
                        $("#divVerifyOTP").hide();
                        $("#divOTP").hide();
                        $("#divGeneratedOTP").hide();
                        $("#OtpSMSSentResult").hide();
                        $('#errorMsg').show();
                        $("#errorMsg").html("@T("Checkout.Ewallet.InvalidEWalletId")");
                    }
                    if (data == "5") {
                        $("#divVerifyOTP").hide();
                        $("#divOTP").hide();
                        $("#divGeneratedOTP").hide();
                        $("#OtpSMSSentResult").hide();
                        $('#errorMsg').show();
                        $("#errorMsg").html("@T("Checkout.Ewallet.PasswordRequired")");
                    }
                    if (data == "6") {
                        $("#divVerifyOTP").hide();
                        $("#divOTP").hide();
                        $("#divGeneratedOTP").hide();
                        $("#OtpSMSSentResult").hide();
                        $('#errorMsg').show();
                        $("#errorMsg").html("@T("Admin.UpgradeTransaction.EwalletPasswordNotSet")");
                    }
                    if (data == "7") {
                        $("#divVerifyOTP").hide();
                        $("#divOTP").hide();
                        $("#divGeneratedOTP").hide();
                        $("#OtpSMSSentResult").hide();
                        $('#errorMsg').show();
                        $("#errorMsg").html("@T("Checkout.Ewallet.InvalidEwalletPassword")");
                    }
                },
            });
            return false;
        });


        $('#ResendOTP').click(function (e) {
            // 
            $("#errorMsg").hide();
            $("#OtpSentResult").hide();
            $('#divNextStep').hide();
            $('#OtpSMSSentResult').html('');
            $('#GeneratedOTP').val('');

            var txtAccHolder = $("#txtAccHolder").val();
            var txtPassword = $("#txtPassword").val();

            if (txtAccHolder == "") {
                $("#errorMsg").show();
                $("#errorMsg").html("@T("Checkout.Ewallet.EWalletIdRequired")");
                return false;
            }

            if (txtPassword == "") {
                $("#errorMsg").show();
                $("#errorMsg").html("@T("Checkout.Ewallet.PasswordRequired")");
                return false;
            }

            e.preventDefault();

            var postData = {
                txtAccHolder: txtAccHolder,
                txtPassword: txtPassword
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("GenerateOTP", "Checkout"))",
                data: postData,
                success: function (data) {
                    //
                    if (data == 1) {
                        $("#divVerifyOTP").show();
                        $("#divOTP").show();
                        $("#divGeneratedOTP").show();
                        $("#OtpSMSSentResult").show();
                        $("#errorMsg").hide();
                        $('#GenerateOTP').hide();
                        $("#OtpSMSSentResult").html("@T("Account.Register.Errors.OTPHasBeenSent")");
                    }
                    if (data == "2") {
                        $("#divVerifyOTP").hide();
                        $("#divOTP").hide();
                        $("#divGeneratedOTP").hide();
                        $("#OtpSMSSentResult").hide();
                        $('#errorMsg').show();
                        $("#errorMsg").html("@T("Admin.Password.UpdateMobileNumberInMyProfile")");
                    }
                    if (data == "3") {
                        $("#divVerifyOTP").hide();
                        $("#divOTP").hide();
                        $("#divGeneratedOTP").hide();
                        $("#OtpSMSSentResult").hide();
                        $('#errorMsg').show();
                        $("#errorMsg").html("@T("Checkout.Ewallet.EWalletIdRequired")");
                    }
                    if (data == "4") {
                        $("#divVerifyOTP").hide();
                        $("#divOTP").hide();
                        $("#divGeneratedOTP").hide();
                        $("#OtpSMSSentResult").hide();
                        $('#errorMsg').show();
                        $("#errorMsg").html("@T("Checkout.Ewallet.InvalidEWalletId")");
                    }
                    if (data == "5") {
                        $("#divVerifyOTP").hide();
                        $("#divOTP").hide();
                        $("#divGeneratedOTP").hide();
                        $("#OtpSMSSentResult").hide();
                        $('#errorMsg').show();
                        $("#errorMsg").html("@T("Checkout.Ewallet.PasswordRequired")");
                    }
                    if (data == "6") {
                        $("#divVerifyOTP").hide();
                        $("#divOTP").hide();
                        $("#divGeneratedOTP").hide();
                        $("#OtpSMSSentResult").hide();
                        $('#errorMsg').show();
                        $("#errorMsg").html("@T("Admin.UpgradeTransaction.EwalletPasswordNotSet")");
                    }
                    if (data == "7") {
                        $("#divVerifyOTP").hide();
                        $("#divOTP").hide();
                        $("#divGeneratedOTP").hide();
                        $("#OtpSMSSentResult").hide();
                        $('#errorMsg').show();
                        $("#errorMsg").html("@T("Checkout.Ewallet.InvalidEwalletPassword")");
                    }
                },
            });
            return false;
        });

        $('#OTPVerify-button').click(function (e) {
            //  
            $("#OtpSMSSentResult").hide();
            var GeneratedOTP = $("#GeneratedOTP").val();
            var txtAccHolder = $("#txtAccHolder").val();
            var txtPassword = $("#txtPassword").val();

            if (txtAccHolder == "") {
                $("#errorMsg").show();
                $("#errorMsg").html("@T("Checkout.Ewallet.EWalletIdRequired")");
                return false;
            }

            if (txtPassword == "") {
                $("#errorMsg").show();
                $("#errorMsg").html("@T("Checkout.Ewallet.PasswordRequired")");
                return false;
            }


            if (GeneratedOTP == "") {
                $("#errorMsg").show();
                $("#errorMsg").html("@T("Account.Register.Errors.EnterOTP")");
                return false;
            }

            e.preventDefault();

            var postData = {
                GeneratedOTP: GeneratedOTP,
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("VerifySMSOTP", "Checkout"))",
                data: postData,
                success: function (data) {
                    // 
                    if (data == "1") {
                        $("#divVerifyOTP").hide();
                        $("#errorMsg").hide();
                        $("#OtpSMSSentResult").show();
                        $("#OtpSMSSentResult").html("@T("Account.Register.Errors.OTPVerified")");
                        $('#divNextStep').show();
                        $('#divGeneratedOTP').hide();
                    }
                    if (data == "2") {
                        $("#divVerifyOTP").show();
                        $("#errorMsg").show();
                        $("#OtpSMSSentResult").hide();
                        $("#errorMsg").html("@T("Account.Register.Errors.EnteredwrongOTP")");
                    }

                    if (data == "3") {
                        $("#divVerifyOTP").show();
                        $("#errorMsg").show();
                        $("#OtpSMSSentResult").hide();
                        $("#errorMsg").html("@T("Account.Register.Errors.ResendOTP")");
                    }
                },
            });
            return false;
        });
    });


    $('input[type=file]').change(function (e) {
        registrationFlag = false;
       // 
        $in = $(this);
        if (this.files.length != 0) {
            if (4194304 < this.files[0].size) {
                $in.next().html("@T("Image must be less than 4mb")");
                ImageFlag.push(true);
            }
            else {
                $in.next().html("");
            }
        }
        else {
            $in.next().html("");
        }
    });

    function validation(thisform) {
        //  
        with (file) {
            var ext = value.substring(value.lastIndexOf('.') + 1);
            if (ext == 0) {
                return true;
            }
        }

        with (thisform) {
            if (validateFileExtension(file, "errorMsg", "@T("Admin.Document.DocumentFormatNote")",
        new Array("jpg", "JPG", "jpeg", "JPEG", "png", "PNG")) == false) {
                //"gif", "GIF",
                return false;
            }
            if (validateFileSize(file, 4194304, "errorMsg", "File size exceeds the limit allowed.") == false) {
                return false;
            }
        }
    }

    function validateFileExtension(component, msg_id, msg, extns) {
        var flag = 0;
        with (component) {
            var ext = value.substring(value.lastIndexOf('.') + 1);
            for (i = 0; i < extns.length; i++) {
                if (ext == extns[i]) {
                    flag = 0;
                    break;
                }
                else {
                    flag = 1;
                }
            }
            if (flag != 0) {
                document.getElementById(msg_id).innerHTML = msg;
                $("#errorMsg").show();

                component.value = "";
                component.style.backgroundColor = "#eab1b1";
                component.style.border = "thin solid #000000";
                component.focus();
                return false;
            }
            else {
                return true;
            }
        }
    }

    function validateFileSize(component, maxSize, msg_id, msg) {
        // 
        if (navigator.appName == "Microsoft Internet Explorer") {
            if (component.value) {
                var oas = new ActiveXObject("Scripting.FileSystemObject");
                var e = oas.getFile(component.value);
                var size = e.size;
            }
        }
        else {
            if (component.files[0] != undefined) {
                size = component.files[0].size;
            }
        }
        if (size != undefined && size > maxSize) {
            //  
            var fileSize = size / 1024;

            document.getElementById(msg_id).innerHTML = msg + " Current File Size: " + Math.round(size / 1024) + "MB";

            //var validationMessage = msg + " Current File Size: " + fileSize + "MB";
            //$("#errorMessage1").val(validationMessage);
            $("#errorMsg").show();

            component.value = "";
            component.style.backgroundColor = "#eab1b1";
            component.style.border = "thin solid #000000";
            component.focus();
            return false;
        }
        else {
            return true;
        }
    }

    $("#nextButton").click(function () {

        var fi = document.getElementById('file');
        if (fi.files.length > 0) {
            var fsize = fi.files.item(0).size;
            if (4194304 < fsize) {
                var flag = true;
                return false;
            }
        }

        @*if (parseFloat($('#PaymentDeductionTypeManualAmt').val())<= 0) {
            $("#validationMessagesEwalletRemainingAmtForManual").show();
            $("#validationMessagesEwalletRemainingAmtForManual").html("@T("admin.customer.paymentdeductiontypemanualamtgreaterthanzero")");
            return false;
        }*@

        // 
        if ($('#Paymode').val() == 'Payments.CheckMoneyOrder' || $('#Paymode').val() == 'Payments.DemandDraft') {
            // 
            var paymodeErrors = "";
            var flag = true;

            if ($('#BankName').val() == '') {
                paymodeErrors = paymodeErrors + '<div>@T("Dashboard.MyDetails.UpgradeDetails.BankName")</div>';
                flag = false;
            }

            if ($('#BranchName').val() == '') {
                paymodeErrors = paymodeErrors + '<div>@T("Dashboard.MyDetails.UpgradeDetails.BranchName")</div>';
                flag = false;
            }

            if ($('#Paymode').val() == 'Payments.CheckMoneyOrder') {
                if ($('#ChequeDDNo').val() == '') {
                    paymodeErrors = paymodeErrors + '<div>@T("Dashboard.MyDetails.UpgradeDetails.ChequeNumber")</div>';
                    flag = false;
                }

                if ($('#ChequeDDDate').val() == '') {
                    paymodeErrors = paymodeErrors + '<div>@T("Dashboard.MyDetails.UpgradeDetails.ChequeDate")</div>';
                    flag = false;
                }
            }

            if ($('#Paymode').val() == 'Payments.DemandDraft') {
                if ($('#ChequeDDNo').val() == '') {
                    paymodeErrors = paymodeErrors + '<div>@T("Dashboard.MyDetails.UpgradeDetails.DDNumber")</div>';
                    flag = false;
                }

                if ($('#ChequeDDDate').val() == '') {
                    paymodeErrors = paymodeErrors + '<div>@T("Dashboard.MyDetails.UpgradeDetails.DDDate")</div>';
                    flag = false;
                }
            }

            if (!flag) {
                $('#PaymodeValidation').html(paymodeErrors);
                return false;
            }
        }
    });
</script>

<style>
    .ui-dialog {
        position: relative !important;
        height: auto !important;
        width: 482px !important;
        top: -90em !important;
        left: 436.5px !important;
        display: block;
    }
</style>