﻿@model Nop.Web.Framework.Models.Checkout.CheckoutPaymentMethodModel
@using Nop.Web.Framework.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-payment-method-page");
}
<style>
    .paymodeName {
        padding-top: 0.5em;
    }
</style>


<div class="page checkout-page payment-method-page">
    @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Payment })
    <div class="page-title">
        <h1>@T("Checkout.SelectPaymentMethod")</h1>
    </div>
    <div class="page-body checkout-data">
        @Html.Widget("checkout_payment_method_top")
        <div class="section payment-method">
            @using (Html.BeginRouteForm("CheckoutPaymentMethod", FormMethod.Post))
            {
                if (Model.DisplayRewardPoints && Model.PaymentMethods.Count > 0)
                {
                    <div class="use-reward-points">
                        @Html.EditorFor(model => model.UseRewardPoints)
                        @string.Format(T("Checkout.UseRewardPoints").Text, Model.RewardPointsBalance, Model.RewardPointsAmount)
                    </div>
                }
                @*if (Model.DisplayRewardPoints && Model.PaymentMethods.Count > 0)
                {
                <div class="use-reward-points">
                    @Html.EditorFor(model => model.UseRewardPoints)
                    @string.Format(T("Checkout.UseRewardPoints").Text, Model.RewardPointsBalance, Model.RewardPointsAmount)
                    @if (Model.RewardPointsEnoughToPayForOrder)
                    {
                        <script type="text/javascript">
                            $(document).ready(function() {
                                $("#@Html.FieldIdFor(model => model.UseRewardPoints)").change(toggleUseRewardPoints);
                                toggleUseRewardPoints();
                            });
                            function toggleUseRewardPoints() {
                                if ($('#@Html.FieldIdFor(model => model.UseRewardPoints)').is(':checked')) {
                                    $('#payment-method-block').hide();
                                } else {
                                    $('#payment-method-block').show();
                                }
                            }
                        </script>
                    }
                </div>
                }*@
                if (Model.PaymentMethods.Count > 0)
                {
                <ul class="method-list" id="payment-method-block">
                    @for (int i = 0; i < Model.PaymentMethods.Count; i++)
                    {
                        var paymentMethod = Model.PaymentMethods[i];
                        var paymentMethodName = paymentMethod.Name;
                        if (!String.IsNullOrEmpty(paymentMethod.Fee))
                        {
                            paymentMethodName = T("Checkout.SelectPaymentMethod.MethodAndFee", paymentMethodName, paymentMethod.Fee).Text;
                        }
                        <li>
                            <div class="method-name">
                                @if (!String.IsNullOrEmpty(paymentMethod.LogoUrl))
                                {
                                    <div class="payment-logo">
                                        <label for="paymentmethod_@(i)">                                           
                                                <img src="@paymentMethod.LogoUrl" alt="@paymentMethodName" />                                          
                                        </label>
                                    </div>
                                }
                                <div class="payment-details">
                                    <input id="paymentmethod_@(i)" type="radio" name="paymentmethod" value="@(paymentMethod.PaymentMethodSystemName)" checked="@paymentMethod.Selected" />
                                    <label for="paymentmethod_@(i)">@paymentMethodName</label>
                                    @if (!string.IsNullOrEmpty(paymentMethod.Description))
                                    {
                                        <div class="payment-description">@paymentMethod.Description</div>
                                    }
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                <div class="buttons">
                    <input type="submit" name="nextstep" value="@T("Checkout.NextButton")" class="button-1 payment-method-next-step-button" />
                </div>
                }
                else
                {
                <div class="message-error">
                    @T("Checkout.NoPaymentMethods")
                </div>
                }
            }
        </div>
        @Html.Widget("checkout_payment_method_bottom")
        <div class="section order-summary">
            <div class="title">
                <strong>@T("Checkout.OrderSummary")</strong>
            </div>
            @Html.Action("OrderSummary", "ShoppingCart")
        </div>
    </div>
</div>
