﻿@{

    ViewBag.Title = T("Admin.BulkImport").Text;

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Bulk Import");
}
<style type="text/css">
    table {
        background: rgba(255, 255, 255, 0.17);
        border-collapse: separate;
        box-shadow: inset 0 1px 0 #fff;
        font-size: 12px;
        line-height: 24px;
        margin: 30px auto;
        text-align: left;
        width: 800px;
    }

    th {
        background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
        border-left: 1px solid #555;
        border-right: 1px solid #777;
        border-top: 1px solid #555;
        border-bottom: 1px solid #333;
        box-shadow: inset 0 1px 0 #999;
        color: #fff;
        font-weight: bold;
        padding: 10px 15px;
        position: relative;
        text-shadow: 0 1px 0 #000;
    }

        th:after {
            background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
            content: '';
            display: block;
            height: 25%;
            left: 0;
            margin: 1px 0 0 0;
            position: absolute;
            top: 25%;
            width: 100%;
        }

        th:first-child {
            border-left: 1px solid #777;
            box-shadow: inset 1px 1px 0 #999;
        }

        th:last-child {
            box-shadow: inset -1px 1px 0 #999;
        }

    td {
        border-right: 1px solid #fff;
        border-left: 1px solid #e8e8e8;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
        padding: 1px 15px;
        position: relative;
        transition: all 300ms;
    }

        td:first-child {
            box-shadow: inset 1px 0 0 #fff;
        }

        td:last-child {
            border-right: 1px solid #e8e8e8;
            box-shadow: inset -1px 0 0 #fff;
        }

    tr {
        background: url(http://jackrugile.com/images/misc/noise-diagonal.png);
    }

        /*tr:nth-child(odd) td {
            background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);
        }*/

        tr:last-of-type td {
            box-shadow: inset 0 -1px 0 #fff;
        }

            tr:last-of-type td:first-child {
                box-shadow: inset 1px -1px 0 #fff;
            }

            tr:last-of-type td:last-child {
                box-shadow: inset -1px -1px 0 #fff;
            }

    /*tbody:hover td {
        color: transparent;
        text-shadow: 0 0 3px #aaa;
    }

    tbody:hover tr:hover td {
        color: #444;
        text-shadow: 0 1px 0 #fff;
    }*/

    
/* THROBBER */
.throbber-header {
    font-size: 200%;
}

.throbber {
    display: none;
}

    .throbber .curtain {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #3e4d45;
        opacity: 0.9;
        filter: alpha(opacity=90);
        z-index: 9999;
    }

    .throbber .curtain-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
    }

        .throbber .curtain-content div {
            text-align: center;
            padding: 250px;
            color: #FFF;
        }
</style>

<div id="divLoading1" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
    <p style="position: absolute; top: 30%; left: 35%; color: White;">
        Loading, please wait...
    </p>
</div>

@*<div id="ajaxBusy">
    <span>&nbsp;</span>
</div>*@
@using (Html.BeginForm("Index", "BulkImport", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()

    <div class="alert alert-success alert-dismissable" id="sucessMessages">
    </div>
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>



    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.BulkImport")
        </h1>
        <div class="pull-right">
            <button type="submit" id="upload-KycDeocument" name="Excel-Format" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                @T("Admin.BulkImport.excelFormat")
            </button>
            <button type="button" id="exportexcel-all" name="exportexcel-all" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                Excel With Sample Data
            </button>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                @*<div class="form-group">

                                        <div class="col-md-6">
                                            <div id="myForm">
                                                <input type="radio" value="skip" name="group1" /><label>Same Member number skip</label>
                                                <input type="radio" value="error" name="group1" checked="checked" /><label>Same Member number throw error </label>
                                            </div>
                                        </div>
                                    </div>*@

                                <div>
                                    <div>
                                        <input type="file" id="FileUpload1" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-1">
                                        <button type="button" id="btnUpload" name="Import-BulkData" class="btn btn-primary btn-search">
                                            <i class="fa fa-search"></i>
                                            @T("Common.Upload")
                                        </button>
                                    </div>
                                    <div class="col-md-1 col-md-offset-1">
                                        <button type="button" id="btnCancel" name="Import-BulkData" class="btn btn-primary btn-search">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Cancel")
                                        </button>
                                    </div>
                                </div>


                                <div class="section-header" style="border: none; padding-top: 1em;">
                                    <div class="title">
                                        Note :
                                    </div>
                                </div>
                                <table class="adminContent">
                                    <tr><td><b style="color:red;">@T("admin.bulkimport.note1")</b></td></tr>
                                    <tr><td><b>@T("admin.bulkimport.note2")</b></td></tr>
                                    <tr><td><b>@T("admin.bulkimport.note3")</b></td></tr>
                                    <tr><td><b>@T("admin.bulkimport.note4")</b></td></tr>
                                    <tr><td><b>@T("admin.bulkimport.note5")</b></td></tr>
                                    <tr><td><b>@T("admin.bulkimport.note6")</b></td></tr>
                                    <tr><td><b>@T("admin.bulkimport.note7")</b></td></tr>
                                    <tr><td><b>@T("admin.bulkimport.note8")</b></td></tr>
                                    <tr><td><b>@T("admin.bulkimport.note9")</b></td></tr>
                                    <tr>
                                        <td>
                                            <b>@T("admin.bulkimport.note10")</b>
                                            <table style="width:33%; margin:5px 25px;">
                                                <tr><td>@T("admin.bulkimport.note11")</td></tr>
                                                <tr><td>@T("admin.bulkimport.note12")</td></tr>
                                                <tr><td>@T("admin.bulkimport.note13")</td></tr>
                                                <tr><td>@T("admin.bulkimport.note14")</td></tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>@T("admin.bulkimport.note15")</b>
                                            <table style="width:33%; margin:5px 25px;">
                                                <tr><td>@T("admin.bulkimport.note16")</td></tr>
                                                <tr><td>@T("admin.bulkimport.note17")</td></tr>
                                                <tr><td>@T("admin.bulkimport.note18")</td></tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr><td><b>@T("admin.bulkimport.note19")</b></td></tr>
                                    <tr><td><b>@T("admin.bulkimport.note20")</b></td></tr>
                                    @*<tr><td><b>@T("admin.bulkimport.note21")</b></td></tr>*@
                                    <tr><td><b>@T("admin.bulkimport.note22")</b></td></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="throbber">
        <div class="curtain">
        </div>
        <div class="curtain-content">
            <div>
                <h1 class="throbber-header">Wait.. We are importing your registrations.</h1>
                <p><img src="@Url.Content("~/content/install/images/install-synchronizing.gif")" alt="" /></p>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    $('#exportexcel-all').click(function () {




        var data = {
        };
        addAntiForgeryToken(data);


        $.ajax({
            url: "@Html.Raw(Url.Action("ExcelWithSampleData", "BulkImport"))",
            type: "POST",
            dataType: "json",
            data: data,
            success: function (result) {
                if (result.success) {
                    if (result.fullFileName != null && result.fullFileName != "") {
                        window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                    }
                    else {

                        var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs1);
                    }
                }
                else {
                    var validationDivs1 = '<div>' + result.fullFileName + '</div>';
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs1);
                }
            },
            error: function (result) {
                //alert(result);
                //alert('hi');
            }
        });

    });
   
    $(document).ready(function () {
        $("#validationMessages").hide();
        $("#sucessMessages").hide();
        //var redioOption = "error";
        $('#btnUpload').prop('disabled', false);
        //$('#myForm input').on('change', function () {
        //    redioOption = $('input[name=group1]:checked').val();

        //});

        //window.onbeforeunload = confirmExit;
        //function confirmExit() {
        //    alert("confirm exit is being called");
        //    return false;
        //}

        var validationDivs = '';

        $('#FileUpload1').click(function () {
            $("#validationMessages").hide();

        });

        $('#btnCancel').click(function () {
            window.location.reload();
        });
             
        
        
       

        $('#btnUpload').click(function () {
           
            $('#btnUpload').prop('disabled', true);
            var fileUpload = $("#FileUpload1").get(0);
            var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            //// Adding one more key to FormData object
            //fileData.append('MemNoOption', redioOption);
            //$('#ajaxBusy').show();
       
            $(".throbber").show();
           
            $.ajax({
                url: '@Url.Action("ImportBulkData", "BulkImport")',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                //async: false,
                success: function (data) {
                    if (data.result) {
                        $('#btnUpload').prop('disabled', false);
                        // $("#divLoading1").hide();
                        $("#FileUpload1").val('');
                        //$('#ajaxBusy').hide();
                        $(".throbber").hide();
                        $('#sucessMessages').html('');
                        $("#sucessMessages").show();
                        $('#sucessMessages').html(data.message);
                    }
                    else {
                        $('#btnUpload').prop('disabled', false);
                        // $("#divLoading1").hide();
                        $("#FileUpload1").val('');
                        $('#validationMessages').html('');
                        $("#validationMessages").show();
                        $("#sucessMessages").hide();
                        $('#validationMessages').html(data.message);
                        //$('#ajaxBusy').hide();
                        $(".throbber").hide();
                        window.clearTimeout();

                    }

                },
                error: function (xhr, textStatus, errorThrown) {
                    $('#btnUpload').prop('disabled', false);
                    // $("#divLoading1").hide();
                    $("#FileUpload1").val('');
                    //$('#ajaxBusy').hide();
                    $(".throbber").hide();
                    window.clearTimeout();
                    DisplayError(xhr);
                }
            });

        });
    });



    function DisplayError(xhr) {
        var msg = JSON.parse(xhr.responseText);
        $('#validationMessages').html('');
        $("#validationMessages").show();
        $('#validationMessages').html(msg.Message);
        $(".throbber").hide();
        window.clearTimeout();
    }

</script>
