﻿@model  Nop.Admin.Models.BankDetails.BankModel


@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    ViewBag.Title = "List";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("BankDetails");
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.BankList")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.BankDetails.BackToList").Text, "List")</small>
        </h1>
        <div class="pull-right">
            <a href="@Url.Action("BankCreate")" class="btn bg-blue"><i class="fa fa-plus-square"></i>@T("Admin.Common.AddNew")</a>           
        </div>

    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">    
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.BankName)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.BankName)
                                        <div id="divfirstname" class="inputs"></div>
                                    </div>
                                </div>  
                                @*<div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.BankShortName)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.BankShortName)
                                        <div id="divfirstname" class="inputs"></div>
                                    </div>
                                </div>*@    
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <input type="button" id="search-BankDetail" class="btn bg-blue" value="@T("Admin.Common.Search")" />


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="BankDetail-grid"></div>

                        <script>
                            $(document).ready(function () {
                                $("#validationMessages").hide();
                                $("#BankDetail-grid").show();
                                $("#BankDetail-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("BankListGrid", "BankDetail"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    editable: {
                                        confirmation: false,
                                        mode: "inline"
                                    },
                                    scrollable: true,
                                    columns:[
                                        {
                                            field: "BankName",
                                            title: "@T("BankDetails.Fields.Bank")",
                                            width: 200
                                        }@*,{
                                            field: "BankShortName",
                                            title: "@T("BankDetails.Fields.BankShortName")",
                                            width: 200
                                        }*@,{
                                        field: "Id",
                                        title: "@T("Admin.Common.Edit")",
                                        width: 100,
                                        template: '<a href="BankEdit/#=Id#">@T("Admin.Common.Edit")</a>'
                                    }]
                                });
                            });
                        </script>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                //search button
                                $("#search-BankDetail").click(function () {
                                    //search


                                    $("#BankDetail-grid").show();
                                    var grid = $("#BankDetail-grid").data('kendoGrid');
                                    grid.dataSource.page(1); //new search. Set page size to 1
                                    //grid.dataSource.read(); we already loaded the grid above using "page" function
                                    return false;
                                });

                                $("#@Html.FieldIdFor(model => model.BankName)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-BankDetail").click();
                                        return false;
                                    }
                                });
                                @*$("#@Html.FieldIdFor(model => model.BankShortName)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-BankDetail").click();
                                        return false;
                                    }
                                });*@
                                $("#btnReset").click(function () {
                                    // $("#divDatewise").show();
                                    $("#BankDetail-grid").hide();
                                    // $("#searchId").val("");
                                    //$("#selectStatus").val("0");
                                    //$("#pancardReport-grid").hide();
                                    //$("#validationMessages").hide();
                                    // $("#sucessMessages").hide();

                                    // $('#searchResult').hide();
                                });
                            });

                            function additionalData() {
                                var data = {

                                    BankName:$('#@Html.FieldIdFor(model => model.BankName)').val(),
                                    //BankID:$('#@Html.FieldIdFor(model => model.BankShortName)').val(),
                                   
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        

    </script>

}