﻿@{
    //page title
    ViewBag.Title = T("Admin.Catalog.Categories.Manage").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Categories");
    
}

@Html.AntiForgeryToken()
<div class="content-header clearfix">
    <h1 class="pull-left">
      
        @T("Admin.Catalog.Categories.Manage")
        <small><i class="fa fa-arrow-circle-left"></i> @Html.ActionLink( T("Admin.Catalog.Categories.SwitchToListView").Text, "List")</small>

    </h1>
    <div class="pull-right">
        <a href="@Url.Action("Create")" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>

    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="category-treeview"></div>

                    <script>
                        categories = new kendo.data.HierarchicalDataSource({
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("TreeLoadChildren", "Category"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                }
                            },
                            schema: {
                                model: {
                                    id: "id",
                                    hasChildren: "hasChildren"
                                }
                            }
                        });

                        $(document).ready(function () {
                            $("#category-treeview").kendoTreeView({
                                dataSource: categories,
                                dataTextField: "Name",
                                select: function (e) {
                                    var dataItem = this.dataItem(e.node);
                                    var url = "@(Url.Action("Edit"))" + "/" + dataItem.id;
                                    window.location = url;
                                }
                            });
                        });


                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
