﻿@{
    Layout = "";
}
@model Nop.Web.Framework.Models.MyDetails.UpgradeDetails
@using Nop.Web.Framework.Models.Customer;

    <div class="row">
        <div class="form-group-inner">
            <div class="row">
                <div class="col-md-4" style="text-align: right">
                    <label>@T("Account.Fields.txtUniqueCode") </label>
                </div>
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.txtUniqueCode, new { @class = "form-control" })
                    <div class="inputs field-validation-error" id="validationMessagestxtUniqueCode" style="text-align:center"></div>
                </div>
                <div class="col-md-1" id="requiedAttricSymbol">
                    @Html.RequiredHint()
                </div>
            </div>
        </div>
        @*<div class="form-group-inner">
            <div class="row">
                <div class="col-md-4" style="text-align: right">
                    <label>@T("Account.Fields.txtPinSrNo") </label>
                </div>
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.txtPinSrNo, new { @class = "form-control" })
                    <div class="inputs field-validation-error" id="validationMessagestxtPinSrNo" style="text-align:center"></div>
                </div>
                <div class="col-md-1" id="requiedAttricSymbol">
                    @Html.RequiredHint()
                </div>
            </div>
        </div>*@
    </div>



