﻿@model Nop.Web.Framework.Models.ZoomMeeting.ZoomMeetingListModel

@{
    Html.AddTitleParts(T("Dashboard.ZoomMeeting.MeetingList").Text);
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
}
 

<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Themes/Vnext/Content/VnextCSS/css/MobileDataTableResponsive.css">

<style>
    #SetTDStyle {
        font-size: 12px !important;
        color: #434d58;
        border-top: 0;
        font-weight: bold !important;
        font-size: 12px;
    }
.dataTables_wrapper { 
    margin-top: 0px;
}


    @@media screen and (max-width: 600px) {
        #showTD {
            display: none;
        }
    }
</style>


@using (Html.BeginForm())
{
    @*@Html.HiddenFor(model => model.tempPayouList)*@

    @Html.AntiForgeryToken()
    <div class="page account-page return-request-list-page ">
        <br />
        <div class="page registration-result-page">
            @if (ViewBag.Msg != null)
                {
                <div class="result" style="text-align:center;">

                    @ViewBag.Msg

                </div>
            }

            @{
                var validationSummary = Html.ValidationSummary(true);
            }
            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                <div class="message-error">@validationSummary</div>
            }

            <div class="message-error error" id="validationMessages"></div>

            <div class="sparkline16-list shadow-reset">
                <div class="sparkline16-hd">
                    <div class="main-sparkline16-hd">
                        <h1>@T("Web.Catalog.MemberMenu.ZoomMeetingList")</h1>
                    </div>
                </div>

                <div class="sparkline16-graph">
                    <div class="datatable-dashv1-list custom-datatable-overright">
                        <div class="table-wrapper" id="ScrollableDiv">
                           
                            <table id="mydirectDataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>

                                        <th>Meeting Title</th>
                                        <th>
                                            Meeting Description
                                        </th>
                                        <th>
                                            Meeting DateTime
                                        </th>
                                        <th>
                                            Join Meeting
                                        </th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.ZoomMeetingListModelDetails.Count(); i++)
                                    {

                                        <tr>

                                            <td style="text-align:center">@Model.ZoomMeetingListModelDetails[i].MeetingTitle </td>
                                            <td style="text-align:center">@Model.ZoomMeetingListModelDetails[i].MeetingDesc  </td>
                                            <td style="text-align:center">@Model.ZoomMeetingListModelDetails[i].CreatedOnUTC  </td>
                                            <td style="text-align:center"><a href="IsdmTVMeeting?meetingNumber='@Model.ZoomMeetingListModelDetails[i].MeetingNumber'&meeting_pwd='@Model.ZoomMeetingListModelDetails[i].MeetingPassword'">Join Meeting</a>    </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



                }
@section styles{
    <style>
        .selectLink {
            color: red;
            font-weight: bold;
        }

            .selectLink:hover {
                color: #121b90;
                transition: all 0.5s ease-in-out;
            }

        .readonly-control {
            pointer-events: none;
        }
    </style>
}
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            if(@Model.ZoomMeetingListModelDetails.Count()>10){
                $.extend(true, $.fn.dataTable.defaults, {
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "paging": true,
                    "pageLength": 5

                });
            }
            else
            {
                $.extend(true, $.fn.dataTable.defaults, {
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "paging": false,
                    "pageLength": 5

                });
            }

            $('#mydirectDataTable').dataTable({

                pagingType: "full_numbers",
                iDisplayLength: 10,
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi"
                   , "aButtons": [
                     //"xls"
                    ]
                },
                processing: true,
                
                oLanguage: {sProcessing: "<div class='loader'></div>"},
            });

            $(".collapse.in").each(function () {
                $("#btnplusminus").siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
            });
            $(".collapse").on('show.bs.collapse', function () {
                $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
            }).on('hide.bs.collapse', function () {
                $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
            });
        });

        $(document).ready(function () {


            $("#divHeadingSearch").click(function(){
                $("#divseachById").slideToggle();
            });

            $('#DatewiseFrom').datepicker({
                changeMonth: true,
                changeYear: true,
            });

            $('#DatewiseTo').datepicker({
                changeMonth: true,
                changeYear: true,
            });

            $("#DatewiseFrom").keyup(function () {
                $(this).val('');
            });

            $("#DatewiseTo").keyup(function () {
                $(this).val('');
            });

        });

        $("#search").click(function(){

            $("#divseachById").show();

            var validationDivs = '';
            $('#validationMessages').html('');

            $('.loader').show();
            var data = {

            };
            addAntiForgeryToken(data);

            $("#collapseOne").removeClass("panel-collapse collapse in");
            $("#collapseOne").addClass("panel-collapse collapse");

            $("#btnplusminus").removeClass("glyphicon glyphicon-minus");
            $("#btnplusminus").addClass("glyphicon glyphicon-plus");
        });



        function myExcel()
        {
            debugger;

            var data = {
                PayoutNo: 1,

            };
            $('.loader').show();

            var validationDivs = '';
            $('#validationMessages').html('');

            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("MonthlySubscriptionReportExportToExcel", "Ewallet"))",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (result) {
                    $('.loader').hide();
                    if (result.success) {
                        if (result.fullFileName != null && result.fullFileName != "") {
                            window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                        }else if(result.recordNotFound)
                        {
                            var validationDivs1 = '<div>@T("Dashboard.MyNetwork.SearchResult.NotFound")</div>';
                            $("#validationMessages").show();
                            $('#validationMessages').append(validationDivs1);
                        }
                        else {

                            var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                            $("#validationMessages").show();
                            $('#validationMessages').append(validationDivs1);
                        }
                    }
                    else {
                        var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs1);
                    }
                },
                error: function (result) {
                    $('.loader').hide();
                }
            });

        }

        $('#btnreset').on('click', (function () {
            $('.loader').show();
            document.location = "@(Url.Action("LevelReconcilationReport", "MyCommission"))" ;
        }));

    </script>
}
