﻿@model Nop.Web.Framework.Models.DashBoard.DashboardDetails
@using Nop.Web.Framework.Models.Customer;

@Html.AntiForgeryToken()

@section styles{
    <style>
        .table > thead > tr > th {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }

        .stausImg {
            width: 25px !important;
            height: 25px;
        }

        .cart label {
            display: block !important;
            text-align: center !important;
        }

        #MyrecentJoining_filter {
            display: none;
        }

        .panel-body {
            font-size: small !important;
        }
    </style>
}

@*@Html.Widget("home_page_before_categories")*@

@Html.Widget("home_page_before_news")
@if (Model.dashboradSettings != null)
{

    <div class="row">
        @if (Model.dashboradSettings.RecentJoining)
        {
            <div class="col-lg-6 col-md-6">
                @*<div class="sparkline11-list shadow-reset mg-b-30">*@
                <div class="table-wrapper recjo-height">
                    @*<div class="sparkline11-hd">
                            <div class="main-sparkline11-hd">
                                <h1>@T("Dashboard.DashboardSettingsModel.RecentJoining")</h1>
                                <div class="sparkline11-outline-icon">
                                    <span class="sparkline11-collapse-link"><i class="fa fa-chevron-down"></i></span>
                                </div>
                            </div>
                        </div>*@
                    <h3>@T("Dashboard.DashboardSettingsModel.RecentJoining")</h3>
                    <div class="line"></div>
                    @*<div class="sparkline11-graph dashone-comment dashtwo-comment comment-scrollbar">*@

                    @Html.Action("RecentJoinings", "VFDashboard")

                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                @*<div class="sparkline11-list shadow-reset mg-b-30">*@
                <div class="table-wrapper recjo-height">
                    @*<div class="sparkline11-hd">
                            <div class="main-sparkline11-hd">
                                <h1>@T("Dashboard.DashboardSettingsModel.RecentJoining")</h1>
                                <div class="sparkline11-outline-icon">
                                    <span class="sparkline11-collapse-link"><i class="fa fa-chevron-down"></i></span>
                                </div>
                            </div>
                        </div>*@
                    <h3>Slab Details</h3>
                    <div class="line"></div>
                    @*<div class="sparkline11-graph dashone-comment dashtwo-comment comment-scrollbar">*@

                    @Html.Action("SlabDetails", "VFDashboard")

                </div>
            </div>

        }



        @if (Model.dashboradSettings.MyAwardStatus)
        {
            <div class="col-lg-6">
                @*<div class="sparkline9-list shadow-reset mg-b-30">
                    <div class="sparkline9-hd">
                        <div class="main-sparkline9-hd">
                            <h1>@T("Dashboard.DashboardSettingsModel.MyAwardStatus")</h1>
                            <div class="sparkline9-outline-icon">
                                <span class="sparkline9-collapse-link"><i class="fa fa-chevron-down"></i></span>
                            </div>
                        </div>
                    </div>*@
                <div class="table-wrapper">
                    <h3>@T("Dashboard.DashboardSettingsModel.MyAwardStatus")</h3>
                    <div class="line"></div>
                    @*<div class="sparkline9-graph sparkline9-graph dashone-comment dashtwo-comment comment-scrollbar">*@

                    @Html.Action("MyAwardStatus", "VFDashboard")

                </div>
            </div>
            @*</div>*@
        }
        @if (Model.dashboradSettings.MyRoyaltyStatus)
        {
            <div class="col-lg-6">
                @*<div class="sparkline8-list shadow-reset mg-b-30">
                    <div class="sparkline8-hd">
                        <div class="main-sparkline8-hd">
                            <h1>@T("Dashboard.DashboardSettingsModel.MyRoyaltyStatus")</h1>
                            <div class="sparkline8-outline-icon">
                                <span class="sparkline8-collapse-link"><i class="fa fa-chevron-down"></i></span>
                            </div>
                        </div>
                    </div>*@
                <div class="table-wrapper">
                    <h3>@T("Dashboard.DashboardSettingsModel.MyRoyaltyStatus")</h3>
                    <div class="line"></div>
                    @*<div class="sparkline8-graph sparkline8-graph dashone-comment dashtwo-comment comment-scrollbar">

                            @Html.Action("MyRoyaltyStatus", "VFDashboard")

                        </div>*@
                </div>
            </div>
        }
    </div>
  


    if (Model.dashboradSettings.getPlanType == 3)
    {
        <div class="sparkline12-list shadow-reset">
            <div class="sparkline12-hd">
                <div class="main-sparkline16-hd">
                    <h1>@T("Dashboard.MyNetwork.MyDownline")</h1>
                    <div class="sparkline12-outline-icon">
                        <span class="sparkline12-collapse-link"><i class="fa fa-chevron-up"></i></span>
                    </div>
                </div>
            </div>
            <div class="sparkline12-list shadow-reset">
                <div class="sparkline12-graph">
                    <div class="datatable-dashv1-list custom-datatable-overright" id="ScrollableDiv">
                        @Html.Action("MyBinaryDownline", "VFDashboard")
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="sparkline13-list shadow-reset">
            <div class="sparkline13-hd">
                <div class="main-sparkline13-hd">
                    <h1>@T("Dashboard.DashboardSettingsModel.MyGenerationDownline")</h1>
                    <div class="sparkline13-outline-icon">
                        <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                    </div>
                </div>
            </div>
            <div class="sparkline13-list shadow-reset">
                <div class="sparkline13-graph">
                    <div class="datatable-dashv1-list custom-datatable-overright" id="ScrollableDiv">
                        @Html.Action("MyGenerationDownline", "VFDashboard")
                    </div>
                </div>
            </div>
        </div>
    }

    if (Model.dashboradSettings.getPlanType == 2)
    {
        @*<div class="sparkline12-list shadow-reset">
                <div class="sparkline12-hd">
                    <div class="main-sparkline16-hd">
                        <h1>@T("Dashboard.MyNetwork.MyDownline")</h1>
                        <div class="sparkline12-outline-icon">
                            <span class="sparkline12-collapse-link"><i class="fa fa-chevron-up"></i></span>
                        </div>
                    </div>
                </div>
                <div class="sparkline12-list shadow-reset">
                    <div class="sparkline12-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright" id="ScrollableDiv">
                            @Html.Action("MyBinaryDownline", "VFDashboard")
                        </div>
                    </div>
                </div>
            </div>*@
        @*<ul class="accordion">
                <li>
                    <a>@T("Dashboard.MyNetwork.MyDownline")</a>
                    @Html.Action("MyBinaryDownline", "VFDashboard")
                </li>
            </ul>*@
        @Html.Action("MyBinaryDownline", "VFDashboard")
    }
    else if (Model.dashboradSettings.getPlanType == 1)
    {
        if (Model.dashboradSettings.MyDownlineDetails)
        {
            <div class="sparkline12-list shadow-reset">
                <div class="sparkline12-hd">
                    <div class="main-sparkline16-hd">
                        <h1>@T("Dashboard.MyNetwork.MyDownline")</h1>
                        <div class="sparkline12-outline-icon">
                            <span class="sparkline12-collapse-link"><i class="fa fa-chevron-up"></i></span>
                        </div>
                    </div>
                </div>
                <div class="sparkline12-list shadow-reset">
                    <div class="sparkline12-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright" id="ScrollableDiv">
                            @Html.Action("MyBinaryDownline", "VFDashboard")
                        </div>
                    </div>
                </div>
            </div>
        }
    }

    if (Model.dashboradSettings.RenewSetting)
    {
        <br />
        <div class="sparkline14-list shadow-reset">
            <div class="sparkline14-hd">
                <div class="main-sparkline14-hd">
                    <h1>@T("Dashboard.MyDetails.RenewDetails")</h1>
                    <div class="sparkline14-outline-icon">
                        <span class="sparkline14-collapse-link"><i class="fa fa-chevron-up"></i></span>
                    </div>
                </div>
            </div>
            <div class="sparkline14-list shadow-reset">
                <div class="sparkline14-graph">
                    <div class="datatable-dashv1-list custom-datatable-overright" id="ScrollableDiv">
                        @Html.Action("RenewDetails", "VFDashboard")
                    </div>
                </div>
            </div>
        </div>
    }
}
@if (Model.dashboradSettings.ForthComingPayoutcounts)
{
    <br />
    <div class="sparkline10-list shadow-reset" style="display:none">
        <div class="sparkline10-hd">
            <div class="main-sparkline10-hd">
                <h1>@T("Dashboard.DashboardSettingsModel.ForthComingPayoutcounts")</h1>
                <div class="sparkline10-outline-icon">
                    <span class="sparkline10-collapse-link"><i class="fa fa-chevron-up"></i></span>
                </div>
            </div>
        </div>
        <div class="sparkline10-list shadow-reset">
            @Html.Action("MyForthcomingPayouts", "VFDashboard")
        </div>
    </div>
}
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#MyBinaryDownline').dataTable(
           {
               pagingType: "full_numbers",
               iDisplayLength: 10,
               dom: 'T<"clear">lfrtip',
               "oLanguage": {
                   "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
               },
               tableTools: {
                   "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                   "sRowSelect": "multi",
                   "aButtons": [

                   ]

               }
           });

            $('#MyBinaryDownlineTotal').dataTable(
         {
             pagingType: "full_numbers",
             iDisplayLength: 10,
             dom: 'T<"clear">lfrtip',
             "oLanguage": {
                 "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
             },
             tableTools: {
                 "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                 "sRowSelect": "multi",
                 "aButtons": [

                 ]
             }

         });

            $('#MyforthomingPayouts').dataTable({
                pagingType: "full_numbers",
                iDisplayLength: 10,
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [

                    ]
                }
            });
            $('#MyAwardsStatus').dataTable({
                pagingType: "full_numbers",
                "ordering": false,
                "aaSorting": [],
                iDisplayLength: 10,
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [

                    ]
                }
            });
            $('#MyGenerationDownline').dataTable({
                pagingType: "full_numbers",
                iDisplayLength: 10,
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [

                    ]
                }
            });

            $('#MyGenerationDownlineTotal').dataTable({
                pagingType: "full_numbers",
                iDisplayLength: 10,
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [

                    ]
                }
            });

            $('#MyRoyaltyStatus').dataTable({
                pagingType: "full_numbers",
                "ordering": false,
                "aaSorting": [],
                iDisplayLength: 10,
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [

                    ]
                }
            });
            $('#MyrecentJoining').dataTable({
                pagingType: "full_numbers",
                "ordering": false,
                "aaSorting": [],
                iDisplayLength: 10,
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [

                    ]
                }
            });

            $('#MyRenewStatus').dataTable({
                pagingType: "full_numbers",
                iDisplayLength: 10,
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [

                    ]
                }
            });

            var rowCount = $("#MyrecentJoining td").closest("tr").length;
            var rowCount1 = $("#MyRoyaltyStatus td").closest("tr").length;
            var rowCount2 = $("#MyAwardsStatus td").closest("tr").length;
            if (rowCount > 10) {

                $("#MyrecentJoining_length").show();
                $("#MyrecentJoining_paginate").show();
            }
            else {
                $("#MyrecentJoining_length").hide();
                $("#MyrecentJoining_paginate").hide();
            }

            if (rowCount1 > 10) {

                $("#MyRoyaltyStatus_length").show();
            }
            else { $("#MyRoyaltyStatus_length").hide(); }

            if (rowCount2 > 10) {

                $("#MyAwardsStatus_length").show();
            }
            else { $("#MyAwardsStatus_length").hide(); }

        });
    </script>


}

