﻿@model Nop.Web.Framework.Models.Orders.CustomerOrderListModel
@using Nop.Web.Framework.Models.Customer
@{
    Html.AddTitleParts(T("Web.Catalog.MemberMenu.UploadForm16DocumentReport").Text);
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
}

<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Themes/Vnext/Content/VnextCSS/css/MobileDataTableResponsive.css">

<style>
    .selectLink {
        color: red;
        font-weight: bold;
    }

        .selectLink:hover {
            color: #121b90;
            transition: all 0.5s ease-in-out;
        }

    #MatchingIncomeReconsulationReport_paginate {
        margin-bottom: 15px;
    }
</style>
<br />
<div class="inbox-mailbox-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Invoices })
                    </div>
                    <div class="col-lg-9">
                        <div class="tab-pane fade in animated zoomInDown shadow-reset custom-inbox-message">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()



                                <div class="sparkline16-list">
                                    <div class="sparkline16-graph">
                                        <div class="datatable-dashv1-list custom-datatable-overright">
                                            <div class="table-wrapper">
                                                <table id="MatchingIncomeReconsulationReport" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>@T("admin.customers.customers.fields.pvh_id")</th>
                                                            <th>@T("PDFInvoice.OrderNo")</th>
                                                            @*<th>
                                                                   Invoice No
                                                                </th>*@
                                                            <th>@T("PDFInvoice.OrderDate")</th>
                                                            <th>@T("PDFInvoice.InvoiceDate")</th>
                                                            <th>@T("Admin.CompanyGst.Unregister")</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @for (int i = 0; i < Model.Orders.Count(); i++)
                                                        {

                                                            <tr>
                                                                <td data-label='@T("admin.customers.customers.fields.pvh_id")'> @(i + 1) </td>
                                                                <td data-label='@T("PDFInvoice.OrderNo")'>@Model.Orders[i].CustomOrderNumber </td>
                                                                @*<td>@Model.Orders[i].Invoiceno </td>*@
                                                                <td data-label='@T("PDFInvoice.OrderDate")'>@Model.Orders[i].CreatedUTCOn </td>
                                                                <td data-label='@T("PDFInvoice.InvoiceDate")'>@Model.Orders[i].PaidDateUTC </td>
                                                                <td data-label='@T("Admin.CompanyGst.Unregister")'><a style="text-decoration: underline;" href="@Url.Action("PdfInvoice","mydetails" ,new {orderId =@Model.Orders[i].CustomOrderNumber })" class="">@T("Account.CustomerReturnRequests.UploadedFile.Download")</a> </td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>

                                </div>


                            }
                        </div>
                        <br />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#MatchingIncomeReconsulationReport').dataTable({

                pagingType: "full_numbers",
                iDisplayLength: 10,
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [
                    ]
                },
                processing: true,
                oLanguage: { sProcessing: "<div class='loader'></div>" },
            });
        });

        $(document).ready(function () {
            $("#search").click(function () {

            });


            $('#FinacialYear').autocomplete({
                delay: 500,
                minLength: 1,
                source: '@(Url.Action("BindFinacialYear", "MyDetails"))',
                appendTo: '.search-box',
                select: function (event, ui) {
                    $("#FinacialYear").val(ui.item.DocName);

                    $("#Id").val(ui.item.DocId);

                },
                search: function () { $('.loader').show(); },
                open: function () { $('.loader').hide() },
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                var t = item.label;
                t = $('<div/>').text(t).html();
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a><span>" + t + "</span></a>")
                    .appendTo(ul);
                $("#AddToSupp").show();
            };


            $('#Quarterly').autocomplete({
                delay: 500,
                minLength: 1,
                source: '@(Url.Action("BindQuarterly", "MyDetails"))',
                appendTo: '.search-box',
                select: function (event, ui) {
                    $("#Quarterly").val(ui.item.DocName);

                    $("#Id").val(ui.item.DocId);

                },
                search: function () { $('.loader').show(); },
                open: function () { $('.loader').hide() },
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                var t = item.label;
                t = $('<div/>').text(t).html();
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a><span>" + t + "</span></a>")
                    .appendTo(ul);
                $("#AddToSupp").show();
            };
        });
    </script>
}