﻿@model Nop.Web.Models.UpgradeReceipt
@using Nop.Web.Framework.Models.Customer;
@{
    Html.AddTitleParts(T("Account.UpgradeTransaction").Text);
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
}

<br />
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<style>
     .wrap {
        width: 597px;
        height: auto;
        margin: 0px auto;
        border: gray 2px solid;
        background-image: none !important;
        background-color: white;
    }

    .head {
        background-color: #124BA3;
        border-bottom: solid 5px #4C7AF4;
        width: 597px;
        height: 125px;
        margin: 0px auto;
        /*border-radius: 0px 0px 90px 90px;*/
    }

    .logo1 {
        width: 25%;
        float: left;
        margin-left: 20px;
        margin-top: 25px;
		
    }

    .contact {
        float: right;
        width: 42%;
        color: #FFFFFF;
        margin-top: 5px;
		word-wrap: break-word;
margin-right: 8px;
text-align: left;
		font-size: 12px;
    }

    clr {
        clear: both;
    }

    .content {
        width: 90%;
        margin: 0px auto;
    }

    p {
        font-family: 'Open Sans', sans-serif !important;
        font-size: 12px !important;
        border-bottom: 1px solid #7A7A7A !important;
        line-height: 18px !important;
    }

    h4 {
        font-family: 'Open Sans', sans-serif !important;
        font-size: 13px !important;
        color: #2B68B9 !important;
    }

    .footerbg {
        background-color: #124BA3;
        border-top: solid 5px #4C7AF4;
        width: 597px;
        height: 35px;
       margin: 0px auto;
        color: #fff;
        border-radius: 20px 20px 0px 0px;
    }
</style>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="inbox-mailbox-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3">
                            @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.UpgradeDetails })
                        </div>
                        <div class="col-lg-9">
                            <div class="tab-pane fade in animated zoomInDown shadow-reset custom-inbox-message">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="page account-page return-request-list-page ">
                                        <div class="page-title">
                                            <!-- <h1>@T("Dashboard.MyDetails.Receipt")</h1>-->
                                        </div>

                                        @if (Model != null)
                                        {
                                            <div id="dvContainer" style="overflow-x: scroll;">
                                                <div class="wrap">
                                                    <div class="head">
                                                        @if (Model.rcimgLogo != "")
                                                    {
                                                    <div class="logo1"><img src="@Url.Content(Model.rcimgLogo)" alt="" /></div>
                                                    }
                                                    else
                                                    {
                                                    <div class="logo1"><img src="~/Themes/Vnext/Content/VNextCSS/img/logo.png" alt="" /></div>
                                                    }

                                                       <div class="contact">
                                                            <p style="border-bottom: none!important;">
                                                                <strong>Company :</strong> @Model.rcCompanyname<br>
                                                                <strong>Address :</strong> @Model.rcCompanyAddress<br>
                                                                <strong>Contact No : </strong>	@Model.rccompanyContacts <br>
                                                                <strong>Email ID:</strong> @Model.rcEmail <br>
                                                                <strong>URL: </strong>  @Model.rccompanyURL
                                                            </p>
                                                        </div>

                                                    </div>
                                                    <div class="clr"></div>
                                                    <div class="content">
                                                        <table style="width: 100%;" cellpadding="1" cellspacing="1" border="0">
                                                            <tr>
                                                                <td style="text-align: center" colspan="3">
                                                                    <table border="0" cellspacing="2" cellpadding="2" width="100%">
                                                                        <tr>
                                                                            <td>
                                                                                <center>
                                                                                    <div id="lblReceipt" class="tdEmpty width-500">
                                                                                        <table border="0" width="95%" cellspacing="1" cellpadding="1" align="center">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td class="bold-text" align="left" width="32%">&nbsp;&nbsp;&nbsp;<strong>@Html.LabelFor(m => m.Name)</strong></td>
                                                                                                    <td align="right" width="2%"><strong>:</strong></td>
                                                                                                    <td style="border-bottom: 1px solid #666666; font-size: 12px;" align="left">&nbsp;&nbsp; @Model.Name</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td class="bold-text" align="left" width="32%">&nbsp;&nbsp;&nbsp;<strong>@Html.LabelFor(m => m.MemNo)</strong></td>
                                                                                                    <td align="right" width="2%"><strong>:</strong></td>
                                                                                                    <td style="border-bottom: 1px solid #666666; font-size: 12px;" align="left">&nbsp;&nbsp; @Model.MemNo</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td class="bold-text" align="left" width="32%">&nbsp;&nbsp;&nbsp;<strong>@Html.LabelFor(m => m.Package)</strong></td>
                                                                                                    <td align="right" width="2%"><strong>:</strong></td>
                                                                                                    <td style="border-bottom: 1px solid #666666; font-size: 12px;" align="left">&nbsp;&nbsp; @Model.Package</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td class="bold-text" align="left" width="32%">&nbsp;&nbsp;&nbsp;<strong>@Html.LabelFor(m => m.UpgradePaymode)</strong></td>
                                                                                                    <td align="right" width="2%"><strong>:</strong></td>
                                                                                                    <td style="border-bottom: 1px solid #666666; font-size: 12px;" align="left">&nbsp;&nbsp; @Model.UpgradePaymode</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td class="bold-text" align="left" width="32%">&nbsp;&nbsp;&nbsp;<strong>@Html.LabelFor(m => m.Amount)</strong></td>
                                                                                                    <td align="right" width="2%"><strong>:</strong></td>
                                                                                                    <td style="border-bottom: 1px solid #666666; font-size: 12px;" align="left">&nbsp;&nbsp; @Model.Amount</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td class="bold-text" align="left" width="32%">&nbsp;&nbsp;&nbsp;<strong>@Html.LabelFor(m => m.UpgradeDate)</strong></td>
                                                                                                    <td align="right" width="2%"><strong>:</strong></td>
                                                                                                    <td style="border-bottom: 1px solid #666666; font-size: 12px;" align="left">&nbsp;&nbsp; @Model.UpgradeDate</td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </center>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>

                                                        </table>
                                                    </div>
                                                       <div class="footerbg">
                                                    <p style="border-bottom: none!important;" align="center"> <b style="color:red;font-weight:bold"> @T("Admin.Note.Note") </b> @T("Dashboard.Commom.ReceiptNote")</p>
                                                </div>
                                                </div>
                                             
                                            </div>                                         

                                        }
                                        else
                                        {
                                            <h3>@T("Dashboard.Mydetails.RecieptError")</h3>
                                        }
                                        <br><br><br>
                                        <div id="title_message" class="inputs" align="center">
                                            <div class="buttons">
                                                <button type="button" id="btnPrint" class="btn btn-custon-four btn-primary" tabindex="1"><i class="fa fa-print"></i> @T("Mydetails.Print")</button>
                                                <button type="button" class="btn btn-custon-four btn-success" onclick="setLocation('@(Url.RouteUrl("UpgradeDetails"))')"><i class="fa fa-arrow-circle-left"></i> @T("Account.Save.Back")</button>
                                            </div>
                                        </div>

                                    </div>


                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


<style>
    @@media screen and (max-width: 600px) {
        #title_message {
            visibility: hidden;
            clear: both;
            float: left;
            margin: 10px auto 5px 20px;
            width: 28%;
            display: none;
        }
    }
</style>


@section scripts{

    <script type="text/javascript">
        $("#btnPrint").live("click", function () {
            var divContents = $("#dvContainer").html();
            var printWindow = window.open('', '', 'height=800,width=800');
            printWindow.document.write('<html><head><title>Upgrade Receipt</title>');
            printWindow.document.write('<style type="text/css">  td{ padding-bottom: 0.5em; padding-top: 0.5em;} .wrap { width: 597px; height:auto; margin: 0px auto; border: gray 2px solid; background-image:none !important;} .head { background-color: #124BA3; border-bottom: solid 5px #4C7AF4; width: 597px; height: 125px;  margin: 0px auto;  /*border-radius: 0px 0px 90px 90px;*/ } .logo1 { width: 25%; float: left; margin-left: 20px; margin-top: 10px; } .contact { float: right;width: 42%;color: #FFFFFF;} clr {  clear: both; } .content {  width: 90%;   margin: 0px auto; } p { font-family: "Open Sans", sans-serif !important; font-size: 12px !important;  border-bottom: 1px solid #7A7A7A !important;  line-height: 18px !important; }  h4 { font-family: "Open Sans", sans-serif !important; font-size: 13px !important;  color: #2B68B9 !important; } .footerbg { background-color: #124BA3; border-top: solid 5px #4C7AF4; width: 597px; height: 35px; margin: 0 auto; color: #fff; border-radius: 20px 20px 0px 0px;} @@media print {* { -webkit-print-color-adjust: exact !important; /*Chrome, Safari */ color-adjust: exact !important; /*Firefox*/   } </style>');
            printWindow.document.write('</head><body >');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        });
    </script>

}