﻿@model Nop.Web.Framework.Models.MyDetails.Form16DocumentDetails
@using Nop.Web.Framework.Models.Customer;
@{
    Html.AddTitleParts(T("Web.Catalog.MemberMenu.UploadForm16DocumentReport").Text);
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
}

<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />

<style>
    .selectLink {
        color: red;
        font-weight: bold;
    }

        .selectLink:hover {
            color: #121b90;
            transition: all 0.5s ease-in-out;
        }

    #MatchingIncomeReconsulationReport_paginate {
        margin-bottom: 15px;
    }
</style>
<br />
<div class="inbox-mailbox-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.UploadFormDocument })
                    </div>
                    <div class="col-lg-9">
                        <div class="tab-pane fade in animated zoomInDown shadow-reset custom-inbox-message">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()


                                <div class="sparkline13-list shadow-reset">
                                    <div class="sparkline13-hd">
                                        <div class="main-sparkline13-hd">
                                            <h1>@T("Dashboard.MyNetwork.SearchOption")</h1>
                                            <div class="sparkline13-outline-icon">
                                                <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sparkline13-graph">
                                        <div class="datatable-dashv1-list custom-datatable-overright">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="all-form-element-inner">
                                                        @{
                                                            var validationSummary = Html.ValidationSummary(true);
                                                        }
                                                        @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                                                        {
                                                            <div class="message-error">@validationSummary</div>
                                                        }
                                                        <div class="message-error error" id="validationMessages"></div>
                                                        <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3">
                                                                    @Html.LabelFor(model => model.FinacialYear)
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    @Html.TextBoxFor(model => model.FinacialYear, new { @class = "form-control" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3">
                                                                    @Html.LabelFor(model => model.Quarterly)
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    @Html.TextBoxFor(model => model.Quarterly, new { @class = "form-control" })
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="login-horizental cancel-wp align-middle">

                                                            <button type="submit" id="search" class="btn btn-custon-four btn-primary"><i class="fa fa-search"></i> @T("Tree.Search.Button")</button>
                                                            <input type="hidden" name="hdnReset" id="hdnReset" value="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="sparkline16-list">
                                    <div class="sparkline16-graph">
                                        <div class="datatable-dashv1-list custom-datatable-overright">
                                            <div class="table-wrapper">
                                                <table id="MatchingIncomeReconsulationReport" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                    <thead>
                                                    <tr>
                                                        <th>@T("Admin.Doucments.PancardNumber")</th>
                                                        <th>
                                                            @T("Admin.Doucments.Quarterly")
                                                        </th>

                                                        <th>
                                                            @T("Admin.Doucments.FinacialYear")
                                                        </th>

                                                        <th>
                                                            @T("Admin.Doucments.FileName")
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    @if (Model.UploadForm16DocumentDetails != null)
                                                    {
                                                        for (int i = 0; i < Model.UploadForm16DocumentDetails.Count(); i++)
                                                        {
                                                            <tr>
                                                                <td>@Model.UploadForm16DocumentDetails[i].PancardNo </td>
                                                                <td>@Model.UploadForm16DocumentDetails[i].Quarterly  </td>
                                                                <td>@Model.UploadForm16DocumentDetails[i].FinacialYear</td>
                                                                <td>
                                                                    @Html.ActionLink(Model.UploadForm16DocumentDetails[i].FileName, "Download", "MyDetails", new { id = Model.UploadForm16DocumentDetails[i].selectedIds },  new { @style = "color: cornflowerblue" })
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>

                                </div>


                            }
                        </div>
                        <br/>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#MatchingIncomeReconsulationReport').dataTable({

                pagingType: "full_numbers",
                iDisplayLength: 10,
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [
                    ]
                },
                processing: true,
                oLanguage: { sProcessing: "<div class='loader'></div>" },
            });
        });

        $(document).ready(function () {
            $("#search").click(function () {

            });


            $('#FinacialYear').autocomplete({
                delay: 500,
                minLength: 1,
                source: '@(Url.Action("BindFinacialYear", "MyDetails"))',
                appendTo: '.search-box',
                select: function (event, ui) {
                    $("#FinacialYear").val(ui.item.DocName);

                    $("#Id").val(ui.item.DocId);

                },
                search: function () { $('.loader').show(); },
                open: function () { $('.loader').hide() },
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                var t = item.label;
                t = $('<div/>').text(t).html();
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a><span>" + t + "</span></a>")
                    .appendTo(ul);
                $("#AddToSupp").show();
            };


            $('#Quarterly').autocomplete({
                delay: 500,
                minLength: 1,
                source: '@(Url.Action("BindQuarterly", "MyDetails"))',
                appendTo: '.search-box',
                select: function (event, ui) {
                    $("#Quarterly").val(ui.item.DocName);

                    $("#Id").val(ui.item.DocId);

                },
                search: function () { $('.loader').show(); },
                open: function () { $('.loader').hide() },
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                var t = item.label;
                t = $('<div/>').text(t).html();
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a><span>" + t + "</span></a>")
                    .appendTo(ul);
                $("#AddToSupp").show();
            };
        });
    </script>
}