﻿/*=====================================================
    
    TABLETS PORTRAIT & SMARTPHONES LANDSCAPE

=====================================================*/
@media all and (max-width: 360px) {

    .registration-page #Phone {
        width: 255px !important;
    }

    .account-page #Phone {
        width: 220px !important;
    }


    .ui-autocomplete.ui-menu.ui-widget.ui-widget-content {
        width: 255px !important;
    }

    .registration-page .date-of-birth select {
        width: 104px;
    }

    .account-page .date-of-birth select {
        width: 104px;
    }

    input[type="file"] {
        width: 28% !important;
    }

    .shipping-method .method-list li, .payment-method .method-list li {
        margin: 15px 0 10px;
        display: inline-block;
        width: 100% !important;
    }

    .buttons {
        margin-bottom: 5% !important;
        margin-top: 0% !important;
    }

    #mainPanle {
        margin-left: 4% !important;
    }

        #mainPanle .inputs select {
            margin-top: 8px !important;
        }

    #SelectReqNoTraderNameId {
        width: 200px !important;
    }



    #mainPanle .inputs input[type="text"] {
        width: 88% !important;
        margin-top: 4% !important;
        max-width: 100% !important;
    }

    #BtnAllTab {
        float: none !important;
    }

    #dvFilterSearchPanal {
        margin-left: 0%;
        margin-top: -8%;
    }

    #divOrderperiod #FromDate, #ToDate {
        margin-top: -12%;
    }


    #divPintype {
        width: 90%;
        margin-left: 5%;
    }

    .order-progress li {
        display: inline-block;
        margin: 5px;
    }
}

@media (max-width: 320px) {
    .registration-page #Phone {
        width: 225px !important;
    }

    .account-page #Phone {
        width: 195px !important;
    }

    .ui-autocomplete.ui-menu.ui-widget.ui-widget-content {
        width: 220px !important;
    }

    .registration-page .date-of-birth select {
        width: 104px;
    }

    /*.account-page .date-of-birth select {
        width: 104px;
    }*/
    .account-page .date-of-birth select {
        width: 85px !important;
    }

    input[type="file"] {
        width: 28% !important;
    }

    .shipping-method .method-list li, .payment-method .method-list li {
        margin: 15px 0 10px;
        display: inline-block;
        width: 100% !important;
    }

    .buttons {
        margin-bottom: 5% !important;
        margin-top: 0% !important;
    }

    .order-progress li {
        display: inline-block;
        margin: 2px;
    }
}

@media (max-width: 480px) {

    /*.ui-autocomplete.ui-menu.ui-widget.ui-widget-content {
        width: 260px !important;
    }*/

    .registration-page .date-of-birth select {
        width: 104px;
    }

    .account-page .date-of-birth select {
        width: 104px;
    }

    .shipping-method .method-list li, .payment-method .method-list li {
        margin: 15px 0 10px;
        display: inline-block;
        width: 100% !important;
    }

    .account-page #Phone {
        width: 255px;
    }
}

@media all and (max-width: 480px) and (min-width: 300px) {
    .registration-page #CountryCode {
        width: 16% !important;
    }


    .registration-page #Phone {
        width: 335px;
        max-width: 360px;
    }

    .account-page #CountryCode {
        width: 25% !important;
    }

    .inputs input[type="password"], .inputs select, .inputs textarea {
        width: 99%;
    }

    .inputs input[type="text"] {
        width: 90%;
    }


    input[type="file"] {
        width: 80% !important;
    }
}

/*@media (max-width: 420px) and (min-width: 361px) {
    .account-page #Phone {
        width: 262px !important;
        max-width: 360px;
    }
}*/



@media all and (min-width: 360px) {
    .registration-page .date-of-birth select {
        width: 100px;
    }

    .account-page .date-of-birth select {
        width: 100px;
    }
}


@media all and (min-width: 481px) {

    /* HEADER */



    .eu-cookie-bar-notification {
        width: 450px;
        max-width: 95%;
        margin-left: -225px;
    }
    /* FOOTER */

    .DirectUIstyle {
        width: 200px !important;
        height: 120px !important;
    }

    .footer-middle:before {
        -webkit-transform: rotate(1deg);
        -ms-transform: rotate(1deg);
        transform: rotate(1deg);
    }

    /* CATEGORY PAGE & GRIDS */

    .product-grid .item-box,
    .product-list .item-box {
        width: 50%;
        float: left;
        margin: 0;
    }

    .home-page .item-grid:after {
        content: ".";
        display: block;
        visibility: hidden;
        clear: both;
        height: 0;
        line-height: 0;
        font-size: 0;
    }

    .manufacturer-grid,
    .vendor-grid {
        font-size: 0;
        text-align: left;
    }

        .manufacturer-grid .item-box,
        .vendor-grid .item-box {
            display: inline-block;
            width: 33.33333333%;
            padding: 0 5px;
            margin: 0 0 10px;
        }

            .manufacturer-grid .item-box a,
            .vendor-grid .item-box a {
                text-align: center;
            }

    .pager li {
        margin: 0 5px;
    }

        .pager li * {
            width: 32px;
            height: 32px;
            line-height: 32px;
            font-size: 18px;
        }

    /* PRODUCT PAGE */

    .free-shipping {
        text-align: center;
    }

    .attributes.rental-attributes input[type='text'] {
        min-width: initial;
    }


    /* QUICK TABS */

    .ui-tabs .ui-tabs-nav li {
        float: left;
    }

    /* ATTRIBUTES */

    .attributes dl {
        padding: 2px;
        display: inline-block;
    }

    .attributes dt,
    .attributes dd {
        background: none;
        float: left;
    }

    .attributes dt {
        clear: both;
        font-size: 15px;
        margin: 0 10px 10px 0;
        width: 100px;
    }

    .attributes dd {
        padding: 0;
    }

    .attributes li {
        float: left;
    }

    /* BLOG & NEWS */

    .news-items .news-item {
        width: 48%;
        margin: 1%;
    }

    .news-list-page .news-items .news-item {
        margin: 0 1% 5%;
    }

    .comment-info {
        float: left;
        margin: 0;
        border-bottom: none;
        border-right: 1px solid #ccc;
        padding: 0 10px 0 0;
    }

    .comment-content {
        text-align: left;
    }

    .comment-info + .comment-content {
        margin: 0 0 0 135px;
    }

    /* PASSWORD PROTECTION */

    .enter-password-form input[type="password"] {
        width: 300px !important;
    }

    /* REGISTRATION, LOGIN, MY ACCOUNT */

    .address-list,
    .order-list {
        text-align: left;
    }

    .section {
        width: 48%;
        margin: 0 1% 2%;
    }

        .section .buttons {
            text-align: right;
        }

    .registration-page .date-of-birth select,
    .account-page .date-of-birth select {
        /*width: 100px;*/
        width: 90px;
    }

    .block-account-navigation {
        margin: 0 auto !important;
        float: none !important;
        width: 420px !important;
    }

    /* SHOPPING CART & CHECKOUT */

    .checkout-page .address-item {
        float: left;
        width: 48%;
        margin: 0 1% 2%;
    }

        .checkout-page .address-item:nth-child(2n+1) {
            clear: both;
        }

    .checkout-page .buttons {
        text-align: center !important;
    }

    .order-details-area,
    .order-review-data {
        display: table;
        width: 100%;
        margin: 0 0 30px;
    }

        .order-details-area ul,
        .order-review-data ul {
            /*display: table-cell;*/
        }

        .order-details-area td,
        .order-review-data td {
            float: none;
            width: auto;
        }

        .order-review-data > div,
        .order-details-area > div,
        .shipment-details-area > div {
            float: left;
            margin: 0 2% 30px 0;
            width: 49%;
        }

            .order-review-data > div:last-child,
            .order-details-area > div:last-child,
            .shipment-details-area > div:last-child {
                margin-right: 0;
            }

    .shipment-details-page .shipment-details-area {
        overflow: hidden;
        margin: 0 0 25px;
    }

        .shipment-details-page .shipment-details-area > ul {
            float: left;
            width: 48%;
            margin: 0 1% !important;
        }
}

@media all and (min-width: 658px) {

    .home-page-category-grid .item-grid,
    .sub-category-grid .item-grid {
        width: 640px;
        margin: 0 auto;
        overflow: hidden;
    }

    .home-page-category-grid .item-box,
    .sub-category-grid .item-box {
        float: left;
        margin: 0 5px 10px;
    }
}

@media all and (min-width: 600px) {

    .responsive-nav-wrapper > div > span {
        width: auto;
        padding: 12px 24px 12px 66px;
        text-indent: 0;
    }

    .responsive-nav-wrapper .menu-title {
        background: url(../img/icon-menu.png) no-repeat 18px center;
    }

    .responsive-nav-wrapper .search-wrap {
        background: url(../img/icon-search.png) no-repeat 18px center;
    }

        .responsive-nav-wrapper .search-wrap > span {
            padding-left: 55px;
        }

    .responsive-nav-wrapper .filters-button {
        background: url(../img/icon-filters.png) no-repeat 18px center;
    }

        .responsive-nav-wrapper .filters-button > span {
            padding-left: 64px;
        }
}

@media all and (min-width: 580px) {

    .product-variant-list {
        text-align: left;
    }

    .product-variant-line {
        overflow: hidden;
        max-width: none;
        padding: 10px;
        background: #fff;
        box-shadow: 0 1px 3px 1px rgba(0,0,0,.15);
        position: relative;
    }

    .variant-picture {
        margin: 0;
        overflow: hidden;
        float: left;
    }

    .variant-overview {
        margin-left: 230px;
    }

        .variant-overview .add-to-wishlist {
            display: block;
        }
}

@media all and (min-width: 481px) and (max-width: 768px) {

    /* LEFT/RIGHT COLUMN */

    .block {
        margin: 0 0 2% 2%;
        width: 49%;
        max-width: 100%;
        float: left;
    }

        .block:nth-of-type(2n+1) {
            clear: both;
            margin-left: 0;
        }

    /* PRODUCT GRIDS */

    .product-grid .item-box:nth-child(2n+1),
    .product-list .item-box:nth-child(2n+1) {
        clear: both;
    }

    input[type="file"] {
        width: 32% !important;
    }
}
