﻿@model CompareProductsModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.CompareProducts").Text);
    //page class
    Html.AppendPageCssClassParts("html-compare-products-page");
}
<link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />

@using Nop.Web.Models.Catalog;
@{
    string columnWidth = "";
    if (Model.Products.Count > 0)
    {
        columnWidth = Math.Round((decimal)(90M / Model.Products.Count), 0).ToString() + "%";
    }


    var specificationAttributes = new List<ProductSpecificationModel>();
    foreach (var product in Model.Products)
    {
        foreach (var attribute in product.SpecificationAttributeModels)
        {
            if (specificationAttributes.FirstOrDefault(sa => sa.SpecificationAttributeId == attribute.SpecificationAttributeId) == null)
            {
                specificationAttributes.Add(attribute);
            }
        }
    }
}
<div class="page compare-products-page">
    <div class="page-title">
        <h1>@T("Products.Compare.Title")</h1>
    </div>
    <div class="page-body">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_content" id="ScrollableDiv">

                @if (Model.Products.Count > 0)
                {
                    <a href="#" onclick="setLocation('@Url.RouteUrl("ClearCompareList")')" class="clear-list">@T("Products.Compare.Clear")</a>
                    <div class="table-wrapper">
                        <table class="compare-products-table">
                            <tbody>
                                <tr class="remove-product">
                                    <td class="empty">&nbsp;</td>
                                    @foreach (var product in Model.Products)
                                    {
                                        <td style="width: @columnWidth;">
                                            <input type="button" value="@T("Common.Remove")" title="@T("Common.Remove")" class="button-2 remove-button" onclick="setLocation('@Url.RouteUrl("RemoveProductFromCompareList", new { productId = product.Id })')" />
                                        </td>
                                    }
                                </tr>
                                <tr class="product-picture">
                                    <td class="empty">&nbsp;</td>
                                    @foreach (var product in Model.Products)
                                    {
                                        <td style="width: @columnWidth;">
                                            <a class="picture" href="@Url.RouteUrl("Product", new { SeName = product.SeName })"><img alt="@product.DefaultPictureModel.AlternateText" src="@product.DefaultPictureModel.ImageUrl" title="@product.DefaultPictureModel.Title" /></a>
                                        </td>
                                    }
                                </tr>
                                <tr class="product-name">
                                    <td>
                                        <label>@T("Products.Compare.Name")</label>
                                    </td>
                                    @foreach (var product in Model.Products)
                                    {
                                        <td style="width: @columnWidth;">
                                            <a href="@Url.RouteUrl("Product", new { SeName = product.SeName })">@product.Name</a>
                                        </td>
                                    }
                                </tr>
                                <tr class="product-price">
                                    <td>
                                        <label>@T("Products.Compare.Price")</label>
                                    </td>
                                    @foreach (var product in Model.Products)
                                    {
                                        <td style="width: @columnWidth;">
                                            @product.ProductPrice.Price
                                        </td>
                                    }
                                </tr>
                                @if (Model.IncludeShortDescriptionInCompareProducts)
                                {
                                    <tr class="short-description">
                                        <td>
                                            <label>@T("Products.Compare.ShortDescription")</label>
                                        </td>
                                        @foreach (var product in Model.Products)
                                        {
                                            <td style="width: @columnWidth;">
                                                @Html.Raw(product.ShortDescription)
                                            </td>
                                        }
                                    </tr>
                                }
                                @foreach (var specificationAttribute in specificationAttributes)
                                {
                                    <tr class="specification">
                                        <td>
                                            <label>@specificationAttribute.SpecificationAttributeName</label>
                                        </td>
                                        @foreach (var product in Model.Products)
                                        {
                                            var foundProductSpec = product.SpecificationAttributeModels.FirstOrDefault(psa => psa.SpecificationAttributeId == specificationAttribute.SpecificationAttributeId);

                                            <td style="width: @columnWidth;">
                                                @if (foundProductSpec != null)
                                                {
                                                    if (String.IsNullOrEmpty(foundProductSpec.ColorSquaresRgb))
                                                    {
                                                        @Html.Raw(foundProductSpec.ValueRaw)
                                                    }
                                                    else
                                                    {
                                                        <div class="attribute-squares color-squares">
                                                            <span class="attribute-square-container" title="@Html.Raw(foundProductSpec.ValueRaw)">
                                                                <span class="attribute-square" style="background-color: @(foundProductSpec.ColorSquaresRgb);">&nbsp;</span>
                                                            </span>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <text>&nbsp;</text>
                                                }
                                            </td>
                                        }
                                    </tr>
                                }
                                @if (Model.IncludeFullDescriptionInCompareProducts)
                                {
                                    <tr class="full-description">
                                        <td>
                                            <label>@T("Products.Compare.FullDescription")</label>
                                        </td>
                                        @foreach (var product in Model.Products)
                                        {
                                            <td style="width: @columnWidth;">
                                                @Html.Raw(product.FullDescription)
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

                @if (Model.Products.Count > 0)
                {
                    <table class="compare-products-table-mobile data-table">
                        <thead>
                            <tr>
                                <th><span class="item-count">#</span></th>
                                <th data-hide="w410, w480, w580, w768"></th>
                                <th>@T("SevenSpikes.Themes.Picture")</th>
                                <th data-hide="w410, w480, w580, w768">@T("SevenSpikes.Themes.ProductCompareName")</th>
                                <th>@T("Products.Compare.Price")</th>
                                @if (Model.IncludeShortDescriptionInCompareProducts)
                                {
                                    <th>@T("Products.Compare.ShortDescription")</th>
                                }
                                @foreach (var specificationAttribute in specificationAttributes)
                                {
                                    <th data-hide="w410, w480, w580">@specificationAttribute.SpecificationAttributeName</th>
                                }
                               @if (Model.IncludeFullDescriptionInCompareProducts)
                                {
                                    <th>@T("Products.Compare.FullDescription")</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @{var counter = 0;}
                            @foreach (var product in Model.Products)
                            {
                                counter++;
                                <tr>
                                    <td><span class="item-count">@counter</span></td>
                                    <td>
                                        <input type="button" value="@T("Common.Remove")" title="@T("Common.Remove")" class="button-2 remove-button" onclick="setLocation('@Url.RouteUrl("RemoveProductFromCompareList", new { productId = product.Id })    ')" />
                                    </td>
                                    <td>
                                        <img alt="@product.DefaultPictureModel.AlternateText" src="@product.DefaultPictureModel.ImageUrl" title="@product.DefaultPictureModel.Title" />
                                    </td>
                                    <td>
                                        <a class="link" href="@Url.RouteUrl("Product", new { SeName = product.SeName })">@product.Name</a>
                                    </td>
                                    <td>
                                        @product.ProductPrice.Price
                                    </td>
                                    @if (Model.IncludeShortDescriptionInCompareProducts)
                                    {
                                        <td>
                                            @Html.Raw(product.ShortDescription)
                                        </td>
                                    }
                                    @foreach (var specificationAttribute in specificationAttributes)
                                    {
                                        <td>
                                            @{
                                        var foundProductSpec = product.SpecificationAttributeModels.FirstOrDefault(psa => psa.SpecificationAttributeId == specificationAttribute.SpecificationAttributeId);
                                        var specValue = foundProductSpec != null ? foundProductSpec.ValueRaw : "";
                                        if (!String.IsNullOrEmpty(specValue))
                                        {
                                            @Html.Raw(specValue)
                                        }
                                        else
                                        {
                                            <text>&nbsp;</text>
                                        }
                                            }
                                        </td>
                                    }
                                    @if (Model.IncludeFullDescriptionInCompareProducts)
                                    {
                                        <td>
                                            @Html.Raw(product.FullDescription)
                                        </td>
                                    }
                                </tr>
                            }


                        </tbody>
                    </table>

                }
                else
                {
                    <div class="no-data">
                        @T("Products.Compare.NoItems")
                    </div>
                }
            </div>
        </div>
    </div>
</div>
