﻿/*
* Copyright 2014 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/



/**************************** FASHION ***************************/

.quickView {
    left: 50% !important;
    transform: translateX(-50%);
}

/********** START BUTTON *********/

.quickView .k-window-titlebar.k-header .k-window-actions a {
    /*border: none;*/
}

.quickView .k-window-titlebar.k-header .k-window-actions {
    top: 10px;
    right: 10px;
}


.quickViewWindow .popup-header {
    padding: 0;
    margin: 0;
    border-bottom: none;
    background: -moz-linear-gradient(top, rgba(238,238,238,0.8) 0%, rgba(238,238,238,0.01) 99%, rgba(238,238,238,0) 100%);
    background: -webkit-linear-gradient(top, rgba(238,238,238,0.8) 0%,rgba(238,238,238,0.01) 99%,rgba(238,238,238,0) 100%);
    background: linear-gradient(to bottom, rgba(238,238,238,0.8) 0%,rgba(238,238,238,0.01) 99%,rgba(238,238,238,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cceeeeee', endColorstr='#00eeeeee',GradientType=0 );
    background-color: #d4d4d4;
}

.quickViewWindow .product-name {
    font-size: 16px;
    text-shadow: none;
}


.quick-view-button {
    background: #000;
	color: #fff;
    opacity: 0;
    transition: all .15s ease-in-out;
}

.quick-view-button a {
    padding: 10px 15px;
}

.item-box:hover .quick-view-button {
    opacity: 1;
}

.quick-view-button:hover {
    background: #585858;
}
.product-grid .quick-view-button {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.product-list .quick-view-button {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/********** END BUTTON *********/

/********** START PRODUCT OVERVIEW *********/
.quickViewWindow #accordion .product-details {
    margin-bottom: -1px;
    box-shadow: none;
    border-color: #eee;
}

.quickViewWindow #accordion > h3 {
    box-shadow: none;
    border: none;
    margin-top: 1px;
    background: #f6f6f6;
}
.quickViewWindow #accordion > h3 + h3 {
    margin-bottom: 1px;
}

.quickViewWindow .product-content {
    padding: 15px;
    overflow: hidden;
}

.quickViewWindow input {
    border-radius: 0;
}
.quickViewWindow .product-essential {
    float: none;
    width: auto;
    margin: 0;
    padding: 0;
}
.quickViewWindow .overview {
    margin-top: 0;
    margin-bottom: 10px;
    background: none;
    padding: 0;
}
.quickViewWindow .gallery {
	display: block; /*Cloud Zoom css override*/
}
.quickViewWindow .gallery .picture {
    position: relative;
}
.quickViewWindow .gallery .picture a {
    height: auto;
}
.quickViewWindow .gallery .picture img {
	bottom: auto;
	max-height: none;
}
.quickViewWindow .gallery .picture a img {
	position: static;
}

.quickViewWindow .gallery .thumbnails {
    background: transparent;
    padding: 0;
}

.quickViewWindow .gallery .thumbnails a,
.quickViewWindow .gallery .thumbnails > img {
    margin: 0 9px 9px 0;
    width: calc(33% - 6px);
}

.quickViewWindow .gallery .thumbnails a:nth-child(3n),
.quickViewWindow .gallery .thumbnails > img:nth-child(3n) {
    margin: 0 0 9px 0;
}

.quickViewWindow .links-panel {
    margin-top: 10px;
}


.quickViewWindow .gallery .picture #wrap {
    display: inline-block;
}
.quickViewWindow  #accordion > h3 span.ui-icon-circle-arrow-s {
    background: url(images/minus.png) no-repeat center;
}
.quickViewWindow  #accordion > h3 span.ui-icon-circle-arrow-e {
    background: url(images/plus.png) no-repeat center;
}
.quickViewWindow  .left .stock {
    line-height: 26px;
    margin: 0;
}
.quickViewWindow  .left .back-in-stock-subscription {
    margin-bottom: 5px;
}
.quickViewWindow .left .back-in-stock-subscription .subscribe-button {
    margin: 0;
    padding: 0;
    background: url(../../../Styles/images/bullet-right.gif) no-repeat -3px center;
    border: none;
    cursor: pointer;
    font-size: 10px;
    text-transform: none;
    box-shadow: none;
    color: #333;
}
.quickViewWindow .left .back-in-stock-subscription .subscribe-button:hover{
    text-decoration: underline;
    color: #000;
}
.quickViewWindow  .left .download-sample {
    margin-bottom: 8px;
}
.quickViewWindow  .left .download-sample-button a {
    text-shadow: 1px 1px 0 #bbb;
    color: #060;
}
.quickViewWindow  .left .download-sample-button a:hover {
    text-decoration: underline;
}
.quickViewWindow .right .compare-products {
    margin-top: 0;
}
.quickViewWindow  #accordion .purchase-area {
    border-top: 1px dotted #ccc;
    overflow:hidden;
    padding: 10px 0 0;
    margin-top: 10px;
}
.quickViewWindow  #accordion .purchase-area .prices {
    float: left;
}
.quickViewWindow .prices span{
    line-height: 30px;
}
.quickViewWindow  #accordion .purchase-area .add-to-cart:first-child {
    width: 100%;
}

.quickViewWindow  #accordion .purchase-area .add-to-cart {
    margin: 0;
    float: right;
    color: #000;
}


.quickViewWindow  #accordion .purchase-area .add-to-cart .add-to-cart-button {
    padding: 6px 10px;
}
.quickViewWindow  #accordion .purchase-area .add-to-cart .qty-input {
    padding: 5px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
}
.quickViewWindow  #accordion .purchase-area .add-to-cart .qty-label {
    line-height: 30px;
    color: #000;
}
/*.quickViewWindow  #accordion .purchase-area .add-to-cart .qty-dropdown {
    height: 32px;
}*/
.quickViewWindow  #accordion .purchase-area .add-to-cart .add-to-wishlist-button {
    display: none;
}
.quickViewWindow .product-specs-box {
    margin: 0;
    border: 0;
}
.quickViewWindow  .full-description {
    border: none;
}
.quickViewWindow  .product-specs-box .title {
    display: none;
}

/********** END PRODUCT ESSENTIAL *********/    

/********** START RELATED/ALSO-PURCHASED PRODUCTS *********/


.quickViewWindow .product-grid {
    padding-bottom: 10px;
}

.quickViewWindow .product-grid .title {
    margin: 0;
}
.quickViewWindow .product-grid .product {
    margin: 0 10px;
    text-align: center;
    height: 130px;
    width: calc(20% - 20px);
    padding: 0;
    overflow: hidden;
}
.quickViewWindow .product-grid .product a {
    display: inline-block;
    box-shadow: none;
    height: 85px;
    width: 70px;
    float: none;
    overflow: hidden;
    background: none;
}

.quickViewWindow .product-grid .product p {
    margin-top: 5px;
    font-size: 10px;
    height: 28px;
    overflow: hidden;
    text-transform: uppercase;
}

/********** END RELATED/ALSO-PURCHASED PRODUCTS *********/

/********* START VARIANTS IN GRID ********/

.quickViewWindow  .product-price {
    margin: 0 0 10px;
}

.quickViewWindow .overview .variants-in-grid .product-variant-list .product-variant .price .product-price {
    color: #0f0 !important;
    font-weight: bold;
}
.quickViewWindow .overview .attributes {
    padding: 8px 0;
}
.quickViewWindow .overview .attributes dl dt {
    line-height: 24px;
    float: none;
    width: initial;
}

.quickViewWindow .overview .attributes dl dd {
    padding-left: 5px;
    float: none;
}
.quickViewWindow .overview .attributes select {
    max-width: 250px;
}
.quickViewWindow .variant-grid-info .compare-products {
    margin-top: 0;
}

.quickViewWindow .variant-name {
    margin-bottom: 5px;
    font-size: 10px;
}

.quickViewWindow .variant-info .prices {
    height: 20px;
    overflow: hidden;
}

.quickViewWindow .variant-info .prices .product-price {
    margin-top: 0;
}

.quickViewWindow .variant-info .prices span {
    line-height: 18px;
    font-size: 12px;
}

/********* END VARIANTS IN GRID ********/

/********* START GIFTCARD *********/

.quickView .giftcard {
    margin: 0;
    border-radius: 0;
    background: none;
    padding: 0;
}

.quickView .giftcard > div {
    margin-bottom: 8px;
}

.quickView .giftcard label {
    line-height: 28px;
}

.quickView .giftcard input[type=text],
.quickView .giftcard textarea {
    width: calc(100% - 130px);
}

/********* END GIFTCARD *********/