﻿/*
* Copyright 2014 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

/********* START BUTTON *********/

.quick-view-button {
    right: 50%;
	left: auto;
    margin: -25px -25px 0 0;
}

@media all and (min-width: 769px) {

.product-list .quick-view-button {
	right: 15%;
}

}

/********** GALLERY & OVERVIEW *********/

.quickViewWindow .links-panel a {
	background: url('images/rtl-arrow.png') right center no-repeat;
}
.quickViewWindow .rental-attributes dt {
	margin: 0 15px 0 0 !important;
}
.quickViewWindow .overview .add-to-cart-panel {
    margin-right: 0;
}
.quickViewWindow .back-in-stock-subscription {
	clear: right;
}
.quickViewWindow .product-variant {
	margin-left: 0;
    margin-right: 2px;
}
.quickViewWindow .product-variant:nth-child(3n+1) {
	margin-right: 0;
}

/********* GIFTCARD *********/

.quickViewWindow .giftcard label {
	margin: 0 0 0 10px;
	text-align: left;
}