﻿@{
    ViewBag.Title = "Notifications";
    ViewBag.PageTitle = "Notifications";
    ViewBag.Breadcrumb_L1 = "Notifications";
    ViewBag.Breadcrumb_L2 = "";
    ViewBag.Breadcrumb_L3 = "";
}

<form id="formVNT" name="formVNT" class="form">
    <ul class="item-list notifications-list all-notifications"></ul>
    <button type="button" class="btn btn-danger waves-effect col-xs-12 col-sm-12 col-md-12 no-float center-block load-more-all">
        Load more...
        <div class="ripple-container"></div>
    </button>
    <br />
    <br />
</form>

@section scripts {
    <script src="@Url.Content("~/assets/js/account/notifications.js")"></script>
}