﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Proceed to PayU for Payment</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>
<body>
    <div>
        @{
            if (ViewData["FormToSubmit"] != null)
            {
                <h4 style="margin-top:40%;text-align:center">
                    <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                    <span style="display:inline-block;height:45px;vertical-align:middle;font-family: 'Roboto', sans-serif;line-height: 1.55em;font-size: 1.2em;font-weight: 300">Loading, please wait...</span>
                </h4>
                @Html.Raw(ViewData["FormToSubmit"].ToString())
                <script>
                    parent.postMessage("i|Redirecting to Payment Gateway...", "*");
                </script>
            }
            else
            {
                @:<h3 class="text-center">Failed to Initiate request to Payment Gateway!</h3>
            }
        }
    </div>
</body>
</html>
