﻿@{
    Layout = "~/Plugins/Nop.Plugin.Api/Views/Shared/_MemberLayout.cshtml";
    <script src="@Url.Content("~/Plugins/Nop.Plugin.Api/assets/js/account/rechargestatus.js")"></script>

    ViewBag.Title = "Recharge Status";
    ViewBag.PageTitle = "Recharge Status";
    ViewBag.Breadcrumb_L1 = "Recharge Status";
    ViewBag.Breadcrumb_L2 = "";
    ViewBag.Breadcrumb_L3 = "";
    <script>
        var type_list_json = JSON.parse(@Html.Raw(Json.Encode(ViewData["JSONRechargeType"])));
    </script>
}

<form id="frmrechargestatus" name="frmrechargestatus">
    <div class="card">
        <div class="card-content">
            <h4 class="text-center recharge-type bold"></h4>
            <div class="center-block text-center div-icon"></div>
            <br />
            <div class="text-center">
                Transaction Id <span class="transaction-id"></span>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <button type="button" class="btn brown darken-4 text-white waves-effect col-xs-12 col-sm-12 col-md-12 no-float center-block submit-button">
        <span>Make another Recharge/Payment</span>
        <div class="ripple-container"></div>
    </button>
    <br />
</form>
