﻿@{
    ViewBag.Title = "Refer And Earn";
    ViewBag.PageTitle = "Refer And Earn";
    ViewBag.Breadcrumb_L1 = "Refer And Earn";
    ViewBag.Breadcrumb_L2 = "";
    ViewBag.Breadcrumb_L3 = "";
}

<div class="container-fluid padding-10" style="overflow-x:hidden">
    <div id="formErrorRAE" class="card" style="display:none">
        <div class="card-content">
            <img src="@Url.Content("~/img/error-flat.png")" class="center-block" style="max-width:30%" />
            <h4 id="errorMessageRAE" class="center-block">This Offer has Expired!</h4>
        </div>
    </div>
    <form id="frmreferandearn" name="frmreferandearn" style="display:none">
        <h4 class="center-block no-margin-top">We value friendship. At exactly <i class="fa fa-rupee" style="font-size:.9em"></i>&nbsp;<span class="your-amount">0</span>.</h4>
        <h4 class="center-block no-margin-top">Invite a friend to sign up.</h4>
        <div>
            <div class="col-xs-4 col-sm-4 col-md-4 padding-5">
                <div class="how-it-works">
                    <img src="@Url.Content("~/img/icons/mobile-phone.png")" />
                </div>
                <h4 class="center-block text-capitalize">Refer</h4>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 padding-5">
                <div class="how-it-works">
                    <img src="@Url.Content("~/img/icons/money.png")" />
                </div>
                <h4 class="center-block text-capitalize">Earn</h4>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 padding-5">
                <div class="how-it-works">
                    <img src="@Url.Content("~/img/icons/like.png")" />
                </div>
                <h4 class="center-block text-capitalize">Repeat</h4>
            </div>
            <div class="clearfix"></div>
        </div>
        <br />
        <div>
            <hr class="hr-text white" data-content="REFERRAL CODE" />
            <h2 id="referral_code" class="referral-code center-block blink">
                <a id="referral_code_anchor" href="#" class="text-black"></a>
            </h2>
        </div>
        <br />
        <div class="card">
            <div class="card-content padding-10">
                <b>How it Works?</b>
                <ol class="padding-10">
                    <li>Share your Referral code with your friends.</li>
                    <li>Friend signs up from App with your code.</li>
                    <li>You earn <i class="fa fa-rupee" style="font-size:.9em"></i>&nbsp;<span class="your-amount">0</span>. Your friend earns <i class="fa fa-rupee" style="font-size:.9em"></i>&nbsp;<span class="friend-amount">0</span>.</li>
                    <li>Earn for every friend you refer.</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="card">
            <div class="card-content padding-10">
                <b>Terms &amp; Conditions</b>
                <ol class="padding-10">
                    <li class="text-justify">Invite your friends by sharing your unique invitation link/ unique code. @*You can invite your friends by sharing on Facebook / WhatsApp / SMS / Email / Others platforms.*@</li>
                    <li class="text-justify">Once your friend registers with us using your referral code, you will earn <i class="fa fa-rupee" style="font-size:.9em"></i>&nbsp;<span class="your-amount">0</span> GRPL Cash.</li>
                    <li class="text-justify">Friend needs to register from the app only withing 24 hours of receiving the link. No GRPL Cash will be given if signed up from website.</li>
                    <li class="text-justify">Friend will earn <i class="fa fa-rupee" style="font-size:.9em"></i>&nbsp;<span class="friend-amount">0</span> GRPL Cash. the friend should never have downloaded the GRPL app in past</li>
                    <li class="text-justify">GRPL Cash will be credited only once per referral</li>
                    <li class="text-justify">GRPL Cash can not be withdrawal in bank account. GRPL Cash is non transferable</li>
                    <li class="text-justify">GRPL Cash earned through this program has a validity of <span class="expiry-days">0</span> days from the day GRPL Cash is credited to your account.</li>
                    <li class="text-justify">The eCash earned by you and your friend can be used in future bookings of Flights, Hotels , Bus booking. It cannot be used in Recharges and Bill payments.</li>
                    <li class="text-justify text-bold text-danger">GRPL Cash used in booking will not be credited back after cancellation of tickets/rooms.</li>
                    <li class="text-justify">Getthiss Reseller Pvt Ltd reserves all rights to change the amount conferred under the refer & Earn Program scheme at any point of time.</li>
                    <li class="text-justify">Getthiss Reseller Pvt Ltd  has all rights to terminate any user's GRPL Cash account if any misuse is detected.</li>
                </ol>
            </div>
        </div>
    </form>
</div>

@section scripts {
    <script src="@Url.Content("~/assets/js/account/ReferAndEarn.js")"></script>
}