﻿@using Kendo.Mvc.UI
@model Nop.Admin.ViewModel.SpillDetailsReport
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //page title
}



@(Html.Kendo().Grid<dynamic>()
                .Name("SpillDetails-grid")
                       .Columns(columns =>
    {
        if (Model != null)
        {
            foreach (System.Data.DataColumn column in Model.dataTable.Columns)
            {
                columns.Bound(column.ColumnName).Title(column.Caption);

            }
        }

    })
       .Pageable(pager => pager.PageSizes(new int[] { 10, 15, 20, 50, 100 }))
    .Sortable()

    .DataSource(dataSource => dataSource
        .Ajax()
               .Model(model =>
            {
                if (Model != null)
                {
                    foreach (System.Data.DataColumn column in Model.dataTable.Columns)
                    {

                        model.Field(column.ColumnName, column.DataType);
                    }
                }
            })


                                                                                 .Read(read => read.Action("SpillDetailsGrid", "DynamicReport").Data("additionalData"))
              .PageSize(@defaultGridPageSize)
             )
)


