﻿@model Nop.Admin.Models.MemberReports.LevelwiseCount
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.MemberReports.GenerationLevelwiseCount").Text;

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Generation Level Wise Count Details");
}
@{
    var ddselectOptions = new List<SelectListItem>
    {
          new SelectListItem { Text = "All", Value="3" , Selected=true },
          new SelectListItem { Text = "ID/Name-wise", Value="0" }

    };
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.searchId)
    @Html.HiddenFor(model => model.memNumber)

    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.MemberReports.GenerationLevelwiseCount")
        </h1>
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-success " id="exportexcelGeneLevelCountDetailsReportall" name="exportexcelGeneLevelCountDetailsReportall">
                    <i class="fa fa-file-excel-o"></i>
                    @T("Admin.Common.ExportToExcel")
                </button>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.selectOption)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.selectOption, ddselectOptions)
                                        @Html.ValidationMessageFor(model => model.selectOption)
                                    </div>
                                </div>
                                <div class="form-group" id="divIDwise">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.memberID)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.memberID)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                        @Html.ValidationMessageFor(model => model.memberID)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.DatewiseFrom)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.DatewiseFrom)
                                        @Html.ValidationMessageFor(model => model.DatewiseFrom)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.DatewiseTo)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.DatewiseTo)
                                        @Html.ValidationMessageFor(model => model.DatewiseTo)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-8">
                                        <b id="MessageNote"> @T("Admin.Note.Note") </b>@T("Admin.MemberReports.LevelwiseCount.note")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-1">
                                <button type="button" id="searchlevelReport" name="searchlevelReport" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>

                                <button type="submit" name="Refresh" id="btnRefresh" class="btn btn-primary btn-search">
                                    <i class="fa fa-refresh"></i>
                                    @T("Admin.Common.Refresh")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="divShowHide">
                    <div class="panel-body">
                        <h3>@T("Admin.Customer.SearchResult")</h3>
                        <br />
                        <div id="LevelReport-grid"> </div>

                        <script>

                            function getfillGrid() {
                                $("#LevelReport-grid").show();
                                $('#divShowHide').show();
                                $("#showButtons").show();

                                var StartDate = $("#StartDate").val();
                                var EndDate = $("#EndDate").val();


                                var startDate = null;
                                var endDate = null;

                                if (StartDate != "")
                                    startDate = getDate($("#DatewiseFrom").data("kendoDatePicker").value());
                                if (EndDate != "")
                                    endDate = getDate($("#DatewiseTo").data("kendoDatePicker").value());



                                var data = {
                                    selectOption: $('#@Html.FieldIdFor(model => model.selectOption)').val(),
                                    DatewiseFrom: startDate,
                                    DatewiseTo: endDate,
                                    memberID: $('#@Html.FieldIdFor(model => model.memberID)').val(),
                                    searchId: $('#@Html.FieldIdFor(model => model.searchId)').val(),
                                    refreshFlag: refreshFlag
                                };
                                addAntiForgeryToken(data);

                                $.ajax({
                                    url: "@Html.Raw(Url.Action("GenerationLevelWiseCountDetailsPost", "DynamicReport"))",
                                    type: "POST",
                                    dataType: "html",
                                    data: data,
                                    success: function (result) {
                                        $('#LevelReport-grid').html(result);
                                    },
                                    error: function (xhr, textStatus, exceptionThrown) {
                                        alert('hi');
                                        $("#validationMessages").html("");
                                        $("#validationMessages").show();
                                        $("#validationMessages").html("@T("CommissionDetails.Kendo.Error")");
                                    }
                                });
                            }
                        </script>

                        <script type="text/javascript">
                            //search button
                            $('#memberID').autocomplete({
                                delay: 500,
                                minLength: 1,
                                source: '@(Url.Action("SearchTermAutoComplete", "MemberReports"))',
                                appendTo: '.search-box',
                                select: function (event, ui) {
                                    $("#searchId").val(ui.item.MJD_MemID);
                                    $("#memberID").val(ui.item.label);
                                    $("#memNumber").val(ui.item.MJD_MemNo);
                                    $("#divfirstname").show();

                                    //  return false;
                                }
                            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                                var t = item.label;
                                //html encode
                                t = $('<div/>').text(t).html();
                                return $("<li></li>")
                                    .data("item.autocomplete", item)
                                    .append("<a><span>" + t + "</span></a>")
                                    .appendTo(ul);
                            };
                            $(document).ready(function () {

                                $("#LevelReport-grid").hide();
                                $("#validationMessages").hide();
                                $("#sucessMessages").hide();
                                $("#showButtons").hide();

                                $('#selectOption').change(function () {
                                    var value = $(this).val();
                                    if (value == 0) {
                                        $("#divIDwise").show();
                                        $("#validationMessages").hide();
                                        $("#sucessMessages").hide();
                                        $("#memberID").val(""); $("#memberID").focus();

                                    }
                                    else {
                                        $("#divIDwise").hide();
                                        $("#searchId").val("");
                                        $("#validationMessages").hide();
                                        $("#sucessMessages").hide();

                                    }
                                });

                                $('#searchlevelReport').click(function () {
                                    
                                    var start_time = $("#DatewiseFrom").val();
                                    var end_time = $("#DatewiseTo").val();
                                    var selectVal = $("#selectOption").val();
                                    if (selectVal == "0") {
                                        if ($("#memberID").val() == "") {
                                            $("#validationMessages").show();
                                            $("#validationMessages").html("@T("admin.customerreport.memid")");
                                            return;
                                        }
                                    }
                                    @*if (new Date(start_time) > new Date(end_time)) {
                                $("#validationMessages").show();
                                $("#validationMessages").html("@T("Admin.MemberReports.datediffeenceError")");

                                return;
                            }
                            if (start_time == "" && end_time != "") {
                                $("#validationMessages").show();
                                $("#validationMessages").html("@T("Admin.MemberReports.enterfromdate")");
                                return;
                            }
                            if (start_time != "" && end_time == "") {
                                $("#validationMessages").show();
                                $("#validationMessages").html("@T("Admin.MemberReports.entertodate")");
                                return;
                            }*@
                                    //----------------

                                    var EnteredDate = getDate($("#DatewiseFrom").data("kendoDatePicker").value());
                                    var EnteredFromdate = getDate($("#DatewiseTo").data("kendoDatePicker").value());

                                    var str = EnteredDate;
                                    var res = str.split("/");
                                    var date = res[1];
                                    var month = res[0];
                                    var year = res[2];

                                    var str1 = EnteredFromdate;
                                    var res1 = str1.split("/");
                                    var Fromdate = res1[1];
                                    var Frommonth = res1[0];
                                    var Fromyear = res1[2];

                                    var myDate = new Date(year, month - 1, date);/// value on EnteredDate CreatedOnFrom

                                    var myFromDate = new Date(Fromyear, Frommonth - 1, Fromdate); /// value on EnteredFromdate CreatedOnTo

                                    var today = new Date();
                                    var validationDivs = '';
                                    var start_time = $("#DatewiseFrom").val();
                                    var end_time = $("#DatewiseTo").val();

                                    if (myFromDate > today) {
                                        $("#validationMessages").show();
                                        $("#validationMessages").html("@T("Admin.Validation.DateLessthanToday")");

                                        return;
                                    }
                                    if (myFromDate < myDate) {
                                        $("#validationMessages").show();
                                        $("#validationMessages").html("@T("Admin.MemberReports.datediffeenceError")");

                                        return;
                                    }
                                    //-----------------------
                                    //  else
                                    //  {
                                    @*var data = {
                                selectOption:$('#selectOption').val(),
                                DatewiseFrom: $('#DatewiseFrom').val(),
                                DatewiseTo: $('#DatewiseTo').val(),
                                memberID: $('#memberID').val(),
                                searchId:$('#searchId').val()
                            }

                            addAntiForgeryToken(data);


                            $.ajax({  url: "@Html.Raw(Url.Action("GenerationLevelWiseCountDetailsGrid", "MemberReports"))",
                                type: "POST",
                                dataType: "json",
                                data:data  , success: function(result){


                                    if(result=="norecord")
                                    {
                                        $("#validationMessages").show();
                                        $("#validationMessages").html("@T("Dashboard.MyNetwork.SearchResult.NotFound")");
                                        $("#LevelReport-grid").hide();
                                        $("#sucessMessages").hide();
                                        $("#showButtons").hide();
                                        $('#searchResult').hide();
                                        return;
                                    }*@

                                    $("#sucessMessages").show();
                                    $("#validationMessages").hide();

                                    refreshFlag = false;
                                    getfillGrid();
                                    // var grid = $('#LevelReport-grid').data('kendoGrid');
                                    //   grid.dataSource.page(1); //new search. Set page size to 1
                                    //grid.dataSource.read(); we already loaded the grid above using "page" function

                                    var selValue = $('#selectOption option:selected').val();
                                    var stDate = getDate($("#DatewiseFrom").data("kendoDatePicker").value())
                                        , endDate = getDate($("#DatewiseTo").data("kendoDatePicker").value());
                                    var seltype = "All Records ";
                                    $("#sucessMessages").html(seltype);
                                    if (selValue == 0)
                                        seltype = "ID" + $("#memberID").val();
                                    if (stDate != "" && endDate != "")
                                        $("#sucessMessages").html(seltype + " For Period " + stDate + " To " + endDate);


                                    //    }
                                    //});
                                    ////}
                                });

                                $("#@Html.FieldIdFor(model => model.DatewiseFrom)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#searchlevelReport").click();
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.DatewiseTo)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#searchlevelReport").click();
                                        return false;
                                    }
                                });


                                $("#@Html.FieldIdFor(model => model.selectOption)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#searchlevelReport").click();
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.memberID)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#searchlevelReport").click();
                                        return false;
                                    }
                                });

                            });

                            function additionalData() {
                                var StartDate = $("#StartDate").val();
                                var EndDate = $("#EndDate").val();


                                var startDate = null;
                                var endDate = null;

                                if (StartDate != "")
                                    startDate = getDate($("#DatewiseFrom").data("kendoDatePicker").value());
                                if (EndDate != "")
                                    endDate = getDate($("#DatewiseTo").data("kendoDatePicker").value());

                                var data = {
                                    selectOption: $('#@Html.FieldIdFor(model => model.selectOption)').val(),
                                    @*DatewiseFrom: $('#@Html.FieldIdFor(model => model.DatewiseFrom)').val(),
                            DatewiseTo: $('#@Html.FieldIdFor(model => model.DatewiseTo)').val(),*@
                                    DatewiseFrom: startDate,
                                    DatewiseTo: endDate,
                                    memberID: $('#@Html.FieldIdFor(model => model.memberID)').val(),
                                    searchId: $('#@Html.FieldIdFor(model => model.searchId)').val(),
                                    refreshFlag: refreshFlag
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#exportexcelGeneLevelCountDetailsReportall').click(function () {
            var start_time = $("#DatewiseFrom").val();
            var end_time = $("#DatewiseTo").val();
            var selectVal = $("#selectOption").val();
            if (selectVal == "0") {
                if ($("#memberID").val() == "") {
                    $("#validationMessages").show();
                    $("#validationMessages").html("@T("admin.customerreport.memid")");
                    return;
                }
            }
            @*if (new Date(start_time) > new Date(end_time)) {
                $("#validationMessages").show();
                $("#validationMessages").html("@T("Admin.MemberReports.datediffeenceError")");

                return;
            }
            if (start_time == "" && end_time != "") {
                $("#validationMessages").show();
                $("#validationMessages").html("@T("Admin.MemberReports.enterfromdate")");
                return;
            }
            if (start_time != "" && end_time == "") {
                $("#validationMessages").show();
                $("#validationMessages").html("@T("Admin.MemberReports.entertodate")");
                return;
            }*@
            // ---------------
            var EnteredDate = getDate($("#DatewiseFrom").data("kendoDatePicker").value());
            var EnteredFromdate = getDate($("#DatewiseTo").data("kendoDatePicker").value());

            var str = EnteredDate;
            var res = str.split("/");
            var date = res[1];
            var month = res[0];
            var year = res[2];

            var str1 = EnteredFromdate;
            var res1 = str1.split("/");
            var Fromdate = res1[1];
            var Frommonth = res1[0];
            var Fromyear = res1[2];

            var myDate = new Date(year, month - 1, date);/// value on EnteredDate CreatedOnFrom

            var myFromDate = new Date(Fromyear, Frommonth - 1, Fromdate); /// value on EnteredFromdate CreatedOnTo

            var today = new Date();
            var validationDivs = '';
            var start_time = $("#DatewiseFrom").val();
            var end_time = $("#DatewiseTo").val();

            if (myFromDate > today) {
                $("#validationMessages").show();
                $("#validationMessages").html("@T("Admin.Validation.DateLessthanToday")");

                return;
            }
            if (myFromDate < myDate) {
                $("#validationMessages").show();
                $("#validationMessages").html("@T("Admin.MemberReports.datediffeenceError")");

                return;
            }
            //------------
            var StartDate = $("#StartDate").val();
            var EndDate = $("#EndDate").val();
            var startDate = null;
            var endDate = null;

            if (StartDate != "")
                startDate = getDate($("#DatewiseFrom").data("kendoDatePicker").value());
            if (EndDate != "")
                endDate = getDate($("#DatewiseTo").data("kendoDatePicker").value());

            var data = {
                selectOption: $('#@Html.FieldIdFor(model => model.selectOption)').val(),
                DatewiseFrom: startDate,
                DatewiseTo: endDate,
                memberID: $('#@Html.FieldIdFor(model => model.memberID)').val(),
                searchId: $('#@Html.FieldIdFor(model => model.searchId)').val(),
                refreshFlag: refreshFlag
            };
            addAntiForgeryToken(data);


            $.ajax({
                url: "@Html.Raw(Url.Action("GenerationLevelWiseCountDetailsExportToExcel", "DynamicReport"))",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (result) {
                    if (result.success) {
                        if (result.fullFileName != null && result.fullFileName != "") {
                            window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                        }
                        else {

                            var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                            $("#validationMessages").show();
                            $('#validationMessages').append(validationDivs1);
                        }
                    }
                    else {
                        var validationDivs1 = '<div>' + result.fullFileName + '</div>';
                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs1);
                    }
                },
                error: function (result) {
                    //alert(result);
                    //alert('hi');
                }
            });


        });

        $(document).ready(function () {
            $('#selectOption').val("3");
            $('#divShowHide').hide();
            $("#divIDwise").hide();
            $("#validationMessages").hide();

            $("#DatewiseFrom").keyup(function () {
                $(this).val('');
            });

            $("#DatewiseTo").keyup(function () {
                $(this).val('');
            });

            $("#selectOption").change(function () {
                $("#showButtons").hide();
                $('#divShowHide').hide();
                $("#LevelReport-grid").hide();
                $("#validationMessages").hide();
                $("#sucessMessages").hide();
            });


            $("#btnReset").click(function () {
                $("#divIDwise").hide();
                $("#selectOption").val("3");
                $("#LevelReport-grid").hide();
                $("#validationMessages").hide();
                $("#sucessMessages").hide();
                $("#showButtons").hide();
                $('#divShowHide').hide();
            });

        });
    </script>
}