﻿@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //page title
    ViewBag.Title = T("Admin.Reports.GenerationCountDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Generation Count Details");
}

@model Nop.Admin.ViewModel.GenerationCountReport

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Reports.GenerationCountDetails")
        </h1>
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-success" name="exportexcel-all" id="exportexcel-all">
                    <i class="fa fa-file-excel-o"></i>
                    @T("Admin.Common.ExportToExcel")
                </button>
                @*<ul class="dropdown-menu" role="menu">
                        <li>
                            <button type="button" name="exportexcel-all" id="exportexcel-all">
                                <i class="fa fa-file-excel-o"></i>
                                @T("Admin.Common.ExportToExcel")
                            </button>
                        </li>
                    </ul>*@
            </div>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ddlMemOption)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownList("ddlMemOption", new List<SelectListItem>
                {
                    new SelectListItem{Text="All Record(s)",Value="0"},
                    new SelectListItem{Text="ID/Name-wise",Value="1"},
                })
                                    </div>
                                </div>
                                <div class="form-group" id="trCustomerName">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ddlMemIDName)
                                        @*@Html.DropDownList("ddlMemIDName", new List<SelectListItem>
                                            {
                                                new SelectListItem{Text="Enter an ID/Name",Value="0"},
                                            })*@
                                    </div>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.MemNo)*@
                                        @*<input type="text" id="SearchFirstName" value="" name="" />*@
                                        @Html.NopEditorFor(model => model.CustomerName)
                                        @Html.HiddenFor(model => model.MemNo)
                                        @Html.HiddenFor(model => model.MemIDs)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ddlOption)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownList("ddlOption", new List<SelectListItem>
                {
                    new SelectListItem{Text="All Record(s)",Value="0"},
                    new SelectListItem{Text="Period-wise",Value="1"},
                    new SelectListItem{Text="Payout-wise",Value="2"}
                })
                                    </div>
                                </div>
                                <div class="form-group" id="trStartDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.StartDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.StartDate)
                                        @Html.HiddenFor(model => model.HStartDate)
                                        @Html.ValidationMessageFor(model => model.StartDate)
                                    </div>
                                </div>
                                <div class="form-group" id="trEndDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.EndDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.EndDate)
                                        @Html.HiddenFor(model => model.HEndDate)
                                        @Html.ValidationMessageFor(model => model.EndDate)
                                    </div>
                                </div>
                                <div class="form-group" id="trPlanType">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.PM_ID)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.PM_ID, Model.PlanTypeList, new { autocomplete = "off", maxlength = 22, Id = "ddlPlanType" })
                                    </div>
                                </div>
                                <div class="form-group" id="trPayoutNoList">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.PN_ID)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.PN_ID, Model.PayoutNoList, new { ocomplete = "off", maxlength = 22, Id = "ddlPayoutFrom" })
                                    </div>
                                </div>
                                <div class="form-group" id="trPayoutStartDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.PayoutStartDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.PayoutStartDate, new { @class = "form-control", @readonly = "readonly" })
                                        @*@Html.DropDownListFor(model => model.PayoutStartDate, Model.PayoutStartDateList, new { style = "Width: 165px;", autocomplete = "off", maxlength = 22 })*@
                                    </div>
                                </div>
                                <div class="form-group" id="trPayoutEndDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.PayoutEndDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.PayoutEndDate, new { @class = "form-control", @readonly = "readonly" })
                                        @*@Html.DropDownListFor(model => model.PayoutEndDate, Model.PayoutEndDateList, new { style = "Width: 165px;", autocomplete = "off", maxlength = 22 })*@
                                    </div>
                                </div>
                                <div class="form-group" id="trddlCountWise">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ddlCountWise)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownList("ddlCountWise", new List<SelectListItem>
                {
                    new SelectListItem{Text="Total",Value="0"},
                    new SelectListItem{Text="Confirm",Value="1"},
                })
                                    </div>
                                </div>
                                <div class="form-group" id="trDdlGroupBy">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ddlGroupBy)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.FM_FHID, Model.ddlGroupByList, new { autocomplete = "off", maxlength = 22, Id = "ddlGroupBy" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-1">
                                <button type="button" name="search" id="search-generationCountdetails" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                                <button type="submit" name="Refresh" id="btnRefresh" class="btn btn-primary btn-search">
                                    <i class="fa fa-refresh"></i>
                                    @T("Admin.Common.Refresh")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="divShowHide">
                    <div class="panel-body">
                        <h3>@T("Admin.Customer.SearchResult")</h3>

                        <div id="generationCountdetails-grid"></div>

                        <script type="text/javascript">

                            var refreshFlag = false;

                            $(document).ready(function () {
                                $("#generationCountdetails-grid").hide();
                                $('#divShowHide').hide();

                                $("#@Html.FieldIdFor(model => model.StartDate)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-generationCountdetails").click();
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.EndDate)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-generationCountdetails").click();
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.PayoutStartDate)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-joiningdetails").click();
                                        return false;
                                    }
                                });

                                $("#@Html.FieldIdFor(model => model.PayoutEndDate)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-joiningdetails").click();
                                        return false;
                                    }
                                });
                            });

                            function additionalData() {
                                var StartDate = $("#StartDate").val();
                                var EndDate = $("#EndDate").val();
                                var PayoutStartDate = $("#PayoutStartDate").val();
                                var PayoutEndDate = $("#PayoutEndDate").val();

                                var startDate = null;
                                var endDate = null;
                                var PayoutStartDate = null;
                                var PayoutEndDate = null;

                                if (StartDate != "")
                                    startDate = getDate($("#StartDate").data("kendoDatePicker").value());
                                if (EndDate != "")
                                    endDate = getDate($("#EndDate").data("kendoDatePicker").value());

                                if (PayoutStartDate != null)
                                    PayoutStartDate: getDateFromString($("#PayoutStartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime");

                                if (PayoutEndDate != null)
                                    PayoutEndDate: getDateFromString($("#PayoutEndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime");

                                var data = {
                                    MemNo: $('#@Html.FieldIdFor(model => model.MemNo)').val(),
                                    MemIDs: $('#@Html.FieldIdFor(model => model.MemIDs)').val(),
                                    ddlOption: $('#@Html.FieldIdFor(model => model.ddlOption)').val(),
                                    HStartDate: startDate,
                                    HEndDate: endDate,
                                    ddlGroupBy: $('#@Html.FieldIdFor(model => model.ddlGroupBy)').val(),
                                    ddlMemOption: $('#@Html.FieldIdFor(model => model.ddlMemOption)').val(),
                                    ddlCountWise: $('#@Html.FieldIdFor(model => model.ddlCountWise)').val(),
                                    PayoutStartDate: PayoutStartDate,
                                    PayoutEndDate: PayoutEndDate,
                                    PN_ID: $("#ddlPayoutFrom").val(),
                                    PM_ID: $("#ddlPlanType").val(),
                                     
                                    @*PayoutStartDate: $('#@Html.FieldIdFor(model => model.PayoutStartDate)').val(),
                                    PayoutEndDate: $('#@Html.FieldIdFor(model => model.PayoutEndDate)').val(),*@
                                    ddlMemIDName: $('#@Html.FieldIdFor(model => model.ddlMemIDName)').val(),
                                    CustomerName: $('#@Html.FieldIdFor(model => model.CustomerName)').val(),
                                    refreshFlag: refreshFlag
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        $('#exportexcel-all').click(function () {
            var Choice = $("#ddlMemOption").val();
            //var vFromDt = $("#StartDate").val();
            //var vToDt = $("#EndDate").val();
            var StartDate = $("#StartDate").val();
            var EndDate = $("#EndDate").val();
            var vFromDt = "";
            var vToDt = "";
            if (StartDate != "") {
                vFromDt = getDate($("#StartDate").data("kendoDatePicker").value());
            }
            if (EndDate != "") {
                vToDt = getDate($("#EndDate").data("kendoDatePicker").value());
            }
            var ddlOption = $("#ddlOption").val();
            var PlanType = $("#ddlPlanType").val();
            var CustomerName = $("#CustomerName").val();
            var MemNo = $("#MemNo").val();
            var ddlPayoutFrom = $("#ddlPayoutFrom").val();
            var validationDivs = '';
            $('#validationMessages').html('');
            $("#validationMessages").hide();
            var flag = true;
            //  
            var ddlGroupBy = $('#ddlGroupBy').val();

            if (Choice == 1) {
                if (CustomerName == '') {
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.IdNameRequired")</div>';
                    flag = false;
                }
                if (CustomerName != '' && MemNo == '') {
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                    flag = false;
                }
            }

            if (ddlOption == 1) {
                if (vFromDt == '') {
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterStartDate")</div>';
                    flag = false;
                }
                if (vToDt == '') {
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterEndDate")</div>';
                    flag = false;
                }



                var EnteredDate = getDate($("#StartDate").data("kendoDatePicker").value());
                var EnteredFromdate = getDate($("#EndDate").data("kendoDatePicker").value());

                var myDate = new Date(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                var myFromDate = new Date(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));


                var today = new Date();
                var validationDivs = '';
                var start_time = $("#DatewiseFrom").val();
                var end_time = $("#DatewiseTo").val();

                if (myFromDate > today) {

                    validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    flag = false;
                }
                if (myFromDate < myDate) {
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    flag = false;
                }

            }

            if (ddlOption == 2) {
                if ((PlanType == 0)) {
                    // alert("Enter City.");
                    validationDivs = validationDivs + '<div>@T("admin.Validation.Enterplantype")</div>';
                    flag = false;
                }
                if (PlanType == null) {
                    validationDivs = validationDivs + '<div>@T("admin.Validation.Enterplantype")</div>';
                    flag = false;
                }
                //
                if ((PlanType != 0) && ddlPayoutFrom == 0) {
                    validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                    flag = false;
                }
            }

            if (flag) {
                var StartDate = $("#StartDate").val();
                var EndDate = $("#EndDate").val();
                var PayoutStartDate = $("#PayoutStartDate").val();
                var PayoutEndDate = $("#PayoutEndDate").val();

                var startDate = null;
                var endDate = null;
                var PayoutStartDate = null;
                var PayoutEndDate = null;

                if (StartDate != "")
                    startDate = getDate($("#StartDate").data("kendoDatePicker").value());
                if (EndDate != "")
                    endDate = getDate($("#EndDate").data("kendoDatePicker").value());

                if (PayoutStartDate != null)
                    PayoutStartDate: getDateFromString($("#PayoutStartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime");

                if (PayoutEndDate != null)
                    PayoutEndDate: getDateFromString($("#PayoutEndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime");

                var data = {
                    MemNo: $('#@Html.FieldIdFor(model => model.MemNo)').val(),
                    MemIDs: $('#@Html.FieldIdFor(model => model.MemIDs)').val(),
                    ddlOption: $('#@Html.FieldIdFor(model => model.ddlOption)').val(),
                    HStartDate: startDate,
                    HEndDate: endDate,
                    ddlGroupBy: $('#@Html.FieldIdFor(model => model.ddlGroupBy)').val(),
                    ddlMemOption: $('#@Html.FieldIdFor(model => model.ddlMemOption)').val(),
                    ddlCountWise: $('#@Html.FieldIdFor(model => model.ddlCountWise)').val(),
                    PayoutStartDate: PayoutStartDate,
                    PayoutEndDate: PayoutEndDate,
                    PN_ID: $("#ddlPayoutFrom").val(),
                    PM_ID: $("#ddlPlanType").val(),
                    @*PayoutStartDate: $('#@Html.FieldIdFor(model => model.PayoutStartDate)').val(),
                    PayoutEndDate: $('#@Html.FieldIdFor(model => model.PayoutEndDate)').val(),*@
                    ddlMemIDName: $('#@Html.FieldIdFor(model => model.ddlMemIDName)').val(),
                    CustomerName: $('#@Html.FieldIdFor(model => model.CustomerName)').val(),
                    refreshFlag: refreshFlag
                };
                addAntiForgeryToken(data);


                $.ajax({
                    url: "@Html.Raw(Url.Action("GenerationCountDetailsExportToExcel", "DynamicReport"))",
                    type: "POST",
                    dataType: "json",
                    data: data,
                    success: function (result) {
                        if (result.success) {
                            if (result.fullFileName != null && result.fullFileName != "") {
                                window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                            }
                            else {

                                var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                                $("#validationMessages").show();
                                $('#validationMessages').append(validationDivs1);
                            }
                        }
                        else {
                            var validationDivs1 = '<div>' + result.fullFileName + '</div>';
                            $("#validationMessages").show();
                            $('#validationMessages').append(validationDivs1);
                        }
                    },
                    error: function (result) {
                        //alert(result);
                        //alert('hi');
                    }
                });
            }
            else {
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
            }

        });

        $("#reset-generationCountdetails").click(function () {
            $("#ddlMemOption").val("0");
            $('#ddlOption').val("0");
            $('#ddlPlanType').val("Select");
            $('#trStartDate').hide();
            $('#trEndDate').hide();
            $("#trPlanType").hide();
            $('#trPayoutNoList').hide();
            $('#trPayoutStartDate').hide();
            $('#trPayoutEndDate').hide();
            $('#trTotalDirects').hide();
            $('#trddlSearchBy').hide();
            $('#trddlRptType').hide();
            $("#generationCountdetails-grid").hide();
            $('#divShowHide').hide();
            $('#validationMessages').html('');
            $("#StartDate").val("");
            $("#EndDate").val("");
            $("#CustomerName").val("");
            $("#MemNo").val("");
            $('#ddlGroupBy').val("50");
            $('#trCustomerName').hide();
            $("#validationMessages").hide();
            // $('#exportexcel-all').hide();
        });

        $('#CustomerName').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("SearchTermAutoCompleteGeneration", "MemberReports"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                $("#MemNo").val(ui.item.MJD_MemID);
                $("#CustomerName").val(ui.item.label);
                $("#MemIDs").val(ui.item.MJD_MemNo);
                $("#divfirstname").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };

        var objArray = new Array();
        $(document).ready(function () {
            $("#StartDate").keyup(function () {
                $(this).val('');
            });
            $("#EndDate").keyup(function () {
                $(this).val('');
            });

            $('#trCustomerName').hide();
            $('#trStartDate').hide();
            $('#trEndDate').hide();
            $("#trPlanType").hide();
            $('#trPayoutNoList').hide();
            $('#trPayoutStartDate').hide();
            $('#trPayoutEndDate').hide();
            $('#trddlCountWise').hide();
            $("#validationMessages").hide();
            // $('#exportexcel-all').hide();

            $('#ddlMemOption').change(function () {
                var value = $(this).val();
                $("#MemIDs").val('');

                if (value == 1) {
                    $('#trCustomerName').show();
                    $('#validationMessages').html('');
                    $("#generationCountdetails-grid").hide();
                    $("#validationMessages").hide();
                    $('#divShowHide').hide();
                    $('#validationMessages').html('');
                    $("#StartDate").val("");
                    $("#EndDate").val("");
                    $("#CustomerName").val("");
                    $("#MemNo").val("");
                    $('#ddlGroupBy').val("50");
                    //  $('#ddlOption').val("0");
                    // $('#exportexcel-all').hide();
                }
                else {
                    $('#trCustomerName').hide();
                    $('#validationMessages').html('');
                    $("#generationCountdetails-grid").hide();
                    $("#validationMessages").hide();
                    //   $("#StartDate").val("");
                    // $("#EndDate").val("");
                    $("#CustomerName").val("");
                    $('#divShowHide').hide();
                    $("#MemNo").val("");
                    // $('#exportexcel-all').hide();
                    $('#ddlGroupBy').val("50");
                    //    $('#ddlOption').val("0");
                    //   $('#trStartDate').hide();
                    //  $('#trEndDate').hide();
                    // $("#trPlanType").hide();
                    //  $('#trPayoutNoList').hide();
                    //   $('#trPayoutStartDate').hide();
                    //   $('#trPayoutEndDate').hide();
                    //   $('#trddlCountWise').hide();
                    $("#validationMessages").hide();
                }
            });
            $("#validationMessages").hide();
            $('#ddlOption').change(function () {
                var value = $(this).val();
                if (value == 1) {
                    $('#trStartDate').show();
                    $('#trEndDate').show();
                    $("#trPlanType").hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                    $('#trPayoutNoList').hide();
                    $('#validationMessages').html('');
                    $("#generationCountdetails-grid").hide();
                    $('#divShowHide').hide();
                    $("#validationMessages").hide();
                    $("#StartDate").val("");
                    $("#EndDate").val("");
                    //  $("#CustomerName").val("");
                    // $("#MemNo").val("");
                    $('#ddlGroupBy').val("50");
                    $('#ddlPlanType').val("0");
                    //  $('#exportexcel-all').hide();

                }
                else if (value == 3) {
                    $('#trStartDate').show();
                    $('#trEndDate').show();
                    $("#trPlanType").hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                    $('#trPayoutNoList').hide();
                    $('#validationMessages').html('');
                    $("#generationCountdetails-grid").hide();
                    $('#divShowHide').hide();
                    $("#validationMessages").hide();
                    $("#StartDate").val("");
                    $("#EndDate").val("");
                    //   $("#CustomerName").val("");
                    //  $("#MemNo").val("");
                    $('#ddlGroupBy').val("50");
                    $('#ddlPlanType').val("0");
                    //  $('#exportexcel-all').hide();

                }
                else if (value == 2) {
                    $("#trPlanType").show();
                    $('#trPayoutNoList').hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                    $('#trStartDate').hide();
                    $('#trEndDate').hide();
                    $('#trPayoutNoList').hide();
                    $('#validationMessages').html('');
                    $("#validationMessages").hide();
                    $("#generationCountdetails-grid").hide();
                    $('#divShowHide').hide();
                    $("#StartDate").val("");
                    $("#EndDate").val("");
                    //  $("#CustomerName").val("");
                    // $("#MemNo").val("");
                    $('#ddlGroupBy').val("50");
                    $('#ddlPlanType').val("0");
                    //  $('#exportexcel-all').hide();
                }
                else {
                    $('#trStartDate').hide();
                    $('#trEndDate').hide();
                    $("#trPlanType").hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                    $('#trPayoutNoList').hide();
                    $('#validationMessages').html('');
                    $("#generationCountdetails-grid").hide();
                    $('#divShowHide').hide();
                    $("#validationMessages").hide();
                    $("#StartDate").val("");
                    $("#EndDate").val("");
                    //  $("#CustomerName").val("");
                    // $("#MemNo").val("");
                    $('#ddlGroupBy').val("50");
                    $('#ddlPlanType').val("0");
                    //$('#exportexcel-all').hide();
                }
            });
            $("#validationMessages").hide();
            $('#ddlPlanType').change(function () {
                objArray = new Array();
                $('#trPayoutNoList').show();
                $('#trPayoutStartDate').show();
                $('#trPayoutEndDate').show();
                $('#validationMessages').html('');
                $("#validationMessages").hide();
                $("#generationCountdetails-grid").hide();
                $('#divShowHide').hide();
                var value = $(this).val();
                if (value != null && value != 0) {
                    $.get("@(Url.Action("LoadDropDown", "DynamicReport"))", { typeId: value, flag: 0 }, function (response) {
                        $("#ddlPayoutFrom").html('');
                        $("#PayoutStartDate").html('');
                        $("#PayoutEndDate").html('');
                        var PayoutNoListStr = '';
                        var PayoutStartDate = '';
                        var PayoutEndDate = '';
                        if (response.PayoutNoList.length > 0) {
                            for (var i = 0; i < response.PayoutNoList.length; i++) {

                                PayoutNoListStr = PayoutNoListStr + '<option value="' + response.PayoutNoList[i].Value + '">' + response.PayoutNoList[i].Text + '</option>';
                                var obj = new Object()
                                obj.pn = response.PayoutNoList[i].Value;
                                obj.sd = response.PayoutStartDateList[i].Value;
                                obj.ed = response.PayoutEndDateList[i].Value;

                                objArray.push(obj);
                            }
                        }
                        else {

                            PayoutNoListStr = '<option value="0">No Payout(s) available.</option>';
                            $('#trPayoutStartDate').hide();
                            $('#trPayoutEndDate').hide();
                        }
                        $("#ddlPayoutFrom").append(PayoutNoListStr);
                        if (objArray.length > 0) {
                            $("#PayoutStartDate").val(objArray[0].sd);
                            $("#PayoutEndDate").val(objArray[0].ed);
                        }
                    });
                }
                if ($('#ddlPlanType').val() == 0) {
                    $('#trPayoutNoList').hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                }
            });

            $('#ddlPayoutFrom').change(function () {
                var value = $(this).val();
                for (var i = 0; i < objArray.length; i++) {
                    if (objArray[i].pn == value) {
                        $("#PayoutStartDate").val(objArray[i].sd);
                        $("#PayoutEndDate").val(objArray[i].ed);
                    }
                }
            });
            $("#validationMessages").hide();
            $("#search-generationCountdetails").click(function () {
                var Choice = $("#ddlMemOption").val();
                var StartDate = $("#StartDate").val();
                var EndDate = $("#EndDate").val();
                var vFromDt = "";
                var vToDt = "";
                if (StartDate != "") {
                    vFromDt = getDate($("#StartDate").data("kendoDatePicker").value());
                }
                if (EndDate != "") {
                    vToDt = getDate($("#EndDate").data("kendoDatePicker").value());
                }
                var ddlOption = $("#ddlOption").val();
                var PlanType = $("#ddlPlanType").val();
                var CustomerName = $("#CustomerName").val();
                var MemNo = $("#MemNo").val();
                var ddlPayoutFrom = $("#ddlPayoutFrom").val();
                var validationDivs = '';
                $('#validationMessages').html('');
                $("#validationMessages").hide();
                $("#generationCountdetails-grid").hide();
                $('#divShowHide').hide();
                var flag = true;
                //  
                var ddlGroupBy = $('#ddlGroupBy').val();

                if (Choice == 1) {
                    if (CustomerName == '') {
                        validationDivs = validationDivs + '<div>@T("Admin.Validation.IdNameRequired")</div>';
                        flag = false;
                    }
                    if (CustomerName != '' && MemNo == '') {
                        validationDivs = validationDivs + '<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                        flag = false;
                    }
                }

                if (ddlOption == 1) {
                    if (vFromDt == '') {
                        validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterStartDate")</div>';
                        flag = false;
                    }
                    if (vToDt == '') {
                        validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterEndDate")</div>';
                        flag = false;
                    }

                    var EnteredDate = getDate($("#StartDate").data("kendoDatePicker").value());
                    var EnteredFromdate = getDate($("#EndDate").data("kendoDatePicker").value());

                    var myDate = new Date(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                    var myFromDate = new Date(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                    var today = new Date();
                    var start_time = $("#DatewiseFrom").val();
                    var end_time = $("#DatewiseTo").val();

                    if (myFromDate > today) {

                        validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                        flag = false;
                    }
                    if (myFromDate < myDate) {
                        validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                        flag = false;
                    }

                }

                if (ddlOption == 2) {
                    if ((PlanType == 0)) {
                        // alert("Enter City.");
                        validationDivs = validationDivs + '<div>@T("admin.Validation.Enterplantype")</div>';
                        flag = false;
                    }
                    if (PlanType == null) {
                        validationDivs = validationDivs + '<div>@T("admin.Validation.Enterplantype")</div>';
                        flag = false;
                    }
                    //
                    if ((PlanType != 0) && ddlPayoutFrom == 0) {
                        validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                        flag = false;
                    }
                }

                if (flag) {
                    var StartDate = $("#StartDate").val();
                    var EndDate = $("#EndDate").val();
                    var PayoutStartDate = $("#PayoutStartDate").val();
                    var PayoutEndDate = $("#PayoutEndDate").val();

                    var startDate = null;
                    var endDate = null;
                    var PayoutStartDate = null;
                    var PayoutEndDate = null;

                    if (StartDate != "")
                        startDate = getDate($("#StartDate").data("kendoDatePicker").value());
                    if (EndDate != "")
                        endDate = getDate($("#EndDate").data("kendoDatePicker").value());

                    if (PayoutStartDate != null)
                        PayoutStartDate: getDateFromString($("#PayoutStartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime");

                    if (PayoutEndDate != null)
                        PayoutEndDate: getDateFromString($("#PayoutEndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime");

                    var data = {
                        MemNo: $('#@Html.FieldIdFor(model => model.MemNo)').val(),
                        MemIDs: $('#@Html.FieldIdFor(model => model.MemIDs)').val(),
                        ddlOption: $('#@Html.FieldIdFor(model => model.ddlOption)').val(),
                        HStartDate: startDate,
                        HEndDate: endDate,
                        ddlGroupBy: $('#@Html.FieldIdFor(model => model.ddlGroupBy)').val(),
                        ddlMemOption: $('#@Html.FieldIdFor(model => model.ddlMemOption)').val(),
                        ddlCountWise: $('#@Html.FieldIdFor(model => model.ddlCountWise)').val(),
                        PayoutStartDate: PayoutStartDate,
                        PayoutEndDate: PayoutEndDate,
                        PN_ID: $("#ddlPayoutFrom").val(),
                        PM_ID: $("#ddlPlanType").val(),
                        @*PayoutStartDate: $('#@Html.FieldIdFor(model => model.PayoutStartDate)').val(),
                        PayoutEndDate: $('#@Html.FieldIdFor(model => model.PayoutEndDate)').val(),*@
                        ddlMemIDName: $('#@Html.FieldIdFor(model => model.ddlMemIDName)').val(),
                        CustomerName: $('#@Html.FieldIdFor(model => model.CustomerName)').val(),
                        refreshFlag: refreshFlag
                    };
                    addAntiForgeryToken(data);


                    $.ajax({
                        url: "@Html.Raw(Url.Action("GenerationCountDetailsPost", "DynamicReport"))",
                        type: "POST",
                        dataType: "html",
                        data: data,
                        success: function (result) {
                            $('#generationCountdetails-grid').html(result);
                        },
                        error: function (xhr, textStatus, exceptionThrown) {
                         
                            $("#validationMessages").html("");
                            $("#validationMessages").show();
                            $("#validationMessages").html("@T("CommissionDetails.Kendo.Error")");
                        }
                    });
                    $('#generationCountdetails-grid').show();
                    $('#divShowHide').show();
                    $("#validationMessages").hide();
                    //$('#exportexcel-all').show();
                    // 


                    return false;
                    //        }
                    //    }
                    //});
                }
                else {
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                }
            });



        });

        $("#CustomerName").keydown(function (evt) {
            var charCode = (evt.charCode) ? evt.charCode : ((evt.which) ? evt.which : evt.keyCode);
            if (charCode != 13 && charCode != 9) {
                $("#MemNo").val("");
            }

        });
    </script>
}

