﻿@model Nop.Admin.ViewModel.GSTReportModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    ViewBag.Title = T("Order.GSTReport").Text;

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Order GST Report");
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Order.GSTReport")
        </h1>
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-success " name="exportexcel-all" id="exportexcel-all">
                    <i class="fa fa-file-excel-o"></i>
                    @T("Admin.Common.ExportToExcel")
                </button>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.SelectOptionId)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.SelectOptionId, new List<SelectListItem>()
           {
               new SelectListItem(){Text="All", Value="0"},
               new SelectListItem(){Text="Invoice-Wise",Value="1"},
               new SelectListItem(){Text="Date-Wise",Value="2"}
           }, new { @onchange = "ChangeField(this.value)", id = "SelectOptionId" })

                                        @*@Html.HiddenFor(m => m.inputddlSelectOption)*@
                                    </div>
                                </div>
                                <div class="form-group" id="tblMember">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.InvoiceNo)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.InvoiceNo)
                                        @* <input type="text" id="txtMember" value="" name="" />
                                            <input type="hidden" name="hiddenSearchMemno" id="hiddenSearchMemno" value=" " />*@
                                        @Html.HiddenFor(model => model.hiddenSearchInvoiceNo)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="tblFromDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.FromDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.FromDate)
                                        @Html.HiddenFor(model => model.HFromDate)
                                    </div>
                                </div>
                                <div class="form-group" id="tblToDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ToDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.ToDate)
                                        @Html.HiddenFor(model => model.HToDate)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-2">
                                <button type="button" id="search-customers" class="btn bg-blue">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>

                                <button type="submit" name="Refresh" id="btnRefresh" class="btn bg-blue">
                                    <i class="fa fa-refresh"></i>
                                    @T("Admin.Common.Refresh")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="divShowHide">
                    <div class="panel-body">
                        <h3>@T("Admin.Customer.SearchResult")</h3>
                        <br />
                        <div id="customers-grid"></div>
                        <script type="text/javascript">

                            var refreshFlag = false;

                            function additionalData() {
                                var StartDate = $("#FromDate").val();
                                var EndDate = $("#txtToDate").val();

                                var startDate = null;
                                var endDate = null;

                                if (StartDate != "")
                                    startDate = getDate($("#FromDate").data("kendoDatePicker").value());
                                if (EndDate != "")
                                    endDate = getDate($("#ToDate").data("kendoDatePicker").value());
                                var data = {                                 

                                    SelectOptionId: $('#@Html.FieldIdFor(model => model.SelectOptionId)').val(),
                                    hiddenSearchInvoiceNo: $('#@Html.FieldIdFor(model => model.hiddenSearchInvoiceNo)').val(),
                                    HFromDate: startDate,
                                    HToDate: endDate,
                                    refreshFlag: refreshFlag
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }

                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tblMember").hide();
            //  $('#exportexcel-all').hide();
            $('#divShowHide').hide();
            $("#customers-grid").hide();
            $('#validationMessages').html('');
            $("#validationMessages").hide();
            $("#FromDate").keyup(function () {
                $(this).val('');
            });
            //$("#ToDate").keyup(function(){
            //    $(this).val('');
            //});
            $("#tblFromDate").hide();
            $("#tblToDate").hide();
        });

        function ChangeField(selectedValue) {
            //
            if (selectedValue == 0) {

                $("#tblMember").hide();

                //   $('#exportexcel-all').hide();
                $('#divShowHide').hide();
                $("#customers-grid").hide();
                $('#validationMessages').html('');
                $("#validationMessages").hide();
                $('#txtMember').val("");
                $('#hiddenSearchMemno').val("");
                $('#FromDate').val("");
                $('#ToDate').val("");
                $("#tblFromDate").hide();
                $("#tblToDate").hide();
            }
            else if (selectedValue == 1) {

                $("#tblMember").show();
                $("#tblFromDate").hide();
                $("#tblToDate").hide();

                //  $('#exportexcel-all').hide();
                $('#divShowHide').hide();
                $("#customers-grid").hide();
                $('#validationMessages').html('');
                $("#validationMessages").hide();
                $('#txtMember').val("");
                $('#hiddenSearchMemno').val("");
                $('#FromDate').val("");
                $('#ToDate').val("");
            }
            else if (selectedValue == 2) {
                $("#tblMember").hide();
                $("#tblFromDate").show();
                $("#tblToDate").show();

                //   $('#exportexcel-all').hide();
                $('#divShowHide').hide();
                $("#customers-grid").hide();
                $('#validationMessages').html('');
                $("#validationMessages").hide();
                $('#txtMember').val("");
                $('#hiddenSearchMemno').val("");
                $('#FromDate').val("");
                $('#ToDate').val("");

            }
        }

        $('#InvoiceNo').autocomplete({
            delay: 500,
            minLength: 1,
            @*source: '@(Url.Action("SearchTermAutoCompleteNew", "MemberReports"))',*@
            source: '@(Url.Action("SearchTermAutoCompleteInvoice", "Common"))',
            appendTo: '.search-box',
            select: function (event, ui) {

                $("#hiddenSearchInvoiceNo").val(ui.item.Id);
                $("#InvoiceNo").val(ui.item.label);
                $("#divfirstname").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };


        $("#search-customers").click(function () {
            // 
            var SelectOptionId = $('#SelectOptionId').val();
            var InvoiceNo = $('#InvoiceNo').val();
            var hiddenSearchInvoiceNo = $('#hiddenSearchInvoiceNo').val();          

            var FDate = $("#FromDate").val();
            var TDate = $("#ToDate").val();
            var FromDate = "";
            var ToDate = "";
            if (FDate != "") {
                FromDate = getDate($("#FromDate").data("kendoDatePicker").value());
            }
            if (TDate != "") {
                ToDate = getDate($("#ToDate").data("kendoDatePicker").value());
            }

            $('#validationMessages').html('');
            $("#validationMessages").hide();
            var validationDivs = '';
            // 
            $('#inputETmemberNo').val(hiddenSearchInvoiceNo);
            $('#inputddlSelectOption').val(SelectOptionId);

            var flag = true;



            if (SelectOptionId == 1) {
                if (InvoiceNo == '') {
                    validationDivs = '<div>@T("Admin.Validation.InvoiceNo")</div>';
                    flag = false;
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                }
                if (InvoiceNo != '' && hiddenSearchInvoiceNo == '') {
                    validationDivs = '<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                    flag = false;
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                }
            }

            if (SelectOptionId == "2") {
                if (FromDate == '' || FromDate == "null/null/null") {
                    validationDivs = '<div>@T("Admin.Validation.EnterEndDate")</div>';
                    flag = false;
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                }

                if (ToDate == '' || ToDate == "null/null/null") {

                    validationDivs = '<div>@T("Admin.Validation.EnterStartDate")</div>';
                    flag = false;
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                }
                // 
                var EnteredDate = getDate($("#FromDate").data("kendoDatePicker").value());
                var EnteredFromdate = getDate($("#ToDate").data("kendoDatePicker").value());

                var myDate = new Date(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                var myFromDate = new Date(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));


                var today = new Date();
                var validationDivs = '';
                var start_time = $("#DatewiseFrom").val();
                var end_time = $("#DatewiseTo").val();

                if (myFromDate > today) {

                    validationDivs = '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    flag = false;
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                }
                if (myFromDate < myDate) {
                    validationDivs = '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    flag = false;
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                }
            }

            if (flag) {
                $("#HFromDate").val(EnteredDate);
                $("#HToDate").val(EnteredFromdate);
                var StartDate = $("#FromDate").val();
                var EndDate = $("#txtToDate").val();

                var startDate = null;
                var endDate = null;

                if (StartDate != "")
                    startDate = getDate($("#FromDate").data("kendoDatePicker").value());
                if (EndDate != "")
                    endDate = getDate($("#ToDate").data("kendoDatePicker").value());
               
                var data = {
                 
                    SelectOptionId: $('#@Html.FieldIdFor(model => model.SelectOptionId)').val(),
                    hiddenSearchInvoiceNo: $('#@Html.FieldIdFor(model => model.hiddenSearchInvoiceNo)').val(),
                    HFromDate: startDate,
                    HToDate: endDate,

                    refreshFlag: refreshFlag
                };
                addAntiForgeryToken(data);
                $('#divShowHide').show();
                $.ajax({
                    url: "@Html.Raw(Url.Action("GSTReportPost", "DynamicReport"))",
                    type: "POST",
                    dataType: "html",
                    data: data,
                    success: function (result) {
                        $('#customers-grid').html(result);
                    },
                    error: function (xhr, textStatus, exceptionThrown) {
                        //alert('hi');
                        $("#validationMessages").html("");
                        $("#validationMessages").show();
                        $("#validationMessages").html("@T("CommissionDetails.Kendo.Error")");
                    }
                });
                $("#customers-grid").show();
                // grid.dataSource.read();// we already loaded the grid above using "page" function
                $('#validationMessages').html('');
                $("#validationMessages").hide();

            }
            else {
                //$("#validationMessages").show();
                //$('#validationMessages').append(validationDivs);
            }
        });

        $("#exportexcel-all").click(function () {
            
            var SelectOptionId = $('#SelectOptionId').val();
            var InvoiceNo = $('#InvoiceNo').val();
            var hiddenSearchInvoiceNo = $('#hiddenSearchInvoiceNo').val();
            var FDate = $("#FromDate").val();
            var TDate = $("#ToDate").val();
            var FromDate = "";
            var ToDate = "";
            if (FDate != "") {
                FromDate = getDate($("#FromDate").data("kendoDatePicker").value());
            }
            if (TDate != "") {
                ToDate = getDate($("#ToDate").data("kendoDatePicker").value());
            }
            $('#validationMessages').html('');
            $("#validationMessages").hide();
            var validationDivs = '';
            // 
            $('#inputETmemberNo').val(hiddenSearchInvoiceNo);
            $('#inputddlSelectOption').val(SelectOptionId);

            var flag = true;



            if (SelectOptionId == 1) {
                if (InvoiceNo == '') {
                    validationDivs = '<div>@T("Admin.Validation.InvoiceNo")</div>';
                    flag = false;
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                }
                if (InvoiceNo != '' && hiddenSearchInvoiceNo == '') {
                    validationDivs = '<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                    flag = false;
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                }
            }

            if (SelectOptionId == "2") {
                if (FromDate == '' || FromDate == "null/null/null") {
                    validationDivs = '<div>@T("Admin.Validation.EnterEndDate")</div>';
                    flag = false;
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                }

                if (ToDate == '' || ToDate == "null/null/null") {

                    validationDivs = '<div>@T("Admin.Validation.EnterStartDate")</div>';
                    flag = false;
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                }
                // 
                var EnteredDate = getDate($("#FromDate").data("kendoDatePicker").value());
                var EnteredFromdate = getDate($("#ToDate").data("kendoDatePicker").value());

                var myDate = new Date(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                var myFromDate = new Date(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));


                var today = new Date();
                var validationDivs = '';
                var start_time = $("#DatewiseFrom").val();
                var end_time = $("#DatewiseTo").val();

                if (myFromDate > today) {

                    validationDivs = '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    flag = false;
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                }
                if (myFromDate < myDate) {
                    validationDivs = '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    flag = false;
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                }
            }
            if (flag) {
                // $('#exportexcel-all').show();
                $("#HFromDate").val(EnteredDate);
                $("#HToDate").val(EnteredFromdate);
                refreshFlag = true;
                $('#searchResult').show();
                $("#customers-grid").show();
                var StartDate = $("#FromDate").val();
                var EndDate = $("#txtToDate").val();

                var startDate = null;
                var endDate = null;

                if (StartDate != "")
                    startDate = getDate($("#FromDate").data("kendoDatePicker").value());
                if (EndDate != "")
                    endDate = getDate($("#ToDate").data("kendoDatePicker").value());
                var data = {
                   
                    SelectOptionId: $('#@Html.FieldIdFor(model => model.SelectOptionId)').val(),
                    hiddenSearchInvoiceNo: $('#@Html.FieldIdFor(model => model.hiddenSearchInvoiceNo)').val(),
                    HFromDate: startDate,
                    HToDate: endDate,
                    refreshFlag: refreshFlag
                };
                addAntiForgeryToken(data);

                $.ajax({
                    url: "@Html.Raw(Url.Action("GSTReportExportToExcel", "DynamicReport"))",
                    type: "POST",
                    dataType: "json",
                    data: data,
                    success: function (result) {
                        if (result.success) {
                            if (result.fullFileName != null && result.fullFileName != "") {
                                window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                            }
                            else {

                                var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                                $("#validationMessages").show();
                                $('#validationMessages').append(validationDivs1);
                            }
                        }
                        else {
                            var validationDivs1 = '<div>' + result.fullFileName + '</div>';
                            $("#validationMessages").show();
                            $('#validationMessages').append(validationDivs1);
                        }
                    },
                    error: function (result) {
                        //alert(result);
                        //alert('hi');
                    }
                });
                $('#validationMessages').html('');
                $("#validationMessages").hide();
                return false;
            }
            else {
                //$("#validationMessages").show();
                //$('#validationMessages').append(validationDivs);
            }
        });

        $("#txtMember").keydown(function (e) {
            if (e.which === 13 && $('#hiddenSearchMemno').val() != " ") {

                $("#search-customers").click();
                return false;
            }
        });

        $('#FromDate').keydown(keyDownHandler); // use appropriate selector for the keydown handler

        function keyDownHandler(e) {
            if (e.keyCode === 13) {
                e.stopPropagation();
                e.preventDefault();
                $('#search-customers').click()
                return false;

            }
        }

        $('#ToDate').keydown(keyDownHandler1); // use appropriate selector for the keydown handler

        function keyDownHandler1(e) {
            if (e.keyCode === 13) {
                e.stopPropagation();
                e.preventDefault();
                $('#search-customers').click()
                return false;
            }
        }

        $("#FromDate").keyup(function (e) {
            
            if (e.keyCode === 13) {
                if ($('#ToDate').val() != '') {
                    $('#search-customers').click()
                    return false;
                }
                else {
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterEndDate")</div>';
                    flag = false;
                }

            }
            else {
                $(this).val('');
            }
        });

        $("#ToDate").keyup(function (e) {
            
            if (e.keyCode === 13) {
                if ($('#FromDate').val() != '') {
                    $('#search-customers').click()
                    return false;
                }
                else {
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterStartDate")</div>';
                    flag = false;
                }

            }
            else {
                $(this).val('');
            }
        });

        $("#reset-customers").click(function () {

            //$('#SelectOptionId').val("");
            //$('#txtMember').val("");
            //$('#hiddenSearchMemno').val("");
            //$('#FromDate').val("");
            //$('#ToDate').val("");
            // $('#exportexcel-all').hide();
            $('#searchResult').hide();
            $("#customers-grid").hide();
            $('#tblMember').hide();
            $('#tblFromDate').show();
            $('#tblToDate').show();
            $("#validationMessages").hide();
            $('#trNote').show();
        });
        $("#exportexcel-all").click(function () {
            //
            var FDate = $("#FromDate").val();
            var TDate = $("#ToDate").val();
            var FromDate = "";
            var ToDate = "";
            if (FDate != "") {
                $("#HFromDate").val(getDate($("#FromDate").data("kendoDatePicker").value()));
            }
            else {
                $("#HFromDate").val(FDate);
            }
            if (TDate != "") {
                $("#HToDate").val(getDate($("#ToDate").data("kendoDatePicker").value()));
            }
            else {
                $("#HToDate").val(TDate);
            }
            var t = $("#HFromDate").val();

        });
        function aggregates(e) {
            
            if (e.type == "read") {

                var response = e.response;
                if (response) {

                    var reportAggregates = e.response["ExtraData"];
                    if (reportAggregates != "") {
                        for (var key in reportAggregates) {
                            var shashi = reportAggregates[key];
                            $('#' + key + '').html(reportAggregates[key]);
                        }
                    }

                }
            }
        }

    </script>

}

