﻿<!DOCTYPE html>
<html>
<head>
    <title></title>

    @*<link href="~/Content/kendo/2014.1.318/kendo.common.min.css" rel="stylesheet" />

        <link href="~/Content/kendo/2014.1.318/kendo.default.min.css" rel="stylesheet" />

        <link href="~/Content/kendo/2014.1.318/kendo.default.mobile.min.css" rel="stylesheet" />


        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="js/kendo.all.min.js"></script>*@


</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div id="example">
            <div id="grid"></div>

            <script>
                function additionalData() {
                    var data = {
                        @*SearchCustomerRoleIds: $('#@Html.FieldIdFor(model => model.SearchCustomerRoleIds)').val(),
                    SearchEmail: $('#@Html.FieldIdFor(model => model.SearchEmail)').val(),
                    SearchUsername: $('#@Html.FieldIdFor(model => model.SearchUsername)').val(),
                    SearchFirstName: $('#@Html.FieldIdFor(model => model.SearchFirstName)').val(),
                    SearchLastName: $('#@Html.FieldIdFor(model => model.SearchLastName)').val(),
                    SearchDayOfBirth: $('#@Html.FieldIdFor(model => model.SearchDayOfBirth)').val(),
                    SearchMonthOfBirth: $('#@Html.FieldIdFor(model => model.SearchMonthOfBirth)').val(),
                    SearchYearOfBirth: $('#@Html.FieldIdFor(model => model.SearchYearOfBirth)').val(),
                    SearchCompany: $('#@Html.FieldIdFor(model => model.SearchCompany)').val(),
                    SearchPhone: $('#@Html.FieldIdFor(model => model.SearchPhone)').val(),
                    SearchZipPostalCode: $('#@Html.FieldIdFor(model => model.SearchZipPostalCode)').val(),
                    SearchIpAddress: $('#@Html.FieldIdFor(model => model.SearchIpAddress)').val(),
                    CustomerId: $('#@Html.FieldIdFor(model => model.CustomerId)').val()*@
                    };
                    addAntiForgeryToken(data);
                    return data;
                }
                $(document).ready(function () {
                    $("#grid").kendoGrid({
                        dataSource: {
                            type: "odata",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("CustomerList", "Customer"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                }
                            },
                            //schema: {
                            //    model: {
                            //        fields: {
                            //            OrderID: { type: "number" },
                            //            ShipCountry: { type: "string" },
                            //            ShipName: { type: "string" },
                            //            ShipCity: { type: "string" },
                            //            ShipAddress: { type: "string" }
                            //        }
                            //    }
                            //},
                            pageSize: 30
                        },
                        height: 540,
                        sortable: true,
                        reorderable: true,
                        groupable: true,
                        resizable: true,
                        filterable: true,
                        columnMenu: true,
                        pageable: true,
                        columns: [
                                             {
                                                 field: "Id",
                                                 headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                                 headerAttributes: { style: "text-align:center" },
                                                 attributes: { style: "text-align:center" },
                                                 template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                                 //width: 50
                                                 locked: true,
                                                 lockable: false,
                                             }, {
                                                 field: "MJD_MemNo",
                                                 title: "@T("Admin.Customers.Customers.MJD_MemNo")",
                                                 locked: true,
                                                 //width: 50
                                             }, {
                                                 field: "Email",
                                                 title: "@T("Admin.Customers.Customers.Fields.Email")",
                                                 //width: 100
                                                 lockable: false,
                                             },
                @*@if (Model.UsernamesEnabled)
            {
                <text>{
                    field: "Username",
                    title: "@T("Admin.Customers.Customers.Fields.Username")",
                    //width: 100
                    lockable: false,
                },</text>
            }*@
                {
                    field: "FullName",
                    title: "@T("Admin.Customers.Customers.Fields.FullName")",
                    //width: 100
                    lockable: false,
                }, {
                    field: "CustomerRoleNames",
                    title: "@T("Admin.Customers.Customers.Fields.CustomerRoles")",
                    //width: 100
                    lockable: false,
                },
                {
                    field: "Paymode",
                    title: "@T("Admin.Customers.Customers.Fields.Paymode")",
                    //width: 100
                    lockable: false,
                },

           @*@if (Model.CompanyEnabled)
            {
                <text>{
               field: "Company",
               title: "@T("Admin.Customers.Customers.Fields.Company")",
               //width: 100
               lockable: false,
           },</text>
            }*@

                                            @*@if (Model.PhoneEnabled)
                                        {
                                            <text>{
                                                field: "Phone",
                                                title: "@T("Admin.Customers.Customers.Fields.Phone")",
                                                //width: 100
                                                lockable: false,
                                            },</text>
            }

                                            @if (Model.ZipPostalCodeEnabled)
                                        {
                                            <text>{
                                                field: "ZipPostalCode",
                                                title: "@T("Admin.Customers.Customers.Fields.ZipPostalCode")",
                                                //width: 100
                                                lockable: false,*@
            //                                },</text>
            //}
                {
                    field: "Active",
                    title: "@T("Admin.Customers.Customers.Fields.Active")",
                    //width: 100,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: '# if(Active) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #',
                    lockable: false,
                }, {
                    field: "BirthDate",
                    title: "@T("Account.Fields.DateOfBirth")",
                    lockable: false,
                },
            @*{
            field: "CreatedUTCOn",
            title: "@T("Admin.Customers.Customers.Fields.CreatedOn")",
            //width: 100,
            //type: "date",
            //format: "{0:G}"
            },*@
            {
                field: "LastActivityUTCDate",
                title: "@T("Admin.Customers.Customers.Fields.LastActivityDate")",
                lockable: false,
                //width: 100,
                //type: "date",
                //format: "{0:G}"
            },

                {
                    field: "Id",
                    title: "@T("Admin.Common.Edit")",
                    //width: 50,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>',
                    lockable: false,
                }
                        ]
                    });
                });
            </script>
        </div>
    }

</body>
</html>