﻿@using Nop.Plugin.Api.Classes;
@using Nop.Plugin.Api.Controllers;
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework.Localization;
@using Nop.Services.Localization;
@using Nop.Core;
@{
    string virtualURL = (HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + HttpRuntime.AppDomainAppVirtualPath).EndsWith("/") ? HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + HttpRuntime.AppDomainAppVirtualPath : HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + HttpRuntime.AppDomainAppVirtualPath + "/";

    //Layout = "~/Plugins/Nop.Plugin.Api/Themes/Vnext/Views/Shared/_MemberLayout.cshtml";
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";

    ViewBag.Title = "Dashboard";
    ViewBag.PageTitle = "Dashboard";
    ViewBag.Breadcrumb_L1 = "Dashboard";
    ViewBag.Breadcrumb_L2 = "";
    ViewBag.Breadcrumb_L3 = "";
    string SessionEmpPhotoPath = HttpContext.Current.Session["memphoto"] == null ? "" : HttpContext.Current.Session["memphoto"].ToString();
}
<style>

    .dashboard-icon-container span {
        text-align: center;
    }

    .text-danger {
        color: #4CAF50;
    }

    .card-stats .icon-big {
        font-size: 2em;
    }
</style>
<br />
<div class="sparkline16-list shadow-reset">
    <div class="sparkline16-hd">
        <div class="main-sparkline16-hd">
            <h1>Recharge Dashboard</h1>
        </div>
    </div>
    <div class="sparkline16-graph">
        <div class="container-fluid dashboard-container no-padding">
            <div class="col-xs-12 col-sm-12 col-md-12 padding-5">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-stats no-margin">
                            <div class="content">
                                <div class="row">
                                    <div class="">
                                        <div class="icon-big text-center icon-warning account-balance">
                                            <p>Wallet</p> <i class="fa fa-rupee text-danger" style="margin-top: -1%;"><span> 0.00</span></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6" style="display:none">
                        <div class="card card-stats no-margin">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big text-center icon-warning">
                                            <i class="fa fa-rupee text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers grpl-balance">
                                            <p>GRPL Cash</p><span>0.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6" style="display:none">
                        <div class="card card-stats no-margin">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big text-center icon-warning">
                                            <i class="fa fa-tv text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers total-count">
                                            <p>Total Ads</p><span>0</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6" style="display:none">
                        <div class="card card-stats no-margin">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big text-center icon-warning">
                                            <i class="fa fa-eye text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers viewed-count">
                                            <p>Ads viewed</p><span>0</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="detailsSeperator" style="height:5px"></div>
                <div class="card card-profile no-margin">
                    <div class="card-content no-margin padding-10 width-100p">
                        <h6 class="text-center no-margin text-capitalize text-lg text-bold">Recharge or Pay For</h6>
                        <div class="recharge-icon-container">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 dashboard-icon-container">
                                    <a class="dashboard-icon mobile-recharge" href="@Url.Content("~/Plugins/Account/MobileRecharge?i=" + StringCipher.EncryptWithSalt("1"))">
                                        <img src="@Url.Content("~/Plugins/Nop.Plugin.Api/Themes/Vnext/img/icons/phone.png")" class="max-width-100p" />
                                    </a>
                                    <span>Mobile</span>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 dashboard-icon-container">
                                    <a class="dashboard-icon dth-recharge" href="@Url.Content("~/Plugins/Account/MobileRecharge?i=" + StringCipher.EncryptWithSalt("3"))">
                                        <img src="@Url.Content("~/Plugins/Nop.Plugin.Api/Themes/Vnext/img/icons/dth.png")" class="max-width-100p" />
                                    </a>
                                    <span>DTH</span>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 dashboard-icon-container">
                                    <a class="dashboard-icon datacard-recharge" href="@Url.Content("~/Plugins/Account/MobileRecharge?i=" + StringCipher.EncryptWithSalt("4"))">
                                        <img src="@Url.Content("~/Plugins/Nop.Plugin.Api/Themes/Vnext/img/icons/datacard.png")" class="max-width-100p" />
                                    </a>
                                    <span>Datacard</span>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 dashboard-icon-container">
                                    <a class="dashboard-icon electricity-bill-pay" href="@Url.Content("~/Plugins/Account/MobileRecharge?i=" + StringCipher.EncryptWithSalt("5"))">
                                        <img src="@Url.Content("~/Plugins/Nop.Plugin.Api/Themes/Vnext/img/icons/electricity.png")" class="max-width-100p" />
                                    </a>
                                    <span>Electricity</span>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 dashboard-icon-container">
                                    <a class="dashboard-icon gas-bill-pay" href="@Url.Content("~/Plugins/Account/MobileRecharge?i=" + StringCipher.EncryptWithSalt("6"))">
                                        <img src="@Url.Content("~/Plugins/Nop.Plugin.Api/Themes/Vnext/img/icons/gas.png")" class="max-width-100p" />
                                    </a>
                                    <span>Gas</span>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 dashboard-icon-container">
                                    <a class="dashboard-icon insurance-bill-pay" href="@Url.Content("~/Plugins/Account/MobileRecharge?i=" + StringCipher.EncryptWithSalt("7"))">
                                        <img src="@Url.Content("~/Plugins/Nop.Plugin.Api/Themes/Vnext/img/icons/insurance.png")" class="max-width-100p" />
                                    </a>
                                    <span>Insurance</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height:10px"></div>
                <div class="card card-profile no-margin" style="display:none">
                    <div class="card-content no-margin padding-10">
                        <h6 class="text-center no-margin text-capitalize text-lg text-bold">Book For</h6>
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 dashboard-icon-container">
                                <a class="dashboard-icon flight-booking" href="@Url.Content("~/Plugins/Account/FlightBooking")">
                                    <img src="@Url.Content("~/Plugins/Nop.Plugin.Api/Themes/Vnext/img/icons/airplane.png")" class="max-width-100p" />
                                </a>
                                <span>Flight</span>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 dashboard-icon-container">
                                <a class="dashboard-icon bus-booking" href="@Url.Content("~/Plugins/Account/BusBooking")">
                                    <img src="@Url.Content("~/Plugins/Nop.Plugin.Api/img/icons/bus.png")" class="max-width-100p" />
                                </a>
                                <span>Bus</span>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 dashboard-icon-container">
                                <a class="dashboard-icon hotel-booking" href="javascript:alertme('Coming soon...', 'info')">
                                    <img src="@Url.Content("~/Plugins/Nop.Plugin.Api/Themes/Vnext/img/icons/hotel.png")" class="max-width-100p" />
                                </a>
                                <span>Hotel</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
        <br />
    </div>
</div>
<div class="clearfix"></div>


@section scripts{
    <script src="@Url.Content("~/Plugins/Nop.Plugin.Api/Themes/Vnext/assets/js/account/dashboard.js")"></script>
    <script>

        $(document).ready(function () {

            //var username = $('#myHiddenVar').val();
            //var paramList = {};
            //paramList.s = username;
            //$.ajax({
            //    type: 'POST',
            //    url: "Customer/sessionValue",
            //    contentType: "application/json; charset=utf-8",
            //    data: JSON.stringify(paramList),
            //    dataType: 'json',
            //    jsonp: null,
            //    success: function (data, textStatus, xhr) {

            //    },
            //    error: function (xhr, textStatus, errorThrown) {
            //        if (errorThrown == '')
            //            errorThrown = 'Connection is not available.';

            //    },
            //    complete: function (a) {
            //    }
            //});


            var ewp = {};
            $.ajax({
                type: 'POST',
                url: "api/Customer/Dashboard",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(ewp),
                dataType: 'json',
                jsonp: null,
                success: function (data, textStatus, xhr) {
                    var arr = [];
                    //console.log(StringDecryption(data.r));
                    arr = StringDecryption(data).split("|");
                    //console.log(arr);
                    //console.log(arr[0]);
                    //console.log(arr[1]);
                    //console.log(arr[2]);
                    //console.log(arr[3]);
                    var balance = arr[0];
                    //$('.account-balance span').html(balance);
                    var balanceInt = parseInt(balance);
                    $('.account-balance span').jQuerySimpleCounter({
                        end: balanceInt,
                        duration: 2000,
                        complete: function () {
                            $('.account-balance span').html(balance);
                        }
                    });

                    var count = arr[1];
                    //$('.total-count span').html(count);
                    var countInt = parseInt(count);
                    $('.total-count span').jQuerySimpleCounter({
                        end: countInt,
                        duration: 3000,
                        complete: function () {
                            $('.total-count span').html(count);
                        }
                    });

                    var vcount = arr[2];
                    //$('.viewed-count span').html(vcount);
                    var vcountInt = parseInt(vcount);
                    $('.viewed-count span').jQuerySimpleCounter({
                        end: vcountInt,
                        duration: 3000,
                        complete: function () {
                            $('.viewed-count span').html(vcount);
                        }
                    });

                    $("button.view-notifications span.badge").html(arr[3]);
                    if (LOGGED_IN_ID != null)
                        $("#notifications_icon").show();

                    var grplbalance = arr[4];
                    //$('.account-balance span').html(balance);
                    var grplbalanceInt = parseInt(grplbalance);
                    $('.grpl-balance span').jQuerySimpleCounter({
                        end: grplbalanceInt,
                        duration: 2000,
                        complete: function () {
                            $('.grpl-balance span').html(grplbalance);
                        }
                    });
                },
                error: function (xhr, textStatus, errorThrown) {
                    OnAjaxError(xhr, textStatus, errorThrown);
                },
            });

        });


    </script>
}
