﻿@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
    ViewBag.Title = GetThis.Classes.CommonFunctions.GetThisProductName + " :: Error Page";
    Exception ex = null;
    if (Session["exception"] != null)
    {
        ex = Session["exception"] as Exception;
        Session.Remove("exception");
    }
}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    @Html.Partial("_HeadTagPartial", new ViewDataDictionary { { "stylebundle", "~/errorcss" }, { "pagetitle", ViewBag.Title } })
</head>
<body>
    <div id="supersized-overlay"></div>
    <div id="loading">
        <img src="" alt="Loading..." />
    </div>
    <div id="pagewrap">
        <!--Header Start-->
        <div id="header" class="header">
            <div class="container-fluid">
                <img class="logo" src="@Url.Content("~/img/company-logo.png")" style="max-height:53px" alt="" />
            </div>
        </div><!--Header End-->
        <!--page content-->
        <div id="wrapper" class="clearfix">
            <div style="height: 583px; left: 50%;" id="parallax_wrapper">
                <div id="content">
                    <br />
                    <br />
                    <br />
                    <br />
                    <h1>Oh No!<br>We have a situation here.</h1>
                    <br />
                    <p>It looks like you have encountered a problem, must be something we did.</p>
                    <p>We have been reported the issue, we promise to make it right as early as possible.</p>
                    @if (Session["id"] == null)
                    {
                        <a href="@Url.Content("~/")" class="btn green lighten-1">Log in here&nbsp;&raquo;</a>
                    }
                    else
                    {
                        <a href="@Url.Content("~/Account/Dashboard")" class="btn green lighten-1">Go to Dashboard&nbsp;&raquo;</a>
                        @:&nbsp;&nbsp;
                        <a href="@Url.Content("~/Account/Logout")" class="btn green lighten-1">Logout&nbsp;&raquo;</a>
                    }
                    @if (Model != null)
                    {
                        <p>
                            <h3>Exception.Message</h3>
                            @Model.Exception.Message
                        </p>
                        <p>
                            <h3>Exception.InnerException</h3>
                            @Model.Exception.InnerException
                        </p>
                        <p>
                            <h3>Exception.Source</h3>
                            @Model.Exception.Source
                        </p>
                        <p>
                            <h3>Exception.StackTrace</h3>
                            @Model.Exception.StackTrace
                        </p>
                    }
                    else
                    {
                        if (ex != null)
                        {
                            <p>
                                <h3>Exception.Message</h3>
                                @ex.Message
                            </p>
                            <p>
                                <h3>Exception.InnerException</h3>
                                @ex.InnerException
                            </p>
                            <p>
                                <h3>Exception.Source</h3>
                                @ex.Source
                            </p>
                            <p>
                                <h3>Exception.StackTrace</h3>
                                @ex.StackTrace
                            </p>
                        }
                    }
                </div>
            </div>
        </div>

    </div><!-- end pagewrap -->
    @Html.Partial("_FooterPartial")
    @Html.Partial("_ScriptInclude")
    @Scripts.Render("~/errorjs")
</body>
</html>
