﻿@using Nop.Plugin.Api.Classes;
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework.Localization;
@using Nop.Services.Localization;
@using Nop.Core;
@{
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";



    ViewBag.Title = "Make Payment";
    ViewBag.PageTitle = "Make Payment";
    ViewBag.Breadcrumb_L1 = "Make Payment";
    ViewBag.Breadcrumb_L2 = "";
    ViewBag.Breadcrumb_L3 = "";
    string pgresponse = "";
    if (ViewData["pgresponse"] != null)
    {
        pgresponse = ViewData["pgresponse"].ToString();
    }
    <script>
        var pgresponse = '@pgresponse';
    </script>

}
<style>
    .checkbox .checkbox-material {
        vertical-align: middle !important;
        position: relative !important;
        top: 1px !important;
        padding-right: 5px !important;
        display: inline-block !important;
    }

    .checkbox label, .radio label, label {
        font-size: 14px !important;
        line-height: 1.42857 !important;
        color: #666 !important;
        font-weight: 400 !important;
    }
</style>
<br />
<div class="sparkline16-list shadow-reset">
    <div class="sparkline16-hd">
        <div class="main-sparkline16-hd">
            <h1>Make Payment</h1>
        </div>
    </div>
    <div class="sparkline16-graph">
        <h4 id="formLoadingMP" class="text-center">
            <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
            <span style="display:inline-block;height:45px;vertical-align:middle">Loading, please wait...</span>
        </h4>
        <h4 id="formErrorMP" class="text-center white padding-10 box-shadow" style="display:none">
            <img src="@Url.Content("~/Plugins/Nop.Plugin.Api/img/error-flat.png")" class="center-block" style="max-width:150px" />
            <br />
            <span id="errorMessageMP" style="display:inline-block;vertical-align:middle"></span>
            <br />
            <a href="#" class="retry-make-payment center-block">Try Again</a>
        </h4>
        <form id="formMP" name="formMP" class="form" style="display:none">
            <input type="hidden" id="hdnactionMP" name="hdnactionMP" />
            <div class="center-block">
                <h5 class="center-block text-unset no-margin" style="margin-bottom:10px!important">Filled incorrect details? <a class="goto-recharge text-danger" href="#">Click to Edit</a></h5>
                <div class="card card-profile card-shadow-light no-margin-top">
                    <div class="card-content mobile-operator">
                        <h5 class="text-center no-margin-top text-capitalize payment-card-title bold"></h5>
                        <div>
                            <div class="row">
                                <label id="mobilenumberMPLabel" class="col-xs-12 label-title no-margin text-left">Mobile number</label>
                            </div>
                            <div class="row position-relative">
                                <label id="mobilenumberMP" class="col-xs-12 control-text no-margin text-left text-black"><span>-</span></label>
                                <input type="hidden" id="hdnmobilenumberMP" name="hdnmobilenumberMP" />
                            </div>
                            <div class="clearfix"></div>
                            <br />
                        </div>
                        <div>
                            <div class="row">
                                <label class="col-xs-12 label-title no-margin text-left">Service Provider</label>
                            </div>
                            <div class="row position-relative">
                                <label id="operatorMP" class="col-xs-12 control-text no-margin text-left text-black"><span>-</span></label>
                                <input type="hidden" id="hdnproviderIdMP" name="hdnproviderIdMP" />
                                <input type="hidden" id="hdnoperatorMP" name="hdnoperatorMP" />
                                <input type="hidden" id="hdncircleMP" name="hdncircleMP" />
                            </div>
                            <div class="clearfix"></div>
                            <br />
                        </div>
                        <div id="divaccnoMP" style="display:none">
                            <div class="row">
                                <label id="accnoMPLabel" class="col-xs-12 label-title no-margin text-left">Account Number</label>
                            </div>
                            <div class="row position-relative">
                                <label id="accnoMP" class="col-xs-12 control-text no-margin text-left text-black"><span>-</span></label>
                                <input type="hidden" id="hdnaccnoMP" name="hdnaccnoMP" />
                            </div>
                            <div class="clearfix"></div>
                            <br />
                        </div>
                        <div id="divunitMP" style="display:none">
                            <div class="row">
                                <label id="unitMPLabel" class="col-xs-12 label-title no-margin text-left">Unit</label>
                            </div>
                            <div class="row position-relative">
                                <label id="unitMP" class="col-xs-12 control-text no-margin text-left text-black"><span>-</span></label>
                                <input type="hidden" id="hdnunitMP" name="hdnunitMP" />
                            </div>
                            <div class="clearfix"></div>
                            <br />
                        </div>
                        <div id="divcycleMP" style="display:none">
                            <div class="row">
                                <label id="cycleMPLabel" class="col-xs-12 label-title no-margin text-left">Cycle</label>
                            </div>
                            <div class="row position-relative">
                                <label id="cycleMP" class="col-xs-12 control-text no-margin text-left text-black"><span>-</span></label>
                                <input type="hidden" id="hdncycleMP" name="hdncycleMP" />
                            </div>
                            <div class="clearfix"></div>
                            <br />
                        </div>
                        <div id="divsubdivMP" style="display:none">
                            <div class="row">
                                <label id="subdivMPLabel" class="col-xs-12 label-title no-margin text-left">Sub-division</label>
                            </div>
                            <div class="row position-relative">
                                <label id="subdivMP" class="col-xs-12 control-text no-margin text-left text-black"><span>-</span></label>
                                <input type="hidden" id="hdnsubdivMP" name="hdnsubdivMP" />
                            </div>
                            <div class="clearfix"></div>
                            <br />
                        </div>
                        <div id="divcityMP" style="display:none">
                            <div class="row">
                                <label id="cityMPLabel" class="col-xs-12 label-title no-margin text-left">City</label>
                            </div>
                            <div class="row position-relative">
                                <label id="cityMP" class="col-xs-12 control-text no-margin text-left text-black"><span>-</span></label>
                                <input type="hidden" id="hdncityMP" name="hdncityMP" />
                            </div>
                            <div class="clearfix"></div>
                            <br />
                        </div>
                        <div id="divTransactionIdMP" style="display:none">
                            <div class="row">
                                <label id="TransactionIdMPLabel" class="col-xs-12 label-title no-margin text-left">Transaction Id</label>
                            </div>
                            <div class="row position-relative">
                                <label id="TransactionIdMP" class="col-xs-12 control-text no-margin text-left text-black"><span>-</span></label>
                                <input type="hidden" id="hdnTransactionIdMP" name="hdnTransactionIdMP" />
                            </div>
                            <div class="clearfix"></div>
                            <br />
                        </div>
                        <div id="divAddrMP" style="display:none">
                            <div class="row">
                                <label id="AddrMPLabel" class="col-xs-12 label-title no-margin text-left">Address</label>
                            </div>
                            <div class="row position-relative">
                                <label id="AddrMP" class="col-xs-12 control-text no-margin text-left text-black"><span>-</span></label>
                                <input type="hidden" id="hdnAddrMP" name="hdnAddrMP" />
                            </div>
                            <div class="clearfix"></div>
                            <br />
                        </div>
                        <div id="divMonthMP" style="display:none">
                            <div class="row">
                                <label id="MonthMPLabel" class="col-xs-12 label-title no-margin text-left">Month</label>
                            </div>
                            <div class="row position-relative">
                                <label id="MonthMP" class="col-xs-12 control-text no-margin text-left text-black"><span>-</span></label>
                                <input type="hidden" id="hdnMonthMP" name="hdnMonthMP" />
                            </div>
                            <div class="clearfix"></div>
                            <br />
                        </div>
                        <div id="divYearMP" style="display:none">
                            <div class="row">
                                <label id="YearMPLabel" class="col-xs-12 label-title no-margin text-left">Year</label>
                            </div>
                            <div class="row position-relative">
                                <label id="YearMP" class="col-xs-12 control-text no-margin text-left text-black"><span>-</span></label>
                                <input type="hidden" id="hdnYearMP" name="hdnYearMP" />
                            </div>
                            <div class="clearfix"></div>
                            <br />
                        </div>
                        <div id="divMobNoMP" style="display:none">
                            <div class="row">
                                <label id="MobNoMPLabel" class="col-xs-12 label-title no-margin text-left">Mobile No</label>
                            </div>
                            <div class="row position-relative">
                                <label id="MobNoMP" class="col-xs-12 control-text no-margin text-left text-black"><span>-</span></label>
                                <input type="hidden" id="hdnMobNoMP" name="hdnMobNoMP" />
                            </div>
                            <div class="clearfix"></div>
                            <br />
                        </div>
                        <div id="divdobMP" style="display:none">
                            <div class="row">
                                <label class="col-xs-12 label-title no-margin text-left">Date of birth</label>
                            </div>
                            <div class="row position-relative">
                                <label id="dobMP" class="col-xs-12 control-text no-margin text-left text-black"><span>-</span></label>
                                <input type="hidden" id="hdndobMP" name="hdndobMP" value="" />
                            </div>
                            <div class="clearfix"></div>
                            <br />
                        </div>
                        <div id="divrechargeamountMP" style="display:none">
                            <div class="row">
                                <label class="col-xs-12 label-title no-margin text-left">Recharge/Bill Amount</label>
                            </div>
                            <div class="row position-relative">
                                <label id="rechargeamountMP" class="col-xs-12 control-text no-margin text-left text-black"><span>0</span></label>
                                <input type="hidden" id="hdnrechargeamountMP" name="hdnrechargeamountMP" value="" />
                            </div>
                            <div class="clearfix"></div>
                            <br />
                        </div>
                        <div id="divtaxamountMP" style="display:none">
                            <div class="row">
                                <label class="col-xs-12 label-title no-margin text-left tax-toolip-container">Tax Amount&nbsp;<a class="tax-tooltip" data-selector="true" data-toggle="tooltip" data-html="true" title=""><i class="fa fa-info-circle text-danger" style="font-size:1rem"></i></a></label>
                            </div>
                            <div class="row position-relative">
                                <label id="taxamountMP" class="col-xs-12 control-text no-margin text-left text-black"><span>0</span></label>
                                <input type="hidden" id="hdntaxamountMP" name="hdntaxamountMP" value="" />
                            </div>
                            <div class="clearfix"></div>
                            <br />
                        </div>
                        <div id="divamountMP">
                            <div class="row">
                                <label class="col-xs-12 label-title no-margin text-left">Amount to Pay</label>
                            </div>
                            <div class="row position-relative">
                                <label id="amountMP" class="col-xs-12 control-text no-margin text-left text-black"><span>0</span></label>
                                <input type="hidden" id="hdnamountMP" name="hdnamountMP" value="" />
                            </div>
                            <div class="clearfix"></div>
                            <br />
                        </div>
                        <div id="divcashbackMP" style="display:none">
                            <div class="row">
                                <label class="col-xs-12 label-title no-margin text-left"><span class="text-info">GRPL Cash You Earn (Code '<span id="cashbackCodeMP" class="text-danger"></span>' applied)</span></label>
                            </div>
                            <div class="row position-relative">
                                <label id="cashbackMP" class="col-xs-12 control-text no-margin text-left"><span class="text-danger">0</span></label>
                                <input type="hidden" id="cbCodesMP" name="cbCodesMP" />
                                <input type="hidden" id="cbFaresMP" name="cbFaresMP" />
                                <input type="hidden" id="cbAmountsMP" name="cbAmountsMP" />
                                <input type="hidden" id="cbTotalAmtMP" name="cbTotalAmtMP" />
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div id="divwalletbalMP" class="checkbox text-left position-relative">
                            <label class="primary-text">
                                <input type="checkbox" id="usewalletMP" name="usewalletMP" disabled>
                                Use Wallet
                            </label>

                        </div>
                        <div style="text-align: right; margin-top: -34px;">
                            <label id="walletbalanceMP" class="control-text no-margin text-left text-black"><span class="no-border">0</span></label>
                            <input type="hidden" id="hdnwalletbalanceMP" name="hdnwalletbalanceMP" value="0" />
                        </div>

                        <hr class="seperator" />
                        <div id="divbalamtMP" style="display:none">
                            <div class="row">
                                <label class="col-xs-12 label-title no-margin text-left">Online Payment Amount</label>
                            </div>
                            <div class="row position-relative">
                                <label id="balanceamtMP" class="col-xs-12 control-text no-margin text-left text-black"><span>0</span></label>
                                <input type="hidden" id="hdnbalanceamtMP" name="hdnbalanceamtMP" value="" />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <p class="text-justify">
                    <span class="bold"><span class="red-text">*</span> Note:</span> In case amount is paid and Recharge/Bill Payment fails, the amount paid will be credited back to the original payment mode in 10-15 days. In case amount reversal does not take place in the mentioned period, please contact us with the Transaction Id and we will do as expected.
                </p>
                <button type="submit" class="btn brown darken-4 text-white waves-effect col-xs-12 col-sm-12 col-md-12 no-float center-block no-margin-top make-payment">
                    <span>Recharge/Pay Now</span>
                    <div class="ripple-container"></div>
                </button>
                <br />
                <br />
            </div>
            <div class="popup-over-list" style="display:none">
                <nav class="navbar-fixed-top scrolling-navbar navbar navbar-dark double-nav header-nav-bar no-shadow no-padding parallax parallax-orange-reverse no-margin">
                    <div class="container-fluid padding-5">
                        <div class="pull-left position-relative" style="width:45px;z-index:2;height:40px">
                            <a href="#" class="close-popup-over-list center-block close-icon">&nbsp;</a>
                        </div>
                        <div class="position-relative" style="width:auto;overflow:hidden;height:40px;z-index:2">
                            <div class="page-title mobile pg-page-title">Pay by PayU</div>
                        </div>
                    </div>
                </nav>
                <div class="tab-content card no-shadow height-100p no-padding" style="background: #f2f2f2">
                    <h6 class="text-center text-unset bold" style="margin:3px 0">Please do not close this window or app</h6>
                    <iframe id="ifrmPG" name="ifrmPG" src="" frameborder="0" class="width-100p height-100p" style="display:none"></iframe>
                    <h4 id="iframeLoadingMP" class="text-center">
                        <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                        <span style="display:inline-block;height:45px;vertical-align:middle">Loading, please wait...</span>
                    </h4>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script src="~/Plugins/Nop.Plugin.Api/Themes/Vnext/assets/js/account/makepayment.js"></script>
}
