﻿@{
    //Layout = "~/Plugins/Nop.Plugin.Api/Themes/Vnext/Views/Shared/_MemberLayout.cshtml";
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";

    ViewBag.Title = "Wallet Topup Details";
    ViewBag.PageTitle = "Wallet Topup Details";
    ViewBag.Breadcrumb_L1 = "Wallet Topup Details";
    ViewBag.Breadcrumb_L2 = "";
    ViewBag.Breadcrumb_L3 = "";
}
<br />


<form id="formWTPD" name="formWTPD" class="form">
    <div class="sparkline16-list shadow-reset">
        <div class="sparkline16-hd">
            <div class="main-sparkline16-hd">
                <h1>Recharge Wallet Topup Details</h1>
            </div>
        </div>
        <div class="sparkline16-graph">
            <div class="tabs-wrapper box-shadow" style="margin-bottom:5px">
                <ul class="nav classic-tabs white slide-tabs" role="tablist">
                    <li class="nav-item active col-xs-4 col-sm-4 col-md-4">
                        <a class="nav-link waves-light text-center" data-toggle="tab" href="#wtpdTab1" role="tab">Initiated</a>
                    </li>
                    <li class="nav-item col-xs-4 col-sm-4 col-md-4">
                        <a class="nav-link waves-light text-center" data-toggle="tab" href="#wtpdTab2" role="tab">Confirmed</a>
                    </li>
                    <li class="nav-item col-xs-4 col-sm-4 col-md-4">
                        <a class="nav-link waves-light text-center" data-toggle="tab" href="#wtpdTab3" role="tab">Cancelled</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content card no-shadow no-margin height-100p no-bg">
                <div class="tab-pane fade in active" id="wtpdTab1" role="tabpanel">
                    <ul class="item-list notifications-list pending-transactions"></ul>
                    <button type="button" class="btn btn-danger waves-effect col-xs-12 col-sm-12 col-md-12 no-float center-block load-more-pending">
                        Load more...
                        <div class="ripple-container"></div>
                    </button>
                </div>
                <div class="tab-pane fade" id="wtpdTab2" role="tabpanel">
                    <ul class="item-list notifications-list approved-transactions"></ul>
                    <button type="button" class="btn btn-danger waves-effect col-xs-12 col-sm-12 col-md-12 no-float center-block load-more-approved">
                        Load more...
                        <div class="ripple-container"></div>
                    </button>
                </div>
                <div class="tab-pane fade" id="wtpdTab3" role="tabpanel">
                    <ul class="item-list notifications-list rejected-transactions"></ul>
                    <button type="button" class="btn btn-danger waves-effect col-xs-12 col-sm-12 col-md-12 no-float center-block load-more-rejected">
                        Load more...
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </div>
        </div>
            <br />
        <br />
        </div>

    @section scripts{
        <script src="@Url.Content("~/Plugins/Nop.Plugin.Api/Themes/Vnext/assets/js/account/wallettopupdetails.js")"></script>
    }

</form>

