﻿@model Nop.Plugin.Widgets.ImageGallery.Models.ImageGalleryList
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI
@using Nop.Core.Infrastructure
@using System.Web.Mvc.Html
@{

    Layout = "~/Views/Shared/_ColumnVF.cshtml";

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page account-page return-request-list-page " id="VideoGallery">
        <div class="page-title">
            <h1>@T("Plugins.Widgets.ImageGallery")</h1>
        </div>
        <div class="page registration-result-page">
            <div class="result" style="text-align:center;">
                @if (ViewBag.Msg != null)
                {
                    @ViewBag.Msg
                }
            </div>
            @{
                var validationSummary = Html.ValidationSummary(true);
            }
            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="message-error">@validationSummary</div>
            }

            <div class="container">

                <div class="row">
                    @foreach (var item in Model.FolderList)
                    {
                        <div class="col-md-3 col-md-3 col-md-4" id="viewSectionGalary">                           
                            @if (item.Id != 0)
                            {
                                <a href="@Url.Action("PhotoList", "ImageGallery" , new { id=item.Id })">
                                    <img class="img-thumbnail" src="@Url.Content(@item.ImageUrl)" title="@item.Name" />
                                </a>

                            }
                            else
                            {
                                <img class="img-thumbnail" src="@Url.Content(@item.ImageUrl)" title="@item.Name" />
                            }
                            <h2 class="product-title">
                                @item.Name
                            </h2>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
                }



@*<style>
        .item-box:before {
            content: "";
            display: block;
            padding-top: 0% !important;
        }

        .product-grid .item-grid .item-box {
            padding-right: 5% !important;
        }
    </style>*@
<style>
    .btn:focus, .btn:active, button:focus, button:active {
        outline: none !important;
        box-shadow: none !important;
    }

    #viewSectionGalary {
        border: 1px solid #1d68ba;
        margin: 10px;
    }

    #ImageGallary img {
        filter: gray; /* IE6-9 */
        -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
        box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
        margin-bottom: 20px;
        max-height: 175px;
        width: 300px;
        border-radius: 15px;
    }

    #image-gallery .modal-footer {
        display: block;
    }

    #show-previous-image, #show-next-image {
        margin-top: 1%;
    }

    .img-thumbnail {
        width: 300px;
        min-height: 200px;
        max-height: 200px;
    }

    #VideoGallery #image-gallery-image {
        min-height: 300px;
        max-height: 300px;
    }

    #VideoGallery .container {
        padding-left: 15px;
        padding-right: 155px;
    }

    .col-md-3 {
        width: 22% !important;
    }

    @@media all and (min-width: 600px) and (max-width:780px) {
        .col-md-3 {
            width: 100% !important;
        }

        #show-previous-image, #show-next-image {
            margin-top: auto !important;
        }

        #VideoGallery .container {
            padding-left: 135px !important;
            padding-right: 200px !important;
        }

        #VideoGallery #image-gallery-image {
            min-height: 300px;
            max-height: 300px;
        }
    }

    @@media all and (min-width: 320px) and (max-width: 480px) {

        .col-md-3 {
            width: 100% !important;
        }

        #show-previous-image, #show-next-image {
            margin-top: auto !important;
        }

        #VideoGallery .container {
            padding-left: 15px !important;
            padding-right: 40px !important;
        }

        #VideoGallery #image-gallery-image {
            min-height: 300px;
            max-height: 300px;
        }
    }
</style>


<script>

    $('img').each(function () {

        var $img = $(this);

        var imgsrc = $img.attr('src');

        var url = window.location.href;



        var href = window.location.href.split('/');

        if (url.toLowerCase().indexOf("punecs") >= 0) {

            var baseURL = '/' + href[3];

            if (imgsrc.toLowerCase().indexOf(baseURL.toLowerCase()) < 0) {


                var imgsrc2 = baseURL + imgsrc;

                $img.attr('src', imgsrc2);

            }

        }



    });

</script>
