﻿@model Nop.Plugin.Widgets.ImageGallery.Models.UploadPhotos
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI
@using Nop.Core.Infrastructure
@using System.Web.Mvc.Html
@{
    Layout = "~/Views/Shared/_ColumnVF.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <div class="page account-page return-request-list-page " id="VideoGallery">
        <div class="page-title">
            <h1>@T("Plugins.Widgets.ImageGallery") :  @Model.FolderName</h1>
        </div>
        <div class="page registration-result-page">
            <div class="result" style="text-align:center;">
                @if (ViewBag.Msg != null)
                {
                    @ViewBag.Msg
                }
            </div>
            @{
                var validationSummary = Html.ValidationSummary(true);
            }
            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="message-error">@validationSummary</div>
            }

            <div class="container">

                <div class="row">
                    @foreach (var item in Model.PhotoAlbumList)
                    {
                        <div class="col-md-3 col-md-3 col-md-4">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                               data-image="@Url.Content(@item.ImageUrl)" data-target="#image-gallery">
                                <img class="img-thumbnail"
                                     src="@Url.Content(@item.ImageUrl)"
                                     alt="Another alt text">
                            </a>
                        </div>
                    }
                </div>

                <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header" style="text-align:right;">
                                <h4 class="modal-title" id="image-gallery-title"></h4>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                            </div>
                            <br />
                            <br />

                            <div class="modal-footer" style="text-align:center">
                                @if (Model.PhotoAlbumList.Count > 1)
                                {
                                    <button type="button" class="btn btn-secondary float-left" id="show-previous-image">
                                        <i class="fa fa-arrow-left"></i>
                                    </button>
                                    <button type="button" id="show-next-image" class="btn btn-secondary float-right">
                                        <i class="fa fa-arrow-right"></i>
                                    </button>
                                }
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <style>
        .btn:focus, .btn:active, button:focus, button:active {
            outline: none !important;
            box-shadow: none !important;
        }


        #ImageGallary img {
            filter: gray; /* IE6-9 */
            -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
            box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
            margin-bottom: 20px;
            max-height: 175px;
            width: 300px;
            border-radius: 15px;
        }

        #image-gallery .modal-footer {
            display: block;
        }

        #show-previous-image, #show-next-image {
            margin-top: 1%;
        }

        .img-thumbnail {
            width: 300px;
            min-height: 200px;
            max-height: 200px;
        }

        #VideoGallery #image-gallery-image {
            min-height: 300px;
            max-height: 300px;
        }

        #VideoGallery .modal-lg {
            width: 35%;
        }

        #VideoGallery .modal-dialog {
            margin: 80px auto;
        }

        #VideoGallery .container {
            padding-left: 3px;
            padding-right: 190px;
        }

        @@media all and (min-width: 320px) and (max-width: 480px) {
            #VideoGallery .modal-lg {
                width: 80% !important;
            }

            #show-previous-image, #show-next-image {
                margin-top: auto !important;
            }

            #VideoGallery .container {
                padding-left: 19px !important;
                padding-right: 40px !important;
            }

            #VideoGallery #image-gallery-image {
                min-height: 300px;
                max-height: 300px;
            }

            #VideoGallery .modal-footer {
                padding: 6px !important;
            }
        }

        @@media all and (min-width: 600px) and (max-width: 768px) {
            #VideoGallery .modal-lg {
                width: 80% !important;
            }

            #show-previous-image, #show-next-image {
                margin-top: auto !important;
            }

            #VideoGallery .container {
                padding-left: 0px !important;
                padding-right: 265px !important;
            }

            #VideoGallery #image-gallery-image {
                min-height: 300px;
                max-height: 300px;
            }

            #VideoGallery .modal-footer {
                padding: 6px !important;
            }
        }
    </style>

    <script>
        let modalId = $('#image-gallery');

        $(document)
          .ready(function () {

              loadGallery(true, 'a.thumbnail');

              //This function disables buttons when needed
              function disableButtons(counter_max, counter_current) {
                  $('#show-previous-image, #show-next-image')
                    .show();
                  if (counter_max === counter_current) {
                      $('#show-next-image')
                        .hide();
                  } else if (counter_current === 1) {
                      $('#show-previous-image')
                        .hide();
                  }
              }


              function loadGallery(setIDs, setClickAttr) {
                  let current_image,
                    selector,
                    counter = 0;

                  $('#show-next-image, #show-previous-image')
                    .click(function () {
                        if ($(this)
                          .attr('id') === 'show-previous-image') {
                            current_image--;
                        } else {
                            current_image++;
                        }

                        selector = $('[data-image-id="' + current_image + '"]');
                        updateGallery(selector);
                    });

                  function updateGallery(selector) {
                      let $sel = selector;
                      current_image = $sel.data('image-id');
                      $('#image-gallery-title')
                        .text($sel.data('title'));
                      $('#image-gallery-image')
                        .attr('src', $sel.data('image'));
                      disableButtons(counter, $sel.data('image-id'));
                  }

                  if (setIDs == true) {
                      $('[data-image-id]')
                        .each(function () {
                            counter++;
                            $(this)
                              .attr('data-image-id', counter);
                        });
                  }
                  $(setClickAttr)
                    .on('click', function () {
                        updateGallery($(this));
                    });
              }
          });

        // build key actions
        $(document)
          .keydown(function (e) {
              switch (e.which) {
                  case 37: // left
                      if ((modalId.data('bs.modal') || {})._isShown && $('#show-previous-image').is(":visible")) {
                          $('#show-previous-image')
                            .click();
                      }
                      break;

                  case 39: // right
                      if ((modalId.data('bs.modal') || {})._isShown && $('#show-next-image').is(":visible")) {
                          $('#show-next-image')
                            .click();
                      }
                      break;

                  default:
                      return; // exit this handler for other keys
              }
              e.preventDefault(); // prevent the default action (scroll / move caret)
          });

    </script>

                }
