﻿@model Nop.Plugin.Widgets.ImageGallery.Models.ImageGalleryList
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI
@using Nop.Core.Infrastructure
@using System.Web.Mvc;
@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = T("Plugins.Widgets.ImageGallery.AlbumList").Text;
    Html.SetActiveMenuItemSystemName("Widgets.ImageGallery");

    var type = new List<SelectListItem>
    {
    new SelectListItem { Text = "Select", Value="0" , Selected=true },
    new SelectListItem { Text = "Name-Wise", Value="2" },
      new SelectListItem { Text = "Date Of Creation", Value="3" }

    };

    var Activetype = new List<SelectListItem>
    {
    new SelectListItem { Text = "Active", Value="0" , Selected=true },
    new SelectListItem { Text = "InActive", Value="1" }

    };
}




@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ListPhotoForm" }))
{
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="alert alert-success alert-dismissable" id="validationSucessMessages">
    </div>
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Plugins.Widgets.ImageGallery.AlbumList")
        </h1>
        <div class="pull-right">

        </div>
    </div>



    <div>
        <div class="content">
            <div class="form-horizontal">
                <div class="panel-group">
                    <div class="panel panel-default panel-search">
                        <div class="panel-body">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.NopLabelFor(model => model.SelectOption)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.NopDropDownListFor(model => model.SelectOption, type)


                                        </div>

                                    </div>
                                    <div class="form-group" id="divNameWise">
                                        <div class="col-md-3">
                                            @Html.NopLabelFor(model => model.AlbumName)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.NopEditorFor(model => model.AlbumName)


                                        </div>

                                    </div>
                                    <div id="divDateWise">


                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.StartDate)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.NopEditorFor(model => model.StartDate)


                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.NopLabelFor(model => model.Enddate)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.NopEditorFor(model => model.Enddate)


                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group" style="text-align:center;">
                                        <button type="button" id="search-Photo" class="btn btn-primary btn-search"><i class="fa fa-search"></i>@T("Admin.Common.Search")</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="Albumphoto-grid"></div>

                            <script>
                                $(document).ready(function () {
                                    $("#Albumphoto-grid").kendoGrid({
                                        dataSource: {
                                            type: "json",
                                            transport: {
                                                read: {
                                                    url: "@Html.Raw(Url.Action("AlbumList", "ImageGallery", new RouteValueDictionary() { { "Namespaces", "Nop.Plugin.Widgets.ImageGallery.Controllers" }, { "area", "" } }))",
                                                    type: "POST",
                                                    dataType: "json",
                                                    data: additionalData
                                                }
                                            },

                                            schema: {
                                                data: "Data",
                                                total: "Total",
                                                errors: "Errors"
                                            },
                                            error: function (e) {
                                                display_kendoui_grid_error(e);
                                                // Cancel the changes
                                                this.cancelChanges();
                                            },
                                            @*pageSize: @(defaultGridPageSize),*@
                                            serverPaging: true,
                                            serverFiltering: true,
                                            serverSorting: true
                                        },
                                        width: 100,
                                        pageable: {
                                            refresh: true,
                                            numeric: false,
                                            previousNext: false,
                                            info: false,
                                            @Html.Partial("~/Administration/Views/Shared/_GridPagerMessages.cshtml")
                                        },
                                        editable: {
                                            confirmation: false,
                                            mode: "inline"
                                        },

                                        scrollable: true,
                                        dataBound: onDataBound,
                                        columns: [
                                            {
                                                field: "Id",
                                                headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                                headerAttributes: { style: "text-align:center" },
                                                attributes: { style: "text-align:center" },
                                                template: "<input type='checkbox' value='#=Id#'  name='ImageGalleryID' class='checkboxGroups'/>",
                                                width: 20,


                                            },
                                            {
                                                field: "PAH_Name",
                                                title: "@T("Plugins.Widgets.ImageGallery.NameofAlbum")",
                                                width: 100,

                                            },
                                            {
                                                field: "PAH_Date",
                                                title: "@T("Plugins.Widgets.ImageGallery.AlbumDate")",
                                                type: "date",
                                                format: "{0:dd/MM/yy}",
                                                width: 100,
                                            },
                                            {
                                                field: "PAH_ShowFlg",
                                                title: "@T("Plugins.Widgets.ImageGallery.AlbumStatus")",
                                                template: '# if(PAH_ShowFlg==0) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #',
                                                width: 100,

                                            },
                                           {
                                               field: "Id",
                                               title: "@T("Admin.Common.Edit")",
                                               headerAttributes: { style: "text-align:center" },
                                               attributes: { style: "text-align:center" },
                                               template: '<a class="btn btn-default" href="EditConfigure/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>',
                                               width: 100,
                                           }
                                        ]
                                    });
                                    var grid = $("#Albumphoto-grid").data("kendoGrid");

                                });


                                function additionalData() {
                                    var data = {

                                        SelectOption: $('#@Html.FieldIdFor(model => model.SelectOption)').val(),
                                        AlbumName: $('#@Html.FieldIdFor(model => model.AlbumName)').val(),
                                        StartDate: getDate($("#StartDate").data("kendoDatePicker").value()),
                                        Enddate: getDate($("#Enddate").data("kendoDatePicker").value()),
                                        ActiveType: $('#@Html.FieldIdFor(model => model.ActiveType)').val(),
                                    };
                                    addAntiForgeryToken(data);
                                    return data;
                                }
                                function onDataBound(e) {

                                }

                            </script>


                        </div>
                    </div>
                    <div class="panel panel-default panel-search">
                        <div class="panel-body">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.NopLabelFor(model => model.ActiveType)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.NopDropDownListFor(model => model.ActiveType, Activetype)


                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12 " style="text-align:center;">
                                            <button type="button" id="save" name="save" class="btn btn-success">
                                                <i class="fa fa-floppy-o"></i>
                                                @T("Admin.Common.Update")
                                            </button>
                                            <button type="button" id="deleteFolder" name="deleteFolder" class="btn btn-success">
                                                <i class="fa fa-floppy-o"></i>
                                                @T("Admin.System.Maintenance.BackupDatabase.Delete")
                                            </button>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>


    <script type="text/javascript">



        $(document).ready(function () {

            $('#validationMessages').hide();
            $('#validationSucessMessages').hide();
            $('#successMessages').hide();
            $('#divNameWise').hide();
            $('#divDateWise').hide();


            $('#mastercheckbox').click(function () {
                debugger;
                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
            });


            if ($("#SelectOption").val() == 0) {
                $('#divNameWise').hide();
                $('#divDateWise').hide();
            }
            if ($("#SelectOption").val() == 2) {
                $('#divNameWise').show();
                $('#divDateWise').hide();
            }
            if ($("#SelectOption").val() == 3) {
                $('#divNameWise').hide();
                $('#divDateWise').show();
            }

            $(function () {
                $("#@Html.FieldIdFor(model => model.SelectOption)").change(function () {

                    if ($("#SelectOption").val() == 0) {
                        $('#divNameWise').hide();
                        $('#divDateWise').hide();
                    }
                    if ($("#SelectOption").val() == 2) {
                        $('#divNameWise').show();
                        $('#divDateWise').hide();
                    }
                    if ($("#SelectOption").val() == 3) {
                        $('#divNameWise').hide();
                        $('#divDateWise').show();
                    }
                });
            });
            $('#search-Photo').click(function () {
                //search button
                $('#validationSucessMessages').hide();
                $("#validationMessages").hide();

                $('#validationSucessMessages').hide();
                @*var myDate = new Date(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                var myFromDate = new Date(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));*@


                @*var today = new Date();
                var validationDivs = '';
                var start_time = $("#DatewiseFrom").val();
                var end_time = $("#DatewiseTo").val();

                if (myFromDate > today) {

                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    $('#validationMessages').html(validationDivs);
                    // flag=false;
                    $('#orders-grid').hide();
                    return false;
                }
                if (myFromDate < myDate) {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    //flag=false;
                    $('#validationMessages').html(validationDivs);
                    $('#orders-grid').hide();
                    return false;
                }*@


                $("#Albumphoto-grid").show();

                var grid = $('#Albumphoto-grid').data('kendoGrid');
                grid.dataSource.page(1); //new search. Set page size to 1
                //grid.dataSource.read(); we already loaded the grid above using "page" function
                //clear selected checkboxes

            });


            $('#save').click(function () {
                $('#validationSucessMessages').hide();
                $('#validationMessages').html('');
                $('#validationMessages').hide();
                var count = 0;
                var selectedLanguage = new Array();
                $('input[name="ImageGalleryID"]:checked').each(function () {
                    selectedLanguage.push(this.value);
                    count++;
                });
                if (count == 0) {

                    var validationDivs = '';
                    $('#validationMessages').show();
                    $('#validationSucessMessages').hide();
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.SelectAtLeastOneRecord")</div>';
                    $('#validationMessages').append(validationDivs);
                    return false;
                   
                }

                if (count > 0) {


                    //  debugger;
                    var formData = $('form').serialize();
                    var validationDivs = '';
                    $('#validationMessages').html('');
                    $('#validationMessages').hide();
                    $('#validationSucessMessages').hide();
                    var data1 = {

                        //ImageGalleryID: $('#ImageGalleryID').val(),


                    }

                    addAntiForgeryToken(data1);

                    //        alert("work1")
                    $.ajax({
                        url: "@Html.Raw(Url.Action("UpdateAlbumListTransaction", "ImageGallery", new RouteValueDictionary() { { "Namespaces", "Nop.Plugin.Widgets.ImageGallery.Controllers" }, { "area", "" } }))",
                        //url: "/Message/MessageDetailgetGrid",
                        type: "POST",
                        dataType: "html",
                        data: formData, success: function (result) {

                            $('#Albumphoto-grid').data('kendoGrid').dataSource.read();
                            $('#Albumphoto-grid').data('kendoGrid').refresh();
                            $("#mastercheckbox").prop("checked", false);
                            var validationDivs = '';
                            $('#validationMessages').hide();
                            $('#validationSucessMessages').show();
                            validationDivs = validationDivs + '<div>@T("Plugins.Widgets.ImageGallery.Folderupdated")</div>';
                            $('#validationSucessMessages').append(validationDivs);
                        }




                    });
                }
            });

     

            $('#deleteFolder').click(function () {
                $('#validationSucessMessages').hide();
                $('#validationMessages').html('');
                $('#validationMessages').hide();
            var count = 0;
            var selectedLanguage = new Array();
            $('input[name="ImageGalleryID"]:checked').each(function () {
                selectedLanguage.push(this.value);
                count++;
            });
            if (count == 0) {

                var validationDivs = '';
                $('#validationMessages').show();
                $('#validationSucessMessages').hide();
                validationDivs = validationDivs + '<div>@T("Admin.Validation.SelectAtLeastOneRecord")</div>';
                $('#validationMessages').append(validationDivs);
                return false;
                 alert("Please select aleast one record");
            }

            if (count > 0) {


                //  debugger;
                var formData = $('form').serialize();
                var validationDivs = '';
                $('#validationMessages').html('');
                $('#validationMessages').hide();
                $('#validationSucessMessages').hide();
                var data1 = {

                    //ImageGalleryID: $('#ImageGalleryID').val(),


                }

                addAntiForgeryToken(data1);

                //        alert("work1")
                $.ajax({
                    url: "@Html.Raw(Url.Action("deletePhoto", "ImageGallery", new RouteValueDictionary() { { "Namespaces", "Nop.Plugin.Widgets.ImageGallery.Controllers" }, { "area", "" } }))",
                    //url: "/Message/MessageDetailgetGrid",
                    type: "POST",
                dataType: "html",
                data: formData, success: function (result) {
                    $('#Albumphoto-grid').data('kendoGrid').dataSource.read();
                    $('#Albumphoto-grid').data('kendoGrid').refresh();
                    $("#mastercheckbox").prop("checked", false);
                    var validationDivs = '';
                    $('#validationMessages').hide();
                    $('#validationSucessMessages').show();
                    validationDivs = validationDivs + '<div>@T("Plugins.Widgets.ImageGallery.Folderdeleted")</div>';
                    $('#validationSucessMessages').append(validationDivs);
                  
                }




            });
        }
        });

        });









    </script>

}









