﻿@model Nop.Plugin.Widgets.ImageGallery.Models.ImageGalleryList
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI
@using Nop.Core.Infrastructure
@using System.Web.Mvc.Html
@{

    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@*<div class="content-header clearfix">
        <div class="pull-right">
            <button type="submit" name="save" class="btn btn-success">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>*@
<li>
    <a href="@Url.Action("FolderList", "ImageGallery")">
        @T("Plugins.Widgets.ImageGallery")
    </a>
</li>



