﻿@model Nop.Plugin.Widgets.ImageGallery.Models.UploadPhotos
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI
@using Nop.Core.Infrastructure
@using System.Web.Mvc;
@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = T("Plugins.Widgets.ImageGallery.uploadPhoto").Text;
    Html.SetActiveMenuItemSystemName("Widgets.ImageGallery");
    var type = new List<SelectListItem>
    {
    new SelectListItem { Text = "Active", Value="0" , Selected=true },
    new SelectListItem { Text = "InActive", Value="1" }

    };
}
                           <style>
                               .input-group-required {
                                   width: 56%;
                               }
                               @@media all and (min-width: 1024px) and (max-width: 1640px) {
                                   .form-horizontal .k-datepicker {
                                       width: 425px !important;
                                   }
                               }

                               input[type=file] {
                                   display: revert;
                               }
                           </style>

@using (Html.BeginForm("UploadPhotoEdit", "Plugin/ImageGallery/ImageGallery", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadPhotoedit-form" }))
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Plugins.Widgets.ImageGallery.uploadPhoto")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a href="@Url.Action("AlbumPhotoListTransaction", "ImageGallery", new RouteValueDictionary() { { "Namespaces", "Nop.Plugin.Widgets.ImageGallery.Controllers" }, { "area", "" } })">
                    @T("admin.contentmanagement.notificationtemplates.backtolist")
                </a>
            </small>

        </h1>
        <div class="pull-right">
            <button type="submit" name="save" id="Save" class="btn btn-success">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>


    @Html.HiddenFor(model => model.Id)

    <div>
        <div class="content">
            <div class="form-horizontal">

                <div class="panel-group">
                    <div class="panel panel-default panel-search">
                        <div class="panel-body">
                           
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.PAH_Name)
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group input-group-required">
                                        @Html.NopDropDownListFor(model => model.PAH_Name, Model.AvailableAlbumList)
                                        @Html.ValidationMessageFor(model => model.PAH_Name)
                                        <div class="input-group-btn">
                                            @Html.RequiredHint()
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.PAD_Name)
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group input-group-required">
                                        <input type="file" name="postedFile" />
                                        <div class="input-group-btn">
                                          
                                        </div>

                                    </div>
                                </div>
                            </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                           
                                        </div>
                                        <div class="col-md-8">
                                            <a href="#" onclick="javascript:OpenWindow('@(Url.Action("DownloadImage", "Plugin/ImageGallery/ImageGallery", new { id = Model.Id }))    ', 600, 600, true); return false;">
                                                @T("plugins.widgets.Imagegallery.ViewImage")
                                            </a>

                                        </div>

                                    </div>
                                </div>
                          

                           
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.PAD_ValidTillDate)
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group input-group-required">
                                        @Html.NopEditorFor(model => model.PAD_ValidTillDate)
                                        @Html.HiddenFor(model => model.HPAD_ValidTillDate)

                                        <div class="input-group-btn">
                                            @Html.RequiredHint()
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.Status)
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group input-group-required">
                                        @Html.NopDropDownListFor(model => model.Status, type)
                                        @Html.HiddenFor(model => model.Status, type)
                                        <div class="input-group-btn">

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <strong style="color:red;">@T("plugins.widgets.Imagegallery.FileFormat")</strong><br />
                                <strong style="color:red;">@T("plugins.widgets.Imagegallery.FileSize")</strong><br />
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            $("#HPAD_ValidTillDate").val("");
            //$("#PAD_ValidTillDate").val("");
            $('#validationMessages').hide();


            function CheckImageSize(id) {
                debugger;
                var fi = document.getElementById(id);
                if (fi.files.length > 0) {
                    var fsize = fi.files.item(0).size;
                    if (4194304 < fsize) {
                        return false;
                    }
                }
            };

            $('input[type=file]').change(function (e) {
                var validationDivs = '';
                debugger;
                $in = $(this);
                if (this.files.length != 0) {
                    if (4194304 < this.files[0].size) {
                        $in.next().html("@T("Image must be less than 4mb")");
                        $("#validationMessages").show();
                        validationDivs = validationDivs + '<div>@T("Plugins.Widgets.VideoGallery.imagesizevalidation")</div>';
                        $('#validationMessages').html(validationDivs);
                        $('input[type=file]').val('');
                        return false
                    }
                    else {
                        $in.next().html("");
                    }
                }
                else {
                    $in.next().html("");

                }

            });
        });
        $('#Save').click(function () {
            debugger;
            $('#validationMessages').hide();
            var validationDivs = '';
            var date = getDate($("#PAD_ValidTillDate").data("kendoDatePicker").value());
            $("#HPAD_ValidTillDate").val(getDate($("#PAD_ValidTillDate").data("kendoDatePicker").value()));

            var myDate = new Date(getDateFromString($("#PAD_ValidTillDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
            myDate.setHours(0, 0, 0, 0)
            var today = new Date();
            today.setHours(0, 0, 0, 0)
            if (myDate < today) {
                if (myDate != today) {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Admin.ImageValidation.DateLessthanToday")</div>';
                    $('#validationMessages').html(validationDivs);
                    // flag=false;
                    ;
                    return false;
                }
            }

        });
    </script>

}
