﻿@{
    //page title
    ViewBag.Title = T("Admin.Configuration.EmailAccounts").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Email accounts");
}

@Html.AntiForgeryToken()
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Configuration.EmailAccounts")
    </h1>
    <div class="pull-right">
        <a href="@Url.Action("Create")" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div id="email-accounts-grid"></div>

                    <script>
                        $(document).ready(function() {
                            $("#email-accounts-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "EmailAccount"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    numeric: false,
                                    previousNext: false,
                                    info: false,
                                    @Html.Partial("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode: "inline"
                                },
                                scrollable: true,
                                columns: [
                                {
                                    field: "Email",
                                    title: "@T("Admin.Configuration.EmailAccounts.Fields.Email")",
                                    width: 200
                                }, {
                                    field: "DisplayName",
                                    title: "@T("Admin.Configuration.EmailAccounts.Fields.DisplayName")",
                                    width: 200
                                }, {
                                    field: "IsDefaultEmailAccount",
                                    title: "@T("Admin.Configuration.EmailAccounts.Fields.IsDefaultEmailAccount")",
                                    width: 200,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '# if(IsDefaultEmailAccount) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                }, {
                                    field: "Id",
                                    title: "@T("Admin.Configuration.EmailAccounts.Fields.MarkAsDefaultEmail")",
                                    template: '<a href="@Url.Content("~/Admin/EmailAccount/MarkAsDefaultEmail/")#=Id#" class="btn bg-green">@T("Admin.Configuration.EmailAccounts.Fields.MarkAsDefaultEmail")</a>',
                                    width: 100
                                }, {
                                    field: "Id",
                                    title: "@T("Admin.Common.Edit")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                    }
                                ]
                            });
                        });
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>