﻿@model Nop.Admin.ViewModel.AwardDetailsVM
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Scheme.AwardDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Award Qualifers");
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Scheme.AwardDetails")
        </h1>
        <div class="pull-right">
            <button type="submit" id="ExportExcel" name="exportexcel-all" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                @T("Admin.Common.ExportToExcel")
            </button>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <div class=" col-md-4">
                                        @Html.NopLabelFor(model => model.lblSelectOption)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.NopDropDownListFor(model => model.ddlChoice, new List<SelectListItem>()
                                          {
                                             new SelectListItem(){Text="All Record(s)", Value="1"},
                                            new SelectListItem(){Text="ID/Name-Wise",Value="0"}
                                          }, new { @onchange = "ChangeField(this.value)" })
                                    </div>

                                </div>
                                <div class="form-group" id="tblaward">
                                    <div class=" col-md-4">
                                        @Html.NopLabelFor(model => model.lblSelectAward)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.NopDropDownListFor(model => model.ddlaward, Model.awardList, "All Record(s)")
                                    </div>
                                </div>
                                <div class="form-group" id="tblMember">
                                    <div class=" col-md-4">
                                        @Html.NopLabelFor(model => model.lblEnterIDName)
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="txtMember" value="" name="" class="form-control text-box " />
                                        @Html.HiddenFor(model => model.hiddenSearchMemno)
                                        @*<input type="hidden" name="hiddenSearchMemno" id="hiddenSearchMemno" value=" " />*@
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                        @*@Html.TextBoxFor(model => model.txtMember)*@
                                    </div>
                                </div>

                                <div class="form-group" id="tbltransaction">
                                    <div class=" col-md-4">
                                        @Html.NopLabelFor(model => model.lblSelectTransactionType)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.NopDropDownListFor(model => model.ddlrpttype, new List<SelectListItem>()
                                         {
                                           new SelectListItem(){Text="All", Value="2"},
                                           new SelectListItem(){Text="Auto Qualifiers",Value="1"},
                                           new SelectListItem(){Text="Forceful Qualifiers",Value="0"}
                                          }, new { })
                                    </div>
                                </div>

                                <div class="form-group" id="tblFromDate">
                                    <div class=" col-md-4">
                                        @Html.NopLabelFor(model => model.lblFromDate)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.NopEditorFor(model => model.FromDate)
                                        @Html.HiddenFor(model => model.HFromDate)
                                    </div>
                                </div>

                                <div class="form-group" id="tblToDate">
                                    <div class=" col-md-4">
                                        @Html.NopLabelFor(model => model.lblToDate)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.NopEditorFor(model => model.ToDate)
                                        @Html.HiddenFor(model => model.HToDate)
                                    </div>
                                </div>

                                <div class="form-group" id="trAwardNote">
                                    <div class=" col-md-4">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-6">
                                        <b id="MessageNote"> @T("Admin.Note.Note") </b> @T("Admin.Note.QualificationDate")
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-4">
                                        <button type="button" id="ViewReport" class="btn btn-primary btn-search">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.ViewReport")
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="searchResult">
                    <div class="panel-body">
                        <h3>@T("Admin.Customer.SearchResult")</h3>

                        <div id="customers-grid"></div>
                        <script>
                            $(document).ready(function () {
                                // $('#ViewReport').click(function () {

                                $("#customers-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("AwardDetailsGrid", "Scheme"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: true,
                                    dataBound: onDataBound,
                                    columns: [ {
                                        field: "awardname",
                                        title:"@T("Admin.Customers.Customers.Fields.awardname")",
                                        width: 100
                                    }, {
                                        field: "awarddesc",
                                        title: "@T("Admin.Customers.Customers.Fields.awarddesc")",
                                        width: 100
                                    }, {
                                        field: "ID",
                                        title: "@T("Admin.Customers.Customers.Fields.ID")",
                                        width: 100,
                                        hidden:true
                                    },{
                                        field: "Name",
                                        title: "@T("Admin.Customers.Customers.Fields.Name")",
                                        width: 100,
                                    }, {
                                        field: "DOJ",
                                        title: "@T("Admin.Customers.Customers.Fields.DOJ")",
                                        width: 100,
                                    },{
                                        field: "AchvDt",
                                        title: "@T("Admin.Customers.Customers.Fields.AchvDt")",
                                        width: 100,
                                    }, {
                                        field: "OAT_Flag",
                                        title: "@T("Admin.Customers.Customers.Fields.OAT_Flag")",
                                        width: 100,
                                    },
                                     @if (Model.ShowClaiming)
                            {
                                    <text>{
                                         field: "Claiming",
                                         title: "@T("Admin.Customers.Customers.Fields.Claiming")",
                                         width: 200
                                     },</text>
                        }
                            @*{
                                field: "Claiming",
                                title: "@T("Admin.Customers.Customers.Fields.Claiming")",
                                // width: 50
                            },*@
                                         {
                                             field: "status",
                                             title: "@T("Admin.Customers.Customers.Fields.status")",
                                             width: 100,
                                         }]
                                });

                            });
                            //});
                        </script>

                        <script type="text/javascript">

                            var selectedIds = [];
                            $('#ddlChoice').live('keypress',function(e){
                                if(e.keyCode === 13) {
                                    $('#ViewReport').click()
                                    return false;
                                }
                            });


                            $('#ddlaward').live('keypress',function(e){
                                if(e.keyCode === 13) {
                                    $('#ViewReport').click()
                                    return false;
                                }
                            });


                            $('#ddlrpttype').live('keypress',function(e){
                                if(e.keyCode === 13) {
                                    $('#ViewReport').click()
                                    return false;
                                }
                            });

                            $("#txtMember").keydown(function(e){
                                if((e.which === 13 || e.which === 9) && $('#hiddenSearchMemno').val()!=""){
                                    
                                    var a=$('#hiddenSearchMemno').val();
                                    $('#ViewReport').click()
                                    return false;
                                }
                            });

                            $('#FromDate').keydown(keyDownHandler); // use appropriate selector for the keydown handler

                            function keyDownHandler(e) {
                                if(e.keyCode === 13) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                    $('#ViewReport').click()
                                    return false;

                                }
                            }

                            $('#ToDate').keydown(keyDownHandler1); // use appropriate selector for the keydown handler

                            function keyDownHandler1(e) {
                                if(e.keyCode === 13) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                    $('#ViewReport').click()
                                    return false;

                                }
                            }

                            $("#reset").click(function (){
                                $("#ddlChoice").val("1");
                                $("#ddlaward").val("");
                                $("#txtMember").val("");
                                $('#hiddenSearchMemno').val("");
                                $("#ddlrpttype").val("2");
                                $("#FromDate").val("");
                                $('#ToDate').val("");
                                $('#tblaward').show();
                                $('#tblFromDate').show();
                                $('#tblToDate').show();
                                $('#tbltransaction').show();
                                $('#trAwardNote').show();
                                $("#customers-grid").hide();
                                $('#validationMessages').html('');
                                $("#validationMessages").hide();
                                //  $('#exportexcel-all').hide();
                                $('#searchResult').hide();
                                $('#tblMember').hide();
                            });


                            $(document).ready(function () {
                                $("#FromDate").keyup(function(e){
                                    // 
                                    if(e.keyCode === 13) {
                                        if($('#ToDate').val()!='')
                                        {
                                            $('#ViewReport').click()
                                            return false;
                                        }
                                        else{
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                                            flag=false;
                                        }

                                    }
                                    else{
                                        $(this).val('');
                                    }

                                });
                                $("#ToDate").keyup(function(e){
                                    //  
                                    if(e.keyCode === 13) {
                                        if($('#FromDate').val()!='')
                                        {
                                            $('#ViewReport').click()
                                            return false;
                                        }
                                        else{
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                                            flag=false;
                                        }

                                    }
                                    else{
                                        $(this).val('');
                                    }
                                });

                                $('#ViewReport').click(function () {
                                    //
                                    var ddlChoice =  $("#ddlChoice").val();
                                    var StartDate = $("#FromDate").val();
                                    var EndDate = $("#ToDate").val();
                                    var vFromDt = "";
                                    var vToDt = "";
                                    if (StartDate != "") {
                                        vFromDt = getDate($("#FromDate").data("kendoDatePicker").value());
                                    }
                                    if (EndDate != "") {
                                        vToDt = getDate($("#ToDate").data("kendoDatePicker").value());
                                    }
                                    var txtMember=$("#txtMember").val();
                                    var hiddenSearchMemno=$("#hiddenSearchMemno").val();
                                    var validationDivs='';
                                    $('#validationMessages').html('');
                                    $("#upgradePackageDetails-grid").hide();
                                    $("#validationMessages").hide();
                                    //  $('#exportexcel-all').hide();
                                    $('#searchResult').hide();
                                    var flag=true;

                                    if(ddlChoice == 0)
                                    {
                                        if (txtMember == '')
                                        {
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.IdNameRequired")</div>';
                                            flag=false;
                                        }
                                        @*if(txtMember !='' && hiddenSearchMemno == '')
                                {
                                    validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                                    flag=false;
                                }*@
                                    }

                                    if(ddlChoice == 1)
                                    {
                                        // 
                                        if (vFromDt == '' && vToDt != '' )
                                        {
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                                            flag=false;
                                        }
                                        if (vToDt == '' && vFromDt !='' )
                                        {
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                                            flag=false;
                                        }

                                        var EnteredDate = getDate($("#FromDate").data("kendoDatePicker").value());
                                        var EnteredFromdate=getDate($("#ToDate").data("kendoDatePicker").value());
                                        var myDate = new Date(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                        var myFromDate = new Date(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                                        var today = new Date();
                                        var start_time=$("#DatewiseFrom").val();
                                        var end_time=$("#DatewiseTo").val();

                                        if (myFromDate > today) {

                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                                            flag=false;
                                        }
                                        if (myFromDate < myDate) {
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                                            flag=false;
                                        }



                                    }

                                    if(flag)
                                    {
                                        $("#HFromDate").val(EnteredDate);
                                        $("#HToDate").val(EnteredFromdate);
                                        var grid = $('#customers-grid').data('kendoGrid');
                                        grid.dataSource.page(1); //new search. Set page size to 1
                                        //grid.dataSource.read(); we already loaded the grid above using "page" function
                                        //clear selected checkboxes
                                        $('.checkboxGroups').attr('checked', false).change();
                                        selectedIds = [];
                                        $('#searchResult').show();
                                        $("#customers-grid").show();
                                        return false;
                                    }
                                    else
                                    {
                                        $("#validationMessages").show();
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                });

                                $('#mastercheckbox').click(function () {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                        $("#SelectedValues").val(selectedIds);
                                    }
                                    else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function (item, index) {
                                                return item != $check.val();
                                            });
                                            $("#SelectedValues").val(selectedIds);
                                        }
                                    }
                                    updateMasterCheckbox();
                                });


                            });


                            function onDataBound(e) {

                                $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });

                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }

                            function additionalData() {
                                var customerRoleIds = [];
                                $('[name=SearchCustomerRoleIds]:checked').each(function () {
                                    customerRoleIds.push($(this).val());
                                });
                                var StartDate = $("#FromDate").val();
                                var EndDate = $("#ToDate").val();

                                var startDate = null;
                                var endDate = null;

                                if (StartDate != "")
                                    startDate = getDate($("#FromDate").data("kendoDatePicker").value());
                                if (EndDate != "")
                                    endDate = getDate($("#ToDate").data("kendoDatePicker").value());
                                var data = {

                                    inputddlChoice: $('#@Html.FieldIdFor(model => model.ddlChoice)').val(),
                                    inputawardList: $('#@Html.FieldIdFor(model => model.ddlaward)').val(),
                                    @*inputFromDate: $('#@Html.FieldIdFor(model => model.FromDate)').val(),
                            inputToDate: $('#@Html.FieldIdFor(model => model.ToDate)').val(),*@
                                    inputFromDate: startDate,
                                    inputToDate: endDate,
                                    inputMember: $('#hiddenSearchMemno').val(),
                                    inputddlrpttype: $('#@Html.FieldIdFor(model => model.ddlrpttype)').val(),

                                    ddlChoice:$('#@Html.FieldIdFor(model => model.ddlChoice)').val(),
                                    ddlaward: $('#@Html.FieldIdFor(model => model.ddlaward)').val(),
                                    @*FromDate: $('#@Html.FieldIdFor(model => model.FromDate)').val(),
                            ToDate: $('#@Html.FieldIdFor(model => model.ToDate)').val(),*@
                                    HFromDate: startDate,
                                    HToDate: endDate,
                                    hiddenSearchMemno: $('#hiddenSearchMemno').val(),
                                    ddlrpttype: $('#@Html.FieldIdFor(model => model.ddlrpttype)').val(),
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>
                    </div>
                </div>
            </div>



        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            $("#FromDate").keyup(function(){
                $(this).val('');
            });
            $("#ToDate").keyup(function(){
                $(this).val('');
            });

            $('#validationMessages').hide();
            $("#tblMember").hide();
        });

        function ChangeField(selectedValue) {

            if (selectedValue == 1) {

                $("#tbltransaction").show();
                $("#tblMember").hide();
                $("#tblaward").show();
                $("#tblFromDate").show();
                $("#tblToDate").show();
                $("#txtMember").val("");
                $("#hiddenSearchMemno").val("");
                $("#ddlaward").val("");
                $("#ddlrpttype").val("2");
                $('#trAwardNote').show();
            }
            else if (selectedValue == 0) {

                $("#tbltransaction").hide();
                $("#tblMember").show();
                $("#tblaward").hide();
                $("#tblFromDate").hide();
                $("#tblToDate").hide();
                $("#txtMember").val("");
                $("#hiddenSearchMemno").val("");
                $('#trAwardNote').hide();
            }
        }

        $('#txtMember').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("SearchTermmember","Scheme"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                
                $("#hiddenSearchMemno").val(ui.item.MJD_MemID);
                $("#txtMember").val(ui.item.label);
                $("#divfirstname").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };

        $("#ExportExcel").click(function() {
            //
            var StartDate=$("#FromDate").val();
            var EndDate=$("#ToDate").val();

            if(StartDate!="")
            {
                $("#HFromDate").val(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
            }
            else{
                $("#HFromDate").val(StartDate)
            }
            if(EndDate!="")
            {
                $("#HToDate").val(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

            }
            else{
                $("#HToDate").val(EndDate)
            }
            var t=$("#HFromDate").val();
        });
    </script>
}
