﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    //    Html.AddCssFileParts("~/Plugins/Feed.Froogle/Content/styles.css");

}

@model Nop.Admin.ViewModel.OfferReportVM

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Scheme.OfferReport").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Offer");
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Scheme.OfferReport")
        </h1>
        <div class="pull-right">
            <a href="@Url.Action("OfferTransaction")" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.OfferTransaction")
            </a>
            <button type="submit" id="exportexcelsupplierdetailall" name="exportexcel-all" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                @T("Admin.Common.ExportToExcel")
            </button>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.SelectOption)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.ddlOption, new List<SelectListItem>()
           {
               new SelectListItem(){Text="All Records", Value=""},
               new SelectListItem(){Text="Scheme-wise",Value="1"},
               new SelectListItem(){Text="Offer-wise",Value="2"}
           }, new { @onchange = "test(this.value)" })
                                    </div>
                                </div>

                                <div class="form-group" id="trScheme">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.lblSchemeIDName)
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" id="txtSchemeIDName" value="" name="" />
                                        @Html.HiddenFor(model => model.hiddenScheme)
                                        <div id="divScheme" class="inputs">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" id="trOffer">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.lblOffer)
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" id="txtOffer" value="" name="" />
                                        @Html.HiddenFor(model => model.hiddenOffer)
                                        <div id="divOffer" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="trstatus">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.SelectStatus)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.ddlStatus, new List<SelectListItem>()
           {
               new SelectListItem(){Text="All Records", Value=""},
               new SelectListItem(){Text="Active",Value="1"},
               new SelectListItem(){Text="IN-Active",Value="0"}
           }, new { })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-4">
                                        <button type="button" id="search-customers" class="btn bg-blu">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="customers-grid"></div>
                        <script>
                        $(document).ready(function () {

                            $("#customers-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("OfferReportGrid", "Scheme"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)]
                                },
                                scrollable: true,
                                dataBound: onDataBound,
                                columns: [
                                    {
                                        field: "OMID",
                                        title: "@T("Admin.Common.Edit")",
                                        width: 50,
                                        template: '<a href="OfferEdit/#=OMID#">@T("Admin.Common.Edit")</a>'
                                    },{
                                        field: "OMID",
                                        title: "@T("Admin.Customers.Customers.Fields.OMID")",
                                        width: 50,
                                        hidden:true
                                    },{
                                        field: "SchemeName",
                                        title: "@T("Admin.Customers.Customers.Fields.SchemeName")",
                                        width: 50
                                    },{
                                        field: "OfferName",
                                        title:"@T("Admin.Customers.Customers.Fields.OfferName")",
                                        width: 50
                                    }, {
                                        field: "OfferDescription",
                                        title:"@T("Admin.Customers.Customers.Fields.OfferDescription")",
                                        width: 50
                                    }, {
                                        field: "Left",
                                        title: "@T("Admin.Customers.Customers.Fields.Left")",
                                        width: 50
                                    },{
                                        field: "Right",
                                        title: "@T("Admin.Customers.Customers.Fields.Right")",
                                        width: 50
                                    }, {
                                        field: "Status",
                                        title: "@T("Admin.Customers.Customers.Fields.Status")",
                                        width: 50
                                    }]
                            });
                        });

                        </script>

                        <script type="text/javascript">
                        var selectedIds = [];
                        $('#ddlOption').live('keypress',function(e){
                            if(e.keyCode === 13) {
                                $('#search-customers').click()
                                return false;
                            }
                        });

                        $('#ddlStatus').live('keypress',function(e){
                            if(e.keyCode === 13) {
                                $('#search-customers').click()
                                return false;
                            }
                        });


                        $("#txtSchemeIDName").keydown(function(e){
                            if((e.which === 13 || e.which === 9) && $('#hiddenScheme').val()!=" "){

                                $('#search-customers').click()
                                return false;
                            }
                            else if((e.which === 13 || e.which === 9) && $('#hiddenScheme').val()==" ")
                            {
                                return false;
                            }
                        });

                        $("#txtOffer").keydown(function(e){
                            // 
                            var t=$("#txtOffer").val();
                            var t1=$('#hiddenOffer').val()
                            if((e.which === 13 || e.which === 9) && $('#hiddenOffer').val()!=" "){

                                $('#search-customers').click()
                                return false;
                            }
                            else if((e.which === 13 || e.which === 9) && $('#hiddenOffer').val()==" ")
                            {
                                return false;
                            }
                        });

                        $(document).ready(function () {
                            $("#validationMessages").hide();

                            $('#search-customers').click(function () {

                                $('#validationMessages').html('');
                                $("#validationMessages").hide();
                                $(".message-box.message-box-success").hide();
                                var validationDivs = '';
                                var flag = true;
                                //  
                                var ddlOption = $("#ddlOption").val();
                                var txtOffer = $("#txtOffer").val();
                                var txtSchemeIDName=$("#txtSchemeIDName").val();
                                var hiddenScheme=$('#hiddenScheme').val();
                                var hiddenOffer=$('#hiddenOffer').val();

                                if(ddlOption == 1)
                                {
                                    if(txtSchemeIDName=="")
                                    {
                                        validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterSchemeName")</div>';
                                        flag = false;
                                    }

                                    if(txtSchemeIDName !="" && hiddenScheme == "")
                                    {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutoSuggestSchemeName")</div>';
                                        flag=false;
                                    }
                                }

                                if(ddlOption==2)
                                {
                                    if(txtOffer=="")
                                    {
                                        validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterOfferName")</div>';
                                        flag = false;
                                    }

                                    if(txtOffer !="" && hiddenOffer == "")
                                    {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutoSuggestOfferName")</div>';
                                        flag=false;
                                    }
                                }
                                if(flag)
                                {
                                    var grid = $('#customers-grid').data('kendoGrid');
                                    grid.dataSource.page(1);
                                    $("#customers-grid").show();
                                }
                                else
                                {
                                    $("#validationMessages").show();
                                    $('#validationMessages').append(validationDivs);
                                    return false;
                                }
                            });

                            //search button
                            // $('#search-customers').click(function () {
                            //  var grid = $('#customers-grid').data('kendoGrid');
                            //  grid.dataSource.page(1); //new search. Set page size to 1
                            //grid.dataSource.read(); we already loaded the grid above using "page" function
                            //clear selected checkboxes
                            $('.checkboxGroups').attr('checked', false).change();
                            selectedIds = [];
                            return false;
                            //  });

                            $('#mastercheckbox').click(function () {
                                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                            });

                            //wire up checkboxes.
                            $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                var $check = $(this);
                                if ($check.is(":checked") == true) {
                                    var checked = jQuery.inArray($check.val(), selectedIds);
                                    if (checked == -1) {
                                        //add id to selectedIds.
                                        selectedIds.push($check.val());
                                    }
                                }
                                else {
                                    var checked = jQuery.inArray($check.val(), selectedIds);
                                    if (checked > -1) {
                                        //remove id from selectedIds.
                                        selectedIds = $.grep(selectedIds, function (item, index) {
                                            return item != $check.val();
                                        });
                                    }
                                }
                                updateMasterCheckbox();
                            });
                        });

                        function onDataBound(e) {

                            $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                var currentId = $(this).val();
                                var checked = jQuery.inArray(currentId, selectedIds);
                                //set checked based on if current checkbox's value is in selectedIds.
                                $(this).attr('checked', checked > -1);
                            });

                            updateMasterCheckbox();
                        }

                        function updateMasterCheckbox() {
                            var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                            var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                        }

                        function additionalData() {
                            var customerRoleIds = [];
                            $('[name=SearchCustomerRoleIds]:checked').each(function () {
                                customerRoleIds.push($(this).val());
                            });

                            var data = {
                                @*inputddlOption: $('#@Html.FieldIdFor(model => model.ddlOption)').val(),
                            inputScheme: $('#hiddenScheme').val(),
                            inputOffer: $('#hiddenOffer').val(),
                            inputddlStatus: $('#@Html.FieldIdFor(model => model.ddlStatus)').val()*@

                                ddlOption: $('#@Html.FieldIdFor(model => model.ddlOption)').val(),
                                hiddenScheme:$('#@Html.FieldIdFor(model => model.hiddenScheme)').val(),
                                hiddenOffer:$('#@Html.FieldIdFor(model => model.hiddenOffer)').val() ,
                                ddlStatus: $('#@Html.FieldIdFor(model => model.ddlStatus)').val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#trScheme").hide();
            $("#trOffer").hide();

        });


        $("#reset").click(function (){
            //  
            $("#ddlOption").val("");
            $("#ddlStatus").val("");
            $("#txtSchemeIDName ").val("");
            $("#hiddenScheme").val("");
            $("#hiddenOffer").val("");
            $("#txtOffer").val("");
            $('#trScheme').hide();
            $('#trOffer').hide();
            $('#trstatus').show();
            $("#customers-grid").hide();
            $('#validationMessages').html('');
            $("#validationMessages").hide();
            $('#searchResult').hide();
        });

        function test(selectedValue) {

            if (selectedValue == "") {
                $("#trScheme").hide();
                $("#trOffer").hide();
                $("#trstatus").show();
                $("#txtSchemeIDName").val('');
                $("#hiddenScheme").val('');
                $("#txtOffer").val('');
                $("#hiddenOffer").val('');
                $("#ddlStatus").val('');
            }
            else if (selectedValue == 1) {

                $("#trScheme").show();
                $("#trOffer").hide();
                $("#trstatus").hide();
                $("#txtSchemeIDName").val('');
                $("#hiddenScheme").val('');
                $("#txtOffer").val('');
                $("#hiddenOffer").val('');
                $("#ddlStatus").val('');
            }
            else if (selectedValue == 2) {

                $("#trScheme").hide();
                $("#trOffer").show();
                $("#trstatus").hide();
                $("#txtSchemeIDName").val('');
                $("#hiddenScheme").val('');
                $("#txtOffer").val('');
                $("#hiddenOffer").val('');
                $("#ddlStatus").val('');
            }
        }

        $('#txtSchemeIDName').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("SearchTermAutoComplete","Scheme"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                //  
                $("#hiddenScheme").val(ui.item.MJD_MemID);
                $("#txtSchemeIDName").val(ui.item.label);
                $("#divScheme").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };

        $('#txtOffer').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("SearchTermAutoCompleteOffer","Scheme"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                //   
                $("#hiddenOffer").val(ui.item.OM_ID);
                $("#txtOffer").val(ui.item.label);
                $("#divOffer").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };
    </script>
}
