﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    //    Html.AddCssFileParts("~/Plugins/Feed.Froogle/Content/styles.css");
}

@model Nop.Admin.ViewModel.SchemeReportVM

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Scheme.SchemeReport").Text;

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Scheme");
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Scheme.SchemeReport")
        </h1>
        <div class="pull-right">
            <a href="@Url.Action("SchemeTransaction")" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.SchemeTransaction")
            </a>
            <button type="submit" id="ExportExcel" name="exportexcel-all" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                @T("Admin.Common.ExportToExcel")
            </button>
        </div>
    </div>
    <input type="hidden" id="SchemeName" name="SchemeName" />
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <div class=" col-md-2">
                                        @Html.NopLabelFor(model => model.SelectOption)
                                    </div>
                                    <div class=" col-md-2">  </div>
                                    <div class="col-md-5">
                                        @Html.NopDropDownListFor(model => model.ddlSelectOption, new List<SelectListItem>()
                                           {
                                             new SelectListItem(){Text="All Records", Value=""},
                                             new SelectListItem(){Text="Name-Wise",Value="1"}
                                           }, new { @onchange = "test(this.value)" })
                                    </div>
                                </div>

                                <div class="form-group" id="trstatus">
                                    <div class=" col-md-2">
                                        @Html.NopLabelFor(model => model.SelectStatus)
                                    </div>
                                    <div class=" col-md-2">  </div>
                                    <div class="col-md-5">
                                        @Html.NopDropDownListFor(model => model.ddlSchemeStatus, new List<SelectListItem>()
                                            {
                                              new SelectListItem(){Text="All Records", Value=""},
                                              new SelectListItem(){Text="Active",Value="1"},
                                              new SelectListItem(){Text="In-Active",Value="0"},
                                              new SelectListItem(){Text="Closed",Value="2"}
                                            }, new { })
                                    </div>
                                </div>
                                <div class="form-group" id="trmem">
                                    <div class=" col-md-2">
                                        @Html.NopLabelFor(model => model.VRSelectVoucher)
                                    </div>
                                    <div class=" col-md-2">  </div>
                                    <div class="col-md-6">
                                        <input type="text" id="txtSchemeIDName" value="" name="" />
                                        @*<input type="hidden" name="hiddenSearchMemno" id="hiddenSearchMemno" value=" " />*@
                                        @Html.HiddenFor(model => model.hiddenSearchMemno)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                        @*@Html.EditorFor(model => model.txtSchemeIDName)*@
                                    </div>
                                </div>
                                <div class="form-group" id="tblFromDate">

                                    <div class=" col-md-3">
                                        @Html.NopDropDownListFor(model => model.ddlDate, new List<SelectListItem>()
                                         {
                                          new SelectListItem(){Text="Enter From Date", Value="0"},
                                         new SelectListItem(){Text="Enter To Date",Value="1"}
                                         }, new { })
                                    </div>
                                    <div class=" col-md-1">From:</div>
                                    <div class="col-md-5">
                                        @Html.NopEditorFor(model => model.FromDate)
                                        @Html.HiddenFor(model => model.HFromDate)
                                    </div>
                                </div>
                                <div class="form-group" id="tblToDate">
                                    <div class=" col-md-3">
                                        @*@Html.Label((@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime))*@
                                    </div>
                                    <div class=" col-md-1">To:</div>
                                    <div class="col-md-5">
                                        @Html.NopEditorFor(model => model.ToDate)
                                        @Html.HiddenFor(model => model.HToDate)
                                    </div>
                                </div>
                                <div class="form-group" id="trmem">
                                    <div class=" col-md-3">
                                        &nbsp;
                                    </div>
                                    <div class=" col-md-1">  </div>
                                    <div class="col-md-6">
                                        <b id="MessageNote"> @T("Admin.Note.Note") </b> @T("Admin.Note.SchemeReport")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-4">
                                        <button type="button" id="search-customers" class="btn bg-blue" value="Save">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="customers-grid"></div>
                        <script>
                            $(document).ready(function () {
                                $("#validationMessages").hide();

                                //$('#search-customers').click(function () {
                                $("#customers-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("SchemeReportGrid", "Scheme"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: true,
                                    dataBound: onDataBound,
                                    columns: [{
                                        field: "SM_ID",
                                        title: "@T("Admin.Common.Edit")",
                                        width: 200,
                                        template: '#=getValueEdit(SM_ID,SM_Flag)#'
                                    },{
                                        field: "SM_ID",
                                        title: "@T("Admin.Customers.Customers.Fields.SM_ID")",
                                        width: 100,
                                        hidden:true
                                    }, {
                                        field: "SM_Name",
                                        title: "@T("Admin.Customers.Customers.Fields.SM_Name")",
                                        width: 200
                                    },{
                                        field: "SM_SDate",
                                        title:"@T("Admin.Customers.Customers.Fields.SM_SDate")",
                                        width: 200,
                                        //type: "date",
                                        //format: "{0:d}"
                                    }, {
                                        field: "SM_EDate",
                                        title:"@T("Admin.Customers.Customers.Fields.SM_EDate")",
                                        width: 200,
                                        //type: "date",
                                        //format: "{0:d}"
                                    },  {
                                        field: "SM_Flag",
                                        title: "@T("Admin.Customers.Customers.Fields.SM_Flag")",
                                        width:100
                                    },{
                                        field: "CloseScheme",
                                        headerTemplate: "<label/>CloseScheme</label>",
                                        width:200,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template:"#=getValue(SM_ID,SM_Flag,SM_Name)#"
                                    } ]
                                });


                            });
                            //});
                        </script>

                        <script type="text/javascript">


                            $('#ddlSelectOption').live('keypress',function(e){
                                if(e.keyCode === 13) {
                                    $('#search-customers').click()
                                    return false;
                                }
                            });


                            $('#ddlSchemeStatus').live('keypress',function(e){
                                if(e.keyCode === 13) {
                                    $('#search-customers').click()
                                    return false;
                                }
                            });

                            $("#txtSchemeIDName").keydown(function(e){
                                // 
                                if((e.which === 13 || e.which === 9) && $('#hiddenSearchMemno').val()!=" "){

                                    $('#search-customers').click()
                                    return false;
                                }
                            });

                            $('#FromDate').keydown(keyDownHandler); // use appropriate selector for the keydown handler

                            function keyDownHandler(e) {
                                if(e.keyCode === 13) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                    $('#search-customers').click()
                                    return false;

                                }
                            }

                            $('#ToDate').keydown(keyDownHandler1); // use appropriate selector for the keydown handler

                            function keyDownHandler1(e) {
                                if(e.keyCode === 13) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                    $('#search-customers').click()
                                    return false;
                                }
                            }

                            function getValue(smid,smflag,SM_Name)
                            {
                                // 
                                // alert('something:'+smid+"::flag:"+smflag);
                                if(smflag=='Closed'){
                                    return '-';
                                }
                                else{
                                    $("#SchemeName").val(SM_Name);
                                    return "<a  value='"+smid+' '+SM_Name+"' onclick='javascript:CloseScheme("+smid+")' style='cursor:pointer' />CloseScheme</a>";

                                }
                            }
                            function getValueEdit(smid,smflag)
                            {
                                // alert('something:'+smid+"::flag:"+smflag);
                                if(smflag=='Closed'){
                                    return '-';
                                }
                                else{
                                    return "<a href='SchemeEdit/"+smid+"'>@T("Admin.Common.Edit")</a>";
                                }
                            }

                            var selectedIds = [];

                            $(document).ready(function () {

                                $("#FromDate").keyup(function(e){
                                    // 
                                    if(e.keyCode === 13) {
                                        if($('#ToDate').val()!='')
                                        {
                                            $('#search-customers').click()
                                            return false;
                                        }
                                        else{
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                                            flag=false;
                                        }

                                    }
                                    else{
                                        $(this).val('');
                                    }

                                });
                                $("#ToDate").keyup(function(e){
                                    // 
                                    if(e.keyCode === 13) {
                                        if($('#FromDate').val()!='')
                                        {
                                            $('#search-customers').click()
                                            return false;
                                        }
                                        else{
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                                            flag=false;
                                        }
                                    }
                                    else{
                                        $(this).val('');
                                    }
                                });



                                $('#mastercheckbox').click(function () {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                    }
                                    else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function (item, index) {
                                                return item != $check.val();
                                            });
                                        }
                                    }
                                    updateMasterCheckbox();
                                });
                            });

                            function onDataBound(e) {

                                $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });

                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }

                            function additionalData() {
                                var customerRoleIds = [];
                                $('[name=SearchCustomerRoleIds]:checked').each(function () {
                                    customerRoleIds.push($(this).val());
                                });
                                var StartDate = $("#FromDate").val();
                                var EndDate = $("#ToDate").val();

                                var startDate = null;
                                var endDate = null;

                                if (StartDate != "")
                                    startDate = getDate($("#FromDate").data("kendoDatePicker").value());
                                if (EndDate != "")
                                    endDate = getDate($("#ToDate").data("kendoDatePicker").value());

                                var data = {

                                    ddlSelectOption: $('#@Html.FieldIdFor(model => model.ddlSelectOption)').val(),
                                    ddlSchemeStatus: $('#@Html.FieldIdFor(model => model.ddlSchemeStatus)').val(),
                                    hiddenSearchMemno: $('#@Html.FieldIdFor(model => model.hiddenSearchMemno)').val(),
                                    HFromDate: startDate,
                                    HToDate: endDate,
                                    ddlDate:$('#@Html.FieldIdFor(model => model.ddlDate)').val(),

                                };

                                return data;
                            }


                            function CloseScheme(val)
                            {
                                // alert("Hi");
                                // alert(val);
                                var postData = {
                                    value:val
                                };

                                addAntiForgeryToken(postData);

                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: "@(Url.Action("SchemeClose", "Scheme"))",
                                    data: postData,
                                    success: function(data) {
                                        $("#search-customers").click();
                                        // alert("Hi");
                                        //window.location.href='~/Admin/Ewallet/EwalletTrn'
                                        //  window.location.href='/admin/Epin/BlockedPinTrn?blksuc=1';
                                        //localStorage.DateCode = data.DateCode;
                                        //localStorage.Paymode=data.Paymode;
                                        //localStorage.TC=data.TransactionCode;
                                        //window.location.href='/MakePayment/IssuePayment?datecode='+localStorage.DateCode+"&paymode="+localStorage.Paymode+"&tc="+localStorage.TC;
                                    },
                                    error: function(xhr, ajaxOptions, thrownError) {
                                        alert(thrownError);
                                    },
                                    traditional: true
                                });
                                return false;
                            }
                        </script>
                    </div>
                </div>
                <script type="text/javascript">


                    $('#ddlSelectOption').live('keypress',function(e){
                        if(e.keyCode === 13) {
                            $('#search-customers').click()
                            return false;
                        }
                    });


                    $('#ddlSchemeStatus').live('keypress',function(e){
                        if(e.keyCode === 13) {
                            $('#search-customers').click()
                            return false;
                        }
                    });

                    $("#txtSchemeIDName").keydown(function(e){
                        // 
                        if(e.which === 13 && $('#hiddenSearchMemno').val()!=" "){

                            $('#search-customers').click()
                            return false;
                        }
                    });

                    $('#FromDate').keydown(keyDownHandler); // use appropriate selector for the keydown handler

                    function keyDownHandler(e) {
                        if(e.keyCode === 13) {
                            e.stopPropagation();
                            e.preventDefault();
                            $('#search-customers').click()
                            return false;

                        }
                    }

                    $('#ToDate').keydown(keyDownHandler1); // use appropriate selector for the keydown handler

                    function keyDownHandler1(e) {
                        if(e.keyCode === 13) {
                            e.stopPropagation();
                            e.preventDefault();
                            $('#search-customers').click()
                            return false;
                        }
                    }

                    function getValue(smid,smflag,SM_Name)
                    {
                        // 
                        // alert('something:'+smid+"::flag:"+smflag);
                        if(smflag=='Closed'){
                            return '-';
                        }
                        else{
                            $("#SchemeName").val(SM_Name);
                            return "<a  value='"+smid+' '+SM_Name+"' onclick='javascript:CloseScheme("+smid+")' style='cursor:pointer' />CloseScheme</a>";

                        }
                    }
                    function getValueEdit(smid,smflag)
                    {
                        // alert('something:'+smid+"::flag:"+smflag);
                        if(smflag=='Closed'){
                            return '-';
                        }
                        else{
                            return "<a href='SchemeEdit/"+smid+"'>@T("Admin.Common.Edit")</a>";
                        }
                    }

                    var selectedIds = [];

                    $(document).ready(function () {

                        $("#FromDate").keyup(function(e){
                            // 
                            if(e.keyCode === 13) {
                                if($('#ToDate').val()!='')
                                {
                                    $('#search-customers').click()
                                    return false;
                                }
                                else{
                                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                                    flag=false;
                                }

                            }
                            else{
                                $(this).val('');
                            }

                        });
                        $("#ToDate").keyup(function(e){
                            // 
                            if(e.keyCode === 13) {
                                if($('#FromDate').val()!='')
                                {
                                    $('#search-customers').click()
                                    return false;
                                }
                                else{
                                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                                    flag=false;
                                }
                            }
                            else{
                                $(this).val('');
                            }
                        });

                        ////search button
                        //$('#search-customers').click(function () {
                        //    var grid = $('#customers-grid').data('kendoGrid');
                        //    grid.dataSource.page(1); //new search. Set page size to 1
                        //    // grid.dataSource.read();// we already loaded the grid above using "page" function
                        //    // clear selected checkboxes
                        //    $('.checkboxGroups').attr('checked', false).change();
                        //    selectedIds = [];
                        //    return false;
                        //});

                        $('#mastercheckbox').click(function () {
                            $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                        });

                        //wire up checkboxes.
                        $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                            var $check = $(this);
                            if ($check.is(":checked") == true) {
                                var checked = jQuery.inArray($check.val(), selectedIds);
                                if (checked == -1) {
                                    //add id to selectedIds.
                                    selectedIds.push($check.val());
                                }
                            }
                            else {
                                var checked = jQuery.inArray($check.val(), selectedIds);
                                if (checked > -1) {
                                    //remove id from selectedIds.
                                    selectedIds = $.grep(selectedIds, function (item, index) {
                                        return item != $check.val();
                                    });
                                }
                            }
                            updateMasterCheckbox();
                        });
                    });

                    function onDataBound(e) {

                        $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                            var currentId = $(this).val();
                            var checked = jQuery.inArray(currentId, selectedIds);
                            //set checked based on if current checkbox's value is in selectedIds.
                            $(this).attr('checked', checked > -1);
                        });

                        updateMasterCheckbox();
                    }

                    function updateMasterCheckbox() {
                        var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                        var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                        $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                    }

                    function additionalData() {
                        var customerRoleIds = [];
                        $('[name=SearchCustomerRoleIds]:checked').each(function () {
                            customerRoleIds.push($(this).val());
                        });

                        var StartDate = $("#FromDate").val();
                        var EndDate = $("#ToDate").val();

                        var startDate = null;
                        var endDate = null;

                        if (StartDate != "")
                            startDate = getDate($("#FromDate").data("kendoDatePicker").value());
                        if (EndDate != "")
                            endDate = getDate($("#ToDate").data("kendoDatePicker").value());

                        var data = {
                            ddlSelectOption: $('#@Html.FieldIdFor(model => model.ddlSelectOption)').val(),
                            ddlSchemeStatus: $('#@Html.FieldIdFor(model => model.ddlSchemeStatus)').val(),
                            hiddenSearchMemno: $('#@Html.FieldIdFor(model => model.hiddenSearchMemno)').val(),
                            HFromDate: startDate,
                            HToDate: endDate,
                            ddlDate:$('#@Html.FieldIdFor(model => model.ddlDate)').val(),

                        };
                        addAntiForgeryToken(data);
                        return data;
                    }


                    function CloseScheme(val)
                    {
                        // alert("Hi");
                        // alert(val);
                        var postData = {
                            value:val
                        };

                        addAntiForgeryToken(postData);

                        $.ajax({
                            cache: false,
                            type: "POST",
                            url: "@(Url.Action("SchemeClose", "Scheme"))",
                            data: postData,
                            success: function(data) {
                                $("#search-customers").click();
                                // alert("Hi");
                                //window.location.href='~/Admin/Ewallet/EwalletTrn'
                                //  window.location.href='/admin/Epin/BlockedPinTrn?blksuc=1';
                                //localStorage.DateCode = data.DateCode;
                                //localStorage.Paymode=data.Paymode;
                                //localStorage.TC=data.TransactionCode;
                                //window.location.href='/MakePayment/IssuePayment?datecode='+localStorage.DateCode+"&paymode="+localStorage.Paymode+"&tc="+localStorage.TC;
                            },
                            error: function(xhr, ajaxOptions, thrownError) {
                                alert(thrownError);
                            },
                            traditional: true
                        });
                        return false;
                    }
                </script>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#trmem").hide();

        });

        function test(selectedValue) {

            if (selectedValue == "") {

                $("#trmem").hide();
                $("#tblFromDate").show();
                $("#tblToDate").show();
                $("#trstatus").show();
                $("#ddlSchemeStatus").val('');
                $("#txtSchemeIDName").val('');
                $("#hiddenSearchMemno").val('');
                $("#ddlDate").val('0');
                $("#FromDate").val('');
                $("#ToDate").val('');
            }
            else if (selectedValue == 1) {

                $("#trmem").show();
                $("#tblFromDate").hide();
                $("#tblToDate").hide();
                $("#trstatus").hide();
                $("#ddlSchemeStatus").val('');
                $("#txtSchemeIDName").val('');
                $("#hiddenSearchMemno").val('');
                $("#ddlDate").val('0');
                $("#FromDate").val('');
                $("#ToDate").val('');
            }
        }

        $('#txtSchemeIDName').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("SearchTermAutoComplete","Scheme"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                
                $("#hiddenSearchMemno").val(ui.item.MJD_MemID);
                $("#txtSchemeIDName").val(ui.item.label);
                $("#divfirstname").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };



        $("#search-customers").click(function() {
            // 
            var ddlSelectOption = $("#ddlSelectOption").val();
            var StartDate = $("#FromDate").val();
            var EndDate = $("#ToDate").val();
            var vFromDt = "";
            var vToDt = "";
            if (StartDate != "") {
                vFromDt = getDate($("#FromDate").data("kendoDatePicker").value());
            }
            if (EndDate != "") {
                vToDt = getDate($("#ToDate").data("kendoDatePicker").value());
            }
            var PlanType =  $("#ddlPlanType").val();
            var txtSchemeIDName=$("#txtSchemeIDName").val();
            var hiddenSearchMemno=$("#hiddenSearchMemno").val();

            var validationDivs='';
            $('#validationMessages').html('');
            $("#validationMessages").hide();
            $('#customers-grid').hide();
            var flag=true;

            if(ddlSelectOption == "1")
            {
                if (txtSchemeIDName == '')
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.SchemeNameRequired")</div>';
                    flag=false;
                }
                if(txtSchemeIDName !='' && hiddenSearchMemno == '')
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                    flag=false;
                }
            }
            if(ddlSelectOption == "")
            {
                if (vFromDt =="" && vToDt != "")
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                    flag=false;
                }
                if (vToDt == "" && vFromDt !="")
                {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                    flag=false;
                }

                //var EnteredDate = getDate($("#FromDate").data("kendoDatePicker").value());
                //var EnteredFromdate=getDate($("#ToDate").data("kendoDatePicker").value());

                var myDate = new Date(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                var myFromDate = new Date(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                var today = new Date();
                var start_time=$("#DatewiseFrom").val();
                var end_time=$("#DatewiseTo").val();

                @*if (myFromDate > today) {

                    validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    flag=false;
                }*@
                if (myFromDate < myDate) {
                    validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    flag=false;
                }
            }

            if(flag){
                $("#HFromDate").val(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                $("#HToDate").val(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                $('#customers-grid').show();
                var grid = $('#customers-grid').data('kendoGrid');
                grid.dataSource.page(1); //new search. Set page size to 1
                // grid.dataSource.read();// we already loaded the grid above using "page" function
                // clear selected checkboxes
                $('.checkboxGroups').attr('checked', false).change();
                selectedIds = [];
                return false;
            }
            else{
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
                return false;
            }
        });


        $("#ExportExcel").click(function() {
            //
            var StartDate=$("#FromDate").val();
            var EndDate=$("#ToDate").val();

            if(StartDate!="")
            {
                $("#HFromDate").val(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
            }
            else{
                $("#HFromDate").val(StartDate)
            }
            if(EndDate!="")
            {
                $("#HToDate").val(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

            }
            else{
                $("#HToDate").val(EndDate)
            }
            //var t=$("#HFromDate").val();
        });
    </script>
}
