﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    //    Html.AddCssFileParts("~/Plugins/Feed.Froogle/Content/styles.css");
}
@model Nop.Admin.ViewModel.SchemeTransactionVM

@{
    //page title
    ViewBag.Title = T("Admin.Customers.Customers.SchemeTransaction").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Scheme");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Customers.Customers.SchemeTransaction")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Epin.SchemeReport.BackToList").Text, "SchemeReport")</small>
        </h1>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <div class="form-group" id="divVoucher">
                                        <div class=" col-md-3">
                                            @Html.NopLabelFor(model => model.lblSchemeName)
                                        </div>
                                        <div class=" col-md-2">  </div>
                                        <div class="col-md-6">
                                            @Html.NopEditorFor(model => model.txtSchemeName)
                                        </div>
                                    </div>
                                    <div class="form-group" id="tblFromDate">
                                        <div class=" col-md-3">
                                            @Html.NopLabelFor(model => model.lblFromDate)
                                        </div>
                                        <div class=" col-md-2">
                                            @Html.NopLabelFor(model => model.lblStart)
                                        </div>
                                        <div class="col-md-6">

                                            @Html.NopEditorFor(model => model.FromDate)
                                        </div>
                                    </div>
                                    <div class="form-group" id="tblToDate">
                                        <div class=" col-md-3">
                                            @*(MM/dd/yyyy)*@
                                        </div>
                                        <div class=" col-md-2">
                                            @Html.NopLabelFor(model => model.lblEnd)
                                        </div>
                                        <div class="col-md-6">

                                            @Html.NopEditorFor(model => model.ToDate)
                                        </div>
                                    </div>
                                    <div class="form-group" id="trstatus">
                                        <div class=" col-md-3">
                                            @Html.NopLabelFor(model => model.SelectStatus)
                                        </div>
                                        <div class=" col-md-2">  </div>
                                        <div class="col-md-6">
                                            @Html.NopDropDownListFor(model => model.ddlStatus, new List<SelectListItem>()
           {

               new SelectListItem(){Text="Active",Value="1"},
               new SelectListItem(){Text="IN-Active",Value="0"}
           }, new { })
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-md-4 col-md-offset-5">
                                            <button type="submit" id="Update" class="btn bg-blue" value="Save">
                                                <i class="fa fa-save"></i>
                                                @T("Admin.Common.Update")
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
            $(document).ready(function () {
                $("#validationMessages").hide();

                $("#FromDate").keyup(function () {
                    $(this).val('');
                });
                $("#ToDate").keyup(function () {
                    $(this).val('');
                    alert($(this).val(''));
                });
            });

            $("#reset").click(function () {
                $("#ddlStatus").val("1");
                $("#txtSchemeName").val("");
                $("#FromDate").val("");
                $("#ToDate").val("");
                $('#validationMessages').html('');
                $("#validationMessages").hide();
            });

            $("#Update").click(function () {
                // 
                $('#validationMessages').html('');
                $("#validationMessages").hide();
                var validationDivs = '';
                var flag = true;
                //alert('gdf');
                var txtSchemeName = $("#txtSchemeName").val();

                //var EnteredDate = getDate($("#ToDate").data("kendoDatePicker").value());
                //var EnteredFromdate = getDate($("#FromDate").data("kendoDatePicker").value());

                var EToDate = getDate($("#ToDate").data("kendoDatePicker").value());
                if (EToDate != "null/null/null") {
                    var EnteredDate = EToDate;
                }
                else {
                    var EnteredDate = $("#ToDate").val();
                }

                var EFromdate = getDate($("#FromDate").data("kendoDatePicker").value());

                if (EFromdate != "null/null/null") {
                    var EnteredFromdate = EFromdate;
                }
                else {
                    var EnteredFromdate = $("#ToDate").val();
                }

                //var EnteredDate = $("#ToDate").val(); // For JQuery
                //var EnteredFromdate = $("#FromDate").val();

                if (txtSchemeName == '0' || txtSchemeName == '') {
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterName")</div>';
                    flag = false;
                }

                if (EnteredFromdate == '0' || EnteredFromdate == '') {
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterStartDate")</div>';
                    flag = false;
                }

                if (EnteredDate == '0' || EnteredDate == '') {
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterEndDate")</div>';
                    flag = false;
                }

                var myDate = new Date(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                var myFromDate = new Date(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));


                var today = new Date();
                var validationDivs = '';
                var start_time = $("#DatewiseFrom").val();
                var end_time = $("#DatewiseTo").val();


                if (myFromDate < myDate) {
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    flag = false;
                }



                if (flag) {
                    // var ToDate = getDate($("#ToDate").data("kendoDatePicker").value());
                    $("#FromDate").val(EnteredFromdate);
                    $("#ToDate").val(EnteredDate);
                }
                else {
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                    return false;
                }
            });
    </script>
}


