﻿@model Nop.Web.Framework.Models.Epin.EpinReportModel

@Html.Partial("_CommanServerSideKendoGrid", Model.dataTable)


<script>
    var columnsLists;
    function getGrideData() {

        setData();
      
        $('#mydirectDataTable').DataTable({
            dom: 'T<"clear">lfrtip',
            "oLanguage": {
                "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
            },
            tableTools: {
                "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                "sRowSelect": "multi",
                "aButtons": [
                  
                ]
            },
            columns: @Html.Raw(@Model.columns),
            bServerSide: true,
            destroy: true,
            processing: true,
            async: false,
            oLanguage: { sProcessing: "<div class='loader'></div>" },
            "ordering": false,
            "ajax": {
                'type': 'POST',
                'url': "@Html.Raw(Url.Action("EpinReportDetails", "Epin"))" ,
                'data': data,
                pagingType: "full_numbers",
                iDisplayLength: 10
            }
        });
    }
    $(document).ready(function () {
        getGrideData();
    });
</script>
