﻿@using Nop.Core
@using Nop.Core.Infrastructure

@model Nop.Web.Framework.Models.Epin.EpinRequestModel
@{
    Layout = null;
    var isVFMember = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.MemId;
}

<link rel="stylesheet" href="~/Themes/Vnext/Content/VnextCSS/css/bootstrap.min.css">
<!-- Bootstrap CSS
    ============================================ -->
<link rel="stylesheet" href="~/Themes/Vnext/Content/VnextCSS/css/font-awesome.min.css">


<link href="~/Themes/Vnext/Content/VnextJs/js/DataTable/jquery.dataTables.css" rel="stylesheet" />

<link href="~/Themes/Vnext/Content/VnextJs/js/DataTable/dataTables.tableTools.css" rel="stylesheet" />
<!-- forms CSS
    ============================================ -->
<link rel="stylesheet" href="~/Themes/Vnext/Content/VnextCSS/css/form/all-type-forms.css">
<!-- style CSS
    ============================================ -->
<link rel="stylesheet" href="~/Themes/Vnext/Content/VnextCSS/css/style.css">
<!-- responsive CSS
    ============================================ -->
<link rel="stylesheet" href="~/Themes/Vnext/Content/VnextCSS/css/responsive.css">

<link rel="stylesheet" href="~/Themes/Vnext/Content/VnextCSS/css/VnextCustom.css">

<link rel="stylesheet" href="~/Themes/Vnext/Content/VnextCSS/css/datapicker/datepicker3.css">

<!-- modernizr JS
    ============================================ -->
<script src="~/Themes/Vnext/Content/VnextJs/js/vendor/modernizr-2.8.3.min.js"></script>

<style>
    html, body {
        background: #ffffff;
    }

    #mydirectDataTable_filter {
        display: none !important;
    }

    .pull-right {
        margin-right: 6px !important;
    }

    @@media (max-width: 600px) {
        .col-md-3 {
            width: 39% !important;
        }
    }

    @@media only screen and (min-width: 789px) and (max-width:1024px) {
        .datatable-dashv1-list .pull-right {
            width: 100%;
            text-align: right;
        }

        .col-md-3 {
            width: 32% !important;
            float: left !important;
            padding: 6px !important;
        }

        .col-md-5 {
            width: 41.66666667% !important;
            float: left !important;
            padding-right: 15px !important;
            padding-left: 15px !important;
        }

        .sparkline16-graph {
            text-align: right !important;
        }
    }
</style>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    if (ViewBag.RefreshPage == true)
    {
        <script type="text/javascript">
            window.opener.parent.location.replace('../Epin/PlaceOrder?refreshGrid=True');
            window.close();
        </script>
    }

    <br />

    <div class="sparkline16-list shadow-reset" style="padding-left:1%;padding-right:1%">
        <div class="sparkline16-hd">
            <div class="main-sparkline13-hd">
                <h1>@T("Tree.AddVoucher.Button")</h1>
            </div>
        </div>
        <div class="sparkline16-graph">
            <div class="datatable-dashv1-list custom-datatable-overright">

                <div class="sparkline16-graph">
                    <div class="datatable-dashv1-list custom-datatable-overright">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pull-right">
                                    <button type="submit" name="save" id="save" class="btn btn-success">
                                        <i class="fa fa-floppy-o"></i>
                                        @T("Admin.Common.Save")
                                    </button>
                                </div>
                                <br />

                                <div class="all-form-element-inner">
                                    @Html.HiddenFor(m => m.SelectedEpins)

                                    @{
                                        var validationSummary = Html.ValidationSummary(true);
                                    }
                                    @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                                    {
                                        <div class="message-error">@validationSummary</div>
                                    }

                                    <div id="validationMessages" class="message-error"></div>
                                    <br />
                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.VoucherId)
                                            </div>
                                            <div class="col-md-5">
                                                @Html.DropDownListFor(model => model.VoucherId, Model.VoucherList, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.PintypeId)
                                            </div>
                                            <div class="col-md-5">
                                                @Html.DropDownListFor(model => model.PintypeId, Model.PinTypesList, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="login-horizental cancel-wp align-middle">
                                        <button type="button" id="search-Epin" name="search-Epin" class="btn btn-custon-four btn-primary"><i class="fa fa-search"></i> @T("Admin.Common.Search")</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sparkline16-list shadow-reset">
        <div class="sparkline16-graph">
            <div class="datatable-dashv1-list custom-datatable-overright">
                <div class="table-wrapper" id="ScrollableDiv">
                    <table id="mydirectDataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th><input name="select_all" value="1" type="checkbox"></th>
                                <th>Voucher Name</th>
                                <th>EpinType</th>
                                <th>Net Amount</th>
                                <th>Discount Amount/Percentage</th>
                                <th>Quantity</th>
                                <th>Payble Amount</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <script src="~/Themes/Vnext/Content/VnextJs/js/vendor/jquery-1.11.3.min.js"></script>
    <script src="~/Themes/Vnext/Content/VnextJs/js/bootstrap.min.js"></script>
    <script src="~/Themes/Vnext/Content/VnextJs/js/DataTable/jquery.dataTables.js"></script>
    <script src="~/Themes/Vnext/Content/VnextJs/js/DataTable/dataTables.responsive.min.js"></script>
    <script src="~/Themes/Vnext/Content/VnextJs/js/DataTable/dataTables.tableTools.js"></script>
    <script src="~/Themes/Vnext/Content/VnextJs/js/main.js"></script>

    <script type="text/javascript">
        $("#divseachById").slideUp();
        $(".page").css("min-height", "0px");

        function addAntiForgeryToken(data) {
            //if the object is undefined, create a new one.
            if (!data) {
                data = {};
            }
            //add token
            var tokenInput = $('input[name=__RequestVerificationToken]');
            if (tokenInput.length) {
                data.__RequestVerificationToken = tokenInput.val();
            }
            return data;
        };
        $('#allcb').change(function () {

            if ($(this).prop('checked')) {
                $('tbody tr td input[type="checkbox"]').each(function () {
                    $(this).prop('checked', true);
                });
            } else {
                $('tbody tr td input[type="checkbox"]').each(function () {
                    $(this).prop('checked', false);
                });
            }
        });

        $('#search-Epin').click(function () {
            $('#validationMessages').hide();
            var rows_selected = [];
            var data = {
                VoucherId: $('#@Html.FieldIdFor(model => model.VoucherId)').val(),
                PintypeId: $('#@Html.FieldIdFor(model => model.PintypeId)').val()
            };

            addAntiForgeryToken(data);
            var table = $('#mydirectDataTable').DataTable({
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [

                    ]
                },
                columns:@Html.Raw(@Model.columns),
                'columnDefs': [{
                    'targets': 0,
                    'searchable': false,
                    'orderable': false,
                    'width': '1%',
                    'className': 'dt-body-center',
                    'render': function (data, type, full, meta){
                        return '<input type="checkbox">';
                    }
                }],
                'order': [[1, 'asc']],
                bServerSide: true,
                processing: true,
                oLanguage: { sProcessing: "<div class='loader'></div>" },
                destroy : true,
                "ajax": {
                    'type': 'POST',
                    'url':  "@Html.Raw(Url.Action("AddVoucherList", "Epin"))",
                    'data': data,
                    //success:function(){alert('hi')}
                    pagingType: "full_numbers",
                    iDisplayLength: 10,
                }
            });
            var $table = table.table().node();
            var chkbox_select_all  = $('thead input[name="select_all"]', $table).get(0);
            chkbox_select_all.checked = false;
        });

        //
        // Updates "Select all" control in a data table
        //
        function updateDataTableSelectAllCtrl(table){
            var $table             = table.table().node();
            var $chkbox_all        = $('tbody input[type="checkbox"]', $table);
            var $chkbox_checked    = $('tbody input[type="checkbox"]:checked', $table);
            var chkbox_select_all  = $('thead input[name="select_all"]', $table).get(0);

            // If none of the checkboxes are checked
            if($chkbox_checked.length === 0){
                chkbox_select_all.checked = false;
                if('indeterminate' in chkbox_select_all){
                    chkbox_select_all.indeterminate = false;
                }

                // If all of the checkboxes are checked
            } else if ($chkbox_checked.length === $chkbox_all.length){
                chkbox_select_all.checked = true;
                if('indeterminate' in chkbox_select_all){
                    chkbox_select_all.indeterminate = false;
                }

                // If some of the checkboxes are checked
            } else {
                chkbox_select_all.checked = true;
                if('indeterminate' in chkbox_select_all){
                    chkbox_select_all.indeterminate = true;
                }
            }
        }
        $('#save').click(function () {
            $('#validationMessages').hide();
            $('#validationMessages').html('');
            $("#validationMessages").hide();
            var Errors = "";
            var table = $('#mydirectDataTable').DataTable();
            var $table             = table.table().node();
            var $chkbox_checked    = $('tbody input[type="checkbox"]:checked', $table);
            if($chkbox_checked.length === 0){
                Errors = Errors + '<div>@T("admin.validation.selectallrecord")</div>';
                $('#validationMessages').html(Errors);
                $('#validationMessages').show();
                return false;
            }
        });
        $(document).ready(function (){
            debugger;
            $('#validationMessages').show();
            // Array holding selected row IDs
            var rows_selected = [];
            var data = {
                VoucherId: $('#@Html.FieldIdFor(model => model.VoucherId)').val(),
                PintypeId: $('#@Html.FieldIdFor(model => model.PintypeId)').val()
            };

            addAntiForgeryToken(data);
            var table = $('#mydirectDataTable').DataTable({
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [

                    ]
                },
                columns:@Html.Raw(@Model.columns),
                'columnDefs': [{
                    'targets': 0,
                    'searchable': false,
                    'orderable': false,
                    'width': '1%',
                    'className': 'dt-body-center',
                    'render': function (data, type, full, meta){
                        return '<input type="checkbox">';
                    }
                }],
                'order': [[1, 'asc']],
                bServerSide: true,
                processing: true,
                oLanguage: { sProcessing: "<div class='loader'></div>" },
                destroy : true,
                "ajax": {
                    'type': 'POST',
                    'url':  "@Html.Raw(Url.Action("AddVoucherList", "Epin"))",
                    'data': data,
                    //success:function(){alert('hi')}
                    pagingType: "full_numbers",
                    iDisplayLength: 10,
                },
                "footerCallback": function ( row, data, start, end, display ) {
                    var $table = table.table().node();
                    var chkbox_select_all  = $('thead input[name="select_all"]', $table).get(0);
                    chkbox_select_all.checked = false;
                }

            });
            var selectedCheckbox = null;
            // Handle click on checkbox
            $('#mydirectDataTable tbody').on('click', 'input[type="checkbox"]', function(e){
                var $row = $(this).closest('tr');
                var table = $('#mydirectDataTable').DataTable();
                // Get row data
                var data = table.row($row).data();

                // Get row ID
                var rowId = data["Id"];

                // Determine whether row ID is in the list of selected row IDs
                var index = $.inArray(rowId, rows_selected);

                // If checkbox is checked and row ID is not in list of selected row IDs
                if(this.checked && index === -1){
                    rows_selected.push(rowId);

                    // Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
                } else if (!this.checked && index !== -1){
                    rows_selected.splice(index, 1);
                }

                if(!this.checked){
                    var serialNo = $('#SelectedEpins').val();
                    selectedCheckbox = serialNo.replace(rowId, '');
                    $('#SelectedEpins').val(selectedCheckbox);
                    $row.removeClass('selected');

                } else {
                    if (selectedCheckbox == null) {
                        selectedCheckbox = rowId;
                    } else {
                        selectedCheckbox = selectedCheckbox + ',' + rowId;
                    }
                    $('#SelectedEpins').val(selectedCheckbox);
                    $row.addClass('selected');
                }

                // Update state of "Select all" control
                updateDataTableSelectAllCtrl(table);

                // Prevent click event from propagating to parent
                e.stopPropagation();
            });

            // Handle click on table cells with checkboxes
            //$('#mydirectDataTable').on('click', 'tbody td, thead th:first-child', function(e){
            //    $(this).parent().find('input[type="checkbox"]').trigger('click');
            //});

            // Handle click on "Select all" control
            $('thead input[name="select_all"]', table.table().container()).on('click', function(e){
                debugger;
                selectedCheckbox = null;
                if(this.checked){
                    //var allData = table.rows().data();
                    //var i;
                    //var i = allData.length;
                    //for (var j = 0; j < i; j++) {

                    //    var checkBox = allData[j]["Id"];

                    //    if (selectedCheckbox == null) {
                    //        selectedCheckbox = checkBox;
                    //    } else {
                    //        selectedCheckbox = selectedCheckbox + ',' + checkBox;
                    //    }
                    //    $('#SelectedEpins').val(selectedCheckbox);
                    //}
                    $('#mydirectDataTable tbody input[type="checkbox"]:not(:checked)').trigger('click');
                } else {
                    //$('#SelectedEpins').val(selectedCheckbox);
                    $('#mydirectDataTable tbody input[type="checkbox"]:checked').trigger('click');
                }

                // Prevent click event from propagating to parent
                e.stopPropagation();
            });





        });
    </script>
                                        }
