﻿@model Nop.Web.Framework.Models.Epin.EpinReportModel
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";

    //title
    Html.AddTitleParts(T("Account.checkEpin").Text);

    //register URL with return URL (if specified)

}
<style>
    @@media all and (min-width: 320px) and (max-width:980px) {
        #dvAlign {
            text-align: center !important;
        }
    }

    #dvAlign {
        text-align: left;
    }
</style>
<br />
<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="sparkline9-list shadow-reset">
        <div class="sparkline9-hd">
            <div class="main-sparkline16-hd">
                <h1>@T("Account.checkEpin")</h1>
            </div>
        </div>

        <div class="sparkline9-graph">
            <div class="datatable-dashv1-list custom-datatable-overright">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="all-form-element-inner">

                            <div style="text-align:center;">
                                @{
                                    var validationSummary = Html.ValidationSummary(true);
                                }
                                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                                {
                                    <div class="message-error">@validationSummary</div>
                                }
                            </div>
                            <div id="result">@Html.ValidationMessage("result")</div>
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.SerialNo)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.SerialNo, new { @class = "form-control", id = "txtSerialNo" })
                                        @Html.ValidationMessageFor(m => m.SerialNo)
                                    </div>
                                    <div class="col-md-1" id="requiedAttricSymbol">
                                        @*@Html.RequiredHint()*@
                                    </div>
                                </div>
                            </div>

                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.SecretCode)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.SecretCode, new { @class = "form-control", id = "txtSecretCode" })
                                        @Html.ValidationMessageFor(m => m.SecretCode)
                                    </div>
                                    <div class="col-md-1" id="requiedAttricSymbol">
                                        @*@Html.RequiredHint()*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="login-horizental cancel-wp align-middle">                  

                    <button type="submit" class="btn btn-custon-four btn-primary" id="ChkPin-button" name="ChkPin-button" tabindex="2"><i class="fa fa-search"></i> @T("Tree.Search.Button")</button>
                    <button type="button" class="btn btn-custon-four btn-warning"  id="btnreset" tabindex="1"><i class="fa fa-refresh"></i> @T("Tree.Reset.Button")</button>

                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="sparkline16-list shadow-reset" id="dvHideForReadyPosition">
        <div class="sparkline16-hd">
            <div class="main-sparkline16-hd">
                <h1>@T("Account.checkEpin.EpinInfo")</h1>
            </div>
        </div>
        <div class="sparkline16-graph">
            <div class="datatable-dashv1-list custom-datatable-overright">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="all-form-element-inner">
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.CurrentOwner)
                                    </div>
                                    <div class="col-md-6" id="dvAlign">
                                        @Html.DisplayFor(m => m.CurrentOwner)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.Expiry)
                                    </div>
                                    <div class="col-md-6" id="dvAlign">
                                        @Html.DisplayFor(m => m.Expiry)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.Status)
                                    </div>
                                    <div class="col-md-6" id="dvAlign">
                                        @Html.DisplayFor(m => m.Status)
                                    </div>
                                </div>
                            </div>

                            <div id='e1'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                                    }


@section scripts{
     
<script>
    //Reset button click event
    $('#btnreset').on('click', (function () {
        $('.loader').show();
        document.location = "@(Url.Action("CheckEpin", "Epin"))";
        $('.sparkline9-hd').removeAttr("style");
       
    }));
    $(document).ready(function () {

        debugger;
        $("#dvHideForReadyPosition").hide();
        if ($('.validation-summary-errors ul li').html() != undefined) {
            console.log($('.validation-summary-errors ul li').html());
            $('.sparkline9-hd').css('background-color', '#f44336');
            $("#dvHideForReadyPosition").hide();
        }
        else {
            $('.sparkline9-hd').removeAttr("style");
        }
    });
</script>
    @if (Model.showPanel)
    {



        <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
        <script src="~/Scripts/stepbar.js"></script>
        <script>

            $(document).ready(function () {

                $("#dvHideForReadyPosition").show();
                $('#e1').stepbar({
                    items: @Html.Raw(Model.MemberNameList),
                    labels: @Html.Raw(Model.MemberNoList),
                    status: @Html.Raw(Model.PinStatusList),
                    statusDate: @Html.Raw(Model.PinStatusDateList),
                    color: '#5cb918',
                    fontColor: '#000',
                    selectedColor: 'red',
                    selectedFontColor: '#fff'
                });


            });
        </script>
    }
}