﻿@model Nop.Web.ViewModel.EpinChangePasswordVM
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
    //title
    Html.AddTitleParts(T("Account.EpinChangePassword").Text);
    //register URL with return URL (if specified)
}
<style>

    @@media all and (min-width: 320px) and (max-width:480px) {
        .ResetFacebookAuth {
            margin-top: 2% !important;
        }
    }

</style>
<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="sparkline16-list shadow-reset">
        <div class="sparkline16-hd">
            <div class="main-sparkline16-hd">
                <h1>@T("Account.EpinChangePassword")</h1>
            </div>
        </div>
        <div class="sparkline16-graph">
            <div class="datatable-dashv1-list custom-datatable-overright">
                <div class="row">
                    <div class="col-md-12">
                        <div class="all-form-element-inner">
                            <br />
                            <div class="result" style="text-align:center;">
                                @Model.Result
                            </div>
                            @{
                                var validationSummary = Html.ValidationSummary(true);
                            }
                            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                            {
                                <div class="message-error">@validationSummary</div>
                            }
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.OldPassword)

                                    </div>
                                    <div class="col-md-6">
                                        @Html.PasswordFor(m => m.txtOldPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.txtOldPassword)
                                    </div>
                                    <div class="col-md-1" id="requiedAttricSymbol">
                                        @Html.RequiredHint()
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.Hint)
                                    </div>
                                    <div class="col-md-6" style="text-align: center">
                                        <a title="@T("Account.Password.StrongPassword.title")" href="@Url.Action("Strongpwdtip")"><b style="color: cornflowerblue">@T("Account.Password.StrongPassword.TipToCreateStrongPassword")</b> </a>
                                    </div>
                                    <div class="col-md-1" id="requiedAttricSymbol">
                                        @Html.RequiredHint()
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.NewPassword)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.PasswordFor(m => m.txtNewPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.txtNewPassword)
                                    </div>
                                    <div class="col-md-1" id="requiedAttricSymbol">
                                        @Html.RequiredHint()
                                    </div>
                                </div>
                            </div>

                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.ConfirmPassword)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.PasswordFor(m => m.txtConfirmPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.txtConfirmPassword)
                                    </div>
                                    <div class="col-md-1" id="requiedAttricSymbol">
                                        @Html.RequiredHint()
                                    </div>
                                </div>
                            </div>

                            <div class="login-horizental cancel-wp align-middle">
                                <button type="submit" id="Save" name="ResetEpinPassword" class="btn btn-custon-four btn-primary"><i class="fa fa-save"></i> @T("Account.Save.Button")</button>
                                <button type="button" id="btnreset" name="ForgetPassword" class="btn btn-custon-four btn-warning"><i class="fa fa-refresh"></i> @T("Tree.Reset.Button")</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

                                if (Model.ExternalAuthenticationflg)
                                {
                                    <div class="sparkline11-list shadow-reset" style="margin-top:0.5%" >
                                        <div class="sparkline11-hd">
                                            <div class="main-sparkline11-hd">
                                                <h1>@T("Reset.External.Authentication")</h1>
                                            </div>
                                        </div>
                                        <div class="sparkline11-graph">
                                            <div class="datatable-dashv1-list custom-datatable-overright">

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="all-form-element-inner">
                                                            <br />
                                                            <div class="result" style="text-align:center;">
                                                                @Model.ResultGoogle

                                                            </div>
                                                            @{
                                                                var validationSummaryGoogleAuth = Html.ValidationSummary(true);
                                                            }
                                                            @if (!MvcHtmlString.IsNullOrEmpty(validationSummaryGoogleAuth))
                                                            {
                                                                <div class="message-error">@validationSummaryGoogleAuth</div>
                                                            }
                                                            @*<div class="form-group-inner">
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            @Html.LabelFor(m => m.GoogleUserName)

                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            @Html.TextBoxFor(m => m.GoogleUserName, new { @class = "form-control" })
                                                                            @Html.ValidationMessageFor(m => m.GoogleUserName)
                                                                        </div>
                                                                        <div class="col-md-1">
                                                                            @Html.RequiredHint()
                                                                        </div>
                                                                    </div>
                                                                </div>*@


                                                            <div class="login-horizental cancel-wp align-middle">
                                                                <button type="submit" id="Save" name="ResetGoogleAuth" class="btn btn-custon-four btn-warning"><i class="fa fa-refresh"></i> @T("Reset.Google.Authentication")</button>
                                                                <button type="submit" id="Save" name="ResetFacebookAuth" class="ResetFacebookAuth btn btn-custon-four btn-warning"><i class="fa fa-refresh"></i> @T("Reset.Facebook.Authentication")</button>

                                                            </div>



                                                            <br />

                                                            @*<div class="form-group-inner">
                                                                <div class="row">
                                                                    <div class="col-md-12" style="text-align: center;">
                                                                        <b style="color:red;font-weight:bold ;"> @T("Admin.Note.Note") </b> @T("browser.Clear.cache")
                                                                    </div>
                                                                </div>
                                                            </div>*@

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>



                                                                    }
                                                                }


@section scripts{
    <script>
        $(document).ready(function () {
            debugger;
            if ($('span[data-valmsg-for="txtOldPassword"]').html() != "" || $('span[data-valmsg-for="txtNewPassword"]').html() != "" || $('span[data-valmsg-for="txtConfirmPassword"]').html() != "") {
                fieldPanelValidation("", ".sparkline16-hd");
            }
            else {
                ResetPanelValidation("", ".sparkline16-hd");
            }

            if ($('span[data-valmsg-for="FacebookUserName"]').html() != "") {
                fieldPanelValidation("", ".sparkline9-hd");
            }
            else {
                ResetPanelValidation("", ".sparkline9-hd");

            }
            //if ($('span[data-valmsg-for="GoogleUserName"]').html() != "") {
            //    fieldPanelValidation("", ".sparkline11-hd");
            //}
            //else {
            //    ResetPanelValidation("", ".sparkline11-hd");

            //}
            var ResultGoogle = "@Model.ResultGoogle";
            if (ResultGoogle != "") {
                $('#GoogleUserName').val('');
            }

            var ResultFacebook = "@Model.ResultFacebook";
            if (ResultFacebook != "") {
                $('#FacebookUserName').val('');
            }
        });
    </script>
    <script>
        $(function () {
            $("#Save").click(function () {
                $('.loader').show();
            });
        });

        $('#btnreset').on('click', (function () {
            $('.loader').show();
            document.location = "@(Url.Action("EPinChangePassword", "Epin"))";
        }));
    </script>
}





