﻿@model Nop.Web.Framework.Models.Epin.EpinRequestModel

@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
    //title
    Html.AddTitleParts(T("Admin.DispatchEpinReport").Text);
    //register URL with return URL (if specified)
}
<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
<style>
    .form-group-inner .row .col-md-4 {
        padding-left: 14% !important;
    }

    #btnstatusall {
        text-align: right;
    }

    #NoteFordata {
        margin-right: 18%;
    }

    #divTraderName {
        width: 82%;
    }

    #divRequestNo {
        width: 82%;
    }

    @@media only screen and (min-width: 480px) and (max-width:600px) {

        #btnstatusall {
            margin-right: 2%;
        }

        #SelectReqNoTraderNameId {
            margin-left: -10%;
            width: 88%;
        }

        #OrderPlaceFromDate, #OrderPlaceToDate {
            width: 81%;
        }

        .form-group-inner {
            margin-left: 15%;
        }
    }


    @@media only screen and (min-width: 330px) and (max-width:360px) {
        #btnAutoExpired {
            margin-top: 1%;
            float: left;
            margin-left: 6%;
            margin-bottom: 4%;
        }

        #btnstatusall {
            margin-right: 14%;
        }

        #SelectReqNoTraderNameId {
            margin-left: -11%;
            width: 290px;
        }

        #divTraderName {
            width: 100%;
        }

        #divRequestNo {
            width: 100%;
            margin-left: 1%;
        }

        #NoteFordata {
            margin-right: 0 !important;
        }
    }

    @@media only screen and (max-width:320px) {
        #btnAutoExpired {
            margin-top: 1%;
            float: left;
            margin-left: 5%;
            margin-bottom: 4%;
        }

        #btnstatusall {
            margin-right: 3%;
        }

        #SelectReqNoTraderNameId {
            margin-left: -11%;
        }

        #divRequestNo {
            width: 95%;
        }

        #divTraderName {
            width: 95%;
        }

        #OrderPlaceFromDate, #OrderPlaceToDate {
            width: 95%;
        }

        #NoteFordata {
            margin-right: 0 !important;
        }
    }

    @@media (max-width: 460px) {
        .form-group-inner .row .col-md-4 {
            margin-left: 4% !important;
        }
    }

    .dataTables_wrapper {
        margin-top: -1% !important;
    }

    .btn-default.active {
        color: #fff !important;
        background-color: #1d68ba !important;
        border-color: #317cce !important;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <div class="sparkline16-list shadow-reset">
        <div class="sparkline16-hd">
            <div class="main-sparkline16-hd">
                <h1>@T("Dashboard.MyNetwork.SearchOption")</h1>
                <div class="sparkline16-outline-icon">
                    @*<span class="sparkline16-collapse-link"><i class="fa fa-chevron-up"></i></span>*@
                </div>
            </div>
        </div>
        <div class="sparkline16-graph">
            <div class="datatable-dashv1-list custom-datatable-overright">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="all-form-element-inner">
                            <div class="message-error error" id="validationMessages"></div>
                            @{
                                var validationSummary = Html.ValidationSummary(true);
                            }
                            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                            {
                                <div class="message-error">@validationSummary</div>
                            }

                            <div class="login-horizental cancel-wp align-middle" id="btnstatusall">
                                <button type="button" id="btnPending" name="btnPending" class="PinRequestStatus btn btn-custon-four btn-default">@T("Member.Epin.IssuEpunStatus.Pending")</button>
                                <button type="button" id="btnComplite" name="btnComplite" class="PinRequestStatus btn btn-custon-four btn-default">@T("Member.Epin.IssuEpunStatus.Complite")</button>
                                <button type="button" id="btnRejected" name="btnRejected" class="PinRequestStatus btn btn-custon-four btn-default">@T("Member.Epin.IssuEpunStatus.Rejected")</button>
                                <button type="button" id="btnAutoExpired" name="btnAutoExpired" class="PinRequestStatus btn btn-custon-four btn-default">@T("Member.Epin.IssuEpunStatus.AutoExpired")</button>
                            </div>
                            <br />
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.DropDownList("SelectReqNoTraderNameId", new List<SelectListItem>
                                            {
                                            new SelectListItem{Text="Order No",Value="0"},
                                            new SelectListItem{Text="Trader Name / ID",Value="1"},
                                             new SelectListItem{Text="Order period",Value="2"}
                                            }, new { @class = "form-control" })
                                        <br />
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <div id="divRequestNo">
                                                @Html.TextBoxFor(model => model.RequestNo, new { @class = "form-control", placeholder = "Order No" })
                                                @Html.ValidationMessageFor(model => model.RequestNo)
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div id="divTraderName">
                                                @Html.TextBoxFor(model => model.TraderName, new { @class = "form-control", placeholder = "Trader Name / ID" })
                                                @Html.HiddenFor(model => model.TraderId)
                                                <div id="divTradername" class="inputs">
                                                </div>
                                                <br />
                                            </div>
                                        </div>

                                        <div id="divOrderperiod">
                                            <div class="col-md-5 data-custon-pick">
                                                <div class="input-group date">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    @*@Html.TextBoxFor(model => model.OrderPlaceFromDate, new { @autocomplete = "off" })*@
                                                    @Html.EditorFor(model => model.OrderPlaceFromDate)
                                                    @Html.HiddenFor(model => model.HFromDate)
                                                    @Html.ValidationMessageFor(model => model.OrderPlaceFromDate)
                                                </div>
                                                <br />
                                            </div>
                                            <div class="col-md-5 data-custon-pick">
                                                <div class="input-group date">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    @*@Html.TextBoxFor(model => model.OrderPlaceToDate, new { @autocomplete = "off" })*@
                                                    @Html.EditorFor(model => model.OrderPlaceToDate)
                                                    @Html.HiddenFor(model => model.HToDate)
                                                    @Html.ValidationMessageFor(model => model.OrderPlaceToDate)
                                                </div>
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                    <div id="NoteFordata" style="margin-right: 18%;">
                                        <div class="form-group-inner">
                                            <div class="row">
                                                <div class="col-md-3">
                                                </div>
                                                <div class="col-md-6">
                                                    <b style="color:red;font-weight:bold ;"> @T("Admin.Note.Note") </b> @T("Epin.Filter.OrderDate")
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="login-horizental cancel-wp align-middle">
                                <button type="button" id="btnSearch" name="btnSearch" class="btn btn-custon-four btn-primary">
                                    <i class="fafa-search"></i> @T("Tree.Search.Button")
                                </button>
                                <button type="button" class="btn btn-custon-four btn-warning" id="btnreset">
                                    <i class="fa fa-refresh"></i> @T("Tree.Reset.Button")
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <br />

    <div class="sparkline11-list shadow-reset">
        <div class="sparkline11-hd">
            <div class="main-sparkline11-hd">
                <h1>@T("Admin.EpinOrderDetails")</h1>
                <div class="sparkline11-outline-icon" style="margin-top: -6px;" id="ShowOnlyActiveBlockExpire">
                    <button type="button" id="ExportAllRecord" name="ExportAllRecord" class="btn btn-custon-four btn-success" style="height: 28px;"> <i class="fa fa-file-excel-o"></i> Export To Excel</button>
                </div>
            </div>
        </div>
        <div class="sparkline11-list shadow-reset">
            <div class="sparkline11-graph">
                <div class="datatable-dashv1-list custom-datatable-overright">
                    <div class="table-wrapper" id="ScrollableDiv">
                        @*@Html.Partial("_CommanServerSideKendoGrid", Model.dataTable)*@
                    </div>
                </div>
            </div>
        </div>
    </div>
                                }

@section scripts{
    <script type="text/javascript">
        var data;
        var id = "btnPending";

        function setData() {

            var validationDivs = '';
            $('#validationMessages').html('');

            if ($("#OrderPlaceFromDate").val() == "" && $("#OrderPlaceToDate").val() != "") {
                $("#validationMessages").html('');
                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("admin.customer.pancardconfirmation.datewisefrom")</div>';
                $('#validationMessages').html(validationDivs);
                $("#OrderPlaceFromDate").css('border-color', '#f44336');
                return false;
            }
            if ($("#OrderPlaceFromDate").val() != "" && $("#OrderPlaceToDate").val() == "") {
                $("#validationMessages").html('');
                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("admin.customer.pancardconfirmation.datewiseto")</div>';
                $('#validationMessages').html(validationDivs);
                $("#OrderPlaceToDate").css('border-color', '#e5e6e7');
                return false;
            }

            var myDate = new Date(getDateFromString($("#OrderPlaceFromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
            var myFromDate = new Date(getDateFromString($("#OrderPlaceToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));

            var today = new Date();
            var start_time = $("#DatewiseFrom").val();
            var end_time = $("#DatewiseTo").val();

            var SearchFirstName = $("#memberID").val(), MemId = $("#searchId").val();


            if (myFromDate > today) {

                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                $('#validationMessages').html(validationDivs);

                $("#OrderPlaceFromDate").css('border-color', '#f44336');
                $("#OrderPlaceToDate").css('border-color', '#f44336');
                $(".sparkline16-hd").css('background-color', '#f44336 !important');
                return false;
            }
            else {
                $("#OrderPlaceFromDate").css('border-color', '#e5e6e7');
                $("#OrderPlaceToDate").css('border-color', '#e5e6e7');
                $(".sparkline16-hd").removeAttr("style");
            }
            if (myFromDate < myDate) {
                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                $('#validationMessages').html(validationDivs);

                $("#OrderPlaceFromDate").css('border-color', '#f44336');
                $("#OrderPlaceToDate").css('border-color', '#f44336');
                $(".sparkline16-hd").css('background-color', '#f44336 !important');

                return false;
            }
            else {
                $("#OrderPlaceFromDate").css('border-color', '#e5e6e7');
                $("#OrderPlaceToDate").css('border-color', '#e5e6e7');
                $(".sparkline16-hd").removeAttr("style");
            }
            if ($('#SelectReqNoTraderNameId').val() == '1') {


                if ($('#TraderName').val() == "") {
                    $('#TraderId').val("");
                }

                if ($('#TraderId').val() == "") {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.TraderIdNameRequired")</div>';
                    $('#validationMessages').html(validationDivs);

                    $("#TraderName").css('border-color', '#f44336');
                    $(".sparkline16-hd").css('background-color', '#f44336 !important');


                    return false;
                }
                else {

                    $("#TraderName").css('border-color', '#e5e6e7');
                    $(".sparkline16-hd").removeAttr("style");
                }

                if ($('#TraderId').val() == "" && $('#TraderName').val() != "") {

                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                    $('#validationMessages').html(validationDivs);

                    $("#TraderName").css('border-color', '#f44336');
                    $(".sparkline16-hd").css('background-color', '#f44336 !important');

                    return false;
                }
                else {
                    $("#TraderName").css('border-color', '#e5e6e7');
                    $(".sparkline16-hd").removeAttr("style");
                }
            }

            if (id == "btnPending") {
                id = "Pending";
            }
            else if (id == "btnComplite") {
                id = "Complete";
            }
            else if (id == "btnRejected") {
                id = "Rejected";
            }
            else if (id == "btnAutoExpired") {
                id = "AutoExpired";
            }


            $("#HFromDate").val(getDateFromString($("#OrderPlaceFromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
            $("#HToDate").val(getDateFromString($("#OrderPlaceToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));

            data = {
                HFromDate: getDateFromString($("#OrderPlaceFromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                HToDate: getDateFromString($("#OrderPlaceToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                SelectReqNoTraderNameId: $('#SelectReqNoTraderNameId').val(),
                RequestNo: $('#RequestNo').val(),
                TraderId: $('#TraderId').val(),
                RequestStatus: id
            };

            addAntiForgeryToken(data);
        }

        $("#OrderPlaceFromDate").keyup(function () {
            $(this).val('');
        });

        $("#OrderPlaceToDate").keyup(function () {
            $(this).val('');
        });


        $(document).ready(function () {

            if ($('.validation-summary-errors ul li').html() != undefined) {
                fieldPanelValidation('', ".sparkline13-hd", ".sparkline13-graph");
            }
            else {
                ResetPanelValidation("", ".sparkline13-hd", ".sparkline13-graph");
            }

            $("#validationMessages").hide();

            $('#divTraderName').hide();
            $('#divOrderperiod').hide();
            $('#NoteFordata').hide();


            if ($('#SelectReqNoTraderNameId').val() == "0") {
                $('#divRequestNo').show();
                $('#divTraderName').hide();
                $('#divOrderperiod').hide();
                $('#NoteFordata').hide();
            } else if ($('#SelectReqNoTraderNameId').val() == "1") {
                $('#divTraderName').show();
                $('#divRequestNo').hide();
                $('#divOrderperiod').show();
                $('#NoteFordata').show();

            }
            else if ($('#SelectReqNoTraderNameId').val() == "2") {
                $('#divOrderperiod').show();
                $('#divTraderName').hide();
                $('#divRequestNo').hide();
                $('#NoteFordata').show();
            }

            $("#btnPending").addClass('active');

            setData();          

            $.ajax({
                url: "@Html.Raw(Url.Action("GetColumnList", "Epin"))",
                type: "POST",
                dataType: "html",
                //async: false,
                data: data,
                success: function (result) {
                  
                    $('#ScrollableDiv').html("");
                    $('#ScrollableDiv').html(result);
                    $('.loader').hide();
                                               
                },
                error: function (result) {
                    $('.loader').hide();                   
                }
            });

            //auto complete for trader name
            $('#TraderName').autocomplete({
                delay: 500,
                minLength: 1,
                source: '@(Url.Action("SearchTermAutoCompleteTrader", "Epin"))',
                appendTo: '.search-box',
                select: function (event, ui) {
                    $("#TraderId").val(ui.item.Id);
                    $("#TraderName").val(ui.item.label);
                    $("#divTradername").show();
                    return false;
                },
                search: function () { $('.loader').show(); },
                open: function () { $('.loader').hide() },
            }).data("ui-autocomplete")._renderItem = function (ul, item) {

                var t = item.label;

                //html encode
                t = $('<div/>').text(t).html();
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a><span>" + t + "</span></a>")
                    .appendTo(ul);
            };
        });

        $('#SelectReqNoTraderNameId').change(function () {

            if ($(this).val() == "0") {
                $('#divRequestNo').show();
                $('#divTraderName').hide();
                $('#divOrderperiod').hide();
                $('#NoteFordata').hide();
                $('#OrderPlaceFromDate').val('');
                $('#OrderPlaceToDate').val('');
                $('#TraderName').val('');
                $('#RequestNo').val('');
                $('#validationMessages').html('');

            } else if ($(this).val() == "1") {
                $('#divTraderName').show();
                $('#divRequestNo').hide();
                $('#divOrderperiod').show();
                $('#NoteFordata').show();
                $('#OrderPlaceFromDate').val('');
                $('#OrderPlaceToDate').val('');
                $('#TraderName').val('');
                $('#RequestNo').val('');
                $('#validationMessages').html('');
            }
            else if ($(this).val() == "2") {
                $('#divOrderperiod').show();
                $('#NoteFordata').show();
                $('#divTraderName').hide();
                $('#divRequestNo').hide();
                $('#OrderPlaceFromDate').val('');
                $('#OrderPlaceToDate').val('');
                $('#TraderName').val('');
                $('#RequestNo').val('');
                $('#validationMessages').html('');
            }
        });


        $('#btnSearch').click(function () {

            setData();

            if ($('#SelectReqNoTraderNameId').val() == '1' && $('#TraderId').val() == "") {
                return false;
            }
            var error = $.trim($("#validationMessages").html());
            if (error != "") {
                return false;
            }
        

            $.ajax({
                url: "@Html.Raw(Url.Action("GetColumnList", "Epin"))",
                type: "POST",
                dataType: "html",
                //async: false,
                data: data,
                success: function (result) {
                    $('.loader').hide();

                    $('#ScrollableDiv').html("");
                    $('#ScrollableDiv').html(result);

                
                },
                error: function (result) {
                    $('.loader').hide();

                   
                }
            });
        });


        $('.PinRequestStatus').click(function () {

            //$('#RequestNo').val(' ');
            //$('#TraderName').val('');
            //$('#OrderPlaceFromDate').val('');
            //$('#OrderPlaceToDate').val('');
            $('#validationMessages').html('');

            $('.PinRequestStatus').removeClass('active');

            $("#" + this.id).addClass('active');

            id = this.id;       

            setData();         

            $.ajax({
                url: "@Html.Raw(Url.Action("GetColumnList", "Epin"))",
                type: "POST",
                dataType: "html",
                //async: false,
                data: data,
                success: function (result) {
                    $('.loader').hide();

                    $('#ScrollableDiv').html("");
                    $('#ScrollableDiv').html(result);

                
                },
                error: function (result) {
                    $('.loader').hide();

                  
                }
            });
        });



        $('#btnreset').on('click', (function () {
            $('.loader').show();
            document.location = "@(Url.Action("IssueEpinDetails", "Epin"))";
        }));

        function getRow(tableId, propName, propValue) {
            debugger;
            var oTable = $('#' + tableId).DataTable(),
                data = oTable.rows().data(),
                row, i, l = data.length;

            for (i = 0; i < l; i++) {
                row = data[i];
                if (row["HRequestNo"] == propValue) {
                    return row['HRequestNo'];
                }
                
            }
            return false;
        }

        function RequestDetails(RequestNo , HRequestNo) {
            //debugger;
            //var row = getRow('mydirectDataTable', 'HRequestNo', RequestNo);
            //var ReqNo = row;
            ////var url = '../Epin/IssueEpinRequestDetails?RequestNo=' + ReqNo;
            ////window.location.href = url;

            window.location = "@Url.Action("IssueEpinRequestDetails", "Epin")/?RequestNo=" + HRequestNo;
        };
        $('#ExportAllRecord').on('click', (function () {
            $('.loader').show();
            var data = {

            };
            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("IssueEpinDetailsExportToExcel", "Epin"))",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (result) {
                    $('.loader').hide();
                    if (result.fullFileName) {
                        if (result.fullFileName != null && result.fullFileName != "") {
                            window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                        }
                        ResetPanelValidation("", ".sparkline13-hd", ".sparkline13-graph");
                    }
                    else if (result.fullFileName == null) {
                        $("#validationMessages").html('');
                        var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                        fieldPanelValidation("", ".sparkline13-hd", ".sparkline13-graph");
                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs1);
                    }
                    else {
                        var validationDivs1 = '<div>' + result.fullFileName + '</div>';
                        fieldPanelValidation("", ".sparkline13-hd", ".sparkline13-graph");
                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs1);
                    }
                },
                error: function (result) {
                    $('.loader').hide();
                }
            });

        }));

    </script>
}