﻿@model Nop.Web.Framework.Models.Epin.EpinRequestModel
@using Nop.Core.Helper
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
    //title
    Html.AddTitleParts(T("Account.Epin.RequestDetails").Text);
    //register URL with return URL (if specified)
}
<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
<style>
    #EpinReport_paginate, #EpinReport_length {
        display: none;
    }

    .form-text-row {
        text-align: left;
        padding-left: 10%;
    }

    @@media only screen and (min-width: 320px) and (max-width:600px) {
        .form-text-row {
            text-align: center !important;
            padding-left: 0% !important;
        }

        #dvPaymodeDetails {
            margin-left: 4% !important;
        }

        .custom-datatable-overright table tbody tr td {
            padding-left: 8px !important;
            padding-right: 8px !important;
            padding-bottom: 18px;
        }

        #btnback {
            margin-right: -5% !important;
        }
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />

    <div class="sparkline16-list shadow-reset">
        <div class="sparkline16-hd">
            <div class="main-sparkline16-hd">
                <h1>@T("Dashboard.Epin.EpinDetailsOfRequestNo") @Model.RequestNo</h1>
            </div>

        </div>
        <div class="sparkline16-graph">
            <div class="datatable-dashv1-list custom-datatable-overright">
                <button type="button" id="btnback" class="btn btn-custon-four btn-primary" style="margin-right: 5%;" onclick="setLocation('@Url.RouteUrl("", new { controller = "Epin", action = "IssueEpinDetails" })')">
                    <i class="fa fa-backward"></i> @T("Epin.RequestDetails.Back")
                </button>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="all-form-element-inner">
                            <div class="col-md-6" style="margin-left: 3%;">
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.RequestNo)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopDisplayFor(model => model.RequestNo)
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.NetAmount)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopDisplayFor(model => model.NetAmount)
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.VoucherWiseTotalDiscount)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopDisplayFor(model => model.VoucherWiseTotalDiscount)
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.OrderTotalDiscount)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopDisplayFor(model => model.OrderTotalDiscount)
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.PaybleAmount)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopDisplayFor(model => model.PaybleAmount)
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.RequestDateTime)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopDisplayFor(model => model.PinRequestDateTime)
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.Status)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopDisplayFor(model => model.RequestStatus)
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.Remark)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopDisplayFor(model => model.Remark)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-left: -24%;" id="dvPaymodeDetails">
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.Paymode)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopDisplayFor(model => model.Paymode)
                                        </div>
                                    </div>
                                </div>

                                @if (Model.ChequeNo != null && Model.txtChequeDate != null && Model.ChequeBank != null && Model.ChequeBranch != null)
                                {
                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.ChequeNo)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.NopDisplayFor(model => model.ChequeNo)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.ChequeDate)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.NopDisplayFor(model => model.txtChequeDate)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.ChequeBank)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.NopDisplayFor(model => model.ChequeBank)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.ChequeBranch)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.NopDisplayFor(model => model.ChequeBranch)
                                            </div>
                                        </div>
                                    </div>
                                }

                                @if (Model.ImageUrl != null)
                                {


                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.Recipt)
                                            </div>
                                            <div class="col-md-3">
                                                <a href="@Url.Action("Download","Epin", new { RequestNo = Model.RequestNo })">
                                                    <img src="@Url.Content(Model.ImageUrl)" alt="IMAGES" style="width: 100px; margin-left: 0%; margin-top: 0%;" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <b style="color:red;font-weight:bold ;"> @T("Admin.Note.Note") </b> @T("Admin.Download.DownloadUploadedFileOnImageClick")
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="sparkline16-list shadow-reset">
        <div class="sparkline16-graph">
            <div class="datatable-dashv1-list custom-datatable-overright">
                <div class="x_content table-wrapper" id="ScrollableDiv">
                    @Html.Partial("_CommanServerSideKendoGrid", Model.dataTable)
                </div>

            </div>

        </div>
    </div>


}


@section scripts{
    <script type="text/javascript">

        var rowCount = $("#EpinReport td").closest("tr").length;

        $(document).ready(function () {
            getData();
        });

        function getData(){
            var RequestNo="@Model.RequestNo";
            var data = {
                RequestNo:RequestNo
            };
            addAntiForgeryToken(data);

            $('#mydirectDataTable').DataTable({
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [

                    ]
                },
                processing: true,
                oLanguage: {sProcessing: "<div class='loader'></div>"},
                columns:@Html.Raw(@Model.columns),
                bServerSide: true,
                destroy: true,
                "ajax": {
                    'type': 'POST',
                    'url':  "@Html.Raw(Url.Action("IssueEpinRequestDetailsList", "Epin"))",
                    'data': data,
                    pagingType: "full_numbers",
                    iDisplayLength: 10,
                }
            });
        }
    </script>
}

