﻿@model Nop.Web.Framework.Models.Epin.RedeemEpin
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
    //title
    Html.AddTitleParts(T("Account.Request.TransferEpin").Text);
    //register URL with return URL (if specified)
}

<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Themes/Vnext/Content/VnextCSS/css/MobileDataTableResponsive.css">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.SelectedEpins)
    @Html.HiddenFor(m => m.CurrentcustomerId)
    <input type="hidden" name="SelectedMessages" id="SelectedMessages" />
    <br />
    <div class="result" style="text-align:center;">
        @if (TempData["EpinTransfer"] != null)
        {
            @TempData["EpinTransfer"].ToString()
        }
    </div>

    var validationSummary = Html.ValidationSummary(true);

    if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
    {
        <div class="message-error">@validationSummary</div>
    }
    <div class="message-error error" id="validationMessages"></div>
    <div class="sparkline13-list shadow-reset">
        <div class="sparkline13-hd">
            <div class="main-sparkline13-hd">
                <h1>@T("Dashboard.MyNetwork.SearchOption")</h1>
                <div class="sparkline13-outline-icon">
                    <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                </div>
            </div>
        </div>
        <div class="sparkline13-graph">
            <div class="datatable-dashv1-list custom-datatable-overright">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="all-form-element-inner">


                         


                            <div class="form-group-inner" id="">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="VoucherListName">Select Option</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownList("SelectOption", new List<SelectListItem>
                                            {
                                            new SelectListItem{Text="All Record(s)",Value="0"},
                                            new SelectListItem{Text="Voucher Wise",Value="1"},
                                            new SelectListItem{Text="Amount Wise",Value="2"},                                          
                                            }, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                      
                            <div class="form-group-inner" style="display:none" id="Voucherwise">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.VoucherListName)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.VoucherListName, Model.VoucherList, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group-inner" style="display:none" id="Amountwise">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.PriceList)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.Price, Model.PriceList, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>


                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.SerialNo)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.SerialNo, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            @*<div class="form-group-inner" id="datewsiediv">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.FromDate)
                                    </div>
                                    <div class="col-md-6 data-custon-pick">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            @Html.EditorFor(model => model.FromDate)
                                            @Html.HiddenFor(model => model.HFromDate)
                                            @Html.ValidationMessageFor(model => model.FromDate)
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.ToDate)
                                    </div>
                                    <div class="col-md-6 data-custon-pick">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            @Html.EditorFor(model => model.ToDate)
                                            @Html.HiddenFor(model => model.HToDate)
                                            @Html.ValidationMessageFor(model => model.ToDate)
                                        </div>
                                    </div>
                                </div>
                            </div>*@

                            <div class="login-horizental cancel-wp align-middle">
                                <button type="button" id="Search-EpinTransferGrid" name="Search-EpinTransferGrid" class="btn btn-custon-four btn-primary"><i class="fa fa-search"></i> @T("Tree.Search.Button")</button>
                                <button type="button" class="btn btn-custon-four btn-warning" id="btnreset"><i class="fa fa-refresh"></i> @T("Tree.Reset.Button")</button>
                            </div>

                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
    <br />
    <div class="sparkline16-list shadow-reset">
        <div class="sparkline16-hd">
            <div class="main-sparkline16-hd">
                <h1>@T("Account.Request.TransferEpin")</h1>

            </div>
        </div>
        <div class="sparkline16-list shadow-reset">
            <div class="sparkline16-graph">
                <div class="datatable-dashv1-list custom-datatable-overright">
                    <div id="ScrollableDiv">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <table id="mydirectDataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th><input name="select_all" value="1" id="example-select-all" type="checkbox"></th>
                                        <th>@T("admin.customers.customers.fields.pdm_srno")</th>
                                        <th>@T("admin.customers.customers.fields.vouchernamestatus")</th>
                                        <th>@T("admin.customers.customers.fields.ptm_name")</th>
                                        <th>@T("admin.customerreport.amount")</th>
                                        <th>@T("Tree.Exipiry")</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                    @*<div class="form-group-inner">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Remark)
                                </div>
                                <div class="col-md-3">
                                    @Html.TextAreaFor(model => model.Remark, new { @class = "form-control",@rows="4" })
                                    @Html.ValidationMessageFor(model => model.Remark)                              
                             
                                </div>
                            </div>
                        </div>
                    </div>*@

                    <div class="container-fluid">
                        <p style="float:left;"><b style="color:red" id=""> @T("Admin.Note.Note") </b>@T("Admin.Note.ReddemNote")</p>
                    </div>

                    <br />          
                    
                        <div style="margin-right: 10%;" class="buttons">
                            <button type="submit" class="btn btn-custon-four btn-success" id="Save-EpinTransfer" name="Save-EpinTransfer"> @T("Tree.Redeem.Button")</button>
                        </div>
                       
                </div>
            </div>
        </div>






    </div>

}
@section scripts{

    <script>
        $(document).ready(function(){

            $("#SelectOption").change(function(){
                var optionValue = $(this).val();

                if(optionValue=="0")
                {
                    $("#Voucherwise").hide();
                    $("#Amountwise").hide();
                    
                    
                }
                else  if(optionValue=="1")
                {
                    $("#Voucherwise").show();
                    $("#Amountwise").hide();
                }
                else  if(optionValue=="2")
                {
                    $("#Voucherwise").hide();
                    $("#Amountwise").show();
                }
               

            });

        });
    </script>

    <script type="text/javascript">

        $(function () {
            $("#Save-EpinTransfer").click(function () {
                $('.loader').show();
            });
        });

        window.onbeforeunload = function () {
            $("input[type=button], input[type=submit]").attr("disabled", "disabled");
        };

        var rowCount = $("#EpinReport td").closest("tr").length;
        //alert('Rows ' + rowCount + ' are selected');

        $(document).ready(function () {

            if ($('.validation-summary-errors ul li').html() != undefined && $('.validation-summary-errors ul li').html() != "") {
                fieldPanelValidation('', ".sparkline13-hd", ".sparkline13-graph");
            }
            else {
                ResetPanelValidation("", ".sparkline13-hd", ".sparkline13-graph");
            }

            $('#SelectedEpins').val("");

            $("#divseachById").slideUp();
            $("#divHeadingSearch").click(function () {
                $("#divseachById").slideToggle();
            });

            $("#divfirstname").hide();        

            // Handle click on "Select all" control









        });




    </script>


    <script>

        var selectedCheckbox = null;

        $(document).ready(function () {
            getdata();

        });
        function getdata(){
            debugger;
            var data1 = {
                VoucherListName:$('#VoucherListName').val(),
                Fromdate : $("#HFromDate").val(),
                Todate :$("#HToDate").val(),
                //PintypeId:$("#PintypeId").val(),
                SerialNo:$("#SerialNo").val(),
                Price:$("#Price").val(),
                SelectOption:$("#SelectOption").val()
            };

            //alert($('#VoucherListName').val());
            addAntiForgeryToken(data1);
            $('#mydirectDataTable').DataTable({
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },

                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [
                    ]
                },
                columns:@Html.Raw(@Model.columns),
                'columnDefs': [{
                    'targets': 0,
                    'searchable': false,
                    'orderable': false,
                    'width': '1%',
                    'className': 'dt-body-center',
                    'render': function (data, type, full, meta){
                        return '<input type="checkbox" id="CheckBox" class="chkPassport" name="id['+data+']"  value="'
                         + data + '">';

                    }
                }],
                bServerSide: true,
                processing: true,
                oLanguage: {sProcessing: "<div class='loader'></div>"},
                destroy: true,
                "ajax": {
                    'type': 'POST',
                    'url':  "@Html.Raw(Url.Action("RedeemEpinGrid", "Epin"))",
                    'data': data1,
                    //success:function(){alert('hi')}
                    pagingType: "full_numbers",
                    iDisplayLength: 10

                }
            });




        }

        $('#example-select-all').on('click', function () {
            selectedCheckbox=null;
            debugger;
            var table = $('#mydirectDataTable').DataTable();

            var rows = table.rows({ 'search': 'applied' }).nodes();

            $('input[type="checkbox"]', rows).prop('checked', this.checked);



            if ($(this).prop('checked') == true) {

                var allData = table.rows().data();
                //  var i;
                //var i = allData.length;
                // var i = $('select[name=FoldersReport_length]').val();
                var i = allData.length;
                for (var j = 0; j < i; j++) {

                    var checkBox = allData[j];

                    //$("input[type='checkbox'][value=" + checkBox + "]").prop('checked', this.checked);

                    if (selectedCheckbox == null) {
                        selectedCheckbox = checkBox["Id"];
                    } else {
                        selectedCheckbox = selectedCheckbox + ',' + checkBox["Id"];
                    }
                    $('#SelectedEpins').val(selectedCheckbox);
                }
            }
            else {
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
                $('#SelectedEpins').val(selectedCheckbox);
            }

            //alert(selectedCheckbox);
        });



        $(document).on('click', '#mydirectDataTable input[type="checkbox"][id="CheckBox"]', function () {
            //
            debugger;
            var value = this.value;



            if (value != "") {
                if ($(this).prop('checked') == true) {

                    if (selectedCheckbox == null) {
                        selectedCheckbox = value;
                    } else {
                        selectedCheckbox = selectedCheckbox + ',' + value;
                    }
                    $('#SelectedEpins').val(selectedCheckbox);

                }
                else {
                    var serialNo = $('#SelectedEpins').val();
                    selectedCheckbox = serialNo.replace(value, '');
                    $('#SelectedEpins').val(selectedCheckbox);
                }
            }
        });



        $('#Search-EpinTransferGrid').click(function (e) {
            debugger;
            var validationDivs = '';
            $('#validationMessages').html('');       

            var SearchFirstName = $("#memberID").val(), MemId = $("#searchId").val();        





            $('.loader').show();
         

            getdata();
        });

        $('#btnreset').on('click', (function () {
            $('.loader').show();
            document.location = "@(Url.Action("MemberEpinRedeem", "Epin"))" ;
        }));

        window.onbeforeunload = function () {
            var buttons = document.getElementsByTagName("BUTTON");
            for (var i in buttons) {
                if (buttons[i].type == "button" || buttons[i].type == "submit") {
                    buttons[i].disabled = true;
                }
            }
        };



        $('#Save-EpinTransfer').click(function (e) {
            debugger;
            var validationDivs='';
            var txtMemid=$('#SearchFirstName').val();
            var hiddenSearchMemno=$('#MemId').val();

            $('.result').hide();

            if(txtMemid == '')
            {
                $("#validationMessages").show();
                validationDivs=validationDivs+'<div>@T("Admin.Validation.IdNameRequired")</div>';
                $('#validationMessages').html(validationDivs);
                fieldPanelValidation('#FromDaaate', ".sparkline13-hd", ".sparkline13-graph");
                fieldPanelValidation('#ToDaaate', ".sparkline13-hd", ".sparkline13-graph");
                return false;
            }
            else
            {
                ResetPanelValidation('#FromDate', ".sparkline13-hd", ".sparkline13-graph");
                ResetPanelValidation('#ToDate', ".sparkline13-hd", ".sparkline13-graph");
            }
            if(txtMemid !='' && hiddenSearchMemno =='')
            {

                $("#validationMessages").show();
                validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                $('#validationMessages').html(validationDivs);
                fieldPanelValidation('#FromDaaate', ".sparkline13-hd", ".sparkline13-graph");
                fieldPanelValidation('#ToDaaate', ".sparkline13-hd", ".sparkline13-graph");

                return false;
            }
            else
            {
                ResetPanelValidation('#FromDate', ".sparkline13-hd", ".sparkline13-graph");
                ResetPanelValidation('#ToDate', ".sparkline13-hd", ".sparkline13-graph");
            }

            var OtpEnabled = $("#OtpEnabled").val();
            //alert(OtpEnabled);
            if (OtpEnabled == "True") {
                var isCheckedOtpVerified = $("#OtpVerified").val();
                if (isCheckedOtpVerified != "true") {


                    $("#validationMessages").show();
                    validationDivs=validationDivs+'<div>OTP not verified</div>';
                    $('#validationMessages').html(validationDivs);

                    fieldPanelValidation('#FromDaaate', ".sparkline13-hd", ".sparkline13-graph");
                    fieldPanelValidation('#ToDaaate', ".sparkline13-hd", ".sparkline13-graph");
                    return false;
                }
            }
        });
    </script>


    @*<script>

        $("#divVerifyOTP").hide();
        $("#divEnterOTP").hide();
        $('#OTPSend-button').show();
        $("#OtpSMSSentResult").hide();
        $('#OTPSend-Emailbutton').show();
        $("#divVerifyEmailOTP").hide();
        $("#divEnterEmailOTP").hide();
        $("#OtpEmailSentResult").hide();





        $('#OTPSend-button').click(function (e) {
            debugger;
            $("#OtpError").hide();
            $("#OtpResult").hide();
            $("#EnterSMSOTP").val('');

            $.ajax({
                cache: false,
                type: "Get",
                url: "@(Url.Action("GenerateOTP", "Epin"))",
                //data: postData,
                success: function (data) {
                    if (data == 1) {
                        $("#divVerifyOTP").show();
                        $("#divEnterOTP").show();
                        $("#OtpSMSSentResult").show();
                        $("#OtpSMSSentResult").html("OTP sent on mobile");
                        $("#OTPSend-button").prop('value', 'Resend OTP');
                    }
                    else  if (data == 2) {
                        $("#divVerifyOTP").show();
                        $("#divEnterOTP").show();
                        $("#OtpSMSSentResult").show();
                        $("#OtpSMSSentResult").html("OTP sent on email");
                        $("#OTPSend-button").prop('value', 'Resend OTP');
                    }
                    else  if (data == 3) {
                        $("#divVerifyOTP").show();
                        $("#divEnterOTP").show();
                        $("#OtpSMSSentResult").show();
                        $("#OtpSMSSentResult").html("OTP sent on email and mobile");
                        $("#OTPSend-button").prop('value', 'Resend OTP');
                    }

                },
            });
            return false;
        });


        $('#OTPVerify-button').click(function (e) {

            $("#OtpSMSSentResult").hide();
            var EnterSMSOTP = $("#GeneratedOtp").val();

            if (EnterSMSOTP == "") {
                $("#OtpError").show();
                $("#OtpError").val("@T("Account.Register.Errors.EnterOTP")");
                $("#OtpError").html("@T("Account.Register.Errors.EnterOTP")");
                return false;
            }
            EnterSMSOTP=EnterSMSOTP.trim();
            $.ajax({
                cache: false,
                type: "Get",
                url: "@(Url.Action("VerifySMSOTP", "Epin"))",
                data: {EnterSMSOTP:EnterSMSOTP},
                success: function (data) {
                    debugger;
                    if (data == "1") {
                        $("#divVerifyOTP").hide();
                        $("#divEnterOTP").hide();
                        $("#OTPSend-button").prop('value', 'Resend OTP');
                        $("#OtpError").hide();
                        $("#OtpResult").show();
                        $("#OtpResult").val("@T("Account.Register.Errors.OTPVerified")");
                        $("#OtpResult").html("@T("Account.Register.Errors.OTPVerified")");
                        $("#OtpVerified").attr('value','true');
                    }
                    if (data == "2") {
                        $("#divVerifyOTP").show();
                        $("#divEnterOTP").show();
                        $("#OtpError").show();
                        $("#OtpResult").hide();
                        $("#OtpError").val("@T("Account.Register.Errors.EnteredwrongOTP")");
                        $("#OtpError").html("@T("Account.Register.Errors.EnteredwrongOTP")");
                        $("#OtpVerified").attr('value','false');
                    }

                    if (data == "3") {
                        $("#divVerifyOTP").show();
                        $("#divEnterOTP").show();
                        $("#OtpError").show();
                        $("#OtpResult").hide();
                        $("#OtpError").val("@T("Account.Register.Errors.ResendOTP")");
                        $("#OtpError").html("@T("Account.Register.Errors.ResendOTP")");
                        $("#OtpVerified").attr('value','false');
                    }
                },
            });
            return false;
        });

    </script>*@
    @*@if (Model.OtpVerified == true)
    {
        <script>
            $("#divVerifyOTP").hide();
            $("#divEnterOTP").hide();
            $("#OTPSend-button").prop('value', 'Resend OTP');
            $("#OtpError").hide();
            $("#OtpResult").show();
            $("#OtpResult").val("@T("Account.Register.Errors.OTPVerified")");
            $("#OtpResult").html("@T("Account.Register.Errors.OTPVerified")");
            $("#OtpVerified").attr('value','true');
        </script>
    }*@


}





<style>
    .dataTables_wrapper {
        margin-top: 0% !important;
    }

    @@media screen and (max-width: 640px) {
        .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
            float: none;
            text-align: left;
        }
    }
</style>