﻿@model Nop.Web.Framework.Models.Epin.EpinRequestModel
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
    Html.AddTitleParts(T("Epin.PlaceOrder").Text);

}
<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Themes/Vnext/Content/VnextCSS/css/MobileDataTableResponsive.css">
<style>
    #requiedAttricSymbol {
        margin-left: -4%;
    }

    #requiedAttricSym {
        margin-left: -4%;
    }

    /*.form-group-inner .row .col-md-4 {
        padding-left: 22% !important;
    }*/
    .form-group-inner .row .col-md-4 {
        padding-left: 16% !important;
        text-align: right !important;
    }

    @@media only screen and (min-width: 980px) and (max-width:1480px) {
        #OrderSummary {
            float: right !important;
        }
    }

    @@media only screen and (min-width: 320px) and (max-width:480px) {
        #file {
            margin-left: -5% !important;
        }

        .custom-datatable-overright table tbody tr td {
            padding-bottom: 7% !important;
        }

        .sparkline16-graph #paymodeDetailsDiv td {
            text-align: center !important;
        }

        #divRequestTo, #divTraderName, #saveButton {
            text-align: center !important;
        }
    }

    @@media only screen and (max-width: 320px) {
        .nav-tabs > li > a {
            margin-right: 70px;
        }
    }

    @@media only screen and (max-width: 360px) {
        .nav-tabs > li > a {
            margin-right: 70px;
        }
    }

    @@media only screen and (min-width: 600px) and (max-width:1024px) {


        .custom-datatable-overright table tbody tr td {
            padding-bottom: 7% !important;
        }

        .sparkline16-graph #paymodeDetailsDiv td {
            text-align: center !important;
        }

        /*#file {
            margin-left: 38% !important;
        }*/

        #divRequestTo, #divTraderName, #saveButton {
            text-align: center !important;
        }
    }



    @@media only screen and (min-width: 789px) and (max-width:1025px) {
        #requiedAttricSym {
            margin-left: -4% !important;
            margin-right: 13% !important;
        }
    }

    #SetTDStyle {
        font-size: 12px !important;
        color: #434d58;
        border-top: 0;
        font-weight: bold !important;
        font-size: 12px;
    }

    .nav-tabs > li > a {
        background-color: #1d68ba !important;
        color: #fff !important;
    }

    .nav_link.active {
        background-color: #d3e4f4 !important;
        color: #317cce !important;
    }

    .nav-tabs > li.active > a {
        background-color: #d3e4f4 !important;
        color: #317cce !important;
    }

    @@media screen and (max-width: 600px) {
        #showTD {
            display: none;
        }
    }

    .sparkline16-graph #paymodeDetailsDiv {
        text-align: center !important;
    }

    .sparkline16-graph #Notediv {
        text-align: center !important;
    }
</style>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return validation(this)" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(t => t.HPaymode)
    @Html.HiddenFor(model => model.HChequeDDDate)
    @Html.HiddenFor(t => t.HTotalQuantity)
    @Html.HiddenFor(t => t.HNetAmount)
    @Html.HiddenFor(t => t.HVoucherwiseTotalDiscount)
    @Html.HiddenFor(t => t.HOrderTotalDiscount)
    @Html.HiddenFor(t => t.HPaybleAmount)
    @Html.HiddenFor(t => t.NumberOfRequestOneDay)
    @Html.HiddenFor(t => t.UsePercentage)
    @Html.HiddenFor(t => t.MemOrderTotalDiscount)
    @Html.HiddenFor(t => t.MaximumDiscountAmount)
    @Html.HiddenFor(t => t.HActualOrderTotalUsePercentage)
    @Html.HiddenFor(t => t.HActualOrderTotalDiscountPercentage)
    @Html.HiddenFor(t => t.HActualOrderTotalDiscountAmount)
    @Html.HiddenFor(t => t.HActualOrderTotalMaximumDiscountAmount)
    @Html.HiddenFor(t => t.HActualOrderTotalDiscountStartDate)
    @Html.HiddenFor(t => t.HActualOrderTotalDiscountEndDate)
    @Html.HiddenFor(t => t.HActualOrderTotalQuantity)

    <br />


    <div class="panel panel-default" id="divShowHide1">
        <div class="panel-body">
            <div class="sparkline16-list shadow-reset">
                <div class="sparkline16-hd">
                    <div class="main-sparkline16-hd">
                        <h1>@T("Epin.AddVoucher.PlaceOrder")</h1>
                    </div>
                </div>
                <div class="sparkline16-list shadow-reset">
                    <div class="sparkline16-graph">
                        @{
                            var validationSummary = Html.ValidationSummary(true);
                        }
                        @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                        {
                            <div class="message-error">@validationSummary</div>
                        }
                        <div id="errorMessage" class="message-error"></div>
                        <div class="result" style="text-align:center;">
                            @if (Model.Result != null)
                            {
                                @Model.Result
                            }
                        </div>
                        @if (!Model.NumberOfRequestOneDay)
                        {
                            <button type="submit" id="btnAddVoucher" name="btnAddVoucher" class="btn btn-custon-four btn-primary" onclick="javascript:OpenWindow('@(Url.Action("AddVoucher", "Epin", new { btnid = "btnAddVoucher", formid = "Epin-form" })) ',800, 600, true); return false;"><i class="fa fa-plus-circle"></i> @T("Tree.AddVoucher.Button")</button>
                        }
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            @Html.Partial("_CommanServerSideKendoGrid", Model.dataTable)
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-lg-9">
                <div class="sparkline9-list shadow-reset mg-b-30" id="PaymodePanel">
                    <div class="sparkline9-graph sparkline9-graph dashone-comment dashtwo-comment comment-scrollbar">
                        <div class="sparkline16-list shadow-reset">
                            <div class="sparkline16-graph" style="margin-bottom: 0em !important;" id="divShowHide">
                                <div class="navcontainer">
                                    <ul class="nav nav-tabs" id="Paymode-tabs" role="tablist"></ul>
                                    <div class="tab-content">

                                    </div>
                                </div>
                                @*<div class="panel panel-default" id="divShowHide1">*@
                                <div id="divShowHide1">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-12" id="paymodeDetailsDiv">

                                            </div>
                                        </div>
                                        <div class="form-group" id="Notediv">
                                            <div class="col-md-12">
                                                <b>  @T("Member.AddMoney.FileuploadNote") </b>
                                            </div>
                                        </div>
                                        <div class="form-group" id="recipt">
                                            <div class="col-md-4">
                                                @Html.NopLabelFor(model => model.Recipt)
                                            </div>
                                            <div class="col-md-4">
                                                <input type="file" name="File_Images" accept=".png, .jpg, .jpeg" id="file" />
                                                @Html.ValidationMessage("files", new { id = "files", style = "color:#ff0039" })
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                </div>

                <div class="form-group-inner" id="divRequestTo">
                    <div class="row">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.RequestTo)
                        </div>
                        <div class="col-md-6" style="margin-left: 3%">
                            @Html.DropDownListFor(model => model.RequestTo, Model.RequestToList, new { @class = "form-control", @style = "width: 97%;" })
                        </div>
                        <div class="col-lg-1" id="requiedAttricSymbol">

                        </div>
                    </div>
                </div>
                <div class="form-group-inner" id="divTraderName">
                    <div class="row">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.TraderName)
                        </div>
                        <div class="col-md-6" style="margin-left: 3%">
                            @Html.TextBoxFor(model => model.TraderName, new { @class = "form-control", @style = "width: 97%;" })
                            @Html.HiddenFor(model => model.TraderId)
                            <div id="divTradername" class="inputs">
                            </div>
                        </div>
                        <div class="col-lg-1" id="requiedAttricSymbol">

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3" id="OrderSummary">
                <div class="sparkline9-list shadow-reset mg-b-30">
                    <div class="sparkline9-graph sparkline9-graph dashone-comment dashtwo-comment comment-scrollbar">
                        <div class="sparkline16-list shadow-reset">
                            <div class="sparkline16-graph">
                                <br />
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-md-7">
                                            Total Quantity
                                        </div>
                                        <div class="col-md-3">
                                            <label id="TotalQuantity">0</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-md-7">
                                            Net Amount
                                        </div>
                                        <div class="col-md-3">
                                            <label id="NetAmount">0</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-md-7">
                                            Voucher-wise Total Discount
                                        </div>
                                        <div class="col-md-3">
                                            <label id="VoucherwiseTotalDiscount">0</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-md-7">
                                            Order Total Discount
                                        </div>
                                        <div class="col-md-3">
                                            <label id="OrderTotalDiscount">0</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-md-7">
                                            Payable Amount
                                        </div>
                                        <div class="col-md-3">
                                            <label id="PayableAmount">0</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group" id="saveButton">
                        <div class="col-md-4 ">
                            <input type="submit" name="save" id="save" class="btn btn-primary btn-success" value="@T("app.checkout.placeorder")" />
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>





                            }



@section scripts{

    <script type="text/javascript">
        var displaylenth=10;
        $(document).ready(function (){
            debugger;
            if ($('.validation-summary-errors ul li').html() != undefined) {
                fieldPanelValidation('', ".sparkline16-hd", ".sparkline13-graph");

            }
            else {
                ResetPanelValidation("", ".sparkline16-hd", ".sparkline13-graph");
            }
            if ('@Model.TraderEPinSetting' == 'True') {
                $('#divRequestTo').show();
            }
            else
                $('#divRequestTo').hide();
            $('#divTraderName').hide();
            getData();

            var paymodeArray = @Html.Raw(Json.Encode(Model.PaymodeNameList));
            var systemNameArray = @Html.Raw(Json.Encode(Model.PaymodesystemArray));
            var shortNameArray = @Html.Raw(Json.Encode(Model.PaymodeShortNameArray));

            for (var i = 0; i < paymodeArray.length; i++) {
                $('#Paymode-tabs').append('<li role="presentation" class=""><a href="#' + systemNameArray[i] + '" class="nav_link" data_id="' + systemNameArray[i] + '" id="' + shortNameArray[i] + '" aria-controls="' + systemNameArray[i] + '" role="tab" data-toggle="tab">' + paymodeArray[i] + '</a></li>');

                var div = '<div role="tabpanel" class="tab-pane" id="' + systemNameArray[i] + '">';
                $('.tab-content').append(div);
            }



            $('#recipt').hide();
            $('#Notediv').hide();
            $('#PaymodePanel').hide();
            $('#OrderSummary').hide();
            $('#divRequestTo').hide();
            //auto complete for trader name

            $('#RequestTo').change(function () {
                if ($(this).val() == "1")
                    $('#divTraderName').hide();
                else
                    $('#divTraderName').show();
            });
            $(function () {
                $(".nav_link").click(function () {


                    $('.nav_link').removeClass('active');
                    $(this).addClass('active');

                    $("div [data_id='" + $(this).attr("href").replace("#","") + "']").addClass("active");
                    var index =$(this).parent().index();
                    var id = $(this).attr("data_id");
                    var shortName = $(this).attr("id");
                    if ('@Model.TraderEPinSetting' == 'True')
                    {
                        if (shortName == 'CC')
                        {
                            $('#divRequestTo').hide();
                            $('#divTraderName').hide();
                            $('#RequestTo').val('1')
                            $('#RequestTo').trigger('change');
                        }
                        else
                        {
                            $('#divRequestTo').show();
                        }
                    }
                    $('#HPaymode').val(id);
                    $('#recipt').hide();
                    $('#Notediv').hide();
                    var data = {
                        Paymode: id,
                    };
                    addAntiForgeryToken(data);
                    $.ajax({
                        url: "@Html.Raw(Url.Action("LoadPaymodeDetails", "Epin"))",
                        async:false,
                        type: "POST",
                        dataType: "html",
                        data: data,
                        success: function (result) {
                            //
                            $('#paymodeDetailsDiv').html(result);

                            if (id == "Payments.BankTransfer" || id == "Payments.CheckMoneyOrder" || id == "Payments.DemandDraft") {
                                $('#recipt').show();
                                $('#Notediv').show();
                            }
                            $('#saveButton').show();
                            $('#paymodeDetailsDiv').show();
                            $('#paymodeDetailsDiv').html(result);

                        },
                        error: function (xhr, textStatus, exceptionThrown) {
                            $("#validationMessages").html("");
                            $("#validationMessages").show();
                            $("#validationMessages").html("@T("Admin.Exception.ExceptionOccurred")");
                        }
                    });
                    return false;
                });
            });
            $('#TraderName').autocomplete({
                delay: 500,
                minLength: 1,
                source: '@(Url.Action("SearchTermAutoCompleteTrader", "Epin"))',
                appendTo: '.search-box',
                select: function (event, ui) {
                    $("#TraderId").val(ui.item.Id);
                    $("#TraderName").val(ui.item.label);
                    $("#divTradername").show();
                    return false;
                },
                change: function (event, ui) {
                    if (ui.item == null) {
                        $("#TraderId").val("");
                        $("#TraderName").val("");
                        $("#divTradername").focus();
                    }
                },
                search: function () { $('.loader').show(); },
                open: function () { $('.loader').hide() },

            }).data("ui-autocomplete")._renderItem = function (ul, item) {

                var t = item.label;

                //html encode
                t = $('<div/>').text(t).html();
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a><span>" + t + "</span></a>")
                    .appendTo(ul);
            };
        });


        function getData(){
            var lrngth=displaylenth;
            var data = {

            };

            addAntiForgeryToken(data);
            var table = $('#mydirectDataTable').DataTable({
                dom: 'T<"clear">lfrtip',
                "oLanguage": {
                    "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                },
                tableTools: {
                    "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                    "sRowSelect": "multi",
                    "aButtons": [
                    //'xls'
                    ]
                },
                columns:@Html.Raw(@Model.columns),
                "aoColumnDefs" : [
                 { aTargets : [6],
                     mRender : function(data, type, full, meta) {
                         return '<input class:"totalQuantity" type="number" onchange = "calculatePrice(this,'+ full.VoucherDetailId + ')" onkeypress="return isNumber(event)" id="Quantity_'+ full.VoucherDetailId + '" value="'+data+'"/>'
                     }
                 },{ aTargets : [10],
                     mRender : function(data, type, full, meta) {
                         //return '<button type="button" class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-remove glyphicon-trash" aria-hidden="true" onclick="deleteClick('+ full.VoucherDetailId + ')"></span></button></div>'
                         return '<button type="button" class="btn btn-danger btn-xs dt-delete" onclick="deleteClick('+ full.VoucherDetailId + ')"><span class="glyphicon glyphicon-remove glyphicon-trash" aria-hidden="true""></span></button>'
                     }
                 }],
                'order': [[1, 'asc']],
                bServerSide: true,
                processing: true,
                oLanguage: { sProcessing: "<div class='loader'></div>" },
                destroy : true,
                "ajax": {
                    'type': 'POST',
                    'dataType': 'json', // payload is json

                    'url':  "@Html.Raw(Url.Action("PlaceOrderRequestList", "Epin"))",
                    'data': data,
                    pagingType: "full_numbers",
                    iDisplayLength: displaylenth,
                },
                "pageLength": displaylenth,
                fnInitComplete: function(oSettings, json) {
                    var Totalsummary = JSON.parse(json.extra);
                    var TotalQuantity= Totalsummary.SumTotalQuantity;
                    var NetAmounts= Totalsummary.SumNetAmount;
                    var VoucherWiseTotalDiscount=Totalsummary.SumVoucherWiseTotalDiscount;


                    $('#HActualOrderTotalQuantity').val(TotalQuantity)
                    $('#TotalQuantity').html(TotalQuantity);
                    $('#TotalQuantity').val(TotalQuantity);
                    $('#HTotalQuantity').val(TotalQuantity);

                    $('#NetAmount').html(NetAmounts.toFixed(2));
                    $('#NetAmount').val(NetAmounts.toFixed(2));
                    $('#HNetAmount').val(NetAmounts);

                    $('#VoucherwiseTotalDiscount').html(VoucherWiseTotalDiscount.toFixed(2));
                    $('#VoucherwiseTotalDiscount').val(VoucherWiseTotalDiscount.toFixed(2));
                    $('#HVoucherwiseTotalDiscount').val(VoucherWiseTotalDiscount);

                    var PayableAmount = 0;
                    var TotalPaybleAmount=0;

                    var OrderTotalDiscount = Totalsummary.OrderTotalDiscount;

                    var UsePercentage = Totalsummary.UsePercentage;
                    var MaximumDiscountAmount = Totalsummary.MaximumDiscountAmount;
                    var PlaceOrderTotalStartDate=Totalsummary.PlaceOrderTotalStartDate;
                    var PlaceOrderTotalEndDate=Totalsummary.PlaceOrderTotalEndDate;
                    $('#HActualOrderTotalUsePercentage').val(UsePercentage)
                    if(UsePercentage==true)
                    {
                        $('#HActualOrderTotalDiscountPercentage').val(OrderTotalDiscount)
                        $('#HActualOrderTotalDiscountAmount').val(0)
                    }
                    else{
                        $('#HActualOrderTotalDiscountPercentage').val(0)
                        $('#HActualOrderTotalDiscountAmount').val(OrderTotalDiscount)
                    }

                    $('#HActualOrderTotalMaximumDiscountAmount').val(MaximumDiscountAmount)
                    $('#HActualOrderTotalDiscountStartDate').val(PlaceOrderTotalStartDate)
                    $('#HActualOrderTotalDiscountEndDate').val(PlaceOrderTotalEndDate)

                    if(UsePercentage)
                    {
                        $('#OrderTotalDiscount').html(OrderTotalDiscount.toFixed(2));
                        $('#HOrderTotalDiscount').val(OrderTotalDiscount);
                        $('#PayableAmount').html(((NetAmounts - VoucherWiseTotalDiscount)-((NetAmounts - VoucherWiseTotalDiscount)*(OrderTotalDiscount/100))).toFixed(2));
                        $('#HPaybleAmount').val(((NetAmounts - VoucherWiseTotalDiscount)-((NetAmounts - VoucherWiseTotalDiscount)*(OrderTotalDiscount/100))));
                        TotalPaybleAmount=(NetAmounts - VoucherWiseTotalDiscount)-((NetAmounts - VoucherWiseTotalDiscount)*(OrderTotalDiscount/100));
                        if(OrderTotalDiscount > (NetAmounts - VoucherWiseTotalDiscount)) {
                            OrderTotalDiscount=0;
                        }
                        if (MaximumDiscountAmount != 0)
                        {
                            var test =(NetAmounts - VoucherWiseTotalDiscount)* (OrderTotalDiscount/100);
                            if(MaximumDiscountAmount <= ((NetAmounts - VoucherWiseTotalDiscount)* (OrderTotalDiscount/100)))
                            {
                                OrderTotalDiscount=MaximumDiscountAmount;
                                if(OrderTotalDiscount >= (NetAmounts - VoucherWiseTotalDiscount))  {
                                    OrderTotalDiscount=0;
                                }
                                $('#OrderTotalDiscount').html(OrderTotalDiscount.toFixed(2) );
                                $('#HOrderTotalDiscount').val(OrderTotalDiscount);
                            }
                            else{
                                $('#OrderTotalDiscount').html(OrderTotalDiscount.toFixed(2) +' %');
                                $('#HOrderTotalDiscount').val(OrderTotalDiscount);
                                OrderTotalDiscount=(NetAmounts - VoucherWiseTotalDiscount)* (OrderTotalDiscount/100);
                                if(OrderTotalDiscount >= (NetAmounts - VoucherWiseTotalDiscount))  {
                                    OrderTotalDiscount=0;
                                    $('#OrderTotalDiscount').html(OrderTotalDiscount.toFixed(2));
                                    $('#HOrderTotalDiscount').val(OrderTotalDiscount);
                                }
                            }



                            $('#PayableAmount').html((NetAmounts - VoucherWiseTotalDiscount - OrderTotalDiscount).toFixed(2));
                            $('#HPaybleAmount').val(NetAmounts - VoucherWiseTotalDiscount - OrderTotalDiscount);

                            TotalPaybleAmount = (NetAmounts - VoucherWiseTotalDiscount - OrderTotalDiscount);



                        }
                        else{

                            $('#PayableAmount').html(((NetAmounts - VoucherWiseTotalDiscount)-((NetAmounts - VoucherWiseTotalDiscount)*(OrderTotalDiscount/100))).toFixed(2));
                            $('#HPaybleAmount').val((NetAmounts - VoucherWiseTotalDiscount)-((NetAmounts - VoucherWiseTotalDiscount)*(OrderTotalDiscount/100)));


                            $('#OrderTotalDiscount').html(OrderTotalDiscount.toFixed(2) +' %');
                            $('#HOrderTotalDiscount').val(OrderTotalDiscount);
                            TotalPaybleAmount=(NetAmounts - VoucherWiseTotalDiscount)-((NetAmounts - VoucherWiseTotalDiscount)*(OrderTotalDiscount/100));
                        }

                    }
                    else{

                        if(OrderTotalDiscount >= (NetAmounts - VoucherWiseTotalDiscount)) {
                            OrderTotalDiscount=0;
                        }

                        $('#PayableAmount').html((NetAmounts - VoucherWiseTotalDiscount - OrderTotalDiscount).toFixed(2));
                        $('#HPaybleAmount').val(NetAmounts - VoucherWiseTotalDiscount - OrderTotalDiscount);

                        TotalPaybleAmount = (NetAmounts - VoucherWiseTotalDiscount - OrderTotalDiscount);

                        $('#OrderTotalDiscount').html(OrderTotalDiscount.toFixed(2));
                        $('#HOrderTotalDiscount').val(OrderTotalDiscount);
                    }

                    if(TotalQuantity>0)
                    {
                        $('#OrderSummary').show();
                        if ('@Model.TraderEPinSetting' == 'True') {
                            $('#divRequestTo').show();
                        }
                        else
                            $('#divRequestTo').hide();
                    }
                    if(TotalPaybleAmount>0)
                    {
                        $('#PaymodePanel').show();
                        $('#PaymodePanel').css('visibility','');
                    }
                    else
                    {
                        //$('#PaymodePanel').show();
                        $('#PaymodePanel').css('visibility','hidden');
                    }

                    $('#UsePercentage').val(UsePercentage);

                    var HPaymode =  $('#HPaymode').val()
                    if(HPaymode!='')
                        $('#Paymode-tabs a[data_id="' + HPaymode + '"]').click()



                },

            });
        }
        function deleteClick (VoucherDetailId) {
            $('#errorMessage').hide();
            $('#errorMessage').html('');
            var url='../Epin/EpinReuestVoucherDelete?VoucherDetailId='+VoucherDetailId;
            window.location.href = url;
        }



        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }



        window.onbeforeunload = function () {
            var inputs = document.getElementsByTagName("button");
            for (var i in inputs) {
                if (inputs[i].type == "button" || inputs[i].type == "submit") {
                    inputs[i].disabled = true;
                }
            }
            var inputs1 = document.getElementsByTagName("input");
            for (var i in inputs1) {
                if (inputs1[i].type == "button" || inputs1[i].type == "submit") {
                    inputs1[i].disabled = true;
                }
            }
        };
        $('#save').click(function(e) {
            var flag=true;
            $('#errorMessage').hide();
            $('#errorMessage').html('');
            var Errors="";
            var paymode= $('#HPaymode').val();
            if (paymode == 'Payments.CheckMoneyOrder' || paymode == 'Payments.DemandDraft') {
                //
                if ($('#BankName').val() == '') {
                    Errors = Errors + '<div>@T("Dashboard.MyDetails.UpgradeDetails.BankName")</div>';
                    flag = false;
                    fieldPanelValidation('#BankName');
                }

                if ($('#BranchName').val() == '') {
                    Errors = Errors + '<div>@T("Dashboard.MyDetails.UpgradeDetails.BranchName")</div>';
                    fieldPanelValidation('#BranchName');
                    flag = false;
                }

                if (paymode == 'Payments.CheckMoneyOrder') {
                    if ($('#ChequeDDNo').val() == '') {
                        Errors = Errors + '<div>@T("Dashboard.MyDetails.UpgradeDetails.ChequeNumber")</div>';
                        fieldPanelValidation('#ChequeDDNo');
                        flag = false;
                    }

                    if ($('#ChequeDDDate').val() == '') {
                        Errors = Errors + '<div>@T("Dashboard.MyDetails.UpgradeDetails.ChequeDate")</div>';
                        fieldPanelValidation('#ChequeDDDate');
                        flag = false;
                    }
                    else
                    {
                        $('#HChequeDDDate').val(getDateFromString($("#ChequeDDDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                        fieldPanelValidation('#ChequeDDDate');
                        var date = Date.parse( $('#HChequeDDDate').val());
                        if (isNaN(date))
                        {
                            flag = false;
                            Errors = Errors + '<div>@T("admin.validation.entervalidchequedate")</div>';
                        }
                    }

                    if (!flag) {

                        $('#errorMessage').html(Errors);
                        $('#errorMessage').show();
                        return false;
                    }
                }

            }

            if ($('#RequestTo').val() == '2') {

                if ($('#TraderId').val() == "") {
                    Errors = Errors + '<div>@T("Admin.Validation.TraderIdNameRequired")</div>';
                    flag = false;
                    fieldPanelValidation('#TraderName');
                    fieldPanelValidation('', ".sparkline16-hd", ".sparkline13-graph");
                }

                if ($('#TraderId').val() == "" && $('#TraderName').val() != "") {
                    fieldPanelValidation('#TraderName');
                    fieldPanelValidation('', ".sparkline16-hd", ".sparkline13-graph");
                    Errors = Errors + '<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                    flag = false;
                }
                if (!flag) {
                    $('#errorMessage').html(Errors);
                    $('#errorMessage').show();
                    return false;
                }
            }




        });
        function OrderTotalSummary() {

            var data = {

            };

            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("OrderTotalSummary", "Epin"))",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (result) {
                    if(result.success)
                    {
                        $('#TotalQuantity').html(100);
                        $('#TotalQuantity').val(100);
                        $('#HTotalQuantity').val(100);
                    }
                    else
                    {

                    }

                }
            });
            return false;

        }


        $('input[type=file]').change(function (e) {

            registrationFlag = false;

            $in = $(this);
            var i;
            var totalFileSizeInByte = 0;
            for (i = 0; i < this.files.length; i++) {
                totalFileSizeInByte += this.files[i].size;
            }
            if (4194304 <= totalFileSizeInByte) {
                $in.next().html("@T("Image must be less than 4mb")");
                $(this).val('');

            } else {
                $in.next().html("");
            }
        });

        function calculatePrice(elem,VoucherDetailId) {
            $('#errorMessage').hide();
            $('#errorMessage').html('');
            var myTable = $('#mydirectDataTable').DataTable();
            var elemVal = $(elem).val();
            var data = {
                VoucherId: VoucherDetailId,
                Quantity: elemVal,
            };

            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("RelatedEpinReuestVoucherUpdate", "Epin"))",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (result) {
                    if(result.success)
                    {

                    }
                    else
                    {
                        var validationDivs = '<div>@string.Format(T("Epinsetting.Validation.MaxNumberQuntityOnRequestAllowed").Text, Model.MaximumNumberOfQuantitySetting)</div>';
                        $("#errorMessage").show();
                        $('#errorMessage').append(validationDivs);
                    }
                    var table = $('#mydirectDataTable').DataTable(); //note that you probably already have this call
                    displaylenth = table.page.len();

                    getData();
                }
            });
            return false;

        }
    </script>


}
