﻿@model Nop.Web.Framework.Models.Epin.MemberEpinGridModel

@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
    //title
    Html.AddTitleParts(T("Account.Epin.ReceivedEpinDetails").Text);
    //register URL with return URL (if specified)
}
<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <div class="sparkline13-list shadow-reset">
        <div class="sparkline13-hd">
            <div class="main-sparkline13-hd">
                <h1>@T("Dashboard.MyNetwork.SearchOption")</h1>
                <div class="sparkline13-outline-icon">
                    <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                </div>
            </div>
        </div>
        <div class="sparkline13-graph">
            <div class="datatable-dashv1-list custom-datatable-overright">
             
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="all-form-element-inner">
                                @{
                                    var validationSummary = Html.ValidationSummary(true);
                                }
                                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                                {
                                    <div class="message-error">@validationSummary</div>
                                }
                                  <div id="validationMessages" class="message-error"></div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.VoucherListName)
                                        </div>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.VoucherListName, Model.VoucherList, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.RequestNo)
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.RequestNo, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.RequestNo)

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group-inner" id="datewsiediv">
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.FromDate)
                                        </div>
                                        <div class="col-md-6 data-custon-pick">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                @Html.EditorFor(model => model.FromDate)
                                                @Html.HiddenFor(model => model.HFromDate)
                                                @Html.ValidationMessageFor(model => model.FromDate)
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.ToDate)
                                        </div>
                                        <div class="col-md-6 data-custon-pick">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                @Html.EditorFor(model => model.ToDate)
                                                @Html.HiddenFor(model => model.HToDate)
                                                @Html.ValidationMessageFor(model => model.ToDate)
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="login-horizental cancel-wp align-middle">
                                    <button type="button" id="search" name="search" class="btn btn-custon-four btn-primary"><i class="fa fa-search"></i> @T("Tree.Search.Button")</button>
                                    <button type="button" class="btn btn-custon-four btn-warning" id="btnresetfrm"><i class="fa fa-refresh"></i> @T("Tree.Reset.Button")</button>
                                </div>
                                           
                            </div>
                        </div>
                    </div>
            
            </div>
        </div>
    </div>

    <br />
    <div class="sparkline16-list shadow-reset">
        <div class="sparkline16-hd">
            <div class="main-sparkline16-hd">
                <h1>@T("Account.Epin.ReceivedEpinDetails")</h1>                
            </div>
        </div>
        <div class="sparkline16-list shadow-reset">
            <div class="sparkline16-graph">
                <div class="datatable-dashv1-list custom-datatable-overright">
                    <div class="table-wrapper">
                        @Html.Partial("_CommanServerSideKendoGrid", Model.dataTable)
                    </div>
                </div>
            </div>
        </div>
    </div>

                                    }




@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            if ($('.validation-summary-errors ul li').html() != undefined)
            {              
                fieldPanelValidation('', ".sparkline13-hd", ".sparkline13-graph");
            }
            else{
                ResetPanelValidation("", ".sparkline13-hd", ".sparkline13-graph");
            }

            getData();
            $('#validationMessages').html('');
            $("#validationMessages").hide();

            $("#reset").click(function () {
                window.location.reload();
            });

            $("#divseachById").slideUp();
            $("#divHeadingSearch").click(function () {
                $("#divseachById").slideToggle();

            });

            $('#ToDate').datepicker({
                changeMonth: true,
                changeYear: true,
            });

            $('#FromDate').datepicker({
                changeMonth: true,
                changeYear: true,
            });

            function getData(){
                var validationDivs = '';
                $('#validationMessages').html('');

                var myDate = new Date(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
                var myFromDate = new Date(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));

                var today = new Date();

                var SearchFirstName = $("#memberID").val(), MemId = $("#searchId").val();

                if (myFromDate > today) {

                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    $('#validationMessages').html(validationDivs);
                  
                    fieldPanelValidation('#FromDate', ".sparkline13-hd", ".sparkline13-graph");
                    fieldPanelValidation('#ToDate', ".sparkline13-hd", ".sparkline13-graph");
                   
                    return false;
                }  
                else
                {
                    ResetPanelValidation('#FromDate', ".sparkline13-hd", ".sparkline13-graph");
                    ResetPanelValidation('#ToDate', ".sparkline13-hd", ".sparkline13-graph");
                  
                }

                if (myFromDate < myDate) {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    $('#validationMessages').html(validationDivs);
                    fieldPanelValidation('#FromDate', ".sparkline13-hd", ".sparkline13-graph");
                    fieldPanelValidation('#ToDate', ".sparkline13-hd", ".sparkline13-graph");
                  
                    return false;
                }
                else
                {
                    ResetPanelValidation('#FromDate', ".sparkline13-hd", ".sparkline13-graph");
                    ResetPanelValidation('#ToDate', ".sparkline13-hd", ".sparkline13-graph");
                 
                }

                $("#HFromDate").val(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
                $("#HToDate").val(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));

                var data = {
                    HFromDate:getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                    HToDate:getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),

                    VoucherListName: $('#VoucherListName').val(),
                    RequestNo: $('#RequestNo').val(),


                };
                addAntiForgeryToken(data);
                $('#mydirectDataTable').DataTable({
                    dom: 'T<"clear">lfrtip',
                    "oLanguage": {
                        "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                    },
                    tableTools: {
                        "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                        "sRowSelect": "multi",
                        "aButtons": [
                           'xls'
                        ]
                    },
                    columns:@Html.Raw(@Model.columns),
                    bServerSide: true,
                    processing: true,
                    oLanguage: { sProcessing: "<div class='loader'></div>" },
                    destroy: true,
                    "ajax": {
                        'type': 'POST',
                        'url':  "@Html.Raw(Url.Action("RecivedRequestDetails", "Epin"))",
                        'data': data,
                        //success:function(){alert('hi')}
                        pagingType: "full_numbers",
                        iDisplayLength: 10,
                    }
                });
            }
            $('#search').click(function (e) {

                getData();

            });
         
        });

        function myExcel()
        {

            $("#HFromDate").val(getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
            $("#HToDate").val(getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
            $('.loader').show();
            var data = {
                VoucherListName: $('#@Html.FieldIdFor(model => model.VoucherListName)').val(),
                RequestNo: $('#@Html.FieldIdFor(model => model.RequestNo)').val(),
                HFromDate:getDateFromString($("#FromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                HToDate:getDateFromString($("#ToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime")
            };
            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("ReceivedRequestDetailsExportToExcel", "Epin"))",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (result) {
                    $('.loader').hide();
                    if (result.fullFileName) {
                        if (result.fullFileName != null && result.fullFileName != "") {
                            window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                            ResetPanelValidation("", ".sparkline13-hd", ".sparkline13-graph")
                        }
                    }
                    else if(result.fullFileName==null) {
                        $("#validationMessages").html('');
                        var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                        $("#validationMessages").show();
                        fieldPanelValidation('', ".sparkline13-hd", ".sparkline13-graph");
                        $('#validationMessages').append(validationDivs1);
                    }

                    else {
                        var validationDivs1 = '<div>' + result.fullFileName + '</div>';
                        $("#validationMessages").show();
                        fieldPanelValidation('', ".sparkline13-hd", ".sparkline13-graph");
                        $('#validationMessages').append(validationDivs1);
                    }
                },
                error: function (result) {
                    $('.loader').hide();
                }
            });

        }

        $('#btnresetfrm').on('click', (function () {
            $('.loader').show();
            document.location = "@(Url.Action("RecivedRequestDetails", "Epin"))" ;
        }));

    </script>
}