﻿@model Nop.Admin.Models.Cities.CityModel
@using Nop.Admin.WebServices;
@using Nop.Core;


<script>
    $(document).ready(function () {
        bindBootstrapTabSelectEvent('product-attribute-edit');
    });
</script>

<div class="content">
    <div class="form-horizontal">
        <div id="blog-post-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-info", @T("Admin.Catalog.Attributes.ProductAttributes.Info"), true)

            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)

            </div>
        </div>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "product-attribute-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@*save selected tab name*@
<input type="hidden" id="selected-tab-name" name="selected-tab-name" value="@(Html.GetSelectedTabName())">

@{
    //resources for product tags input
    Html.AppendCssFileParts("~/Administration/Content/tagEditor/jquery.tag-editor.css");
    Html.AppendScriptParts("~/Administration/Scripts/tagEditor/jquery.tag-editor.min.js");
    Html.AppendScriptParts("~/Administration/Scripts/tagEditor/jquery.caret.min.js");
}

@helper TabInfo()
{
    @Html.HiddenFor(model => model.Id)

    var validationSummary = Html.ValidationSummary(true);

    if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
    {
        <div class="message-error">@validationSummary</div>
    }


    @Html.HiddenFor(model => model.Id)
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.CountryId)
                    </div>
                    <div class="col-md-9">
                        @*@Html.DropDownList("CountryId", Model.AvailableCountries)*@
                        @Html.NopDropDownListFor(model => model.CountryId, Model.AvailableCountries)

                        @Html.ValidationMessageFor(model => model.CountryId)
                        <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.StateProvinceId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.StateProvinceId, Model.AvailableStates)

                        @Html.ValidationMessageFor(model => model.StateProvinceId)
                        <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Name)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
                //
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });


    </script>

}

