﻿@model  Nop.Admin.Models.Cities.CityModel


@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    ViewBag.Title = "List";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Cities");
}

@{

    List<SelectListItem> statusList = new List<SelectListItem>{
    new SelectListItem{ Text="Active",Value="1", Selected =true},
     new SelectListItem{ Text="In-Active",Value="0"}
    };
    List<SelectListItem> selectType = new List<SelectListItem>{
    new SelectListItem{ Text="Courier",Value="1", Selected =true},
     new SelectListItem{ Text="Transporter",Value="0"}
    };
}

@*<style>
    .k-grid td {
        line-height: 10px !important;
    }
</style>*@
@using (Html.BeginForm("ImportCity", "City", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.City.ImportFromXlsx")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.City.BackToList").Text, "List")</small>
        </h1>

    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                @*<div class="col-md-12">
                                    <strong style="color:red;">@T("Admin.Configuration.cities.ExcelImportPath")</strong><br />
                                </div>*@
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.CountryId)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownList("CountryId", Model.AvailableCountries)

                                        @Html.ValidationMessageFor(model => model.CountryId)
                                        <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>

                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.StateProvinceId)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownList("StateProvinceId", Model.AvailableStates)

                                        @Html.ValidationMessageFor(model => model.StateProvinceId)
                                        <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                    </div>
                                </div>

                                @*<div class="form-group">
                                    <div class="col-md-4">
                                        <div class="label-wrapper">
                                            <label class="control-label">
                                                @T("Admin.Common.XlsxFile")
                                            </label>
                                        </div>
                                    </div>
                                   <div class="col-md-8">
                                        <input type="file" id="importexcelfile" name="importexcelfile" class="form-control" />
                                    </div>
                                </div>*@

                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <button type="submit" class="btn btn-primary">
                                            @T("Admin.Common.ImportFromXlsx")
                                        </button>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">

                        <script type="text/javascript">
                            $("#validationMessages").hide();
                            function additionalData() {
                                var data = {

                                    CountryId: $('#@Html.FieldIdFor(model => model.CountryId)').val(),
                                    StateProvinceId: $('#@Html.FieldIdFor(model => model.StateProvinceId)').val(),
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>

                        <script type="text/javascript">
                            $(function () {
                                $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
                                    var selectedItem = $(this).val();
                                    var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                                    var statesProgress = $("#states-loading-progress");
                                    statesProgress.show();
                                    $.ajax({
                                        cache: false,
                                        type: "GET",
                                        url: "@(Url.RouteUrl("GetStatesByCountryIdForImport"))",
                                        data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                                        success: function (data) {
                                            ddlStates.html('');
                                            $.each(data, function (id, option) {
                                                ddlStates.append($('<option></option>').val(option.id).html(option.name));
                                            });
                                            statesProgress.hide();
                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            alert('Failed to retrieve states.');
                                            statesProgress.hide();
                                        }
                                    });
                                });
                            });



                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>



}