﻿@model  Nop.Admin.Models.Cities.CityModel


@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    ViewBag.Title = "List";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Cities");
}

@{

    List<SelectListItem> statusList = new List<SelectListItem>{
    new SelectListItem{ Text="Active",Value="1", Selected =true},
     new SelectListItem{ Text="In-Active",Value="0"}
    };
    List<SelectListItem> selectType = new List<SelectListItem>{
    new SelectListItem{ Text="Courier",Value="1", Selected =true},
     new SelectListItem{ Text="Transporter",Value="0"}
    };
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Cities")
        </h1>
        <div class="pull-right">
            <a href="@Url.Action("Create")" class="btn bg-blue"><i class="fa fa-plus-square"></i>@T("Admin.Common.AddNew")</a>
            <a href="@Url.Action("ImportCity")" class="btn bg-olive">
                <i class="fa fa-upload"></i>
                @T("Admin.Configuration.City.ImportFromXlsx")
            </a>
        </div>

    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Name)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.Name)
                                        <div id="divfirstname" class="inputs"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.CountryId)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownList("CountryId", Model.AvailableCountries)

                                        @Html.ValidationMessageFor(model => model.CountryId)
                                        <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.StateProvinceId)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownList("StateProvinceId", Model.AvailableStates)

                                        @Html.ValidationMessageFor(model => model.StateProvinceId)
                                        <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <input type="button" id="search-suppliers" class="btn btn-primary btn-search" value="@T("Admin.Common.Search")" />


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="supplier-grid"></div>

                        <script>
                            $(document).ready(function () {
                                $("#validationMessages").hide();
                                $("#supplier-grid").show();
                                $("#supplier-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("CityGrid", "City"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    editable: {
                                        confirmation: false,
                                        mode: "inline"
                                    },
                                    scrollable: true,
                                    columns: [@*{
                                field: "Code",
                                title: "@T("Admin.Vendors.Fields.Code")",
                                // width: 300
                            },*@
                                        @*{
                                    field: "Name",
                                    title: "@T("Admin.Vendors.Fields.Name")",
                                    // width: 300
                                }, {
                                    field: "Email",
                                    title: "@T("Admin.Vendors.Fields.Email")",
                                    //  width: 300
                                },  {
                                    field: "Date",
                                    title: "@T("admin.customerreport.adt_date")",
                                    // width: 300,
                                    type: "date",
                                    format: "{0:G}"
                                }, {
                                    field: "MobileNumber",
                                    title: "@T("admin.customerreport.mobileno")",
                                    //  width: 300
                                }, {
                                    field: "ContactPerson",
                                    title: "@T("Admin.Supplier.ContactPerson")",
                                    //   width: 300
                                },*@{
                                            field: "City",
                                            title: "@T("Account.Fields.City")",
                                            width: 200
                                        },{
                                            field: "Country",
                                            title: "@T("Account.Fields.Country")",
                                            width: 200
                                        },
                                    {
                                        field: "State",
                                        title: "@T("Account.Fields.StateProvince")",
                                        width: 200
                                    },@*{
                                field: "Active",
                                title: "@T("Account.Fields.VatNumber.Status")",
                                //width: 100,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=Active#.gif" />'
                            },*@ {
                                        field: "Id",
                                        title: "@T("Admin.Common.Edit")",
                                        width: 100,
                                        template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>'
                                    }]
                                });
                            });
                        </script>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                //search button
                                $("#search-suppliers").click(function () {
                                    //search


                                    $("#supplier-grid").show();
                                    var grid = $("#supplier-grid").data('kendoGrid');
                                    grid.dataSource.page(1); //new search. Set page size to 1
                                    //grid.dataSource.read(); we already loaded the grid above using "page" function
                                    return false;
                                });

                                $("#@Html.FieldIdFor(model => model.Name)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-suppliers").click();
                                        return false;
                                    }
                                });

                                $("#btnReset").click(function () {
                                    // $("#divDatewise").show();
                                    $("#supplier-grid").hide();
                                    // $("#searchId").val("");
                                    //$("#selectStatus").val("0");
                                    //$("#pancardReport-grid").hide();
                                    //$("#validationMessages").hide();
                                    // $("#sucessMessages").hide();

                                    // $('#searchResult').hide();
                                });
                            });

                            function additionalData() {
                                var data = {

                                    Name:$('#@Html.FieldIdFor(model => model.Name)').val(),
                                    CountryId:$('#@Html.FieldIdFor(model => model.CountryId)').val(),
                                    StateProvinceId:$('#@Html.FieldIdFor(model => model.StateProvinceId)').val(),
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });

        @*$('#SearchName').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("BindSupplierName", "Supplier"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                //    
                $("#SearchName").val(ui.item.SupplierName);
                $("#SupplierId").val(ui.item.SupplierId);

                $("#divfirstname").show();
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            //   
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
            $("#AddToSupp").show();
        };*@

    </script>

}