﻿/*
* Copyright 2014 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

span.search-box-text {
	float: left;
	width: calc(100% - 32px);
}
span.search-box-text input.search-box-text {
	width: 100%;
	border-color: #999 !important;
}
/*input.instant-search-busy {
	background: url('../../../images/ajax-loader-small.gif') no-repeat right 5px center !important;
}*/
input.search-box-text.narrow {
	padding-right: 125px;
}
.search-box-select {
	position: absolute;
	top: 1px;
	right: 33px;
	width: 120px;
    height: calc(100% - 2px);
	border-width: 0 0 0 1px !important;
	border-color: #999 !important;
	background: url('images/searchbox-background.png') repeat-x top;
}
.search-box-select:focus {
	border-color: #999;
}

/* AUTOCOMPLETE */

.instantSearch {
	box-sizing: border-box !important;
	width: calc(100% - 32px) !important;
	height: auto !important;
    background-color: #fff !important;
    border: 1px solid #999;
    border-top: none;
	text-align: left;
}
.instantSearch .k-list-container {
	position: static !important;
	width: auto !important;
}
.instantSearch .k-list {
    height: 100%;
}
.instantSearch .k-item {
	border-top: 1px solid #ccc;
}
.instantSearch .k-item:first-child {
	border-top: 0;
}
.instant-search-item {
	border: 1px solid #fff;
	overflow: hidden;
	padding: 8px;
}
.instant-search-item .img-block {
	position: relative;
	float: left;
	width: 60px;
	height: 60px;
	border: 1px solid #fff;
	overflow: hidden;
}
.instant-search-item .img-block img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
.instant-search-item .detail {
	min-height: 60px;
	margin: 0 0 0 70px;
}
.instant-search-item .detail .title {
	margin: 0 0 5px;
	color: #333;
	font-size: 12px;
}
.instant-search-item .detail .price {
	font-weight: bold;
	color: #836;
}
.instant-search-item .detail .sku {
	display: none;
    margin: 5px 0;
}
.k-item.k-state-hover .instant-search-item, 
.k-item.k-state-focused .instant-search-item {
	background-color: #eee;
	cursor: pointer;
}