﻿@model Nop.Admin.Models.Suppliers.SupplierModel

@{
    ViewBag.Title = "Create";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Supplier");
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
  
    <div class="content-header clearfix">
        <h1 class="pull-left">
           @T("Admin.Supplier.AddNew")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink( T("Admin.Supplier.BackToList").Text, "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}


