﻿@model  Nop.Admin.Models.Supplier.SupplierListModel


@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;


    //page title
    ViewBag.Title = T("Admin.Suppliers").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Supplier");
}
<link href="~/Administration/Content/KendoFreezColumnHeader.css" rel="stylesheet" />
@{

    List<SelectListItem> statusList = new List<SelectListItem>{
    new SelectListItem{ Text="Active",Value="1", Selected =true},
     new SelectListItem{ Text="In-Active",Value="0"}
    };
    List<SelectListItem> selectType = new List<SelectListItem>{
    new SelectListItem{ Text="Courier",Value="1", Selected =true},
     new SelectListItem{ Text="Transporter",Value="0"}
    };
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Suppliers")
        </h1>
        <div class="pull-right">
            <a href="@Url.Action("Create")" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
            <button type="submit" id="exportexcelsupplierdetailall" name="exportexcelsupplierdetailall" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                @T("Admin.Common.ExportToExcel")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.SearchName)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.SearchName)
                                        @Html.HiddenFor(model => model.SupplierId)
                                        <div id="divfirstname" class="inputs"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.City)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.City)
                                        @Html.HiddenFor(model => model.CityId)
                                        <div id="divCityname" class="inputs"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Active)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.Active, statusList)
                                        @Html.ValidationMessageFor(model => model.Active)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.StartDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.StartDate)
                                        @Html.HiddenFor(model => model.HStartDate)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.EndDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.EndDate)
                                        @Html.HiddenFor(model => model.HEndDate)
                                    </div>
                                </div>

                                @*<tr>
                                        <td class="adminTitle">
                                            &nbsp;
                                        </td>
                                        <td class="adminData">
                                            <b> @T("Admin.Note.Note") </b> @T("Admin.Note.SupplierList")
                                        </td>
                                    </tr>*@
                                <div class="form-group">
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-8">
                                        <b id="MessageNote"> @T("Admin.Note.Note") </b> @T("Admin.Note.SupplierList")
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-4">
                                        <button type="button" id="search-suppliers" class="btn bg-blue " value="@T("Admin.Common.Search")">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="panel panel-default" id="divLockedCell">
                    <div class="panel-body">
                        <div id="supplier-grid"></div>

                        <script>

                            $(document).ready(function () {

                                $("#validationMessages").hide();
                                $("#supplier-grid").show();
                                $("#supplier-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("SupplierList", "Supplier"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    editable: {
                                        confirmation: false,
                                        mode: "inline"
                                    },
                                   // scrollable: true,
                                    columns: [@*{
                                field: "Code",
                                title: "@T("Admin.Vendors.Fields.Code")",
                                // width: 300
                            },*@
                                        {
                                            field: "Name",
                                            title: "@T("Admin.Vendors.Fields.Name")",
                                            locked: true,
                                            width: 150
                                        }, {
                                            field: "Email",
                                            title: "@T("Admin.Vendors.Fields.Email")",
                                            width: 250
                                        },  {
                                            field: "Date",
                                            title: "@T("Admin.Traders.Fields.CreatedDate")",
                                            width: 100,
                                            //type: "date",
                                            //format: "{0:G}"

                                        }, {
                                            field: "MobileNumber",
                                            title: "@T("admin.customerreport.mobileno")",
                                            width: 100
                                        }, {
                                            field: "ContactPerson",
                                            title: "@T("Admin.Supplier.ContactPerson")",
                                            width: 200
                                        },{
                                            field: "City",
                                            title: "@T("Account.Fields.City")",
                                            width: 200
                                        },{
                                            field: "CountryName",
                                            title: "@T("Account.Fields.Country")",
                                            width: 200
                                        },
                                    {
                                        field: "StateName",
                                        title: "@T("Account.Fields.StateProvince")",
                                        width: 200
                                    },{
                                        field: "Active",
                                        title: "@T("Account.Fields.VatNumber.Status")",
                                        width: 100,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '# if(Active) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                    },{
                                        field: "GSTNumber",
                                        title: "@T("Account.Fields.GSTNumber")",
                                        width: 200
                                    }, {
                                        field: "Id",
                                        title: "@T("Admin.Common.Edit")",
                                        width: 100,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                    }                                    ]
                                });
                                //var grid = $("#supplier-grid").data("kendoGrid");

                                //grid.lockColumn("Email");
                            });



                            var count=0;
                            $('a.sidebar-toggle').on('click', function () {

                                if(count==0)
                                {
                                    $.get(location.href).then(function(kendoGrid) {
                                        $("#divLockedCell").html($(kendoGrid).find("#divLockedCell").html())
                                    })
                                    count=count+1;
                                    return false;
                                }
                            });





                        </script>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                //search button
                                $('#validationMessages').hide();
                                $('#successMessages').hide();
                                $("#search-suppliers").click(function () {
                                    //search

                                    if( $('#SearchName').val()=="")
                                        $('#SupplierId').val('0');
                                    $("#validationMessages").hide();


                                    var myDate = new Date(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                    var myFromDate = new Date(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));


                                    var today = new Date();
                                    var validationDivs='';
                                    var start_time=$("#DatewiseFrom").val();
                                    var end_time=$("#DatewiseTo").val();

                                    if (myFromDate > today) {

                                        $("#validationMessages").show();
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                                        $('#validationMessages').html(validationDivs);
                                        // flag=false;
                                        $('#supplier-grid').hide();
                                        return false;
                                    }
                                    if (myFromDate < myDate) {
                                        $("#validationMessages").show();
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                                        //flag=false;
                                        $('#validationMessages').html(validationDivs);
                                        $('#supplier-grid').hide();
                                        return false;
                                    }

                                    $("#supplier-grid").show();
                                    $("#HStartDate").val(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                    $("#HEndDate").val(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                    var grid = $("#supplier-grid").data('kendoGrid');
                                    grid.dataSource.page(1); //new search. Set page size to 1
                                    //grid.dataSource.read(); we already loaded the grid above using "page" function
                                    return false;

                                });

                                $("#@Html.FieldIdFor(model => model.SearchName)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-suppliers").click();
                                        return false;
                                    }
                                });
                                $("#@Html.FieldIdFor(model => model.City)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-suppliers").click();
                                        return false;
                                    }
                                });
                                $("#btnReset").click(function () {
                                    // $("#divDatewise").show();
                                    $("#supplier-grid").hide();
                                    // $("#searchId").val("");
                                    //$("#selectStatus").val("0");
                                    //$("#pancardReport-grid").hide();
                                    //$("#validationMessages").hide();
                                    // $("#sucessMessages").hide();

                                    // $('#searchResult').hide();
                                });
                            });

                            function additionalData() {

                                var data = {
                                    SupplierId: $('#@Html.FieldIdFor(model => model.SupplierId)').val(),
                                    CityId: $('#@Html.FieldIdFor(model => model.CityId)').val(),
                                    City:$('#@Html.FieldIdFor(model => model.City)').val(),
                                    CountryId:$('#@Html.FieldIdFor(model => model.CountryId)').val(),
                                    StateProvinceId:$('#@Html.FieldIdFor(model => model.StateProvinceId)').val(),
                                    Active:$('#@Html.FieldIdFor(model => model.Active)').val(),
                                    //StartDate: getDate($("#StartDate").data("kendoDatePicker").value()),
                                    //EndDate:getDate($("#EndDate").data("kendoDatePicker").value()),
                                    HStartDate:getDate($("#StartDate").data("kendoDatePicker").value()),
                                    HEndDate:getDate($("#EndDate").data("kendoDatePicker").value())
                                    @*StartDate:$('#@Html.FieldIdFor(model => model.StartDate)').val(),
                            EndDate:$('#@Html.FieldIdFor(model => model.EndDate)').val(),*@

                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>

                        <script type="text/javascript">
                            $(function () {
                                $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
                                    var selectedItem = $(this).val();
                                    var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                                    var statesProgress = $("#states-loading-progress");
                                    statesProgress.show();
                                    $.ajax({
                                        cache: false,
                                        type: "GET",
                                        url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                                        data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                                        success: function (data) {
                                            ddlStates.html('');
                                            $.each(data, function (id, option) {
                                                ddlStates.append($('<option></option>').val(option.id).html(option.name));
                                            });
                                            statesProgress.hide();
                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            alert('Failed to retrieve states.');
                                            statesProgress.hide();
                                        }
                                    });
                                });
                            });

                            $('#SearchName').autocomplete({
                                delay: 500,
                                minLength: 1,
                                source: '@(Url.Action("BindSupplierName", "Supplier"))',
                                appendTo: '.search-box',
                                select: function (event, ui) {
                                    //    
                                    $("#SearchName").val(ui.item.SupplierName);
                                    $("#SupplierId").val(ui.item.SupplierId);

                                    $("#divfirstname").show();
                                }
                            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                                //   
                                var t = item.label;
                                //html encode
                                t = $('<div/>').text(t).html();
                                return $("<li></li>")
                                    .data("item.autocomplete", item)
                                    .append("<a><span>" + t + "</span></a>")
                                    .appendTo(ul);
                                $("#AddToSupp").show();
                            };

                            $('#City').autocomplete({
                                delay: 500,
                                minLength: 1,
                                source: '@(Url.Action("BindCityName", "Supplier"))',
                                appendTo: '.search-box',
                                select: function (event, ui) {
                                    //    
                                    $("#City").val(ui.item.CityName);
                                    $("#CityId").val(ui.item.CityId);

                                    $("#divCityname").show();
                                }
                            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                                //   
                                var t = item.label;
                                //html encode
                                t = $('<div/>').text(t).html();
                                return $("<li></li>")
                                    .data("item.autocomplete", item)
                                    .append("<a><span>" + t + "</span></a>")
                                    .appendTo(ul);
                                $("#AddToSupp").show();
                            };

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
