﻿/*
* Copyright 2014 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

/*=====================================================
    
    RESPONSIVE

=====================================================*/

@media all and (min-width: 240px) {

    .menu-title {
        text-align: center;
    }
    .mega-menu,
    .header-menu .menu-title,
    .dropdown {
        display: none;
    }

}

@media all and (max-width: 1000px) {

    .dropdown .topic-wrapper {
        display: none;
    }
    
}

/*=====================================================
    
    DESKTOP

=====================================================*/

@media all and (min-width: 1001px) {

    .menu-title,
    .close-menu {
        display: none;
    }

/* MAIN PANEL & DROPDOWN*/

    .mega-menu {
        position: relative;
        z-index: 1001;
        display: block;
    }
    .mega-menu-responsive {
        display: none !important;
    }
    .mega-menu .dropdown {
        display: none;
        position: absolute;
        box-shadow: 0 2px 2px rgba(0,0,0,0.15);
        background: rgba(255,255,255,.94);
        z-index: 3;
        top: 57px;
    }
        .mega-menu .dropdown:before {
            content: " ";
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            height: 15px;
            background: transparent;            
        }
    .mega-menu .dropdown.active {
        display: block;
    }
    .mega-menu .dropdown.fullWidth {
        left: 50%;
        margin-left: -500px;
        width: 1000px;
    }

/* ROWS AND BOXES */


    .mega-menu .row-wrapper {
        display: table;
        width: 100%;
    }
    .mega-menu .row {
        overflow: hidden;
        display: table-row;
    }
    .dropdown .box {
        float: left;
        padding: 0 15px 20px;
    }
    .categories.fullWidth .box {
        width: 33.3333333%;
        height: 100%;
        border-right: 1px dotted #d3d3d3;
        border-bottom: 1px dotted #d3d3d3;
        padding: 10px 16px 10px 17px;
        display: table-cell;
        float: none;
    }
    .categories.fullWidth .row:last-child .box {
        border-bottom: 0;
    }
    .categories.fullWidth .row .box:last-child {
        border-right: 0;
    }

    .categories .box,
    .manufacturers .box,
    .vendors .box {
        width: 250px;
    }
    .mega-menu .title {
        font: normal 20px/normal "Kelly Slab", Calibri, sans-serif;
        color: #666;
        text-transform: uppercase;
        text-align: left;
        padding: 0 15px;
        margin: 0 0 5px;
    }
    .mega-menu .title a {
    }
    .mega-menu .title a:hover {
	    color: #8bc8ca;
    }
    .mega-menu .picture-title-wrap {
        margin: 0 0 10px;
    }
    .mega-menu .picture a {
	    display: block;
        position: relative;
        overflow: hidden;
    }
        .mega-menu .picture a:before {
	        content: " ";
            display: block;
            padding-top: 43.3333333%;
        }
        .mega-menu .picture img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            max-width: 100%;
        }
    .mega-menu .subcategories {
    }
    .mega-menu .box ul {
    }
    .mega-menu .box li {
        text-align: left;
    }
    .mega-menu .box li a {
        position: relative;
        padding: 5px 5px 5px 14px;
        font-size: 18px;
        line-height: 1;
        display: block;
        color: #333;
    }
        .mega-menu .box li a:before {
            content: " ";
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -3px;
            width: 6px;
            height: 6px;
            border-radius: 100%;
            background: #8bc8ca;
        }
    .mega-menu .box li a:hover {
        color: #8bc8ca;
    }
    .mega-menu .box .subcategories li a {
        display:inline-block;
    }
    .mega-menu .box li:nth-child(odd) a:hover {
    }
    .mega-menu .box li:nth-child(even) a:hover {
    }
    .mega-menu li a.view-all {
	    font-weight: bold;
        background: none;
    }

    /* manufacturers */

    .manufacturers.fullWidth .row-wrapper,
    .vendors.fullWidth .row-wrapper {
        display: block;
    }
    .manufacturers.fullWidth .row,
    .vendors.fullWidth .row {
        padding: 5px;
        display: block;
    }
    .manufacturers.fullWidth .box,
    .vendors.fullWidth .box {
        width: 16.66666666666667%;
        padding: 10px;
        position: relative;
    }
    .manufacturers.fullWidth .title,
    .vendors.fullWidth .title {
        text-align: center;
        padding: 0;
        margin: 0;
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 10px;
        font-size: 18px;
        height: 22px;
        overflow: hidden;
    }
    .manufacturers.fullWidth .box .picture,
    .vendors.fullWidth .box .picture {
        margin: 0 0 29px;
    }
    .mega-menu .box .picture a.manufacturer:before,
    .mega-menu .box .picture a.vendor:before {
        display: none;
    }
    .manufacturers.fullWidth .picture a,
    .vendors.fullWidth .picture a {
        display: block !important;
    }
    .manufacturers.fullWidth .picture a:before,
    .vendors.fullWidth .picture a:before {
        content: "";
        position: static !important;
        display: block !important;
        padding-top: 100% !important;
        width: auto !important;
        height: auto !important;
        border-radius: unset !important;
        background: none !important;
        margin: 0 !important;
    }
    .manufacturers.fullWidth .picture img,
    .vendors.fullWidth .picture img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }

    /* topics */

    .mega-menu .topic-wrapper {
        overflow: hidden;
    }
        .mega-menu .topic-wrapper .box {
	        padding: 0;
        }
        .mega-menu .dropdown p {
	        font-size: 16px;
            line-height: 1.2;
            padding: 0 10px 20px;
        }
        .mega-menu .topic-wrapper strong {
	        display: block;
	        border-bottom: 1px dotted #c3c3c3;
	        padding: 5px 10px;
	        color: #666;
            font: normal 20px/normal "Kelly Slab", Calibri, sans-serif;
        }

}