/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.slider-wrapper {
    position: relative;
	margin: 0 0 40px;
}
.nivoSlider {
	position: relative;
	background: #fff url('loading.gif') center no-repeat;
}
.nivoSlider a {
	display: block;
	border: none;
}
.nivoSlider img {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

/* NAVIGATION */

.nivo-directionNav a {
	top: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	border: none;
	font-size: 0;
	opacity: 0.7;
}
a.nivo-prevNav {
	left: 15px;
	background: url('arrow-left.png') no-repeat;
}
a.nivo-nextNav {
	right: 15px;
	background: url('arrow-right.png') no-repeat;
}
.nivo-directionNav a:hover {
	opacity: 1;
}
.nivo-controlNav {
    position: absolute;
    width: 100%;
    bottom: 0;
	left: 0;
    z-index: 99;
	padding: 10px 0;
	font-size: 0;
}
.nivo-controlNav a {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 3px;
	background: url('bullets.png') no-repeat bottom;
}
.nivo-controlNav a.active {
	background-position: top;
}

/* THUMBNAIL NAVIGATION removed*/
/* CAPTION TITLE removed*/

.nivo-controlNav img,
.nivo-caption {
	display: none;
}