﻿@model Nop.Web.Framework.Models.MyTeam.MyDirect
@Html.Partial("_CommanServerSideKendoGrid", Model.dataTable) 

<script>
    var columnsLists;
    function getGrideData() {

        setData();
        $('#mydirectDataTable').DataTable({
            dom: 'T<"clear">lfrtip',
            "oLanguage": {
                "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
            },
            tableTools: {
                "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                "sRowSelect": "multi",
                "aButtons": [
                   'xls'
                ]
            },
            columns: @Html.Raw(@Model.columns),
            bServerSide: true,
            destroy: true,
            processing: true,
            oLanguage: { sProcessing: "<div class='loader'></div>" },
            "ordering": false,
            "ajax": {
                'type': 'POST',
                'url': "@Html.Raw(Url.Action("MyDirect", "MyNetwork"))",
                'data': data,
                pagingType: "full_numbers",
                iDisplayLength: 10
            }
        });


    }
    $(document).ready(function () {
        columnsList=@Html.Raw(@Model.columns);
        getGrideData();


        if('@Model.HideExportToExcelFunctionality'=='True')
        {
            $("#ToolTables_mydirectDataTable_0").css("display","none")
        }
    });
</script>

@*Comment Added*@