﻿@model Nop.Web.Models.MyNetwork.GenerationTreeViewMemberModel
@{

    Html.AddTitleParts(T("Admin.MemberReport.GenerationTreeView").Text);
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
}
@{
    string prevButton = Model.btnPrevious.ToString();
    string nextButton = Model.btnNext.ToString();

}

<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
@section styles{
    <style>
        .no-border {
            border: 0;
            border-style: none;
        }

        .genealogy-img {
            height: 32px;
            width: 32px;
        }

        .txtwide {
            width: 100%;
        }

        hr {
            border-top: 1px solid #000 !important;
        }

        .padding-b-5 {
            padding: 0 !important;
            padding-bottom: 5px !important;
        }

        .padding-5 {
            padding: 5px !important;
        }

        .no-padding-b {
            padding-bottom: 0 !important;
        }

        .important, .errmsg {
            color: Red;
            padding: 5px;
        }

        #message-error {
            font-weight: bold;
            padding-top: 0.5em;
        }

        #container {
            padding-bottom: 0em;
        }

        #tblExport {
            margin-bottom: 1em;
        }

        /*.button-1 {
            margin: 1em;
        }*/

        .text-primary {
            color: #428bca;
        }

        a.text-primary:hover {
            color: #3071a9;
        }

        .text-danger {
            color: #a94442;
        }

        a.text-danger:hover {
            color: #843534;
        }

        #pnltree {
            padding-bottom: 3em;
        }

        hr {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }

        td, th {
            padding-bottom: 0px !important;
            padding-top: 0px !important;
            padding-left: 6px !important;
            padding-right: 6px !important;
        }

        img {
            max-width: inherit !important;
            height: auto;
        }

        #ScrollableDiv {
            overflow: inherit !important;
        }
    </style>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.currentMemId)
    <br />
    <div class="sparkline13-list">
        <div class="sparkline13-hd">
            <div class="main-sparkline13-hd">
                <h1>@T("Dashboard.MyNetwork.SearchOption")</h1>
                <div class="sparkline13-outline-icon">
                    <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                </div>
            </div>
        </div>
        <div class="sparkline13-graph">
            <div class="datatable-dashv1-list custom-datatable-overright">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="all-form-element-inner">
                            <br />
                            @{
                                var validationSummary = Html.ValidationSummary(true);
                            }
                            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                            {
                                <div class="message-error">@validationSummary</div>
                            }
                            @Html.HiddenFor(model => model.memNumber)
                            @Html.HiddenFor(model => model.searchId)
                            <div class="message-error" id="message-error"></div>

                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>@T("Mynetwork.Search.Name")</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="SearchFirstName" value="" class="form-control" name="SearchFirstName" />
                                        <input type="hidden" name="searchId" id="hiddenSearchMemno" value="" />
                                        <div id="divfirstname" class="inputs">

                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                            <div class="login-horizental cancel-wp align-middle">
                                <button type="button" class="btn btn-custon-four btn-primary" id="search" tabindex="2"><i class="fa fa-search"></i> @T("Tree.Search.Button")</button>
                                <button type="button" class="btn btn-custon-four btn-warning" id="btnreset" tabindex="1"><i class="fa fa-refresh"></i> @T("Tree.Reset.Button")</button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <br />
                    <div class="sparkline16-list shadow-reset">
                        <div class="sparkline16-hd">
                            <div class="main-sparkline16-hd">
                                <h1>@T("Admin.MemberReport.GenerationTreeView")</h1>
                                @*<div class="sparkline16-outline-icon">
                                        <span class="sparkline16-collapse-link"><i class="fa fa-chevron-down"></i></span>
                                    </div>*@
                            </div>
                        </div>
                        <div class="sparkline16-graph">
                            <div class="customer-blocks" style="overflow-x:scroll">
                                <div class="panel panel-default" style="box-shadow: none!important;">
                                    <div class="panel-body" style="box-shadow: none!important;">
                                        @Html.Action("TreeDatatable", "MyNetwork")

                                        <div id="container" style="text-align:center">
                                            <div class="showNoteonlyMobileview" style="text-align: center">
                                                <b style="color:red;font-weight:bold ;"> @T("Admin.Note.Note") </b> @T("Admin.MemberReport.TreeView.NoteForMobileRespinsive")
                                            </div>

                                            <div class="buttons">
                                                <button type="button" id="btnPrevious" class="btn btn-custon-four btn-success" tabindex="1"><i class="fa fa-arrow-circle-left"></i> @T("Admin.Generation.PrevButton")</button>
                                                <button type="button" id="btnNext" class="btn btn-custon-four btn-success" tabindex="1"> @T("Admin.Generation.NextButton") <i class="fa fa-arrow-circle-right"></i> </button>
                                            </div>
                                            <div id="upPosstion">
                                                <button type="button" id="searchUpTree" class="btn btn-custon-four btn-primary" tabindex="1"><i class="fa fa-arrow-circle-up"></i> @T(" Tree.Search.UpTree")</button>
                                            </div>
                                            <div id="ScrollableDiv" style="margin-top:2%">
                                                <div class="col-md-12 col-sm-12">
                                                   
                                                    <div id="pnltree">
                                                        <table cellpadding="0" cellspacing="1" borderwidth="0" width="100%">
                                                            <tr>
                                                                <td style="text-align:center" id="tdGetTree">
                                                                    @if (Model != null)
                                                                    {
                                                                        @Html.Raw(Model.getTreestring)
                                                                    }
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                }
@section scripts{
    <script src="~/content/treeview/wz_tooltip.js"></script>
    <script language="javascript" type="text/javascript">

        function donothing() { }

        function fnSetText(NoF, fld1, fld2, fld3, fld4, fld5, fld6, fld7, fld8, fld9, fld10, fld11, fld12, fld13, fld14, fld15, fld16, fld17, fld18,fld19,fld20, exp1, exp2, exp3, exp4, exp5, exp6, exp7, exp8, exp9, exp10, exp11, exp12, exp13, exp14, exp15, exp16, exp17, exp18, exp19, exp20)  {
            var Identity = '<%Response.Write(IIf(Application("MemberConvention") IsNot Nothing, Application("MemberConvention").ToString, Application("Get_Mem").ToString))%>';
            var n = +NoF;

            exp1 = exp1.trim();
            exp2 = exp2.trim();
            exp3 = exp3.trim();
            exp4 = exp4.trim();
            exp20 = exp20.trim();
            exp5 = exp5.trim();
            exp6 = exp6.trim();
            exp7 = exp7.trim();
            exp8 = exp8.trim();
            exp9 = exp9.trim();
            exp10 = exp10.trim();
            exp11 = exp11.trim();
            exp12 = exp12.trim();
            exp13 = exp13.trim();
            exp14 = exp14.trim();
            exp15 = exp15.trim();
            exp16 = exp16.trim();
            exp17 = exp17.trim();
            exp18 = exp18.trim();
            exp19 = exp19.trim();

            varString = "<div style='border:3px solid #ddd;color:black;background:#fff;border-radius:3px' class='padding-5 no-padding-b'>";


            if (exp1 != "") {
                varString += "<div class='padding-b-5'><span class='text-primary'>"  + fld1 + "</span>:&nbsp;<span class='text-danger'>" + exp1 + "</span></div>";
            }

            if (exp2 != "") {
                varString += "<div class='padding-b-5'><span class='text-primary'>"  + fld2 + "</span>:&nbsp;<span class='text-danger'>" + exp2 + "</span></div>";
            }

            if (exp3 != "") {
                varString += "<div class='padding-b-5'><span class='text-primary'>"  + fld3 + "</span>:&nbsp;<span class='text-danger'>" + exp3 + "</span></div>";
            }

            if (exp4 != "") {
                varString += "<div class='padding-b-5'><span class='text-primary'>"  + fld4 + "</span>:&nbsp;<span class='text-danger'>" + exp4 + "</span></div>";
            }
            if (exp20 != "") {
                varString += "<div class='padding-b-5'><span class='text-primary'>"  + fld20 + "</span>:&nbsp;<span class='text-danger'>" + exp20 + "</span></div>";
            }
            if (exp5 != "") {
                varString += "<div class='padding-b-5'><span class='text-primary'>"  + fld5 +"</span>:&nbsp;<span class='text-danger'>" + exp5 + "</span></div>";
            }

            if (exp6 != "") {
                varString += "<div class='padding-b-5'><span class='text-primary'>"  + fld6 + "</span>:&nbsp;<span class='text-danger'>" + exp6 + "</span></div>";
            }

            if (exp7 != "") {
                varString += "<div class='padding-b-5'><span class='text-primary'>"  + fld7 + "</span>:&nbsp;<span class='text-danger'>" + exp7 + "</span></div>";
            }
            if (exp8 != "") {
                varString += "<div class='padding-b-5'><span class='text-primary'>"  + fld8 + "</span>:&nbsp;<span class='text-danger'>" + exp8 + "</span></div>";
            }
            if (exp9 != "") {
                varString +="<div class='padding-b-5'><span class='text-primary'>"  + fld9 + "</span>:&nbsp;<span class='text-danger'>" + exp9 + "</span></div>";
            }
            if (exp10 != "") {
                varString += "<div class='padding-b-5'><span class='text-primary'>"  + fld10 +"</span>:&nbsp;<span class='text-danger'>" + exp10 + "</span></div>";
            }
            if (exp11 != "") {
                varString += "<div class='padding-b-5'><span class='text-primary'>"  + fld11 + "</span>:&nbsp;<span class='text-danger'>" + exp11 + "</span></div>";
            }
            if (exp12 != "") {
                varString += "<div class='padding-b-5'><span class='text-primary'>"  + fld12 + "</span>:&nbsp;<span class='text-danger'>" + exp12 + "</span></div>";
            }
            if (exp13 != "") {
                varString += "<div class='padding-b-5'><span class='text-primary'>"  + fld13 + "</span>:&nbsp;<span class='text-danger'>" + exp13 + "</span></div>";
            }
            if (exp14 != "") {

                varString += "<div class='padding-b-5'><span class='text-primary'>"  + fld14 + "</span>:&nbsp;<span class='text-danger'>" + exp14 + "</span></div>";
            }
            if (exp15 != "") {
                varString += "<div class='padding-b-5'><span class='text-primary'>"  + fld15 + "</span>:&nbsp;<span class='text-danger'>" + exp15 + "</span></div>";
            }
            if (exp16 != "") {
                varString += "<div class='padding-b-5'><span class='text-primary'>"  + fld16 + "</span>:&nbsp;<span class='text-danger'>" + exp16 + "</span></div>";
            }
            if (exp17 != "") {
                varString += "<div class='padding-b-5'><span class='text-primary'>"  + fld17 + "</span>:&nbsp;<span class='text-danger'>" + exp17 + "</span></div>";
            }
            if (exp18 != "") {
                varString += "<div class='padding-b-5'><span class='text-primary'>"  + fld18 + "</span>:&nbsp;<span class='text-danger'>" + exp18 + "</span></div>";
            }
            if (exp19 != "") {
                varString += "<div class='padding-b-5'><span class='text-primary'>"  + fld19 + "</span>:&nbsp;<span class='text-danger'>" + exp19 + "</span></div>";
            }

            varString += "</table>";

            Tip(varString);

        }


        $('#btnreset').on('click', (function () {

            //On Click loader Show Code
            $('.loader').show();

            document.location = "@(Url.Action("GenerationTreeView", "MyNetwork", new { id = 0 }))" ;
        }));

        $("#message-error").hide();

        $('#search').on('click', (function () {
            //On Click loader Show Code
            $('.loader').show();

            $("#divseachById").show();
            if ($("#SearchFirstName").val() == "") {
                $("#message-error").show();
                $("#message-error").html("@T("Admin.TreeView.IDName")");
                fieldPanelValidation("#SearchFirstName",".sparkline13-hd", ".sparkline13-graph") ;
                $("#SearchFirstName").focus();
                return;
            }
            else
            {
                ResetPanelValidation("#SearchFirstName",".sparkline13-hd", ".sparkline13-graph") ;
            }
            var id = $("#searchId").val();

            var SearchFirstName = $("#SearchFirstName").val();
            var data = { searchId: id, SearchFirstName: SearchFirstName };
            addAntiForgeryToken(data);
            $.ajax({
                type: "POST",
                data: data,
                dataType: "json",
                url: '@(Url.Action("GenerationTreeViewShow", "MyNetwork"))',
                success: function (d) {

                    //after success loader Hide Code
                    $('.loader').hide();

                    if($('#hiddenSearchMemno').val()!="")
                    {
                        if (d.CurrentMemNo == d.memnos) {
                            $('#upPosstion').hide();
                            $('#currentMemId').val(d.CurrentMemNo);
                        }
                        else {
                            $('#upPosstion').show();
                            $('#currentMemId').val(d.CurrentMemNo);
                        }
                    }

                    if (d == "validID") {
                        $("#message-error").show();
                        $("#message-error").html("@T("Member.TreeView.InvalidIDName")");
                        $("#SearchFirstName").val("");
                        $("#SearchFirstName").focus();
                        fieldPanelValidation("#SearchFirstName",".sparkline13-hd", ".sparkline13-graph") ;
                        return;
                    }
                    else if (d == "validdownline") {
                        $("#message-error").show();
                        $("#message-error").html("@T("Member.TreeView.InvalidIDDownline")");
                        $("#SearchFirstName").val("");
                        $("#SearchFirstName").focus();
                        fieldPanelValidation("#SearchFirstName",".sparkline13-hd", ".sparkline13-graph") ;
                        return;
                    }
                    else
                    {
                        ResetPanelValidation("#SearchFirstName",".sparkline13-hd", ".sparkline13-graph") ;
                        $("#message-error").hide();
                    }


                    if ($('#currentMemId').val() == d.memnos) {

                        $('#upPosstion').hide();
                    }
                    else {
                        $('#upPosstion').show();
                    }

                    $("#btnPrevious").hide();
                    $("#btnNext").hide();
                    $("#tdGetTree").html(d.getTreestring);
                    if (d.btnPrevious == 1)
                        $("#btnPrevious").show();
                    if (d.btnNext == 1)
                        $("#btnNext").show();

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //after error loader Hide Code
                    $('.loader').hide();
                }
            });

        }));

        $('#tbTree').attr('cellspacing', "1");


        if ($('#currentMemId').val() == $('#position0').text()) {

            $('#upPosstion').hide();
        }
        else {
            $('#upPosstion').show();
        }

        $(document).ready(function () {

            if ($('#currentMemId').val() == $('#position0').text()) {

                $('#upPosstion').hide();
            }
            else {
                $('#upPosstion').show();
            }


            $("#divfirstname").hide();
            $('#SearchFirstName').autocomplete({
                delay: 500,
                minLength: 1,
                source: '@(Url.Action("SearchTermAutoCompleteGeneration", "MyNetwork"))',
                appendTo: '.search-box',
                select: function (event, ui) {
                    $("#hiddenSearchMemno").val(ui.item.MJD_MemID);
                    $("#SearchFirstName").val(ui.item.label);
                    $("#divfirstname").show();
                    return false;
                }, change: function (event, ui) {
                    if (ui.item == null) {
                        $("#hiddenTraderno").val("");
                        $("#SearchFirstName").val("");
                        $("#divfirstname").show();
                    }
                },
                search: function () { $('.loader').show(); },
                open: function () { $('.loader').hide() },

            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                var t = item.label;
                //html encode
                t = $('<div/>').text(t).html();
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a><span>" + t + "</span></a>")
                    .appendTo(ul);
            };

        });

        $('#searchUpTree').on('click', (function () {

            //On Click loader Show Code
            $('.loader').show();

            var id = $("#searchId").val();
            var SearchFirstName = $('#position0').text();
            var data = { searchId: id, SearchFirstName: SearchFirstName };
            addAntiForgeryToken(data);
            $.ajax({
                type: "POST",
                data: data,
                dataType: "json",
                url: '@(Url.Action("GenerationTreeViewShowOnUpPossition", "MyNetwork"))',
                success: function (d) {

                    //after success loader Hide Code
                    $('.loader').hide();

                    if ($('#currentMemId').val() == d.memnos) {
                        $('#upPosstion').hide();
                    }
                    else {
                        $('#upPosstion').show();
                    }

                    if (d == "validID") {
                        $("#message-error").show();
                        $("#message-error").html("@T("Member.TreeView.InvalidIDName")");
                        $("#SearchFirstName").val("");
                        $("#SearchFirstName").focus();
                        fieldPanelValidation("#SearchFirstName",".sparkline13-hd", ".sparkline13-graph") ;

                        return;
                    }

                    else
                    {
                        ResetPanelValidation("#SearchFirstName",".sparkline13-hd", ".sparkline13-graph")  ;

                        $("#message-error").hide();
                    }

                    $("#btnPrevious").hide();
                    $("#btnNext").hide();
                    $("#tdGetTree").html(d.getTreestring);
                    if (d.btnPrevious == 1)
                        $("#btnPrevious").show();
                    if (d.btnNext == 1)
                        $("#btnNext").show();

                },
                error: function (xhr, ajaxOptions, thrownError) {

                    //after error loader Hide Code
                    $('.loader').hide();
                }
            });
        }));


    </script>


    <script>
        $("#btnPrevious").hide();
        $("#btnNext").hide();
        if( @prevButton=="1")
            $("#btnPrevious").show();
        if( @nextButton=="1")
            $("#btnNext").show();

        $('#btnNext').on('click', (function (e) {

            //On Click loader Show Code
            $('.loader').show();

            var data = { searchId: "next", SearchFirstName: "0" };
            addAntiForgeryToken(data);
            $.ajax({
                type: "POST",
                data: data,
                dataType: "json",
                processing: true,
                oLanguage: {sProcessing: "<div class='loader'></div>"},
                url: '@(Url.Action("GenerationTreeViewShow", "MyNetwork"))',
                success: function (d) {

                    //after success loader Hide Code
                    $('.loader').hide();

                    if (d == "validID") {
                        $('#message-error').show();
                        $('#message-error').html("@T("Admin.TreeView.InvalidIDName")");
                        $("#SearchFirstName").val("");
                        $("#SearchFirstName").focus();
                        fieldPanelValidation("#SearchFirstName",".sparkline13-hd", ".sparkline13-graph") ;
                        return;
                    }
                    else
                    {
                        ResetPanelValidation("#SearchFirstName",".sparkline13-hd", ".sparkline13-graph") ;
                    }
                    //  alert(d.getTreestring);
                    $("#btnPrevious").hide();
                    $("#btnNext").hide();
                    $("#tdGetTree").html(d.getTreestring);
                    if (d.btnPrevious == 1)
                        $("#btnPrevious").show();
                    if (d.btnNext == 1)
                        $("#btnNext").show();
                },
                error: function (xhr, ajaxOptions, thrownError) {

                    //after error loader Hide Code
                    $('.loader').hide();
                }
            });
        }));


        $('#btnPrevious').on('click', (function (e) {

            //On Click loader Show Code
            $('.loader').show();

            var data = { searchId: "prev", SearchFirstName: "0" };
            addAntiForgeryToken(data);
            $.ajax({
                type: "POST",
                data: data,
                dataType: "json",
                processing: true,
                oLanguage: {sProcessing: "<div class='loader'></div>"},
                url: '@(Url.Action("GenerationTreeViewShow", "MyNetwork"))',
                success: function (d) {

                    //after error loader Hide Code
                    $('.loader').hide();

                    if(d.checkPositiononPreviusbutton == null)
                    {
                        location.reload();
                    }

                    if (d == "validID") {
                        $('#message-error').show();
                        $('#message-error').html("@T("Admin.TreeView.InvalidIDName")");
                        $("#SearchFirstName").val("");
                        $("#SearchFirstName").focus();
                        fieldPanelValidation("#SearchFirstName",".sparkline13-hd", ".sparkline13-graph") ;

                        return;
                    }
                    else
                    {
                        ResetPanelValidation("#SearchFirstName",".sparkline13-hd", ".sparkline13-graph") ;
                    }
                    //  alert(d.getTreestring);
                    $("#btnPrevious").hide();
                    $("#btnNext").hide();

                    $("#tdGetTree").html(d.getTreestring);



                    if (d.btnPrevious == 1)
                        $("#btnPrevious").show();

                    if (d.btnNext == 1)
                        $("#btnNext").show();

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //after error loader Hide Code
                    $('.loader').hide();
                }
            });


        }));

    </script>
}


