﻿@model Nop.Web.Framework.Models.DashBoard.DashboardDetails
<script src="~/Scripts/DataTables/dataTables.tableTools.js"></script>

<div class="panel-heading">
    <h3>@T("Dashboard.MyNetwork.mydownlinedetails")</h3>
</div>



    @Html.Partial("_NestedCommanKendoGridOne", Model.dataTable)

 


@*@if (Model.BinaryDownlineListToday.flagplanType == 1)
    {
        <div class="x_content" id="ScrollableDiv">
            <table id="MyBinaryDownline" class="display  nowrap stripe cell-border" cellspacing="0" width="100%">

                <thead>
                    <tr>
                        <th></th>
                        <th> @Html.LabelFor(model => model.mybinaryDetails.totalLeftcount)</th>
                        <th> @Html.LabelFor(model => model.mybinaryDetails.totalRightcount)</th>
                        <th> @Html.LabelFor(model => model.mybinaryDetails.confirmedLeftcount)</th>
                        <th> @Html.LabelFor(model => model.mybinaryDetails.confirmedRightcount)</th>
                        @if (Model.BinaryDownlineListToday.flagPV == 1)
                        {
                            <th> @Html.LabelFor(model => model.mybinaryDetails.totalLeftPV)</th>
                            <th> @Html.LabelFor(model => model.mybinaryDetails.totalRightPV)</th>
                            <th> @Html.LabelFor(model => model.mybinaryDetails.confirmedLeftPV)</th>
                            <th> @Html.LabelFor(model => model.mybinaryDetails.confirmedRightPV)</th>
                        }
                        @if (Model.BinaryDownlineListToday.flagBV == 1)
                        {
                            <th> @Html.LabelFor(model => model.mybinaryDetails.totalLeftBV)</th>
                            <th> @Html.LabelFor(model => model.mybinaryDetails.totalRightBV)</th>
                            <th> @Html.LabelFor(model => model.mybinaryDetails.confirmedLeftBV)</th>
                            <th> @Html.LabelFor(model => model.mybinaryDetails.confirmedRightBV)</th>
                        }
                        @if (Model.BinaryDownlineListToday.flagSales == 1)
                        {
                            <th> @Html.LabelFor(model => model.mybinaryDetails.totalLeftsales)</th>
                            <th> @Html.LabelFor(model => model.mybinaryDetails.totalRightsales)</th>
                            <th> @Html.LabelFor(model => model.mybinaryDetails.confirmedLeftSales)</th>
                            <th> @Html.LabelFor(model => model.mybinaryDetails.confirmedRightSales)</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@T("Dashboard.TodaysDetails")</td>

                        <td>@Model.BinaryDownlineListToday.totalLeftcount</td>
                        <td>@Model.BinaryDownlineListToday.totalRightcount</td>
                        <td>@Model.BinaryDownlineListToday.confirmedLeftcount</td>
                        <td>@Model.BinaryDownlineListToday.confirmedRightcount</td>
                        @if (Model.BinaryDownlineListToday.flagPV == 1)
                        {
                            <td>@Model.BinaryDownlineListToday.totalLeftPV</td>
                            <td>@Model.BinaryDownlineListToday.totalRightPV</td>
                            <td>@Model.BinaryDownlineListToday.confirmedLeftPV</td>
                            <td>@Model.BinaryDownlineListToday.confirmedRightPV</td>
                        }

                        @if (Model.BinaryDownlineListToday.flagBV == 1)
                        {
                            <td>@Model.BinaryDownlineListToday.totalLeftBV</td>
                            <td>@Model.BinaryDownlineListToday.totalRightBV</td>
                            <td>@Model.BinaryDownlineListToday.confirmedLeftBV</td>
                            <td>@Model.BinaryDownlineListToday.confirmedRightBV</td>
                        }

                        @if (Model.BinaryDownlineListToday.flagSales == 1)
                        {
                            <td>@Model.BinaryDownlineListToday.totalLeftsales</td>
                            <td>@Model.BinaryDownlineListToday.totalRightsales</td>
                            <td>@Model.BinaryDownlineListToday.confirmedLeftSales</td>
                            <td>@Model.BinaryDownlineListToday.confirmedRightSales</td>
                        }


                    </tr>
                    <tr>
                        <td>@T("Dashboard.TotalDetails")</td>
                        <td>@Model.BinaryDownlineListTotal.totalLeftcount</td>
                        <td>@Model.BinaryDownlineListTotal.totalRightcount</td>
                        <td>@Model.BinaryDownlineListTotal.confirmedLeftcount</td>
                        <td>@Model.BinaryDownlineListTotal.confirmedRightcount</td>
                        @if (Model.BinaryDownlineListToday.flagPV == 1)
                        {
                            <td>@Model.BinaryDownlineListTotal.totalLeftPV</td>
                            <td>@Model.BinaryDownlineListTotal.totalRightPV</td>
                            <td>@Model.BinaryDownlineListTotal.confirmedLeftPV</td>
                            <td>@Model.BinaryDownlineListTotal.confirmedRightPV</td>
                        }

                        @if (Model.BinaryDownlineListToday.flagBV == 1)
                        {
                            <td>@Model.BinaryDownlineListTotal.totalLeftBV</td>
                            <td>@Model.BinaryDownlineListTotal.totalRightBV</td>
                            <td>@Model.BinaryDownlineListTotal.confirmedLeftBV</td>
                            <td>@Model.BinaryDownlineListTotal.confirmedRightBV</td>
                        }

                        @if (Model.BinaryDownlineListToday.flagSales == 1)
                        {
                            <td>@Model.BinaryDownlineListTotal.totalLeftsales</td>
                            <td>@Model.BinaryDownlineListTotal.totalRightsales</td>
                            <td>@Model.BinaryDownlineListTotal.confirmedLeftSales</td>
                            <td>@Model.BinaryDownlineListTotal.confirmedRightSales</td>
                        }

                    </tr>

                </tbody>
            </table>
        </div>

    }

    else
    {
        <div class="x_content">
            <table id="MyGenerationDownline" class="display responsive wrap stripe cell-border" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>@Html.LabelFor(model => model.GenerationdownlineListToday.totalcount)</th>
                        <th>@Html.LabelFor(model => model.GenerationdownlineListToday.confirmedcount)</th>
                        @if (Model.GenerationdownlineListToday.flagPV == 1)
                        {
                            <th> @Html.LabelFor(model => model.GenerationdownlineListToday.totalPV)</th>
                            <th> @Html.LabelFor(model => model.GenerationdownlineListToday.confirmedPV)</th>

                        }
                        @if (Model.GenerationdownlineListToday.flagBV == 1)
                        {
                            <th> @Html.LabelFor(model => model.GenerationdownlineListToday.totalLeftBV)</th>
                            <th> @Html.LabelFor(model => model.GenerationdownlineListToday.confirmedLeftBV)</th>

                        }  @if (Model.GenerationdownlineListToday.flagSales == 1)
                        {
                            <th> @Html.LabelFor(model => model.GenerationdownlineListToday.totalLeftsales)</th>
                            <th> @Html.LabelFor(model => model.GenerationdownlineListToday.confirmedLeftSales)</th>

                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>@T("Dashboard.TodaysDetails")</th>
                        <td>@Model.GenerationdownlineListToday.totalcount</td>
                        <td>@Model.GenerationdownlineListToday.confirmedcount</td>
                        @if (Model.GenerationdownlineListToday.flagPV == 1)
                        {
                            <td>@Model.GenerationdownlineListToday.totalPV</td>
                            <td>@Model.GenerationdownlineListToday.confirmedPV</td>
                        }
                        @if (Model.GenerationdownlineListToday.flagBV == 1)
                        {
                            <td>@Model.GenerationdownlineListToday.totalLeftBV</td>
                            <td>@Model.GenerationdownlineListToday.confirmedLeftBV</td>
                        }
                        @if (Model.GenerationdownlineListToday.flagSales == 1)
                        {
                            <td>@Model.GenerationdownlineListToday.totalLeftsales</td>
                            <td>@Model.GenerationdownlineListToday.confirmedLeftSales</td>
                        }

                    </tr>
                    <tr>
                        <th>@T("Dashboard.TotalDetails")</th>
                        <td>@Model.GenerationdownlineListTotal.totalcount</td>
                        <td>@Model.GenerationdownlineListTotal.confirmedcount</td>

                        @if (Model.GenerationdownlineListToday.flagPV == 1)
                        {
                            <td>@Model.GenerationdownlineListTotal.totalPV</td>
                            <td>@Model.GenerationdownlineListTotal.confirmedPV</td>
                        }
                        @if (Model.GenerationdownlineListToday.flagBV == 1)
                        {
                            <td>@Model.GenerationdownlineListTotal.totalLeftBV</td>
                            <td>@Model.GenerationdownlineListTotal.confirmedLeftBV</td>
                        }
                        @if (Model.GenerationdownlineListToday.flagSales == 1)
                        {
                            <td>@Model.GenerationdownlineListTotal.totalLeftsales</td>
                            <td>@Model.GenerationdownlineListTotal.confirmedLeftSales</td>
                        }

                    </tr>
                </tbody>
            </table>
        </div>
    }*@


<style type="text/css">
 
  
</style>
<script>
    $("#nestedDataTableOne_length").css("display", "none");
    $("#nestedDataTableOne_filter").css("display", "none");
    $("#nestedDataTableOne_info").css("display", "none");
    $("#nestedDataTableOne_paginate").css("display", "none");
    $("#nestedDataTableOne_paginate").css("display", "none");

    $(".dataTables_length").css("display", "none");

    //$.extend(true, $.fn.dataTable.defaults, {
    //    "searching": false,
    //    "ordering": false,
    //    "info": false,
    //    "paging": false
    //});

    if(@Model.dataTable.Rows>10){
        $.extend(true, $.fn.dataTable.defaults, {
            "searching": true,
            "ordering": false,
            "info": false,
            "paging": true,
            "pageLength": 5

        });
    }
    else
    {
        $.extend(true, $.fn.dataTable.defaults, {
            "searching": true,
            "ordering": false,
            "info": false,
            "paging": false,
            "pageLength": 5

        });
    }

    @*$('#MyGenerationDownline').dataTable({
        pagingType: "full_numbers",
        dom: 'T<"clear">lfrtip',
        "oLanguage": {
            "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
        },
        tableTools: {
            "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
            "sRowSelect": "multi",
            "aButtons": [
                {
                    'sExtends': 'copy',
                    "oSelectorOpts": { filter: 'applied', order: 'current' },
                },
        {
            'sExtends': 'xls',
            "oSelectorOpts": { filter: 'applied', order: 'current' },
        },
        //{
        //    'sExtends': 'csv',
        //    "sPdfMessage": "My Generation Downline Details",
        //    "oSelectorOpts": { filter: 'applied', order: 'current' },
        //},
         {
             'sExtends': 'pdf',
             "sPdfOrientation": "landscape",
             "oSelectorOpts": { filter: 'applied', order: 'current' },

         },
        {
            'sExtends': 'print',
            "oSelectorOpts": { filter: 'applied', order: 'current' },
        }

            ]
        }
    });

    $('#MyBinaryDownline').dataTable({
        pagingType: "full_numbers",
        iDisplayLength: 10,
        dom: 'T<"clear">lfrtip',
        tableTools: {
            "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
            "sRowSelect": "multi",
            "aButtons": [
                {
                    'sExtends': 'copy',
                    "oSelectorOpts": { filter: 'applied', order: 'current' },
                },
        {
            'sExtends': 'xls',
            "oSelectorOpts": { filter: 'applied', order: 'current' },
        },
        //{
        //    'sExtends': 'csv',
        //    "sPdfMessage": "My Binary Downline Details",
        //    "oSelectorOpts": { filter: 'applied', order: 'current' },
        //},
         {
             'sExtends': 'pdf',
             "oSelectorOpts": { filter: 'applied', order: 'current' },

         },
        {
            'sExtends': 'print',
            "oSelectorOpts": { filter: 'applied', order: 'current' },
        }

            ]
        }
    });*@
</script>
