﻿@model  Nop.Web.Framework.Models.MyTeam.MyDownline
@{
    Html.AddTitleParts(T("Dashboard.MyNetwork.Mydownline").Text);
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
}
@{
    List<SelectListItem>
    selectOptions = new List<SelectListItem>
        ();
    selectOptions.Add(new SelectListItem
    {
        Text = "Date-Wise",
        Value = "0",
        Selected = true
    });
    selectOptions.Add(new SelectListItem
    {
        Text = "Payout-Wise",
        Value = "2"
    });
}
@section styles{

    @if (Model.HideExportToExcelFunctionality == false)
    {
        <style>
            .DTTT_button DTTT_button_xls {
                display: none !important;
            }           
        </style>
    }

    <link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
}
<br />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.HideExportToExcelFunctionality, new { id = "HideExportToExcelFunctionality" })
    <input type="hidden" value="0" id="AllCommitionIncomeFlag" />
    @Html.AntiForgeryToken()

    <br />
    <div class="sparkline13-list shadow-reset">
        <div class="sparkline13-hd">
            <div class="main-sparkline13-hd">
                <h1>@T("Dashboard.MyNetwork.SearchOption")</h1>
                <div class="sparkline13-outline-icon">
                    <span class="sparkline13-collapse-link"><i id="dvPanel" class="fa fa-chevron-up"></i></span>
                </div>
            </div>
        </div>
        <div class="sparkline13-graph">
            <div class="datatable-dashv1-list custom-datatable-overright">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="all-form-element-inner">
                            @{
                                var validationSummary = Html.ValidationSummary(true);
                            }
                            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                            {
                                <div class="message-error">@validationSummary</div>
                            }
                            <div class="message-error error" id="validationMessages"></div>
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.ddlOption)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.ddlOption, selectOptions, new { Id = "ddlOption", @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group-inner" id="datewsiediv">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.DatewiseFrom)
                                    </div>
                                    <div class="col-md-6 data-custon-pick">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            @Html.EditorFor(model => model.DatewiseFrom)
                                            @Html.ValidationMessageFor(model => model.DatewiseFrom)
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.DatewiseTo)
                                    </div>
                                    <div class="col-md-6 data-custon-pick">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            @Html.EditorFor(model => model.DatewiseTo)
                                            @Html.ValidationMessageFor(model => model.DatewiseTo)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group-inner" id="payoutwisediv">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.PM_ID)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.PM_ID, Model.PlanTypeList, "Select Plan Type", new { autocomplete = "off", maxlength = 22, Id = "ddlPlanType", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner" id="trPayoutNoList">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.PN_ID)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.PN_ID, Model.PayoutNoList, "Select Payout Number", new { autocomplete = "off", maxlength = 22, Id = "ddlPayoutFrom", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner" id="trPayoutStartDate">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.PayoutStartDate)
                                    </div>
                                    <div class="col-md-6" id="divPayoutDate">
                                        <span id="PayoutStartDate">@Model.PayoutStartDate</span>
                                        @Html.HiddenFor(model => model.PayoutStartDate, new { id = "payoutStartDate", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner" id="trPayoutEndDate">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.PayoutEndDate)
                                    </div>
                                    <div class="col-md-6" id="divPayoutDate">
                                        <span id="PayoutEndDate">@Model.PayoutEndDate</span>
                                        @Html.HiddenFor(model => model.PayoutEndDate, new { id = "payoutEndDate", @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.PackageListName)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.PackageListName, Model.PackageList, "Select Package", new { Id = "ddlpackageList", @class = "form-control" })
                                    </div>
                                </div>
                            </div>


                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.LevelwiseFrom)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.LevelwiseFrom, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.LevelwiseFrom)
                                    </div>
                                </div>
                            </div>

                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.LevelwiseTo)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.LevelwiseTo, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.LevelwiseTo)
                                    </div>
                                </div>
                            </div>
                            @if (Model.getPlanType != 2)
                            {
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.PS_ID)
                                        </div>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.PS_ID, Model.PositionList, new { autocomplete = "off", maxlength = 22, Id = "PositionList", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="login-horizental cancel-wp align-middle">
                                <button type="button" class="btn btn-custon-four btn-primary" id="search" tabindex="2"><i class="fa fa-search"></i> @T("Tree.Search.Button")</button>
                                <button type="button" class="btn btn-custon-four btn-warning" id="btnreset" tabindex="1"><i class="fa fa-refresh"></i> @T("Tree.Reset.Button")</button>

                                <input type="hidden" name="hdnReset" id="hdnReset" value="" />
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br />
    <div class="sparkline16-list shadow-reset">
        <div class="sparkline16-hd">
            <div class="main-sparkline16-hd">
                <h1>@T("Dashboard.MyNetwork.MyDownline")</h1>
            </div>
        </div>
        <div class="sparkline16-list shadow-reset">
            <div class="sparkline16-graph">
                <div class="datatable-dashv1-list custom-datatable-overright" id="BinaryBothdiv">
                    @Html.Partial("_NestedCommanKendoGridTwo", Model.TotalBinarydataTable)
                </div>
            </div>
        </div>
        <div class="sparkline16-list shadow-reset">
            <div class="sparkline16-graph">
                <div class="datatable-dashv1-list custom-datatable-overright" id="BinaryBothdiv">
                    @Html.Partial("_CommanServerSideKendoGrid", Model.dataTable)
                </div>
            </div>
        </div>
    </div>
    <br />
                                }
@section scripts{
    <script type="text/javascript">
        var objArray=new Array();

        $(document).ready(function () {

            if ($('.validation-summary-errors ul li').html() != undefined)
            {
                ResetPanelValidation("",".sparkline13-hd",".sparkline13-graph");
            }

            getData();

            $('#trPayoutStartDate').hide();
            $('#trPayoutEndDate').hide();
            $("#divseachById").hide();
            $('#trPayoutNoList').hide();
            $("#datewsiediv").show();
            $("#payoutwisediv").hide();
            $('#ddlOption').val("0");
            $("#divHeadingSearch").click(function(){
                $("#divseachById").slideToggle();
            });

            function getData(){

                var validationDivs = '';
                $('#validationMessages').html('');
                $("#divseachById").show();
                var Choice = $("#ddlOption").val();
                var PlanType = $("#ddlPlanType").val();
                var ddlpayoutFrom=$("#ddlPayoutFrom").val();
                var myDate = new Date(getDateFromString($("#DatewiseFrom").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
                var myFromDate = new Date(getDateFromString($("#DatewiseTo").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
                var today = new Date();
                var start_time=$("#DatewiseFrom").val();
                var end_time=$("#DatewiseTo").val();
                var SearchFirstName = $("#memberID").val(), MemId = $("#searchId").val();
                if ((+Choice) == 2) {
                    if ((PlanType == 0)) {
                        $("#validationMessages").show();
                        validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                        $('#validationMessages').html(validationDivs);

                        fieldPanelValidation("#ddlPlanType",".sparkline13-hd",".sparkline13-graph");

                        $('#searchResult').hide();
                        return false;
                    }
                    else
                    {
                        $('#ddlPlanType').css('border-color', '#e5e6e7');
                        $('.sparkline13-hd').removeAttr("style");
                    }
                    if (PlanType == null) {
                        $("#validationMessages").show();
                        validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                        $('#validationMessages').html(validationDivs);

                        fieldPanelValidation("#ddlPlanType",".sparkline13-hd",".sparkline13-graph");

                        $('#searchResult').hide();
                        return false;
                    }
                    else
                    {
                        $('#ddlPlanType').css('border-color', '#e5e6e7');
                        $('.sparkline13-hd').removeAttr("style");

                    }

                    if (ddlpayoutFrom == "0" || ddlpayoutFrom == "No Payout(s) available." || ddlpayoutFrom == "") {
                        $("#validationMessages").show();
                        validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                        $('#validationMessages').html(validationDivs);

                        fieldPanelValidation("#DatewiseFrom",".sparkline13-hd",".sparkline13-graph");
                        fieldPanelValidation("#DatewiseTo",".sparkline13-hd",".sparkline13-graph");

                        $('#searchResult').hide();
                        return false;
                    }
                    else
                    {
                        ResetPanelValidation("#DatewiseFrom",".sparkline13-hd",".sparkline13-graph");

                    }
                }
                if (myFromDate > today) {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                    $('#validationMessages').html(validationDivs);
                    fieldPanelValidation("#DatewiseFrom",".sparkline13-hd",".sparkline13-graph");
                    fieldPanelValidation("#DatewiseTo",".sparkline13-hd",".sparkline13-graph");

                    $('#searchResult').hide();
                    return false;
                }
                else
                {
                    ResetPanelValidation("#DatewiseFrom",".sparkline13-hd",".sparkline13-graph");
                    ResetPanelValidation("#DatewiseTo",".sparkline13-hd",".sparkline13-graph");

                }

                if (myFromDate < myDate) {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                    $('#validationMessages').html(validationDivs);
                    fieldPanelValidation("#DatewiseFrom",".sparkline13-hd",".sparkline13-graph");
                    fieldPanelValidation("#DatewiseTo",".sparkline13-hd",".sparkline13-graph");
                    $('#searchResult').hide();
                    return false;
                }
                else
                {
                    ResetPanelValidation("#DatewiseFrom",".sparkline13-hd",".sparkline13-graph");
                    ResetPanelValidation("#DatewiseTo",".sparkline13-hd",".sparkline13-graph");

                }

                var LevelFrom = parseInt($("#LevelwiseFrom").val()); // For JQuery
                var LevelTo = parseInt($("#LevelwiseTo").val());

                if (LevelTo < LevelFrom) {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("Select Level-wise To Greater Than Level-wise From ")</div>';
                    $('#validationMessages').html(validationDivs);
                    fieldPanelValidation("#LevelwiseFrom",".sparkline13-hd",".sparkline13-graph");
                    fieldPanelValidation("#LevelwiseTo",".sparkline13-hd",".sparkline13-graph");
                    $('#searchResult').hide();
                    $('#ScrollableDiv1').hide();
                    $('#BinaryBothdiv').hide();
                    $('#BinaryBothdiv').hide();
                    $('#exportexcel-all').hide();
                    return false;
                }
                else{
                    ResetPanelValidation("#LevelwiseFrom",".sparkline13-hd",".sparkline13-graph");
                    ResetPanelValidation("#LevelwiseTo",".sparkline13-hd",".sparkline13-graph");

                }
                if($("#validationMessages").html()!="")
                {
                    ResetPanelValidation("#ddlPlanType",".sparkline13-hd",".sparkline13-graph");
                    ResetPanelValidation("#DatewiseFrom",".sparkline13-hd",".sparkline13-graph");
                    ResetPanelValidation("#DatewiseTo",".sparkline13-hd",".sparkline13-graph");
                    ResetPanelValidation("#LevelwiseTo",".sparkline13-hd",".sparkline13-graph");
                    ResetPanelValidation("#LevelwiseFrom",".sparkline13-hd",".sparkline13-graph");
                }
                var data = {
                    DatewiseFrom: getDateFromString($("#DatewiseFrom").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                    DatewiseTo:getDateFromString($("#DatewiseTo").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),

                    ddlOption: $('#@Html.FieldIdFor(model => model.ddlOption)').val(),
                    PM_ID: $('#ddlPlanType').val(),
                    PN_ID: $('#ddlPayoutFrom').val(),
                    Ps_ID: $('#PositionList').val(),
                    PayoutStartDate: getDateFromString($("#payoutStartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                    PayoutEndDate: getDateFromString($("#payoutEndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                    PackageListName: $('#ddlpackageList').val(),
                    LevelwiseFrom: $('#@Html.FieldIdFor(model => model.LevelwiseFrom)').val(),
                    LevelwiseTo: $('#@Html.FieldIdFor(model => model.LevelwiseTo)').val(),

                };
                addAntiForgeryToken(data);
                $('#mydirectDataTable').DataTable({
                    dom: 'T<"clear">lfrtip',
                    //dom: 'Rfrtip',
                    "oLanguage": {
                        "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
                    },
                    tableTools: {
                        "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                        "sRowSelect": "multi",
                        "aButtons": [
                           'xls'
                        ]
                    },
                    columns:@Html.Raw(@Model.columns),
                    bServerSide: true,
                    processing: true,
                    oLanguage: {sProcessing: "<div class='loader'></div>"},
                    destroy: true,
                    scrollY:        "300px",
                    scrollX:        true,
                    scrollCollapse: true,
                    "ajax": {
                        'type': 'POST',
                        'url':  "@Html.Raw(Url.Action("MyDownline", "MyNetwork"))",
                        'data': data,
                        pagingType: "full_numbers",
                        iDisplayLength: 10,
                    }
                });

                $.ajax({
                    url: "@Html.Raw(Url.Action("MyDownlineBinary", "MyNetwork"))",
                    type: "POST",
                    dataType: "html",
                    data: data,
                    success: function (result) {
                        $('#ScrollableDiv1').show();
                        $('#BinaryBothdiv').show();
                        $('#BinaryBothdiv').html(result);

                        ResetPanelValidation("",".sparkline13-hd",".sparkline13-graph");

                    },
                    error: function (xhr, textStatus, exceptionThrown) {
                        $("#validationMessages").html("");
                        $("#validationMessages").show();
                        $("#validationMessages").html("@T("CommissionDetails.Kendo.Error")");
                    }
                });
            }

            $("#search").click(function(){
                getData();
            });

            $("#payoutwisediv").hide();

            $("#DatewiseFrom").keyup(function () {
                $(this).val('');
            });

            $("#DatewiseTo").keyup(function () {
                $(this).val('');
            });
            var ddVal = @ViewBag.option;
            if (ddVal == "2") {
                $("#payoutwisediv").show();
                $("#datewsiediv").hide();
                $('#ddlOption').val("2");
                $('#trPayoutNoList').show();
                $('#trPayoutStartDate').show();
                $('#trPayoutEndDate').show();
                if($("#ddlPayoutFrom").val()=="")
                {
                    $('#trPayoutNoList').hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                }

            }
            else  {
                $("#datewsiediv").show();
                $("#payoutwisediv").hide();
                $('#ddlOption').val("0");
            }

            $('#ddlOption').change(function () {
                $("#ddlpackageList").val("");
                $("#LevelwiseFrom").val("0");
                $("#LevelwiseTo").val("0");
                var value = $(this).val();
                if (value == 0) {
                    $("#datewsiediv").show();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                    $('#trPayoutNoList').hide();
                    $("#payoutwisediv").hide();

                }
                else if (value == 2) {
                    $("#payoutwisediv").show();
                    $("#datewsiediv").hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                    $('#trPayoutNoList').hide();
                    $("#ddlPlanType").val("");
                }
            });

            $('#ddlPlanType').change(function () {
                objArray=new Array();
                var value = $(this).val();
                var startDate = '';

                $("#ddlPayoutFrom").html('');
                $("#PayoutStartDate").html('');
                $("#PayoutEndDate").html('');

                var PayoutNoListStr = '';

                if (value != null && value != "") {

                    $.get("@(Url.Action("PayoutListBind", "Common"))", { typeId: value, flag: 1 }, function (response) {

                        var PayoutStartDate = '';
                        var PayoutEndDate = '';
                        if (response.PayoutNoList.length > 0) {
                            for (var i = 0; i < response.PayoutNoList.length; i++) {

                                PayoutNoListStr = PayoutNoListStr + '<option value="' + response.PayoutNoList[i].Value + '">' + response.PayoutNoList[i].Text + '</option>';

                                var obj=new Object()
                                obj.pn=response.PayoutNoList[i].Value;
                                obj.sd=response.PayoutStartDateList[i].Value;
                                obj.ed=response.PayoutEndDateList[i].Value;

                                objArray.push(obj);

                                $('#trPayoutStartDate').show();
                                $('#trPayoutEndDate').show();
                                $('#trPayoutNoList').show();
                            }
                        }
                        else {

                            PayoutNoListStr = '<option value="0">No Payout(s) available.</option>';
                            $('#trPayoutNoList').show();
                            $('#trPayoutStartDate').hide();
                            $('#trPayoutEndDate').hide();
                        }


                        $("#ddlPayoutFrom").append(PayoutNoListStr);
                        if(objArray.length > 0)
                        {
                            $("#PayoutStartDate").html(objArray[0].sd);
                            $("#PayoutEndDate").html(objArray[0].ed);
                            $("#payoutStartDate").val(objArray[0].sd);
                            $("#payoutEndDate").val(objArray[0].ed);
                        }
                    });
                }

                if($('#ddlPlanType').val() == 0)
                {
                    $('#trPayoutNoList').hide();
                    $('#trPayoutStartDate').hide();
                    $('#trPayoutEndDate').hide();
                }
            });

            $('#ddlPayoutFrom').change(function(){

                var value = $(this).val();
                for(var i=0;i<objArray.length;i++)
                {
                    if(objArray[i].pn==value){
                        $("#PayoutStartDate").html(objArray[i].sd);
                        $("#PayoutEndDate").html(objArray[i].ed);
                        $("#payoutStartDate").val(objArray[i].sd);
                        $("#payoutEndDate").val(objArray[i].ed);
                    }
                }
            });


            if('@Model.HideExportToExcelFunctionality'=='True')
            {
                $("#ToolTables_mydirectDataTable_0").css("display","none")
            }
        });

        function myExcel()
        {
            //$("#divseachById").show();
            var Choice = $("#ddlOption").val();
            var PlanType = $("#ddlPlanType").val();
            var ddlpayoutFrom=$("#ddlPayoutFrom").val();
            //
            var validationDivs = '';
            $('#validationMessages').html('');

            var LevelFrom = $("#LevelwiseFrom").val(); // For JQuery
            var LevelTo = $("#LevelwiseTo").val();

            var myDate = new Date(getDateFromString($("#DatewiseFrom").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
            var myFromDate = new Date(getDateFromString($("#DatewiseTo").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));

            var today = new Date();
            var start_time=$("#DatewiseFrom").val();
            var end_time=$("#DatewiseTo").val();

            var SearchFirstName = $("#memberID").val(), MemId = $("#searchId").val();

            if ((+Choice) == 2) {
                if ((PlanType == 0)) {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                    //flag=false;
                    $('#validationMessages').html(validationDivs);
                    $('#searchResult').hide();
                    return false;
                }
                if (PlanType == null) {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                    //flag=false;
                    $('#validationMessages').html(validationDivs);

                    $('#searchResult').hide();
                    return false;
                }
                if (ddlpayoutFrom == "0" || ddlpayoutFrom == "No Payout(s) available." || ddlpayoutFrom == "") {
                    $("#validationMessages").show();
                    validationDivs = validationDivs + '<div>@T("admin.Validation.NoPayoutavailable")</div>';
                    //flag=false;
                    $('#validationMessages').html(validationDivs);
                    $('#searchResult').hide();
                    return false;
                }
            }

            if (myFromDate > today) {

                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                $('#validationMessages').html(validationDivs);
                // flag=false;
                $('#searchResult').hide();
                return false;
            }
            if (myFromDate < myDate) {
                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                //flag=false;
                $('#validationMessages').html(validationDivs);
                $('#searchResult').hide();
                return false;
            }
            else
            {

            }

            var LevelFrom = $("#LevelwiseFrom").val(); // For JQuery
            var LevelTo = $("#LevelwiseTo").val();
            if (LevelTo < LevelFrom) {
                $("#validationMessages").show();
                validationDivs = validationDivs + '<div>@T("Select Level-wise To Greater Than Level-wise From ")</div>';
                //flag=false;
                $('#validationMessages').html(validationDivs);
                $('#searchResult').hide();
                $('#ScrollableDiv').hide();
                $('#exportexcel-all').hide();
                return false;
            }

            $('.loader').show();

            var data = {
                DatewiseFrom: getDateFromString($("#DatewiseFrom").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                DatewiseTo:getDateFromString($("#DatewiseTo").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),

                ddlOption: $('#@Html.FieldIdFor(model => model.ddlOption)').val(),
                PM_ID: $('#ddlPlanType').val(),
                PN_ID: $('#ddlPayoutFrom').val(),
                Ps_ID: $('#PositionList').val(),
                PayoutStartDate: getDateFromString($("#payoutStartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
                PayoutEndDate: getDateFromString($("#payoutEndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),

                PackageListName: $('#ddlpackageList').val(),
                LevelwiseFrom: $('#@Html.FieldIdFor(model => model.LevelwiseFrom)').val(),
                LevelwiseTo: $('#@Html.FieldIdFor(model => model.LevelwiseTo)').val(),
            };
            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("MyDownlineExportToExcel", "MyNetwork"))",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (result) {
                    $('.loader').hide();
                    if (result.success) {
                        if (result.fullFileName != null && result.fullFileName != "") {
                            window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                            ResetPanelValidation("",".sparkline13-hd",".sparkline13-graph");
                        }
                        else {
                            var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                            $("#validationMessages").show();
                            $('#validationMessages').append(validationDivs1);
                            fieldPanelValidation("",".sparkline13-hd",".sparkline13-graph");
                        }
                    }
                    else {
                        var validationDivs1 = '<div>' + result.fullFileName + '</div>';
                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs1);
                        fieldPanelValidation("",".sparkline13-hd",".sparkline13-graph");
                    }
                },
                error: function (result) {
                    $('.loader').hide();
                }
            });
        }

        $('#btnreset').on('click', (function () {
            $('.loader').show();
            document.location = "@(Url.Action("MyDownline", "MyNetwork"))" ;
        }));

    </script>
}
