﻿@model Nop.Web.Models.MyNetwork.TreeViewMemberModel
@{

    Html.AddTitleParts(T("Admin.MemberReport.MultiBinaryTreeView").Text);
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
}
@section styles{

<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />

<style>
    .no-border {
        border: 0;
        border-style: none;
    }

    .genealogy-img {
        height: 32px;
        width: 32px;
    }

    .txtwide {
        width: 100%;
    }

    .padding-b-5 {
        padding: 0 !important;
        padding-bottom: 5px !important;
    }

    .padding-5 {
        padding: 5px !important;
    }

    .no-padding-b {
        padding-bottom: 0 !important;
    }

    .important, .errmsg {
        color: Red;
        padding: 5px;
    }

    #message-error {
        font-weight: bold;
        padding-top: 0.5em;
    }

    .treetext div {
    }


    /*.fields {
        background-color: rgb(173,223,255);
        font-family: Tahoma,Arial,Helvetica,Verdana,sans-serif;
        font-size: 11px;
        vertical-align: top;
        background-repeat: no-repeat;
        padding: 4px;
        color: #545454;
        text-align: left;
    }

    .values {
        background-color: rgb(238,247,250);
        font-family: Tahoma,Arial,Helvetica,Verdana,sans-serif;
        font-size: 11px;
        vertical-align: top;
        background-repeat: no-repeat;
        padding: 4px;
        color: #000;
        text-align: left;
        font-weight: bold;
    }*/

    /*#container {
        padding-bottom: 4em;
    }*/

    
    #container {
        padding-bottom: 0em;
    }

    #tblExport {
        margin-bottom: 1em;
    }

    .button-1 {
        /* margin: 1em;*/
    }

    .text-primary {
        color: #428bca;
    }

    a.text-primary:hover {
        color: #3071a9;
    }

    .text-danger {
        color: #a94442;
    }

    a.text-danger:hover {
        color: #843534;
    }

    #pnltree {
        padding-bottom: 3em;
        /*width:193%;*/
    }
       hr {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }

        td, th {
            padding-bottom: 0px !important;
            padding-top: 0px !important;
            padding-left: 6px !important;
            padding-right: 6px !important;
        }

        img {
            max-width: inherit !important;
            height: auto;
        }
        #upPosstion{
            margin-top:20px !important;
        }
</style>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.currentMemId)
<br />
<br />

<div class="sparkline13-list shadow-reset">
    <div class="sparkline13-hd">
        <div class="main-sparkline13-hd">
            <h1>@T("Dashboard.MyNetwork.SearchOption")</h1>
            <div class="sparkline13-outline-icon">
                <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
            </div>
        </div>
    </div>
    <div class="sparkline13-graph">
        <div class="datatable-dashv1-list custom-datatable-overright">

         
                <div class="row">
                    <div class="col-lg-12">
                        <div class="all-form-element-inner">
                            @{
                            var validationSummary = Html.ValidationSummary(true);
                            }
                            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                            {
                            <div class="message-error">@validationSummary</div>
                            }
                            @Html.HiddenFor(model => model.memNumber)
                            @Html.HiddenFor(model => model.searchId)
                            <div class="message-error" id="message-error"></div>
                            <div class="message-error error" id="validationMessages"></div>
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>@T("Mynetwork.Search.Name")</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="SearchFirstName" value="" name="SearchFirstName" class="form-control" />
                                        <input type="hidden" name="searchId" id="hiddenSearchMemno" value="" />
                                        <div id="divfirstname" class="inputs">

                                        </div>
                                    </div>
                                    <div class="col-lg-1"></div>
                                </div>
                            </div>

                          
                            <div class="login-horizental cancel-wp align-middle">

                                <button type="button" id="search" class="btn btn-custon-four btn-primary" tabindex="1"><i class="fa fa-search"></i> @T(" Tree.Search.Button")</button>
                                <button type="button" id="btnreset" class="btn btn-custon-four btn-warning" tabindex="2"><i class="fa fa-refresh"></i> @T("Tree.Reset.Button")</button>
                            </div>
                                        
                        </div>
                    </div>
                </div>
          
        </div>
    </div>
</div>

<br />







<div class="sparkline16-list shadow-reset">
    <div class="sparkline16-hd">
        <div class="main-sparkline16-hd">
            <h1>@T("Admin.MemberReport.TreeView")</h1>
            @*<div class="sparkline16-outline-icon">
                <span class="sparkline16-collapse-link"><i class="fa fa-chevron-down"></i></span>
            </div>*@
        </div>
    </div>
    <div class="sparkline16-graph">
        <div class="customer-blocks">
            <div class="panel panel-default" style="box-shadow: none!important;">
                <div class="panel-body" style="box-shadow: none!important;">
                    @Html.Action("TreeDatatableMultiBinIncome", "MyNetwork")

                    <div id="container">
                        <div style="text-align: center">
                            <b style="color:red;font-weight:bold"> @T("Admin.Note.Note") </b> @T("Member.mynetwork.treeview.mydirectnote")
                        </div>

                        <div id="upPosstion">
                            <button type="button" id="searchUpTree" class="btn btn-custon-four btn-primary" tabindex="1"><i class="fa fa-arrow-circle-up"></i> @T(" Tree.Search.UpTree")</button>
                        </div>
                        <div id="ScrollableDiv" style="margin-top:2%">
                            <div class="col-md-12 col-sm-12">
                                <div id="pnltree">
                                    <table cellpadding="0" cellspacing="1" borderwidth="0" width="100%">
                                        <tr>
                                            <td style="text-align:center" id="tdGetTree">
                                                @if (Model != null)
                                                {
                                                @Html.Raw(Model.getTreestring)
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />


                    }

@section scripts{
<script src="~/content/treeview/wz_tooltip.js"></script>
<script language="javascript" type="text/javascript">

    function donothing() { }

    function fnSetText(NoF, fld1, fld2, fld3, fld4, fld5, fld6, fld7, fld8, fld9, fld10, fld11, fld12, fld13, fld14, fld15, fld16, fld17, fld18, fld19, fld20, fld21, fld22, fld23, fld24, fld25, fld26, fld27, fld28, fld29, fld30, fld31, fld32, exp1, exp2, exp3, exp4, exp5, exp6, exp7, exp8, exp9, exp10, exp11, exp12, exp13, exp14, exp15, exp16, exp17, exp18, exp19, exp20, exp21, exp22, exp23, exp24, exp25, exp26, exp27, exp28, exp29, exp30, exp31, exp32) {
        // debugger;
        var Identity = '<%Response.Write(IIf(Application("MemberConvention") IsNot Nothing, Application("MemberConvention").ToString, Application("Get_Mem").ToString))%>';
        var n = +NoF;

        exp1 = exp1.trim();
        exp2 = exp2.trim();
        exp3 = exp3.trim();
        exp4 = exp4.trim();
        exp32 = exp32.trim();
        exp5 = exp5.trim();
        exp6 = exp6.trim();
        exp7 = exp7.trim();
        exp8 = exp8.trim();
        exp9 = exp9.trim();
        exp10 = exp10.trim();
        exp11 = exp11.trim();
        exp12 = exp12.trim();
        exp13 = exp13.trim();
        exp14 = exp14.trim();
        exp15 = exp15.trim();
        exp16 = exp16.trim();
        exp17 = exp17.trim();
        exp18 = exp18.trim();
        exp19 = exp19.trim();
        exp20 = exp20.trim();
        exp21 = exp21.trim();
        exp22 = exp22.trim();
        exp23 = exp23.trim();
        exp24 = exp24.trim();
        exp25 = exp25.trim();
        exp26 = exp26.trim();
        exp27 = exp27.trim();
        exp28 = exp28.trim();
        exp29 = exp29.trim();
        exp30 = exp30.trim();
        exp31 = exp31.trim();

        varString = "<div style='border:3px solid #ddd;color:black;background:#fff;border-radius:3px' class='padding-5 no-padding-b'>";

        if (exp1 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld1 + "</span>:&nbsp;<span class='text-danger'>" + exp1 + "</span></div>";
        }

        if (exp2 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld2 + "</span>:&nbsp;<span class='text-danger'>" + exp2 + "</span></div>";
        }

        if (exp3 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld3 + "</span>:&nbsp;<span class='text-danger'>" + exp3 + "</span></div>";
        }

        if (exp4 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld4 + "</span>:&nbsp;<span class='text-danger'>" + exp4 + "</span></div>";
        }
        if (exp32 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld32 + "</span>:&nbsp;<span class='text-danger'>" + exp32 + "</span></div>";
        }
        if (exp5 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld5 + "</span>:&nbsp;<span class='text-danger'>" + exp5 + "</span></div>";
        }

        if (exp6 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld6 + "</span>:&nbsp;<span class='text-danger'>" + exp6 + "</span></div>";
        }

        if (exp7 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld7 + "</span>:&nbsp;<span class='text-danger'>" + exp7 + "</span></div>";
        }
        if (exp8 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld8 + "</span>:&nbsp;<span class='text-danger'>" + exp8 + "</span></div>";
        }
        if (exp9 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld9 + "</span>:&nbsp;<span class='text-danger'>" + exp9 + "</span></div>";
        }
        if (exp10 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld10 + "</span>:&nbsp;<span class='text-danger'>" + exp10 + "</span></div>";
        }
        if (exp11 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld11 + "</span>:&nbsp;<span class='text-danger'>" + exp11 + "</span></div>";
        }
        if (exp12 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld12 + "</span>:&nbsp;<span class='text-danger'>" + exp12 + "</span></div>";
        }
        if (exp13 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld13 + "</span>:&nbsp;<span class='text-danger'>" + exp13 + "</span></div>";
        }
        if (exp14 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld14 + "</span>:&nbsp;<span class='text-danger'>" + exp14 + "</span></div>";
        }
        if (exp15 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld15 + "</span>:&nbsp;<span class='text-danger'>" + exp15 + "</span></div>";
        }
        if (exp16 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld16 + "</span>:&nbsp;<span class='text-danger'>" + exp16 + "</span></div>";
        }
        if (exp17 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld17 + "</span>:&nbsp;<span class='text-danger'>" + exp17 + "</span></div>";
        }
        if (exp18 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld18 + "</span>:&nbsp;<span class='text-danger'>" + exp18 + "</span></div>";
        }
        if (exp19 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld19 + "</span>:&nbsp;<span class='text-danger'>" + exp19 + "</span></div>";
        }
        if (exp20 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld20 + "</span>:&nbsp;<span class='text-danger'>" + exp20 + "</span></div>";
        }
        if (exp21 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld21 + "</span>:&nbsp;<span class='text-danger'>" + exp21 + "</span></div>";
        }
        if (exp22 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld22 + "</span>:&nbsp;<span class='text-danger'>" + exp22 + "</span></div>";
        }
        if (exp23 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld23 + "</span>:&nbsp;<span class='text-danger'>" + exp23 + "</span></div>";
        }
        if (exp24 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld24 + "</span>:&nbsp;<span class='text-danger'>" + exp24 + "</span></div>";
        }
        if (exp25 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld25 + "</span>:&nbsp;<span class='text-danger'>" + exp25 + "</span></div>";
        }
        if (exp26 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld26 + "</span>:&nbsp;<span class='text-danger'>" + exp26 + "</span></div>";
        }
        if (exp27 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld27 + "</span>:&nbsp;<span class='text-danger'>" + exp27 + "</span></div>";
        }
        if (exp28 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld28 + "</span>:&nbsp;<span class='text-danger'>" + exp28 + "</span></div>";
        }
        if (exp29 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld29 + "</span>:&nbsp;<span class='text-danger'>" + exp29 + "</span></div>";
        }
        if (exp30 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld30 + "</span>:&nbsp;<span class='text-danger'>" + exp30 + "</span></div>";
        }
        if (exp31 != "") {
            varString += "<div class='padding-b-5'><span class='text-primary'>" + fld31 + "</span>:&nbsp;<span class='text-danger'>" + exp31 + "</span></div>";
        }

        varString += "</div>";
        Tip(varString);

    }

    $('#btnreset').on('click', (function () {
        $('.loader').show();
        document.location = "@(Url.Action("TreeViewMultiBinIncome", "MyNetwork", new { id = 0 }))" ;
    }));

    $("#message-error").hide();
    function getSearchfunction() {
        if ($("#SearchFirstName").val() == "") {
            $("#message-error").show();
            $("#message-error").html("@T("Admin.TreeView.IDName")");
            //$('#SearchFirstName').css('border-color', 'red');  
            $("#SearchFirstName").focus();
            fieldPanelValidation("#SearchFirstName", ".sparkline13-hd", ".sparkline13-graph");
            return;

        }
        else
        {
            ResetPanelValidation("#SearchFirstName", ".sparkline13-hd", ".sparkline13-graph");
            //$('#SearchFirstName').css('border-color', '#03a9f0');
        }

        var id = $("#searchId").val();
        var SearchFirstName = $("#SearchFirstName").val();
        $('.loader').show();
        var data = { searchId: id, SearchFirstName: SearchFirstName };
        addAntiForgeryToken(data);
        $.ajax({
            type: "POST",
            data: data,
            dataType: "json",
            url: '@(Url.Action("TreeViewShowMultiBinIncome", "MyNetwork"))',
            success: function (d) {
                $('.loader').hide();
                if (d.CurrentMemNo == d.memnos) {
                    $('#upPosstion').hide();
                    $('#currentMemId').val(d.CurrentMemNo);
                }
                else {
                    $('#upPosstion').show();
                    $('#currentMemId').val(d.CurrentMemNo);
                }

                if (d == "validID") {
                    $("#message-error").show();
                    $("#message-error").html("@T("Member.TreeView.InvalidIDName")");
                    $("#SearchFirstName").val("");
                    $("#SearchFirstName").focus();
                    //$('#SearchFirstName').css('border-color', '#ec3022');
                    fieldPanelValidation("#SearchFirstName", ".sparkline13-hd", ".sparkline13-graph");

                    return;
                }

                else if (d == "validdownline") {
                    $("#message-error").show();
                    $("#message-error").html("@T("Member.TreeView.InvalidIDDownline")");
                    $("#SearchFirstName").val("");
                    $("#SearchFirstName").focus();
                    $('#SearchFirstName').css('border-color', '#ec3022');
                    fieldPanelValidation("#SearchFirstName", ".sparkline13-hd", ".sparkline13-graph");
                    return;
                }
                else {
                    $("#message-error").hide();
                }


                $("#tdGetTree").html(d.getTreeMultiBinarystring);

            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('.loader').hide();
            }
        });
    }

    $('#SearchFirstName').live("keypress", function (e) {
        if (e.keyCode == 13) {
            getSearchfunction();
        }
    });

    $('#search').on('click', (function () {      
        $('.loader').show();
        getSearchfunction();
        $("#collapseOne").removeClass("panel-collapse collapse in");
        $("#collapseOne").addClass("panel-collapse collapse");

        $("#btnplusminus").removeClass("glyphicon glyphicon-minus");
        $("#btnplusminus").addClass("glyphicon glyphicon-plus");

        $('.loader').hide();
    }));

    $('#tbTree').attr('cellspacing', "1");

    if ($('#currentMemId').val() == $('#position0').text()) {

        $('#upPosstion').hide();
    }
    else {
        $('#upPosstion').show();
    }

    $(document).ready(function () {      
        if ($('#currentMemId').val() == $('#position0').text()) {

            $('#upPosstion').hide();
        }
        else {
            $('#upPosstion').show();
        }

        $(".collapse.in").each(function () {
            $("#btnplusminus").siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
        });
        $(".collapse").on('show.bs.collapse', function () {
            $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }).on('hide.bs.collapse', function () {
            $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });

        $("#divfirstname").hide();
        $('#SearchFirstName').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("SearchTermAutoComplete","MyNetwork"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                $("#hiddenSearchMemno").val(ui.item.MJD_MemID);
                $("#SearchFirstName").val(ui.item.label);
                $("#divfirstname").show();
                return false;
            },
            search: function () { $('.loader').show(); },
            open: function () { $('.loader').hide() },
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };
      
    });

    $('#searchUpTree').on('click', (function () {
        var id = $("#searchId").val();
        var SearchFirstName = $('#position0').text();
        $('.loader').show();
        var data = { searchId: id, SearchFirstName: SearchFirstName };
        addAntiForgeryToken(data);
        $.ajax({
            type: "POST",
            data: data,
            dataType: "json",
            url: '@(Url.Action("TreeViewShowMultiBinIncomeOnUpPossition", "MyNetwork"))',
            success: function (d) {
                $('.loader').hide();
                if ($('#currentMemId').val() == d.memnos) {
                    $('#upPosstion').hide();
                }
                else {
                    $('#upPosstion').show();
                }

                  if (d == "validID") {
                    $("#message-error").show();
                    $("#message-error").html("@T("Member.TreeView.InvalidIDName")");
                    $("#SearchFirstName").val("");
                    $("#SearchFirstName").focus();

                    return;
                }

                else if (d == "validdownline") {
                    $("#message-error").show();
                    $("#message-error").html("@T("Member.TreeView.InvalidIDDownline")");
                    $("#SearchFirstName").val("");
                    $("#SearchFirstName").focus();

                    return;
                }
                else {
                    $("#message-error").hide();
                }

                $("#tdGetTree").html(d.getTreeMultiBinarystring);

            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('.loader').hide();
            }
        });
    }));
</script>
}