﻿@model PaymentGatewayLogReport

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.System.Log").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Log");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="alert alert-success alert-dismissable" id="validationMessages1">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Payment Gateway Log Report
        </h1>
        @*<div class="pull-right" id="showButtons">
            <button type="submit" id="exportexcelLogReportall" name="exportexcelLogReportall" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                @T("Admin.Common.ExportToExcel")
            </button>
        </div>*@
        </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                              
                                <div class="form-group" >
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model=>model.OrderType)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.OrderType, new List<SelectListItem>
{
     new SelectListItem { Text="All Records", Value="1"},
   new SelectListItem { Text="Registration", Value="25"},
   new SelectListItem{ Text="Upgrade", Value = "21" },
   new SelectListItem{ Text="Repurchase", Value = "2" },
   new SelectListItem{ Text="Resale", Value = "14" }
   }, new {  id = "OrderType" })
                                    </div>
                                </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model=>model.Status)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.NopDropDownListFor(model => model.Status, new List<SelectListItem> {
                                           new SelectListItem {Text="Select Status",Value="1" },
                                       new SelectListItem { Text="Success",Value="Success"},
                                       new SelectListItem { Text="Fail",Value="Fail"},
                                       new SelectListItem { Text="Cancel",Value="Cancel"} }, new {  id = "Status" })                                  
                                       
                                    </div>
                                                                   
                                <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.CreatedOnFrom)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.CreatedOnFrom)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.CreatedOnTo)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.CreatedOnTo)
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.PaymentGateWayType)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.PaymentGateWayType, Model.PaymentGateWayType)
                                    </div>
                                </div>*@
                              
                               
                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-4">
                                        <button type="button" id="search-log" class="btn bg-blue">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" id="showlogdetail">
                    <div class="panel-body">
                        <div id="log-grid"></div>

                        <script>
                            $(document).ready(function() {
                                $("#log-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("PaymentGatewayLogReport", "Log"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)],
                                        @Html.Partial("_GridPagerMessages")
                                    },
                                    scrollable: true,
                                    dataBound: onDataBound,
                                    columns: [
                                   
                                    {
                                        field: "TranscationCode",
                                        title: "@T("Admin.System.Log.PaymentGateWayLogReport.TranscationCode")",
                                        width:130,
                                    }, {
                                        field: "TranscationName",
                                        title: "@T("Admin.System.Log.PaymentGateWayLogReport.TranscationName")"  ,
                                        width:130,
                                    },
                                    {
                                        field: "OrderId",
                                        title: "@T("Admin.System.Log.PaymentGateWayLogReport.OrderId")",
                                        width: 130,
                                        
                                        }, {
                                        field: "Paymode",
                                        title: "@T("Admin.System.Log.PaymentGateWayLogReport.Paymode")",
                                        width: 150,
                                        
                                    }, 
                                     {
                                         field: "TotalAmount",
                                         title: "@T("Admin.System.Log.PaymentGateWayLogReport.TotalAmount")",
                                        width: 130,
                              
                                     },
                                     {
                                         field: "Date",
                                         title: "@T("Admin.System.Log.PaymentGateWayLogReport.Date")",
                                        width: 130,
                              
                                        },{
                                         field: "Status",
                                         title: "@T("Admin.System.Log.PaymentGateWayLogReport.Status")",
                                        width:130,
                                        }
                                       
                                    ]
                                });
                            });
                        </script>

                        <script type="text/javascript">
                            var selectedIds = [];
                            $("#validationMessages").hide();
                            $("#validationMessages1").hide();

                            $('#search-log').click(function() {
                                var OrderType=$('#OrderType').val();

                                $("#validationMessages").hide();
                                $("#validationMessages1").hide();
                                var myDate = new Date(getDateFromString($("#CreatedOnFrom").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                var myFromDate = new Date(getDateFromString($("#CreatedOnTo").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));


                                var today = new Date();
                                var validationDivs='';
                                var start_time=$("#DatewiseFrom").val();
                                var end_time=$("#DatewiseTo").val();

                                if (myFromDate > today) {

                                    $("#validationMessages").show();
                                    validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                                    $('#validationMessages').html(validationDivs);
                                    // flag=false;
                                    $('#log-grid').hide();
                                    $("#showlogdetail").hide();
                                    return false;
                                }
                                if (myFromDate < myDate) {
                                    $("#validationMessages").show();
                                    validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                                    //flag=false;
                                    $('#validationMessages').html(validationDivs);
                                    $('#log-grid').hide();
                                    $("#showlogdetail").hide();
                                    return false;
                                }

                                //search
                                var grid = $('#log-grid').data('kendoGrid');
                                grid.dataSource.page(1);
                                $("#showlogdetail").show();
                                $("#log-grid").show();
                                //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                //clear selected checkboxes
                                $('.checkboxGroups').attr('checked', false).change();
                                selectedIds = [];
                                return false;
                            });
                        
                            function additionalData() {

                                var data = {

                                    CreatedOnFrom: getDate($("#CreatedOnFrom").data("kendoDatePicker").value()),
                                    CreatedOnTo: getDate($("#CreatedOnTo").data("kendoDatePicker").value()),
                                    Status: $('#@Html.FieldIdFor(model => model.Status)').val(),
                                    OrderType: $('#@Html.FieldIdFor(model => model.OrderType)').val(),
                                    @*LogLevelId: $('#@Html.FieldIdFor(model => model.LogLevelId)').val()*@
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }

                            function onDataBound(e) {
                                $('#log-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').each(function() {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });

                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#log-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').length;
                                var numChkBoxesChecked = $('#log-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
  
}
