﻿@model Nop.Web.Framework.Models.MyTeam.MyDirect
@{
    Html.AddTitleParts(T("Dashboard.MyNetwork.Mydirect").Text);
    Layout = "~/Views/Shared/_ColumnVF.cshtml";
}

<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
<style>
    .error {
        text-align: center;
        /*font-weight: bold;*/
        padding-top: 1em;
    }
</style>
@if (Model.HideExportToExcelFunctionality == false)
{
    <style>
        .DTTT_button DTTT_button_xls {
            display: none !important;
        }
    </style>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.HideExportToExcelFunctionality, new { id = "HideExportToExcelFunctionality" })

    @Html.HiddenFor(model => model.SelectedField)
    <input type="hidden" value="0" id="AllCommitionIncomeFlag" />

    <div class="page account-page return-request-list-page ">

        <div class="page-title">
            <h1>@T("Dashboard.MyNetwork.Mydirect")</h1>
        </div>
        <div class="page registration-result-page">
            <div class="page-body">
                @{
                    var validationSummary = Html.ValidationSummary(true);
                }
                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error error">
                        @validationSummary
                        @T(ViewBag.err)
                    </div>
                }
                <div class="customer-blocks">
                    <div class="panel panel-default">

                        <div class="message-error error" id="validationMessages"></div>
                        <div class="panel-body">

                            <div class="panel-group" id="accordion">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <strong>@T("Dashboard.MyNetwork.SearchOption")</strong>
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <span style="float:right" id="btnplusminus" class="glyphicon glyphicon-plus"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="inputs">
                                                @Html.LabelFor(model => model.PackageListName)

                                                @Html.DropDownListFor(model => model.PackageListName, Model.PackageList, "Select Package", new { Id = "ddlpackageList" })
                                            </div>
                                            <div class="inputs">
                                                @Html.LabelFor(model => model.DatewiseFrom)

                                                @Html.EditorFor(model => model.DatewiseFrom)
                                                @Html.ValidationMessageFor(model => model.DatewiseFrom)
                                            </div>
                                            <div class="inputs">
                                                @Html.LabelFor(model => model.DatewiseTo)

                                                @Html.EditorFor(model => model.DatewiseTo)
                                                @Html.ValidationMessageFor(model => model.DatewiseTo)
                                            </div>

                                            <div class="inputs">
                                                @Html.LabelFor(model => model.ddlCountry)

                                                @Html.DropDownListFor(model => model.ddlCountry, Model.CountryList, "Select Country", new { autocomplete = "off", maxlength = 22, Id = "ddlCountry" })
                                            </div>

                                            <div class="inputs">
                                                @Html.LabelFor(model => model.ddlState)

                                                @Html.DropDownListFor(model => model.ddlState, Model.StateList, "Select State", new { autocomplete = "off", maxlength = 22, Id = "ddlState" })
                                            </div>

                                            <div class="inputs">
                                                @Html.LabelFor(model => model.ddlCity)

                                                @Html.DropDownListFor(model => model.ddlCity, Model.CityList, "Select City", new { autocomplete = "off", maxlength = 22, Id = "ddlCity" })
                                            </div>
                                            <div class="inputs" id="CityText">
                                                @Html.LabelFor(model => model.ddlCity)

                                                @Html.EditorFor(model => model.ddlCityName)
                                            </div>
                                            @if (Model.ProjPlanType != 2)
                                            {
                                                <div class="inputs">
                                                    @Html.LabelFor(model => model.PS_ID)
                                                    @Html.DropDownListFor(model => model.PS_ID, Model.PositionList, new { autocomplete = "off", maxlength = 22, Id = "PositionList" })
                                                </div>
                                            }
                                            <div class="row">
                                                <div class="inputs">
                                                    <div class="clear"></div>
                                                    <div class="inputs col-md-9 col-sm-10 col-md-offset-2 col-sm-offset-1 Listmargin " id="Listmargin">

                                                        <div class="col-md-3 col-sm-3 Listtop col-md-offset-1 col-sm-offset-1 " id="Listtop">
                                                            @Html.ListBoxFor(x => x.LeftSelectedField, Model.LeftFieldList, new { id = "LeftListBox", @class = "DirectUIstyle" })
                                                        </div>
                                                        <div class="clear"></div>

                                                        <div class="col-md-2 col-sm-2" id="divButton">

                                                            @*<div class="row mydirectmarginTop">*@
                                                            <center>
                                                                <div>
                                                                    <input type="button" class="move-listItembtn button-1" value=">" id="SingleRight" style="font-size : 12px;  padding: 5px; margin-bottom:1%; " name="move-listItem" />
                                                                </div>
                                                                <div>
                                                                    <input type="button" class="move-listItembtn button-1" value=">>" id="AllRight" style="font-size : 12px;  padding: 5px; margin-bottom:1%;" name="move-listitem" />
                                                                </div>
                                                                <div>
                                                                    <input type="button" class="move-listItembtn button-1" value="<" id="SingleLeft" style="font-size : 12px;  padding: 5px; margin-bottom:1%;" name="move-listItem" />
                                                                </div>
                                                                <div>
                                                                    <input type="button" class="move-listItembtn button-1" value="<<" id="AllLeft" style="font-size : 12px;  padding: 5px; margin-bottom:1%;" name="move-listItem" />
                                                                </div>
                                                            </center>
                                                        </div>


                                                        <div class="col-md-3 col-sm-3 Listbottom " id="Listbottom">@Html.ListBoxFor(x => x.RightSelectedField, Model.RightFieldList, new { id = "RightListBox", @class = "DirectUIstyle" })</div>
                                                        <div class="col-md-2 col-sm-2" id="divButton">

                                                            @*<div class="row mydirectmarginTop">*@
                                                            <center>
                                                                <div class="">
                                                                    <input type="button" class="move-listItembtn button-1" value="↑" id="SingleRight" onclick="listbox_move('RightListBox', 'up')" style="font-size : 12px;  padding: 5px;   margin-bottom:1%;" name="move-listItem" />
                                                                </div>
                                                                <div class="">
                                                                    <input type="button" class="move-listItembtn button-1" value="↓" id="AllRight" onclick="listbox_move('RightListBox', 'down')" style="font-size : 12px;  padding: 5px;  margin-bottom:1%;" name="move-listitem" />
                                                                </div>

                                                            </center>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="inputs col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1 Listmargin " id="Listmargin">
                                                    <div class="inputs" style="margin-top:1%">
                                                        <div class="buttons">
                                                            <input type="button" id="search" class="button-1" value="@T("Tree.Search.Button")" />
                                                            <input type="button" id="btnreset" class="button-1" value="@T("Tree.Reset.Button")" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content" id="ScrollableDiv">
                                        @*  @Html.Partial("_CommanServerSideKendoGrid", Model.dataTable)*@
                                        @*@Html.Action("GetColumnList", "MyNetwork", new { RightSelectedField = Model.SelectedField })*@
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    }

<script>

    var table = $('#mydirectDataTable').DataTable();
    var rowCount = $("#mydirectDataTable td").closest("tr").length;
    var data;
    var rightListArray = [];

    function setData() {

        var validationDivs = '';
        $('#validationMessages').html('');
        if ($('#RightListBox option').size() > 7) {
            validationDivs = validationDivs + '<div>@T("Admin.Validation.ListBoxLength")</div>';
            $("#validationMessages").show();
            $('#validationMessages').append(validationDivs);
            return false;
        }
        else if ($('#RightListBox option').size() <= 0) {
            validationDivs = validationDivs + '<div>@T("admin.common.minimumOneField")</div>';
            $("#validationMessages").show();
            $('#validationMessages').append(validationDivs);
            return false;
        }

        var myDate = new Date(getDateFromString($("#DatewiseFrom").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));
        var myFromDate = new Date(getDateFromString($("#DatewiseTo").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"));

        var today = new Date();
        var start_time = $("#DatewiseFrom").val();
        var end_time = $("#DatewiseTo").val();

        var SearchFirstName = $("#memberID").val(), MemId = $("#searchId").val();
        var myfDate = Date.parse(myDate)
        var mytDate = Date.parse(myFromDate)

        if (!isNaN(myfDate) == true && isNaN(mytDate) == true) {
            $("#validationMessages").show();
            validationDivs = validationDivs + '<div>@T("admin.common.datetoerror")</div>';
            $('#validationMessages').html(validationDivs);
            // flag=false;
            $('#searchResult').hide();
            return false;

        }
        if (!isNaN(mytDate) == true && isNaN(myfDate) == true) {
            $("#validationMessages").show();
            validationDivs = validationDivs + '<div>@T("admin.common.datefromerror")</div>';
            $('#validationMessages').html(validationDivs);
            // flag=false;
            $('#searchResult').hide();
            return false;

        }
        if (myFromDate > today) {

            $("#validationMessages").show();
            validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
            $('#validationMessages').html(validationDivs);
            // flag=false;
            $('#searchResult').hide();
            return false;
        }
        if (myFromDate < myDate) {
            $("#validationMessages").show();
            validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
            //flag=false;
            $('#validationMessages').html(validationDivs);
            $('#searchResult').hide();
            return false;
        }
        $("form").submit(function (e) {
            $("#LeftListBox option").attr("selected", "selected");
            $("#RightListBox option").attr("selected", "selected");
        });

        var rightList = $('#RightListBox option');
        rightListArray = [];
        for (var i = 0; i < rightList.length; i++) {
            rightListArray.push(rightList[i].value);
        }

        data = {
            DatewiseFrom: getDateFromString($("#DatewiseFrom").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
            DatewiseTo: getDateFromString($("#DatewiseTo").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.MemberSideCultureDateTime"),
            Ps_ID: $('#PositionList').val(),
            ddlCountry: $('#@Html.FieldIdFor(model => model.ddlCountry)').val(),
            ddlState: $('#@Html.FieldIdFor(model => model.ddlState)').val(),
            ddlCity: $('#@Html.FieldIdFor(model => model.ddlCity)').val(),
            ddlCityName: $('#@Html.FieldIdFor(model => model.ddlCityName)').val(),
            PackageListName: $("#ddlpackageList").val(),
            RightSelectedField: rightListArray
        };

        $('#RightSelectedField').val(rightListArray);
        addAntiForgeryToken(data);
    }



    $(document).ready(function () {
        setData();

        $.ajax({
            url: "@Html.Raw(Url.Action("GetColumnList", "MyNetwork"))",
            type: "POST",
            dataType: "html",
            data: data,       
            success: function (result) {
                $('#ScrollableDiv').html("");
                $('#ScrollableDiv').html(result);
                //alert('hi');
                //alert(result);
            },
            error: function (result) {

            }
        });

        //getGrideData();

        if ($("#ddlCity").val() == '-1') {

            $("#CityText").show();
        }
        else {
            $("#CityText").hide();
        }
        $("#@Html.FieldIdFor(model => model.ddlCity)").change(function () {
            //
            var selectedItem = $(this).val();
            if (selectedItem == -1)
                $("#CityText").show();
            else
                $("#CityText").hide();

        });


        $(".collapse.in").each(function () {
            $("#btnplusminus").siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
        });
        $(".collapse").on('show.bs.collapse', function () {
            $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }).on('hide.bs.collapse', function () {
            $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });
    });

    function listbox_move(listID, direction) {

        var listbox = document.getElementById(listID);
        var selIndex = listbox.selectedIndex;

        if (-1 == selIndex) {
            alert("Please select an option to move.");
            return;
        }

        var increment = -1;
        if (direction == 'up')
            increment = -1;
        else
            increment = 1;

        if ((selIndex + increment) < 0 ||
            (selIndex + increment) > (listbox.options.length - 1)) {
            return;
        }

        var selValue = listbox.options[selIndex].value;
        var selText = listbox.options[selIndex].text;
        listbox.options[selIndex].value = listbox.options[selIndex + increment].value
        listbox.options[selIndex].text = listbox.options[selIndex + increment].text

        listbox.options[selIndex + increment].value = selValue;
        listbox.options[selIndex + increment].text = selText;

        listbox.selectedIndex = selIndex + increment;
    }
    $("#@Html.FieldIdFor(model => model.ddlCountry)").change(function () {

        var selectedItem = $(this).val();
        var ddlStates = $("#@Html.FieldIdFor(model => model.ddlState)");
        var statesProgress = $("#states-loading-progress");
        statesProgress.show();
        $.ajax({
            cache: false,
            type: "GET",
            url: "@(Url.RouteUrl("GetStatesByCountryId"))",
            data: { "countryId": selectedItem, "addSelectStateItem": "true" },
            success: function (data) {
                ddlStates.html('');
                $.each(data, function (id, option) {
                    ddlStates.append($('<option></option>').val(option.id).html(option.name));
                });
                statesProgress.hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve states.');
                statesProgress.hide();
            }
        });
    });

    $("#@Html.FieldIdFor(model => model.ddlState)").change(function () {
        var selectedItem = $(this).val();
        var ddlStates = $("#@Html.FieldIdFor(model => model.ddlCity)");
        $.ajax({
            cache: false,
            type: "GET",
            url: "@(Url.Action("GetCitiesByStateId","Customer"))",
            data: { "StateProvinceId": selectedItem },
            success: function (data) {

                $("#ddlCity").html('');
                $.each(data, function (id, option) {
                    // alert(option.id);
                    $("#ddlCity").append($('<option></option>').val(option.id).html(option.name));
                });
                statesProgress.hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve cities.');

            }
        });
    });

    $(document).ready(function () {

        $('#validationMessages').html('');
        $("#validationMessages").hide();
        $('#LeftListBox :first-child').attr('selected', false);
        $('#RightListBox :first-child').attr('selected', false);

        $('#SingleRight').click(function () {
            //
            var validationDivs = '';
            $('#validationMessages').html('');
            if (($('#RightListBox option').size() + $("#LeftListBox :selected").length) > 7) {
                validationDivs = validationDivs + '<div>@T("Admin.Validation.ListBoxLength")</div>';
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
                return false;
            }
            else {
                $('#LeftListBox option:selected').appendTo('#RightListBox');
                selectItem();
            }

        });

        $('#AllRight').click(function (e) {
            //
            var selectedOpts = $('#LeftListBox option');
            var validationDivs = '';
            $('#validationMessages').html('');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }
            if ((($('#RightListBox option').size()) + ($('#LeftListBox option').size())) > 7) {
                validationDivs = validationDivs + '<div>@T("Admin.Validation.ListBoxLength")</div>';
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
                return false;
            }
            else {
                $('#RightListBox').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                selectItem();
            }
        });

        $('#SingleLeft').click(function () {
            //
            $('#RightListBox option:selected').appendTo('#LeftListBox');
            selectItem();

        });

        $('#AllLeft').click(function () {
            //
            var validationDivs = '';
            $('#RightListBox option').appendTo('#LeftListBox');
            selectItem();
            if ($('#RightListBox option').size() <= 0) {
                validationDivs = validationDivs + '<div>@T("admin.common.minimumOneField")</div>';
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
                return false;
            }
        });

        $("#divseachById").slideUp();
        $("#divHeadingSearch").click(function () {
            $("#divseachById").slideToggle();

        });


        $("#DatewiseFrom").keyup(function () {
            $(this).val('');
        });
        $("#DatewiseTo").keyup(function () {
            $(this).val('');
        });
        $("#DatewiseFrom").datepicker({
            changeMonth: true,
            changeYear: true,
        })
        $("#DatewiseTo").datepicker({
            changeMonth: true,
            changeYear: true,
        })

        $.extend(true, $.fn.dataTable.defaults, {
            "searching": true,
            "ordering": true,
            "info": true,
            "paging": true

        });

        //search
        $('#search').click(function (e) {

            setData();
            $('.loader').show();

            $.ajax({
                url: "@Html.Raw(Url.Action("GetColumnList", "MyNetwork"))",
                type: "POST",
                dataType: "html",
                data: data,
                success: function (result) {

                    $('.loader').hide();

                    $('#ScrollableDiv').html("");
                    $('#ScrollableDiv').html(result);                  
                },
                error: function (result) {
                    $('.loader').hide();
                }
            });

            $("#collapseOne").removeClass("panel-collapse collapse in");
            $("#collapseOne").addClass("panel-collapse collapse");

            $("#btnplusminus").removeClass("glyphicon glyphicon-minus");
            $("#btnplusminus").addClass("glyphicon glyphicon-plus");
        });
    });

    function myExcel() {
        setData();
        $('.loader').show();

        $.ajax({
            url: "@Html.Raw(Url.Action("MyDirectExportToExcel", "MyNetwork"))",
            type: "POST",
            dataType: "json",
            data: data,
            success: function (result) {

                $('.loader').hide();

                if (result.success) {
                    if (result.fullFileName != null && result.fullFileName != "") {
                        window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                    }
                    else {

                        var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs1);
                    }
                }
                else {
                    var validationDivs1 = '<div>' + result.fullFileName + '</div>';
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs1);
                }
            },
            error: function (result) {
                $('.loader').hide();
            }
        });

    }

    $('#btnreset').on('click', (function () {
        $('.loader').show();
        document.location = "@(Url.Action("MyDirect", "MyNetwork"))";
    }));

</script>
