﻿<link href="~/content/datatables/css/responsive.datatables.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script src="~/Content/Bootstrap/js/bootstrap.min.js"></script>
<script src="~/scripts/datatables/datatables.responsive.min.js"></script>


@model Nop.Web.Models.MyNetwork.TreeViewMemberModel
<div class="panel panel-default">
    @*<div class="panel-heading">
            <h3>@T("Admin.MemberReport.TreeView")</h3>
        </div>*@
    <div class="panel-body">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">

                    <div class="clearfix"></div>
                </div>
                <div class="x_content" id="ScrollableDiv">

                    <table id="tblTreeView" class="display responsive nowrap stripe cell-border" cellspacing="0" width="100%">
                       
                        <tbody>
                            <tr>
                                @if (Model.TreeViewStatus.Contains("0"))
                                {
                                    <td class="adminTitle">
                                        <img src=@Model.AvailableIconUrl />
                                        @T("Tree.Status.Available")
                                    </td>
                                }
                                @if (Model.TreeViewStatus.Contains("1"))
                                {
                                    <td class="adminTitle">
                                        <img src=@Model.PaidIconUrl />
                                        @T("Tree.Status.Paid")
                                    </td>
                                }
                                @if (Model.TreeViewStatus.Contains("2"))
                                {
                                    <td class="adminTitle">
                                        <img src=@Model.creditIconUrl />
                                        @T("Tree.Status.Credit")
                                    </td>
                                }
                                @if (Model.TreeViewStatus.Contains("3"))
                                {
                                    <td class="adminTitle">
                                        <img src=@Model.redIconUrl />
                                        @T("Tree.Status.Unpaid")
                                    </td>
                                }
                               
                                @if (Model.TreeViewStatus.Contains("5"))
                                {
                                    <td class="adminTitle">
                                        <img src=@Model.FreeIconUrl />
                                        @T("Tree.Status.Free")
                                    </td>
                                }
                                @if (Model.TreeViewStatus.Contains("6"))
                                {
                                    <td class="col-md-2">
                                        <img src=@Model.BlockedIconUrl />
                                        @T("Tree.Status.Blocked")
                                    </td>

                                }

                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $.extend(true, $.fn.dataTable.defaults, {
        "searching": false,
        "paging": false,
        "ordering": false,
        "info": false
    });
    $('#tblTreeView').dataTable();
</script>