﻿@{
    //if (ViewData["stylebundle"] != null)
    //{
    //    if (String.IsNullOrWhiteSpace(ViewData["stylebundle"].ToString()))
    //    {
    //        ViewData["stylebundle"] = "~/admincss";
    //    }
    //}
    //else
    //{
    //    ViewData["stylebundle"] = "~/admincss";
    //}
    //if (ViewData["pagetitle"] != null)
    //{
    //    if (String.IsNullOrWhiteSpace(ViewData["pagetitle"].ToString()))
    //    {
    //        ViewData["pagetitle"] = " Welcome to " + GetThis.Classes.CommonFunctions.GetThisProductName;
    //    }
    //}
    //else
    //{
    //    ViewData["pagetitle"] = "";
    //}
    string virtualURL = (HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + HttpRuntime.AppDomainAppVirtualPath).EndsWith("/") ? HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + HttpRuntime.AppDomainAppVirtualPath : HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + HttpRuntime.AppDomainAppVirtualPath + "/";
}
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta name="description" content="">
<meta name="author" content="">

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons|Satisfy|Courgette" />
                                                
<script type="text/javascript">
   
    var LOGGED_IN_ID = parseInt('@(Session["id"] == null ? 0 : Session["id"])') == 0 ? null : parseInt('@Session["id"]'),
       LOGGED_IN_NO = '@(Session["memno"] == null ? "" : Session["memno"])' == '' ? null : '@Session["memno"]',
       LOGGED_IN_NAME = '@(Session["fullname"] == null ? "" : Session["fullname"])' == '' ? null : '@Session["fullname"]',
       LOGGED_IN_LOGINID = '@(Session["loginid"] == null ? "" : Session["loginid"])' == '' ? null : '@Session["loginid"]';
        LOGGED_IN_EMAIL = '@(Session["mememailid"] == null ? "" : Session["mememailid"])' == '' ? null : '@Session["mememailid"]',
        LOGGED_IN_MOBILENO = '@(Session["memmobno"] == null ? "" : Session["memmobno"])' == '' ? null : '@Session["memmobno"]',
        LOGGED_IN_GENDER = '@(Session["memgender"] == null ? "" : Session["memgender"])' == '' ? null : '@Session["memgender"]',
        LOGGED_IN_FIRSTNAME = '@(Session["memfirstname"] == null ? "" : Session["memfirstname"])' == '' ? null : '@Session["memfirstname"]',
        LOGGED_IN_LASTNAME = '@(Session["memlastname"] == null ? "" : Session["memlastname"])' == '' ? null : '@Session["memlastname"]';
    var virtualPath = '@virtualURL',
        admin_id = parseInt('@(Session["aid"] == null ? 0 : Session["aid"])'),
        admin_login_id = '@(Session["aloginid"] == null ? "" : Session["aloginid"])',
        GetThisHomeUrl = '@Nop.Plugin.Api.Classes.CommonFunctions.GetThisHomeUrl',
        GetThisProductName = '@Nop.Plugin.Api.Classes.CommonFunctions.GetThisProductName',
        app_sto = parseInt('@(HttpContext.Current.Application["Session_Timeout"] == null ? "20" : HttpContext.Current.Application["Session_Timeout"])');
        app_sto = (app_sto * 60 * 1000), app_sto_int = null; q = 0;//app_sto = 1000;

</script>