﻿@model Nop.Plugin.Theme.Vnext.Models.VnextTheme
@using Nop.Web.Framework;

@*@{
        if (Model.ThemeLayoutFlag != null)
        {
            if (Model.ThemeLayoutFlag)
            {
                Layout = "~/Views/Shared/_AdminLayout.cshtml";

                <h3 class="pull-left">
                    <label>Configure - Vnext Theme</label>
                    <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("back to plugin list", "List")</small>
                </h3>
                <br />
                <br />
                <br />
            }
        }
    }*@

<script src="~/Plugins/Theme.Vnext/JS/MainVnext.js" type="text/javascript"></script>

<link rel="stylesheet" href="~/Plugins/Theme.Vnext/CSS/ColorMain.css" />
<link rel="stylesheet" href="~/Plugins/Theme.Vnext/CSS/MainVnext.css" />

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @*<div class="example-content well">
            <div class="example-content-widget">
                <input id="simple-color-picker" type="text" class="form-control" value="#8f3596" />


            </div>
        </div>*@

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="col-md-8">
                                        <div style="text-align: left">
                                            <b style="color:red;font-weight:bold ;"> @T("Admin.Note.Note") </b> @T("Member.Vnext.Theme.note")
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.HeaderPanelBackgroundColor)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.HeaderPanelBackgroundColor)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.SidePanelBackgroundColor)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.SidePanelBackgroundColor)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.SearchPanelBackgroundColor)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.SearchPanelBackgroundColor)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.DatatableHeaderBackgroundColor)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.DatatableHeaderBackgroundColor)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.LogInLogoUrl)
                                    </div>
                                    <div class="col-md-8" id="pdf-logo-picture">
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @if (Model.LogInLogoUrl != null)
                                                {
                                                    <img src="@Url.Content(Model.LogInLogoUrl)" alt="IMAGES" style="width:100%; height:50px" />
                                                }
                                            </div>
                                            <br />
                                            <div class="col-md-8" id="pdf-logo-picture">
                                                <div class="qq-upload-button-selector qq-upload-button" style="position: relative; overflow: hidden; direction: ltr;">
                                                    <div>Upload a file</div>
                                                    <input type="file" name="file" style="position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8">
                                        <b style="color:red;font-weight:bold"> @T("Admin.Note.Note") </b> @T("Vnext.Logo.Note")<br />
                                    </div>
                                </div>
                               
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.WebSideHeaderLogoUrl)
                                    </div>
                                    <div class="col-md-8" id="pdf-logo-picture">
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @if (Model.WebSideHeaderLogoUrl != null)
                                                {
                                                    <img src="@Url.Content(Model.WebSideHeaderLogoUrl)" alt="IMAGES" style="width:100%; height:50px" />
                                                }
                                            </div>
                                            <br />
                                            <div class="col-md-8" id="pdf-logo-picture">
                                                <div class="qq-upload-button-selector qq-upload-button" style="position: relative; overflow: hidden; direction: ltr;">
                                                    <div>Upload a file</div>
                                                    <input type="file" name="WebSideHeaderLogoUrlfile" style="position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8">
                                        <b style="color:red;font-weight:bold"> @T("Admin.Note.Note") </b> @T(" Admin.Configuration.Stores.Fields.AdminLogo.Hint2")<br />
                                    </div>
                                </div>                            
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <button type="submit" name="ResetVnextTheme" id="btnReset" class="btn" style="background-color:#dd4b39;color: #fff;">
                                    <i class="fa fa-refresh"></i>
                                    @T("SevenSpikes.Plugins.Admin.ResetDefaultSettings")
                                </button>
                                <button type="submit" name="SaveVnextTheme" id="btnSave" class="btn bg-blue">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>




    <script>
        $(function () {
            $('#HeaderPanelBackgroundColor').colorpicker();
        });
        $(function () {
            $('#SidePanelBackgroundColor').colorpicker();
        });
        $(function () {
            $('#SearchPanelBackgroundColor').colorpicker();
        });
        $(function () {
            $('#DatatableHeaderBackgroundColor').colorpicker();
        });
    </script>
    <script>
        $("#btnSave").click(function (evt) {
            var fileUpload = $("#file-upload").get(0);
            var files = fileUpload.files;
            var data = new FormData();
            data.append('type', 'your_type');
            data.append('id', '1');

            for (var i = 0; i < files.length; i++) {
                data.append(files[i].name, files[i]);
            }
            $.ajax({
                type: "POST",
                url: "/Vnext/MemberLogoUpload",
                contentType: false,
                processData: false,
                data: data,
                success: function (message) {
                    alert(message);
                },
                error: function () {
                    alert("There was error uploading files!");
                }
            });
        });
    </script>
}