﻿@model QueuedEmailListModel

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.System.QueuedEmails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Queued emails");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.System.QueuedEmails")
        </h1>
        <div class="pull-right">
            <button type="button" id="delete-selected" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.System.QueuedEmails.DeleteSelected")
            </button>
            <button type="submit" id="delete-all" name="delete-all" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.System.QueuedEmails.DeleteAll")
            </button>
            @Html.ActionConfirmation("delete-all")
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.SearchStartDate)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopEditorFor(model => model.SearchStartDate)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.SearchEndDate)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopEditorFor(model => model.SearchEndDate)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.SearchFromEmail)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopEditorFor(model => model.SearchFromEmail)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.SearchToEmail)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopEditorFor(model => model.SearchToEmail)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.SearchLoadNotSent)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopEditorFor(model => model.SearchLoadNotSent)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.SearchMaxSentTries)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.NopEditorFor(model => model.SearchMaxSentTries)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.NopLabelFor(model => model.GoDirectlyToNumber)
                                    </div>
                                    <div class="col-md-7">
                                        <div class="custom-input-group input-group-short">
                                            @Html.NopEditorFor(model => model.GoDirectlyToNumber)
                                            <span class="custom-input-group-btn">
                                                <button type="submit" id="go-to-email-by-number" name="go-to-email-by-number" class="btn btn-info btn-flat">
                                                    @T("Admin.Common.Go")
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-7 col-md-offset-5">
                                        <button type="button" id="search-queuedemails" class="btn btn-primary btn-search">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" id="showmsgquer">
                    <div class="panel-body">
                        <div id="queuedEmails-grid"></div>
                        <script>
                            $(document).ready(function() {

                                $("#queuedEmails-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("QueuedEmailList", "QueuedEmail"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)],
                                        @Html.Partial("_GridPagerMessages")
                                    },
                                    scrollable: true,
                                    //dataBound: onDataBound,
                                    columns: [
                                        {
                                            field: "Id",
                                            headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                            width:50
                                         
                                        }, {
                                            field: "Id",
                                            title: "@T("Admin.System.QueuedEmails.Fields.Id")",
                                            width:80
                                        }, {
                                            field: "Subject",
                                            title: "@T("Admin.System.QueuedEmails.Fields.Subject")",
                                            width:100
                                        }, {
                                            field: "From",
                                            title: "@T("Admin.System.QueuedEmails.Fields.From")",
                                            width:200
                                        }, {
                                            field: "To",
                                            title: "@T("Admin.System.QueuedEmails.Fields.To")",
                                            width:200
                                        }, {
                                            field: "CreatedUTCOn",
                                            title: "@T("Admin.System.QueuedEmails.Fields.CreatedOn")",
                                            width: 200,
                                            //type: "date",
                                            //format: "{0:G}"
                                            @*}, {
                                            field: "CreatedUTCOn",
                                            title: "@T("Admin.System.QueuedEmails.Fields.DontSendBeforeDate")",
                                            //width: 200,
                                            //type: "date",
                                            //format: "{0:G}"*@
                                        }, {
                                            field: "SentUTCOn",
                                            title: "@T("Admin.System.QueuedEmails.Fields.SentOn")",
                                            width: 100,
                                            //type: "date",
                                            //format: "{0:G}"
                                        }, {
                                            field: "PriorityName",
                                            title: "@T("Admin.System.QueuedEmails.Fields.Priority")",
                                            width:80
                                        }, {
                                            field: "Id",
                                            title: "@T("Admin.Common.Edit")",
                                            width:100,
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'                                        }
                                    ]
                                });
                            });
                        </script>

                        <script type="text/javascript">
                            var selectedIds = [];
                            $("#validationMessages").hide();
                            $(document).ready(function() {
                                $("#validationMessages").hide();

                                $("#showmsgquer").hide();

                                //search button
                                $('#search-queuedemails').click(function() {
                                    //search
                                    $("#validationMessages").hide();

                                    var myDate = new Date(getDateFromString($("#SearchStartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                    var myFromDate = new Date(getDateFromString($("#SearchEndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));


                                    var today = new Date();
                                    var validationDivs='';
                                    var start_time=$("#DatewiseFrom").val();
                                    var end_time=$("#DatewiseTo").val();

                                    if (myFromDate > today) {

                                        $("#validationMessages").show();
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                                        $('#validationMessages').html(validationDivs);
                                        // flag=false;
                                        $('#queuedEmails-grid').hide();
                                        $("#showmsgquer").hide();
                                        return false;
                                    }
                                    if (myFromDate < myDate) {
                                        $("#validationMessages").show();
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                                        //flag=false;
                                        $('#validationMessages').html(validationDivs);
                                        $('#queuedEmails-grid').hide();
                                        $("#showmsgquer").hide();
                                        return false;
                                    }
                                    $("#showmsgquer").show();
                                    var grid = $('#queuedEmails-grid').data('kendoGrid');
                                    grid.dataSource.page(1); //new search. Set page size to 1
                                    //grid.dataSource.read(); we already loaded the grid above using "page" function
                                    //clear selected checkboxes
                                    $('.checkboxGroups').attr('checked', false).change();
                                    selectedIds = [];

                                    return false;
                                });

                                $("".concat("#@Html.FieldIdFor(model => model.SearchFromEmail),",
                                    "#@Html.FieldIdFor(model => model.SearchToEmail)")).keydown(function(event) {
                                        if (event.keyCode === 13) {
                                            $("#search-queuedemails").click();
                                            return false;
                                        }
                                    });


                                $("#@Html.FieldIdFor(model => model.GoDirectlyToNumber)").keydown(function (event) {
                                    if (event.keyCode === 13) {
                                        $("#go-to-email-by-number").click();
                                        return false;
                                    }
                                });

                                //"delete selected" button
                                $('#delete-selected').click(function(e) {
                                    $('#validationMessages').html('');
                                    $("#validationMessages").hide();
                                    var validationDivs = '';
                                    e.preventDefault();
                                    if(selectedIds=='' || selectedIds.length<=0)
                                    {
                                        // alert("Select At Least One Record");
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAtLeastOneRecord")</div>';
                                        $("#validationMessages").show();
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                    var postData = {
                                        selectedIds: selectedIds
                                    };
                                    addAntiForgeryToken(postData);

                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@(Url.Action("DeleteSelected", "QueuedEmail"))",
                                        data: postData,
                                        complete: function(data) {
                                            //reload grid
                                            var grid = $('#queuedEmails-grid').data('kendoGrid');
                                            grid.dataSource.page(1); //new search. Set page size to 1
                                            //grid.dataSource.read(); we already loaded the grid above using "page" function
                                            //clear selected checkboxes
                                            $('.checkboxGroups').attr('checked', false).change();
                                            selectedIds = [];
                                        },
                                        error: function(xhr, ajaxOptions, thrownError) {
                                            alert(thrownError);
                                        },
                                        traditional: true
                                    });
                                    return false;
                                });

                                $('#mastercheckbox').click(function() {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#queuedEmails-grid').on('change', 'input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]', function(e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                    } else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function(item, index) {
                                                return item != $check.val();
                                            });
                                        }
                                    }
                                    updateMasterCheckbox();
                                });
                            });

                            function additionalData() {
                             
                                var data = {
                                    SearchStartDate: getDate($("#SearchStartDate").data("kendoDatePicker").value()),
                                    SearchEndDate:getDate($("#SearchEndDate").data("kendoDatePicker").value()),
                                    @*: $('#@Html.FieldIdFor(model => model.SearchStartDate)').val(),
                                    : $('#@Html.FieldIdFor(model => model.SearchEndDate)').val(),*@
                                    SearchFromEmail: $('#@Html.FieldIdFor(model => model.SearchFromEmail)').val(),
                                    SearchToEmail: $('#@Html.FieldIdFor(model => model.SearchToEmail)').val(),
                                    SearchLoadNotSent: $('#@Html.FieldIdFor(model => model.SearchLoadNotSent)').is(':checked'),
                                    SearchMaxSentTries: $('#@Html.FieldIdFor(model => model.SearchMaxSentTries)').val()
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }

                            function onDataBound(e) {

                                $('#queuedEmails-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').each(function() {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });

                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#queuedEmails-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').length;
                                var numChkBoxesChecked = $('#queuedEmails-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
}