﻿@model Nop.Web.Framework.Models.Comman.AddressModel
@using Nop.Web.Models.Common;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Core.Domain.Customers;
@{
    var IsGuest = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.IsGuest();

}

@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{

    <script type="text/javascript">
        $(document).ready(function () {
            var contryid = '@Model.CountryId';
            var stateid = '@Model.StateProvinceId';
            if (contryid != 0) {
                $("#@Html.FieldIdFor(model => model.CountryId) option").map(function () {
                    return this.id === contryid
                }).attr('selected', 'selected');
                $("#@Html.FieldIdFor(model => model.CountryId)").trigger('change');
            }

            if (stateid != 0) {
                $("#@Html.FieldIdFor(model => model.StateProvinceId) option").map(function () {
                    return this.id === stateid
                }).attr('selected', 'selected');
                $("#@Html.FieldIdFor(model => model.StateProvinceId)").trigger('change');
            }
            $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });

            $("#@Html.FieldIdFor(model => model.StateProvinceId)").change(function () {

                var selectedItem = $(this).val();
                var ddlCity = $("#@Html.FieldIdFor(model => model.City)");
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("GetCitiesByStateId","Customer"))",
                    data: { "StateProvinceId": selectedItem },
                    success: function (data) {

                        ddlCity.html('');
                        $.each(data, function (id, option) {
                            // alert(option.id);
                            ddlCity.append($('<option></option>').val(option.id).html(option.name));
                        });
                        $("#CityText").hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve cities.');

                    }
                });
            });
            $("#@Html.FieldIdFor(model => model.City)").change(function () {
                //
                var selectedItem = $(this).val();
                if (selectedItem == -1) {
                    $("#@Html.FieldIdFor(model => model.cityName)").val('');
                    $("#@Html.FieldIdFor(model => model.cityName)").closest("div").show();
                }
                else
                    $("#@Html.FieldIdFor(model => model.cityName)").closest("div").hide();

            });

            if ($("#@Html.FieldIdFor(model => model.City)").val() == '-1') {
                $("#@Html.FieldIdFor(model => model.cityName)").closest("div").show();
            }
            else {
                $("#@Html.FieldIdFor(model => model.cityName)").closest("div").hide();
            }



        });







    </script>
}
@Html.HiddenFor(model => model.Id)
<div class="edit-address">
    @if (IsGuest)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.FirstName, new { }, ":")
            @Html.TextBoxFor(model => model.FirstName)
            @*@Html.RequiredHint()
                @Html.ValidationMessageFor(model => model.FirstName)*@
        </div>
        <div class="inputs">
            @Html.LabelFor(model => model.LastName, new { }, ":")
            @Html.TextBoxFor(model => model.LastName)
            @*@Html.RequiredHint()
                @Html.ValidationMessageFor(model => model.LastName)*@

        </div>
    }
    else
    {
        if (Model.Title != "M/s")
        {
            if (Model.AddressType == "Billing")
            {
                <div class="inputs">
                    @Html.LabelFor(model => model.FirstName, new { }, ":")
                    @Html.TextBoxFor(model => model.FirstName , new { @readonly = "readonly" })
                    @*@Html.RequiredHint(), new { @readonly = "readonly" }
                        @Html.ValidationMessageFor(model => model.FirstName)*@
                </div>
                <div class="inputs">
                    @Html.LabelFor(model => model.LastName, new { }, ":")
                    @Html.TextBoxFor(model => model.LastName, new { @readonly = "readonly" })
                    @*@Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.LastName)*@

                </div>
            }
            else
            {
                <div class="inputs">
                    @Html.LabelFor(model => model.FirstName, new { }, ":")
                    @Html.TextBoxFor(model => model.FirstName)
                    @*@Html.RequiredHint(), new { @readonly = "readonly" }
                        @Html.ValidationMessageFor(model => model.FirstName)*@
                </div>
                <div class="inputs">
                    @Html.LabelFor(model => model.LastName, new { }, ":")
                    @Html.TextBoxFor(model => model.LastName)
                    @*@Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.LastName)*@

                </div>
            }
        }
        else
        {
            if (Model.AddressType == "Billing")
            {
            <div class="inputs">
                @Html.LabelFor(model => model.Company, new { }, ":")
                @Html.TextBoxFor(model => model.Company, new { @readonly = "readonly" })               
            </div>
            }
            else
            {
                <div class="inputs">
                    @Html.LabelFor(model => model.Company, new { }, ":")
                    @Html.TextBoxFor(model => model.Company)
                </div>
            }
        }
    }
    <div class="inputs">
        @Html.LabelFor(model => model.Email, new { }, ":")
        @Html.EditorFor(model => model.Email)
        @Html.RequiredHint()
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    @*@if (Model.CompanyEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.Company, new { }, ":")
            @Html.EditorFor(model => model.Company)
            @if (Model.CompanyRequired)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.Company)
        </div>
    }*@
    @if (Model.CountryEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.CountryId, new { }, ":")
            @Html.DropDownListFor(model => model.CountryId, Model.AvailableCountries)
            @Html.RequiredHint()
            @Html.ValidationMessageFor(model => model.CountryId)
        </div>

    }

    @if (Model.CountryEnabled && Model.StateProvinceEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.StateProvinceId, new { }, ":")
            @Html.DropDownListFor(model => model.StateProvinceId, Model.AvailableStates)
            <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
            @Html.ValidationMessageFor(model => model.StateProvinceId)
        </div>
    }
    @*@if (Model.CityEnabled)
        {
            <div class="inputs">

                    @Html.EditorFor(model => model.City)
                @Html.DropDownListFor(model => model.City, Model.AvailableCities)

                @if (Model.CityRequired)
                {
                    @Html.RequiredHint()
                }
                @Html.ValidationMessageFor(model => model.City)
            </div>
        }*@
    @if (Model.CityEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.City, new { }, ":")
            @*@Html.EditorFor(model => model.cityName)*@
            @Html.DropDownListFor(model => model.City, Model.AvailableCities)

            @if (Model.CityRequired)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="inputs" >
            @Html.LabelFor(model => model.cityName, new { }, ":")
            @Html.TextBoxFor(model => model.cityName)
        </div>
    }
    @if (Model.StreetAddressEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.Address1, new { }, ":")
            @Html.TextAreaFor(model => model.Address1)
            @if (Model.StreetAddressRequired)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.Address1)
        </div>
    }
    @if (Model.StreetAddress2Enabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.Address2, new { }, ":")
            @Html.TextAreaFor(model => model.Address2)
            @if (Model.StreetAddress2Required)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.Address2)
        </div>
    }
    @if (Model.ZipPostalCodeEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.ZipPostalCode, new { }, ":")
            @Html.EditorFor(model => model.ZipPostalCode)
            @if (Model.ZipPostalCodeRequired)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.ZipPostalCode)
        </div>
    }
    @if (Model.PhoneEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.PhoneNumber, new { }, ":")
            @Html.EditorFor(model => model.PhoneNumber)
            @if (Model.PhoneRequired)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>
    }
    @if (Model.FaxEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.FaxNumber, new { }, ":")
            @Html.EditorFor(model => model.FaxNumber)
            @if (Model.FaxRequired)
            {
                @Html.RequiredHint()
            }
            @Html.ValidationMessageFor(model => model.FaxNumber)
        </div>
    }
    @if (Model.CustomAddressAttributes.Count > 0)
    {
        @Html.Partial("_AddressAttributes", Model.CustomAddressAttributes)
    }
</div>
