﻿@model System.Data.DataTable
<div class="table-wrapper">
    <table id="nestedDataTableTwo" class="display nowrap stripe cell-border cart " cellspacing="0" width="100%">
        <thead>
            <tr>

                @for (int i = 0; i < Model.Columns.Count; i++)
                {
                    <th>
                        @Model.Columns[i].ColumnName
                    </th>
                }
            </tr>
        </thead>
        @*<tbody>
            @for (int i = 0; i < Model.Rows.Count; i++)
            {
                <tr>
                    @for (int j = 0; j < Model.Columns.Count; j++)
                    {
                        <td>
                            @if (!string.IsNullOrEmpty(Model.Rows[i][j].ToString()))
                            {
                                bool flag = Model.Columns[j].ColumnName.ToLower().Contains("date");
                                bool flag1 = Model.Columns[j].ColumnName.ToLower().Contains("doj");
                                bool flag2 = Model.Columns[j].ColumnName.ToLower().Contains("dob");
                                if ((Model.Columns[j].ColumnName.ToLower().Contains("date") || Model.Columns[j].ColumnName.ToLower().Contains("doj") || Model.Columns[j].ColumnName.ToLower().Contains("dob")))
                                {
                                    var t = Model.Rows[i][j].ToString();
                                    <text>@Convert.ToDateTime(Model.Rows[i][j].ToString()).ToString("dd/MM/yyyy")</text>

                                }
                                else
                                {
                                    @Model.Rows[i][j]
                                }
                            }
                            else
                            {
                                @Model.Rows[i][j]
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>*@
    </table>
</div>
<script type="text/javascript">
    $("#nestedDataTableTwo_wrapper").hide();


    @*$("#nestedDataTableTwo").dataTable({
        pagingType: "full_numbers",
        iDisplayLength: 10,
        dom: 'T<"clear">lfrtip',
        "oLanguage": {
            "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
        },
        tableTools: {
            "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
            "sRowSelect": "multi",
            "aButtons": [


            ]
        }
    });*@


    $("#nestedDataTableTwo_length").css("display", "none");
    $("#nestedDataTableTwo_filter").css("display", "none");
    $("#nestedDataTableTwo_info").css("display", "none");
    $("#nestedDataTableTwo_paginate").css("display", "none");
    $("#nestedDataTableTwo_paginate").css("display", "none");
    $("#ToolTables_nestedDataTableTwo_3").css("display", "none");
    $("#ToolTables_nestedDataTableTwo_0").css("display", "none");
    $("#ToolTables_nestedDataTableTwo_1").css("display", "none");
    $("#ToolTables_nestedDataTableTwo_2").css("display", "none");

</script>
