﻿@model TicketModel
@using Nop.Plugin.Widgets.Tickets.Models;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Services;

@{
    //page title
    ViewBag.Title = T("Admin.Ticket.EditTicketDetails").Text;
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";

    Html.AddCssFileParts("~/Scripts/fineuploader/fineuploader-4.2.2.min.css");
    Html.AddCssFileParts("~/Plugins/Widgets.Tickets/Content/configure.css");
    Html.AddScriptParts("~/Scripts/fineuploader/jquery.fineuploader-4.2.2.min.js");
    Html.SetActiveMenuItemSystemName("ticketsystem");
}

<script type="text/javascript">
    var AttachmentId = 0;

    $(document).ready(function() {
        toggleChangeTicketStatus(false);
        toggleChangeDepartment(false);
        toggleChangePriority(false);
        toggleChangeStaff(false);
    });
    function toggleChangeTicketStatus(editmode) {
        if (editmode) {
            $('#pnlChangeTicketStatus').show();
            $('#btnChangeTicketStatus').hide();
        } else {
            $('#pnlChangeTicketStatus').hide();
            $('#btnChangeTicketStatus').show();
        }
    }

    function toggleChangeDepartment(editmode) {
        if (editmode) {
            $('#pnlChangeDepartment').show();
            $('#btnChangeDepartment').hide();
        } else {
            $('#pnlChangeDepartment').hide();
            $('#btnChangeDepartment').show();
        }
    }

    function toggleChangePriority(editmode) {
        if (editmode) {
            $('#pnlChangePriority').show();
            $('#btnChangePriority').hide();
        } else {
            $('#pnlChangePriority').hide();
            $('#btnChangePriority').show();
        }
    }

    function toggleChangeStaff(editmode) {
        if (editmode) {
            $('#pnlChangeStaff').show();
            $('#btnChangeStaff').hide();
        } else {
            $('#pnlChangeStaff').hide();
            $('#btnChangeStaff').show();
        }
    }

</script>

@using (Html.BeginRouteForm("Nop.Plugin.Widgets.Tickets.Edit", FormMethod.Post, new { id = "ticket-form" }))
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Ticket.EditTicketDetails") - @Model.Id  <small><i class="fa fa-arrow-circle-left"></i><a href="@Url.Content("~/Admin/Plugins/Tickets/TicketHeader/Configure")">@T("Admin.Tickets.BackToList")</a></small>
        </h1>
        <div class="pull-right">

            <button type="submit" name="btnDeleteTicket" id="btnDeleteTicket" class="btn btn-primary bg-red" style="margin-left: 3px" data-target="#productmodel-delete-confirmation">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </button>
            @Html.ActionConfirmation("btnDeleteTicket")

        </div>
    </div>

    @Html.ValidationSummary(false)

    <div class="content">
        <div class="form-horizontal">
            <div id="contactattribute-edit" class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    @Html.RenderBootstrapTabHeader("tab-info", @T("Admin.Ticket.Info"), true)
                    @Html.RenderBootstrapTabHeader("tab-response", @T("Admin.Ticket.Response"))
                </ul>
                <div class="tab-content">
                    @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)
                    @Html.RenderBootstrapTabContent("tab-response", @TabOrderNotes())
                </div>
            </div>
        </div>
    </div>

    @*save selected tab index*@
    <input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(Html.GetSelectedTabName())">

}





@helper TabInfo()
{
    <div>

        <div class="form-group">
            <div class="col-md-3">
                <strong>
                    @Html.NopLabelFor(model => model.TicketStatus)
                </strong>
            </div>
            <div class="col-md-9">
                <div class="col-md-2">
                    <div class="form-text-row"><strong>@Model.TicketStatus</strong></div>
                </div>
                <div class="col-md-10">
                    <input type="submit" name="btnChangeTicketStatus" value="@T("Admin.Ticket.Fields.TicketStatus.Change")" onclick="toggleChangeTicketStatus(true);return false;" id="btnChangeTicketStatus" class="btn btn-info btn-flat btn-content-width" />
                </div>
                <div id="pnlChangeTicketStatus">
                    <div class="col-md-12 custom-ticket-margin">
                        <div class="col-md-12">
                            <em>@T("Admin.Ticket.Fields.TicketStatus.Change.ForAdvancedUsers")</em>
                        </div>
                        <div class="col-md-3">
                            @Html.NopDropDownListFor(model => model.TicketStatusId, ((Nop.Plugin.Widgets.Tickets.Domain.TicketStatus)Model.TicketStatusId).ToSelectList())
                        </div>
                        <div class="col-md-9">
                            <input type="submit" name="btnSaveTicketStatus" value="@T("Admin.Common.Save")" id="btnSaveTicketStatus" class="btn btn-info btn-flat" onclick="return confirm('@T("Admin.Common.AreYouSure")');" />
                            <input type="submit" name="btnCancelTicketStatus" value="@T("Admin.Common.Cancel")" onclick="toggleChangeTicketStatus(false);return false;" id="btnCancelTicketStatus" class="btn btn-info btn-flat" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <strong>
                    @Html.NopLabelFor(model => model.Deparment)
                </strong>
            </div>
            <div class="col-md-9">
                <div class="col-md-2">
                    <div class="form-text-row"><strong>@Model.Deparment</strong></div>
                </div>
                <div class="col-md-10">
                    <input type="submit" name="btnChangeDepartment" value="@T("Admin.Ticket.Fields.Deparment.Change")" onclick="toggleChangeDepartment(true); return false;" id="btnChangeDeparment" class="btn btn-info btn-flat btn-content-width" />
                </div>
                <div id="pnlChangeDepartment">
                    <div class="col-md-12 custom-ticket-margin">
                        <div class="col-md-12">
                            <em>@T("Admin.Ticket.Fields.Deparment.Change.ForAdvancedUsers")</em>
                        </div>
                        <div class="col-md-3">
                            @Html.NopDropDownListFor(model => model.DeparmentId, Model.AvailableDepartments)
                        </div>
                        <div class="col-md-9">
                            <input type="submit" name="btnSaveDepartment" value="@T("Admin.Common.Save")" id="btnSaveDeparment" class="btn btn-info btn-flat" onclick="return confirm('@T("Admin.Common.AreYouSure")');" />
                            <input type="submit" name="btnCancelDeparment" value="@T("Admin.Common.Cancel")" onclick="toggleChangeDepartment(false); return false;" id="btnCancelDeparment" class="btn btn-info btn-flat" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <strong>
                    @Html.NopLabelFor(model => model.Priority)
                </strong>
            </div>
            <div class="col-md-9">
                <div class="col-md-2">
                    <div class="form-text-row"><strong>@Model.Priority</strong></div>
                </div>
                <div class="col-md-10">
                    <input type="submit" name="btnChangePriority" value="@T("Admin.Ticket.Fields.Priority.Change")" onclick="toggleChangePriority(true); return false;" id="btnChangePriority" class="btn btn-info btn-flat btn-content-width" />
                </div>
                <div id="pnlChangePriority">
                    <div class="col-md-12 custom-ticket-margin">
                        <div class="col-md-12">
                            <em>@T("Admin.Ticket.Fields.Priority.Change.ForAdvancedUsers")</em>
                        </div>
                        <div class="col-md-3">
                            @Html.NopDropDownListFor(model => model.PriorityId, Model.AvailablePriority)
                        </div>
                        <div class="col-md-9">
                            <input type="submit" name="btnSavePriority" value="@T("Admin.Common.Save")" id="btnSavePriority" class="btn btn-info btn-flat" onclick="return confirm('@T("Admin.Common.AreYouSure")');" />
                            <input type="submit" name="btnCancelPriority" value="@T("Admin.Common.Cancel")" onclick="toggleChangePriority(false); return false;" id="btnCancelPriority" class="btn btn-info btn-flat" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                @Html.NopLabelFor(model => model.Staff)
            </div>
            <div class="col-md-9">
                <div class="col-md-2">
                    <div class="form-text-row"><strong>@Model.Staff</strong></div>
                </div>
                <div class="col-md-10">
                    <input type="submit" name="btnChangeStaff" value="@T("Admin.Ticket.Fields.Staff.Change")" on onclick="toggleChangeStaff(true); return false;" id="btnChangeStaff" class="btn btn-info btn-flat btn-content-width" />
                </div>
                <div id="pnlChangeStaff">
                    <div class="col-md-12 custom-ticket-margin">
                        <div class="col-md-12">
                            <em>@T("Admin.Ticket.Fields.Staff.Change.ForAdvancedUsers")</em>
                        </div>
                        <div class="col-md-3">
                            @Html.NopDropDownListFor(model => model.StaffId, Model.AvailableStaff)
                        </div>
                        <div class="col-md-9">
                            <input type="submit" name="btnSaveStaff" value="@T("Admin.Common.Save")" id="btnSaveStaff" class="btn btn-info btn-flat" onclick="return confirm('@T("Admin.Common.AreYouSure")');" />
                            <input type="submit" name="btnCancelStaff" value="@T("Admin.Common.Cancel")" onclick="toggleChangeStaff(false); return false;" id="btnCancelStaff" class="btn btn-info btn-flat" />
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                @Html.NopLabelFor(model => model.Id)
            </div>
            <div class="col-md-9">
                <div class="form-text-row">@Model.Id</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.NopLabelFor(model => model.Created)
            </div>
            <div class="col-md-9">
                <div class="form-text-row">@Model.Created</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.NopLabelFor(model => model.StoreName)
            </div>
            <div class="col-md-9">
                <div class="form-text-row">@Model.StoreName</div>
            </div>
        </div>

        <hr />

        @if (Model.CustomerId != 0 && Model.CustomerInfo != null)
        {
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.CustomerId)
                </div>
                <div class="col-md-9">
                    <div class="form-text-row"> @Html.ActionLink(Model.CustomerInfo, "Edit", "Customer", new { id = Model.CustomerId }, new { }) </div>
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-3">
                @Html.NopLabelFor(model => model.CustomerEmail)
            </div>
            <div class="col-md-9">
                <div class="form-text-row">@Model.CustomerEmail </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.NopLabelFor(model => model.Name)
            </div>
            <div class="col-md-9">
                <div class="form-text-row">@Model.Name</div>
            </div>
        </div>

        <hr />

        <div class="form-group">
            <div class="col-md-3">
                @Html.NopLabelFor(model => model.Subject)
            </div>
            <div class="col-md-9">
                <div class="form-text-row">@Model.Subject</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.NopLabelFor(model => model.Body)
            </div>
            <div class="col-md-9">
                <div class="form-text-row">
                    @Html.Raw(@Model.Body)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.NopLabelFor(model => model.AttributeTXT)
            </div>
            <div class="col-md-9">
                <div class="form-text-row">@Html.Raw(@Model.AttributeTXT)</div>
            </div>
        </div>

        @if (Model.AttachmentId != 0)
        {
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.Attachment)
                </div>
                <div class="col-md-9">
                    @Html.RouteLink("Download File", "Nop.Plugin.Widgets.Tickets.AdminDownloadFile", new { downloadGuid = Model.Attachment })
                </div>
            </div>
        }
        @if (Model.OrderId != 0)
        {
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.OrderId)
                </div>
                <div class="col-md-9">
                    @Html.ActionLink("Order", "Edit", "Order", new { Id = Model.OrderId }, null)
                </div>
            </div>
        }
        @if (Model.ProductId != 0)
        {
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.ProductId)
                </div>
                <div class="col-md-9">
                    <text>@Model.ProductName</text>
                    @Html.ActionLink("Product", "Edit", "Product", new { Id = Model.ProductId }, null)
                </div>
            </div>
        }
    </div>

    @* @Html.Partial("_OrderDetails.Info", Model) *@
}

@helper TabOrderNotes()
{
var _localization = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Services.Localization.ILocalizationService>();

var localstring = _localization.GetLocaleStringResourceByName("Nop.Plugin.Widgets.Tickets.Line.AddSuccessLine");
string stringResponseAdd = "Adding line";
if (localstring != null)
{
    stringResponseAdd = localstring.ResourceValue;
}

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="ticketlines-grid"></div>

                        <script>
    $(document).ready(function () {
        $("#ticketlines-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("TicketLines", "TicketHeader", new RouteValueDictionary() { { "Namespaces", "Nop.Plugin.Widgets.Tickets" }, { "area", "" }, { "TicketId", Model.Id } }))",
                        type: "POST",
                        dataType: "json"
                    },
                    destroy: {
                        url: "@Html.Raw(Url.Action("TicketLineDelete", "TicketHeader", new RouteValueDictionary() { { "Namespaces", "Nop.Plugin.Widgets.Tickets" }, { "area", "" } }))",
                        type: "POST",
                        dataType: "json"
                    },
                    parameterMap: function(data, operation) {
                        if (operation != "read") {
                            return data;
                        } else {
                            //for some reasons only such "Filter" data be parsed
                            return JSON.stringify(data);
                        }
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                        fields: {
                            Created:{ type: "date" },
                            Attachment: {type: "string"},
                            UserSign: {type:"string"}
                        }
                    }
                },
                error: function (e) {
                    display_kendoui_grid_error(e);

                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "Created",
                title: "@T("Admin.Ticket.Line.Fields.Created")",
                width: 120,
                type: "date",
                format: "{0:G}"
            }, {
                field: "Body",
                title: "@T("Admin.Ticket.Line.Fields.Note")",
                width: 300,
                encoded: false
            }, {
                field: "DisplayToCustomer",
                title: "@T("Admin.Ticket.Line.Fields.DisplayToCustomer")",
                width: 50,
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" },
                template: '# if(DisplayToCustomer) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
            },
            {
                field: "Attachment",
                title: "@T("Admin.Ticket.Line.Fields.Attachment")",
                width: 50,
                template: function (dataItem) {
                    if (dataItem.AttachmentId == '0') {
                        return "";
                    } else {
                        return '<a href="@Url.Content("~/Admin/Plugins/Tickets/TicketHeader/DownloadFile?downloadGuid=")'+dataItem.Attachment+'">Download</a>'
                    }
                }
            },
            {
                field: "UserSign",
                title: "@T("Admin.Ticket.Line.Fields.User")",
                width: 100,
            },
            {
                command: [{
                    name: "destroy",
                    text: "@T("Admin.Common.Delete")"
                }],
                width: 100,
                filterable: false
            }
            ]
        });
    });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Admin.Ticket.TicketLine.AddTitle")
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AddTicketLineMessage)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.AddTicketLineMessage, "RichEditor")
                        @Html.ValidationMessageFor(model => model.AddTicketLineMessage)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AddTicketNoteDisplayToCustomer)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.AddTicketNoteDisplayToCustomer)
                        @Html.ValidationMessageFor(model => model.AddTicketNoteDisplayToCustomer)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-md-offset-3">
                        <div>
                            <div id="clientId1">
                                <noscript>
                                    <p>
                                        Please enable JavaScript to use file uploader.
                                    </p>
                                </noscript>
                            </div>

                            <script type="text/template" id="clientId1-qq-template">
                                <div class="qq-uploader-selector qq-uploader">
                                    <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                                        <span>@T("Common.FileUploader.DropFiles")</span>
                                    </div>
                                    <div class="qq-upload-button-selector qq-upload-button">
                                        <div>@T("Common.FileUploader.Upload")</div>
                                    </div>
                                    <span class="qq-drop-processing-selector qq-drop-processing">
                                        <span>@T("Common.FileUploader.Processing")</span>
                                        <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                                    </span>
                                    <ul class="qq-upload-list-selector qq-upload-list">
                                        <li>
                                            <div class="qq-progress-bar-container-selector">
                                                <div class="qq-progress-bar-selector qq-progress-bar"></div>
                                            </div>
                                            <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                                            <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                                            <span class="qq-upload-file-selector qq-upload-file"></span>
                                            <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                                            <span class="qq-upload-size-selector qq-upload-size"></span>
                                            <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">@T("Common.FileUploader.Cancel")</a>
                                            <a class="qq-upload-retry-selector qq-upload-retry" href="#">@T("Common.FileUploader.Retry")</a>
                                            <a class="qq-upload-delete-selector qq-upload-delete" href="#">@T("Common.FileUploader.Delete")</a>
                                            <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
                                        </li>
                                    </ul>
                                </div>
                            </script>

                            <script type="text/javascript">

                        $(document).ready(function () {
                            $("#clientId1").fineUploader({
                                request: {
                                    endpoint: '@(Url.Content("~/Admin/Plugins/Tickets/TicketHeader/AsyncUploadLine"))'
                                },
                                template: "clientId1-qq-template",
                                multiple: false
                            }).on("complete", function (event, id, name, responseJSON, xhr) {

                                AttachmentId = responseJSON.attachmentId;
                            });


                            $("#clientId1remove").click(function(e){
                                $("#clientId1downloadurl").html("");
                                $("#clientId1value input").val(0);
                                $(this).hide();
                            });
                        });

                            </script>

                        </div>

                    </div>

                </div>

                <div class="form-group">
                    <div class="col-md-12 col-md-offset-3">
                        <input type="button" id="addTicketNote" class="k-button" value="@T("Admin.Ticket.TicketLine.AddButton")" />
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        $(document).ready(function () {
            $('#addTicketNote').click(function () {
                var lineNoteMessage =  tinyMCE.get('AddTicketLineMessage').getContent()

                var ticketNoteDisplayToCustomer = $("#@Html.FieldIdFor(model => model.AddTicketNoteDisplayToCustomer)").is(':checked');
                $('#addTicketNote').attr('disabled', true);
                $.ajax({
                    cache:false,
                    type: "POST",
                    url: '@(Url.Content("~/Admin/Plugins/Tickets/TicketHeader/TicketAddLine"))',
                    data: { "DisplayToCustomer": ticketNoteDisplayToCustomer, "message": lineNoteMessage, "TicketId": @Model.Id, "attachemntId": AttachmentId },
                    success: function (data) {
                        $('#addTicketNote').attr('disabled', false);
                        if(data.Result){
                            var grid = $('#ticketlines-grid').data('kendoGrid');
                            grid.dataSource.read();
                            AttachmentId = 0;
                            tinyMCE.get('AddTicketLineMessage').setContent('');
                            alert('@(stringResponseAdd)');
                        }
                        else
                        {
                            alert(data.message);
                        }
                    },
                    error:function (xhr, ajaxOptions, thrownError){
                        alert('Failed to add line note.');
                        $('#addTicketNote').attr('disabled', false);
                    }
                });
            });
        });
    </script>

}
