﻿@model SubmitReturnRequestModel
@using Nop.Web.Framework.Models.Orders;
@using Nop.Web.Framework.Models.Customer
@{
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ReturnItems").Text);
    //page class
    Html.AppendPageCssClassParts("html-return-request-page");
}
<br />
<div class="inbox-mailbox-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Orders })
                    </div>
                    <div class="col-lg-9">
                        <div class="tab-pane fade in animated zoomInDown shadow-reset custom-inbox-message">
                            <div class="sparkline16-list shadow-reset">
                                <div class="sparkline16-hd">
                                    <div class="main-sparkline16-hd">
                                        <h1>@Html.Raw(string.Format(T("ReturnRequests.Title").Text, Url.RouteUrl("OrderDetails", new { orderId = Model.OrderId }), Model.OrderId))</h1>
                                    </div>
                                </div>

                                <div class="sparkline16-graph">
                                    <div class="datatable-dashv1-list custom-datatable-overright">
                                        @if (!String.IsNullOrEmpty(Model.Result))
                                        {
                                            <div class="result" style="text-align:center">
                                                @Model.Result
                                            </div>
                                        }
                                        else
                                        {
                                            using (Html.BeginRouteForm("ReturnRequest", FormMethod.Post, new { id = "product-details-form" }))
                                            {
                                                @Html.HiddenFor(x => x.OrderId)
                                                @Html.AntiForgeryToken()


                                                <div class="section">
                                                    <div class="title" style="text-align: center">
                                                        <strong>@T("ReturnRequests.SelectProduct(s)")</strong>
                                                    </div>
                                                    <div class="table-wrapper" style="overflow-x:auto;">
                                                        <table id="myTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                            <colgroup>
                                                                <col width="1" />
                                                                <col />
                                                                <col />
                                                                <col />
                                                                <col width="1" />
                                                            </colgroup>
                                                            <thead>
                                                                <tr>
                                                                    <th><span class="item-count">#</span></th>
                                                                    <th>
                                                                        @T("ReturnRequests.Products.Name")
                                                                    </th>
                                                                    <th>@T("SevenSpikes.Themes.Motion.Common.GoTo")</th>
                                                                    <th>
                                                                        @T("ReturnRequests.Products.Price")
                                                                    </th>
                                                                    <th>
                                                                        @T("ReturnRequests.Products.Quantity")
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @{var counter = 0;
                                                                }
                                                                @foreach (var item in Model.Items)
                                                                {
                                                                    counter++;
                                                                    <tr>
                                                                        <td><span class="item-count">@counter</span></td>
                                                                        <td>
                                                                            @item.ProductName
                                                                            @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                                                            {
                                                                                <div>
                                                                                    @Html.Raw(item.AttributeInfo)
                                                                                </div>
                                                                            }
                                                                        </td>
                                                                        <td style="text-align: center">
                                                                            <button type="button" class="btn btn-custon-rounded-two btn-success" style="height: 26px;font-size: 12px; padding: 2px 12px;" onclick="setLocation('@Url.RouteUrl("Product", new { SeName = item.ProductSeName })')">
                                                                                @T("SevenSpikes.Themes.Motion.Common.GoToPage")
                                                                            </button>
                                                                        </td>
                                                                        <td>
                                                                            @item.UnitPrice
                                                                        </td>
                                                                        <td>
                                                                            <select name="quantity@(item.Id)">
                                                                                @for (int i = 0; i <= item.Quantity; i++)
                                                                                {
                                                                                    <option value="@(i)">@(i)</option>
                                                                                }
                                                                            </select>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <div class="title" style="text-align: center">
                                                    <strong>@T("ReturnRequests.WhyReturning")</strong>
                                                </div>

                                                <div class="datatable-dashv1-list custom-datatable-overright">
                                                    <div class="basic-login-form-ad">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="all-form-element-inner">
                                                                    <div class="form-group-inner">
                                                                        <div class="row">
                                                                            <div class="col-lg-3">
                                                                                @{
                                                                                    var reasonsSelectList = Model.AvailableReturnReasons.Select(x => new SelectListItem
                                                                                    {
                                                                                        Text = x.Name,
                                                                                        Value = x.Id.ToString()
                                                                                    }).ToList();
                                                                                }
                                                                                @Html.LabelFor(model => model.ReturnRequestReasonId, new { }, ":")
                                                                            </div>
                                                                            <div class="col-lg-9">
                                                                                @Html.DropDownListFor(model => model.ReturnRequestReasonId, reasonsSelectList, new { @class = "form-control" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group-inner">
                                                                        <div class="row">
                                                                            <div class="col-lg-3">
                                                                                @{
                                                                                    var actionsSelectList = Model.AvailableReturnActions.Select(x => new SelectListItem
                                                                                    {
                                                                                        Text = x.Name,
                                                                                        Value = x.Id.ToString()
                                                                                    }).ToList();
                                                                                }
                                                                                @Html.LabelFor(model => model.ReturnRequestActionId, new { }, ":")
                                                                            </div>
                                                                            <div class="col-lg-9">
                                                                                @Html.DropDownListFor(model => model.ReturnRequestActionId, actionsSelectList, new { @class = "form-control" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group-inner">
                                                                        <div class="row" id="payoutwisediv">
                                                                            <div class="col-lg-12">
                                                                                @if (Model.AllowFiles)
                                                                                {
                                                                                    //register CSS and JS
                                                                                    Html.AddCssFileParts("~/Scripts/fineuploader/fineuploader-4.2.2.min.css");
                                                                                    Html.AddScriptParts("~/Scripts/fineuploader/jquery.fineuploader-4.2.2.min.js");
                                                                                    var allowedFileExtensionsList = new List<string>();
                                                                                    var allowedFileExtensions = string.Join(", ", allowedFileExtensionsList.Select(x => "'" + x.Trim() + "'").ToList());
                                                                                    var controlId = @Html.FieldIdFor(model => model.UploadedFileGuid);
                                                                                    <div class="inputs return-request-file">
                                                                                        @Html.LabelFor(model => model.UploadedFileGuid, new { }, ":")
                                                                                        <input id="@(controlId)" name="@(controlId)" type="hidden" />

                                                                                        @*fine uploader container*@
                                                                                        <div id="@(controlId)uploader" class="uploadedfileinput"></div>
                                                                                        @*fine uploader template (keep it synchronized to \Content\fineuploader\templates\default.html)*@
                                                                                        <script type="text/template" id="@(controlId)-qq-template">
                                                                                            <div class="qq-uploader-selector qq-uploader">
                                                                                                <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                                                                                                    <span>@T("Common.FileUploader.DropFiles")</span>
                                                                                                </div>
                                                                                                <div class="qq-upload-button-selector qq-upload-button">
                                                                                                    <div>@T("Common.FileUploader.Upload")</div>
                                                                                                </div>
                                                                                                <span class="qq-drop-processing-selector qq-drop-processing">
                                                                                                    <span>@T("Common.FileUploader.Processing")</span>
                                                                                                    <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                                                                                                </span>
                                                                                                <ul class="qq-upload-list-selector qq-upload-list">
                                                                                                    <li>
                                                                                                        <div class="qq-progress-bar-container-selector">
                                                                                                            <div class="qq-progress-bar-selector qq-progress-bar"></div>
                                                                                                        </div>
                                                                                                        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                                                                                                        <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                                                                                                        <span class="qq-upload-file-selector qq-upload-file"></span>
                                                                                                        <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                                                                                                        <span class="qq-upload-size-selector qq-upload-size"></span>
                                                                                                        <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">@T("Common.FileUploader.Cancel")</a>
                                                                                                        <a class="qq-upload-retry-selector qq-upload-retry" href="#">@T("Common.FileUploader.Retry")</a>
                                                                                                        <a class="qq-upload-delete-selector qq-upload-delete" href="#">@T("Common.FileUploader.Delete")</a>
                                                                                                        <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
                                                                                                    </li>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </script>
                                                                                        <script type="text/javascript">
                                                                                            $(document).ready(function () {
                                                                                                $("#@(controlId)uploader").fineUploader({
                                                                                                    request: {
                                                                                                        endpoint: '@(Url.RouteUrl("UploadFileReturnRequest"))'
                                                                                                    },
                                                                                                    template: "@(controlId)-qq-template",
                                                                                                    multiple: false,
                                                                                                    validation: {
                                                                                                        allowedExtensions: [@Html.Raw(allowedFileExtensions)]
                                                                                                    }
                                                                                                }).on("complete", function (event, id, name, responseJSON, xhr) {
                                                                                                    $("#@(controlId)").val(responseJSON.downloadGuid);

                                                                                                    if (responseJSON.message) {
                                                                                                        alert(responseJSON.message);
                                                                                                    }
                                                                                                });
                                                                                            });
                                                                                        </script>
                                                                                    </div>
                                                                                }
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group-inner">
                                                                            <div class="row">
                                                                                <div class="col-lg-3">
                                                                                    @Html.LabelFor(model => model.Comments, new { }, ":")
                                                                                </div>
                                                                                <div class="col-lg-9">
                                                                                    @Html.TextAreaFor(model => model.Comments, new { @class = "form-control" })
                                                                                    @Html.ValidationMessageFor(model => model.Comments)
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="login-horizental cancel-wp">
                                                                            <button type="submit" name="submit-return-request" class="btn btn-custon-four btn-primary">
                                                                                <i class="fa fa-check-square"></i> @T("ReturnRequests.Submit")
                                                                            </button>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                                                    }
                                                                                    }


                                    </div>
                                </div>
                            </div>

                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>