﻿/*
* Copyright 2014 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

/*=====================================================
    
    RESPONSIVE

=====================================================*/

@media all and (min-width: 240px) {

    .menu-title {
        text-align: center;
    }

    .mega-menu,
    .header-menu .menu-title,
    .dropdown {
        display: none;
    }

}

@media all and (max-width: 1000px) {

    .dropdown .topic-wrapper {
        display: none;
    }
}

/*=====================================================
    
    DESKTOP

=====================================================*/

@media all and (min-width: 1001px) {

    .menu-title,
    .close-menu {
        display: none;
    }

    /* MAIN PANEL & DROPDOWN*/

    .mega-menu {
        position: relative;
        z-index: 1001;
        display: block;
    }

    .mega-menu-responsive {
        display: none !important;
    }

    .mega-menu .dropdown {
        position: absolute;
        box-shadow: 0 1px 3px rgba(0,0,0,0.3);
        overflow: hidden;
        background: #fff;
        padding: 5px 0 0;
        z-index: 3;
        margin-top: -2px;
    }

        .mega-menu .dropdown:before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 5px;
            background: #0978c7;
        }

    .mega-menu .dropdown.active {
        display: block;
    }

        .mega-menu .dropdown.fullWidth {
            left: 50%;
            margin-left: -468px;
            width: 1000px;
        }

    /* ROWS AND BOXES */

    .mega-menu .row-wrapper {
        display: table;
        width: 100%;
    }

    .mega-menu .row {
        overflow: hidden;
        display: table-row;
    }

        .mega-menu .row:first-child {
            border-top: 0;
        }

    .dropdown .box {
        float: left;
        padding: 15px 15px 20px;
    }

    .categories.fullWidth .box {
        /*width: 25%;*/
        height: 100%;
        border-left: 1px dashed #e6e6e6;
        border-bottom: 1px dashed #e6e6e6;
        padding: 15px 10px;
        display: table-cell;
        float: none;
    }

    .categories.fullWidth .row .box:first-child {
        border-left: 0;
    }

    .categories.fullWidth .row:last-child .box {
        border-bottom: 0;
    }

    .categories .box,
    .manufacturers .box {
        width: 250px;
    }

    .mega-menu .title {
        margin: 0 0 10px;
        font-size: 16px;
        text-align: left;
    }

	.mega-menu .title a {
		color: #606060;
	}

	.mega-menu .title a:hover {
		color: #555;
	}

    .mega-menu .categories .picture {
        float: left;
        width: 100px;
        height: 100px;
        overflow: hidden;
        text-align: center;
        border-radius: 100%;
    }

        .mega-menu .categories .picture a {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
        }

        .mega-menu .categories .picture img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
        }

    .mega-menu .subcategories {
        margin-left: 110px;
    }

    .mega-menu .box ul {
        margin-top: 5px;
    }

    .mega-menu .box li {
        text-align: left;
    }

        .mega-menu .box li a {
            padding: 5px 15px;
            font-size: 14px;
            position: relative;
            display: block;
            -webkit-transition: all .15s ease;
            -moz-transition: all .15s ease;
            transition: all .15s ease;
        }

            .mega-menu .box li a:hover {
                color: #0978c7;
            }

    .mega-menu .box .subcategories li a:before,
    .categories li a:before,
    .manufacturers li a:before {
        content: " ";
        position: absolute;
        top: 50%;
        left: 3px;
        margin-top: -2px;
        width: 4px;
        height: 4px;
        background: #ddd;
    }

    .mega-menu .box li a:hover {
    }

    .mega-menu .box li:nth-child(odd) a:hover {
    }

    .mega-menu .box li:nth-child(even) a:hover {
    }

    .mega-menu li a.view-all {
        font-weight: bold;
        background: none;
    }

    .manufacturers.fullWidth .box,
    .vendors.fullWidth .box {
        width: 16.66666666666667%;
        display: table-cell;
        float: none;
        padding: 15px 10px;
    }

    .manufacturers.fullWidth li a:before,
    .vendors.fullWidth li a:before {
        display: none !important;
    }

    .mega-menu .topic-wrapper {
        overflow: hidden;
    }
    
        .mega-menu .topic-wrapper p {
            font-size: 11px;
            line-height: 20px;
        }
        .mega-menu .dropdown > p {
            padding: 10px;
            font-size: 11px;
            line-height: 20px;
        }

        .mega-menu .topic-wrapper strong {
            display: block;
            border-bottom: 1px solid #999;
            padding: 8px 0;
            font-size: 14px;
            text-transform: uppercase;
            color: #222;
        }
}

@media all and (min-width: 1150px) {

    .mega-menu .dropdown.fullWidth {
        margin-left: -453px;
    }
}
