﻿@model Nop.Admin.Models.Notifications.NotificationTemplateModel
@using System.Text;
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<script>
    $(document).ready(function () {
        bindBootstrapTabSelectEvent('template-edit');
    });
</script>

<div class="content">
    <div class="form-horizontal">
        <div id="blog-post-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-info", @T("Admin.ContentManagement.NotificationTemplates.Info"), true)
                @Html.RenderBootstrapTabHeader("tab-stores", @T("Admin.ContentManagement.NotificationTemplates.Stores"))
            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)
                @Html.RenderBootstrapTabContent("tab-stores", @TabStores())
            </div>
        </div>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "template-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@*save selected tab name*@
<input type="hidden" id="selected-tab-name" name="selected-tab-name" value="@(Html.GetSelectedTabName())">

@{
    //resources for product tags input
    Html.AppendCssFileParts("~/Administration/Content/tagEditor/jquery.tag-editor.css");
    Html.AppendScriptParts("~/Administration/Scripts/tagEditor/jquery.tag-editor.min.js");
    Html.AppendScriptParts("~/Administration/Scripts/tagEditor/jquery.caret.min.js");
}

@helper TabInfo()
{

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AllowedTokens)
                    </div>
                    <div class="col-md-9">
                        @Html.DisplayFor(model => model.AllowedTokens)
                        @Html.ValidationMessageFor(model => model.AllowedTokens)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Name)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.IsActive)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.IsActive)
                        @Html.ValidationMessageFor(model => model.IsActive)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                @(Html.LocalizedEditor<Nop.Admin.Models.Notifications.NotificationTemplateModel, Nop.Admin.Models.Notifications.NotificationTemplateLocalizedModel>("notificationtemplate-localized",
                @<div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Locales[item].Subject)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Locales[item].Subject)
                            @Html.ValidationMessageFor(model => model.Locales[item].Subject)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Locales[item].Body)
                        </div>
                        <div class="col-md-9">

                            <div class="col-md-9">
                                <div class="input-group input-group-required">
                                    @Html.EditorFor(x => x.Locales[item].Body, "RichEditor")
                                    <div class="input-group-btn">
                                        @Html.RequiredHint()
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.Locales[item].Body)
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Locales[item].EmailAccountId)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownListFor(model => model.Locales[item].EmailAccountId, new SelectList(Model.AvailableEmailAccounts, "Id", "DisplayName"), Model.Locales[item].EmailAccountId)),
                            @Html.ValidationMessageFor(model => model.Locales[item].EmailAccountId)
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.Locales[item].LanguageId)
                </div>
                ,
                @<div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Subject)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(x => x.Subject)
                            @Html.ValidationMessageFor(model => model.Subject)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Body)
                        </div>
                        <div class="col-md-9">

                            <div class="col-md-9">
                                <div class="input-group input-group-required">
                                    @Html.EditorFor(x => x.Body, "RichEditor")
                                    <div class="input-group-btn">
                                        @Html.RequiredHint()
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.Body)
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.EmailAccountId)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownListFor(model => model.EmailAccountId, new SelectList(Model.AvailableEmailAccounts, "Id", "DisplayName"))
                            @Html.ValidationMessageFor(model => model.EmailAccountId)
                        </div>
                    </div>
                </div>))
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AttachedDownloadId)
                    </div>
                    <div class="col-md-9">
                        @{
                            //Static file attachments do not support URLs yet
                            //A store owner have to upload a file
                            //we store a value into "ViewData" and then use it in the Download.cshtml file
                            ViewData["nop.DownloadEditor.DisableUrl"] = true;
                        }
                        @Html.EditorFor(model => model.HasAttachedDownload) @T("Admin.ContentManagement.NotificationTemplates.Fields.AttachedDownload.Exists")
                        <div id="pnlAttachedDownload">
                            @Html.EditorFor(model => model.AttachedDownloadId)
                            @Html.ValidationMessageFor(model => model.AttachedDownloadId)
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.FieldIdFor(model => model.HasAttachedDownload)").change(toggleHasAttachedDownload);
            toggleHasAttachedDownload();
        });

        function toggleHasAttachedDownload() {
            if ($('#@Html.FieldIdFor(model => model.HasAttachedDownload)').is(':checked')) {
                $('#pnlAttachedDownload').show();
            }
            else {
                $('#pnlAttachedDownload').hide();
            }
        }

    </script>

}

@helper TabStores()
{

    <script type="text/javascript">
        $(document).ready(function () {
            
            $("#@Html.FieldIdFor(model => model.LimitedToStores)").click(toggleStoreMapping);

            toggleStoreMapping();
        });


        function toggleStoreMapping() {
            
            if ($('#@Html.FieldIdFor(model => model.LimitedToStores)').is(':checked')) {
                $('#pnl-available-stores').show();
            }
            else {
                $('#pnl-available-stores').hide();
            }
        }

    </script>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.LimitedToStores)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(x => x.LimitedToStores)
                        @Html.ValidationMessageFor(model => model.LimitedToStores)
                    </div>
                </div>
                <div id="pnl-available-stores">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.AvailableStores)
                        </div>
                        <div class="col-md-9">
                            @if (Model.AvailableStores != null && Model.AvailableStores.Count > 0)
                            {
                                @Html.Action("MultistoreDisabledWarning", "Common")
                                foreach (var store in Model.AvailableStores)
                                {
                                    <div>
                                        <input type="checkbox" name="SelectedStoreIds" value="@store.Id" checked="@(Model.SelectedStoreIds != null && Model.SelectedStoreIds.Contains(store.Id))" />@store.Name
                                    </div>
                                }
                            }
                            else
                            {
                                <div>No stores defined</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    window.onbeforeunload = function () {
        var buttons = document.getElementsByTagName("INPUT");
        for (var i in buttons) {
            if (buttons[i].type == "button" || buttons[i].type == "submit") {
                buttons[i].disabled = true;
            }
        }
    };
</script>