﻿@model Nop.Admin.Models.Notifications.NotificationTemplateModel
@{
    //page title
    ViewBag.Title = T("Admin.ContentManagement.NotificationTemplates.EditNotificationTemplateDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Edit Notification TemplateDetails");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">            
            @T("Admin.ContentManagement.NotificationTemplates.EditNotificationTemplateDetails")
            <small>
                <i class="fa fa-arrow-circle-left"></i> @Html.ActionLink( T("Admin.ContentManagement.NotificationTemplates.BackToList").Text, "List")
            </small>

        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @*<span id="blogpost-delete" class="btn bg-red">
                    <i class="fa fa-trash-o"></i>
                    @T("Admin.Common.Delete")
                </span>*@


        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("blogpost-delete")
