﻿@model Nop.Admin.Models.Notifications.SendNotificationModel

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.NotificationTemplate.SendNotifications").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Raise Notification");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.NotificationTemplate.SendNotifications")
        </h1>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.NopLabelFor(model => model.ddloptions)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.NopDropDownList("ddloptions", new List<SelectListItem>
                                            {
                                                new SelectListItem{Text="Notification To All",Value="0"},
                                                new SelectListItem{Text="Notification To ID(s)",Value="1"},
                                                new SelectListItem{Text="Search ID(s)",Value="2"}
                                            })
                                    </div>
                                </div>
                                <div class="form-group" id="trSelectIds">
                                    <div class="col-md-3">
                                        @Html.NopLabelFor(model => model.Ids)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.NopEditorFor(model => model.Ids)
                                        @Html.ValidationMessageFor(model => model.Ids)
                                        <br />
                                        <b id="MessageNote"> @T("Admin.Note.Note") </b>@T("Admin.Notification.Message.Ids").Text
                                    </div>
                                </div>
                                <div class="form-group" id="trSearchOptions">
                                    <div class="col-md-3">
                                        @Html.NopLabelFor(model => model.ddlopt)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.NopDropDownList("ddlopt", new List<SelectListItem>
                                        {
                                            new SelectListItem{Text="DOJ-wise",Value="1"},
                                            new SelectListItem{Text="Sponsor ID-wise",Value="2"},
                                            new SelectListItem{Text="Name-wise",Value="3"},
                                            new SelectListItem{Text="State-wise",Value="4"},
                                            new SelectListItem{Text="City-wise",Value="5"}
                                        })
                                    </div>
                                </div>
                                <div class="form-group" id="trSponsorId">
                                    <div class="col-md-3">
                                        @Html.NopLabelFor(model => model.SponsorId)
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="SearchFirstName" value="" name="" />
                                        @Html.HiddenFor(model => model.SponsorId)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="trSearchName">
                                    <div class="col-md-3">
                                        @Html.NopLabelFor(model => model.SearchName)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.NopEditorFor(model => model.SearchName)
                                    </div>
                                </div>
                                <div class="form-group" id="trSearchCity">
                                    <div class="col-md-3">
                                        @Html.NopLabelFor(model => model.City)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.NopDropDownListFor(model => model.City, Model.CityList)
                                    </div>
                                </div>
                                <div class="form-group" id="trSearchState">
                                    <div class="col-md-3">
                                        @Html.NopLabelFor(model => model.Province)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.NopDropDownListFor(model => model.Province, Model.StateList)
                                    </div>
                                </div>
                                <div class="form-group" id="trStartDate">
                                    <div class="col-md-3">
                                        @Html.NopLabelFor(model => model.StartDate)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.NopEditorFor(model => model.StartDate)
                                    </div>
                                </div>
                                <div class="form-group" id="trEndDate">
                                    <div class="col-md-3">
                                        @Html.NopLabelFor(model => model.EndDate)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.NopEditorFor(model => model.EndDate)
                                    </div>
                                </div>
                                <div class="form-group" id="trSearchButton">
                                    <div class="col-md-3 col-md-offset-3">
                                        <input type="button" id="search-customers" class="btn btn-primary btn-search" value="@T("Admin.Common.Search")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.selectedIds)
                        <script>

                            $('#SearchFirstName').autocomplete({
                                delay: 500,
                                minLength: 1,
                                source: '@(Url.Action("SearchTermAutoComplete", "NotificationTemplate"))',
                                appendTo: '.search-box',
                                select: function (event, ui) {
                                    //  alert(ui.item.MJD_MemID)
                                    $("#SponsorId").val(ui.item.MJD_MemID);
                                    $("#SearchFirstName").val(ui.item.label);
                                    $("#divfirstname").show();
                                    return false;
                                }
                            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                                var t = item.label;
                                //html encode
                                t = $('<div/>').text(t).html();
                                return $("<li></li>")
                                    .data("item.autocomplete", item)
                                    .append("<a><span>" + t + "</span></a>")
                                    .appendTo(ul);
                            };



                            $('#SearchName').autocomplete({
                                delay: 500,
                                minLength: 1,
                                source: '@(Url.Action("SearchNameAutoComplete", "NotificationTemplate"))',
                                appendTo: '.search-box',
                                select: function (event, ui) {
                                    //$("#SponsorId").val(ui.item.MJD_MemID);
                                    $("#SearchName").val(ui.item.label);
                                    $("#divfirstname").show();
                                    return false;
                                }
                            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                                var t = item.label;
                                //html encode
                                t = $('<div/>').text(t).html();
                                return $("<li></li>")
                                    .data("item.autocomplete", item)
                                    .append("<a><span>" + t + "</span></a>")
                                    .appendTo(ul);
                            };


                            $(document).ready(function () {
                                $("#StartDate").keyup(function () {
                                    $(this).val('');
                                });
                                $("#EndDate").keyup(function () {
                                    $(this).val('');
                                });

                                $("#validationMessages").hide();
                                $('#trStartDate').hide();
                                $('#trEndDate').hide();
                                $('#search-customers').hide();
                                $('#trForBr').hide();
                                $('#trForBr1').hide();
                                $('#trSponsorId').hide();
                                $('#trSearchCity').hide();
                                $('#trSearchName').hide();
                                $('#trSearchOptions').hide();
                                $("#trSearchState").hide();
                                $('#trSelectIds').hide();
                                $('#ddloptions').val("0");
                                $('#Subject').val("");
                                $('#Body').val("");
                                $('#Ids').val("");

                                $('#ddloptions').change(function () {
                                    var value = $(this).val();
                                    if (value == 1) {
                                        $('#Ids').val("");
                                        $("#trSelectIds").show();
                                        $("#trSearchOptions").hide();
                                        $('#search-customers').hide();
                                        $('#trForBr').hide();
                                        $('#trForBr1').hide();
                                        $("#trSearchName").hide();
                                        $("#trSearchCity").hide();
                                        $("#trStartDate").hide();
                                        $("#trEndDate").hide();
                                        $("#trSearchState").hide();
                                        $('#trSponsorId').hide();
                                        $("#trSubject").show();
                                        $("#trBody").show();
                                        $("#trButtons").show();
                                        $('#ddlopt').val("1");
                                        $('#customers-grid').hide();
                                        $('#validationMessages').html('');
                                        $('#SearchFirstName').val("");
                                        $("#Subject").val(" ");
                                        $("#Body").val(" "); $("#SearchName").val(" ");
                                        $("#Province").val("0");
                                        $("#City").val("0");
                                        $("#validationMessages").hide();
                                        $("#sendNotifications").show();
                                        $("#resetNotification").show();
                                        $(".alert.alert-success.alert-dismissable").hide();
                                        $(".alert.alert-danger.alert-dismissable").hide();
                                    }
                                    else if (value == 2) {
                                        $('#Ids').val("");
                                        $('#trSearchOptions').show();
                                        $("#trSelectIds").hide();
                                        $("#trSearchName").hide();
                                        $('#trStartDate').show();
                                        $('#trEndDate').show();
                                        $("#StartDate").val(" ");
                                        $("#EndDate").val(" ");
                                        $('#search-customers').show();
                                        $('#trForBr').show();
                                        $('#trForBr1').show();
                                        $('#trSearchButton').show();
                                        $('#trSponsorId').hide();
                                        $("#trSubject").hide();
                                        $("#trBody").hide();
                                        $("#trButtons").hide();
                                        $('#ddlopt').val("1");
                                        $('#customers-grid').hide();
                                        $('#validationMessages').html('');
                                        $("#validationMessages").hide();
                                        $('#SearchFirstName').val("");
                                        $("#Subject").val(" ");
                                        $("#Body").val(" "); $("#SearchName").val(" ");
                                        $("#Province").val("0");
                                        $("#City").val("0");
                                        $(".alert.alert-success.alert-dismissable").hide();
                                        $(".alert.alert-danger.alert-dismissable").hide();
                                    }
                                    else if (value == 0) {
                                        $('#Ids').val("");
                                        $('#trSelectIds').hide();
                                        $("#trSearchOptions").hide();
                                        $("#ddlSearchOptions").hide();
                                        $("#trSearchName").hide();
                                        $("#trSearchCity").hide();
                                        $("#trStartDate").hide();
                                        $("#trEndDate").hide();
                                        $('#search-customers').hide();
                                        $('#trForBr').hide();
                                        $('#trForBr1').hide();
                                        $("#trSearchState").hide();
                                        $('#trSponsorId').hide();
                                        $('#ddlopt').val("1");
                                        $("#trSubject").show();
                                        $("#trBody").show();
                                        $("#trButtons").show();
                                        $('#customers-grid').hide();
                                        $('#validationMessages').html('');
                                        $("#validationMessages").hide();
                                        $('#SearchFirstName').val("");
                                        $("#Subject").val(" ");
                                        $("#Body").val(" "); $("#SearchName").val(" ");
                                        $("#Province").val("0");
                                        $("#City").val("0");
                                        $("#sendNotifications").show();
                                        $("#resetNotification").show();
                                        $(".alert.alert-success.alert-dismissable").hide();
                                        $(".alert.alert-danger.alert-dismissable").hide();
                                    }
                                });

                                $('#ddlopt').change(function () {
                                    var value = $(this).val();
                                    if (value == 1) {
                                        $("#trSponsorId").hide();
                                        $("#trSearchName").hide();
                                        $("#trSearchCity").hide();
                                        $("#trStartDate").show();
                                        $("#trEndDate").show();
                                        $("#trSearchState").hide();
                                        $('#customers-grid').hide();
                                        $('#validationMessages').html('');
                                        $("#validationMessages").hide();
                                        $('#SearchFirstName').val("");
                                        $("#Subject").val(" ");
                                        $("#Body").val(" ");
                                        $("#StartDate").val(" ");
                                        $("#EndDate").val(" "); $("#SearchName").val(" ");
                                        $("#Province").val("0");
                                        $("#City").val("0");
                                        $('#trSubject').hide();
                                        $('#trBody').hide();
                                        $('#trButtons').hide();
                                        $('#sendNotifications').hide();
                                        $('#resetNotification').hide();
                                        $(".alert.alert-success.alert-dismissable").hide();
                                        $(".alert.alert-danger.alert-dismissable").hide();
                                    }
                                    else if (value == 2) {
                                        $("#trSponsorId").show();
                                        $("#trSearchName").hide();
                                        $("#trSearchCity").hide();
                                        $("#trStartDate").hide();
                                        $("#trEndDate").hide();
                                        $("#trSearchState").hide();
                                        $('#customers-grid').hide();
                                        $('#validationMessages').html('');
                                        $("#validationMessages").hide();
                                        $('#SearchFirstName').val("");
                                        $("#Subject").val(" ");
                                        $("#Body").val(" ");
                                        $("#StartDate").val(" ");
                                        $("#EndDate").val(" "); $("#SearchName").val(" ");
                                        $("#Province").val("0");
                                        $("#City").val("0");
                                        $('#trSubject').hide();
                                        $('#trBody').hide();
                                        $('#trButtons').hide();
                                        $('#sendNotifications').hide();
                                        $('#resetNotification').hide();
                                        $(".alert.alert-success.alert-dismissable").hide();
                                        $(".alert.alert-danger.alert-dismissable").hide();
                                    }
                                    else if (value == 3) {
                                        $("#trSponsorId").hide();
                                        $("#trSearchCity").hide();
                                        $("#trSearchName").show();
                                        $("#trStartDate").hide();
                                        $("#trEndDate").hide();
                                        $("#trSearchState").hide();
                                        $('#customers-grid').hide();
                                        $('#validationMessages').html('');
                                        $("#validationMessages").hide();
                                        $('#SearchFirstName').val("");
                                        $("#Subject").val(" ");
                                        $("#Body").val(" ");
                                        $("#StartDate").val(" ");
                                        $("#EndDate").val(" "); $("#SearchName").val(" ");
                                        $("#Province").val("0");
                                        $("#City").val("0");
                                        $('#trSubject').hide();
                                        $('#trBody').hide();
                                        $('#trButtons').hide();
                                        $('#sendNotifications').hide();
                                        $('#resetNotification').hide();
                                        $(".alert.alert-success.alert-dismissable").hide();
                                        $(".alert.alert-danger.alert-dismissable").hide();
                                    }
                                    else if (value == 4) {
                                        $("#trSponsorId").hide();
                                        $("#trSearchName").hide();
                                        $("#trSearchState").show();
                                        $("#trStartDate").hide();
                                        $("#trSearchCity").hide();
                                        $("#trEndDate").hide();
                                        $('#customers-grid').hide();
                                        $('#validationMessages').html('');
                                        $("#validationMessages").hide();
                                        $('#SearchFirstName').val("");
                                        $("#StartDate").val(" ");
                                        $("#EndDate").val(" "); $("#SearchName").val(" ");
                                        $("#Province").val("0");
                                        $("#City").val("0");
                                        $('#trSubject').hide();
                                        $('#trBody').hide();
                                        $('#trButtons').hide();
                                        $('#sendNotifications').hide();
                                        $('#resetNotification').hide();
                                        $(".alert.alert-success.alert-dismissable").hide();
                                        $(".alert.alert-danger.alert-dismissable").hide();
                                    }
                                    else if (value == 5) {
                                        $("#trSponsorId").hide();
                                        $("#trSearchName").hide();
                                        $("#trSearchCity").show();
                                        $("#trStartDate").hide();
                                        $("#trEndDate").hide();
                                        $("#trSearchState").hide();
                                        $('#customers-grid').hide();
                                        $('#validationMessages').html('');
                                        $("#validationMessages").hide();
                                        $('#SearchFirstName').val("");
                                        $("#StartDate").val(" ");
                                        $("#EndDate").val(" ");
                                        $("#SearchName").val(" ");
                                        $("#Province").val("0");
                                        $("#City").val("0");
                                        $('#trSubject').hide();
                                        $('#trBody').hide();
                                        $('#trButtons').hide();
                                        $('#sendNotifications').hide();
                                        $('#resetNotification').hide();
                                        $(".alert.alert-success.alert-dismissable").hide();
                                        $(".alert.alert-danger.alert-dismissable").hide();
                                    }
                                });

                                $("#resetNotification").click(function () {
                                    $("#ddloptions").val("0"); $("#ddlopt").val("1");
                                    $("#SponsorId").val(" "); $("#SearchName").val(" ");
                                    $("#trSponsorId").hide(); $("#SearchCity").val(" ");
                                    $("#Ids").val(" "); $("#SearchState").val(" ");
                                    $("#EndDate").val(" "); $("#StartDate").val(" ");
                                    $("#Subject").val(" "); $("#Body").val(" ");
                                    $("#City").val("0"); $("#Province").val("0");
                                    $('#SearchFirstName').val("");
                                    $("#trSponsorId").hide();
                                    $("#trSearchOptions").hide();
                                    $("#trSearchName").hide();
                                    $("#SearchCity").hide();
                                    $("#SearchState").hide();
                                    $("#trStartDate").hide();
                                    $("#trEndDate").hide();
                                    $("#trSearchState").hide();
                                    $("#trSelectIds").hide();
                                    $("#trSearchCity").hide();
                                    $('#search-customers').hide();
                                    $('#trForBr').hide();
                                    $('#trForBr1').hide();
                                    $('#customers-grid').hide();
                                    $('#validationMessages').html('');
                                    $("#validationMessages").hide();
                                    $(".alert.alert-success.alert-dismissable").hide();
                                    $(".alert.alert-danger.alert-dismissable").hide();
                                });
                            });
                            $("#validationMessages").hide();
                            $("#search-customers").click(function () {
                                
                                var Choice = $("#ddloptions").val();
                                var ddloption = $("#ddlopt").val();
                                var val = $("#Ids").val();
                                var vFromDt = $("#StartDate").val();
                                var vToDt = $("#EndDate").val();
                                var Province = $("#Province").val();
                                var City = $("#City").val();
                                var SearchFirstName = $("#SearchFirstName").val();
                                var SponsorId = $("#SponsorId").val();
                                var SearchName = $('#SearchName').val();
                                $("#validationMessages").hide();
                                $('#customers-grid').hide();
                                $("#trSubject").hide();
                                $("#trBody").hide();
                                $("#sendNotifications").hide();
                                $("#resetNotification").hide();
                                $(".alert.alert-success.alert-dismissable").hide();
                                $(".alert.alert-danger.alert-dismissable").hide();
                                var validationDivs = '';
                                $('#validationMessages').html('');

                                var flag = true;

                                if (Choice == 2 && ddloption == 1) {
                                    if (vFromDt == " ") {
                                        validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterStartDate")</div>';
                                        flag = false;
                                    }
                                    if (vToDt == " ") {
                                        validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterEndDate")</div>';
                                        flag = false;
                                    }

                                    var EnteredDate = getDate($("#StartDate").data("kendoDatePicker").value());
                                    var EnteredFromdate = getDate($("#EndDate").data("kendoDatePicker").value());

                                    var myDate = new Date(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                    var myFromDate = new Date(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));


                                    var today = new Date();
                                    var validationDivs = '';
                                    var start_time = $("#DatewiseFrom").val();
                                    var end_time = $("#DatewiseTo").val();

                                    if (myFromDate > today) {

                                        validationDivs = validationDivs + '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                                        flag = false;
                                    }
                                    if (myFromDate < myDate) {
                                        validationDivs = validationDivs + '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                                        flag = false;
                                    }


                                }

                                if (Choice == 2 && ddloption == 4) {
                                    if ((Province == 0)) {
                                        validationDivs = validationDivs + '<div>@T("Admin.Validation.SelectState")</div>';
                                        flag = false;
                                    }
                                }

                                if (Choice == 2 && ddloption == 2) {
                                    if (SearchFirstName == "") {
                                        validationDivs = validationDivs + '<div>@T("admin.customernotification.list.sponsorid")</div>';
                                        flag = false;

                                    }

                                    if (SearchFirstName != "" && SponsorId == "") {
                                        validationDivs = validationDivs + '<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                                        flag = false;
                                    }
                                }

                                if (Choice == 2 && ddloption == 3) {
                                    if ((SearchName == "")) {
                                        validationDivs = validationDivs + '<div>@T("Admin.Validation.EnterName")</div>';
                                        flag = false;
                                    }
                                }

                                if ((+Choice) == 2 && (+ddloption) == 5) {
                                    if (City == 0) {
                                        validationDivs = validationDivs + '<div>@T("Admin.Validation.SelectCity")</div>';
                                        flag = false;
                                    }
                                }

                                //if ((+Choice) == 2 && (+ddloption) == 3 )
                                //{
                                //    var e= $('#SearchName').val();
                                //    var regex = new RegExp("^[a-zA-Z]+$");
                                //    var str =e;
                                //    if (regex.test(str)) {
                                //        flag= true;
                                //    }
                                //    else
                                //    {
                                //        validationDivs=validationDivs+'<div>Please enter charcters.</div>';
                                //        flag=false;
                                //    }
                                //}

                                if (flag) {

                                    var data = {
                                        SearchName: $('#SearchName').val(),
                                        Province: $('#Province').val(),
                                        City: $('#City').val(),
                                        StartDate: $('#StartDate').val(),
                                        EndDate: $('#EndDate').val(),
                                        ddlopt: $('#ddlopt').val(),
                                        SponsorId: $('#SponsorId').val(),
                                    }

                                    addAntiForgeryToken(data);

                                    $("#sucessMessages").html(@ViewBag.returnMessage);

                                    $.ajax({
                                        url: "@Html.Raw(Url.Action("SearchGrid", "NotificationTemplate"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: data, success: function (result) {
                                            if (result == "norecords") {
                                                $("#validationMessages").show();
                                                $("#validationMessages").html("@T("Admin.Common.NorecordFoundError")");
                                                $('#customers-grid').hide();
                                                $("#trSubject").hide();
                                                $("#trBody").hide();
                                                $("#trButtons").hide();
                                                $("#sendNotifications").hide();
                                                $("#resetNotification").hide();
                                                return;
                                            }
                                            if (result == "invalidId") {
                                                $("#validationMessages").show();
                                                $("#validationMessages").html("@T("Admin.Notification.IDisInvalid")");
                                                $('#customers-grid').hide();
                                                $("#trSubject").hide();
                                                $("#trBody").hide();
                                                $("#trButtons").hide();
                                                $("#sendNotifications").hide();
                                                $("#resetNotification").hide();
                                                return;
                                            }

                                            if (result != "norecords" && result != "invalidId") {
                                                $("#sucessMessages").show();
                                                var grid = $('#customers-grid').data('kendoGrid');
                                                grid.dataSource.page(1); //new search. Set page size to 1
                                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                                //clear selected checkboxes
                                                $('.checkboxGroups').attr('checked', false).change();
                                                selectedIds = [];
                                                $('#customers-grid').show();
                                                $("#trSubject").show();
                                                $("#trBody").show();
                                                $("#trButtons").show();
                                                $("#sendNotifications").show();
                                                $("#resetNotification").show();
                                                return false;
                                            }
                                        }
                                    });
                                }
                                else {
                                    $("#validationMessages").show();
                                    $('#validationMessages').append(validationDivs);
                                }

                            });

                            $("#SearchFirstName").keydown(function (evt) {
                                var charCode = (evt.charCode) ? evt.charCode : ((evt.which) ? evt.which : evt.keyCode);

                                if (charCode != 13 && charCode != 9) {
                                    $("#SponsorId").val("");
                                }
                            });

                            //$('#SearchName').keypress(function (e) {
                            //    var regex = new RegExp("^[a-zA-Z]+$");
                            //    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                            //    if (regex.test(str)) {
                            //        return true;
                            //    }
                            //    else
                            //    {
                            //        e.preventDefault();
                            //        alert('Please Enter Charcters');
                            //        return false;
                            //    }
                            //});

                        </script>



                        <div class="form-group" id="trForBr">
                            <div class="col-md-12">
                                <br />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div id="customers-grid"></div>
                                <script>
                                    $(document).ready(function () {
                                        $('#customers-grid').hide();

                                        $("#customers-grid").kendoGrid({
                                            autoBind: false,
                                            dataSource: {
                                                type: "json",
                                                transport: {
                                                    read: {
                                                        url: "@Html.Raw(Url.Action("SearchGrid", "NotificationTemplate"))",
                                                        type: "POST",
                                                        dataType: "json",
                                                        data: additionalData
                                                    }
                                                },
                                                schema: {
                                                    data: "Data",
                                                    total: "Total",
                                                    errors: "Errors"
                                                },
                                                error: function(e) {
                                                    display_kendoui_grid_error(e);
                                                    // Cancel the changes
                                                    this.cancelChanges();
                                                },
                                                pageSize: @(defaultGridPageSize),
                                                serverPaging: true,
                                                serverFiltering: true,
                                                serverSorting: true
                                            },
                                            pageable: {
                                                refresh: true,
                                                pageSizes: [@(gridPageSizes)]
                                            },
                                            scrollable: false,
                                            dataBound: onDataBound,
                                            columns: [{
                                                field: "Id",
                                                headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                                headerAttributes: { style: "text-align:center" },
                                                attributes: { style: "text-align:center" },
                                                template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                                //  width: 50
                                            },{
                                                field: "Id",
                                                title:"@T("Admin.Notification.Fields.Id")",
                                                //  width: 50,
                                                hidden: true,
                                            },{
                                                field: "MemberNo",
                                                title:"@T("Admin.Notification.Fields.MemberNo")",
                                                // width: 50
                                            },{
                                                field: "Name",
                                                title: "@T("Admin.Notification.Fields.Name")",
                                                // width: 200
                                            }, {
                                                field: "DOJ",
                                                title: "@T("Admin.Notification.Fields.DOJ")",
                                                //  width: 200,
                                                //  type: "date",
                                                // format: "{0:G}"
                                            }, {
                                                field: "SponsorId",
                                                title: "@T("Admin.Notification.Fields.SponsorId")",
                                                // width: 200,
                                            }, {
                                                field: "Province",
                                                title: "@T("Admin.Notification.Fields.Province")",
                                                // width: 200,
                                            }, {
                                                field: "City",
                                                title: "@T("Admin.Notification.Fields.City")",
                                                // width: 200,
                                            }]
                                        });
                                    });
                                </script>

                                <script type="text/javascript">
                                    var selectedIds = [];
                                    $(document).ready(function () {

                                        $('#mastercheckbox').click(function () {
                                            $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                        });

                                        //wire up checkboxes.
                                        $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                            var $check = $(this);
                                            if ($check.is(":checked") == true) {
                                                var checked = jQuery.inArray($check.val(), selectedIds);
                                                if (checked == -1) {
                                                    //add id to selectedIds.
                                                    selectedIds.push($check.val());
                                                }
                                            }
                                            else {
                                                var checked = jQuery.inArray($check.val(), selectedIds);
                                                if (checked > -1) {
                                                    //remove id from selectedIds.
                                                    selectedIds = $.grep(selectedIds, function (item, index) {
                                                        return item != $check.val();
                                                    });
                                                }
                                            }
                                            var ids = selectedIds.join(",");
                                            $('#selectedIds').val(ids);
                                            updateMasterCheckbox();
                                        });

                                        $("#@Html.FieldIdFor(model => model.SearchName)").keydown(function (event) {
                                            if (event.keyCode == 13) {
                                                $("#search-customers").click();
                                                return false;
                                            }
                                        });

                                        $("#@Html.FieldIdFor(model => model.Province)").keydown(function (event) {
                                            if (event.keyCode == 13) {
                                                $("#search-customers").click();
                                                return false;
                                            }
                                        });


                                        $("#@Html.FieldIdFor(model => model.City)").keydown(function (event) {
                                            if (event.keyCode == 13) {
                                                $("#search-customers").click();
                                                return false;
                                            }
                                        });

                                        $("#@Html.FieldIdFor(model => model.StartDate)").keydown(function (event) {
                                            if (event.keyCode == 13) {
                                                $("#search-customers").click();
                                                return false;
                                            }
                                        });

                                        $("#@Html.FieldIdFor(model => model.EndDate)").keydown(function (event) {
                                            if (event.keyCode == 13) {
                                                $("#search-customers").click();
                                                return false;
                                            }
                                        });
                                    });

                                    function onDataBound(e) {
                                        $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                            var currentId = $(this).val();
                                            var checked = jQuery.inArray(currentId, selectedIds);
                                            //set checked based on if current checkbox's value is in selectedIds.
                                            $(this).attr('checked', checked > -1);
                                        });
                                        updateMasterCheckbox();
                                    }

                                    function updateMasterCheckbox() {
                                        var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                        var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                        $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                                    }

                                    function additionalData() {
                                        var data = {
                                            SearchName: $('#@Html.FieldIdFor(model => model.SearchName)').val(),
                                            Province: $('#@Html.FieldIdFor(model => model.Province)').val(),
                                            City: $('#@Html.FieldIdFor(model => model.City)').val(),
                                            StartDate: getDate($("#StartDate").data("kendoDatePicker").value()),
                                            EndDate:getDate($("#EndDate").data("kendoDatePicker").value()),
                                            ddlopt: $('#@Html.FieldIdFor(model => model.ddlopt)').val(),
                                            SponsorId: $('#@Html.FieldIdFor(model => model.SponsorId)').val()
                                        };
                                        addAntiForgeryToken(data);
                                        return data;
                                    }
                                </script>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group" id="trForBr1">
                                    <div class="col-md-12">
                                        <br />
                                    </div>
                                </div>
                                <div class="form-group" id="trSubject">
                                    <div class="col-md-3">
                                        @Html.NopLabelFor(model => model.Subject)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.NopEditorFor(model => model.Subject)
                                        @Html.ValidationMessageFor(model => model.Subject)
                                    </div>
                                </div>
                                <div class="form-group" id="trBody">
                                    <div class="col-md-3">
                                        @Html.NopLabelFor(model => model.Body)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.NopTextAreaFor(model => model.Body)
                                        @Html.ValidationMessageFor(model => model.Body)
                                    </div>
                                </div>
                                <div class="form-group" id="trButtons">
                                    <div class="col-md-6 col-md-offset-4">
                                        <input type="submit" id="sendNotifications" class="btn btn-primary" value="@T("Notification.SendNotification")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        $("#sendNotifications").click(function(){
            var Choice = $("#ddloptions").val();
            var ddloption =  $("#ddlopt").val();
            var selectedIds=  $('#selectedIds').val();
            var val = $("#Ids").val();

            if (val == '' && (+Choice) == 1)
            {
                //alert("Enter ID's.");
                $("#validationMessages").show();
                $("#validationMessages").html("@T("Admin.CustomerNotification.List.EnterIds")");
                return false;
            }
            if(Choice == 2)
            {
                if(selectedIds=='' || selectedIds.length<=0)
                {
                    //  alert("Please select at least one record");
                    $("#validationMessages").show();
                    $("#validationMessages").html("@T("Admin.Validation.SelectAtLeastOneRecord")");
                    return false;
                }
            }
        });
    </script>
}
