﻿@{
    Layout = "";
}

<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <p><b>@T("Plugins.Payments.PayPalExpressCheckout.Fields.RedirectionTip")</b></p>
        </td>
    </tr>
</table>

@{ var error = TempData["paypal-ec-error"]; }

@if (error != null)
{
    <p class="error">@error</p>
}



<script type="text/javascript">
    $(document).ready(function () {
        $('#payPalExpressCheckoutImage').click(function () {
            setLocation('@Url.RouteUrl("Plugin.Payments.PayPalExpressCheckout.SubmitButton")');
        });
    });
</script>