﻿@model Nop.Web.Frmework.Models.Customer.LoginModel
@using Nop.Web.Framework.Models.Customer;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);
    //page class
    Html.AppendPageCssClassParts("html-login-page");

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register");
    if (!String.IsNullOrEmpty(this.Context.Request.QueryString["returnUrl"]))
    {
        var webHelper = EngineContext.Current.Resolve<IWebHelper>();
        registerUrl = webHelper.ModifyQueryString(registerUrl, "returnurl=" + HttpUtility.UrlEncode(this.Context.Request.QueryString["returnUrl"]), null);
    }
}

<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://fonts.googleapis.com/css?family=Lobster+Two|Nova+Round|Raleway|Poller+One|Pompiere" rel="stylesheet">


<link rel="stylesheet" href="~/Themes/Vnext/Content/VnextCSS/css/Login/style1.css">
<script type="text/javascript" src="~/Themes/Vnext/Content/VnextJs/js/modernizr.custom.86080.js"></script>
<link rel="stylesheet" href="~/Themes/Vnext/Content/VnextCSS/css/Login/style.css">
<link rel="stylesheet" href="~/Themes/Vnext/Content/VnextCSS/css/font-awesome.min.css">
<link rel="stylesheet" href="~/Themes/Vnext/Content/VnextCSS/css/Login/designAnimate.css" type="text/css" media="all" />

<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
      rel="stylesheet">


<div class="page login-page">
    <ul class="cb-slideshow">
        <li><span>Image 01</span></li>
        <li><span>Image 02</span></li>
        <li><span>Image 03</span></li>
        <li><span>Image 04</span></li>

    </ul>
    <div class="container">
        <!-- Codrops top bar -->
        <div class="codrops-top">


            <div class="clr"></div>
        </div><!--/ Codrops top bar -->

    </div>

    <!-- title -->
    <!-- //title -->
    <!-- content -->
    <div class="sub-main-w3 ">
        <div class="bg-content-w3pvt ">
            <div class="top-content-style wow zoomIn ">
                <h1><strong> @T("Vnext.Login.WelcomePageName") </strong></h1>
                <br>
                <a href="@Url.RouteUrl("HomePage")" title="Back to Website">
                    @if (ViewBag.LogInLogo != null)
                    {
                        @*<img src="~/Themes/Vnext/Content/img/user.png" alt="" />*@
                        <img src="@Url.Content(ViewBag.LogInLogo)" alt="" style="width: 100px; height: 100px;" />
                    }
                </a>


            </div>
            @using (Html.BeginForm())
            {


                <div id="LoginPanal" class="wow zoomIn ">
                    @{
                        var validationSummary = Html.ValidationSummary(true, T("Account.Login.Unsuccessful").Text);

                        if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                        {
                            <div class="message-error"><strong>@validationSummary</strong> <br> <br> </div>
                        }}

                    @if (Model.CheckoutAsGuest)
                    {
                        <div style="padding-bottom:0em!important;" class="wow zoomIn "><a href="@Url.RouteUrl("Checkout")" class="bottom-text-w3ls2">@T("Account.Login.CheckoutAsGuest")</a></div>

                        <span style="color: #E56400;">or</span>
                        <br />
                    }

                    <p class="legend">Login Here<span class="fa fa-hand-o-down"></span></p>
                    @if (Model.UsernamesEnabled || Model.UsernamesasMembernumberEnabled)
                    {
                        <div class="input">
                            <label class="fa fa-user loginlabel "></label>
                            <input type="Username" placeholder="Username" name="Username" required />

                        </div>
                    }
                    else
                    {
                        <div class="input">
                            <label class="fa fa-user loginlabel "></label>
                            <input type="Email" placeholder="Email" name="Email" required />
                            <!--  <span class="fa fa-user"></span>-->
                        </div>
                    }
                    <div class="input">
                        <label class="fa fa-unlock loginlabel "></label>
                        <input type="password" placeholder="Password" name="password" required />
                        <!--   <span class="fa fa-unlock"></span>-->
                    </div>

                    <div class="pull-left">
                        @*<div class="pull-left wow zoomIn">*@


                        <button type="submit" class="btn submit">
                            <span class="fa fa-sign-in" title="Sign In"> <span style="font-family: 'Open Sans', sans-serif; ">Sign In</span></span>
                        </button>


                    </div>


                    @*<div class="wow zoomIn">*@
                    <div>

                        <button type="button" class="btn submit" onclick="location.href='@registerUrl'">
                            <span class="fa fa-user-plus" title="Sign Up"> <span style="font-family: 'Open Sans', sans-serif; ">Sign Up</span> </span>
                        </button>
                    </div>


                </div>

                <div class="switch-agileits wow zoomIn ">
                    <label class="switch">
                        <input data-val="true" data-val-required="'Remember Me' must not be empty." id="RememberMe" name="RememberMe" type="checkbox" value="true">
                        <span class="slider round"></span>
                        keep me signed in
                        <input name="RememberMe" type="hidden" value="false">
                    </label>
                </div>
                        }

            <a href="@Url.RouteUrl("PasswordRecovery")" class="bottom-text-w3ls ">@T("Account.Login.ForgotPassword")</a>
            <div class="w3ls-bot">
            </div>
        </div>
        @*@Html.Action("TopicBlock", "Topic", new { systemName = "LoginRegistrationInfo" })*@
    </div>
    <!-- //content -->
    <!-- copyright -->
    <div class="copyright wow zoomIn" style="display:none">
        <h2 style="visibility: visible">
            &copy; 2019 Vnext Version 6.5 . All rights reserved | Design by
            <a href="#" target="_blank">Sankalp</a>
        </h2>
    </div>
</div>
<script type="text/javascript" src="~/Themes/Vnext/Content/VnextJs/js/wow/wow.min.js"></script>
<script>

    wow = new WOW(
        {
            animateClass: 'animated',
            offset: 100
        }
      );
    wow.init();
    //document.getElementById('').onclick = function () {
    //    var section = document.createElement('section');
    //    section.className = 'wow fadeInDown';
    //    this.parentNode.insertBefore(section, this);
    //};
</script>