﻿@model Nop.Web.Framework.Models.RegisterResultModel
@using Nop.Web.Framework.Models.Customer;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);

    //page class
    Html.AppendPageCssClassParts("html-registration-result-page");

    //continue URL
    var qs = this.Context.Request.QueryString["returnUrl"];
    var continueUrl = "";
    if (!String.IsNullOrEmpty(qs) && Url.IsLocalUrl(qs))
    {
        continueUrl = qs;
    }
    else
    {
        if (Session["TraderSignUp"] != null)
        {
            continueUrl = Url.RouteUrl("Register", new { TraderSignUp = true });
        }
        else
        {
            continueUrl = Url.RouteUrl("Register");
        }
    }
    var isVFMember = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.MemId;
}
<style>
    .txtRight {
        text-align: right;
        width: 50%;
    }

    .txtValign {
        text-align: center;
    }

    .buttons {
        text-align: center;
        margin-top: 1%;
    }

    .txtright {
        text-align: right;
    }

    .txtleft {
        text-align: left;
    }

    .KycError {
        margin: 0 0 20px;
        color: red;
    }

    #custKycDoc {
        text-align: center;
    }
</style>
@if (isVFMember == null)
{
    <style>
        #RegisterSuccess {
            margin-right: 0% !important;
            margin-left: -8% !important;
        }

        .footer-copyright-area {
            margin-left: 0px !important;
        }

        .view-file-in {
            width: 14em !important;
            height: 61px !important;
        }

        @@media only screen and (min-width: 320px) and (max-width: 780px) {
            #RegisterSuccess {
                margin-right: 1% !important;
                margin-left: 1% !important;
                margin-top: 150px !important;
            }
        }

        @@media only screen and (min-width: 789px) and (max-width:1025px) {
            #RegisterSuccess {
                margin-right: 1% !important;
                margin-left: -10% !important;
            }
        }
    </style>
    <br />

    <br />
    <br />


}


<link href="~/Content/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Treeview/myTreestyle.css" rel="stylesheet" />

<br />


<div class="sparkline16-list " id="RegisterSuccess">
    <div class="sparkline7-hd" style="text-align: center;font-size: 20px;">
        <div class="main-sparkline16-hd">
            <h1>@T("Account.Register")</h1>
        </div>
    </div>
    <div class="sparkline16-graph">
        <div class="datatable-dashv1-list custom-datatable-overright" id="BinaryBothdiv">


            <div class="result" style="text-align:center;">
                @Model.Result
            </div>
            <div class="KycError" style="text-align:center;">
                @if (Model.Result1 != null)
            {
                    @Model.Result1
                }
            </div>
            <div class="fieldset">
                <div class="title txtValign">
                    <strong>@T("Admin.Common.RegistrationSuccess")</strong>
                </div>
                <br />
                <div class="col-sm-12  col-md-12">
                    <div class="col-sm-2  col-md-2"></div>
                    @if (!string.IsNullOrEmpty(Model.MemberName))
                    {
                        <div class="col-sm-4  col-md-4  txtright">
                            @Html.LabelFor(model => model.MemberName, new { })
                        </div>
                        <div class="col-sm-4  col-md-4 txtleft">
                            @Model.MemberName [@Model.MemberId]
                            @Html.HiddenFor(model => model.MemberId, new { })
                        </div>
                        <div class="col-sm-2  col-md-2 "></div>
                    }
                    @if (string.IsNullOrEmpty(Model.MemberName))
                    {
                        <div class="col-sm-4  col-md-4  txtright">
                            @Html.LabelFor(model => model.OrderId, new { })
                        </div>
                        <div class="col-sm-4  col-md-4 txtleft">
                            @Model.OrderId
                        </div>
                        <div class="col-sm-2  col-md-2 "></div>
                    }
                </div>
                <div class="col-sm-12  col-md-12">
                    @if (Model.UsernamesEnabled || Model.UsernamesasMembernoEnabled)
                    {
                        <div class="col-sm-2  col-md-2 "></div>
                        <div class="col-sm-4  col-md-4   txtright ">
                            @Html.LabelFor(model => model.Username, new { })
                        </div>
                        <div class="col-sm-4  col-md-4  txtleft">
                            @Model.Username
                        </div>
                        <div class="col-sm-2  col-md-2 "></div>
                    }
                </div>
                <div class="col-sm-12  col-md-12">
                    @if (Model.SponsorEnabled)
                    {
                        <div class="col-sm-2  col-md-2 "></div>
                        <div class="col-sm-4  col-md-4  txtright ">
                            @Html.LabelFor(model => model.Sponsor, new { })
                        </div>
                        <div class="col-sm-4  col-md-4  txtleft">
                            @Model.Sponsor
                        </div>
                        <div class="col-sm-2  col-md-2 "></div>
                    }
                </div>
                <div class="col-sm-12  col-md-12">
                    @if (Model.AdjustedEnabled)
                    {
                        if (Model.PositionEnabled)
                        {
                            <div class="col-sm-2  col-md-2 "></div>
                            <div class="col-sm-4  col-md-4   txtright ">
                                @Html.LabelFor(model => model.Adjusted, new { })
                            </div>
                            <div class="col-sm-4  col-md-4  txtleft">
                                @Model.Adjusted
                            </div>
                            <div class="col-sm-2  col-md-2 "></div>
                        }
                    }
                </div>
                <div class="col-sm-12  col-md-12">
                    @if (Model.PositionEnabled)
                    {
                        <div class="col-sm-2  col-md-2 "></div>
                        <div class="col-sm-4  col-md-4   txtright">
                            @Html.LabelFor(model => model.Position, new { })
                        </div>
                        <div class="col-sm-4  col-md-4  txtleft">
                            @Model.Position
                        </div>
                        <div class="col-sm-2  col-md-2 "></div>
                    }
                </div>
                <div class="clearfix"></div>
                <br />
                <div class="col-sm-12  col-md-12">
                    @if (Model.KYCDocumentEnable)
                    {
                        if (Model.KYCDocumentNames != null)
                        {
                            if (Model.KYCDocumentNames.Count > 0)
                            {
                                <div class="title" style="text-align:center">
                                    <strong>@T("Web.Register.KYCDocument")</strong>
                                </div>
                                <br />
                                for (int i = 0; i < Model.KYCDocumentNames.Count; i++)
                                {
                                    <div class="fieldset" id="KycStyleForSomeTheme">
                                        <div class="form-fields">
                                            <div class="page-body">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                            @using (Html.BeginForm("RegisterResult", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                            {
                                                                @Html.AntiForgeryToken()
                                                                <div class="row">
                                                                    <div class="inputs" id="custKycDoc">
                                                                        <b><label id="custKycDoc">@Model.KYCDocumentNames[i].DocumentName </label></b>
                                                                    </div>

                                                                    <div class="inputs" id="custKycDoc">

                                                                        @Html.Hidden("KYCDocumentName", Model.KYCDocumentNames[i].DocumentName)
                                                                        @Html.Hidden("Memno", Model.MemberId)

                                                                        @if (!String.IsNullOrEmpty(Model.KYCDocumentNames[i].ImageURL))
                                                                        {
                                                                            <div class="image" style="text-align:center !important; display:inline-block !important ; float:none !important;">
                                                                                @if (Model.KYCDocumentOnFolder)
                                                                                {
                                                                                    if (Model.KYCDocumentNames[i].MineType == "application/pdf")
                                                                                    {
                                                                                        <a href="@Url.Content("~/Customer/ViewImageForRegister")?Id=@(Model.KYCDocumentNames[i].Id)&KYCDocumentName=@(Model.KYCDocumentNames[i].DocumentName)&MineType=@(Model.KYCDocumentNames[i].MineType)" style='cursor:pointer'>
                                                                                            <img src="@(Model.KYCDocumentNames[i].ImageURL)" alt="KYC Document" id="@(Model.KYCDocumentNames[i].DocumentName)" accept="image/gif, image/jpeg, image/png,application/pdf" class="img-responsive" width="150" height="150" />
                                                                                        </a>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <img src="@(Model.KYCDocumentNames[i].ImageURL)" alt="KYC Document" id="@(Model.KYCDocumentNames[i].DocumentName)" accept="image/gif, image/jpeg, image/png,application/pdf" class="img-responsive" width="200" height="150" />
                                                                                    }
                                                                                }

                                                                                else
                                                                                {
                                                                                    if (Model.KYCDocumentNames[i].MineType == "application/pdf")
                                                                                    {
                                                                                        <a href="@Url.Content("~/Customer/ViewImageForRegister")?Id=@(Model.KYCDocumentNames[i].Id)&KYCDocumentName=@(Model.KYCDocumentNames[i].DocumentName)&MineType=@(Model.KYCDocumentNames[i].MineType)" style='cursor:pointer'>
                                                                                            <img src="@(Model.KYCDocumentNames[i].ImageURL)" alt="KYC Document" id="@(Model.KYCDocumentNames[i].DocumentName)" accept="image/gif, image/jpeg, image/png,application/pdf" class="img-responsive" width="150" height="150" />
                                                                                        </a>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <img src="@Url.Content(Model.KYCDocumentNames[i].ImageURL)" id="@(Model.KYCDocumentNames[i].DocumentName)" alt="KYC Document" class="img-responsive" width="200" height="150" />

                                                                                    }
                                                                                }

                                                                            </div>

                                                                        }
                                                                    </div>
                                                                    <div class="inputs" id="custKycDoc">
                                                                        @if (Model.KYCDocumentEnable)
                                                                        {
                                                                            var id = "kyc" + i;
                                                                            <input type="file" name="files" id='@id' style="text-align:left;" />
                                                                            @Html.ValidationMessage("files", new { id = "files", style = "color:#ff0039" })

                                                                        }
                                                                    </div>
                                                                    <div class="buttons" style="margin-top:2%;" id="custKycDoc">

                                                                        @if (Model.KYCDocumentEnable)
                                                                        {
                                                                            var id = "kyc" + i;
                                                                            <button type="submit" name="upload-RegisterPicture" style="margin-top:1px" id="upload-RegisterPicture" class="btn btn-custon-four btn-success" onclick="return CheckImageSize('@(id)');"><i class="fa fa-upload"></i> @T(" common.upload")</button>
                                                                        }
                                                                        @if (Model.KYCDocumentEnable)
                                                                        {
                                                                            if (!String.IsNullOrEmpty(Model.KYCDocumentNames[i].ImageURL))
                                                                            {
                                                                                var id = "kyc" + i;
                                                                                <button type="submit" name="remove-RegisterPicture" id="remove-RegisterPicture" style="margin-top:1px" class="btn btn-custon-four btn-danger" onclick="return DeleteImage('@(id)');"><i class="fa fa-remove"></i> @T(" account.avatar.removekycdocument")</button>
                                                                            }
                                                                        }
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    }
                </div>
                <div class="clearfix"></div>

                <div class="buttons">
                    <button type="button" class="btn btn-custon-four btn-primary" onclick="location.href='@continueUrl'"><i class="fa fa-angle-double-right"></i> @T("Account.Register.Result.Continue")</button>
                </div>

            </div>


        </div>
    </div>

</div>

@if (isVFMember == null)
            {
    <br />
    <br />
    <br />
    <br />
    <br />

}
@section scripts{
    <script type="text/javascript">

        var ImageFlag = {};

        $('#upload-RegisterPicture').click(function () {
            var flag1 = false;
            $.each(ImageFlag, function (key, value) {
                console.log(value);
                if (value === true) {
                    flag1 = true;
                    return false;
                }
            });

            if (flag1) {
                return false;
            }
        });

        function CheckImageSize(id) {
            var fi = document.getElementById(id);
            if (fi.files.length > 0) {
                var fsize = fi.files.item(0).size;
                if (4194304 < fsize) {
                    return false;
                }
            }
        };

        $('input[type=file]').change(function (e) {
            registrationFlag = false;

            $in = $(this);
            if (this.files.length != 0) {
                if (4194304 < this.files[0].size) {
                    $in.next().html("@T("Image must be less than 4mb")");

                    ImageFlag[inId] = true;
                }
                else {
                    $in.next().html("");

                    ImageFlag[inId] = false;
                }
            }
            else {
                $in.next().html("");

            }
        });

        function DeleteImage(id) {
            if ($('input[type = file]').val() != null) {
                $('input[type = file]').val('');
            }
            $('#KId').val(id);
            var fi = document.getElementById(id);
        };
    </script>
}
