﻿@model HeaderLinksModel
@using Nop.Web.Models.Common;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Services.Customers;
@using Nop.Core.Domain.Customers;

@{
    var isVFMember = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.MemId;
    if (isVFMember == null || isVFMember == -1)
    {
        isVFMember = null;
    }
    var IsGuest = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.IsGuest();
    var IsMember = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.MemId;
    if (IsMember == null || IsMember == -1)
    {
        IsMember = null;
    }
}


<div class="header-centering" id="divShowOnManual">
    <div class="header-links-wrapper">
        <div class="header-links">
            <ul>
                @Html.Widget("header_links_before")
                @if (Model.WishlistEnabled)
                {
                    if (IsGuest || IsMember != null)
                    {
                        <li>
                            <a href="@Url.RouteUrl("Wishlist")" class="ico-wishlist">
                                <span class="wishlist-label">@T("Wishlist") @T("Wishlist.HeaderQuantity", Model.WishlistItems)</span>                            
                            </a>
                        </li>
                    }
                }
                <li>
                    @Html.Action("TaxTypeSelector", "Common")

                </li>
                <li>
                    @Html.Action("CurrencySelector", "Common")

                </li>
                <li>
                    @Html.Action("LanguageSelector", "Common")
                </li>
              
                @if (Model.IsAuthenticated)
                {                  
                    <li id="categoryMenuLink">
                        @if (!String.IsNullOrEmpty(Model.ProfilePictureUrl))
                        {
                            <a href="@Url.RouteUrl("CustomerInfo")" class="anchorProfileimg"><img src="@(Model.ProfilePictureUrl)" alt="Profile Picture" id="PofileImage" class="ProfileImageForMenu" /></a>
                        }
                    </li>                
                }
                else
                {
                   
                }
                @if (Model.AllowPrivateMessages)
                {
                    <li>
                        <a href="@Url.RouteUrl("PrivateMessages", new { tab = "" })" class="ico-inbox">@T("PrivateMessages.Inbox")</a>
                        @Model.UnreadPrivateMessages
                    </li>
                    if (!string.IsNullOrEmpty(Model.AlertMessage))
                    {
                        <script type="text/javascript">
                            $(document).ready(function () {
                                displayPopupNotification('@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.AlertMessage))', 'success', false);
                            });
                        </script>
                    }
                }


                @Html.Widget("header_links_after")
            </ul>
        </div>
    </div>


        @if (Model.ShoppingCartEnabled)
        {
            if (IsGuest || IsMember != null)
            {
                <div class="shopping-cart-link">
                    <div id="topcartlink">

                        <a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart">
                            <span class="cart-label">@T("ShoppingCart") @T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</span>                         
                        </a>

                    </div>

                    @Html.Action("FlyoutShoppingCart", "ShoppingCart")

                </div>
            }
        }

    <script type="text/javascript">
                    $(document).ready(function () {

                        var ShoppingCartItems = '@Model.ShoppingCartItems';
                        var WishlistItems = '@Model.WishlistItems';
                        var NotificationsCount = '@Model.NotificationsCount';
                        var CustomerName = '@Model.CustomerName';
                        if (ShoppingCartItems != '') {
                            $("#ShoppingcartCount").html(@Model.ShoppingCartItems);
                            $(".ShoppingcartCountResponsive").html(ShoppingCartItems);
                            $(".ShoppingwishlistResponsive").html(WishlistItems);
                            $(".ShoppingNotificationsCountResponsive").html(NotificationsCount);
                            $(".CustomerNameForResponsive").html(CustomerName);
                            $("#PofileImageResponsive").prop("src", "@Model.ProfilePictureUrl");
                        }

                        $('.header').on('mouseenter', '#topcartlink', function () {
                            $('#flyout-cart').addClass('active');
                        });
                        $('.header').on('mouseleave', '#topcartlink', function () {
                            $('#flyout-cart').removeClass('active');
                        });
                        $('.header').on('mouseenter', '#flyout-cart', function () {
                            $('#flyout-cart').addClass('active');
                        });
                        $('.header').on('mouseleave', '#flyout-cart', function () {
                            $('#flyout-cart').removeClass('active');
                        });

                        $('.header').on('mouseenter', '#categoryMenuLink', function () {
                            $('#categoryMenu-panle').addClass('active');
                        });
                        $('.header').on('mouseleave', '#categoryMenuLink', function () {
                            $('#categoryMenu-panle').removeClass('active');
                        });
                        $('.header').on('mouseenter', '#categoryMenu-panle', function () {
                            $('#categoryMenu-panle').addClass('active');
                        });
                        $('.header').on('mouseleave', '#categoryMenu-panle', function () {
                            $('#categoryMenu-panle').removeClass('active');
                        });
                    });
    </script>

    <div class="header-selectors-wrapper">      
        @Html.Widget("header_selectors")
    </div>
    
  
</div>

@*region for categoryMenu As show in dropdown panle*@

<div id="categoryMenu-panle" class="categoryMenu-panle">
    <div class="mini-shopping-cart">
        <div class="menucount">
            @if (Model.IsAuthenticated)
            {

            <div class="picture">
                <img src="~/Themes/Motion/Content/img/m-icon-account.png" alt="Profile Picture" />
            </div>
            <div class="Product">
                <a href="@Url.RouteUrl("CustomerInfo")" title="@Model.CustomerEmailUsername" class="ico-account">@Model.CustomerEmailUsername</a>
                @if (isVFMember != null && Model.Status == "In-Active")
                    {
                    <span style="color:red">@T("Customer.Status", Model.Status)</span>
                    }
            </div>

            }
        </div>

        @if (Model.IsAuthenticated)
            {
                if (isVFMember != null)
                {
        <div class="menucount">
            <div class="picture">
                <img src="~/Themes/Motion/Content/img/desktop-icon.png" alt="Profile Picture" />
            </div>
            <div class="Product">
                <a href="@Url.RouteUrl("Dashboard")" title="@T("Dashboard.Title.MyDesktop")" class="ico-Desktop">@T("Dashboard.Title.MyDesktop")</a>
            </div>
        </div>
            }
        }
        <div class="menucount">
            <div class="picture">
                <img src="~/Themes/Motion/Content/img/ico-notice.png" alt="Profile Picture" />
            </div>
            <div class="Product">
                <a href="@Url.RouteUrl("CustomerNotifications")" class="ico-Notification" title="@T("Notifications")">
                    <span class="cart-label">@T("Notifications")</span>
                    <span class="cart-qty">@T("Notifications.Count", Model.NotificationsCount)</span>
                </a>
            </div>
        </div>



        @if (Model.IsAuthenticated)
            {

        <div class="menucount">
            <div class="picture">
                <img src="~/Themes/Motion/Content/img/m-icon-logout.png" alt="Profile Picture" />
            </div>
            <div class="Product">
                <a href="@Url.RouteUrl("Logout")" title="@T("Account.Logout")" class="ico-logout">@T("Account.Logout")</a>
            </div>
        </div>
        }

    </div>
</div>



<div class="header-links-wrapper" id="divShowOnResponsive">
    <div class="header-links">   
        <div style="display:inline-block">
            <span class="ShoppingcartCountResponsive"></span>
            <a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart">
            </a>
        </div>

        @if (Model.WishlistEnabled)
            {
                if (IsGuest || IsMember != null)
                {
                <div style="display:inline-block">
                    <span class="ShoppingwishlistResponsive"></span>
                    <a href="@Url.RouteUrl("Wishlist")" class="ico-wishlist1" title="@T("Wishlist")">

                    </a>
                </div>
            }
        }
        <div style="display:inline-block">
            <span class="ShoppingNotificationsCountResponsive"></span>
            <a href="@Url.RouteUrl("CustomerNotifications")" class="ico-notice1" title="@T("Notifications")">
            </a>
        </div>
        <div style="display:inline-block">
            @if (Model.IsAuthenticated)
            {
                if (isVFMember != null)
                {
                    <a href="@Url.RouteUrl("Dashboard")" title="@T("Dashboard.Title.MyDesktop")" class="ico-Desktop1"></a>
                }
            }
        </div>
    </div>
</div>
