﻿@model TopMenuModel
@using Nop.Web.Models.Catalog;
@using Nop.Core.Infrastructure;
@using Nop.Core;

@{
    var IsMember = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.MemId;
    if (IsMember == null || IsMember == -1)
    {
        IsMember = null;
    }
}
@helper RenderCategoryLine(CategorySimpleModel category)
{
    <li>
        @{
            if (category.SubCategories.Count > 0)
            {
                <a class="with-subcategories" href="@Url.RouteUrl("Category", new { SeName = category.SeName })">
                    @category.Name
                </a>
                <div class="plus-button"></div>
                <div class="sublist-wrap">
                    <ul class="sublist">
                        <li class="back-button">
                            <span>@T("SevenSpikes.Themes.Common.BackSublist")</span>
                        </li>
                        @foreach (var subCategory in category.SubCategories)
                        {
                            @RenderCategoryLine(subCategory)
                        }
                    </ul>
                </div>
            }
            else
            {
                if (category.NumberOfProducts.HasValue)
                {
                    <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name @T("Categories.TotalProducts", category.NumberOfProducts.Value)</a>
                }
                else
                {
                    <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name</a>
                }
            }
        }
    </li>
}
<ul class="top-menu">
    @Html.Widget("header_menu_before")
    @if (Model.Categories.Count > 0)
    { 
        foreach (var category in Model.Categories)
        {
            @RenderCategoryLine(category)
        }
    }
    else
    {
        //no categories to display?
        //in this case let's diplay some default menu items
        <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
        if (Model.NewProductsEnabled)
        {
            <li><a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a></li>
        }
        <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
        <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
        if (Model.BlogEnabled)
        {
            <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
        }
        if (Model.ForumEnabled)
        {
            <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
        }
        <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
    }
    @Html.Widget("header_menu_after")
    @if (IsMember != null)
    {
        @Html.Widget("home_page_ImageGallery")
        @Html.Widget("home_page_VideoGallery")
        @Html.Widget("home_page_EventModule")
    }
</ul>
