﻿@model Nop.Admin.ViewModel.AddMoneyTransaction

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //page title
    ViewBag.Title = T("Admin.AdminEwallet.AddMoneyTransaction").Text;

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Add Money Transaction");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.SelectedValues)
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.AdminEwallet.AddMoneyTransaction")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.ewallet.BackToList").Text, "AddMoneyRequestReport")</small>
        </h1>
        <div class="pull-right">
        </div>
    </div>
    <div class="content" id="searchPanel">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Name)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.Name)
                                        @Html.HiddenFor(model => model.CustomerId)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Paymode)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.Paymode, Model.PaymodeList)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <button type="button" id="ViewReport" class="btn bg-blue " value="@T("admin.common.viewreport")">
                                            <i class="fa fa-search"></i>
                                            @T("admin.common.viewreport")
                                        </button>
                                        @*<input type="button" id="" class="btn btn-primary btn-search" value="@T("admin.common.viewreport")" />*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="customers-grid"></div>
                        <script>
                            $(document).ready(function () {
                                $("#customers-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("AddMoneyTransactionList", "AdminEwallet"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: false,
                                    dataBound: onDataBound,
                                    columns: [ {
                                        field: "CustomerId",
                                        headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: "<input type='checkbox' value='#=CustomerId# #=AddMoneyId# #=Amount# #=PaymodeSystemName#'  class='checkboxGroups'/>",
                                        //  width: 50  AddMoneyId
                                    }, {
                                        field: "AddMoneyId",
                                        title:"@T("Admin.Customers.Customers.Fields.AddMoneyId")",
                                        // width: 50,
                                        hidden:true
                                    },
                                    {
                                        field: "Name",
                                        title:"@T("Admin.Customers.Customers.Fields.Name")",
                                        // width: 50,
                                    },  {
                                        field: "AmountWithSymbol",
                                        title: "@T("Admin.Customers.Customers.Fields.Amount")",
                                        // width: 50
                                    },  {
                                        field: "Amount",
                                        title: "@T("Admin.Customers.Customers.Fields.Amount")",
                                        hidden:true
                                        // width: 50
                                    }, {
                                        field: "Date",
                                        title: "@T("Admin.Customers.Customers.Fields.DateTime")",
                                        // width: 50,
                                        //type: "date",
                                        //format: "{0:G}"
                                    }, {
                                        field: "Paymode",
                                        title: "@T("Admin.Customers.Customers.Fields.Paymode")",
                                        // width: 50
                                    },  {
                                        field: "PictureThumbnailUrl",
                                        title: "@T("Admin.Catalog.Products.Fields.ReceiptThumbnailUrl")",
                                        //template: '<img src="#=PictureThumbnailUrl#"/>'
                                        template:"#=getImage(PictureThumbnailUrl,AddMoneyId,Paymode)#",
                                        // template: "<a  value='#=CustomerId#' onclick=\"javascript:OpenWindow('@Url.Content("~/Admin/AdminEwallet/ViewImage")?Id=#=AddMoneyId#', 1000, 500, true); return false;\" style='cursor:pointer' /><img src=#=PictureThumbnailUrl#  width='40px' height='40px' /></a>"
                                        // swidth: 100
                                    }, {
                                        field: "Remark",
                                        title: "@T("Admin.Customers.Customers.Fields.Remark")",
                                        width: 200
                                    }, {
                                        field: "PaymodeSystemName",
                                        title: "@T("Admin.Customers.Customers.Fields.Paymode")",
                                        hidden:true,
                                        // width: 50
                                    }]
                                });
                            });

                            function  getImage(PictureThumbnailUrl,AddMoneyId,Paymode){
                                // 
                                var str;
                                if(Paymode=='Cash at H.O.'|| Paymode=='PayUMoney'
                                    || Paymode == 'CCAvenue' || Paymode == 'PayPal Express Checkout'
                                    || Paymode == 'Atom' || Paymode == 'VoguePay' || Paymode =='Cash On Delivery (COD)'
                                    || (Paymode == 'Bank Transfer' && PictureThumbnailUrl=='-')
                                    || (Paymode == 'Cheque / Money Order' && PictureThumbnailUrl=='-')
                                    || (Paymode == 'Demand Draft' && PictureThumbnailUrl == '-')
                                    || PictureThumbnailUrl == '-')
                                {
                                    str="-";
                                }else
                                {
                                    if(PictureThumbnailUrl!=null)
                                        @*str="<a   onclick=\"javascript:OpenWindow('@Url.Content("~/Admin/AdminEwallet/ViewImage")?Id='"+ AddMoneyId+"'', 800, 250, true); return false;\" style='cursor:pointer' /><img src='"+ PictureThumbnailUrl+"'  width='40px' height='40px' /></a>"*@
                                        str= "<a value='#=CustomerId#' onclick=\"javascript:OpenWindow('@Url.Content("~/Admin/AdminEwallet/ViewImage")?Id="+AddMoneyId+"', 1000, 500, true); return false;\" style='cursor:pointer' /><img src="+PictureThumbnailUrl+"  width='40px' height='40px' /></a>";
                                    else
                                        str="-";
                                }
                                return str;
                            }
                        </script>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8" id="trRemark">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Remark)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopTextAreaFor(model => model.Remark)
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        @*<div class="row">
                                            <div class="col-md-4">
                                                &nbsp;
                                            </div>
                                            <div class="col-md-8">*@
                                        <button type="submit" id="sendMoney" name="sendMoney" class="btn bg-green">
                                            @T("Admin.Ewallet.SendMoney")
                                        </button>
                                        <button type="submit" id="RejectMoney" name="RejectMoney" class="btn bg-red" value="@T("Admin.Ewallet.RejectMoney")">
                                            @T("Admin.Ewallet.RejectMoney")
                                        </button>
                                        @*<input type="submit" id="sendMoney" name="sendMoney" class="btn bg-green" value="@T("Admin.Ewallet.SendMoney")" />
                                            <input type="submit" id="RejectMoney" name="RejectMoney" class="btn bg-red" value="@T("Admin.Ewallet.RejectMoney")" />*@
                                        @*</div>
                                            </div>*@
                                    </div>
                                </div>
                                <script type="text/javascript">
    var selectedIds = [];
    $(document).ready(function () {
        $('#validationMessages').hide();
        var TraderEwalSetting=  @Html.Raw(Json.Encode(Model.TraderEwalletSetting));
        if(TraderEwalSetting)
        {
            $('#Name').autocomplete({
                delay: 500,
                minLength: 1,
                @*source: '@(Url.Action("SearchTermAutoCompleteCustomerId", "AdminEwallet"))',*@
                source: '@(Url.Action("SearchTermAutoCompleteCustomerTraders", "AdminEwallet"))',
                appendTo: '.search-box',
                select: function (event, ui) {

                    $("#CustomerId").val(ui.item.Id);
                    $("#Name").val(ui.item.label);
                    $("#divfirstname").show();
                    return false;
                }
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                var t = item.label;
                //html encode
                t = $('<div/>').text(t).html();
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a><span>" + t + "</span></a>")
                    .appendTo(ul);
            };
        }
        else
        {
            $('#Name').autocomplete({
                delay: 500,
                minLength: 1,
                @*source: '@(Url.Action("SearchTermAutoCompleteCustomerId", "AdminEwallet"))',*@
                source: '@(Url.Action("SearchTermAutoCompleteCustomerId", "AdminEwallet"))',
                appendTo: '.search-box',
                select: function (event, ui) {

                    $("#CustomerId").val(ui.item.Id);
                    $("#Name").val(ui.item.label);
                    $("#divfirstname").show();
                    return false;
                }
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                var t = item.label;
                //html encode
                t = $('<div/>').text(t).html();
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a><span>" + t + "</span></a>")
                    .appendTo(ul);
            };
        }

                                        //search button
                                        $('#ViewReport').click(function () {
                                            //  
                                            var grid = $('#customers-grid').data('kendoGrid');
                                            // 
                                            grid.dataSource.page(1); //new search. Set page size to 1
                                            //grid.dataSource.read(); we already loaded the grid above using "page" function
                                            //clear selected checkboxes
                                            // 
                                            $('.checkboxGroups').attr('checked', false).change();
                                            selectedIds = [];
                                            //
                                            $("#customers-grid").show();
                                            $('#sendMoney').show();
                                            $('#RejectMoney').show();
                                            $('#trRemark').show();
                                        });
                                    });

                                    $('#customers-grid').on('change', 'input[id=mastercheckbox]', function (e) {
                                        $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                    });

                                    //wire up checkboxes.
                                    $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                        //
                                        var $check = $(this);
                                        if ($check.is(":checked") == true) {
                                            var checked = jQuery.inArray($check.val(), selectedIds);
                                            if (checked == -1) {
                                                //add id to selectedIds.
                                                selectedIds.push($check.val());
                                            }
                                            $("#SelectedValues").val(selectedIds);
                                        }
                                        else {
                                            // 
                                            var checked = jQuery.inArray($check.val(), selectedIds);
                                            if (checked > -1) {
                                                //remove id from selectedIds.
                                                selectedIds = $.grep(selectedIds, function (item, index) {
                                                    return item != $check.val();
                                                });
                                                $("#SelectedValues").val(selectedIds);
                                            }
                                        }
                                        updateMasterCheckbox();
                                    });

                                    function onDataBound(e) {

                                        $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                            var currentId = $(this).val();
                                            var checked = jQuery.inArray(currentId, selectedIds);
                                            //set checked based on if current checkbox's value is in selectedIds.
                                            $(this).attr('checked', checked > -1);
                                        });

                                        updateMasterCheckbox();
                                    }

                                    function updateMasterCheckbox() {
                                        var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                        var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                        $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                                    }

                                    function additionalData() {

                                        var data = {
                                            SelectedValues: $('#@Html.FieldIdFor(model => model.SelectedValues)').val(),
            CustomerId: $('#@Html.FieldIdFor(model => model.CustomerId)').val(),
            Paymode: $('#@Html.FieldIdFor(model => model.Paymode)').val(),

        };
        addAntiForgeryToken(data);
        return data;
    }

    $('#reset').click(function () {
        $('#customers-grid').hide();
        $('#sendMoney').hide();
        $('#RejectMoney').hide();
        $('#validationMessages').html('');
        $('#validationMessages').hide();
        $(".alert.alert-success.alert-dismissable").hide();
        $(".alert.alert-danger.alert-dismissable").hide();
        $('#trRemark').hide();
    });

    $('#sendMoney').click(function(e) {
        //
        $('#validationMessages').html('');
        $("#validationMessages").hide();
        $(".alert.alert-success.alert-dismissable").hide();
        $(".alert.alert-danger.alert-dismissable").hide();
        var remark= $('#Remark').val();
        var validationDivs1='';

        if(remark == "" || remark == null)
        {
            validationDivs1=validationDivs1+'<div>@T("Admin.Validation.EnterRemark")</div>';
            $("#validationMessages").show();
            $('#validationMessages').append(validationDivs1);
            return false;
        }

        if(selectedIds=='' || selectedIds.length<=0)
        {
            // alert("Select At Least One Record");
            validationDivs1=validationDivs1+'<div>@T("Admin.Validation.SelectAtLeastOneRecord")</div>';
            $("#validationMessages").show();
            $('#validationMessages').append(validationDivs1);
            return false;
        }
    });

    $('#RejectMoney').click(function(e) {
        // 
        $('#validationMessages').html('');
        $("#validationMessages").hide();
        $(".alert.alert-success.alert-dismissable").hide();
        $(".alert.alert-danger.alert-dismissable").hide();
        var remark= $('#Remark').val();
        var validationDivs1='';

        if(remark == "" || remark == null)
        {
            validationDivs1=validationDivs1+'<div>@T("Admin.Validation.EnterRemark")</div>';
            $("#validationMessages").show();
            $('#validationMessages').append(validationDivs1);
            return false;
        }

        if(selectedIds=='' || selectedIds.length<=0)
        {
            // alert("Select At Least One Record");
            validationDivs1=validationDivs1+'<div>@T("Admin.Validation.SelectAtLeastOneRecord")</div>';
            $("#validationMessages").show();
            $('#validationMessages').append(validationDivs1);
            return false;
        }
    });

    window.onbeforeunload = function () {
        $("input[type=button], input[type=submit]").attr("disabled", "disabled");
    };

    window.onbeforeunload = function () {
        var buttons = document.getElementsByTagName("BUTTON");
        for (var i in buttons) {
            if (buttons[i].type == "button" || buttons[i].type == "submit") {
                buttons[i].disabled = true;
            }
        }
    };

                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}




