﻿@model Nop.Admin.ViewModel.AdminEwalletLoginVM
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Ewallet.EwalletLogin").Text;
    Html.SetActiveMenuItemSystemName("Ewallet Login");
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
           
            @T("Admin.Ewallet.EwalletLogin")
        </h1>
    </div>
    <div class="content" id="searchPanel">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group" id="tblFromDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.EnterPassword)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.PasswordFor(model => model.txtPassword, new { @class = "password" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <input type="submit" id="btnLogIN" class="btn bg-blue" value="@T("Admin.Common.btnLogIN")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}