﻿@model Nop.Admin.ViewModel.EwalletRequestConfirmVM

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //page title
    ViewBag.Title = T("Admin.Ewallet.EwalletRequestConfirm").Text;

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Ewallet Confirm Request");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Ewallet.EwalletRequestConfirm")
        </h1>
        <div class="pull-right">
        </div>
    </div>
    <div class="content" id="searchPanel">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ERCSelectOption)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.ddlChoice, new List<SelectListItem>()
                                           {
                                               new SelectListItem(){Text="All Record(s)", Value="1"},
                                               new SelectListItem(){Text="ID/Name-wise",Value="0"}
                                           }, new { @onchange = "ChangeField(this.value)" })
                                    </div>
                                </div>
                                <div class="form-group" id="tblMember">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ERCmember)
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" id="txtMember" value="" class="form-control text-box single-line" name="" />
                                        <input type="hidden" name="hiddenSearchMemno" id="hiddenSearchMemno" value=" " />
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="tblFromDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ERCFromDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.txtFromDate)
                                    </div>
                                </div>
                                <div class="form-group" id="tblToDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ERCToDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.txtToDate)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-3">
                                        <button type="button" id="ViewReport" class="btn bg-blue" value="@T("admin.common.viewreport")">
                                            <i class="fa fa-search"></i>
                                            @T("admin.common.viewreport")
                                        </button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="showHideDiv">
                    <div class="panel-body">
                        <div id="customers-grid"></div>
                        <script>
                            $(document).ready(function () {
                                $("#validationMessages").hide();
                                $("#customers-grid").hide();
                                $("#showHideDiv").hide();

                                $('#ViewReport').click(function () {

                                    var validationDivs='';
                                    var flag=true;
                                    var ddlChoice =$('#ddlChoice').val();
                                    var txtMember=$('#txtMember').val();
                                    var hiddenSearchMemno=$('#hiddenSearchMemno').val();
                                    //var EnteredFromdate=$('#txtFromDate').val();
                                    //var EnteredDate=$('#txtToDate').val();
                                    var FDate = $("#txtFromDate").val();
                                    var TDate = $("#txtToDate").val();
                                    var EnteredDate = "";
                                    var EnteredFromdate = "";
                                    if (FDate != "") {
                                        EnteredDate = getDate($("#txtFromDate").data("kendoDatePicker").value());
                                    }
                                    if (TDate != "") {
                                        EnteredFromdate = getDate($("#txtToDate").data("kendoDatePicker").value());
                                    }
                                    //$("#customers-grid").hide();
                                    $('#validationMessages').html('');
                                    $("#validationMessages").hide();

                                    if(ddlChoice == 0)
                                    {
                                        if(txtMember == '')
                                        {
                                            validationDivs=validationDivs+ '<div>@T("Admin.Validation.IdNameRequired")</div>';
                                            flag=false;
                                        }
                                        if(txtMember !='' && hiddenSearchMemno ==" ")
                                        {
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                                            flag=false;
                                        }
                                    }

                                    if (EnteredFromdate != '' && EnteredDate == '' )
                                    {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                                        flag=false;
                                    }

                                    if (EnteredDate != '' && EnteredFromdate == '')
                                    {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                                        flag=false;
                                    }

                                    // 
                                    // date validations
                                    var EnteredDate = getDate($("#txtFromDate").data("kendoDatePicker").value());
                                    var EnteredFromdate=getDate($("#txtToDate").data("kendoDatePicker").value());

                                    var myDate = new Date(getDateFromString($("#txtFromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                    var myFromDate = new Date(getDateFromString($("#txtToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                                    var today = new Date();
                                    var start_time=$("#DatewiseFrom").val();
                                    var end_time=$("#DatewiseTo").val();

                                    if (myFromDate > today) {

                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                                        flag=false;
                                    }
                                    if (myFromDate < myDate) {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                                        flag=false;
                                    }

                                    if(flag)
                                    {
                                        var grid =  $("#customers-grid").data('kendoGrid');
                                        grid.dataSource.page(1);
                                        $('.checkboxGroups').attr('checked', false).change();
                                        $("#customers-grid").show();
                                        $("#showHideDiv").show();
                                        selectedIds = [];
                                        $("#tblpaymode").show();
                                        $("#tblremark").show();
                                        $("#trpaymode").show();
                                        //  $('input[type="submit"]').attr('disabled','disabled');
                                        return false;
                                    }
                                    else
                                    {
                                        $("#validationMessages").show();
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                });

                                $("#customers-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("EwalletRequestConfirm", "AdminEwallet"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: true,
                                    dataBound: onDataBound,
                                    columns: [ {
                                        field: "Id",
                                        headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: "<input type='checkbox' value='#=CustomerId# #=wtid# #=memname#'  class='checkboxGroups'/>",
                                        width: 100,
                                    }, {
                                        field: "CustomerId",
                                        title:"@T("Admin.Customers.Customers.Fields.CustomerId")",
                                        width: 100,
                                        hidden:true
                                    },{
                                        field: "mjdmemid",
                                        title:"@T("Admin.Customers.Customers.Fields.mjdmemid")",
                                        width: 100,
                                        hidden:true
                                    }, {
                                        field: "wtid",
                                        title:"@T("Admin.Customers.Customers.Fields.wtid")",
                                        width: 100,
                                        hidden:true
                                    }, {
                                        field: "ID",
                                        title:"@T("Admin.Customers.Customers.Fields.ID")",
                                        width: 100,
                                        hidden:true
                                    },  {
                                        field: "memname",
                                        title: "@T("Admin.Customers.Customers.Fields.memname")",
                                        width: 100,
                                    }, {
                                        field: "reqdt",
                                        title: "@T("Admin.Customers.Customers.Fields.reqdt")",
                                        width: 100,
                                        // type: "date",
                                        // format: "{0:G}"
                                    },{
                                        field: "reqamt",
                                        title: "@T("Admin.Customers.Customers.Fields.reqamt")",
                                        width: 100,
                                    },  {
                                        field: "remark",
                                        title: "@T("Admin.Customers.Customers.Fields.remark")",
                                        template: "#=remark#", //"<input type='text' id='txt#=mjdmemid#' value='#=reqamt#'  class='checkboxGroups'/>",
                                        width: 200,
                                    }, {
                                        field: "ChangeAmount",
                                        title: "@T("Admin.Customers.Customers.Fields.ChangeAmount")",
                                        width: 100,
                                        // template: "#=hLink(reqamt)#"
                                        template: "<input type='number' id='txt#=wtid#' value='#=reqamt#'  class='checkboxGroups' onkeypress='return isNumber(event)' onchange='CheckAmount(this,#=reqamt#)'/>",
                                    },  {
                                        field: "CurrentEwalletBalance",
                                        title: "@T("Admin.Customers.Customers.Fields.CurrentEwalletBalance")",
                                        width: 100,
                                    }]
                                });
                            });
                        </script>
                        <script type="text/javascript">

                            //function  hLink(reqamt){
                            //    return "<input type='number' id='txt#=wtid#' value='"+reqamt+"'  class='checkboxGroups' onkeypress='return isNumber(event)' onchange='CheckAmount(this,"+reqamt+")'/>";
                            //}

                            function CheckAmount(elem,reqamt){
                               // 
                                var validationDivs='';
                                var elemVal=$(elem).val();

                                $('#validationMessages').html('');
                                $("#validationMessages").hide();
                                $(".alert.alert-success.alert-dismissable").hide();

                                if(parseInt(elemVal) <= 0 )
                                {
                                    validationDivs='<div>@T("admin.Ewallet.enteramountGraterThanZero")</div>';
                                    $("#validationMessages").show();
                                    $('#validationMessages').append(validationDivs);
                                    return false;
                                }

                                if(parseInt(elemVal) > parseInt(reqamt))
                                {
                                    $('#validationMessages').html('');
                                    validationDivs='<div>@T("Admin.Ewallet.AmountShouldBeLessThanrequestedAmount")</div>';
                                    $("#validationMessages").show();
                                    $('#validationMessages').append(validationDivs);
                                    return false;
                                }
                            }
                        </script>
                    </div>
                </div>
                <div class="panel panel-default" id="tblpaymode">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group" id="trpaymode">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ERCSelectPaymentMode)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.ddlPayMode, new List<SelectListItem>()
                                            {
                                                 new SelectListItem(){Text="Select Payment Mode", Value="0"},
                                                 new SelectListItem(){Text="Cheque",Value="3"},
                                                 new SelectListItem(){Text="Bank Transfer",Value="12"}
                                            }, new { @onchange = "ChangeFieldpaymode(this.value)" })
                                    </div>
                                </div>
                                <div class="form-group" id="trbank">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ERCSelectBank)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.BankID, Model.ddlBank, new { Id = "ddlBank" })
                                    </div>
                                </div>
                                <div class="form-group" id="trchecqno">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ERCEnterStartChequeNo)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.txtChequeNo)
                                        @Html.ValidationMessageFor(model => model.txtChequeNo)
                                    </div>
                                </div>
                                <div class="form-group" id="trchecqdate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ERCEnterChequeDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.txtChequeDate)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8" id="tblremark">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ERCEnterRemark)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopTextAreaFor(model => model.txtremark)
                                    </div>
                                </div>
                                <div class="form-group" id="btnblock">
                                    <div class="col-md-8 col-md-offset-4">
                                        <input type="submit" id="btnConfirm" name="Command" class="btn bg-green" value="@T("Admin.Common.Confirm")" />
                                        <input type="submit" id="btnCancel" name="Command" class="btn bg-red" value="@T("Admin.Common.Reject")" />
                                    </div>
                                </div>
                                @*<div class="form-group" >
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <input  />
                                                </div>
                                                <div class="col-md-4">
                                                    <input  />
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    var selectedIds = [];

                    $('#txtFromDate').keydown(keyDownHandler); // use appropriate selector for the keydown handler

                    function keyDownHandler(e) {
                        if(e.keyCode === 13) {
                            e.stopPropagation();
                            e.preventDefault();
                            $('#ViewReport').click()
                            return false;
                        }
                    }

                    $('#txtToDate').keydown(keyDownHandler1); // use appropriate selector for the keydown handler

                    function keyDownHandler1(e) {
                        if(e.keyCode === 13) {
                            e.stopPropagation();
                            e.preventDefault();
                            $('#ViewReport').click()
                            return false;
                        }
                    }

                    $("#ddlChoice").keydown(function(e){
                        if(e.which === 13){

                            $('#ViewReport').click();
                            return false;
                        }
                    });

                    $("#txtMember").keydown(function(e){
                        if(e.which === 13 && $('#hiddenSearchMemno').val()!=" "){

                            $('#ViewReport').click()
                            return false;
                        }
                    });

                    $('#txtFromDate').keyup(keyDownHandler); // use appropriate selector for the keydown handler

                    function keyDownHandler(e) {
                        if(e.keyCode === 13) {
                            if($('#txtToDate').val()!='')
                            {
                                e.stopPropagation();
                                e.preventDefault();
                                $('#ViewReport').click()
                                return false;
                            }
                            else{
                                $('#ViewReport').click()
                                flag=false;
                                return false;
                            }
                        }
                        else{
                            $('#txtFromDate').val('');
                            return false;
                        }
                    }

                    $('#txtToDate').keyup(keyDownHandler1); // use appropriate selector for the keydown handler

                    function keyDownHandler1(e) {
                        if(e.keyCode === 13) {
                            if($('#txtFromDate').val()!='')
                            {
                                e.stopPropagation();
                                e.preventDefault();
                                $('#ViewReport').click()
                                return false;
                            }
                            else{
                                $('#ViewReport').click()
                                flag=false;
                                return false;
                            }
                        }
                        else{
                            $('#txtToDate').val('');
                            return false;
                        }
                    }

                    $("#btnReset").click(function (){
                        $("#ddlChoice").val("1");
                        $("#txtMember").val("");
                        $("#hiddenSearchMemno").val("");
                        $("#txtFromDate").val("");
                        $("#txtToDate").val("");
                        $('#tblMember').hide();
                        $("#trpaymode").hide();
                        $("#tblpaymode").hide();
                        $("#customers-grid").hide();
                        $("#showHideDiv").hide();
                        $('#tblremark').hide();
                        $("#validationMessages").hide();
                        $('#tblFromDate').show();
                        $('#tblToDate').show();
                    });

                    $(document).ready(function () {

                        $("#txtChequeDate").keyup(function(){
                            $(this).val('');
                        });

                        $('#customers-grid').on('change', 'input[id=mastercheckbox]', function (e) {
                            $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                        });

                        //wire up checkboxes.
                        $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                            // 
                            var $check = $(this);
                            if ($check.is(":checked") == true) {
                                var checked = jQuery.inArray($check.val(), selectedIds);
                                if (checked == -1) {
                                    //add id to selectedIds.
                                    selectedIds.push($check.val());
                                }
                                $("#SelectedValues").val(selectedIds);
                                // $("#tblpaymode").show();
                                // $("#tblremark").show();
                                //$('input[type="submit"]').removeAttr('disabled');
                            }
                            else {
                                //
                                var checked = jQuery.inArray($check.val(), selectedIds);
                                if (checked > -1) {
                                    //remove id from selectedIds.
                                    selectedIds = $.grep(selectedIds, function (item, index) {
                                        return item != $check.val();
                                    });
                                    $("#SelectedValues").val(selectedIds);
                                    if(selectedIds.length == 0)
                                    {
                                        //$("#tblpaymode").hide();
                                        // $("#tblremark").hide();
                                        //  $('input[type="submit"]').attr('disabled','disabled');
                                    }
                                }
                            }
                            updateMasterCheckbox();
                        });

                        $('#btnConfirm').click(function(e) {
                            var ddlPayMode=$('#ddlPayMode').val();
                            var txtChequeDate=$('#txtChequeDate').val();
                            var txtChequeNo=$('#txtChequeNo').val();
                            var txtremark=$('#txtremark').val();
                            var validation="";
                            $('#validationMessages').html('');
                            $("#validationMessages").hide();
                            $(".alert.alert-success.alert-dismissable").hide();
                            $(".alert.alert-danger.alert-dismissable").hide();
                            // 
                            if(ddlPayMode == "0")
                            {
                                validation='<div>@T("Admin.Ewallet.SelectPaymode")</div>';
                                $("#validationMessages").show();
                                $('#validationMessages').append(validation);
                                return false;
                            }

                            if(ddlPayMode == "3")
                            {
                                //  
                                if(txtChequeNo == null || txtChequeNo == '' || txtChequeNo == 0)
                                {
                                    validation='<div>@T("Admin.Ewallet.EnterChequeNo")</div>';
                                    $("#validationMessages").show();
                                    $('#validationMessages').append(validation);
                                    return false;
                                }

                                if(txtChequeNo.length !=6)
                                {
                                    validation='<div>@T("Admin.Validation.ChequeNoSixDigit")</div>';
                                    $("#validationMessages").show();
                                    $('#validationMessages').append(validation);
                                    return false;
                                }

                                if(txtChequeDate==null || txtChequeDate =='')
                                {
                                    validation='<div>@T("Admin.Ewallet.EnterChequeDate")</div>';
                                    $("#validationMessages").show();
                                    $('#validationMessages').append(validation);
                                    return false;
                                }
                            }
                            if(txtremark == null || txtremark =='')
                            {
                                validation='<div>@T("Admin.Validation.EnterRemark")</div>';
                                $("#validationMessages").show();
                                $('#validationMessages').append(validation);
                                return false;
                            }

                            if(selectedIds=='' || selectedIds.length<=0)
                            {
                                validation='<div>@T("Admin.Validation.SelectAtLeastOneRecord")</div>';
                                $("#validationMessages").show();
                                $('#validationMessages').append(validation);
                                return false;
                            }
                            else
                            {
                                e.preventDefault();
                                var ewalletList=[];
                                $.each(selectedIds,function(i,val){

                                    ewalletList.push($('#txt'+val.split(' ')[1]).val());
                                });
                                //
                                var cdate = getDateFromString($("#txtChequeDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime");

                                var postData = {
                                    selectedIds: selectedIds,
                                    ewalletList:ewalletList,
                                    ddlPayMode:$("#ddlPayMode").val(),
                                    ddlBank:$("#ddlBank").val(),
                                    ddlBanktxt:$("#ddlBank option:selected").text(),
                                    txtChequeNo:$("#txtChequeNo").val(),
                                    txtChequeDate:cdate,
                                    txtremark:$("#txtremark").val()
                                };
                                addAntiForgeryToken(postData);

                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: "@(Url.Action("ConfirmEwalletRequest", "AdminEwallet"))",
                                    data: postData,
                                    success: function(data) {
                                        var newUrl="";
                                        if(data==1)
                                        {
                                            var newUrl= '@Url.Action("EwalletRequestConfirm", "AdminEwallet", new { suc = 1 })';
                                        }
                                        if(data==2)
                                        {
                                            var newUrl= '@Url.Action("EwalletRequestConfirm", "AdminEwallet", new { suc = 2 })';
                                        }
                                        if(data==3)
                                        {
                                            var newUrl= '@Url.Action("EwalletRequestConfirm", "AdminEwallet", new { suc = 3 })';
                                        }
                                        if(data==4)
                                        {
                                            var newUrl= '@Url.Action("EwalletRequestConfirm", "AdminEwallet", new { suc = 4 })';
                                        }
                                        if(data==5)
                                        {
                                            var newUrl= '@Url.Action("EwalletRequestConfirm", "AdminEwallet", new { suc = 5 })';
                                        }
                                        if(data==6)
                                        {
                                            var newUrl= '@Url.Action("EwalletRequestConfirm", "AdminEwallet", new { suc = 6 })';
                                        }
                                        if(data==7)
                                        {
                                            var newUrl= '@Url.Action("EwalletRequestConfirm", "AdminEwallet", new { suc = 7 })';
                                        }
                                        if(data==8)
                                        {
                                            var newUrl= '@Url.Action("EwalletRequestConfirm", "AdminEwallet", new { suc = 8 })';
                                        }
                                        window.location.href = newUrl;
                                        //  window.location.href = 'http://punecs/VentaforceBaseVersion/Admin/AdminEwallet/EwalletRequestConfirm?suc=' + data;

                                    },
                                    error: function(xhr, ajaxOptions, thrownError) {
                                        alert(thrownError);
                                    },
                                    traditional: true
                                });
                                return false;
                            }
                        });

                        $('#btnCancel').click(function(e) {
                            $('#validationMessages').html('');
                            $("#validationMessages").hide();
                            $(".alert.alert-success.alert-dismissable").hide();
                            $(".alert.alert-danger.alert-dismissable").hide();
                            var validationMsg="";
                            if(selectedIds=='' || selectedIds.length<=0)
                            {
                                validationMsg='<div>@T("Admin.Validation.SelectAtLeastOneRecord")</div>';
                                $("#validationMessages").show();
                                $('#validationMessages').append(validationMsg);
                                return false;
                            }
                            else
                            {
                                e.preventDefault();
                                var ewalletList=[];
                                $.each(selectedIds,function(i,val){
                                    ewalletList.push($('#txt'+val.split(' ')[1]).val());
                                });

                                var postData = {
                                    selectedIds: selectedIds,
                                    ewalletList:ewalletList,
                                    ddlPayMode:$("#ddlPayMode").val(),
                                    ddlBank:$("#ddlBank").val(),
                                    ddlBanktxt:$("#ddlBank option:selected").text(),
                                    txtChequeNo:$("#txtChequeNo").val(),
                                    txtChequeDate:$("#txtChequeDate").val(),
                                    txtremark:$("#txtremark").val()
                                };
                                addAntiForgeryToken(postData);

                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: "@(Url.Action("CancelEwalletRequest", "AdminEwallet"))",
                                    data: postData,
                                    success: function(data) {
                                        var newUrl="";
                                        if(data==1)
                                        {
                                            var newUrl= '@Url.Action("EwalletRequestConfirm", "AdminEwallet", new { suc = 1 })';
                                        }
                                        if(data==2)
                                        {
                                            var newUrl= '@Url.Action("EwalletRequestConfirm", "AdminEwallet", new { suc = 2 })';
                                        }
                                        if(data==3)
                                        {
                                            var newUrl= '@Url.Action("EwalletRequestConfirm", "AdminEwallet", new { suc = 3 })';
                                        }
                                        if(data==4)
                                        {
                                            var newUrl= '@Url.Action("EwalletRequestConfirm", "AdminEwallet", new { suc = 4 })';
                                        }
                                        if(data==5)
                                        {
                                            var newUrl= '@Url.Action("EwalletRequestConfirm", "AdminEwallet", new { suc = 5 })';
                                        }
                                        if(data==6)
                                        {
                                            var newUrl= '@Url.Action("EwalletRequestConfirm", "AdminEwallet", new { suc = 6 })';
                                        }
                                        if(data==7)
                                        {
                                            var newUrl= '@Url.Action("EwalletRequestConfirm", "AdminEwallet", new { suc = 7 })';
                                        }
                                        if(data==8)
                                        {
                                            var newUrl= '@Url.Action("EwalletRequestConfirm", "AdminEwallet", new { suc = 8 })';
                                        }
                                        window.location.href = newUrl;
                                    },
                                    error: function(xhr, ajaxOptions, thrownError) {
                                        alert(thrownError);
                                    },
                                    traditional: true
                                });
                                return false;
                            }
                        });
                    });

                    function ddlChangeField(selectedValue) {
                        if (selectedValue == "other") {
                            $("#txtNarration").show();
                        }
                    }

                    function onDataBound(e) {

                        $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                            var currentId = $(this).val();
                            var checked = jQuery.inArray(currentId, selectedIds);
                            //set checked based on if current checkbox's value is in selectedIds.
                            $(this).attr('checked', checked > -1);
                        });

                        updateMasterCheckbox();
                    }

                    function updateMasterCheckbox() {
                        var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                        var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                        $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                    }

                    function additionalData() {
                        var customerRoleIds = [];
                        $('[name=SearchCustomerRoleIds]:checked').each(function () {
                            customerRoleIds.push($(this).val());
                        });
                        var StartDate = $("#txtFromDate").val();
                        var EndDate = $("#txtToDate").val();

                        var startDate = null;
                        var endDate = null;

                        if (StartDate != "")
                            startDate = getDate($("#txtFromDate").data("kendoDatePicker").value());
                        if (EndDate != "")
                            endDate = getDate($("#txtToDate").data("kendoDatePicker").value());

                        var data = {
                            inputmemConfirm:$('#hiddenSearchMemno').val(),
                            inputddlchoiceConfirm:$('#@Html.FieldIdFor(model => model.ddlChoice)').val(),
                            @*inputFromDConfirm:$('#@Html.FieldIdFor(model => model.txtFromDate)').val(),
                            inputToDConfirm:$('#@Html.FieldIdFor(model => model.txtToDate)').val(),*@
                            inputFromDConfirm: startDate,
                            inputToDConfirm: endDate,
                            inputtxtChequeNoConfirm:$('#@Html.FieldIdFor(model => model.txtChequeNo)').val()
                        };
                        addAntiForgeryToken(data);
                        return data;
                    }

                    window.onbeforeunload = function () {
                        $("input[type=button], input[type=submit]").attr("disabled", "disabled");
                    };

                    window.onbeforeunload = function () {
                        var buttons = document.getElementsByTagName("INPUT");
                        for (var i in buttons) {
                            if (buttons[i].type == "button" || buttons[i].type == "submit") {
                                buttons[i].disabled = true;
                            }
                        }
                    };

                </script>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            //   $('#txtChequeDate').on('change', function (e) {
            $('#txtChequeDate').change(function () {

                $('#validationMessages').html('');
                $("#validationMessages").hide();
                //  
                var validationDivs='';
                var mydate = $(this).val();
                var d = new Date();
                var strDate = (d.getMonth()+1) + "/" + d.getDate() + "/" + d.getFullYear() ;

                //var date = mydate.split('/')[1];
                //var month = mydate.split('/')[0];
                //var year = mydate.split('/')[2];
                //var  myDate1 = new Date(year, month - 1, date);
                if (mydate < strDate) {
                    validationDivs=validationDivs+ '<div>@T("Admin.Validation.DateGreaterthanToday")</div>';
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                    return false;
                }
            });

            $("#tblMember").hide();
            $("#tblFromDate").show();
            $("#tblToDate").show();
            $("#tblpaymode").hide();
            $("#trbank").hide();
            $("#trchecqno").hide();
            $("#trchecqdate").hide();
            $("#tblremark").hide();
            //$("#txtFromDate").keyup(function(){
            //    $(this).val('');
            //});
            //$("#txtToDate").keyup(function(){
            //    $(this).val('');
            //});

        });

        function ChangeField(selectedValue) {

            if (selectedValue == 0) {

                $("#tblFromDate").hide();
                $("#tblToDate").hide();
                $("#tblMember").val('');
                $("#tblMember").show();
                $("#tblpaymode").hide();
                $("#tblremark").hide();
                $("#customers-grid").hide();
                $("#showHideDiv").hide();
                $("#hiddenSearchMemno").val("");
                $("#txtMember").val("");
            }
            else if (selectedValue == 1) {

                $("#tblFromDate").show();
                $("#tblToDate").show();
                $("#tblMember").hide();
                $("#tblpaymode").hide();
                $("#tblremark").hide();
                $("#customers-grid").hide();
                $("#showHideDiv").hide();
                $("#hiddenSearchMemno").val("");
                $("#txtMember").val("");
            }
        }
        function ChangeFieldpaymode(selectedValuePayment) {
            //  
            if (selectedValuePayment == 3) {

                $("#trbank").show();
                $("#trchecqno").show();
                $("#trchecqdate").show();
            }
            else if (selectedValuePayment == 12) {

                $("#trbank").hide();
                $("#trchecqno").hide();
                $("#trchecqdate").hide();
            }
            else if (selectedValuePayment == 0) {

                $("#trbank").hide();
                $("#trchecqno").hide();
                $("#trchecqdate").hide();
            }
        }

        $('#txtMember').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("SearchTermAutoCompleteCustomerTraders", "AdminEwallet"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                // 
                $("#hiddenSearchMemno").val(ui.item.Id);
                $("#txtMember").val(ui.item.label);
                $("#divfirstname").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };
    </script>

}




