﻿@model Nop.Admin.ViewModel.EwalletAccountDetailsVM
@{
    ViewBag.Title = "EwalletAccountDetails";
}
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>
    ().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>
        ().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Ewallet.EwalletAccountDetails").Text;
    Html.SetActiveMenuItemSystemName("EWallet Account Ledger");
    <style>
        .divScroll {
            overflow: auto;
        }
    </style>

    <style>
        .k-grid table td {
            overflow-wrap: break-word !important;
        }
    </style>



    var ddlChoice = new List<SelectListItem>
            {
           new SelectListItem(){Text="Self Wallet",Value="2"},
           new SelectListItem(){Text="Member Wallet",Value="1"}
            };
    if (Model.TraderEwalletSetting)
    {
        ddlChoice.Add(new SelectListItem() { Text = "Trader Wallet", Value = "3" });
    }
    if (Model.CreditNotewalletSetting)
    {
        ddlChoice.Add(new SelectListItem() { Text = "Member Credit Note Wallet", Value = "4" });
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Ewallet.EwalletAccountDetails")
        </h1>
        <div class="pull-right">
            <button type="submit" id="ExportExcel" name="exportexcel-all" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                @T("admin.common.exporttoexcel")
            </button>
        </div>
    </div>

    <div class="content" id="searchPanel">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.EASelectOption)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.ddlChoice, ddlChoice, new { @onchange = "ChangeField(this.value)" })
                                       
                                    </div>
                                </div>
                                <div class="form-group" id="trSelectChoice">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.SelectChoice)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.SelectChoice, new List<SelectListItem>
                                                ()
                                                {
                                                new SelectListItem(){Text="All Record(s)", Value="0"},
                                                new SelectListItem(){Text="ID/Name-wise",Value="1"}
                                                }, new { @onchange = "changeOption(this.value)" })
                                    </div>
                                </div>
                                <div class="form-group" id="tblMember">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.EAmember)
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" id="txtMember" class="form-control text-box single-line" value="" name="" />
                                        @Html.HiddenFor(model => model.hiddenSearchMemno)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="tblTrader">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.EATreader)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.EATreader)
                                        @Html.HiddenFor(model => model.hiddenSearchMemno)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="tblFromDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.EAFromDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.txtFromDate)
                                        @Html.HiddenFor(model => model.HtxtFromDate)
                                    </div>
                                </div>
                                <div class="form-group" id="tblToDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.EAToDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.txtToDate)
                                        @Html.HiddenFor(model => model.HtxtToDate)
                                    </div>
                                </div>
                                <div class="form-group" id="trEwalletNote">
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-8">
                                        <b id="MessageNote"> @T("Admin.Note.Note") </b> @T("Admin.Note.TransactionDates")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-3">
                                        <button type="button" id="ViewReport" class="btn bg-blue" value="@T("admin.common.viewreport")">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default divScroll" id="searchResult">
                    <div class="panel-body">
                        <h3>@T("Admin.Customer.SearchResult")</h3>
                        <div id="ShowCount" style="font-weight: bold;font-size:14px;"></div>
                        <br />
                        @Html.HiddenFor(model => model.ShowBalance)
                        <div id="customers-grid"></div>
                        <script>
                            $(document).ready(function () {
                                $("#customers-grid").hide();
                                $("#customers-grid").kendoGrid({
                                    autoBind: false,
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("EwalletAccountDetailsGrid", "AdminEwallet"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors",
                                            model:{
                                                fields:{
                                                    Credit:{ type:"number" },
                                                    Debit:{ type:"number" },
                                                    ETBalance:{type:"number"}
                                                }
                                            }
                                        },
                                        aggregate:[
                                                    { field:"Credit", aggregate:"sum" },
                                                    { field:"Debit", aggregate:"sum" },
                                                    { field:"ETBalance", aggregate:"sum" }
                                        ],
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: true,
                                    // width: 'auto',
                                    //  scrollable: true,
                                    //  resizable: true,
                                    dataBound: onDataBound,
                                    columns: [
                                     {
                                         field: "et_id",
                                         title: "@T("Admin.Customers.Customers.Fields.et_id")",
                                         width: 100,
                                         hidden:true,
                                     },{
                                         field: "mjdmemno",
                                         title: "@T("Admin.Customers.Customers.Fields.mjd_memno")",
                                         width: 100,
                                         hidden:true,
                                     }, {
                                         field: "memnameid",
                                         title: "@T("Admin.Customers.Customers.Fields.memnameidGrid")",
                                         width: 100
                                     },{
                                         field: "ETDatetime",
                                         title: "@T("Admin.Customers.Customers.Fields.ET_DatetimeGrid")",
                                         width: 100,
                                         //type: "date",
                                         //format: "{0:G}",
                                         footerTemplate:"Total"
                                     }, {
                                         field: "Credit",
                                         title: "@T("Admin.Customers.Customers.Fields.Credit")",
                                         width: 100,
                                         footerTemplate:"#= sum # "
                                     }, {
                                         field: "Debit",
                                         title: "@T("Admin.Customers.Customers.Fields.Debit")",
                                         width: 100,
                                         footerTemplate:"#= sum # "
                                     },{
                                         field: "ETchvExtra1",
                                         title: "@T("Admin.Customers.Customers.Fields.ET_chvExtra1")",
                                         width: 100,
                                     }, {
                                         field: "ETBalance",
                                         title: "@T("Admin.Customers.Customers.Fields.ETBalance")",
                                         width: 100,
                                         // footerTemplate: "<div><b>ClosingBalance :</b> #= computeRange()#</div>"
                                     } ,{
                                         field: "ETRemark",
                                         title: "@T("Admin.Customers.Customers.Fields.ETRemark")",
                                         width: 300,
                                         template: "#=ETRemark#",
                                     },{
                                         field: "etMemeId",
                                         title: "@T("Admin.Customers.Customers.Fields.etMemeId")",
                                         width: 50,
                                         hidden:true
                                     }, {
                                         field: "CustomerId",
                                         title: "@T("Admin.Customers.Customers.Fields.et_id")",
                                         // width: 50,
                                         hidden:true,
                                     },{
                                         field: "CustomerId",
                                         title: "@T("Admin.Common.ViewAccountDetails")",
                                         width: 50,
                                         hidden:true,
                                         template: "<a  value='#=CustomerId#' onclick=\"javascript:OpenWindow('@Url.Content("~/Admin/AdminEwallet/EwalletViewAccountDetails")?reqno=#=CustomerId#&MemId=#=etMemeId#', 1000, 500, true); return false;\" style='cursor:pointer' />ViewAccountDetails</a>"
                                     }]
                                });


                            });
                            //  });

                            function computeRange(){
                                // 
                                var credit = 0;
                                var debit = 0;
                                var bal = 0;
                                var ds  =   $("#customers-grid").data("kendoGrid").dataSource;
                                var aggregate  =    ds.aggregates();
                                if(aggregate.Credit && aggregate.Debit)
                                {
                                    credit   =   aggregate.Credit.sum;
                                    debit   =   aggregate.Debit.sum;
                                    bal=credit-debit;
                                }
                                else
                                    bal         =   0;
                                return kendo.toString(bal,'n2');
                            }
                        </script>

                        <script type="text/javascript">
                            var selectedIds = [];

                            $('#txtFromDate').keydown(keyDownHandler); // use appropriate selector for the keydown handler

                            function keyDownHandler(e) {
                                if(e.keyCode === 13) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                    $('#ViewReport').click()
                                    return false;

                                }
                            }

                            $('#txtToDate').keydown(keyDownHandler1); // use appropriate selector for the keydown handler

                            function keyDownHandler1(e) {
                                if(e.keyCode === 13) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                    $('#ViewReport').click()
                                    return false;

                                }
                            }
                            $("#txtMember").keydown(function(e){
                                if(e.which === 13 && $('#hiddenSearchMemno').val()!=" "){

                                    $('#ViewReport').click();
                                    return false;
                                }
                            });
                            $("#txtMember").keydown(function(e){
                                if((e.which === 13 || e.which === 9) && $('#hiddenSearchMemno').val()!=" "){

                                    $('#ViewReport').click()
                                    return false;
                                }
                            });
                            $('#txtFromDate').keyup(keyDownHandler); // use appropriate selector for the keydown handler

                            function keyDownHandler(e) {
                                if(e.keyCode === 13) {
                                    if($('#txtToDate').val()!='')
                                    {
                                        e.stopPropagation();
                                        e.preventDefault();
                                        $('#ViewReport').click()
                                        return false;
                                    }
                                    else{
                                        $('#ViewReport').click()
                                        flag=false;
                                        return false;
                                    }
                                }
                                else{
                                    $('#txtFromDate').val('');
                                    return false;
                                }
                            }

                            $('#txtToDate').keyup(keyDownHandler1); // use appropriate selector for the keydown handler

                            function keyDownHandler1(e) {
                                if(e.keyCode === 13) {
                                    if($('#txtFromDate').val()!='')
                                    {
                                        e.stopPropagation();
                                        e.preventDefault();
                                        $('#ViewReport').click()
                                        return false;
                                    }
                                    else{
                                        $('#ViewReport').click()
                                        flag=false;
                                        return false;
                                    }
                                }
                                else{
                                    $('#txtToDate').val('');
                                    return false;
                                }
                            }

                            $("#ddlChoice").keydown(function(e){
                                if(e.which === 13){

                                    $('#AddToList').click();
                                    return false;
                                }
                            });
                            $("#reset").click(function (){
                                //$("#ddlChoice").val("0");
                                //$("#txtMember").val("");
                                //$("#txtFromDate").val("");
                                //$('#hiddenSearchMemno').val("");
                                $('#tblFromDate').show();
                                $('#tblToDate').show();
                                $('#tblMember').hide();
                                $('#tblTrader').hide();
                                $("#customers-grid").hide();
                                $('#validationMessages').html('');
                                $("#validationMessages").hide();
                                //  $('#exportexcel-all').hide();
                                $('#searchResult').hide();
                                $('#ShowCount').hide();
                                $('#trSelectChoice').hide();
                            });

                            $(document).ready(function () {
                                $('#trSelectChoice').hide();
                                $("#validationMessages").hide();
                                $("#ShowCount").hide();
                                $('#searchResult').hide();

                                $('#ViewReport').click(function () {
                                    //
                                    var FDate = $("#txtFromDate").val();
                                    var TDate = $("#txtToDate").val();
                                    var EnteredDate = "";
                                    var EnteredFromdate = "";
                                    if (FDate != "") {
                                        EnteredDate = getDate($("#txtFromDate").data("kendoDatePicker").value());
                                    }
                                    if (TDate != "") {
                                        EnteredFromdate = getDate($("#txtToDate").data("kendoDatePicker").value());
                                    }

                                    var ddlChoice =$('#ddlChoice').val();
                                    var txtMember=$('#txtMember').val();
                                    var hiddenSearchMemno=$('#hiddenSearchMemno').val();
                                    var SelectChoice=$('#SelectChoice').val();
                                    var EATreader=$('#EATreader').val();
                                    var validationDivs='';
                                    var flag=true;

                                    $('#validationMessages').html('');
                                    $("#validationMessages").hide();
                                    $("#ShowCount").hide();
                                    $('#searchResult').hide();


                                    if(SelectChoice == 1  && ddlChoice == 1)
                                    {
                                        if(txtMember == '')
                                        {
                                            validationDivs=validationDivs+ '<div>@T("Admin.Validation.IdNameRequired")</div>';
                                            flag=false;
                                        }
                                        if(txtMember !='' && hiddenSearchMemno =="")
                                        {
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                                            flag=false;
                                        }
                                    }

                                    if(SelectChoice == 1  && ddlChoice == 3)
                                    {
                                        if(EATreader == '')
                                        {
                                            validationDivs=validationDivs+ '<div>@T("Admin.Validation.IdNameRequired")</div>';
                                            flag=false;
                                        }
                                        if(EATreader !='' && hiddenSearchMemno =="")
                                        {
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                                            flag=false;
                                        }
                                    }

                                    if( EnteredDate != 'null/null/null' || EnteredFromdate != 'null/null/null')
                                    {
                                        if( EnteredFromdate != '' && EnteredDate == 'null/null/null')
                                        {
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                                            flag=false;
                                        }
                                        if(EnteredDate !='' && EnteredFromdate == 'null/null/null')
                                        {
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                                            flag=false;
                                        }
                                    }

                                    if (EnteredFromdate != ''  && EnteredDate == '' )
                                    {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterEndDate")</div>';
                                        flag=false;
                                    }
                                    if (EnteredDate != ''  && EnteredFromdate == '')
                                    {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.EnterStartDate")</div>';
                                        flag=false;
                                    }

                                    var myDate = new Date(getDateFromString($("#txtFromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                    var myFromDate = new Date(getDateFromString($("#txtToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                                    var today = new Date();
                                    var start_time=$("#DatewiseFrom").val();
                                    var end_time=$("#DatewiseTo").val();

                                    if (myFromDate > today) {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                                        flag=false;
                                    }
                                    if (myFromDate < myDate) {
                                        validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                                        flag=false;
                                    }

                                    if(flag)
                                    {

                                        var StartDate = $("#txtFromDate").val();
                                        var EndDate = $("#txtToDate").val();

                                        var startDate = null;
                                        var endDate = null;

                                        if (StartDate != "")
                                            startDate = getDate($("#txtFromDate").data("kendoDatePicker").value());
                                        if (EndDate != "")
                                            endDate = getDate($("#txtToDate").data("kendoDatePicker").value());


                                        var data = {
                                            inputToDAccount:startDate ,
                                            inputToDAccount:endDate,
                                            EAmember: $('#hiddenSearchMemno').val(),
                                            ddlChoice: $('#ddlChoice').val(),
                                        }

                                        addAntiForgeryToken(data);

                                        $("#sucessMessages").html(@ViewBag.returnMessage);

                                        $.ajax({  url: "@Html.Raw(Url.Action("BindToatalCreditDebitClosingBalance", "AdminEwallet"))",
                                            type: "POST",
                                            dataType: "json",
                                            data:data  , success: function(result){
                                                //
                                                var grid = $("#customers-grid").data('kendoGrid');
                                                grid.dataSource.page(1);

                                                $('.checkboxGroups').attr('checked', false).change();
                                                selectedIds = [];
                                                $("#customers-grid").show();
                                                $("#ShowCount").show();
                                                $("#ShowCount").html(result);
                                                $("#ShowBalance").val(result);
                                                $('#searchResult').show();
                                                return false;
                                            }
                                        });
                                    }
                                    else
                                    {
                                        $("#validationMessages").show();
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                });

                                $('#mastercheckbox').click(function () {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                        $("#SelectedValues").val(selectedIds);
                                    }
                                    else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function (item, index) {
                                                return item != $check.val();
                                            });
                                            $("#SelectedValues").val(selectedIds);
                                        }
                                    }
                                    updateMasterCheckbox();
                                });

                            });

                            function onDataBound(e) {

                                $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });

                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }

                            function additionalData() {
                                var customerRoleIds = [];
                                $('[name=SearchCustomerRoleIds]:checked').each(function () {
                                    customerRoleIds.push($(this).val());
                                });

                                var StartDate = $("#txtFromDate").val();
                                var EndDate = $("#txtToDate").val();

                                var startDate = null;
                                var endDate = null;

                                if (StartDate != "")
                                    startDate = getDateFromString($("#txtFromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime");
                                if (EndDate != "")
                                    endDate = getDateFromString($("#txtToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime");


                                var data = {

                                    inputmemAccount:$('#hiddenSearchMemno').val(),
                                    inputddlchoiceAccount:$('#@Html.FieldIdFor(model => model.ddlChoice)').val(),
                                    // inputFromDAccount:$('#@Html.FieldIdFor(model => model.txtFromDate)').val(),
                                    // inputToDAccount:$('#@Html.FieldIdFor(model => model.txtToDate)').val(),
                                    inputFromDAccount:startDate,
                                    inputToDAccount:endDate,
                                    //HtxtFromDate: getDate($("#txtFromDate").data("kendoDatePicker").value()),
                                    //HtxtToDate:getDate($("#txtToDate").data("kendoDatePicker").value()),
                                    SelectChoice:$('#@Html.FieldIdFor(model => model.SelectChoice)').val(),
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblTrader').hide();
            $("#tblMember").hide();
            $("#tblFromDate").show();
            $("#tblToDate").show();
            //$("#txtFromDate").keyup(function(){
            //    $(this).val('');
            //});
            //$("#txtToDate").keyup(function(){
            //    $(this).val('');
            //});

        });

        function ChangeField(selectedValue) {
            
            //$('#txtFromDate').val('');
            //$('#txtToDate').val('');
            //$('#HtxtFromDate').val(null);
            //$('#HtxtToDate').val(null);
            $('#inputFromDAccount').val('');
            $('#inputToDAccount').val('');

            if (selectedValue == 0) {

                $("#tblFromDate").show();
                $("#tblToDate").show();
                $("#tblMember").hide();
                $('#tblTrader').hide();
                $('#trEwalletNote').show();
                $('#txtMember').val("");
                $('#hiddenSearchMemno').val("");
                $('#txtFromDate').val("");
                $('#txtToDate').val("");
                //$('#HtxtFromDate').val("");
                //$('#HtxtToDate').val("");
                $('#EATreader').val("");
                $('#trSelectChoice').hide();
            }
            else if (selectedValue == 1) {

                $("#tblFromDate").show();
                $("#tblToDate").show();
                $('#tblTrader').hide();
                $('#trEwalletNote').hide();
                $('#txtMember').val("");
                $('#hiddenSearchMemno').val("");
                $('#txtFromDate').val("");
                $('#txtToDate').val("");
                $('#HtxtFromDate').val("");
                $('#HtxtToDate').val("");
                $('#EATreader').val("");
                $('#trSelectChoice').show();
                $('#SelectChoice').val("0");
                $('#inputFromDAccount').val("");
                $('#inputToDAccount').val("");
                // $("#tblMember").show();
            }
            else if (selectedValue == 4) {

                $("#tblFromDate").show();
                $("#tblToDate").show();
                $('#tblTrader').hide();
                $('#trEwalletNote').hide();
                $('#txtMember').val("");
                $('#hiddenSearchMemno').val("");
                $('#txtFromDate').val("");
                $('#txtToDate').val("");
                $('#HtxtFromDate').val("");
                $('#HtxtToDate').val("");
                $('#EATreader').val("");
                $('#trSelectChoice').show();
                $('#SelectChoice').val("0");
                $('#inputFromDAccount').val("");
                $('#inputToDAccount').val("");
                // $("#tblMember").show();
            }
            else if (selectedValue == 3) {

                $("#tblFromDate").show();
                $("#tblToDate").show();
                $("#tblMember").hide();
                //  $('#tblTrader').show();
                $('#trEwalletNote').hide();
                $('#txtMember').val("");
                $('#hiddenSearchMemno').val("");
                $('#txtFromDate').val("");
                $('#txtToDate').val("");
                $('#HtxtFromDate').val("");
                $('#HtxtToDate').val("");
                $('#EATreader').val("");
                $('#trSelectChoice').show();
                $('#SelectChoice').val("0");
                // $('#tblTrader').show();
            }
            else if(selectedValue == 2) {

                $("#tblFromDate").show();
                $("#tblToDate").show();
                $("#tblMember").hide();
                $('#tblTrader').hide();
                $('#trEwalletNote').show();
                $('#txtMember').val("");
                $('#hiddenSearchMemno').val("");
                $('#txtFromDate').val("");
                $('#txtToDate').val("");
                $('#HtxtFromDate').val("");
                $('#HtxtToDate').val("");
                $('#EATreader').val("");
                $('#trSelectChoice').hide();
            }
        }

        function changeOption(selectedValue) {
            var ddlChoice=$('#ddlChoice').val();
            //
            $('#txtFromDate').val('');
            $('#txtToDate').val('');
            $('#HtxtFromDate').val('');
            $('#HtxtToDate').val('');
            $('#inputFromDAccount').val('');
            $('#inputToDAccount').val('');

            if (selectedValue == 0) {

                $("#tblFromDate").show();
                $("#tblToDate").show();
                $("#tblMember").hide();
                $('#tblTrader').hide();
                // $('#trEwalletNote').show();
                $('#txtMember').val("");
                $('#hiddenSearchMemno').val("");

                $('#tblTrader').hide();
                $('#EATreader').val("");
            }
            else if (selectedValue == 1) {

                if(ddlChoice == 1)
                {
                    $("#tblMember").show();
                }
                else if(ddlChoice == 3)
                {
                    $('#tblTrader').show();
                }
                else if(ddlChoice == 4)
                {
                    $('#tblMember').show();
                }
                //  $("#tblFromDate").hide();
                // $("#tblToDate").hide();
                // $('#trEwalletNote').hide();
                $('#txtMember').val("");
                $('#hiddenSearchMemno').val("");
                $('#txtFromDate').val("");
                $('#txtToDate').val("");
                $('#HtxtFromDate').val("");
                $('#HtxtToDate').val("");
                $('#EATreader').val("");
            }
        }
        $('#txtMember').autocomplete({
            delay: 500,
            minLength: 1,
            @*source: '@(Url.Action("SearchTermAutoComplete", "AdminEwallet"))',*@
            source: '@(Url.Action("SearchTermAutoCompleteMember", "AdminEwallet"))',
            appendTo: '.search-box',
            select: function (event, ui) {

                //$("#hiddenSearchMemno").val(ui.item.MJD_MemID);
                //$("#txtMember").val(ui.item.label);

                $("#hiddenSearchMemno").val(ui.item.Id);
                $("#txtMember").val(ui.item.label);
                $("#divfirstname").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };



        $('#EATreader').autocomplete({
            delay: 500,
            minLength: 1,
            @*source: '@(Url.Action("SearchTermAutoComplete", "AdminEwallet"))',*@
            source: '@(Url.Action("SearchTermAutoCompleteTrader", "AdminEwallet"))',
            appendTo: '.search-box',
            select: function (event, ui) {

                //$("#hiddenSearchMemno").val(ui.item.MJD_MemID);
                //$("#txtMember").val(ui.item.label);

                $("#hiddenSearchMemno").val(ui.item.Id);
                $("#EATreader").val(ui.item.label);
                $("#divfirstname").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };
        $("#ExportExcel").click(function() {
            // 
            var FDate = $("#txtFromDate").val();
            var TDate = $("#txtToDate").val();
            var FromDate = "";
            var ToDate = "";
            if (FDate != "") {
                $("#HtxtFromDate").val(getDate($("#txtFromDate").data("kendoDatePicker").value()));
            }
            else {
                $("#HtxtFromDate").val(FDate);
            }
            if (TDate != "") {
                $("#HtxtToDate").val(getDate($("#txtToDate").data("kendoDatePicker").value()));
            }
            else {
                $("#HtxtToDate").val(TDate);
            }
            //var t=$("#HFromDate").val();
        });

    </script>
}
