﻿@model Nop.Admin.ViewModel.EwalletRequestDetailsVM

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;


    //page title
    ViewBag.Title = T("Admin.Ewallet.EwalletRequestDetails").Text;
    Html.SetActiveMenuItemSystemName("Ewallet Request Details");
    <style>
        .divScroll {
            overflow: auto;
        }
    </style>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">

            @T("Admin.Ewallet.EwalletRequestDetails")
        </h1>
        <div class="pull-right">
            <button type="submit" id="ExportExcel" name="exportexcel-all" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                @T("Admin.Common.ExportToExcel")
            </button>
            @*<input type="submit" name="exportexcel-all" id="ExportExcel" class="btn bg-green" value="@T("Admin.Common.ExportToExcel")" />*@
        </div>
    </div>
    <div class="content" id="searchPanel">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ERDSelectOption)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.ddlChoice, new List<SelectListItem>()
                                           {
                                               new SelectListItem(){Text="All Record(s)", Value="1"},
                                               new SelectListItem(){Text="ID/Name-wise",Value="0"}
                                           }, new { @onchange = "ChangeField(this.value)" })
                                    </div>
                                </div>
                                <div class="form-group" id="tblMember">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ERDmember)
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" id="txtMember" value="" class="form-control text-box single-line" name="" />
                                        @*<input type="hidden" name="hiddenSearchMemno" id="hiddenSearchMemno" value=" " />*@
                                        @Html.HiddenFor(model => model.hiddenSearchMemno)
                                        <div id="divfirstname" class="inputs">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="tblFromDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ERDFromDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.txtFromDate)
                                        @Html.HiddenFor(model => model.HtxtFromDate)
                                    </div>
                                </div>
                                <div class="form-group" id="tblToDate">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.ERDToDate)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.txtToDate)
                                        @Html.HiddenFor(model => model.HtxtToDate)
                                    </div>
                                </div>
                                <div class="form-group" id="trEwalletNote">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-8">
                                        <b> @T("Admin.Note.Note") </b> @T("Admin.Note.EwalletRequestDates")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-3">
                                        <button type="button" id="ViewReport" class="btn bg-blue" value="@T("Admin.Common.ViewReport")">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.ViewReport")
                                        </button>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default divScroll" id="searchResult">
                    <div class="panel-body">
                        <h3>@T("Admin.Customer.SearchResult")</h3>
                        <br />
                        <div id="customers-grid"></div>
                        <script>
                            $(document).ready(function () {
                                $("#validationMessages").hide();

                                $("#btnReset").click(function (){
                                    $("#ddlChoice").val("1");
                                    $("#txtMember").val("");
                                    $("#hiddenSearchMemno").val("");
                                    $("#txtFromDate").val("");
                                    $("#txtToDate").val("");
                                    $('#tblMember').hide();
                                    $("#customers-grid").hide();
                                    $("#searchResult").hide();
                                    $('#tblFromDate').show();
                                    $('#tblToDate').show();
                                    $('#validationMessages').html('');
                                    $("#validationMessages").hide();
                                });

                                $('#ViewReport').click(function () {
                                    // 
                                    var ddlChoice=$('#ddlChoice').val();
                                    var txtMember=$('#txtMember').val();
                                    var hiddenSearchMemno=$('#hiddenSearchMemno').val();
                                    $('#validationMessages').html('');
                                    $("#validationMessages").hide();
                                    var validationDivs='';
                                    var flag=true;

                                    if(ddlChoice == 0)
                                    {
                                        if(txtMember == '')
                                        {
                                            validationDivs=validationDivs+ '<div>@T("Admin.Validation.IdNameRequired")</div>';
                                            flag=false;
                                        }
                                        if(txtMember !='' && hiddenSearchMemno ==" ")
                                        {
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                                            flag=false;
                                        }
                                    }

                                    // date validations
                                    var EnteredDate = getDate($("#txtFromDate").data("kendoDatePicker").value());
                                    var EnteredFromdate=getDate($("#txtToDate").data("kendoDatePicker").value());

                                    var myDate = new Date(getDateFromString($("#txtFromDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                    var myFromDate = new Date(getDateFromString($("#txtToDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));

                                    var today = new Date();
                                    var start_time=$("#DatewiseFrom").val();
                                    var end_time=$("#DatewiseTo").val();

                                    if (myFromDate > today) {

                                        validationDivs=validationDivs+ '<div>@T("Admin.Validation.DateLessthanToday")</div>';
                                        flag=false;
                                        $("#validationMessages").show();
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                    if (myFromDate < myDate) {
                                        validationDivs=validationDivs+ '<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                                        flag=false;
                                        // alert("From Date Should Be Less Than ToDate");
                                        $("#validationMessages").show();
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }

                                    if(flag)
                                    {
                                        $("#HtxtFromDate").val(EnteredDate);
                                        $("#HtxtToDate").val(EnteredFromdate);
                                        var grid =   $("#customers-grid").data('kendoGrid');
                                        grid.dataSource.page(1); //new search. Set page size to 1
                                        //grid.dataSource.read(); we already loaded the grid above using "page" function
                                        //clear selected checkboxes
                                        $('.checkboxGroups').attr('checked', false).change();
                                        selectedIds = [];
                                        $("#customers-grid").show();
                                        $("#searchResult").show();
                                        return false;
                                    }
                                    else
                                    {
                                        $("#validationMessages").show();
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                });

                                $("#customers-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("EwalletRequestDetailsGrid", "AdminEwallet"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: false,
                                    dataBound: onDataBound,
                                    columns: [{
                                        field: "mjd_memid",
                                        title: "@T("Admin.Customers.Customers.Fields.mjd_memid")",
                                        // width: 50,
                                        hidden : true,
                                    },{
                                        field: "SrNo",
                                        title: "@T("Admin.CustomerReport.SrNo")",
                                        // width: 50,
                                        hidden : true
                                    },{
                                        field: "mjd_memno",
                                        title: "@T("Admin.Customers.Customers.Fields.mjd_memno")",
                                        //width: 50
                                    }, {
                                        field: "Name",
                                        title: "@T("Admin.Customers.Customers.Fields.nameGrid")",
                                        //width: 80
                                    }, {
                                        field: "reqdate",
                                        title: "@T("Admin.Customers.Customers.Fields.reqdate")",
                                        //width: 50,
                                        //type: "date",
                                        //format: "{0:dd/MM/yyyy}"
                                    }, {
                                        field: "reqamt",
                                        title: "@T("Admin.Customers.Customers.Fields.reqamt")",
                                        //width: 50
                                    }, {
                                        field: "confdate",
                                        title: "@T("Admin.Customers.Customers.Fields.confdate")",
                                        //width: 50,
                                        //type: "date",
                                        //format: "{0:dd/MM/yyyy}"
                                    }, {
                                        field: "confamt",
                                        title: "@T("Admin.Customers.Customers.Fields.confamt")",
                                        //width: 50
                                    } ,{
                                        field: "status",
                                        title: "@T("Admin.Customers.Customers.Fields.status")",
                                        //width: 50
                                    },{
                                        field: "Paymode",
                                        title: "@T("Admin.Customers.Customers.Fields.Paymode")",
                                        //width: 400
                                    },{
                                        field: "remark",
                                        title: "@T("Admin.Customers.Customers.Fields.remark")",
                                        template: "#=remark#",
                                        //width: 400
                                    }]
                                });
                            });
                        </script>

                        <script type="text/javascript">

                            var selectedIds = [];
                            $('#txtFromDate').keydown(keyDownHandler); // use appropriate selector for the keydown handler

                            function keyDownHandler(e) {
                                if(e.keyCode === 13) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                    $('#ViewReport').click()
                                    return false;
                                }
                            }

                            $('#txtToDate').keydown(keyDownHandler1); // use appropriate selector for the keydown handler

                            function keyDownHandler1(e) {
                                if(e.keyCode === 13) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                    $('#ViewReport').click()
                                    return false;
                                }
                            }
                            $("#ddlChoice").keydown(function(e){
                                if(e.which === 13){

                                    $('#ViewReport').click();
                                    return false;
                                }
                            });

                            $("#txtMember").keydown(function(e){
                                if((e.which === 13 || e.which === 9) && $('#hiddenSearchMemno').val()!=" "){

                                    $('#ViewReport').click()
                                    return false;
                                }
                            });

                            $('#txtFromDate').keyup(keyDownHandler); // use appropriate selector for the keydown handler

                            function keyDownHandler(e) {
                                //
                                if(e.keyCode === 13) {
                                    if($('#txtToDate').val()!='')
                                    {
                                        e.stopPropagation();
                                        e.preventDefault();
                                        $('#ViewReport').click()
                                        return false;
                                    }
                                    else{
                                        $('#ViewReport').click()
                                        flag=false;
                                        return false;
                                    }
                                }
                                else{
                                    $('#txtFromDate').val('');
                                    return false;
                                }
                            }

                            $('#txtToDate').keyup(keyDownHandler1); // use appropriate selector for the keydown handler

                            function keyDownHandler1(e) {
                                if(e.keyCode === 13) {
                                    if($('#txtFromDate').val()!='')
                                    {
                                        e.stopPropagation();
                                        e.preventDefault();
                                        $('#ViewReport').click()
                                        return false;
                                    }
                                    else{
                                        $('#ViewReport').click()
                                        flag=false;
                                        return false;
                                    }
                                }
                                else{
                                    $('#txtToDate').val('');
                                    return false;
                                }
                            }

                            $(document).ready(function () {

                                $('#ViewReport').click(function () {
                                    //
                                    var grid = $('#customers-grid').data('kendoGrid');
                                    grid.dataSource.page(1); //new search. Set page size to 1
                                    //grid.dataSource.read(); we already loaded the grid above using "page" function
                                    //clear selected checkboxes
                                    $('.checkboxGroups').attr('checked', false).change();
                                    selectedIds = [];
                                    return false;
                                });

                                $('#customers-grid').on('change', 'input[id=mastercheckbox]', function (e) {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                        $("#SelectedValues").val(selectedIds);
                                    }
                                    else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function (item, index) {
                                                return item != $check.val();
                                            });
                                            $("#SelectedValues").val(selectedIds);
                                        }
                                    }
                                    updateMasterCheckbox();
                                });
                            });

                            function onDataBound(e) {

                                $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });

                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }

                            function additionalData() {
                                var customerRoleIds = [];
                                $('[name=SearchCustomerRoleIds]:checked').each(function () {
                                    customerRoleIds.push($(this).val());
                                });

                                var data = {
                                    inputmemReport:$('#hiddenSearchMemno').val(),
                                    inputddlchoiceReport:$('#@Html.FieldIdFor(model => model.ddlChoice)').val(),
                                    @*inputFromDReport:$('#@Html.FieldIdFor(model => model.txtFromDate)').val(),
                                inputToDReport:$('#@Html.FieldIdFor(model => model.txtToDate)').val()*@
                                    inputFromDReport: getDate($("#txtFromDate").data("kendoDatePicker").value()),
                                    inputToDReport:getDate($("#txtToDate").data("kendoDatePicker").value()),
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#tblMember").hide();
            $("#tblFromDate").show();
            $("#tblToDate").show();
            //$("#txtFromDate").keyup(function(){
            //    $(this).val('');
            //});
            //$("#txtToDate").keyup(function(){
            //    $(this).val('');
            //});
        });

        function ChangeField(selectedValue) {

            if (selectedValue == 1) {

                $("#tblFromDate").show();
                $("#tblToDate").show();
                $("#txtMember").val('');
                $("#hiddenSearchMemno").val('');
                $("#txtFromDate").val('');
                $("#txtToDate").val('');
                $("#tblMember").hide();
                $("#customers-grid").hide();
                $("#searchResult").hide();
                $('#trEwalletNote').show();
            }
            else if (selectedValue == 0) {

                $("#tblFromDate").hide();
                $("#tblToDate").hide();
                $("#tblMember").show();
                $("#txtMember").val('');
                $("#hiddenSearchMemno").val('');
                $("#txtFromDate").val('');
                $("#txtToDate").val('');
                $("#customers-grid").hide();
                $("#searchResult").hide();
                $('#trEwalletNote').hide();
            }
        }

        $('#txtMember').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("SearchTermAutoCompleteEwallet", "AdminEwallet"))',
            appendTo: '.search-box',
            select: function (event, ui) {
                //
                $("#hiddenSearchMemno").val(ui.item.Id);
                $("#txtMember").val(ui.item.label);
                $("#divfirstname").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };
        $("#ExportExcel").click(function() {
            //ebugger;
            $("#HtxtFromDate").val(getDate($("#txtFromDate").data("kendoDatePicker").value()));
            $("#HtxtToDate").val(getDate($("#txtToDate").data("kendoDatePicker").value()));
            //var t=$("#HFromDate").val();
        });
    </script>
}
