﻿@{
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";
}

@model Nop.Admin.ViewModel.RequestNoPopUp
@using System.Globalization;
@{
    var defaultGridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Ewallet.ViewAccountDetails").Text;   //page title

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("View Account Details");
}

@Html.AntiForgeryToken()
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default adminContent verticalscroll">
                <div class="panel-body">
                    <div id="payouts-grid"></div>
                    <script>
                        $(document).ready(function () {
                            $("#payouts-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("EwalletViewAccountDetails", "AdminEwallet"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    @*pageSize: @(defaultGridPageSize),*@
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: false,
                                    numeric: false,
                                    previousNext: false,
                                    info: false,
                                    @*pageSizes: [@(gridPageSizes)]*@
                                },
                                scrollable: true,
                                columns: [@*{
                                field: "MJD_MemNo",
                                title: "@T("Admin.Customers.Customers.Fields.MJD_MemNo")",
                                width: 200
                            },*@
                                    {
                                        field: "MPD_Name",
                                        title: "@T("Admin.Customers.Customers.Fields.MPD_Name")",
                                        width: 200

                                    }, {
                                        field: "ET_Datetime",
                                        title: "@T("Admin.Customers.Customers.Fields.ET_Datetime")",
                                        width: 200,
                                        type: "date",
                                        format: "{0:d}"
                                    }, {
                                        field: "Credit",
                                        title: "@T("Admin.Customers.Customers.Fields.Credit")",
                                        width: 200

                                    }, {
                                        field: "Debit",
                                        title: "@T("Admin.Customers.Customers.Fields.Debit")",
                                        width: 200

                                    }, {
                                        field: "ET_chvExtra1",
                                        title: "@T("Admin.Customers.Customers.Fields.ET_chvExtra1")",
                                        width: 200

                                    }, {
                                        field: "ET_Balance",
                                        title: "@T("Admin.Customers.Customers.Fields.ET_Balance")",
                                        width:300

                                    }]
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>