﻿@model Nop.Admin.ViewModel.EwalletBalanceReport
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;


    //page title
    ViewBag.Title = T("Admin.Ewallet.EwalletBalanceReport").Text;
    Html.SetActiveMenuItemSystemName("Ewallet Balance Report");
    <style>
        .divScroll {
            overflow: auto;
        }
    </style>

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
           
            @T("Admin.Ewallet.EwalletBalanceReport")
        </h1>
        <div class="pull-right">
            <button type="submit" id="ExportExcel" name="exportexcel-all" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                @T("admin.common.exporttoexcel")
            </button>
            @*<input type="submit" name="exportexcel-all" class="btn btn-success" value="@T(" admin.common.exporttoexcel")" />*@

        </div>
    </div>

    <div class="content" id="searchPanel">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                @if (Model.CreditNotewalletSetting)
                                {
                                    <div class="form-group" id="WalletType">
                                        <div class="col-md-4">
                                            @Html.NopLabelFor(model => model.walletType)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.NopDropDownListFor(model => model.walletType, new List<SelectListItem>()
                                             {
                                                new SelectListItem(){Text="E-Wallet", Value="0"},
                                                new SelectListItem(){Text="Credit Note Wallet",Value="1"}
                                             })                   
                                        </div>
                                    </div>
                                }
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.SelectCondition)
                        </div>
                        <div class="col-md-8">

                            @Html.NopDropDownListFor(model => model.SelectCondition, new List<SelectListItem>()
                                            {
                                            new SelectListItem(){Text="All Record(s)",Value="1"},
                                            new SelectListItem(){Text="ID/Name-Wise",Value="0"},
                                            }, new { @onchange = "ChangeField(this.value)" })
                        </div>
                    </div>
                    <div class="form-group" id="tblMember">
                        <div class="col-md-4">
                            @Html.NopLabelFor(model => model.Name)
                        </div>
                        <div class="col-md-8">
                            @Html.NopEditorFor(model => model.Name)
                            @Html.HiddenFor(model => model.MemberId)
                            <div id="divfirstname" class="inputs">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-3">
                            <button type="button" id="ViewReport" class="btn bg-blue" value="@T("admin.common.viewreport")">
                                <i class="fa fa-search"></i>
                                @T("admin.common.viewreport")
                            </button>

                        </div>
                    </div>
            </div>
        </div>
                        </div>
                </div>
                

                <div class="panel panel-default divScroll" id="searchResult">
                    <div class="panel-body">                  

                            <h3>@T("Admin.Customer.SearchResult")</h3>
                   
                        <div id="customers-grid"></div>
                        <script>
                            $(document).ready(function () {
                                //$("#customers-grid").hide();

                                $("#customers-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("EwalletBalanceReportGrid", "AdminEwallet"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: true,
                                    columns: [ {
                                        field: "NameId",
                                        title: "@T("Admin.Customers.Customers.Fields.memnameidGrid")",
                                        width:200
                                    },{
                                        field: "TotalCredit",
                                        title: "@T("Admin.Customers.Customers.Fields.TotalCredit")",
                                        width:100
                                    }, {
                                        field: "TotalDebit",
                                        title: "@T("Admin.Customers.Customers.Fields.TotalDebit")",
                                        width:100
                                    }, {
                                        field: "TotalBalance",
                                        title: "@T("Admin.Customers.Customers.Fields.TotalBalance")",
                                        width:100
                                    }]
                                });
                            });

                        </script>

                        <script type="text/javascript">


                            $("#Name").keyup(function(e){
                                if(e.which === 13 && $('#MemberId').val()!=" "){

                                    $('#ViewReport').click();
                                    return false;
                                }
                            });
                            $("#Name").keydown(function(e){
                                if(e.which === 13 && $('#MemberId').val()!=" "){

                                    $('#ViewReport').click()
                                    return false;
                                }
                            });

                            $("#ddlChoice").keydown(function(e){
                                if(e.which === 13){

                                    $('#AddToList').click();
                                    return false;
                                }
                            });

                            $(document).ready(function () {

                                $('#ViewReport').click(function () {

                                    var SelectCondition =$('#SelectCondition').val();
                                    var Name=$('#Name').val();
                                    var MemberId=$('#MemberId').val();

                                    $('#validationMessages').html('');
                                    $("#validationMessages").hide();
                                    $('#searchResult').hide();
                                    var validationDivs='';
                                    var flag=true;
                                    // 

                                    if(SelectCondition == 0)
                                    {
                                        if(Name == '')
                                        {
                                            validationDivs=validationDivs+ '<div>@T("Admin.Validation.IdNameRequired")</div>';
                                            flag=false;
                                        }
                                        if(Name !='' && MemberId =="")
                                        {
                                            validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                                            flag=false;
                                        }
                                    }

                                    if(flag)
                                    {
                                        //search
                                        var grid = $("#customers-grid").data('kendoGrid');
                                        grid.dataSource.page(1);
                                        $("#customers-grid").show();
                                        $('#searchResult').show();
                                        return false;
                                    }
                                    else
                                    {
                                        $("#validationMessages").show();
                                        $('#validationMessages').append(validationDivs);
                                        return false;
                                    }
                                });
                            });


                            function additionalData() {
                                var data = {
                                    walletType:$('#@Html.FieldIdFor(model => model.walletType)').val(),
                                    MemberId:$('#@Html.FieldIdFor(model => model.MemberId)').val(),
                                    Name:$('#@Html.FieldIdFor(model => model.Name)').val(),
                                    SelectCondition:$('#@Html.FieldIdFor(model => model.SelectCondition)').val(),
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblMember').hide();
            $("#validationMessages").hide();
        });

        function ChangeField(selectedValue) {
            if (selectedValue == 0) {
                $("#tblMember").show();
                $('#MemberId').val("");
                $('#Name').val("");
            }
            else if (selectedValue == 1) {
                $("#tblMember").hide();
                $('#MemberId').val("");
                $('#Name').val("");
            }
        }

        $('#Name').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("SearchTermAutoCompleteMember", "AdminEwallet"))',
            appendTo: '.search-box',
            select: function (event, ui) {

                $("#MemberId").val(ui.item.Id);
                $("#Name").val(ui.item.label);
                $("#divfirstname").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };
    </script>
}
