﻿@model MessageTemplateListModel
@using Nop.Core
@using Nop.Core.Domain.Customers;
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //page title
    ViewBag.Title = T("Admin.ContentManagement.MessageTemplates").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Message templates");
}
<link href="~/Administration/Content/KendoFreezColumnHeader.css" rel="stylesheet" />
@Html.AntiForgeryToken()

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.ContentManagement.MessageTemplates")
    </h1>
    @if (EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.IsForumModerator())
    {
        <div class="pull-right">
            <input type="button" id="DoneActiveTemplate" name="DoneActiveTemplate" class="btn btn-primary" value="@T("Admin.Common.DoneActiveTemplate")" />
            <input type="button" id="DoneInActiveTemplate" name="DoneInActiveTemplate" class="btn btn-primary" value="@T("Admin.Common.DoneInActiveTemplate")" />

        </div>
    }
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            @*hide the entire search block if no elements are displayed*@
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.SearchStoreId)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopDropDownList("SearchStoreId", Model.AvailableStores)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" id="search-templates" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" id="divLockedCell">
                <div class="panel-body">
                    <div id="templates-grid"></div>

                    <script>
                        $(document).ready(function () {
                            $("#templates-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "MessageTemplate"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    @*refresh: true,
                                    numeric: false,
                                    previousNext: false,
                                    info: false,
                                    @Html.Partial("_GridPagerMessages")*@
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)],
                                    @Html.Partial("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode: "inline"
                                },
                                //scrollable: false,
                                dataBound: onDataBound,
                                columns: [

                                    @if (EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.IsForumModerator())
                                    {
                                        //a vendor does not have access to this functionality
                                        <text>
                                        {
                                            field: "Id",
                                            headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                            locked: true,
                                            width: 50
                                        },
                                         </text>
                                         }
                                        {
                                            field: "Name",
                                            attributes: { style: "text-transform: capitalize;" },
                                            title: "@T("Admin.ContentManagement.MessageTemplates.Fields.Name")",
                                            width: 320
                                        }, {
                                            field: "Subject",
                                            title: "@T("Admin.ContentManagement.MessageTemplates.Fields.Subject")",
                                            width: 380
                                        }, {
                                            field: "IsActive",
                                            title: "@T("Admin.ContentManagement.MessageTemplates.Fields.IsActive")",
                                            width: 150,
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: '# if(IsActive) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                        }, {
                                            field: "ListOfStores",
                                            title: "@T("Admin.ContentManagement.MessageTemplates.Fields.LimitedToStores")",
                                            width: 300
                                        }, {
                                            field: "Id",
                                            title: "@T("Admin.Common.Edit")",
                                            width: 150,
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                        }
                                ]
                            });
                            var grid = $("#templates-grid").data("kendoGrid");

                            grid.lockColumn("Name");
                        });
                        var count = 0;
                        $('a.sidebar-toggle').on('click', function () {
                            if (count == 0) {
                                $.get(location.href).then(function (kendoGrid) {
                                    $("#divLockedCell").html($(kendoGrid).find("#divLockedCell").html())

                                })
                                count = count + 1;
                                return false;
                            }
                        });
                    </script>

                    <script type="text/javascript">
                        var selectedIds = [];
                        $(document).ready(function () {
                            //search button

                            $('#mastercheckbox').click(function () {
                                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                            });

                            $('#search-templates').click(function () {
                                //search
                                var grid = $('#templates-grid').data('kendoGrid');
                                grid.dataSource.read();
                                $('.checkboxGroups').attr('checked', false).change();
                                selectedIds = [];
                            });
                            //wire up checkboxes.
                        });

                        $('#templates-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                            
                            var $check = $(this);
                            if ($check.is(":checked") == true) {
                                var checked = jQuery.inArray($check.val(), selectedIds);
                                if (checked == -1) {
                                    //add id to selectedIds.
                                    selectedIds.push($check.val());
                                }
                            }
                            else {
                                var checked = jQuery.inArray($check.val(), selectedIds);
                                if (checked > -1) {
                                    //remove id from selectedIds.
                                    selectedIds = $.grep(selectedIds, function (item, index) {
                                        return item != $check.val();
                                    });
                                }
                            }
                            updateMasterCheckbox();
                        });


                        function onDataBound(e) {

                            $('#templates-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                var currentId = $(this).val();
                                var checked = jQuery.inArray(currentId, selectedIds);
                                //set checked based on if current checkbox's value is in selectedIds.
                                $(this).attr('checked', checked > -1);
                            });

                            updateMasterCheckbox();
                        }

                        function updateMasterCheckbox() {

                            var numChkBoxes = $('#templates-grid input[type=checkbox][id!=mastercheckbox]').length;
                            var numChkBoxesChecked = $('#templates-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                        }
                        function additionalData() {
                            var data = {
                                SearchStoreId: $('#SearchStoreId').val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    </script>
                    @using (Html.BeginForm("DoneMessagesActive", "MessageTemplate", FormMethod.Post, new { id = "DoneActiveTemplate-form" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="selectedIds" name="selectedIds" value="" />
                    }
                    <script type="text/javascript">

                        $(document).ready(function () {
                            $('#DoneActiveTemplate').click(function (e) {
                                
                                e.preventDefault();
                                var ids = selectedIds.join(",");
                                $('#DoneActiveTemplate-form #selectedIds').val(ids);
                                $('#DoneActiveTemplate-form').submit();
                                return false;
                            });
                        });

                    </script>

                    @using (Html.BeginForm("DoneMessagesInActive", "MessageTemplate", FormMethod.Post, new { id = "DoneInActiveTemplate-form" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="selectedIds" name="selectedIds" value="" />
                    }
                    <script type="text/javascript">

                        $(document).ready(function () {
                            $('#DoneInActiveTemplate').click(function (e) {
                                
                                e.preventDefault();
                                var ids = selectedIds.join(",");
                                $('#DoneInActiveTemplate-form #selectedIds').val(ids);
                                $('#DoneInActiveTemplate-form').submit();
                                return false;
                            });
                        });

                    </script>
                </div>
            </div>
        </div>
    </div>
</div>