﻿/*
* Copyright 2014 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/


/********* START BUTTON *********/


.quick-view-button {
    display:inline-block;
    position:static;
    overflow:hidden;
	vertical-align: top;
}
.hover-effect-1 .quick-view-button {
    margin: 0 2px 0 0;
}
.quick-view-button a {
	display: block;
	width: 45px;
    height: 45px;
	background: #8e807a url('images/quick-view.png') center no-repeat;
	padding: 0;
	font-size: 0;
    
}
@media all and (max-width: 1000px) {
.quick-view-button {
    display: none !important;
    
}
}

/********** GLOBAL SETTINGS *********/


.quickViewWindow .popup-header{
    margin:0 0 20px 0;
    border:none;
    background:transparent;
}
.quickViewWindow .product-name{
    padding:0 0 20px 0;
    background:url(images/title-decoration.png) no-repeat center bottom;
	font-family: Arvo;
	text-transform: uppercase;
}
.quickViewWindow .overview{
    padding: 0;
}
.quickViewWindow .overview .stock .value,
.quickViewWindow .overview .manufacturers .value{
    color:#8e807a;
}
.quickViewWindow #accordion > h3{
    padding: 5px 10px;
    background: #eee;
	border: none;
    border-bottom: 1px solid #fff;
    box-shadow:none;
	text-shadow: none;
    font-size:16px;
    color:#000;
	font-weight:normal;
}
.quickViewWindow input[type="button"], .quickViewWindow a{
    font-size:13px;
}
.quickViewWindow .product-specs-box td>a,
.quickViewWindow #accordion .tax-shipping-info>a{
    font-size:14px;
    font-family:'Trebuchet MS';
    color:#888;
}
.quickViewWindow .product-specs-box td>a:hover,
.quickViewWindow #accordion .tax-shipping-info>a:hover{
    color:#000;
    text-decoration:underline;
}
.quickView .addProductVariantToCartErrors li{
    margin:0 0 5px 0;
    font-size:16px;
    color:#ff5868;
}
.quickViewWindow #accordion .product-specs-box .data-table{
    border:1px solid #ddd;
}

/********** KENDO SETTINGS *********/


.quickView .k-window-titlebar.k-header .k-window-actions {
	top: 15px;
	right: 15px;
    width: 21px;
    height: 21px;
}
.quickView .k-window-titlebar.k-header .k-window-actions a {
	width: 20px;
	height: 20px;
    background:url(images/remove-button.png) no-repeat center;
    border:none;
    transition:all 0.5s ease 0s;
    -moz-transition:all 0.5s ease 0s;
    -webkit-transition:all 0.5s ease 0s;
    -ms-transition:all 0.5s ease 0s;
}
.quickView .k-window-titlebar.k-header .k-window-actions a:hover{
    transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);   
}

/********** GALLERY & OVERVIEW *********/


.quickViewWindow .product-essential {
	padding: 20px;
}
.quickViewWindow .product-essential form > div{
    overflow:hidden;
}
.quickViewWindow .gallery {
	display: block; /*Cloud Zoom css override*/
	width: 240px;
}
.quickViewWindow .gallery .picture {
	/*height: 250px;*/
    border:none;
    background:transparent;
    box-shadow:none;
}
.quickViewWindow .gallery .picture:before {
	display: none;
}
.quickViewWindow #wrap {
    line-height: 0;
    display: inline-block;
    vertical-align: middle;
}
.quickViewWindow .gallery .picture{
    margin:0 auto;
}
.quickViewWindow .gallery .picture a {
    height: auto;
}
.quickViewWindow .gallery .picture img {
	bottom: auto;
	max-height: none;
}
.quickViewWindow .gallery .picture a img {
	position: static;
}

.quickViewWindow #accordion .ui-icon-circle-arrow-s {
    background: url('images/close-accordeon.png') center no-repeat;
}
.quickViewWindow #accordion .ui-icon-circle-arrow-e {
    background: url('images/custom-select.png') center no-repeat;
}
.quickViewWindow #accordion .product-details {
	box-shadow: none;
    border:none;
    padding:10px 5px;
    font-size:16px;
}
.quickViewWindow #accordion .tax-shipping-info{
    font-size:13px;
}
.quickViewWindow #accordion .product-details .spec-name{
    color:#666;
    width:30%;
    text-align:right;
    padding:0 8px 0 0;
}
.quickViewWindow #accordion .product-details .spec-value{
    padding:10px 0 10px 8px;
}
.quickViewWindow .overview .left,
.quickViewWindow .overview .right {
    float:none;
    font-size:16px;
    max-width:none;
}
.quickViewWindow .overview .left{
    margin:0 0 15px 0;
}
.quickViewWindow .overview .manufacturers{
    border:none;
}

.quickViewWindow .overview .right{
    text-align:left;
}
.quickViewWindow .overview .left input[type="button"] {
	min-width: 0;
	white-space: normal;
}
.quickViewWindow .overview .right input[type="button"] {
	min-width: 0;
	white-space: normal;
}
.quickViewWindow .free-shipping {
	float: none;
}
.quickViewWindow .variant-picture {
	border: none;
}
.quickViewWindow .moreInfoHover {
	background: rgba(255, 255, 255, 0.6);
	font-size: 11px;
	color: #a12;
}
.quickViewWindow .variant-info .product-price,
.quickViewWindow .variant-info .tax-shipping-info a {
	color: #fff;
}
.quickViewWindow .variant-info .tax-shipping-info {
	display: none;
}
.quickViewWindow .overview .purchase-area{
    margin:0;
    border:none;
    text-align:left;
}
.quickViewWindow .overview .purchase-area .product-price{
    font-size:18px;
}

.quickViewWindow .links-panel a{
    padding:0;
    color:#8e807a;
    font-size:16px;
    text-transform: uppercase;
	text-decoration: underline;
    background:transparent;
}
.quickViewWindow .gallery .thumbnails{
    /*margin:0 12.5px;*/
    padding:0;
    /*height:100px;*/
    background:none;
}

.quickViewWindow .gallery .thumbnails a {
    margin:0;
    box-shadow:none;
    border:none;
}
.quickViewWindow .gallery .thumbnails a{
    margin:0 0 7px 0;
}
.quickViewWindow .gallery .thumbnails a:nth-child(3n-1){
    margin:0 7px 7px 7px;
}

.quickViewWindow .overview .attributes{
    margin:0 0 15px 0;
    padding:10px;
    border:1px solid #ddd;
}
.quickViewWindow .overview .attributes dd{
    margin:7px 0 10px;
    overflow:hidden;
}
.quickViewWindow .overview .attributes dt{
    margin:7px 7px 7px 0;
    text-align:left;
    color:#666;
    overflow:hidden;
    min-width:50px;
    width:96px;
}
.quickViewWindow .attribute-squares li {
    margin: 0 5px 0 0;
}
.miniProductDetailsView .attributes dt .text-prompt{
    
}
.quickViewWindow .purchase-area .add-to-cart-panel .add-to-cart-button{
    background: url("images/shopping-cart.png") no-repeat scroll 18px center #8e807a;
    border: medium none;
    color: #ffffff;
    font-family: arvo;
    font-size: 16px;
    padding: 0px 25px 0px 40px;
    text-transform: uppercase;
     transition:all 0.2s ease 0s;
    -webkit-transition:all 0.2s ease 0s;
    -moz-transition:all 0.2s ease 0s;
    -ms-transition:all 0.2s ease 0s;
}
.quickViewWindow .purchase-area .add-to-cart-panel .add-to-cart-button:hover{
    background: url("images/shopping-cart.png") no-repeat scroll 18px center #a79c97;
}
.quickViewWindow .purchase-area .add-to-cart-panel .qty-input{
}
.quickViewWindow .add-to-cart .ajax-cart-button-wrapper{
    border:none;
}
.quickViewWindow #accordion .prices-table{
    border:1px solid #ddd;
}

/********** RELATED/ALSO-PURCHASED PRODUCTS *********/


.quickViewWindow .product-grid {
	background: none;
	margin: 20px 0 0;
}
.quickViewWindow .product-grid .title {
	margin: 0 0 10px;
	padding: 0 0 22px;
}
.quickViewWindow .product-grid .title strong {
	display:block;
}
.quickViewWindow .product-grid .item-box {
    width: 25%;
    margin: 0 !important;
	border-bottom: none !important;
}
.quickViewWindow .product-grid .item-box .product-title {
    height: 36px !important;
	border-bottom: none;
}
.quickViewWindow .product-grid .item-box .product-title span {
	padding: 0;
}
.quickViewWindow .product-grid .item-box .product-title a {
    display: block;
    line-height: 1.2;
    max-height: 34px;
	padding: 3px 0;
    font-size: 12px;
    overflow: hidden;
}
.quickViewWindow .product-grid .item-box .picture {
	background: none;
    height:auto;
    margin:0;
}
.quickViewWindow .product-grid .item-box .picture a{
	width: auto;
	height: auto;
}
.quickViewWindow .product-grid .item-box .picture img{
    transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
}
.quickViewWindow .product-grid .item-box:hover .picture img{
    /*transform:scale(0.7);
    -webkit-transform:scale(0.7);
    -moz-transform:scale(0.7);
    -ms-transform:scale(0.7);*/
}
.quickViewWindow .item-box .details{
	position: static;
    height:35px;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
}
.quickViewWindow .item-box .details .add-info{
    display:none;
}



.quickViewWindow .item-box .product-rating-box,
.quickViewWindow .item-box .add-info,
.quickViewWindow .item-box .tax-shipping-info,
.quickViewWindow .item-box .hover-content {
    display: none !important;
}
.quickViewWindow .product-grid .item-grid{
    width:100%;
}

/********* GIFTCARD *********/


.quickView .giftcard input[type=text],
.quickView .giftcard textarea {
    width: 248px;
}
.giftcard ~ .purchase-area {
	text-align: right;
}
.quickView .giftcard{
    border:1px solid #ddd;
}

.quickView .product-details .giftcard{
    padding:0;
    border-bottom:none;
} 


.quickView .giftcard > div{
    margin:0;
    border-bottom:1px solid #ddd;
}
.quickView .giftcard > div label{
    margin:0;
    width:40%;
    text-align:right;
    padding:0 8px 0 0;
    border-right:1px solid #ddd;
    color:#666;
    line-height:40px;
}
.quickView .giftcard > div input[type="text"]{
    border:none;
    line-height:40px;
    height:40px;
    width:60%;
    font-size:15px;
    background:#f9f9f9;
}
.quickView .giftcard > div textarea{
    border:none;
    width:60%;
    background:#f9f9f9;
}
.quickView .giftcard > div:last-child label{
    height:150px;
}


/*QUICK VIEW BUTTON IN ITEM-BOX HOVER 2*/



.product-grid .item-box .hover-effect-2 .buttons .quick-view-button{
    margin:0 0 1px 0;
}
.product-grid .item-box .hover-effect-2 .quick-view-button a{
    transform:none;
    background:url("images/quick-view.png") no-repeat scroll center center rgba(0,0,0,.5);
}

/*hide add to wishlist button*/

.add-info .buttons .add-to-wishlist-button{
    display:none;
}
.hover-effect-2 .add-info .buttons .add-to-wishlist-button {
    display:block;
}

@media all and (max-width: 1000px) {
    .hover-effect-2 .add-info .buttons .add-to-wishlist-button {
        display: inline-block;
        margin: 0 0 0 1px;  
    }
}