﻿@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}

@{

    var controllerName = System.Web.HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("controller");
    var actionName = System.Web.HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
    var isHomePage = controllerName.Equals("home", StringComparison.InvariantCultureIgnoreCase);
    var isTopic = ViewContext.RouteData.Values["SeName"];

}

@Html.Widget("body_start_html_tag_after")
@if (isHomePage)
{
    @Html.Widget("home_page_top_advertisement")
}

@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")





@Html.Action("AdminHeaderLinks", "Common")
@Html.Partial("Header")

<div class="overlayOffCanvas"></div>
<div class="responsive-nav-wrapper-parent">
    <div class="responsive-nav-wrapper">
        <div class="menu-title">
            <span>@T("SevenSpikes.Themes.Common.MenuTitle")</span>
        </div>
        <div class="search-wrap">
            <span>@T("Search")</span>
        </div>

        @Html.Action("HeaderLinks", "Common")


        <div class="filters-button">
            <span>@T("SevenSpikes.Themes.Common.Filters")</span>
        </div>
        @*<div class="personal-button" id="header-links-opener">
                <span>@T("SevenSpikes.Themes.Common.Personal")</span>
            </div>*@
    </div>
</div>

@if (isHomePage)
{
    @Html.Widget("home_page_main_slider");
}

@if (isHomePage)
{
    @Html.Partial("~/Themes/Allure/Views/Home/IndexWebDesign.cshtml")

}
@if (isTopic != null)
{
    if (isTopic.ToString() == "contact-us")
    {
        @Html.Partial("~/Themes/Allure/Views/Home/contactUSWebDesign.cshtml")
    }
    if (isTopic.ToString() == "about-us")
    {
        @Html.Partial("~/Themes/Allure/Views/Home/aboutUSWebDesign.cshtml")
    }
    if (isTopic.ToString() == "business-plan")
    {
        @Html.Partial("~/Themes/Allure/Views/Home/businessWebDesign.cshtml")
    }
    if (isTopic.ToString() == "legal")
    {
        @Html.Partial("~/Themes/Allure/Views/Home/legalWebDesign.cshtml")
    }
}


<div class="master-wrapper-page">
    <div class="master-wrapper-content">
        <script type="text/javascript">
            AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
        </script>
        @Html.Widget("content_before")
        @*ajax loading window*@
        <div class="ajax-loading-block-window" style="display: none">
            <div class="loading-image">
            </div>
        </div>
        <div class="master-column-wrapper">
            @RenderBody()
        </div>
        @Html.Widget("content_after")
    </div>

    @if (isHomePage)
    {
        @Html.Action("HomePageNews", "News")
        @Html.Action("HomePagePolls", "Poll")
        @Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })
    }

</div>
@Html.Action("Footer", "Common")
@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")