﻿@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes
@using Nop.Web.Models.Common
@{
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/img/logo.png";

    var motionLogo = @Html.Widget("motion_theme_logo");
}

<a href="@Url.RouteUrl("HomePage")" class="logo">
    @*@if (!MvcHtmlString.IsNullOrEmpty(motionLogo))
        {
            @motionLogo
        }
        else
        {*@
    <img title="" alt="@Model.StoreName" src="~/Themes/Vnext/Content/ThemeLogo/VnextLogo.png">
    @*}*@
</a> 