﻿@model Nop.Web.Models.MIdCardDetils.MIdCardDetils
@using Nop.Web.Framework.Models.Customer;
@{
    Html.AddTitleParts("Id Card");
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}
<script src="" type="text/javascript"></script>
<style type="text/css">
    #wrapper {
        background-color: #FFFFFF;
        border: 1px solid #A1A1A1;
        border-radius: 10px;
        box-shadow: 5px 7px 5px #999999;
        min-height: 300px;
        margin: 0 auto;
        /*padding: 10px 20px;*/
        width: 300px;
    }

    .imgCSS {
        width: 100%;
        /*height: 100%;*/
        /*margin-left: 50px;*/
        overflow: hidden;
    }

    .paddingLeft {
        padding-left: 10px;
        text-align: left;
    }

    .lblCss {
        font-weight: 400;
    }

    .tblCss {
    }

    .hrCss {
        border-bottom: 1px solid #000;
        margin-top: 5px;
        margin-bottom: 5px;
    }



    @@media print {
        .rbrak {
            page-break-after: always;
        }

        .noprint {
            display: none !important;
        }

        .footer {
            display: none;
        }

        .header {
            display: none;
        }
    }


    .style1 {
        width: 20%;
    }

    .imgCSS {
        max-width: 55%;
        height: 80%;
        margin-left: 6px;
        margin-top: 1%;
        overflow: hidden;
        width: 100%;
    }
</style>
@section left
    {
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Info })
}
@if (@Model.Name != null || !string.IsNullOrEmpty(@Model.Name))
{
    <div class="page  return-request-list-page ">

        <div class="page-title">
            <h1>@T("Customer.Identity.Card")</h1>
        </div>
        <div id="wrapper">
            <table style="border: 1px solid #000; width: 100%;">
                <tr>
                    <td colspan="2" style="border-bottom: 1px solid #000; text-align: center;">

                        @*<img src="@Url.Content("~/content/images/logo.png")" class="imgCSS">*@
                        <img id="imgLogo" src="@Url.Content(Model.Logo)" class="imgCSS  img-responsive" height="100px" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center">
                        <label style="text-align: left; font-weight: 700">@T("Customer.Identity.Card")</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="paddingLeft">
                        <span>@T("Admin.Address.AddressAttributes.Fields.Name") : </span>
                        <label class="lblCss">@Model.Name</label>
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%; border-right: 1px solid #000;" class="paddingLeft">
                        <span>@T("Customer.Identity.ID") : </span>
                        <label class="lblCss">@Model.DistributorId</label>
                        <br />
                        <span>@T("Admin.PayoutReports.CommissionStatement.mobileNumber") : </span>
                        <label class="lblCss">@Model.PhoneNo</label>
                        <br />
                        <span>@T("Admin.PayoutReports.PlanwiseCommissionDetails.City") : </span>
                        <label class="lblCss">@Model.City</label>
                        <br />
                        <span>@T("Customer.Identity.Address") : </span>
                        <label class="lblCss">@Model.Address</label>
                    </td>
                    @if (!String.IsNullOrEmpty(Model.ProfilePicture))
                    {
                        <td style="width: 40%;">
                            <img src="@Model.ProfilePicture" imageurl="~/images/company-logo.png" width="100px"
                                 height="130px" />
                            @*<asp:Image ID="imgPhoto" runat="server" ImageUrl="~/images/company-logo.png" Width="100px"
                                Height="130px" ToolTip="" />*@
                        </td>
                    }
                </tr>
                @*<tr>
                        <td colspan="2" style="border-bottom: 1px solid #000;">
                            <table style="width: 100%">
                                <tr>
                                    <td style="vertical-align: top;" class="style1" style="width: 100%">
                                        <span>@T("Customer.Identity.Address") : </span>
                                        <label>@Model.Address</label>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>*@
                <tr>
                    <td colspan="2"><hr class="hrCss" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="tblCss">
                            <tr>
                                <td colspan="2" class="paddingLeft">
                                    <span>@T("Account.CompanyDetails") :</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top; width: 35%;" class="paddingLeft">
                                    <span>@T("Admin.Address.AddressAttributes.Fields.Name") : </span>

                                </td>
                                <td><label class="lblCss" style="text-align: left;float: left;">@Model.CompanyName</label></td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top; " class="paddingLeft">
                                    <span>@T("Customer.Identity.Address") : </span>

                                </td>
                                @* <td>@Html.TextAreaFor(m => m.CompanyAddress)</td>*@
                                <td><label class="lblCss" style="text-align: left;float: left;"> @Model.CompanyAddress</label></td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top; " class="paddingLeft">
                                    <span>@T("Admin.PayoutReport.Payoutstatement.ForpayoutcontactSuccessMessage") : </span>

                                </td>
                                <td><label class="lblCss" style="text-align: left;float: left;">@Model.CompanyContactNo</label></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="noprint" style="">
            <center>
                <br />
                <button type="button" onclick="redirct();" value="Print" id="IdPrint" class="buttonIDCardPrint">
                    @T("Order.Print")
                </button>
                <input type="hidden" id="hdnStartRowIndex" value="0" />
            </center>
            <br />
        </div>
    </div>
    <script type="text/javascript">

        function redirct() {
            var conf = confirm('Kindly ensure the print settings are above.\nClick \'OK\' to continue.');
            if (conf == true) {
                window.print();
            }
        }
        applynoprint();

    </script>
}
    @*<div id="Inactive">
            <label>Inactive Associate</label>
        </div>*@
