/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/


.slider-wrapper {
    position: relative;
    z-index: 1;
    margin: 0 0 30px;
}

@media all and (min-width: 981px){

    .header-menu > ul {
		border-width: 0 0 1px;
	}
	.master-wrapper-page.home .slider-wrapper {
        margin: -92px 0 -46px;
    }
    .master-wrapper-page .master-wrapper-content .slider-wrapper {
        margin: 0 0 30px;
    }
}

.nivoSlider {
}
.nivoSlider a {
}
.nivoSlider img {
}


/* DIRECTIONAL NAVIGATION */


.nivo-directionNav a {
    background: #fff;
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    border: 1px solid #333;
    top: 50%;
    margin-top: -22px;
    opacity: .5;
    font-size: 0;
}
a.nivo-prevNav {
    background-image: url(nav-button-left.png);
    left: 20px;
}
a.nivo-nextNav {
    background-image: url(nav-button-right.png);
    right: 20px;
}
.nivo-directionNav a:hover {
    opacity: .7;
}


/* BULLET NAVIGATION */ /*removed*/

.nivo-controlNav {
	padding: 0;
	font-size: 0;
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
}
.nivo-control {
	width: 10px;
	height: 10px;
	font-size: 0;
	background: #fff;
	border: 1px solid #333;
	border-radius: 50%;
	display: inline-block;
}
.nivo-control.active,
.nivo-control:hover {
	background: #a12;
	border-color: #fff;
}

/* THUMBNAIL NAVIGATION */ /*removed*/

/* CAPTION TITLE */ /*removed*/