﻿<style>
    .bg-blue {
    margin-top:0.5% !important;
}
</style>
<div class="panel-group">
    <div class="panel panel-default panel-search">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="row" style="text-align:center;color:red;">
                    <a href="@Url.Action("Inbox", "CommunicationCenter")" class="btn bg-blue">
                        <i class="fa fa-inbox"></i>
                        @T("Web.Catalog.MemberMenu.CommunicationCenter.Inbox")
                    </a>
                    <a href="@Url.Action("ComposeMessage", "CommunicationCenter")" class="btn bg-blue">
                        <i class="fa fa-commenting"></i>
                        @T("Web.Catalog.MemberMenu.CommunicationCenter.ComposeMessage")
                    </a>
                    <a href="@Url.Action("SentMessage", "CommunicationCenter")" class="btn bg-blue">
                        <i class="fa fa-share-square-o"></i>
                        @T("Web.Catalog.MemberMenu.CommunicationCenter.SentItems")
                    </a>
                    <a href="@Url.Action("Folders", "CommunicationCenter")" class="btn bg-blue">
                        <i class="fa fa-folder"></i>
                        @T("Web.Catalog.MemberMenu.CommunicationCenter.Folders")
                    </a>
                    @*<img src="~/Content/Images/CommunicationCenter/inbox.png" style="width:20px" />
                        <a href="@Url.Action("Inbox", "CommunicationCenter")" title="@T("Web.Catalog.MemberMenu.CommunicationCenter.Inbox")">

                            @T("Web.Catalog.MemberMenu.CommunicationCenter.Inbox")
                        </a>|
                        <img src="~/Content/Images/CommunicationCenter/compose.png" style="width:20px" />
                        <a href="@Url.Action("ComposeMessage", "CommunicationCenter")" title="@T("Web.Catalog.MemberMenu.CommunicationCenter.ComposeMessage")">

                            @T("Web.Catalog.MemberMenu.CommunicationCenter.ComposeMessage")
                        </a>|
                        <img src="~/Content/Images/CommunicationCenter/sent.png" style="width:20px" />
                        <a href="@Url.Action("SentMessage", "CommunicationCenter")" title="@T("Web.Catalog.MemberMenu.CommunicationCenter.SentItems")">

                            @T("Web.Catalog.MemberMenu.CommunicationCenter.SentItems")
                        </a>|
                        <img src="~/Content/Images/CommunicationCenter/folder.png" style="width:20px" />
                        <a href="@Url.Action("Folders", "CommunicationCenter")" title="@T("Web.Catalog.MemberMenu.CommunicationCenter.Folders")">

                            @T("Web.Catalog.MemberMenu.CommunicationCenter.Folders")
                        </a>*@
                </div>
            </div>
        </div>
    </div>
</div>