﻿@model Nop.Admin.Models.AdminMessage.Folders
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>
    ().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>
        ().GridPageSizes;
    ViewBag.Title = T("PublicStore.ComunicationCenter.Folders").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Folders");
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.searchId)

    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="alert alert-success alert-dismissable" id="successMessages">
    </div>

    <div>
        @Html.Partial("CommunicationCenterIcons")
    </div>

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("PublicStore.ComunicationCenter.Folders")
        </h1>


    </div>


    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>@T("Publicstore.CommunicationCenter.Folders.CreateNew")</h3>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Name)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.Name)
                                        @Html.ValidationMessageFor(model => model.Name)

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <button type="submit" id="CreateFolders" name="CreateFolders" class="btn btn-primary "><i class="fa fa-plus"></i>@T("Admin.Common.Create")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-11 col-md-offset-10">
                                <button type="submit" id="DeleteFolders" name="DeleteFolders" class="btn btn-danger">
                                    <i class="fa fa-trash"></i>@T("Admin.Common.Delete")
                                </button>
                            </div>
                        </div>
                        <div id="customers-grid"></div>
                        <script>
                            $(document).ready(function () {
                                //$('#search-customers').click(function () {
                                $("#customers-grid").kendoGrid({
                                    autoBind: false,
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("BindFolders", "CommunicationCenter"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: true,
                                    dataBound: onDataBound,
                                    columns: [

                                    {
                                        field: "Id",
                                        title: "@T("Admin.Customers.Customers.Fields.SrID")",

                                        headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: "<input type='checkbox' id='chk#=Id#' value='#=Id#' class='checkboxGroups'/>",
                                        width: 50
                                    },
                                        {
                                            field: "SrNo",
                                            title:"@T("Admin.Message.ComposeMesaage.SrNo")",
                                            width: 50
                                        },

                            {
                                field: "FolderName",
                                template: '#=getUrl(Id,FolderName)#',
                                @*template: '<a href="ReplyMessage/?#=Id#/">@T("Publicstore.CommunicationCenter.Inbox.Reply")</a>',*@
                                title:"@T("Publicstore.CommunicationCenter.Folders.FolderName")",
                                width: 70

                            }

                                      @*{
                                          field: "FolderName",
                                          title:"@T("Publicstore.CommunicationCenter.Folders.FolderName")",
                                          width: 20
                                      }*@
                                      ,
                                       {
                                           field: "MessageCount",
                                           title:"@T("Publicstore.CommunicationCenter.Folders.MessageCount")",
                                           width: 50
                                       }
                                       ,
                                    {
                                        field: "NewCount",
                                        title:"@T("Publicstore.CommunicationCenter.Folders.NewCount")",
                                        width: 50
                                    }



                                    ]
                                });
                            });
                            // });
                        </script>
                        @Html.HiddenFor(m => m.selectedIds)



                    </div>
                </div>
            </div>

            <script type="text/javascript">

                function getUrl(Id,FolderName)
                {

                    return '<a href="FolderMessage/'+Id+'">'+FolderName+'</a>';

                }

                //$("#sucessMessages").hide();

                //$('#searchResult').hide();
                //$("#validationMessages").hide()


                var selectedIds = [];

                $(document).ready(function () {

                    $("#validationMessages").hide();
                    $("#successMessages").hide();

                    var grid = $('#customers-grid').data('kendoGrid');
                    grid.dataSource.page(1); //new search. Set page size to 1
                    //grid.dataSource.read(); we already loaded the grid above using "page" function
                    //clear selected checkboxes
                    $('.checkboxGroups').attr('checked', false).change();
                    selectedIds = [];
                    //return false;

                    $('#mastercheckbox').click(function () {
                        $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                    });

                    $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                        //  alert("working");
                        var $check = $(this);
                        if ($check.is(":checked") == true) {
                            var checked = jQuery.inArray($check.val(), selectedIds);
                            if (checked == -1) {
                                //add id to selectedIds.
                                selectedIds.push($check.val());
                            }
                        }
                        else {
                            var checked = jQuery.inArray($check.val(), selectedIds);
                            if (checked > -1) {
                                //remove id from selectedIds.
                                selectedIds = $.grep(selectedIds, function (item, index) {
                                    return item != $check.val();
                                });
                            }
                        }
                        var ids = selectedIds.join(",");
                        $('#selectedIds').val(ids);
                        updateMasterCheckbox();
                    });
                    //wire up checkboxes.

                });


                function onDataBound(e) {

                    $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                        var currentId = $(this).val();
                        var checked = jQuery.inArray(currentId, selectedIds);
                        //set checked based on if current checkbox's value is in selectedIds.
                        $(this).attr('checked', checked > -1);
                    });
                    updateMasterCheckbox();
                }

                function updateMasterCheckbox() {
                    var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                    var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                    $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                }


                $('#DeleteFolders').click(function(e) {
                 
                    $("#validationMessages").hide();
                    $(".alert.alert-success.alert-dismissable").hide();
                    var validationDivs='';
                    $('#validationMessages').html('');

                    var flag=true;

                    if(selectedIds=='' || selectedIds.length<=0)
                    {

                        $("#successMessages").hide();
                        $(".alert.alert-success.alert-dismissable").hide();
                        validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAtLeastOneRecord")</div>';
                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs);
                        //alert("Select At Least One Record");
                        flag=false;

                        return false;
                    }

                });

                function additionalData() {


                    var data = {

                    };
                    addAntiForgeryToken(data);
                    return data;
                }

                $("#CreateFolders").click(function (e) {

                    $("#validationMessages").hide();
                    $(".alert.alert-success.alert-dismissable").hide();
                    var validationDivs='';
                    $('#validationMessages').html('');
                    //
                    //$('#validationMessages').hide();
                    //$(".alert.alert-success.alert-dismissable").show();
                    //$(".alert.alert-danger.alert-dismissable").hide();




                    var flag=true;

                    if($("#Name").val() =='' || $("#Name").length<=0)
                    {
                        $("#successMessages").hide();
                        $(".alert.alert-success.alert-dismissable").hide();
                        validationDivs=validationDivs+'<div>@T("PlublicStore.CommunicationCenter.EnteraFolderName")</div>';
                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs);
                        //alert("Select At Least One Record");
                        flag=false;      
                        return false;
                    }
                })
            </script>

        </div>
    </div>




}
<script>
    window.onbeforeunload = function () {
        var buttons = document.getElementsByTagName("BUTTON");
        for (var i in buttons) {
            if (buttons[i].type == "button" || buttons[i].type == "submit") {
                buttons[i].disabled = true;
            }
        }
    };
</script>