﻿@model Nop.Admin.Models.AdminMessage.ViewMessage

@{
    Layout = null;
}

<!DOCTYPE html>

@using (Html.BeginForm())
{


    @Html.AntiForgeryToken()

        <div class="panel panel-default">
       
        <div class="panel-body">
            <table class="table table-hover table-bordered text-center" border="1" width="100%">
                <tr>
                    <td>
                        @if (Model.IsPage)
                        {
                            @*@Html.LabelFor(m => m.MessageFrom)*@
                            @T("Publicstore.CommunicationCenter.Inbox.From")
                        }
                        else
                        {
                            @*@Html.LabelFor(m => m.MessageTo)*@
                            @T("Publicstore.CommunicationCenter.ViewMessage.MessageTo")
                        }

                    </td>
                    <td>



                        @Model.MessageFrom
                    </td>

                </tr>
                <tr>
                    <td>
                        @T("Publicstore.CommunicationCenter.ViewMessage.Date")
                    </td>
                    <td>
                        @Model.Date
                    </td>
                </tr>

                <tr>
                    <td>
                        @T("Publicstore.CommunicationCenter.ViewMessage.Subject")
                    </td>
                    <td>
                        @Model.Subject
                    </td>
                </tr>
                <tr>
                    <td>
                        @T("Publicstore.CommunicationCenter.ViewMessage.Body")
                    </td>
                    <td>
                        @Model.Body
                    </td>
                </tr>
            </table>
            </div>
        </div>
            }
