﻿@model Nop.Web.Framework.Models.CommunicationCenter.Folders
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_ColumnVF.cshtml";
    //title
    Html.AddTitleParts(T("PublicStore.ComunicationCenter.Folders").Text);
}

<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.SelectedFolders)

    <div class="page account-page return-request-list-page ">

        <div class="page-title">
            <h1>@T("PublicStore.ComunicationCenter.Folders")</h1>
        </div>
        <div class="page registration-result-page">
            <div class="page-body">
                <div class=" panel-body">

                    <div class="result" style="text-align:center;">
                        @if (ViewBag.Msg != null)
                        {
                            @ViewBag.Msg
                        }
                    </div>
                    @{
    var validationSummary = Html.ValidationSummary(true);
                    }
                    @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                    {
                        <div class="message-error">@validationSummary</div>
                    }
                      @Html.ValidationMessage("DeleteFolder")
                      @Html.ValidationMessageFor(model => model.Name)
                    <div class="customer-blocks">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                @Html.Partial("CommunicationCenterIcons")
                            </div>
                            <div class="panel-body">

                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <strong>@T("Publicstore.CommunicationCenter.Folders.CreateNew")</strong>
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <span style="float:right" id="btnplusminus" class="glyphicon glyphicon-plus"></span></a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="inputs">
                                                    @Html.LabelFor(model => model.Name)
                                                    @Html.EditorFor(model => model.Name, new { maxlength = 20 })
                                                  
                                                </div>
                                                <div class="inputs commCenterFolderNote" style="text-align: center;">
                                                    <b style="color:red;font-weight:bold"> @T("Admin.Note.Note") </b>
                                                    @T("Publicstore.CommunicationCenter.Folders.NameNote")
                                                </div>
                                                <div class="inputs">
                                                    <div class="buttons">
                                                        <input type="submit" id="CreateFolders" name="CreateFolders" class="button-1" value="@T("Admin.Common.Create")" />
                                                        <input type="button" id="btnreset" class="button-1" value="@T("Tree.Reset.Button")" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="customer-blocks">                                    
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="x_panel">
                                            <div class="x_title">
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content table-wrapper" id="ScrollableDiv">
                                                <table id="FoldersReport" class="display  nowrap stripe cell-border cart" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th><input type="checkbox" name="select_all" value="1" id="example-select-all"></th>
                                                            <th class="HideId"></th>
                                                            <th>@Html.LabelFor(model => model.objFolderHeader.FolderName) </th>
                                                            <th>@Html.LabelFor(model => model.objFolderHeader.MessageCount) </th>
                                                            <th>@Html.LabelFor(model => model.objFolderHeader.NewCount)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @for (int i = 0; i < Model.folderHeaderDataTable.Count(); i++)
                                                        {
                                                            <tr>
                                                                <td></td>
                                                                <td class="HideId">@Model.folderHeaderDataTable[i].Id </td>
                                                                @*<td>@Model.folderHeaderDataTable[i].FolderName</td>*@
                                                                <td style="color: cornflowerblue">
                                                                    @Html.ActionLink(@Model.folderHeaderDataTable[i].FolderName, "Inbox", "CommunicationCenter",
                                                      new { id = @Model.folderHeaderDataTable[i].Id, name = @Model.folderHeaderDataTable[i].FolderName }, null)
                                                                </td>
                                                                <td>@Model.folderHeaderDataTable[i].MessageCount</td>
                                                                <td>@Model.folderHeaderDataTable[i].NewCount</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="inputs">
                                <div class="buttons">
                                    <input type="submit" id="DeleteFolders" name="DeleteFolders" class="button-1" value="@T("Admin.Common.Delete")" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    $(function () {
        $("#CreateFolders").click(function () {
            $('.loader').show();
        });
    });
    $(function () {
        $("#DeleteSentMsg").click(function () {
            $('.loader').show();
        });
    });
    var rowCount = $("#FoldersReport td").closest("tr").length;
    //alert('Rows ' + rowCount + ' are selected');

    $(document).ready(function () {
        $('.HideId').hide();

        $("#divseachById").slideUp();
        $("#divHeadingSearch").click(function () {
            $("#divseachById").slideToggle();
        });


        $('#Name').keyup(function (e) {
           //
            var max_chars = 20;
            if ($(this).val().length >= max_chars) {
                $(this).val($(this).val().substr(0, max_chars));
            }
        });

        // Handle click on "Select all" control
        $('#example-select-all').on('click', function () {
            //
            var table = $('#FoldersReport').DataTable();

            var rows = table.rows({ 'search': 'applied' }).nodes();

               $('input[type="checkbox"]', rows).prop('checked', this.checked);

            selectedCheckbox = null;

            if ($(this).prop('checked') == true) {

                var allData = table.rows().data();
                //  var i;
                //var i = allData.length;
                // var i = $('select[name=FoldersReport_length]').val();
                var i = allData.length;
                for (var j = 0; j < i; j++) {

                    var checkBox = allData[j][1];

                    //$("input[type='checkbox'][value=" + checkBox + "]").prop('checked', this.checked);

                    if (selectedCheckbox == null) {
                        selectedCheckbox = checkBox;
                    } else {
                        selectedCheckbox = selectedCheckbox + ',' + checkBox;
                    }
                    $('#SelectedFolders').val(selectedCheckbox);
                }
            }
            else {
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
                $('#SelectedFolders').val(selectedCheckbox);
            }

            //alert(selectedCheckbox);
        });

        $('#FoldersReport').dataTable({
            pagingType: "full_numbers",
            iDisplayLength: 10,
            dom: 'T<"clear">lfrtip',
            'columnDefs': [{
                'targets': 0,
                'className': 'dt-body-center',
                'render': function (data, type, full, meta) {
                    //
                    return '<input type="checkbox" id="CheckBox" name="id[]"  value="'
                       + $('<div/>').text(full[1]).html() + '">';
                }
            }],
              processing: true,
            "oLanguage": {
                "sEmptyTable": "@T("Common.DataTable.NoRecordFound")",
                "sProcessing": "<div class='loader'></div>",
            },
            tableTools: {
                "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                "sRowSelect": "multi",
                "aButtons": [
                    //{
                        //            'sExtends': 'copy',
                        //            "oSelectorOpts": { filter: 'applied', order: 'current' },
                        //        },
                        //{
                        //    'sExtends': 'xls',
                        //    "oSelectorOpts": { filter: 'applied', order: 'current' },
                        //},
                        // {
                        //     'sExtends': 'pdf',
                        //     "oSelectorOpts": { filter: 'applied', order: 'current' },
                        // },
                        //{
                        //    'sExtends': 'print',
                        //    "oSelectorOpts": { filter: 'applied', order: 'current' },
                        //}
                ]
                }
                });

        if (@Model.folderHeaderDataTable.Count > 10) {

            $("#FoldersReport_length").show();
            $("#FoldersReport_paginate").show();
        }
        else { $("#FoldersReport_length").hide();  $("#FoldersReport_paginate").hide(); }
        var selectedCheckbox = null;
        $(document).on('click', '#FoldersReport input[type="checkbox"][id="CheckBox"]', function () {
            //
            var value = this.value;

            if (value != "") {
                if ($(this).prop('checked') == true) {

                    if (selectedCheckbox == null) {
                        selectedCheckbox = value;
                    } else {
                        selectedCheckbox = selectedCheckbox + ',' + value;
                    }
                    $('#SelectedFolders').val(selectedCheckbox);

                }
                else {
                    var serialNo = $('#SelectedFolders').val();
                    selectedCheckbox = serialNo.replace(value, '');
                    $('#SelectedFolders').val(selectedCheckbox);
                }
            }
        });

        //var selectedCheckbox = null;
        //$('#FoldersReport input[type="checkbox"]').click(function () {
        //    //
        //    var value = this.value;

        //    if (value != "") {
        //        if ($(this).prop('checked') == true) {

        //            if (selectedCheckbox == null) {
        //                selectedCheckbox = value;
        //            } else {
        //                selectedCheckbox = selectedCheckbox + ',' + value;
        //            }
        //            $('#SelectedFolders').val(selectedCheckbox);

        //        }
        //        else {
        //            var serialNo = $('#SelectedFolders').val();
        //            selectedCheckbox = serialNo.replace(value, '');
        //            $('#SelectedFolders').val(selectedCheckbox);
        //        }
        //    }
        //});
    });


    $('#btnreset').on('click', (function () {
        $('.loader').show();
        document.location = "@(Url.Action("Folders", "CommunicationCenter"))" ;
    }));


</script>
