﻿@model Nop.Admin.Models.StockReturnPCR.StockReturnPCRModel
@{
    //page title
    ViewBag.Title = T("Admin.Inventory.StockReturn.EditStockReturn").Text;

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Stock Return PCR");
    
    @*var eventMessage = new AdminTabStripCreated(this.Html, "product-attribute-edit");
        EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
        foreach (var eventBlock in eventMessage.BlocksToRender)
        {
            @eventBlock
        }*@

}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "productattribute-form" }))
{

    @Html.AntiForgeryToken()

    var validationSummary = Html.ValidationSummary(true);
    if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
    {
        <div>@validationSummary</div>
    }
      

    <div class="alert alert-danger alert-dismissable" id="validationMessagesstockIn">
    </div>
   
    
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Inventory.StockReturn.EditStokReturn")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Inventory.StockReturn.BackToList").Text, "StockRetrunPCR")</small>
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" id="btnsave" class="btn bg-blue " value=@T("Admin.Common.Save")>
                @*<i class="fa fa-floppy-o"></i>*@
                
            @*</input>*@
            @*<button type="submit" name="save-continue" class="btn bg-blue">
                    <i class="fa fa-floppy-o"></i>
                    @T("Admin.Common.SaveContinue")
                </button>*@
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}

<script>
    $(document).ready(function () {
       // 
        $("#validationMessagesstockIn").hide();

    });
    window.onbeforeunload = function () {
        var inputs = document.getElementsByTagName("INPUT");
        for (var i in inputs) {
            if (inputs[i].type == "button" || inputs[i].type == "submit") {
                inputs[i].disabled = true;
            }
        }
    };
</script>


