@media all and (min-width: 240px) {
	.nop-jcarousel .carousel-title strong {
		border-radius: 8px 8px 0 0;
	}
	.nop-jcarousel .slick-dots .slick-active button:before {
		right: 0;
		left: 0;
	}
	.nop-jcarousel .slick-prev {
		right: 0;
		left: auto;
        background-image: url('images/next-horizontal.png');
	}
	.nop-jcarousel .slick-next {
		left: 0;
		right: auto;
        background-image: url('images/prev-horizontal.png');
	}
}
@media all and (min-width: 1001px) {
	.nop-jcarousel .slick-prev {
		right: -40px;
		left: auto;
	}
	.nop-jcarousel .slick-next {
		left: -40px;
		right: auto;
	}
	.center-2 .nop-jcarousel .slick-prev {
		right: 50%;
		left: auto;
		margin: 0 -140px 0 0;
	}
	.center-2 .nop-jcarousel .slick-next {
		left: 50%;
		right: auto;
		margin: 0 0 0 -140px;
	}
	.side-2 .nop-jcarousel .slick-prev {
		right: 0;
		left: auto;
	}
	.side-2 .nop-jcarousel .slick-next {
		left: 0;
		right: auto;
	}
}