﻿@model Nop.Web.Framework.Models.DashBoard.DashboardDetails
         
<style>
    #MyAwardsStatus_filter {
        display: none;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>@T("Dashboard.DashboardSettingsModel.MyAwardStatus")</h4>
    </div>
    <div class="panel-body">


        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="clearfix"></div>
                </div>
                <div class="table-wrapper">
                    <div class="x_content " id="ScrollableDiv">
                        <table id="MyAwardsStatus" class="display wrap stripe cell-border dataTable no-footer DTTT_selectable cart" cellspacing="0" width="100%">
                            <thead>
                                <tr>                              
                                    <th>@T("Dashboard.AwardStatus.AchivStatusName") </th>
                                    <th>@T("admin.customers.customers.fields.awardname")</th>
                                    <th>@T("Dashboard.AwardStatus.OAT_AchDt")</th>
                                 
                                </tr>
                            </thead>
                            <tbody>

                                @if (Model != null)
                                {
                                    for (int i = 0; i < Model.myAwardstatusList.Count(); i++)
                                    {
                                        <tr>                                        
                                            <td><img src="@Url.Content(Model.myAwardstatusList[i].awardImgpath)" class="stausImg" alt="@Model.myAwardstatusList[i].AchivStatusName" title="@Model.myAwardstatusList[i].AchivStatusName" /></td>
                                            <td>@Model.myAwardstatusList[i].OfferName</td>
                                            <td>@Model.myAwardstatusList[i].OAT_AchDt</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
   // var table = $('#MyAwardsStatus').DataTable();
   
</script>