﻿@model Nop.Web.Framework.Models.DashBoard.DashboardDetails

<style>
    #nestedDataTableTwo_wrapper {
        margin-top: 0%;
    }

    #nestedDataTableOne_wrapper {
        margin-top: 0%;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>@T("Dashboard.MyNetwork.MyDownline")</h4>
    </div>
    <div class="panel-body">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" id="ScrollableDiv">
                    <table style="width:100%">
                        <tr><th>@T("Dashboard.TodaysDetails")</th></tr>
                        <tr><td>@Html.Partial("_NestedCommanKendoGridOne", Model.BinaryDownlineListToday.dataTableBinaryDownlineTodays)</td></tr>
                    </table>
                    <table style="width:100%;">
                        <tr><th>@T("Dashboard.TotalDetails")</th></tr>
                        <tr><td>@Html.Partial("_NestedCommanKendoGridTwo", Model.BinaryDownlineListTotal.dataTableBinaryDownlineTotal)</td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $("#nestedDataTableOne_length").css("display", "none");
    $("#nestedDataTableOne_filter").css("display", "none");
    $("#nestedDataTableOne_info").css("display", "none");
    $("#nestedDataTableOne_paginate").css("display", "none");
    $("#nestedDataTableOne_paginate").css("display", "none");
    $("#ToolTables_nestedDataTableOne_3").css("display", "none");
    $("#ToolTables_nestedDataTableOne_0").css("display", "none");
    $("#ToolTables_nestedDataTableOne_1").css("display", "none");
    $("#ToolTables_nestedDataTableOne_2").css("display", "none");


    $("#nestedDataTableTwo_length").css("display", "none");
    $("#nestedDataTableTwo_filter").css("display", "none");
    $("#nestedDataTableTwo_info").css("display", "none");
    $("#nestedDataTableTwo_paginate").css("display", "none");
    $("#ToolTables_nestedDataTableTwo_3").css("display", "none");
    $("#ToolTables_nestedDataTableTwo_0").css("display", "none");
    $("#ToolTables_nestedDataTableTwo_1").css("display", "none");
    $("#ToolTables_nestedDataTableTwo_2").css("display", "none");
</script>