﻿@model Nop.Web.Framework.Models.DashBoard.DashboardDetails

<style>
    #MyforthomingPayouts_filter, #MyforthomingPayouts_length, #MyforthomingPayouts_info, #MyforthomingPayouts_paginate {
        display: none;
    }

    button.DTTT_button, div.DTTT_button, a.DTTT_button {
        display: none !important;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>@T("Dashboard.DashboardSettingsModel.ForthComingPayoutcounts")</h4>
    </div>
    <div class="panel-body">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" id="ScrollableDiv">
                    @Html.Partial("_CommanKendoGrid", Model.dataTable)
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#mydirectDataTable_length").css("display", "none");
    $("#mydirectDataTable_filter").css("display", "none");
    $("#mydirectDataTable_info").css("display", "none");
    $("#mydirectDataTable_paginate").css("display", "none");
    $("#mydirectDataTable_paginate").css("display", "none");
    $("#ToolTables_mydirectDataTable_3").css("display", "none");
    $("#ToolTables_mydirectDataTable_0").css("display", "none");
    $("#ToolTables_mydirectDataTable_1").css("display", "none");
    $("#ToolTables_mydirectDataTable_2").css("display", "none");

</script>