﻿@model Nop.Web.Framework.Models.DashBoard.DashboardDetails

<style>
    #MyRoyaltyStatus_filter,#MyRoyaltyStatus_paginate,#MyRoyaltyStatus_info {
        display: none;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>@T("Dashboard.DashboardSettingsModel.MyRoyaltyStatus")</h4>
    </div>
    <div class="panel-body">
        <div class="panel-body">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content table-wrapper" id="ScrollableDiv">
                        <table id="MyRoyaltyStatus" class="display wrap stripe cell-border dataTable no-footer DTTT_selectable cart" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>@Html.LabelFor(model => model.myAwardsStatus.AchivStatusName) </th>
                                    <th>@Html.LabelFor(model => model.myRewardStatus.OfferName)</th>
                                    <th>@Html.LabelFor(model => model.myAwardsStatus.OAT_AchDt)</th>                                    
                                </tr>

                            </thead>
                            <tbody>

                                @if (Model != null)
                                {
                                    for (int i = 0; i < Model.myRewardstatusList.Count(); i++)
                                    {
                                        <tr>
                                            <td>
                                                <img src="@Url.Content(Model.myRewardstatusList[i].rewardImgpath)" class="stausImg" alt="@Model.myRewardstatusList[i].AchivStatusName" title="@Model.myRewardstatusList[i].AchivStatusName" />
                                            </td>
                                            <td>@Model.myRewardstatusList[i].OfferName</td>
                                            <td>@Model.myRewardstatusList[i].OAT_AchDt</td>
                                        </tr>
                                    }

                                }
                                else
                                {
                                    <tr>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
