﻿@media screen and (max-width: 600px) {
    .table-wrapper table {
        border: 0;
    }

        .table-wrapper table caption {
            font-size: 1.3em;
        }

        .table-wrapper table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        .table-wrapper table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }

        .table-wrapper table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
        }

            .table-wrapper table td::before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
                width: 50%;
                text-align: left;
            }

            .table-wrapper table td:last-child {
                border-bottom: 0;
            }

    .table-wrapper .table-bordered > tbody > tr > td {
        font-size: 11px !important;
    }
}
