﻿@model Nop.Admin.ViewModel.Field_DtlsVM

@{
    ViewBag.Title = T("Admin.Configuration.DynamicReportFields.AddNew").Text;

    Html.SetActiveMenuItemSystemName("Dynamic Report Fields");
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "country-form" }))
{
    @Html.AntiForgeryToken()
    <div class="message-box message-box-error" id="validationMessagesstockIn">
    </div>

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.DynamicReportFields.NewReportField")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Configuration.DynamicReportFields.BackToList").Text, "Index")</small>
        </h1>
        <div class="pull-right">
            <button type="submit"  name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>

        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}

