﻿@model Nop.Admin.ViewModel.Field_DtlsVM

@{
    ViewBag.Title = "Edit";
    ViewBag.Title = T("Admin.Configuration.DynamicReportFields.EditDynamicReportFields").Text;
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.DynamicReportFields.EditDynamicReportFields")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Configuration.DynamicReportFields.BackToList").Text, "Index")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-red">
                <i class="fa fa-floppy-o"></i>
                @T("Common.Delete")
            </button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)

}