﻿@model Nop.Admin.ViewModel.Field_DtlsVM
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    //    Html.AddCssFileParts("~/Plugins/Feed.Froogle/Content/styles.css");
}
@{

    ViewBag.Title = T("Admin.Report.DynamicReportFieldsSettings").Text;

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Dynamic ReportFields Settings");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Report.DynamicReportFieldsSettings")
        </h1>
        <div class="pull-right">
            <a href="@Url.Action("Create")" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
            <input type="button" id="publish-selected" class="btn btn-success" value="@T("Admin.Configuration.DynamicReportFields.ShowSelected")" />
            <input type="button" id="unpublish-selected" class="btn btn-success" value="@T("Admin.Configuration.DynamicReportFields.HideSelected")" />
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.SelectOption)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.ddlSelectOption, new List<SelectListItem>()
                                       {
                                          new SelectListItem(){Text="Joining Details",Value="1"},
                                          new SelectListItem(){Text="Downline Details",Value="4"},
                                          new SelectListItem(){Text="Spill Details",Value="7"},
                                          new SelectListItem(){Text="My Direct",Value="15"},
                                       }, "Select Report", new { id = "ddlSelectOption", @class = "form-control valid" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-3">

                                        <button type="button" id="search-Fields" class="btn btn-primary btn-search " value="@T("Admin.Common.Search")">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="divLockedCell">
                    <div class="panel-body">
                        <div id="DynamicReportFields-grid"></div>

                        <script>


                            $(document).ready(function () {
                                $('#ddlSelectOption').change(function () {

                                    $('#DynamicReportFields-grid').hide();
                                    $('#searchResult').hide();
                                });

                                $('#publish-selected').click(function (e) {
                                    e.preventDefault();

                                    if ($('#ddlSelectOption').val() == '') {
                                        $('#validationMessages').html('');
                                        $("#validationMessages").show();
                                        $('#validationMessages').append("@T("Admin.Customers.Customers.List.SelectOption")");
                                        return false;
                                    }
                                    else {
                                        $("#validationMessages").hide();
                                    }
                                    $('#DynamicReportFields-grid').show();
                                    var postData = {
                                        selectedIds: selectedIds
                                    };
                                    addAntiForgeryToken(postData);

                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@(Url.Action("ShowSelected", "DynamicFieldSetting"))",
                                        data: postData,
                                        complete: function (data) {
                                            //reload grid
                                            var grid = $('#DynamicReportFields-grid').data('kendoGrid');
                                            grid.dataSource.read();
                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            alert(thrownError);
                                        },
                                        traditional: true
                                    });
                                    return false;
                                });

                                $('#unpublish-selected').click(function (e) {
                                    e.preventDefault();

                                    if ($('#ddlSelectOption').val() == '') {
                                        $('#validationMessages').html('');
                                        $("#validationMessages").show();
                                        $('#validationMessages').append("@T("Admin.Customers.Customers.List.SelectOption")");
                                        return false;
                                    }
                                    else {
                                        $("#validationMessages").hide();
                                    }
                                    $('#DynamicReportFields-grid').show();
                                    var postData = {
                                        selectedIds: selectedIds
                                    };
                                    addAntiForgeryToken(postData);

                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@(Url.Action("HideSelected", "DynamicFieldSetting"))",
                                        data: postData,
                                        complete: function (data) {
                                            //reload grid
                                            var grid = $('#DynamicReportFields-grid').data('kendoGrid');
                                            grid.dataSource.read();
                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            alert(thrownError);
                                        },
                                        traditional: true
                                    });
                                    return false;
                                });

                                //$('#search-customers').click(function () {
                                $("#DynamicReportFields-grid").kendoGrid({
                                    autoBind: false,
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("DynamicReportFieldsGrid", "DynamicFieldSetting"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        @*pageSize: @(defaultGridPageSize),
                                serverPaging: true,*@
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        numeric: false,
                                        previousNext: false,
                                        info: false
                                    },
                                    scrollable: false,
                                    dataBound: onDataBound,
                                    columns: [
                                    {
                                        field: "SrNo",
                                        title: "@T("Admin.Customers.Customers.List.SrNo")",
                                        // width: 200,
                                        hidden: true
                                    },
                                        {
                                            field: "FM_ID",
                                            headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: "<input type='checkbox' value='#=FM_ID#' class='checkboxGroups'/>",
                                            width: 50
                                        },
                                        {
                                            field: "FM_TableName",
                                            title: "@T("Admin.Configuration.DynamicReportFields.TableViewName")",
                                            // width: 200
                                        }, {
                                            field: "FM_FieldName",
                                            title: "@T("Admin.Configuration.DynamicReportFields.FieldName")",
                                            // width: 200,
                                            //type: "date",
                                            //format: "{0:d}"
                                        }, {
                                            field: "FM_Alias",
                                            title: "@T("Admin.Configuration.DynamicReportFields.FieldAlias")",
                                            // width: 200
                                        }, {
                                            field: "Default_FM_FieldFlag",
                                            title: "@T("Admin.Configuration.DynamicReportFields.DefaultFieldFlag")",

                                            template: '# if(Default_FM_FieldFlag) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                            // template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=Default_FM_FieldFlag#.gif" />'
                                            // width:200
                                        }
                                  , {
                                      field: "FM_FieldFlag",
                                      title: "@T("Admin.Configuration.DynamicReportFields.FieldFlag")",
                                      template: '# if(FM_FieldFlag) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'

                                      //template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=FM_FieldFlag#.gif" />'
                                      // width:200
                                  }, {
                                      field: "FM_ID",
                                      title: "@T("Admin.Common.Edit")",
                                      width: 50,
                                      template: '<a class="btn btn-default" href="@Url.Action("Edit", "DynamicFieldSetting")?FM_ID=#=FM_ID#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'

                                  }
                                    ]
                                });
                            });
                            // });
                        </script>

                        <script type="text/javascript">

                            var selectedIds = [];

                            $(document).ready(function () {

                                $('#DynamicReportFields-grid').on('change', 'input[id=mastercheckbox]', function (e) {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });



                                //wire up checkboxes.
                                $('#DynamicReportFields-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                    }
                                    else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function (item, index) {
                                                return item != $check.val();
                                            });
                                        }
                                    }
                                    updateMasterCheckbox();
                                });
                            });

                            function onDataBound(e) {

                                $('#DynamicReportFields-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });

                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#DynamicReportFields-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#DynamicReportFields-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }

                            function additionalData() {


                                var data = {
                                    reportId: $('#ddlSelectOption').val()
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }



                        </script>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tblMember").hide();
            //  $('#exportexcel-all').hide();
            $('#searchResult').hide();
            $("#DynamicReportFields-grid").hide();
            $('#validationMessages').html('');
            $("#validationMessages").hide();
            $("#FromDate").keyup(function () {
                $(this).val('');
            });
            //$("#ToDate").keyup(function(){
            //    $(this).val('');
            //});

        });

        $("#search-Fields").click(function () {
            if ($('#ddlSelectOption').val() == '') {

                $("#validationMessages").show();
                $('#validationMessages').append('Select Option');
            }
            else {

                $('#searchResult').show();
                $("#DynamicReportFields-grid").show();
                var grid = $('#DynamicReportFields-grid').data('kendoGrid');
                grid.dataSource.page(1); //new search. Set page size to 1
                grid.dataSource.read();// we already loaded the grid above using "page" function
                $('#validationMessages').html('');
                $("#validationMessages").hide();

            }

        });
        function keyDownHandler1(e) {
            if (e.keyCode === 13) {
                e.stopPropagation();
                e.preventDefault();
                $('#search-customers').click()
                return false;

            }
        }
        $("#reset-customers").click(function () {

            //$('#ddlSelectOption').val("");
            //$('#txtMember').val("");
            //$('#hiddenSearchMemno').val("");
            //$('#FromDate').val("");
            //$('#ToDate').val("");
            // $('#exportexcel-all').hide();
            $('#searchResult').hide();
            $("#DynamicReportFields-grid").hide();
            $('#tblMember').hide();
            $('#tblFromDate').show();
            $('#tblToDate').show();
            $("#validationMessages").hide();
            $('#trNote').show();
        });

    </script>

}


