﻿@model Nop.Admin.ViewModel.Field_DtlsVM
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
</head>
<body>
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Report.DynamicReportFieldsSettings")
        </h1>
        <div class="pull-right">
            <a href="#" class="btn bg-blue" onClick="a_onClick()">
                <i class="fa fa-pencil"></i>
                @T("Admin.Common.Edit")
            </a>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.SelectOption)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.ddlSelectOption, new List<SelectListItem>()
                                       {
                                          new SelectListItem(){Text="Joining Details",Value="1"},
                                          new SelectListItem(){Text="Downline Details",Value="4"},
                                          new SelectListItem(){Text="Spill Details",Value="7"},
                                          new SelectListItem(){Text="My Direct",Value="15"},
                                       }, "Select Report", new { id = "ddlSelectOption", @class = "form-control valid" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-3">

                                        <button type="button" id="search-Fields" class="btn btn-primary btn-search " value="@T("Admin.Common.Search")">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row" id="dynamic-listBox">
                            <div class="container">
                                <div class="col-md-3">
                                    <h4>Left Box Fields</h4>
                                    @Html.ListBoxFor(x => x.LeftSelectedField, Model.LeftFieldList, new { id = "LeftListBox", @style = "width: 250px;height:500px" })
                                </div>
                                <div class="col-md-1" style="padding-top:5%">

                                    <input type="button" value=">" id="LASingleRight" style="font-size : 12px; width: 50%;" name="move-listItem" /><br />
                                    <input type="button" value=">>" id="LAAllRight" style="font-size : 12px; width: 50%;" name="move-listitem" /><br />
                                    <input type="button" value="<" id="ALSingleLeft" style="font-size : 12px; width: 50%;" name="move-listItem" /><br />
                                    <input type="button" value="<<" id="ALAllLeft" style="font-size : 12px; width: 50%;" name="move-listItem" />
                                </div>
                                <div class="col-md-3">
                                    <h4>All Fields</h4>
                                    @Html.ListBoxFor(x => x.LeftSelectedField, Model.AllFieldList, new { id = "AllListBox", @style = "width: 250px;height:500px" })
                                </div>
                                <div class="col-md-1" style="padding-top:5%">

                                    <input type="button" value=">" id="ARSingleRight" style="font-size : 12px; width: 50%;" name="move-listItem" /><br />
                                    <input type="button" value=">>" id="ARAllRight" style="font-size : 12px; width: 50%;" name="move-listitem" /><br />
                                    <input type="button" value="<" id="RASingleLeft" style="font-size : 12px; width: 50%;" name="move-listItem" /><br />
                                    <input type="button" value="<<" id="RAAllLeft" style="font-size : 12px; width: 50%;" name="move-listItem" />
                                </div>
                                <div class="col-md-3">
                                    <h4>Right Box Fields</h4>
                                    @Html.ListBoxFor(x => x.RightSelectedField, Model.RightFieldList, new { id = "RightListBox", @style = "width: 250px;height:500px" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#ddlSelectOption').change(function () {

            $('#dynamic-listBox').hide();
        });

        function a_onClick() {

            var id = $('#AllListBox option:selected').val()
            if (id == undefined) {
                id = $('#RightListBox option:selected').val()

                if (id == undefined) {
                    id = $('#LeftListBox option:selected').val()
                }

            }

            if (id != undefined) {
                var data = {
                    FM_ID: id,
                };
                addAntiForgeryToken(data);

                $.ajax({
                    url: "@Html.Raw(Url.Action("Edit", "DynamicFieldSetting"))",
                    type: "GET",
                    dataType: "json",
                    data: data,
                    success: function (result) {

                    },
                    error: function (result) {
                    }
                });
            }


        }

        $('#ARSingleRight').click(function () {

            var values = $('#AllListBox option:selected').val();

            var test = $("#AllListBox option:selected").val();

            var data = {
                fieldsId: values,
                Default_FM_FieldFlag: 2
            };
            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("UpdateFieldFlag", "DynamicFieldSetting"))",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (result) {

                },
                error: function (result) {
                    alert(result);
                }
            });



            var validationDivs = '';
            $('#validationMessages').html('');
            if (($('#RightListBox option').size() + $("#AllListBox :selected").length) > 7) {
                validationDivs = validationDivs + '<div>@T("Admin.Validation.ListBoxLength")</div>';
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
                return false;
            }
            else {
                $('#AllListBox option:selected').appendTo('#RightListBox');
                //selectItem();
            }
            $("#AllListBox option:first").focus();
            $("#RightListBox option:first").focus();
        });

        $('#ARAllRight').click(function (e) {

            var selectedOpts = $('#AllListBox option');
            var allListArray = [];

            var allList = $('#AllListBox option');
            for (var i = 0; i < allList.length; i++) {
                allListArray.push(allList[i].value);
            }

            var data = {
                fieldsId: allListArray,
                Default_FM_FieldFlag: 2
            };
            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("UpdateFieldFlag", "DynamicFieldSetting"))",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (result) {

                },
                error: function (result) {
                    alert(result);
                }
            });

            var validationDivs = '';
            $('#validationMessages').html('');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }
            if ((($('#RightListBox option').size()) + ($('#ARAllRight option').size())) > 7) {
                validationDivs = validationDivs + '<div>@T("Admin.Validation.ListBoxLength")</div>';
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs);
                return false;
            }
            else {
                $('#RightListBox').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                //selectItem();
            }
            $("#ARAllRight option:first").focus();
            $("#RightListBox option:first").focus();
        });

        $('#RASingleLeft').click(function () {
            //
            var values = $('#RightListBox option:selected').val();
            var data = {
                fieldsId: values,
                Default_FM_FieldFlag: 0
            };
            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("UpdateFieldFlag", "DynamicFieldSetting"))",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (result) {

                },
                error: function (result) {
                    alert(result);
                }
            });
            $('#RightListBox option:selected').appendTo('#AllListBox');
            //selectItem();
            $("#AllListBox option:first").focus();
            $("#RightListBox option:first").focus();
            $('#validationMessages').hide();

        });
        $('#RAAllLeft').click(function () {

            var allListArray = [];

            var allList = $('#RightListBox option');

            for (var i = 0; i < allList.length; i++) {
                allListArray.push(allList[i].value);
            }

            var data = {
                fieldsId: allListArray,
                Default_FM_FieldFlag: 0
            };
            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("UpdateFieldFlag", "DynamicFieldSetting"))",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (result) {

                },
                error: function (result) {
                    alert(result);
                }
            });

            var selectedOpts = $('#AllListBox option');
            var selectedOpts1 = $('#RightListBox option');
            $('#RightListBox option').appendTo('#AllListBox');
            //selectItem();
            $("#AllListBox option:first").focus();
            $("#RightListBox option:first").focus();
            $('#validationMessages').hide();
        });

        $('#LASingleRight').click(function () {
            //

            var values = $('#LeftListBox option:selected').val();

            var data = {
                fieldsId: values,
                Default_FM_FieldFlag: 0
            };
            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("UpdateFieldFlag", "DynamicFieldSetting"))",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (result) {

                },
                error: function (result) {
                    alert(result);
                }
            });
            var validationDivs = '';
            $('#validationMessages').html('');

            $('#LeftListBox option:selected').appendTo('#AllListBox');
            //selectItem();

            $("#LeftListBox option:first").focus();
            $("#AllListBox option:first").focus();
            $('#validationMessages').hide();
        });


        $('#LAAllRight').click(function (e) {
            //

            var allListArray = [];

            var allList = $('#LeftListBox option');

            for (var i = 0; i < allList.length; i++) {
                allListArray.push(allList[i].value);
            }

            var data = {
                fieldsId: allListArray,
                Default_FM_FieldFlag: 0
            };
            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("UpdateFieldFlag", "DynamicFieldSetting"))",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (result) {

                },
                error: function (result) {
                    alert(result);
                }
            });

            var selectedOpts = $('#LeftListBox option');
            var validationDivs = '';
            $('#validationMessages').html('');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }

            $('#AllListBox').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            //selectItem();

            $("#LeftListBox option:first").focus();
            $("#AllListBox option:first").focus();
            $('#validationMessages').hide();
        });

        $('#ALSingleLeft').click(function () {
            //

            var values = $('#AllListBox option:selected').val();

            var data = {
                fieldsId: values,
                Default_FM_FieldFlag: 1
            };
            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("UpdateFieldFlag", "DynamicFieldSetting"))",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (result) {

                },
                error: function (result) {
                    alert(result);
                }
            });

            $('#AllListBox option:selected').appendTo('#LeftListBox');
            //selectItem();
            $("#LeftListBox option:first").focus();
            $("#AllListBox option:first").focus();
            $('#validationMessages').hide();

        });
        $('#ALAllLeft').click(function () {

            var allListArray = [];

            var allList = $('#AllListBox option');

            for (var i = 0; i < allList.length; i++) {
                allListArray.push(allList[i].value);
            }

            var data = {
                fieldsId: allListArray,
                Default_FM_FieldFlag: 1
            };
            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("UpdateFieldFlag", "DynamicFieldSetting"))",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (result) {

                },
                error: function (result) {
                    alert(result);
                }
            });

            var selectedOpts = $('#LeftListBox option');
            var selectedOpts1 = $('#AllListBox option');
            $('#AllListBox option').appendTo('#LeftListBox');
            //selectItem();
            $("#LeftListBox option:first").focus();
            $("#AllListBox option:first").focus();
            $('#validationMessages').hide();
        });

        $("#search-Fields").click(function () {
            if ($('#ddlSelectOption').val() == '') {

                $("#validationMessages").show();
                $('#validationMessages').append('Select Option');
            }
            else {

                $('#searchResult').show();
                $('#dynamic-listBox').show();
                $.get("@(Url.Action("LoadListBox", "DynamicFieldSetting"))", { reportId: $('#ddlSelectOption').val() }, function (response) {


                    $("#ddlPayoutFrom").html('');
                    $("#PayoutStartDate").html('');
                    $("#PayoutEndDate").html('');
                    var LeftFieldList = '';
                    var RightFieldList = '';
                    var AllFieldList = '';

                    if (response.LeftFieldList.length > 0) {
                        for (var i = 0; i < response.LeftFieldList.length; i++) {

                            LeftFieldList = LeftFieldList + '<option value="' + response.LeftFieldList[i].Value + '">' + response.LeftFieldList[i].Text + '</option>';
                        }
                    }

                    if (response.RightFieldList.length > 0) {
                        for (var i = 0; i < response.RightFieldList.length; i++) {

                            RightFieldList = RightFieldList + '<option value="' + response.RightFieldList[i].Value + '">' + response.RightFieldList[i].Text + '</option>';
                        }
                    }

                    if (response.AllFieldList.length > 0) {
                        for (var i = 0; i < response.AllFieldList.length; i++) {

                            AllFieldList = AllFieldList + '<option value="' + response.AllFieldList[i].Value + '">' + response.AllFieldList[i].Text + '</option>';
                        }
                    }


                    $("#LeftListBox").html('');
                    $("#AllListBox").html('');
                    $("#RightListBox").html('');

                    $("#LeftListBox").append(LeftFieldList);
                    $("#AllListBox").append(AllFieldList);
                    $("#RightListBox").append(RightFieldList);

                });

            }

        });
        $(document).ready(function () {
            $('#validationMessages').hide();
            $('#dynamic-listBox').hide();
        });
    </script>
</body>
</html>
