﻿@using Kendo.Mvc.UI
@using Nop.Core
@using Nop.Core.Domain.Customers;
@model Nop.Admin.Models.Common.CommanGridModel
@{
    var IsAdmin = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.IsAdmin();
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //page title

}
<style>
    .k-grid-content {
        height: auto !important;
    }
</style>


@(Html.Kendo().Grid<dynamic>()

            .Name("joiningDetails-grid")
                       .Columns(columns =>
                       {
                           if (Model != null)
                           {

                               foreach (System.Data.DataColumn column in Model.dataTable.Columns)
                               {
                                   if (Model.columnsToExclude != null && Model.columnsToExclude.Count() > 0)
                                   {
                                       if (!Model.columnsToExclude.Contains(column.ColumnName))
                                       {

                                           if (column.Caption.ToLower().Contains("doj") || column.Caption.Contains("DOJ") || column.Caption.Contains("Confirm Date") || column.Caption.Contains("Confirmation Date") || column.Caption.ToLower().Contains("date"))
                                           {
                                               var b = columns.Bound(column.ColumnName).Title(column.Caption).ClientTemplate("#=getDateWithTime(" + column.ColumnName + ")#").Width(120);

                                           }
                                           else if (column.Caption.ToLower().Contains("dob") || column.Caption.ToLower().Contains("date of birth") || column.Caption.Contains("Date of Birth") || column.Caption.Contains("Nominee's DOB") || column.Caption.Contains("Nominee DOB"))
                                           {
                                               var b = columns.Bound(column.ColumnName).Title(column.Caption).ClientTemplate("#=getAlert(" + column.ColumnName + ")#").Width(120);

                                           }


                                           else
                                           {
                                               string fname = T(column.Caption).ToString();
                                               columns.Bound(column.ColumnName).Title(column.Caption).Width(120);
                                           }
                                       }
                                   }
                                   else
                                   {
                                       if (column.Caption.ToLower().Contains("doj") || column.Caption.Contains("DOJ") || column.Caption.Contains("Confirm Date") || column.Caption.Contains("Confirmation Date") || column.Caption.ToLower().Contains("date"))
                                       {
                                           if (!column.Caption.ToLower().Contains("date of birth"))
                                           {
                                               var b = columns.Bound(column.ColumnName).Title(column.Caption).ClientTemplate("#=getDateWithTime(" + column.ColumnName + ")#").Width(120);
                                           }
                                           else
                                           {
                                               var b = columns.Bound(column.ColumnName).Title(column.Caption).ClientTemplate("#=getAlert(" + column.ColumnName + ")#").Width(120);
                                           }
                                       }
                                       else if (column.Caption.ToLower().Contains("dob") || column.Caption.ToLower().Contains("date of birth") || column.Caption.Contains("Date of Birth") || column.Caption.Contains("Nominee's DOB") || column.Caption.Contains("Nominee DOB"))
                                       {
                                           var b = columns.Bound(column.ColumnName).Title(column.Caption).ClientTemplate("#=getAlert(" + column.ColumnName + ")#").Width(120);

                                       }
                                       else
                                       {
                                           if (column.Caption.Contains("Serial No"))
                                           {
                                               var b = columns.Bound(column.ColumnName).Title(column.Caption).ClientTemplate("#=getSeialNo(" + column.ColumnName + ")#").Width(120);
                                           }
                                           else if (column.Caption.Contains("Secret Code"))
                                           {
                                               var b = columns.Bound(column.ColumnName).Title(column.Caption).ClientTemplate("#=setSecretCode(" + column.ColumnName + ")#").Width(120);
                                           }
                                           else
                                           {
                                               columns.Bound(column.ColumnName).Title(column.Caption).Width(120);
                                           }
                                       }

                                   }

                               }
                           }

                       })

       .Pageable(pager => pager.PageSizes(new int[] { 10, 15, 20, 50, 100 }))
           .Pageable(pager => pager.Refresh(true))
          .Sortable()
          .Scrollable(s => s.Enabled(true))

    .DataSource(dataSource => dataSource
        .Ajax()
               .Model(model =>
               {
                   if (Model != null)
                   {
                       foreach (System.Data.DataColumn column in Model.dataTable.Columns)
                       {

                           model.Field(column.ColumnName, column.DataType);

                       }
                   }
               })
              .Read(read => read.Action(@Model.ActionName, @Model.ControllerName).Data("additionalData"))
              .PageSize(@defaultGridPageSize)

             )
)


@* Script For DOB And Confirm Date*@
<script>
    var SerialNO = 0;

    function getSeialNo(objSeialNo) {
        debugger;
        SerialNO = objSeialNo;
        return SerialNO;
    }

    function setSecretCode(objSecretCode) {
        debugger;
        if (objSecretCode == "Click To Reveal") {
            if ("@IsAdmin" != "True") {
                return "<a onclick='GenrateUniqueCode(" + SerialNO + ")'  style=\'color: cornflowerblue; cursor: pointer;\'>Click To Reveal</a>";
            }
            else {
                return "Click To Reveal";
            }
        }
        else {
            return objSecretCode;
        }
    }

    function getDateWithTime(objdate) {

        var myDate;
        var myKindoDate;
        var str;
        var dashrecord;
        if (objdate != "") {
            if (objdate.indexOf('-') != -1) {
                res = objdate.split("-");
                var date1 = res[1];
                var month1 = res[0];
                var year1 = res[2];
                dashrecord = date1 + '/' + month1 + '/' + year1
                var data = {
                    term: dashrecord
                };
            }
            else {
                var data = {
                    term: objdate
                };
            }

            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("GetDateTimeInCurrentTimeZone", "Common"))",
                type: "POST",
                dataType: "json",
                data: data,
                async: false,
                success: function (result) {
                    str = result.dateTime
                },
                error: function (xhr, textStatus, exceptionThrown) {
                    //alert('hi');
                    $("#validationMessages").html("");
                    $("#validationMessages").show();
                    $("#validationMessages").html("@T("CommissionDetails.Kendo.Error")");
                }
            });


            var res;
            if (str.indexOf('-') == -1) {
                res = str.split("/");
                var date = res[0];
                var month = res[1];
                var year = res[2];
                myKindoDate = date + '/' + month + '/' + year
            }
            else {
                res = str.split("-");
                var date = res[0];
                var month = res[1];
                var year = res[2];
                myDate = date + '-' + month + '-' + year
            }


            if (str == myDate) {
                //Check valid 1-1-1900
                var getAllDate = myDate.split(" ");
                var comDate = getAllDate[0];

                HmyDate = month + '/' + date + '/' + year

                if (HmyDate == '-')
                    return HmyDate;
                else if (comDate == '1-1-1900' || comDate == '01-01-1900' || HmyDate == "")
                    return '-';
                else

                    return getDateFromString(HmyDate, "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime");
            }

            else if (str == myKindoDate) {
                //Check valid 1/1/1900
                var getAllDate = myKindoDate.split(" ");
                var comDate = getAllDate[0];

                HmyDate = date + '/' + month + '/' + year

                if (HmyDate == '-')
                    return HmyDate;
                else if (comDate == '1/1/1900' || comDate == '01/01/1900' || HmyDate == "")
                    return '-';
                else

                    return getDateFromString(HmyDate, "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime");
            }


        }
        else {
            if (objdate == "")
                return '-';
        }
    }

</script>

@* Script For Date Of Birth And Nominee Date*@

<script>
    function getAlert(objdate) {

        var myDate;
        var myKindoDate;
        var str;
        //var data = {
        //    term: objdate
        //};
        @*addAntiForgeryToken(data);

        $.ajax({
            url: "@Html.Raw(Url.Action("GetDateTimeInCurrentTimeZone", "Common"))",
            type: "POST",
            dataType: "json",
            data: data,
            async: false,
            success: function (result) {
                str = result.dateTime
            },
            error: function (xhr, textStatus, exceptionThrown) {
                //alert('hi');
                $("#validationMessages").html("");
                $("#validationMessages").show();
                $("#validationMessages").html("@T("CommissionDetails.Kendo.Error")");
            }
        });*@


        var res;

        if (objdate.indexOf('-') == -1) {
            res = objdate.split("/");
            var date = res[0];
            var month = res[1];
            var year = res[2];

            myKindoDate = date + '/' + month + '/' + year
        }
        else {
            res = objdate.split("-");
            var date = res[0];
            var month = res[1];
            var year = res[2];

            myDate = date + '-' + month + '-' + year
        }

        if (objdate == myDate) {
            //Check valid 1/1/1900
            var getAllDate = myDate.split(" ");
            var comDate = getAllDate[0];

            var getyear = year.split(" ");
            var year1 = getyear[0];
            HmyDate = month + '/' + date + '/' + year1


            if (HmyDate == '-')
                return HmyDate;
            else if (HmyDate == "" || comDate == '01-01-1900' || comDate == '1-1-1900')
                return '-';
            return getDateFromString(HmyDate, "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime");
        }

        else if (objdate == myKindoDate) {
            //Check valid 1/1/1900
            var getAllDate = myKindoDate.split(" ");
            var comDate = getAllDate[0];

            var getyear = year.split(" ");
            var year1 = getyear[0];
            HmyDate = date + '/' + month + '/' + year1

            if (HmyDate == '-')
                return HmyDate;
            else if (HmyDate == "" || comDate == '01/01/1900' || comDate == '1/1/1900')
                return '-';
            else
                return getDateFromString(HmyDate, "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime");
        }
        else {
            if (objdate == '-')
                return objdate;

            else if (objdate == "" || objdate == '01/01/1900' || objdate == '1/1/1900 0:00:00' || objdate == '01/01/1900 0:00:00')
                return '-';
            else
                return getDateFromString(objdate, "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime");

        }
    }

</script>
