﻿@model Nop.Admin.Models.Settings.ReportSettingsModel
@*@using Nop.Web.Framework.Model*@


@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    ViewBag.Title = T(Model.ReportTitle).Text;

    var ddselectOptions = new List<SelectListItem>
    {
          new SelectListItem { Text = "All", Value="0" , Selected=true },
          new SelectListItem { Text = "ID-wise", Value="1" }
    };
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T(Model.ReportTitle)
        </h1>
        <div class="pull-right" id="showButtons">
            <button type="button" id="exportexcel" name="exportexcel" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i>
                @T("Admin.Common.ExportToExcel")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">

                                @Html.Action("Payout", "Common", new { planType = Model.ReportPlanType, payout = Model.ReportPayout, payoutSelection = Model.ReportPayoutSelection, selectedOption = Model.ReportSelectedOption, storedProcedureName = Model.ReportStoredProcedureName, pagingFlag = Model.ReportPagingFlag, FooterAggregate = Model.FooterAggregate, ColomnListForAggregate = Model.ColomnListForAggregate, reportTitle = Model.ReportTitle, DailyMultiBinary = Model.DailyMultiBinary })
                            </div>
                        </div>

                    </div>
                </div>

                <div class="panel panel-default" id="showLapsPairGrid">
                    <div class="panel-body">
                        <div id="KendoGrid">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
