﻿@model Nop.Web.Framework.Mvc.ActionConfirmationModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="@(Model.WindowId)-title">@T("Admin.Common.AreYouSure")</h4>
        </div>
        <div class="modal-body">
            @T("Admin.Common.ActionConfirmation")
        </div>
        <div class="modal-footer">
            <span class="btn btn-default pull-right" data-dismiss="modal">@T("Admin.Common.NoCancel")</span>
            <button type="submit" id="@(Model.WindowId)-submit-button" class="btn btn-primary pull-right margin-r-5">
                @T("Admin.Common.Yes")
            </button>
        
        </div>
    </div>
</div>