﻿@model ProductOverviewModel
@using Nop.Core
@using Nop.Core.Domain.Catalog
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
@using Nop.Services.Catalog;
@{
    //prepare "Add to cart" AJAX link
    string addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, });
    }
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
    var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity, });
    var isVFMember = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.MemId;


    var isResalePackage = EngineContext.Current.Resolve<IProductService>().IsResalePakage(Model.Id);
}

<div class="product-item" data-productid="@Model.Id">
    <div class="buttons">
        @if (!Model.ProductPrice.DisableBuyButton)
        {
            var addToCartText = T("ShoppingCart.AddToCart").Text;
            if (Model.ProductPrice.IsRental)
            {
                addToCartText = T("ShoppingCart.Rent").Text;
            }
            if (Model.ProductPrice.AvailableForPreOrder)
            {
                addToCartText = T("ShoppingCart.PreOrder").Text;
            }
            if (Model.IsProductOut == "0")
            {
                <input type="button" value="@T("Product.OutOfStock")" class="button-2 product-box-add-to-cart-button" />
            }
            else
            {
                <input type="button" value="@(addToCartText)" class="button-2 product-box-add-to-cart-button" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink    ');return false;" />
            }
            if (!Model.ProductPrice.DisableAddToCompareListButton)
            {
                <input type="button" value="@T("ShoppingCart.AddToCompareList")" title="@T("ShoppingCart.AddToCompareList")" class="button-2 add-to-compare-list-button" onclick="AjaxCart.addproducttocomparelist('@addtocomparelink');return false;" />
            }
            if (!Model.ProductPrice.DisableWishlistButton)
            {
                if (Model.IsProductOut != "0")
                {
                    <input type="button" title="@T("ShoppingCart.AddToWishlist")" value="@T("ShoppingCart.AddToWishlist")" class="button-2 add-to-wishlist-button" data-productid="@Model.Id" onclick="AjaxCart.addproducttocart_catalog('@addtowishlistlink     ');return false;" />
                }
            }
        }
    </div>
    <div class="picture">
        <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
        </a>
    </div>
    <div class="details">
        <h2 class="product-title">
            <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })">@Model.Name</a>
        </h2>


    </div>

    <div>

        @if (isVFMember > 0 && isVFMember != null)
        {
            if (Model.ShowPV == 1)
            {
                <span>@T("admin.configuration.settings.dashboard.pv") : @Model.ProductPrice.PV</span>
            }
        }
        @if (isVFMember > 0 && isVFMember != null)
        {
            if (Model.ShowBV == 1)
            {
                <span>@T("admin.configuration.settings.dashboard.bv") : @Model.ProductPrice.BV</span>
            }
        }

    </div>

    @if (EngineContext.Current.Resolve<CatalogSettings>().ShowSkuOnCatalogPages && !string.IsNullOrEmpty(Model.Sku))
    {
        <div class="sku">
            @Model.Sku
        </div>
    }
    @if (Model.ReviewOverviewModel.AllowCustomerReviews)
    {
        int ratingPercent = 0;
        if (Model.ReviewOverviewModel.TotalReviews != 0)
        {
            ratingPercent = ((Model.ReviewOverviewModel.RatingSum * 100) / Model.ReviewOverviewModel.TotalReviews) / 5;
        }
        <div class="product-rating-box" title="@string.Format(T("Reviews.TotalReviews").Text, Model.ReviewOverviewModel.TotalReviews)">
            <div class="rating">
                <div style="width: @(ratingPercent)%">
                </div>
            </div>
        </div>
    }
    <div class="description">
        @Html.Raw(Model.ShortDescription)
    </div>
    <div class="add-info">
        @Html.Widget("productbox_addinfo_before", Model.Id)
        <div class="prices">
            @if (!String.IsNullOrEmpty(Model.ProductPrice.OldPrice))
            {
                <span class="price old-price">@Model.ProductPrice.OldPrice</span>
            }
            <span class="price actual-price">@Model.ProductPrice.Price</span>
            @if (Model.ProductPrice.DisplayTaxShippingInfo)
            {
                var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
                //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                //of course, you can modify appropriate locales to include VAT info there
                <span class="tax-shipping-info">
                    @T(inclTax ? "Products.Price.TaxShipping.InclTax" : "Products.Price.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                </span>

            }
        </div>

        @Html.Widget("productbox_addinfo_after", Model.Id)
    </div>
</div>


