﻿@using Nop.Web.Models.Catalog;
@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Core.Domain.Customers;
@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";

    var additionalClass = String.Empty;

    var controllerName = System.Web.HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("controller");
    var isHomePage = controllerName.Equals("home", StringComparison.InvariantCultureIgnoreCase);
    var IsGuest = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.IsGuest();
    var IsMember = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.MemId;
    if (isHomePage)
    {
        additionalClass = "master-home-page";
    }
}
<link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
<link href="~/content/datatables/css/responsive.datatables.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script src="~/Content/Bootstrap/js/bootstrap.min.js"></script>
<script src="~/scripts/datatables/datatables.responsive.min.js"></script>
<link href="~/content/datatables/css/datatables.tabletools.css" rel="stylesheet" />
<script src="~/scripts/datatables/datatables.tabletools.js"></script>
<link href="~/Content/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Bootstrap/css/animate.min.css" rel="stylesheet" />
<link href="~/Content/Bootstrap/css/custom.css" rel="stylesheet" />
<link href="~/Content/Bootstrap/css/font-awesome.min.css" rel="stylesheet" />
@Html.Widget("body_start_html_tag_after")
@if (isHomePage)
{
    @Html.Widget("home_page_top_advertisement")
}
@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")


@Html.Action("AdminHeaderLinks", "Common")
@Html.Partial("HeaderVF")
<div class="search-box store-search-box">
    @if (IsGuest || IsMember != null)
            {

        @Html.Action("SearchBox", "Catalog")
    }
</div>
<div class="overlayOffCanvas"></div>
<div class="responsive-nav-wrapper-parent">
    <div class="responsive-nav-wrapper">

        @Html.Action("HeaderLinks", "Common")

        @*<div class="search-wrap">
                <span>@T("Search")</span>
            </div>*@

    </div>
</div>
<div class="justAFixingDivBefore"></div>
<div class="header-menu">
    <div class="close-menu">
        <span>@T("SevenSpikes.Themes.Common.CloseMenu")</span>
    </div>
    <div class="header-links" id="divShowOnResponsive">
        @if (!IsGuest || IsMember != null)
            {
            <div style="text-align:center">
                <div style="background-color:white" class="divResponsiveprofile">
                    <img alt="Profile Picture" id="PofileImageResponsive" class="ProfileImage" />
                </div>
                <div style="background-color:white">
                    <a href="@Url.RouteUrl("CustomerInfo")">
                        <div class="CustomerNameForResponsive" style="color: black;font-size: 12px !important; width: 100px;"></div>
                    </a>
                </div>
            </div>
        }
    </div>
    <div class="header-links" id="divShowOnResponsive">
        <div class="header-selectors-wrapper" style="text-align:center">
            @Html.Action("TaxTypeSelector", "Common")
            @Html.Action("LanguageSelector", "Common")
            @Html.Action("CurrencySelector", "Common")

            @Html.Widget("header_selectors")
        </div>

    </div>
    @{
        var menuHtml = Html.Widget("theme_header_menu");
    }
    @if (!MvcHtmlString.IsNullOrEmpty(menuHtml))
    {
        @menuHtml
        if (IsGuest != true || IsMember != null)
        {
            <style>
                .hideBtnLoginMenu {
                    display: none !important;
                }

                .hideBtnRegisterMenu {
                    display: none !important;
                }
            </style>
        }
    }
    else
    {
        @Html.Action("TopMenuVF", "VFCatalog")
    }
    <div class="header-links" id="divShowOnResponsive">
        <div style="text-align:center;background-color:white">
            @if (!IsGuest || IsMember != null)
            {
                <a href="@Url.RouteUrl("Logout")" title="@T("Account.Logout")" class="ico-logout">@T("Account.Logout")</a>
            }

        </div>
    </div>

</div>
@if (isHomePage)
{
    @Html.Widget("home_page_main_slider")

}
<div class="master-wrapper-page @additionalClass">
    <div class="master-wrapper-content">
        <script type="text/javascript">
            AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
        </script>
        @Html.Widget("content_before")

        <div class="ajax-loading-block-window" style="display: none">
            <div class="loading-image">
            </div>
        </div>
        @if (IsSectionDefined("Breadcrumb"))
        {
            @RenderSection("Breadcrumb")
        }
        <div class="master-column-wrapper">
            @RenderBody()
        </div>
        @Html.Widget("content_after")
    </div>
</div>
@Html.Action("Footer", "Common")
@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")