﻿@model Nop.Web.Models.MIdCardDetils.MIdCardDetils
@{
    Html.AddTitleParts("Id Card");
    Layout = "~/Views/Shared/_ColumnVF.cshtml";
}

<style type="text/css">
    #wrapper {
        background-color: #FFFFFF;
        border: 1px solid #A1A1A1;
        border-radius: 10px;
        box-shadow: 5px 7px 5px #999999;
        min-height: 300px;
        margin: 0 auto;
        padding: 10px 20px;
        width: 354px;
    }

    .style1 {
        width: 20%;
    }
</style>

<div id="wrapper">
    <table style="border: 1px solid #000; width: 100%;">
        <tr>
            <td colspan="2" style="border-bottom: 1px solid #000; text-align: center;">
                @*<img src="@Url.Content("~/content/images/logo.png")" width=" 145px" height="75px">*@
                <img id="imgLogo" src="@Url.Content(Model.Logo)" width=" 145px" height="75px" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center">
                <label style="text-align: left; font-weight: 700">"Distributor Identity Card"</label>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <span>Name : </span>
                <label>@Model.Name</label>
            </td>
        </tr>
        <tr>
            <td style="width: 60%;">
                <span>IBO ID : </span>
                <label>@Model.DistributorId</label>
                <br />
                <br />
                <span>Phone No : </span>
                <label>@Model.PhoneNo</label>
                <br />
                <br />
                <span>City : </span>
                <label>@Model.City</label>
            </td>
            <td style="width: 40%;border: 1px solid #A1A1A1">
                <asp:Image ID="imgPhoto" runat="server" ImageUrl="~/images/company-logo.png" Width="100px"
                           Height="130px" ToolTip="" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="border-bottom: 1px solid #000;">
                <table style="width: 100%">
                    <tr>
                        <td style="vertical-align: top;" class="style1" style="width: 100%">
                            <span>Adderss : </span>
                        
                            <label>@Model.Address</label>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table>
                    <tr>
                        <td colspan="2">
                            <span>Company Details</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top; width: 60%;">
                            <span>Name : </span>
                        </td>
                        <td>
                            <label>@Model.CompanyName</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top; width: 60%;">
                            <span>Address : </span>
                        </td>
                        <td>
                            <label>@Model.CompanyAddress</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top; width: 60%;">
                            <span>Contact No : </span>
                        </td>
                        <td>
                            <label>@Model.CompanyContactNo</label>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div class="noprint" style="width: 750px; margin-left: 10%;">
    <center>
        <br />
        <button type="button" onclick="redirct();" value="Print">
            Print
        </button>
        <input type="hidden" id="hdnStartRowIndex" value="0" />
    </center>
    <br />
</div>
<script type="text/javascript">

    function redirct() {
        var conf = confirm('Kindly ensure the print settings are above.\nClick \'OK\' to continue.');
        if (conf == true) {
            window.print();
        }
    }
</script>