﻿@model Nop.Web.Models.MIdCardDetils.MIdCardDetils
@using Nop.Web.Framework.Models.Customer;
@{
    Html.AddTitleParts("Id Card");
    Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<style>
    .wrap {
        border: gray 2px solid !important;
        height: auto !important;
        width: 297px !important;
        margin: 0 auto !important;
        background-image: none !important;
        background-size: unset !important;
    }

    .head {
        background-color: #040404;
        border-bottom: solid 5px #040404;
        width: 295px;
        height: 155px;
        margin: 0px auto;
		word-wrap: break-word!important;
    }

    .logo {
        margin: 0px auto;
        max-width: 134px;
        padding-top: 27px;
    }


    .box {
        width: 107px;
        height: 109px;
        margin: -50px auto;
        border-radius: 100px;
        border: solid 5px #040404;
    }
	    .box img {
        width: 100px;
        height: 100px;
 
    }

    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
		word-wrap: break-word!important;
    }

    h4 {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: #2B68B9;
    }

    .footerbg {
        background-color: #040404;
        border-top: solid 5px #040404;
        width: 295px;
        height: 65px;
        margin: 0px auto;
        color: #fff;
        border-radius: 20px 20px 0px 0px;
    }

    #TableSet {
          margin-left: 45px;
        margin-top: 65px;
    }
	@@media (max-width: 360px) {
	.wrap {
        border: gray 2px solid !important;
        height: auto !important;
        width: 226px !important;
        margin: 0 auto !important;
        background-image: none !important;
        background-size: unset !important;
    }

    .head {
        background-color: #124BA3;
        border-bottom: solid 5px #4C7AF4;
        width: 226px;
        height: 155px;
        margin: 0px auto;
		word-wrap: break-word!important;
    }
		    .footerbg {
        background-color: #124BA3;
        border-top: solid 5px #4C7AF4;
        width: 226px;
        height: 65px;
        margin: 0px auto;
        color: #fff;
        border-radius: 20px 20px 0px 0px;
    }

    #TableSet {
          margin-left: 35px;
        margin-top: 65px;
    }
		    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
		word-wrap: break-word!important;
		
    }
	}
	
	
	
/* small mobile :320px. */
	@@media (max-width: 320px) {
	.wrap {
        border: gray 2px solid !important;
        height: auto !important;
        width: 226px !important;
        margin: 0 auto !important;
        background-image: none !important;
        background-size: unset !important;
    }

    .head {
        background-color: #124BA3;
        border-bottom: solid 5px #4C7AF4;
        width: 226px;
        height: 155px;
        margin: 0px auto;
		word-wrap: break-word!important;
    }
		    .footerbg {
        background-color: #124BA3;
        border-top: solid 5px #4C7AF4;
        width: 226px;
        height: 65px;
        margin: 0px auto;
        color: #fff;
        border-radius: 20px 20px 0px 0px;
    }

    #TableSet {
          margin-left: 35px;
        margin-top: 65px;
    }
		    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
		word-wrap: break-word!important;
		
    }
	}
</style>
<br />
<div class="inbox-mailbox-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ShowIdCard })
                    </div>
                    <div class="col-lg-9">
                        <div class="tab-pane fade in animated zoomInDown shadow-reset custom-inbox-message">
                            @if (@Model.Name != null || !string.IsNullOrEmpty(@Model.Name))
                            {
                                <div id="dvContainer">
                                    <div class="wrap" >
                                        <div class="head">
                                            @if (Model.Logo != "")
                                                {
                                                    <div class="logo"><center><img src="@Url.Content(Model.Logo)" alt="" /></center></div>
                                                }
                                                else
                                                {
                                            <div class="logo"><center><img src="~/Themes/Vnext/Content/VNextCSS/img/logo.png" alt="" /></center></div>
                                            }

                                        </div>

                                        <div class="box">
                                            @if (!String.IsNullOrEmpty(Model.ProfilePicture))
                                        {
                                        <img src="@Model.ProfilePicture" width="100" height="100" alt="" / style="border-radius: 50%">
                                        }
                                        else
                                        {
                                        <img src="~/Themes/Vnext/Content/VNextCSS/img/photo.png" width="100px" height="100px" alt="" />
                                        }

                                            <h4 align="center" style="margin-top: 15px;">@T("Customer.Identity.Card")</h4><br>

                                        </div>
                                        <br>
                                        <div id="TableSet">
                                            <p><strong>@T("Admin.Address.AddressAttributes.Fields.Name") </strong> :@Model.Name</p>
                                            <p><strong>@T("Customer.Identity.ID") </strong>: @Model.DistributorId</p>
                                            <p><strong>@T("Admin.PayoutReports.CommissionStatement.mobileNumber")</strong> :@Model.PhoneNo</p>
                                            <p><strong>@T("Customer.Identity.Address") </strong> : @Model.Address</p>
                                            <p><strong>@T("Admin.PayoutReports.PlanwiseCommissionDetails.City")</strong> : @Model.City</p>
                                            <br>
                                        </div>

                                        <div class="footerbg">
                                            <p align="center">
                                                @Model.CompanyName<br />

                                                @Model.CompanyAddress<br>

                                                @Model.CompanyContactNo
                                            </p>

                                        </div>
                                    </div>

                                    <div id="footer"></div>

                                    <br>

                                </div>

                            }
                            <div class="inputs" align="center">

                                <button type="button" id="btnPrint" class="btn btn-custon-two btn-success"><i class="fa fa-print"></i> @T("Mydetails.Print")</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
@section scripts{
    @*function redirct() {
            var conf = confirm('Kindly ensure the print settings are above.\nClick \'OK\' to continue.');
            if (conf == true) {
                window.print();
            }
        }
        applynoprint();*@

    <script type="text/javascript">
        $("#btnPrint").live("click", function () {
            var divContents = $("#dvContainer").html();
            var printWindow = window.open('', '', 'height=800,width=800');
            printWindow.document.write('<html><head><title>Welcome Letter</title>');
            printWindow.document.write('<style type="text/css"> #TableSet {margin-left: 45px;margin-top: 65px; }  .wrap { border: gray 2px solid !important;height: auto !important;width: 297px !important;  margin: 0 auto !important; background-image: none !important; background-size: unset !important; } .head { background-color: #124BA3; border-bottom: solid 5px #4C7AF4; width: 295px; height: 155px; margin: 0px auto;} .logo { margin: 0px auto; max-width: 100%;  padding-top: 15px; } .box {  width: 100px; height: 100px; margin: -50px auto; border-radius: 100px; border: solid 5px #4c7af4;} p {font-family: "Open Sans", sans-serif; font-size: 12px; } h4 { font-family: "Open Sans", sans-serif; font-size: 14px; color: #2B68B9; }.footerbg { background-color: #124BA3;border-top: solid 5px #4C7AF4; width: 295px; height: 65px; margin: 0px auto; color: #fff; border-radius: 20px 20px 0px 0px; }	@@media (max-width: 320px) {.wrap {border: gray 2px solid !important; height: auto !important; width: 226px !important; margin: 0 auto !important; background-image: none !important;background-size: unset !important;  }   .head { background-color: #124BA3; border-bottom: solid 5px #4C7AF4; width: 226px;  height: 155px;margin: 0px auto;  word-wrap: break-word!important;  } .footerbg {   background-color: #124BA3;  border-top: solid 5px #4C7AF4;  width: 226px;height: 65px;  margin: 0px auto; color: #fff; border-radius: 20px 20px 0px 0px;   } #TableSet { margin-left: 35px; margin-top: 65px;} p { font-family: "Open Sans", sans-serif; font-size: 12px; word-wrap: break-word!important; } }@@media print {* { -webkit-print-color-adjust: exact !important; /*Chrome, Safari */ color-adjust: exact !important; /*Firefox*/   } </style>');
            printWindow.document.write('</head><body >');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();

        });


    </script>

}