﻿@model  Nop.Admin.Models.FlushScript.FlushScriptTransaction
@{
    //page title
    ViewBag.Title = T("Admin.System.FlushScript.FlushScriptTransaction").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Flush Script");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.System.FlushScript.FlushScriptTransaction")
        </h1>
        <div class="pull-right">
            <button type="submit" id="FlushScript" name="save" class="btn btn-success" onclick="return confirm('@T("admin.common.areyousure")');">
                <text>&nbsp;</text>


                @T("Admin.Common.Flush")
            </button>
        </div>
    </div>
    @Html.HiddenFor(model => model.SelectedTables)
    @Html.HiddenFor(model => model.IsJoiningSelected)

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                <strong>@T("Admin.System.FlushScript.Select")</strong>
                                            </th>
                                            <th class="text-center">
                                                <strong>@T("Admin.System.FlushScript.SrNo")</strong>
                                            </th>
                                            <th class="text-center">
                                                <strong>@T("Admin.System.FlushScript.Tables")</strong>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var tables in Model.AvailableTablesToFlush)
                                        {
                                            if (tables.Value == "1")
                                            {
                                                <tr class="rowstyle">
                                                    <td align="center">
                                                        <span><input type="checkbox" name="ParentTables" id="tables-@(tables.Value)" value=@(tables.Value) /></span>
                                                    </td>
                                                    <td align="center">
                                                        <span>@tables.Value</span>
                                                    </td>
                                                    <td align="center">
                                                        <span>@tables.Text</span>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr class="rowstyle">
                                                    <td align="center">
                                                        <span><input type="checkbox" name="ChildTables" id="tables-@(tables.Value)" value=@(tables.Value) /></span>
                                                    </td>
                                                    <td align="center">
                                                        <span>@tables.Value</span>
                                                    </td>
                                                    <td align="center">
                                                        <span>@tables.Text</span>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>



                        <div style="margin: 0px auto;">
                            <div>
                                <br/>
                                <div class="col-md-4">

                                    @Html.NopLabelFor(model => model.Remark)
                                </div>
                                <div class="col-md-4">
                                    @Html.NopTextAreaFor(model => model.Remark)
                                </div>
                            </div>
                            <div>
                                <div class="adminTitle">
                                    &nbsp;
                                </div>
                                <div class="adminData">
                                    @Html.ValidationMessageFor(model => model.Remark)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">


        $("#FlushScript").click(function () {

            var checkedCheckBox = [];
            $.each($("input[name='ChildTables']:checked"), function () {
                checkedCheckBox.push($(this).val());

                if ($(this).val() == 2) {
                    $('#IsJoiningSelected').val("1")
                }
            });

            $.each($("input[name='ParentTables']:checked"), function () {
                // 
                checkedCheckBox.push($(this).val());

                if ($(this).val() == 1) {
                    $('#IsJoiningSelected').val("1")
                }
            });

            $('#SelectedTables').val(checkedCheckBox.toString());
        });

        $("input[name~='ParentTables']").click(function () {
            if ($(this).prop("checked") == true) {
                $('#SelectedTables').val("");
                $('#SelectedTables').val("1");
                $("input[type='checkbox'][name~='ChildTables']").attr("disabled", "disabled");
            } else {
                $("input[type='checkbox'][name~='ChildTables']").removeAttr("disabled");
                $('#SelectedTables').val("");
            }
        });

        $("input[name~='ChildTables']").click(function () {
            //  
            //var SelectedTables = $('#SelectedTables').val();
            //if ($('#SelectedTables').val() != '')
            var SelectedTables = ($('#SelectedTables').val()).split(',');

            var checkboxValue = $(this).val();

            var total = $('input[name=ChildTables]:checked').length;
            if (total > 0) {
                $("input[type='checkbox'][name~='ParentTables']").attr("disabled", "disabled");
            } else {
                $("input[type='checkbox'][name~='ParentTables']").removeAttr("disabled");
            }


            //if ($(this).prop("checked") == true) {
            //    //
            //    SelectedTables.push(checkboxValue);
            //} else {
            //    for (var i = 0; i < SelectedTables.length; i++) {

            //        if (SelectedTables[i] == checkboxValue)
            //            SelectedTables.splice(i, 1);
            //    }
            //}
            //$('#SelectedTables').val(SelectedTables.toString());
        });

    </script>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
}
