﻿@model Nop.Plugin.Widgets.Tickets.Models.TicketCustomerModel
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework.Localization;
@using Nop.Services.Localization;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.Themes
@{
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    if (currentThemeName == "Vnext")
    {
        Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
        Html.AppendCssFileParts("~/Plugins/Widgets.Tickets/Content/styles.css");
    }


    int i = 0;

}


@if (currentThemeName != "Vnext")
{
    @section left
  {
        @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = 11 })
    }


    <div class="page account-page customer-info-page">
        <div class="page-title">
            <h1>@T("Account.MyAccount") - @T("Ticket.Account.TicketsList")</h1>
        </div>
        <div class="page-body ticket-list-page">
            <div class="ticket-list">
                @foreach (var item in Model.Tickets)
                {
                    <div class="section ticket-item">
                        <div class="title">
                            @T("Ticket.Fields.Ticketnumber") : @item.Id
                        </div>
                        <ul class="info">
                            <li>@T("Ticket.Fields.TicketStatus"): <span class="order-status">@item.TicketStatus</span></li>
                            <li>@T("Ticket.Fields.Created"): <span class="order-date">@item.CreatedOn</span></li>
                            <li>@T("Ticket.Fields.Subject"): <span class="order-total">@item.Subject</span></li>
                            <li>@T("Ticket.Fields.Deparment"): <span class="order-total">@item.Deparment</span></li>
                        </ul>
                        <div class="buttons ticket-button-2">
                            <input type="button" value="@T("Ticket.View")" class="button-2 order-details-button" onclick="setLocation('@Url.RouteUrl("Nop.Plugin.Widgets.Tickets.TicketCustomer", new { Id = item.Id })')" />
                        </div>
                    </div>

                }
            </div>

        </div>
    </div>
}
else
{
    <style>
        .sparkline7-graph {
            display: block !important;
        }
    </style>
    <br />
    <div class="inbox-mailbox-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="tab-pane fade in animated zoomInDown shadow-reset custom-inbox-message">
                                <div class="page-body">
                                    <div class="pie-bar-line-area">
                                        <div class="container-fluid">
                                            <div class="row">
                                                @if (Model.Tickets.Count > 0)
                                                {
                                                    foreach (var item in Model.Tickets)
                                                    {
                                                        <div class="col-lg-6">
                                                            <div class="sparkline7-list shadow-reset mg-b-15">
                                                                <div class="sparkline7-hd">
                                                                    <div class="main-spark7-hd">
                                                                        <h1><strong>@T("Ticket.Fields.Ticketnumber") : @item.Id</strong></h1>
                                                                    </div>
                                                                </div>
                                                                <div class="sparkline7-graph">
                                                                    <ul class="profile-contact-menu">
                                                                        <li>@T("Ticket.Fields.TicketStatus") : <span class="order-status">@item.TicketStatus</span></li>
                                                                        <li>@T("Ticket.Fields.Created") : <span class="order-date">@item.CreatedOn</span></li>
                                                                        <li>@T("Ticket.Fields.Subject") : <span class="order-total">@item.Subject</span></li>
                                                                        <li>@T("Ticket.Fields.Deparment") : <span class="order-total">@item.Deparment</span></li>
                                                                    </ul>
                                                                    <br />
                                                                    <div class="customerOrderbutton">
                                                                        <button type="button" class="btn btn-custon-four btn-primary" onclick="setLocation('@Url.RouteUrl("Nop.Plugin.Widgets.Tickets.TicketCustomer", new { Id = item.Id })')"><i class="fa fa-edit"></i> @T("Ticket.View")</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="col-lg-12">
                                                        <div class="sparkline7-list shadow-reset mg-b-15">
                                                            <div class="sparkline7-hd">
                                                                <div class="main-spark7-hd">
                                                                    <h1><strong>@T("Ticket.Fields.Ticketnumber") </strong></h1>
                                                                </div>
                                                            </div>
                                                            <div class="sparkline7-graph" style="text-align:center">
                                                                <h1><label> @T("Dashboard.MyNetwork.SearchResult.NotFound")</label></h1>
                                                                <br />
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}