﻿.ajaxCart {
    border-radius: 12px;
}
.ajaxCart .k-window-titlebar.k-header {
	border-radius: 12px 12px 0 0;
}
.ajaxCart .k-window-titlebar.k-header .k-window-actions a {
	margin-top: 2px;
	border-color: #999;
	border-radius: 12px;
	background-color: #aaa;
}
.ajaxCart .k-window-titlebar.k-header .k-window-actions a:hover {
	border-color: #bbb;
}
.productAddedToCartWindow, .miniProductDetailsView {
	border-radius: 0 0 12px 12px;
}
.productAddedToCartWindowTitle {
	top: 2px;
	font-weight: bold;
	color: #333;
}
.nopAjaxCartPanelAjaxBusy,
.miniProductDetailsPanelAjaxBusy {
	z-index: 3;
}


/*** QUANTITY BOX & BUY BUTTON ***/



.ajax-cart-button-wrapper {
    display: inline-block;
}
.ajax-cart-button-wrapper input[type="text"],
.ajax-cart-button-wrapper select {
    width: 45px;
    height: 50px;
    border: 3px solid #f98919;
    border-right: 0;
    border-radius: 30px 0 0 30px;
    background: #fff;
    padding: 6px;
    text-align: center;
    font-size: 16px;
}
.ajax-cart-button-wrapper select{
    vertical-align: top;
    margin-right: -5px;
}
.nopAjaxCartProductListAddToCartButton {
	height: 50px;
}
.ajax-cart-button-wrapper input[type="button"] {
	border-radius: 0 30px 30px 0;
}


/*** SINGLE PRODUCT WINDOW ***/



.productAddedToCartWindowDescription h1 {
	font-size: 13px;
}
.productAddedToCartWindowDescription h1 a:hover {
	text-decoration: underline;
}
.productAddedToCartWindowDescription strong {
	color: #740;
}
.productAddedToCartWindowSummary {
	border-top: 1px dashed #ccc;
}
.productAddedToCartWindowSummary a {
	color: #000;
}
.productAddedToCartWindowSummary a:hover {
	text-decoration: underline;
}
.productAddedToCartWindowCheckout {
    max-width: 320px;
    border: 2px solid #f98919;
    border-radius: 23px;
    background: #f98919;
    padding: 3px 24px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    text-transform: lowercase;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.productAddedToCartWindowCheckout:hover {
	background: #FAA147;
}


/*** GROUPED PRODUCTS WINDOW ***/



.miniProductDetailsView {
	background: #fff;
}
.miniProductDetailsView .product-essential {
	border-bottom: 1px dashed #ccc;
	background: #fff;
	padding: 15px;
}
.miniProductDetailsView .overview {
    margin: 0;
    float: left;
    text-align: left;
}
.miniProductDetailsView .product-name {
    top: 12px;
}
.miniProductDetailsView h1.product-variant-name {
	text-shadow: none;
	font-size: 13px;
}
.miniProductDetailsView .short-description {
    float: none;
}
.miniProductDetailsView .gallery {
	display: block; /*Cloud Zoom css override*/
    max-width: 300px;
    font-size: 0;
}
.miniProductDetailsView .picture img {
	position: static;
}
.miniProductDetailsView .attributes {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.miniProductDetailsView .attributes dt {
	height: 32px;
}
.miniProductDetailsView .attributes dd {
	margin: 0;
}
.miniProductDetailsView .attributes select {
	height: 32px;
	padding: 6px 10px 6px 6px;
	font-size: 13px;
}
.miniProductDetailsView .prices {
	margin-bottom: 10px;
    float: none;
    text-align: left;
}
.miniProductDetailsView .add-to-cart {
    margin: 0 !important;
}
.miniProductDetailsView .add-to-cart > * {
    float: left;
}
.miniProductDetailsView .min-qty-notification {
    float: none !important;
    text-align: left;
    margin: 0 0 10px !important;
}
.miniProductDetailsView .qty-input {
    margin-left: 10px;
}

.miniProductDetailsView .product-collateral {
    margin: 0;
    border-radius: 0 0 12px 12px;
}
.miniProductDetailsView .giftcard > div {
    float: none;
    width: auto;
    margin: 0 0 5px;
}
    .miniProductDetailsView .giftcard > div label {
        display: block;
        margin: 0 0 5px;
    }
    .miniProductDetailsView .giftcard textarea {
        width: 400px;
    }

/* RELATED AND CROSS SELL */

.ajaxCart .product-grid {
	padding: 0 5px;
    width: 390px;
    margin: 10px 0 0;
    overflow: hidden;
    background: #eee;
}
.ajaxCart .product-grid .title {
	font-size: 18px;
    line-height: normal;
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
}
.ajaxCart .product-grid .item-box .product-title a {
	display: inline-block;
	line-height: normal;
	height: 24px;
}
.ajaxCart .product-grid .item-box {
    width: 100px;
    margin-bottom: 10px !important;
}
.ajaxCart .item-grid {
    padding: 0 5px;
}
.ajaxCart .item-box:before {
    padding-top: 124%;
}
.ajaxCart .item-box .product-title a {
    font-size: 16px;
}
.ajaxCart .product-grid .item-box .picture,
.ajaxCart .product-grid .item-box .picture a {
	width: 100%;
    height: 100%;
}
.ajaxCart .product-title {
	font-size: 11px;
}



.ajaxCart .item-box .details,
.ajaxCart .item-box .quick-view-button,
.ajaxCart .item-box .buttonOverlay {
    display: none !important;
}