﻿@model Nop.Web.Framework.Models.AwardDetailsReportVM

@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_ColumnVF.cshtml";
    //title
    Html.AddTitleParts(T("Account.Award.AccountStatment").Text);
    //register URL with return URL (if specified)
}

<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
<link href="~/Scripts/ConformDelete.css" rel="stylesheet" />
<script src="~/Scripts/ConformDelete.js"></script>
<style>
    .jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content {
        display: none !important;
    }

    .jconfirm {
        left: 0px !important;
        border: none !important;
    }

        .jconfirm .jconfirm-bg {
            /*left: 418px !important;
            right: 418px !important;*/
            top: auto !important;
        }

        .jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-title {
            font-size: 70% !important;
        }

        .jconfirm .jconfirm-box {
            background: #c7c0be !important;
        }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page account-page return-request-list-page ">
        <div class="page-title">
            <h1>@T("Account.Award.AccountStatment")</h1>
        </div>
        <div class="page registration-result-page">
            <div class="result" style="text-align:center;">
                <div id="validationMessages"></div>
            </div>

            @{
                var validationSummary = Html.ValidationSummary(true);
            }
            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="message-error">@validationSummary</div>
            }

            <div class="page-body">
                <div class="panel panel-default">

                    <div class="panel-body">
                        @*<div class="customer-blocks">
                            <div class="returning-wrapper fieldset">
                                <div class="form-fields">*@
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">

                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    @if (Model.JM_Name == "Generation")
                                    {
                                        <div id="ScrollableDiv">
                                            <div class="table-wrapper">
                                                <table id="AwardDetails" class="display  nowrap stripe cell-border cart" cellspacing="0" width="100%">

                                                    <thead>
                                                        <tr>
                                                            <th>@Html.LabelFor(model => model.Headers.srNo)</th>
                                                            <th>@Html.LabelFor(model => model.Headers.AwardName)</th>
                                                            <th>@Html.LabelFor(model => model.Headers.Status)</th>
                                                            <th>@Html.LabelFor(model => model.Headers.AchievementDate)</th>
                                                            <th>@Html.LabelFor(model => model.Headers.RequiredCount)</th>
                                                            <th>@Html.LabelFor(model => model.Headers.ActualCount)</th>
                                                            @if (@Model.ClaimingApplicable)
                                                            {
                                                                <th>@Html.LabelFor(model => model.Headers.Claiming)</th>
                                                                <th>@Html.LabelFor(model => model.Headers.ClaimingDate)</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @for (int i = 0; i < Model.awardDetailsdataList.Count(); i++)
                                                        {
                                                            <tr>
                                                                <td>@Model.awardDetailsdataList[i].srNo</td>
                                                                <td>@Model.awardDetailsdataList[i].AwardName</td>
                                                                <td>@Model.awardDetailsdataList[i].Status</td>
                                                                <td>@Model.awardDetailsdataList[i].AchievementDate</td>
                                                                <td>@Model.awardDetailsdataList[i].RequiredLeftCount</td>
                                                                <td>@Model.awardDetailsdataList[i].ActualLeftCount</td>
                                                                @if (@Model.ClaimingApplicable)
                                                                {
                                                                    if (Model.awardDetailsdataList[i].Claiming == "Claim Reject")
                                                                    {
                                                                        <td style="color: cornflowerblue">
                                                                            <a title="@T("Achievement.AwardDetails.Claim")" href="#" onclick="return CheckclaimRejectClick(oatSerailNo = Model.awardDetailsdataList[i].OATSerialNo, strClaim = 1)">
                                                                                <b style="color: cornflowerblue">@T("Achievement.AwardDetails.Claim")</b>
                                                                            </a>
                                                                            &nbsp;&nbsp;&nbsp;
                                                                            <a title="@T("Achievement.AwardDetails.Reject")" href="#" onclick="return CheckclaimRejectClick(oatSerailNo = Model.awardDetailsdataList[i].OATSerialNo, strClaim = 1)">
                                                                                <b style="color: cornflowerblue">@T("Achievement.AwardDetails.Reject")</b>
                                                                            </a>

                                                                            @*@Html.ActionLink("Claim", "ConfirmRejectClaim", "Achivement", new { oatSerailNo = Model.awardDetailsdataList[i].OATSerialNo, strClaim = 1 }, null)
                                                                                &nbsp;&nbsp;&nbsp; @Html.ActionLink("Reject", "ConfirmRejectClaim", "Achivement", new { oatSerailNo = Model.awardDetailsdataList[i].OATSerialNo, strClaim = 0 }, null)*@
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>@Model.awardDetailsdataList[i].Claiming</td>
                                                                    }
                                                                    <td>@Model.awardDetailsdataList[i].ClaimingDate</td>
                                                                }
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="ScrollableDiv">
                                            <div class="table-wrapper">
                                                <table id="AwardDetails" class="display  nowrap stripe cell-border cart" cellspacing="0" width="100%">

                                                    <thead>

                                                        <tr>
                                                            <th>@Html.LabelFor(model => model.Headers.srNo)</th>
                                                            <th>@Html.LabelFor(model => model.Headers.AwardName)</th>
                                                            <th>@Html.LabelFor(model => model.Headers.Status)</th>
                                                            <th>@Html.LabelFor(model => model.Headers.AchievementDate)</th>
                                                            @*Plan on count*@
                                                            @if (Model.AwardBasedOn == 1)
                                                            {
                                                                <th>@Html.LabelFor(model => model.Headers.RequiredLeftCount)</th>
                                                                <th>@Html.LabelFor(model => model.Headers.RequiredRightCount)</th>
                                                                <th>@Html.LabelFor(model => model.Headers.ActualLeftCount)</th>
                                                                <th>@Html.LabelFor(model => model.Headers.ActualRightCount)</th>
                                                            }
                                                            @*Plan on PV*@
                                                            @if (Model.AwardBasedOn == 2)
                                                            {
                                                                <th>@Html.LabelFor(model => model.Headers.RequiredLeftPV)</th>
                                                                <th>@Html.LabelFor(model => model.Headers.RequiredRightPV)</th>
                                                                <th>@Html.LabelFor(model => model.Headers.ActualLeftPV)</th>
                                                                <th>@Html.LabelFor(model => model.Headers.ActualRightPV)</th>
                                                            }
                                                            @*Plan on Sale*@
                                                            @if (Model.AwardBasedOn == 3)
                                                            {
                                                                <th>@Html.LabelFor(model => model.Headers.RequiredLeftSale)</th>
                                                                <th>@Html.LabelFor(model => model.Headers.RequiredRightSale)</th>
                                                                <th>@Html.LabelFor(model => model.Headers.ActualLeftSale)</th>
                                                                <th>@Html.LabelFor(model => model.Headers.ActualRightSale)</th>
                                                            }
                                                            @*Plan on Direct*@
                                                            @if (Model.AwardBasedOn == 4)
                                                            {
                                                                <th>@Html.LabelFor(model => model.Headers.RequiredLeftDirect)</th>
                                                                <th>@Html.LabelFor(model => model.Headers.RequiredRightDirect)</th>
                                                                <th>@Html.LabelFor(model => model.Headers.ActualLeftDirect)</th>
                                                                <th>@Html.LabelFor(model => model.Headers.ActualRightDirect)</th>
                                                            }
                                                            @*Plan on BV*@
                                                            @if (Model.AwardBasedOn == 6)
                                                            {
                                                                <th>@Html.LabelFor(model => model.Headers.RequiredLeftBV)</th>
                                                                <th>@Html.LabelFor(model => model.Headers.RequiredRightBV)</th>
                                                                <th>@Html.LabelFor(model => model.Headers.ActualLeftBV)</th>
                                                                <th>@Html.LabelFor(model => model.Headers.ActualRightBV)</th>
                                                            }

                                                            @if (@Model.ClaimingApplicable)
                                                            {
                                                                <th>@Html.LabelFor(model => model.Headers.Claiming)</th>
                                                                <th>@Html.LabelFor(model => model.Headers.ClaimingDate)</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @for (int i = 0; i < Model.awardDetailsdataList.Count(); i++)
                                                        {
                                                            <tr>
                                                                <td>@Model.awardDetailsdataList[i].srNo</td>
                                                                <td>@Model.awardDetailsdataList[i].AwardName</td>
                                                                <td>@Model.awardDetailsdataList[i].Status</td>
                                                                <td>@Model.awardDetailsdataList[i].AchievementDate</td>
                                                                <td>@Model.awardDetailsdataList[i].RequiredLeftCount</td>
                                                                <td>@Model.awardDetailsdataList[i].RequiredRightCount</td>
                                                                <td>@Model.awardDetailsdataList[i].ActualLeftCount</td>
                                                                <td>@Model.awardDetailsdataList[i].ActualRightCount</td>
                                                                @if (@Model.ClaimingApplicable)
                                                                {
                                                                    if (Model.awardDetailsdataList[i].Claiming == "Claim Reject")
                                                                    {
                                                                        <td style="color: cornflowerblue">
                                                                            <a title="@T("Achievement.AwardDetails.Claim")" href="#" onclick="return CheckclaimRejectClick(oatSerailNo = '@Model.awardDetailsdataList[i].OATSerialNo', strClaim = 1)">
                                                                                <b style="color: cornflowerblue">@T("Achievement.AwardDetails.Claim")</b>
                                                                            </a>
                                                                            @*<a title="@T("Achievement.AwardDetails.Claim")" href="#" onclick="if (confirm('@(T("Common.AreYouSure").Text)')) {location.href='@(Url.RouteUrl("AwardClaim", new { oatSerailNo = Model.awardDetailsdataList[i].OATSerialNo, strClaim = 1 }))';}" >
                                                                                    <b style="color: cornflowerblue">@T("Achievement.AwardDetails.Claim")</b>
                                                                                </a>*@

                                                                            &nbsp;&nbsp;&nbsp;
                                                                            <a title="@T("Achievement.AwardDetails.Reject")" href="#" onclick="return CheckclaimRejectClick(oatSerailNo = '@Model.awardDetailsdataList[i].OATSerialNo', strClaim = 0)">
                                                                                <b style="color: cornflowerblue">@T("Achievement.AwardDetails.Reject")</b>
                                                                            </a>

                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>@Model.awardDetailsdataList[i].Claiming</td>
                                                                    }
                                                                    <td>@Model.awardDetailsdataList[i].ClaimingDate</td>
                                                                }
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    }
                                </div>
                            </div>
                        </div>                     
                    </div>
                </div>
            </div>
        </div>
    </div>
                }

<script type="text/javascript">

    var rowCount = $("#AwardDetails td").closest("tr").length;

    $(document).ready(function () {
      
        $('#validationMessages').hide();
        $('#validationMessages').html('');

        var oEmployeesTable = $('#AwardDetails').dataTable({
            pagingType: "full_numbers",
            iDisplayLength: 10,
            dom: 'T<"clear">lfrtip',
            "ordering": false,
            "oLanguage": {
                "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
            },
            tableTools: {
                "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                "sRowSelect": "multi",
                "aButtons": [
                ]
            },
            processing: true,
            oLanguage: {sProcessing: "<div class='loader'></div>"},
        });


        if (@Model.awardDetailsdataList.Count() > 10) {

            $("#AwardDetails_length").show();
            $("#AwardDetails_paginate").show();
        }
        else { $("#AwardDetails_length").hide();
            $("#AwardDetails_paginate").hide(); }
    });

    function CheckclaimRejectClick(oatSerailNo,strClaim) {
        $(".jconfirm-content").hide();
        $.confirm({
            title: 'Do you want to continue?',

            buttons: {
                yes: function () {
                    var postData = {
                        oatSerailNo: oatSerailNo,
                        strClaim: strClaim
                    };
                    addAntiForgeryToken(postData);

                    $.ajax({
                        cache: false,
                        type: 'POST',
                        url: '@Url.Action("ConfirmRejectClaimPopUp", "Achivement")',
                        data: postData,
                        dataType: 'json',
                        success: function (data) {
                            $('#validationMessages').show();
                            $('#validationMessages').html(data.validMsg);
                            setTimeout(function(){
                                location.reload();
                            }, 1000);
                        }
                    });
                },
                Cancel: function () {
                    location.reload();
                },
            }
        });
    }
</script>
