﻿@model Nop.Web.Framework.Models.AwardDetailsReportVM

@{
    Layout = null;
    ViewBag.Title = T("Account.Strongpwdtip").Text;
}

<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    if (ViewBag.RefreshPage == true)
    {
        <script type="text/javascript">
            window.opener.location.reload();
            window.close();
        </script>
    }
    <div class="page account-page return-request-list-page " style="align-self:center">
        <div class="page-title">
        </div>
        <div class="page registration-result-page">
            <div class="page-body">
                @*<div class="panel panel-default">*@
                    <div id="errorMessage1" class="message-error"></div>
                    @*<div class="panel-body">*@
                        <div class="customer-blocks">
                            <div class="returning-wrapper fieldset">
                                <div class="form-fields">
                                    <div class="inputs buttons">
                                        <h4>@T("Achievement.AwardDetails.Doyouwanttocontinue")</h4>
                                        @Html.HiddenFor(m => m.OatSerailNo)
                                        @Html.HiddenFor(m => m.ClaimFlag)
                                    </div>
                                </div>
                                <div class="inputs">
                                    <div class="buttons">
                                        <input type="submit" id="YesClaimOrReject" name="YesClaimOrReject" class="button-1 register-next-step-button" value="@T("Account.Yes.Button")" />
                                        <input type="submit" id="NoClaimOrReject" name="NoClaimOrReject" class="button-1 register-next-step-button" value="@T("Account.No.Button")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    @*</div>*@
                @*</div>*@
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>