﻿@model Nop.Web.Framework.Models.MyCommission.MemberSchemeOfferDetailsReportVM

@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_ColumnVF.cshtml";
    //title
    Html.AddTitleParts(T("Account.Schemes.AccountStatment").Text);
    //register URL with return URL (if specified)
}

<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input type="hidden" value="1" id="AllCommitionIncomeFlag" />
    <div class="page account-page return-request-list-page ">

        <div class="page-title">
            <h1>@T("Account.Schemes.AccountStatment")</h1>
        </div>
        <div class="page registration-result-page">
            <div class="page-body">
                @{
                    var validationSummary = Html.ValidationSummary(true);
                }
                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }
                <div class="customer-blocks">
                    <div class="panel panel-default">

                        <div class="message-error error" id="validationMessages"></div>
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <strong>@T("Dashboard.MyNetwork.SearchOption")</strong>
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <span style="float:right" id="btnplusminus" class="glyphicon glyphicon-plus"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="inputs">
                                                @Html.LabelFor(model => model.lblSelectScheme)
                                                @Html.DropDownListFor(model => model.ddlScheme, Model.SchemeList)
                                            </div>
                                            <div class="inputs">
                                                <div class="buttons">
                                                    <input type="button" id="search" class="button-1" value="@T("Tree.Search.Button")" />
                                                    <input type="button" id="btnreset" class="button-1" value="@T("Tree.Reset.Button")" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div><strong id="searchResult">@Model.SearchResult</strong> </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content" id="ScrollableDiv">
                                        @Html.Partial("_NestedCommanKendoGridOne", Model.dataTable)

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    }
<script type="text/javascript">


    var rowCount = $("#mydirectDataTable td").closest("tr").length;
    //alert('Rows ' + rowCount + ' are selected');
    $(document).ready(function () {

        if (@Model.dataTable.Rows.Count > 10) {
            $("#mydirectDataTable_length").show();
            $("#mydirectDataTable_paginate").show();
        }
        else { $("#mydirectDataTable_length").hide();
            $("#mydirectDataTable_paginate").hide();}

        $(".collapse.in").each(function () {
            $("#btnplusminus").siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
        });
        $(".collapse").on('show.bs.collapse', function () {
            $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }).on('hide.bs.collapse', function () {
            $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });
    });
    $(document).ready(function () {
        $("#divseachById").slideUp();
        $("#divHeadingSearch").click(function () {
            $("#divseachById").slideToggle();
        });

        $('#data').empty();

        $('#search').click(function (e) {

            var abc=$('#ddlScheme').val();
            if(  abc == ''  || abc==null )
            {
                $("#validationMessages").html('');
                var validationDivs1 = '<div>@T("Admin.Scheme.SelectScheme")</div>';
                $("#validationMessages").show();
                $('#validationMessages').append(validationDivs1);
                return false;
            }
            $('.loader').show();
            var data = {
                ddlScheme: $('#@Html.FieldIdFor(model => model.ddlScheme)').val(),
            };
            addAntiForgeryToken(data);

            $.ajax({
                url: "@Html.Raw(Url.Action("BindSearchResultString", "Achivement"))",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (result) {
                    $('.loader').hide();
                    $('#searchResult').html("");
                    $('#searchResult').html(result);
                },
                error: function (xhr, textStatus, exceptionThrown) {
                    $('.loader').hide();
                }
            });


            $.ajax({
                url: "@Html.Raw(Url.Action("SchemeOfferDetailsReport", "Achivement"))",
                type: "POST",
                dataType: "html",
                data: data,
                processing: true,
                oLanguage: {sProcessing: "<div class='loader'></div>"},
                success: function (result) {
                    $('#ScrollableDiv').html("");
                    $('#ScrollableDiv').html(result);

                    $(document).ready(function () {

                        if (@Model.dataTable.Rows.Count > 10) {
                            $("#mydirectDataTable_length").show();
                            $("#mydirectDataTable_paginate").show();
                        }
                        else { $("#mydirectDataTable_length").hide();
                            $("#mydirectDataTable_paginate").hide();}
                    });
                },
                error: function (xhr, textStatus, exceptionThrown) {
                    $("#validationMessages").html("");
                    $("#validationMessages").show();
                    $("#validationMessages").html("@T("CommissionDetails.Kendo.Error")");
                }
            });


        });

        $("#collapseOne").removeClass("panel-collapse collapse in");
        $("#collapseOne").addClass("panel-collapse collapse");

        $("#btnplusminus").removeClass("glyphicon glyphicon-minus");
        $("#btnplusminus").addClass("glyphicon glyphicon-plus");
    });

    function myExcel()
    {
        $('.loader').show();

        var data = {
            ddlScheme: $('#@Html.FieldIdFor(model => model.ddlScheme)').val(),

        };
        addAntiForgeryToken(data);

        $.ajax({
            url: "@Html.Raw(Url.Action("SchemeOfferDetailsExportToExcel", "Achivement"))",
            type: "POST",
            dataType: "json",
            data: data,
            success: function (result) {
                $('.loader').hide();
                if (result.success) {
                    if (result.fullFileName != null && result.fullFileName != "") {
                        window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                    }
                    else {
                        $("#validationMessages").html('');
                        var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs1);
                    }
                }
                else {
                    var validationDivs1 = '<div>' + result.fullFileName + '</div>';
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs1);
                }
            },
            error: function (result) {
                $('.loader').hide();
            }
        });

    }
    $('#btnreset').on('click', (function () {
        $('.loader').show();
        document.location = "@(Url.Action("SchemeOfferDetailsReport", "Achivement"))" ;
    }));

</script>
