﻿@model Nop.Plugin.SMS.PlusIntegrator.Models.SMSTemplateModel
@using Nop.Web.Framework;
@using Nop.Core.Infrastructure

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.AllowedTokens)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDisplayFor(model => model.AllowedTokens)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Name)
                        </div>
                        <div class="col-md-9">
                            @Model.Name
                            @Html.HiddenFor(model => model.Name)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.IsActive)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.IsActive)
                            @Html.ValidationMessageFor(model => model.IsActive)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Subject)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Subject)
                            @Html.ValidationMessageFor(model => model.Subject)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Body)
                        </div>
                        <div class="col-md-9">
                            @Html.NopTextAreaFor(model => model.Body, new { rows = "6", cols = "50" })
                            @Html.ValidationMessageFor(model => model.Body)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>       
@*@(Html.LocalizedEditor<Nop.Plugin.SMS.PlusIntegrator.Models.SMSTemplateModel, Nop.Plugin.SMS.PlusIntegrator.Models.SMSTemplateLocalizedModel>("smstemplate-localized",
    @<table class="adminContent">
        <div class="form-group">
            <div class="col-md-3">
                @Html.NopLabelFor(model => model.Locales[item].Subject)
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Locales[item].Subject)
                @Html.ValidationMessageFor(model => model.Locales[item].Subject)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.NopLabelFor(model => model.Locales[item].Body)
            </div>
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Locales[item].Body)
                @Html.ValidationMessageFor(model => model.Locales[item].Body)
            </div>
        </div>
        <div class="form-group">
            <td colspan="2">
                @Html.HiddenFor(model => model.Locales[item].LanguageId)
            </div>
        </div>
    </table>
    ,
    @<table class="adminContent">
        <div class="form-group">
            <div class="col-md-3">
                @Html.NopLabelFor(model => model.Subject)
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Subject)
                @Html.ValidationMessageFor(model => model.Subject)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.NopLabelFor(model => model.Body)
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Locales[item].Body)
                @Html.ValidationMessageFor(model => model.Body)
            </div>
        </div>
    </table>))*@


