﻿@{
    Layout = "";
}
@model Nop.Plugin.Sms.PlusIntegrator.Models.SmsPlusIntegratorModel
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            To receive an SMS notification when an order is placed from your store you need
                            to follow a few simple steps, which are shown below:
                            <ul>
                                <li>
                                    <a href="http://plus.smsintegrator.com/" target='_blank'>
                                        Register for a PlusIntegrator account
                                        here
                                    </a>
                                </li>
                                <li>
                                    PlusIntegrator works with all countries and includes 10 free messages so you can test
                                    SMS notifications
                                </li>
                                <li>
                                    Fill in the form below with your PlusIntegrator account details, including the number
                                    you want the notification messages to be sent to
                                </li>
                                <li> Click 'Save' button</li>
                                <li>
                                    Now when you receive a new order, an SMS text message will be sent to the number
                                    you enter below automatically
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Enabled)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Enabled)
                        @Html.ValidationMessageFor(model => model.Enabled)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.UniCode)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.UniCode)
                        @Html.ValidationMessageFor(model => model.UniCode)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.UserID)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.UserID)
                        @Html.ValidationMessageFor(model => model.UserID)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Password)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <button type="submit" name="save" value="save" class="btn bg-blue">
                            @T("Admin.Common.Save")
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Plugins.Sms.PlusIntegrator.SendTest.Hint")
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @*<div class="col-md-3">
                            <p>
                            <h4>  <strong>@T("Plugins.Sms.PlusIntegrator.SendTest.Hint")</strong></h4>
                            </p>
                        </div>*@
                    <div class="col-md-9">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.TestMessage)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.TestMessage)
                        @Html.ValidationMessageFor(model => model.TestMessage)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.PhoneNumber)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.PhoneNumber)
                        @Html.ValidationMessageFor(model => model.PhoneNumber)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <button type="submit" name="test-sms" value="test-sms" class="btn bg-blue">
                            @T("Plugins.Sms.PlusIntegrator.SendTest")
                        </button>
                    </div>
                </div>
                @if (!String.IsNullOrEmpty(Model.TestSmsResult))
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            &nbsp;
                        </div>
                        <div class="col-md-9" style="color: red">
                            @*<td colspan="2" width="100%" style="color: red">
                            *@
                            @Model.TestSmsResult
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


}
