﻿@model Nop.Plugin.SMS.PlusIntegrator.Models.ManualSMSModel
@using Nop.Web.Framework;
@using Nop.Core.Infrastructure

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = T("Plugins.Sms.PlusIntegrator.SendManualSMS").Text;

    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(model => model.SelectedIds)
    
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Plugins.Sms.PlusIntegrator.SendManualSMS")
        </h1>
        <div class="pull-right">
            <button type="submit" id="sendSMS" name="sendSMS" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SendSMS")
            </button>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.SearchOption)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.SearchOption, new List<SelectListItem>()
                                          {
                                              new SelectListItem(){Text="All ID's", Value="0"},
                                              new SelectListItem(){Text="ID/Name-wise",Value="1"}
                                          }, new { @onchange = "ChangeField(this.value)" })
                                    </div>
                                </div>

                                <div class="form-group" id="trEnterName">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.EnterName)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.EnterName)
                                        @Html.HiddenFor(model => model.CustomerId)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Message)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopTextAreaFor(model => model.Message, new { id = "MessageInput", maxlength = 160, rows = "6", cols = "50" })
                                        @Html.ValidationMessageFor(model => model.Message)
                                        <span id="charsLeft"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="trAllIdNote">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-4">
                                <b id="MessageNote"> @T("Admin.Note.Note") </b>  @T("Admin.Note.SendManualSMS")
                            </div>
                            <div class="col-md-8">
                            </div>
                        </div>
                        <br />
                        <div id="customers-grid"></div>

                        <script>
                            $(document).ready(function () {
                                $("#customers-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("CustomerList", "SmsPlusIntegrator"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: function(response){
                                                for(i=0;i<response.Data.length;i++)
                                                {
                                                    if(response.Data[i].Email=="superadmin@yourstore.com"){
                                                        response.Data.splice(i,1);
                                                    }
                                                }
                                                return response.Data;
                                            },
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: false,
                                    dataBound: onDataBound,
                                    columns: [{
                                        field: "Id",
                                        headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                        width: 50
                                    }, {
                                        field: "MemNo",
                                        title: "@T("Admin.Customers.Customers.MJD_MemNo")",
                                        width: 50
                                    }, {
                                        field: "FullName",
                                        title: "@T("Admin.Customers.Customers.Fields.FullName")",
                                        width: 200
                                    },{

                                        field: "PhoneNumber",
                                        title: "@T("Admin.Customers.Customers.Fields.Phone")",
                                        width: 200
                                    }]
                                });
                            });
                        </script>

                        <script type="text/javascript">

                            var selectedIds = [];

                            $(document).ready(function () {

                                $("#@Html.FieldIdFor(model => model.CustomerId)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-customers").click();
                                        return false;
                                    }
                                });

                                $('#mastercheckbox').click(function () {

                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                //wire up checkboxes.
                                $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                    var $check = $(this);
                                    if ($check.is(":checked") == true) {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked == -1) {
                                            //add id to selectedIds.
                                            selectedIds.push($check.val());
                                        }
                                    }
                                    else {
                                        var checked = jQuery.inArray($check.val(), selectedIds);
                                        if (checked > -1) {
                                            //remove id from selectedIds.
                                            selectedIds = $.grep(selectedIds, function (item, index) {
                                                return item != $check.val();
                                            });
                                        }
                                    }
                                    updateMasterCheckbox();
                                });
                            });

                            function onDataBound(e) {

                                $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                    var currentId = $(this).val();
                                    var checked = jQuery.inArray(currentId, selectedIds);
                                    //set checked based on if current checkbox's value is in selectedIds.
                                    $(this).attr('checked', checked > -1);
                                });

                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
                                var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }

                            function additionalData() {
                                var customerRoleIds = [];
                                $('[name=SearchCustomerRoleIds]:checked').each(function () {
                                    customerRoleIds.push($(this).val());
                                });

                                var data = {
                                    CustomerId: $('#@Html.FieldIdFor(model => model.CustomerId)').val()
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#SearchOption").val("0");
            $('#MessageInput').val('');
            $("#trEnterName").hide();
            $("customers-grid").show();
            $('#validationMessages').html('');
            $("#validationMessages").hide();

            $(function () {
                $("#MessageInput").keyup(function () {
                    var charsLeft = $(this).attr("maxlength") - $(this).val().length;
                    $("#charsLeft").text(charsLeft + " characters left");
                });
            });

            $('#sendSMS').click(function (e) {

                var SearchOption=$('#SearchOption').val();
                var EnterName=$('#EnterName').val();
                var CustomerId=$('#CustomerId').val();
                //var selectedIds=$('#selectedIds').val();
                var Message=$('#Message').val();
                //var selectedIds=selectedIds;
                var validationDivs='';
                var flag=true;

                $('#validationMessages').html('');
                $("#validationMessages").hide();
                $(".alert.alert-success.alert-dismissable").hide(); 
                $(".alert.alert-danger.alert-dismissable").hide();

                if(SearchOption == 1)
                {
                    if(EnterName == '')
                    {
                        validationDivs=validationDivs+ '<div>@T("Admin.Validation.IdNameRequired")</div>';
                        flag=false;
                    }
                    if(EnterName !='' && CustomerId =="")
                    {
                        validationDivs=validationDivs+'<div>@T("Admin.Validation.SelectAutosuggest")</div>';
                        flag=false;
                    }
                }else
                {
                    @*if(selectedIds=='')
                    {
                        validationDivs=validationDivs+ '<div>@T("Admin.Validation.SelectAtLeastOneRecord")</div>';
                        flag=false;
                    }

                    if(selectedIds=='undefined')
                    {
                        validationDivs=validationDivs+ '<div>@T("Admin.Validation.SelectAtLeastOneRecord")</div>';
                        flag=false;
                    }*@
                }

                if(Message =='')
                {
                    validationDivs=validationDivs+ '<div>@T("Admin.SendManualSMS.EnterMessage")</div>';
                    flag=false;
                }

                if(flag)
                {
                    var ids = selectedIds.join(",");
                    $('#SelectedIds').val(ids);
                }
                else
                {
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs);
                    return false;
                }
            });
        });
        function ChangeField(selectedValue) {

            if (selectedValue == 0) {
                $("#EnterName").val("");
                $("#CustomerId").val("");
                $("#Message").val("");
                $("#trEnterName").hide();
                $("#trAllIdNote").show();
                $("#customers-grid").show();
                var grid = $('#customers-grid').data('kendoGrid');
                grid.dataSource.page(1); //new search. Set page size to 1
                //grid.dataSource.read(); we already loaded the grid above using "page" function
                //clear selected checkboxes
                $('.checkboxGroups').attr('checked', false).change();
                selectedIds = [];
                return false;
            }
            else if (selectedValue == 1) {
                $("#EnterName").val("");
                $("#CustomerId").val("");
                $("#Message").val("");
                $("#trEnterName").show();
                $("#customers-grid").hide();
                $("#trAllIdNote").hide();
            }
        }


        $('#EnterName').autocomplete({
            delay: 500,
            minLength: 1,
            source: '@(Url.Action("SearchTermAutoComplete", "SmsPlusIntegrator"))',
            appendTo: '.search-box',
            select: function (event, ui) {

                $("#CustomerId").val(ui.item.Id);
                $("#EnterName").val(ui.item.label);
                $("#divfirstname").show();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var t = item.label;
            //html encode
            t = $('<div/>').text(t).html();
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a><span>" + t + "</span></a>")
                .appendTo(ul);
        };

    </script>

}




