﻿@model HeaderLinksModel
@using Nop.Web.Models.Common;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Services.Customers;
@{  
    var isVFMember = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.MemId;
    if (isVFMember == null || isVFMember == -1)
    {
        isVFMember = null;
    }   
}
<style>
    .ProfileImage {
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
</style>
<div class="header-links">
    <ul>
        @Html.Widget("header_links_before")
        @if (Model.IsAuthenticated)
        {
            if (isVFMember > 0 && isVFMember != null)
            {
                <li><a href="@Url.RouteUrl("Dashboard")" class="ico-account" id="linkMydesktop">@T("Dashboard.Title.MyDesktop")</a></li>
            }
            <li>
                <a href="@Url.RouteUrl("CustomerInfo")" class="ico-account" title="@Model.CustomerEmailUsername">@Model.CustomerEmailUsername</a>
                @if (isVFMember != null && Model.Status == "In-Active")
                {
                    <span style="color:red">@T("Customer.Status", Model.Status)</span>
                }
              
            </li>
    <li>
        @if (!String.IsNullOrEmpty(Model.ProfilePictureUrl))
        {
            <a><img src="@(Model.ProfilePictureUrl)" alt="Profile Picture" id="PofileImage" class="ProfileImage" /></a>
        }
    </li>
            <li><a href="@Url.RouteUrl("Logout")" class="ico-logout">@T("Account.Logout")</a></li>
        }
        else
        {
            <li><a href="@Url.RouteUrl("Register")" class="ico-register">@T("Account.Register")</a></li>           
            <li><a href="@Url.RouteUrl("Login")" class="ico-login">@T("Account.Login")</a></li>
        }
        @if (Model.AllowPrivateMessages)
        {
            <li>
                <a href="@Url.RouteUrl("PrivateMessages", new { tab = "" })" class="ico-inbox">
                    <span class="inbox-label">@T("PrivateMessages.Inbox")</span>
                    <span class="inbox-unread">@Model.UnreadPrivateMessages</span>
                </a>
            </li>
        }
        @if (Model.WishlistEnabled)
        {
            <li>
                <a href="@Url.RouteUrl("Wishlist")" class="ico-wishlist">
                    <span class="wishlist-label">@T("Wishlist")</span>
                    <span class="wishlist-qty">@T("Wishlist.HeaderQuantity", Model.WishlistItems)</span>
                </a>
            </li>
        }
        @if (Model.ShoppingCartEnabled)
        {
            <li id="topcartlink">
                <a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart">
                    <span class="cart-label">@T("ShoppingCart")</span>
                    <span class="cart-qty">@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</span>
                </a>
            </li>
        }
        <li id="notificationlink">
            <a href="@Url.RouteUrl("CustomerNotifications")" class="ico-cart">
                <span class="cart-label">@T("Notifications")</span>
                <span class="cart-qty">@T("Notifications.Count", Model.NotificationsCount)</span>
            </a>
        </li>
        @Html.Widget("header_links_after")
    </ul>
    @if (Model.AllowPrivateMessages && !string.IsNullOrEmpty(Model.AlertMessage))
    {
        //new private message notification
        <script type="text/javascript">
            $(document).ready(function () {
                displayPopupNotification('@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.AlertMessage))', 'success', false);
            });
        </script>
    }
    @if (Model.ShoppingCartEnabled)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $('.header').on('mouseenter', '#topcartlink', function () {
                    $('#flyout-cart').addClass('active');
                });
                $('.header').on('mouseleave', '#topcartlink', function () {
                    $('#flyout-cart').removeClass('active');
                });
                $('.header').on('mouseenter', '#flyout-cart', function () {
                    $('#flyout-cart').addClass('active');
                });
                $('.header').on('mouseleave', '#flyout-cart', function () {
                    $('#flyout-cart').removeClass('active');
                });
            });
        </script>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $('.header').on('mouseenter', '#notificationlink', function () {
                $('#notification-list').addClass('active');
            });
            $('.header').on('mouseleave', '#notificationlink', function () {
                $('#notification-list').removeClass('active');
            });
            $('.header').on('mouseenter', '#notification-list', function () {
                $('#notification-list').addClass('active');
            });
            $('.header').on('mouseleave', '#notification-list', function () {
                $('#notification-list').removeClass('active');
            });

            $('#linkMydesktop').on('click', function (e) {
              
                $(".mega-menu").hide();
                $(".header-menu").show();
            });
            
        });
    </script>

</div>
