﻿@{
    Layout = "";
}
@model ConfigurationModel
@using Nop.Plugin.Payments.Paytm.Models;
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="adminContent">
        
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.MerchantId):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.MerchantId)
                @Html.ValidationMessageFor(model => model.MerchantId)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.MerchantKey):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.MerchantKey)
                @Html.ValidationMessageFor(model => model.MerchantKey)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Website):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Website)
                @Html.ValidationMessageFor(model => model.Website)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.IndustryTypeId):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.IndustryTypeId)
                @Html.ValidationMessageFor(model => model.IndustryTypeId)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PaymentUrl):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.PaymentUrl)
                @Html.ValidationMessageFor(model => model.PaymentUrl)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PendingStatus):
            </td>
            <td class="adminData">
               @Html.CheckBoxFor(model => model.PendingStatus)
                @Html.ValidationMessageFor(model => model.PendingStatus)
            </td>
        </tr>
        @*<tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CallBackUrl):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CallBackUrl)
                @Html.ValidationMessageFor(model => model.CallBackUrl)
            </td>
        </tr>*@
        <tr>
            <td colspan="2">
                <button type="submit" name="save" value="save" class="k-button">
                    Save</button>
            </td>
        </tr>
    </table>
    
}