﻿@{
    Layout = "";
}
@model Nop.Plugin.Payments.Paytm.Models.PaymentInfoModel
@using Nop.Web.Framework;
<table width="100%" cellpadding="0" cellspacing="0" style="text-align: center;">
    <tr>
        <td>
            <b>@T("Plugins.Payments.Paytm.RedirectionTip")</b>
        </td>
    </tr>
</table>
