﻿@model OrderModel

@using Nop.Core.Domain.Tax;
@using Nop.Core.Domain.Orders;
@using Nop.Services
@if (!Model.IsLoggedInAsVendor)
{
    <script type="text/javascript">
        $(document).ready(function () {
            toggleChangeOrderStatus(false);
            toggleOrderTotals(false);
            toggleCC(false);
        });

        function toggleChangeOrderStatus(editmode) {
            if (editmode) {
                $('#pnlChangeOrderStatus').show();
                $('#btnChangeOrderStatus').hide();
            } else {
                $('#pnlChangeOrderStatus').hide();
                $('#btnChangeOrderStatus').show();
            }
        }

        function toggleOrderTotals(editmode) {
            if (editmode) {
                $('#trEditOrderTotals').show();
                $('#btnEditOrderTotals').hide();
                $('#btnSaveOrderTotals').show();
                $('#btnCancelOrderTotals').show();
            } else {
                $('#trEditOrderTotals').hide();
                $('#btnEditOrderTotals').show();
                $('#btnSaveOrderTotals').hide();
                $('#btnCancelOrderTotals').hide();
            }
        }

        function toggleCC(editmode) {
            if (editmode) {
                $('#lblCardType').hide();
                $('#@Html.FieldIdFor(model => model.CardType)').show();
                $('#lblCardName').hide();
                $('#@Html.FieldIdFor(model => model.CardName)').show();
                $('#lblCardNumber').hide();
                $('#@Html.FieldIdFor(model => model.CardNumber)').show();
                $('#lblCardCvv2').hide();
                $('#@Html.FieldIdFor(model => model.CardCvv2)').show();
                $('#lblCardExpirationMonth').hide();
                $('#@Html.FieldIdFor(model => model.CardExpirationMonth)').show();
                $('#lblCardExpirationYear').hide();
                $('#@Html.FieldIdFor(model => model.CardExpirationYear)').show();
                $('#btnEditCC').hide();
                $('#btnSaveCC').show();
                $('#btnCancelCC').show();
            } else {
                $('#lblCardType').show();
                $('#@Html.FieldIdFor(model => model.CardType)').hide();
                $('#lblCardName').show();
                $('#@Html.FieldIdFor(model => model.CardName)').hide();
                $('#lblCardNumber').show();
                $('#@Html.FieldIdFor(model => model.CardNumber)').hide();
                $('#lblCardCvv2').show();
                $('#@Html.FieldIdFor(model => model.CardCvv2)').hide();
                $('#lblCardExpirationMonth').show();
                $('#@Html.FieldIdFor(model => model.CardExpirationMonth)').hide();
                $('#lblCardExpirationYear').show();
                $('#@Html.FieldIdFor(model => model.CardExpirationYear)').hide();
                $('#btnEditCC').show();
                $('#btnSaveCC').hide();
                $('#btnCancelCC').hide();
            }
        }
    </script>
}
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            @if (!Model.IsLoggedInAsVendor)
            {
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.OrderStatus)
                    </div>
                    <div class="col-md-9">
                        <div class="input-group input-group-short">
                            <div class="input-group-text">
                                <strong>
                                    @Html.NopDisplayFor(model => model.OrderStatus)
                                </strong>
                            </div>
                            <div class="input-group-btn">
                                @*@if (Model.CanCancelOrder)
                                    {
                                        <button type="submit" name="cancelorder" id="cancelorder" class="btn bg-red" style="margin-right: 3px;">
                                                @T("Admin.Orders.Fields.OrderStatus.Cancel")
                                            </button>
                                            @Html.ActionConfirmation("cancelorder")
                                    }*@
                                @*<button type="submit" name="btnChangeOrderStatus" onclick="toggleChangeOrderStatus(true);return false;" id="btnChangeOrderStatus" class="btn btn-primary">
                                        @T("Admin.Orders.Fields.OrderStatus.Change")
                                    </button>*@
                                <div id="pnlChangeOrderStatus" style="margin-top: 3px;">
                                    @*@Html.NopDropDownListFor(model => model.OrderStatusId, ((OrderStatus)Model.OrderStatusId).ToSelectList())*@
                                    <button type="submit" name="btnSaveOrderStatus" id="btnSaveOrderStatus" class="btn btn-primary" style="margin-left: 3px">
                                        @T("Admin.Common.Save")
                                    </button>
                                    @Html.ActionConfirmation("btnSaveOrderStatus")
                                    <button type="submit" name="btnCancelOrderStatus" onclick="toggleChangeOrderStatus(false);return false;" id="btnCancelOrderStatus" class="btn bg-teal" style="margin-left: 3px">
                                        @T("Admin.Common.Cancel")
                                    </button>
                                    <div class="input-group-btn-hint">
                                        <em>@T("Admin.Orders.Fields.OrderStatus.Change.ForAdvancedUsers")</em>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                //vendors should see whether or order is cancelled
                if (Model.OrderStatusId == (int)OrderStatus.Cancelled)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            &nbsp;
                        </div>
                        <div class="col-md-9">
                            <strong>
                                @T("Admin.Orders.Fields.OrderStatus.CancelledNotification")
                            </strong>
                        </div>
                    </div>
                }
            }
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.Id)
                </div>
                <div class="col-md-9">
                    @Html.NopDisplayFor(model => model.Id)
                </div>
            </div>
            @if (!Model.IsLoggedInAsVendor)
            {
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.OrderGuid)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDisplayFor(model => model.OrderGuid)
                    </div>
                </div>
            }
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.StoreName)
                </div>
                <div class="col-md-9">
                    @Html.NopDisplayFor(model => model.StoreName)
                </div>
            </div>
        </div>
    </div>

    @if (!Model.IsLoggedInAsVendor)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.CustomerId)
                    </div>
                    <div class="col-md-9">
                        @if (Model.IsGuest || Model.Istrader == true)
                        {
                            @Html.Label(Model.CustomerInfo,new { @style= "margin-top: 6px;" })

                        }
                        else
                        {
                            @Html.ActionLink(Model.CustomerInfo, "Edit", "Customer", new { id = Model.CustomerId }, new { })

                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.CustomerIp)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDisplayFor(model => model.CustomerIp)
                    </div>
                </div>
                @if (Model.RecurringPaymentId > 0)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.RecurringPaymentId)
                        </div>
                        <div class="col-md-9">
                            <a href="@Url.Action("Edit", "RecurringPayment", new {id = Model.RecurringPaymentId})">@T("Admin.Common.View")</a>
                        </div>
                    </div>
                }
                @if (!String.IsNullOrEmpty(Model.VatNumber))
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.VatNumber)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDisplayFor(model => model.VatNumber)
                        </div>
                    </div>
                }
                @if (Model.AffiliateId > 0)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.AffiliateId)
                        </div>
                        <div class="col-md-9">
                            <a href="@Url.Action("Edit", "Affiliate", new {id = Model.AffiliateId})">@Model.AffiliateName - @T("Admin.Common.View")</a>
                        </div>
                    </div>
                }

                @if (Model.partialPaymentFlag)
                {
                    foreach (var paymentDetail in Model.paymentDetail)
                    {
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper">
                                    <label class="control-label">@paymentDetail.PaymentMethodSystemName</label>
                                    <div class="ico-help" title="@T("Admin.Orders.Fields.OrderSubtotal.Hint")">
                                        <i class="fa fa-question-circle"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-text-row">
                                            @paymentDetail.OrderTotal
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="control-label">@T("Admin.Orders.Fields.OrderSubtotal")</label>
                            <div class="ico-help" title="@T("Admin.Orders.Fields.OrderSubtotal.Hint")">
                                <i class="fa fa-question-circle"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            @if (Model.AllowCustomersToSelectTaxDisplayType || Model.TaxDisplayType == TaxDisplayType.IncludingTax)
                            {
                                <div class="col-md-6">
                                    <div class="form-text-row">
                                        @Html.DisplayFor(model => model.OrderSubtotalInclTax) <strong>@T("Admin.Orders.Fields.OrderSubtotalInclTax")</strong>
                                    </div>
                                </div>
                            }
                            @if (Model.AllowCustomersToSelectTaxDisplayType || Model.TaxDisplayType == TaxDisplayType.ExcludingTax)
                            {
                                <div class="col-md-6">
                                    <div class="form-text-row">
                                        @Html.DisplayFor(model => model.OrderSubtotalExclTax) <strong>@T("Admin.Orders.Fields.OrderSubtotalExclTax")</strong>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                @if (((Model.AllowCustomersToSelectTaxDisplayType || Model.TaxDisplayType == TaxDisplayType.IncludingTax) && !String.IsNullOrEmpty(Model.OrderSubTotalDiscountInclTax)) ||
                    ((Model.AllowCustomersToSelectTaxDisplayType || Model.TaxDisplayType == TaxDisplayType.ExcludingTax) && !String.IsNullOrEmpty(Model.OrderSubTotalDiscountExclTax)))
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                <label class="control-label">@T("Admin.Orders.Fields.OrderSubTotalDiscount")</label>
                                <div class="ico-help" title="@T("Admin.Orders.Fields.OrderSubTotalDiscount.Hint")">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                @if ((Model.AllowCustomersToSelectTaxDisplayType || Model.TaxDisplayType == TaxDisplayType.IncludingTax) && !String.IsNullOrEmpty(Model.OrderSubTotalDiscountInclTax))
                                {
                                    <div class="col-md-2">
                                        <div class="form-text-row">
                                            @Html.DisplayFor(model => model.OrderSubTotalDiscountInclTax) <strong>@T("Admin.Orders.Fields.OrderSubTotalDiscountInclTax")</strong>
                                        </div>
                                    </div>
                                }
                                @if ((Model.AllowCustomersToSelectTaxDisplayType || Model.TaxDisplayType == TaxDisplayType.ExcludingTax) && !String.IsNullOrEmpty(Model.OrderSubTotalDiscountExclTax))
                                {
                                    <div class="col-md-10">
                                        <div class="form-text-row">
                                            @Html.DisplayFor(model => model.OrderSubTotalDiscountExclTax) <strong>@T("Admin.Orders.Fields.OrderSubTotalDiscountExclTax")</strong>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">

                            <label class="control-label">@T("Admin.Orders.Fields.OrderShipping")</label>
                            <div class="ico-help" title="@T("Admin.Orders.Fields.OrderShipping.Hint")">
                                <i class="fa fa-question-circle"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            @if (Model.AllowCustomersToSelectTaxDisplayType || Model.TaxDisplayType == TaxDisplayType.IncludingTax)
                            {
                                <div class="col-md-6">
                                    <div class="form-text-row">
                                        @Html.DisplayFor(model => model.OrderShippingInclTax) <strong>@T("Admin.Orders.Fields.OrderShippingInclTax")</strong>
                                    </div>
                                </div>
                            }
                            @if (Model.AllowCustomersToSelectTaxDisplayType || Model.TaxDisplayType == TaxDisplayType.ExcludingTax)
                            {
                                <div class="col-md-6">
                                    <div class="form-text-row">
                                        @Html.DisplayFor(model => model.OrderShippingExclTax) <strong>@T("Admin.Orders.Fields.OrderShippingExclTax")</strong>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                @if (((Model.AllowCustomersToSelectTaxDisplayType || Model.TaxDisplayType == TaxDisplayType.IncludingTax) && !String.IsNullOrEmpty(Model.PaymentMethodAdditionalFeeInclTax)) ||
                    ((Model.AllowCustomersToSelectTaxDisplayType || Model.TaxDisplayType == TaxDisplayType.ExcludingTax) && !String.IsNullOrEmpty(Model.PaymentMethodAdditionalFeeExclTax)))
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                <label class="control-label">@T("Admin.Orders.Fields.PaymentMethodAdditionalFee")</label>
                                <div class="ico-help" title="@T("Admin.Orders.Fields.PaymentMethodAdditionalFee.Hint")">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                @if (Model.AllowCustomersToSelectTaxDisplayType || Model.TaxDisplayType == TaxDisplayType.IncludingTax)
                                {
                                    <div class="col-md-2">
                                        <div class="form-text-row">
                                            @Html.DisplayFor(model => model.PaymentMethodAdditionalFeeInclTax) <strong>@T("Admin.Orders.Fields.PaymentMethodAdditionalFeeInclTax")</strong>
                                        </div>
                                    </div>
                                }
                                @if (Model.AllowCustomersToSelectTaxDisplayType || Model.TaxDisplayType == TaxDisplayType.ExcludingTax)
                                {
                                    <div class="col-md-2">
                                        <div class="form-text-row">
                                            @Html.DisplayFor(model => model.PaymentMethodAdditionalFeeExclTax) <strong>@T("Admin.Orders.Fields.PaymentMethodAdditionalFeeExclTax")</strong>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                @if (Model.DisplayTaxRates)
                {
                    foreach (var tr in Model.TaxRates)
                    {
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Tax) <span style="padding-top: 7px;margin-right: 5px;float: right;">@tr.Rate%</span>
                            </div>
                            <div class="col-md-9">
                                @tr.Value
                            </div>
                        </div>
                    }
                }
                @if (Model.DisplayTax)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Tax)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDisplayFor(model => model.Tax)
                        </div>
                    </div>
                }
                @if (!String.IsNullOrEmpty(Model.OrderTotalDiscount))
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.OrderTotalDiscount)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDisplayFor(model => model.OrderTotalDiscount)
                        </div>
                    </div>
                }
                @foreach (var gc in Model.GiftCards)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.GiftCards[0].CouponCode)
                            <span style="padding-top: 7px;margin-right: 5px;float: right;">(@(gc.CouponCode))</span>
                        </div>
                        <div class="col-md-9">
                            @Html.NopDisplay(gc.Amount)
                        </div>
                    </div>
                }
                @if (Model.RedeemedRewardPoints > 0)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.RedeemedRewardPoints)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDisplay(Model.RedeemedRewardPoints + @T("Admin.Orders.Fields.RedeemedRewardPoints.Points").Text + "/" + Model.RedeemedRewardPointsAmount)
                        </div>
                    </div>
                }
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.OrderTotal)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDisplayFor(model => model.OrderTotal)
                    </div>
                </div>
                @if (!String.IsNullOrEmpty(Model.RefundedAmount))
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.RefundedAmount)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDisplayFor(model => model.RefundedAmount)
                        </div>
                    </div>
                }
                @if (Model.UsedDiscounts.Count > 0)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.UsedDiscounts)
                        </div>
                        <div class="col-md-9">
                            @for (int i = 0; i < Model.UsedDiscounts.Count; i++)
                            {
                                var discount = Model.UsedDiscounts[i];
                                <a href="@Url.Action("Edit", "Discount", new {id = discount.DiscountId})">@discount.DiscountName</a>
                                if (i != Model.UsedDiscounts.Count - 1)
                                {
                                    <text>,</text>
                                }
                            }
                        </div>
                    </div>
                }
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Profit)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDisplayFor(model => model.Profit)
                    </div>
                </div>
                <div id="trEditOrderTotals">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.OrderSubtotalInclTaxValue)
                        </div>
                        <div class="col-md-9">
                            <div class="pull-left margin-r-10">
                                @T("Admin.Orders.Fields.Edit.InclTax")
                                @Html.NopEditorFor(model => model.OrderSubtotalInclTaxValue)
                            </div>
                            <div class="pull-left">
                                @T("Admin.Orders.Fields.Edit.ExclTax")
                                @Html.NopEditorFor(model => model.OrderSubtotalExclTaxValue)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.OrderSubTotalDiscountInclTaxValue)
                        </div>
                        <div class="col-md-9">
                            <div class="pull-left margin-r-10">
                                @T("Admin.Orders.Fields.Edit.InclTax")
                                @Html.NopEditorFor(model => model.OrderSubTotalDiscountInclTaxValue)
                            </div>
                            <div class="pull-left">
                                @T("Admin.Orders.Fields.Edit.ExclTax")
                                @Html.NopEditorFor(model => model.OrderSubTotalDiscountExclTaxValue)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.OrderShippingInclTaxValue)
                        </div>
                        <div class="col-md-9">
                            <div class="pull-left margin-r-10">
                                @T("Admin.Orders.Fields.Edit.InclTax")
                                @Html.NopEditorFor(model => model.OrderShippingInclTaxValue)
                            </div>
                            <div class="pull-left">
                                @T("Admin.Orders.Fields.Edit.ExclTax")
                                @Html.NopEditorFor(model => model.OrderShippingExclTaxValue)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.PaymentMethodAdditionalFeeInclTaxValue)
                        </div>
                        <div class="col-md-9">
                            <div class="pull-left margin-r-10">
                                @T("Admin.Orders.Fields.Edit.InclTax")
                                @Html.NopEditorFor(model => model.PaymentMethodAdditionalFeeInclTaxValue)
                            </div>
                            <div class="pull-left">
                                @T("Admin.Orders.Fields.Edit.ExclTax")
                                @Html.NopEditorFor(model => model.PaymentMethodAdditionalFeeExclTaxValue)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.TaxRatesValue)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.TaxRatesValue)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.TaxValue)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.TaxValue)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.OrderTotalDiscountValue)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.OrderTotalDiscountValue)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.OrderTotalValue)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.OrderTotalValue)
                        </div>
                    </div>
                </div>
                @*<div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="submit" name="btnEditOrderTotals" onclick="toggleOrderTotals(true);return false;" id="btnEditOrderTotals" class="btn btn-primary">
                                @T("Admin.Orders.Fields.EditOrderTotals")
                            </button>

                            <button type="submit" name="btnSaveOrderTotals" id="btnSaveOrderTotals" class="btn btn-primary">
                                @T("Admin.Orders.Fields.SaveOrderTotals")
                            </button>
                            @Html.ActionConfirmation("btnSaveOrderTotals")

                            <button type="submit" name="btnCancelOrderTotals" onclick="toggleOrderTotals(false);return false;" id="btnCancelOrderTotals" class="btn bg-teal">
                                @T("Admin.Common.Cancel")
                            </button>
                        </div>
                    </div>*@
                @if (Model.AllowStoringCreditCardNumber)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CardType)
                        </div>
                        <div class="col-md-9">
                            <div id="lblCardType">
                                @Html.NopDisplayFor(model => model.CardType)
                            </div>
                            @Html.NopEditorFor(model => model.CardType)
                        </div>
                    </div>
                }
                @if (Model.AllowStoringCreditCardNumber)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CardName)
                        </div>
                        <div class="col-md-9">
                            <div id="lblCardName">
                                @Html.NopDisplayFor(model => model.CardName)
                            </div>
                            @Html.NopEditorFor(model => model.CardName)
                        </div>
                    </div>
                }
                @if (Model.AllowStoringCreditCardNumber || !String.IsNullOrEmpty(Model.CardNumber))
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CardNumber)
                        </div>
                        <div class="col-md-9">
                            <div id="lblCardNumber">
                                @Html.NopDisplayFor(model => model.CardNumber)
                            </div>
                            @Html.NopEditorFor(model => model.CardNumber)
                        </div>
                    </div>
                }
                @if (Model.AllowStoringCreditCardNumber)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CardCvv2)
                        </div>
                        <div class="col-md-9">
                            <div id="lblCardCvv2">
                                @Html.NopDisplayFor(model => model.CardCvv2)
                            </div>
                            @Html.NopEditorFor(model => model.CardCvv2)
                        </div>
                    </div>
                }
                @if (Model.AllowStoringCreditCardNumber)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CardExpirationMonth)
                        </div>
                        <div class="col-md-9">
                            <div id="lblCardExpirationMonth">
                                @Html.NopDisplayFor(model => model.CardExpirationMonth)
                            </div>
                            @Html.NopEditorFor(model => model.CardExpirationMonth)
                        </div>
                    </div>
                }
                @if (Model.AllowStoringCreditCardNumber)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CardExpirationYear)
                        </div>
                        <div class="col-md-9">
                            <div id="lblCardExpirationYear">
                                @Html.NopDisplayFor(model => model.CardExpirationYear)
                            </div>
                            @Html.NopEditorFor(model => model.CardExpirationYear)
                        </div>
                    </div>
                }
                @if (Model.AllowStoringCreditCardNumber)
                {
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="submit" name="btnEditCC" onclick="toggleCC(true);return false;" id="btnEditCC" class="btn btn-primary">
                                @T("Admin.Orders.Fields.EditCC")
                            </button>

                            <button type="submit" name="btnSaveCC" id="btnSaveCC" class="btn btn-primary">
                                @T("Admin.Orders.Fields.SaveCC")
                            </button>
                            @Html.ActionConfirmation("btnSaveCC")

                            <button type="submit" name="btnCancelCC" onclick="toggleCC(false);return false;" id="btnCancelCC" class="btn bg-teal">
                                @T("Admin.Common.Cancel")
                            </button>
                        </div>
                    </div>
                }
                @if (!String.IsNullOrEmpty(Model.AuthorizationTransactionId))
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.AuthorizationTransactionId)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDisplayFor(model => model.AuthorizationTransactionId)
                        </div>
                    </div>
                }
                @if (!String.IsNullOrEmpty(Model.CaptureTransactionId))
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CaptureTransactionId)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDisplayFor(model => model.CaptureTransactionId)
                        </div>
                    </div>
                }
                @if (!String.IsNullOrEmpty(Model.SubscriptionTransactionId))
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.SubscriptionTransactionId)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDisplayFor(model => model.SubscriptionTransactionId)
                        </div>
                    </div>
                }
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.PaymentMethod)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDisplayFor(model => model.PaymentMethod)
                    </div>
                </div>


                @if (Model.PaymentMethod == "Cheque / Money Order" || Model.PaymentMethod == "Demand Draft")
                {
                    //if (Model.orderOH_code != null)
                    //{

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.BankName)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDisplayFor(model => model.BankName)
                                @Html.HiddenFor(model => model.BankName)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.BranchName)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDisplayFor(model => model.BranchName)
                                @Html.HiddenFor(model => model.BranchName)
                            </div>
                        </div>


                        if (Model.PaymentMethod == "Cheque / Money Order")
                        {

                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.ChqueNo)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopDisplayFor(model => model.ChqDDNo)
                                    @Html.HiddenFor(model => model.ChqDDNo)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.ChqueDate)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopDisplayFor(model => model.ChqueDate)
                                    @Html.HiddenFor(model => model.ChqueDate)
                                </div>
                            </div>

                        }
                        if (Model.PaymentMethod == "Demand Draft")
                        {
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.DDNo)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopDisplayFor(model => model.ChqDDNo)
                                    @Html.HiddenFor(model => model.ChqDDNo)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.ChqDDNo)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopDisplayFor(model => model.ChqDDNo)
                                    @Html.HiddenFor(model => model.ChqDDNo)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.DDDate)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopDisplayFor(model => model.ChqDDDate)
                                    @Html.HiddenFor(model => model.ChqDDDate)
                                </div>
                            </div>

                        }
                        if (Model.UpoadedReceipt != "-")
                        {

                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.UpoadedReceipt)
                                </div>
                                <div class="col-md-9">
                                    <a onclick="javascript:OpenWindow('@Url.Content("~/Admin/Order/ViewImage")?Id=@(Model.PictureId)', 800, 250, true); return false;" style='cursor:pointer'>
                                        @*<img src="@(Model.UpoadedReceipt)" alt="Receipt" accept="image/gif, image/jpeg, image/png" width='40px' height='40px' />*@
                                        Receipt
                                    </a>
                                </div>
                            </div>

                        }
                        else
                        {
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.UpoadedReceipt)
                                </div>
                                <div class="col-md-9">
                                    @Html.NopDisplayFor(model => model.UpoadedReceipt)
                                    @Html.HiddenFor(model => model.UpoadedReceipt)
                                </div>
                            </div>

                        }
                        //}
                    }

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Comment)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDisplayFor(model => model.Comment)
                    </div>
                </div>

            </div>
        </div>
    }
    @if (Model.IsPVEnabled)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.PV)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDisplayFor(model => model.PV)
                        @Html.HiddenFor(model => model.PV)
                    </div>
                </div>
            </div>
        </div>
    }

    @if (Model.IsBVEnabled)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.BV)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDisplayFor(model => model.BV)
                        @Html.HiddenFor(model => model.BV)
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.PaymentStatus)
                </div>
                <div class="col-md-9">
                    @Html.NopDisplayFor(model => model.PaymentStatus)
                </div>
            </div>
            @if (Model.ManualDateEnabled && Model.CanMarkOrderAsPaid)
            {
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ManualDate)
                    </div>
                    <div class="col-md-9">
                        @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.ManualDay),
                            Html.FieldNameFor(x => x.ManualMonth),
                            Html.FieldNameFor(x => x.ManualYear),
                            DateTime.Now.Year - 110,
                            DateTime.Now.Year,
                            Model.ManualDay,
                            Model.ManualMonth,
                            Model.ManualYear)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ManualHours)
                    </div>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.ManualHours, new List<SelectListItem>
                                () { new SelectListItem { Text = "00", Value = "0" }, new SelectListItem { Text = "01", Value = "1" }, new SelectListItem { Text = "02", Value = "2" }
                                , new SelectListItem { Text = "03", Value = "3" }, new SelectListItem { Text = "04", Value = "4" }, new SelectListItem { Text = "05", Value = "5" }, new SelectListItem { Text = "06", Value = "6" }
                                , new SelectListItem { Text = "07", Value = "7" }, new SelectListItem { Text = "08", Value = "8" }, new SelectListItem { Text = "09", Value = "9" }, new SelectListItem { Text = "10", Value = "10" }, new SelectListItem { Text = "11", Value = "11" }, new SelectListItem { Text = "12", Value = "12" }
                                }, new { @class = "valid" })

                        @Html.DropDownListFor(model => model.ManualMinutes, new List<SelectListItem>
                                    () { new SelectListItem { Text = "00", Value = "0" }, new SelectListItem { Text = "01", Value = "1" }, new SelectListItem { Text = "02", Value = "2" }
                                    , new SelectListItem { Text = "03", Value = "3" }, new SelectListItem { Text = "04", Value = "4" }, new SelectListItem { Text = "05", Value = "5" }, new SelectListItem { Text = "06", Value = "6" }
                                    , new SelectListItem { Text = "07", Value = "7" }, new SelectListItem { Text = "08", Value = "8" }, new SelectListItem { Text = "09", Value = "9" }, new SelectListItem { Text = "10", Value = "10" }, new SelectListItem { Text = "11", Value = "11" }, new SelectListItem { Text = "12", Value = "12" }
                                    , new SelectListItem { Text = "13", Value = "13" }, new SelectListItem { Text = "14", Value = "14" }, new SelectListItem { Text = "15", Value = "15" }, new SelectListItem { Text = "16", Value = "16" }, new SelectListItem { Text = "17", Value = "17" }, new SelectListItem { Text = "18", Value = "18" }, new SelectListItem { Text = "19", Value = "19" }, new SelectListItem { Text = "20", Value = "20" }, new SelectListItem { Text = "21", Value = "21" }, new SelectListItem { Text = "22", Value = "22" }, new SelectListItem { Text = "23", Value = "23" }
                                    , new SelectListItem { Text = "24", Value = "24" }, new SelectListItem { Text = "25", Value = "25" }, new SelectListItem { Text = "26", Value = "26" }, new SelectListItem { Text = "27", Value = "27" }, new SelectListItem { Text = "28", Value = "28" }
                                    , new SelectListItem { Text = "29", Value = "29" }, new SelectListItem { Text = "30", Value = "30" }, new SelectListItem { Text = "31", Value = "31" }, new SelectListItem { Text = "32", Value = "32" }
                                    , new SelectListItem { Text = "33", Value = "33" }, new SelectListItem { Text = "34", Value = "34" }, new SelectListItem { Text = "35", Value = "35" }
                                    , new SelectListItem { Text = "36", Value = "36" }, new SelectListItem { Text = "37", Value = "37" }, new SelectListItem { Text = "38", Value = "38" }, new SelectListItem { Text = "39", Value = "39" }
                                    , new SelectListItem { Text = "40", Value = "40" }, new SelectListItem { Text = "41", Value = "41" }, new SelectListItem { Text = "42", Value = "42" }
                                    , new SelectListItem { Text = "43", Value = "43" }, new SelectListItem { Text = "44", Value = "44" }, new SelectListItem { Text = "45", Value = "45" }, new SelectListItem { Text = "46", Value = "46" } , new SelectListItem { Text = "47", Value = "47" }, new SelectListItem { Text = "48", Value = "48" }, new SelectListItem { Text = "49", Value = "49" }
                                    , new SelectListItem { Text = "50", Value = "50" }, new SelectListItem { Text = "51", Value = "51" }, new SelectListItem { Text = "52", Value = "52" }, new SelectListItem { Text = "53", Value = "53" }
                                    , new SelectListItem { Text = "54", Value = "54" }, new SelectListItem { Text = "55", Value = "55" }, new SelectListItem { Text = "56", Value = "56" }, new SelectListItem { Text = "57", Value = "57" } , new SelectListItem { Text = "58", Value = "58" }, new SelectListItem { Text = "59", Value = "59" }
                                    }, new { @class = "valid" })
                        @Html.DropDownListFor(model => model.ManualTimeZone, new List<SelectListItem>() { new SelectListItem { Text = "AM", Value = "AM" }, new SelectListItem { Text = "PM", Value = "PM" } }, new { @class = "valid" })
                    </div>
                </div>
            }
            @if (Model.CanCapture || Model.CanMarkOrderAsPaid || Model.CanRefund || Model.CanRefundOffline ||
                Model.CanPartiallyRefund || Model.CanPartiallyRefundOffline || Model.CanVoid || Model.CanVoidOffline || Model.CanCancelOrder)
            {
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        @if (!Model.IsLoggedInAsVendor)
                        {
                            if (Model.CanCapture)
                            {
                                <button type="submit" name="captureorder" id="captureorder" class="btn btn-primary">
                                    @T("Admin.Orders.Fields.Capture")
                                </button>
                                <text>&nbsp;</text>
                                @Html.ActionConfirmation("captureorder")
                            }
                            if (Model.CanMarkOrderAsPaid)
                            {
                                <button type="submit" name="markorderaspaid" id="markorderaspaid" class="btn btn-primary">
                                    @T("Admin.Orders.Fields.MarkAsPaid")
                                </button>
                                <text>&nbsp;</text>
                                @Html.ActionConfirmation("markorderaspaid")
                            }
                            if (Model.CanCancelOrder)
                            {
                                <button type="submit" name="cancelorder" id="cancelorder" class="btn bg-red" style="margin-right: 3px;">
                                    @T("Admin.Orders.Fields.OrderStatus.Cancel")
                                </button>
                                @Html.ActionConfirmation("cancelorder")
                            }
                            if (Model.CanRefund)
                            {
                                @*<button type="submit" name="refundorder" id="refundorder" class="btn btn-primary">
                                        @T("Admin.Orders.Fields.Refund")
                                    </button>
                                    <text>&nbsp;</text>
                                    @Html.ActionConfirmation("refundorder")*@
                            }
                            if (Model.CanRefundOffline)
                            {
                                @*<button type="submit" name="refundorderoffline" id="refundorderoffline" class="btn btn-primary">
                                        @T("Admin.Orders.Fields.RefundOffline")
                                    </button>
                                    <text>&nbsp;</text>
                                    @Html.ActionConfirmation("refundorderoffline")*@
                            }
                            if (Model.CanPartiallyRefund)
                            {
                                @*<button type="submit" id="partiallyrefundorder" name="partiallyrefundorder" onclick="javascript:OpenWindow('@(Url.Action("PartiallyRefundOrderPopup", "Order", new {id = Model.Id, online = true, btnId = "btnRefreshPage", formId = "order-form"}))', 500, 300, true); return false;" class="btn btn-primary">
                                        @T("Admin.Orders.Fields.PartialRefund")
                                    </button>
                                    <text>&nbsp;</text>*@
                            }
                            if (Model.CanPartiallyRefundOffline)
                            {
                                @*<button type="submit" id="partiallyrefundorderoffline" name="partiallyrefundorderoffline" onclick="javascript:OpenWindow('@(Url.Action("PartiallyRefundOrderPopup", "Order", new {id = Model.Id, online = false, btnId = "btnRefreshPage", formId = "order-form"}))', 500, 300, true); return false;" class="btn btn-primary">
                                        @T("Admin.Orders.Fields.PartialRefundOffline")
                                    </button>
                                    <text>&nbsp;</text>*@
                            }
                            if (Model.CanVoid)
                            {
                                <button type="submit" name="voidorder" id="voidorder" class="btn btn-primary">
                                    @T("Admin.Orders.Fields.Void")
                                </button>
                                <text>&nbsp;</text>
                                @Html.ActionConfirmation("voidorder")
                            }
                            if (Model.CanVoidOffline)
                            {
                                <button type="submit" name="voidorderoffline" id="voidorderoffline" class="btn btn-primary">
                                    @T("Admin.Orders.Fields.VoidOffline")
                                </button>
                                <text>&nbsp;</text>
                                @Html.ActionConfirmation("voidorderoffline")
                            }
                        }
                    </div>
                </div>
            }
            @if (Model.CustomValues != null && Model.CustomValues.Count > 0)
            {
                <div class="form-group">
                    <div class="col-md-3">
                        @*@Html.NopLabelFor(model => model.CustomValues)*@
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">
                            @*@foreach (var item in Model.CustomValues)
                                {
                                    <ul class="common-list">
                                        <li>
                                            @item.Key: @(item.Value != null ? item.Value.ToString() : "")
                                        </li>
                                    </ul>
                                }*@
                        </div>
                    </div>
                </div>
            }
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.CreatedOn)
                </div>
                <div class="col-md-9">
                    @Html.NopDisplayFor(model => model.CreatedOnUtcToString)
                </div>
            </div>
        </div>
    </div>
</div>
