﻿@model NeverSoldReportModel

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.SalesReport.NeverSold").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Products never purchased");
}

@Html.AntiForgeryToken()
<div class="alert alert-danger alert-dismissable" id="validationMessages">
</div>
<div class="content-header clearfix">
    <h1 class="pull-left">
       
        @T("Admin.SalesReport.NeverSold")
    </h1>
    <div class="pull-right">
        &nbsp;
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.StartDate)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopEditorFor(model => model.StartDate)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.EndDate)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopEditorFor(model => model.EndDate)
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group" @(Model.AvailableCategories.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.SearchCategoryId)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopDropDownList("SearchCategoryId", Model.AvailableCategories)
                                </div>
                            </div>
                            <div class="form-group" @(Model.AvailableManufacturers.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.SearchManufacturerId)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopDropDownList("SearchManufacturerId", Model.AvailableManufacturers)
                                </div>
                            </div>
                            <div class="form-group" @(Model.AvailableStores.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.SearchStoreId)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopDropDownList("SearchStoreId", Model.AvailableStores)
                                </div>
                            </div>
                            <div class="form-group" @(Model.AvailableVendors.SelectionIsNotPossible() || Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.SearchVendorId)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopDropDownList("SearchVendorId", Model.AvailableVendors)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-5">
                                <button type="button" id="search-neversoldreport" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.SalesReport.NeverSold.RunReport")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="shoeneversoldgrid">
                <div class="panel-body">
                    <div id="neversoldreport-grid"></div>

                    <script>
                        $(document).ready(function () {
                            $("#neversoldreport-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("NeverSoldReportList", "Order"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)],
                                    @Html.Partial("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: false,
                                    mode: "inline"
                                },
                                scrollable: true,
                                columns: [{
                                    field: "ProductName",
                                    title: "@T("Admin.SalesReport.NeverSold.Fields.Name")"
                                }, {
                                    field: "ProductId",
                                    title: "@T("Admin.Common.View")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<a class="btn btn-default" href="@Url.Content("~/Admin/Product/Edit/")#=ProductId#"><i class="fa fa-eye"></i>@T("Admin.Common.View")</a>'
                                }]
                            });
                        });
                    </script>

                    <script type="text/javascript">
                        $(document).ready(function () {
                            $("#validationMessages").hide();
                            $('#search-neversoldreport').click(function () {

                                $("#validationMessages").hide();
                                var myDate = new Date(getDateFromString($("#StartDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));
                                var myFromDate = new Date(getDateFromString($("#EndDate").val(), "@Nop.Core.AppCodeLayer.Common.CommonMethods.CultureDateTime"));


                                var today = new Date();
                                var validationDivs='';
                                var start_time=$("#DatewiseFrom").val();
                                var end_time=$("#DatewiseTo").val();

                                if (myFromDate > today) {

                                    $("#validationMessages").show();
                                    validationDivs=validationDivs+'<div>@T("Admin.Validation.DateLessthanToday")</div>';
                                    $('#validationMessages').html(validationDivs);
                                    // flag=false;
                                    $('#neversoldreport-grid').hide();
                                    
                                    $('#shoeneversoldgrid').hide();
                                    return false;
                                }
                                if (myFromDate < myDate) {
                                    $("#validationMessages").show();
                                    validationDivs=validationDivs+'<div>@T("Admin.Validation.StartDateLessThanEndDate")</div>';
                                    //flag=false;
                                    $('#validationMessages').html(validationDivs);
                                    $('#neversoldreport-grid').hide();
                                    $('#shoeneversoldgrid').hide();
                                    return false;
                                }


                                $("#neversoldreport-grid").show();

                                var grid = $('#neversoldreport-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                return false;
                            });
                        });

                        function additionalData() {
                            var data = {
                                @*StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                                EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),*@
                                StartDate: getDate($("#StartDate").data("kendoDatePicker").value()),
                                EndDate:getDate($("#EndDate").data("kendoDatePicker").value()),
                                SearchCategoryId: $('#SearchCategoryId').val(),
                                SearchManufacturerId: $('#SearchManufacturerId').val(),
                                SearchStoreId: $('#SearchStoreId').val(),
                                SearchVendorId: $('#SearchVendorId').val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>