﻿@model OrderModel
@{
    //page title
    ViewBag.Title = T("Admin.Trader.Fields.TransferOrder").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "order-form" }))
{
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Trader.Fields.TransferOrder")- @Model.Id
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Orders.BackToList").Text, "List")</small>
        </h1>
        <div class="pull-right">
            <input type="submit" id="Continue" name="MakeResale" class="btn bg-blue" value="@T("Admin.Trader.Fields.TransferOrder")" />
           

        
            <input type="submit" id="btnRefreshPage" style="display: none" />
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#btnRefreshPage').click(function () {
                        //refresh page
                        location.reload();
                    });
                });
            </script>
        </div>
    </div>
   

    @Html.ValidationSummary(false)

    <script>
        $('#btnRefreshPage').click(function () {
            //refresh page
            location.reload();
        });
    </script>
      <script>
        $(document).ready(function () {
            bindBootstrapTabSelectEvent('order-TransferOrder');
        });
    </script>

    <div class="content">
        @if (Model.Warnings.Count > 0)
        {
            <div class="callout callout-danger">
                <ul>
                    @foreach (var warning in Model.Warnings)
                    {
                        <li>@warning</li>
                    }
                </ul>
            </div>
        }
        <div class="form-horizontal">
            <div id="order-TransferOrder" class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    @Html.RenderBootstrapTabHeader("tab-TransferOrder", @T("Admin.Orders.Info"), true)
                   
                </ul>
                <div class="tab-content">
                    @Html.RenderBootstrapTabContent("tab-TransferOrder", @TabInfo(), true)
                   
                </div>
            </div>
        </div>
    </div>
  

    {
        //custom tabs
        var eventMessage = new AdminTabStripCreated(this.Html, "order-TransferOrder");
        EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
        foreach (var eventBlock in eventMessage.BlocksToRender)
        {
            @eventBlock
        }
    }


    @*save selected tab index*@
    <input type="hidden" id="selected-tab-name" name="selected-tab-name" value="@(Html.GetSelectedTabName())">

}

@Html.DeleteConfirmation("order-delete")

@helper TabInfo()
{
    @Html.Partial("_OrderDetails.Transfer", Model)
}

