﻿@model Nop.Plugin.Widgets.EventModule.Models.EventCategoryList
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI
@using Nop.Core.Infrastructure
@using System.Web.Mvc.Html
@{
    Layout = null;
}

<style>
    .bg-blue {
        margin-top: 0.5% !important;
    }
</style>

        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="row" style="text-align:center;color:red;">
                            @if (Model.ManageCreateEventCategory)
                            {
                                <a href="@Url.Action("Configure", "EventModule")" class="btn bg-blue">
                                    <i class="fa fa-inbox"></i>
                                    @T("Plugins.Widgets.EventModeule.CreateEventCategory")
                                </a>
                            }
                            @if (Model.ManageCreateEvent)
                            {
                                <a href="@Url.Action("EventTrn", "EventModule")" class="btn bg-blue">
                                    <i class="fa fa-commenting"></i>
                                    @T("Plugins.Widgets.EventModeule.CreateEvent")
                                </a>
                            }
                            @if (Model.ManageViewEventCategory)
                            {
                                <a href="@Url.Action("AlbumListTransaction", "EventModule")" class="btn bg-blue">
                                    <i class="fa fa-share-square-o"></i>
                                    @T("Plugins.Widgets.EventModeule.ViewEventCategory")
                                </a>
                            }
                            @if (Model.ManageViewEvent)
                            {
                                <a href="@Url.Action("AlbumEventListTransaction", "EventModule")" class="btn bg-blue">
                                    <i class="fa fa-folder"></i>
                                    @T("Plugins.Widgets.EventModeule.ViewEvent")
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
  

