﻿@model Nop.Plugin.Widgets.EventModule.Models.EventCategoryList
@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@using Nop.Core.Infrastructure
@using System.Web.Mvc
@{
    var type = new List<SelectListItem>
    {
    new SelectListItem { Text = "Active", Value="0" , Selected=true },
    new SelectListItem { Text = "InActive", Value="1" }

    };
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
        <div>
            <div class="content">
                <div class="form-horizontal">
                    <div>
                        @Html.Action("_PartialMenu", "EventModule")
                    </div>
                    

                </div>
            </div>
        </div>
}









