﻿@{
    Html.AddTitleParts(T("Dashboard.Mycommision.TDSDetails").Text);
    Layout = "~/Views/Shared/_ColumnVF.cshtml";
}
<link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />

@model Nop.Web.Framework.Models.PayoutRepots.TDSDdetailsReport
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework;
@using System.Globalization;

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.BinaryIcomeType)
    <div class="page account-page return-request-list-page ">

        <div class="page-title">
            <h1>@T("Dashboard.Mycommision.TDSDetails")</h1>
        </div>
        <div class="page registration-result-page">
            <div class="page-body">
                @*<div class="customer-blocks">*@
                <div class="panel panel-default">
                    <div class="message-error error" id="validationMessages"></div>
                    <div class="panel-body">

                        <div class="panel-group" id="accordion">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <strong>@T("Dashboard.MyNetwork.SearchOption")</strong>
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <span style="float:right" id="btnplusminus" class="glyphicon glyphicon-plus"></span></a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="inputs">
                                            @Html.LabelFor(model => model.ddltype)
                                            @Html.DropDownListFor(model => model.ddltype, Model.planList)
                                        </div>

                                        <div class="inputs">
                                            <div class="buttons">
                                                <input type="submit" id="search" class="button-1" value="@T("Tree.Search.Button")" />
                                                <input type="button" id="btnresetfrm" class="button-1" value="@T("Tree.Reset.Button")" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">

                                    <div class="clearfix"></div>

                                </div>
                                <div class="x_content" id="ScrollableDiv">
                                    @*@if (Model != null && Model.tDSDdetailsReportDetails.Count() > 0)
                                        {*@
                                    <div class="table-wrapper">
                                        <table id="TDSReport" class="display nowrap stripe cell-border cart" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>@Html.LabelFor(model => model.srNo)</th>
                                                    <th>@Html.LabelFor(model => model.PayoutNo)</th>
                                                    <th>@Html.LabelFor(model => model.StartDate)</th>
                                                    <th>@Html.LabelFor(model => model.EndDate)</th>
                                                    <th>@Html.LabelFor(model => model.PDesc)</th>
                                                    <th>@Html.LabelFor(model => model.TotAmt)</th>
                                                    <th>@Html.LabelFor(model => model.Ded2)</th>
                                                    <th>@Html.LabelFor(model => model.DAmt)</th>
                                                    @if (Model.DailyBinaryFlag)
                                                    {
                                                        if (Model.BinaryIcomeType == 1)
                                                        {
                                                            <th>@Html.LabelFor(model => model.Cycle)</th>
                                                        }
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.tDSDdetailsReportDetails.Count(); i++)
                                                {
                                                    <tr>
                                                        <td>@Model.tDSDdetailsReportDetails[i].srNo </td>
                                                        <td>@Model.tDSDdetailsReportDetails[i].PayoutNo </td>
                                                        <td>@Model.tDSDdetailsReportDetails[i].StartDate </td>
                                                        <td>@Model.tDSDdetailsReportDetails[i].EndDate  </td>
                                                        <td>@Model.tDSDdetailsReportDetails[i].PDesc</td>
                                                        <td>@Model.tDSDdetailsReportDetails[i].TotAmt </td>
                                                        <td>@Model.tDSDdetailsReportDetails[i].Ded2 </td>
                                                        <td>@Model.tDSDdetailsReportDetails[i].DAmt  </td>
                                                        @if (Model.DailyBinaryFlag)
                                                        {
                                                            if (Model.BinaryIcomeType == 1)
                                                            {
                                                                <td>@Model.tDSDdetailsReportDetails[i].Cycle  </td>
                                                            }
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
    @*</div>*@
}
<script type="text/javascript">
    // var table = $('#TDSReport').DataTable();
    var rowCount = $("#TDSReport td").closest("tr").length;

    $('#search').on('click', (function () {
        $('.loader').show();
        $("#collapseOne").removeClass("panel-collapse collapse in");
        $("#collapseOne").addClass("panel-collapse collapse");

        $("#btnplusminus").removeClass("glyphicon glyphicon-minus");
        $("#btnplusminus").addClass("glyphicon glyphicon-plus");
    }));

    $(document).ready(function () {
        //   $("#ddltype").val("1");

        $('#btnReset').click(function () {
            var myElement = $('select[name="ddltype"]');
            myElement.find('option:eq(0)').prop('selected', true);
            // window.location = "/PayoutReports/TDSDetails?ddlpay=1";
            return false;
        });

        $('#TDSReport').dataTable({

            pagingType: "full_numbers",
            iDisplayLength: 10,
            dom: 'T<"clear">lfrtip',
            "oLanguage": {
                "sEmptyTable": "@T("Common.DataTable.NoRecordFound")"
            },
            tableTools: {
                "sSwfPath": "../content/datatables/images/copy_csv_xls_pdf.swf",
                "sRowSelect": "multi",
                "aButtons": [
                   'xls'
                ]
            },
            processing: true,
            oLanguage: {sProcessing: "<div class='loader'></div>"},
        });

        if (@Model.tDSDdetailsReportDetails.Count() > 10) {

            $("#TDSReport_length").show();
            $("#TDSReport_paginate").show();
        }
        else {

            $("#TDSReport_length").hide();
            $("#TDSReport_paginate").hide();
        }

        $(".collapse.in").each(function () {
            $("#btnplusminus").siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
        });
        $(".collapse").on('show.bs.collapse', function () {
            $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }).on('hide.bs.collapse', function () {
            $("#btnplusminus").parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });
    });
 
    function myExcel()
    {
        $('.loader').show();
        var data = {
            ddltype: $('#@Html.FieldIdFor(model => model.ddltype)').val(),
        };
        addAntiForgeryToken(data);

        $.ajax({
            url: "@Html.Raw(Url.Action("TDSDetailsExportToExcel", "PayoutReports"))",
            type: "POST",
            dataType: "json",
            data: data,
            success: function (result) {
                $('.loader').hide();
                if (result.success) {
                    if (result.fullFileName != null && result.fullFileName != "") {
                        window.location = "@Url.Action("Download", "Common")/?file=" + result.fullFileName;
                    }
                    else {

                        var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                        $("#validationMessages").show();
                        $('#validationMessages').append(validationDivs1);
                    }
                }
                else {
                    var validationDivs1 = '<div>@T("ExportExcel.Msg.FileNotCreate")</div>';
                    $("#validationMessages").show();
                    $('#validationMessages').append(validationDivs1);
                }
            },
            error: function (result) {
                $('.loader').hide();
            }
        });

    }
    $('#btnresetfrm').on('click', (function () {
        $('.loader').show();
        document.location = "@(Url.Action("TDSDetails", "PayoutReports"))" ;
    }));

</script>
