﻿@using Nop.Core
@using Nop.Core.Infrastructure

@model IList<Nop.Web.Models.Catalog.ProductOverviewModel>
    @{
    Layout = null;
    var isVFMember = EngineContext.Current.Resolve<IWorkContext>
        ().CurrentCustomer.MemId;
        }
        @using (Html.BeginForm())
        {

        <link href="~/content/treeview/mytreestyle.css" rel="stylesheet" />

        <link rel="stylesheet" href="~/Themes/Vnext/Content/VnextCSS/css/bootstrap.min.css">



        @Html.AntiForgeryToken()

        if (ViewBag.RefreshPage == true)
        {

        @Html.Action("Cart", "ShoppingCart", new { advanceOrderEnabled = true });

        <script type="text/javascript">
            window.opener.parent.location.replace('../cart?advanceOrderEnabled=True');
            window.close();

        </script>

        }


        <div class="page account-page return-request-list-page ">


            <div class="page registration-result-page">

                @{
                var validationSummary = Html.ValidationSummary(true);
                }
                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                <div class="message-error">@validationSummary</div>
                }
                <div class="customer-blocks">
                    <div class="panel-body">
                        <div class="page-title" style="margin-left: 2%;margin-top: 10%;">
                            <h4>@T("AdvancOrder.ProductList")</h4>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">


                                    <div class="clearfix"></div>
                                    @*@Html.ActionLink("Export to Excel", "Excel", new { }, new { @class = "buttonExcel", title = @T("Dashboard.ExcelExport") })*@

                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content table-wrapper" id="ScrollableDiv">

                                    <table id="tblIDWisedownlineDetails" border="1" class="gridtable display nowrap stripe cell-border cart" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" id="allcb" name="allcb" /></th>
                                                <th>@T("Admin.PayoutReports.PayoutanalysisReport.ProductName")</th>
                                                <th>@T("Admin.Inventory.StockIn.Package.productPrice")</th>
                                                @if (isVFMember > 0 && isVFMember != null)
                                                {
                                                if (Model.FirstOrDefault().ShowPV == 1)
                                                {
                                                <th>@T("Dashboard.Mynetwork.Mydirect.PV")</th>
                                                }
                                                }
                                                @if (isVFMember > 0 && isVFMember != null)
                                                {
                                                if (Model.FirstOrDefault().ShowBV == 1)
                                                {
                                                <th>@T("PDFInvoice.BV")</th>
                                                }
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @for (int i = 0; i < Model.Count(); i++)
                                            {
                                            <tr>
                                                @Html.HiddenFor(model => model[i].Id)
                                                <td align="center">@Html.CheckBoxFor(model => model[i].SelectedProduct)</td>
                                                <td>@Model[i].Name</td>
                                                <td>@Model[i].ProductPrice.Price</td>
                                                @if (isVFMember > 0 && isVFMember != null)
                                                {
                                                if (Model[i].ShowPV == 1)
                                                {
                                                <td>@Model[i].PV</td>
                                                }
                                                }
                                                @if (isVFMember > 0 && isVFMember != null)
                                                {
                                                if (Model[i].ShowBV == 1)
                                                {
                                                <td>@Model[i].BV</td>
                                                }
                                                }
                                            </tr>
                                            }
                                        </tbody>
                                    </table>

                                    <div class="inputs">
                                        <div class="buttons">
                                            <input type="submit" id="send-Contactusemail" class="btn-primary" value="@T(" Plugins.DiscountRules.HasAllProducts.Fields.Products.AddNew")" />
                                            @*<input type="submit" id="btnReset" class="button-1" value="@T(" Tree.Reset.Button")" />*@
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        }
        <style type="text/css">
            .btn-primary {
                background-color: #040404 !important;
                border-color: #040404 !important;
                cursor: pointer;
                display: inline-block;
                background: none repeat scroll 0% 0% #03a9f4;
                border: #03a9f4;
                color: #FFF;
                box-shadow: 0px 1px 0px 0px #03a9f4;
                padding: 10px 26px;
                font-size: 14px;
                margin: 0px auto;
                transition: all 0.2s ease-in-out 0s;
            }

            table.gridtable {
                font-family: verdana,arial,sans-serif;
                font-size: 11px;
                color: #333333;
                border-width: 1px;
                border-color: #666666;
                border-collapse: collapse;
            }

                table.gridtable th {
                    border-width: 1px;
                    padding: 8px;
                    border-style: solid;
                    border-color: #666666;
                    background-color: hsla(213,57%,90%,1);
                }

                table.gridtable td {
                    border-width: 1px;
                    padding: 8px;
                    border-style: solid;
                    border-color: #666666;
                    background-color: #ffffff;
                }
        </style>

        <script src="~/Themes/Vnext/Content/VnextJs/js/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script type="text/javascript">
            $("#divseachById").slideUp();
            $(".page").css("min-height", "0px");


            $('#allcb').change(function () {

                if ($(this).prop('checked')) {
                    $('tbody tr td input[type="checkbox"]').each(function () {
                        $(this).prop('checked', true);
                    });
                } else {
                    $('tbody tr td input[type="checkbox"]').each(function () {
                        $(this).prop('checked', false);
                    });
                }
            });
        </script>
