@model Nop.Web.Framework.Models.Orders.OrderDetailsModel
@using Nop.Web.Framework.Models.Customer
@using Nop.Web.Models.Order
@using Nop.Core.Domain.Orders
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    if (!Model.PrintMode)
    {
        // Layout = "~/Views/Shared/_ColumnsOne.cshtml";
        Layout = "~/Views/Shared/_MemberRoot.Head.cshtml";
    }
    else
    {
        Layout = "~/Themes/Vnext/Views/Shared/_Print.cshtml";
    }
    //title
    Html.AddTitleParts(T("PageTitle.OrderDetails").Text);
    var theme = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Web.Framework.Themes.IThemeContext>
    ().WorkingThemeName;

    var isVFMember = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.MemId;
}

@if (Model.PrintMode)
{
    @section scripts{

        <script type="text/javascript">
            $(document).ready(function () {
                window.print();
            });
        </script>
    }
}

<style>
    label {
        padding: 2px !important;
    }

    .ordertext {
        margin-top: 5px !important;
        font-size: 20px;
        /*padding-left: 5%;*/
    }
</style>

@if (isVFMember == null)
{
    <style>
        .custom-inbox-message {
            margin-right: 15% !important;
            margin-left: -30% !important;
        }

        .footer-copyright-area {
            margin-left: 0px !important;
        }

        @@media only screen and (min-width: 320px) and (max-width: 1024px) {
            .custom-inbox-message {
                margin-right: 15% !important;
                margin-left: 6% !important;
            }
        }
    </style>
}

<br />
<div class="inbox-mailbox-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3" id="showonPrintView">
                        @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Orders })
                    </div>
                    <div class="col-lg-9">

                        <div class="tab-pane fade in animated zoomInDown shadow-reset custom-inbox-message">


                            <div class="contact-client-single  contact-client-v2">
                                <div class="row">
                                    @if (!Model.PrintMode)
                                    {
                                        <div class="col-sm-offset-8">

                                            @if (Model.ISGstsettingOn)

                                            {
                                                if (((Model.PaymentMethodStatus != "Pending") && (Model.ShippingStatus == "Shipped" || Model.ShippingStatus == "Delivered")) || (Model.ISGstsettingOn && Model.IsInvoiceNoSettingConfirmation && Model.PaymentMethodStatus == "Paid"))
                                                {
                                                    <button type="button" class="btn btn-custon-two btn-success" onclick="setLocation('@Url.RouteUrl("PrintOrderDetails", new { orderId = Model.Id })')"><i class="fa fa-print"></i> @T("Order.Print")</button>

                                                }
                                                if (!Model.PdfInvoiceDisabled)
                                                {
                                                    if (((Model.PaymentMethodStatus != "Pending") && (Model.ShippingStatus == "Shipped" || Model.ShippingStatus == "Delivered")) || (Model.ISGstsettingOn && Model.IsInvoiceNoSettingConfirmation && Model.PaymentMethodStatus == "Paid"))
                                                    {
                                                        <button type="button" class="btn btn-custon-two btn-primary" onclick="setLocation('@Url.RouteUrl("GetOrderPdfInvoice", new { orderId = Model.Id })')"><i class="fa fa-file-pdf-o"></i> @T("Order.GetPDFInvoice")</button>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-custon-two btn-success" onclick="setLocation('@Url.RouteUrl("PrintOrderDetails", new { orderId = Model.Id })')"><i class="fa fa-print"></i> @T("Order.Print")</button>

                                                if (!Model.PdfInvoiceDisabled)
                                                {
                                                    <button type="button" class="btn btn-custon-two btn-primary" onclick="setLocation('@Url.RouteUrl("GetOrderPdfInvoice", new { orderId = Model.Id })')"><i class="fa fa-envelope-o"></i> @T("Order.GetPDFInvoice")</button>
                                                }
                                            }
                                        </div>
                                    }

                                </div>
                            </div>
                            <div id="dvContainer">
                                <div class="col-lg-12" align="center">
                                    @Html.Widget("orderdetails_page_top", Model.Id)

                                    <h2 class="ordertext" style="text-align: center"><strong>@T("Order.Order#")@Model.Id</strong></h2>
                                    <div class="contact-client-address">
                                        <div class="logo"><img src="~/Themes/Vnext/Content/VNextCSS/img/1.gif" alt="" /></div>
                                        <p class="address-client-ct client-addres-v2" style="text-align: center"><strong>@T("Order.OrderDate"):</strong> @Model.CreatedOn.ToString("D")</p>
                                        <p><strong>@T("Order.OrderStatus"):</strong> @Model.OrderStatus</p>
                                        @if (Model.partialPaymentFlag)
                                        {
                                            foreach (var paymentDetail in Model.paymentDetail)
                                            {
                                                <p><strong>@paymentDetail.PaymentMethodSystemName:</strong> <strong>@paymentDetail.OrderTotal</strong></p>
                                            }
                                        }
                                        <p><strong>@T("Order.OrderTotal"):</strong> <strong style="color: #2755A6">@Model.OrderTotal</strong></p>
                                    </div>
                                    @Html.Widget("orderdetails_page_overview", Model.Id)
                                </div>

                                <div class="feed-mesage-project-area">
                                    <div class="container-fluid">
                                        <div class="row">


                                            <div class="col-lg-6" id="dvBill">
                                                <div class="sparkline11-list shadow-reset mg-tb-30">
                                                    <div class="sparkline11-hd">
                                                        <div class="main-sparkline11-hd">
                                                            <h1><strong>@T("Order.BillingAddress")</strong>   </h1>
                                                        </div>
                                                    </div>
                                                    <div class="adminpro-message-list">
                                                        <ul class="message-list-menu">
                                                            @if (Model.BillingAddress.Title != "M/s")
                                                            {
                                                                <li class="name">
                                                                    @Model.BillingAddress.FirstName @Model.BillingAddress.LastName
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li class="name">
                                                                    @Model.BillingAddress.Company
                                                                </li>
                                                            }

                                                            <li>
                                                                @T("Order.Email"): @Model.BillingAddress.Email
                                                            </li>
                                                            @if (Model.BillingAddress.PhoneEnabled)
                                                            {
                                                                <li>
                                                                    @T("Order.Phone"): @Model.BillingAddress.PhoneNumber
                                                                </li>
                                                            }
                                                            @if (Model.BillingAddress.FaxEnabled)
                                                            {
                                                                <li>
                                                                    @T("Order.Fax"): @Model.BillingAddress.FaxNumber
                                                                </li>
                                                            }
                                                            @if (Model.BillingAddress.CompanyEnabled && !String.IsNullOrEmpty(Model.BillingAddress.Company))
                                                            {
                                                                <li>
                                                                    @Model.BillingAddress.Company
                                                                </li>
                                                            }
                                                            @if (Model.BillingAddress.StreetAddressEnabled)
                                                            {
                                                                <li>
                                                                    @Model.BillingAddress.Address1
                                                                </li>
                                                            }

                                                            @if (Model.BillingAddress.StreetAddress2Enabled && !String.IsNullOrEmpty(Model.BillingAddress.Address2))
                                                            {
                                                                <li>
                                                                    @Model.BillingAddress.Address2
                                                                </li>
                                                            }
                                                            @if (Model.BillingAddress.CityEnabled || Model.BillingAddress.StateProvinceEnabled || Model.BillingAddress.ZipPostalCodeEnabled)
                                                            {
                                                                <li>
                                                                    @if (Model.BillingAddress.CityEnabled)
                                                                    {
                                                                        @Model.BillingAddress.cityName
                                                                    }
                                                                    @if (Model.BillingAddress.CityEnabled && (Model.BillingAddress.StateProvinceEnabled || Model.BillingAddress.ZipPostalCodeEnabled))
                                                                    {
                                                                        <text>,</text>
                                                                    }
                                                                    @if (Model.BillingAddress.StateProvinceEnabled)
                                                                    {
                                                                        @Model.BillingAddress.StateProvinceName
                                                                    }
                                                                    @if (Model.BillingAddress.ZipPostalCodeEnabled)
                                                                    {
                                                                        @Model.BillingAddress.ZipPostalCode
                                                                    }
                                                                </li>
                                                            }
                                                            @if (Model.BillingAddress.CountryEnabled && !String.IsNullOrEmpty(Model.BillingAddress.CountryName))
                                                            {
                                                                <li>
                                                                    @Model.BillingAddress.CountryName
                                                                </li>
                                                            }
                                                            @if (!String.IsNullOrEmpty(Model.VatNumber))
                                                            {
                                                                <li>

                                                                    @T("Order.VATNumber")

                                                                    <span class="value">
                                                                        @Model.VatNumber
                                                                    </span>
                                                                </li>
                                                            }

                                                            @if (!String.IsNullOrEmpty(Model.BillingAddress.FormattedCustomAddressAttributes))
                                                            {
                                                                <li class="custom-attributes-view">
                                                                    @Html.Raw(Model.BillingAddress.FormattedCustomAddressAttributes)
                                                                </li>
                                                            }
                                                            @if (Model.CustomValues != null)
                                                            {
                                                                foreach (var item in Model.CustomValues)
                                                                {
                                                                    <li>

                                                                        @item.Key:

                                                                        <span class="value">
                                                                            @(item.Value != null ? item.Value.ToString() : "")
                                                                        </span>
                                                                    </li>
                                                                }
                                                            }
                                                            @if (!String.IsNullOrEmpty(Model.PaymentMethod))
                                                            {
                                                                <li class="sparkline11-hd">
                                                                    <div class="main-sparkline11-hd">
                                                                        <h1><strong>@T("Order.Payment")</strong>   </h1>
                                                                    </div>

                                                                </li>
                                                                <li>
                                                                    @T("Order.Payment.Method"):

                                                                    <span class="value">
                                                                        @Model.PaymentMethod
                                                                    </span>
                                                                </li>
                                                                if (!Model.PrintMode)
                                                                {
                                                                    <li class="payment-method-status">

                                                                        @T("Order.Payment.Status"):

                                                                        <span class="value">
                                                                            @Model.PaymentMethodStatus
                                                                        </span>
                                                                    </li>
                                                                }
                                                                if (!Model.PrintMode && Model.CanRePostProcessPayment)
                                                                {
                                                                    <li class="repost" style="margin-top:4%">
                                                                        @using (Html.BeginRouteForm("OrderDetails", FormMethod.Post))
                                                                        {
                                                                            @Html.AntiForgeryToken()
                                                                            <input type="submit" name="repost-payment" value="@T("Order.RetryPayment")" class="button-2 re-order-button" />
                                                                            <p class="hint">
                                                                                <em>@T("Order.RetryPayment.Hint")</em>
                                                                            </p>
                                                                        }
                                                                    </li>
                                                                }
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            @if (Model.IsShippable)
                                            {
                                                <div class="col-lg-6" id="Manualprint">
                                                    <div class="sparkline11-list shadow-reset mg-tb-30">
                                                        <div class="sparkline11-hd">
                                                            <div class="main-sparkline11-hd">
                                                                <h1><strong>@(Model.PickUpInStore ? T("Order.PickupAddress") : T("Order.ShippingAddress"))</strong></h1>
                                                            </div>
                                                        </div>
                                                        <div class="adminpro-message-list">
                                                            <ul class="message-list-menu">
                                                                @if (!Model.PickUpInStore)
                                                                {

                                                                    if (Model.ShippingAddress.Title != "M/s")
                                                                    {
                                                                        <li class="name">
                                                                            @Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName
                                                                        </li>
                                                                    }
                                                                    else
                                                                    {
                                                                        if (Model.ShippingAddress.FirstName != null || Model.ShippingAddress.LastName != null)
                                                                        {
                                                                            <li class="name">
                                                                                <b>@Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName</b>
                                                                            </li>
                                                                        }
                                                                        else
                                                                        {
                                                                            <li class="name">
                                                                                <b>@Model.ShippingAddress.Company</b>
                                                                            </li>
                                                                        }
                                                                    }
                                                                    <li>
                                                                        @T("Order.Email"): @Model.ShippingAddress.Email
                                                                    </li>
                                                                    if (Model.ShippingAddress.PhoneEnabled)
                                                                    {
                                                                        <li>
                                                                            @T("Order.Phone"): @Model.ShippingAddress.PhoneNumber
                                                                        </li>
                                                                    }
                                                                    if (Model.ShippingAddress.FaxEnabled)
                                                                    {
                                                                        <li>
                                                                            @T("Order.Fax"): @Model.ShippingAddress.FaxNumber
                                                                        </li>
                                                                    }
                                                                    if (Model.ShippingAddress.CompanyEnabled && !String.IsNullOrEmpty(Model.ShippingAddress.Company))
                                                                    {
                                                                        <li>
                                                                            @Model.ShippingAddress.Company
                                                                        </li>
                                                                    }
                                                                    if (Model.ShippingAddress.StreetAddressEnabled)
                                                                    {
                                                                        <li>
                                                                            @Model.ShippingAddress.Address1
                                                                        </li>
                                                                    }
                                                                    if (Model.ShippingAddress.StreetAddress2Enabled && !String.IsNullOrEmpty(Model.ShippingAddress.Address2))
                                                                    {
                                                                        <li>
                                                                            @Model.ShippingAddress.Address2
                                                                        </li>
                                                                    }


                                                                    if (Model.ShippingAddress.CityEnabled && Model.ShippingAddress.StateProvinceEnabled || Model.ShippingAddress.ZipPostalCodeEnabled)
                                                                    {
                                                                        <li>
                                                                            @if (Model.ShippingAddress.CityEnabled)
                                                                            {
                                                                                @Model.ShippingAddress.cityName
                                                                            }
                                                                            @if (Model.ShippingAddress.CityEnabled && (Model.ShippingAddress.StateProvinceEnabled || Model.ShippingAddress.ZipPostalCodeEnabled))
                                                                            {
                                                                                <text>,</text>
                                                                            }
                                                                            @if (Model.ShippingAddress.StateProvinceEnabled)
                                                                            {
                                                                                @Model.ShippingAddress.StateProvinceName
                                                                            }
                                                                            @if (Model.ShippingAddress.ZipPostalCodeEnabled)
                                                                            {
                                                                                @Model.ShippingAddress.ZipPostalCode
                                                                            }
                                                                        </li>
                                                                    }
                                                                    if (Model.ShippingAddress.CountryEnabled && !String.IsNullOrEmpty(Model.ShippingAddress.CountryName))
                                                                    {
                                                                        <li>
                                                                            @Model.ShippingAddress.CountryName
                                                                        </li>
                                                                    }
                                                                    if (!String.IsNullOrEmpty(Model.ShippingAddress.FormattedCustomAddressAttributes))
                                                                    {
                                                                        <li>
                                                                            @Html.Raw(Model.ShippingAddress.FormattedCustomAddressAttributes)
                                                                        </li>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    if (!string.IsNullOrEmpty(Model.PickupAddress.Address1))
                                                                    {
                                                                        <li>
                                                                            @Model.PickupAddress.Address1
                                                                        </li>
                                                                    }
                                                                    if (!string.IsNullOrEmpty(Model.PickupAddress.City) || !string.IsNullOrEmpty(Model.PickupAddress.ZipPostalCode))
                                                                    {
                                                                        <li>
                                                                            @if (!string.IsNullOrEmpty(Model.PickupAddress.City))
                                                                            {
                                                                                @Model.PickupAddress.cityName
                                                                            }
                                                                            @if (!string.IsNullOrEmpty(Model.PickupAddress.ZipPostalCode))
                                                                            {
                                                                                <text>,</text>
                                                                                @Model.PickupAddress.ZipPostalCode
                                                                            }
                                                                        </li>
                                                                    }
                                                                    if (!string.IsNullOrEmpty(Model.PickupAddress.CountryName))
                                                                    {
                                                                        <li>
                                                                            @Model.PickupAddress.CountryName
                                                                        </li>
                                                                    }
                                                                }

                                                                @if (!String.IsNullOrEmpty(Model.PaymentMethod))
                                                                {
                                                                    <li class="sparkline11-hd">
                                                                        <div class="main-sparkline11-hd">
                                                                            <h1><strong>@T("Order.Shipping")</strong>   </h1>
                                                                        </div>

                                                                    </li>
                                                                    <li>
                                                                        @T("Order.Shipping.Name"):

                                                                        <span class="value">
                                                                            @Model.ShippingMethod
                                                                        </span>
                                                                    </li>
                                                                    if (!Model.PrintMode)
                                                                    {
                                                                        <li>
                                                                            @T("Order.Shipping.Status"):

                                                                            <span class="value">
                                                                                @Model.ShippingStatus
                                                                            </span>
                                                                        </li>
                                                                    }
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>

                                @if (!Model.PrintMode && Model.Shipments.Count > 0)
                                {
                                    <div class="sparkline16-list shadow-reset">
                                        <div class="sparkline16-hd">
                                            <div class="main-sparkline16-hd">
                                                <h1>@T("PageTitle.ShipmentDetails")</h1>
                                            </div>
                                        </div>
                                        <div class="sparkline16-list shadow-reset">
                                            <div class="sparkline16-graph">
                                                <div class="datatable-dashv1-list custom-datatable-overright">
                                                    <div class="table-wrapper" style="overflow-x:auto;">
                                                        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                            <colgroup>
                                                                <col width="1" />
                                                                <col />
                                                                <col />
                                                                <col />
                                                                <col />
                                                            </colgroup>
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        @T("Order.Shipments.ID")
                                                                    </th>
                                                                    <th>
                                                                        @T("Order.Shipments.TrackingNumber")
                                                                    </th>
                                                                    <th>
                                                                        @T("Order.Shipments.ShippedDate")
                                                                    </th>
                                                                    <th>
                                                                        @T("Order.Shipments.DeliveryDate")
                                                                    </th>
                                                                    <th>
                                                                        @T("Order.Shipments.ViewDetails")
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model.Shipments)
                                                                {
                                                                    <tr>
                                                                        <td>

                                                                            <span>@item.Id.ToString()</span>
                                                                        </td>
                                                                        <td>

                                                                            @item.TrackingNumber
                                                                        </td>
                                                                        <td>

                                                                            @if (item.ShippedDate.HasValue)
                                                                            {
                                                                                <span>@item.ShippedDate.Value.ToString("D")</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span>@T("Order.Shipments.ShippedDate.NotYet")</span>
                                                                            }
                                                                        </td>
                                                                        <td>

                                                                            @if (item.DeliveryDate.HasValue)
                                                                            {
                                                                                <span>@item.DeliveryDate.Value.ToString("D")</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span>@T("Order.Shipments.DeliveryDate.NotYet")</span>
                                                                            }
                                                                        </td>
                                                                        <td>
                                                                            <button type="button" class="btn btn-custon-rounded-two btn-success" onclick="setLocation('@Url.RouteUrl("ShipmentDetails", new { shipmentId = item.Id })')">
                                                                                <i class="fa fa-eye"></i> @T("Order.Shipments.ViewDetails")
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <br />
                                @if (Model.Items.Count > 0)
                                {
                                    if (!Model.PrintMode && Model.OrderNotes.Count > 0)
                                    {
                                        <div class="sparkline16-list ">
                                            <div class="sparkline16-hd">
                                                <div class="main-sparkline16-hd">
                                                    <h1>@T("Admin.Orders.List.OrderNotes")</h1>
                                                </div>
                                            </div>
                                            <div class="sparkline16-list ">
                                                <div class="sparkline16-graph">
                                                    <div class="datatable-dashv1-list custom-datatable-overright">
                                                        <div class="table-wrapper" style="overflow-x:auto;">
                                                            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                                <colgroup>
                                                                    <col />
                                                                    <col />
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            @T("Order.Notes.CreatedOn")
                                                                        </th>
                                                                        <th>
                                                                            @T("Order.Notes.Note")
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model.OrderNotes)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @item.CreatedOn.ToString()
                                                                            </td>
                                                                            <td>
                                                                                @Html.Raw(item.Note)
                                                                                @if (item.HasDownload)
                                                                                {
                                                                                    <p>
                                                                                        <button type="button" class="btn btn-custon-rounded-two btn-success" onclick="setLocation('@Url.RouteUrl("GetOrderNoteFile", new { ordernoteid = item.Id })')">
                                                                                            <i class="fa fa-download"></i> @T("Order.Notes.Download")
                                                                                        </button>
                                                                                    </p>
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    @Html.Widget("orderdetails_page_beforeproducts", Model.Id)
                                    <br />

                                    <div class="sparkline16-list ">
                                        <div class="sparkline16-hd">
                                            <div class="main-sparkline16-hd">
                                                <h1>@T("Order.Product(s)")</h1>
                                            </div>
                                        </div>
                                        <div class="sparkline16-list ">
                                            <div class="sparkline16-graph">
                                                <div class="datatable-dashv1-list custom-datatable-overright">
                                                    <div class="table-wrapper" style="overflow-x:auto;">
                                                        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                            <colgroup>
                                                                @if (Model.ShowSku)
                                                                {
                                                                    <col width="1" />
                                                                }
                                                                <col />
                                                                <col width="1" />
                                                                <col width="1" />
                                                                <col width="1" />
                                                            </colgroup>
                                                            <thead>
                                                                <tr>
                                                                    @if (Model.ShowSku)
                                                                    {
                                                                        <th>
                                                                            @T("Order.Product(s).SKU")
                                                                        </th>
                                                                    }
                                                                    <th>
                                                                        @T("Order.Product(s).Name")
                                                                    </th>
                                                                    <th>
                                                                        @T("Order.Product(s).Price")
                                                                    </th>
                                                                    <th>
                                                                        @T("Order.Product(s).Quantity")
                                                                    </th>
                                                                    @if (Model.IsPVEnabled)
                                                                    {
                                                                        <th>
                                                                            @T("admin.configuration.settings.dashboard.pv")
                                                                        </th>
                                                                    }
                                                                    @if (Model.IsBVEnabled)
                                                                    {
                                                                        <th>
                                                                            @T("admin.configuration.settings.dashboard.bv")
                                                                        </th>
                                                                    }
                                                                    @if (Model.IsPVEnabled)
                                                                    {
                                                                        <th>
                                                                            @T("Account.Fields.TotalPV")
                                                                        </th>
                                                                    }
                                                                    @if (Model.IsBVEnabled)
                                                                    {
                                                                        <th>
                                                                            @T("Account.Fields.TotalBV")
                                                                        </th>
                                                                    }

                                                                    <th>
                                                                        @T("Order.Product(s).Total")
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model.Items)
                                                                {
                                                                    <tr>
                                                                        @if (Model.ShowSku)
                                                                        {
                                                                            <td>

                                                                                <span class="sku-number">@item.Sku</span>
                                                                            </td>
                                                                        }
                                                                        <td>
                                                                            @if (!Model.PrintMode)
                                                                            {
                                                                                <em><a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a></em>
                                                                            }
                                                                            else
                                                                            {
                                                                                @item.ProductName
                                                                            }
                                                                            @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                                                            {
                                                                                <div>
                                                                                    @Html.Raw(item.AttributeInfo)
                                                                                </div>
                                                                            }
                                                                            @if (!String.IsNullOrEmpty(item.RentalInfo))
                                                                            {
                                                                                <div>
                                                                                    @Html.Raw(item.RentalInfo)
                                                                                </div>
                                                                            }
                                                                            @if (item.DownloadId > 0)
                                                                            {
                                                                                if (Model.HideDownloadableProductsTab != true)
                                                                                {
                                                                                    <div>
                                                                                        <a href="@Url.RouteUrl("GetDownload", new { orderItemId = item.OrderItemGuid })"> @T("DownloadableProducts.Fields.Download")</a>
                                                                                    </div>
                                                                                }
                                                                            }
                                                                            @if (item.LicenseId > 0)
                                                                            {
                                                                                <div>
                                                                                    <a href="@Url.RouteUrl("GetLicense", new {orderItemId = item.OrderItemGuid})"> @T("DownloadableProducts.Fields.DownloadLicense")</a>
                                                                                </div>
                                                                            }
                                                                            @Html.Widget("orderdetails_product_line", item.Id)
                                                                        </td>
                                                                        <td>

                                                                            <span class="product-unit-price">@item.UnitPrice</span>
                                                                        </td>
                                                                        <td>

                                                                            <span class="product-quantity">@item.Quantity</span>
                                                                        </td>
                                                                        @if (Model.IsPVEnabled)
                                                                        {
                                                                            <td>
                                                                                <span class="product-quantity">@item.PV</span>
                                                                            </td>
                                                                        }
                                                                        @if (Model.IsBVEnabled)
                                                                        {
                                                                            <td>
                                                                                <span class="product-quantity">@item.BV</span>
                                                                            </td>
                                                                        }
                                                                        @if (Model.IsPVEnabled)
                                                                        {
                                                                            <td class="quantity">

                                                                                <span class="product-quantity">@item.TotalPV</span>
                                                                            </td>
                                                                        }
                                                                        @if (Model.IsBVEnabled)
                                                                        {
                                                                            <td>

                                                                                <span class="product-quantity">@item.TotalBV</span>
                                                                            </td>
                                                                        }

                                                                        <td>

                                                                            <span class="product-subtotal">@item.SubTotal</span>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="welcome-adminpro-area">
                                                        <div class="container-fluid">
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                </div>

                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="dashone-adminprowrap  mg-b-30">

                                                                        <div class="table-wrapper" style="overflow-x:auto;">
                                                                            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <label>@T("Order.SubTotal"):</label>
                                                                                        </td>
                                                                                        <td>
                                                                                            <span>@Model.OrderSubtotal</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    @if (!string.IsNullOrEmpty(Model.OrderSubTotalDiscount))
                                                                                    {
                                                                                        <tr>
                                                                                            <td>
                                                                                                <label>@T("Order.SubTotalDiscount"):</label>
                                                                                            </td>
                                                                                            <td>
                                                                                                <span>@Model.OrderSubTotalDiscount</span>
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                    @if (Model.IsShippable)
                                                                                    {
                                                                                        <tr>
                                                                                            <td>
                                                                                                <label>@T("Order.Shipping"):</label>
                                                                                            </td>
                                                                                            <td>
                                                                                                <span>@Model.OrderShipping</span>
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                    @if (!string.IsNullOrEmpty(Model.PaymentMethodAdditionalFee))
                                                                                    {
                                                                                        <tr>
                                                                                            <td>
                                                                                                <label>@T("Order.PaymentMethodAdditionalFee"):</label>
                                                                                            </td>
                                                                                            <td>
                                                                                                <span>@Model.PaymentMethodAdditionalFee</span>
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                    @if (Model.DisplayTaxRates && Model.TaxRates.Count > 0)
                                                                                    {
                                                                                        foreach (var taxRate in Model.TaxRates)
                                                                                        {
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <label>@string.Format(T("Order.TaxRateLine").Text, taxRate.Rate):</label>
                                                                                                </td>
                                                                                                <td>
                                                                                                    <span>@taxRate.Value</span>
                                                                                                </td>
                                                                                            </tr>
                                                                                        }
                                                                                    }
                                                                                    @if (Model.DisplayTax)
                                                                                    {
                                                                                        <tr>
                                                                                            <td>
                                                                                                <label>@T("Order.Tax"):</label>
                                                                                            </td>
                                                                                            <td>
                                                                                                <span>@Model.Tax</span>
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                    @if (!string.IsNullOrEmpty(Model.OrderTotalDiscount))
                                                                                    {
                                                                                        <tr>
                                                                                            <td>
                                                                                                <label>@T("Order.TotalDiscount"):</label>
                                                                                            </td>
                                                                                            <td>
                                                                                                <span>@Model.OrderTotalDiscount</span>
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                    @if (Model.GiftCards.Count > 0)
                                                                                    {
                                                                                        foreach (var gc in Model.GiftCards)
                                                                                        {
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <label>@string.Format(T("Order.GiftCardInfo").Text, gc.CouponCode):</label>
                                                                                                </td>
                                                                                                <td>
                                                                                                    <span>@gc.Amount</span>
                                                                                                </td>
                                                                                            </tr>
                                                                                        }
                                                                                    }
                                                                                    @if (Model.RedeemedRewardPoints > 0)
                                                                                    {
                                                                                        <tr>
                                                                                            <td>
                                                                                                <label>@string.Format(T("Order.RewardPoints").Text, Model.RedeemedRewardPoints):</label>
                                                                                            </td>
                                                                                            <td>
                                                                                                <span>@Model.RedeemedRewardPointsAmount</span>
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                    @if (Model.IsPVEnabled)
                                                                                    {
                                                                                        <tr>
                                                                                            <td>
                                                                                                <label>@T("Account.Fields.TotalPV"):</label>
                                                                                            </td>
                                                                                            <td>
                                                                                                <span><strong id="OrderTolal">@Model.TotalOrderPV</strong></span>
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                    @if (Model.IsBVEnabled)
                                                                                    {
                                                                                        <tr>
                                                                                            <td>
                                                                                                <label>@T("Account.Fields.TotalBV"):</label>
                                                                                            </td>
                                                                                            <td>
                                                                                                <span><strong id="OrderTolal">@Model.TotalOrderBV</strong></span>
                                                                                            </td>
                                                                                        </tr>
                                                                                    }

                                                                                    <tr>
                                                                                        <td>
                                                                                            <label>@T("Order.OrderTotal"):</label>
                                                                                        </td>
                                                                                        <td>
                                                                                            <span><strong id="OrderTolal">@Model.OrderTotal</strong></span>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>


                                                                        @if (!Model.PrintMode)
                                                                        {
                                                                            <div>
                                                                                @if (Model.IsReOrderAllowed && Model.SelectedOrderType != EOrderType.JoiningOrder)
                                                                                {
                                                                                    <button type="button" class="btn btn-custon-four btn-primary" onclick="setLocation('@Url.RouteUrl("ReOrder", new { orderId = Model.Id })')"><i class="fa fa-cart-plus"></i> @T("Order.Reorder")</button>
                                                                                }
                                                                                @if (Model.IsReturnRequestAllowed && Model.ShowRetrunRequest)
                                                                                {
                                                                                    <button type="button" id="ReturnRequestStyle" class="btn btn-custon-four btn-danger" onclick="setLocation('@Url.RouteUrl("ReturnRequest", new { orderId = Model.Id })')"><i class="fa fa-reply"></i> @T("Order.ReturnItems")</button>
                                                                                }
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @Html.Widget("orderdetails_page_afterproducts", Model.Id)

                                    <div class="section options">
                                        @if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo))
                                        {
                                            <div class="selected-checkout-attributes">
                                                @Html.Raw(Model.CheckoutAttributeInfo)
                                            </div>
                                        }
                                    </div>
                                }
                                @Html.Widget("orderdetails_page_bottom", Model.Id)
                            </div>


                        </div>

                        @if (isVFMember == null)
                        {
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />


                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
