﻿@model StoreModel

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)

<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.FieldIdFor(model => model.SslEnabled)").click(toggleSslEnabled);
        toggleSslEnabled();

        $("#@Html.FieldIdFor(model => model.IsIndianGsTINSetting)").click(toggleGstSetting);

        toggleGstSetting();

        $("#@Html.FieldIdFor(model => model.IsZipCodeSetting)").click(toggleZipCodeSetting);

        toggleZipCodeSetting();
    });

    function toggleSslEnabled() {
        if ($('#@Html.FieldIdFor(model => model.SslEnabled)').is(':checked')) {
            $('#pnlSecureUrl').show();
        } else {
            $('#pnlSecureUrl').hide();
        }
    }

    function toggleGstSetting() {
        if ($('#@Html.FieldIdFor(model => model.IsIndianGsTINSetting)').is(':checked')) {
            $('#divInvoiceNo').show();
            $('#divNote').show();
            $('#divDefaultState').show();
        }
        else {
            $('#divInvoiceNo').hide();
            $('#divNote').hide();
            $('#divDefaultState').hide();
        }
    }
    function toggleZipCodeSetting() {
        if ($('#@Html.FieldIdFor(model => model.IsZipCodeSetting)').is(':checked')) {
            $('#divInvoiceNo1').show();
            $('#divNote1').show();
        }
        else {
            $('#divInvoiceNo1').hide();
            $('#divNote1').hide();
        }
    }
</script>


<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    @(Html.LocalizedEditor<StoreModel, StoreLocalizedModel>("store-localized",
                    @<div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Locales[item].Name)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Locales[item].Name)
                                @Html.ValidationMessageFor(model => model.Locales[item].Name)
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.Locales[item].LanguageId)
                    </div>
    ,
                    @<div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Name)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Name, required: true)
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                    </div>
                                    ))
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Url)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Url, required: true)
                            @Html.ValidationMessageFor(model => model.Url)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.SslEnabled)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.SslEnabled)
                            @Html.ValidationMessageFor(model => model.SslEnabled)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <em>@T("Admin.Configuration.Stores.Fields.SslEnabled.Hint2")</em>
                        </div>
                    </div>
                    <div class="form-group" id="pnlSecureUrl">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.SecureUrl)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.SecureUrl)
                            @Html.ValidationMessageFor(model => model.SecureUrl)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Hosts)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Hosts)
                            @Html.ValidationMessageFor(model => model.Hosts)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.DefaultLanguageId)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownListFor(model => model.DefaultLanguageId, Model.AvailableLanguages)
                            @Html.ValidationMessageFor(model => model.DefaultLanguageId)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.DisplayOrder)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.DisplayOrder)
                            @Html.ValidationMessageFor(model => model.DisplayOrder)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CompanyName)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.CompanyName)
                            @Html.ValidationMessageFor(model => model.CompanyName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CountryId)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownList("CountryId", Model.AvailableCountries)
                            @Html.ValidationMessageFor(model => model.CountryId)
                            <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.StateProvinceId)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownList("StateProvinceId", Model.AvailableStates)

                            @Html.ValidationMessageFor(model => model.StateProvinceId)
                            <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CompanyAddress)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.CompanyAddress)
                            @Html.ValidationMessageFor(model => model.CompanyAddress)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CompanyPhoneNumber)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.CompanyPhoneNumber)
                            @Html.ValidationMessageFor(model => model.CompanyPhoneNumber)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.ContactTwo)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.ContactTwo)
                            @Html.ValidationMessageFor(model => model.ContactTwo)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.ContactPerson)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.ContactPerson)
                            @Html.ValidationMessageFor(model => model.ContactPerson)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.StoreEmail)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.StoreEmail)
                            @Html.ValidationMessageFor(model => model.StoreEmail)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CompanyVat)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.CompanyVat)
                            @Html.ValidationMessageFor(model => model.CompanyVat)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Tinnumber)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Tinnumber)
                            @Html.ValidationMessageFor(model => model.Tinnumber)
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.LogoPictureId)
                        </div>
                        <div class="col-md-9" id="pdf-logo-picture">
                            <div class="form-group">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-9" id="pdf-logo-picture">
                                    @Html.NopEditorFor(model => model.LogoPictureId)
                                    @Html.ValidationMessageFor(model => model.LogoPictureId)
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <div class="form-group">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-9">
                                    <em>@T("Admin.Configuration.Stores.Fields.AdminLogo.HintPdfLogo")</em>
                                </div>
                            </div>
                        </div>
                    </div>

                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.faviconLogo)
                        </div>
                        <div class="col-md-9" id="pdf-logo-picture">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <img src="@Url.Content(Model.FeviconUrl)" alt="IMAGES" />
                                </div>
                                <div class="col-md-9" id="pdf-logo-picture">
                                    <div class="qq-upload-button-selector qq-upload-button" style="position: relative; overflow: hidden; direction: ltr;">
                                        <div>Upload a file</div>
                                        <input type="file" name="file" style="position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0;">
                                    </div>
                                    <input type="submit" name="Upload" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                                </div>
                            </div>
                        </div>
                    </div>

                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.MemberLogo)
                        </div>
                        <div class="col-md-9" id="pdf-logo-picture">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @if (Model.MemberLogoUrl != "")
                                    {
                                        <img src="@Url.Content(Model.MemberLogoUrl)" alt="IMAGES" style="width:100%; height:50px" />
                                    }
                                </div>
                                <div class="col-md-9" id="pdf-logo-picture">
                                    <div class="qq-upload-button-selector qq-upload-button" style="position: relative; overflow: hidden; direction: ltr;">
                                        <div>Upload a file</div>
                                        <input type="file" name="MemberLogofile" style="position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0;">
                                    </div>
                                    @if (Model.MemberLogoUrl != "")
                                    {
                                        <input type="submit" name="MemberLogoDelete" class="btn bg-red" value="@T("Account.VendorInfo.Picture.Remove")" />
                                    }
                                    else
                                    {
                                        <input type="submit" name="MemberLogoUpload" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-9">
                                    <em>@T("Admin.Configuration.Stores.Fields.AdminLogo.Hint2")</em>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group">
                        <div class="col-md-3">
                            @*@if (Model.AdminLogo != 0)
                                {

                                    Html.NopLabelFor(model => model.AdminLogo);<text>:</text>
                                }*@
                            @Html.NopLabelFor(model => model.AdminLogo)
                        </div>
                        <div class="col-md-9" id="pdf-logo-picture">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <img src="@Url.Content(Model.AdminLogoUrl)" alt="IMAGES" />
                                </div>
                                <div class="col-md-9" id="pdf-logo-picture">
                                    <div class="qq-upload-button-selector qq-upload-button" style="position: relative; overflow: hidden; direction: ltr;">
                                        <div>Upload a file</div>
                                        <input type="file" name="AdminLogofile" style="position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0;">
                                    </div>
                                    <input type="submit" name="AdminLogoUpload" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-9">
                                    <em>@T("Admin.Configuration.Stores.Fields.AdminLogo.Hint2")</em>
                                </div>
                            </div>
                        </div>
                    </div>

                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group">
                        <div class="col-md-3">
                            @*@if (Model.AdminLogo != 0)
                                {

                                    Html.NopLabelFor(model => model.AdminLogo);<text>:</text>
                                }*@
                            @Html.NopLabelFor(model => model.miniLogo)
                        </div>
                        <div class="col-md-9" id="mini-logo-picture">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <img src="@Url.Content(Model.miniLogoUrl)" alt="IMAGES" />
                                </div>
                                <div class="col-md-9" id="pdf-logo-picture">
                                    <div class="qq-upload-button-selector qq-upload-button" style="position: relative; overflow: hidden; direction: ltr;">
                                        <div>Upload a file</div>
                                        <input type="file" name="miniLogofile" style="position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0;">
                                    </div>
                                    <input type="submit" name="miniLogoUpload" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-9">
                                    <em>@T("Admin.Configuration.Stores.Fields.miniLogo.Hint")</em>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.IsIndianGsTINSetting)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.IsIndianGsTINSetting)
                            @Html.ValidationMessageFor(model => model.IsIndianGsTINSetting)
                        </div>
                    </div>


                    <div class="form-group" id="divInvoiceNo">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.ISInvoiceNoSettingConfirmation)
                        </div>
                        <div class="col-md-9">
                            <div class="gender">
                                @Html.RadioButtonFor(model => model.ISInvoiceNoSettingConfirmation, true, Model.ISInvoiceNoSettingConfirmation)
                                <label class="forcheckbox">@T("Admin.Configuration.Stores.Fields.GenerateInvoiceNoOnConfirm")</label>
                            </div>
                            <div class="gender">
                                @Html.RadioButtonFor(model => model.ISInvoiceNoSettingConfirmation, false, Model.ISInvoiceNoSettingConfirmation)
                                <label class="forcheckbox">@T("Admin.Configuration.Stores.Fields.GenerateInvoiceNoOnDispatch")</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" id="divDefaultState">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.DefaultStateIdForMember)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownList("DefaultStateIdForMember", Model.AvailableStates)
                            @Html.ValidationMessageFor(model => model.DefaultStateIdForMember)
                            <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                        </div>
                    </div>
                    <div class="form-group" id="divNote">

                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.IsIndianGsTINSetting)
                        </div>
                        <div class="col-md-9">
                            <h3>@T("Admin.Configuration.Stores.Fields.Note")</h3>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.IsZipCodeSetting)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.IsZipCodeSetting)
                            @Html.ValidationMessageFor(model => model.IsZipCodeSetting)
                        </div>
                    </div>

                    <div class="form-group" id="divInvoiceNo1">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.ZipCodeUrl)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.ZipCodeUrl)
                            @Html.ValidationMessageFor(model => model.ZipCodeUrl)
                        </div>
                    </div>
                    <div class="form-group" id="divNote1">


                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.ZipCodeKey)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.ZipCodeKey)
                            @Html.ValidationMessageFor(model => model.ZipCodeKey)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
