﻿@model  Nop.Admin.Models.HsnCodeMaster.HsnCodeModel


@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    ViewBag.Title = "List";
    Html.SetActiveMenuItemSystemName("HsncodeMaster");
}
@{

    List<SelectListItem> statusList = new List<SelectListItem>{
    new SelectListItem{ Text="Active",Value="True", Selected =true},
     new SelectListItem{ Text="In-Active",Value="False"}
    };

}

@using (Html.BeginForm())
{
    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">                  
                    <div class="panel-body">
                        <h3>
                            @T("Admin.HsncodeMaster.History")
                        </h3>
                        @Html.HiddenFor(model => model.HSNCode)
                        <div id="Hsncode-grid"></div>

                        <script>
                            $(document).ready(function () {
                                $("#validationMessages").hide();
                                $("#Hsncode-grid").show();
                                $("#Hsncode-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("HsnCodeListHistrory", "HsnCode"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    editable: {
                                        confirmation: false,
                                        mode: "inline"
                                    },
                                    scrollable: false,
                                    columns: [@*{
                                field: "Code",
                                title: "@T("Admin.Vendors.Fields.Code")",
                                // width: 300
                            },*@
                                        {
                                            field: "HSNCode",
                                            title: "@T("Admin.HsnCodeMaster.HSNCode")",
                                            // width: 300
                                        },
                                                        {
                                                            field: "CGST",
                                                            title: "@T("Admin.HsnCodeMaster.CGST")",
                                                            // width: 300
                                                        },
                                                        {
                                                            field: "SGST",
                                                            title: "@T("Admin.HsnCodeMaster.SGST")",
                                                            //  width: 300
                                                        },  {
                                                            field: "IGST",
                                                            title: "@T("Admin.HsnCodeMaster.IGST")",
                                                            // width: 300,
                                                            //type: "date",
                                                            //format: "{0:G}"
                                                        },
                                                                          @*{
                                                                    field: "Date",
                                                                    title: "@T("Admin.HsncodeMaster.History.Date")",
                                                                    // width: 300,
                                                                    //type: "date",
                                                                    //format: "{0:G}"
                                                                },*@
                                                                        {
                                                                            field: "Active",
                                                                            title: "@T("Account.Fields.VatNumber.Status")",
                                                                            //width: 100,
                                                                            headerAttributes: { style: "text-align:center" },
                                                                            attributes: { style: "text-align:center" },
                                                                            @*template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=Active#.gif" />'*@
                                                                            template: '# if(Active) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                                                        }]
                                });
                            });
                        </script>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                //search button
                                $("#search-Hsncode").click(function () {
                                    //search


                                    var validationDivs='';
                                    $("#validationMessages").hide();
                                    // $("#validationMessages").show();

                                    //flag=false;
                                    $('#validationMessages').html(validationDivs);
                                    $('#Hsncode-grid').hide();


                                    $("#Hsncode-grid").show();
                                    var grid = $("#Hsncode-grid").data('kendoGrid');
                                    grid.dataSource.page(1); //new search. Set page size to 1
                                    //grid.dataSource.read(); we already loaded the grid above using "page" function
                                    return false;
                                });



                            });


                            function additionalData() {
                                var data = {
                                    HSNCode: $('#@Html.FieldIdFor(model => model.HSNCode)').val()
                                    @* Active: $('#@Html.FieldIdFor(model => model.Active)').val()*@


                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
