﻿@model Nop.Admin.Models.HsnCodeMaster.HsnCodeModel

@{
    ViewBag.Title = "Edit";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("HsncodeMaster");
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.HsnCodeMaster.EditHscodeDetails") 
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.HsnCodeMaster.BackToList").Text, "List")</small>
        </h1>
        <div class="pull-right">          
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>           
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
    @Html.Partial("_PartialHsnCodeHistory", Model)

    <script type="text/javascript">
    $("#ValideMessage").hide();
    //$("#HSNCode").prop("disable", "disable");
    $('#HSNCode').attr('disabled', 'disabled')
    $('#IGST').attr('readonly', 'readonly')

    @*$(function () {
        $("#@Html.FieldIdFor(model => model.HSNCode)").change(function () {
            //  
            // alert("called")
            var validationDivs = '';
            HSNCode = $("#HSNCode").val()
            // alert(CompanyType)
            $.get("@(Url.Action("GetHsnCode", "HsnCode"))", { HSNCode: HSNCode }, function (response) {

                var validationDivs = '';
                var validationDivs = '';
                    //alert(response)
                    if (response == "Success") {
                        $('#ValideMessage').html('');

                        validationDivs = validationDivs + '<div>@T("Admin.HsnCodeMaster.checkHsnCode")</div>';
                        $("#ValideMessage").show();
                        $('#ValideMessage').append(validationDivs);
                        return false;
                    }
                    else {
                        $('#ValideMessage').html('');
                        $("#ValideMessage").hide();

                    }


                });
            });
     });*@
    $(document).ready(function () {

        $('#CGST').change(function () {
            // alert("called")
            // 
            if (this.value < 0) {
                $("#CGST").val('0');
                $("#IGST").val('0');
            }


            this.value = this.value.replace(/[^0-9.]/g, '0');

            var validationDivs = '';

            //if (CGST > 0) {
            var CGST = $("#CGST").val() == "" || $("#CGST").val() == "-" ? 0 : $("#CGST").val();
            var SGST = $("#SGST").val() == "" || $("#SGST").val() == "-" ? 0 : $("#SGST").val();

            var IGST = parseFloat(CGST) + parseFloat(SGST);

            //}
            // alert(IGST)
            @*if (CGST < 0) {
                    // alert("called")
                    $('#ValideMessage').html('');
                    validationDivs = validationDivs + '<div>@T("Admin.HsnCodeMaster.EnterValidNumber")</div>';
                    $("#ValideMessage").show();
                    $('#ValideMessage').append(validationDivs);
                    $("#CGST").val('0');
                    $("#IGST").val('0');
                    return false;
                }
                else {
                    $('#ValideMessage').html('');
                    $("#ValideMessage").hide();
                }

                if (CGST > 100) {
                    $('#ValideMessage').html('');
                    validationDivs = validationDivs + '<div>@T("Admin.HsnCodeMaster.EnterAmount")</div>';
                    $("#ValideMessage").show();
                    $('#ValideMessage').append(validationDivs);
                }
                else {
                    $('#ValideMessage').html('');
                    $("#ValideMessage").hide();
                }*@

            @*if (SGST >= 100) {
                    $('#ValideMessage').html('');
                    validationDivs = validationDivs + '<div>@T("Admin.HsnCodeMaster.EnterAmount")</div>';
                    $("#ValideMessage").show();
                    $('#ValideMessage').append(validationDivs);
                    $("#IGST").val('0');
                    $("#CGST").val('0');
                    $("#SGST").val('0');
                }
                else {
                    $('#ValideMessage').html('');
                    $("#ValideMessage").hide();
                }*@
            $("#IGST").val(IGST);
            //alert(IGST)
            if (IGST > 100) {
                //   alert("called")
                $('#ValideMessage').html('');
                @*validationDivs = validationDivs + '<div>@T("Admin.HsnCodeMaster.EnterAmount")</div>';*@
                validationDivs = validationDivs + '<div>@T("Admin.HsnCodeMaster.IGSTShouldNotBeGreaterThanHundered")</div>';
                $("#ValideMessage").show();
                $('#ValideMessage').append(validationDivs);
                IGST = parseFloat(0) + parseFloat(SGST);
                $("#IGST").val(IGST);
                //$("#IGST").val('');
                //$("#IGST").val('0');
                $("#CGST").val('0');
                //$("#SGST").val('0');
            }
            else {
                $('#ValideMessage').html('');
                $("#ValideMessage").hide();
            }
        });

        $('#SGST').change(function () {
            // alert("called")
            if (this.value < 0) {
                $("#SGST").val('0');
                $("#IGST").val('0');
            }

            this.value = this.value.replace(/[^0-9.]/g, '0');


            //  
            var validationDivs = '';
            var CGST = $("#CGST").val() == "" || $("#CGST").val() == "-" ? 0 : $("#CGST").val();
            var SGST = $("#SGST").val() == "" || $("#SGST").val() == "-" ? 0 : $("#SGST").val();
            var IGST = parseFloat(CGST) + parseFloat(SGST);

            // alert(SGST);


            // alert(IGST)
            @*if (SGST < 0) {
                    $('#ValideMessage').html('');
                    validationDivs = validationDivs + '<div>@T("Admin.HsnCodeMaster.EnterValidNumber")</div>';
                    $("#ValideMessage").show();
                    $('#ValideMessage').append(validationDivs);
                    $("#SGST").val('0');
                    $("#IGST").val('0');
                    return false;
                }
                else {
                    $('#ValideMessage').html('');
                    $("#ValideMessage").hide();
                }*@

            @*if (CGST >= 100) {
                    $('#ValideMessage').html('');
                    validationDivs = validationDivs + '<div>@T("Admin.HsnCodeMaster.EnterAmount")</div>';
                    $("#ValideMessage").show();
                    $('#ValideMessage').append(validationDivs);
                    $("#IGST").val('0');
                    $("#CGST").val('0');
                    $("#SGST").val('0');

                }
                else {
                    $('#ValideMessage').html('');
                    $("#ValideMessage").hide();
                }*@

            @*if (SGST > 100) {
                    $('#ValideMessage').html('');

                    validationDivs = validationDivs + '<div>@T("Admin.HsnCodeMaster.EnterAmount")</div>';
                    $("#ValideMessage").show();
                    $('#ValideMessage').append(validationDivs);
                }
                else {
                    $('#ValideMessage').html('');
                    $("#ValideMessage").hide();
                }*@

            $("#IGST").val(IGST);
            //alert(IGST)
            if (IGST > 100) {
                // alert("called")
                $('#ValideMessage').html('');
                @*validationDivs = validationDivs + '<div>@T("Admin.HsnCodeMaster.EnterAmount")</div>';*@
                validationDivs = validationDivs + '<div>@T("Admin.HsnCodeMaster.IGSTShouldNotBeGreaterThanHundered")</div>';
                $("#ValideMessage").show();
                $('#ValideMessage').append(validationDivs);
                IGST = parseFloat(CGST) + parseFloat(0);
                $("#IGST").val(IGST);
                //$("#IGST").val('0');
                //$("#CGST").val('0');
                $("#SGST").val('0');
            }
            else {
                $('#ValideMessage').html('');
                $("#ValideMessage").hide();
            }
        });
    });
    </script>
    <style>
        .required {
            color: red;
        }
    </style>
}










