﻿@model  Nop.Admin.Models.HsnCodeMaster.HsnCodeModel


@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    ViewBag.Title = "List";

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("HsncodeMaster");
}
@{

    List<SelectListItem> statusList = new List<SelectListItem>{
    new SelectListItem{ Text="Active",Value="True", Selected =true},
     new SelectListItem{ Text="In-Active",Value="False"}
    };

}
@*<style>
        .k-grid td {
            line-height: 5.6em !important;
        }

        .k-grid.k-widget {
            overflow-x: hidden !important;
        }
    </style>*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="alert alert-danger alert-dismissable" id="validationMessages">
    </div>
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.HsncodeMaster")
        </h1>
        <div class="pull-right">
            <a href="@Url.Action("Create")" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
            @*<div class="btn-group">
                    <button type="button" class="btn btn-success">
                        <i class="fa fa-download"></i>
                        @T("Admin.Common.Export")
                    </button>

                </div>*@
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.HSNCode)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopEditorFor(model => model.HSNCode)

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.NopLabelFor(model => model.Active)

                                    </div>
                                    <div class="col-md-8">
                                        @Html.NopDropDownListFor(model => model.Active, statusList)

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <button type="button" id="search-Hsncode" class="btn btn-primary btn-search"><i class="fa fa-search"></i>@T("Admin.Common.Search")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="Hsncode-grid"></div>

                        <script>
                            $(document).ready(function () {
                                $("#validationMessages").hide();
                                $("#Hsncode-grid").show();
                                $("#Hsncode-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("HsnCodeList", "HsnCode"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    editable: {
                                        confirmation: false,
                                        mode: "inline"
                                    },
                                    scrollable: true,
                                    columns: [@*{
                                field: "Code",
                                title: "@T("Admin.Vendors.Fields.Code")",
                                // width: 300
                            },*@
                                        {
                                            field: "HSNCode",
                                            title: "@T("Admin.HsnCodeMaster.HSNCode")",
                                            //locked: true,
                                            width: 100
                                        },
                                                        {
                                                            field: "CGST",
                                                            title: "@T("Admin.HsnCodeMaster.CGST")",
                                                            width: 50
                                                        },
                                                        {
                                                            field: "SGST",
                                                            title: "@T("Admin.HsnCodeMaster.SGST")",
                                                            width: 50
                                                        },  {
                                                            field: "IGST",
                                                            title: "@T("Admin.HsnCodeMaster.IGST")",
                                                            width: 100,
                                                            //type: "date",
                                                            //format: "{0:G}"
                                                        },{
                                                            field: "Active",
                                                            title: "@T("Account.Fields.VatNumber.Status")",
                                                            width: 100,
                                                            headerAttributes: { style: "text-align:center" },
                                                            attributes: { style: "text-align:center" },
                                                            @*template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=Active#.gif" />'*@
                                                            template: '# if(Active) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'

                                                        }, {
                                                            field: "Id",
                                                            title: "@T("Admin.Common.Edit")",
                                                            width: 100,
                                                            template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>'
                                                        }]
                                });
                            });
                        </script>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                //search button
                                $("#search-Hsncode").click(function () {
                                    //search
                                    var validationDivs='';
                                    $("#validationMessages").hide();
                                    // $("#validationMessages").show();

                                    //flag=false;
                                    $('#validationMessages').html(validationDivs);
                                    $('#Hsncode-grid').hide();
                                    $("#Hsncode-grid").show();
                                    var grid = $("#Hsncode-grid").data('kendoGrid');
                                    grid.dataSource.page(1); //new search. Set page size to 1
                                    //grid.dataSource.read(); we already loaded the grid above using "page" function
                                    return false;
                                });
                            });

                            function additionalData() {
                                var data = {
                                    HSNCode: $('#@Html.FieldIdFor(model => model.HSNCode)').val(),
                                    Active: $('#@Html.FieldIdFor(model => model.Active)').val()
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }

                            $("#@Html.FieldIdFor(model => model.HSNCode)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-Hsncode").click();
                                    return false;
                                }
                            });
                            $("#@Html.FieldIdFor(model => model.Active)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-Hsncode").click();
                                    return false;
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
